[2018-10-02 11:54] wstaelens opened #638 "Preview options - quality value"
**Synfig version & platform**:
Synfig 1.2.2 - Windows 10 Pro x64

**Issue description**:

Quality value is unclear: 1,00
would a slider not be better? what is maximum? 2? 10? 100? 1? what is minimum?
it is not clear for a user!

![synfig quality](https://user-images.githubusercontent.com/7447285/46347027-6c339700-c64a-11e8-9a5b-0f14ae198d06.png)

Also add ':' after each label, like:  '**Quality:**

[2018-10-02 11:56] wstaelens commented on #626
Yea for mp4, you just see a cmd prompt and it is complete when cmd closes… just a console.writeline like in blender would be great!

[2018-10-02 16:18] morevnaproject commented on #634
Ah, got it now! ^__^

Okay, lets elaborate about the task a bit.

**1. We need a set of sample files for verification**.

I suggest to start with simple tests: single layer tests. We have 50+ different layers in Synfig.  Some of them are stand-alone layers - they draw something on the screen (Circle Layer, Outline Layer, Region Layer, etc). There are second type of layers - filters. Those are used

[2018-10-02 17:15] thekalinga commented on #637
A simple regex validation should be good enough

[2018-10-02 17:27] reSHARMA commented on #634
Many thanks for documenting the whole process :)

Instead of incrementally following the steps, shall we first prepare some tests (~10). Set up the build infrastructure and do all the analysis from the results, and then we can fill our testsuite.

My main motivations for this is:
- Individual test can act a great first contribution and may attract some college students as well.
- We can get good i

[2018-10-02 21:17] kaylangan commented on #634
I'm a Program Manager on Azure Pipelines. Looks like you're leaning Travis, but let me know if you have any questions about Azure Pipelines!

[2018-10-03 02:48] ebarranco opened #640 "Synfig crash transforming the content of a copied layer"
**Synfig version & platform**:
Master
Stable
Linux

**Issue description**:
Synfig crash transforming the content of a copied layer. Steps:
1. Use the circle tool with region activated
2. Add it to a group layer
3. Open a new file
4. Copy the layer group
5. Delete de original file
6. Move a handle of the circle in the copied layer
7. Synfig Crash every time.

[Video of the steps.](https://www.dropb

[2018-10-03 04:30] reSHARMA commented on #634
@kaylangan Thanks for showing interest :) I propose to start with Travis, as we already have Linux job on it but when these tests would take significant percentage of build time (someday they will) we need to shift and then Azure Pipelines is always an option.

Though this is just a proposal, let's see what @morevnaproject think about it.

[2018-10-03 07:51] morevnaproject opened #641 "Timeline scroll not updated"
**Synfig version & platform**:
Latest baster branch, commit 12dbc2896a818ef2c4bc057ab6e5a03d7f4dd13e
Built on GTK+ 3.22.29

**Issue description**:
When scrolling Timetrack panel horizontally its content is not updated.
Video - https://youtu.be/gxVrrhyc30Y

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64204912-timeline-scroll-not-u

[2018-10-03 08:32] morevnaproject commented on #634
@reSHARMA

Absolutely agree. ^__^

Yes, let's start with simple tests for the first types of layers.

I have created a repository here - https://github.com/synfig/synfig-tests-regressions

Added a few sample test files for Circle Layer. Notice, that I have used ".sif" format instead of ".sifz", since it is contains plain XML data and allows to track changes (SIFZ format is a gz-compressed SIF).

N

[2018-10-03 08:42] morevnaproject commented on #634
Hello @kaylangan! Thank you for your kind proposal! For now with this task I think it's good idea to go with something we already have. Though, I have a special interest for Azure Pipelines for another task - testing our code for build errors and deploying binary packages. Considering that Azure Pipelines provides possibility to build on all 3 platforms (Linux, Windows and OSX) that might be a gre

[2018-10-03 08:44] morevnaproject commented on #636
You can simply drag-n-drop any image file to Synfig workarea from file manager and then place it below all layers.

[2018-10-03 08:53] wstaelens commented on #636
Yes I know, but this feels like a "hack" and clutters up the workspace layers.
Just setting a default background color for the canvas in the properties would be great. If you still want to use a background image or rectangle you would just set it as transparent...

[2018-10-03 09:57] wstaelens commented on #464
very confusing to select the correct codec to make an mp4 file which plays in Windows 10's default video player.
I just want to create an MP4 with best quality settings that works on the default video player of Windows 10. Not first spending 5 weeks on Wikipedia just to figure out that a specific mpeg-4 codec does not work by default on Windows 10.
 😞

[2018-10-03 09:58] wstaelens commented on #383
All these pay wall, donate walls and different paying sites for tutorials etc are keeping me a bit away from it...

[2018-10-03 12:56] reSHARMA commented on #634
@morevnaproject

I've added some tests and will move ahead. (Will share about this in my college community)
Can I raise a issue for it with some tags like "help wanted" "good first issue" etc?

Shall we create a config file which would have the mapping of version <--> layer or something similar and the script could read this and act accordingly?

[2018-10-03 15:44] morevnaproject commented on #634
Sure! ^__^

How about this? - https://github.com/synfig/synfig-tests-regressions/tree/master/references/layers/circle
(a text file for each reference image - with a version number inside)

[2018-10-03 15:57] morevnaproject commented on #383
We do not have donate wall - on our download page it is clearly indicated that you can enter "zero" in the price field to get a binary build for free. Also, anonymous download link is provided.

![screenshot_001](https://user-images.githubusercontent.com/332868/46422413-85c60300-c75e-11e8-97d6-84a013dd359a.png)

So, no wall - it is free for anyone who is able to read. ^__^

Having this suggestion

[2018-10-03 18:30] reSHARMA commented on #634
(a text file for each reference image - with a version number inside)

Sure, I'll come up with a script with this pattern.

[2018-10-04 07:52] morevnaproject commented on #383
Blender had a massive community before it even become open-source, which paid a huge amount to make it free. Synfig's community is much smaller and didn't had that. We adopt some strategies from Blender (like selling tutorials - they do so via Blender cloud), but simple copy-monkey approach not always works, especially considering that Synfig lags ~5 years behind Blender.

I am contributing to Syn

[2018-10-04 08:05] morevnaproject commented on #634
After thinking a bit more on that, I come to conclusion that it is not very good to keep .txt file in "references" directory. Might be better to have it in "sources", together with .sif file. So, you can add a new test (sif file) and place .txt file into same location (no need to jump into another dir).
I have made the change for this - https://github.com/synfig/synfig-tests-regressions/commit/d66

[2018-10-04 09:21] reSHARMA commented on #634
Sure, this is better :) I'll come up with a script soon.

[2018-10-05 04:45] reSHARMA commented on #634
@morevnaproject I think we should use appimages for generating references or render output from sammples as different versions of synfig are not co-installable. I could not find appimage for version 1.0.2 or for anything other than latest. Do you ship and archive appimage for every version on sourceforge?

[2018-10-05 05:50] morevnaproject commented on #634
@reSHARMA Oh, sorry, I forgot to mention that we do not have AppImage for Synfig version 1.0.2. But we have a  binary in tar.bz2 archive, which you can unpack to any path and run from there - https://sourceforge.net/projects/synfig/files/releases/1.0.2/linux/synfigstudio-1.0.2.x86_64.tar.bz2/download
For all higher versions of Synfig there is an AppImage package. ^__^

[2018-10-06 08:53] newbluemoon opened #642 "Question about versioning policy"
The 1.3.* versions of synfigstudio are marked as development versions. My question is if the policy on this is uneven --> development, even --> stable or can a future 1.3.x version become the next stable one?

The reason I’m asking is because I packaged synfigstudio for Void Linux and the general policy there is to only update to stable versions. So I would like to know if I can ignore the 1.3.* v

[2018-10-06 15:54] morevnaproject commented on #642
Hello @newbluemoon! I am happy to hear you've got interested to package Synfig for Void Linux. ^__^

Yes, uneven numbers are development versions. So, 1.3.x (unstable) contains changes that will be shipped with 1.4.x (stable). Also, sometimes changes from unstable get backported to previous stable (1.2.x).

So, yes -  you can ignore 1.3.x versions.

[2018-10-06 16:05] newbluemoon commented on #642
Thank you for the detailed explanation! :)
It’s a really nice piece of software, if I just had more time... ;)

[2018-10-06 16:05] #642 closed

[2018-10-06 16:40] #431 closed

[2018-10-08 13:17] FadhilKwan opened #643 "Shortcut Keys + Click to Add New Vertex Point in Vector Shapes (Outlines and Regions)"
**Feature Requests for Future Versions**

**Feature description**:
Simple, just some shortcut keys for "Insert Item" and "Insert Item and keep shape"
So it's like holding certain keys and clicking on area's outlines (those faint dotted lines when selecting shapes) then the vertex point can be created

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountyso

[2018-10-08 13:22] FadhilKwan opened #644 "Feature to Select All Layers of the Whole Canvas Directly (Including Their Child Layers)"
**Feature Requests for Future Versions**

**Feature description:**:
As for now, this cannot be done unless the whole canvas content is grouped to a single group, and then use the "Select all child layers" option
Probably an option to do it without the grouping technique would be slightly better...

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysourc

[2018-10-08 14:51] morevnaproject commented on #314
No, it is not inevitable. ^_^ What I want to say is that it is a different task comparing to "vector artwork optimization" and needs a special treatment. We will surely pay attention to optimization of other layers as soon as get done with this task. ^__^

Yes.

**- start/end**

You can set start/end using playback range - https://www.youtube.com/watch?v=xwbB0Q20Myo

In the latest code all frames

[2018-10-09 05:02] morevnaproject commented on #314
@Svarov-RZM Please check this fresh build (fixes flickering bug) - https://dev.icystar.com/downloads/SynfigStudio-1.3.10-testing-18.10.09-win64-12dbc.zip

[2018-10-09 16:53] morevnaproject commented on #635
Sample file attached - [e-bug.sifz.zip](https://github.com/synfig/synfig/files/2461383/e-bug.sifz.zip)

![screenshot_001](https://user-images.githubusercontent.com/332868/46684938-76433000-cc1e-11e8-92b6-b856951c6632.png)

[2018-10-09 16:57] morevnaproject commented on #603
So, this is how it looks now:
![screenshot_003](https://user-images.githubusercontent.com/332868/46685177-071a0b80-cc1f-11e8-84f7-06ddae63d17b.png)

[2018-10-09 16:57] #603 closed

[2018-10-09 17:00] morevnaproject commented on #526
Confirmed - still appears on 1.2.2 and 1.3.10.

[2018-10-09 17:08] morevnaproject commented on #573
Related to #386

[2018-10-09 17:14] morevnaproject commented on #556
The fix is now shipped with Synfig 1.2.2 (stable). Please check if everything alright. Thank you!

[2018-10-09 17:16] morevnaproject commented on #543
Duplicate of #374.

[2018-10-09 17:16] #543 closed

[2018-10-09 20:54] subhani92 commented on #635
what do you expect in place of this?

[2018-10-10 06:46] wstaelens commented on #635
@subhani92 something like -2.02, just "normal" float or double numbers, no scientific 'e' formatted numbers. You don't see this in Blender either.

[2018-10-10 14:11] #641 closed

[2018-10-10 15:34] morevnaproject commented on #635
If I understand correctly,  "-2.027e-006" stands for "−2,027×e^(−6)":

![screenshot_001](https://user-images.githubusercontent.com/332868/46747880-89b4d080-ccdc-11e8-9af6-d7621c4d3a64.png)

[2018-10-10 15:41] morevnaproject commented on #641
Thank you!

[2018-10-10 15:56] genete commented on #635
https://en.m.wikipedia.org/wiki/Scientific_notation

El mié., 10 oct. 2018 17:34, Konstantin Dmitriev <notifications@github.com>
escribió:

[2018-10-11 06:39] wstaelens commented on #635
yeah, i'm not calculating at this moment ☕️
just wanted to say that users are not used to enter scientific notations, we just use floats/doubles. 😄

[2018-10-11 16:06] xHire commented on #556
Yes, works perfectly, thanks! :·)

[2018-10-11 16:06] #556 closed

[2018-10-14 06:49] zozorg opened #645 "Vertex handles should be above tangent handles"
When manually editing handles, if you want to move a vertex with hard angle, you have no choice but to hide tangent handles as you end up selecting them instead of the vertex handle.
If on the contrary vertex handles were above and you wanted to move tangent handles, you still could do it by pulling the associated segment.

Therefore it think it would make more sense to place the vertex handle abo

[2018-10-14 13:27] morevnaproject commented on #637
Hey, @SharmaRithik! Any progress on this? ^__^

[2018-10-15 06:42] Svarov-RZM commented on #314
I think I get it. You want to integrate functionality of Preview window into main workspace, correct? Seems reasonable. There are buttons to play animation in main window but it lags when playing. I just hope that it gets done right, because now it's a bit of a mess.

Regarding new build:
There's an issue with rendering outline's ending cusp. See the picture below and also attached sifz file.
Left

[2018-10-16 02:19] libreartist commented on #508
Since, both are different programs with their respective visions, it may not be a good idea.

[2018-10-16 02:19] #508 closed

[2018-10-16 02:57] libreartist opened #646 "OpenRaster Support?"
**Synfig version & platform**: 1.3.10

**Issue description**: As a feature request with two-birds-in-one-stone (sort of), can Synfig be tweaked to read OpenRaster format (.ora)? (and not proprietary .psd) If so, then, there could be easier way for importing layered images, as well as the ability to receive neatly-brushed drawings from the likes of MyPaint, GIMP, & Krita (the almighties of libmypai

[2018-10-16 03:16] libreartist opened #647 "Possibility of PyQt port?"
**Synfig version & platform**: 1.3.10
(we're more likely to help if you're using latest development builds)

**Issue description**: This is not an issue with Synfig per se, yet, a doubt. I came across posts that read the versatility of PyQt (for the development of programs that use C++ and Python hand-in-hand), and I also remember a Synfig post where a developer (Artem) was interested in coding th

[2018-10-16 03:59] Fahad-Alsaidi commented on #507
@libreartist Why do you close this? Even freetype layer uses pango but RTL support is broken and need to be fixed.

[2018-10-16 14:47] morevnaproject commented on #645
Absolutely agree!

[2018-10-16 15:20] morevnaproject opened #648 "GUI: Play a sound when rendering is done"
Feature request from user: It'll be great if @Synfig played a chime when the render is done (so you can mind something else while waiting).

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64819428-gui-play-a-sound-when-rendering-is-done?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept

[2018-10-16 16:19] morevnaproject opened #649 "Checker Board layer doesn't render anything"
**Synfig version & platform**:
Master branch, commit e03d257b5ef7f62396cbba4cb328026323f317bc

**Issue description**:
Checker Board layer doesn't render anything since e03d257b5ef7f62396cbba4cb328026323f317bc

![screenshot_002](https://user-images.githubusercontent.com/332868/47031398-f0813080-d199-11e8-90f8-7b86af7eca7f.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on

[2018-10-16 16:28] morevnaproject commented on #611
Implemented by @blackwarthog in 7f1d91b10d20e877aa8ea7e4389b27a2f81e36b5

[2018-10-16 16:28] #611 closed

[2018-10-16 17:04] morevnaproject commented on #649
Clarification: Checker Board doesn't render anything when there are no layer under it.

[2018-10-18 07:16] SharmaRithik commented on #637
finding a solution for it, will come up with a pull request soon.
Got the file and read your comment too. :-)
On Sun, 14 Oct 2018 at 18:58, Konstantin Dmitriev <notifications@github.com>
wrote:

[2018-10-18 07:45] wstaelens opened #650 "Combobox initial dropdown state"
**Synfig version & platform**:
SF 1.2.2
Windows 10 x64 Pro

**Issue description**:

![synfig white combo](https://user-images.githubusercontent.com/7447285/47138669-5664d980-d2ba-11e8-982e-b37a4029e13f.png)

first time i see a lot of white when opening. the items should be starting on top...

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/

[2018-10-18 14:03] wstaelens opened #651 "APPCRASH"
**Synfig version & platform**:
sf 1.2.2
windows 10 x64

**Issue description**:

several crashes while working. Synfig just closes. can't find log file of synfig.

Faulting application name: synfigstudio.exe, version: 0.0.0.0, time stamp: 0x5b9bace4
Faulting module name: KERNELBASE.dll, version: 10.0.17134.319, time stamp: 0x1e206b26
Exception code: 0x80000003
Fault offset: 0x00000000000ac5d2
Fault

[2018-10-18 14:14] wstaelens opened #652 "Question/Feature request: waypoint viewer"
**Synfig version & platform**:
sf 1.2.2
Windows 10 Pro x64

**Issue description**:

In blender you have the dope sheet editor where you see all keyframes in one overiew.
Is it also possible to see waypoints of different objects in one panel? Now I have to correct the position of a keyframe, (e.g; drag it to the correct position). I have to search another object in the tree, select and find the cor

[2018-10-19 06:58] wstaelens opened #653 "Support links"
**Synfig version & platform**:
1.2.2

**Issue description**:
Help > Get Support  links to https://www.synfig.org/cms/en/support
(this link has been used also a lot more in the translations).

Link is dead: 404: Page Not Found

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64964234-support-links?utm_campaign=plugin&utm_content=track

[2018-10-19 07:39] wstaelens opened #654 "Font Family selection"
**Synfig version & platform**:
sf 1.2.2
Windows 10 x64 Pro

**Issue description**:

Make Font Family a combobox/dropdown instead of input box.

[2018-10-19 12:41] wstaelens opened #656 "Code optimization: too many same calculations"
**Synfig version & platform**:

**Issue description**:
https://github.com/synfig/synfig/blob/master/synfig-core/src/synfig/blur.cpp#L116-L131

- do you always have to calculate RAND_MAX/2 ?

- size[0]*3/4 could be calculated once.  + size[0] * 0.75 would also be faster.

- maybe
 instead of 4 lines of code, just changing size[0] to size[1]  could be simplified in a temporary variable and passing t

[2018-10-19 23:49] ebarranco commented on #248
I still have this exact issue with synfig 1.2.2

[2018-10-20 04:15] morevnaproject commented on #649
Fixed in 1115320cfac30914e84615d43d79a0055e238c7b. Thank you!

[2018-10-20 04:15] #649 closed

[2018-10-20 04:32] FadhilKwan opened #657 "Autosave is Off by Default"
**Synfig version & platform**:
Suggestion for 1.2.2 and future versions

**Suggestion description**:
correct me if i'm wrong, but as far as know the autosave feature is turned off by default (fresh install)

maybe having it on by default (or giving the user a notice about the autosave feature turned off) would be great. If then it's turned on by default, autosave for 180 seconds should be fine...

[2018-10-21 16:14] morevnaproject commented on #464
So, should we change default video rendering parameters to "MPEG4- part 2"?
We can also set default rendering format to "mp4" (video) instead of "png" (image sequence).

[2018-10-23 16:14] zozorg opened #658 "bool values inconvenient interpolation"
**Synfig version & platform**:
1.3.10

**Issue description**:
Values of type "bool" seem to be inconveniently interpolated, as in, to be "false" it takes BOTH the previous and the next waypoint to be false, forcing you to use 2 waypoints to switch value.
This could be interpreted as "false waypoint=0, true waypoint=1, anything > 0 is interpreted as true", but this behavior is retained even when "c

[2018-10-23 16:17] zozorg opened #659 "in "convert to time loop", link time cannot be set to zero"
**Synfig version & platform**:
1.3.10

**Issue description**:
Convert anything to "time loop", set "link time" to anything other than 0, then try to set it back to zero ; nothing happens, the old value is kept.
I'm pretty sure I have seen something like this happen with other values.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6

[2018-10-24 12:06] morevnaproject opened #661 "Cannot move waypoints"
**Synfig version & platform**:
Master branch, commit id b8d5feae2b6c889f54cc0ba49f40e4cff27501c1

**Issue description**:
It is impossible to move waypoints when timetrack is scrolled to any position left.

Steps to reproduce.
1. Open sample file - [bug.sifz.zip](https://github.com/synfig/synfig/files/2510389/bug.sifz.zip)
2. Scroll to the left until you see waypoint at frame 300.
3. Try to move wa

[2018-10-24 12:15] morevnaproject commented on #661
Video - https://youtu.be/T6_aFU1SS_E

[2018-10-25 22:29] merlin2v opened #663 "Feature Request: Iron Tool"
Add an Iron tool. Similar to the one that OpenToonz has.
It would be a tool that would highlight the nearest line to the hovering cursor.
When the mouse is pressed down the cursor image will snap to the nearest point on the highlighted line.
Dragging the cursor would reduce the number of vectors in the line.

[2018-10-26 01:34] merlin2v opened #664 "Feature Request: Sketch to Line Converter"
A tool that would create a line by taking the sketch data that is within the radius of the cursor and create a line from the averages of the points within a radius around the cursor.
![newtool](https://user-images.githubusercontent.com/25653109/47539253-361db780-d884-11e8-9ed3-477c18068ec2.gif)

[2018-10-26 05:36] morevnaproject commented on #653
Fixed now. Thank  you for reporting!

[2018-10-26 05:36] #653 closed

[2018-10-26 05:38] morevnaproject commented on #651
Can you please provide information which actions you did just before Synfig crashes, so we can reproduce this?

https://www.chiark.greenend.org.uk/~sgtatham/bugs.html

[2018-10-26 05:41] morevnaproject commented on #631
I can see from the video that you have Draft Mode enabled. The Draft Mode does not renders Text Layers at the moment.
![screenshot_001](https://user-images.githubusercontent.com/332868/47546657-7761a600-d91c-11e8-9e62-d1b26162fd81.png)

Please disable Draft Mode to see the text layer.

[2018-10-26 05:43] morevnaproject commented on #635
@subhani92 Any progress on this? ^__^

[2018-10-26 05:44] morevnaproject commented on #637
@SharmaRithik If you need any help - just let me know. ^__^

[2018-10-26 06:08] morevnaproject commented on #664
That reminds me curve drawing process from ILoveSketch - https://youtu.be/hSxCZE6PG50?t=29
Do you expect something like this?

[2018-10-26 07:10] morevnaproject commented on #634
So, it looks like this task is done? Now all we have to do is to fill the testing engine with appropriate tests.

BTW, the test engine already identified one difference in behavior of rendering engines for CheckerBoard Layer - https://travis-ci.com/synfig/synfig/jobs/154369637
I do not call this "regression", since the behavior of current rendering engine is more correct (it gives correct image of

[2018-10-26 07:19] morevnaproject commented on #634
My first thought: We should be able to specify which version to use **on per-file basis** (if I understood correctly, currently it is specified on per-directory basis).
I.e. have ```layers/checkerboard/checkerboard-origin-0-size-0.txt``` for ```layers/checkerboard/checkerboard-origin-0-size-0.sif``` file.

Second: We should be able to specify a version, which does not exists yet. I.e. "1.3.11". In

[2018-10-26 07:48] morevnaproject commented on #634
Ah, wait. You can scratch my last paragraph (about a version, which does not exists yet). We can add a "temporary" version at https://github.com/synfig/synfig-tests-regressions/blob/master/sources/force-render-png.sh#L52 - something like "1.3.10.2018.10.26". And use a temporary build file provided by @blackwarthog  - https://dev.icystar.com/downloads/SynfigStudio-1.3.10-testing-18.10.18-linux64-de

[2018-10-26 07:53] reSHARMA commented on #634
@morevnaproject I think out of 42 test 1 had this issue, isn't keeping version per file a comparatively larger overhead to deal with (we would manually need to set that for every test sample).

For now, can we just create a folder exception inside source, we will not create reference for files in exception but would generate result for them.

File could look like checkboard-origin-0-size-0-1.3.10.

[2018-10-26 11:09] wstaelens commented on #651
I can't reproduce nor remember what exactly I did.
I was moving objects and animating them (alpha amount).

I remember I had an existing animation and removed a keyframe that had waypoints and that it crashed.

i'll try to see if I can find some more info on how to reproduce but till now it didn't happen.

[2018-10-26 15:37] morevnaproject commented on #634
Um, possibly I am incorrectly expressed my idea. I have no intention to set a version for each file manually. My idea is to introduce possibility to overrid version for some specific files, in the same way as we have that for dirs (here - https://github.com/synfig/synfig-tests-regressions/blob/master/sources/force-render-png.sh#L76).

So, before rendering specific file, the script can check if  a

[2018-10-26 16:15] ebarranco commented on #631
Yeah, I noticed a little later. That's it. No text layer in draft mode.

[2018-10-27 09:54] reSHARMA commented on #634
@morevnaproject sorry my bad :) I misinterpreted that, this sounds awesome. I'll be coming up with a pr soon.

[2018-10-28 00:15] morevnaproject commented on #631
I have renamed the issue. ^__^

[2018-10-28 00:37] morevnaproject commented on #634
Great! I think we can consider this task done as soon as https://github.com/synfig/synfig-tests-regressions/pull/9 get merged. ^__^

[2018-10-28 00:52] morevnaproject commented on #314
Exactly! ^__^

Yes, we are working on that now.

BTW, here is a fresh build, which allows to [disable background rendering](https://www.patreon.com/posts/weekly-report-8-22048380) - https://dev.icystar.com/downloads/SynfigStudio-1.3.10-testing-18.10.18-win64-defe1.zip

Can you please submit this test file to our regression test suite? - https://github.com/synfig/synfig-tests-regressions/issues/3
H

[2018-10-28 20:44] merlin2v commented on #664
Yes, it's similar to ILoveSketch.
I had no idea that such software existed.
I was trying to re create an equation for it [here](https://www.desmos.com/calculator/lia8pll6w2).
It's very.. convoluted.

[2018-10-30 06:54] morevnaproject commented on #664
The papers of ILoveSketch are available publicly here - http://www.ilovesketch.com/ - and here - http://www.dgp.toronto.edu/~shbae/

Two of them:
- http://www.dgp.toronto.edu/~shbae/pdfs/Bae_Kim_Kwon_2003_Digital.pdf
- http://www.dgp.toronto.edu/~shbae/pdfs/Bae_Bala_Sing_2008_ILoveSketch.pdf

[2018-10-30 06:56] morevnaproject commented on #635
@subhani92 You probably want to look at this file - https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/widgets/widget_coloredit.cpp ^__^

[2018-10-31 04:25] morevnaproject opened #665 "Appimage: CLI cannot render anything"
**Synfig version & platform**:
curent master branch, commit 7c321af5104b804402980c8f1059b569d68ba767

**Issue description**:
When running from appimage Synfig cannot find its modules:
[code]

Appimage GUI works fine.
When compiled from source CLI is also works fine.

[2018-10-31 05:19] #665 closed

[2018-10-31 06:48] morevnaproject opened #666 "Simplify building process by utilizing Conan dependency manager"
I think we can integrate with Conan C/C++ package manager to provide all required  dependencies for building Synfig on any platform.

https://conan.io/

Benefits:
- Developers can easily set up build environment on any platform (and theoretically any build toolchain).
- This will also simplify packaging process (Appimages, Win installers, OSX App) and will allow to implement automatization for thi

[2018-10-31 10:57] wstaelens commented on #652
![svgator waypoints](https://user-images.githubusercontent.com/7447285/47783828-0c411680-dd04-11e8-9b90-b9124c8d3e87.png)
![blender-fun](https://user-images.githubusercontent.com/7447285/47783848-182cd880-dd04-11e8-966f-6b4b7ef91db1.png)
screenshot from svgator (www.svgator.com) and blender. Both allow you to see keyframes/waypoints of multiple objects at once. Something I'm missing in synfig.

[2018-11-02 12:50] morevnaproject commented on #634
Okay, now we have everything working as expected. There are still two issues remaining (https://github.com/synfig/synfig-tests-regressions/pull/10#issuecomment-434571523 and https://github.com/synfig/synfig-tests-regressions/issues/11), but in general the system is ready for use.

@reSHARMA would you be able to take care about those remaining two tasks? ^__^

[2018-11-02 13:07] morevnaproject commented on #638
Quality is a size scale, comparing to current dimensions of your composition.
I.e., if you have composition at 480x270, then 1.0 means rendering at the same dimensions, 0.5 - twice smaller (240x135), 2.0 - twice bigger (960x540).

[2018-11-02 13:08] morevnaproject commented on #621
Fixed.

[2018-11-02 13:08] #621 closed

[2018-11-02 13:12] morevnaproject commented on #618
Hello! The widget doesn't shows "no" text. It shows "on", which means "Enabled" (as opposite to "off" - "Disabled").

When "Scale to fit canvas" set to "on" then imported images are scaled to fit - just as expected. I cannot reproduce opposite behavior. Am I missing something?

[2018-11-02 14:01] #322 closed

[2018-11-02 14:14] #464 closed

[2018-11-02 14:14] morevnaproject commented on #464
Render defaults now to "avi" extension with "mpeg4" codec.

[2018-11-02 16:13] #620 closed

[2018-11-02 19:53] reSHARMA commented on #634
@morevnaproject That seems to be an awesome news. I'm making some changes that would probably solve those two issues (synfig/synfig-tests-regressions#10 (comment) and synfig/synfig-tests-regressions#11) at https://github.com/synfig/synfig-tests-regressions/pull/13

[2018-11-05 10:07] Svarov-RZM commented on #314
Looks good. With background rendering disabled the program is more responsive and lags less when you work with current frame.
Tested the program a bit harder and I noticed a difference in how 'Bevel' level is rendered. Seems like 'Angle' parameter is calculating differently from 1.0.2 version. I'll make a comparison later.

How can I do that? Should I use git for that? Sorry, I only used this tool

[2018-11-05 17:01] morevnaproject commented on #634
@reSHARMA The changes are merged and I think we can mark this task as done. Thank you very much for your efforts and congratulations! ^__^

[2018-11-06 04:30] reSHARMA commented on #634
Thanks! It's my pleasure to be the part of it. If only filling up the test suite is left then I've some crowd sourcing plans for that. If something else is left, please let me know :)

[2018-11-06 05:32] morevnaproject commented on #634
@reSHARMA The changes are merged and I think we can mark this task as done. Thank you very much for your efforts and congratulations! ^__^

[2018-11-06 13:39] reSHARMA commented on #634
@morevnaproject  Many thanks for the opportunity, I enjoyed being the part :)

[2018-11-07 10:17] morevnaproject commented on #634
@reSHARMA Yes, it's the filling of the suite left so far. Will appreciate any help here! ^__^

[2018-11-08 09:23] diman8 opened #667 "Incorrect GUI font rendering"
**Synfig version & platform**:
1.2.2
Windows 10 Home (1803) (Default language: English)

**Issue description**:
After installing GUI font is rendering with strange symbols rather than letters.
![1](https://user-images.githubusercontent.com/18375462/48189187-a6324000-e350-11e8-9375-51e85776f8be.png)
![2](https://user-images.githubusercontent.com/18375462/48189188-a6324000-e350-11e8-9314-3f2f2d740c3

[2018-11-08 19:18] b3u opened #668 "Feature Request: Scaling Handles"
**Version:** Any
**Description:**
Add scaling and skewing handles to shapes, paths and strokes. I think adding these features would ease the animation process and make it more precise. Also, seeing as this is a feature that many programs such as Inkscape, Gimp and AE have, I think this would ease the learning curve for Synfig Studio. It would make Shape Animation more familiar and easy for new ani

[2018-11-09 12:53] stumbles opened #669 "synfig-1.2.2 with --enable-gl config fails on zlib"
**Synfig version & platform**:
version 1.2.2 on Lunar-Linux (source based distro)

**Issue description**:
As said in description. With opengl enabled and mesa-lib-18.2.0 the pkgconf --libs /usr/lib/pkgconfig/gl.pc and pkgconf --cflags /usr/lib/pkgconfig/gl.pc reports respectively;

-lGL and -I/usr/include/libdrm

Configure fails with;

checking ETL_LIBS... -lpthread
checking zlib.h usability... no

[2018-11-09 15:45] stumbles opened #670 "synfig-1.2.2 and openexr-2.3.0 --with-half"
**Synfig version & platform**:

synfig-1.2.2

**Issue description**:
First I spent way to much time trying to get synfig to just build with openexr-2.3.0. The I finally noticed configure was looking for OpenEXR.pc. Well, current openexr only has /usr/lib/pkgconfig/IlmBase.pc. Once I created a symlink, synfig finally used it during the build using --with-openexr.

Now to the problem.

When using --

[2018-11-09 15:49] stumbles commented on #669
OK. Ignore this as I am an idiot. Wasn't paying attention to how I was  trying to us --enable-gl. No wonder CXXFLAGS didn't like it.

[2018-11-09 15:49] #669 closed

[2018-11-10 14:32] morevnaproject commented on #633
Fixed in 7d6d4edc913a4

[2018-11-10 14:32] #633 closed

[2018-11-11 13:49] ice0 commented on #670
Hi! Which OS you are using?
I am on Mint 19 and all compiled just fine.
Also can you show me the full command line you are using for compiling?

Here how i compile with OpenEXR:

[code]

[2018-11-11 14:06] ice0 commented on #667
Hi! Which version of Synfig you are using (32/64)?
Can you run Synfig Studio (Debug Console) and show it's output?

[2018-11-11 16:07] #661 closed

[2018-11-11 16:12] ice0 opened #671 "Synfig crushes if you cancel parameter changing"
Synfig 1.3.10 (Linux Mint 19):

Steps to reproduce:
1. Add circle
2. Enable animation mode
3. Move circle
4. Disable animation mode
5. Move circle again
6. When Synfig asks what to do - answer **No**
7. Crush with error

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/66024308-synfig-crushes-if-you-cancel-parameter-changing?u

[2018-11-12 15:48] morevnaproject commented on #661
Thank you very much!

[2018-11-12 16:15] ice0 commented on #650
This is a known GTK+ combobox problem (discussed here https://bugs.launchpad.net/ubuntu/+source/gtk+2.0/+bug/388633), so i am not sure it can be fixed at this time.

[2018-11-12 16:18] wstaelens commented on #650
Time to move to .NET Standard/.NET Core ? ;-) ;-)
Hope to see it soon fixed, as this is really a basic control.... Not expecting to still see such bugs in GTK+...

[2018-11-13 07:33] reSHARMA commented on #634
@morevnaproject sure it can act as a great first contribution for many, so I'm trying to go in that direction but anyways I'll try to get this done before mid December.

I'm not sure if it's doable but if travis raise issue after the build if any test fail?

[2018-11-13 12:44] ice0 commented on #650
As a workaround, we can move the default value to the bottom of the list. @morevnaproject, what do you think?

[2018-11-13 12:47] ice0 commented on #647
Hi!
Is it possible to move to PyQt? Yes. This is why Synfig Core is compiled as dedicated project/library. Project architecture allows to use it from any framework/language.
I have now switched from integrating Python to other tasks, but I will return to it as soon as possible.

[2018-11-13 12:48] wstaelens commented on #650
I think it would be better to bomb that gitlab bug ticket so that it gets some attention and hopefully a fix.

[2018-11-13 16:24] stumbles commented on #670
Figured it out. Was using the archive version instead of the release version.

[2018-11-13 16:24] #670 closed

[2018-11-14 08:57] morevnaproject opened #672 "Color Dialog: Make HSV tab active by default"
At the moment when user opens Color Dialog (by clicking at some color) it has 3 tabs - "RGB", "YUV" and "HSV". At the moment the default active tab is "RGB" (with sliders). It will be better to have "HSV" tab (with color wheel) active by default.

[2018-11-14 08:59] morevnaproject commented on #672
![screenshot_002](https://user-images.githubusercontent.com/332868/48471340-49d69100-e826-11e8-8933-851a7f4fe72e.png)

![screenshot_003](https://user-images.githubusercontent.com/332868/48471345-4cd18180-e826-11e8-9904-b43833317129.png)

[2018-11-14 09:36] #672 closed

[2018-11-15 04:43] Gilraiser opened #673 "Synfig studio It closes when I zoom with ctrl + scroll the mouse and also with the browser."
Synfig 1.2.2  Archlinux (Linux 4.19.1-arch1-ARCH x86-64)

**Issue description**:

I use the Openbox window manager. The error occurs in the appImage version and in the flatpak version.  Only when I use the zoom tool in the toolbox and when I manually write the percentage works correctly. The error happens more easily if you move the zoom quickly. The application also fails in an empty file.

Appar

[2018-11-15 08:33] SharmaRithik commented on #637
The range is  between #000000 - #FFFFFF so we could restrict inputs, that
values cannot be entered out of this range.

On Fri, 26 Oct 2018 at 11:14, Konstantin Dmitriev <notifications@github.com>
wrote:

[2018-11-15 08:40] wstaelens commented on #637
Well HEX colors can use:

- 6 digits (#000000) (#RRGGBB)
- 8 digits (#000000FF) (#RRGGBBAA)
- 3 digits (#000) (#RGB)
- 4 digits (#000F) (#RGBA)

CSS4 allows these four notations as valid HEX notations:
https://drafts.csswg.org/css-color/#hex-notation

I suggest you also accept this.

[2018-11-16 09:24] ice0 opened #674 "Synfig Studio crashes if you are add circles too fast"
Synfig master branch && Linux Mint 19:

**Issue description**:

Synfig Studio crashes if you are add circles too fast.

**How to reproduce**:

Select Circle Tool. Begin to add circles to work area. Synfig crushes with error:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/66249394-synfig-studio-crashes-if-you-are-add-circles

[2018-11-16 17:15] FadhilKwan opened #675 "Strange Cause of Crashes for Duplicating Layers from Multiple Groups"
**Synfig version & platform**:
1.2.2

**Issue description**:
It's too complicated to explain but it's also interesting...

Duplicating these selected layers works fine...
![dupbug1](https://user-images.githubusercontent.com/25135159/48635966-2d8c4d00-e9fc-11e8-859f-adf8733ee43b.JPG)

But for some reason, duplicating these selected layers crashes synfig
![dupbug2](https://user-images.githubusercont

[2018-11-16 17:19] ice0 commented on #675
Can you share your test file?

[2018-11-16 18:37] FadhilKwan commented on #675
Consider it done! :)

[DupliBug Tester.zip](https://github.com/synfig/synfig/files/2590470/DupliBug.Tester.zip)

[2018-11-17 15:14] zeograd opened #676 "Compilation error with missing gtest-all.cc in dependencies"
**Synfig version & platform**:
current HEAD ( 177ceb352f122c22f0ac326498805d001c20a52d )
on debian unstable

**Issue description**:
Following the building instructions, when running ./dev-env.sh several dependencies were fetched and built but then it stopped with the following error:

    make: *** No rule to make target '/nix/store/q2q3kq71ggd8w10rhca1qhab08gjj7m5-gtest-1.8.1/src/gtest-all.cc', n

[2018-11-18 00:16] Lvaskz opened #677 "Icon missing"
**Synfig 1.22 & stable**:
I install synfig by script and tht icon is missing
Linuxmint 19
64 bits
Cinnamon desktop

**Issue description**:
The icon is not in the app menu
![captura de pantalla de 2018-11-17 18-10-59](https://user-images.githubusercontent.com/29207169/48667110-d71f1d00-ea94-11e8-8a9b-c054b979d876.png)

[2018-11-18 19:12] Gilraiser opened #678 "FEATURE REQUEST: VECTOR BRUSHES"
Version: Any

Description:

Hello, I would like Synfig Studio to have this function. vector brushes, but the brushes work without any bitmap. In addition, a stroke of irregular shapes in the contour in the same way as the result of the ink tool of the Tupi 2D Magic program.

Thank you very much, I leave an explanatory video.

[](https://www.youtube.com/watch?v=YTO7E2Dg_zw)

[2018-11-18 22:08] harshay97 commented on #677
Hey, can I help you out with this?

[2018-11-19 00:31] Lvaskz commented on #677
Sure. 😊

[2018-11-19 17:16] FadhilKwan opened #679 "Feature Request: Faster Layer List Scroll While Moving Layers"
**Synfig version & platform**:
Future Versions

**Issue description**:
I think the scrolling speed while dragging layers needs to be a bit faster
Well, At least for my case: i have a lot of layers and it feels a bit too slow to move some layers when needed
I have to drag them since their parameters are linked to other layers that aren't selected, which means cut-and-paste wouldn't work since it do

[2018-11-21 15:47] morevnaproject commented on #676
Hello Olivier! This was an issue with Nix build system and it got solved now - https://github.com/NixOS/nixpkgs/issues/49883
Please try to run ./dev-env.sh again - it should work now. ^__^

[2018-11-21 15:54] morevnaproject commented on #677
Hello @Lvaskz! Please let me know which script you used for installing Synfig?

[2018-11-21 21:41] Lvaskz commented on #677
Hi, well I only  maked the  executable appimage and a popup windows appears asking me If I want to integrate it in the app menu. That is all

[2018-11-21 21:50] Lvaskz commented on #677
That script comes by default in tha appimage.

[2018-11-24 21:51] zeograd commented on #676
Thanks Konstantin & BobSynfig, manually upgrading the default.nix for movit did the trick.

[2018-11-24 21:51] #676 closed

[2018-11-27 18:19] morevnaproject commented on #507
I am renaming and re-opening this bug, as RTL is demanded feature.

[2018-11-27 18:46] morevnaproject opened #680 "Windows: Cannot open file from explorer if filename contains non-latin characters"
**Synfig version & platform**:
1.2.2

**Issue description**:
If sifz file contains non-latin characters in any component of its path (including parent directories), then it is impossible to open it by double-clicking in Windows Explorer.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/66734228-windows-cannot-open-file-from-explorer-

[2018-11-28 11:05] millerthegorilla opened #681 "Forums down"
The forums are down, and I am unable to access any of the advice presented there.  I'd particularly like to be able to import multiple pngs for instance.

Just to let you know.  Many thanks for all your work!

[2018-11-28 11:22] millerthegorilla commented on #681
Oh, and would you mind providing sha256 checksums for your downloads please.  Md5sums are not sufficiently safe from in-file-transfer hacking, at least as I understand it.
Thanks

[2018-11-28 12:12] millerthegorilla opened #682 "fontconfig error unable to load default font config appimage"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)
Version 1.2.2 and Version 1.3.1
**Issue description**:
start appimage from command line, program hangs.
output...

`./SynfigStudio-1.3.9-testing-18.06.17-linux64-67e10.appimage
mkdir: symbol lookup error: mkdir: undefined symbol: mode_to_security_class

   synfig studio -- starting up application..

[2018-11-28 12:16] millerthegorilla commented on #682
I'm on fedora 29 running gnome 3 btw, I guess I need to install dependencies, which I didn't think was necessary with appimages, but I'm new to them, so I'll try installing fontconfig and the fonts necessary, as described in  #548

[2018-11-28 12:53] millerthegorilla commented on #682
No joy with fontconfig.  Tried installing fontconfig, and fontconfig-devel, there is no fontconfig-lib or libfontconfig listed although this exists:
libeasyfc.x86_64 : Easy configuration generator interface for fontconfig
I might try that now, since the output error before hang is still no default config file.
Just tried installing and still no joy.  Giving up, as I have to do other things.  I mig

[2018-11-30 09:28] morevnaproject opened #683 "Keyframe is not updated on timeline after moving it with CTRL+ALT"
**Synfig version & platform**:
master branch - 177ceb352f122c22f0ac326498805d001c20a52d

**Issue description**:
Keyframe is not updated on timeline after moving it with CTRL+ALT

![screenshot_002](https://user-images.githubusercontent.com/332868/49280473-e783be80-f4bc-11e8-9ea3-2471e9452525.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.

[2018-11-30 09:42] morevnaproject opened #684 "Allow set End Time for canvas directly from workarea"
Problem:
* People often ask how to set animation length.
* The End Time parameter is hidden deep in "Canvas" -> "Properties" dialog ( "Canvas" -> "Properties" -> "Time" tab -> "End Time").

![screenshot_003](https://user-images.githubusercontent.com/332868/49281137-5d3c5a00-f4be-11e8-963a-6afde5dac6c7.png)

Solution:
Add "End Time" text field to workarea -

![screenshot_005](https://user-images.gi

[2018-11-30 16:28] marnanel opened #685 "add-skeleton-simple plugin uses "forearm" for the upper arm"
**Synfig version & platform**:

Development version:
Revision: 20181019
Branch: master
Revision ID: b8d5fe
Debian buster/sid

**Issue description**:

The "Add Skeleton (Simple)" plugin labels the upper arms, between the shoulder and elbow, as `forearm1` and `forearm2`. But "forearm" means the lower part of the arm, between the elbow and wrist.

See [https://github.com/synfig/synfig/blob/master/syn

[2018-11-30 17:36] BobSynfig commented on #637
In fact the way this input works has been done on purpose, featuring _gdk_rgba_parse_ but its label is not very descriptive.

From https://developer.gnome.org/gdk3/stable/gdk3-RGBA-Colors.html#gdk-rgba-parse

[2018-12-01 14:02] #671 closed

[2018-12-02 02:30] Lvaskz commented on #677
Hi, any progress.?

[2018-12-05 06:16] remyabel commented on #635
@subhani92 I don't know if you still had plans on working on it, but I've created a PR for it. It was a simple fix.

[2018-12-05 10:34] wstaelens commented on #635
Great!
You can find more info about the formatters used in the fix on http://www.cplusplus.com/reference/cstdio/printf/

[2018-12-06 23:12] #635 closed

[2018-12-07 00:58] FadhilKwan commented on #681
sorry to bring this up again, but it seems like the forum is going down (again)....
the error says "Site Unreachable"......
is everyone affected or is it just me?

[2018-12-07 14:24] shubhsherl commented on #499
@morevnaproject , I have prior experience in App development and I am currently developing an app as my internship project(in react-native). But I am open to other areas as well, to learn and apply. Let me know if there is any project open to work on.

[2018-12-07 15:37] morevnaproject commented on #681
@FadhilKwan Thank you for notification! Fixed now. ^__^

[2018-12-07 15:39] morevnaproject commented on #499
@shubhsherl I see. ^__^ Do you have any experience with C++?

[2018-12-07 15:45] shubhsherl commented on #499
@morevnaproject C++ was my first language, and I am comfortable in it. I have a school project in C++03, if it counts ;P

[2018-12-07 16:37] FadhilKwan commented on #681
Thank you very much! 😄

[2018-12-08 19:49] #683 closed

[2018-12-10 00:05] BobSynfig commented on #677
Hi, did you try to install [appimaged](https://github.com/AppImage/appimaged)?

[2018-12-10 02:37] Lvaskz commented on #677
I am using appimagelauncher https://github.com/TheAssassin/Appimagelauncher, but I have the same problem and another. Appimagelauncher has a limited support for appimages type 1, like synfig, it suppose that appimagelauncher works better for appimage type 2.

[2018-12-10 02:39] Lvaskz commented on #677
Maybe synfig team can make synfig type 2, would be better for everyone.
Can you guys..?

[2018-12-10 03:50] Lvaskz commented on #677
See https://github.com/TheAssassin/AppImageLauncher/issues/3

[2018-12-13 04:31] shubhsherl commented on #499
@morevnaproject Do let me know if there is anything I can try my hands on.

[2018-12-13 07:34] morevnaproject commented on #634
Hey, @reSHARMA! I have noticed the Travis job fails to render sources from the latest commits. I can see following errors in Travis log:
[code]

Can you please take a look? ^__^

[2018-12-13 07:42] morevnaproject commented on #648
@BobSynfig Awesome! Can you please submit pull request for your changes? ^__^

[2018-12-13 07:45] morevnaproject commented on #499
@shubhsherl  Oh, my apologies - I've got distracted by other tasks and didn't responded in time. ^__^"

We have a list of "good first issues", so you can choose which one you would like to start with - https://github.com/synfig/synfig/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2018-12-15 16:48] morevnaproject commented on #648
@BobSynfig  Tested and merged! Thank you!

[2018-12-15 16:48] morevnaproject commented on #648
I think, we still need a GUI option to enable/disable that function.

[2018-12-16 01:58] BobSynfig commented on #648
Ready ^_^
https://github.com/synfig/synfig/pull/688

[2018-12-16 03:11] morevnaproject commented on #648
@BobSynfig Thank you! Congratulations with your first issue completed! ^__^

[2018-12-16 03:11] #648 closed

[2018-12-16 14:09] morevnaproject commented on #634
Wait, I have a better idea - I have added this issue for our NJACK participants - https://github.com/NJACKWinterOfCode/synfig-tests-regressions/issues/18 ^__^

[2018-12-16 20:53] BobSynfig commented on #523
This is due to a bug of implementation of shadows in GTK3 for Windows
See 2. of [Suboptimal window drawing on Windows](https://gitlab.gnome.org/GNOME/gtk/issues/105)

[2018-12-24 14:03] morevnaproject commented on #650
Interesting information from http://libregraphicsworld.org/blog/entry/week-recap-23-december-2018 -

[2018-12-24 14:05] morevnaproject commented on #650
https://twitter.com/GIMP_Official/status/1075541003468267520

[2018-12-24 14:12] morevnaproject commented on #650
Related commit - https://gitlab.gnome.org/GNOME/gimp/commit/a9a979b2d0a9a3ef25d63c90a1401994cca2a818

[2018-12-26 14:42] BobSynfig commented on #636
Hi,
I added some options for backgrounds:
**Selection of Preview Background Color (Render page)**
![image](https://user-images.githubusercontent.com/45494804/50448876-f9257e00-0923-11e9-9796-b7ffbd135db3.png)
![image](https://user-images.githubusercontent.com/45494804/50448879-004c8c00-0924-11e9-87f5-16314d952f52.png)

**Add automatically a default background layer on new animation (Document page)

[2018-12-26 16:55] Jose-Moreno commented on #636
@BobSynfig Hey that's awesome! Every contribution counts. I wish I knew how to properly develop software with C++ to help as well, but it's great to see more people adding more "quality-of-life" options :slightly_smiling_face:

[2018-12-26 17:57] BobSynfig commented on #650
Test done ok

Add this line in _/synfig-studio/src/gui/widgets/widget_enum.cpp_ (line 65)

As a result, depending the size and the position of the window, the default value may not be selected by default.

![650](https://user-images.githubusercontent.com/45494804/50453303-ee78e200-093f-11e9-8959-5286753e804d.png)

[2018-12-27 01:59] unternehmen commented on #674
This happens for me too when running the master branch of Synfig Studio.

It happens in some situations where the canvas tries to update but the green progress bar on the timeline has not yet filled up completely.  For example, you can trigger the crash by doing the following:

* Repeatedly press the "Low Res" button when there is a rectangle layer on the screen without waiting for the green progr

[2018-12-27 13:09] hellocatfood opened #692 "Failed to build on Ubuntu Linux (various libraries not found)"
**Synfig version & platform**:
Synfig 064ca47
Ubuntu 18.10

**Issue description**:
I'm following the Nix building instructions for Linux. `./dev-env.sh` runs fine but after running `./build-debug.sh` the build fails and towards the of the compile messages I see the following errors:

[code]

Are there any libraries that need to be installed system-wide?

<bountysource-plugin>

---
Want to back thi

[2018-12-27 14:14] BobSynfig commented on #692
Don't bother with Nix :)
Its configuration changes at every new version
Nix will be anadoned in favor of Conan in a few (see [Weekly report (December 3 - 7)](https://www.patreon.com/posts/weekly-report-3-23206554) and https://github.com/synfig/synfig/issues/666 )

Instead you can build with _./autobuild/synfigstudio-linux-build.sh_ from the root of your source directory.
The result will be placed

[2018-12-27 16:44] hellocatfood commented on #692
Thanks for that!

[2018-12-27 16:44] #692 closed

[2018-12-28 01:19] WPFilmmaker commented on #674
I just tried to reproduce with 1.3.10 on Lubuntu 16.04.3 but no success, everything works fine. I tried creating about 50 circles (small and then I tried large ones) in sequence but wasn't able to make it crash.

[2018-12-28 19:19] unternehmen commented on #674
Here is a video of the crash happening on my computer:

[https://youtu.be/tZWeQSIzR8g](https://youtu.be/tZWeQSIzR8g)

[2018-12-28 19:30] WPFilmmaker commented on #674
@unternehmen OK so my version is older than yours, maybe you can try to reproduce on the dev version you can get from synfig site? 1.3.10? Maybe it is something it was introduced after it was released. Others?

[2018-12-28 22:01] BobSynfig commented on #659
Related to https://github.com/synfig/synfig/issues/520 and https://github.com/synfig/synfig/issues/526

According my tests,
when 2 or more parameters
of the same type
follow in the list
if you try to edit a parameter
with the same value
as the one placed under,
it can't be changed.

For example:
* Time Loop has _Link Time_, _Local Time_ and _Duration_ as _Time_
* Circle has _Z Depth_ and _Amount_

[2018-12-29 01:08] unternehmen commented on #674
Okay, I have done some investigating.  The "assert(enqueued_tasks == 0)" line was added in this commit:

    commit dec3609682d98987f656d28a93d4f8f0569163ca
    Author: Ivan Mahonin <bh@icystar.com>
    Date:   Fri Sep 28 17:37:54 2018 +0700

        Restrict count of simultaneous rendering tiles

... and the crash also happens in that commit, suggesting that the crash has existed ever since that

[2018-12-29 02:45] BobSynfig commented on #674
Try to deactivate "Render future and past frames in background when enabled" (the little camera next to low res)
This functionnality seems not be working perfectly yet, I had a lot of crashes like this but now it is fine...

[2018-12-29 04:00] BobSynfig commented on #659
So, when the edition of parameter has been done, the new value is compared with the former one.
For some reason, it uses _property_value()_ which doesn't give the original one, which was used in the beginning to define the content of the edit box!
I did a copy of these original data in a _synfig::ValueBase saved_data_ which I will use for the final compare ;)

Note that modify _Z Order_ will still

[2018-12-29 23:46] unternehmen commented on #674
@BobSynfig Thanks for the advice!  Deactivating the future/past rendering gets rid of the crashes for me as well.

[2018-12-30 03:09] unternehmen opened #693 "Remove "Cancelled by user" dialog that happens when the user tries to move an animated object"
**Synfig version & platform**:
1.3.10, Commit 064ca470469b3802f84a91d3419424067d7d6f5a (Dec 22 2018)
Debian GNU/Linux 9, x86_64

**Issue description**:
When you try to move an object whose position is animated, a dialog asks if you want to apply an offset to the animated parameters.  If you press "no," a second dialog appears which says "Set Layer Parameter (...): Origin: Cancelled by user" and lo

[2018-12-30 03:44] morevnaproject commented on #415
The fix is merged now, will be shipped with version 1.3.11.

[2018-12-30 03:44] #415 closed

[2018-12-30 03:46] morevnaproject commented on #659
Much thanks to @BobSynfig  - seems like it is fixed now! Will be shipped with version 1.3.11. Still we ask for your testing.

[2018-12-30 03:46] morevnaproject commented on #526
Much thanks to @BobSynfig  - looks like it is fixed now! Will be shipped with version 1.3.11.

[2018-12-30 03:46] #526 closed

[2018-12-30 03:48] morevnaproject commented on #520
Much thanks to @BobSynfig  - looks like it is fixed now! Will be shipped with version 1.3.11. Please test and confirm if the issue is fixed.

[2018-12-30 17:42] unternehmen commented on #693
Thanks, I tried your branch, and the dialog no longer appears.  However seems to cause an issue.  if I press "no" on the offset dialog, it applies the offset anyway instead of canceling it.  I think this is because

    throw Error(_("Cancelled by user"));

was responsible for breaking out of Action::ValueDescSet::prepare(), but now the throw statement is gone so the function just continues and ap

[2018-12-30 21:02] unternehmen commented on #693
I have added a commit which fixes the issue.  Can someone double-check it? :+1:

[2018-12-30 22:03] BobSynfig commented on #693
Argh, I just pushed another way tricky way, yours looks a lot more clean ^^
https://github.com/BobSynfig/synfig/commit/3d5aa74ed39a15368921cbf89436a1fff7b34654

[2018-12-31 00:10] unternehmen commented on #693
Oops! :"-D

[2019-01-02 03:11] #650 closed

[2019-01-02 03:12] morevnaproject commented on #636
@BobSynfig Thank you very much for this improvement, I really like the solution!

#690 is merged now.

[2019-01-02 03:12] #636 closed

[2019-01-02 03:14] morevnaproject commented on #650
The change is applied now. Thanks to everyone for participation!

[2019-01-02 05:58] morevnaproject commented on #693
@unternehmen @BobSynfig Thank you for your contributions for solving this issue!

After examining your pull requests #695 and #696 I found that the silent error handling is already implemented.
Please check line 133 here:
https://github.com/synfig/synfig/blob/25d55580bb036fdba1c6559693fce5ad9ddbbad0/synfig-studio/src/synfigapp/action_system.cpp#L129-L141

So, I think replacing
```throw Error(_("Ca

[2019-01-02 06:15] morevnaproject commented on #523
Okay, so we can solve this by applying this patch when doing our own build of GTK for windows - https://github.com/Alexpux/MINGW-packages/blob/master/mingw-w64-gtk3/0001-gtkwindow-Don-t-force-enable-CSD-under-Windows.patch

This can be done as part of #666.

[2019-01-02 06:18] morevnaproject commented on #523
...also, this is already patched if we use MSYS2 for building - https://gitlab.gnome.org/GNOME/gtk/issues/105#note_82344
The support for MSYS2 can be added as part of #694.

[2019-01-02 06:30] morevnaproject opened #697 "Can't build on OSX 10.9: variable length array of non-POD element type"
**Synfig version & platform**:
master branch (commit 1d1ab7f883ffe290c944d0bbb3219c0aed56403d)

**Issue description**:
Tried to build master branch (commit 1d1ab7f883ffe290c944d0bbb3219c0aed56403d) on OSX 10.9. Got an error:
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/68160945-can-t-build-on-osx-10-9-variable-length-array

[2019-01-03 05:56] morevnaproject commented on #314
@Svarov-RZM My apologies for not responding in time - the message got lost in the stack of issues. ^__^" Thank you for submitting pull request, I have included it into our test suite now. Will be working on the fix.

[2019-01-03 06:05] morevnaproject opened #698 "Outline render issue"
**Synfig version & platform**:
Synfig master branch, commit id 25d55580b

**Issue description**:
Sample test file - https://github.com/synfig/synfig-tests-regressions/blob/master/rendering/sources/layers/outline/outline-looped-cusps-off.sif

Render result:
![screenshot_001](https://user-images.githubusercontent.com/332868/50625051-e2041300-0f57-11e9-9660-e980190700b8.png)

Expected result  (v 1.0.

[2019-01-03 06:06] morevnaproject commented on #698
See also comment here regarding cusps - https://github.com/synfig/synfig/issues/314#issuecomment-429726173

[2019-01-04 12:12] eszlari opened #700 "Rename Linux metadata"
Please, rename your metadata according to the AppStream spec:
https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html
Desktop Entry Specification:
https://specifications.freedesktop.org/desktop-entry-spec/latest/ar01s02.html

This would mean:
`synfigstudio.appdata.xml` -> `org.synfig.SynfigStudio.appdata.xml`
`synfigstudio.desktop` -> `org.synfig.SynfigStudio.desktop`
`synfigstudio.

[2019-01-04 15:21] #693 closed

[2019-01-04 15:38] morevnaproject commented on #626
The fix is merged now! Will be shipped with next release of Synfig. Thank you!

[2019-01-04 15:38] #626 closed

[2019-01-04 15:38] morevnaproject commented on #383
The issue is fixed now by #699! Will be shipped with next release of Synfig.

[2019-01-04 15:38] #383 closed

[2019-01-04 16:32] BobSynfig commented on #684
Don't forget to add a check and a warning in case of shrink of duration.
If keyframes/waypoints exist beyond the new limit, they are lost ;)

[2019-01-05 10:40] Tiromh commented on #667
Hi ! Same issue !

Synfig Studio -- dÃ©marrage de l'application...

synfig(11004) [11:39:07] info: DÃ©marrage du sous systÃ¨me "Sound"
synfig(11004) [11:39:07] info: DÃ©marrage du sous systÃ¨me "Types"
synfig(11004) [11:39:07] info: Starting Subsystem "Rendering"
synfig(11004) [11:39:07] info: rendering threads 12
synfig(11004) [11:39:07] info: DÃ©marrage du sous-systÃ¨me "Modules"
synfig(11004) [

[2019-01-05 10:41] Tiromh commented on #667
SynfigStudio-1.2.2-18.09.14-win64-286f1

[2019-01-05 22:49] BobSynfig commented on #523
For now it can be solved by editing synfigstudio.bat (in Synfig's folder)
add <b><code> set GTK_CSD=0</code></b>
before
[code]
then start SynfigStudio from synfigstudio.bat (you can modify your desktop shortcut)
@morevnaproject it could be included in the distributed packages ;)

[2019-01-05 23:41] BobSynfig commented on #667
Just had the opportunity to install it on a Win10 Home french edition, same as @Tiromh.
Same version of Synfig setup (as .exe and .zip).
I don't have any display error in Synfig, the same artifacts in console nevertheless...
I also checked after install fonts [droid-sans](https://www.fontsquirrel.com/fonts/droid-sans) missing on the system.
But everything is fine!

[2019-01-06 18:54] Tiromh commented on #667
Not for me :'(

[2019-01-06 20:19] pfkw opened #701 "Saving after exporting animation corrupts the file"
**Synfig Studio 64 bits, 1.2.2 Version 1.2.2, Windows 10**:

**Synfig Studio corrupts the animation file if saved after exporting an animation**:

Steps to reproduce:
1. Create a file with an animation.
2. Create a skeleton and link it to the animation
3. Save the file.  -- Close and Re-Loading works fine for now
4. Now export the Animation and save the file
5. Close and Re-Load the animation file

[2019-01-07 13:51] morevnaproject commented on #697
Fixed by @blackwarthog via 3e8f8e2d23d5c565ab7c76640afbb95ea35ce6ad

[2019-01-07 13:51] #697 closed

[2019-01-08 01:04] unternehmen commented on #684
Yes, the program should protect waypoints/keyframes from being deleted like @BobSynfig says.

But I do like the idea of a text box there rather than a button.  The text box would eliminate having to go to a new window in order to change the length of the animation.  One way to protect keyframes would be to allow keyframes or waypoints to exist independently of the canvas duration, which is the way

[2019-01-08 09:59] BobSynfig commented on #667
I found there are some incompatibilities with Droid font family (not available in all the languages).

Please edit _c:\Program Files\Synfig\etc\gtk-3.0\settings.ini_ with _Notepad++_ (the file has Linux LF end of lines)

Replace `gtk-font-name = Droid Sans 8`
with `gtk-font-name = Sans 8`

Also be sure of your settings in Control Panel / Region / Administration, button Modify:
Set the non-unicode

[2019-01-08 11:48] Tiromh commented on #667
Whouaaaa :)

it's work :)

just not : c:\Program Files\Synfig\etc\gtk-3.0\
but : C:\Program Files\Synfig\share\gtk-3.0\

Thanks a lot :)

[2019-01-08 13:21] BobSynfig commented on #667
@Tiromh Thank you for your quick test!
@morevnaproject
We should use a different font
It was a bit my fault if it had been included in Synfig :smile:
https://forums.synfig.org/t/change-synfig-gui-font-in-win-8-1-dpi-related/3730

[2019-01-08 17:56] morevnaproject commented on #684
The behavior is different. If you change the duration, then waypoints beyound the new limit will continue to exist. Just try to change duration via "Canvas" -> "Properties" dialog and then revert it back. ^__^

[2019-01-08 17:59] morevnaproject commented on #684
This is exactly how Synfig works currently. ^__^

I also prefer input text box instead of button. Something similar to Blender:

![screenshot_003](https://user-images.githubusercontent.com/332868/50849487-c3fc3f80-13a9-11e9-9355-e21d87ad0617.png)

[2019-01-08 18:01] morevnaproject commented on #523
@BobSynfig Awesome! This is such a simple solution! I will do the fix. ^__^

[2019-01-08 18:13] Tiromh commented on #667
Bravo!, Well done!, Attaboy! ;)

thanks for your quick tips and to have solved my problem

now i can get started :)

[2019-01-08 19:47] BobSynfig commented on #680
Maybe this could be useful ;)
[Unable to open file with non-local and non-latin symbols in filenames [unicode] #278](https://github.com/mltframework/shotcut/issues/278)

[2019-01-09 12:41] BobSynfig commented on #522
If it happens to anyone, here is the trick to take it back
https://forums.synfig.org/t/how-do-i-get-the-menubar-top-back/9258

[2019-01-09 20:18] Lvaskz commented on #677
hi, any progress?

[2019-01-09 22:51] harshay97 commented on #677
Hi, nope no progress yet

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Luis Vásquez <notifications@github.com>
Date: 09/01/2019 21:17 (GMT+00:00)
To: synfig/synfig <synfig@noreply.github.com>
Cc: harshay97 <harshay.m@hotmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [synfig/synfig] Icon missing (#677)

hi, any progress?

—
You are receiving this b

[2019-01-11 01:43] unternehmen commented on #684
Oh, I did not check!  It's good to know it does not delete waypoints when the canvas duration changes. ':-D

I agree, Blender's way of doing it is nice and helps discoverability.  It would be a great benefit to Synfig learners. 👍

[2019-01-11 06:37] morevnaproject opened #703 "Do not invoke "synfig" for rendering icons"
As a further improvement of Synfig's build system and ongoing migration to Cmake I proposing the following:

At the moment, during build time of Synfig Studio all ".sif" files are rendered to ".png" (icons and splash-screen image). This is done by calling Synfig CLI tool.

This puts additional complexity when we do cross-compilation of Synfig. I.e. when compiling  Windows version on Linux we have

[2019-01-11 09:55] morevnaproject commented on #267
We need that in Graph Panel. This is highly requested feature from many artists.

[2019-01-11 15:19] ice0 commented on #703
I support that. Also, where there is already a ./configure --without-images flag for Synfig Studio

[2019-01-11 15:38] ec1oud opened #704 "suggestion: add Lottie export format"
It seems popular, and a good animation format for the web and for mobile devices (but I just discovered it ;-)  I haven't found a proper spec for the JSON but there are open-source viewers, and JSON schema files here https://github.com/airbnb/lottie-web/tree/master/docs/json

[2019-01-12 11:56] BobSynfig commented on #677
@morevnaproject is currently working on building system/script which is a complex task.
Once it will be simplified, it will surely be upgraded to type 2.
Just be a bit patient, the icon is just a detail ;)

[2019-01-12 16:09] Lvaskz commented on #677
OK thanks 😁

[2019-01-12 16:49] reSHARMA commented on #499
I think we should start preparation from our side for gsoc 2019 org application. After some random browsing I see the "idea page" as a great first step.

"Keep in mind that this page is often the first view of your organization by Google and potential student applicants." [1]

I think we can have the idea page on synfig wiki, and meanwhile can ask for potential mentors and projects on github or sy

[2019-01-12 18:41] morevnaproject commented on #499
Yes, it's time for preparations!

As we planning to go away from MediaWiki in favor to Sphinx/ReadTheDocs, I suggest to include Ideas Page into developer's documentation - https://synfig-docs-dev.readthedocs.io/en/latest/index.html

Editable here - https://github.com/synfig/synfig-docs-dev

[2019-01-12 18:53] morevnaproject commented on #698
@blackwarthog Any progress on this? ^__^

[2019-01-13 19:52] reSHARMA commented on #499
Track the update and suggest changes for synfig project ideas page here (https://github.com/synfig/synfig-docs-dev/pull/3) and for gsoc'19 application draft [here](https://github.com/synfig/synfig-docs-dev/blob/8aedf831230958b8fce0f554ec189ed321c251a0/docs/common/application.md)!

[2019-01-14 13:26] morevnaproject opened #707 "Cannot render to AVI using Synfig CLI"
**Synfig version & platform**:
master branch, commit 3e8f8e2d23d5c565ab7c76640afbb95ea35ce6ad via AppImage

**Issue description**:
[code]

[2019-01-14 16:47] ankit-kumar-dwivedi commented on #499
I would like to be part of gsoc19 as a student at synfig :)
what are the prerequisites?

[2019-01-14 17:18] morevnaproject commented on #499
@ankit-kumar-dwivedi I am happy to see your interest! We need some code-related contribution from you before GSoC starts. ^__^

[2019-01-14 18:05] ankit-kumar-dwivedi commented on #499
thanks @morevnaproject. I guess solving few code related issues will do the job !

[2019-01-15 09:50] morevnaproject commented on #499
@ankit-kumar-dwivedi Yes, exactly! We have a list of good simple issues to start with - https://github.com/synfig/synfig/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22
(please ignore pinned issue, though). ^__^

[2019-01-15 15:18] blackwarthog commented on #698
fixed

[2019-01-15 17:49] morevnaproject commented on #700
Please ignore all files ending with ".po" - they will be automatically re-generated. I hope that reduce the amount of affected files dramatically. ^__^

[2019-01-15 17:51] morevnaproject commented on #700
The https://wiki.synfig.org/Developer_Documentation can be quite outdated. The most recent documentation is here - https://synfig-docs-dev.readthedocs.io/en/latest/index.html
Although it is not that complete.

[2019-01-15 17:52] morevnaproject commented on #700
Great, I am keeping this issue for you. ^__^

[2019-01-15 18:18] ankit-kumar-dwivedi commented on #700
Okay @morevnaproject I will be referring it most of the times but it's not as comprehensive as the one on wiki and I almost read all the docs(readthedoc) this one gradually becoming better.

[2019-01-16 15:01] morevnaproject commented on #700
On wiki.synfig.org there are several cool fresh tutorials by @BobSynfig:
- https://wiki.synfig.org/Dev:Adding_a_Sound_notification
- https://wiki.synfig.org/Dev:Adding_a_Render_progress_bar

[2019-01-17 06:02] morevnaproject commented on #499
Registration for GSoC now open for organizations - https://summerofcode.withgoogle.com/
We're starting to work on application.

[2019-01-17 12:20] ice0 commented on #707
I think this can be related to Boost::ProgramOptions code refactoring (https://github.com/synfig/synfig/commit/cc827979e78448de0907c0b4cc64a082af426100), so i will look later.

[2019-01-17 15:49] morevnaproject commented on #499
Okay, I have registered an organization, now working on Organization Application and Organization Profile. BTW, every organization must have at least 2 and at most 5 Organization Administrators.
@ice0, I propose you to become second administrator. Opinions?

[2019-01-17 16:06] #700 closed

[2019-01-18 03:49] morevnaproject commented on #698
@blackwarthog I have tested the latest version and the result is still different -

Master branch, commit 4b7e52ad779da4f179d74f63dc695c916a95cd5f:

![screenshot_002](https://user-images.githubusercontent.com/332868/51364430-aac46300-1b0e-11e9-9164-a7b7f22eb669.png)

[2019-01-18 16:25] #707 closed, assigned to nobody

[2019-01-19 14:43] morevnaproject commented on #707
Thank you! ^__^

[2019-01-19 16:39] morevnaproject commented on #680
I did tested that on windows and, unfortunately, the fix didn't worked.

[2019-01-19 16:56] morevnaproject commented on #523
So, I have applied CSD patch from MSYS2 (https://github.com/Alexpux/MINGW-packages/blob/master/mingw-w64-gtk3/0001-gtkwindow-Don-t-force-enable-CSD-under-Windows.patch) and made a test build - https://downloads.synfig.org/almost-1.3.11/SynfigStudio-1.3.11-pre4-64bit-4b7e5.zip

@keithnbrown @FadhilKwan Please test.

![screenshot_003](https://user-images.githubusercontent.com/332868/51429845-c2eace0

[2019-01-20 18:35] BobSynfig commented on #680
That's why I added the link :)
For the moment I can't build a Windows version so I proposed the Glib::locale_from_utf8 to mimic the other formats in the source code.
But yes I expect mlt_open to do the trick

[2019-01-21 08:17] ankit-kumar-dwivedi commented on #637
So is this still an issue? as it's clear there is a purpose why the input field is designed this way. Although we can restrict it to accept only 8 digit hexcode that includes every color with alpha.

[2019-01-21 13:33] raniaamina opened #710 "Preview is too slow"
**1.3.10 dev & Debian 64bit**:
Hi, this morning i try to compile synfig. I follow wiki instruction and succesfull.
Yesterday i download the latest (dev version) appimage, but when i try change the amount value via parameter window, Synfig suddenly closed, that's why i try to compile directly from repository.

The problem is, Synfig (that i compile) running slow, it so far different with appimage v

[2019-01-21 13:49] ice0 commented on #710
Hi! I think you build Debug version (it slow, yes), you need to build Release version.

[2019-01-21 13:57] morevnaproject commented on #499
While I am in the process of preparing application, I suggest to start thinking on possible project ideas. ^__^

[2019-01-21 13:58] morevnaproject commented on #710
Yes, this is probably debug version. @raniaamina Can you please let us know which instructions you used for building?

[2019-01-21 14:54] morevnaproject opened #711 "Synfig render fails to render if height >= 782"
**Synfig version & platform**:
Master branch, commit 2365f6a67d9e09b1a428070e5e598739f16011d1

**Issue description**:
Synfig fails to render via CLI using FFmpeg target if height >= 780:

This works:
[code]

This freezes:
[code]

In this example ```/tmp/test.sifz``` is just an empty Synfig file.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.

[2019-01-21 16:56] ankit-kumar-dwivedi commented on #637
Yes @BobSynfig I totally agree to this. @morevnaproject can you change the topic of this issue :-)

I think we should keep it as is or change it to just "color" with an ℹ️ tag

[2019-01-21 17:54] raniaamina commented on #710
No, i build release/production version

[2019-01-21 17:55] raniaamina commented on #710
@morevnaproject, i follow this instruction https://synfig-docs-dev.readthedocs.io/en/latest/common/building.html

[2019-01-21 23:17] BobSynfig commented on #711
_synfig-core/src/synfig/target_scanline.cpp_, line 62:
 set
` #define USE_PIXELRENDERING_LIMIT` **0**
instead of
`#define USE_PIXELRENDERING_LIMIT` **1**

Above you can see
`#define PIXEL_RENDERING_LIMIT 1500000`
1500000/1920 = 781.25 (with your width of 1920)
ffmpeg renders files with increments of (h mod 4) + 4
779 -> 780
780 -> 784

784 > 781.25, more than the pixbuf surface

I don't know if it

[2019-01-22 16:05] raniaamina opened #712 "PNG Image Color Changes when Image Resizes"
**1.3.10 dev & Debian 64bit:**:
I import the PNG file to Synfig, the file is attached below, when I change the size of the object, the color becomes darker, while at a certain position and size the color returns to default. For more details, I also attach the results of rendering that object.

![PNG File](https://user-images.githubusercontent.com/22146607/51547775-82838e00-1e99-11e9-8fb0-c400646d6

[2019-01-22 21:13] tscizzle opened #713 "Cannot delete child bone, crashes instead"
**Synfig version & platform**:
1.2.1, on Ubuntu 18.04.1

**Issue description**:
Add a child bone, then in the Parameters window do Remove Item (Smart) on that new child bone, then Synfig crashes. So basically, once you add a bone and save the file, you're stuck with that bone.

Another method of removing a bone would also be sufficient.

- Note that this is different from an old issue about removi

[2019-01-22 23:14] BobSynfig commented on #712
Are you sure it is not linked with another layer or a transition?
I could not reproduce this.
The change occurs between 5'0f and 5'1f, maybe with an intermediate waypoint or keyframe.
Could you please (on a copy of course) try to remove all the unneeded layers, transitions and waypoints and check the values?
And maybe post a .sifz with just the first part if it persists.

Good luck :)

[2019-01-23 04:05] raniaamina commented on #712
I have try to use different image as background for this grid before, but i got same problem.
Then, i try reproduce this case by create new file and set the navigator render as draft (before this = default), the problem is solved.

[2019-01-23 09:01] BobSynfig commented on #712
Are you sure it was not the blend mode ?
I guess Light grid = Add, Dark = composite (the default one) or another

[2019-01-23 09:06] BobSynfig commented on #710
Do you use hi-res images and/or transforms like in the https://github.com/synfig/synfig/issues/712?
This could explain why it is so slow (Synfig is mainly vector-oriented)
Try to deactivate the render of the corresponding layer (the chechbox on the left of the name of the layer) and test again ;)

[2019-01-23 10:24] ice0 commented on #499
Hi guys! Sure i am in.

Project ideas:

**Infrastructure**
- complete our CI build chain by adding Windows build (i suggest MSYS2 on Microsoft platform);
- add static code checks and possible code coverage. I suggest https://scan.coverity.com/ and PVS-Studio (as for now PVS-Studio is free for open-source projects);
- move to CMake build system (most of tools prefer CMake's compile_commands.json fo

[2019-01-23 13:48] ice0 commented on #710
Can you say the size of the produced synfig binary?

[2019-01-24 15:15] ankit-kumar-dwivedi commented on #627
I would like to work on this @morevnaproject . Can you shed some light :)

[2019-01-25 07:58] caillette commented on #542
Same for me on Synfig 1.2.2, macOS 10.14.2.

[2019-01-25 08:01] ice0 commented on #542
Possible because nothing is selected in Layers panel?

[2019-01-25 08:18] caillette commented on #542
In the main project, I jumped to a Keyframe and selected an item of the exported Canvas.
Then I selected the exported Canvas, and the button to add Keyframes is disabled, as the timeline is. This is the same situation as in Jengall's screenshot.
Does it work on Linux?

[2019-01-25 08:41] caillette commented on #542
I installed Synfig 1.2.1 in an Ubuntu 18.04.1 LTS in VirtualBox 6.0.2 in macOS 10.14.2.

- Create a fresh project.
- Create a Rectangle.
- Create a Keyframe at 50f.
- Create a Keyframe at 100f.
- Animate the Rectangle from its initial position (0f) to Keyframe 100f.
- Turn off editing mode.
- Go to 0f.
- Create a Star.
- Put the Star in Group "Group 1".
- Go to Keyframe 50f.
- Animate Group 1 (so

[2019-01-25 08:53] caillette commented on #542
Maybe I misunderstood something. I downloaded the `Eyeblink.sifz` animation (attached to the documentation linked to by Jengall) and it seems to work. There are Keyframes in the reusable animation but the "Add New Keyframe" button is still disabled.

[2019-01-25 14:20] ice0 commented on #542
Please check Canvas->Properties->Time->Duration (on exported canvas).

[2019-01-25 14:52] #542 closed

[2019-01-25 15:00] caillette commented on #542
Thanks ice0 it works! Exported Canvas lose all references to exporter's Keyframes, but that's quite logical after all.

I updated the procedure above, which couldn't work because I was adding a Keyframe before exporting the Canvas.

I suggest that you close this issue as "not a bug".

[2019-01-25 15:01] ice0 commented on #542
Also as a temporary workaround you need to save your work file and exported canvas, and after that close it and open again.

[2019-01-26 00:09] ThobyV commented on #499
Hi Everyone, I'm also an aspiring GSOC 19 student and my area of specialization is UX Engineering.

While I really love the current interface and experience of the current Synfig version, I feel as if a lot of porweful features are hidden from the user and makes working in Synfig a difficulty for beginners.

I do not know how difficult the task is to propose a work with a team on the UX of some pa

[2019-01-26 03:06] Gilraiser opened #714 "The bones multiply over the others in Synfig Studio 3.11pre2"
*Synfig Studio 3.11-pre2 in Archlinux 64:

Issue description:

After saving and closing a file with bones. When the file is opened again, the bones multiply over the others.It also happens that when opening files created with previous versions of Synfig Studio, there are errors in the animation made with the skeleton deformation layer.

![bone--00212](https://user-images.githubusercontent.com/4505

[2019-01-26 16:32] morevnaproject opened #715 "Exporting canvas should set proper length for created sub-canvas"
**Synfig version & platform**:
1.2.2 and above

**Issue description**:
When group is exported as sub-canvas its length is set to 0. This shouldn't be like that - it should copy length of original (parent) canvas.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/69227314-exporting-canvas-should-set-proper-length-for-created-sub-canvas

[2019-01-26 16:39] morevnaproject commented on #710
It seems like I know why this happens. In the latest version of Synfig we introduces image downsampling, which improves quality of scaling images, but requires more computations (especially for large images).

Appimage version (1.3.10) doesn't has this feature.

So, I guess this is why @raniaamina experiences slowdown.

You an easily check if my guess is right or not - just try to switch into Draf

[2019-01-26 16:44] morevnaproject commented on #711
Yes, this is a good catch!

I also do not know if there is a reason  to break big frames into surfaces, but I remember this was available in Synfig for years. And that worked fine with Synfig 1.2.2.

@blackwarthog Can you please take a look?

[2019-01-26 18:39] morevnaproject commented on #523
Here is a fixed build with icons and CSD patch - https://downloads.synfig.org/almost-1.3.11/SynfigStudio-1.3.11-pre5-64bit-2365f.zip

![screenshot_007](https://user-images.githubusercontent.com/332868/51791324-cd700f00-21d3-11e9-89d3-1af0316a8c9b.png)

[2019-01-26 18:39] #523 closed

[2019-01-27 14:54] morevnaproject commented on #627
@ankit-kumar-dwivedi Thant's great! I advice to start looking in https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/render.cpp - this is a code for Render Options window.

Render Options window is called through "File" -> "Render" menu command.

![screenshot_001](https://user-images.githubusercontent.com/332868/51802529-8f2f2a00-227d-11e9-8800-75ce4e4d3e35.png)

Changing value in "

[2019-01-27 14:58] morevnaproject commented on #627
Here is a list of targets and corresponding extensions:

* "Auto"  - don't change extension
* "bmp" -> ".bmp"
* "cairo_png" -> ".png"
* "dv" -> ".dv"
* "ffmpeg" -> ".avi"
* "gif" -> ".gif"
* imagemagick" -> ".png"
* "jpeg" -> ".jpg"
* magick++" -> ".gif"
* "null" -> don't change extension
* "null-tile" -> don't change extension
* "png" -> ".png"
* "png-spritesheet" -> ".png"
* "ppm" -> ".ppm"
* "y

[2019-01-27 15:13] morevnaproject commented on #637
Still, I would insist on "HTML code". ^__^

Quick overview what's going on in other graphic editors:

**Blender**

![screenshot_004](https://user-images.githubusercontent.com/332868/51802758-a0793600-227f-11e9-9ac8-d8f9384d7bc9.png)

* Filed name: "HEX"
* Behavior: Allows to enter any symbols, string length limited to 7. Any value not corresponding to hex code resets color to black.

**Gimp**

![s

[2019-01-27 15:19] morevnaproject commented on #637
On fact, I prefer to drop the possibility to provide color names - I never use it by myself and in general artists prefer to avoid "clean" colors (with exception of "white" and "black"). Also, there are only 16 colors named in HTML, so this is not a big loss.

In return, we get a simple way to fix this issue - I like Krita's or Blender's approach. ^__^

[2019-01-28 08:31] wstaelens commented on #637
I prefer Blender's way

[2019-01-28 10:57] adampiskorski commented on #704
I think this would be a killer feature, as otherwise to have a nice modern pipeline for animations on web + mobile you would need Adobe AE.
Synfig could certainly reduce the barrier to entry and keep the pipeline in the open source world.

[2019-01-28 15:10] morevnaproject commented on #499
Hello @ThobyV! Happy to see your interest. ^__^

Many UI decisions came from original developers, who created Synfig and opensourced it back in 2006. After that, many improvements were made by community contributors. A big work done by Yu Chen (@jcome), who has made a lot of good rework on UI and also brainstormed other improvements (you might want to take a look at topics here - https://forums.sy

[2019-01-28 23:19] ThobyV commented on #499
Thank you so Much @morevnaproject for your time replying.

I will make sure to open a seperate discussion as soon as I have enough insights on this Topic. I look towards creating some revolutionary user experience with the team for this awesome project.

[2019-01-29 04:44] FadhilKwan opened #716 "Synfig (1.3.11) Can't Load My Sifz File"
**Synfig version & platform**:
SynfigStudio-1.3.11-testing-19.02.09-win64-9583a for Windows 64 bit in Windows 10

**Issue description**:
well, since it's here, I decided to take it to the test

So i unpacked it, and load my sifz file
Seconds later, the process finished, but nothing shows up, just the grey grid background

Then i tried to play with its layers (simple check/uncheck the layer visibil

[2019-01-31 03:52] morevnaproject commented on #499
It is written in C++ with GTK3 libraries as GUI toolkit.

Currently all UI layout is written in plain code. It would be nice to utilize some UI builder (Glade3). In this case modifications to UI will be very simple.

[2019-01-31 03:53] morevnaproject commented on #499
P.S. @ThobyV Can you please drop me a mail via https://www.synfig.org/contact/? ^__^

[2019-01-31 04:02] morevnaproject commented on #716
Thanks for reporting! First of all, please make sure that Draft Mode is off -
![screenshot_009](https://user-images.githubusercontent.com/332868/52029649-abb1b780-2546-11e9-865a-e3f93f190d8d.png)

If that doesn't helps, then yes - we will need to examine your file. ^__^

[2019-01-31 04:04] morevnaproject commented on #637
Oh, I was looking at the wrong page (https://en.wikipedia.org/wiki/Web_colors) ^__^"
You right, all colors from list of "X11 color names" are supported currently by Synfig's text entry.

[2019-01-31 04:19] morevnaproject opened #717 "Conical Gradient fails to render"
**Synfig version & platform**:
Master branch, commit 4aa255f9ad852e3de5a64046f243a8b9dc34d143

**Issue description**:
See sample file:
https://github.com/synfig/synfig-tests-regressions/blob/master/sources/layers/gradient-conical/gradient-conical-strips.sif

This is how it looks in 1.0.2:
![screenshot_010](https://user-images.githubusercontent.com/332868/52030344-f7b22b80-2549-11e9-8937-c7356caba9

[2019-01-31 04:51] Bill-Jobss commented on #489
Hi,

I have the same problem. So far I tried Synfig Studio 1.2.2, 1.3.10, and 1.3.11, and it happens every time I try to open or save a file. In version 1.3.11 the error message appears right after the program start. I have to click "Cancel" more than 20 times in order to close the message. I have a Windows 7 SP1 desktop with a card reader, DVD-drive and seven USB ports.

I never had such a proble

[2019-01-31 06:09] FadhilKwan commented on #716
First, Thanks a lot for the reply, it was quite a relief 😄

Yes, i tried it again, this time with draft disabled....
And it's still looks like this (the marked parts might be related, especially that yellow strip)
From here on, any changes to the file will lead to freeze and crash
Even little things like changing layer's visibility

![swtrebugonpre](https://user-images.githubusercontent.com/251351

[2019-01-31 17:18] BobSynfig commented on #489
Let's check this: https://github.com/Beep6581/RawTherapee/issues/3544#issuecomment-277814280

[2019-01-31 17:56] ankit-kumar-dwivedi commented on #627
Sorry for responding late @morevnaproject I was busy with some college stuff. Have started looking the code. I wish [there](https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/render.cpp) to be more comments :(

[2019-01-31 18:38] BobSynfig commented on #716
We may think about a [PortableApps](https://portableapps.com/) packaging for Windows, it could permit to keep different settings separated.
Not exactly open-source but it could also improve Synfig's visibility!

[2019-01-31 20:36] BobSynfig commented on #716
@morevnaproject
I tried with the file supplied by @FadhilKwan with both 1.2.2 and pre5 on Ubuntu 18.04.
I already noticed it was an issue passing from one version to another because of Gamma "transparency"
My _settings-1.0_ file is shared with both version, look at _prefs.gamma_

1.2.2 / prefs.gamma= 1.000000 1.000000 1.000000 **1.000000**
**White** background, **no display** of drawings

1.2.2 /

[2019-01-31 20:47] BobSynfig commented on #717
It seems it is also a problem of Gamma Transparency/Black Level  as in https://github.com/synfig/synfig/issues/717

[2019-01-31 20:50] BobSynfig commented on #667
@morevnaproject:
This should be modified in the build script
https://github.com/morevnaproject/morevna-builds/blob/master/docker-builder-data/build/script/packet/synfigstudio-master.files/settings.ini

[2019-02-01 04:02] Bill-Jobss commented on #489
I am glad that you guys are trying to maybe solve this bug. Let me know if you need any checking on my side.

A few observations that I made:

I tried to start Synfig Studio 1.3.11 when a SD card was in the card reader, it did not help, the error message appeared right after the program start. Each time I clicked "Cancel", it reappeared with a different drive number (sometimes with the same number

[2019-02-01 05:35] raniaamina commented on #712
No, i'm very sure it's in default mode :")

[2019-02-01 05:39] raniaamina commented on #710
Unfortunately i can't try this advice soon, coz my Thinkpad got an accident. I will try it soon after my laptop has been repaired.

[2019-02-01 05:45] raniaamina commented on #712
@BobSynfig here my unfinished work (due my laptop problem) that can checked. But unfortunately i can't help to check soon if there any advice

[spread-lo.zip](https://github.com/synfig/synfig/files/2820232/spread-lo.zip)

[2019-02-01 08:55] FadhilKwan commented on #717
you mean, #716   ._. ?

[2019-02-02 03:23] Bill-Jobss opened #718 "Different versions of Synfig Studio use the same settings file. This renders an earlier version unusable."
**SynfigStudio-1.3.11-pre5-64bit-2365f & Windows 7 (x64)**:

**Issue description**:
Say, a person has a stable version for work and wants to try a new release. After he launches the new release, the program changes the "settings-1.0" file and makes the stable version of Synfig Studio unusable, unless the "settings-1.0" file is deleted.

Normally this is solved by using different profiles for diffe

[2019-02-02 04:34] Bill-Jobss opened #719 "Synfig Studio fails to exit properly."
**Synfig version & platform**:
SynfigStudio-1.3.11-pre5-64bit-2365f on Windows 7 (x64)

**Issue description**:
After I close the program by either using the "close" button on the title bar, or by using the "Quit" command of the "File" menu, though the program's window closes, the process SynfigStudio.exe keeps running, and I have to close it manually through the Windows Task Manager.

[2019-02-02 07:02] Jose-Moreno commented on #719
Can confirm this behavior for the same version on Windows 7 Ultimate (x64).

I'd like to add that if you open Synfig again, it doesn't use the same process that was lingering, but rather starts another, so if you close the program a few times you end up with a lot of undesired processes.

[2019-02-02 07:18] Jose-Moreno commented on #718
@Bill-Jobss Hey. Good eye! While I agree that keeping separate profiles for different versions of Synfig on Windows and other OS would be benefical, particularly for development testing, I'm personally not having any issue with the preferences. I opened v 1.22 without any problem and can work as expected.

So aside from that the problem I'm seeing here is that this issue mixes two separate queries

[2019-02-02 07:35] BobSynfig commented on #718
We could try to package with PortableApps
https://github.com/synfig/synfig/issues/716#issuecomment-459456640

[2019-02-02 08:51] Jose-Moreno commented on #267
@morevnaproject Implementing this would be terrific! I honestly tried to use and understand the TCB vs. other interpolations, but it's just not the same. I have an After Effects background and the keyframe interpolation, or what you call waypoints, always behaves in ways that the artist can predict, however for certain types of animation you are practically required to use (bezier) curves; they ar

[2019-02-02 15:05] BobSynfig commented on #267
Indeed it would be nice but it would surely introduce more bugs, especially with multi-values waypoints (like colors).
Personally I would prefer to stabilze and solve crashes first :P

[2019-02-02 15:37] morevnaproject commented on #267
@Jose-Moreno Yes, that feature is a long-awaited by all us, and (as far as I know) it is a major roadblock, which prevents professional animators form using Synfig. This is why I pinned this issue  to bring more attention to it. And it is in our roadmap - https://synfig-docs-dev.readthedocs.io/en/latest/common/roadmap.html

Thank you, we will appreciate your help here for sure! ^__^

[2019-02-02 15:43] morevnaproject commented on #667
@BobSynfig Oh, I completely forgot that we have settings file duplicated in this repo. Fixed now. Thank you so much!

[2019-02-02 15:47] morevnaproject commented on #667
Ok, I just have eliminated the duplication of settings.ini. Now it is in synfig's source only.

[2019-02-02 15:49] morevnaproject commented on #714
Yes, the two files at before and after state would help a lot! ^__^

[2019-02-02 20:37] BobSynfig commented on #718
I'm on the way for the script for PortableApps packaging:
Not finished nor polished yet but using the .zip version (x64 only for now), package ok with persistence.
Only a few steps will be required ;)

[2019-02-03 02:33] morevnaproject commented on #718
I've got another idea on this: we can use settings file with different name - i.e. "settings-1.3".

See here:

https://github.com/synfig/synfig/blob/4aa255f9ad852e3de5a64046f243a8b9dc34d143/synfig-studio/src/gui/app.cpp#L2035-L2037

and here:

https://github.com/synfig/synfig/blob/4aa255f9ad852e3de5a64046f243a8b9dc34d143/synfig-studio/src/gui/app.cpp#L2052-L2054

[2019-02-03 02:50] morevnaproject commented on #716
@BobSynfig Thank you very much for investigating on gamma issue!

First of all, I agree that adding Synfig to PortableApps will increase its visibility, since this is a very popular project.

At the same time, we can try to solve this on our side. We can add an environment variable, which modifies behavior of this function:
https://github.com/synfig/synfig/blob/4aa255f9ad852e3de5a64046f243a8b9dc34

[2019-02-03 02:56] morevnaproject commented on #489
Thank you for investigation - this note about DVD drive a very important information for us.

@BobSynfig Thank you, I think this could work!

[2019-02-03 19:17] Gilraiser commented on #714
Hello, thanks for answering. the first file is created in Synfig Studio 2.1.1
[girlofblue.zip](https://github.com/synfig/synfig/files/2825894/girlofblue.zip)
The second one is the same but modified in Synfig 3.11pre2
[RM-Escena-01-Plano-01.zip](https://github.com/synfig/synfig/files/2825895/RM-Escena-01-Plano-01.zip)
The file of the dog is made in Synfig 2.2.2. But to open it in 3.11pre2 is that t

[2019-02-04 10:34] morevnaproject commented on #627
@ankit-kumar-dwivedi As per request in #464, in recent version we have changed default format from ".png" to ".avi".

So, the format is set on line 227:
https://github.com/synfig/synfig/blob/4aa255f9ad852e3de5a64046f243a8b9dc34d143/synfig-studio/src/gui/render.cpp#L213-L228

[2019-02-04 13:50] ThobyV commented on #499
@Morevnaproject I am really sorry for the delay! I will be communicating more frequnetly and timely from now. I have sent an email to the Address you shared.

Also, I woull love to ask if the UI builder is more flexible to the users and developers alike if it is implemented?

[2019-02-04 16:54] ThobyV commented on #499
@morevnaproject I am really sorry for the delay! I will be communicating more frequnetly and timely from now. I have sent an email to the Address you shared.

[2019-02-05 04:13] morevnaproject commented on #499
@ThobyV Got your letter and mailed a response to you. Please check your mailbox. ^__^

[2019-02-05 09:13] morevnaproject commented on #499
Dear friends, I have finalized our application test - https://synfig-docs-dev.readthedocs.io/en/latest/gsoc/2019/application.html
Your comments are welcome (but remember that the deadline is tomorrow ^__^).

[2019-02-05 12:00] WPFilmmaker commented on #499
@morevnaproject looks good to me! Finger crossed for you! And please let us know if you get accepted <3

[2019-02-05 14:04] ThaFireDragonOfDeath opened #720 "Render Issue in linear gradient"
**Synfig version & platform**:
Affected version: Master (4aa255f9ad852e3de5a64046f243a8b9dc34d143) (compiled with 2-build-cmake.sh in debug mode)
Working version: 1.2.2 (Appimage-linux64)
Platform: Manjaro Linux 20190124-3

**Issue description**:
If a linear gradient has more then two color points --> the result is broken.
See the attachments for an example.
Maybe [this commit](https://github.com/

[2019-02-05 14:23] morevnaproject commented on #720
Confirmed with a bit earlier commit (2365f6a67d9e09b1a428070e5e598739f16011d1). Ping @blackwarthog.

[2019-02-05 14:31] morevnaproject commented on #499
@WPFilmmaker Thank you for the kind words! Even if we will not get accepted, we will keep moving. The project gets a good traction lately, so good times ahead! ^__^

[2019-02-05 14:39] ankit-kumar-dwivedi commented on #499
Yes @morevnaproject synfig is getting famous :smiley: .
PS: I am planning to conduct a workshop about synfig in my college.

[2019-02-05 15:18] morevnaproject commented on #537
@Jose-Moreno My apologies, your message got lost in a pile of other messages and I didn't responded in time. ^__^"

We have a Roadmap document open for collaboration here - https://synfig-docs-dev.readthedocs.io/en/latest/common/roadmap.html
You can edit this page using GitHub here - https://github.com/synfig/synfig-docs-dev/blob/master/docs/common/roadmap.rst

[2019-02-05 15:21] morevnaproject opened #721 "User-friendly rendering dialogue"
I wish Synfig could have simpler rendering dialogue. Current one is a mess.

Actually, instead of "File"-"Render..." command I would like to have 2 commands:
- "File" -> "Export Animation..." (exports video file - avi, mp4, gif).
- "File" -> "Export Frame" (exports current frame as image).

Both those commands should a dialog similar to "Save file", with a minimum set of necessary options (subject

[2019-02-05 16:40] morevnaproject commented on #499
I just haven't found a suitable place to mention that in application form. Also, currently all of our development team is hanging out here, at GitHub.

Of course, ideally it would be nice to get all devs registered on the forum and ask everyone to subscribe for "Development" category (https://forums.synfig.org/c/development). This way it can act as mailing list for us (with a cool emojis and likes

[2019-02-05 16:40] morevnaproject commented on #499
(I am not pinging @BobSynfig, since he is already there ^__^).

[2019-02-05 16:49] blackwarthog commented on #499
I dislike google and github and discourse.

But summer is good, and code and mailing list

[2019-02-05 16:59] morevnaproject commented on #499
@blackwarthog Calm down. ^__^ Since you are already on GitHub, I suppose you don't mind Discourse and Google. ^__^

[2019-02-05 17:04] blackwarthog commented on #499
![OK](https://i.kym-cdn.com/entries/icons/original/000/003/617/OkayGuy.jpg)

[2019-02-06 07:10] morevnaproject opened #723 "Internals: Outlines are still rendered as segments"
**Synfig version & platform**:
master branch, 4aa255f9ad852e3de5a64046f243a8b9dc34d143

**Issue description**:
According to latest fixes by @blackwarthog, outlines should be internally rendered as splines. But according to [issue at PR#722](https://github.com/synfig/synfig/pull/722), render engine still uses segments for rendering. That needs fixing.

<bountysource-plugin>

---
Want to back this i

[2019-02-06 16:50] mysliwy112 opened #724 "CD/DVD check, error"
**Synfig version & platform**:
Synfig 1.2.2 on Windows 7 64-bit

**Issue description**:
After inserting DVD/CD and removing it.  (In Synfig) Operations like Save, Open (these which lists filesystem) generates a lot of errors (around 5) "There is no disk in the drive. Please insert a disk into drive" it's kinda annoying (and I'am in hard drive directory, not CD one). There are some workarounds, but

[2019-02-06 18:29] BobSynfig commented on #724
Duplicate of https://github.com/synfig/synfig/issues/489

[2019-02-07 05:40] morevnaproject opened #725 "Build instructions not work on Manjaro Linux"
Instruction at https://synfig-docs-dev.readthedocs.io/en/latest/common/building.html#linux not work on Manjaro Linux.

See comments in https://www.patreon.com/posts/weekly-report-7-23934005

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/69743896-build-instructions-not-work-on-manjaro-linux?utm_campaign=plugin&utm_content=tracker%2F

[2019-02-07 06:56] morevnaproject commented on #489
@BobSynfig I have applied the fix you found! ^__^

@Bill-Jobss Can you please test if this special build will give you "no disk in the drive" errors? - https://downloads.synfig.org/almost-1.3.11/SynfigStudio-1.3.10-testing-19.02.07-win64-47da2-seterrormode.zip

[2019-02-07 06:56] morevnaproject commented on #724
@mysliwy112 We made a test build with a fix. Can you please test it? - https://downloads.synfig.org/almost-1.3.11/SynfigStudio-1.3.10-testing-19.02.07-win64-47da2-seterrormode.zip

[2019-02-07 09:43] mysliwy112 commented on #724
Yes, It works now. No errors.

[2019-02-07 11:45] BobSynfig commented on #489
In fact, it was initially found by @caryoscelus, I just "focused" on a specific comment ;)

[2019-02-07 13:20] morevnaproject commented on #724
Awesome! Closing then. ^__^

[2019-02-07 13:21] morevnaproject commented on #489
Ah, I has skipped the links in his comments because of the last sentence. ^__^

[2019-02-07 15:40] #489 closed

[2019-02-07 15:40] #724 closed

[2019-02-07 21:03] Bill-Jobss commented on #489
Wow! You fixed it. No error messages neither after the program start, nor when opening or saving a project file. Thank you. Good job. So, approximately when do you expect the 1.3.11 will be ready?

[2019-02-07 23:06] BobSynfig commented on #718
I just published the script to create PortableApps portable version for Synfig x64 (1.2.2, 1.3.11-pre5 and 1.3.10-seterrormode currently)
See https://github.com/BobSynfig/synfig-portable-maker for details :)
Anyone can produce it at home from a .zip version

[2019-02-07 23:28] BobSynfig commented on #725
Not even working with 1-setup-nix.sh? (This section has been removed it seems)

[2019-02-08 01:16] ebarranco commented on #725
I used nix before but the documentation changed and the new script now says that I should install all the packages manually.

[2019-02-08 06:21] morevnaproject commented on #627
@ankit-kumar-dwivedi Any progress on this? ^__^

[2019-02-08 06:28] morevnaproject commented on #489
Thank you for testing!

I am building packages for 1.3.11 right now. Hopefully, will finish all release procedures this week. ^__^
Please consider, that it is going to be a **development** version - i.e. it still could have other issues and might not be ready for production use.

[2019-02-08 06:28] morevnaproject commented on #725
Yes, we do not offer NIX as installation method anymore.

[2019-02-08 06:34] morevnaproject commented on #718
@BobSynfig That's great! Any chances to get it submitted to portableapps.com?

[2019-02-08 09:18] BobSynfig commented on #718
@morevnaproject It has to be tested by several people and fine-tuned.
For the moment, I made it for x64 only.
Normally a PA package carries both x86 and x64 binairies (but the other files like resources or locales can be shared), it would be huge (unless we could split  in 2 versions)
I think inclusion in portableapps.com distribution is submissed to some condition, I didn't check, but anyway an "

[2019-02-08 14:06] ankit-kumar-dwivedi commented on #627
Will send a PR soon! 😁

On Fri, Feb 8, 2019, 11:52 AM Konstantin Dmitriev <notifications@github.com
wrote:

[2019-02-08 21:13] Bill-Jobss commented on #718
Maybe it will be easier if you just to keep the settings files separately? The zip packages seemed pretty portable to me, as they were. Say, "Download Master Portable" has an "Application Data" folder inside its application folder where all program's settings are kept.

[2019-02-09 08:32] morevnaproject commented on #716
Added SYNFIG_USER_SETTINGS  environment variable - 671edc0f1b3a622611879. Documented in  https://wiki.synfig.org/Environment_Variables

[2019-02-09 08:35] morevnaproject commented on #718
From now on Synfig 1.3.11 will write settings to file with different name - "settings-1.3".

[2019-02-09 08:54] Irelokeh commented on #721
I Admire this Idea too and I am wondering if it would supplement to put render setting and configurations in a separate, dedicated dialog preferably in preferences menu  so that it can be configured once and not need to be presented every time the user wants to make a render.

I will make mockups later today to visualize this.

[2019-02-09 09:13] ThobyV commented on #721
I Admire this Idea too and I am wondering if it would supplement to put render setting and configurations in a separate, dedicated dialog preferably in preferences menu  so that it can be configured once and not need to be presented every time the user wants to make a render.

[2019-02-09 10:49] Bill-Jobss commented on #718
That is a good progress. But what if a person has, say, the version 1.3.11 installed, and in a version 1.3.15 you decide to add a setting, that would make the settings file incompatible with the version 1.3.11? I have no experience with C++, it must be a very difficult language. Still, for the future it seems much more sustainable to keep settings files separately, in different profiles or in the

[2019-02-09 14:29] #718 closed

[2019-02-09 14:37] morevnaproject commented on #718
@Bill-Jobss In future versions of 1.3.x branch we will try to add compatibility code, which workarounds the issue. Or, if not possible (or too much work) we will change to "settings-1.3.15".

In current solution we are separating settings of stable version from settings of development version.

If this solution is not fits you, then you can use portable  version of Synfig (ZIP file) - according to

[2019-02-09 14:40] morevnaproject commented on #721
@ThobyV In some aspect, this is already like that. Please check "Canvas" -> "Properties" menu command. It will present almost the same dialog, very similar to render settings.

[2019-02-10 00:41] Bill-Jobss commented on #718
That's great news. I actually prefer portable versions.

[2019-02-10 01:50] morevnaproject commented on #716
Just a quick note: it seems the problem here is not about Gamma's Black Level value. The yellow line at timetrack indicates that the rendering is in progress (which is never ends):

![screenshot_001](https://user-images.githubusercontent.com/332868/52528408-a7d52080-2d10-11e9-82e1-96cc57916216.png)

I have tried to disable some layers (using 1.2.2 version and found that the problem is somewhere in

[2019-02-10 04:14] FadhilKwan commented on #716
i can give a bit of explanation on what's inside of it
it might help on further search

[lin] is a group layer that consists of 2 vector layers per shape (advanced outline and it's alpha region), plus a few shapes consists of only advanced outlines

the advanced outlines applied with fast gaussian feathers, with a certain amount of feather

almost all of the shape's layers in [lin] group are linke

[2019-02-10 19:36] ankit-kumar-dwivedi commented on #627
Sorry for taking so long for solving this issue. I was having a busy week
at college. Will let you know the progress tomorrow.

On Fri, Feb 8, 2019, 7:36 PM Ankit Dwivedi <dwivedi.ankit21@gmail.com wrote:

[2019-02-11 14:51] ankit-kumar-dwivedi commented on #627
@morevnaproject How can I check that the changes I made are correct? i.e after building the synfig

[2019-02-11 17:26] Bill-Jobss commented on #718
Just checked "SynfigStudio-1.3.11-testing-19.02.09-win64-9583a.zip". It still creates the folder "C:\Users\{User Name}\AppData\Roaming\Synfig" and the settings files within it.

Were you talking about a different version?

[2019-02-12 01:02] morevnaproject commented on #718
"SynfigStudio-1.3.11-testing-19.02.09-win64-9583a.zip" is a correct version.

I cannot reproduce your issue - for me it creates settings in "config" subdirectory of portable installation.

Did you used "synfigstudio.bat" file to run Synfig?

![screenshot_001](https://user-images.githubusercontent.com/332868/52604222-902aa300-2e9c-11e9-89a7-a6e37d044b80.png)

[2019-02-12 01:33] morevnaproject commented on #627
@ankit-kumar-dwivedi You can check by doing the following steps:
1. Start your compiled version of Synfig.
2. Choose "File" -> "Render..." from menu.
3. In "Filename" text entry you will have something like "Synfig Animation 1.avi" (ends with ".avi").
![screenshot_002](https://user-images.githubusercontent.com/332868/52605219-61163080-2ea0-11e9-88f7-3b7810568ea5.png)

4. In "Target" dropdown choos

[2019-02-12 18:57] Bill-Jobss commented on #718
Oops! No, I just created a shortcut to the synfigstudio.exe and was launching from it. Now I changed it to the "bat" file and everything works. Thank you!

[2019-02-12 19:00] Bill-Jobss commented on #719
Just to let you guys know, the issue remains with the "SynfigStudio-1.3.11-testing-19.02.09-win64-9583a" version.

[2019-02-13 05:40] FadhilKwan commented on #716
i think i know one of the reasons!
i haven't fully inspected this yet, but there's a chance that this is the main cause

'lin' group have lots of layers inside of it (it was like 300+ or something),
it seems that Synfig took a long time to render it, and interrupting this render process will lead to crash,

i tried enabling 'lin' group again after erasing lots of layers inside the file, and it wor

[2019-02-13 12:50] Bill-Jobss opened #726 "Render options have no effect on render quality"
**Synfig version & platform**:
“SynfigStudio-1.3.11-testing-19.02.09-win64-9583a” on Windows 7 (x64)

**Issue description**:
I started a new project, imported a png image, then I tried to render the project as an “mp4” video with ffmpeg using H264/AVC/MPEG-4 AVC (LossLess) codec. But no matter what values I choose for “Quality”, “Anti-Aliasing” and “Resolution”, the result always looks the same: a

[2019-02-13 14:26] Pieterfalun opened #727 "Synfig crashes using text tool (Win 10, saved project)"
**Synfig version & platform**:
Synfig Studio (Stable) - Windows 64bit

**Issue description**:
Whenever I use the text tool, Synfig crashes on my pc (WIN 10). It also crashes when using the text tool in saved projects.

[2019-02-13 14:56] ankit-kumar-dwivedi commented on #627
I assume you missed for **openxer -> ".exr"** and adding this also

[2019-02-13 17:29] Jose-Moreno commented on #727
@Pieterfalun Hi, can you try to use a recent synfig development version and test if this issue is still happening for you? This is a temporary link so if possible try to test it before the upcoming release https://downloads.synfig.org/?dir=almost-1.3.11/1.3.11

If it still crashes can you post the event viewer information for this crash? If you don't know how to access the event viewer on windows

[2019-02-14 14:35] morevnaproject commented on #539
Solved in c34cc22.

[2019-02-14 14:35] #539 closed

[2019-02-14 14:42] morevnaproject commented on #710
@raniaamina Hi! Have you had a chance to verify my theory? ^__^

[2019-02-14 14:57] morevnaproject opened #729 "Add new workarea rendering mode: Preview"
This continues issue #409.

Long story short:

In 17812bc2eaf88be30a6b57587bc55da71265ae2f we have added downsampling for images. This greatly improves quality if your scene uses big images scaled to smaller size. Unfortunately, this operation demands additional CPU resources and you will notice general application slowdown when working with such scenes.

You can enable Draft rendering mode (it di

[2019-02-14 15:45] ankit-kumar-dwivedi commented on #627
@morevnaproject Please review the PR 😃

[2019-02-16 03:15] Jose-Moreno commented on #461
@morevnaproject I think this is something that should be prioritized as well. To be honest the current "image sequence" import via .lst files is to put it kindly, not ideal.

These would be the minimum requirements I can think of, if there are more please comment and i'll add them to this list:

- [ ] It should allow for flexible naming rules, either using regex or by having a naming convention te

[2019-02-16 03:19] Jose-Moreno commented on #506
@libreartist The latest development version of Synfig comes with basic video import included.

https://www.synfig.org/2019/02/16/synfig-studio-1-3-11-released/

If possible can you test and comment if this feature fulfill your original requirements? what else do you think is missing to have a proper video import? We could consider this issue to serve as a checklist for future enhancements.

[2019-02-17 03:40] morevnaproject commented on #461
Hello @Jose-Moreno! Thank you for writing detailed summary on that! I am absolutely agree that current implementation of importing image sequences is horrible and needs improvement. ^__^

Actually, GIF/video import is not rely on switch layer, the things are organized a bit differently there. So, we should think how to extend current (image/video) import layer to accept filename patterns.

[2019-02-17 15:50] FadhilKwan commented on #727
i was about to say the same thing, but now i'm not sure if mine is a crash or just long response time

The text tool finally did its job after working (and hang) for about from 1 minute and 30 seconds, to 2 minutes

But it runs faster after creating the first text,
it works like this regardless of the versions

i sucessfully created my first text on 1.2.2, runs for few minutes before the text was

[2019-02-17 17:29] Pieterfalun commented on #727
Hi all

Thanks for the comments. I've followed Fadhilkwans advice and it works here too. I went away for about 10 minutes, then the text appeared and now everything works fine. It seems as if Synfig needs time to add text only the very first time.

[2019-02-18 01:29] FadhilKwan commented on #727
@Pieterfalun Thank you very much ^-^

I'm glad that it still works on yours as well,

now we know that it's not exactly broken,
it's just taking too long for it's first initialization, that's all 💡

But i think it's still something important to note in (imho) 📋✏️

[2019-02-19 03:38] techdude commented on #424
The issue persists in 1.2.2

[2019-02-19 03:59] #627 closed

[2019-02-19 04:01] morevnaproject commented on #377
The fix is available for testing in Synfig Studio 1.3.11 - https://www.synfig.org/2019/02/16/synfig-studio-1-3-11-released/

[2019-02-19 04:01] morevnaproject commented on #588
The fix is available for testing in Synfig Studio 1.3.11 - https://www.synfig.org/2019/02/16/synfig-studio-1-3-11-released/

[2019-02-19 04:01] morevnaproject commented on #609
The fix is available for testing in Synfig Studio 1.3.11 - https://www.synfig.org/2019/02/16/synfig-studio-1-3-11-released/

[2019-02-19 04:01] morevnaproject commented on #608
The fix is available for testing in Synfig Studio 1.3.11 - https://www.synfig.org/2019/02/16/synfig-studio-1-3-11-released/

[2019-02-19 04:01] morevnaproject commented on #599
The fix is available for testing in Synfig Studio 1.3.11 - https://www.synfig.org/2019/02/16/synfig-studio-1-3-11-released/

[2019-02-19 04:02] morevnaproject commented on #582
The fix is available for testing in Synfig Studio 1.3.11 - https://www.synfig.org/2019/02/16/synfig-studio-1-3-11-released/

[2019-02-19 04:02] morevnaproject commented on #603
The fix is available for testing in Synfig Studio 1.3.11 - https://www.synfig.org/2019/02/16/synfig-studio-1-3-11-released/

[2019-02-19 04:02] morevnaproject commented on #611
The fix is available for testing in Synfig Studio 1.3.11 - https://www.synfig.org/2019/02/16/synfig-studio-1-3-11-released/

[2019-02-19 04:02] morevnaproject commented on #407
The feature is available for testing in Synfig Studio 1.3.11 - https://www.synfig.org/2019/02/16/synfig-studio-1-3-11-released/

[2019-02-19 05:55] techdude commented on #510
Is JACK not supported in the Windows version? I use JACK with Ardour on Windows and it works, but the JACK icon doesn't show up in Synfig so I can't use it with Synfig. Since the audio layer stuff is broken it looks like Windows users are out of luck until that is fixed.

[2019-02-23 21:20] techdude commented on #424
For those waiting for a workaround, the bug doesn't exist on Linux, so you can use that in the meantime.

[2019-02-25 17:56] FadhilKwan commented on #716
i found something interesting while playing around with version 1.3.11

The sifz file can actualy be loaded if the render engine got changed to : Cobra (safe)
![swtrebugonpre3](https://user-images.githubusercontent.com/25135159/53302669-65285200-3893-11e9-987e-0042f45877c2.JPG)

at that moment I was experimenting with the completed version of this artwork
(haven't tested the WIP version yet; the o

[2019-02-25 22:37] Gilraiser opened #730 "Synfig studio does not render the .lst sequences when exporting to any video format."
Synfig 1.3.11 & Archlinux 64x

Synfig studio does not render the .lst sequences when exporting to any video format.

In the work area it shows the animation of the imported .lst. But it does not show it when exporting it to a video or preview. Specifically with the .lst that contains images in PNG.

Thank you. I hope to be helpful.

<bountysource-plugin>

---
Want to back this issue? **[Post a bou

[2019-02-26 22:58] ankit-kumar-dwivedi commented on #499
Congratualations

:tada:
--

![](https://i.ibb.co/N7tSCMh/Capture.png)

 @morevnaproject @WPFilmmaker and everyone at synfig :100:
**Synfig is now a mentoring Organization at GSOC'19**

[2019-02-26 23:24] Jose-Moreno commented on #499
Congrats guys! Hopefully this will push Synfig development and recognition further! Keep up the great work!

[2019-02-27 04:21] morevnaproject commented on #499
Congratulations to everyone!

In the meantime, I have started to write documentation about Synfig's code structure, which will help newcomers to understand how everything works. By this moment I have finished documenting "synfig-core" - https://synfig-docs-dev.readthedocs.io/en/latest/common/structure.html

[2019-02-27 11:51] ThobyV commented on #704
I support this move too. This would be very useful to have in synfig as also the web community Is large and svg-based animation on the web is growing. The thought of Having to use a great tool like synfig to make animations for the web makes me happy.

May I ask, What are the core requirements that could make this happen.

[2019-02-27 12:11] ThobyV commented on #721
Finally. I am  back on my computer and ready. I have been away for a while I am sorry for that.

[2019-02-27 12:12] WPFilmmaker commented on #499
@morevnaproject and all, congratulations! What's the next step? By when do you have to make a list of mentored students?

[2019-02-27 12:14] ThobyV commented on #721
@morevnaproject  I have checked `render settings`. I will make a wireframe soon to show how I feel the render dialog should control Information and present actions.

[2019-02-27 12:33] ThobyV opened #731 "Reference Issue to Discuss Proposals for Synfig User experience Improvements"
**Synfig version 1.4x & platform Linux Fedora 64bit**:

**Issue description**:

In respect to the amazing upcoming build of *Synfig (v1.4.0)* I have decided to make a research about points that can be re-imagined to improve user experience in animating and rendering using synfig.

I hope to make This issue serve as a kind of todo list and link to the UI/UX parts on Synfig we will be looking to wor

[2019-02-27 20:41] reSHARMA commented on #499
@WPFilmmaker interested students will submit their application by 9th April, and you will have a quite a good time to decide :)

Congratulations to all, I remember after last gsoc when I was bored, I googled "gsoc 2019" and got the link to this thread. It's been half a year and I'm elated that we got this issue right <3. Though I've not contributed much in synfig and just been in conversation with

[2019-02-28 06:07] BobSynfig commented on #731
Don't we already have a Roadmap issue ? https://github.com/synfig/synfig/issues/537
Also see the comment of @morevnaproject for more official roadmap here https://github.com/synfig/synfig/issues/537#issuecomment-460676161

[2019-02-28 06:45] ThobyV commented on #731
Oh! I wasn't aware of that. I had just thought this would be an easy way to Reach the interfaces modifications exclusive of the official roadmap.

[2019-02-28 13:55] ankit-kumar-dwivedi commented on #680
@BobSynfig are you currently working on this issue? if not then I would like to work on this issue :)

[2019-02-28 18:37] morevnaproject commented on #731
I think it is fine to have this issue if we will make it concentrated on UI improvements (while #537 is more generic and includes feature requests as well). ^__^

[2019-02-28 18:38] morevnaproject commented on #721
Looking forward to it! ^__^

[2019-02-28 18:41] morevnaproject commented on #704
We need someone who can code a converter from .sif (Synfig format) to Lottie. This could be done in simple language, like Python.

This task requires knowledge of .sif format (this is just XML and easy to understand) and Lottie format (can be figured out from
https://github.com/airbnb/lottie-web/tree/master/docs/json).

[2019-02-28 18:43] morevnaproject commented on #716
This is a very important to know! Thank you for sharing this!

[2019-03-01 06:20] morevnaproject commented on #711
For png target it also freezes if height > 781:
[code]

[2019-03-01 06:23] morevnaproject commented on #729
For solving this issue read about Synfig's render engines here - https://synfig-docs-dev.readthedocs.io/en/latest/common/structure.html#render-engine

[2019-03-01 10:56] ankit-kumar-dwivedi opened #732 "Too many options in <view> menu item"
**Synfig version & platform**:
1.3.11

**Issue description**: Too many options in the <view> menu item
![screenshot from 2019-03-01 16-20-43](https://user-images.githubusercontent.com/37617951/53633703-3e28a200-3c3e-11e9-905c-4b455a41686c.png)
the options are also not correctly aligned i.e due to more number of options in <view> menu item it goes above the menubar, which doesn't look professional.

[2019-03-01 11:02] ankit-kumar-dwivedi commented on #732
one possible solution could be placing some related options say keyframes into a category.

[2019-03-01 15:28] Gilraiser commented on #729
Good Morning,

Hi, I suggest that you create a rendering mode in which only the contours are visible. Not only the contour layer, but also the other types of layers, such as gradients, etc. It would be very useful and I think it could be very light.

Thanks, I hope it helps.

See you soon.

[2019-03-01 16:41] dinolinjob commented on #704
I want to work on this issue.

[2019-03-01 17:17] yshkp commented on #732
@ankit-kumar-dwivedi Its possible solution would be merging the options of relatively same kind into the single group.
@morevnaproject PTAL at my suggestion. Shall I move forward towards it ?

[2019-03-01 17:26] morevnaproject commented on #729
@Gilraiser Yes, I understand - this is called "Outline" or "Wireframe" view in other apps. Can you please open a separate issue for that? ^__^

[2019-03-01 17:58] morevnaproject opened #733 ""View" -> "Toolbar" menu item is not active"
"Toolbar" menu item in "View" menu is not active.

![screenshot_002](https://user-images.githubusercontent.com/332868/53656588-4d334280-3c86-11e9-85c0-18126e41f7b2.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70792867-view-toolbar-menu-item-is-not-active?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_

[2019-03-01 18:02] morevnaproject commented on #733
Possibly worth to take a look at https://github.com/synfig/synfig/commit/a19e5589b6710e8d8e97eeb4c7686c600bcca06f

[2019-03-01 18:12] morevnaproject commented on #732
@yshkp I just want to point out that the following items are actually related to Timeline navigation, not View -
![screenshot_004](https://user-images.githubusercontent.com/332868/53657089-b9fb0c80-3c87-11e9-9e9f-e337c8402d37.png)

So, my suggestion is to create a new menu right after "View" and place outlined items there.
We can call new menu "Navigation" or "Timeline".

[2019-03-01 18:16] yshkp commented on #732
@morevnaproject Yup, I also wanted to mention the same. These options belong to another kind and can be placed to new menu.
Now, As per your suggestion would start working on it.

[2019-03-01 18:17] ankit-kumar-dwivedi commented on #729
@morevnaproject I would love to work on this one.

that's what I did but on reading multiple times I am still not able to get the exact meaning of following lines that would be appreciated if you shed some light, please.

[code]

[2019-03-01 18:22] morevnaproject commented on #731
After thinking more on this, I've got an impression that it is not the best practice to use issues as a list to other issues.

On GitHub we have Labels if we want to group issues together. Like this - https://github.com/synfig/synfig/issues?q=is%3Aopen+is%3Aissue+label%3AText

Sometimes it is important to have a list in specific order. For this purpose we can use GitHub's Project Boards - https://

[2019-03-01 18:29] morevnaproject commented on #732
@ankit-kumar-dwivedi are you okay if I assign that issue to @yshkp ? ^__^

[2019-03-01 18:36] ankit-kumar-dwivedi commented on #732
Yes @morevnaproject that would be great!
What I think is: As long as no one working on an issue anyone can start working on it :)
but letting people know can avoid situations like multiple people working on the same issue.
I think I should add this to contributing guidelines :thinking:

[2019-03-01 19:11] lenixlobo commented on #733
I would like to work on this issue.
@morevnaproject

[2019-03-02 05:57] morevnaproject commented on #733
Great! It is yours now. ^__^

[2019-03-02 06:42] ankit-kumar-dwivedi commented on #729
@morevnaproject can you tell me what do you mean by

As mentioned in https://github.com/synfig/synfig/issues/409#issue-252256398 some layers were disabled and rest were simplified. So do want each and every layer to be simplified in preview mode?

[2019-03-02 09:40] ankit-kumar-dwivedi opened #735 "[GSOC] Vectorization of bitmaps"
I'm Ankit Dwivedi a CSE Student. I'm a contributor at Synfig. I was a part of NjackWOC 18 at Synfig.
I would like to work for the project https://synfig-docs-dev.readthedocs.io/en/latest/gsoc/2019/ideas.html#vectorization-of-bitmaps
As this is something I personally feel is an important feature that Synfig must-have. Even when I'm working for graphic design I encounter a situation where I have to

[2019-03-02 10:39] morevnaproject commented on #729
In Preview mode we would like all layers to be displayed. So, it's more close to "Final" view mode, than "Draft" view mode.

Here's what I expect at first stage:

1. Create a copy of "Final" Renderer (it is a part of "Software" Sub-Engine), rename it to "Preview".
2. Take a look at "Draft" Renderer and see which Optimizers we can include into "Preview" Renderer. So far we need only one Optimizer,

[2019-03-02 10:44] morevnaproject commented on #729
After you get done with changes above, the "Preview" Renderer will be available in Synfig Studio via Edit -> Preferences -> Render

![screenshot_002](https://user-images.githubusercontent.com/332868/53680780-9f21aa00-3d12-11e9-8383-ec9a83e6b93b.png)

At the second stage we need to do necessary UI tweaks:

3. Make "Preview" Renderer a default one for Synfig Studio.
4. Allow to easy switch Renderer

[2019-03-02 10:52] yshkp opened #736 "No text hints for save/save as/save all toolbar buttons"
While going through the software, I found out that beside the disability of Save All button preview of buttons are also not available of other saving buttons.
![screenshot_3](https://user-images.githubusercontent.com/39546036/53680888-4ef11a80-3d07-11e9-8c38-86f344f8e933.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70818520-

[2019-03-02 11:06] morevnaproject commented on #735
Just want to put a project description here:

From my point of view, the vectorization algorithm of OpenToonz works better, because it identifies separate lines and outputs strokes (result = many separate Outline Layers). This is good for further editing vectorized image.

Demo - https://youtu.be/QkpeR72fOzY

The Potrace tool outputs singles region layer (result = single Region Layer), which is no

[2019-03-02 11:07] ankit-kumar-dwivedi commented on #736
@yshkp which version of Synfig are you using?
Also your message is a bit unclear can you edit to elaborate more
Thanks :)

[2019-03-02 11:14] morevnaproject commented on #736
My guess: Do you mean a text hints? (the ones, which appear when you hover on button)

[2019-03-02 11:15] morevnaproject commented on #732
Yes, I think it is mandatory to let other know who is working on the issue. This will help to avoid double-work. ^__^

[2019-03-02 11:16] ankit-kumar-dwivedi commented on #736
@morevnaproject is the save all button disabled temporarily by Synfig?

Yes I just saw this :smile:

[2019-03-02 11:18] morevnaproject commented on #736
@ankit-kumar-dwivedi This should be fixed in https://github.com/synfig/synfig/commit/a19e5589b6710e8d8e97eeb4c7686c600bcca06f

[2019-03-02 11:18] yshkp commented on #736
@morevnaproject Yes, that text hints.

[2019-03-02 11:20] yshkp commented on #736
@ankit-kumar-dwivedi Save All button is been disabled for the first tab.

[2019-03-02 11:20] ankit-kumar-dwivedi commented on #736
@yshkp you many want to go ahead an add the description(text hints)!
This is a easy fix.

[2019-03-02 11:24] rockyhandsome1 opened #737 "Crash- while using Brush tool"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

**Issue description**:

[2019-03-02 11:26] #737 closed

[2019-03-02 11:30] rockyhandsome1 opened #738 "Crash - while using Brush tool"
Synfig version: current master
Platform: Ubuntu 18.04

To reproduce the crash:
Draw any shape in the workarea and then double click(left) on the same.

[2019-03-02 12:46] rohitsanjay commented on #666
Hi,
I am Rohit from IIT Kharagpur. I would like to contribute to this project in Gsoc. Currently, I am going through the given doc( https://docs.conan.io/en/latest/getting_started.html). What are things to be done before submitting the proposal?

[2019-03-02 13:11] dinolinjob commented on #704
I want to implement this feature. Can I work on this one?

[2019-03-02 13:58] Gilraiser commented on #729
Ok I will do it. Thank you.

[2019-03-02 14:12] Gilraiser opened #739 "feature resquest: schematic or wire view"
Hello, I would like Synfig Studio to have a wire view or a contour view in the work area. Only the contours of all types of layers are visible in this mode. I think this could give a light and useful viewing option when it comes to making animations.

I hope it is useful.

Thank you.

[2019-03-02 14:45] rockyhandsome1 commented on #736
@morevnaproject  can I take this issue?

[2019-03-02 14:49] ThobyV commented on #731
I also agree with you @morevnaproject I have seen there is no serious need too and also it is best to use the first option which uses labels. That way It is easier for us to find UI features.

[2019-03-02 14:54] ThobyV commented on #731
I guess this issue should be closed? :smile:

[2019-03-02 15:04] yshkp commented on #736
@rockyhandsome1 Sorry, already started working on it.

[2019-03-02 15:09] rockyhandsome1 commented on #736
Oh I am really sorry, I waited for 10 minutes and thought of working on the issue, I created pull request.

[2019-03-02 16:42] morevnaproject commented on #736
Hi everyone, apologies for delay.

@rockyhandsome1! Thank you for pull request. I can see it includes one redundant commit, which is not related to issue -

![screenshot_001](https://user-images.githubusercontent.com/332868/53684803-ac578c80-3d44-11e9-91b3-9ed4857ec719.png)

Can you please clean it up?

[2019-03-02 16:43] morevnaproject commented on #731
Yes, let's close this for now. ^__^

[2019-03-02 16:46] morevnaproject commented on #731
I have added GUI label for #721. Actually, we have too much stuff marked with this label, which is not relevant - https://github.com/synfig/synfig/issues?q=is%3Aopen+is%3Aissue+label%3AGUI
I think it needs cleanup.

[2019-03-02 16:54] yshkp commented on #738
@rockyhandsome1 Did you notice it in any other platform because I think it works well in windows 10?

[2019-03-02 16:58] ThobyV commented on #704
This would mean writing a Python converter that parses XML into structured JSON. Lottie uses JSON and uses a Javascript interface so it's works well for the web.

[2019-03-02 16:59] ThobyV commented on #704
Am I right to assume this?

[2019-03-02 17:19] AnishGG commented on #704
Hi,
I am Anish from IIIT Hyderabad. I would like to contribute to this project in GSOC. I was going through the idea list and this seems interesting. Could anyone help me get started with this?

[2019-03-02 17:29] rockyhandsome1 commented on #736
There are no pull requests in the forked repository that I have and cannot revert the same. As the initial commit (updated urls included)  is already merged.

[2019-03-02 17:54] rockyhandsome1 commented on #736
I have closed the pull request and will be generating a new pull request soon.

[2019-03-02 17:56] rockyhandsome1 commented on #738
@yshkp No I did not check this on other platforms.

[2019-03-02 18:07] ankit-kumar-dwivedi commented on #738
works fine in linux Mint! no crash. :)

[2019-03-02 19:09] rockyhandsome1 commented on #738
The generated log is as follows:
![screenshot from 2019-03-03 00-33-16](https://user-images.githubusercontent.com/43848518/53686415-b087a800-3d4c-11e9-83a8-ce36bc67f40a.png)

[2019-03-03 10:09] lenixlobo commented on #732
Is @yshkp  Working on this currently ? I was interested in this issue as well.

[2019-03-03 13:59] morevnaproject commented on #736
Note for future: you can update the branch (the one that you used as source for pull request) and relevant pull request will be updated automatically. ^__^

[2019-03-03 14:02] morevnaproject commented on #736
@ankit-kumar-dwivedi @yshkp For future: if someone submits an issue and would like to work on it, then it would be nice to mention something like "I would like to work on  it." in issue description. I suggest to add this to Contributing Guidelines - https://synfig-docs-dev.readthedocs.io/en/latest/community/contribution%20guidelines.html

[2019-03-03 14:03] morevnaproject commented on #736
@ankit-kumar-dwivedi @yshkp For future: if someone submits an issue and would like to work on it, then it would be nice to mention something like "I would like to work on  it." in issue description. I suggest to add this to Contributing Guidelines - https://synfig-docs-dev.readthedocs.io/en/latest/community/contribution%20guidelines.html

I hope this will help to avoid situations of double work to

[2019-03-03 14:05] morevnaproject commented on #736
@rockyhandsome1 The PR looks good now. Thank you! ^__^

[2019-03-03 14:29] morevnaproject commented on #666
Hi @rohitsanjay! My name is Konstantin Dmitriev, I will be mentoring this project.
Can you please give me some information about your skills and background? Also, please let me know which operation systems you are capable to work with (Linux, Windows, OSX)?

[2019-03-03 14:29] morevnaproject commented on #666
About the work on this issue:

I suggest to make some preparation work, to proof your capabilities to work on this project.

Synfig depends on various libraries, that required for building (see https://synfig-docs-dev.readthedocs.io/en/latest/common/dependencies.html). Some of those libraries are already available as Conan packages, some are not. If some library is not available as Conan package,

[2019-03-03 14:30] rockyhandsome1 commented on #684
@morevnaproject I would like to work on this issue.
If I get stuck anyware then will be informing the same.

[2019-03-03 15:06] yshkp commented on #736
@morevnaproject I have made changes in Contributing Guidelines , please have a look.

[2019-03-03 15:08] ankit-kumar-dwivedi commented on #736
Changes already made sir :smiley:

[2019-03-03 15:21] ankit-kumar-dwivedi commented on #736
Please do start working on issue someone is already working. We don't want to waste someone's work

Also @rockyhandsome1 please mention the issue number in the related PR so the issue closes automatically
see ->  https://help.github.com/en/articles/closing-issues-using-keywords

[2019-03-03 15:37] ankit-kumar-dwivedi commented on #735
Well.. yes it seems easy to integrate potrace with synfig that's because it is documented and being used by several other projects. However, on trying myself, I found opentoonz is better and have more accuracy and options.
On finding about the algorithm they use I was unable to directly find any algorithm mentioned anywhere which they use for the raster to vector conversion. Sadly I found no devel

[2019-03-03 16:01] morevnaproject commented on #704
@ThobyV Yes, you right. I think this can be implemented as Python plugin - https://wiki.synfig.org/Doc:Plugins

@dinolinjob @AnishGG welcome to the tread! I suggest to start by implementing a demo plugin that does some very simple conversion. I.e. converts some Synfig file with one simple layer (Rectangle or Circle or Image) to Lottie JSON.

[2019-03-03 16:05] ankit-kumar-dwivedi commented on #736
@morevnaproject please close this issue :)
one more issue solved :100:

[2019-03-03 16:05] #736 closed

[2019-03-03 16:13] morevnaproject commented on #704
@dinolinjob @AnishGG @ThobyV  Before starting, please let me know which simple layer you choose to implement - so we make sure each one is taking different task. ^__^

[2019-03-03 16:31] morevnaproject commented on #736
@ankit-kumar-dwivedi @yshkp Thank you both for the changes!

I suggest to add this to Contributing Guidelines. Mention that people can help by creating new issues. And while creating an issue author can let others know that he is willing to work on it. This is also a very good practice for devs - to create an issue before starting working on some task. ^__^

[2019-03-03 16:55] rohitsanjay commented on #666
@morevnaproject I am second-year computer science undergraduate at IIT Kharagpur, India. I have prior experience with C/C++ and python. I use both Ubuntu and Windows as per requirement.

[2019-03-03 17:01] rohitsanjay commented on #666
I have made a list and verified if they are Conan packed or not. The list is followed:

- [ ] cmake(>=3.1)
- [ ] boost
- [ ] zlib
- [ ] threads
- [ ] sigc++
- [ ] glibmm
- [ ] giomm
- [ ] cairo
- [ ] libxml
- [ ] mlt++
- [ ] fftw
- [ ] pango
- [ ] imagemagick
- [ ] git

[2019-03-03 17:05] ankit-kumar-dwivedi commented on #736
yes, it's a good idea!
I am thinking to add https://github.com/synfig/synfig-tests-regressions/issues/3 from synfig-tests-regressions (as a starting point) it can be a beginner issue and every newcomer can add one file in this way he/she can get familiar with synfig.

[2019-03-03 17:14] morevnaproject commented on #516
Let's start by implementing this for Image Layers only.

What is expected:

1. New option in Preferences of Synfig Studio, which defines a path to application for opening image files ("krita" or "gimp" or similar).
2. User can right-click any image and choose "Edit in external application..." menu item. This should open a image file in application specified in Preferences.

[2019-03-03 17:27] morevnaproject commented on #735
```git grep "Convert to Vectors"``` in ```opentoonz``` sources dir gives me:

[code]

So, name of the action is ```MI_ConvertToVectors```. So I did ```git grep MI_ConvertToVectors``` and got this:

[code]

So, I believe it is good to start looking in ```toonz/sources/toonz/vectorizerpopup.cpp```.

About achievements related to proposal I would like to see the following:
- One feature, which is rel

[2019-03-03 17:34] ThobyV commented on #704
@morevnaproject I think I'll go with a rectangle svg shape. I will make sure to update us here on my progress. :smile:

[2019-03-03 17:57] ankit-kumar-dwivedi commented on #516
Thanks for referring this issue @morevnaproject have my exam on Monday so will be unresponsive for 2 days.
And yes assign this one to me :grin:

[2019-03-03 19:47] dinolinjob commented on #704
@morevnaproject I will go with a circle.

[2019-03-03 19:50] JagsPvr commented on #704
@morevnaproject  I am interested either. I'll go with the circle layer Synfig file. I will make sure to update you here. Most of my stuff is on Gitlab with id prasadPVR.

[2019-03-04 07:24] ashutoshjv661 commented on #732
@morevnaproject  Can I work on this issue ?
Creating a new menu named - Navigation or Timeline
containing -  options mentioned above
+
merging available options
1. Zoom in
2. Zoom out
3. Best Fit
4. Normal Size
into a single option named - "Resize"
If this works out the menu bar will increase by 1(one) menu whereas the options inside <view> would reduce by 13 options as stated above .

This would

[2019-03-04 07:40] lenixlobo opened #742 "Error While Building synfig"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

**Issue description**:
Error :  reference to ‘AVPixelFormat’ is ambiguous

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70886035-error-while-building-synfig?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_so

[2019-03-04 08:00] lenixlobo commented on #742
@morevnaproject  Kindly refer the commit, and notify whether the issue is to be closed

[2019-03-04 08:01] morevnaproject opened #744 "Synfig-core fails to build libavcodec module with old FFmpeg, no video import feature"
System: Ubuntu 16.04

When trying to build synfig-core using "--with-libavcodec" option the compilation fails with an error:

[code]

Currently libavcodec module is disabled (see #742 and #743), but with this we also lost support for video import. This should be solved at high priority.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issue

[2019-03-04 08:04] morevnaproject commented on #744
The build works fine on newer systems (they have newer FFmpeg).

[2019-03-04 08:04] morevnaproject commented on #742
@lenixlobo Thanks for pushing the workaround!

Just want to mention that this is not a complete fix. With this change we lost support for video import (see #744). This should be solved at high priority.

[2019-03-04 08:13] morevnaproject commented on #744
Looks like build files if FFmpeg version is older than 3.0.

https://github.com/LibVNC/libvncserver/issues/231
https://github.com/gerbera/gerbera/issues/52#issuecomment-287712812

[2019-03-04 08:14] morevnaproject commented on #744
As an alternative solution, we can set a hard requirement to compile with FFmpeg >= 3.0.

[2019-03-04 08:20] morevnaproject commented on #704
Hi @JagsPvr ! The Circle layer task is already allocated to @dinolinjob. Please choose some other layer type. I suggest to take Image Layer or Star Layer (https://wiki.synfig.org/Star_Layer).

[2019-03-04 08:25] morevnaproject commented on #704
This might be helpful - https://wiki.synfig.org/Sif_Format

[2019-03-04 08:26] morevnaproject commented on #516
Great! This issue is yours now. ^__^

[2019-03-04 08:28] #742 closed

[2019-03-04 08:32] morevnaproject commented on #732
Hi @ashutoshjv661! Sorry, but this issue already assigned to @yshkp. THank yo for your suggestions anyway! ^__^

[2019-03-04 08:33] morevnaproject commented on #731
I think the problem that "GUI" label means "any issue in GUI (Synfig Studio). So, I think, we need a new label for UI/UX.

[2019-03-04 08:35] AnishGG commented on #704
@morevnaproject, I will go with the star layer.

[2019-03-04 09:35] ashutoshjv661 commented on #732
No Problem . I'll find something new in issues. ^ __ ^

[2019-03-04 09:56] morevnaproject opened #745 "Feature request: Rounded corners for Rectangle Layer"
We need an option to draw Rectangle Layer with rounded corners - http://mathworld.wolfram.com/RoundedRectangle.html

![roundedrectangle_1000](https://user-images.githubusercontent.com/332868/53724840-5fd39480-3e9d-11e9-93f0-14928d909277.gif)

Note: Synfig already has a special layer called  "Filled Rectangle" (can be created by choosing "Layer" -> "New Layer" -> "Examples" -> "Filled Rectangle" fr

[2019-03-04 12:22] rohitsanjay commented on #666
@morevnaproject
The list for synfig-studio is:
- [x] cmake
- [ ] gettext
- [ ] sigcpp
- [ ] gtkmm
- [x] libxml

Here in https://github.com/synfig/synfig/blob/master/synfig-studio/src/CMakeLists.txt  contain packages which are common with synfig-core, which are sigc++ and libxml. I don't think there is need to double check the same module, we should remove those line from [synfig-studio code](https

[2019-03-04 13:59] rockyhandsome1 commented on #684
Hi @morevnaproject I have added the Set end time entry to the end. According to you this should be placed before repeat icon but all these icons fall under single group i.e.,framelist and are referenced with single pointer framelist.
![screenshot from 2019-03-04 19-15-15](https://user-images.githubusercontent.com/43848518/53737510-bc8d7a00-3eb2-11e9-9116-ad35f435edba.png)
and now I am going throug

[2019-03-04 14:07] JagsPvr commented on #704
Ok... I will go with Image Layer.

[2019-03-04 14:11] lenixlobo opened #746 "Editable animation curves in Graphs Panel [GSOC Proposal]"
I am a undergrad student (Engineering) from India,
I'm interested in resolving the above issue,since it is a highly appreciated feature by animators.
Would really appreciate any important things to focus on , with regards to acceptance of my Proposal.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70900033-editable-animation-curves

[2019-03-04 14:32] rohitsanjay commented on #744
@morevnaproject
It would be better if we upgrade FFmpeg during building.
If it would be successful then allow me to work on this.

[2019-03-04 15:03] rohitsanjay commented on #725
@morevnaproject
I went through the comment in https://www.patreon.com/posts/weekly-report-7-23934005 ,
I found out that Manjaro Linux is Arch distribution different from Debian. And Arch uses pacman instead of apt-get to install dependencies.
this https://github.com/synfig/synfig/blob/master/1-setup-linux-native.sh don't have installation script for Manjaro Linux
So, one of the solutions is to add

[2019-03-04 15:35] dinolinjob commented on #704
Which parameter from synfig file format should be referenced to   **"$ref": "#/properties/valueKeyframe"** in lottie json format?

[2019-03-04 16:44] morevnaproject commented on #666
@rohitsanjay Looks good!

Just some quick notes about synfig-core:
- "threads" is a system lib, so there is no need to package it.
- There are also addition dependencies for modules listed here - https://github.com/synfig/synfig/blob/master/synfig-core/src/modules/CMakeLists.txt

For synfig-studio: I am strongly suspect that  for "gettext" we should also use a system one (otherwise, this looks wei

[2019-03-04 16:48] morevnaproject commented on #666
"cairo" available as Conan package here - https://bintray.com/bincrafters/public-conan/cairo%3Abincrafters
"sigc++" is also has Conan package - https://bintray.com/bincrafters/public-conan/sigc%2B%2B%3Abincrafters.

Also, it's ok to take "git" package from system. ^__^

[2019-03-04 16:53] morevnaproject commented on #666
- "glibmm" packed for Conan - https://gitlab.com/no-face/glibmm-conan

[2019-03-04 16:58] rohitsanjay commented on #666
@morevnaproject Thanks for the help
I will recheck and edit the required dependency and report to you.

[2019-03-04 16:58] morevnaproject commented on #666
@rohitsanjay As a next step I suggest to create a Conan package for "pango". I also recommend to mention that you work on it here - https://github.com/conan-io/wishlist/issues/17

[2019-03-04 17:00] morevnaproject commented on #725
@rohitsanjay You are absolutely right! Your help is much appreciated here. ^__^

[2019-03-04 17:01] morevnaproject commented on #744
@rohitsanjay Do you mean to add an explicit check if we have FFmpeg >= 3.0?

[2019-03-04 17:05] morevnaproject commented on #684
Hi @rockyhandsome1! Glad to see you started to work on this issue!
Can you please places the Set End Time entry before the "Loop" button? ^__^

![screenshot_003](https://user-images.githubusercontent.com/332868/53749624-51f03480-3eda-11e9-9982-6fd0fd061f7c.png)

[2019-03-04 17:14] rohitsanjay commented on #744
@morevnaproject
Yes, we can do explicit check too to verify the version of FFmpeg and we can edit the script file to upgrade FFmpeg.

[2019-03-05 06:48] morevnaproject commented on #744
@rohitsanjay
Let's add a verification for FFmpeg version >= 3.0. This would be enough.

I think this is not needed, because newer systems has correct version of FFmpeg.
What we can do is to provide instructions for users of Ubuntu 16.04 and 16.10 on how to install newer FFmpeg (and let them do that manually).

And, as  soon as we get #666 done, this issue will be resolved automatically (the correc

[2019-03-05 06:52] morevnaproject commented on #704
@dinolinjob Are you referring to this? - https://github.com/airbnb/lottie-web/blob/master/docs/json/properties/valueKeyframe.json

[2019-03-05 06:54] morevnaproject commented on #704
For everyone: Important information about this project - https://forums.synfig.org/t/gsoc-2019-export-for-web/9507/17?u=konstantindmitriev

[2019-03-05 08:04] rohitsanjay commented on #744
@morevnaproject
Ok, I will do it and edit the building doc too.

[2019-03-05 08:49] ThobyV commented on #704
Truly the information from the page is awesome. I think it may be possible to export simple SVG-only animations and work on other issues on time. The lottie library does not seem to support all AE effects itself. Anyways I made this simple animation in synfig (Exported svg as .sif from Inkscape)_for testing the exporter which I will  be really happy if it animates on the web. I love the web and be

[2019-03-05 10:55] dinolinjob commented on #704
Yeah, @morevnaproject I want to know what is the parameter for "k", "x", "ix" in synfig format?

[2019-03-05 14:05] yshkp commented on #745
@morevnaproject Please allow me to have a look in this.

[2019-03-05 14:46] morevnaproject commented on #736
@ankit-kumar-dwivedi Thank you for making changes! Good point about https://github.com/synfig/synfig-tests-regressions/issues/3! ^__^

[2019-03-05 14:49] rockyhandsome1 commented on #684
Hi @morevnaproject is there any way to call each framedial button seperately for there position adjustment in canvasview.cpp. If not then modifyng the framedial library is the way?

[2019-03-05 16:10] morevnaproject commented on #267
I think we can split this task in several steps.

**Step 0:** here is how Graphs Panel look at the moment:

In UI context:
![screenshot_003](https://user-images.githubusercontent.com/332868/53815801-ee770d00-3f94-11e9-904b-07a328644731.png)

Separate screenshot:
![screenshot_004](https://user-images.githubusercontent.com/332868/53815836-09498180-3f95-11e9-9def-ef8b841cd1b8.png)

**Step 1:** Add ma

[2019-03-05 16:11] morevnaproject commented on #746
Hi @lenixlobo! I happy to see you've got interested about this issue!
Please check my comment in this thread - https://github.com/synfig/synfig/issues/267#issuecomment-469740322
I suggest to continue discussion there. ^__^

[2019-03-05 16:20] morevnaproject commented on #704
@ThobyV On SVG topic: I remember one user requested the possibility to export frames from Synfig into SVG image - https://www.facebook.com/synfig.org/posts/10156102720090920?comment_id=10156104482200920

@dinolinjob Sorry, I do not see  "k", "x", "ix" in https://github.com/airbnb/lottie-web/blob/master/docs/json/properties/valueKeyframe.json ^_^"
Can you please clarify what do you mean?

[2019-03-05 16:21] morevnaproject commented on #745
@yshkp Awesome! This issue is yours now. ^__^

[2019-03-05 16:22] morevnaproject commented on #744
Great! ^__^

[2019-03-05 16:27] morevnaproject commented on #684
Yes, you have to modify https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/dials/framedial.cpp

[2019-03-05 17:16] ashutoshjv661 commented on #262
I would like to look into this issue #262 : )

[2019-03-05 18:30] dinolinjob commented on #704
Sorry @morevnaproject  "k", "x", "ix" in [https://github.com/airbnb/lottie-web/blob/master/docs/json/properties/value.json](https://github.com/airbnb/lottie-web/blob/master/docs/json/properties/value.json)

[2019-03-06 07:26] morevnaproject commented on #262
Great, it is yours now! ^__^

[2019-03-06 07:42] ankit-kumar-dwivedi commented on #729
@morevnaproject I added the new rendering mode - "Cobra Preview" and made it the default renderer.
I verified it's working.

The above line Implied to NEAREST INTERPOLATION so I used the **OptimizerDraftTransformation**
Will be sending a PR after making the GUI changes.

[2019-03-06 10:01] yshkp commented on #745
@morevnaproject Its being great to work with you, enjoying it. ^_^
 Can I have your email address for any query or discussion?
And one doubt related to the issue : Do we need to add a feature of rounded corner rectangle layer or just to improve the filled rectangle layer ?

[2019-03-06 10:29] morevnaproject commented on #745
@yshkp You can contact me via https://www.synfig.org/contact/ ^__^

We need to add rounded corners to  Rectangle Layer.

[2019-03-06 14:20] rockyhandsome1 commented on #684
Hi @morevnaproject  I placed it in the desired location and now I will work on its implementation.
I have to manage my college too so, will be bringing this feature in to effect soon.
![screenshot from 2019-03-06 19-45-44](https://user-images.githubusercontent.com/43848518/53887566-926dc080-4048-11e9-94c2-f4647a163efa.png)

[2019-03-06 16:54] ankit-kumar-dwivedi commented on #729
@morevnaproject Made a PR please review :)

[2019-03-06 17:50] morevnaproject commented on #738
@rockyhandsome1 I also cannot reproduce the crash. Can you please record a video showing how this happens for you? Thanks!

[2019-03-06 17:58] rohitsanjay commented on #666
@morevnaproject
I have updated the list, Please verify, I have little doubt about it.
Thanks,

[2019-03-06 18:14] morevnaproject commented on #704
@dinolinjob I am not very familiar with Lottie format yet, so I cannot say for sure.

But, as far as I can see, https://github.com/airbnb/lottie-web/blob/master/docs/json/properties/value.json describes just an arbitrary value of some parameter. I.e., Circle Layer has Radius Parameter, which is defined by some value. This is what https://github.com/airbnb/lottie-web/blob/master/docs/json/propertie

[2019-03-06 18:18] morevnaproject commented on #684
@rockyhandsome1 Looks good! Thanks for keeping me updated! ^__^

[2019-03-06 18:19] #432 closed

[2019-03-06 18:20] morevnaproject commented on #732
Closed by #748.

[2019-03-06 18:25] morevnaproject opened #750 "Navigation -> Pause menu item doesn't works"
**Synfig version & platform**:
Master branch, commit a9430e306d4aff662bb5a4d329fdc8ab1cfa87f9

**Issue description**:
Choosing "Navigation" -> "Pause" does nothing.

Steps to reproduce:
* Start Playback
* Choose  "Navigation" -> "Pause" from menu. Nothing happens (playback continues).

NOTE: In previous versions the command was at "View" -> "Pause", and it wasn't working as well.

<bountysource-pl

[2019-03-06 18:50] morevnaproject commented on #666
@rohitsanjay
Just want to note that Synfig's CMake  scripts are not mature yet (we are in transition from Atuotools to CMake), So, they seems to be not listing all dependencies. So, I have consulted https://github.com/synfig/synfig/blob/master/synfig-core/configure.ac to complete the list.

Here are my comments:

- "std" - this is okay to remove (no dependencies on external libraries).
- "bmp" - s

[2019-03-06 18:52] morevnaproject commented on #666
P.S. Just to avoid misunderstanding: When I say "this is okay to remove" I mean "remove from list". ^__^

[2019-03-06 19:12] rohitsanjay commented on #666
Thanks, @morevnaproject
As a summary we need to create Conan package for:
giomm, mlt++, pango, gtkmm as the priority and then bmp and example.
I will be working on pango now.

I have made a list and verified if they are Conan packed or not.
- [x] cmake(>=3.1)
- [x] boost
- [x] zlib
- [x] threads(system)
- [x] sigc++
- [x] glibmm
- [ ] giomm
- [x] cairo
- [x] libxml
- [ ] mlt++
- [x] fftw
- [ ] pan

[2019-03-06 19:48] ankit-kumar-dwivedi opened #751 "[ETL] std::auto_ptr is deprecated"
**Synfig version & platform**:
Development version on Linux Mint

**Issue description**:
On building ETL the following warning appears:
[code]
I think we can simply use unique_ptr or shared_ptr accordingly :)
you can refer here -> https://stackoverflow.com/questions/2404115/is-auto-ptr-deprecated

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource

[2019-03-06 19:56] ankit-kumar-dwivedi opened #752 "[ETL] warning: dynamic exception specifications are deprecated in C++11"
**Synfig version & platform**:
Development version on Linux Mint

**Issue description**:
I get the following warning while building ETL
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/71023636-etl-warning-dynamic-exception-specifications-are-deprecated-in-c-11?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues

[2019-03-07 00:35] ashutoshjv661 commented on #751
I would like work on this issue : )

[2019-03-07 04:50] dinolinjob commented on #704
Thanks @morevnaproject I have created a simple lottie json by exporting from AE via bodymovin.
Now, I 'm mapping the required parameters between sif and json.

[2019-03-07 12:56] IwannaAnimate opened #753 "Problem time axe and keyframe"
So I am a noob at this program, and i wanna use it to animate longer videos. Now I've been trying to figure out how I can have a longer time-axis for the keyframes. Whatever I do it stays locked in 120f, and I can't seem to change it, nor when I create new keyframes that exceed 120f it plays them out when I try to look at the progress of the animation.

I hope someone can help me with this issue,

[2019-03-07 14:33] ashutoshjv661 commented on #751
[https://www.cleancss.com/explain-command/gcc/4839](url)
As Mentioned in the above link
 -Wno-deprecated-declarations can supress the auto_ptr warnings .
Can you please validate this ?

`ashutosh@ashutosh-pc:~/synfig.git$ git diff
diff --git a/autobuild/build.sh b/autobuild/build.sh
index bfc1f8248..14f0314fb 100755
--- a/autobuild/build.sh
+++ b/autobuild/build.sh
@@ -85,7 +85,7 @@ export PATH=${

[2019-03-07 14:39] Jose-Moreno commented on #753
@IwannaAnimate Hi. Normally this page is meant to report bugs and problems in the program. For usage it's better to use the forum at https://forums.synfig.org

Now to answer your query, it is possible to extend the duration of any given scene by going to:

**menu CANVAS > PROPERTIES ... > TIME tab > End Time [xxx] f**

Currently an implementation is being worked upon to allow users to extend the t

[2019-03-08 04:47] Domarius opened #755 "Render locks up for HD 1920x1080 animation"
**Synfig version & platform**:
SynfigStudio-1.3.11-testing-19.02.09-linux64-9583a.appimage

**Issue description**:
In this zip [Animation files.zip](https://github.com/synfig/synfig/files/2944413/Animation.files.zip) are two files of a rotating rectangle.  This helps demonstrate the issue.

"Synfig Animation 1", this one is 480x270 (the default).  Click File, Render, and Render, the Render progres

[2019-03-08 06:41] BobSynfig commented on #755
Know issue: https://github.com/synfig/synfig/issues/711
This is due to the "number of pixels" in the reserved pixbuf.
Currently 1500000 pix
1289x720 works (921600 < 1500000)
1650x928 doesn't (1531200 > 1500000)
A solution has already been proposed in the mentionned issue to solve this "bug" and can therefore be closed.
Please check existing issues before to declare a new one ;)

[2019-03-08 06:44] BobSynfig commented on #753
Thank you @Jose-Moreno, I would not have said better :)
I close this "issue"

[2019-03-08 06:44] #753 closed

[2019-03-08 07:02] AnishGG commented on #295
Any updates on this issue? Is this gonna be standardized?
Also @caryoscelus you mentioned that a convertor can be made, can you elaborate on that? How would you convert the current interpolation methods into the bezier curve for value interpolation.
This will be handy in #704 , because lottie and adobe AE currently use bezier interpolation.

[2019-03-08 08:26] Domarius commented on #755
Thanks for letting me know :) I did look but I missed that one somehow.  In my defence it's refering to CLI but this happens in the GUI too, so it's not specific to the CLI.  Perhaps #711 title could be updated to be more general?

[2019-03-08 08:26] #755 closed

[2019-03-08 10:29] morevnaproject commented on #711
As reported in #755, this also happens when doing GUI render.

[2019-03-08 10:29] morevnaproject commented on #755
@Domarius Thanks for letting us know! I have updated the issue. ^__^

[2019-03-08 13:06] 9inpachi commented on #629
Is there a specific reason why the delete key alone is not made to work?
It would obviously be better if only the delete button does the work. Thats the convention either way.

[2019-03-08 13:16] caryoscelus commented on #295
Well, any continuous real -> real function can be approximated with beziers. In fact, there is already some conversion like that implemented in synfig for freehand tool. Though of course it would be better to be able to preserve or at least control amount of key points.

[2019-03-08 13:34] ankit-kumar-dwivedi commented on #516
@morevnaproject working on it now :)

[2019-03-08 14:19] rockyhandsome1 commented on #738
@morevnaproject Sorry for the delay
[Screencast from Friday 08 March 2019 07:43:30  IST.zip](https://github.com/synfig/synfig/files/2946120/Screencast.from.Friday.08.March.2019.07.43.30.IST.zip)

[2019-03-08 14:38] rockyhandsome1 commented on #684
Hi @morevnaproject I am stuck need your help.
I have submitted a message at: https://www.synfig.org/contact/
waiting for your reply.

[2019-03-08 14:41] sagar-joshi commented on #745
@morevnaproject    I know this issue is assigned to yshkp , I am just asking as i am a bit confused about rounded circle thing.
You wrote:
 "The Filled Rectangle layer has an option for rounded corners, but it doesn't draw them correctly in two aspects:

    the rounded parts has no antialiasing.
    the corners are not circles.
"
In your picture Keep bevel circular was unchecked. So i tried to dr

[2019-03-08 17:20] morevnaproject commented on #684
@rockyhandsome1 Yes, sorry for some delay. Duplicating answer here just in case ^__^ -

I think you need to create a signal in framedial.h, which is responsive for changing value of TextEntry.
Here you can see similar signals created for buttons in framedial.h - https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/dials/framedial.h#L76

Then, in canvasview.cpp you connect signal to a

[2019-03-08 17:47] morevnaproject commented on #666
@rohitsanjay You can remove 'bmp" and "example" as well (no need for Conan packages). ^__^

Also, I suggest to remove everything which is falls into "Not required" category.

In all other aspects I am happy with this list. ^__^

[2019-03-08 18:06] morevnaproject commented on #745
@sagar-joshi OMG,  this option was there for all this time and I didn't noticed it. O___O
Thanks for pointing on this! Also, it looks like the result is also antialiased (probably got implemented as consequence of porting Shape Class to Cobra render engine).

[2019-03-08 18:16] morevnaproject commented on #745
@yshkp  Okay, then the task narrows down to merging algorithm from FilledRectangle Layer to Rectangle Layer. You will also need to properly handle the Expand parameter of Rectangle Layer.

[2019-03-08 18:27] #729 closed

[2019-03-08 18:34] morevnaproject commented on #516
By default Synfig doesn't embeds images into its files. It just references them.
You can obtain image path from image layer -

![screenshot_001](https://user-images.githubusercontent.com/332868/54048053-3f903680-420b-11e9-80bb-fd189a2f9a9e.png)

So, all you need to do is to launch binary (the one specified in preferences) and pass an image path as an argument to it. I.e.:

[code]

[2019-03-08 18:36] #732 closed

[2019-03-08 18:36] morevnaproject commented on #629
@9inpachi The problem is with how Synfig handles keyboard shortcuts. Enabling Delete key will make layers deleted, when user press Delete in text entry fields (i.e. when editing parameters).

See related issue - https://github.com/synfig/synfig/issues/257

[2019-03-08 18:37] morevnaproject commented on #751
Sorry, but ```-Wno-deprecated-declarations``` flag is just suppressing warnings, but this is not a solution for the issue.

[2019-03-08 18:43] BobSynfig commented on #711
This may help:
https://github.githistory.xyz/synfig/synfig/blob/master/synfig-core/src/synfig/target_scanline.cpp

[2019-03-08 18:45] morevnaproject commented on #711
@blackwarthog Any progress on this? ^__^

[2019-03-08 18:51] 9inpachi commented on #629
I see. Thanks for the clarification.

[2019-03-08 18:54] ankit-kumar-dwivedi commented on #516
@morevnaproject will send a PR tomorrow :)

[2019-03-08 18:58] ankit-kumar-dwivedi commented on #751
@morevnaproject I think this can wait a bit to be solved.
The reason is they deprecated auto_ptr but never removed it. And I think they won't.

[2019-03-08 20:37] 9inpachi commented on #750
Hi @morevnaproject ,
I have been looking around for a fix of this issue and have gathered some data from my research.
A possible problem could be with
[code]
This part of the code does not seem to be working. Or is SLOT_EVENT a dummy event?

A possible solution could be to use the CanvasView::stop_async function to make it work.

I am not sure if this actually is the problem. Its actually a little

[2019-03-08 21:59] Domarius commented on #755
@morevnaproject You're welcome, happy to contribute.  It's the perfect successor to Flash IMO, free or not...

[2019-03-08 23:09] Jose-Moreno commented on #739
For inspiration to developers that wants to tackle this please take a look at how professional software does it, such as:
- Adobe Flash / Animate CC, View layer content as Outlines "mode" [Video timestamp 0:52](https://youtu.be/qQkUQqXIZJM?t=52)
- Moho Pro (the closest commercial software similar to Synfig) Display Quality Options
![image](https://user-images.githubusercontent.com/4912907/54060577

[2019-03-09 05:38] yshkp commented on #745
@morevnaproject Yeah I also checked today only about bevel circular :P because of an exam I was offline so couldn't start working but now with full flow gonna start working. So now issue turns to be of merging the filled rectangle layer to rectangle layer, what is the difference basically between them?

[2019-03-09 08:19] 9inpachi commented on #750
This issue is fixed. I am submitting a PR now.
Please review the changes.

[2019-03-09 10:10] ankit-kumar-dwivedi commented on #516
@morevnaproject I saw the code of LibreOffice for "Edit in external tool" they save the image temporarily somewhere and "edit" works on that local copy, not on the original one.

This will, however, change the original file which I think not all user wants
So what I am thinking now
- add an option Preferred image editor in preferences
![Untitled Diagram](https://user-images.githubusercontent.com/3

[2019-03-09 15:14] morevnaproject commented on #739
@Jose-Moreno This is a good start!

Since this feature needs a well-thought and detailed description, I suggest to create a special page in Developer Documentation - https://synfig-docs-dev.readthedocs.io/en/latest/ (we can add a special section for projects like that).

This way, the proposal can be enhanced by several users, while discussion can be continued here. ^__^

[2019-03-09 15:23] morevnaproject commented on #516
Still, we would expect original file to be edited. So, here I have to insist - please make edits on original file. ^__^

[2019-03-09 16:14] morevnaproject commented on #516
Also, here is what I've just found:

![screenshot_002](https://user-images.githubusercontent.com/332868/54073479-30b48d00-42ba-11e9-91a3-cca8e7d10736.png)

If you import an image, then expand a yellow group and right-click a layer inside, then you can see there is already "Open file ..." menu item exists.

The code for it can be found here:

https://github.com/synfig/synfig/blob/f1244c28e1a7407570

[2019-03-09 16:17] #750 closed

[2019-03-09 16:22] morevnaproject opened #758 "Remove Navigator Renderer option from Preferences"
Currently we have an option in Preferences to separately choose renderers for Navigator and Workarea.

I suggest to remove an option for Navigator renderer and always use same renderers forboth Workarea and Navigator.

![screenshot_007](https://user-images.githubusercontent.com/332868/54074192-1383bc80-42c2-11e9-9028-17d112b29651.png)

![screenshot_008](https://user-images.githubusercontent.com/33

[2019-03-09 16:23] morevnaproject commented on #750
@9inpachi Works perfectly! Thank you! ^__^

[2019-03-09 16:27] morevnaproject commented on #745
@yshkp

Rectangle Layer has **Expand** and **Invert** features (parameters).

Filled Rectangle has **Bevel** and **Feather** features (parameters).

It would be cool to have best of both worlds in single Rectangle Layer. ^__^

[2019-03-09 16:30] morevnaproject commented on #738
@rockyhandsome1
Ah, I see! The issue happens on debug build only (assertion thrown). And I was testing on non-debug build.

Thank you for reporting!

[2019-03-09 16:31] morevnaproject commented on #751
@ankit-kumar-dwivedi I agree, this i not a top-priority issue.

[2019-03-09 16:36] ashutoshjv661 commented on #751
Is it a good idea to delete the branch that I created to send a PR ?

[2019-03-09 16:59] morevnaproject commented on #751
Yes, it is okay to close #754 and delete branch.

[2019-03-09 17:02] yshkp commented on #745
@morevnaproject Yup soon it will be done.
Also, request you to check your mail sent via link you gave to me.

[2019-03-09 17:18] ankit-kumar-dwivedi commented on #758
@morevnaproject as I worked on renderer so I wish to work on this one if you assign this to me :)

[2019-03-09 17:19] morevnaproject commented on #758
@ankit-kumar-dwivedi Great! It is yours now. ^__^

[2019-03-09 17:28] ankit-kumar-dwivedi commented on #516
Sure @morevnaproject  :+1:  will make changes accordingly.

I have one concern when I create an image layer shouldn't synfig ask me? for image file :question:

[2019-03-09 18:00] ankit-kumar-dwivedi commented on #516
I see this as this is also a problem with what libreoffice did (I am not sure if they upgraded) relying on OS file association is never a good idea :100:  This works for me as I have associated krita with png images.

Yes we can surely do that
Thanks for the pointers @morevnaproject I will aslo add a prompt in case of

[2019-03-09 18:27] yshkp commented on #745
@morevnaproject  And also after it is merged into single rectangle layer option of filled rectangle in `New Layer -> Example -> Filled Rectangle` is not required so I would also remove it from there.

[2019-03-09 18:29] yshkp commented on #745
@morevnaproject  And also after it is merged into single rectangle layer option of `Filled Rectangle` in `New Layer -> Example -> Filled Rectangle` is not required so I would also remove it from there.

[2019-03-09 19:23] Domarius commented on #711
I noticed the featured movies on the Synfig home page are 1920x1080 so this resolution must have been possible at some point.

[2019-03-09 19:37] 9inpachi opened #759 "[GSoC] Skeleton Tool"
Hi. My name is Fawad Ali and I would like to code in this year's GSoC for this Open Source software.
I have a personal interest in animation, especially Anime. I have worked in Animate CC and made some simple animations for a couple of games (frame-by-frame mostly) and I have prior experience with C++ and Visual C++.
I would like to work on the Skeleton Tool project for the summer if I am selected

[2019-03-09 21:46] Jose-Moreno commented on #759
@9inpachi Hi. Although I'm not part of Synfig's team, I can tell you in advance that there are some important issues related to the Skeleton that range from critical bugs to low priority enhancement requests, which i'll outline as follows:

**Bugs**

- [Unexpected bone duplication when opening files from previous versions](https://github.com/synfig/synfig/issues/714)
- [Artwork origin point changi

[2019-03-09 21:52] BobSynfig commented on #711
I think the reason was to avoid to manipulate too much big pixbuf and consume huge amount of RAM, in "the old good time", and it has been changed during Cobra development.
When I did the test described above https://github.com/synfig/synfig/issues/711#issuecomment-456222617, it was working fine.
Or we could simply `#define PIXEL_RENDERING_LIMIT 2073600` to allow Full HD if we really need to set a

[2019-03-10 09:49] 9inpachi commented on #759
Thanks @Jose-Moreno.
I will try looking into one of these issues. Hope I can get a good grasp.

[2019-03-10 10:55] susmita97 commented on #704
Is there any layer task that I can start working on that has not been assigned yet?

[2019-03-10 14:56] AnishGG commented on #295
Hey @caryoscelus, thank you for writing back!
Could you please point me towards the right direction. I need to convert the current TCB values to ease-in and ease-out values in cubic curve for bezier(http://cubic-bezier.com). Even after lots of googling, I am not able to find some resource where I can read this.
Any help would be highly appreciated. ^_^
Thanks in advance!

[2019-03-10 16:09] morevnaproject commented on #704
Hi @susmita97! Glad to see you here. I suggest you to take an Image Layer. ^__^

[2019-03-10 16:18] morevnaproject commented on #711
I prefer @blackwarthog to do a real fix. ^__^

[2019-03-10 17:01] caryoscelus commented on #295
On Sun, 10 Mar 2019 07:56:04 -0700
Anish Gulati <notifications@github.com> wrote:

There are two different approaches to this. First is to learn how
both TCB and bezier works and then look for possible approximation
from there. Another is to "forget" what TCB is and treat it like a set
of points (or blackbox continuous function) and use generic algorithm
for curve fitting. I'm not an expert on the

[2019-03-10 19:29] 9inpachi commented on #375
Correction: Deleting the child node is what makes the program crash.

**Image 1:** Only parent node exists.
![Image 1](https://pasteboard.co/I4OyxOD.jpg)

**Image 2:** Both parent and child node exist.
![Image 2](https://pasteboard.co/I4OzhNX.jpg)

**Image 3:** Only child node exists with a parent node inside it, but no crash.
![Image 3](https://pasteboard.co/I4OAuby.jpg)

[2019-03-11 05:32] morevnaproject commented on #738
There is an interesting discussion about Brush Tool here - https://forums.synfig.org/t/remove-brush-tool-from-synfig-studio-stable-release/9572

[2019-03-11 05:36] morevnaproject opened #760 "Disable Brush Tool"
As result of discussion here - https://forums.synfig.org/t/remove-brush-tool-from-synfig-studio-stable-release/9572:

So, I am proposing the following:

- Add an option to Preferences, which enables and disables experimental features. Call it “Enable experimental features”.
-  This option should be disabled by default.
-  Add a code to hide Brush Tool icon from Toolbox if “Enable experimental feat

[2019-03-11 06:36] 9inpachi commented on #760
@morevnaproject I will start looking into this. Let me take care of it.

[2019-03-11 07:01] morevnaproject commented on #759
@Jose-Moreno Thank you for giving the summary of current issues!

@9inpachi Hi Fawad! I am happy you got interested in this project! ^__^
Before we start discussing, it is important to make sure you understand the current functionality of bones in Synfig. The best way to achieve this is to watch our video course. Please mail me via https://www.synfig.org/contact/ and I will provide you a personal

[2019-03-11 07:04] morevnaproject commented on #760
@9inpachi Awesome! This issue is yours now. ^__^

[2019-03-11 07:10] morevnaproject commented on #375
@9inpachi Hey, you right. My mistake. I edited the description now.

[2019-03-11 07:11] morevnaproject commented on #375
Steps to avoid the crash:

- Add Skeleton Layer (normal or deformation)
- Add Child bone (right click on handle or from context menu in parameters panel "add item 'smart' ")
- Find the child bone in Parameters Panel and set its parent to "None"
- Right click on the child bone and choose "Remove Item 'smart' " -> No crash.

[2019-03-11 07:14] morevnaproject commented on #745
Oh, just found it has gone to spam. Will respond soon! ^__^

Yes! ^__^

[2019-03-11 10:07] morevnaproject commented on #516
Actually that would be cool addition! (this can be a separate PR, if you like) ^__^

[2019-03-11 10:11] morevnaproject commented on #711
@blackwarthog Testing changes in  ddba1d2 and attempt to render gives me "Render Failure" error now:

[code]

[2019-03-11 11:18] morevnaproject commented on #262
Hi @ashutoshjv661! Any progress on this? ^__^

[2019-03-11 11:31] morevnaproject opened #761 "Drag-select multiple waypoints"
Allow user to select multiple waypoints without tediously having to click them one by one. User should be able to click and drag a box around multiple ones to select them all.

For this I suggest to add a "box-selection tool" to TimeTrack panel:

![screenshot_002](https://user-images.githubusercontent.com/332868/54120983-d6d3d480-442b-11e9-8481-47e1db9e97d0.png)

[2019-03-11 11:37] morevnaproject opened #762 "Allow to select multiple waypoints from different rows"
Allow user to select multiple waypoints by holding CTRL.

Currently this is possible if waypoints belong to the same parameter.
But if waypoints belong to different parameters, then it is impossible to select them together.

[2019-03-11 11:37] morevnaproject commented on #266
There is a good summary on that topic here - https://forums.synfig.org/t/waypoints-what-could-be-the-future-of/2944

[2019-03-11 12:07] morevnaproject opened #763 "Show summary of all waypoints for current layer"
In Timetrack Panel: add a row, which shows a summary of all waypoints for current layer -
![screenshot_004](https://user-images.githubusercontent.com/332868/54122762-8e6ae580-4430-11e9-8e4c-e7933bc39e84.png)

Each waypoint marker in Summary row represents a combination of all waypoints for this particular time (at this current layer).

Similar feature in Blender:

![blender](https://user-images.gi

[2019-03-11 12:47] susmita97 commented on #704
Yes I will start working on it right away.

[2019-03-11 12:57] #711 closed

[2019-03-11 13:13] morevnaproject commented on #711
@blackwarthog Works perfectly, thank you! ^__^

[2019-03-11 13:48] yshkp commented on #762
@morevnaproject As it is related to my project which I proposed to you so you can assign it to me and further it will be continued during our project period.

[2019-03-11 15:05] ankit-kumar-dwivedi commented on #516
@morevnaproject I am not able to completely understand the gather_uri() is it documented somewhere?
@blackwarthog tagged you because you own this code :)
I appreciate if you can brief me a bit.

[2019-03-11 15:46] 9inpachi commented on #375
@morevnaproject I followed the instructions in order to avoid a crash, but it still happens.
Can you please verify again?
I don't think changing the Parent to "None" is working. It might be an issue related to the creation of child bone and the Parent parameter of that created child bone.

[2019-03-11 15:53] blackwarthog commented on #516
Instance::gather_uri() helps to find all external files that used in currently open canvas.
This fuction uses to find files for context menu items starting with 'Open file...'

There are several gather_uri() methods which called each other recursively, and root entry point is:
Instance::gather_uri(std::map<synfig::String, synfig::String> &x, const synfigapp::SelectionManager::LayerList &layers)

T

[2019-03-11 16:44] morevnaproject commented on #762
@yshkp Assigned to you now. ^__^

[2019-03-11 16:50] morevnaproject commented on #375
Ah, you right. I just found there is one more step required to avoid the crash. Before deleting the ex-child bone you should select another bone in the Parameters Panel.

So, here is a corrected sequence:

-    Add Skeleton Layer (normal or deformation)
-    Add Child bone (right click on handle or from context menu in parameters panel "add item 'smart' ")
-    Find the child bone in Parameters Pa

[2019-03-11 19:13] 9inpachi commented on #760
@morevnaproject I have setup the code for the "Enable experimental features" preference but can not fund the code where the tools are located.
If you can refer to some files, that would help a lot.
Thanks. :)

[2019-03-12 05:29] morevnaproject commented on #760
In Synfig tools are called "states". Please take a look here:

https://github.com/synfig/synfig/blob/59badba9e0c9eeed52176a7ce1fce08a6692f2c6/synfig-studio/src/gui/app.cpp#L1727

P.S. I am looking forward for your email. as mentioned in https://github.com/synfig/synfig/issues/759#issuecomment-471425914 ^__^

[2019-03-12 05:58] morevnaproject commented on #726
I can confirm this.

But, when you render to PNG, then the quality is not drops.

Also, things to note:

- Your image size is 960x540.
- If you try to render mp4 with dimensions 960x540, then it renders into 960x544 (because codec requires each dimension to be divided by 8). So, that triggers resize of canvas to 960x544 and interpolation is applied (which result in slightly blurred image).

I did

[2019-03-12 06:27] #717 closed

[2019-03-12 07:14] morevnaproject commented on #581
Fixed in 9b3fe68804dd3d5bfb5d6ac43a74fa72138b6c18. Thank you @blackwarthog!

[2019-03-12 07:14] #581 closed

[2019-03-12 07:16] morevnaproject commented on #720
Fixed in 9b3fe68. Thank you, @blackwarthog! ^__^

[2019-03-12 07:16] #720 closed

[2019-03-12 10:50] yshkp commented on #745
@morevnaproject During building found an error like this :
`make[4]: *** No rule to make target '/home/yash/synfig/synfig-core/src/modules/mod_example/filledrect.cpp', needed by 'libmod_example_la-filledrect.lo'.  Stop.
make[4]: Leaving directory '/home/yash/synfig/_debug/synfig-core/src/modules/mod_example'
Makefile:570: recipe for target 'all-recursive' failed
make[3]: *** [all-recursive] Error

[2019-03-12 12:45] Rathod-Sahaab opened #765 "Support for 'pacman' package manger"
Hi I am Abhay Raj Singh GSoc 2019 aspirant. I was trying to build **synfig** on my system and encountered this problem, that pacman isn't supported. I would like to work on it.

I would also like to know about any previous efforts or problems and they would be of great help.

I am also proficient in c++,  python, bash and vector graphics can anyone help me with a good first issue.

<bountysource-p

[2019-03-12 14:16] morevnaproject commented on #765
Hello @Rathod-Sahaab and welcome to the project!

This issue is yours now! ^__^

For good first issues, please take a look here - https://github.com/synfig/synfig/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

I also encourage you to introduce yourself with a mention of your interests/projects here - https://forums.synfig.org/t/google-summer-of-code-2019/9487 ^__^

[2019-03-12 15:23] Rathod-Sahaab commented on #765
Some packages are only imported for apt-get and not for yum/dnf etc. is it intentional or it's better to add them also?

[2019-03-12 15:31] morevnaproject commented on #745
I guess, this happened after you have removed filled_rectangle source?

[2019-03-12 16:00] yshkp commented on #745
@morevnaproject Yup I removed as it is not required now because I have merged its features in rectangle layer.

[2019-03-12 16:45] yshkp commented on #745
@morevnaproject I found the solution. Making PR please review. ^_^

[2019-03-12 17:18] Rathod-Sahaab commented on #765
#768 Reviews would be helpful

[2019-03-12 17:27] FadhilKwan opened #769 "Lines Can't be Drawn Under Certain Circumstances"
**Synfig version & platform**:
Synfig Version: Stable 1.2.2
Windows 10 (64 Bit)

**Issue description**:
Found a strange bug while using Draw Tool:

Since it's a bit too difficult to explain with pictures, i decided to record it out,
Here's the link:
https://www.youtube.com/watch?v=LKdQUPpI-EI

From my testing, I think this can only happen if we draw too fast (like while doing swipes and strikes),

[2019-03-12 17:45] Rathod-Sahaab commented on #765
#770
Related MR Reviews will be helpful.

[2019-03-12 18:39] BobSynfig commented on #765
"Duplicate" https://github.com/synfig/synfig/issues/725

[2019-03-12 18:41] ankit-kumar-dwivedi commented on #516
@morevnaproject sorry for the delay.
Maybe this might seem obvious to you but I am still struggling with the **second** I did not found any method to get the number of layers inside the switch layer
I looked https://github.com/synfig/synfig/blob/9d2e9afb0770b91d311ecc3f128e32736ba8b22d/synfig-core/src/synfig/layers/layer_switch.cpp
and https://github.com/synfig/synfig/blob/9d2e9afb0770b91d311ecc3f

[2019-03-12 18:46] Rathod-Sahaab commented on #765
Any progress on solutions of this as I have successfully built Synfig using my modifications in my MR mentioned above

[2019-03-13 06:47] #760 closed

[2019-03-13 06:54] morevnaproject commented on #725
Implemented in #770.

[2019-03-13 06:58] morevnaproject commented on #765
The changes are merged now, thank you!

@ebarranco can you please check if build instructions (https://synfig-docs-dev.readthedocs.io/en/latest/common/building.html) are working for your system now?

[2019-03-13 12:55] rockyhandsome1 commented on #546
Hi @morevnaproject  I went through the code and would suggest
Shift forToolbox options and Alt for Menu options
This will avoid confusions for the users.
can I solve this bug?

[2019-03-13 13:21] morevnaproject commented on #684
Hi @rockyhandsome1! I have examined your code at https://github.com/rockyhandsome1/synfig/commits/endtimefeature and here are my recommendations:

It is not possible to access RendDesc from framedial.cpp. So, I recommend to set fps and initial values for end time widget from canvasview.cpp.

Please check the code for CurrentTimeWidget as an example:
https://github.com/synfig/synfig/blob/a6476f2063

[2019-03-13 13:25] morevnaproject commented on #516
@ankit-kumar-dwivedi I need some time to think on the solution. While I am doing this (^__^) I suggest to make a PR for first part of this issue (about Preferred Image Editor option).

[2019-03-13 13:41] morevnaproject commented on #516
I think the key is in lines 1657 and 1658 -
https://github.com/synfig/synfig/blob/a6476f206374ef2ecc430f137d24c5bfdb354faf/synfig-studio/src/gui/instance.cpp#L1630-L1659

```paste->get_param("canvas").get(Canvas::Handle())``` returns canvas and then you can get a list of its layers using ```get_layers_in_group()``` function.

https://github.com/synfig/synfig/blob/d4e64b6fbac082ab74bbc90360a2325c73

[2019-03-13 13:42] BobSynfig commented on #765
Just installed a clean Manjaro 18 KDE in VirtualBox (with Guest Additions)
I had to add intltool to the script

[2019-03-13 13:53] morevnaproject commented on #765
Thank you @BobSynfig!

[2019-03-13 13:56] ebarranco commented on #765
Hi @morevnaproject I have this error using ./2-build-production.sh:

`checking LIBPANGO_CFLAGS... -I/usr/include/pango-1.0 -I/usr/include/glib-2.0 -I/usr/lib/glib-2.0/include -I/usr/lib/libffi-3.2.1/include -I/usr/include/fribidi -I/usr/include/cairo -I/usr/include/pixman-1 -I/usr/include/freetype2 -I/usr/include/libpng16 -I/usr/include/harfbuzz -I/usr/include/uuid
checking LIBPANGO_LIBS... -lpang

[2019-03-13 13:59] ankit-kumar-dwivedi commented on #516
trying this now :smiley:

[2019-03-13 14:04] 9inpachi commented on #760
@morevnaproject
Looking forward to your email. :)

[2019-03-13 14:15] BobSynfig commented on #765
Compilation successfull :)
@ebarranco please update your source, my last commits fixed this error ;)

[2019-03-13 15:03] ankit-kumar-dwivedi commented on #516
@morevnaproject
I uncommented those lines

and added some **cout** to get information
[code]
I am getting 0 here

[2019-03-13 15:07] ankit-kumar-dwivedi commented on #516
Sure I will do that :)

[2019-03-13 15:31] ebarranco commented on #765
Yeah it's working now! thanks @BobSynfig.

[2019-03-13 15:33] Rathod-Sahaab commented on #765
Thanks for fixing my mistakes 😅 @BobSynfig

[2019-03-13 15:53] BobSynfig commented on #765
@Rathod-Sahaab not mistakes, just the classical "it was working on my machine but it doesn't on someone's else" ;)
That's the good point with virtualization, you can check the validity of environment without to destroy your own machine ^^

[2019-03-13 16:05] morevnaproject commented on #765
Closing this then. ^__^

[2019-03-13 16:05] #765 closed

[2019-03-13 16:21] BobSynfig commented on #674
Still same problem after build on Manjaro Linux:
`synfigstudio: /home/bobsynfig/sources/synfig/synfig-studio/src/gui/workarearenderer/renderer_canvas.cpp :654 : void studio::Renderer_Canvas::clear_render():  assertion « enqueued_tasks == 0 » failed.`

[2019-03-13 16:45] susmita97 commented on #704
Has anyone tried using the ElementTree provided by the standard library in python for parsing?

[2019-03-13 16:52] susmita97 commented on #704
Can I share the code I have been working on here?It's not complete yet but I guess that will only be of help.

[2019-03-14 05:09] morevnaproject commented on #704
Hi @susmita97! This is highly encouraged! You can push code to a branch in your GitHub account and make a PR to this repository (just as @AnishGG did - https://github.com/synfig/synfig/pull/756). ^__^

[2019-03-14 05:12] morevnaproject commented on #760
@9inpachi I cannot find your message. Did you mailed to me via https://www.synfig.org/contact/ ? ^__^

[2019-03-14 05:31] morevnaproject commented on #546
@rockyhandsome1 I'm afraid this issue is not an easy to solve.

If you will use Shift+Key for handling toolbox keybinding, then you will get affected by bugs #257 #292 and #303.

I.e. if you have Shift+C assigned to CircleTool, then Synfig will activate CircleTool everytime, when you press that combination - even if you just editing a layer name and typing "Clone" word (note capital "C" at the sta

[2019-03-14 05:52] morevnaproject commented on #704
For everyone interested: if you need usage samples of Lottie, I can suggest to examine samples at https://lottiefiles.com/

Here is a simple animation for example - https://lottiefiles.com/4913-menu-icon

[2019-03-14 08:30] Domarius opened #771 "Lock ratio button unexpectedly crops the canvas"
**Synfig version & platform**:
SynfigStudio-1.3.11-testing-19.02.09-linux64-9583a.appimage

**Issue description**:
[As discussed here](https://forums.synfig.org/t/solved-render-at-different-size-than-canvas-without-clipping/9559/3), when rendering a project, clicking the "link" button (highlighted in the image below) causes the undesired behaviour of cropping the canvas to the new render size, eg.

[2019-03-14 09:29] 9inpachi commented on #760
I did receive a confirmation email suggesting that my message has been sent.
I will try sending again.

[2019-03-14 09:56] ankit-kumar-dwivedi commented on #516
@morevnaproject please have a look at PR :)

[2019-03-14 10:51] ankit-kumar-dwivedi opened #773 "Should ask for File when import image/sound layer is invoked"
**Synfig version & platform**:
Development Build

**Issue description**:
Linux Mint OS

How to recreate?
**layer->new layer->other->import image**
**layer->new layer->other->sound**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/71382562-should-ask-for-file-when-import-image-sound-layer-is-invoked?utm_campaign=plugin&utm_content=tr

[2019-03-14 10:52] ankit-kumar-dwivedi commented on #773
**I am already working on a fix :)**

[2019-03-14 18:51] BobSynfig commented on #771
Hi,
Did you check the options in the tab "Other"?
There are options having consequences on this first tab.
Also please have a look at the wiki pages:
https://wiki.synfig.org/Canvas_Properties_Dialog
https://wiki.synfig.org/Image_Dimensions

A french user had a similar problem of understanding about these options and it has be explained and solved here https://forums.synfig.org/t/agrandir-image-pas

[2019-03-15 02:50] Domarius commented on #771
Thanks for getting back to me.  I tried those options on the other tab, and it has no effect.  The pages you linked too, still don't explain this behaviour.  And the French user isn't talking about this specific problem.

Why would the "lock ratio" link button suddenly switch the output to cropped? This button should only keep the width & height in ratio with each other or not.  It shouldn't affec

[2019-03-15 10:33] BobSynfig commented on #771
Ok, I see what is your problem
Try the following
* Original 1920x1080
* F8 (for modification of the canvas) or F9 (for render only)
* In "Other",  check "Image Aspect" and "Image Span"; other checkboxes are uncheked
* In "Image", link "Image Size" and change "Width" to 1280, "Height" will be changed automatically to 720
* Validate

You can render it, it works for both Canvas and Render ;)

[2019-03-15 14:44] ebarranco commented on #771
Yeah that works. @BobSynfig Maybe it should be check automatically or by default when you link your image size? Because it's the common case. And only you should change the properties if you want to resize the canvas without the content.

[2019-03-15 14:52] morevnaproject commented on #760
Got your mail, thank you! ^__^

[2019-03-15 14:57] morevnaproject commented on #771
I agree with @ebarranco

[2019-03-15 15:33] ebarranco commented on #622
Fixed in 9b3fe68. Thank you, @blackwarthog!

[2019-03-15 15:33] #622 closed

[2019-03-16 18:53] ankit-kumar-dwivedi commented on #773
@morevnaproject I am very strongly willing to remove the multiple code file present for the same work.
There is a dedicated file for only image import but also there is more general import function written which makes the "image import" redundant So I would like to tell you that I am willing to delete the dedicated code for only "sound" and only "image import" and use the function from general imp

[2019-03-16 23:25] Domarius commented on #771
Ah thank you. Well, even knowing this, I think it’s so against convention
that to me it seems like a bug! I was just avoiding the button. And
according to the forum thread, it seems everyone else who posted also
thought it was a bug!

On Fri, 15 Mar 2019 at 8:33 pm, BobSynfig <notifications@github.com> wrote:

[2019-03-17 11:09] yshkp opened #774 "Improvement for the smoothmove tool"
**Synfig version & platform**:
1.3.11 on Linux

**Issue description**:
When you select the tool and try to drag the layer having fixed parameters it doesn't work. It works with dynamic parameter changes when all the handles selected with dragging of the layer which may be not effective when the user wants to move it.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](htt

[2019-03-17 12:05] morevnaproject commented on #771
So are there any young brave, who can make "Image Aspect" checkbox enabled by default? ^__^

[2019-03-17 12:23] ankit-kumar-dwivedi commented on #735
@morevnaproject I have few things to ask regarding opentoonz codebase should I ask here or mail you?