[2020-07-18 15:37] rodolforg commented on #1552
I believe it's here: https://developer.gnome.org/gtkmm-tutorial/stable/sec-builder-using-derived-widgets.html.en

[2020-07-18 16:36] rodolforg commented on #1552
@Keyikedalube that's way: you'll implement Glib::Property ;)

[code]

[code]

[2020-07-18 20:52] strujillodv commented on #1480
@rodolforg Sorry, my mistake had not updated the repository before testing.

It is working very well

Gif created with Synfig-git built

![Version 1.2.2](https://media.giphy.com/media/fvYMc1zYhV0kOUO9C8/giphy.gif)

[2020-07-19 15:14] Keyikedalube commented on #1552
About 80% done...

Glade file is too ugly now with lots of custom widgets
![Peek 2020-07-19 20-28](https://user-images.githubusercontent.com/24214509/87878010-38805780-c9ff-11ea-8615-72b3ab49cf3d.gif)

Derived GtkToggleButton implemented in synfig ie., Widget_Link is too simple
No special added feature at all
I feel it's better adding the standard GtkToggleButton from Glade options and programmati

[2020-07-19 15:45] rodolforg commented on #1552
Did you try to add the custom widgets in synfig glade catalog xml?

[2020-07-19 16:20] morevnaproject commented on #1536
This is not a good solution I think.

I suggest to examine code of Circle Tool. It has everything you need.

![screenshot_002](https://user-images.githubusercontent.com/332868/87879629-5311fb00-ca16-11ea-9b0d-8e38fa575626.png)

You can also look on how Gradient Tool works (when it creates Linear Gradients).

[2020-07-19 16:21] morevnaproject commented on #1536
I just want to note: you do not have to draw full bone when user does click-and-drag. Just draw some points to show some something is going on. ;)

[2020-07-19 18:50] Aa20475 commented on #1536
Ohhh alright!! I get it!! Thanks for the tip... Will finish it asap!

[2020-07-19 19:11] ice0 commented on #1449
Hi, guys! Sure, I am agree.

[2020-07-19 23:26] Keyikedalube commented on #1552
Yes, so far `gammapattern` and `widget_link` have been implemented as custom widgets

[2020-07-20 02:25] rodolforg commented on #1552
Did you see that notebook container is a separated widget? It's also used in other dialogs, like Render.

[2020-07-20 09:12] FirasH opened #1566 "Text Layer output rendering is glitched using a Perspective Layer"
**Synfig version & platform**:
master a74530f
openSUSE Leap 15.2

**Issue description**:
1. Open the attached [Project.zip](https://github.com/synfig/synfig/files/4946499/Project.zip) archive
2. Open "Text_Rendering_Glitch.sifz"
3. Select `Final` rendering mode
The text is shown correctly:
![Internal](https://user-images.githubusercontent.com/6705690/87918086-30173380-ca76-11ea-8d22-2c054ef77470.p

[2020-07-20 09:22] Keyikedalube commented on #1552
Yes, I noticed that

For CanvasProperties I'm duplicating the notebook container all over again
That way I don't have to modify three separate classes which would be tedious

The only modification made to Widget_Render is separating out GammaPattern to its own file so both Widget_Render and CanvasProperties class can instantiate GammaPattern object by including it as a header file
One invokes it w

[2020-07-20 09:23] morevnaproject commented on #1566
Does the same glitch visible on workarea when rendering mode is not "Final"?

[2020-07-20 09:32] FirasH commented on #1566
This is how it looks in `Preview` rendering mode:
![Preview](https://user-images.githubusercontent.com/6705690/87922667-9737e680-ca7c-11ea-8c13-084ae3de2d94.png)

In `Draft` rendering mode the Canvas is blank

[2020-07-20 11:49] Aa20475 commented on #1536
Alright! It works now! I was brainstorming to add a full bone :facepalm:

Please verify @morevnaproject . If you want to have more ducks to be added acoording to the length. I think I can do that :thinking: But the present one is good too! Lemme know asap! :D

[2020-07-20 12:42] morevnaproject opened #1567 "[Windows] Output filename with non-latin characters get corrupted when rendering to ffmpeg target"
**Synfig version & platform**:
master branch, 1.3.x branch

**Issue description**:
Output filename with non-latin characters get corrupted when rendering to ffmpeg target on WIndows

[2020-07-20 12:43] morevnaproject commented on #1567
I am working on this issue. Will submit draft PR soon.

[2020-07-20 13:26] #1144 closed

[2020-07-20 13:33] Aa20475 commented on #1539
https://github.com/synfig/synfig/pull/1485#issuecomment-650746925

As you mentioned here, I got the global coordinates of the origin with animated matrix of the old parent (which is P here) and then applied the new parent's animated matrix to get the new origin. Did the reverse in Undo. I even fixed the scaling too. So I can't understand what's going wrong. Can you please check?

[2020-07-20 14:02] morevnaproject commented on #1536
Testing now. ^__^

[2020-07-20 14:31] morevnaproject commented on #1536
Can you please add a dashed line, which connecting two ducks? See creation of Linear Gradient with GradientTool for example.

[2020-07-20 15:38] morevnaproject opened #1569 "[Windows] Plugins are failed to execute when Synfig started with "--console" parameter."
**Synfig version & platform**:
master branch, commit 2b0a8874afafb0881a466e595d99cad74d2fafdd

**Issue description**:
Steps to reproduce:
1. Start Synfig Studio with "--console" parameter:
![screenshot_005](https://user-images.githubusercontent.com/332868/87956703-8a95ab80-cad9-11ea-8050-e41b29932da2.png)
2. Open any file and try to launch any plugin. You'll get an error:
![screenshot_006](https:/

[2020-07-20 15:41] morevnaproject opened #1570 "[Windows] Plugins are failed to execute for files with non-latin characters"
**Synfig version & platform**:
master branch, 2b0a8874afafb0881a466e595d99cad74d2fafdd

**Issue description**:
Steps to reproduce:
1. Open any file with non-latin characters.
2. Try to run any plugin. You'll get an error:

![screenshot_007](https://user-images.githubusercontent.com/332868/87957192-29220c80-cada-11ea-866c-6c369c627327.png)

[2020-07-20 16:36] Aa20475 commented on #1536
Okay!! :D

[2020-07-21 04:40] rodolforg commented on #1566
Does the same glitch happen with an imported bitmap layer?

[2020-07-21 08:58] #1567 closed

[2020-07-21 10:34] FirasH commented on #1566
@rodolforg Substituting the text layer with the exported .png does not create any artifacts.

@morevnaproject some artifacts could appear with `Final` rendering mode depending on the applied `Zoom` and scrolling around, but refreshing removes them.

Another thing I noticed is that there are some details that are not precisely reproduced with smaller zoom values

e.g. if there is a mask drawn with

[2020-07-21 11:34] Keyikedalube commented on #1552
Implementation is done but I haven't modified the build script for Autotools yet

On CMake, a new build target is implemented called `build_resource`, this time our resource (glade file) is generated to a C file using glib-compile-resources tool and later compiled with synfigstudio. That way we don't have to ship the .glade file because the UI is loaded as library.

There is a bug (and maybe more)

[2020-07-21 11:35] FirasH opened #1572 "Existing files are overwitten if warning dialog is closed"
**Synfig version**:
master f4a59e9

**Issue description**:
1. Create a new animation
2. Export to an arbitrary target (e.g. .png or .mp4)
3. Export again to the a target with the same name in order to display the warning dialog about overwriting an existing file
4. Close the dialog (press `Esc`)

Synfig will export the target overwriting the existing files.

It should work like `Use Another Name..

[2020-07-21 13:18] FirasH commented on #1572
Same happens for all `App::dialog_message_2b` dialogs

[2020-07-21 13:41] FirasH commented on #1572
This is likely the problematic code:
https://github.com/synfig/synfig/blob/efbef4f708085982dc1a5a06e98fcd800cb41a10/synfig-studio/src/gui/app.cpp#L3617

Looking into it...

[2020-07-21 13:56] morevnaproject commented on #1539
Here is an explanation what you should do - https://youtu.be/6YAGpm0qqw4

[2020-07-21 14:11] morevnaproject commented on #1416
Tested on Windows with [this file](https://gitlab.com/synfig/synfig-tests/-/blob/master/rendering/sources/layers/advanced-outline/advanced-outline-heavy-200.sif).

The sped win is only ~0.015 seconds.

[2020-07-21 14:50] morevnaproject opened #1574 "Release version 1.3.15"
- [x] Add latest translations from Transifex
- [x] Test building of binary tarballs: `./autobuild/synfigstudio-release.sh`
- [x] Add release commit and tag: `./version-release.sh`
- [x] Build binaries
- [x] Write release notes + announcement text for blog post
- [x] Upload binaries to GitHub, FossHub, Sf.net, Paddle
- [x] Publish announcement on website
- [x] Send announcement to subscribers in em

[2020-07-21 15:28] rodolforg commented on #1574
https://github.com/synfig/synfig/compare/v1.3.14...v1.3.15

 OSX build: Remove hardcoded references to Python version (#1244)
Avoid crash on pngspritesheet exporting (#1339)
fix time and delta values in tooltip while dragging in Graph panel
Remove unused Change Preview Quality menu item
 Activate widget_filename when user chooses file via button/file dialog (#1425)
Fixes glitching widthpoints. Clo

[2020-07-21 16:13] rodolforg commented on #1163
Not reproducible in 1.3.15 (production. debug version has an assert that ruins everything :P)

BTW, @morevnaproject , this "rotate order" is a non-intuitive name. For me at least :P

[2020-07-21 20:23] FirasH commented on #1566
Here is another affected [testing file](https://github.com/synfig/synfig/files/4955994/Rendering_Perspective_text.sif.zip), created from scratch with some sample text:
![Rendering_Perspective_text](https://user-images.githubusercontent.com/6705690/88102377-bda27280-cb9f-11ea-831b-a3e6991c37c4.png)

The issue isn't consistently reproducible, but is related to how the `Perspective Layer` is set.

Th

[2020-07-22 06:59] morevnaproject commented on #1574
- Test building of binary tarballs: ./autobuild/synfigstudio-release.sh - :ok:
- Add release commit and tag: ./version-release.sh - :ok:

@rodolforg Thank you so much, this helps a lot! Can you please add this to docs repository? ^__^ - https://synfig.readthedocs.io/en/latest/releases/development.html

[2020-07-22 07:04] morevnaproject commented on #1566
I just would like to mention that Text Layer is very broken at its current status. Also, since it is not pored to Cobra render engine, I suspect that similar glitches can happen with any other layer not ported to Cobra...

[2020-07-22 11:15] saurabh-ramola opened #1576 "[Linux] Synfig Studio fails to load its GUI"
**Synfig version & platform**:
Synfig Version : 7ece93c86ea09475ea123fda59a02e588f3c5997
Platform : Ubuntu 16.04 LTS
**Issue description**:
Synfig Studio fails to load the GUI outputting this error.
**ERROR**
saurabh@saurabh-GL552VW:~/GSOC/synfig$ ./_production/build/bin/synfigstudio

   synfig studio -- starting up application...

synfig(5130) [04:36:15  IST] info: Starting Subsystem "Sound"
No L

[2020-07-22 11:16] saurabh-ramola commented on #1576
It was giving the same error on a previous build so I updated it to the latest build but it is still giving the same error.

[2020-07-22 14:33] Keyikedalube commented on #1552
Made the PR

Couldn't solve the above post-issue... More info on the PR

[2020-07-22 15:49] rodolforg commented on #1574
@morevnaproject  done. Accidentally directly on master :/ Sorry.

[2020-07-22 16:02] morevnaproject commented on #1163
what could be the better name? ^__^

[2020-07-22 18:07] Aa20475 commented on #1539
Hey! I actually did the same! But I think we have to also considered that the bones are scaled. I'm trying to figure that out!

[2020-07-22 18:09] Aa20475 commented on #1536
I did it! Please check!

[2020-07-22 22:19] rodolforg commented on #1576
That last warning appears to me, but it opens normally.
I don't have the first warning though (regarding Sound Subsystem).

[2020-07-22 22:43] rodolforg commented on #1565
@blue-dog could you please try the last development version 1.3.14? The 1.3.15 is just around the corner and it tends to be the next stable release (1.4.0).
For that reason, support for 1.2.2 (almost two years old already) is low priority.

[2020-07-23 07:55] saurabh-ramola commented on #1576
@rodolforg I was able to fix the warning regarding the Sound Subsystem, but even now it gives the same result minus the Sound System warning. The output log is same minus the Sound System warning and it fails to render the GUI.
I used ./2-build-production.sh and the build completed without any problem.

[2020-07-23 08:53] morevnaproject commented on #1536
Looks good to me. Thank you!

[2020-07-23 09:13] morevnaproject commented on #1539
@Aa20475 You have problem when you apply `scalelx` to origin. If your parent bones are not scaled, then there are no offset after re-parenting.

[2020-07-23 09:50] morevnaproject commented on #1539
@Aa20475 I suggest to bring into order variable names. This can help you to find mistake. At the moment it is not clear where `old_parent`, where `new_parent` and where `active_bone`.

[2020-07-23 09:51] Aa20475 commented on #1539
Yeah! Sure! Will make that change!

[2020-07-23 10:03] ice0 commented on #1576
@saurabh-ramola can you make a short video showing that is happens?

[2020-07-23 10:20] saurabh-ramola commented on #1576
@ice0

[2020-07-23 10:21] saurabh-ramola commented on #1576
@ice0 This is what happens when I run _production/build/bin/synfigstudio. It was working perfectly fine till two days ago.
https://youtu.be/3DyPIKumwew

[2020-07-23 10:23] Aa20475 commented on #1539
What you mean by this @morevnaproject ? :sweat_smile:

[2020-07-23 11:04] Aa20475 commented on #1539
Damn! I made an absolute blunder. I've been doing the right thing from the start. The mistake I was doing was that I was taking the `scalelx` of the child bone instead of the parent. :facepalm:  I think it works fine now!

[2020-07-23 11:11] Keyikedalube commented on #1552
Behavior issue solved in commit d1ebfd83a56d567a20758fdd17cdcfae6185ad69
Whew..!

Need help with updating the Autotools build script

[2020-07-23 12:40] morevnaproject commented on #1539
Exactly. This is why good variable names can help you. ^__^

[2020-07-23 12:43] morevnaproject commented on #1539
Also, can you please set more meaningful name to `bone_desc`? Currently it is impossible to determine which bone it is.
![screenshot_007](https://user-images.githubusercontent.com/332868/88287688-d4220880-cd1c-11ea-8fbf-a3e5d857ef1e.png)

[2020-07-23 13:08] Aa20475 commented on #1539
Yes done!

[2020-07-23 14:46] ice0 commented on #1576
Hmm, looks like it hangs on start.

Can you try debug build?

Also will be nice if you can get stack using
[code]
and post it here

[2020-07-23 15:06] saurabh-ramola commented on #1576
Here is the stack :
![image](https://user-images.githubusercontent.com/31828811/88302981-20247b80-cd24-11ea-97c0-c195e323eeec.png)

I will try the debug build for now.

[2020-07-23 15:07] rodolforg commented on #1576
@saurabh-ramola you can also investigate what was the problematic commit via [git bisect](https://git-scm.com/docs/git-bisect).

Basically, you mark what was your latest known good commit and current as a bad one.
The git will be automatically checking out intermediate commits (somewhat like quick-sort does) letting you build from that point, check if it's good or bad and mark this situation for t

[2020-07-23 15:09] rodolforg commented on #1552
I can help with that, but not right now…

[2020-07-23 15:09] ice0 commented on #1576
@saurabh-ramola looks like you need to do
[code]

[2020-07-23 15:14] saurabh-ramola commented on #1576
@ice0  My bad, had no idea how the command functions :disappointed: . Here is the output log after applying sudo to the command :

PID 4748 - process
TID 4748:
#0  0x00007f76b957f74d poll
#1  0x00007f76ba38238c
#2  0x00007f76ba382712 g_main_loop_run
#3  0x00007f76bb4e0c75 gtk_main
#4  0x000000000050a4e2 main
#5  0x00007f76b94a4830 __libc_start_main
#6  0x00000000005506e9 _start
TID 4749:
#0  0x000

[2020-07-23 15:41] saurabh-ramola commented on #1576
@ice0 , completed the debug build and it is still giving me the same result. :(

[2020-07-23 18:07] ice0 commented on #1576
@rodolforg said this commit (https://github.com/synfig/synfig/commit/5862c7611232cb180d8eb2934b17b2f306404f10) can lead to something like this.

So please try switching to an earlier commit like this (https://github.com/synfig/synfig/commit/2fb1e659f70ede5ba97ff149efdb2b352680a5b1).

[2020-07-23 21:01] turbubestia opened #1579 "Synfig 1.3.14 Unstable Link to Spline"
**Synfig 1.3.14 & Window**:

**Issue description**:
If I draw a spline (either line or curved) with more than 2 point and then I link the center of an object to the spline to the object can follow that path the position interpolation in the first segment is fine, from the second to last-1 is that bad, but the last segment is totally unstable and make the application crash sometimes.

![image](http

[2020-07-23 21:22] turbubestia opened #1580 "Synfig 1.3.14 Crash after delete and object linked by others"
**Synfig 1.3.14 (since 1.2.2) & Windows**:

**Issue**:
1. Create a spline path
2. Link the center of an object to the spline to follow that path
3. delete the spline path create on (1)
4. observed the object position is still linked to the deleted spline
5. disconnect the object position will crash the application and will close

**Expected behavior**
1. Create a spline path
2. Link the center of

[2020-07-23 22:21] rodolforg commented on #1580
Not reproducible on Linux.

[2020-07-23 22:22] rodolforg commented on #1580
Could you please test in this test release? https://github.com/synfig/synfig/issues/1442#issuecomment-644161674

[2020-07-23 22:23] rodolforg commented on #1579
Fixed in master.
Testing on tag v1.3.15

[2020-07-23 22:34] rodolforg commented on #1579
It works fine in next release v1.3.15. Phew :)
@turbubestia please wait for the next development release. It should happen really soon (#1574)

[2020-07-24 08:21] ankit-kumar-dwivedi commented on #777
@chandratushu21 are you still working on this?

[2020-07-24 08:35] Aa20475 commented on #1536
Hey! I've found a bug in this functionality and I'm unable to figure out why this is happening.

[Here is the link to the video](https://youtu.be/ToCMQCjeNZk)

[2020-07-24 11:05] Aa20475 commented on #1542
Hey! I need a bit more assistance on this one. I've explored all the codes related to `transformstack`  and `transform`. They have `perform` and `unperform` functions which apply the respective transformations. What do you actually mean by applying it's back transformation to `animated_matrix` given it's a matrix? 🤧 I do understand Affine transformations and everything. But I'm unable to find a co

[2020-07-24 15:23] saurabh-ramola commented on #1576
@ice0 , Tried doing this and didn't work. I am assuming there was a problem with my system so I reinstalled Ubuntu. There is no problem now and Synfig Studio is running perfectly now.

[2020-07-24 20:29] rodolforg commented on #1366
@FirasH  Do you want to try to implement it?

A new `Gtk::Button` should be placed right of the `Gtk::ProgressBar` `render_progress` of `Dock_Info`.
Its `signal_clicked` should call the stop() method of `async_renderer` of the (strange enough) `RenderSettings` dialog. (IMO the renderer should be in `App`…)

[2020-07-25 05:58] chandratushu21 commented on #777
@ankit-kumar-dwivedi Not now, Tried to but failed so switched to some other projects. Sorry didn’t informed earlier. Thanks   for the help @morevnaproject @ice0

[2020-07-25 07:52] FirasH commented on #1366
@rodolforg sure, I can give it a try

[2020-07-25 13:26] ankit-kumar-dwivedi opened #1584 "Documentaion for Synfig SIF format"
**Issue description**:
Quoting [synfig wiki](https://wiki.synfig.org/Sif_Format)

SIF format consists of many tags, linking of other SIF, meta names etc. Each of these has a different effect on the animation I thorough documentation is required for a complete understanding of it's working.

Another reason is https://github.com/synfig/synfig/issues/1449 for which I require a good level of understan

[2020-07-25 13:42] morevnaproject commented on #1539
It looks better now. I suggest to improve code readability even more in function `Action::ValueDescBoneSetParent::perform()`:

1. `new_parent_bone_desc.get_value(time).get(Bone()).get_scalelx()` - make this a variable (`new_parent_scale`), just like `old_parent_scale`.
2. `angle+=old_parent_angle-new_parent_angle;` - I suggest to split this into two lines:
   - `angle+=old_parent_angle`
   - `angl

[2020-07-25 13:46] morevnaproject commented on #1542
Did you examined how this is done in Circle Tool?

You do not need it to apply  to animated matrix. Apply it to coordinates of point where user clicks.

[2020-07-25 14:04] Aa20475 commented on #1542
Yess! I did checkout other tools.. I even tried applying it to individual points. Maybe I'm doin something wrong here. I'll do some testing and push the chnages

[2020-07-25 14:19] morevnaproject commented on #1536
Should you write proper `refresh_ducks()` function?

![screenshot_003](https://user-images.githubusercontent.com/332868/88459067-9360f580-cebc-11ea-959a-442d7a0bc20f.png)

[2020-07-25 14:32] morevnaproject commented on #1536
Well, scratch my previous comment. This won't help you.

[2020-07-25 14:53] morevnaproject commented on #1536
I suggest to add printing of debug messages on click/drag/release events to see which positions are reported by events.

Also, I have noticed you use multiple variables, which hold same information. Probably it is worth to reduce them?
![screenshot_004](https://user-images.githubusercontent.com/332868/88459580-a8d81e80-cec0-11ea-8701-22a3e7153447.png)

One more issue found: if you start creating a

[2020-07-25 14:55] morevnaproject commented on #1584
Related to https://github.com/synfig/synfig/issues/537

[2020-07-25 15:23] Aa20475 commented on #1536
Ohh right will fix them!

[2020-07-25 16:12] morevnaproject commented on #1574
@rodolforg Thank you! ^__^

[2020-07-25 16:12] morevnaproject commented on #1574
Building binaries - :ok:

[2020-07-25 19:31] Aa20475 commented on #1536
Oh yeah! The code I used for duck detection is old so I didn't update it.. Fixed it in next commit.

[2020-07-25 20:44] FirasH commented on #1366
@rodolforg I'm trying to connect a button from [dock_info.cpp](https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/docks/dock_info.cpp) to a method in [render.cpp](https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/render.cpp) where `async_renderer` is defined and I could stop it with `async_renderer->stop()` as you suggested.

The issue is that in `dock_info.cpp` I

[2020-07-25 20:50] FirasH commented on #1163
Does not crash with current master 8b93aa1

[2020-07-25 20:54] rodolforg commented on #1366
You could provide access by creating a new `etl::handle<AsyncRenderer> get_async_renderer() const` method :)

[2020-07-25 20:58] FirasH commented on #1366
Sounds so easy to read... How did I not think about it :expressionless:
Thank you!

[2020-07-25 21:19] rodolforg commented on #1163
@FirasH it crashes in debug build due to that pointed assert(). Asserts are ignored in production builds.

@morevnaproject I don't know XD What about "Set as first vertex"? :P

[2020-07-26 12:58] Aa20475 commented on #1542
I don't know why but it's working ! I'm sure I made those changes before but it didn't work then. Maybe the bugs I was seeing are in the actions that I wrote (which were imperfect then :P)  Please verify @morevnaproject

[2020-07-27 10:40] morevnaproject commented on #1163
"Set as first vertex" - this is better, but it doesn't tells that other points are reordered too. ^__^"

[2020-07-27 10:45] FirasH commented on #1163
Maybe something more specific like “Rotate order of vertices”

[2020-07-27 11:56] morevnaproject commented on #1542
I have tested and found an issue. For some reason, when Skeleton Layer is created it is placed at the top of all layers. The correct behavior is to place it on top of currently selected layer.

I guess this is why you had problems with the changes you made before. See this video - https://youtu.be/H3g8yrBzACc

[2020-07-27 12:01] morevnaproject commented on #1536
Sorry, my mistake. Fixed now. ^__^

I have tested and it is fixed now. Congrats!

There is new issue now: when I try to move control points of existing bones it creates new bone sometimes.
See video - https://youtu.be/z4A7T8QcLSI

[2020-07-27 12:08] morevnaproject commented on #1539
Completed!

[2020-07-27 12:08] #1539 closed

[2020-07-27 12:32] morevnaproject opened #1588 "[Skeleton Tool] Use dashed outline to display parent-child relationships for bones"
"Set as Parent to Active Bone" command is working now, but for user the result of this work is not visible intuitively.

I think it should be improved by displaying parent-child relationship between bones, using dashed lines like this -
![screenshot_006](https://user-images.githubusercontent.com/332868/88541987-dd261900-d03f-11ea-907b-cd69ab987041.png)

[2020-07-27 12:55] morevnaproject opened #1589 "Dashed outline rendered incorrectly in non-homogenous mode"
**Synfig version & platform**:
master branch, 1.3.15

**Issue description**:
Dashed outline rendered incorrectly when homogenous parameter is off.

Sample file -
[dashes.sifz.zip](https://github.com/synfig/synfig/files/4982099/dashes.sifz.zip)

Here is how it rendered in 1.2.2 -
![screenshot_008](https://user-images.githubusercontent.com/332868/88544113-1b710780-d043-11ea-9a05-15307d4f82c5.png)

H

[2020-07-27 13:38] morevnaproject commented on #1163
That would be better than just "Rotate order". ^__^

[2020-07-27 17:56] Svarov-RZM opened #1590 "Duplicate ignores all layers except the first one"
### Issue description
Say you have Duplicate layer over two others layers such as Translate and Circle. Each of layers have special conversions: Translate shifts X value with each iteration, Circle changes color with each iteration. The problem is that only Translate layer properly calculates duplicate conversion, the other one is ignored.

This picture illustrates the problem:
![DupBug1315](https

[2020-07-28 02:46] MyriaCore opened #1591 "Cannot Export to sif from Inkscape"
**Synfig version & platform**:

[code]

**Issue description**:

Installed synfig via [Arch official repositories](https://www.archlinux.org/packages/community/x86_64/synfigstudio/). Inkscape is [also installed via Arch official repositories](https://www.archlinux.org/packages/extra/x86_64/inkscape/). Tried to save my svg as a `.sif` from Inkscape, and I get this error:

[code]

X-Posted from https

[2020-07-28 13:49] Aa20475 commented on #1542
I fixed this.

[2020-07-28 15:27] MyriaCore commented on #1591
Closing this as it's an inkscape issue, not a synfig issue. This is now being tracked at [inkscape/extensions#278](https://gitlab.com/inkscape/extensions/-/issues/278)

[2020-07-28 15:27] #1591 closed

[2020-07-28 16:02] rodolforg commented on #1590
Confirmed.
Via git log, the change in layer_duplicate between 1.0 and 1.2 is the Cobra renderer implementation.

[2020-07-30 03:50] morevnaproject commented on #1542
It works as expected now. Thank you!

[2020-07-30 03:50] #1542 closed

[2020-07-30 04:04] morevnaproject opened #1592 "[Skeleton Tool] Bone not created when mouse button released over existing bone point"
Bone is not created if user release mouse button when cursor is over control point of existing bone.

Video - https://youtu.be/y6FIGO9u2Eg

[2020-07-30 04:05] morevnaproject commented on #1536
Hi! I have tested latest commit (cae5dcf14d1e) and there is still problem with creating bones in certain situations. Since we already got visible bone working I am closing this issue and opened new one #1592.

[2020-07-30 04:05] #1536 closed

[2020-07-30 04:31] Aa20475 commented on #1592
Thanks for pointing this out! Will fix it!

[2020-07-30 06:28] rodolforg commented on #1589
I tested the 1.2.2 and homogeneous parameter doesn't affect dashes.
Should they always behave like this?

[2020-07-30 08:17] Aa20475 commented on #1592
Fixed. Please test this.

[2020-07-31 08:27] AYESDIE opened #1594 "Appveyor build issue because of ImageMagick."
Even though it isn't fatal, appveyor build isn't able to use `synfig_bin` because of ImageMagick libraries not being able to be copied properly inside the build folder.

Log: https://ci.appveyor.com/project/Synfig/synfig/builds/34386235/job/hd1bgmndtc5ei7o7?fullLog=true#L1747

[2020-08-01 04:47] #1594 closed

[2020-08-01 11:06] Aa20475 commented on #1556
Hey! I fixed this. Can you check it?!

[2020-08-01 11:21] Aa20475 commented on #1535
Hey!

I've been thinking about this. Even without the skeleton tool, there is no way to add a bone if the number of bones is 0. We can either-

- Forbid the user from doing so.
- Remove the layer when deleting the last bone.
- Write an action to add bone  when there are no bones.

What do you think?

[2020-08-01 12:12] morevnaproject commented on #1589
Yes, in 1.0.2 and 1.2.2 homogeneous parameter do not affects dashes.
We need the same behavior. Thank you! ^__^

[2020-08-01 12:23] morevnaproject commented on #1574
Write release notes + announcement text for blog post - :ok:

[2020-08-01 13:25] morevnaproject commented on #1574
- Upload binaries to GitHub, FossHub, Sf.net, Paddle - :ok:
- Publish announcement on website - :ok: - https://www.synfig.org/2020/08/01/synfig-studio-1-3-15-released/

:tada:

[2020-08-01 13:47] morevnaproject commented on #1198
Still looking for someone who can help finish Arabic translations. Your help is much appreciated! ^__^

[2020-08-01 13:48] morevnaproject commented on #1574
Everything complete! Congratulations!!! ^__^

[2020-08-01 13:48] #1574 closed

[2020-08-01 14:05] rodolforg commented on #1579
@turbubestia  Could you please try it? :D https://www.synfig.org/2020/08/01/synfig-studio-1-3-15-released/
If everuthing is ok – or not, please tell us.

[2020-08-01 14:06] rodolforg commented on #1580
@turbubestia  Could you please try it? :D https://www.synfig.org/2020/08/01/synfig-studio-1-3-15-released/
If everything is ok – or not, please tell us.

[2020-08-02 00:17] turbubestia commented on #1580
I tried it on 1.3.15 and it didn't crash. But it only solve the point (5) in my issue description. So when the linked spline is deleted it is not automatically unlink from the object.
Anyway, the important part is it doesn't crash anymore 👍

[2020-08-02 00:18] turbubestia commented on #1579
In 1.3.15 it work fine. 👍

[2020-08-02 00:32] #1579 closed

[2020-08-02 00:43] rodolforg commented on #1565
@blue-dog  1.3.15 was released today.
Can you try it? ;)

[2020-08-02 19:35] marillat opened #1599 "Missing include path for MagickCore/magick-baseconfig.h"
synfig 1.3.15 Linux Debian unstable amd64

MagickCore/magick-baseconfig.h isn't stored in /usr/include but in
/usr/include/x86_64-linux-gnu/ImageMagick-7
or for imagemagick 6
/usr/include/x86_64-linux-gnu/ImageMagick-6

Maybe the best is to use pkgconfig to set CFLAGS accordingly ?

Here in MagickCore-7.Q16HDRI.pc

[code]
Build error message
[code]

[2020-08-02 23:06] rodolforg commented on #1599
@marillat could you please test the above mentioned PR? #1600

[2020-08-02 23:07] rodolforg commented on #1599
Oh, you use CMake… Sorry lol

[2020-08-02 23:33] marillat commented on #1599
Sorry, I didn't mention that, but I use cmake.

[2020-08-02 23:35] marillat commented on #1599
I switched from autotools to cmake; It is a good idea ?

[2020-08-03 07:11] ice0 commented on #1599
Sure. This allows us to know about problems like this.
We will fix this shortly, thanks for pointing it out.

[2020-08-03 09:08] morevnaproject commented on #280
Is it okay to close this? ^__^

[2020-08-03 11:37] ice0 commented on #280
Sure )

[2020-08-03 11:37] #280 closed

[2020-08-03 12:08] morevnaproject commented on #1580
This is actually expected behavior. When you link object to spline, then the list of vertices of that spline becomes linked to parameters of  linked object.

![screenshot_004](https://user-images.githubusercontent.com/332868/89180799-b24a4080-d5bc-11ea-988e-b487099330df.png)

So, this part of spline becomes independent from original Spline layer and layer deletion shouldn't affect its existence (a

[2020-08-03 13:18] morevnaproject commented on #1592
Works good now! Thank you. ^__^

[2020-08-03 13:18] #1592 closed

[2020-08-03 13:42] morevnaproject commented on #1556
Hi! I have tested and found one issue: can we get back to previous state (previous set of enabled ducks) when other tool activated? Just like with Width Tool - https://youtu.be/vPBUhes2YxU

[2020-08-03 13:50] Aa20475 commented on #1556
Yes! Do you want me to push it to the review branch?

[2020-08-03 13:55] morevnaproject opened #1601 "Markers in Sound Panel are too big"
**Synfig version & platform**:
1.3.15

**Issue description**:

![screenshot_008](https://user-images.githubusercontent.com/332868/89190387-95693980-d5cb-11ea-84b9-36d585e100d9.png)

Details - https://forums.synfig.org/t/why-is-the-keyframe-marker-size-in-v-1-3-15-is-way-too-big-in-my-computer/11246/8

[2020-08-03 13:57] morevnaproject commented on #1556
No, please push your changes to "skeleton_tool2" (you will need to rebase it on top of "skeleton_tool"). ^__^

[2020-08-03 14:11] Aa20475 commented on #1556
Okay! 😃

[2020-08-03 15:01] rodolforg commented on #1601
I believe it's all about porting void
Dock_Curves::on_update_header_height(int height) into Dock_SoundWave

[2020-08-04 09:38] AYESDIE commented on #1412
Does this issue still persist on Autotools build? I'm not used to Autotools scripting so I could only add changes to CMake Windows build.

[2020-08-04 10:45] Aa20475 commented on #1557
Can you verify this? I tried something :sweat_smile:

[2020-08-04 11:29] ice0 commented on #1412
@AYESDIE yes, but I will add the same to autotools soon.

[2020-08-04 12:41] morevnaproject commented on #1557
Hi! I have tested, but behavior is really weird... For example, I can't set Bone Width value to  0.10 or 1.50 - only integer values accepted. Also, at some moments it resets width to other weird values - like 0.0u or 7.0u...

[2020-08-04 13:09] Aa20475 commented on #1557
Ohkay! Will fix it!

[2020-08-04 14:41] #1589 closed

[2020-08-04 14:45] AYESDIE commented on #1412
Yeahh, I just informed because the issue got closed.

[2020-08-04 15:34] morevnaproject commented on #1556
I have tested latest changes and it works well now. There is only one issue remaining - for some reason the buttons on toolbar are not always updated -
![screenshot_001](https://user-images.githubusercontent.com/332868/89313301-86a18600-d6a2-11ea-8bdc-a5ff670b4316.png)

For example, they are not updated after I create new Skeleton Deformation layer, I have recorded a video about this - https://you

[2020-08-04 15:37] Aa20475 commented on #1556
Okay! Checking!

[2020-08-04 16:12] morevnaproject opened #1603 "[Skeleton Tool] Do not switch to Arrow tool when user selects other layer"
I suggest to try behavior to keep Bone Tool active when user selects other layer.
I am not sure if that will work well, but need to check.

[2020-08-05 04:37] morevnaproject commented on #1557
I think you can implement it in the following way:

You can have two widgets in Tool Options Panel - one will define width (tip and origin) for bones created in Regular Skeleton Layer, and second parameter will define width (tip and origin) for Skeleton Deformation layer.

And all you have to do is just show/hide particular widget depending on the type of selected layer.

[2020-08-05 05:03] Aa20475 commented on #1557
Alright! Will try that too! 😁

[2020-08-05 14:06] morevnaproject commented on #1588
I have tested current status of PR #1605 and I can see that dashed lines correctly connected to bone origin, but not to the tip of previous bone.
![screenshot_001](https://user-images.githubusercontent.com/332868/89422341-65529f80-d75f-11ea-8e15-da7fb7eddd11.png)

I suggest to make a simple test: try to connect origin of child bone with **origin** of parent bone. Can you do that?

[2020-08-05 15:01] Aa20475 commented on #1588
Okay! Will do it asap!

[2020-08-05 15:02] saurabh-ramola commented on #1419
@AnishGG is this complete now?

[2020-08-05 15:24] AnishGG commented on #1419
Just waiting for the merge of #1505  ^__^

[2020-08-06 08:15] morevnaproject opened #1609 "Release version 1.3.16"
- [x] Add latest translations from Transifex
- [x] Test building of binary tarballs: `./autobuild/synfigstudio-release.sh`
- [x] Add release commit and tag: `./version-release.sh`
- [x] Build binaries
- [x] Write release notes + announcement text for blog post
- [x] Upload binaries to GitHub, FossHub, Sf.net, Paddle
- [x] Publish announcement on website
- [x] Send announcement to subscribers in em

[2020-08-06 09:02] morevnaproject commented on #1609
Building binary packages now...

[2020-08-06 12:49] morevnaproject commented on #1609
Building done.

[2020-08-06 14:33] #1601 closed

[2020-08-06 14:41] morevnaproject commented on #1609
"Write release notes + announcement text for blog post" - Done

[2020-08-06 15:18] rodolforg commented on #1609
Who to notify:
- https://forums.synfig.org/t/synfig-1-3-15-crash-on-right-clicking-waypoint/11252
- https://forums.synfig.org/t/why-is-the-keyframe-marker-size-in-v-1-3-15-is-way-too-big-in-my-computer/11246
- and the guy who reported the dashed-outlines issue : you ^_^

[2020-08-06 16:25] morevnaproject commented on #1609
Files uploaded, announcement posted! - https://www.synfig.org/2020/08/06/synfig-studio-1-3-16-released/

[2020-08-06 16:37] morevnaproject commented on #1609
We are done with that! ^__^

[2020-08-06 16:37] #1609 closed

[2020-08-07 08:51] Aa20475 commented on #1588
It is working!

[2020-08-07 10:22] morevnaproject commented on #1588
Okay, now you know correct coordinates of origin point.
Next can you find coordinates of a tip? (relatively to origin)

Please write a formula here how to calculate coordinates of bone tip relatively to bone origin (considering that you know bone length and bone angle)

[2020-08-07 11:08] Aa20475 commented on #1588
`tip = (origin_x + length*cos(angle),origin_y + length*sin(angle))` ?

[2020-08-07 11:12] morevnaproject commented on #1588
Try this now with your current code.

[2020-08-07 13:59] Aa20475 commented on #1588
It's working!

[2020-08-07 14:12] morevnaproject commented on #1588
Looks good!
![screenshot_007](https://user-images.githubusercontent.com/332868/89654095-551ef980-d8f2-11ea-9e2c-87b365028e0c.png)

Please resolve issues in PR.

[2020-08-07 15:23] rodolforg commented on #1588
Wow! Great Job!

[2020-08-07 16:33] Aa20475 commented on #1588
Thank you! :smile:

[2020-08-08 04:29] Aa20475 opened #1610 "Active Bone is still Highlighted after changing the tool"
Please refer to [this](https://youtu.be/c76_fwvvEGI) video

[2020-08-08 07:28] morevnaproject commented on #1588
Closed via #1605

[2020-08-08 07:28] #1588 closed

[2020-08-08 13:34] #1610 closed

[2020-08-08 17:09] morevnaproject opened #1615 "[Skeleton Tool] Skeleton Deformation Layer should be created as "disabled""
Skeleton Deformation Layer should be created with "visibility" checkbox turned off -
![screenshot_006](https://user-images.githubusercontent.com/332868/89715985-d4d0c500-d9d3-11ea-9ca9-6260eafd2060.png)

Explanation:

Skeleton Deformation Layer stores two positions for every bone:
1 - Initial position (same as "Rest Pose" in Blender). This position is displayed when visibility of Skeleton Deformat

[2020-08-08 18:51] rodolforg commented on #1576
So can we close it?

[2020-08-09 06:50] morevnaproject commented on #1603
@Aa20475 Do you need any help with this issue?

[2020-08-09 06:51] morevnaproject commented on #1576
Yes! ^__^

[2020-08-09 06:51] #1576 closed

[2020-08-09 06:56] Aa20475 commented on #1603
Hey.. no.. I'll fix it asap.. will let you know if I'm stuck

[2020-08-09 14:31] morevnaproject commented on #1556
Hi! I have tested PR #1616 - it fixes issue with buttons on toolbar. But when I switch from Bone Tool to Arrow Tool it doesn't restores previous state (previous set of enabled ducks).

Video - https://youtu.be/nmVn3nugJhg

[2020-08-10 04:35] morevnaproject commented on #1535
Hi! In 2 weekly reports in a row you identified that this issue is slowing you down. I have asked you to push the code (even non-working), so I can take a look. What's the problem here?

[2020-08-10 06:34] Aa20475 commented on #1535
Hey!

I was successfully able to add a new object into the list but I'm struggling with writing the conditions. I'll push the code asap before today!

[2020-08-10 07:08] Aa20475 commented on #1615
Hey! I just found out, as the Deformation layer is disabled and I'm highlighting only the `second` bone, we can't see the highlighting now. Do you think I should change it to `first` bone?

[2020-08-10 08:39] Aa20475 commented on #1535
Can you tell me where I can refer to get an understanding of `PassiveGrouper`?

[2020-08-10 13:29] AnishGG commented on #1419
Closing this now. :D

[2020-08-10 13:29] #1419 closed

[2020-08-10 14:17] #863 closed

[2020-08-10 15:50] morevnaproject opened #1621 "Allow to input Arabic symbols in Text Layer"
I've got this support request from a company who want to use Synfig in animation production. They are also ready to pay for this feature.

(Previously they paid for fixing issue with Arabic symbols in filenames, which I got fixed (#1517). The payment was done to OpenCollective account, see transaction dated 7/5/2020 from this company - https://opencollective.com/rafed-communication-tech-l-l-c).

T

[2020-08-10 15:59] rodolforg commented on #1621
Hm… important thing: what's wrong with current 'support'?
How is it currently rendered?

[2020-08-11 02:32] morevnaproject commented on #1615
Good catch! Yes, the first bone should be highlighted.

[2020-08-11 03:11] morevnaproject opened #1624 "[Skeleton Tool] Enable/Disable Skeleton Deformation layer when tool switched"
Need to implement two cases:

1. If ((user switches to Skeleton Tool) and (current selected layer is "Skeleton Deformation")), then:
set this "Skeleton Deformation" as invisible/disabled.

2. If ((user switches from Skeleton Tool to any other tool) and (current selected layer is "Skeleton Deformation")), then:
set this "Skeleton Deformation" as visible/enabled.

[2020-08-11 04:00] morevnaproject opened #1625 "[Skeleton Tool] Show bone shape when Skeleton Deformation layer is disabled"
When Skeleton Deformation layer is in "disabled" mode, then it is hard to see which area is actually covered by bones:

![screenshot_003](https://user-images.githubusercontent.com/332868/89855311-5be29080-dbc0-11ea-8174-d6a2c7419f5f.png)

To make this more intuitive I suggest to improve drawing of bone controls on workarea like this:

![screenshot_004](https://user-images.githubusercontent.com/332

[2020-08-11 04:10] morevnaproject opened #1626 "[Skeleton Tool] Edit Second bone too when Skeleton Deformation Layer edited"
Let's suppose user created several bones in Skeleton Deformation Layer (using Skeleton Tool).
Then he realized that some bones are not placed correctly, so he changed their points.
With current behavior, when user edits first bone (initial position) the position of second bone is not changed.
This leads to problems, shown in this video -https://youtu.be/obN94tO6xGM

Solution:

When user edits firs

[2020-08-11 04:14] morevnaproject opened #1627 "[Skeleton Tool] Child bone placed incorrectly on Skeleton Deformation layer"
At certain circumstances child bone appears in wrong place when added using Skeleton Tool in Skeleton Deformation Layer.

Steps to reproduce:
1. Create Skeleton Deformation Layer using Skeleton Tool, add 1 bone.
2. Modify any point of that bone.
3. Create next bone. -> it appears in wrong place.

Video - https://youtu.be/dzTPdNbqS3U

Hint: This is about dealing with first/second bones.

[2020-08-11 09:42] Aa20475 commented on #1615
Fixed this. Please merge it asap! :sweat_smile:

[2020-08-11 12:18] #1366 closed

[2020-08-11 12:59] morevnaproject commented on #1615
can't find where the changes located. Maybe you need to create a new PR? ^__^

[2020-08-11 14:27] #1615 closed

[2020-08-12 15:20] saurabh-ramola commented on #1481
I guess this can be closed now.

[2020-08-12 15:51] morevnaproject commented on #1621
I tested on Linux and see that it displays symbols in reverse sequence (this is because the text should be RTL) -
![screenshot_002](https://user-images.githubusercontent.com/332868/90037349-508d8300-dcee-11ea-8d17-1a4d2ff296b2.png)

[arabic-text.sifz.zip](https://github.com/synfig/synfig/files/5063927/arabic-text.sifz.zip)

[2020-08-12 15:57] morevnaproject commented on #1621
...and here is how it looks on Windows:
![screenshot_003](https://user-images.githubusercontent.com/332868/90038061-25effa00-dcef-11ea-8281-09dc9a19a4dc.png)

[2020-08-12 16:00] #1556 closed

[2020-08-13 18:41] rodolforg commented on #1621
The problem on Windows is the selected font – it doesn't have support to arabic. User should choose one that does.

About the text direction:
* we could let user choose between LTR or RTL (right-to-left)
* as text is in UTF-8, we could check if character is in range of arabic (or any other RTL language)
* we could use harfbuzz, due to ligatures/liaison
* we could you pango (that uses harfbuzz)

[2020-08-14 04:36] AnishGG opened #1634 "[Lottie Exporter] Add support for Image sequence"
Lottie has now[v5.5.9] provided support for image sequences[ [LINK](https://github.com/airbnb/lottie-web/issues/1070#issuecomment-570437412) ]. Hence we should be able to support it too.

[2020-08-14 05:59] Aa20475 commented on #1624
Hey! I've made this change but the `dock_layers` is not getting upgraded.Do I have to trigger a signal for this? Or is there a function to update it?

[2020-08-14 06:02] morevnaproject commented on #1621
You right! I changed font and it works now!
![screenshot_003](https://user-images.githubusercontent.com/332868/90218567-59856e00-de2e-11ea-89e3-e47153bd2bff.png)

[2020-08-14 06:03] rodolforg commented on #1624
From `layer.cpp`:
[code]

[2020-08-14 06:05] rodolforg commented on #1624
And theoretically it's updated in `layertreestore.cpp`:

[code]

[2020-08-14 06:21] Aa20475 commented on #1624
Hey! Are active and enable the same?

[2020-08-14 06:22] rodolforg commented on #1624
Whoops I don't know:) @morevnaproject ?

[2020-08-14 06:28] morevnaproject commented on #1621
That was my first idea too. But we will have problems with mixed strings, like this:
![screenshot_004](https://user-images.githubusercontent.com/332868/90219372-1af0b300-de30-11ea-8e25-3c23e3fc3bb5.png)

And yes, we have to deal with ligatures/liaison.

I think that would be the best case.

@blackwarthog also used Pango for his prototype of Text Layer - https://repo.coolbug.org/morevna/lab/blob/ma

[2020-08-14 06:39] rodolforg commented on #1621
Pango doesn't let us to deform character as current implementation does... AFAIK it only allows us to set font height

[2020-08-14 10:51] morevnaproject commented on #1621
Looks like it allows to deform. In Synfig 1.0.2 there was cairo-based render engine, which was using Pango.
I have tested and it renders Arabic text correctly (with deformation) -

![screenshot_004](https://user-images.githubusercontent.com/332868/90242019-6e75f780-de56-11ea-9ed8-aadb2e20d51b.png)

This code remaining here -
https://github.com/synfig/synfig/blob/09d60691618fbae84ad6384dab655ae95b6

[2020-08-14 10:53] morevnaproject commented on #507
Linking this to #1621

[2020-08-14 13:42] #1535 closed

[2020-08-14 13:45] morevnaproject commented on #1624
Yes, active and enable are the same. See `synfig-studio/src/synfigapp/actions/layeractivate.cpp`. ^__^

[2020-08-14 17:42] rodolforg commented on #1624
So, it would automatically update the layer tree view :)

[2020-08-14 18:16] Aa20475 commented on #1624
Ohh thanks! @morevnaproject  @rodolforg I triggered the `signal_layer_status_changed` in `CanvasInterface`. :)

[2020-08-14 18:39] Aa20475 commented on #1626
Hey!
I've been thinking about how to solve this issue. But I couldn't come up with any way. I thought,
- Add the second bone's corresponding duck to selected ducks so that the drag applies to it too but I couldn't find a way to get access to it as it's hidden? Also, other thing is that, when the user is selecting a duck to modify the bone, the click handler which I write is not being used. (any ti

[2020-08-14 20:03] Aa20475 commented on #1625
Hey!

In this issue, the bone shape that you showed is from `Layer_Shape` right? But how do I get it here? Deformation layer doesn't inherit from it right? :sweat_smile:  Please let me know what you think!

[2020-08-14 20:55] rodolforg commented on #1621
Ok. I saw a "transformation matrix" in Pango that should the work.

[2020-08-14 21:25] khaledhosny commented on #1621
Pango should be much less work to integrate (especially if you already use Cairo), and provides many needed features (RTL, font fallabck, line breaking, etc). HarfBuzz is much lower level than Pango, and will require a bit of work (and additional libraries) to get the same features.

[2020-08-14 21:30] #1314 closed

[2020-08-14 21:33] rodolforg commented on #1621
I've found a reference implementation both for raw harfbuzz:
https://github.com/lxnt/ex-sdl-freetype-harfbuzz/blob/master/ex-sdl-freetype-harfbuzz.c

We don't use cairo in rendering (anymore).

Anyway, I tested a simple/draft implementation by using pango yesterday.
I did wish to avoid it, to reduce the synfig library dependencies (keep them at low number).
However, I don't have time now to think

[2020-08-14 21:34] FirasH commented on #1165
No recent activity here... I can take a look at this one.

First I'd place all the buttons in a coherent order then deal with the possibility of different layout for OSes.

[2020-08-15 13:06] Keyikedalube opened #1636 "Dynamic forward-only render background animation"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
*Inspired from blender prefetch feature. Animated GIFs are provided for demonstration ;)
This issue can be closed if it sounds too unrealistic for synfig*

Currently, when we turn on render background animation from the toolbar, synfig does it both backward and forward.
# 1. What if synfig does only forward?
Pro

[2020-08-15 15:47] morevnaproject commented on #1626
I think it's better to go with a second approach.

Can you please push a code you have and show which part you talking about?

[2020-08-15 15:48] morevnaproject commented on #1625
No this shouldn't be drawn by `Layer Shape`. You shouldn't use any features of render engine.
My idea was to draw those elements in the same way as you added dashed outlines (the ones which connecting bones).

[2020-08-15 21:05] Aa20475 commented on #1625
Ohh that's an interesting way to do it! Will try!

[2020-08-15 21:58] Aa20475 commented on #1626
I was talking about this handler. When I was solving some other issue, I found out that this handler is not being called when the user clicks on a duck. So, now I'm confused bout how to get the initial offsets and parameters of the bone on click.
https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/states/state_bone.cpp#L523

[2020-08-16 14:14] morevnaproject commented on #1621
UPDATE: Client has flushed away. ^__^ I have implemented a [sound export feature](https://github.com/synfig/synfig/pull/1623) for them, but they didn't paid according to our previous agreement. Well, we have a great feature anyway! :rofl:

[2020-08-16 14:59] morevnaproject commented on #1626
Maybe modify SetValueNode action? Possibly, you can check which valuenode was modified and if it is a bone of Skeleton Deformation Layer, then do changes  for second bone?

![screenshot_002](https://user-images.githubusercontent.com/332868/90337286-b427f100-e00b-11ea-947e-c4430b307728.png)

[2020-08-16 15:01] Aa20475 commented on #1626
Heya that's a nice idea! Will try! 😁

[2020-08-16 15:37] rodolforg commented on #1621
![Captura de tela de 2020-08-16 12-34-41](https://user-images.githubusercontent.com/1323987/90338015-f37b2100-dfbc-11ea-9658-d11d92defb7c.png)

Oh. So I'll go back to my priority list lol Cleanup header files and standardize custom widgets

[2020-08-16 15:46] morevnaproject commented on #1621
Woah!!!

[2020-08-16 15:57] rodolforg commented on #1621
It still misses some parameter implementation: x-axis size, horizontal and vertical spacing, kerning (I think Pango does it automatically and don't let us disable it) and Sharpen Edges (and I don't know what it does)

[2020-08-17 02:29] khaledhosny commented on #1621
You can control any [font features](https://developer.gnome.org/pango/stable/pango-Text-Attributes.html#pango-attr-font-features-new) with newer versions of Pango. There are lots of the font features that user should be able to control, not just kerning.

[2020-08-17 03:50] morevnaproject commented on #1621
Woops... There was a mistake - it turned out they didn't received my payment request. They did payment for sound export today, everything is alright. ^___^

[2020-08-17 07:01] Aa20475 commented on #1624
I think this issue is closed! ^__^

[2020-08-17 07:01] #1624 closed

[2020-08-17 07:18] Fahad-Alsaidi commented on #1621
Great..  I'm happy that the problem is resolved.looking forward to Arabic support in text layer.
Thanks for great work

[2020-08-17 14:34] morevnaproject commented on #286
This feature is implemented in master branch now.

[2020-08-17 14:35] morevnaproject commented on #1621
I also do not know what it means. It slightly changes look of the text, but it is hard to describe the change.

Also, hint for this parameter says: "Turn this off if you are animating the text". But the result of animated text looks equally bad in even when it is turned off - see #389.

[2020-08-17 15:14] #1627 closed

[2020-08-18 08:48] NoBodyButMe commented on #972
Sorry, I still experience the same problem. The development version doesn't work on Catalina.

[2020-08-18 08:57] NoBodyButMe commented on #972
Synfigstudio 1.3 is not working on Catalina. The app icon show a stop icon.

[2020-08-18 11:20] Aa20475 commented on #1557
Hey! I've made some changes. I just am switching the sensitivity of the widget here. But, please let me know if the functionality is fine. Also, I had to change the `layer_change_handler`, so please verify issue #1603

[2020-08-18 13:53] ice0 commented on #972
Hi! @NoBodyButMe can you make a short video showing the problem?

[2020-08-18 13:56] #1126 closed

[2020-08-18 16:26] saurabh-ramola commented on #1217
@morevnaproject , I discussed this with @AnishGG and we found a way that will allow us to not animate the animation frame by frame and this method leads to a huge decrease in `.json` file size as well leading to faster playback 😃 . The only limitations are that :
1. Width will be the same in the outline, though it can be animated.
2. The ends of the outline(tip) cannot be animated in this method.

[2020-08-18 16:36] AnishGG commented on #1217
@saurabh-ramola please mention the points that were discussed regarding the use of first vertex as the common width. This way we can ensure that we are all on the same page and then you can start with the implementation. ^__^

[2020-08-18 16:40] saurabh-ramola commented on #1217
Yes, I forgot to mention the options for width :
1. We could use the width of the first vertex as the common width.
2. We could take the average width of the three vertices but this would be problematic to implement in Lottie.

Personally I'm in favour of first option.

[2020-08-18 16:54] AnishGG commented on #1217
I think you meant all vertices :D

+1 in favour of using the width of first vertex as the common width.

[2020-08-18 18:49] NoBodyButMe commented on #972
You can find a video on this link https://vimeo.com/448999497
You will see that I can't start the newest version.
The "older" version of Synfig accepts images when I drag them into the
canvas (it does not accept SVG) and I can render to any file in any folder.
But when I try to open a directory from within Synfig, it won't work.

Op di 18 aug. 2020 om 15:54 schreef ice0 <notifications@github.com>:

[2020-08-18 20:26] ebarranco commented on #682
We still have this **'Fontconfig error: Cannot load default config file'**  In appimages  in arch distros too. (Arch, Arco, manjaro...)

[2020-08-19 06:56] AYESDIE commented on #961
Do we really need this file now? It'll be redundant to update this file and keep it updated with the actual documentation [here](https://synfig-docs-dev.readthedocs.io/en/latest/common/cmake.html) whenever any change is made in the future.

Maybe we can add a link to CMake's documentation in README.md over [here](https://github.com/synfig/synfig/blob/master/README.md#building-from-source).

[2020-08-19 13:35] morevnaproject commented on #1557
Hi!
I like the idea with switching the sensitivity of the widget, it helps with debugging.

I have tested it and found the following issue:

1. Select Skeleton Tool and create a Skeleton Deformation Layer with several bones.
2. Switch to Arrow Tool. Make sure that Skeleton Deformation Layer is selected.
3. Select Skeleton Tool again -> The panel not updated (second widget should be sensitive, beca

[2020-08-19 13:37] morevnaproject commented on #1557
Video - https://youtu.be/jj7fWfLVu0I

[2020-08-19 13:43] morevnaproject commented on #961
Good point.

[2020-08-19 13:43] morevnaproject commented on #1557
...also, PR #1604 somehow introduces issues with bone parents:

1. When creating regular Skeleton Layer first bone is not assigned as a parent for second bone. For third bone and all subsequent everything is alright.
2. When creating Skeleton Deformation Layer bones are not parented at all.

Video - https://youtu.be/Hltme-gAhgQ

[2020-08-19 13:48] morevnaproject commented on #1217
I think we should use value in Outline Width parameter (1), as the widthpoints (2) are just define relative scale for that value ^__^ -
![screenshot_001](https://user-images.githubusercontent.com/332868/90643098-6276a500-e25d-11ea-8b8e-aa6c2e328122.png)

[2020-08-19 16:05] AnishGG commented on #1217
Oh yes, this is much better!
@saurabh-ramola please make a note. ^__^

[2020-08-20 05:16] Aa20475 commented on #1557
Alright I'll split them up.

Will also try to fix the issues asap! ^__^

[2020-08-20 05:37] Aa20475 opened #1645 "Dashed Line not appearing in Skeleton Deformation Layer"
Continuation to issue #1588

[2020-08-20 06:32] #1645 closed

[2020-08-20 12:38] #961 closed

[2020-08-21 04:57] Aa20475 commented on #1557
Hey! @morevnaproject did you test the recent commit?

[2020-08-21 06:22] #1165 closed

[2020-08-21 06:40] morevnaproject commented on #1557
Hi! Testing it now...

[2020-08-21 06:45] morevnaproject commented on #1557
Yes. So it's best to get  #1603 resolved first, and then do this issue. ;)

[2020-08-21 06:56] Aa20475 commented on #1557
Okayy 😅😂

[2020-08-21 07:00] morevnaproject commented on #1557
Hi! I have tested and switching sensitivity for widgets now works well. I think you can make insensitive widgets hidden now.

Regarding PR #1603 see my latest comments -
https://github.com/synfig/synfig/pull/1618#issuecomment-678078071

[2020-08-22 10:05] ice0 opened #1648 "[CMake] Missing images after build"
**Synfig latest master & Windows 10 MSYS2**:

After building using CMake (ninja), some images is missing.
In logs I see this messages:
[code]

As we can see, the `build_images` target is run before these modules are compiled, so we need to make it depend on it.

[2020-08-23 05:10] Gilraiser opened #1649 "The sound panel does not show the wave for all files."
**Synfig version & platform**:

Development version: 1.5.0
Revision: 20200817
Branch: master
Revision ID: 2beffbe
Built on Aug 17 2020

Archlinux  amd64

**Issue description**:

Hello, cordial greetings. The sound panel does not show the wave for all files. I tried with mp3, wav and ogg files without finding a pattern that makes it display the wave correctly or not. I hope the information is usefu

[2020-08-24 00:07] rodolforg opened #1654 "CellRenderer_TimeTrack (?) accessing invalid memory"
**Synfig version & platform**:
master branch (0b210b58). Linux

**Issue description**:
I was searching for some memory leak by using valgrind. Then I suddenly see this report below about invalid reading.
I didn't investigate if the culprit is `CellRenderer_TimeTrack` or `ValueNode_AnimatedInterfaceConst`.

[code]

[2020-08-24 04:36] morevnaproject opened #1656 "[Skeleton Tool] Active bone not set for Skeleton Deformation"
With Skeleton Deformation Layer:

When user clicks **on any control point** of bone, then this bone is highlighted as "active" but it doesn't really becomes active. As result, next created bone is not parented to this bone.

Note: when user clicks on bone itself (**not** its control point), then everything works as expected.

Video - https://youtu.be/hTLZSWxRzUo

[2020-08-24 04:49] morevnaproject opened #1657 "[Skeleton Tool] Enable visibility of Skeleton Deformation layer when layer selection changed"
This is similar to #1624.

When user works with Skeleton Tool:
Visibility of Skeleton Deformation layer should be enabled when user switches selection to any other layer.

How to reproduce:
1. Select any Skeleton Deformation Layer.
2. Switch to Skeleton Tool -> Skeleton Deformation Layer is disabled, that's good).
3. Select any other layer -> Skeleton Deformation Layer remains disabled. Expected b

[2020-08-24 04:55] morevnaproject opened #1658 "[Skeleton Tool] Automatic change Bone Width parameter in Tool Options Panel (for Skeleton Deformation)"
When working with Skeleton Tool and Skeleton Deformation Layer:
If user changes width of bone tip, then the new value of width should be applied to Bone Width parameter in Tool Options Panel

Explanation video - https://youtu.be/SyZkaGEe5zI

[2020-08-24 07:22] ice0 opened #1660 "Build system roadmap (near future, 2020)"
#### MacOS
- [ ] Check librsvg hack on 10.10 (and eliminate it if possible)
- [ ]  Fix ImageMagick/libtool problem, contact with libtool authors

#### MSYS2
- [ ] Remove `set_env.sh` script, use builtin environment variables
- [ ] Update MSYS2 MLT to v6.22.1, and add `avformat` support
- [ ] Switch to MSYS2 MLT and remove custom MLT build script
- [ ] Fix CMake to use MSYS2 MLT (it now uses hardco

[2020-08-24 07:31] ice0 opened #1661 "SynfigStudio segmentation fault on exit"
**Synfig version & platform**:
Latest master / Linux / MSYS2

**Issue description**:
Steps to reproduce:
Run synfigstudio. Open preferences, press OK. Exit Synfig Studio.

[2020-08-24 11:17] Aa20475 commented on #1656
Now?

[2020-08-25 09:51] FirasH opened #1666 "Creating a new Layer, selection of other Layers is held"
**Synfig version**:
master 617fd4b

**Issue description**:
1) Create a new animation
2) Select the `Rectangle Tool` (or any other tool that creates a new `Layer`)
3) Draw a `Rectangle` on Canvas
      Now a new `Layer` is added to the animation
4) Draw another `Rectangle` on Canvas
      Now a second `Layer` is added to the animation

At this point both `Layers` are selected.

I'm not sure if this

[2020-08-26 05:24] Keyikedalube commented on #928
OK, a little bit of misunderstanding above... running synfigstudio won't need LD_ LIBRARY_PATH to be set. Only if the binary is executed from `build-dir/output/bin` directory.

But in my above alternative bash command, you can notice that I'm trying to run synfigstudio after this build & install command was executed:
[code]

In that case, we need to set LD_ LIBRARY_PATH path for the installed vers

[2020-08-26 06:16] ice0 commented on #928
Ok, looks like we forgot some libraries during installation. I will check it later. Thank you!

[2020-08-26 13:07] #1656 closed

[2020-08-26 15:20] morevnaproject commented on #1666
I agree. This behavior is kinda annoying. ^__^

[2020-08-26 16:31] #1558 closed

[2020-08-26 16:34] morevnaproject opened #1669 "[Skeleton Tool] Hide "Make Parent To Active Bone" menu item when not using Skeleton Tool"
The "Make Parent To Active Bone" menu item appears when user right-clicks on any control point of bone.
This menu item should be visible only when Skeleton Tool is active.

[2020-08-26 16:39] morevnaproject opened #1670 "[Skeleton Tool] Crash when calling "Make Parent To Active Bone""
Simple way to crash (reproducible) - https://youtu.be/CspYRKVpl-w

[2020-08-26 20:04] rodolforg commented on #1666
And it's done deliberately by tools …

[2020-08-27 15:11] #1670 closed

[2020-08-27 15:13] morevnaproject opened #1673 "[Skeleton Tool] Rename "Make Parent To Active Bone""
I suggest to rename "Make Parent To Active Bone" to "Set as Parent to Active Bone". ^__^

[2020-08-27 21:07] Vaelatern opened #1674 "Packaging latest synfig difficult"
I'm working on the package for a Linux distribution trying to update the distributed synfig from 1.2.2 to 1.3.16

We previously ran a build based on gnu-configure, but that clearly is no longer preferred, so I tried the cmake build. This is a straight invocation of cmake, to support things like cross building, and making sure all the environment variables are set correctly. However, it does not do

[2020-08-28 04:20] AYESDIE commented on #1674
Can you specify the commands you used so this can be reproduced?
Can you tell the operating system on which you tried?

Those assets are built by `build_images` target.
You can try this command to build those files (which should include `/about_icon.png`
[code]

But there's no need to specify that target when doing `make install`.

[2020-08-28 04:40] Vaelatern commented on #1674
Seems that the default target ('all') does not actually build "all"

I'll correct by manually specifying the targets `build_images all`

Commands for reproducing are distro specific, but I can link to a travis build if this keeps failing.

[2020-08-28 04:47] AYESDIE commented on #1674
I'm pretty sure there should not be a need to manually specify those since it's added as a dependency on the target `synfigstudio`. But sure you can give it a try.

That'll help too ^_^

[2020-08-28 04:50] Vaelatern commented on #1674
https://travis-ci.org/github/Vaelatern/void-packages/jobs/721908910

Build starting. I've had to specify `all build_images` but `build_images` can't succeed:

[code]

[2020-08-28 05:25] AYESDIE commented on #1674
It's weird that it built the target `synfigstudio` without ever building `build_images` [here](https://travis-ci.org/github/Vaelatern/void-packages/jobs/721908910#L4388). Let me take a look at it.

[2020-08-28 05:58] AYESDIE commented on #1674
Alright, so I checked the issue and looks like the CMake file over [here](https://github.com/synfig/synfig/blob/v1.3.16/synfig-studio/images/CMakeLists.txt) (as of version 1.3.16) is not up to date.

You can find this issue #1132.

[2020-08-28 06:15] ice0 commented on #1674
Hi guys!

Currently autotools is still recommended for building packages. We are currently working on improving CMake, but it is still under testing/development stage, so we recommend it mostly to developers only.

Also, the 1.3 branch does not have all the features backported from the `master` branch, and the latest CMake improvements is unfortunately missing.

**Current roadmap:**

After fixing

[2020-08-28 08:16] morevnaproject commented on #1621
@rodolforg Is the current code available somewhere? I would be happy to test it. ^__^

[2020-08-28 09:22] Aa20475 commented on #1657
Hey! I am not sure how to check the if we are changing from the layer or to a layer using the `layer_change_handler` .

[2020-08-28 14:21] Vaelatern commented on #1674
Hello, a stupid question then.

Autotools would involve having a configure script, right? Or enough for autoreconf to function. So, because neither are present, how might I trigger an autotools build?

[2020-08-28 17:17] Aa20475 opened #1678 "[Skeleton Tool] Synfig crashes when we try to edit any other duck other than a bone's"
https://youtu.be/mQMvfkzivbI

[2020-08-28 17:31] Aa20475 commented on #1678
This fix works. Please merge asap

[2020-08-28 22:58] rodolforg commented on #1621
@morevnaproject oh sorry. I didn't commit anything until now, but I'll do it now.

[2020-08-28 23:13] rodolforg commented on #1621
Here: https://github.com/rodolforg/synfig/tree/text-pango

[2020-08-29 12:40] Aa20475 opened #1680 "[Skeleton Tool] Can't load saved file that has layers made with skeleton tool"
Can be replicated when you try to load this file.

[Robby.zip](https://github.com/synfig/synfig/files/5145213/Robby.zip)

This is what happens.

![Screenshot 2020-08-29 12:00:25](https://user-images.githubusercontent.com/35968657/91637027-c97e2180-e9f4-11ea-9585-59346be290ec.png)

[2020-08-29 12:41] Aa20475 commented on #1680
I am working on it.

[2020-08-29 13:31] #1673 closed

[2020-08-29 13:38] morevnaproject commented on #1680
Yes, I can reproduce the same.

This only happens when Skeleton Layer is made with Skeleton Tool and has more than one bones.
Video - https://youtu.be/n7Qqxabkah4

[2020-08-29 13:42] morevnaproject commented on #1678
That's weird, I can't reproduce the same on latest master - 3d14739 ...

[2020-08-29 14:28] ice0 commented on #1674
Synfig is divided into three components: ETL, synfig-core and synfig-studio.

ETL - the extended template library.
synfig-core - contains the render engine and core/command-line tool (cli)
synfig-studio - gui for the application.

This is why it have 3 configure scripts for each module.
More information here: https://synfig-docs-dev.readthedocs.io/en/latest/common/building.html

[2020-08-29 14:33] #1648 closed

[2020-08-29 17:32] #1678 closed

[2020-08-29 17:40] morevnaproject opened #1683 "[Skeleton Tool] Crash when switching to Skeleton Tool"
Steps to reproduce:
1. Switch to Skeleton Tool
2. Create 2 bones
3. Switch to Rectangle Tool.
4. Create Rectangle
5. Switch to Skeleton Tool
 -> Crash.

Video - https://youtu.be/l2iFpzEFKnI

[2020-08-29 19:51] Aa20475 commented on #1669
I will proceed with this issue when #1626  will get closed

[2020-08-30 04:46] #1572 closed

[2020-08-30 13:28] Aa20475 commented on #1560
Hey! I made the first tutorial here : https://youtu.be/8qawMmSN55o

[2020-08-31 01:11] morevnaproject commented on #1621
Thank you! I have tested it and build process fails for me when it tries to render splash screen:
[code]

Though, if I skip building of images it works and I was able to see correct Arabic text on workspace!

[2020-08-31 02:09] rodolforg commented on #1621
And now I'm having this problem even in master branch, even after deleting _debug folder… :(

[code]

[2020-08-31 03:44] ice0 commented on #1621
@rodolforg Looks like it can't find `config.h`

[2020-08-31 05:33] rodolforg commented on #1621
I tried it too :( production version works, cloning to another path too.

The problem was that try I did by following the CMake instructions. It polluted my source folder (with CMakFiles dirs, .cmake and .cmake.in files) instead of using the suggested `cmake-build` dir.
Besides, it created a `etl_profile.h` in `(source-dir)/ETL/ETL/` that is completely different of that generated by Autotools (and

[2020-08-31 07:32] Aa20475 commented on #1683
Hey! Please close this issue asap

[2020-08-31 10:26] FirasH commented on #1058
With cmake I could compile the master branch easily, so this issue could be resolved.

Only problem I noticed is that some icons are missing around the gui and the starting splash screen does not have an image.

@ice0, @AYESDIE do you know if this issue is already known?
I checked the issue tracked and found #1511 where seems resolved. In my case I just compiled with cmake and nothing else, this i

[2020-08-31 11:39] ice0 commented on #1058
It looks like the missing icons are standard GTK icons.
Please check if you have `mingw-w64-x86_64-adwaita-icon-theme` installed.

I'm missing a splash screen too, @AYESDIE, can you check it?

[2020-08-31 13:48] #1683 closed

[2020-08-31 13:53] morevnaproject opened #1685 "[Skeleton Tool] Crash when editing control point"
Steps to reproduce:
1. Switch to Skeleton Tool
2. Create 2 bones
3. Switch to Rectangle Tool.
4. Create Rectangle
5. Switch to Skeleton Tool
6. Edit any control point
 -> Crash.

Video - https://youtu.be/lT-xa7UkzsM

[2020-08-31 13:57] ice0 commented on #1058
ok, found the problem: splash_screen is in './share/synfig/icons/classic/' but should be in './share/synfig/images/' directory.

[2020-08-31 14:36] FirasH commented on #1058
@ice0

`mingw-w64-x86_64-adwaita-icon-theme-3.36.0-1` was already installed before running the compilation.

[2020-08-31 14:42] AYESDIE commented on #1058
Okay, I think it's because those icons are not being moved to the right place either. I'll take a look at that and push those changes soon.

[2020-08-31 15:10] #1680 closed

[2020-08-31 15:17] morevnaproject opened #1686 "[Skeleton Tool] Console warning when adding bone with a parent"
When user adds a second bone (or more bones after that) there is a warning in console appears:
[code]

Video - https://youtu.be/f7tKf0wQeB4

[2020-08-31 15:35] morevnaproject commented on #1621
I have made attempt to build binary on Windows (to send an early preview to the client), but it fails with the following error:
[code]

@ice0 any ideas why this can happen?

[2020-08-31 15:37] morevnaproject commented on #1621
P.S. The code is from branch "testing" - https://github.com/synfig/synfig/tree/testing

[2020-08-31 15:38] morevnaproject commented on #1621
P.S. I am building the code from branch "testing" - https://github.com/synfig/synfig/tree/testing

[2020-08-31 15:46] FirasH opened #1687 "Windows build crashes opening external dialogs (Open/Save/Import)"
**Synfig version & platform**:
master (built on Windows 10 using cmake)

**Issue description**:
1) Start `Synfig Studio`
2) Go to: `File -> Open`

Synfig Studio crashes.

This crash happens also with other dialogs that require a similar window for external stuff, like Open/Save/Import (I think all of them use the same gtk code)

[2020-08-31 16:37] ice0 commented on #1621
@morevnaproject looks like pango not linked. I will take a look,

[2020-08-31 17:00] ice0 commented on #1058
@FirasH Did it prints something interesting in console when you run Synfig Studio?

[2020-08-31 17:10] ice0 commented on #1687
This problem and the icon problem both indicates some kind of problem with GTK.
Something similar happened to me when I trying MSVC build without correct `.gsettings` file and some files associated with the theme.

So can you try to reinstall GTK package?

[2020-08-31 17:50] ice0 commented on #1621
[code]

[2020-09-01 05:36] morevnaproject commented on #1621
@ice0 Oooh, thank you so much!!

[2020-09-01 14:01] Keyikedalube opened #1690 "Uniform Synfig project source code indentation whitespace character"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
Synfig C++ source codes use tabs for indentation and some build scripts use spaces. This is annoying because I've configured my IDE to only insert tabs when tab key is pressed. That also means if I mistakenly use spacebars to indent... the IDE will autocorrect my mistakes.

Currently, I'm having trouble with exi

[2020-09-01 14:03] Keyikedalube commented on #1690
Once decision is made, a section about whitespace character on synfig's doc page would really help for many new contributors.

[2020-09-01 14:47] FirasH commented on #1687
Reinstalled from scratch msys because there was a problem with repositories.
Even after full recompilation the crash is there.

Nope, no error messages from the console.

[2020-09-01 16:20] rodolforg commented on #1687
:/
It happens with CMake only? Or you didn't try with autotools?

[2020-09-01 16:58] FirasH commented on #1687
@rodolforg

I couldn't build it with current autotools because my home directory has a blank space (#1058)
Honestly I have no interest in Windows at all, but if I could build it correctly I could use Synfig at work easily...

[2020-09-01 20:55] rodolforg commented on #1674
Any progress @Vaelatern ?

[2020-09-02 03:30] ice0 commented on #1687
Ok. I can reproduce the problem by moving the project to a directory containing spaces.
Looks like GTK has a problem with this too. I will investigate further.

[2020-09-02 03:38] ice0 commented on #1058
Linked [issue ](https://github.com/synfig/synfig/issues/1687) (GTK problems)

[2020-09-02 11:31] firecloud888 opened #1691 "Canvas pan and zoom shortcut not work when switch to other program then get back"
**Synfig version & platform**:
Windows 10, steam

**Issue description**:
Not sure how to trigger the bug, when I go to other apps and then get back to krita, sometimes it will happen. I must restart krita to fix that.

[2020-09-02 15:28] rodolforg commented on #1691
Hi.
By Krita, do you mean Synfig? If not, maybe you open an issue in wrong project ;)

If you talk about Synfig: what are the specific shortcuts you use and what  is your Synfig version?

[2020-09-02 15:57] rodolforg commented on #1058
The big problem here is automake itself :/
You can workarounf configure problem by removing the two AM_xxxx lines in configure.ac .
But automake generates a Makefile with unescaped path/targets.

[2020-09-03 02:28] rodolforg opened #1692 "Get rid of intltool"
Intltool "used to be used" for translation instead of direct gettext, due to the latter doesn't scan some file types.

Gnome originally developed intltool, but dropped it few years ago, because gettext evolved.
[Since version 0.18.3 (Aug'13)](http://savannah.gnu.org/forum/forum.php?forum_id=7641), gettext supports string extraction from `.glade` files.
[Version 0.19 (Jun'14)](http://savannah.gnu.o

[2020-09-04 23:23] hellocatfood opened #1694 "Objects/layers scale with change in Canvas size"
**Synfig version & platform**:
Synfig 1.3.16 on Ubuntu 20.04

**Issue description**:
I've created an animation with canvas size 500x500 and added some objects to it (original.sifz).

![Screenshot from 2020-09-05 00-20-06](https://user-images.githubusercontent.com/151947/92290891-d4154b00-ef0d-11ea-83d6-7226e9b840cb.png)

I got the canvas size incorrect and so I pressed f8 to change it to 1500x500.

[2020-09-05 07:58] #1559 closed

[2020-09-05 09:02] FirasH commented on #1058
With 88e56d2 icons and splash screen are visible 👍

[2020-09-07 09:35] FirasH commented on #1451
I was thinking about how the UI could be improved and here are my thoughts:

1) I don't see why tools should be in the `Toolbox` and use all of that screen space:
![Tools](https://user-images.githubusercontent.com/6705690/92369962-f1a70800-f0f9-11ea-8cd1-6e35b93df246.png)

Wouldn't it be better to place them vertically on one side of Canvas? For example on the **left** in an Inkscape style UI (See

[2020-09-07 10:44] morevnaproject commented on #1451
We have this space free ^__^ -
![screenshot_003](https://user-images.githubusercontent.com/332868/92379463-b7f1f380-f131-11ea-9507-6bf362c53a73.png)

[2020-09-07 10:45] morevnaproject commented on #1451
This is interesting idea.

[2020-09-07 10:48] morevnaproject commented on #1451
How about moving File/Edit buttons to toolbox?
![screenshot_004](https://user-images.githubusercontent.com/332868/92379861-5aaa7200-f132-11ea-9ecf-55e9b98774c1.png)

[2020-09-07 11:09] FirasH commented on #1451
I don't see an advantage in moving them, because there is enough space to show all the buttons.

I forgot to add this: another problem is that for vertically placed buttons we should have an icon, because text would be too large.

Preparing a mockup to see if what I'm proposing makes sense or not :+1:

[2020-09-07 11:52] FirasH commented on #1451
![mockup](https://user-images.githubusercontent.com/6705690/92384960-4e61ed00-f111-11ea-882b-f3685af6792b.jpg)

Repeated icons are for filling the space with some other buttons

[2020-09-08 05:11] Vaelatern commented on #1674
I've made an effort. 1.3 series builds don't have a bootstrapped source tarball, so I have to re-run things like autoreconf, but I have it working for me.

Thanks for the guidance!

[2020-09-08 05:11] #1674 closed

[2020-09-09 05:06] Jose-Moreno opened #1700 "Migrate Toolbox panel "default settings" section to its own panel"
**Synfig version & platform**:
Synfig 1.3.16

**Issue description**:

I've always thought about this but I feel that the so called "**Default settings**" section should be it's own panel (this name comes from the manual here: https://wiki.synfig.org/Category:Toolbox ).

To be honest having this element that forces the toolbox to be a certain width or height even if we use the divider component to

[2020-09-09 05:07] Jose-Moreno commented on #1700
As an addendum, couldn't these widgets be part of the synfig toolbar? or heck just have a fluid arrangement like the tool icons? 🤔

[2020-09-09 08:04] FirasH commented on #1700
Hi,

I think that what you are explaining makes sense.

A couple of days ago I made a quick mock up, you can find it here:
https://github.com/synfig/synfig/issues/1451#issuecomment-688275796
where I'm basically proposing to avoid the use of a toolbox, but instead put tools / most used options around the canvas area and leave the color part in a window panel.
(If something like this is accomplished

[2020-09-09 21:19] Jose-Moreno commented on #1700
@FirasH Hi, thank you for your answer! I just saw your proposal. I think as a potential solution it also looks good. My only gripe is that unlike Qt those toolbars, these ones don't seem to be easily customizable and they can't be moved (at least on inkscape and synfig you can't). I might need to look into GTK to confirm that as sometimes you want to have the toolbar vertically and other times hor

[2020-09-11 03:34] Jose-Moreno commented on #1694
@hellocatfood Ok sorry it took me so long to test this. Please do the following in development version 1.3.16:

1) Go to the topbar menu > **Canvas**
2) In the canvas dialog go to > **Other** tab
3) there uncheck **Image Span** from the _Lock & Links_ section
4) try to resize your canvas now. Does this satisfy your requirements?

If I understood you correctly this should allow your desired outcome

[2020-09-12 09:16] FirasH opened #1701 "Removing last Waypoint of an Exported Value crashes Synfig Studio"
**Synfig version & platform**:
master 88e56d2
openSUSE 15.2

**Issue description**:
1) Create a new animation
2) Draw a `Rectangle` on Canvas
3) Go to the `Parameters` Panel and select `Point 1`, right-click `Export Value`
4) Enable animation editing mode
5) Create a couple of Waypoints for `Point 1` exported value

At this point the exported value has some waypoints

6) Go to the `Library` Panel,

[2020-09-12 09:59] BobSynfig commented on #1690
Old debate, not only related to Synfig but in any development project

Personnaly, I hate use of tabs because... you need to configure their behaviour for each editor, for each user, for each source language...
Spaces remain consistent among editors/platforms.
I use 2 spaces per indentation level.

Some will argue that 1 tab = 1 indent level but it will be 2/3/4/8 spaces according the taste of the

[2020-09-12 10:31] FirasH opened #1702 "Order by Name has no effect in Parameters Panel"
**Synfig version & platform**:
master 88e56d2
openSUSE 15.2

**Issue description**:
1) Create a new animation
2) Draw a `Circle` on Canvas
3) Go to the `Parameters` Panel and click on `Name`

The list of parameters won't change its order, but a small arrow indicating some order has changed appears:
![order_icon](https://user-images.githubusercontent.com/6705690/92993663-93ac6300-f4f3-11ea-9eda-b04

[2020-09-12 12:22] Keyikedalube commented on #1690
@BobSynfig I prefer spaces too. So no matter what platform or programming text editor, the indentation remains the same as intended by the author.

However, if a team love tabs over spaces then going all tabs is not a bad idea at all. Just that users have to be reminded to configure their editing program to follow the convention. Double work.

[2020-09-13 03:40] ice0 commented on #1690
+1 for spaces. As for me there is no much difference between spaces and tabs, after you configure your IDE and it makes it automatically.

But if we talk about switching the whole project I think this will be a pain, because I am not sure about automatic formatting tools.

@rodolforg @morevnaproject your opinion?

[2020-09-13 03:56] #1702 closed

[2020-09-13 07:42] BobSynfig commented on #1690
Please note that a global switching "now" would break the tracking of changes in source code of Git...
Thousands of lines would be considered as modified ^^
We would have to check file by file that proper indentation has been done properly (due to variable tab width)
And we would have to ensure that all the next contributions would respect this new convention in the future :/

For me, what count t

[2020-09-13 12:02] Keyikedalube commented on #1690
How about changing files in 2 phases?
1. Modify all space indented CMake script files in one PR
2. Then Autotools in another PR

Leave C++ just as it is because there's no way one guy would happily reformat some 100+ files

Whereas build script files are more manageable :) At the most there'll be at most two (or more) script files in a single directory.

I could help with reformatting CMake files

[2020-09-13 15:02] BobSynfig commented on #1687
May be related, I have the same problems of crash  with Inkscape 1.0.1

Inkscape-4035a4f-x86_64.AppImage (1.0.0) -> No problem

Inkscape-3bc2e81-x86_64.AppImage (1.0.1)

Trace/breakpoint trap

(Ubuntu x64 18.04.5)

[2020-09-13 15:45] MyriaCore commented on #554
I'm running into this and it's super maddening. Anyone know the source of this?

[2020-09-14 05:49] ice0 commented on #1687
@BobSynfig  Looks interesting.  Synfig also crashes on `Trace/breakpoint trap`.

I found 2 solutions:
1. Copy `/mingw64/share/glib-2.0` to `output/share/glib-2.0`

or

2. Remove `libgio-2.0-0.dll` and `libglib-2.0-0.dll` from output/bin directory.

Looks like `glib` searches for `gschemas.compiled` using relative path. So when you remove it from `bin` library it loads from `/mingw64/bin/` and can

[2020-09-14 19:44] FirasH commented on #1451
The top toolbar is a `Gtk::HBox` filled with buttons:
https://github.com/synfig/synfig/blob/f1d830afc790f775fc020a78383adaaa7ebfe8e6/synfig-studio/src/gui/canvasview.cpp#L1139-L1401

which is attached to a `Gtk::Grid` containing Canvas and other stuff:
https://github.com/synfig/synfig/blob/f1d830afc790f775fc020a78383adaaa7ebfe8e6/synfig-studio/src/gui/canvasview.cpp#L634-L638

Knowing this, I assu

[2020-09-15 01:58] Jose-Moreno opened #1704 "Implement object align & distribute feature"
**Synfig version & platform**:
1.3.16

**Issue description**:
I'm hoping the synfig community considers this, as it is honestly an essential feature for any animation software that deals with motion graphics and it is quite common in vector and motion graphics editors.

What i'm asking here is for Synfig developers to implement the ability to allow for selective automatic distribution and alignmen

[2020-09-15 12:04] #1666 closed

[2020-09-15 13:42] morevnaproject commented on #1690
I am leaving the decision up to you guys! ^__^

[2020-09-15 20:41] suschizu opened #1705 "Missing Bundle Identifier key in Info.plist (macOS build)"
I've noticed that this app doesn't contain a bundle identifier key in the Info.plist (https://github.com/synfig/synfig/blob/master/autobuild/osx/app-template/Contents/Info.plist)

every macOS app is supposed to have a unique CFBundleIdentifier

https://developer.apple.com/documentation/bundleresources/information_property_list/cfbundleidentifier

[2020-09-16 05:03] ice0 commented on #1705
Ok,  thank you! I will take a look.

[2020-09-16 05:30] Gilraiser opened #1706 "The files get corrupted and cannot be opened again."
**Synfig version & platform**:
V1.5.0 in Archlinux 64x
Revision: 20200913
Branch: master
Revision ID: f1d830a
Built on Sep 14 2020

**Issue description**:
The files get corrupted and won't open again. The program closes when trying to open the file again. Occurs in files with few layers or with many layers, whether or not they include skeleton layers. Attached notices when run from terminal emulat

[2020-09-16 16:35] FirasH commented on #1706
Did you copy some Layers from a different animation?

[2020-09-16 16:40] Gilraiser commented on #1706
Hello, in this file yes. But in another file I made before, I only had one layer made with a bezier tool.

[2020-09-17 00:50] Gilraiser commented on #1706
Hi. I did several tests, and what I could observe is that the error is generated when layers of files that were created with the synfig development version are copied before the revision with ID 2beffbe. In files made with the development version f1d830a this failure does not happen. I attach four files. The first two are made with the development version f1d830a from scratch; a file with animatio

[2020-09-18 03:44] SirCodyC opened #1707 "Cannot save to folder that is named with Chinese characters"
**Synfig version & platform**:
Synfig 1.2.2 Windows 64 bit - Downloaded 9_17_2020
I am running the program in English.

**Issue description**:
Projects will save to folders named such as "test1", "test_project", "pony", "lion".
However, the folders for the art project I am working on are **labeled with CJK Characters (Chinese)** such as:
"獅子" which means lion "小馬" which means pony, etc, **do not a

[2020-09-18 05:00] ice0 commented on #1707
Hi, @SirCodyC!

Can you check if this is fixed in 1.3 release? (You can download [portable ](https://github.com/synfig/synfig/releases/download/v1.3.16/SynfigStudio-1.3.16-testing-2020.08.06-win64-bc82b.zip) version and run it without installation )

[2020-09-18 06:38] morevnaproject commented on #1707
Yes, this issue should be fixed in 1.3.16. ^__^

[2020-09-18 06:39] morevnaproject commented on #1707
Yes, this issue is already fixed in 1.3.16. ^__^

[2020-09-18 08:34] SirCodyC commented on #1707
Yes, it works now (I downloaded the portable 1.3 version that @ice0 linked). Thank you so much!
I had clicked the "Download Lastest Stable Release" button. That must be how I got to 1.2.2 rather than the newer one.

謝謝！(Thank you!)

[2020-09-18 08:34] #1707 closed

[2020-09-18 22:22] OBKF commented on #1198
@morevnaproject I am sorry I couldn't help, my PC died and I had to  work on a lot of stuff during this time.

I hope I can do something as soon as possible.

[2020-09-19 01:44] morevnaproject commented on #1198
Thank you!

[2020-09-20 09:14] FirasH commented on #1451
Made a quick test, and positioning buttons is possible:
![Mockup](https://user-images.githubusercontent.com/6705690/93707852-3a1ae880-fb32-11ea-866b-72d34b0a5c86.png)

Still, need to fix the size of vertical icons.

[2020-09-20 15:20] BobSynfig commented on #1690
We could introduce a .editorconfig file in the project
Most of mainstream editors/IDE can use it natively or with a plugin :)
https://editorconfig.org/

[2020-09-21 02:31] Keyikedalube commented on #1690
EditorConfig looks like a great solution.

Sad that QtCreator still hasn't made it yet.
- https://github.com/editorconfig/editorconfig-qtcreator/issues/3
- https://bugreports.qt.io/browse/QTCREATORBUG-14013

[2020-09-21 02:36] Keyikedalube commented on #1690
However, I could use these two alternatives:
1. Code::Blocks
2. GNOME Builder

[2020-09-24 04:00] define-private-public opened #1708 "UI suggestion: Reduce float precision displayed"
**Synfig version & platform**:
I'm using 1.3.16 on Ubuntu 18.04 (via AppImage)

**Issue description**:
I'm looking to start doing a 2D animation series and I've been trying to pick out some animation software that doesn't break the bank.  So far I'm looking at Synfig, but I think there are some things that can be done to improve the usability.  As for this ticket:

**When displaying a floating poi

[2020-09-26 05:22] Keyikedalube commented on #1690
On QtCreator, anyone can hit **Ctrl+E Ctrl+V** to turn on and off whitespace visualization.

I personally find QtCreator a free and powerful open-source C++ IDE.

CLion and NetBeans seem OK but they need JVM and that doesn't play out well for users with limited resources (4GB RAM). JEdit and (some) remaining editors are just programming text editors that need user intervention setting up a project

[2020-09-26 06:12] rodolforg commented on #1690
I prefer tab indentations. Lol
I mean, I can set any indentation width this way (but I like the usual 4 blank spaces span).

I don't like 2-spaces indentation.
But it's all matter of taste anyway.

[2020-09-26 07:04] Keyikedalube commented on #1690
If I understood reading the example concept correctly reading [this](https://editorconfig.org/#example-file), I think enforcing EditorConfig space width might look like this:
[code]

But this issue https://github.com/editorconfig/editorconfig/issues/347 is worth looking at before you guys decide whether to enforce tab width or not.

[2020-09-26 07:39] ice0 commented on #1690
Ok. Since we want to make the project consistent and not make global changes to it, it is better to leave tab indents. Also, I often use `git blame` to see the author of a commit, so a global change will break this functionality.
So here's my suggestion:
1) stay with tabs indents
2) fix indentation in CMake files when making changes to them.

[2020-09-26 10:50] Keyikedalube commented on #1690
Progressive changes sound better.

That means I can fix this PR #1577 CMake indentation myself, right?
And leave the rest untouched CMake script files alone...

The files I touched:
- synfig-studio/src/gui/CMakeLists.txt
- synfig-studio/ui/CMakeLists.txt

[2020-09-26 11:46] Keyikedalube opened #1710 "List quality Synfig issues for Hacktoberfest"
Could be:
- easy ones (highly preferred for first timers)
- difficult ones too (for dev already experienced with synfig development)

I'd love synfig team to label issues for Hacktoberfest. This will encourage many new contributions and invite new developers too. I think good first issue are a good starting point to label "Hacktoberfest"
For difficult issues, synfig team members know best 😼😄

Even

[2020-09-27 15:03] #1685 closed

[2020-09-28 02:21] define-private-public commented on #1708
@ice0 thanks for tagging this, there's also a tag for UI tickets.  Can you add that too?  I have a whole slew of UI suggestions I'd like to make.

[2020-09-28 07:11] ice0 commented on #1708
Sure!

[2020-09-28 09:39] morevnaproject commented on #1690
+1

[2020-09-28 23:19] define-private-public opened #1712 "How to enable OpenGL Rendering"
**Synfig version & platform**:
1.3.16 on Ubuntun 18.04 (via AppImage)

**Issue description**:

I was perusing the dev. docs, looking through the parts about the rendering engine: https://synfig-docs-dev.readthedocs.io/en/latest/common/structure.html#render-engine

In there it states there is an OpenGL backend, versus the default enabled one is a software one called Cobra.  Is there a way that I ca

[2020-09-29 01:40] Keyikedalube opened #1713 "Copy paste keyboard UX issue"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
1. Draw a rectangle & change its color to red
2. Try to copy the hex color value using **Ctrl+C**
3. Draw a circle and bring up its color properties dialog box
4. Paste **Ctrl+V**

Another rectangle layer gets pasted. I think this is due to bad input handling design.
When a user highlights the color code and hit

[2020-09-29 03:26] ice0 commented on #1712
Hi!
As far as I know, the OpenGL renderer is currently disabled because it hasn't finished yet. There are also some effects that are not yet optimized.

For better performance, you can try switching to "draft" rendering and clicking "LowRes" in the upper right corner of the animation window.

I'm also planning to check out for performance issues, so it would be nice if you could share some of the

[2020-09-29 03:36] #1691 closed

[2020-09-29 03:37] ice0 commented on #1691
Please reopen if you mean Synfig and not Krita.

[2020-09-29 03:40] ice0 commented on #1687
This PR (https://github.com/synfig/synfig/pull/1711) should fix that (I am already merged it).

Can you please check latest master with clean build?

[2020-09-29 03:41] ice0 commented on #1690
Sure!

[2020-09-29 03:57] ice0 commented on #1661
This issue for someone who is familiar with GTK.

Synfig crashes when trying to delete the `Dialog_Setup` object (`dialog_setup.cpp`). The problem is with widgets and destruction order.
When the Dialog_Setup is created, it attaches its widgets (for example, `Gtk :: Switch toggle_use_dark_theme`) to the parent (`Dialog_Template`) Gtk::Grid object.
[code]

So the `Dialog_Setup` is destroyed first, a

[2020-09-29 03:58] ice0 commented on #1710
Are there any requirements for the issue difficulty?

[2020-09-29 04:17] ice0 commented on #1506
@tjb7 can you check it now? Looks like there was a problem with Arch, just checked with Manjaro - everything works fine.

[2020-09-29 05:17] Keyikedalube commented on #1710
No, there are no requirements. Labeling issues allows anyone to quickly discover projects to contribute using the top-right GitHub search feature.

However, project maintainers will have to monitor the PR submitted for quality issues. The page describes something about invalidating user-submitted PR if it's a spam or doesn't actually solve the project issue.

In my opinion, good first issue is a g

[2020-09-29 07:46] Keyikedalube commented on #1710
"Hacktoberfest" is on 😁😃

This issue is resolved.

[2020-09-29 07:46] #1710 closed

[2020-09-29 10:53] FirasH commented on #1687
Rebuilt from scratch using `2-build-msys-cmake.sh` and I cannot get the executable to run.

I get the following errors:
- `libcairo-2.dll` not found (but I have `mingw-w64-x86_64-cairo 1.17.2-2` installed)
- `libatkmm-1.6-1.dll` not found (but I have `mingw-w64-x86_64-atkmm 2.28.0-1` installed)
- `libcairomm-1.0-1.dll` not found (but I have `mingw-w64-x86_64-cairomm 1.12.2-2` installed)
- `libgdk-

[2020-09-29 12:28] ice0 commented on #1687
Whoops, forgot to fix this script :)

Can you try:
[code]

or if you have `Ninja`
[code]

after what you can run `build-cmake\output\bin\synfigstudio.exe`

[2020-09-29 13:37] define-private-public commented on #1712
On a side note, are there any available stress test animation?  I was poking through the code for the software rendering backend.  I think there are some functions that could be rewritten/reorganized to better take advantage of compiler optimizations.  I'd like to submit a PR on those, but I'd also like to have a test for that stuff too.

[2020-09-29 14:36] Keyikedalube opened #1714 "Create child bone menu option missing for skeleton layer"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
1. Add a new skeleton layer
2. Right-click on any points to bring up its context menu

**Create child bone** menu option is missing. Is this done with intention?

The solution I use is add more skeletons and link them to a parent bone from the properties toolbox. But that's making my layers look ugly and I have

[2020-09-29 14:52] ice0 commented on #1712
Currently we have quality test to test rendering engine for regressions (https://gitlab.com/synfig/synfig-tests).
Unfortunately, there are no performance tests yet, but if you know how to implement this, this would be very appreciated.

[2020-09-29 14:53] ice0 commented on #1714
Can you check this with 1.2 release?

[2020-09-29 14:59] Keyikedalube commented on #1714
I think 1.2 is ok... U guys made the **How to create animation in Synfig (3rd edition)** video course with 1.2... right?
*I don't think 1.2 is affected*

Plus I can't downgrade to older version now. All synfig files are created from latest master branch. Cutting-edge commits LOL

[2020-09-29 15:13] ice0 opened #1715 "Don't show warning message if config file is found"
**Synfig version & platform**:
Synfig master branch

**Issue description**:

When you run the `synfig` binary to render, it shows a warning on startup.

[code]

but this warning is incorrect because the `synfig_modules.cfg` file still can be found in the` ../etc/` folder.

So we need to display warning only if `synfig_modules.cfg` file is not found in any known locations.
Known locations is:
- `.`

[2020-09-29 15:48] FirasH commented on #1687
@ice0 I get the same errors even with the last build commands.

[2020-09-29 16:34] rodolforg commented on #1714
You can create skeleton bones in master via Skeleton tool!
I don't know if it was removed intentionally though.

[2020-09-29 16:35] rodolforg commented on #1714
It was: https://github.com/synfig/synfig/pull/1663

[2020-09-29 16:57] FirasH commented on #1687
Yes, `C:\msys64` and my synfig folder is `C:\msys64\home\Postazione 2\synfig`

[2020-09-29 18:22] tamerharsh commented on #1715
I would like to work on this , Please assign it to me.

[2020-09-29 21:24] warlockz commented on #1715
Please can you review for any comments or merge the PR

[2020-09-29 21:58] warlockz commented on #1661
Hi @ice0 ,
I would like to fix this issue .
But, Please can you tell me "**the Dialog_Setup is destroyed first, and when the parent Grid tries to check the attached widgets, they are already destroyed and this results in corruption.**".
How does parent Grid tries to check the attached widgets ? Is it while doing delete Dialog_Setup object in ~App() ?
or does this is problem of memory clean by addi

[2020-09-30 00:09] define-private-public opened #1717 "UI Suggestion: "New Group" behavior"
**Synfig version & platform**:
1.3.16 on Ubuntu 18.04 (AppImage)

**Issue description**:

Right now when I create a New group layer, all of the layers I have selected go into the layer; as expected.

What I find annoying:
1. My now currently selected layer becomes what is below the new Group.
   - I think it would be better to have that new group selected
2. The group is collapsed, thus hiding my

[2020-09-30 00:22] Keyikedalube commented on #1714
That PR intentionally removed child bone menu option.

The benefits??? I'm confused... Was it done to fix something that was already broken? Because the linked issue only mentioned about the need for removing the said menu after reworking skeleton layer. Looks like users must always use Layers panel for adding new child bones now.

Creating child bone using right-click context menu option was fast

[2020-09-30 00:37] Keyikedalube commented on #1717
This issue sounds like UX enhancement.

I love (+1) your point 3. I always rename newly created groups. The ability to directly rename just grouped layers sounds more efficient.

[2020-09-30 00:38] morevnaproject commented on #1714
Yes. Now you can use Skeleton tool to add new bone - https://youtu.be/8qawMmSN55o

Documentation - https://synfig.readthedocs.io/en/latest/tools/skeleton.html

[2020-09-30 00:43] Keyikedalube commented on #1714
New UX :)

I didn't realize I can click around to directly add more child bones!!!

Closing this issue. Sorry for the misunderstanding

[2020-09-30 00:43] #1714 closed

[2020-09-30 02:32] ice0 commented on #1661
GTK has ability to pass Widget management to other Widget, so you don't need to delete it to release the memory.
For example - create and destroy widget:
[code]

More complex example:
[code]

When there are many widgets, it becomes a problem to remember to destroy them. This is where management helps.
[code]

But how this works?
Pseudo-code:
[code]

So as you can see - to make "magic" work - paren

[2020-09-30 03:05] ice0 commented on #1715
@warlockz yes, it doesn't build :( You can check CI status in your PR (https://github.com/synfig/synfig/pull/1716)

I think if you are interesting in this issue (https://github.com/synfig/synfig/issues/1661) maybe pass this issue to @tamerharsh? So that everyone could participate.

@tamerharsh we also have issue [here](https://github.com/synfig/synfig-docs-dev/issues)  ^___^

[2020-09-30 03:11] ice0 commented on #1570
This problem will be easy to reproduce for someone who have Windows and can use non-latin characters.

[2020-09-30 03:21] ice0 commented on #1473
Fixed by https://github.com/synfig/synfig/pull/1677

[2020-09-30 03:21] #1473 closed

[2020-09-30 05:17] FadhilKwan opened #1718 "Dragging Tabs and Panels Make Mouse Cursor Disappear.... but NOT on Its Portable Version"
**Synfig version & platform**:
Dev version 1.3.16 on Win 10 (installer version)

**Issue description**:
Yeah..... this is odd...

So while i was working on a drawing i decided to try using the portable version v1.3.16 instead of the stable one, and... it worked really great for me!
So, i decided to install it permanently into my pc (and replacing my stable ones in the process).

And after it's don

[2020-09-30 10:04] FadhilKwan commented on #1718
A bit of update on this one:
Apparently i managed to 'fix' it with a bit of a workaround.
So what i did was copying the entire contents from the portable version of v1.3.16 (excluding the .bat file) into the folder of another synfig that i just installed.
(i mean they both are v1.3.16, so it should be fine, right?~)

But i still have no idea how did that fixed the issue....
or even why this is a t

[2020-09-30 11:36] Keyikedalube opened #1719 "Don't render animation outside playback bounds"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
1. Set the playback bounds
2. Turn on Render feature

![Screenshot from 2020-09-30 16-56-05](https://user-images.githubusercontent.com/24214509/94680342-3dd31a00-033f-11eb-9e19-84da48792578.png)

Rendering all sides of the timeline is a bottleneck for long-duration animation. I'd love Synfig to be more efficient

[2020-09-30 20:39] warlockz commented on #1661
Thanks @ice0 I got it I will fix it

[2020-09-30 22:19] RoderickJDunn commented on #826
I suggest installing [Karabiner Elements](https://karabiner-elements.pqrs.org/). It allows you to map keys/shortcuts to literally any other, and supports application-specific mappings, and keyboard-specific mappings. Its free and has made working on a Mac so much easier for me. It's trivial to create mapping that "swaps Command and Control, but only only while Synfig Studio is focused".

[2020-09-30 22:30] define-private-public commented on #1712
That seems like it could suffice.  Is there an easy way to perform a render via the command line.  From there, I can use tools like `time` and `perf` to track how long it takes to do a render.

[2020-10-01 00:22] Keyikedalube commented on #1690
I think this issue is safe to close.

Maintainers only have to review the PR (involving build scripts) reminding contributors to make the changes for correct whitespace indentation character.

Or you could implement BobSynfig suggestion > EditorConfig < link and close this issue automatically :)

[2020-10-01 03:21] ice0 commented on #1712
Yes.
You can use `bin/synfig`, which is a console tool that allows rendering from the command line.
use it like `synfig <input.sif> <output> -t <target_format>` for rendering.

It is better to use the `null` target format so it don't waste time to image format conversion.

[2020-10-01 03:32] ice0 commented on #1661
Awesome!
I reread my comment and realized that it could lead to wrong conclusions.
Just to be clear. In my opinion easy solution is not to detach all widgets from the parent Grid, but just allow parent to manage them.

Current code:
[code]

suggested solution:
[code]

[2020-10-01 03:39] ice0 commented on #1718
Hi!
This reminds me of the issue with missing cursors (https://github.com/synfig/synfig/issues/536).
I think there might be a difference in the `share` folder.

[2020-10-01 05:56] Keyikedalube opened #1722 "Set AboutDialog transient & modal properties"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
Synfig Preferences dialog has transient & modal properties set. It's better if AboutDialog has the same behavior :)

[2020-10-01 05:58] Keyikedalube commented on #1722
If Synfig team wants to have this feature implemented 👉 label **easy** and **Hacktoberfest** 😁

[2020-10-01 09:22] ice0 commented on #1722
@Keyikedalube Thank you for reminding!

[2020-10-01 09:29] Keyikedalube commented on #1722
Anyone who wants to take on this issue:
https://github.com/synfig/synfig/blob/41fda6cf928e46e6ac3915d74ffdd599842afa6b/synfig-studio/src/gui/dialogs/about.cpp#L78-L81

Transient property is already set. The only property left to set is the modal property :)

[2020-10-01 09:46] Keyikedalube opened #1723 "Improve About dialog UI"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
On the Credits section of About dialog, there is a license description about Vectorizer. This looks inconsistent because there is License tab already for this purpose.
![Screenshot from 2020-10-01 10-48-13](https://user-images.githubusercontent.com/24214509/94793757-99ada980-03f8-11eb-8d3b-ac9b38ec1280.png)
1. K

[2020-10-01 09:50] Keyikedalube commented on #1723
Ping @ice0 🐧🐧🐧
👉 Easy and Hacktoberfest 😃

[2020-10-01 09:54] morevnaproject commented on #1712
There is also `synfigplayer` console tool, which outputs frames in GUI window and also prints stats into console (stats printed every 10 seconds). THis might be more suitable for benchmarking. ^__^

[2020-10-01 09:59] morevnaproject commented on #1712
About OpenGL rendering - you can specify `--with-opengl` option to configure script of `synfig-core`. But the current code is broken and there is high probability it won't compile.

In addition to that the OpenGL implementation supports only few layers - outlines, regions and images (if I remember correctly).

[2020-10-01 13:05] morevnaproject commented on #1723
Done! Thank you! ^__^

[2020-10-01 14:32] morevnaproject commented on #1718
Hi! I have reproduced the issue on my machine and confirming it.
I have found that some (many) cursors are missing in version shipped as  installer package.
Do not know why this happened, I need to check our build server and scripts at https://github.com/morevnaproject/morevna-builds ...

[2020-10-01 14:37] Keyikedalube opened #1724 "Keyframe tooltip out of position under Wayland"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
Select and drag a keyframe under Wayland session (preferably GNOME desktop), you'll notice the tooltip is not placed properly.
![Screenshot from 2020-10-01 19-57-09](https://user-images.githubusercontent.com/24214509/94823561-9d095b00-0421-11eb-9daf-4cd631cc1b1f.png)
On X11, the tooltip is placed just above the

[2020-10-01 14:37] Keyikedalube commented on #1724
I'm working on this issue :)

[2020-10-02 01:27] #1414 closed

[2020-10-02 02:53] #1724 closed

[2020-10-02 03:53] sflanker commented on #1348
This is definitely still broken in several ways.

1. OS X Catalina no longer stores system fonts in `/Library/Fonts` they are stored in `/System/Library/Fonts` and `/System/Library/Fonts/Supplemental`
1. The search for fonts in `~/Library/Fonts` which is where OS X Catalina stores user installed fonts is not working
1. **I can get a font to load but only by manually copying it to `/Library/Fonts`

[2020-10-02 06:58] snhardin commented on #1722
Happy Hacktoberfest!

I am a total C++ noob and would like to take this. 🙂

[2020-10-02 07:34] ice0 commented on #1722
Now it's yours! )

[2020-10-02 07:57] Keyikedalube opened #1730 "[CMake] Incomplete info on About dialog box"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
1. Missing **Development version**
2. Unknown Synfig version
![Autotools and CMake comparison](https://user-images.githubusercontent.com/24214509/94900222-44ce6980-04b2-11eb-9009-03f4751dc367.png)

I don't know where & how Autotools parses information from but I think CMake is reading it directly from the macro

[2020-10-02 11:56] Svarov-RZM opened #1731 "Crash when adding converters to 'list' type (splines)"
**Issue description**
In some specific cases Synfig can no longer process converters on splines parameters. For example, we have two shapes: rectangle and circle. We want a dot to follow 'rectangle' spline and then half-through the animation jump to 'circle' shape. It's easy to achieve using 'Spline Vertex' converter, we convert origin of a dot and then convert spline parameter to a switch and tha

[2020-10-02 12:23] Keyikedalube opened #1732 "Improve synfigstudio CMake script"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
Project name is already defined in the CMake script of synfig-studio root (not the top root one)
https://github.com/synfig/synfig/blob/75f78f249e76c70453c992f5795908979f8dd40d/synfig-studio/CMakeLists.txt#L5
It's wise to use the defined CMake variable `PROJECT_NAME` instead of manually typing in the already defi

[2020-10-02 12:24] Keyikedalube commented on #1732
Easy and Hacktoberfest :)

[2020-10-02 14:18] Keyikedalube opened #1733 "Remove Navigation menu and implement Gtk::ShortcutsWindow"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
![Screenshot](https://user-images.githubusercontent.com/24214509/94932473-bfb17780-04e6-11eb-9ee1-ee73350970cd.png)

We already have navigation buttons in the toolbar just above the time track panel and I don't think there is a setting in the Preferences/View menu that allows making it hidden. And for this reaso

[2020-10-02 14:24] Keyikedalube commented on #1733
I could work on this issue if you guys want this feature implemented...

[2020-10-02 15:06] ice0 commented on #1732
At the moment there are 3 CMake projects: ETL, synfig-core and synfig-studio. So you can build them separately, just like autotools does. Maybe we need that in the future. Therefore, for now, I propose to leave it as it is ^___^

[2020-10-02 15:19] locness3 commented on #826
IMO it's the minimum for good macOS integration to have shortcuts use Command, it should be done in Synfig.

[2020-10-02 21:39] sflanker opened #1734 "Cut/Copy/Paste shortcuts are incorrect within dialog text boxes on Mac"
**Synfig version & platform**:

Mac OS Catalina 10.15.6
Synfig Stable (1.2.2)

**Issue description**:

While the keyboard shortcuts for Cut/Copy/Pasting layers reflect Mac standards (Command+X/C/V), the shortcuts when editing text inside of dialogs (such as the HTML code text in the color dialog) are hardcoded to be Ctrl+X/C/V.

[2020-10-02 21:45] sflanker commented on #1171
This issue also affects text and controls in many places as well as icon. For example the text and check boxes in the Parameters and Layers panels. Other panels look good, such as the Tool Options panel and the Info panel.

[2020-10-02 22:07] sflanker opened #1735 "The tab key should move focus between the X and Y input boxes of Size, Orientation, Origin"
**Synfig version & platform**:

MacOS 10.15.6
Synfig 1.3.16

**Issue description**:

The tab key should move the focus from the X to the Y input boxes and then commit the changes when pressed from the Y input box.

[2020-10-02 22:10] sflanker commented on #1734
And in Synfig v. 1.3.16 cut/copy/paste shortcuts in dialog text boxes is broken completely!

[2020-10-02 22:28] sflanker opened #1736 "Animated shapes and text rendering within the animation canvas has become noticeably blurry in v. 1.3.16"
**Synfig version & platform**:
MacOS 10.15.6
Synfig 1.3.16

**Issue description**:

Text and shapes in the animation canvas render with a lot of blur. It's not all shapes, for example new shapes look sharp, but shapes that have been animated are blurry. It didn't use to have this problem in earlier versions. This happens with both the Cobra (software) and Cobra Preview (software) rendering modes,

[2020-10-02 22:43] rodolforg commented on #1734
For implementation:

(Source: https://developer.gnome.org/gdk3/stable/gdk3-Windows.html#GdkModifierIntent)

So, GDK_CONTROL_MASK masks Control key on both systems, but on MacOS it should used GDK_MOD2_MASK instead.

[2020-10-02 22:44] rodolforg commented on #1734
Could you please give me an example/use case? I'm not a MacOS user, so I need some guidance here :)

[2020-10-02 22:46] rodolforg commented on #1735
Maybe duplicated #1208

[2020-10-02 22:47] rodolforg commented on #1733
Wow :) I didn't know it! But I couldn't track what gtkmm minimal required version for this feature.

[2020-10-02 22:49] rodolforg commented on #1736
Sadly, the current implementation of text layer makes this happen to all layers below it.
So, as a (annoying) quick fix, you can encapsulate the text layer into a group, with the text as its solo element.

[2020-10-02 22:51] rodolforg commented on #1731
Confirmed :(

[2020-10-02 22:53] rodolforg commented on #1712
A while ago I changed the code in order to able to build with OpenGL support. Some shaders were missing too.

I was partially succeeded: it builds. But it renders nothing :P

[2020-10-02 23:25] rodolforg commented on #1701
I reproduce it with Rectangle (shape) layer, but not with region-type layer.
Backtrace:

[code]

[code]

[2020-10-02 23:50] Keyikedalube commented on #1732
Synfigstudio project() call:
[code]

I've checked synfig-core and the target names are quite conflicting; there's **synfig** and **synfig_bin**
Didn't check out ETL

However, synfig-studio sub-directory is pretty safe to use `PROJECT_NAME` because its value is correctly set with the recent call to `project()` *depicted above*

Anyway, I agree with you too. Set in the future, it is :)

[2020-10-02 23:50] #1732 closed

[2020-10-02 23:53] Keyikedalube commented on #1733
@rodolforg Since gtkmm 3.20 *From devhelp program :)*

[2020-10-03 02:27] ice0 commented on #826
I agree and it will be done.

[2020-10-03 02:30] ice0 commented on #1715
Since there is no answer here by @warlockz, so @tamerharsh you can work on this issue if you want.

[2020-10-03 05:41] morevnaproject commented on #1733
I agree with that.

[2020-10-03 08:38] sflanker commented on #1734
Repro steps: Open color dialog (double click on fill color), select HTML color code, hit either Ctrl+C and/or Cmd+C, close the color dialog and open another one (i.e. double click on the color for a some shape), select the HTML color code, hit either Ctrl+V and/or Cmd+V.

Expected behavior: the color code from the first color should be pasted in to the color code text box for the second. Ideally t

[2020-10-03 08:40] sflanker commented on #1734
I think in 1.3.16 the keypress is getting picked up by the main work area and causing the currently selected layer to be copy and pasted.

[2020-10-03 08:41] sflanker commented on #1735
Yup, I opened a duplicate. Sorry about that.

[2020-10-03 08:41] #1735 closed

[2020-10-03 16:05] ice0 commented on #1734
Looks like the same problem here https://github.com/synfig/synfig/issues/1713

[2020-10-04 13:50] ahmedkrmn commented on #1723
HI @Keyikedalube and @morevnaproject, can I work on this one?

[2020-10-04 14:11] FirasH commented on #1733
Also it is not possible to change the shortcuts in the settings afaik

[2020-10-04 14:13] ahmedkrmn commented on #1723
I notice that this issue is labeled as "Hacktoberfest" to encourage contributions.
According to the [latest update](https://hacktoberfest.digitalocean.com/hacktoberfest-update), the repository should have the `hacktoberfest` topic added to the repository in order to count the PR as eligible for the program.

[2020-10-04 14:38] Keyikedalube commented on #1723
@ahmedkrmn Thanks for the update!

And yes, you can work on this issue.
Just for confirmation comment below that you are already working on this issue :)
...so other contributors will know that this issue is already taken.

Maintainers will assign you soon. Good luck and happy hacking!

[2020-10-04 14:42] ahmedkrmn commented on #1723
Thanks!

I will start working on it later today.

[2020-10-04 14:46] Keyikedalube commented on #1733
I'm already working on implementing `Gtk::ShortcutsWindow` for Navigation. Planning to make this window flexible with multiple shortcut sections. So maybe for now I'll implement only the navigation section part and later in the future someone could implement the toolbox shortcuts section. And so on...

[2020-10-05 03:11] Keyikedalube opened #1738 "Use correct data type and reduce build warning messages"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
g++ reports build warning message about incompatible data type in an if condition.

![20201005_08h27m54s_grim](https://user-images.githubusercontent.com/24214509/95036593-0620f500-06e6-11eb-9727-32c433c28208.png)

I think it's better to use the correct data type and resolve those (there are more) warning message

[2020-10-05 03:21] Keyikedalube commented on #1738
All these three files need to define their data types as `unsigned long` from `int`
- https://github.com/synfig/synfig/blob/75f78f249e76c70453c992f5795908979f8dd40d/synfig-studio/src/gui/widgets/widget_soundwave.cpp#L200-L201
- https://github.com/synfig/synfig/blob/75f78f249e76c70453c992f5795908979f8dd40d/synfig-studio/src/gui/states/state_bone.cpp#L1092
- https://github.com/synfig/synfig/blob/75f

[2020-10-05 06:57] morevnaproject commented on #1723
The `hacktoberfest` topic is added to the repo now. Thanks for the notice!

[2020-10-05 07:53] morevnaproject commented on #1733
It is not possible from GUI, but should work by editing configuration file (called `accelrc`).

[2020-10-05 09:21] rahmanuh commented on #1738
Hi,

I am interested to try to solve this. May I work on this issue?

Best regards,
Rahmanu

[2020-10-05 09:38] morevnaproject commented on #1738
Assigned to you!

[2020-10-05 11:29] Keyikedalube commented on #1733
- Help menu
![Screenshot from 2020-10-05 16-46-02](https://user-images.githubusercontent.com/24214509/95074130-a2211f80-072b-11eb-91b5-b6e1d8ed226e.png)
- Actual window
![Screenshot from 2020-10-05 16-45-15](https://user-images.githubusercontent.com/24214509/95073755-00013780-072b-11eb-93ae-3ce092ba6398.png)

Sadly, removing Navigation menu also removes all navigation accelerator keyboard shortcut

[2020-10-05 11:38] Keyikedalube commented on #1733
In case an alternative shortcut solution is implemented... I recommend changing play/pause to just spacebar. Blender and Kdenlive both uses spacebar and it's intuitive. I didn't know synfig has accelerator keys for play/pause until I started working on this issue. I still use mouse click to play/pause and that's much more better than memorizing new quirky shortcuts just for one application. Spaceb

[2020-10-05 15:25] rodolforg commented on #1733
I use 'k' on YouTube lol Sometimes spacebar just scrolls the page :P

[2020-10-06 00:03] Keyikedalube commented on #1733
Yup, spacebar works fine as soon as the page loads and I haven't clicked somewhere else around the page. I do use 'k' too when I have to skip ('j' and 'l') promotions and repetitive call to actions by content creators or skip some sections of tutorial and hit pause. Best UX :)

[2020-10-06 13:29] Keyikedalube opened #1742 "Correct wrong documented comment"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
JackDial class has incorrect documented name at the end of its class declaration
https://github.com/synfig/synfig/blob/60dc5b6b29c215e73c38bd3da4d2884696faf49e/synfig-studio/src/gui/dials/jackdial.h#L67

I'm working on another synfig issue where I need to find out all occurences of the word 'FrameDial' and the a

[2020-10-06 14:18] rahmanuh commented on #1742
Hi again.
I think it needs a hacktoberfest label  :)

[2020-10-06 14:20] DhairyaBahl commented on #1742
I would like to work on this issue. Kindly assign it to me

Thanks :)

[2020-10-06 14:21] DhairyaBahl commented on #1705
I would like to work on this issue if its still available

Thanks :)

[2020-10-06 16:21] ice0 commented on #1705
@DhairyaBahl Assigned to you!

[2020-10-07 00:29] Keyikedalube commented on #1742
Synfig repo is already labeled with "hacktoberfest" topic and any issue you pick regardless of the said label applied or not is already part of Hacktoberfest.

You can begin working and make a PR for this issue :)

[2020-10-07 02:57] ice0 commented on #1742
@DhairyaBahl Assigned to you!

[2020-10-07 02:59] #1738 closed

[2020-10-07 05:20] DhairyaBahl commented on #1742
@ice0 @Keyikedalube A fixed the issue and made a pull request.

Thanks :)

[2020-10-07 06:06] ice0 opened #1744 "Fix GCC Wreorder warnings"
For example:
[code]

[2020-10-07 06:41] rahmanuh commented on #1730
Hi again, this issue is interesting. May I work on this?

[2020-10-07 07:39] Keyikedalube commented on #1730
If you can understand CMake sure :)

Just check out the code first and if you can determine a fix, then you can request maintainers to assign this issue to you. I haven't figured how to solve this but I'm guessing the cause is from the build generator (CMake).

[2020-10-07 07:42] rahmanuh commented on #1730
Okay. I will study the code first.

[2020-10-07 07:51] #1278 closed

[2020-10-07 11:03] Keyikedalube commented on #1744
- Use CMake to build
Output is clearer and more readable
- Do a clean build
Otherwise use `cmake --build . --target clean` to clean your previous build files
- Apply your OOP knowledge
Good luck :)

[2020-10-07 11:11] ThaFireDragonOfDeath commented on #1736
Related: https://github.com/synfig/synfig/issues/831

[2020-10-07 13:30] morevnaproject commented on #1733
Shortcuts for frame seeking are used frequently in my case.

[2020-10-07 13:45] Keyikedalube commented on #1733
Do you think the below frame seeking shortcuts would be better?
Next frame - right arrow
Prev frame - left arrow
Next keyframe - Shift + right arrow
Prev keyframe - Shift + left arrow

[2020-10-07 14:23] morevnaproject commented on #1733
Arrows are often used to move objects on workarea ^__^

[2020-10-07 14:49] DhairyaBahl commented on #1744
@ice0 would like to work on this issue. Kindly assign it to me.

Thanks :)

[2020-10-07 16:38] AnshitaVishwa commented on #1715
@ice0 Hey, it looks like this is being caused by main.cpp line 176. Removing that line should fix the extra warnings. As it looks like this issue is inactive, can I make a PR for this one? Do I need to modify the other warning at line 360? Thanks :)

[2020-10-07 23:05] define-private-public commented on #1712
Forgot to ask:
- For linux, that version of GCC is used for the release builds?
- What version of C++ is being used?  I don't see `CXX_STANDARD` defined in the CMake file

[2020-10-08 00:20] Keyikedalube commented on #1733
Oh... I forgot about that.

[2020-10-08 01:32] ice0 commented on #1744
@DhairyaBahl Assigned to you! Thank you!

[2020-10-08 01:35] ice0 commented on #1715
@AnshitaVishwa can you post with link to code, please? Anyway, you can a PR.

[2020-10-08 01:40] ice0 commented on #1712
@define-private-public
- Usually we trying to support at least Debian old-old-stable. Currently with g++ 5.4.0
- C++11

[2020-10-08 06:51] morevnaproject opened #1747 "New system for handling incoming support requests"
Hi everyone! I am opening this issue here, because couldn't find any other place to inform everyone interested. ^__^

Currently we are using [Zoho Desk](https://www.zoho.com/desk/) for handling incoming support requests, coming to our official email address. We pay $36/mo for single agent.

I've got following problem - answering support tickets takes much of my time and in fact this creates a kind

[2020-10-08 07:11] DhairyaBahl commented on #1705
@ice0 I closed previous pull requests. It got messed up and i got confused too. I started again and made a new pull request with proper branching. Hope you don't mind.

Thanks :)

[2020-10-08 09:09] tjb7 commented on #1506
yes, will check

[2020-10-08 10:07] Keyikedalube commented on #1733
It's possible to set the accelerator property to buttons but jump buttons are missing.

There is:
1. play/pause - `Ctrl+P` `Escape`
2. single frame seeking - `Ctrl+.` `Ctrl+,`
3. and keyframe seeking buttons - `Ctrl+[` `Ctrl+]`

`Shift+Ctrl+>` `Shift+Ctrl+<` buttons are missing.

![Screenshot from 2020-10-08 15-32-02](https://user-images.githubusercontent.com/24214509/95444934-020e0500-097c-11eb-8

[2020-10-08 11:46] AYESDIE commented on #1730
The Development Version part here can be fixed by using [add_definitions](https://cmake.org/cmake/help/v3.0/command/add_definitions.html) where you can pass the git info which is already managed by [cmake/SynfigFindGit.cmake](https://github.com/synfig/synfig/blob/master/cmake/SynfigFindGit.cmake).

About Synfig Version, it's weird to see it unknown when it's already being set in the beginning, as

[2020-10-08 12:20] ice0 commented on #1733
Agree. But I think about context-aware keys. So when you select timeline window, you can use them also.

[2020-10-08 15:13] Keyikedalube opened #1752 "Update .gitignore for qtcreator IDE"
**Issue description**:
Synfig doc has a new [QtCreator IDE guide](https://synfig-docs-dev.readthedocs.io/en/latest/ide/QtCreator.html) and like other IDEs, this IDE also generates two unique files for project setup:
- build-synfig-*
- CMakeLists.txt.user

We don't want to track those files so they need to be added to .gitignore lists like how they're done for NetBeans and CLion
https://github.com/

[2020-10-08 15:14] Keyikedalube commented on #1752
👉 Easy and Hacktoberfest 😁

[2020-10-08 16:03] marcelodof commented on #1752
heyy, I can help you

[2020-10-08 16:18] DhairyaBahl commented on #1744
@ice0 @Keyikedalube This time i did it by synfig::warning("‘studio::WorkArea::onion_skin’ will be initialized after [-Wreorder]");

Is it good ? And I totally understand the topic in detail which you've written in my PR

Thanks :)

[2020-10-08 16:37] rodolforg commented on #1744
The idea is to **fix** the compiler warning, and not to add a runtime warning ;)
Here's an example: https://stackoverflow.com/questions/1564937/gcc-warning-will-be-initialized-after?rq=1

[2020-10-08 17:27] DhairyaBahl commented on #1744
@rodolforg Do i have to add -Wno-reorder ? Thanks :)

[2020-10-08 17:54] DhairyaBahl commented on #1744
I am able to understand that onion_skin has to be declared after some X variable which is dependent on onion_skin but I am unable to solve this. I know its easy but i am getting confused in large codebase. :(

Thanks

[2020-10-08 18:26] rodolforg commented on #1744
This way you would hide the warning, not fix it ;)

Yes, that's exactly it. But you don't have to look the entire codebase: the problem is limited to the class only. The class properties/members should be initialized in constructor initialization list in  the same order they are declared/listed in class definition.

[2020-10-08 18:29] DhairyaBahl commented on #1744
@rodolforg Okay...Thanks... working on it :)

[2020-10-09 01:54] Keyikedalube commented on #1733
I used frame seek buttons icon for jump buttons too

![Screenshot from 2020-10-09 07-12-42](https://user-images.githubusercontent.com/24214509/95532735-e0099680-09fe-11eb-86da-0f0c059e6112.png)

Keyboard accelerators respond to all these buttons but a bit slower due to `button->signal_clicked()` animation being played first and then the timeline cursor responding...

I made a rough new icon demons

[2020-10-09 02:15] define-private-public commented on #1712
Is there a flag I can supply to the `synfig` to make it run in a `quiet` mode?

[2020-10-09 02:27] #1752 closed

[2020-10-09 02:39] ice0 commented on #1712
Yes. You can use `--quiet` for this.
There still warnings (always) but this will be fixed soon.
[code]

[2020-10-09 03:25] ice0 opened #1754 "Do not add "/usr/local/etc/" to the search locations for "synfig_modules.cfg" on Windows"
**Synfig version & platform**:
Latest master & Windows

**Issue description**:
[code]

As you may have noticed, there is a *nix path (`/usr/local/etc/`) on Windows. This path is redundant and can be easily disabled using the `# ifdef` statement.

[2020-10-09 07:01] Keyikedalube opened #1755 "Fix whitespace indentation for duckmatic.cpp"
**Issue description**:
The file duckmatic.cpp is indented with spaces. All synfig files use tab character for indentation.
Moreover, we also have `-Wmisleading-indentation` warning message triggered because of inconsistent whitespace indentation.

On your preferred IDE or programming text editor, turn on whitespace visualization (if this feature is provided) to easily fix this issue.

# Spaces
![S

[2020-10-09 07:03] Keyikedalube commented on #1755
👉 Easy and Hacktoberfest 😃

[2020-10-09 07:20] Keyikedalube opened #1756 "Change single-line comment to multi-line comment"
**Issue description**:
The file below uses the ` \` character to document through visualization but backlash character triggers multi-line comment warning message while building synfigstudio.

- https://github.com/synfig/synfig/blob/edce8cc811ff8a58bc3a30cdd72aca846b814128/synfig-studio/src/synfigapp/vectorizer/centerlineskeletonizer.cpp#L1281-L1291
- https://github.com/synfig/synfig/blob/edce8cc8

[2020-10-09 07:21] Keyikedalube commented on #1756
👉 Easy and Hacktoberfest 😃

[2020-10-09 08:32] Keyikedalube opened #1757 "Resolve dangling else warning message"
**Issue description**:
https://github.com/synfig/synfig/blob/cde6d0a960a6bee84473fddcaa425fe6c67c9d64/synfig-studio/src/synfigapp/vectorizer/centerlinepolygonizer.cpp#L416-L421

The above outer if body is not scoped properly. Notice the inner if has its else part.
Without braces, the else could also belong to the outer if too depending on indentation level.

The compiler suggests explicitly adding

[2020-10-09 08:32] Keyikedalube commented on #1757
👉 Easy and Hacktoberfest 😃

[2020-10-09 09:53] ice0 commented on #1715
Yes. Already merged. Thank you!

[2020-10-09 09:53] #1715 closed

[2020-10-09 13:45] DhairyaBahl commented on #1757
@AYESDIE @Keyikedalube I would like to work on this issue but my previous 3 PRs are also pending. Kindly Review them.

Thank you :)

[2020-10-09 13:47] DhairyaBahl commented on #1756
@Keyikedalube @AYESDIE

I would like to work on this issue. Kindly look on my previous 3 PRs.
Thank you

[2020-10-09 13:48] DhairyaBahl commented on #1756
Kindly assign this to me :)

[2020-10-09 15:40] Keyikedalube opened #1760 "Resolve misleading indentation warning"
**Issue description**:
Minor issue caused by the use of inconsistent whitespace character for indentation.

Warning message to resolve:
`warning: this ‘else’ clause does not guard... [-Wmisleading-indentation]`

![Screenshot from 2020-10-09 21-06-03](https://user-images.githubusercontent.com/24214509/95603148-842d2500-0a73-11eb-8b5a-608ff5ce2422.png)

https://github.com/synfig/synfig/blob/cde6d0a9

[2020-10-09 15:41] Keyikedalube commented on #1760
👉 Easy and Hacktoberfest 😃

[2020-10-09 20:14] akshitagupta20 commented on #1755
Hi @Keyikedalube
I would like t o contribute to this issue.

[2020-10-09 21:34] BobSynfig commented on #1760
Please avoid to create issues tagged "Hacktoberfest" for everything, this is counter productive and against the rules.
This could even be reported as spam with "Report a repository that doesn't follow Hacktoberfest's values." and void the efforts of real PR submiters.
If someone needs so much desperately a T-shirt, I have a few in my closet that are now too small for me

https://hacktoberfest.digi

[2020-10-09 21:51] BobSynfig opened #1763 "Can’t move origin box relative to layer with Ctrl pressed in version 1.3.16"
**Synfig version & platform**:
Versions >=1.3.12

**Issue description**:
From the forums, all credits to Synfigme:
https://forums.synfig.org/t/bug-cant-move-origin-box-relative-to-layer-with-ctrl-pressed-in-version-1-3-16/11356

[2020-10-09 23:24] #1754 closed

[2020-10-09 23:31] rahmanuh commented on #1730
I am not sure `set_version(VERSION)` really sets the version, because when I try to see the definition, it points to:
https://github.com/synfig/synfig/blob/fa78a4df4f991b039cfe67c6530c377a8713db6b/synfig-core/src/synfig/layers/layer_mime.cpp#L79
But why it successfully write 1.5.0 below Synfig Studio? :confused:

[2020-10-09 23:41] ice0 commented on #1661
@warlockz Hi! Any progress here? Do you need help?

[2020-10-09 23:43] ice0 commented on #1712
Excessive warnings were fixed by this PR (https://github.com/synfig/synfig/pull/1751)

[2020-10-10 00:21] warlockz commented on #1661
Just confused can you please confirm for all GTK widgets should be created via manged function right ?

[2020-10-10 01:41] Keyikedalube commented on #1760
@BobSynfig You do realize at some point those issues were going to be resolved by someone else in the future, right?
*Even if I did not open them...*

I know I create issues that are too easy and request maintainers to tag them with **Easy** and **Hacktoberfest**
Kind of makes me look like a douchebag who's chasing after "quantity" rather than "quality"

But you are also missing the actual value n

[2020-10-10 01:56] Keyikedalube commented on #1730
ping @AYESDIE @ice0

[2020-10-10 04:34] morevnaproject commented on #1763
Hi! This is an expected behavior. User now should drag violet control point (right under green control point) to change origin. ^__^

[2020-10-10 04:37] morevnaproject commented on #1733
@ice0 I prefer to have those shortcuts with global scope. It’s hard to track the focus. Sometimes I move object with keyboard arrows, then use shortcut to jump a few frames ahead and then again moving object with arrows.

[2020-10-10 04:39] morevnaproject commented on #1733
@Keyikedalube Shame on me, I do not remember what “jump” action actually does (probably, because I never used it). What is the meaning of this action? (I don’t have synfig here right now to check)

[2020-10-10 05:12] Keyikedalube commented on #1733
There are two frame seek actions:
1. 1 frame front and back `Ctrl+.` `Ctrl+,`
2. 1 second front and back `Shift+Ctrl+>` `Shift+Ctrl+<`

[2020-10-10 05:29] AYESDIE commented on #1730
On checking the code, I can see that we are using `Gtk::AboutDialog` as a parent class for our About dialog. So in our case, we are calling `set_version()` from the parent class (which is `Gtk::AboutDialog` here). You can check their documentation over [here](https://developer.gnome.org/gtkmm/3.0/classGtk_1_1AboutDialog.html#a46ba72a65a81ed6e528730de0fc02e29). It works as intended too so there's n

[2020-10-10 05:29] ice0 commented on #1661
yes, for GtkWidgets which is members of `Dialog_Setup` class.

[2020-10-10 05:42] #1756 closed

[2020-10-10 05:46] Keyikedalube opened #1764 "Migrate from Gtk::H/VBox to Gtk::Grid for CanvasView"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
CanvasView class uses `Gtk::HBox` and `Gtk::VBox` containers which are already deprecated long ago.

Migrate from old deprecated container box to `Gtk::Grid` which is pretty much stable.

![Screenshot from 2020-10-10 10-45-31](https://user-images.githubusercontent.com/24214509/95646822-d872ec00-0ae9-11eb-8bc8-b7

[2020-10-10 05:46] Keyikedalube commented on #1764
👉 Easy and Hacktoberfest 😃

[2020-10-10 08:06] FirasH opened #1766 "Cannot select "Font Family" on Windows builds"
**Synfig version & platform**:
1.5.0 Artifact build of 5 October 4699e374 (got from a pull request)

**Issue description**:
1. Create a new animation
2. Insert a `Text Layer` on Canvas
3. Change the `Font Family` value in the `Parameters Panel`

The dropdown menu is greyed out and it's not possible to select any fonts.
I could not use it the "old" way i.e. by copying the font file name in the `Fon

[2020-10-10 08:32] AnshitaVishwa commented on #1722
@Keyikedalube I figured out how to set the modal property. Should Imake a PR?

[2020-10-10 08:42] Keyikedalube commented on #1722
@snhardin Are you still working on this? It's been 8 days and no response from you.
@AnshitaVishwa Please wait till this week and give our current assignee time to respond OK.

If you still want I'll remind you next week to take on this issue. In the meantime there are other interesting issues, check them out...

[2020-10-10 08:50] Keyikedalube commented on #1757
@DhairyaBahl you already earned the Contributor status in this repo. Since this issue is too easy... please wait for this week and give chance to a newbie to take on this issue.

If there is no activity by next Monday, feel free to make a PR :)

[2020-10-10 08:52] DhairyaBahl commented on #1757
@Keyikedalube Okay I got it :) I would also like to work on tougher issues as well. but first i have to deal with the previous PRs. I am getting quite confused between all the PRs.

Thank you :)

[2020-10-10 10:46] #1742 closed

[2020-10-10 12:32] Keyikedalube opened #1768 "Improve canvas zoom keyboard shortcut UX"
**Issue description**:
Synfig uses the following keyboard shortcuts for canvas zooming:
1. `Ctrl + =` -> Zoom in
2. `Ctrl + -` -> Zoom out
3. `Ctrl + Shift + z` -> Best fit

Point no. 3 is causing this issue #1005 on Linux systems.

In order to resolve this, below is the new improved keyboard shortcuts list for canvas zooming based on Inkscape model:
1. `=` -> Zoom in
2. `-` -> Zoom out
3. `0` ->

[2020-10-10 12:32] Keyikedalube commented on #1768
👉 Easy and Hacktoberfest 😃

[2020-10-10 13:55] AnshitaVishwa commented on #1768
@Keyikedalube I would like to work on this issue.

[2020-10-10 13:58] Keyikedalube commented on #1768
Yours :)

Maintainers will assign you soon

Good luck!

[2020-10-10 14:27] morevnaproject commented on #1718
I have cleaned up build server and started rebuild process...

[2020-10-10 15:41] JoshEvan commented on #1757
Hi @Keyikedalube, thank you for the opportunity,
I would like to try to solve this issue. Can I work on it?

[2020-10-10 17:41] snhardin commented on #1722
Hello. Yes, I'm still working on this. Sorry, I work full-time, so really much of my time is confined to weekends. Thank you for being patient with me. 🙂

[2020-10-11 00:27] Keyikedalube commented on #1757
@JoshEvan Yes, go and make a PR :)

Happy hacking!

[2020-10-11 04:34] ice0 commented on #1722
@AnshitaVishwa maybe you can take this? https://github.com/synfig/synfig/issues/826

[2020-10-11 04:40] ice0 commented on #794
Currently this problem can be solved by using CMake on macOS systems. So I close this issue now.

P.S. If someone can't use CMake for some reason on MacOS, please comment here.

[2020-10-11 04:42] ice0 commented on #1171
This is issue for HiDPI screens, so Windows affected too.

[2020-10-11 04:42] ice0 commented on #1436
Currently this issue is resolved by using CMake for MacOS builds.

[2020-10-11 04:42] #1436 closed

[2020-10-11 06:04] morevnaproject commented on #1718
I have made a rebuild and nothing changed - some files are still missing in installer.

But I have found where the problem comes from!
Some files in "cursors" directory are symlinks to other files. When those files are packed into zip they become regular files. But they are simply ignored when packed into NSIS installer.
Working on fixing this. ^__^

[2020-10-11 07:47] rahmanuh commented on #1730
Thanks for your hints. The version now is not `Unknown`. I do
`+add_definitions(-DVERSION="${STUDIO_VERSION_MAJOR}.${STUDIO_VERSION_MINOR}.${STUDIO_VERSION_PATCH}")`
in this file
https://github.com/synfig/synfig/blob/5d0abc1f718ad67469afb0252a9ce42a946cabf3/synfig-core/src/synfig/CMakeLists.txt#L5-L9
![image](https://user-images.githubusercontent.com/22091868/95671904-4b3c9f80-0b9c-11eb-812c-00221

[2020-10-11 08:43] rahmanuh commented on #1730
[Update]
Finally, I fix it :smiley:
![image](https://user-images.githubusercontent.com/22091868/95674008-b17dee00-0bad-11eb-816b-76b503c833c8.png)

Will make a PR later

[2020-10-11 14:44] Keyikedalube commented on #1733
I experimented with new keyboard shortcuts for frame seeking:
1. 1 frame front and back `.` ',`
2. 1 second front and back `Shift+>` `Shift+<`

and maybe...
3. Start and end `Shift+Ctrl+>` `Shift+Ctrl+<`

Intuitive?

[2020-10-11 15:00] morevnaproject commented on #1733
@Keyikedalube Thank you for clarification!

Then, I think there is no reason to add two extra buttons for frame jump actions. It's okay to have them in Shortcuts window only.

Sounds good! ^__^

[2020-10-11 15:02] morevnaproject commented on #1718
Issue is fixed. Here are exe and zip files generated by build server:
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.16-testing-2020.10.11-win64-bc82b.exe
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.16-testing-2020.10.11-win64-bc82b.zip

[2020-10-11 15:02] #1718 closed

[2020-10-11 16:05] FirasH commented on #1733
In the Italian keyboard layout the key `>` is obtained with `Shift + <`.
No idea if that could be an issue.

[2020-10-11 16:16] #1757 closed

[2020-10-11 23:45] Keyikedalube commented on #1733
The country where I'm from mostly (just my guess) uses QWERTY keyboard layout apart from small group of people who uses additional keyboard stickers to type in their native language (HIndi)

I notice period, coma, and angle brackets are grouped together in this keyboard layout. Thought it'd be much more better to use single keystroke for commonly used accelerators.

Thanks for the info though :)

[2020-10-12 00:10] Keyikedalube commented on #1733
Okay PR is a bit delayed because I didn't like the current solution :(

The reason

Keyboard shortcuts are meant to accomplish some actions fast without having to go through these two obstacles Mouse > GUI buttons/menus.

You can try it out yourself:
1. Comment out Navigation menu (app.cpp)
3. And `set_accel_path()` to play and frame seek buttons (framdial.cpp)

When you hit the keyboard accelerat

[2020-10-12 08:51] DhairyaBahl commented on #1744
@ice0 @Keyikedalube @rodolforg I am unable to find rest of the wreorder warnings. My IDEs are not able to run the the synfig code and I've built the code twice in last 2 days. I am stuck what to do ?? I've tried VS code, QT, netbeans for debugging but none of them are working. IDK what to do??

Kindly help !!

Thanks :)

[2020-10-12 19:37] fardragon commented on #1764
Hi, I'd like to take a crack at this.

[2020-10-13 00:07] Keyikedalube commented on #1744
Have you tried "Clean project" (or similar menu/option name) from your IDE and do a fresh build?

[2020-10-13 00:10] Keyikedalube commented on #1764
@fardragon Go ahead and make a PR :)

Happy hacking!

[2020-10-13 00:54] Keyikedalube commented on #1744
@DhairyaBahl Like this 👇📽👇
[Screencast from 13-10-20 06:09:17 AM IST.zip](https://github.com/synfig/synfig/files/5368286/Screencast.from.13-10-20.06.09.17.AM.IST.zip)

That way you'll again notice all the warning messages like the first time you build synfig.

**Hint:** After build finishes just click inside the "Compile Output" panel and hit `Ctrl+F`. Use that to track down all occurences of the

[2020-10-13 01:32] #1730 closed

[2020-10-13 01:37] ice0 commented on #1744
That's interesting. Which OS you are using?

[2020-10-13 02:33] DhairyaBahl commented on #1744
@ice0 windows

@Keyikedalube I've built it in mingw64,do I have to build it in ide also?

Thanks :)

[2020-10-13 04:14] Keyikedalube commented on #1744
No. You can either use command line or IDE. Both works.

Are you using Autotools or CMake?

[2020-10-13 04:19] DhairyaBahl commented on #1744
@Keyikedalube I built it using cmake and I can run the built synfigstudio.exe file

[2020-10-13 04:20] DhairyaBahl commented on #1744
@Keyikedalube but IDK where to get errors and warnings

[2020-10-13 04:22] Keyikedalube commented on #1744
build-cmake.sh script or your own generator?

[2020-10-13 04:25] Keyikedalube commented on #1744
@DhairyaBahl  Do you know your build output directory then?

[2020-10-13 04:28] DhairyaBahl commented on #1744
@Keyikedalube yes I know.. it's somewhere in output bin... I can find it so yes I know

[2020-10-13 04:28] Keyikedalube commented on #1744
If possible just send me a screenshot of your `synfig/` directory please

[2020-10-13 04:33] Keyikedalube commented on #1744
@DhairyaBahl try to fit all the folder contents in one shot by reducing folder icon size like this

![Screenshot from 2020-10-13 10-03-34](https://user-images.githubusercontent.com/24214509/95815907-642f8700-0d3b-11eb-8ec3-eae224087560.png)

[2020-10-13 04:39] DhairyaBahl commented on #1744
@Keyikedalube what is this ?? What do u mean by reducing..??  This is not the normal forked directory

[2020-10-13 04:43] DhairyaBahl commented on #1744
Should I delete all the files except these in my local directory? Or in build directory.. I am not getting ur point @Keyikedalube

[2020-10-13 04:45] Keyikedalube commented on #1744
@DhairyaBahl I mean your project root directory you cloned.

Anyway, in my screenshot do you see `build-synfig-Synfig-Debug` folder? Now, this folder is my build directory and yours probably will be under a different name. Delete your build folder and build synfig again.

Delete that build directory.

If you send me your folder screenshot, it'd make our complicated conversation much easier...

[2020-10-13 04:46] DhairyaBahl commented on #1744
@Keyikedalube Okay just gimme a sec i am sending screenshot !!

[2020-10-13 04:50] DhairyaBahl commented on #1744
This is my synfig directory ![IMG_20201013_101853.jpg](https://user-images.githubusercontent.com/71627983/95816792-8a562680-0d3d-11eb-8c55-5331442c91ee.jpg)![IMG_20201013_101941.jpg](https://user-images.githubusercontent.com/71627983/95816823-a063e700-0d3d-11eb-85f6-9115b117e97a.jpg) and other picture is the built synfigstudio.exe

[2020-10-13 04:55] Keyikedalube commented on #1744
@DhairyaBahl Delete your `cmake-build-msys` folder and build synfig again.

[2020-10-13 04:58] Keyikedalube commented on #1744
@DhairyaBahl Also delete these folders just in case you want to build with other scripts:
- _debug
- cmake-build-debug

[2020-10-13 04:58] DhairyaBahl commented on #1744
@Keyikedalube what will happen then ?? Did i built it wrong ?? If i will give the same commands again, it will again give me same thing as result..So should i change the commands or something ??

[2020-10-13 04:59] DhairyaBahl commented on #1744
@Keyikedalube Okay i will delete these and i will build synfig again..but what is the result that we are expecting ?

[2020-10-13 04:59] Keyikedalube commented on #1744
@DhairyaBahl Did you use this command to build earlier? 2-build-cmake.sh

[2020-10-13 04:59] DhairyaBahl commented on #1744
Yes !! @Keyikedalube

[2020-10-13 05:01] Keyikedalube commented on #1744
OK.

Just delete your `cmake-build-msys` and `cmake-build-debug`
And use that command `2-build-cmake.sh` to build again

Now I'm sure you'll see all the warning message pop up
Good luck :)

[2020-10-13 05:02] DhairyaBahl commented on #1744
@Keyikedalube Okay got it. I will do that. :+1: I will do this and ping you. Hope u dint mind :)

Thanks :)

[2020-10-13 05:22] DhairyaBahl commented on #1744
@Keyikedalube On which shell i have to build it mingw32 mingw64 or msys2, i have 64 bit OS ??

Don't wanna make any mistakes so just to be sure. Don't mind

Thanks :)

[2020-10-13 05:30] ice0 commented on #1744
@DhairyaBahl it didn't show warnings because compiler doesn't rebuild files if they not changed.
So the only option in that situation is to delete compiled object file and compile it again. That's why you need to remove build folder.
In your situation (Windows/CMake) better to make a script with this content (inside synfig folder):

**test-cmake-build.sh**
[code]

and run it. It should create `cma

[2020-10-13 06:13] DhairyaBahl commented on #1744
@Keyikedalube I followed ur method !! I got pop-up msgs of all the warnings on console like warning: tool_cutout_icon.sif:<real>:7898: Layer 'warp' rejected value for parameter 'horizon' and others also but there are no wreorder warnings !!

So, how to find those warnings ?

Thanks :)

[2020-10-13 06:14] DhairyaBahl commented on #1744
@ice0 Should i still create it, I've completed the build process ??

Thanks for help :)

[2020-10-13 06:28] DhairyaBahl commented on #1744
@ice0 @Keyikedalube If you guys want i can also send all the pop-up msgs that came on the screen shell !!

Thanks :)

[2020-10-13 07:17] rahmanuh commented on #1755
Does it mean duckmatic.cpp should use tab for indent instead of spaces?

[2020-10-13 07:17] ice0 commented on #1744
As you wish. But it will be be much cleaner output, when from `2-build-cmake.sh`

For example, this is output I got from it:

[code]

[code]

[code]

[code]

As you can see, there are a lot of "reordering" warnings.

[2020-10-13 07:20] DhairyaBahl commented on #1744
I didn't received any warnings on my screen. I guess , i should do the same with your method.

Thanks :)

[2020-10-13 07:22] morevnaproject commented on #1760
Thanks for bringnin this up, @BobSynfig!

I think it is okay to have a few simple issues to help new people get started with contributing  to Synfig or any other open-source project, especially considering that the amount of such issues is limited and they will end soon.
Also. such simple tasks might be tedious for established contributors, but they should be fixed anyway. So, I think it is good t

[2020-10-13 07:49] Keyikedalube commented on #1755
@rahmanuh Yes

[2020-10-13 08:09] rahmanuh commented on #1755
There will be many changes in the file. May I take this issue?

13 okt. 2020 09:49 av notifications@github.com:

[2020-10-13 08:12] DhairyaBahl commented on #1744
,![IMG_20201013_134148.jpg](https://user-images.githubusercontent.com/71627983/95833924-e7f86c00-0d59-11eb-8010-eb981bf49c84.jpg) It is giving some kind of error!!  What is it?

[2020-10-13 08:14] DhairyaBahl commented on #1744
![IMG_20201013_134413.jpg](https://user-images.githubusercontent.com/71627983/95834150-39a0f680-0d5a-11eb-9906-c937403464e5.jpg)

@ice0 @Keyikedalube

[2020-10-13 09:16] ice0 commented on #1744
@DhairyaBahl you need to update your MSYS2 packages. Where was a bug in `ld` linker which is already fixed.

[2020-10-13 09:24] DhairyaBahl commented on #1744
@ice0  I will work on this, update the package and then i will run the script again.

Thanks :+1:

[2020-10-13 09:28] DhairyaBahl commented on #1744
![IMG_20201013_145735.jpg](https://user-images.githubusercontent.com/71627983/95842687-783bae80-0d64-11eb-8745-1c1e15807b3a.jpg). It says up-to-date

[2020-10-13 09:34] ice0 commented on #1744
Please try
`pacman -Syu`

also show me output of:
`pacman -Ss binutils`

[2020-10-13 09:49] DhairyaBahl commented on #1744
It's installing few packages,  then I will send u screenshot of pacman binutills command... :) Thanks @ice0

[2020-10-13 10:01] Keyikedalube commented on #1755
Go make that PR :)

You should make sure `-Wmisleading-indentation` warning is resolved OK

[2020-10-13 10:27] DhairyaBahl commented on #1744
![IMG_20201013_155625.jpg](https://user-images.githubusercontent.com/71627983/95849161-b63cd080-0d6c-11eb-96fa-5a2a48e0596d.jpg)This is the output of pacman -Ss binutills

@ice0  Thanks

[2020-10-13 11:17] Keyikedalube commented on #1744
@DhairyaBahl Strange.

I think your console cleared some output due to the display buffer size limit. I'm not on Windows so I might be very wrong on this guess.

[2020-10-13 11:25] Keyikedalube commented on #1744
@DhairyaBahl Just wait for ice0 to back get in touch with you about binutils

Otherwise, if I suggest another method you might end up in a deadlock LOL

[2020-10-13 11:28] ice0 commented on #1744
@DhairyaBahl just want to be sure you have latest binutils. Now just remove `cmake-build-msys2` folder, and try this script again. Compilation should be fine.

[2020-10-13 11:28] DhairyaBahl commented on #1744
@Keyikedalube what is deadlock? 😅

[2020-10-13 11:30] DhairyaBahl commented on #1744
I did the same @ice0 ..my PC is in recovery mode... scanning and repairing drive C

[2020-10-13 11:30] Keyikedalube commented on #1744
@DhairyaBahl stuck :) because a computer resource is already occupied

In your case, ice0 is already helping you... and if I jump in before he finishes with you... then you're going to have a hard time deciding between us. You are the resource. And currently, you are occupied :)

[2020-10-13 11:32] DhairyaBahl commented on #1744
@Keyikedalube Okayy.. got it 🙂

[2020-10-13 13:38] DhairyaBahl commented on #1744
@ice0 process broke at 78%![IMG_20201013_190826.jpg](https://user-images.githubusercontent.com/71627983/95868078-7e8f5200-0d87-11eb-83ff-05448fe5fd58.jpg)

[2020-10-13 13:53] Keyikedalube commented on #1733
What about new keyframe seeking shortcuts without `Ctrl` key:
1. Next keyframe `]`
2. Prev keyframe `[`

BTW, I realized `Home` and `End` buttons are implemented for seek begin and end on `CanvasView::on_key_press_event`

Since the below two new shortcuts are agreed

The third option is implementable. I noticed **Seek to Begin** and **Seek to End** are without accelerator actions.

I'm working on

[2020-10-13 14:27] ice0 commented on #1744
You need to enter `cmake-build-msys2` folder, and run `make -j1` to see where it is broke.

[2020-10-13 14:28] DhairyaBahl commented on #1744
@ice0 Okay I am doing that then i will send you the output :)

[2020-10-13 14:45] DhairyaBahl commented on #1744
@ice0 @Keyikedalube Does this always give this much error to every user or i am the unlucky one ?? sweat_smile

[2020-10-13 14:46] ice0 commented on #1744
@DhairyaBahl can you show me output of `git status` command?

[2020-10-13 15:11] ice0 commented on #1744
It looks like your user name contain spaces?
If yes, then I need a time to check that. So I suggest to continue tomorrow.

[2020-10-13 15:13] DhairyaBahl commented on #1744
@ice0 Okay No probs :) BTW i wanted to ask if i git stash those and then try again, then will it work ??

Thanks :)

[2020-10-13 15:16] Keyikedalube commented on #1744
🤣😁

[2020-10-13 15:17] morevnaproject commented on #1733
agree with all proposals in https://github.com/synfig/synfig/issues/1733#issuecomment-707754140 ^__^

[2020-10-13 15:18] Keyikedalube commented on #1744
Welcome to UNIX world! Space tends to ruin every Windows users life LOL

[2020-10-13 15:19] DhairyaBahl commented on #1744
@Keyikedalube Shall I Change the user's name if its possible ??

[2020-10-13 15:19] Keyikedalube commented on #1744
@DhairyaBahl No

[2020-10-13 15:20] Keyikedalube commented on #1744
@DhairyaBahl Where is your msys installed?

[2020-10-13 15:22] DhairyaBahl commented on #1744
@Keyikedalube Yes that's where msys2 cloned my project

c:/msys2/home/Dhairya\ Bahl/synfig.git/

[2020-10-13 15:26] DhairyaBahl commented on #1744
@Keyikedalube Its Dhairya <space> Bahl That's where the problem arise. If i change it, will it result in deadlock ??

[2020-10-13 15:29] Keyikedalube commented on #1744
@DhairyaBahl Nah

You've got to get used to *nix style. No spaces.

Msys2 is emulate UNIX environment inside your Windows so you've got to get familiar with what works and what doesn't.
Space character is definitely one of the "what doesn't"  in *nix

[2020-10-13 15:32] Keyikedalube commented on #1744
@DhairyaBahl If you don't want to create another new folder with your name without space "" then I'd suggest moving synfig.git folder to c:/msys2/home OK

It's up to you. Just don't put synfig inside another folder that contain spaces.

[2020-10-13 15:36] DhairyaBahl commented on #1744
@Keyikedalube Okay so main thing is spaces. got it. btw u and ice0 are how old in this organisation. I mean u guys are pro, when will i reach that level ? :o

[2020-10-13 15:41] Keyikedalube commented on #1733
Thanks @morevnaproject

I just got to set the shortcut key bindings inside the source file now. Hidden menubar is already implemented on my side.

I got to implement changes for autotools though. Thanks to rodolforg! He committed the autotools script in my previous PR #1577.
This issue and that has the same build commands. Fingers crossed copy-paste would work just fine :)

[2020-10-13 16:31] Keyikedalube commented on #1744
@DhairyaBahl I'm just like you... a contributor 😁. I started hacking synfig last year.
So, I'm like 11 months old in this repository.
Me? A pro? Haha. I still got a long way to go...

ice0's been here longer than me.

He's been my guide too when I was stuck in problem solving like you are now.
So he's definitely a pro.

But what matters most is whether you're having **fun** hacking and learning ne

[2020-10-13 23:59] define-private-public opened #1775 "Perf measurement tools (and other things)"
I want to move over some of the discussion from this ticket [this ticket](https://github.com/synfig/synfig/issues/1712) over here.
---

I've been poking around the Synfig source code and have found a few spots where instructions can be reordered & rewritten to better take advantage of SIMD optimizations.  To verify that it actually is the case, I wrote two python scripts.

The first does a few ren

[2020-10-14 00:02] Keyikedalube commented on #1760
This issue is open for newbies :) Previous PR was closed due to inactivity from the OP

[2020-10-14 01:33] DhairyaBahl commented on #1744
@Keyikedalube TBH I was not here for the hacktoberfest event, I thought I am not capable for that,  but later you told me that this repository is hacktoberfest verified, otherwise I was going to leave that 😅😅.

Yes ice0 is great but you are great 2 ..i am learning from both of you,  although I spent 2 days in just building synfig 😂 but it's better than learning nothing.

Thanks :)

[2020-10-14 04:55] ice0 commented on #1775
Hi!

I think you can make a folder `perf/scripts` and put them there.

Yes, this will be awesome. Also this is very useful for future references.

[2020-10-14 05:24] ice0 commented on #1744
Just created a user with spaces in the name and checked the build.  Nothing. All builds fine (except what I need to install `mingw-cmake` manually), lol )
After what I created another user with non-latin symbols in the name (and with spaces too). Found `Glib::ConvertError`, and I hope to fix it soon.
But that doesn't explain your problem. After that I remember this comment "my PC is in recovery mo

[2020-10-14 05:27] DhairyaBahl commented on #1744
@ice0 No.. internet is not a problem for me.. I Will start all over again... and then send you the output of test-build file that u gave me !!

[2020-10-14 06:26] DhairyaBahl commented on #1744
@ice0 on ur advice I was trying to delete the synfig folder but it wasn't deleting so I moved it to desktop to find out which part of it was not deleting..and this was the file. I thought u should know

![IMG_20201014_115513.jpg](https://user-images.githubusercontent.com/71627983/95951533-366a4100-0e14-11eb-86b6-da8521c07c85.jpg)

[2020-10-14 06:51] DhairyaBahl commented on #1744
@ice0 Showing this on. /1-setup-windows-msys2.sh![IMG_20201014_122001.jpg](https://user-images.githubusercontent.com/71627983/95953663-c362c980-0e17-11eb-9169-ec8f37f07c21.jpg)

[2020-10-14 07:05] ice0 commented on #1744
@DhairyaBahl just answer no, because this patch is already applied to system header.

[2020-10-14 07:17] DhairyaBahl commented on #1744
@ice0 yes I did that.. now it's building using test-cmake-msys.sh that u gave

[2020-10-14 11:50] DhairyaBahl commented on #1744
@ice0 @Keyikedalube successfully built synfig..this time in C:/ without using space in name , now will be working on the issue of wreorder warnings.

Thanks :)

[2020-10-14 12:53] AnshitaVishwa commented on #1377
Hi I am a new contributor. Can someone guide me how do I start? For instance, What files or classes do I need to look at here?

[2020-10-14 14:32] ice0 commented on #1377
@AnshitaVishwa hi!

We have some documentation here: https://synfig-docs-dev.readthedocs.io/

First you need to build Synfig. Please read about this here: https://synfig-docs-dev.readthedocs.io/en/latest/common/building.html
Synfig uses 2 build-systems:
- autotools - mostly for release builds
- cmake - for development purposes.

I suggest to use CMake as it has better support by IDE's. If you have

[2020-10-14 14:57] #1755 closed

[2020-10-14 18:07] AnshitaVishwa commented on #1297
Hi @rodolforg! I am a new contributor, I tried to work on this issue. I have got the about dialog to read the contributors from a file called AUTHORS and I have created a PR. #1777

I am still trying to find out how to add it to the cmake/automake script to run the command [git shortlog --summary --numbered --email ] automatically for a release build. Also I think we'll need to put the output file

[2020-10-15 01:49] rodolforg commented on #1297
@AnshitaVishwa The command helps a lot to list all contributors, but I discovered it has a problem: duplicated entries for same user with different emails or nicknames :/ A workaround is to write a different_entries-same_user mapping text file. The problem is to put it in the repository and contributors' email addresses be easily readable over the web.

I think we will update (the currently inexis

[2020-10-15 05:07] #1764 closed

[2020-10-15 07:48] ice0 commented on #1744
Resolved by #1750

[2020-10-15 07:48] #1744 closed

[2020-10-15 09:31] DhairyaBahl commented on #1766
@ice0 I would like to work on this issue. Kindly assign it to me.

Thanks :)

[2020-10-15 14:57] morevnaproject commented on #1775
Cool!

[2020-10-15 15:22] DhairyaBahl commented on #1766
@ice0 My build is giving some error like libatkmm dll missing !! what should I do ??

[2020-10-15 15:53] ice0 commented on #1766
@DhairyaBahl you need to run it from MSYS2 console. Or do install step (which copies all required dll's to your install folder)

[2020-10-15 15:57] DhairyaBahl commented on #1766
@ice0 I was running it in msys2-mingw64.exe and I've installed all the dependencies using ./1-setup-windows.sh command. Do i have to repeat it ? and during running that it gives error

(Stripping trailing CRs from patch; use --binary to disable.)
patching file /mingw64/include/libintl.h
Reversed (or previously applied) patch detected!  Assume -R? [n]

Can this be a case ??

Thanks :)

[2020-10-15 16:04] ice0 commented on #1766
`./1-setup-windows.sh` need to be called only once. After all dependencies was installed no need to run it.
If you run synfigstudio from MSYS shell (better to use some file manager like Midnight commander), then please check your `/mingw64/bin/` folder. `libatk-1.0-0.dll` should be here.

But. And this is important. If you trying to run synfigstudio from Windows explorer then you need to copy all

[2020-10-15 17:05] DhairyaBahl commented on #1766
@ice0 Ohh yes, I totally forgot. Last time I executed it in MSYS2 shell. This time I was trying directly using windows explorer!!

Thanks :) its working now :)

[2020-10-16 08:44] AnshitaVishwa commented on #1297
@rodolforg I have updated my PR.
Now it is reading the AUTHORS file present in the `share/synfig` directory. I have added the path to this directory in `synfig-studio/CMakeLists.txt` file which will copy the AUTHORS file from `synfig-studio` to  `share/synfig` directory.
Is there anything else I need to do in the PR?

[2020-10-16 09:03] Keyikedalube commented on #1690
In some cases this is impossible. For instance, if you write a glade file by hand then obviously you'd indent it with tabs but if you use Glade program to design the GUI it's gonna be spaces automatically.

[2020-10-16 10:13] DhairyaBahl commented on #1766
@ice0 @Keyikedalube I was exploring synfig/synfig-studio/src/gui/widgets/widget_fontfamily.h and fontfamily.cpp and i am studying about gtkmm combo-boxes !! Kindly tell me if I am going in right direction ??

Thanks :)

[2020-10-16 10:53] ice0 commented on #1766
I think yes.

[2020-10-16 12:10] AndreaMonzini opened #1779 "[Lottie Exporter] Add support for Audio"
Hello,

Would be very useful if Lottie Exporter will support audio too:

https://github.com/airbnb/lottie-web/wiki/Audio

Thank you for the project !

[2020-10-16 14:35] rodolforg commented on #1297
Yes, there is.
In previous post I told it's not good at all to have contributors email publicly available in a plain-text file on the repository/Internet (spam bots etc.) and you just did it ;)

Besides, you should keep "Original developers" 'sub'section as it was, and AUTHORS contents would fill "Contributors" 'sub'section.

We support Autotools building system as well, but if you're not comforta

[2020-10-17 00:32] rahmanuh commented on #1760
Is the fix also for other lines? For example:
https://github.com/synfig/synfig/blob/0576fa82b92210aacdc9b8ed6d32a3dfbceea9b7/synfig-studio/src/gui/workarea.cpp#L204

[2020-10-17 00:43] Keyikedalube commented on #1760
@rahmanuh No, that's vertical alignment :)
https://github.com/synfig/synfig/blob/0576fa82b92210aacdc9b8ed6d32a3dfbceea9b7/synfig-studio/src/gui/workarea.cpp#L202-L205

All those parameters belong to `drawing_area`, that's why they were indented this way. And the indentation's perfectly valid.

The only fix needed is already hinted above in the issue description to resolve the said warning message.

[2020-10-17 00:46] rahmanuh commented on #1760
Okay, I will only fix the hinted one.
I see in my IDE that in the line I mentioned has tab and whitespaces.

[2020-10-17 01:05] #1705 closed

[2020-10-17 01:11] ice0 commented on #1690
I think C ++ and CMake files will be enough.

[2020-10-17 01:12] Keyikedalube commented on #1760
Thanks :) But this line doesn't trigger any warning message so we can safely ignore that.

Maybe one day when `drawing_area` needs to be changed/adapted, that vertical alignment could be fixed with consistent tabs.

[2020-10-17 01:14] Keyikedalube commented on #1690
@ice0 I should update my ShortcutsWindow glade file then. I wrote it with hand LOL. Glade program doesn't have an adaptor for that feature.

[2020-10-17 04:22] #1760 closed

[2020-10-17 10:40] DhairyaBahl commented on #1766
@Keyikedalube @ice0 @FirasH Can you guys give me a hint or something. I am stuck, I understand gtkmm combo boxes but not in detail that I can debug this issue. Kindly guide me a bit.

Thank you :)

[2020-10-17 14:20] ice0 commented on #1690
You can leave it as-is, especially if you are wrote it by hand.

[2020-10-17 14:24] ice0 commented on #1766
If I understand correctly, the version built with `2-build-debug.sh` script worked fine. If this is true, then I recommend that you attach to the executable using a debugger (gdb) and walk through the code step by step to understand the difference between them.

[2020-10-17 14:30] DhairyaBahl commented on #1766
@ice0 Thanks for the help. I will now use the debugger as well.

Thank you :)

[2020-10-17 14:32] AYESDIE opened #1782 "Make use of clang-format"
Since everyone uses different environments for writing their codes, there's not a consistent formatting style across the codebase. This problem can be addressed by defining a uniform code format for the project.

As discussed over [here](https://github.com/synfig/synfig/pull/1773#issuecomment-708142684), I thought it'd be nice to use clang-format (https://clang.llvm.org/docs/ClangFormat.html) for

[2020-10-17 17:28] rodolforg commented on #1766
There are two different problems listed in this issue, both on Windows:
1. The combobox for Font `family` parameter of `Text` layer doesn't list font families;
2. Font `family` parameter of `Text` layer doesn't support font filenames.

The combobox is a custom widget: Widget_FontFamily, and it is filled only if OS building provides support for `fontconfig` library.
Code is surrounded with a guard

[2020-10-18 10:09] Keyikedalube commented on #1690
Already pushed the updates :P
It's better with spaces for glade file indentation. Just keeping it consistent with three other glade files.

Maybe one day someone might implement `GtkShortcutsWindow` adaptor for Glade program and making changes to my handwritten file would turn out ugly with tabs and spaces all over.

[2020-10-18 15:12] DhairyaBahl commented on #1766
![IMG_20201018_201238.jpg](https://user-images.githubusercontent.com/71627983/96371802-4326c600-1181-11eb-9964-50fc63086aeb.jpg)

@rodolforg @ice0

It is able to get FontConfig support as I can see in this build log which I copied from cmder.

Thanks for helping

[2020-10-18 18:17] Svarov-RZM opened #1785 "[MSYS/CMake] Build fails if msys64 is not installed to c:\msys64"
**Issue description**
Because of hard-coded path "c:/msys64/usr/bin/perl" in "synfig.git\cmake\SynfigIntltool.cmake build fails if MSYS is installed to a different place (drive H: in my case).

I made a quick patch to address this problem. It determines current WIN32 path to msys64 directory in 2-build-msys-cmake.sh script and then passes it to cmake through '-D' argument. I will send a pull reque

[2020-10-19 03:53] Keyikedalube commented on #1061
I'm working on this issue :)

[2020-10-19 05:38] Keyikedalube opened #1787 "Migrate old Widget_Defaults container to Gtk::Grid"
**Issue description**:
1. `Gtk::Table` to `Gtk::Grid`
2. `Gtk::VBox` &nbsp; to `Gtk::Grid`

![Screenshot from 2020-10-19 10-46-43](https://user-images.githubusercontent.com/24214509/96405089-19f64c00-11fa-11eb-9c60-977d0de78790.png)

Both Table and Grid has `attach()` functions but their arguments differ. You've to adapt the existing [Table](https://developer.gnome.org/gtkmm/stable/classGtk_1_1Tab

[2020-10-19 05:39] Keyikedalube commented on #1787
:point_right: Easy and Hacktoberfest :smiley:

[2020-10-19 06:59] ice0 commented on #1785
[code]

I think there should be `NOT MSYS`. This way it will patch the intltool path only if MSYS is not found.
I broke it in this commit: https://github.com/synfig/synfig/commit/42dd20a6bfa683c84787bb0e286d9816d55b37da

[2020-10-19 08:35] DhairyaBahl commented on #1766
@rodolforg @FirasH @ice0

Work Update
I just tried entering names of various fonts myself just to be sure about the working of font family parameter of the text layer and its working . We just have to find why that dropbox is not working and listing the fonts.

These are the fonts I tried : Helvetica, ariel, Garamond, serif, sans serif( default one ) and calibri.

Thanks for help :)

[2020-10-19 16:49] rodolforg commented on #1766
Please check this file

[2020-10-19 17:08] Svarov-RZM commented on #1785
@ice0
I think the current logic is correct. The problem is that ninja itself calls cmd.exe from MSYS environment for processing external commands instead of using bash or call it directly. Cmd.exe, in turn, know nothing about perl scripts, so we need to specify full path to the interpreter.

I sent patch I was talking about that addresses this issue.

[2020-10-20 02:32] snhardin commented on #1722
I submitted a PR. I couldn't actually find the Preferences window to look off of, but I'm assuming `set_modal` is what you guys wanted here.

[2020-10-20 02:35] Keyikedalube commented on #1336
I'm branching my [single key shortcuts](https://synfig-docs-dev.readthedocs.io/en/latest/projects/shortcuts.html) proposal to a new issue for Hacktoberfest.

This issue addresses too many things at once :(

Also, I'm hiding my comments here so the dicussion is more directed to other issues.

[2020-10-20 02:57] Keyikedalube opened #1794 "Improve tool items keyboard shortcuts"
**Issue description**:
- New single key shortcuts proposal
[draft document](https://synfig-docs-dev.readthedocs.io/en/latest/projects/shortcuts.html)

- Keynames code for reference
[gdk keynames](https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gdk/keynames.txt)

- File to modify
https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/app.cpp

Using menu mnemonics for tool items is ca

[2020-10-20 02:57] Keyikedalube commented on #1794
:point_right: Easy and Hacktoberfest :smile:

[2020-10-20 03:04] Keyikedalube commented on #1722
@snhardin Your PR is correct :) And yes, `set_modal` is what we wanted...

Maintainers are human beings too. So don't worry when they don't respond OK

I'm approving your changes anyway :)

[2020-10-20 03:19] #1722 closed

[2020-10-20 03:45] ice0 commented on #1785
Yes, you are right.
In this situation, is better to detect MSYS path by using environment variables. They are already set, if you run CMake from MSYS shell.

So here the place where you can define MSYS_ROOT:

**synfig/CMakeLists.txt**
[code]

[2020-10-20 05:28] Svarov-RZM commented on #1785
1. @ice0 I checked the review on my commit and yes, MSYS_ROOT=\`pwd -W|grep -o .*/msys64\` will not properly determine path, I am stupid. The correct line should be MSYS_ROOT=\`cygpath -m /|sed 's/\\/$//'\`, sed is needed to remove the leading slash.
2. @AYESDIE suggested using env. variable MINGW_PREFIX and it will not work. If you run it in MSYS `echo $MINGW_PREFIX` you will get output `/mingw32

[2020-10-20 05:35] AYESDIE commented on #1785
That's why you need to set `MSYS_ROOT` as `$ENV{MINGW_PREFIX}/..` if you need to use the path where msys2 is installed.

[2020-10-20 07:36] ice0 commented on #1785
Yes. MSYS is doing path mangling, when needed. You can check this by running `cmd` from MSYS2 shell.

[code]
As you can see it convert path to Windows style when needed :)

[2020-10-20 10:53] Svarov-RZM commented on #1785
Oh my god, I would have never guessed that there's some path mangling underneath...
Alright, I closed the original pull request, reverted everything, and rebuilt Synfig with suggested changes. It works on my system with custom path, so seems to be good.

I am a bit hesitant on sending pull requests now, can you please check it on my fork first: https://github.com/Svarov-RZM/synfig/commit/a0f2dfc17

[2020-10-20 11:27] ice0 commented on #1785
@Svarov-RZM looks good!

[2020-10-20 15:47] DhairyaBahl commented on #1766
@rodolforg @ice0 @FirasH

I added #warning directive in the beginning of the function refresh() and I expected that warning to appear on the screen during its build but I didn't get any warnings that mean function refresh() is not being called properly. Now I think its not getting proper font config support as it is not able to call that function !!  Kindly tell me if I am going in the right direc

[2020-10-20 16:27] ice0 commented on #1766
Yes! You are in the right direction. Now you need to understand why `WITH_FONTCONFIG` is not set properly (as it should be). Hint: take a look at the CMakeLists.txt files.

[2020-10-21 00:24] Keyikedalube commented on #1005
The solution I have in mind is using the `#if` directive.

[2020-10-21 00:26] Keyikedalube commented on #1005
Easy issue for Hacktoberfest :)

[2020-10-21 02:09] #1768 closed

[2020-10-21 02:37] #1785 closed

[2020-10-21 08:24] #1733 closed

[2020-10-21 09:11] DhairyaBahl commented on #1766
@ice0 The only fishy thing I found in the CMakeLists.ext files is missing "REQUIRED" in the font-config parameter and I added it in the pkg_check_modules . Is there anything else to fix or should I start a test-build now ?

I've been doing analysis of all the cmakelists.txt files but there is nothing else except this which looked fishy to me but I don't think it will rectify the problem. Kindly te

[2020-10-21 09:33] ice0 commented on #1766
If you use "MSYS Makefiles" generator you can use `make --dry-run` flag to skip actual building.
For Ninja generator this will be `ninja -n --verbose`.

This is what I got using next commands:
[code]

All takes near 1 minute maximum.

And this is the output (I made a small formatting here):
**ninja -n --verbose | grep -i widget_font**
[code]

Did you see something suspicious here?

[2020-10-21 09:37] ice0 commented on #1766
For example this is output for lyr_freetype

[code]

[2020-10-21 14:35] Keyikedalube commented on #826
Interesting post [here](https://unix.stackexchange.com/questions/168505/what-is-primary-for-a-key)

I don't know if `<Primary>` would work on old version of GTK, the dude said that key was released in 3.2.1 but over here synfig is building against 3.18 so...

[2020-10-21 14:39] Keyikedalube commented on #826
If `<Primary>` is not possible I'm thinking `META_MASK` should work.

[2020-10-21 14:40] ice0 commented on #826
I think we should check it out. If everything works as intended, this issue will be easy to fix.

[2020-10-21 15:14] DhairyaBahl commented on #1766
@ice0

I tried to do test-build on my local machine using your given commands but I got some errors.
-- Configuring done
-- Generating done
-- Build files have been written to: C:/synfig/test-build1
make[2]: *** No rule to make target 'output/lib/libsynfig.dll.a', needed by 'output/lib/synfig/modules/liblyr_freetype.dll'.  Stop.
make[1]: *** [CMakeFiles/Makefile2:1051: synfig-core/src/modules/lyr_

[2020-10-21 16:20] ice0 commented on #1766
Just use Ninja in a different folder as I wrote earlier.

Yes, this is the reason, why widget not working.

[2020-10-21 16:59] DhairyaBahl commented on #1766
@ice0 Okay Thanks Its working now. Now I understand what you meant by u did some formatting. I should now work on why DWITH_FONTCONFIG is not present in widget_font also.

Thanks again :)

[2020-10-21 17:07] DhairyaBahl commented on #1766
@ice0 I compared the cmakelists files of both of them i.e. widget_fontfamily and lyr_freetype and I found that target_link libraries in the CMakeLists.txt of widget_fontfamily is not having support of ${FONT_CONFIG_LIBRARIES} .

So if I am correct, this should solve the issue and will add the missing library. If yes, I will now run the build to test that.

Thanks :)

[2020-10-21 17:48] rodolforg commented on #1766
If that enables on Windows CMake building, we should check if it's working with autotools too.

Anyway, there would still be the second issue reported by @Firash in original post:

that would be a lyr_freetype issue I could dig later.

[2020-10-21 17:51] DhairyaBahl commented on #1766
@rodolforg I was able to change the font family by copying and pasting names of the font. If you want I can share the screenshots !!

[2020-10-21 17:58] rodolforg commented on #826
Wow, Nice catch!
Unfortunately I cannot see anything in official docs, but [this](https://developer.gnome.org/gdk3/unstable/gdk3-Windows.html#GDK-MODIFIER-INTENT-PRIMARY-ACCELERATOR:CAPS) .

[2020-10-22 00:19] Keyikedalube commented on #826
It was by luck! I was skimming other GTK project source code and found out that key name :P

[2020-10-22 01:03] Keyikedalube opened #1796 "Open dialog has two Open buttons"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
![Screenshot from 2020-10-22 06-28-58](https://user-images.githubusercontent.com/24214509/96805853-324fac00-1430-11eb-81fd-3f8ffc17a14f.png)

- Open
- Open history

And both are active when synfig file is selected. **Open history** should be removed? Or is it done deliberately by design..?

[2020-10-22 03:43] ice0 commented on #1766
@DhairyaBahl the real problem the WITH_FONTCONFIG flag. As you can notice, it sets value in `synfig\synfig-core\src\CMakeLists.txt`
[code]

after that it out of scope (when returns to parent folder), and did not work when it begins to build `synfig\synfig-studio` files.

[2020-10-22 08:36] DhairyaBahl commented on #1766
@ice0
1. why it is going out of scope when we are passing this "add_subdirectory(src)"  in the cmakelist of parent folder ?

2.
if(FONT_CONFIG_FOUND)
add_definitions(-DWITH_FONTCONFIG)
endif()
This is missing in the cmake list of synfig studio/src/

Kindly guide further. Thanks :)

[2020-10-22 14:29] ice0 commented on #1766
Because `add_definitions` works for current `CMakeLists.txt` folder and to child folders

Yes

Yes :)

[2020-10-22 15:28] DhairyaBahl commented on #1766
@ice0

I am able to get -DWITH_FONTCONFIG SUPPORT NOW !! YaY!! as you can see below. I've removed the unnecessary part of -isystem to make it look cleaner and shorter. Going to begin with test-build :)

[805/906] C:\msys64\mingw64\bin\c++.exe
-DCMAKE_BUILD -DDEVEL_VERSION="\"Revision date: 2020-10-21\nBranch: master\nRevision ID: fa4021de0\""
-DETL_VERSION=\"1.5.0\"
-DHAVE_CONFIG_H
-DIMAGE_DIR="\"

[2020-10-22 17:28] Svarov-RZM commented on #1731
I started learning C++ not so long ago and was trying to solve this issue because it hinders my workflow. I was able to solve it, but not entirely sure I did it correctly.

Please check out this commit: https://github.com/Svarov-RZM/synfig/commit/baae32c80ef91960306cff76ac746ec4fc498afc
I don't know why, but for some reason ValueNode_BLineCalcVertex::operator()(Time t)const in valuenode_blinecalcv

[2020-10-23 01:11] Keyikedalube opened #1798 "Implement canvas zoom legacy keyboard shortcuts"
Maintainers, it's possible to have two keyboard shortcuts at the same time. For now, we have this PR implementing Inkscape style shortcuts
1. canvas-zoom-in &nbsp;&nbsp;:  `=`
2. canvas-zoom-out :  `-`
3. canvas-zoom-fit &nbsp;&nbsp;:  `0`

The above new canvas zoom shortcuts is already paving way for UX consistency for issue #1122

However, if you want to keep the legacy style
1. canvas-zoom-in &

[2020-10-23 01:11] Keyikedalube commented on #1798
:point_right: Easy and good first issue :point_left:

[2020-10-23 06:52] ice0 commented on #1731
Hi! Thanks for the investigating the problem.

 I haven't dug deep on ValueNodes, so this is an assumption. But as I see, when you convert the Spline parameter to Switch, it cannot convert it to the `ValueNode_BLine` class. The reason it wants to cast is just to check if the spline is looped (Bline is a spline in this context). And it fails because the conversion failed. In this situation, we can

[2020-10-23 11:11] #1658 closed

[2020-10-23 17:58] Svarov-RZM commented on #1731
As I understand, there's no need for that, because `loop` parameter is available from ValueBase class, which we can access directly (just like we can access `get_list` from dereferencing *bline_ pointer).

Yes, it does change the animation as expected. I compared against 1.0.2 and 1.2.2 versions.
I am going to run some more tests on weekends and if nothing pop up, I'll send a pull request.

[2020-10-23 22:28] rodolforg commented on #1731
I checked the [log history of this file](https://github.com/synfig/synfig/commits/master/synfig-core/src/synfig/valuenodes/valuenode_blinecalcvertex.cpp):

There are a couple of changes after v.1.0.2:

- ceaaafad558e27f70e646ea5a06c4613a7c223a2 (pre 1.2.0)
- 5eb54b82e3d7e9860089bfb4635c7ffa52784d09 (pre 1.3.0)
- a90d014c56f0cbee21c2ab0ef68936b9e84c49b1 (pre 1.3.12)

I'll try to `git bisect` it, if

[2020-10-24 04:37] rodolforg commented on #1731
Argh, how horrible was to build Synfig in those old days.
 I give up lol

Anyway, are you able to switch the spline for the circle origin without crashing?

[2020-10-24 05:09] ice0 commented on #1731
To get `ValueBase` from `ValueNode`, you pass time to it. Thus, the possible `loop` value can change over time (and may be this will be more correct behavior). On the other hand, any solution would be better than a crash )

[2020-10-24 05:40] ice0 opened #1800 "Synfig developer FAQ"
This is temporary issue to collect most frequent questions and answers. Further it will be transferred to the documentation.

Q: There is developer documentation for Synfig?
A: https://wiki.synfig.org/Developer_Documentation, https://synfig-docs-dev.readthedocs.io/

[2020-10-24 06:08] ice0 commented on #1796
ping @morevnaproject

[2020-10-24 06:09] ice0 commented on #1766
@FirasH please check :)

[2020-10-24 06:10] rodolforg commented on #1175
Accidentally closed by a mistaken commit message.

[2020-10-24 06:25] ice0 commented on #1782
I think reformatting the whole project is not a best idea, for example, I often use `git blame` to find out the author of the changes, but this can be done for newly written or changed code.

[2020-10-24 08:23] FirasH commented on #1766
@ice0 the selector is now working!
The second method (name of the font file) still not working, but I assume that's a separate issue.

[2020-10-24 08:27] DhairyaBahl commented on #1766
@ice0 @FirasH

I would like to tell that The second method of copy pasting the font name is working in my build..

I can share the screenshots.. of different fonts.

Thanks :)

[2020-10-24 08:30] FirasH commented on #1766
@DhairyaBahl are you using Windows?
I get that issue only here.

[2020-10-24 08:33] DhairyaBahl commented on #1766
@FirasH yes, I am using windows build..

[2020-10-24 10:49] DhairyaBahl commented on #1766
![IMG_20201024_161834.jpg](https://user-images.githubusercontent.com/71627983/97079846-a3e84f80-1614-11eb-98d6-e04268bbf9a9.jpg)![IMG_20201024_161758.jpg](https://user-images.githubusercontent.com/71627983/97079849-a64aa980-1614-11eb-8b44-2bf0b9074686.jpg)![IMG_20201024_161736.jpg](https://user-images.githubusercontent.com/71627983/97079852-a8146d00-1614-11eb-806a-e85faebb34f5.jpg)

These are exam

[2020-10-24 10:57] Svarov-RZM commented on #1731
You're right! The same crash happens in 'Spline Tangent' and 'Spline Width'. The 'Spline Width' converter is broken even more, it doesn't allow you to make conversion, throws an error on attempt such as this:
![SplineWidthBug](https://user-images.githubusercontent.com/28569334/97078968-f451b400-15f8-11eb-8671-244085131064.PNG)
Although, it does allow conversion in 1.2.2 version, so regression was

[2020-10-24 12:55] DhairyaBahl commented on #1692
@ice0 @rodolforg

I would like to work on this issue. Kindly assign it to me. Thanks :)

[2020-10-24 13:58] Keyikedalube opened #1803 "Don't dock dockable widgets again on next launch if user undocks and closes them"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
I'm trying to keep my dock toolbar minimal with fewer but frequently used docks so it's easier to browse around.
Most docks can be closed or removed from the toolbar however some (or just one, haven't tried all) can't,

One such dock that I don't even use a lot/at all is the canvas browser.
I can close it but qu

[2020-10-24 15:15] FirasH commented on #1766
Yes, that is working because (I assume) the string matches the font listed in the list.

What I'm referring to is explicitly indicating the font file like `./font.otf` or `./font.ttf`

[2020-10-24 15:32] DhairyaBahl commented on #1766
@FirasH Ohh..Sorry IDK about that.

[2020-10-24 16:42] DhairyaBahl commented on #1692
@ice0 @rodolforg
Kindly tell me if I have to remove every existance of intltools. what if it causes any problems to the code or gettext is already properly applied in the code as i can see in the .sh files.

Thanks :)

[2020-10-25 04:50] rodolforg commented on #1803
No, it's a bug, most probably on Synfig initialization, because, if you close the Canvas panel from layout/workspace, it isn't stored in workspace.layout in synfig settings file.

[2020-10-25 05:25] ice0 commented on #1692
No problem here because all changes are reviewed and tested. If some problems will be found later - they always can be fixed.

Since we are trying to support as many operating systems as possible, it is best to use minimal version possible.
In your situation this is 0.19 (https://packages.ubuntu.com/xenial/gettext)

[2020-10-25 05:27] DhairyaBahl commented on #1692
@ice0 Okay got it. Thanks :)

[2020-10-25 10:03] DhairyaBahl commented on #1692
@ice0 @rodolforg

Work Status Update:
I am only left with "Addendum: Translate other XML formats" Should I make a pull request till now ??

Thanks :)

[2020-10-25 15:03] yoSachinkr opened #1804 "Papagayo integration is buggy with synfig v1.3.16"
Synfig v1.3.16 on windows 10 20H2

.pgo layer should show all the phonemes layers as its child layer after importing it, but it's not showing.
![Screenshot 2020-10-25 203116](https://user-images.githubusercontent.com/50204208/97110820-4d0c7400-1701-11eb-9b49-d2edf0971405.png)

[2020-10-25 16:44] #1686 closed

[2020-10-25 17:49] rodolforg commented on #1796
I guess there is a synfig file format that stores the change-history, not only the current state of synfig document.
Open history should be to access a previous version of one of those documents.

[2020-10-26 00:07] Keyikedalube commented on #1803
Investigating...

[2020-10-26 05:37] Keyikedalube commented on #1690
I'm closing this issue because this is already being taken care of by maintainers reviewing PRs

There's no favorable software/feature solution so far... :(
EditorConfig was proposed but that plugin is still clone-and-build-it-yourself for QtCreator IDE for now

[2020-10-26 05:37] #1690 closed

[2020-10-26 06:34] ice0 commented on #1804
ping @morevnaproject

[2020-10-26 06:35] ice0 commented on #1692
Sure. At least we can review it, and you can check if it builds successfully on other OS.

[2020-10-26 06:46] ice0 commented on #1766
@rodolforg Can we use [GtkFontChooserWidget](https://developer.gnome.org/gtk3/stable/GtkFontChooserWidget.html) here?

[2020-10-26 07:01] morevnaproject commented on #1005
Is this okay to close because off #1769? ^__^

[2020-10-26 07:48] morevnaproject opened #1806 "[Skeleton Tool] Console warning when adding bone to Skeleton Distortion layer"
When user adds a bone using Skeleton Tool to Skeleton Distortion layer, there is a warning appears in console:

[code]

[2020-10-26 07:49] morevnaproject commented on #1806
@Aa20475 can you take a look, please?

[2020-10-26 07:49] Aa20475 commented on #1806
Okayyii!

[2020-10-26 08:20] Keyikedalube commented on #1005
Not yet...

I tested that PR and found out we need to explicitly set the redo shortcut key to `Ctrl+Shift+Z` otherwise the key doesn't respond.

We've to use the `#if` directive to let compiler decide the shortcut key for redo depending on the platform synfig is being compiled on.
- `Ctrl+r` for other platforms
- `Ctrl+Shift+Z` for Linux

[2020-10-26 09:05] ice0 commented on #1005
On Windows `Ctrl+Y` is standard redo shortcut.

[2020-10-26 11:56] Keyikedalube opened #1808 "Make toolbar spinbuttons and entries lose focus on mouse leave event"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
![Screenshot from 2020-10-26 17-10-05](https://user-images.githubusercontent.com/24214509/97168786-0b3a0700-17af-11eb-8891-fd764442de88.png)

When these buttons grab focus, single key canvas navigation (`.` one frame forward and `,` one frame backward) shortcuts become a bit difficult to access.

With focus on a

[2020-10-26 14:17] rodolforg commented on #1766
@ice0, it doesn't allow to choose a font by filename. Some users use a specific font file in the animation folder, for example.

[2020-10-27 14:25] Keyikedalube opened #1809 "Previous selected/created layer is held for draw tool"
**Synfig version & platform**:
Debian sid
Building from source

**Issue description**:
Same issue like #1666

![Screenshot from 2020-10-27 19-47-17](https://user-images.githubusercontent.com/24214509/97314301-925dac80-188d-11eb-875d-dd3135119990.png)

1. Create a rectangle layer
2. Create any random shape using Draw tool

Draw tool layer is created while still holding the previously selected/creat

[2020-10-28 02:21] Keyikedalube commented on #1005
I'm making a PR for this issue.

[2020-10-28 04:32] #1061 closed

[2020-10-28 04:32] #1390 closed

[2020-10-28 09:13] FirasH commented on #1809
I can take a look at this one, should be similar to #1699

[2020-10-28 10:13] Keyikedalube commented on #1808
I'm working on this issue.

[2020-10-28 14:35] Keyikedalube commented on #1796
Is it related to the auto-save feature?

Just out of curiosity how do we save a file while keeping change histories? I tried opening my .sifz file with "Open history" button and it appears to behave the same as Open button. Shouldn't this button be hidden if the user synfig file doesn't record change history?

[2020-10-28 14:59] rodolforg commented on #1796
I think it's related to the `.sfg` file format. I don't know.

It should, but AFAIR, Gtk::FileChooser doesn't give us this flexibility, signalizing what file is currently selected, before user click Open button.

An alternative would be omit the button and ask user what (s)/he wants to do right after user chooses a valid file with history.

[2020-10-29 01:25] Keyikedalube opened #1814 "Platform dependent accel key for Linux, Mac, and Windows"
`<Control>` to `<Primary>`

The latter is automatically mapped to **Control** key on Linux and Windows while on Mac it'll be mapped to **Command** key

File:
- New (Ctrl+N)
- Open (Ctrl+O)
- Save (Ctrl+S)
- Save As (Shift+Ctrl+S)
- Import (Ctrl+I)
- New (Ctrl+N)

Edit:
- Select All Layers (Shift+Ctrl+A)
- Unselect All Layers (Shift+Ctrl+D)
- Select All Handles (Ctrl+A)
- Unselect All Handles (Ctrl

[2020-10-29 04:04] #1809 closed

[2020-10-29 04:58] #1005 closed

[2020-10-29 05:18] ice0 commented on #1808
Works not as good as I expected. For example, if you click to window and move mouse cursor out (to not interfere with text cursor) you can't type anything :(

[2020-10-29 06:40] Keyikedalube commented on #1808
If we default to earlier style ie., without my PR then we'd have to select some other widgets to use:
1. Play/pause and
2. Frame seek keyboard shortcuts

I want input focus to be able to quickly get back to my canvas workspace without having to worry my play key is still being captured by onion spinbutton entry. Plus clicking on the timeline doesn't make the focus go away so from my perspective it

[2020-10-29 09:22] Keyikedalube commented on #1787
Hacktoberfest is ending soon and I doubt this issue will be resolved at all from *new contributors*

There are more widgets apart from widget_defaults that use `Gtk::Table`. Maybe, I could resolve all of them in one PR :)

- widget_coloredit
- widget_waypoint

@rodolforg @ice0 opinion?

[2020-10-29 17:15] ice0 commented on #1787
I think that a good idea :)

[2020-10-30 01:49] Keyikedalube commented on #1787
I'm working on this :)

[2020-10-30 11:44] Keyikedalube commented on #1808
After thinking this through... I guess there are users who prefer moving the cursor away from the widget before typing. While some like me can get used to hovering and staying put and then editing the entry contents.

I think play/pause and navigation shortcuts would have to be changed to old-style again in the future ie., combine it with `<Control>` key. However, this requires feedback from users

[2020-10-30 11:44] #1808 closed

[2020-10-30 12:06] Keyikedalube commented on #1175
Uh... I think this issue should be closed. You guys have discourse forum.

Discussions could be done there. I bet there are users there that would be interested in providing their opinions :)

BTW, my suggested rough concept idea is too difficult-ish to me LOL. I suspect that concept would be possible in Synfig 2.0 or later. Anyway, I wanted the header bar to contain render options and buttons ins

[2020-10-30 16:42] Keyikedalube commented on #1798
I guess it's OK now to remove the Hacktoberfest label. The event's over in 2 hrs (over here)

[2020-10-30 16:45] Keyikedalube commented on #1794
I guess it's OK now to remove the Hacktoberfest label. The event's over in 2 hrs (over here).

BTW, I feel this issue is deserving of "good first issue" :)

[2020-10-31 01:23] Gilraiser opened #1817 "Feature Request: Toggle between frame and keyframe onion skin"
**Synfig version & platform**:

Development version
Archlinux 64

**Description**:

I think it is very important to have the frames and also the keyframes as a reference in the work area to create movements because this helps us to achieve greater precision. I suggest an icon or icons where we can enable onion skin for frames and keyframes. Or if you want to have both activated so that they can be

[2020-10-31 02:05] Keyikedalube commented on #1713
Looks like `Widget_ColorEdit` itself is the issue. Maybe this widget should be a dialog too?

Here's my test:
1. Try opening canvas properties dialog
2. Copy width value
3. And paste it to height

Copy-paste works fine

[2020-10-31 15:21] BobSynfig commented on #1814
The possibility to switch between the different mappings would be a plus, users could use Synfig in multi-boot with their preferred "layout"  ;)