[2020-04-20 17:57] tavdh commented on #540
Using Synfig 1.2.2 64 bit on Win 10, 64.
Synfig crashes a lot when dragging a layer, if the layer changes to rename state. Of course it is not the my intention to rename the layer, I only want to move it up or down.

[2020-04-21 08:06] morevnaproject opened #1371 "16-bit PNG files displayed incorrectly"
**Synfig version & platform**:
1.3.12, 1.3.13 & master branch

**Issue description**:
Sample file -
![file 00060](https://user-images.githubusercontent.com/332868/79840702-778f1480-83e0-11ea-8035-aada62b5861f.png)

File info: PNG image data, 480 x 270, **16-bit**/color RGBA, non-interlaced

When imported in Synfig it looks like this:
![screenshot_002](https://user-images.githubusercontent.com/3328

[2020-04-21 14:37] #1214 closed

[2020-04-21 17:22] rodolforg commented on #1371
related to #1160 ?

Git bisecting…

[2020-04-21 19:31] rodolforg commented on #1371
Ironically, this is pointed as culprit 1c09d1652f6a45eb6bba258454af07dfb8af45ef

[2020-04-22 03:03] WolframKahl opened #1374 "Update libxml++ dependency?"
**Synfig version & platform**:

Trying to build current master  d3857788ad8c61a742154e7d9ef1f9c10458a74e from source on funtoo linux.

**Issue description**:

The build fails with:
[code]

Funtoo currently only has version  3.0.1 of libxml++ (dev-cpp/libxmlpp).

I checked the source repository of libxml++: Version 2.6.1 is from 2004...

[2020-04-22 04:55] rodolforg commented on #1374
Actually, Debian (and derivates like Ubuntu) still use 2.6 to designate 2.42 o.O
It doesn't have versions >= 3.0 in their repository, and I don't know why.

[2020-04-22 13:55] rodolforg commented on #1336
Allow users to choose different layout presets require the same changes shortcut customization feature requires. So IMHO we should first focus on fix what's wrong now.
Customization later.

[2020-04-22 13:56] rodolforg commented on #1336
These should be a separate issue @yoSachinkr

[2020-04-22 13:57] rodolforg commented on #1336
This one too

[2020-04-22 13:58] rodolforg commented on #1336
Separate issue

[2020-04-22 14:06] yoSachinkr commented on #1336
![image](https://user-images.githubusercontent.com/50204208/79991755-45f57680-84d0-11ea-8599-2fb72e3ac443.png)
![image](https://user-images.githubusercontent.com/50204208/79991764-48f06700-84d0-11ea-9e16-931fc3de148f.png)
split and merge tangents functions are already there, and I think assigning hotkeys to them will help a lot.

[2020-04-22 14:12] rodolforg commented on #1336
Yes, but you propose to change the behavior of spline tool, not fix a hotkey :)

About merge/split toggle is a new action. So better to separate it from here :)

[2020-04-22 14:18] yoSachinkr commented on #1336
I agree.

[2020-04-22 14:54] rodolforg commented on #1336
@Keyikedalube Anyway, the way to go is Gtk::AccelMap

[2020-04-22 16:29] FirasH commented on #1368
The latest improvements are now committed to the merge request.

[2020-04-23 14:57] morevnaproject commented on #1160
I have opened image in Krita and converted it into 8-bit PNG. After that it loads correctly in Synfig.
Here is a converted 8-bit file -  [8bit.png](https://user-images.githubusercontent.com/332868/80114048-4283ed00-85ad-11ea-8643-f391d906b3e4.png)

![screenshot_001](https://user-images.githubusercontent.com/332868/80114099-57608080-85ad-11ea-8034-4e0d1fcc2ccd.png)

[2020-04-23 15:06] morevnaproject commented on #1371
Awesome! Thank you for revealing this!
Then,  I can revert this commit in 1.3.x branch. The issue will remain in master branch and can be solved without a hurry.

[2020-04-23 15:08] morevnaproject commented on #1371
Woops! And right at the moment when I posted last comment you submitted #1375. Thank you so much! ^__^

[2020-04-23 16:51] #1160 closed

[2020-04-23 16:51] #1371 closed

[2020-04-23 17:06] morevnaproject opened #1376 "Improve look of Warning dialog"
Synfig displays warning dialog when opening old files and in some other cases (i.e. to inform user about missing images).

This dialog is ugly, note the empty space in this case (screenshot from #1334  -
![warning](https://user-images.githubusercontent.com/332868/80128011-50db0480-85bf-11ea-9bfa-6c8571fffc33.png)

It would be nice to improve it! ^__^

[2020-04-23 17:10] #1307 closed

[2020-04-23 17:15] morevnaproject commented on #280
So, should we close this issue?

[2020-04-23 17:24] morevnaproject commented on #951
@blackwarthog I have increased `wire_segments` and `contour_segments` to 128 and still have same issue (see screenshot below).

https://github.com/synfig/synfig/blob/e821d3193e980b89851d86642630dc129c942caf/synfig-core/src/modules/mod_geometry/advanced_outline.cpp#L474-L475

![screenshot_005](https://user-images.githubusercontent.com/332868/80129874-e8415700-85c1-11ea-90a6-45aae7d36127.png)

[2020-04-23 17:48] rodolforg commented on #280
I really don't know what to do with mentioned assert :(

[2020-04-23 18:17] rodolforg opened #1377 "Press ESC key or right-click should cancel handle dragging"
**Synfig version & platform**:
All

**Issue description**:
If user select start one or more vertex handles and starts to drag them, he can't cancel the dragging.

If user presses the right mouse button, a context menu is shown and after dismiss the menu, the handles float following the mouse pointer and disappear , but do nothing, when user left-click.

[2020-04-23 18:17] rodolforg commented on #1041
@libreartist  ping ? :)

[2020-04-23 20:15] rodolforg commented on #397
The problematic SIF file contains this XML excert:
[code]
Synfig reports this when loading the file:

[code]

and things like
[code]

[2020-04-23 21:47] rodolforg commented on #1374
@WolframKahl I made a dirty hack to support libxml++ 3. If you wanna try…
https://github.com/rodolforg/synfig/tree/dirty-libxmlpp-3-hack

[2020-04-25 10:57] ARYA-BHARDWAJ commented on #733
@ice0  I guess this can be solved by changing displaybar of canvasview  of current window. But I don't understand how to get canvasview of current window.

[2020-04-25 16:31] Keyikedalube commented on #928
@ice0 This portion appears to be fixed
Built synfig using the [above](https://github.com/synfig/synfig/issues/928#issuecomment-523350608) command list just now
Found out the icon images are installed at the right path

Time to edit and delete those three lines I think so someone following the steps doesn't encounter *cannot create directory* or *no such file or directory* errors

[2020-04-25 16:45] Keyikedalube commented on #899
I'm closing this issue.

Due to the reason that...
Synfig is also distributed as a flatpak app and in my opinion, this medium of packaging is better than using appimage because every user installing synfig using flatpak runs on the same runtime environment. So it's likely if a user encounters a problem on Ubuntu, same would be noticed by another user on Fedora, and so on for other distros too...

[2020-04-26 04:58] zozorg opened #1378 "Alpha field misnamed in color radial composite"
**Synfig version & platform**:
1.3.11 linux

**Issue description**:
When converting a color to radial composite, there are two fields named "saturation", one of them actually is the alpha field.

[2020-04-26 11:25] FirasH commented on #1376
If someone wants to contribute, here is the function used to generate this type of dialogs:
https://github.com/synfig/synfig/blob/40593a09e815c08229334bce57001c69ca0d1607/synfig-studio/src/gui/app.cpp#L3535-L3581

[2020-04-26 12:38] rodolforg opened #1380 "Multiple repeated warning messages when opening old file"
When opening an old file (2017) https://wiki.synfig.org/images/3/38/Crosshair-leg.zip
I got this warning dialog:
![Captura de tela de 2020-04-26 09-36-33](https://user-images.githubusercontent.com/1323987/80307770-95be9100-87a1-11ea-9bd3-39f73de5a123.png)

[2020-04-26 12:46] FirasH commented on #1380
Confirmed with master 40593a0

[2020-04-26 18:20] ice0 commented on #733
Please look at `App::get_selected_canvas_view()`. Sounds like something you are looking for :)

[2020-04-26 18:28] #1378 closed

[2020-04-26 18:40] ice0 commented on #928
@Keyikedalube Thanks for pointing this out. I updated comment.

[2020-04-27 14:37] scanlonjd commented on #1348
Same problem with Mac / OSX, using Synfig development version 1.3.33. When text layer created, handles appear, but no text appears or is invisible. Tried with default sans serif, and entered Arial.

[2020-04-27 14:41] scanlonjd opened #1383 "Eyedropper Tool Not Working in OSX"
**Synfig version & platform**:
Development version 1.3.33, OSX platform.

**Issue description**:
Eyedropper tool not working: Click Fill Color, select HSV, click Eyedropper tool. Nothing happens, and Close button freezes after clicking Eyedropper.

[2020-04-28 01:27] markgalassi commented on #794
was any progress ever made on this?  I'm running in to annoying libtool behavior on MacOS where it introduces -fopenmp (even though that was never in the link flags) and then fails with the same message you are getting, since -fopenmp was never meant to be a link option. I'd love to see if you ever fixed your failure.

[2020-04-28 01:35] #899 closed

[2020-04-28 04:51] eucedajosue opened #1384 "Circle deforms with Skeleton"
Windows Version 1.2.2
Circle tool deforms when link to skeleton and move with skeleton

![Captura](https://user-images.githubusercontent.com/17987417/80448419-7d519200-88d9-11ea-8742-9bb31f809aef.PNG)

[2020-04-28 06:32] morevnaproject opened #1385 "Multiple warning instead of one (about opening old version of file)"
Sample file (works with any other file which has multiple groups) -
[devochka.sifz.zip](https://github.com/synfig/synfig/files/4543763/devochka.sifz.zip)

When opened in Synfig (latest master or 1.3.14) it displays warning multiple times:
![screenshot_002](https://user-images.githubusercontent.com/332868/80454659-95b2c280-8954-11ea-8641-e132f09384e0.png)

[2020-04-28 07:18] ARYA-BHARDWAJ commented on #733
I am able to show and hide toolbar. But I have confusion that in case we have multiple documents opened. Then we want to hide/show the toolbar of current document or toolbar of all opened documents.

[2020-04-28 08:22] FirasH commented on #1385
#1380

[2020-04-28 09:12] morevnaproject commented on #1385
@FirasH Oh, sorry, missed it. ^__^

[2020-04-28 09:12] #1385 closed

[2020-04-28 13:33] Neimed commented on #786
Hi, thank so much for the tip !
how can i fix it when i open the xml ? my .sif doesn't open either
thanks

[2020-04-28 15:19] Neimed opened #1387 "synfig project file broken after adding skeleton"
On Synfig 1.3.1, same with 1.2.1, Ubuntu Studio 18.10

I can open a file after create skeleton, bones and children bones and link their to independents groups
this error message appears
[code]
(message translate from the french)
and this for every bunch of bones

have a nice day

[2020-04-28 15:56] morevnaproject commented on #786
@Neimed Can you please attach file here?

[2020-04-28 16:06] Neimed commented on #786
Of course !
[seq 3.sif.zip](https://github.com/synfig/synfig/files/4547063/seq.3.sif.zip)
thx

[2020-04-29 05:20] Keyikedalube commented on #1376
A single warning message would suffice

Because I opened my one of my old files and happened to stumble upon multiple repeating messages like this

![Screenshot_2020-04-29_10-44-31](https://user-images.githubusercontent.com/24214509/80562879-b89daf00-8a06-11ea-910c-994bc4a0191c.png)

[2020-04-29 10:04] FirasH opened #1389 "Some strings on Mac OS are not translated"
**Synfig version & platform**:
Synfig 1.3.13
macOS Catalina 10.15.4

**Issue description**:
Some strings are not translated:

* Cut/Copy/Paste
![Schermata 2020-04-29 alle 11 51 26](https://user-images.githubusercontent.com/6705690/80583039-fa7f2300-8a0f-11ea-9fe5-20b11428e979.png)

* Revert
![Schermata 2020-04-29 alle 11 54 00](https://user-images.githubusercontent.com/6705690/80583171-2a2e2b00-8a

[2020-04-29 11:09] ice0 commented on #794
As far as I remember, `-fopenmp` was added by the ImageMagick library.
So a few thoughts:
1) Install gcc (brew) and use it to build. It supports `openmp` out of the box. Clang on MacOS is not :(
2) Fix the ImageMagick .pc file and remove this flag manually. (this is what I want to do on Travis-CI).

[2020-04-29 16:46] FirasH opened #1390 "Some labels in dialog buttons are not correctly aligned"
**Synfig version & platform**:
Synfig 1.3.13 on all platforms

**Issue description**:
In some dialogs the text labels are not correctly aligned.
For example in `Help > About Synfig Studio`, the button `Close` is aligned to the top:
![button_label_alignment](https://user-images.githubusercontent.com/6705690/80622536-3b475e00-8a49-11ea-8534-aacfc70c4917.png)

[2020-04-29 21:02] Neimed commented on #786
i finally found de problem, some group was linked with deleted bones or bones in other files. I just replaced ```
<bone_link type="transformation">
                    <bone>
                      <bone_valuenode type="bone_object" guid="7F6DD599F38515A8733C1AFB759FBD77"/>
                    </bone>
                    <base_value>
                      <composite type="transformation">

[2020-04-30 09:30] morevnaproject commented on #786
Hi! Sorry, I wasn't able to help earlier. ^__^" Happy to hear you've got this solved!

[2020-04-30 09:39] morevnaproject opened #1392 "Release version 1.3.14"
- [x] Add latest translations from Transifex
- [x] Test building of binary tarballs: `./autobuild/synfigstudio-release.sh`
- [x] Add release commit and tag: `./version-release.sh`
- [x] Build binaries
- [x] Write release notes + announcement text for blog post
- [x] Upload binaries to GitHub, FossHub, Sf.net, Paddle
- [x] Publish announcement on website
- [x] Send announcement to subscribers in em

[2020-04-30 11:11] morevnaproject opened #1393 "File corruption: Copy-paste layers with exported values from one file to another"
There is a very common situation when user can get his file corrupted by simply copy-pasting layers from one file to another. This happens if layer contains exported values (note that bones are exported values too!).

Steps to reproduce this situation:
1. Launch Synfig and create new file.
2. Create a simple Circle Layer.
3. Select Circle Layer, right-click its Radius parameter and select "Export"

[2020-04-30 11:13] morevnaproject commented on #1393
Broken files reported by users regularly.
Examples: #786, #1387

[2020-04-30 11:18] morevnaproject commented on #1393
I think (1) should be a scope of this issue. (2) should be submitted a separate issue.

[2020-04-30 11:23] morevnaproject commented on #1393
Here is my proposal for solving this - https://synfig-docs-dev.readthedocs.io/en/latest/projects/copy-paste-exported-values.html

[2020-04-30 15:30] rodolforg commented on #1384
It seems you linked bone to some of circle vertices.
Coul you post a demonstration file?

[2020-04-30 16:09] morevnaproject commented on #1392
Binaries building done.

[2020-04-30 16:37] eucedajosue commented on #1384
File attached
-Create a circle with Circle tool
-Group ouline and region
-add a skeleton
-right clic con the group and clic on Select All Child Layers
-ctr+a to select all vertex
-ctr + clic on the skeleton
right clic con the skeleton and Link to Bone

[Synfig Animation 1.zip](https://github.com/synfig/synfig/files/4559686/Synfig.Animation.1.zip)

[2020-04-30 17:10] #1191 closed

[2020-04-30 17:15] morevnaproject commented on #1052
It would be nice to try run Synfig through [processmonitor app](https://docs.microsoft.com/ru-ru/sysinternals/downloads/procmon) and look where it makes attempt to write.

@rodolforg Do you still have access to environment where this issue is reproducible?

[2020-04-30 18:16] rodolforg commented on #1052
@morevnaproject no I don't, due to quarantine and I don't use Windows at home.

But IT crew had to enable a write permission on synfig folder in c:\[I don't remember the path] as far as I remember

[2020-05-01 04:17] ice0 commented on #1052
Confirmed. I removed the write permissions on the Synfig folder, and I got this:

Synfig tries to create file: C:\Users\user\Downloads\SynfigStudio-1.5.0-testing-2020.02.29-win64-478b0\config\tmp\synfig_instance_9D09952C5A99F75295558C2EAB0F6FF0

[2020-05-01 04:39] morevnaproject commented on #1052
It makes sense to search for “config/tmp” string in sources. This path is
unusual. Might help to find the root of problem.

пт, 1 мая 2020 г. в 11:18, ice0 <notifications@github.com>:

--
http://morevnaproject.org/

[2020-05-01 04:53] ice0 commented on #1052
I think the problem is here:

https://github.com/synfig/synfig/blob/251f37a0c255ee89beb94b523adc2ec21474bf4b/synfig-studio/src/gui/app.cpp#L3865-L3869

[2020-05-01 11:25] morevnaproject commented on #1052
https://github.com/synfig/synfig/blob/251f37a0c255ee89beb94b523adc2ec21474bf4b/synfig-studio/src/synfigapp/main.cpp#L434-L444

So, `get_user_app_directory()` uses `Glib::get_home_dir()` and from Glib's sourcesL

[code]

--> **an empty string if not defined**

Should we check output of `get_home_dir()`?

On the other hand, i do not see how "config/tmp" could appear in the code - it constructs diffe

[2020-05-01 15:06] rodolforg commented on #1052
Actually, the problem isn't the `get_user_app_directory()` (it seems it just creates the `"config"` string).

https://github.com/synfig/synfig/blob/251f37a0c255ee89beb94b523adc2ec21474bf4b/synfig-studio/src/gui/app.cpp#L3878

https://github.com/synfig/synfig/blob/251f37a0c255ee89beb94b523adc2ec21474bf4b/synfig-core/src/synfig/filesystemtemporary.cpp#L58-L67

https://github.com/synfig/synfig/blob/2

[2020-05-01 16:19] morevnaproject commented on #1052
@rodolforg that part of code generate last part of save path (filename) - `synfig_instance_9D09952C5A99F75295558C2EAB0F6FF0`.

I wonder where does `tmp/config` part comes from...

[2020-05-01 16:54] rodolforg commented on #1052
SYNFIG_USER_APP_DIR?

[2020-05-01 19:24] rodolforg commented on #1052
Anyway, I think we should avoid duplicated methods for retrieving temporary dir (and with different results!). Maybe merge with:
https://github.com/synfig/synfig/blob/251f37a0c255ee89beb94b523adc2ec21474bf4b/synfig-core/src/synfig/filesystemtemporary.cpp#L76-L85

Actually, it should have a (static?) class for deal with filesystem dirs and filenames.
Dirs:
 - Temporary files : system-wide temporary

[2020-05-02 01:45] Keyikedalube commented on #1390
Rodolforg explained it here https://github.com/synfig/synfig/issues/1061#issuecomment-576243244

Just uncomment that custom GTK theming code and misaligned layouts will be corrected

But someone's got to implement the styling class for toolbars first

[2020-05-02 06:01] ice0 commented on #1052
Yep. This path is just copied from process monitor.

The main problem was that I could not reproduce the problem using my own local build. Everything just works fine. So I continued digging and noticed that if I run `synfigstudio` from the` bin` folder, everything works fine.

Then I looked inside `synfigstudio.bat`.

And voila:

[code]

[2020-05-02 08:31] morevnaproject commented on #1052
Ah, exactly! This is the specific of portable build!
I added it myself and completely forgot. The reason for adding this was the following: it is expected that portable app shouldn't leave traces in the system, so I have forced custom location of SYNFIG_USER_SETTINGS to be inside of portable dir. ^__^

This issue isn't happens if you use version from installer or do local build.
@rodolforg Did you

[2020-05-02 10:07] morevnaproject commented on #1052
Am I too strict about this? Maybe I am over-paranoid...
Should we revert this behavior?

Possibly "tmp" is not good name for such dir. Maybe we should rename it into "backup"?

[2020-05-02 13:06] morevnaproject commented on #794
There is option 3: Do not use brew's package and re-compile ImageMagick by hand? ^__^

[2020-05-03 03:41] morevnaproject commented on #733
Closed via #1386

[2020-05-03 03:41] #733 closed

[2020-05-03 16:28] morevnaproject commented on #1384
You do not have to do this step.
You need to have group selected (not its content) and link it to bone.

[2020-05-03 21:24] FirasH commented on #1389
It seems like this happens with actions defined using `Gtk::Stock`:
https://github.com/synfig/synfig/blob/9ad7d22d857c42b49bde109af298c77d661a68b4/synfig-studio/src/gui/app.cpp#L969-L971

I'm not familiar with gtk, but looking at the [gtkmm documentation](https://developer.gnome.org/gtkmm/stable/namespaceGtk_1_1Stock.html#a76302fb02dfe89fd8a7af6cfac51eb2d) those appear to be deprecated.

Could tha

[2020-05-04 05:34] morevnaproject opened #1394 ""View" - "Toolbar" is not effective for all visible canvases"
**Expected behavior:**
"View" - "Toolbar" should show/hide toolbar in all canvas windows.

**Bug description:**
This doesn't happens when you have 2 (or more) canvas windows visible at the same time.
Illustration - https://www.youtube.com/watch?v=rzsEBRC6bjo

Note: This happens because in current code the toolbar state is updated when canvas window is switched. Instead, it would be better to impro

[2020-05-04 06:01] ARYA-BHARDWAJ commented on #1394
Yes, I will work on this.

[2020-05-04 06:24] morevnaproject commented on #1394
Great! Assigned then.

[2020-05-04 19:19] Gilraiser opened #1397 "New plugin does not work to export and import"
**Synfig Studio 1.5.0 production build. Archlinux 64x**:

**Issue description**:
When installing the new plugin made by Mattia Basaglia in the way indicated in the documentation (https://synfig.readthedocs.io/en/latest/plugins.html), whether you want to export or import, the following message is presented of mistake:
![Captura de pantalla_2020-05-04_10-23-54](https://user-images.githubusercontent.

[2020-05-04 21:49] eucedajosue commented on #1384
yes, i have to. if not, no Link to bone option is displayed.

Trying solutions, a found:

1. before you link to bone, edit the origin set: 0px,0px, then i have to move the circle to the desired position.

2.  select All Handles, right clic on any vertex and select the option: Merge Tangents Radius.

after this you can link to bone and the results will be as espected. only happen with Circle tool.

[2020-05-04 22:19] rodolforg commented on #1384
No, you don't have to :)
Instead of selecting children layers and their vertices, just select the Group origin (the green handle) to link to bone.
I think that's what morevna meant.

[2020-05-04 22:49] eucedajosue commented on #1384
Great, that solves de problem. I was fallowing the steps in documentation: https://wiki.synfig.org/Doc:Basic_Bone_Tutorial#Attaching_the_bones

[2020-05-04 23:30] FadhilKwan commented on #487
Hi @rodolforg . First of all, i'm really sorry for replying this late (almost like a month; oof). I didn't look through my mailboxes properly, and github didn't send any notification to my account dashboard. ._.v

Anyway, i checked and tried to replicate the bugs on v1.3.13. And it seems that the disappearing cursor while dragging Dockers bug (no. 1) has been resolved!
Oh yeah, also the part where

[2020-05-04 23:36] rodolforg commented on #487
Version 1.3.14 will solve the missing cursor for eyedropper.

That dragging oeoblem is too weird, but I can't reproduce because I don't use OSX.
It seems a GTK issue anyway (but the missing cursor was too...)

[2020-05-04 23:39] FadhilKwan commented on #570
Yes, can confirm on dev ver1.3.13. It works properly now! ^-^

[2020-05-04 23:39] #570 closed

[2020-05-04 23:48] FadhilKwan commented on #487
Yup, just found it a few minutes later on #536 and tried it right off the bat. And i'm happy to say that i can confirm that as well.

hmmm~, i'm not entirely sure how it's still there either. ._.

But now that the major bugs on the list has been solved, i think i can close this issue now.
Or maybe should i just wait until all of them gets fixed?

[2020-05-05 00:00] FadhilKwan commented on #675
Tried to replicate this bug on v1.3.13 (Windows) as well, and i can confirm that the bug's not there anymore.
Yup, i think it's fixed now! 😄

[2020-05-05 00:00] #675 closed

[2020-05-05 00:05] #487 closed

[2020-05-05 00:13] FadhilKwan commented on #520
Apologies for my late response ._.v
Yes, tried to reset the problematic parameters back to zero, and it did the job very well, with no problems at all~ :)

[2020-05-05 00:13] #520 closed

[2020-05-05 04:22] Keyikedalube commented on #1063
Installed Fedora 32 today and tested synfig on Wayland session
Instead of blank icon shown in the first screenshot above, Fedora 32 now shows executable icon as a placeholder for synfig
![Screenshot from 2020-05-05 09-34-46](https://user-images.githubusercontent.com/24214509/81034315-5cc6a080-8eb4-11ea-8dba-64176986e30a.png)
I suspected this is wayland issue because I have set the window default i

[2020-05-05 04:45] rodolforg commented on #1063
On wayland, maybe this can help

https://github.com/nextcloud/desktop/issues/1435

[2020-05-05 05:44] Keyikedalube commented on #1144
Plus, the thumbnail placement is not consistent for X11 and Wayland.

# On X11
![Screenshot_2020-05-05_11-05-31](https://user-images.githubusercontent.com/24214509/81037660-33f8d800-8ec1-11ea-8f78-c7ba435b7577.png)

# On Wayland
![Screenshot from 2020-05-05 10-48-38](https://user-images.githubusercontent.com/24214509/81037679-4246f400-8ec1-11ea-87e8-7ccf5a6497ce.png)

[2020-05-05 05:47] ice0 commented on #1397
@mbasaglia Can you take a look?

[2020-05-05 05:59] rodolforg commented on #1144
Here is the thumbnail code, if trying to fix the incorrect positioning on wayland:
https://github.com/synfig/synfig/blob/9ad7d22d857c42b49bde109af298c77d661a68b4/synfig-studio/src/gui/widgets/widget_canvastimeslider.cpp#L98

[2020-05-05 10:16] mbasaglia commented on #1397
It was an issue that should already be fixed, try downloading the latest version of my plugin: http://mattia.basaglia.gitlab.io/python-lottie/downloads.html

[2020-05-05 11:29] ppd opened #1398 "Interest in snap build"
Is there interest in providing a snap build? I have a quick proof-of-concept in my fork's snap branch: https://github.com/ppd/synfig/tree/snap

I don't really use synfig enough for me to consider maintaining the package myself. But if the project would like to carry something like this upstream, we could turn this into something mergeable.

It's not a hugely complex package anyway. A few CMake fix

[2020-05-05 13:47] morevnaproject commented on #1394
Closed via #1395.

[2020-05-05 13:47] #1394 closed

[2020-05-05 15:18] pixelr0 commented on #1398
+1 for a snap package

[2020-05-05 15:38] #1281 closed

[2020-05-05 16:11] morevnaproject commented on #1384
One more reason to update the docs! ^__^

[2020-05-05 16:11] #1384 closed

[2020-05-05 16:36] rodolforg commented on #1384
Polygon and splines by default have their origins at (0,0) as pointed as
solutuon for circle region by OP

Em ter, 5 de mai de 2020 13:12, Konstantin Dmitriev <
notifications@github.com> escreveu:

[2020-05-06 04:25] ice0 commented on #1398
Sure! That will be awesome!

[2020-05-06 04:31] #1380 closed

[2020-05-06 08:29] ppd commented on #1398
What does make sense to ship in the snap? ffmpeg for mod_ffmpeg makes sense. What else?

[2020-05-06 10:16] Keyikedalube commented on #1235
Inkscape new 1.0 release has equipped symbolic icons
Looks good on dark themes

The gif is sourced from the [release news](https://inkscape.org/news/2020/05/04/introducing-inkscape-10/) article (for reference)
![Themes](https://user-images.githubusercontent.com/24214509/81165173-30437f00-8faf-11ea-8d04-8f64b7d10566.gif)

Just the dark theme and symbolic icons applied
![Screenshot_2020-05-06_15-41-

[2020-05-06 19:09] FadhilKwan opened #1401 "Width Points Get Glitched Out when Their Positions Were Changed (But On Unlooped Adv. Outlines Only)"
**Synfig version & platform**:
v1.3.13 (Portable) on Win 10
and also found in v1.3.14 (also Portable) that i got from here-> #536

**Issue description**:
Note:
as far as we can find, this only occurs on unlooped advanced outlines.
The looped lines (like from shapes layers) wont have this issue for some reason.
(thanks to rodolforg for this finding on this comment -> https://github.com/synfig/synfi

[2020-05-06 19:20] FadhilKwan commented on #1401
um.... a bit of update

This somehow also happened on 1.3.12 (also Portable version) as well, and now i'm confused...

I did try changing the width points' positions on v1.2.2 that are currently installed on my laptop, and this issue didn't occur at all.

Can someone confirm if this issue happened to any others? Because i feel like there's a chance that this is only happening on my device.

[2020-05-06 19:23] rodolforg commented on #1401
I can't reproduce it.
What am I doing different of you?
https://youtu.be/C5UThpNjZWk

[2020-05-06 19:45] FadhilKwan commented on #1401
Hmmm~...?

Okay, so i checked your clip, and...
......ah, i see! (maybe?)

Anyway, try unlooping the circle, then moving the width points once again

[2020-05-06 20:13] Gilraiser commented on #1397
Hi Mattia, I checked more thoroughly and the only thing that allows me is to import into svg with very good results. The rest does not allow me to import or export.

It is an excellent plugin. Thanks for sharing. I hope the information is helpful.

[2020-05-06 20:15] ebarranco commented on #1401
@rodolforg @FadhilKwan I can reproduce this problem, the width point snap in random places when I try to change its position.

[2020-05-06 20:45] ebarranco commented on #1401
...It  also happens with non closed outlines made with drawing and Spline tool @rodolforg .

[2020-05-06 20:53] rodolforg commented on #1401
Ok, I could reproduce only in unlooped cases.
The last spline segment is making trouble s

[2020-05-06 21:33] FadhilKwan commented on #1401
Okay, so it's confirmed after all. Thank goodness it wasn't my machine's fault.

Yup, same here as well. I did try the ones from your clip (the circle ones) right after, and the width points did move properly.
Also yeah, the drawing that i used to test the width points is a simple S-shape (which is obviously unlooped). And i forgot to mention that one, sorry ._.v

Now that the issue has been confi

[2020-05-07 05:07] rodolforg commented on #1392
Some help for release notes in branch 1.3.x:

Bugfixes
---

Fixed crash when removing a Spline vertex using "Remove item (Smart)" (fix #1188)

Fixed incorrect placement of vertex on bline in 1.3.13 (fix #1289 and #1290)

Fixed crash with Layer_Shade without sublayers (fix #1272)

Fixed some memory leaks

Fixed popup menu popping down right after button release for Widget Gradient/Spline (fix #1277

[2020-05-07 06:07] Keyikedalube commented on #1063
Inquired about wayland issue on GTK irc channel.

Chat history: [My question](https://matrix.to/#/!aUhETchlgthwWVQzhi:matrix.org/$158882881364548qsgWF:matrix.org?via=gnome.org&via=matrix.org&via=breadpirates.chat)
Chat history: [Solution](https://matrix.to/#/!aUhETchlgthwWVQzhi:matrix.org/$158882978444934GJoJi:gnome.org?via=gnome.org&via=matrix.org&via=breadpirates.chat)

In summary, here's the qu

[2020-05-07 07:10] mbasaglia commented on #1397
dunno, it works fine for me, maybe send the files that don't work

probably it's better to create a ticket on the tracker for my framework https://gitlab.com/mattia.basaglia/python-lottie/-/issues (It also allows attaching more file types than github)

[2020-05-07 13:11] morevnaproject commented on #1392
Oh, thank you so much for help with that! :tada:

[2020-05-07 14:25] rodolforg commented on #1348
I believe you mean 1.3.13, right? There isn't 1.3.33.

@morevnaproject  @ice0 I don't have access to OSX. Do you know who can test it?

[2020-05-07 14:30] scanlonjd commented on #1348
Yes, my mistake, development version 1.3.13. Thanks!

[2020-05-07 14:53] rodolforg commented on #1348
@jmb @scanlonjd can you test it with 1.3.11 and 1.3.12 please?

https://github.com/synfig/synfig/releases

[2020-05-07 15:03] morevnaproject commented on #1052
This change was introduced because of this - https://github.com/synfig/synfig/issues/718

I think the best solution is to use system's temp dir on Windows (for both portable and non-portable versions).

[2020-05-07 15:50] rodolforg commented on #1348
I checked the code and it searches for font name in the foloowing path:

1. current working directory (where the Synfig Studio is launch from)

1. the animation file directory (where it is saved)

1. if on Windows, `C:\WINDOWS\FONTS\`

1. if on Mac, `~/Library/Fonts/`

1. if on Mac, `/Library/Fonts/`

1. if not on Windows (ie. Linux and Mac), `/usr/X11R6/lib/X11/fonts/type1/`, `/usr/share/fonts/tr

[2020-05-07 15:52] rodolforg commented on #1052
we could set the temp dir as c:\tmp\synfig-VERSION or something like that, where c:\tmp is actually the system temp dir.

[2020-05-07 16:10] morevnaproject commented on #1392
@rodolforg I have added those release notes to Synfig Docs, so they can be easily editable by anyone now - https://synfig.readthedocs.io/en/latest/releases/development/1.3.14.html (I have slightly cleaned it up, removing the changes that are probably not in scope of user interest).

https://github.com/synfig/synfig-docs/commit/41fe1a93e161aac4e81bd84f05b5bade676975ab

P.S. I have uploaded all pack

[2020-05-07 16:11] morevnaproject commented on #314
The fix is now available in version 1.3.14 ^__^ - https://www.synfig.org/2020/05/07/synfig-studio-1-3-14-released/

[2020-05-07 16:20] rodolforg commented on #1401
@morevnaproject @ice0 blocking issue to 1.4 :(

[2020-05-07 16:31] rodolforg commented on #1401
It works fine in 1.3.11
It stopped to work in 1.3.12

[2020-05-07 16:33] morevnaproject commented on #1198
Much thanks to everyone who contributed to translation! The translation is 72% complete now and it is shipped with Synfig 1.3.14 - https://www.synfig.org/2020/05/07/synfig-studio-1-3-14-released/ ^__^

![screenshot_002](https://user-images.githubusercontent.com/332868/81320267-1c853f00-90bb-11ea-8809-93d5dabf99a2.png)

[2020-05-07 17:02] morevnaproject commented on #1401
This problem is result of reworked outlines (same origin as here - https://github.com/synfig/synfig/issues/1284).

Note, that when you try to put widthpoint closer to start of outline, then the jumping gets smaller.

Also, note that if spline constructed of 4 points, you can't drag beyound 3rd point (Synfig "thinks" that 3rd point is an end of spline).

![screenshot_004](https://user-images.github

[2020-05-07 17:33] morevnaproject commented on #1327
Fixed w=with this commit - https://gitlab.com/synfig/synfig-tests/-/commit/20032ffddd709a62e304bba20e8701b2570034ea

[2020-05-07 17:33] #1327 closed

[2020-05-07 17:34] morevnaproject commented on #1392
Completed! Congratulations with the release! :tada:

[2020-05-07 17:34] #1392 closed

[2020-05-07 20:07] doc-halo commented on #1348
I do not have this problem on High Sierra. Text has always worked for me.

Maybe it's a Catalina issue only?

[2020-05-07 20:19] rodolforg commented on #1348
fonts on Catalina
https://support.apple.com/en-us/HT210192

[2020-05-08 00:25] scanlonjd commented on #1348
Thanks — will try to provided some technical feedback as requested.

Tried entering specific Catalina font, but no luck with any font type entered. Handles appear, but no text.

Parameters for font attached…

J.D. Scanlon
scanlonjd@yahoo.ca
Parati vero parati

[2020-05-08 04:43] ice0 commented on #1052
I agree. This fits better.

[2020-05-08 04:55] ice0 opened #1402 "CMake must build appdata & desktop files"
https://github.com/synfig/synfig/pull/1400/files/989c4ea0cfda65a85d040e42875753eb0f820a41#r420665001

[2020-05-08 05:22] ice0 commented on #1398
Synfig have a lot of dependencies: sigc++, cairomm, glib, etc.
You can check the full list in out flatpak build: https://github.com/flathub/org.synfig.SynfigStudio/blob/1.4-beta/org.synfig.SynfigStudio.yaml

Done. Waiting for synfigstudio snap name to be approved. This name is reserved at the moment.

Yes. I added issue for that, so it will be done during GSoC 2020.

[2020-05-08 06:47] ppd commented on #1398
Thank you. I was just curious about implicit dependencies that are called at runtime. The snap itself builds and runs already.

[2020-05-08 10:13] ice0 commented on #1398
This is what is called at runtime:

which
https://github.com/synfig/synfig/blob/a4bbdd72e57be5b449874eab8a6b47425af8d4fb/synfig-core/src/modules/mod_ffmpeg/trgt_ffmpeg.cpp#L190

ffmpeg
https://github.com/synfig/synfig/blob/a4bbdd72e57be5b449874eab8a6b47425af8d4fb/synfig-core/src/modules/mod_ffmpeg/mptr_ffmpeg.cpp#L155

convert
https://github.com/synfig/synfig/blob/9d2e9afb0770b91d311ecc3f128e32736

[2020-05-08 17:07] rodolforg commented on #1398
And python3

[2020-05-08 18:12] Gilraiser commented on #1397
@mbasaglia Made some changes to how the plugin is packaged. Everything works perfect now. Thank you very much again Mattia.

[2020-05-08 18:12] #1397 closed

[2020-05-09 16:02] morevnaproject commented on #1052
Currently, location for backups (`~/.config/synfig/tmp/`) is part of config location (`~/.config/synfig/`). This is not good and they should be separated.

So, yes, I agree with @rodolforg  that we have to use different location.

* On Windows: `$TMPDIR/synfig/backup/`
* On Linux: `$HOME/.cache/synfig/backup/`
* On OSX: ???

Also, I suggest to change location of config files on Windows.
Currently

[2020-05-09 16:29] morevnaproject commented on #1348
Can't reproduce on OSX 10.9, Synfig 1.3.14 -
![screenshot_005](https://user-images.githubusercontent.com/332868/81479303-93057680-924c-11ea-90ab-edc64287bb10.png)

@scanlonjd @jmb Did you copied SynfigStudio.app to your Applications dir?

[2020-05-09 16:35] mbasaglia commented on #1309
probably this can be closed now

[2020-05-09 16:36] morevnaproject commented on #1309
Yes, thank you!

[2020-05-09 16:36] #1309 closed

[2020-05-09 16:49] mbasaglia commented on #941
I made a plugin that can export tgs, it should work well enough (colors are handled using fill/stroke shapes so it's supported by telegram)

You can download it from here: http://mattia.basaglia.gitlab.io/python-lottie/downloads.html

(you should probably use the development version of synfig to use the plugin)

[2020-05-09 18:01] scanlonjd commented on #1348
Hi:

Thanks very much for the support—I am still new to Synfig and am not a programmer, so steep learning curve.

Yes, Synfig Studio was copied to Applications. However, I think problem was related to Catalina or to recent switch to new MacBook Pro.

When I checked /Library/Font/ (in OSX 10.15.4) there were numerous fonts missing and many disabled. I used Font Book to reload fonts, and manually cu

[2020-05-09 20:08] rodolforg commented on #1052
- Temporary files : system-wide temporary folder but inside a "synfig" prefix (in unix-like OS: /tmp/synfig)
  - Windows: `%TEMP%`
  - Linux: /tmp (`$TMPDIR `)
  - OSX:
- App data : system-wide plugins, icons, sound, ui, locale files etc for Synfig
  - Windows: installation folder ?
  - Linux: /usr/share
  - OSX:
- User app data : similar above but for user-scope (optional)
  - Windows: `%APPDATA%

[2020-05-09 20:20] rodolforg commented on #1401
Argh. I can't find the problem…

[2020-05-10 06:56] FadhilKwan commented on #1401
I decided to check this issue again (in 1.3.14 portable) and found something quite... interesting.

It seems that the jumps are not random, but affected in some way.

It's a bit complicated to explain, but much easier to notice if you play with this problem with 3 vertex point-line (or 2 line segments).

When i drag the width points to a value, and let it go, that point will jump to the double of

[2020-05-10 07:22] ankit-kumar-dwivedi commented on #1348
+ 1 works for me on macOS 10.15 Catalina

[2020-05-10 08:06] morevnaproject commented on #1401
@FadhilKwan Yes, the behavior you just described is because Synfig doesn't count the last segment of spline while dragging ("doesn't see" the segment). But when you release mouse button it takes calculated position value and applies it to full outline.

Position  of widthpoint on outline is a value in range [0;1]. where 0 - start of outline and 1 is last point of outline (end).

Suppose, you have

[2020-05-10 09:10] ice0 commented on #1398
Ok. Synfigstudio name is approved at snapcraft.

[2020-05-10 09:25] ice0 commented on #1052
Yes. Relative to `bin/` folder.

But what if we install Synfig in the user's home directory?

[2020-05-10 09:51] ppd commented on #1398
Great. I'll squash the pull request and we can discuss the rest there

[2020-05-10 12:47] Aa20475 commented on #1215
I think we can close this issue?

[2020-05-10 13:01] morevnaproject commented on #1215
Yes, thank you! ^__^

[2020-05-10 13:01] #1215 closed

[2020-05-10 13:45] rodolforg commented on #1052
OK, so let it be defined according to a PREFIX_PATH set at compilation time?
`PREFIX/share`

[2020-05-10 14:52] rodolforg commented on #1052
And do you know OSX corresponding path?

[2020-05-10 14:53] rodolforg commented on #1348
@jmb is this solved?
Does this comment help?
https://github.com/synfig/synfig/issues/1348#issuecomment-626213746

[2020-05-10 15:43] FirasH opened #1405 "Dragging Waypoints in Graphs editor does not correctly report delta f"
**Synfig version & platform**:
master 2349d94

**Issue description**:

1. Create a new animation with at least a waypoint
2. Go to the `Graphs` editor
Here the waypoints describe the applied interpolation given the position in `Time` and `Value`.
3. Drag one of the waypoints
The description of the change (delta) in `Value` is displayed correctly, while the change in `Time` is always showing a cons

[2020-05-10 16:36] jmb commented on #1348
I won’t be able to try it out for a while I’m afraid, but will come back when I do.

[2020-05-10 18:00] rodolforg commented on #1383
Could you please try with 1.3.14?

[2020-05-10 18:31] rodolforg commented on #1052
https://developer.apple.com/library/archive/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/MacOSXDirectories/MacOSXDirectories.html

[2020-05-10 18:40] rodolforg commented on #1052
And compilation system sets:

- IMAGE_DIR
- PLUGIN_DIR
- SOUNDDIR
- UIDIR

[2020-05-10 21:11] scanlonjd commented on #1383
Hi:

Same issue with Eyedropper in 1.3.14 development version. Click on Fill to open Colours Window, select HSV, click Eyedropper. Nothing happens, except Close button freezes.

Other issue that continues with new development version in OSX is the Caret menu opens on its own and freezes open. To close it requires trying to get cursor to click on > symbol by top left of Caret menu.

I am using late

[2020-05-10 21:39] doc-halo commented on #1383
I can confirm.

![Screen Shot 2020-05-10 at 5 36 17 PM](https://user-images.githubusercontent.com/10502218/81511151-2f7b5780-92e5-11ea-9753-140d3c3658e0.png)
On OSX High Sierra, Eyedropper doesn't work when using Colors dialog window. And the window freezes when you click on the eyedropper icon.

[2020-05-11 06:12] Svarov-RZM commented on #314
@morevnaproject
I tested the new development version and all seems to work as expected. At least I didn't notice anything wrong with my own vector work.

Side question: is there a list of layers that are not yet ported to a new engine? I would like to keep a close look on the progress, especially distortion layers.

[2020-05-11 13:45] FirasH opened #1407 "Font Family local font files are not detected by Text objects"
**Synfig version & platform**:
master 2349d94

**Issue description**:
1. Create a new animation and save it to a known position in your file system
2. Copy a font to that same location (in my case a .otf font)
3. Create a Text object on Canvas and assign the value `Font Family` to /filefontname.otf

Synfig is not loading the font, it used to work as I'm opening a recent animation.

[2020-05-11 14:53] FirasH commented on #1329
The issue does not happen if the `Advanced Outline` is `Looped`.

[2020-05-12 07:33] #1407 closed

[2020-05-12 08:07] morevnaproject commented on #1052
Notes for temporary files:

1. On OSX temporary directory is defined by $TMPDIR variable (https://osxdaily.com/2018/08/17/where-temp-folder-mac-access/).
2. On my system (Linux Mint) I have no TMPDIR or TEMPDIR environment variable defined.
3. On Linux we have to make sure that other users has no access to temporary data, so directory should be user-specific.
4. Is Synfig writes any temporary file

[2020-05-12 08:08] morevnaproject commented on #1052
That's all subdirectories of "$PREFIX/share/synfig", where `$PREFIX` is Synfig installation.

[2020-05-12 16:13] rodolforg commented on #1052
It seem it does:

---

I updated the proposal comment: https://github.com/synfig/synfig/issues/1052#issuecomment-626228945

[2020-05-13 04:51] #1346 closed

[2020-05-13 05:42] rodolforg commented on #1052
Something like this (but static):
[code]

[2020-05-13 09:47] Keyikedalube commented on #1063
GTK programs usually scan all the standard icons directory (both **system** _starting from the root_ and **user** _home directory_)

Strangely, setting the `set_icon_name()` or `set_default_icon_name()` on synfig doesn't seem to fix this issue.
For instance, I tried sudo cp _production/build/share/icons/hicolor directory to my /usr/share/icons/hicolor and based on [rodolforg's](https://github.com/

[2020-05-13 16:33] ice0 commented on #1052
Another case for Linux that can be resolved with a relative path (like on Windows):

When we compile synfig using the IDE / CMake, we do not do the `install` step before starting it.
This currently works because we are creating the same directory structure (as for Windows) inside the build directory.
Therefore, we also need the ability to search on relative paths (from binary).
For instance:
../et

[2020-05-13 17:05] #1405 closed

[2020-05-13 17:59] rodolforg commented on #1052
Linux software (sadly or not) don't rely on this path resolution like Windows does (current dir first, then system dir): it tries .local, /usr/local and /usr normally.
But we could allow that in those methods I propose like `get_app_data_filepath()`. It could search for a file in these dirs: "current" dir first, then .local, then /usr/local and finally /usr , stopping where it finds first.
Maybe c

[2020-05-14 00:48] rodolforg commented on #1052
If I code such class… should be at `synfig` or `studio`?

[2020-05-14 03:49] morevnaproject commented on #1052
That's all resources only for studio ^__^

[2020-05-14 03:53] morevnaproject commented on #1052
This is a part of autobackup system.
When Synfig opens/creates any file it wraps the file into temporary filesystem, which is used for keeping autobackups and embed resources (which are not saved yet, i.e. embedded images).

This is how saving works:
app --> saved to temporary filesystem --> contents of saved filesystem dumped to real file location.

For autosave there are no last step:
app --> sa

[2020-05-14 05:38] rodolforg commented on #1052
Ops ;)

Well, so I'd split the class into both scope: core and studio, the latter derived from former.

I'd move into this class related methods like: `synfig::FileSystem::fix_slashes()`, `etl::relative_path()`, `etl::solve_relative_path()`, `etl::cleanup_path()`, `etl::basename()`…

I think they're misplaced anyway. It is strange they're at "etl/_string**f**_.h"

What do you think?

[2020-05-14 12:28] Keyikedalube commented on #1063
Further investigation made today on [StackOverflow](https://stackoverflow.com/questions/61795889/gtkwindow-icon-set-with-set-icon-name-doesnt-work-on-wayland/)

In conclusion, this issue is irrelevant for **developers building from source** because this relates to production deployment ie., shipping synfig to end user's computer with .desktop file and corresponding icon files on /usr/share/ direct

[2020-05-15 09:59] Svarov-RZM opened #1410 "[Future request] Allow user to limit number of cores the render can utilize"
**Description**
The rendering engine hogs all available CPU cores by default. I think it would be good to allow user to limit the amount of cores Synfig uses. For example, I usually listen to various playlists on YouTube while I'm working and in some cases those CPU spikes to 100% when Synfig renders current frame is noticeable.

It would be good to have such setting in "Preferences->Render" dialo

[2020-05-15 13:09] Keyikedalube commented on #1144
I'm working on this issue. You can assign it to me :)

[2020-05-15 16:18] Keyikedalube commented on #1144
I'm placing the togglable option in **Editing** section since it has more space for content
![Screenshot from 2020-05-15 21-38-18](https://user-images.githubusercontent.com/24214509/82072202-ef591200-96f4-11ea-8cf2-28fde689cd87.png)

Is setting a tooltip really a must? I can see almost all switches have tooltip set.
But I'm thinking the label is already self-explanatory itself

[2020-05-16 01:47] Keyikedalube opened #1412 "Possible taskbar missing window icon issue"
*Previous issue was closed by me because GNOME doesn't have a concept for taskbar like Windows, Cinnamon, KDE, etc Instead it has a dash and a top panel*
*However, I don't have a Windows system with me so referenced this new issue for further investigation.*

The same happens on Windows 10 when I add to the lower toolbar as favourite:
![added_to_toolbar](https://user-images.githubusercontent.com/6

[2020-05-16 03:55] Keyikedalube opened #1414 "Misaligned animation preview thumbnail under Wayland"
**Synfig version & platform:**
Building from source
Debian (under GNOME Wayland)

**Issue description:**
Animation thumbnail preview alignment under Wayland is not consistent with X11
[Screenshot with description](https://github.com/synfig/synfig/issues/1144#issuecomment-623866635)

Here is the thumbnail code, if trying to fix the incorrect positioning on wayland:
https://github.com/synfig/synfig/

[2020-05-16 04:09] Keyikedalube opened #1415 "Shouldn't Preferences > Restore Defaults give the user a chance to confirm?"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
![Screenshot from 2020-05-16 09-30-36](https://user-images.githubusercontent.com/24214509/82109947-23b1ea00-9758-11ea-9aa6-bac18f5f5a5a.png)

When I hit the Restore Defaults button, synfig restores everything back to factory settings AND saves it without the user either confirming the changes with OK button or C

[2020-05-16 07:51] FirasH commented on #1412
Still the same issue with 1.3.14

[2020-05-16 14:23] ice0 commented on #1052
Agree. I think they must be moved outside stringf.

[2020-05-16 14:30] ice0 commented on #1052
I think you can use SYNFIG_ROOT_DIR for this.

[2020-05-16 14:38] Keyikedalube commented on #1412
Hello @FirasH
Would you try this test project https://github.com/Keyikedalube/window-icon-test/tree/master and let me know the outcome

I used Gtk::Window `set_icon` method to synfig icon. It's a window icon so I'm guessing the icon will be displayed on MS Windows taskbar.
Try adding it as favorite on your taskbar and let me know if the icon is still displayed
If it does I might be able to solve t

[2020-05-16 14:39] ice0 commented on #1410
I agree. As a temporary solution, you can limit the number of rendering threads using the environment variable `SYNFIG_GENERIC_THREADS`.

Just run "SYNFIG_GENERIC_THREADS = 2 ./synfigstudio" on Linux or set it in the settings on Windows.

[2020-05-16 14:42] ice0 opened #1416 "Fix SYNFIG_DEBUG_VALUENODE_OPERATORS"
There is no reason to check the environment variable in every frame with every action. This leads to poor performance.

[2020-05-16 14:54] ice0 commented on #1063
I will take a look later.

[2020-05-16 14:56] ice0 commented on #1415
I agree. @morevnaproject @rodolforg  what do you think?

[2020-05-16 15:26] FirasH commented on #1412
I'll try it with mingw-w64.

[2020-05-16 15:53] rodolforg commented on #1415
I agree too

[2020-05-16 15:58] FirasH commented on #1412
I get an error when trying to build:

[code]

[2020-05-16 17:46] morevnaproject commented on #1415
I agree. ^__^

[2020-05-16 21:09] Oreoluwakiiti opened #1417 "Imported Drawing Not Visible!!"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

**Issue description**:
I followed a guide and drew a vector image in inkscape after which i proceeded to save the file with a .sif extension. Next I imported the drawing into synfig but the image of the drawing wasn't visible. However, the outline of the layers was seen in the bottom right corner

[2020-05-17 02:18] Keyikedalube commented on #1412
The reason could be the name starting with dot `.gresource.xml`
But the CMake script defaults to that name which works fine on Linux but Windows... may be problematic.

Let's do it manually
I just pushed a new branch **without_cmake** and updated the README file too
Here's how to fetch and build:
[code]

Let me know what happens next :)

[2020-05-17 11:16] saurabh-ramola opened #1419 "[Lottie Exporter] Add support for blur layers"
Make possible to export [Blur](https://wiki.synfig.org/Blur_Layer) layers from Synfig to Lottie Format.

[2020-05-17 11:19] saurabh-ramola opened #1420 "[Lottie Exporter] Add support for duplicate layer"
Make possible to export [Duplicate](https://wiki.synfig.org/Duplicate_Layer) layer from Synfig to Lottie format.

[2020-05-17 11:26] saurabh-ramola opened #1421 "[Lottie Exporter] Add support for shade layer"
Make possible to export [Shade](https://wiki.synfig.org/Shade_Layer) layer from Synfig to Lottie format.

[2020-05-17 11:40] AnishGG opened #1422 "Shortcut for switching between animation windows"
Can we have something like `Alt + 1`/`Alt + 2` to switch between animation windows. This is used in firefox to change the tabs. Google chrome uses `Ctrl + num` for the same.
I guess this will be useful for people who have multiple tabs of animation windows open.

[2020-05-17 15:44] saurabh-ramola commented on #1422
I feel this will be a great addition, I personally use it a lot in switching between tabs.

[2020-05-18 14:33] ice0 commented on #1417
Hi!
Which OS and Synfig version you are using?

Also can you try to run a command from console:
[code]

This command must run synfig renderer with output to the `test.png` file.

[2020-05-18 16:11] morevnaproject commented on #1417
Can you please attach .sif file here?

[2020-05-18 16:21] morevnaproject commented on #1416
Good catch! ^__^

[2020-05-18 21:39] Oreoluwakiiti commented on #1417
Thanks for replying. I'm running synfig on Windows10Pro. As for the version info, I'm not entirely sure; But the download file reads **SynfigStudio-1.2.2-18.09.14-win64-286f1**  [This](http://www.synfig.org/download-stable/) is the link from which i downloaded the application.

[2020-05-18 21:43] Oreoluwakiiti commented on #1417
Thanks for replying.
[Anim.zip](https://github.com/synfig/synfig/files/4646970/Anim.zip)
 Thats the file

[2020-05-19 00:19] boubouh opened #1428 "[Feature request] I think it's time to change the way the synfig shortcut system works"
I think sinfig should use the same shortcut as blender and take advantage of the popularity of blender to allow new users get into synfig much faster.
and I even find that a new open source 2D program called [ENVE](https://github.com/MaurycyLiebner/enve) uses the same shortcut as blender as demonstrated in this video:
https://www.youtube.com/watch?v=xT8AO11uMPY

[2020-05-19 06:25] morevnaproject commented on #1144
But I'm thinking the label is already self-explanatory itself

The tooltip can be:
"Do not display thumbnail preview when hovering cursor on timeline."

[2020-05-19 06:54] morevnaproject commented on #1428
I think Blender's shortcuts are not intuitive for new users - I mean those who had no previous experience with Blender.
 From my point of view, the good side of Synfig is that it always been more friendly for new users than Blender - Synfig is easy for beginner users.  Those users who are familiar with Blender could not be classified as "beginners" in my opinion. ^__^

In any case, I suggest to jo

[2020-05-19 06:54] #1428 closed

[2020-05-19 07:05] morevnaproject commented on #1336
As discussion seems to be faded, I suggest to prepare resolution (outcome) on a special page of Developer's documentation - https://synfig-docs-dev.readthedocs.io/en/latest/projects/shortcuts.html

This page will be a form of guidelines for developers who are willing to implement the changes in code.

I suggest to start by adding initial draft to this page, summarized from https://github.com/synfi

[2020-05-19 07:13] morevnaproject commented on #1336
Also, please note that you can tweak shortcuts on your own (without changing Synfig code) - just eedit `accelrc` configuration file in Synfig's configuration dir. Please see more details at the top of this page - https://wiki.synfig.org/Keyboard_Shortcuts

I believe this can help testing new shortcuts. ^__^

[2020-05-19 08:04] morevnaproject commented on #1401
I have remembered an issue with similar symptoms - #1014.
Relevant fix - https://github.com/synfig/synfig/commit/a90d014c56f0cbee21c2ab0ef68936b9e84c49b1

Maybe this can help to understand where to look for fix.

[2020-05-19 08:06] FirasH commented on #1412
@Keyikedalube nope the problem is still there.
If the app is opened the icon is shown, but when added as favourite to the taskbar the icon is missing.

[2020-05-19 09:38] morevnaproject commented on #1401
Guess what? Reverting a90d014 fixes the issue. But #1014 returns then. ^__^

[2020-05-19 09:50] yoSachinkr commented on #1336
I tried using the accelrc but with no effect. I've read that wiki long ago before posting this issue. So I thought there must be some underlying issues with the way Synfig handles hotkeys.

[2020-05-19 10:03] morevnaproject commented on #1336
@yoSachinkr Just make sure to remove ";" symbols

[2020-05-19 10:24] Keyikedalube commented on #1412
@FirasH Thanks for trying :)

[2020-05-19 10:27] yoSachinkr commented on #1336
Even after removing the ";" , changes made to the shortcut keys doesn't seem to have any effect.

[2020-05-19 11:25] FirasH commented on #1412
If you need to do other tests just ask :+1:

[2020-05-19 12:55] morevnaproject commented on #1401
Here, lines 193 and 194:
https://github.com/synfig/synfig/blob/b5e5294121bda033f2a9f86a80e7e2fdbdb3d9ef/synfig-core/src/synfig/valuenodes/valuenode_bline.cpp#L191-L196

The `count` variable decreased twice, while it should be decreased only once. This makes spline shorter by one segment. ^__^

[2020-05-19 14:55] morevnaproject opened #1431 "Incorrect position of Widthpoints on Homogenous Advanced Outline"
**Synfig version & platform**:
1.3.14, current master

**Issue description**:
When Advanced Outline has "Homogenous" parameter enabled, then positions of widthpoints are not correct. See sample file and illustrations below.

Sample file - [homogenous-bug.sifz.zip](https://github.com/synfig/synfig/files/4651232/homogenous-bug.sifz.zip)

Version 1.2.2:
![screenshot_002](https://user-images.githubuse

[2020-05-19 14:56] morevnaproject commented on #1401
...and while digging with this issue I found another one - https://github.com/synfig/synfig/issues/1431

[2020-05-19 18:47] FadhilKwan commented on #1401
whoaaaa~, so that's why the width handles did that thing. I think that's kinda crazy, I mean, it was all caused by a single line of code.... ._.v

But I'm glad that the source of the problem has been found (and it seems that it'll be fixed as well). I really have to thank you very much! ^O^

And yes, i did take a look at that other issue (#1431). That is also pretty weird, and it caught me off gua

[2020-05-19 23:24] raniaamina commented on #1340
it alos happen to me on Debian Sid KDE

[2020-05-19 23:39] raniaamina commented on #1340
i found this: #682

[2020-05-20 05:41] ice0 commented on #1417
![screen1](https://user-images.githubusercontent.com/5604544/82409111-364d5b80-9a97-11ea-91a7-732ea3835b64.png)

It looks like your object was imported with the wrong coordinates, and now it is outside the canvas.

@morevnaproject is that a known problem?

[2020-05-20 05:47] Keyikedalube commented on #1336
@yoSachinkr It'll be wise to add this link https://synfig-docs-dev.readthedocs.io/en/latest/projects/shortcuts.html in your description https://github.com/synfig/synfig/issues/1336#issue-598305591. That way it'll guide potential implementers to the right place. The conversation here is already lengthy.

BTW, are you working on making a PR for your suggestion https://github.com/synfig/synfig/issues

[2020-05-20 09:51] FirasH commented on #1412
I think the issue is that the executable doesn't have any icon defined:
![synfig_icon](https://user-images.githubusercontent.com/6705690/82431502-039f6500-9a8f-11ea-9dc7-a32b494ddca0.png)

Maybe the icon currently displayed is associated with a panel or something else?
In fact when there isn't any animation opened the title of the window becomes Dock Panel:
![synfig_no_animation_opened](https://us

[2020-05-20 11:16] morevnaproject commented on #1431
When same outline is looped, then all widthpoints are placed correctly.

I think it is similar to #1401 problem.

It worth to start digging in `duckmatic.cpp`...

[2020-05-20 16:26] Oreoluwakiiti commented on #1417
It appears so. Do you have any recommendation as to how to resolve the issue?

[2020-05-20 16:34] morevnaproject commented on #1336
@yoSachinkr
I have tested it on Linux by replacing shortcut for arrow tool from ALT+a to ALT+r:
![screenshot_009](https://user-images.githubusercontent.com/332868/82472370-43e3ff00-9af2-11ea-9a67-a43ea66b952b.png)

Possibly, you assigned a shortcut which was already assigned to other action?

[2020-05-20 16:36] #1401 closed

[2020-05-21 08:54] yoSachinkr commented on #1336
Well, I forgot that I was using a portable version of synfig, my bad.
Now since I'd tried this, I did find out that changes made to the shortcuts , after closing synfig, reverts back to the defaults. So I changed the write permission of **accelrc** and now it's working.

[2020-05-21 09:04] yoSachinkr commented on #1336
And I found out there are not many functions listed in that file like grouping and duplicating layers etc. Is there any work around?

[2020-05-21 10:42] morevnaproject commented on #1412
Exactly.

I think @Keyikedalube  provided correct solution above - to add icon to executable. Which executable did you tested - synfigstudio or the one generated by his code?

[2020-05-21 12:55] Keyikedalube commented on #1412
It's **window** icon to be specific. And it's only shown when window is opened.
So the reason the icon shows when minimizing it to taskbar is because the window is still opened

But when it's added as favorite, unfortunately, window is closed. So no icon.

@Firash said

He's right.

On Linux, there is no way to define an executable icon. Unless of course, we are shipping in appimage format (eg: Pa

[2020-05-21 13:52] Keyikedalube commented on #1412
@FirasH Can you do another test for me? :)
This time I exported to Windows executable format myself so you don't have to go through the manual set up yourself

On Godot engine export feature there is a property for setting application icon before exporting to Windows. I set it to synfig icon. Hope this really works

![Screenshot from 2020-05-21 18-33-32](https://user-images.githubusercontent.com/2

[2020-05-21 14:23] FirasH commented on #1412
@Keyikedalube Sure!

I downloaded the .zip file and extracted it:
![exported](https://user-images.githubusercontent.com/6705690/82568339-f19cef80-9b7e-11ea-97d6-2d453078c3ae.png)

When executed the icon shown in the taskbar looks like this:
![opened](https://user-images.githubusercontent.com/6705690/82568479-2ad55f80-9b7f-11ea-9db6-4c290145b42a.png)

When added as favourite:
![favourite](https://u

[2020-05-21 15:25] ice0 opened #1436 "Synfig can't be build using Clang on MacOS"
The problem is with the `brew` ImageMagick library, which is built using the omp library and which is not supported by Clang on MacOS.

Solutions:
1) Disable ImageMagick dependency for MacOS/Clang (also this will be like test for disabled dependencies);
2) Build ImageMagick by yourself. (Too long I think, but need to be tested)
3) Use GCC for build (but I want to test Clang also).

[2020-05-21 16:08] Keyikedalube commented on #1412
@FirasH I used the icon.png format for application.
But in real life, I think Windows developers use .ico
Thus, the fallback godot icon in taskbar.

Can you try exporting the icon.png to icon.ico and changing the Application > icon value to icon.ico from icon.png in Export dialog?

If not I could do it and send you the new zip file.

[2020-05-21 16:17] Keyikedalube commented on #1412
BTW, I'm also experimenting with various icon file sizes... And testing it out on wine now.

[2020-05-21 16:35] Keyikedalube commented on #1412
I exported it to ico from png using GIMP
Didn't help

Below is a screenshot I took from wine explorer. You can see all the icon sizes I tried out
![Screenshot from 2020-05-21 21-58-30](https://user-images.githubusercontent.com/24214509/82581752-ab5f8480-9bae-11ea-86aa-2b0d6338c0f8.png)

And just to be sure I'm sane enough, below is notepad icon displayed in the same explorer window
![Screenshot fr

[2020-05-21 16:49] Keyikedalube commented on #1412
@FirasH Thanks for trying my test
I've run out of abracadabras :P

However, learned a thing or two about Windows, and the experience of failing is worth it.

[2020-05-21 17:02] FirasH commented on #1412
@morevnaproject @Keyikedalube
Do we have another opensource software that has a similar building strategy for Windows to look how they do it?

[2020-05-21 18:01] Gilraiser commented on #1393
Hello, I would like to show you an error that has to do with the topic. Here I present a video and two example files of how bones made are corrupted when copied to another file.

Original file:
[example-01.sif.zip](https://github.com/synfig/synfig/files/4663967/example-01.sif.zip)

Copied file:
[example-02.sifz.zip](https://github.com/synfig/synfig/files/4663965/example-02.sifz.zip)

Video with th

[2020-05-22 01:32] Keyikedalube commented on #1412
I've never done any Windows software packaging before :( Exporting one of my game projects to Windows was the farthest I went to.

[2020-05-22 04:39] Keyikedalube commented on #1144
Disabling thumbnail preview will also benefit sway users.

Encountered this nasty issue today...
[recording.mp4.zip](https://github.com/synfig/synfig/files/4666077/recording.mp4.zip)

[2020-05-22 05:31] rodolforg commented on #1393
@Gilraiser  Sadly a long-time known issue https://github.com/synfig/synfig/issues/453
I'm trying to investigate it, but I'm confuse how skeletons work in Synfig ;)

[2020-05-22 05:48] rodolforg commented on #1412
I believe you are using the synfigstudio`.bat` to run Synfig, right?
Windows doesn't allow custom icon for batch files.

Two possible solutions:
- create an proper windows launcher with embedded app icon
- create a shortcut file (`.lnk`) to lauch the `.bat` that launch the synfig itself (lol)

[2020-05-22 16:46] Gilraiser commented on #1393
I wish I could help more. I know it must be very complex. Thank you.

[2020-05-22 18:56] pxndxlol opened #1437 "Synfing"
Hi

[2020-05-23 05:14] rodolforg commented on #1387
@Neimed Could you post your file?
Or describe how did you create your skeleton and its bones?

[2020-05-23 07:23] Neimed commented on #1387
I finally found the solution.
Here is the manipulation: in a project A I created a layer linked to a skeleton. Then I copied it to a project B then I deleted the skeleton from the layer in project B. The links to the frame stay and therefore is link to non-existent bones.

So I opened the corrupted sif file with a text editor and I looked for all the "bone_link" which had a nonexistent reference i

[2020-05-23 07:23] #1387 closed

[2020-05-23 12:21] AnishGG opened #1440 "[Lottie exporter] Common angle storing method for all layers"
This issue is specific to the implementation of Lottie exporter. Currently depending upon the layer type, angle is stored in 3 different kinds of formats, which makes it difficult to understand the code as well debug it.
So I purpose to store the angle only in a single format and leverage the convert methods to do so.

Here are the 3 formats: https://github.com/synfig/synfig/blob/e60a668e53cd718e9

[2020-05-23 12:23] AnishGG commented on #1437
Voila!

[2020-05-23 12:23] #1437 closed

[2020-05-23 13:28] FirasH opened #1441 "Using exported gradients crashes Synfig during playback"
**Synfig version**:
master e60a668

**Issue description**:
The issue was found working on this file:
[crash_minimum_file.sif.zip](https://github.com/synfig/synfig/files/4671811/crash_minimum_file.sif.zip)
the file has been reduced removing layers that are not related to the crash.

1. Download and open the provided animation
2. Reproduce the animation with `Play`

At some point the animation will

[2020-05-23 18:52] rodolforg commented on #1441
Backtrace of production build through GDB, as I still can't reproduce crash on debug build.

So, it's probably a race condition/mutex problem?
[code]

[2020-05-24 05:01] morevnaproject opened #1442 "Synfig 1.3.14 crashes frequently on Windows"
**Synfig version & platform**:
1.3.14

**Issue description**:

Originally reported here - https://forums.synfig.org/t/synfig-1-3-12-crashes-frequently/10647/27

Synfig crashes on attempt to edit spline.

Videos:

-  https://youtu.be/dTcu7AVWAHM
-  https://youtu.be/ePltkOkQQi8
-  https://youtu.be/hFjJyA0RVGU

File - [retesz_2M_2.sifz.zip](https://github.com/synfig/synfig/files/4672973/retesz_2M_2.s

[2020-05-24 05:06] morevnaproject commented on #1442
I was unable to reproduce that on Linux. Can someone help here? @ice0

[2020-05-24 05:08] morevnaproject commented on #1442
@FadhilKwan

[2020-05-24 10:06] morevnaproject opened #1443 ""Animation Speed" parameter of Noise Distort layer should be static by default"
This issue is analog of #780.

Solution is similar (see #1259).

[2020-05-24 10:12] AnishGG commented on #1440
Just making a note of what all things will be effected, so that the code does not break:
- https://github.com/synfig/synfig/blob/e60a668e53cd718e910ad4172774f2672e797172/synfig-studio/plugins/lottie-exporter/common/Param.py#L354-L358
- https://github.com/synfig/synfig/blob/e60a668e53cd718e910ad4172774f2672e797172/synfig-studio/plugins/lottie-exporter/common/Param.py#L528
- This can be removed: htt

[2020-05-24 10:46] FirasH commented on #1443
I can take a look at this one

[2020-05-24 10:46] morevnaproject commented on #1443
Awesome! Thank you!

[2020-05-24 11:28] morevnaproject commented on #1440
:+1:

[2020-05-24 11:29] #1443 closed

[2020-05-24 11:31] #1315 closed

[2020-05-24 11:33] #1265 closed

[2020-05-24 12:41] #1138 closed

[2020-05-24 13:10] FirasH commented on #1415
I think I got the fix, just built a test binary and it seems working fine...

[2020-05-24 13:36] morevnaproject commented on #1431
This part of code looks suspicious to me -

https://github.com/synfig/synfig/blob/7684be864f20b5cda39dd07833e74e78a874e6d3/synfig-studio/src/gui/duckmatic.cpp#L2713-L2730

I believe here is something related with `valuenode_blinecalcvertex.cpp`...

And again, a90d014 ...

[2020-05-24 15:06] Keyikedalube commented on #1415
@FirasH your fix works :)

But we have a lil bit weird UX.
## Here's my understanding of your algorithm:
[code]
The preferences dialog window is still open. Now the user might get confused with the purpose of **OK** and **Cancel** button.

## I prefer this method:
[code]
Here, we are utilizing the already present OK and Cancel button in the preferences dialog. And pressing one of them decides whet

[2020-05-24 15:38] FirasH commented on #1415
@Keyikedalube I get what you mean.
If we do it the way you intend it there is no need for any confirm dialog or similar solutions, just reject with `Cancel` or confirm with `Apply`.

[2020-05-24 16:54] FirasH commented on #1415
@rodolforg @ice0 @morevnaproject
Currently when `Restore Defaults` is pressed this code is called:
https://github.com/synfig/synfig/blob/7684be864f20b5cda39dd07833e74e78a874e6d3/synfig-studio/src/gui/app.cpp#L2271-L2310

If I understand correctly, calling it means that the values get overridden as if `Apply` was pressed.

To accomplish what @Keyikedalube proposes, a possible solution could be to c

[2020-05-24 18:10] FadhilKwan commented on #1442
@morevnaproject yes ._.?

I tried to play with this file for quite a while now, and still couldn't find out why it crashes at certain times (still feels random to me).

However, i found something else that might be somewhat related...
You don't need to click any vertex points at all to find out if the crash will occur or not.

You can just click any line (or maybe even any layer), then hover your

[2020-05-24 19:44] rodolforg commented on #1442
It doesn't seem to crash if ` --console` if passed as argument.

@FadhilKwan could you confirm it? Edit the `.bat` appending this option on the end of line of synfig executable call

[2020-05-24 23:48] FirasH commented on #1415
With the last commit it works as expected. Settings get applied only on OK pressed.

[2020-05-25 03:56] morevnaproject commented on #1415
I think we still need confirmation dialogue.

Consider the following situation:
User opens preferences, then does some tweaks according to his taste. After that he accidentally clicks Reset to Defaults button. So it would be nice to ask if he really wants to do that, otherwise he will loose his tweaks. ^__^

[2020-05-25 04:43] FadhilKwan commented on #1442
yeah, It kinda occurs..... much less now. (....?)

Most of the time it won't crash, but once you close the file and load it up again on the same Synfig window, scrolling the "Timeline" (or maybe clicking a point) then crashes it again almost all the time.

Speaking of the console, i can see more interesting things in it, especially how often the gtk errors pops in on certain conditions.
Like when

[2020-05-25 08:03] Keyikedalube commented on #1415
@morevnaproject interesting...

Alright, I'll go with FirasH algorithm

Also, experimented with GIMP preferences dialog just now. Pressing Reset button shows confirmation dialog. If the user presses Reset within the dialog, well... reset to default -> Back to preferences window. Now if the user presses Cancel in the pref dialog, all settings go back to the previous settings the user had before Res

[2020-05-25 08:09] morevnaproject commented on #1415
@Keyikedalube Possibly my previous comment wasn’t clear. I just wanted to say that I support method suggested by you. ^__^

[2020-05-25 08:11] morevnaproject commented on #1415
Yes, that one is even better! ^__^

[2020-05-25 08:22] Svarov-RZM commented on #1442
I did some debugging too and here's where I got:
The crash occurs after the program calls the function "g_closure_invoke" in libgtk with wrong callback address (might be right at the time of calling but later freed for example). I don't know anything about GTK, but I believe the purpose of this function might be to update GUI elements such as scrollable windows for example, because later that func

[2020-05-25 09:13] FirasH commented on #1415
Ok, that should be straightforward.
In practice there's a confirm dialog when `Restore Defaults` is pressed.

[2020-05-25 09:54] FirasH commented on #1415
The code part is complete.

@morevnaproject now there are some parts of the code which aren't used anywhere as of now:
https://github.com/synfig/synfig/blob/6d3f75ffc8a3450587c8105a738e1b6db79f7956/synfig-studio/src/gui/app.cpp#L2272

should that be removed?

[2020-05-25 11:04] Keyikedalube commented on #1415
@FirasH Tested synfig from your branch. It's complete :)

@morevnaproject No, I wasn't thinking in a biased way :) I'm a human being too. So my method (or any future methods) that I suggest is mostly wrong. Facts and explanations help developers a lot :)

Hope I'm not being too nosy without contributing any code at all but thanks again for reading my comments and (of course) processing them too ;P

[2020-05-25 14:28] Keyikedalube commented on #1415
Didn't notice this was mentioned here.

Deleted my comment on your PR. But I think it's safe to remove.

[2020-05-25 15:11] FirasH commented on #1415
At this point the merge request is tested and ready.
Let me know if it's ok or needs some other improvements.

[2020-05-25 15:58] rodolforg commented on #1442
What do you mean here? I can't drag anything via the three gray handles (vertex + tangents), and nothing happens (on Linux). I don't know what "drag it by the spline" means. :(

[2020-05-25 16:55] FadhilKwan commented on #1442
i think he meant that you should try to drag the line itself to edit its shape, since you can't drag the greyed points.

[2020-05-25 17:48] Agnyy opened #1449 "Support for projects from OpenToonz"
It will be very cool if in the program you can open projects from OpenToonz. This will open up various interesting projects and use them. Now OT has already implemented many sketches and entire cartoons. For example, I made a whole pack https://agnyy.itch.io/big-pack-for-opentoonz

[2020-05-25 17:50] morevnaproject commented on #1449
Since Synfig got new framework for import/export plugins this possibly can be implemented in Python?

@mbasaglia

[2020-05-25 18:05] mbasaglia commented on #1449
ye, I actually looked into importing opentoonz files in my framework, which would make it available to the plugin I already have.

But I haven't been able to study how opentoonz works so I haven't implemented it.

[2020-05-25 19:09] rodolforg commented on #1442
Wow! I didn't even know it was possible :)

[2020-05-25 21:14] rodolforg commented on #1442
Error is thrown here:
https://github.com/synfig/synfig/blob/6d3f75ffc8a3450587c8105a738e1b6db79f7956/synfig-studio/src/synfigapp/actions/valuedescset.cpp#L1171

And catch here:
https://github.com/synfig/synfig/blob/6d3f75ffc8a3450587c8105a738e1b6db79f7956/synfig-studio/src/synfigapp/action_system.cpp#L131-L141

But the real problem is this thrown:
https://github.com/synfig/synfig/blob/6d3f75ffc8a3

[2020-05-25 21:15] rodolforg commented on #1442
surround it with try/catch statements solves the crash. But the handles' and spline dashed line keep as if the change was successfull.

[2020-05-26 05:47] Svarov-RZM commented on #1442
@rodolforg
Wait, so the crash isn't related to original case? I am not a C++ coder so I am not familiar with Synfig code.

I will try to find a reproducible way to trigger the crash that occurs when switching between splines and report if I am successful. Other than that I don't have any ideas.

[2020-05-26 16:19] morevnaproject commented on #1431
An idea: try to revert fixes made in a90d014 for `valuenode_blinecalcvertex.cpp` and look how it will work.

[2020-05-26 16:37] morevnaproject commented on #1449
@mbasaglia I will be happy to provide assistance on how to map OpenToonz data structures to Synfig structures. ^__^

[2020-05-26 16:43] morevnaproject commented on #1393
I suggest to split this issue into multiple easy steps.

1. When "paste" command is invoked - check if pasted data references any exported elements. If yes - then display warning message in console.
2. Replace warning in console with a dialog box, which shows a message: "The pasted data contains layers, which still reference exported values from original files. That means your current file will de

[2020-05-26 17:17] morevnaproject commented on #1412
I suggest to look at Gimp and Inkscape. Do they have icons on their exe files? (when you look at  them from explorer)

[2020-05-27 06:05] rodolforg commented on #1442
I don't know if it is related. Maybe not. But I could track it down thanks to you

[2020-05-27 07:47] FirasH commented on #1412
Yes, both have it.

[2020-05-27 09:24] Keyikedalube commented on #1376
Thanks, @FirasH for the pointer :)

Here's my two possible solutions:
1. Use `property_wrap()` for label
![Screenshot from 2020-05-27 13-53-19](https://user-images.githubusercontent.com/24214509/83001407-521da800-a029-11ea-8dee-71517949536c.png)

2. Use `Gtk::Grid` instead of `Gtk::ScrolledWindow`
![Screenshot from 2020-05-27 13-59-54](https://user-images.githubusercontent.com/24214509/83001422-55

[2020-05-27 10:19] FirasH commented on #1412
I'm using the **portable** version of Synfig on Windows and that one is missing the icon.
The **installed** one (just tested now) has the icon.

So this issue is only related to the portable.

[2020-05-27 10:30] FirasH commented on #1376
@Keyikedalube I prefer option 2 as well.

If it's resizing itself depending on its content it should be good also for longer warnings.
Do you have an example of how it looks with a long warning message?

[2020-05-27 10:57] Keyikedalube commented on #1376
@FirasH I don't have any synfig file that will trigger longer warnings.

Maybe send me a sample sif file here...?

[2020-05-27 11:41] Keyikedalube commented on #1376
Never mind @FirasH

I just did a quick hack with the same warning message:
# Screenshot 1
![Screenshot from 2020-05-27 17-02-00](https://user-images.githubusercontent.com/24214509/83014547-8e0e3880-a03c-11ea-83d2-b8261100fcf6.png)
# Screenshot 2
![Screenshot from 2020-05-27 17-05-13](https://user-images.githubusercontent.com/24214509/83014559-95354680-a03c-11ea-9921-d44fd638dd96.png)

Both screens

[2020-05-27 14:15] FirasH commented on #1376
Nice work 👍

Is it possible to add some margins on the left/right of the `Gtk::Grid`?

[2020-05-27 14:22] Keyikedalube commented on #1376
IDK

All I can think of right now is using space(s)

[2020-05-27 14:31] Keyikedalube commented on #1376
Got the solution:
[code]
![Screenshot from 2020-05-27 19-59-03](https://user-images.githubusercontent.com/24214509/83033441-bc980d80-a054-11ea-9634-473197a2cca6.png)

[2020-05-27 14:54] rodolforg commented on #1376
All Gtk widgets have margins. Gtk::Widget::set_margin_(top|bottom|left/start|right/end)

[2020-05-27 14:56] rodolforg commented on #1376
And Containers  have also border like you used :D. Sorry ;)

[2020-05-27 15:18] Keyikedalube commented on #1376
Thanks @rodolforg
I see `start` and `end` are needed only

set_border_width() sets to all sides of a widget. In this case, I'm unnecessarily adding extra margins on top and bottom.

[2020-05-27 15:32] Keyikedalube commented on #1376
![Untitled](https://user-images.githubusercontent.com/24214509/83040683-27e5dd80-a05d-11ea-8a3a-3113b05443e6.png)
1. set_border_width()
2. set_margin_start/end()

[2020-05-27 15:42] FirasH commented on #1376
2nd is better in my opinion 👍

[2020-05-27 15:43] mbasaglia commented on #1449
Sure, from what I've seen the file layout is a bit odd for opentoonz looks like it creates a bunch of files scattered around

[2020-05-27 16:33] ice0 commented on #1441
@rodolforg can you attach full log? Need backtrace from other threads too.

[2020-05-27 16:38] rodolforg commented on #1441
As far as I remember that was the only backtrace I got. Any tips?

[2020-05-27 17:05] ice0 commented on #1441
use `thread apply all bt`
https://www.fayewilliams.com/2015/05/05/view-a-backtrace-for-all-threads-with-gdb/

[2020-05-27 17:22] rodolforg commented on #1441
Thread 6 "synfigstudio" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffdbac4700 (LWP 1645117)]
0x00007ffff530c2be in std::_Rb_tree_rebalance_for_erase(std::_Rb_tree_node_base*, std::_Rb_tree_node_base&) () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
(gdb) thread apply all bt

Thread 23 (Thread 0x7fffce6e8700 (LWP 1645152)):
#0  syscall () at ../sysdeps/unix/sysv/linux/x8

[2020-05-29 09:29] FirasH opened #1451 "Add Show Guides and Snap to Guides buttons in Synfig Studio Toolbar"
**Synfig version**:
master 4c519a9

**Issue description**:
If using `Guides`, sometimes it's useful to toggle `Guides` visibility and snapping quickly like for the `Grid`.

My suggestion is to add two buttons to the Toolbar:
1. button for showing the guides
2. button for enabling snapping to guides

i.e. exactly the same behavior currently used for grids.

What do you think?

[2020-05-29 14:22] FirasH opened #1452 "Add ability to select available Sets when adding Layers to Sets"
**Synfig version**:
master 4c519a9

**Issue description**:
1. Open any animation or create a new one
2. In the `Layers Panel` right-click on a Layer and select `Add Layers to Set`

A dialog will pop up asking for the name of the `Set`:
![add_set](https://user-images.githubusercontent.com/6705690/83269871-fccbcd00-a1c7-11ea-9214-e3c681d88f64.png)

At this point if the user wants to add a Layer to a

[2020-05-29 14:34] rodolforg commented on #1452
A dropdown list with an text entry field or just add a list in this dialog shown in OP would be enough to close this issue. ;)

[2020-05-29 14:43] FirasH commented on #1452
@rodolforg you think it would be more seamless to use:
1. a text field that includes a drop-down menu (all in one)
2. a separate drop-down menu for available sets

or something else? You know gtkmm much better than me :+1:

[2020-05-29 15:37] rodolforg commented on #1452
Your first option was what I tried to describe first, but you did it better than me ;)

I prefer to not use dropdown menu. It's worse to search items.

[2020-05-29 16:08] FirasH commented on #1452
Seems a great solution to me :blush:

[2020-05-29 16:41] rodolforg commented on #1451
I agree with the feature request.
But I see the toolbar so cluttered… In some monitors, the onion skin options isn't even shown.
Maybe a PopOver menu in current snapping options?

[2020-05-29 17:19] Oreoluwakiiti commented on #1417
?!?!?!?!?!?!?!?

[2020-05-29 17:37] morevnaproject commented on #1417
This is because document created in Inkscape is bigger than Synfig document.

This is easy to fix - just group everything and scale down.
Here is a video to show how - https://www.youtube.com/watch?v=HMeTyQ2xPhc

[2020-05-29 18:42] Oreoluwakiiti commented on #1417
Thank you

[2020-05-29 18:54] #1417 closed

[2020-05-29 21:50] rodolforg opened #1453 "Error while copying all layer"
**Synfig version & platform**:
master 6d3f75f

**Issue description**:
After selecting all layers with ctrl+shift+a and pressing ctrl+c to copy, Synfig crashed.

backtrace:
[code]

[2020-05-29 21:54] rodolforg commented on #1453
Selecting all via menu and copying via keyboard or menu works fine.
Selecting all via keyboard and copying crashes.

[2020-05-29 21:56] rodolforg opened #1454 "new timetrack doesn't autoupdate when user moves a keyframe in Timetrack panel"
**Synfig version & platform**:
master 6d3f75f

**Issue description**:
The new timetrack doesn't autoupdate when user moves a keyframe in Timetrack panel.
If user clicks on timetrack area, it refreshes correctly though;

[2020-05-30 08:37] FirasH commented on #1451
I'm thinking about a possible solution...

As for now I think that snapping options should not be put in a popover menu but rather move some buttons we have currently in the toolbar to another position.
I personally find using popover toolbar button (like in the latest GIMP release for the tools) not intuitive and kind of going against the purpose of a having a quicker way of enabling or setting o

[2020-05-30 10:05] FirasH opened #1455 "Target output rendering suffers glitches if Synfig Studio has to render its buffer"
**Synfig version**:
master 4c519a9

**Issue description**:
1. Open an animation and render it to a target output (tested on .mp4 and .png sequence)
2. While rendering, change `Current time` by clicking on different positions on the `Timebar`
More changes result in more glitches (one per change?)

The issue is quite relevant, as the user is getting a corrupted target output and, at least in my case

[2020-05-30 16:59] morevnaproject commented on #1454
Hmm... I can't reproduce this on 6d3f75f, with simple animated circle.

[2020-05-31 09:00] AnishGG opened #1457 "[Lottie exporter] Write a plugin to hide all non-supported layers by Lottie plugin"
Currently, the only way to know how your animation will look after applying the Lottie plugin(because the Lottie plugin is still in development phase), is to run the plugin and try out the `.json` file in a browser/or using the Lottie library.
I would like to purpose a new plugin which will hide all the non-supported layers by Lottie plugin, so that one can know how the animation is going to look

[2020-05-31 12:07] AnishGG commented on #934
Marking this issue as closed. Linear and Radial gradient layer are now supported. ^__^

[2020-05-31 12:07] #934 closed

[2020-05-31 15:27] Agnyy opened #1458 "Minimalistic theme"
I propose to make a minimalistic theme. Like Adobe.
I can design it and draw icons, but I need someone to collect the theme from this. I started with a toolbar.  Background color #323232
![image](https://user-images.githubusercontent.com/25137502/83355909-0b9eb500-a36b-11ea-9417-a9791b5995c6.png)
![image](https://user-images.githubusercontent.com/25137502/83355977-9089ce80-a36b-11ea-99d4-c48326c29

[2020-05-31 17:20] Agnyy commented on #1458
![image](https://user-images.githubusercontent.com/25137502/83358426-1dd51f00-a37c-11ea-9433-703da39217a2.png)

[2020-05-31 17:22] Agnyy commented on #1458
Here are all the tools in this file and they are signed. SVG format
[Synfig.zip](https://github.com/synfig/synfig/files/4708081/Synfig.zip)

[2020-05-31 18:00] rodolforg commented on #1458
Nice :D (But I like colored icons too, but they look like outdated as they are now.)

Could you test them with light-background/mode too? (like @libreartist did here https://github.com/synfig/synfig/issues/1041#issuecomment-579783016, but he never showed up anymore)

@Agnyy could you please provide icons for the "actions" (states in Layer panel) too?

-     layer visibility (visible / hidden)
-

[2020-05-31 18:02] FirasH commented on #1455
The link was not accessible, now it's fixed.

I've also reproduced this issue on another machine.

[2020-05-31 18:03] FirasH commented on #1458
Very interesting proposal... I like it!

[2020-05-31 18:49] FirasH commented on #1360
If overwriting an existing animation .sif project a confirmation dialog will popup.
It could be a great place to start with and to get an idea of how it works.

Source code:
https://github.com/synfig/synfig/blob/c51cef4a4381edc249884c2ff4fd2efdb94b69c4/synfig-studio/src/gui/instance.cpp#L527-L562

[2020-05-31 19:02] Agnyy commented on #1458
@rodolforg Especially for you. Icons on a white background.
![image](https://user-images.githubusercontent.com/25137502/83360431-f1280400-a389-11ea-9c00-39b489dc88e2.png)

[White version.zip](https://github.com/synfig/synfig/files/4708222/White.version.zip)

[2020-05-31 19:22] Agnyy commented on #1458
There is another idea. Paint the tools in different colors thereby slaving them by type.
![image](https://user-images.githubusercontent.com/25137502/83360832-db680e00-a38c-11ea-854f-e9f7eeb443ae.png)

This has been done in some programs before. This helped to focus on colors.

![image](https://user-images.githubusercontent.com/25137502/83360855-26822100-a38d-11ea-83fd-6027be231448.png)

[2020-05-31 19:32] rodolforg commented on #1458
You're on fire :)

[2020-05-31 20:22] Agnyy opened #1459 "Add Curve Point Editor."
Now the program lacks tools for accurate and quick work with the vector. Therefore, I propose to add standardization tools.

![image](https://user-images.githubusercontent.com/25137502/83361747-2d606200-a394-11ea-91c6-a6e8ef0db453.png)

Now it’s very inconvenient to edit the figure. Especially add points and adjust bezier curves.
![image](https://user-images.githubusercontent.com/25137502/83361562

[2020-05-31 21:46] FirasH commented on #1360
Looked a bit at the code and the solution should be very close to the one already reported in the previous comment... Working on it to test if it works correctly.

[2020-05-31 22:34] FirasH opened #1460 "Image Sequence Separator String setting requires restart to be used on target output"
**Synfig version**:
master c51cef4

**Issue description**:
1. Create a new animation
2. Go to: Edit > Preferences... > Render and change `Image Sequence Separator String` to any arbitrary string
3. Go to: File > Render... and export a sequence of image (e.g. use .png to get a sequence using the string set in step 2)

The sequence will use the previously set `Image Sequence Separator String`.
Resta

[2020-05-31 22:36] FirasH commented on #1360
Things get a bit tricky in case of sequences.
It's needed to take into account the sequence separator string and the time numbering.

[2020-06-01 04:52] Keyikedalube commented on #721
That means settings section will have to become global ie., implemented in the Preferences dialog
![20200601_10h07m51s_grim](https://user-images.githubusercontent.com/24214509/83376843-5105c580-a3f1-11ea-9ce5-196f74c7acc0.png)

I'm suspecting these two will be needed in your proposed "Save file" solution:
- FPS
- Target

[2020-06-01 13:26] Agnyy commented on #1458
Can anyone help me make this theme for the program? I will draw icons. But who will add this as a theme to the program.
![image](https://user-images.githubusercontent.com/25137502/83413416-79f37e00-a424-11ea-8008-a78b419e229e.png)

[2020-06-01 13:33] rodolforg commented on #1458
What OS do you use?

[2020-06-01 13:36] Agnyy commented on #1458
Windows 10

[2020-06-01 15:23] rodolforg commented on #1458
Icons are located in `installation(or extraction) folder\share\pixmaps\`

[2020-06-01 15:25] Agnyy commented on #1458
How to change the icons on my computer, I understand. I want to create a new theme that everyone could use.

[2020-06-01 15:47] morevnaproject commented on #1458
@Agnyy For now I suggest to make a pack of icons and after that someone of developers can integrate it into app.

[2020-06-01 15:48] morevnaproject commented on #1458
I suggest to use "Minimalistic" instead of "Minimalistic Dark".
This way we will have two options - one enables dark theme and other enables minimalistic icons (for dark or light theme).

[2020-06-01 16:07] ice0 commented on #1452
I vote for:

[2020-06-01 16:16] morevnaproject commented on #1376
Hi guys! Can anyone check the case if there are 30+ warnings? (we might have situation like that when opening old files with many missing images)

Like this one - [missing-images.sifz.zip](https://github.com/synfig/synfig/files/4712273/missing-images.sifz.zip)

[2020-06-01 16:18] morevnaproject commented on #1452
Agree. ^__^

[2020-06-01 16:25] morevnaproject commented on #1449
Hi! Apologies for delay, I will do my best to prepare required information in the coming days. ^__^

[2020-06-01 16:28] ice0 commented on #1457
Sounds interesting, but I think we also need a way to get everything back.

[2020-06-01 18:23] FirasH commented on #1376
The warning dialog is higher than my screen:
![missing_images](https://user-images.githubusercontent.com/6705690/83440666-9a800000-a445-11ea-81a3-c553aae3e581.png)

[2020-06-01 18:28] FirasH commented on #1360
I've made some tests and ended up with something that appears to work consistently.

I'll report here a merge request as soon as the solution is tested and cleaned (if it's ever going to work :wink:)

[2020-06-01 22:27] rodolforg commented on #1454
It happens without any layer at least.

[2020-06-01 22:57] rodolforg commented on #1366
You can stop rendering via `RenderSettings::async_renderer` property. This object has a `stop()` method.
The "Stop Render" button may be next of rendering status progressbar Info panel.

[2020-06-01 23:03] rodolforg commented on #1455
I don't know why changing the current time corrupts the rendering output, but I can see why layer changing does:
https://github.com/synfig/synfig/blob/894386769881efe2702ff18b71054e6b1e9224fa/synfig-studio/src/gui/render.cpp#L407
It just get the _current_ canvas _handle_.
It should clone or serialize/deserialize the current canvas.

[2020-06-01 23:35] rodolforg commented on #1366
By the way, starting to render while rendering hangs Synfig…

[2020-06-02 02:54] #710 closed

[2020-06-02 02:55] #712 closed

[2020-06-02 03:57] Keyikedalube commented on #1376
Same output confirmed

Just like the same issue with old canvas warning message #1391
Can multiple missing images implement a similar solution like that?

[2020-06-02 07:44] AnishGG commented on #1457
Oh right!
Just a random thought: May be we can open a new document with exactly the same layers and animations, but the ones that are not supported will be hidden in that.
Can we discuss on this :P

[2020-06-02 14:02] ice0 commented on #1376
I think we need string numbers to understand which parts of the file needs attention.
Maybe push the text widget into a scrollable container?

[2020-06-02 14:22] morevnaproject commented on #1376
I agree.

Good idea.
But we had scrolled window before #1450 and it was looking not good with a small amount of warnings (see initial post in this thread).

Maybe it is possible to add scrolled window conditionally?

[2020-06-02 14:23] morevnaproject commented on #1376
@FirasH I wonder how you managed to create such screenshot :rofl:

[2020-06-03 01:42] rodolforg commented on #1458
@Agnyy do you will design more icons or 'just' these ones for tools?

[2020-06-03 02:07] rodolforg commented on #1431
Ok. Maybe I finally got something here.

The functions for convert standard points to homogeneous were changed.
Their output is listed below.
The columns:

1. `pos` : the (width) point position (0 .. 1 meaning from 0% to 100% of line length)

1. version 1.2: standard to homogeneous (consider `pos` as standard and convert it)
1. version 1.2:  homogeneous to standard (consider `pos` as homogeneous a

[2020-06-03 02:28] rodolforg commented on #1431
I only tested in not-looped splines. And my brain is melting now... I can't think anymore lol

[2020-06-03 03:27] Keyikedalube commented on #1376
And set the scrolled window size from (400, 300) to (400, 200)
To reduce those blank empty spaces

Apart from the repeating message
`Layer 'import' rejected value for parameter 'filename'`
Doesn't clearly specify what file actually is causing the error (missing)
ie., it'd be nice if the layer name **file0000.png** is also indicated

[2020-06-03 04:42] Agnyy commented on #1458
Yes, I will continue to develop. As soon as I have time, I will immediately continue to do so. I really hope that during this week I will do everything.

[2020-06-03 04:53] rodolforg commented on #1431
The old version has a problem for looped case, due to changes of vertex indices in looped splines.

[2020-06-03 08:16] chandratushu21 opened #1463 "Services bar empty in Mac version"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

**Issue description**:

<img width="373" alt="Screenshot 2020-06-03 at 1 36 42 PM" src="https://user-images.githubusercontent.com/64960756/83612667-55241580-a5a0-11ea-877b-d872586b309a.png">

[2020-06-03 14:41] morevnaproject commented on #1431
Thank you so much! This really helps a lot!

[2020-06-03 14:46] morevnaproject commented on #1431
Where can I set that precision?

[2020-06-03 14:53] morevnaproject commented on #1376
Yes, this is absolutely needed!

[2020-06-03 15:08] morevnaproject commented on #1457
That's good, but I afraid this is not possible with current plugin system.

What if plugin will add some text string to all hidden layer? And another plugin will make all layers with that string visible (and remove text string).

[2020-06-03 15:25] rodolforg commented on #1431
[code]

and the `std_to_hom` version

[2020-06-03 15:26] AnishGG commented on #1457
Oh yes! This seems a good solution.

So should I get started with this?

[2020-06-03 15:53] rodolforg commented on #1431
but bline_length() is wrong too I think

[2020-06-03 17:19] chandratushu21 commented on #777
I would like to work on this ussue.

[2020-06-03 17:30] chandratushu21 opened #1464 "App crashes unexpectedly"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

**Issue description**:
1. Click on **File** from meny bar> **Render** > **choose..** > In the popup finder type in any alphabet to look for your file, The seach bar takes the input but the app crashes unexpectedly with following window.

<img width="632" alt="Screenshot 2020-06-03 at 10 55 44 PM"

[2020-06-04 12:04] #1431 closed

[2020-06-04 12:17] morevnaproject opened #1467 ""Link to Spline" places vertex into wrong position when Spline is looped"
**Synfig version & platform**:
Synfig 1.3.14, Master branch commit 068c884e8a10638cd625fbd3b4

**Issue description**:
When doing "Link to Spline" on looped spline the vertex appears in wrong place.

Expected result - vertex should appear in place where we did right-click.

Current result - vertex appears in wrong place.

Video of the problem - https://www.youtube.com/watch?v=g3Ug0hkYnO0

[2020-06-04 12:21] morevnaproject commented on #1467
I think the code should be changed here:
https://github.com/synfig/synfig/blob/334b5b9b6d888ad68bf6b1f3202f581cb3a3e14d/synfig-studio/src/synfigapp/actions/valuedescblinelink.cpp#L176-L183

Also, I have examined the offset in different situations and think that this is related with changed order of vertices in looped splines as here - #1284.

[2020-06-04 20:47] rodolforg commented on #1412
I don't know if windows version has an icon embedded.
In old days I know people used (gcc/mingw) winres to do it.

[2020-06-04 22:17] BobSynfig commented on #1464
Tried to reproduce it under Ubuntu 18.04 x64 / Synfig 1.3.14 x64
No crash

Please check your permissions on disk access for the application (as you are under MacOS)
and please indicate which version of Synfig and MacOs you use

[2020-06-05 03:30] morevnaproject commented on #1412
Wait, is this all issue is about **portable** version??? O_o

[2020-06-05 03:46] rodolforg commented on #1451
Yeah, they're not right. But I think that click on Snap button automatically pops over the option list: no matter where you click on Snap button.

[2020-06-05 07:17] FirasH commented on #1412
In my case yes, I always prefer portables rather than installing (even for other software like Inkscape).

[2020-06-05 08:10] FirasH commented on #1451
I have an idea of something more similar to Inkscape (like the mockup) but we can give it a try if you want 👍.

I don't know what @morevnaproject and @ice0 think about this, maybe they have something better in mind.

[2020-06-05 08:11] Agnyy commented on #1458
Layers Panel

![image](https://user-images.githubusercontent.com/25137502/83853030-59297200-a71d-11ea-8ad2-27528f987e26.png)

[2020-06-05 08:30] Agnyy commented on #1458
[Layers.zip](https://github.com/synfig/synfig/files/4734846/Layers.zip)

[2020-06-05 08:33] Agnyy commented on #1458
When creating the icons of the layer panel, I used the most understandable icons. With such icons, everyone will easily understand what they are doing. Therefore, I replaced some of the icons. I check and verify all the icons with other programs to draw the most standardized icons.

[2020-06-05 08:37] Agnyy commented on #1458
It’s difficult to choose an icon for the “Select All Chikd Layers” so I drew a few pieces so that you would choose the best option.
![image](https://user-images.githubusercontent.com/25137502/83855312-92171600-a720-11ea-8967-4e6da57c3e88.png)

[Select All Chikd Layers.zip](https://github.com/synfig/synfig/files/4734880/Select.All.Chikd.Layers.zip)

[2020-06-05 08:46] FirasH commented on #1458
Till now my favourite is the second one mainly for two reasons:
- First because it's the most minimalistic and on small icons too many details get things messy.
- Secondly because you're changing the shape of the folder and at a quick glance it's easy to notice that is something different w.r.t. "group layers".

[2020-06-05 10:34] Agnyy commented on #1458
Other Icon
-Delete Layer
-Cut
-Copy
-Paste

![image](https://user-images.githubusercontent.com/25137502/83866805-0b1e6980-a731-11ea-9deb-1b5eaf1dd350.png)
![image](https://user-images.githubusercontent.com/25137502/83866823-14a7d180-a731-11ea-97f1-a7e6094db590.png)

[Other Icon.zip](https://github.com/synfig/synfig/files/4735469/Other.Icon.zip)

[2020-06-05 10:37] ice0 commented on #1249
For Debug build:
[code]

[2020-06-05 10:48] AYESDIE commented on #1249
I had a couple of question.

Where is the bash script for *release* build located?
Do we need to work on all the build types `Debug`, `Release`, `RelWithDebInfo` and `MinSizeRel`, or just the two `Debug` and `Release`.

[2020-06-05 11:12] Agnyy commented on #1458
Layers Icon
![image](https://user-images.githubusercontent.com/25137502/83869739-b0d3d780-a735-11ea-8966-29879c23b8ef.png)

[Layers Icon.zip](https://github.com/synfig/synfig/files/4735687/Layers.Icon.zip)

[2020-06-05 11:25] FirasH commented on #1458
Nice work, really like your Layer icons, they’re very clear and intuitive.

I’m not sure though about the copy-paste couple as can be easily confused one with the other.

Maybe using up and down arrow instead of right and left or something different?

[2020-06-05 12:13] Agnyy commented on #1458
![image](https://user-images.githubusercontent.com/25137502/83874852-cf8a9c00-a73e-11ea-9103-db0c3f1f4239.png)
[3 Icon.zip](https://github.com/synfig/synfig/files/4736017/3.Icon.zip)

[2020-06-05 12:20] Agnyy commented on #1458
New Version icon "Copy"

![image](https://user-images.githubusercontent.com/25137502/83875558-fbf2e800-a73f-11ea-93bc-b98850d515c8.png)

[Copy.zip](https://github.com/synfig/synfig/files/4736048/Copy.zip)

[2020-06-05 12:38] Agnyy commented on #1458
This might look something like this. There are various examples.

![image](https://user-images.githubusercontent.com/25137502/83876949-5bea8e00-a742-11ea-9a47-9254f9284899.png)

[2020-06-05 12:44] Agnyy commented on #1458
About this icon (layer rendering (disabled)). Why does she look that way. I decided to use the icon as in the After Effect. Many are used to her and understand what she means.

![image](https://user-images.githubusercontent.com/25137502/83877239-dd422080-a742-11ea-9ac0-ee84afbe4e5c.png)

In After Affects
![image](https://user-images.githubusercontent.com/25137502/83877556-65282a80-a743-11ea-93a0-a

[2020-06-05 14:48] Agnyy opened #1470 "Alternative settings management"
It will be good if you can enter the settings by holding the mouse button. Movement to the left and the value decreases, and to the right, it increases.

There is such a system in after Effect.
![ezgif-1-5f8b8a991489](https://user-images.githubusercontent.com/25137502/83890660-ba206c80-a754-11ea-8637-1feee3af418a.gif)

[2020-06-05 15:12] #1467 closed

[2020-06-05 15:14] ice0 commented on #1464
Hi! Which OS version and Synfig version you are using?

[2020-06-05 15:43] BobSynfig commented on #1464
Note: expanding Comments / "Show Details" should bring some help in debugging process :P

[2020-06-05 15:51] BobSynfig commented on #1470
It would be nice indeed but such realtime modification would have a violent impact on resources.
Fine for a simple shape maybe, but let's imagine doing it with a complex hierachy...
See how many crashes have been reported because of prerendering of previous/next frames, IMHO not sure it worth to implement this.

[2020-06-05 16:24] ice0 commented on #1249
Here is the script: https://github.com/synfig/synfig/blob/master/2-build-production.sh

Also you may need to check autotools script, it have logic for chooses different splash screens. Maybe need to set some flag for that.

Currently we need a possibility to change flags for Debug and Release only,

[2020-06-06 04:27] AYESDIE commented on #1249
I found the autotools logic for all those, but are there other things that need to be looked at other than splash screen, about section and compiler flags?

[2020-06-06 07:03] morevnaproject commented on #1457
That would be awesome! ^__^

Also, i think it is possible that same (single) plugin can do both operations - hide and unhide.

When plugin executed first time it hides layers, adds text string to their names AND writes a string to metadata. You can set custom meta values for opened file here -

![screenshot_001](https://user-images.githubusercontent.com/332868/83938438-610d1300-a7fe-11ea-801c-c9c7

[2020-06-06 08:04] AnishGG commented on #1457
Oh! That's cool.

Yup, I 'll keep this in mind.

[2020-06-06 08:23] FirasH commented on #1463
Confirmed on macOS 10.15.4 with Synfig 1.3.14.
I'm not a macOS user though, don't know what should be found in there.

[2020-06-06 08:29] FirasH opened #1472 "Synfig Studio crashes exporting to dv format target"
**Synfig version & platform**:
1.3.14 on macOS
master on openSUSE

**Issue description**:
1. Create a new animation
2. Go to: `File > Render` and select `dv` as `Target`
3. Click on `Render`

Synfig Studio crashes after step 3.

[2020-06-06 08:44] ice0 commented on #1249
I think that will be enough. In any case, we can add other options later.

[2020-06-06 08:52] FirasH commented on #1464
Could not reproduce with 1.3.14 on macOS 10.5.5.
@chandratushu21 do you have some other info about the issue or maybe a screencast?

[2020-06-06 13:02] morevnaproject commented on #1442
Hi! Much thanks to everyone for useful input and testing!

After reading your comments I have remembered a few commits that look suspicious -
f5345339485932de4bf34630e53f8ed61b0339bd
aeb01c14cafdb409f5a67a865a5ad8b5fa06b0b7

@Svarov-RZM @FadhilKwan Can you please check development version 1.3.11 - is it gives you same crash?
You can download it here - https://github.com/synfig/synfig/releases/tag/

[2020-06-06 13:18] AYESDIE opened #1473 "[CMake] synfig target doesn't build required modules."
Target `synfig` doesn't build the required modules, which also affect `build_images` target.

The required modules should be added as a dependency to the target and options could be added to enable optional modules.

A temporary fix for `build_images` target to work properly is to build `all` target before that.

[2020-06-06 14:46] chandratushu21 commented on #1464
The latest version of synfig as available on the official website and running on latest **macOS 10.15.5**

[2020-06-06 15:40] morevnaproject commented on #1470
There is also  similar system for parameter editing in Blender and Enve.

I think it worth implementing in any case, since we plan to have realtime preview someday.
We already can drag ducks on workarea - they don't generate workspace updates, but control points are updated. So, I think this will not give bad impact on stability if properly implemented ^__^

[2020-06-06 16:07] morevnaproject commented on #1458
For my taste there are too many small parts in all versions.

How about a folder with a dashed outline around? ^__^

![screenshot_004](https://user-images.githubusercontent.com/332868/83948756-b28ebf80-a849-11ea-9648-69c613347328.png)

I like them all! ^__^

Agree.

About layer selection locking.
For my taste the differences are too small to notice,
how about an arrow inside of dashed rectangle? (

[2020-06-06 16:13] morevnaproject commented on #1455
Exactly. Rendering operation should create a copy of opened canvas, open it (internally) and render.

Maybe we can utilize autobackup infrastructure for that? It is already used to create copies when we call plugins...

[2020-06-06 19:08] rodolforg commented on #1472
I can't reproduce on branch master on Debian testing.
Maybe you don't have libdv-bin installed? (encodedv)

[2020-06-06 19:56] rodolforg commented on #1472
(it shouldn't crash anyway, though)

[2020-06-06 19:58] Agnyy commented on #1458
Here are the experiments.

![image](https://user-images.githubusercontent.com/25137502/83953417-ecab9180-a848-11ea-86da-5b0f1bb6c5ec.png)

[2020-06-06 20:03] Agnyy commented on #1458
For my taste the differences are too small to notice,
how about an arrow inside of dashed rectangle? (for unlocked state)

screenshot_006

![image](https://user-images.githubusercontent.com/25137502/83953566-d3efab80-a849-11ea-9bd1-0fc89c409551.png)

[2020-06-07 04:29] rodolforg commented on #1452
@FirasH Do you want to try to implement it?

[2020-06-07 05:44] rodolforg commented on #506
@libreartist ping :) can we close this issue?

[2020-06-07 07:32] Agnyy commented on #1458
New version design TimeTrack
1. The numbers are less.
2. Progress has changed

![image](https://user-images.githubusercontent.com/25137502/83962797-041a6700-a8a9-11ea-8d42-b79b71db0466.png)

Light Version

![image](https://user-images.githubusercontent.com/25137502/83962904-337da380-a8aa-11ea-8c1d-2b62df4b2d51.png)

[2020-06-07 08:50] FirasH commented on #1452
I can take a look if you want 👍

[2020-06-07 11:12] Svarov-RZM commented on #1442
It does not crash. Although I couldn't test 1.3.11 version on original file (retesz_2M) because it's done in a newer Synfig version. It opens the file with a bunch of "Installed layer version is smaller than version in the file" messages, but nothing is displayed and the program hangs on editing.

But I did test on my own work and the attached above "LinkedSplinesN.zip" file — the version 1.3.11 d

[2020-06-07 12:25] Agnyy commented on #1458
Here seems to be all the window icons. Some things I don’t quite know how they work and I was afraid to draw them by name. Write your ideas. Then I’ll make another bright option.

![image](https://user-images.githubusercontent.com/25137502/83968598-f4177d00-a8d2-11ea-9dce-977fccad516f.png)

[2020-06-07 12:26] FirasH commented on #1452
A couple of places to start with. Firstly, where the action is called:
https://github.com/synfig/synfig/blob/b6995dc5864f43239b4e5ac9b119222328af6af1/synfig-studio/src/gui/instance.cpp#L1207-L1294

Secondly, the code of the dialog:
https://github.com/synfig/synfig/blob/b6995dc5864f43239b4e5ac9b119222328af6af1/synfig-studio/src/gui/app.cpp#L3756-L3802

[2020-06-07 14:38] morevnaproject commented on #1442
@Svarov-RZM Thank you very much, that helps a lot!

[2020-06-07 15:31] morevnaproject commented on #1412
@FirasH  I think it is not possible to have icon in portable version as long as we use bat file for launching app. As @rodolforg mentioned:

[2020-06-07 18:09] Agnyy commented on #1458
And who can make a theme? And then I suddenly do nothing. I would like to know that my work is not in vain. And it takes a lot of time. It’s not difficult for me to make all the necessary icons, the main thing is to have a theme.

[2020-06-07 18:49] rodolforg commented on #1458
I'm working on it

[2020-06-07 18:49] rodolforg commented on #1458
Which ones?

[2020-06-07 18:55] Agnyy commented on #1458
Tell me how these sections work.

1. KeyFrames
2.Canvas MetaData
3. Sets
4. Library

[2020-06-07 19:11] rodolforg commented on #1458
1. [Keyframes](https://wiki.synfig.org/Keyframes_Panel) Please read [this](https://wiki.synfig.org/Keyframe), as I can't explain it in a short way.
2. [Metadata](https://wiki.synfig.org/Canvas_MetaData_Panel) : Some data to help save editor state (position of guide lines, status of snap to grid, etc)
3. [Sets](https://wiki.synfig.org/Sets_Panel) refers to a set of layer that somehow you want to gr

[2020-06-08 07:55] Agnyy commented on #1458
![image](https://user-images.githubusercontent.com/25137502/84005008-1b268b00-a975-11ea-86ae-1987e1ef6951.png)

![image](https://user-images.githubusercontent.com/25137502/84005914-8d4b9f80-a976-11ea-8bf2-2f2354e6da65.png)

[WIndow View.zip](https://github.com/synfig/synfig/files/4744601/WIndow.View.zip)

[2020-06-08 08:49] Agnyy commented on #1458
![image](https://user-images.githubusercontent.com/25137502/84010307-28477800-a97d-11ea-8d6c-c6cd37b04aee.png)

![image](https://user-images.githubusercontent.com/25137502/84010943-12868280-a97e-11ea-9ff4-d7eccfc4f69e.png)

[WIndow View 2.zip](https://github.com/synfig/synfig/files/4744832/WIndow.View.2.zip)

[2020-06-08 11:03] zozorg commented on #416
There.
exported.sif was imported in anim.sif , and "embed layer" was used.
exported.sif is composed of two labels :
- "exported" ; this was embedded correctly, moving it around in one file does not affect the other one.
- "exported canvas", which is in an exported canvas named "canvas". This one was not embedded correctly, "canvas" is shared between the two files, and the "embed" popup menu doesn'

[2020-06-08 11:18] zozorg commented on #491
I finally can add USD bounties again, but I can't put one on that issue because there is already an ethereum bounty offered .... somehow you can't have both USD and ETH.
Setting an unofficial $50 bounty, I can add a "fake" bounty on whatever other issue you are about to resolve.

[2020-06-08 11:39] zozorg opened #1479 ""speed" parameter does not work for switch layers"
**Synfig version & platform**:
linux 1.3.14

**Issue description**:
The "speed" parameter appears to be ignored for switch layers as opposed to group layers

[2020-06-08 13:02] morevnaproject commented on #491
Since BountySource is giving so ugly hiccups, I actually wanted to try https://issuehunt.io/

What people think about it?

[2020-06-08 14:24] Agnyy commented on #1458
These icons are for both dark and light themes.

![image](https://user-images.githubusercontent.com/25137502/84041446-863f8400-a9ac-11ea-9e77-2bf6dbf79613.png)
![image](https://user-images.githubusercontent.com/25137502/84041690-cc94e300-a9ac-11ea-9271-81537e95ccd7.png)

[Other Icon Layers.zip](https://github.com/synfig/synfig/files/4746537/Other.Icon.Layers.zip)

[2020-06-08 15:29] rodolforg commented on #1458
Maybe Warp should be a trapeze?

About the colors: Now I'm thinking, what about color blinded people? In dark mode, it may be difficult to them to see some colored icons.
Tow solutions:
- they use light theme; or
- Maybe a thin outline with same Hue but a different Value?

[2020-06-08 15:35] strujillodv opened #1480 "Error animating advanced spline."
**Synfig version & platform**: AppImage 1.3.14 -  Archlinux KDE

**Issue description**:

Animate an advanced spline doesn't work well in development version 1.3.14.

You searched for -> Version 1.2.2

![Version 1.2.2](https://i.giphy.com/media/h5ocX332tiP5BcJ3vH/source.gif)
https://drive.google.com/file/d/1N7LegIjv0jKZtsYe0gDWepUZFnG6Io8p/view?usp=sharing

The opted -> Version 1.3.14

![Version 1.

[2020-06-08 15:45] Agnyy commented on #1458
![image](https://user-images.githubusercontent.com/25137502/84050763-d7547580-a9b6-11ea-9176-0f99510c4c26.png)

[Other Layer 2.zip](https://github.com/synfig/synfig/files/4747027/Other.Layer.2.zip)

[2020-06-08 15:56] Agnyy commented on #1458
I would not want to add an outline to the icons, this will degrade the style. It is necessary to show the icons to people who have problems with faceting and only then pick up other colors. The initial idea with icons is the idea to visually systematize insturmnts.

[2020-06-08 15:56] rodolforg commented on #1458
Light theme it is ;)

[2020-06-08 15:57] Agnyy commented on #1458
![image](https://user-images.githubusercontent.com/25137502/84052840-c78a6080-a9b9-11ea-94b5-3b55af4a94c3.png)

Here is another variant of the Warp icon.

[2020-06-08 16:34] saurabh-ramola opened #1481 "Font style and Font weight in Text Layer not working"
**Synfig version & platform**:
Synfig version : https://github.com/synfig/synfig/commit/334b5b9b6d888ad68bf6b1f3202f581cb3a3e14d
Platform : Ubuntu 16.04 LTS
**Issue description**:
Tried changing font style and font weight to something other than "normal" but no change is observed. I couldn't find any documentation whether this is supported or not.
<b> This is with "normal" settings -> </b>
![norma

[2020-06-08 17:42] Agnyy commented on #1458
The numbers need to be painted. Ideally, reduce zeros after the decimal point, so it will be better read. You also need to add dropdown menus.

![image](https://user-images.githubusercontent.com/25137502/84062664-5aca9280-a9c8-11ea-841c-718c9200bf7a.png)

[2020-06-08 17:44] AnishGG commented on #1481
It would be helpful if you attach the `.sif` file used. ^__^

[2020-06-08 17:59] rodolforg commented on #1458
I already think about that too :) I'll do it later

[2020-06-08 18:09] rodolforg commented on #1480
1.3.11 : ok
1.3.12 : bad :P

@strujillodv , in the meanwhile, just type a number close enough to 1.0 in width point poistion, like 0.9999 , but no 1.0

[2020-06-08 18:22] saurabh-ramola commented on #1481
My bad, here's the .sif file I used ->
[style_weight.sif](https://gist.github.com/saurabh-ramola/edf47b9faaeacfc843224f8b98872303)

[2020-06-08 18:29] Agnyy commented on #1458
Changed the icons for the correct display in a dark theme.

![image](https://user-images.githubusercontent.com/25137502/84066310-6620bc80-a9ce-11ea-843b-53fec5cf8baf.png)

I also drew a few new ones.
![image](https://user-images.githubusercontent.com/25137502/84066411-8cdef300-a9ce-11ea-9d33-b9fdd903b946.png)

Here are the new keys

![image](https://user-images.githubusercontent.com/25137502/84066

[2020-06-08 19:14] rodolforg commented on #1458
For now, you can test them by replacing the files with exact name in share/pixmaps/synfigstudio folder :)

[2020-06-08 19:26] Agnyy commented on #1458
I need a good test, and not such a file replacement. I need to create a theme of a certain color. And that it would be possible to have buttons in several modes (On and Off) And what you suggest cannot do this. I have already tried to replace icons before, but this is not at all what I need. In this case, this does not allow me to correctly see the result that I wanted to get.

[2020-06-08 20:04] rodolforg commented on #1458
Well, theming is all about to remap the icons files.

Oh, you mean swap the images at "real" time (runtime), right?

[2020-06-08 20:14] Agnyy commented on #1458
Yes

There is still a problem in the usual replacement of files in the fact that I changed a lot of icons and here the onion skin should be a rectangular shape. But the program pressed her into a square.

![image](https://user-images.githubusercontent.com/25137502/84075714-49d84c00-a9dd-11ea-8e43-f174f867001b.png)

![image](https://user-images.githubusercontent.com/25137502/84075921-93c13200-a9dd-

[2020-06-08 21:34] rodolforg commented on #1458
the icons must be square icons for toolbar buttons by default.
And I don't see why onion skin button should be larger than others.

Do you mean the blue selection "strip"? It's the Adwaita theme, I guess. Synfig doesn't enforce it, AFAIK.

[2020-06-08 22:09] strujillodv commented on #1480
@rodolforg, Changing to a value less than 1.0 it does not work,

[2020-06-09 03:06] rodolforg commented on #1480
Here it worked: the starting point fixed in 0.00001 instead of 0 and end width point moves until 0.9999 or something like that.
I'll try again later.

Devs: Anyway, after a `git bisect`, the guilty commit
c35c7478cbde5bba2b630085005f199be892db15

[2020-06-09 03:11] rodolforg commented on #963
@ebarranco do you remember what was your problem here?
We have to fix another issue that probably affects/changes the related code for this issue.

[2020-06-09 03:19] ebarranco commented on #963
Yeah @rodolforg  Closing shapes gave me circular cuts and big weight values in advanced outlines.

[2020-06-09 03:21] rodolforg commented on #963
And is it solved, right?

[2020-06-09 03:36] ebarranco commented on #963
Yes it is solve. I did download the file from that issue and I had the same result.

[2020-06-09 06:05] morevnaproject commented on #1442
@Svarov-RZM @FadhilKwan We made a new testing build, can you please check if it is still crashes the same?
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.15-testing-2020.06.09-win64-9a6e0.exe
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.15-testing-2020.06.09-win64-9a6e0.zip

[2020-06-09 06:18] Agnyy commented on #1458
I replaced almost all the icons that I drew. But VERY many icons could not be replaced. I thought that they would help me to do this topic, I thought I was not doing it for myself. I don’t even animate in this program. But in the end, I was very tired, for many days I drew, invented, and did everything. I have no more strength left. Not sure if there is a thought to continue. If they helped me, I

[2020-06-09 08:26] rodolforg commented on #1458
I'm sorry that you feel that way.
I too contributed here as a hobby: for the pleasure of learning and helping. I'm a follower of opensource philosophy, and on the first semester of last year I came across this program many years later than I knew it (maybe around 2006). I was teaching some students an informal class about animation.
Although a lot of things improved, I noticed some things were not

[2020-06-09 08:40] Agnyy commented on #1458
Thanks for the help. If someone needs my icons then this is very good.

[2020-06-09 12:03] #1229 closed

[2020-06-09 16:17] rodolforg commented on #963
Thank you.

[2020-06-09 22:31] FirasH commented on #1480
#1329 is the same issue?

[2020-06-10 01:37] doc-halo commented on #1458
@Agnyy These icons are very good. I would love to use them on my version, and hopefully a programmer can eventually integrate them in Synfig. Burnout happens a lot in open source, so maybe you can take a break and come back stronger.

There are some that I would like to help redesign, so I'm going to download your icons and take a look. Hopefully I can help.

Stay with the software. We can use you

[2020-06-10 03:06] morevnaproject commented on #1480
Agrh, again outline issues! :rofl:

[2020-06-10 04:10] rodolforg commented on #1414
Does it help?
From Gtk dev docs:
"Using GTK+ with Wayland

The GDK Wayland backend provides support for running GTK+ applications under the Wayland display server. To run your application in this way, select the Wayland backend by setting GDK_BACKEND=wayland.

Currently, the Wayland backend does not use any additional commandline options or environment variables.

For up-to-date information about

[2020-06-10 05:13] Keyikedalube commented on #1414
https://wiki.archlinux.org/index.php/Wayland#GTK_3

I think this applies to Debian too.
However, when I tried to `echo $GDK_BACKEND`, I received a blank output
So I manually tried setting the environment variable with `export GDK_BACKEND=wayland`

Still the same misaligned thumbnail

[2020-06-10 05:19] Keyikedalube commented on #1414
Was reading this too: [unix stackexchange](https://unix.stackexchange.com/questions/326331/where-to-set-gdk-backend)

Tried
`env GDK_BACKEND=wayland <path-to-synfig-executable>`
Synfig launches but doesn't help the thumbnail misalignment :(

[2020-06-10 07:57] Agnyy commented on #1458
I fixed many icons and painted new ones for the ingredients. Here it looks like this now.
![image](https://user-images.githubusercontent.com/25137502/84241649-6cb34f00-ab08-11ea-8130-3f2b1482cb32.png)

Download and try it yourself.

[pixmaps V2.zip](https://github.com/synfig/synfig/files/4756987/pixmaps.V2.zip)

I have been doing so far only a dark topic. Then it will be possible to remake it into

[2020-06-10 08:00] Agnyy commented on #1458
Now it will be very good if the program will be able to switch the folder with icons. And change the light of the topic. So it would be possible to make a lot of different packs with icons.

[2020-06-10 10:01] Agnyy commented on #1458
If the program adds the ability to change the folder with icons, then it will be possible to add icons from other programs. Now there are a lot of new interesting icons for GIM and InkScape.

![image](https://user-images.githubusercontent.com/25137502/84253994-4518b280-ab19-11ea-89d4-559a566bfc62.png)

I can draw in them the missing tools.

[2020-06-10 11:27] Agnyy commented on #1458
Made for the sake of funny stylization of the icons for the Toolbar in the style of an old photoshop
.![image](https://user-images.githubusercontent.com/25137502/84262202-db52d580-ab25-11ea-8a04-c7e9371cc9d7.png)

[Old Icon Style.zip](https://github.com/synfig/synfig/files/4758107/Old.Icon.Style.zip)

This is what the icons looked like in Photoshop.
![image](https://user-images.githubusercontent.c

[2020-06-10 11:36] Agnyy commented on #1458
By the way, this experiment shows that the icons do not fill the cell. How can i fix this? It’s easier for me to adjust the indentation myself while creating a window, and so the icons are smaller than planned.
![image](https://user-images.githubusercontent.com/25137502/84263190-b3fd0800-ab27-11ea-853a-449875576c6c.png)

[2020-06-11 05:30] morevnaproject commented on #1458
Here is information about location of gtk.css file on Windows - https://stackoverflow.com/a/39041558

You will need a css file for Adwaita, but it is not easy to get - looks like it is "merged" into binary files. But you can get Adwaita's css file from source - https://unix.stackexchange.com/questions/175385/where-may-i-find-a-reference-scheme-for-gnome-3-theming-e-g-adwaita

We use Gtk 3.22 in Wi

[2020-06-11 07:04] Keyikedalube commented on #1196
@ice0 Will this issue be fixed during GSoC 2020? I'm noticing new PRs improving synfig CMake script.
*Just curious*

[2020-06-11 12:04] morevnaproject commented on #1449
Hi, Mattia! I have finally recorded a video with explanations on how we can represent data from OpenToonz in Synfig. Apologies for my English, I haven't practiced for a while ^__^" -
https://www.youtube.com/watch?v=I612F5oEwFE

[2020-06-11 12:57] mbasaglia commented on #1449
cool, I'll have to experiment with the exported canvasses a bit to see how synfig does things, then I'll try to figure where OpenToonz stores its data

[2020-06-11 16:23] saurabh-ramola commented on #1481
Works perfectly and it solves the issue for me ^__^

[2020-06-11 20:26] rodolforg opened #1489 "z-depth value in Layer Panel is different of the one in Parameter Panel"
**Synfig version & platform**:
1.3.14 and master on Linux

**Issue description**:
If I change the Z-Depth value of a layer in Parameter panel,
1. it doesn't change its value in Layer panel; and

1. it doesn't show exactly the same value: 0.5 in Parameter panel appears as 0.5005 in layer panel.

Probably a precision issue (float x double x synfig::Real)

[2020-06-11 20:32] rodolforg commented on #777
@chandratushu21 your help would be appreciated ;)

[2020-06-12 12:51] Agnyy opened #1490 "Add cursors."
Good and clear cursors are very necessary for the convenience of using the program. This affects the feel of the animation and its relationship to it. It's like a kickback for weapons in computer games. I drew the main cursors.

![image](https://user-images.githubusercontent.com/25137502/84501364-10def680-acbf-11ea-8cf8-f162db1e57eb.png)

[Coursor.zip](https://github.com/synfig/synfig/files/477066

[2020-06-12 17:25] Agnyy opened #1492 "Drawing a spline tool. (Ability to continue drawing)"
I don’t know, maybe this problem is only with me.

It would be nice if it were possible to draw non-closed shapes using the spline tool. I don’t know why, but the spline tool cannot continue to draw vector layers.
![image](https://user-images.githubusercontent.com/25137502/84529774-b9ef1680-acea-11ea-9c84-d33e9fb40a73.png)

But Drwa Tool can draw these figures.

![image](https://user-images.github

[2020-06-12 19:35] #1463 closed

[2020-06-12 19:38] chandratushu21 commented on #777
How can I start working on this one ?

[2020-06-13 04:10] rodolforg commented on #1490
In some of those cursors you drew, I'm not sure where's its hot spot.

https://docs.microsoft.com/en-us/windows/win32/menurc/about-cursors#the-hot-spot
https://www.axialis.com/tutorials/what-is-a-cursor.html
http://www.rw-designer.com/hot-spot

[2020-06-13 06:20] morevnaproject commented on #1442
Anyone? ^__^

[2020-06-13 06:28] mbasaglia commented on #1449
@morevnaproject Do you know how to change color for just a single object? if I try to set a color everything changes o_O

[2020-06-13 06:40] mbasaglia commented on #1449
Ugh looks like OpenToonz outputs invalid XML files, that might make it difficult to parse

[2020-06-13 07:02] morevnaproject commented on #1449
Ah! This si because OpenToonz uses styles to define colors. ^__^
Here is a quick explanation - https://youtu.be/yk7j2uDuhUI

[2020-06-13 07:12] mbasaglia commented on #1449
Reported this issue to opentoonz https://groups.google.com/forum/#!category-topic/opentoonz_en/troubleshooting/Xs-CyvhccJc

[2020-06-13 07:15] Agnyy commented on #1449
Here is a quick explanation - https://youtu.be/yk7j2uDuhUI

Wow, what an interesting solution.

[2020-06-13 07:44] mbasaglia commented on #1449
looks like OpenToonz stores its vector data in some obscure binary format called PLIMG or something like that. I will have to find the specs for that format.

[2020-06-13 08:53] Svarov-RZM commented on #1442
@rodolforg @morevnaproject
Still crashes in exact same way. From reading the commit message I got the idea that instead of crashing, the program should show a message box or print an error in some way, but nope. I guess the exception occurs in some other place...

Additionally, here's the video with crash on my machine (Windows 10): https://1drv.ms/v/s!Aqn9-DWzZKfcgVJXhUZA1DNxDwd-?e=muy6fP
Notice

[2020-06-13 09:14] Agnyy opened #1493 "Better way to set playback area"
The program has a way to limit the loading area.

![image](https://user-images.githubusercontent.com/25137502/84564921-22cba280-ad6e-11ea-9fcd-2d2bbcd0b67d.png)

After Effect has a similar mechanism. Only there it works more clearly.

![image](https://user-images.githubusercontent.com/25137502/84564950-5c041280-ad6e-11ea-9f2e-3409a2cba831.png)

AE has borders with which you can easily edit this zo

[2020-06-13 10:11] #1360 closed

[2020-06-13 11:58] Agnyy opened #1494 "A few ideas for improving animation."
I think that it will be good to customize the animation process and give the animation users the opportunity to choose how they are comfortable.

I want to talk about some functions that could be added to the "Parametrs" panel. Selecting these functions will decrease the display of keys and parameters.

1. Function to compress settings. Such a function will be very convenient for displaying keys a

[2020-06-13 12:22] FirasH commented on #1479
Cannot reproduce with current master.
Will check for 1.3.14.

[2020-06-13 13:08] mbasaglia commented on #1449
Their IO on said files is done here: https://github.com/opentoonz/opentoonz/blob/26b3167ad04fcda4772eaea6e18f9960d340c926/toonz/sources/image/pli/pli_io.cpp

But I couldn't find any specs for this format, reverse engineering a binary format would require more time and effort than I can afford for this task.

[2020-06-13 13:32] FirasH commented on #1452
We could use `Gtk::EntryCompletion` to list available Sets.
Not sure how that would look like or if it has a drop-down button... What do you think?

Minor question, any idea where to get the list of current Sets?

[2020-06-13 14:57] morevnaproject commented on #1449
I think it is better to report it here - https://github.com/opentoonz/opentoonz/issues
As far as I know, OT devs do not read forums much... ^__^

[2020-06-13 15:02] morevnaproject commented on #1449
@shun-iwasawa Can you please tell if there are any specs for PLI format available in public? Thank you! ^__^

[2020-06-13 15:56] mbasaglia commented on #1449
opened https://github.com/opentoonz/opentoonz/issues/3352

[2020-06-13 18:02] FirasH commented on #1479
Cannot reproduce with 1.3.14 either.

Maybe there are some missing steps?
Do you have a file with this issue?

[2020-06-13 18:58] yoSachinkr commented on #1490
It seems it is basically the tip of the cursor.

[2020-06-14 03:33] morevnaproject commented on #1442
Thank you for testing and for the video! I will continue digging...

Will try to revert aeb01c1 and f534533 to see if that will affect the stability...

[2020-06-14 06:54] morevnaproject commented on #1361
Donations page updated - https://www.synfig.org/donate/
![image](https://user-images.githubusercontent.com/332868/84586935-72c96880-ae45-11ea-8f07-65663e3b4153.png)

[2020-06-14 08:06] mbasaglia commented on #1449
The OpenToonz code mentions a "paperless consortium" and a "related document" describing the format (I'm guessing PL = Paperless) but I couldn't find that document

[2020-06-14 12:37] Agnyy commented on #1490
If I understood correctly, then like this.

![image](https://user-images.githubusercontent.com/25137502/84593410-d73ff400-ae54-11ea-88dd-20b3b337f938.png)

[2020-06-14 12:41] morevnaproject commented on #1442
I have reverted aeb01c1, let's wait when build finishes...

[2020-06-14 12:56] morevnaproject commented on #1493
Renamed to "Better way to set playback area" ^__^

[2020-06-14 14:24] morevnaproject commented on #1479
Hi @zozorg! The speed parameter affects the speed for child layers of Group (or Switch Group). If you wish to speedup the animation of switching in Switch group, then you need to wrap it into another group and set speed parameter from there.

![screenshot_001](https://user-images.githubusercontent.com/332868/84596007-5cdb9800-ae85-11ea-8830-7b10ad09caa8.png)

[2020-06-14 15:07] morevnaproject commented on #777
Apologies for such a long delay. Yes, this is exactly what I mean. ^__^

...and for each menu entry show a simple dialog, where user can set dimensions (in pixels).

![screenshot_006](https://user-images.githubusercontent.com/332868/84597013-243ebd00-ae8b-11ea-8ac3-90385fd3199b.png)

@chandratushu21 Let's get started! Did you managed to build Synfig from source already? ^__^

[2020-06-14 16:02] chandratushu21 commented on #777
@morevnaproject don’t know how to go with that sir, I'm appearing for the first time. Can you help for this issue or suggest some other easy issue to understand the workflow.
Thanks 🙏

[2020-06-14 16:57] FirasH commented on #1376
I'll take a look at this

[2020-06-14 17:56] FirasH commented on #1376
Made some experiments, here is the current result.

Warning old file (very short):
![old_file](https://user-images.githubusercontent.com/6705690/84600318-a40f5c00-ae78-11ea-997e-5293e8f7425d.png)
Under a certain height the scrollbar is not visible.

Warning missing images (very long):
![long_warning](https://user-images.githubusercontent.com/6705690/84600325-b12c4b00-ae78-11ea-88c2-9d57e99b05da.pn

[2020-06-14 19:21] ice0 commented on #1458
If I understand correctly, in order to implement these icons, we need the ability to dynamically change the color of the icons when swithing ToolButton state (normal, hover, selected).
I checked Inkscape and they allow you to do this for symbolic icons. That is, when changing the CSS property through the GtkInspector, the color of the icons also changed.
I used:
[code]
for that. Also, symbolic ico

[2020-06-14 21:37] FirasH commented on #1341
https://github.com/synfig/synfig/blob/8081eb89d66dfdefb20d3d88ac2fd2e928e882df/synfig-core/src/modules/mod_ffmpeg/trgt_ffmpeg.cpp#L175-L185

[2020-06-15 01:55] Keyikedalube commented on #1376
Is there a way to also indicate layer name ie., file0000.png ..?

Because we are showing the text content to the user. It'd be more useful if he knows what layer is causing the problem. Reading a very lengthy repeating message doesn't really help the user at all. If this is also implemented warning dialog would be more meaningful++ than the current one we have right now :)

[2020-06-15 03:15] zozorg commented on #1479
Indeed that was the issue, thanks!

[2020-06-15 04:30] FadhilKwan commented on #1442
umm.. yeah... apologies ._.v
I'm currently pretty busy at the moment. But i did try the testing build a bit.

And i'd say, nothing's different in my part, still crashes the same way, though i haven't tried it a bit more, so i didn't want to make a hasty statement.

so... this issue still persists, right? ._.

[2020-06-15 10:13] FirasH commented on #1376
I didn't really dive into that problem, but I would suggest to separate the 2 issues (dialog part and message part).

@Keyikedalube I'll open a new issue to keep track of that!

[2020-06-15 10:24] FirasH opened #1498 "Warning dialog doesn't give clear info about the Layer causing it"
**Synfig version**:
master 8081eb8

**Issue description**:
Issue is described here #1376.

The info message shown in the Warning dialog does not explicitly show the layer causing the issue:
![long_warning](https://user-images.githubusercontent.com/6705690/84646849-fb5a0e80-af02-11ea-9b2b-0e46c65f5410.png)

Here is the code where the string is generated:
https://github.com/synfig/synfig/blob/8081eb

[2020-06-15 14:15] morevnaproject commented on #1442
One more attempt:
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.15-testing-2020.06.15-win64-ce37d.exe
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.15-testing-2020.06.15-win64-ce37d.zip

Please test. ^__^

[2020-06-15 14:25] Keyikedalube opened #1499 "Expanded grouping issue != subcanvas"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
![Screenshot from 2020-06-15 19-45-30](https://user-images.githubusercontent.com/24214509/84668244-059afd80-af41-11ea-8b04-a601ce4e362e.png)

When I try to group layers (already expanded) together, I get this error message
![Screenshot from 2020-06-15 19-44-50](https://user-images.githubusercontent.com/24214509/

[2020-06-15 15:08] morevnaproject commented on #1376
I like this! ^__^

[2020-06-15 15:10] morevnaproject commented on #777
@chandratushu21 Sure! Please check instructions on how to build Synfig from source - https://synfig-docs-dev.readthedocs.io/en/latest/common/building.html

[2020-06-15 22:44] FirasH commented on #1498
There is a lot of stuff happening when parsing a layer...
A quick solution could be to add something like:

[code]

but I don't really know what values could arrive at this point of the algorithm and if this would cause any backlash. Any suggestions?

[2020-06-16 07:29] morevnaproject commented on #1416
I have made a test: removed all "getenv" calls - https://github.com/morevnaproject/synfig/commit/02473a578ed2d9ee77f18693c1b6df2388e9d451

Tested speed using `synfigplayer` on `pirates.sif` and [this file](https://gitlab.com/synfig/synfig-tests/-/blob/master/rendering/sources/layers/advanced-outline/advanced-outline-heavy-200.sif).

Unfortunately, there is no performance difference.

[2020-06-16 12:44] rodolforg commented on #1458
@ice0 I did started to work on it in May, but I can resume work now previous PR was accepted :)

[2020-06-16 13:42] ice0 commented on #1416
@morevnaproject Perhaps you can see the difference when doing the editing.

[2020-06-16 14:14] #1376 closed

[2020-06-16 14:41] ice0 commented on #1498
I think you can ignore arriving value, because in that case you need something like:
[code]
to get the layer name.

[2020-06-16 14:55] ice0 commented on #1458
@rodolforg What will be awesome! Thank you!

[2020-06-16 16:56] chandratushu21 commented on #777
@morevnaproject Sir I followed up and successfully checked prelims but found the following error in the terminal while executing **"2-build-debug.sh”** under first build, ref;  @https://synfig-docs-dev.readthedocs.io/en/latest/common/building.html

<img width="480" alt="Screenshot 2020-06-16 at 10 13 18 PM" src="https://user-images.githubusercontent.com/64960756/84803052-1326b500-b01f-11ea-904a-e5

[2020-06-16 19:48] ice0 commented on #777
You can see how Rodolfo solved this problem here (https://github.com/synfig/synfig/pull/1486)

[2020-06-17 07:50] chandratushu21 commented on #777
@ice0  Thanks sir,
Well I haven't done this before so is there is any risk to harm my machine by doing so without proper knowledge and what if I want to remove this project ? For ex. homebrew has installed many things that I don't know so do I need to remove them or they will be occupied by every project or so.

[2020-06-17 09:08] chandratushu21 commented on #777
@morevnaproject Sir done with building synfig from source and the program is running well. I'm very happy on my first achievement,
BTW, what next ?
Where can I start resolving the issue of canvas properties.

[2020-06-17 09:54] #1464 closed

[2020-06-17 14:18] ice0 commented on #777
You can remove synfig folder and brew (if you are not using it for something else). This will not harm your computer.
https://docs.brew.sh/FAQ

[2020-06-17 15:29] FadhilKwan commented on #1442
Wow, this one actually feels really promising!

I've tried to twiddle the test file with this one in the ways they could crash the synfig (scrolling parameters panel, clicking points, closing and reopening the file, switching files, etc). I've done those things for many times now, and so far, No Crashes At All, Sweet! ^O^

I think i could say that this issue has been resolved, but maybe i should t

[2020-06-17 16:14] rodolforg commented on #1464
Why did you close if it's not solved?
Or is it? :)

[2020-06-17 17:09] Svarov-RZM commented on #1442
Yep, can also confirm — no crashes in this version. I did pretty much the same as FadhilKwan in terms of testing and Synfig didn't crash once.

[2020-06-17 19:10] Gilraiser commented on #1494
Hello, warm regards. I think it is a great idea. The only thing I don't want is for the points on the timeline to change size. When using the timeline, the size of the dots makes it very comfortable to animate without the dots resizing with the horizontal zoom. Thank you.

[2020-06-18 12:13] morevnaproject commented on #1416
...Also, I need to test it on Windows. ^__^

[2020-06-18 12:21] libreartist commented on #1041
Hi, sorry, I couldn't respond, since I have to relocate, in relation to the recent lockdown situation. Hope, everyone is safe out there. My prayers. I could see that @Agnyy is doing a lot well with the icons over there at #1458. Thank you @morevnaproject @rodolforg for responding.

[2020-06-19 11:34] FirasH commented on #1499
Confirmed.

Happens when trying to group a `Layer` with another `Layer` inside a different `Group`.

The error dialog makes sense, but in this specific case (i.e. Groups in the same Group depth let's say) it shouldn't consider the specific element of the Group but the whole Group all together.

[2020-06-19 12:28] morevnaproject commented on #1442
Thanks to everyone for testing! So, it looks like all instability is about this commit - aeb01c1.
I wonder what do we loose after reverting it? Looks like it fixes issues with synchronization of horizontal scrolling for Params Panel and TimeTrack Panel...
But in my tests everything works well even after reverting. Maybe I missed something.

@ice0 @rodolforg What do you think about that? ^__^

[2020-06-19 12:38] morevnaproject commented on #777
Great! Now I suggest you to edit code of `synfig-studio` and add new menu items (at first they will do nothing). You need to add those menu items:
- **"Canvas" -> "Resize"**
- **"Canvas" -> "Set Dimensions"**

[2020-06-19 17:25] rodolforg commented on #1442
You mean vertical scrolling, right?

[2020-06-19 17:50] rodolforg commented on #1499
Something similar occurred with layer deletion earlier. https://github.com/synfig/synfig/pull/1072
maybe it can help to this issue

[2020-06-19 22:12] FirasH commented on #1252
I think this has been fixed in 51ba106

[2020-06-20 02:34] Keyikedalube commented on #1412
*.bat* file to run synfig, I'm a little confused...
Can someone verify if synfig.exe has an icon embedded or not?

If it does then this issue is pointless

Otherwise, I happened to install Win8 as VM on my Linux system just recently.
After poking around the Internet about Windows icons, I noticed I did the above exporting synfig icon wrong
I embedded only one image (128x128) in ico file but in act

[2020-06-20 03:23] rodolforg commented on #1412
@Keyikedalube as I said earlier here, mingw provides the CLI binary winres to embed resources into windows binaries, like description strings and icons

[2020-06-20 06:39] Keyikedalube opened #1502 "Unable to select transparent layer inside group"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
Suppose I'm drawing the side of a house with windows and wooden frames:
[code]

If I make the deeper inner layers as transparent (15%), I'm unable to select those layers
Instead my mouse click goes to the outermost layer ie., Wall layer

A bug?

A sample test file, try selecting the inner circle with 15% transpa

[2020-06-20 06:51] rodolforg commented on #1502
AFAIK The selection is done via `Canvas::find_layer()`.
It creates a `EventLayerClick` event of the work area state machine and may be processed by currently selected state(tool).

[2020-06-20 07:30] morevnaproject commented on #1442
Vertical scrolling, right. :rofl:  Oh, I am messing terms again ^__^"

[2020-06-20 07:33] morevnaproject commented on #1442
Just to make it clear: here I pushed a commit, which reverts aeb01c1 -
--> ce37dbe4ff9c15b4b5b16a1b9293e7ec48ccb6a9

[2020-06-20 08:11] morevnaproject opened #1504 "Failed to build Windows package"
**Synfig version & platform**:
master branch, commit 8081eb89d66dfdefb20d

**Issue description**:
Cross-compilation fails with the following error:

[code]

[2020-06-20 08:57] morevnaproject commented on #1504
6d8904e6c38 build fine.

[2020-06-20 13:09] Keyikedalube commented on #1412
Can someone verify if synfigstudio.exe has an icon embedded or not?

![production-build](https://user-images.githubusercontent.com/24214509/85202595-0fe43f80-b325-11ea-9e03-21469ef1d29b.png)

that means .bat is generated from build-cmake.sh

[2020-06-20 13:11] morevnaproject commented on #1504
The problem is in this commit - 7684be864f20b

Build fails because of this line -
https://github.com/synfig/synfig/blob/d72bbc943d6b3205fb86b0e343b451fcfd49f2cc/synfig-studio/src/synfigapp/canvasinterface.cpp#L53

This is because we cannot reference modules from canvasinterface.

I believe we should use Layer_Bitmap class (`synfig/layers/layer_bitmap.h`) instead of `modules::lyr_std::Import`.

@Aa

[2020-06-20 13:16] Keyikedalube commented on #1412
@rodolforg can Autotools do the task of embedding resources to the executable file?

I'm reading this but it's out of my scope of expertise
https://stackoverflow.com/questions/708238/how-do-i-add-an-icon-to-a-mingw-gcc-compiled-executable

[2020-06-20 19:47] chandratushu21 commented on #777
@morevnaproject Roger that sir ! On it.. 😊
First trying to study and figure out code.

[2020-06-20 20:20] tjb7 opened #1506 "Mlt libraries not properly found by CMAKE"
**Synfig version & platform**:

commit ce37dbe4ff9c15b4b5b16a1b9293e7ec48ccb6a9 (HEAD -> testing, origin/testing) [current testing]

arch linux

**Issue description**:

mlt libraries are not properly found on linux system

workaround: execute the following before building
export CPATH="$CPATH:/usr/include/mlt++:/usr/include/mlt/"

Probably does not have anything directly to do with synfig as the f

[2020-06-20 22:50] FirasH commented on #1126
I tried to fix this issue and here is the current result:
![mockup-1126](https://user-images.githubusercontent.com/6705690/85212953-6028c500-b358-11ea-9931-fd1c815d06a6.png)

Still, no idea how to connect signals to change the value of `App::resize_imported_images` when `Gtk::Switch` is toggled... Need to read some docs to understand how it works.
If anyone has an idea it would save a lot of time

[2020-06-21 00:20] FirasH commented on #1126
Now it's connected and appears to work consistently... Let me know if it's correct :+1:

[2020-06-21 09:47] #1368 closed

[2020-06-21 09:51] ice0 commented on #1506
Hi, @tjb7!

Thanks for pointing to this. I will take a look.

[2020-06-21 16:27] morevnaproject commented on #1126
I tested and  it works perfectly!

[2020-06-24 04:33] ice0 opened #1509 "[CMake] Downgrade requirements to version 2.8"
Since we need to maintain stable old versions of Linux, we need to lower the CMake requirement to version 2.8.

[2020-06-24 13:03] Keyikedalube opened #1511 "[CMake] Missing icons"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
After successfully building synfig and running it... icons are missing

![Screenshot from 2020-06-24 18-23-14](https://user-images.githubusercontent.com/24214509/85560789-a035c380-b648-11ea-87bc-d95057f51f44.png)

I think you guys forgot to update the other build script
From #1483:

[2020-06-24 16:07] AYESDIE commented on #1511
Did you try building `build_images` target?

[2020-06-24 18:43] RezaSh13 opened #1513 "synfigstudio-git compiling from aur"
I wanna install synfigstudio-git, But when compiling, it needs more than 4 gigs. Please introduce a repo that offers a binary version؛ the appimage version has a problem for me and it takes a long time to run

Please add the synfigstudio-testing to Snap and Flatpak

Manjaro KDE Plasma

:(

[2020-06-24 22:28] Keyikedalube commented on #1511
Yup, found out the icons were installed in the old directory `pixmaps/synfigstudio`

https://github.com/synfig/synfig/blob/2ce6c92c88dbb039e3d4b2df6df6884f81c63aba/synfig-studio/images/CMakeLists.txt#L266-L268

rodolforg has moved them to new directory `/share/synfig/icons/classic` in the Autotools version
There is an ongoing WIP to migrate from deprecated StockID & IconFactory to IconTheme #1508

[2020-06-24 22:55] Keyikedalube commented on #1063
The best alternative solution would be generating a similar `org.synfig.synfigstudio-development.desktop` file and installing it in ~/.local/share/applications/ directory

We could do the same strategy like gnome development/nightly apps do
![Screenshot from 2020-06-25 04-22-04](https://user-images.githubusercontent.com/24214509/85635455-87a2c900-b69b-11ea-88cf-83c340194078.png)

[2020-06-24 23:00] Keyikedalube commented on #1414
A temporary fix for the meantime:

`env GDK_BACKEND=x11 <path-to-synfig-executable>`

Thumbnail placement works correctly just like as it would on GNOME X11 session

[2020-06-25 01:55] Keyikedalube commented on #1511
Noticed a slight behavior change with locks & links icons from CMake build
# Expected
![Screenshot from 2020-06-25 07-18-45](https://user-images.githubusercontent.com/24214509/85644540-dc067280-b6b4-11ea-95b6-92b87b96cb70.png)

# Result
![Screenshot from 2020-06-25 07-18-19](https://user-images.githubusercontent.com/24214509/85644543-df016300-b6b4-11ea-84c2-f7dfb0163cb8.png)

[2020-06-25 02:14] rodolforg commented on #1511
Yes :( I said in PR comments I didn't touch CMake. I don't know CMake :( a lot of commands

[2020-06-25 02:28] Keyikedalube commented on #1511
@rodolforg No worries ;) that's what contributors are for... delegating task.

[2020-06-25 05:45] #1227 closed

[2020-06-25 15:34] #1511 closed

[2020-06-26 11:54] #1071 closed

[2020-06-26 18:47] #1249 closed

[2020-06-27 17:56] strujillodv commented on #1513
Hi, how are you?

You can install synfig manually.

$ git clone https://github.com/synfig/synfig.git ~ / synfig.git
$ cd ~ / synfig.git
$ ./1-setup-linux-native.sh

[2020-06-29 01:24] rodolforg commented on #1480
@morevnaproject
Could you take a look at this test file?
All drawn lines are advanced outlines with three equally spaced vertices and two width points (positions 0.1 and 0.9)
I change the Side Type Before of first (left) width point and the  Side Type After of the last (right) width point.

Is this behavior correct?

[not-looped-advanced-line-tip-test.zip](https://github.com/synfig/synfig/files/48

[2020-06-29 05:47] rodolforg commented on #1480
Looped advanced-outline layers with 3 vertices and 2 width points (called here as WP).
I changed the `Side Type Before` of the first WP and the `Side Type After` of the last WP as shown. The remaining `side type`s are set `Interpolation`.
I also changed the position of both WP as also shown.

So we can notice that the specific cases of WP in the boundaries are an issue.
Other issue is that the `sh

[2020-06-29 05:55] rodolforg commented on #1480
I colored to highlight what is wrong (red) and what is right (green) regarding the WP positions and the cuspid shape.
![looped-advanced-line-tip-test](https://user-images.githubusercontent.com/1323987/85977858-c98d8100-b9b3-11ea-9dfa-9388b5495516.png)
[looped-advanced-line-tip-test.zip](https://github.com/synfig/synfig/files/4844044/looped-advanced-line-tip-test.zip)

[2020-06-30 15:49] Agnyy commented on #1458
It turns out to make a theme?

[2020-07-01 09:37] morevnaproject commented on #1480
@rodolforg Thank you so much! I am investigating this issue now... ^__^

[2020-07-01 11:37] morevnaproject commented on #1458
@Agnyy You can follow current progress in this PR ^__^ - https://github.com/synfig/synfig/pull/1508

[2020-07-01 15:09] morevnaproject opened #1517 "Synfig cannot open files with arabic filenames (Windows)"
**Synfig version & platform**:
1.3.x and master

**Issue description**:
Synfig can open files with Russian filenames (on Russian locale), but fails to open if filename has Arabic characters.

[2020-07-01 15:10] morevnaproject commented on #1517
I checked - it works fine in GIMP.
Investigating this file - https://github.com/GNOME/gimp/blob/mainline/app/main.c ...

[2020-07-01 15:11] morevnaproject commented on #1517
This is an interesting piece of code - https://github.com/GNOME/gimp/blob/mainline/app/main.c#L524-L528

Found this - `g_win32_get_command_line ()` - https://developer.gnome.org/glib/stable/glib-Windows-Compatibility-Functions.html#g-win32-get-command-line

[2020-07-01 22:27] rodolforg commented on #1458
I step aside from it for a while, because maybe I should change other stuff too.
And, because of these "structural" changes, I think it's better to help to release the next stable version first, otherwise the "public" test (ie. development version) with a lot of important/core changes will be delayed even more - and that means the possibility to accumulate a LOT of issues and bugs, as we have now

[2020-07-03 01:04] rodolforg commented on #1513
Or change the last 2 command lines to :
[code]
To a smaller (and a little faster) binary and building files.

[2020-07-03 01:04] rodolforg commented on #1504
Fixed?

[2020-07-03 07:21] morevnaproject commented on #1504
Fixed! ^__^

[2020-07-03 07:21] #1504 closed

[2020-07-03 09:53] krisnaxda opened #1520 "Synfig 1.2.2 won't open"
**Synfig version & platform**:
SynfigStudio-1.2.2-18.09.14-linux64-286f1.appimage
Linux Mint 19.2 64bit
**Issue description**:
already set appimage executable, but synfig won't open it says

[code]

![image](https://user-images.githubusercontent.com/30945632/86457194-761d8900-bd4d-11ea-969a-87de57f192aa.png)

[2020-07-03 23:16] Jose-Moreno commented on #1520
@krisnaxda Can you try these linux development appimages for version 1.3.14 to see if you still have similar errors?
[Linux AppImage 32bit](https://www.fosshub.com/Synfig-Development.html?dwl=SynfigStudio-1.3.14-testing-2020.04.30-linux32-b2662.appimage)
[Linux AppImage 64bit](https://www.fosshub.com/Synfig-Development.html?dwl=SynfigStudio-1.3.14-testing-2020.04.30-linux64-b2662.appimage)

[2020-07-04 03:56] ice0 commented on #1506
@tjb7 just checked on clean Arch installation - all works fine.

Can you show output of this commands:
`pkg-config --cflags mlt++`
and
`locate mlt++.pc`

[2020-07-04 04:53] rodolforg commented on #1412
Sure it can

[2020-07-04 05:00] rodolforg commented on #1412
Sadly I can't crosscompile since Gtk gave up on official windows binaries and dev packages

[2020-07-04 05:18] krisnaxda commented on #1520
yes, it return like this
[code]

[2020-07-04 08:21] #1146 closed

[2020-07-04 08:53] morevnaproject opened #1522 "Calling "Disconnect" action on any WidthPoint results in corrupted file"
**Synfig version & platform**:
Version 1.0.2 and above (including current master - 850aa0ad77c2a343e5bc40bee95b48847c6ee63e)

**Issue description**:

1. Open any file with Advanced Outline layer.
2. Right-click any WidthPoint on Advanced Outline Layer and choose "Disconnect".
3. Save file and close.
4. Try to open file again and the following error appears:

![screenshot_001](https://user-images.g

[2020-07-04 11:46] morevnaproject opened #1523 "WidthPoints are incorrectly interpolated on non-homogenous Advanced Outline"
**Synfig version & platform**:
Master branch (4aab7317323adb9aeb7a7e78e1e30a9ca00991e2)
(I have tested with patch from #1518, but the issue also happens without this patch)

**Issue description**:

When Advanced Outline has Homogenous parameter disabled, its thickness changes not corresponding to widthpoints.
This is especially visible when you use flat cusps:

![screenshot_001](https://user-image

[2020-07-04 12:03] Keyikedalube opened #1524 "[CMake] splash_screen icon build fails"
**Synfig version & platform**:
Building from master
Debian sid

**Issue description**:
*splash_screen.sif* depends on another linked file *logo.sif*
With CMake, synfig is trying to find that linked file inside the out-of-source build directory
[code]

![Screenshot from 2020-07-04 16-27-15](https://user-images.githubusercontent.com/24214509/86511410-7c2b6c80-be16-11ea-8508-322437fa4c8f.png)

# Manu

[2020-07-04 12:52] morevnaproject commented on #1480
I can see there are two different issues here.

First one -  line visible where is shouldn't - is addressed in #1518.

Second issue is in looped spline (triangle) - the position of animated widthpoint is wrong. This is related to  issue discussed in https://github.com/synfig/synfig/issues/314#issuecomment-603739718. It was fixed, but seems it still appears for cases when widthpoint is animated. Ne

[2020-07-04 16:01] RezaSh13 commented on #1090
/usr/bin/ld: synfigstudio-workarea.o: in function `studio::WorkArea::on_key_press_event(_GdkEventKey*) [clone .cold]':
workarea.cpp:(.text.unlikely+0x19c7): undefined reference to `studio::LockDucks::~LockDucks()'
/usr/bin/ld: synfigstudio-workarea.o: in function `studio::WorkArea::on_drawing_area_event(_GdkEvent*) [clone .cold]':
workarea.cpp:(.text.unlikely+0x2001): undefined reference to `studi

[2020-07-04 16:02] RezaSh13 commented on #1090
`Duckmatic::is_duck_group_selectable(etl::handle<studio::Duck> const&) const'
/usr/bin/ld: renderer_dragbox.cpp:(.text+0x2314): undefined reference to `studio::Duckmatic::select_duck(etl::handle<studio::Duck> const&)'
/usr/bin/ld: renderer_dragbox.cpp:(.text+0x2355): undefined reference to `studio::Duckmatic::unselect_duck(etl::handle<studio::Duck> const&)'
/usr/bin/ld: workarearenderer/synfigstud

[2020-07-04 16:03] RezaSh13 commented on #1090
[code]

[2020-07-04 17:31] rodolforg commented on #1480
I don't think it is wrong.
The Sif file was created in 1.3.14. Opening it in 1.2 will always have this problem.
The inverse (file 1.2 in 1.3.14) was fixed

[2020-07-04 19:46] #1524 closed

[2020-07-05 01:12] Jose-Moreno commented on #1520
@krisnaxda Thanks, by testing that the developers can verify that the bug is still present and prioritize it. I also found an older issue where the program crashes when saving with a similar error in Ubuntu and with an AppImage as seen in https://github.com/synfig/synfig/issues/417

So it seems this problem could not only be a linux only problem, probably even an AppImage only problem.
If that is

[2020-07-05 06:03] morevnaproject commented on #1520
I am on Linux Mint 19 (but not 19.2) and appimage 1.2.2 works fine for me...

[2020-07-05 12:48] #1523 closed

[2020-07-05 13:13] FirasH commented on #1522
Confirmed with master fb84c92

[2020-07-05 14:22] morevnaproject commented on #1480
Hey, you right! False alarm. :smile:
That's great!

[2020-07-05 15:51] morevnaproject commented on #1412
We need to checkif the issue takes place on non-portable installation. If it appears on portable installation only, then there is no reason to deal with it - as the problem is not with binary, but in bat file.

[2020-07-05 15:58] ice0 commented on #1412
I think the problem will be solved when we add the icon to synfigstudio.exe

Here is what I got when I tried to set the icon:

![no-icon](https://user-images.githubusercontent.com/5604544/86536555-cb56c780-bf12-11ea-9f23-cd5810428e69.png)

[2020-07-05 18:52] ice0 commented on #1412
We can add the .rc file to the CMake project to add an icon. Moreover, thanks to this, we can add additional information to the file.

![synfig-icon2](https://user-images.githubusercontent.com/5604544/86539869-48416b80-bf2a-11ea-8955-7bf44c8217de.png)

To do that we need to compile synfigstudio.rc using `windres` (MSYS/MinGW):
[code]
and add it to g++:
[code]

CMake can do that automatically.

**s

[2020-07-06 02:15] tjb7 commented on #1506
Thank you for looking into this:

pkg-config --cflags mlt++
-I/usr/include/mlt++ -I/usr/include/mlt -D_REENTRANT

locate mlt++.pc
/usr/lib/pkgconfig/mlt++.pc

[2020-07-06 03:06] krisnaxda commented on #1520
@Jose-Moreno - thank you, I will try as soon as possible after getting a stable connection

@morevnaproject - what version are you use? and what DE?

[2020-07-06 07:50] morevnaproject commented on #1520
@krisnaxda It says this:

[code]

I am using Mate DE (Mate Edition).

[2020-07-06 16:51] RezaSh13 commented on #1090
I finally compiled it

PATH=$PATH:/var/tmp/pamac-build-lxclxd/synfigstudio-git/pkg/synfigstudio-git/usr/share

[2020-07-06 16:51] #1090 closed

[2020-07-06 16:53] #1513 closed

[2020-07-06 16:54] #1030 closed

[2020-07-07 09:28] morevnaproject commented on #1198
So, the process got stuck at 74%. Anyone can help with final push? ^__^

[2020-07-07 10:33] morevnaproject opened #1535 "[Skeleton Tool] Add button for creating new Skeleton layer into Tool Options Dialog"
![screenshot_003](https://user-images.githubusercontent.com/332868/86768481-dbd48280-c077-11ea-8f97-2b37642fd88c.png)

This button will create a new skeleton layer and makes it active (selected).

This is useful if user has some Skeleton Layer selected, but wants to create a new one.

[2020-07-07 10:38] morevnaproject opened #1536 "[Skeleton Tool] Visible bone when user does click-and-drag"
When user creates a new bone with click-and-drag, there should be a visible bone, which is changing its size according to mouse movements.

Similar feedback currently is possible using Spline Tool - it displays vertex and tangent dynamically. But currently for Skeleton Tool this not works.

See video for demonstration - https://youtu.be/TIYmL2518M8

[2020-07-07 10:47] morevnaproject opened #1537 "[Skeleton Tool] Undo not working for Skeleton Tool"
Currently it is not possible to undo actions made by Skeleton Tool.

[2020-07-07 10:48] morevnaproject opened #1538 "[Skeleton Tool] Unable to activate bone"
I am unable to set active bone at some circumstances. Here I am attaching file ([set-active-bone-bug.sifz.zip](https://github.com/synfig/synfig/files/4857180/set-active-bone-bug.sifz.zip)), where I cannot set this bone as active -
![screenshot_001](https://user-images.githubusercontent.com/332868/86232650-78051200-bbbe-11ea-89f0-04d132eee786.png)
When I click this bone it creates new bone instead.

[2020-07-07 13:48] morevnaproject opened #1539 "[Skeleton Tool] Implement "Set as Parent to Active Bone" command"
As explained here - https://github.com/synfig/synfig/pull/1485#issuecomment-651741917

[2020-07-07 13:50] morevnaproject opened #1540 "[Skeleton Tool] Fix indentation in PR #1485"
Remove all changes non related to Skeleton Tool (which changes indentation only).

[2020-07-07 13:53] morevnaproject opened #1541 "[Skeleton Tool] Implement functionality of "Default Bone Width" parameter"
![screenshot_006](https://user-images.githubusercontent.com/332868/86791576-e270f300-c093-11ea-9063-ccbb506d6842.png)

[2020-07-07 14:03] #1184 closed

[2020-07-07 14:34] morevnaproject opened #1542 "[Skeleton Tool] Bones placed incorrectly when Skeleton Layer is transformed"
When Skeleton Layer is placed inside of transformed group then tool places bones incorrectly.

Demonstration video - https://youtu.be/8iSq5Yg5fjI

[2020-07-07 14:40] morevnaproject opened #1543 "[Skeleton Tool] Allow to create Skeleton Deformation layer"
There should be an option to create Skeleton Deformation layer using Skeleton Tool.

The option can be like a choice:

![screenshot_007](https://user-images.githubusercontent.com/332868/86797748-3da5e400-c09a-11ea-9e3b-7bab1ad1ddb1.png)

This choice takes in effect in 2 situation:
1. When currently selected layer is not Skeleton or Skeleton Deformation (then it will create a layer of chosen type w

[2020-07-07 15:06] morevnaproject commented on #1449
I've got a (crazy) idea on how to solve this. What if we will modify code of OpenToonz and "teach" it to save/read layers into "sif" format instead of "PLI"?

[2020-07-07 15:56] Aa20475 commented on #1540
I think this is done.

[2020-07-07 15:56] #1540 closed

[2020-07-07 18:55] Aa20475 commented on #1538
@morevnaproject  Can you please verify now? Check PR #1485

[2020-07-08 04:21] morevnaproject commented on #1540
Looks good now! Thank you!

[2020-07-08 04:21] morevnaproject commented on #1538
Testing now!

[2020-07-08 10:23] Aa20475 commented on #1541
Please verify this @morevnaproject . PR #1485

[2020-07-08 11:12] Aa20475 commented on #1542
Hey! Can you help me with this?

[2020-07-08 11:16] Aa20475 commented on #1543
Does this apply to normal click actions too?

[2020-07-08 13:57] Aa20475 commented on #1537
Hey!

As you suggested, I've referred to `canvas_interface` to see what I can do. So I thought it this way:

- Add a signal that is emitted whenever active bone is changed.
- Connect that signal in `canvas_view` in which I'll add a function that'll process the active bone signal.
- Add a new action `valuedescsetactivebone`, as you said, which will trigger that signal.
- Use passive grouper to perf

[2020-07-08 15:36] morevnaproject commented on #1537
I suggest to make it this way:

Check `CanvasViewUIInterface` class -
![screenshot_001](https://user-images.githubusercontent.com/332868/86938695-e1f75b80-c16a-11ea-91e8-4e8371ed4a3f.png)

This is a class which is returned when action call `get_canvas_interface()`.

You can add `set_active_bone` function to `CanvasViewUIInterface` class.
`CanvasViewUIInterface` has access to `CanvasView`, so it ca

[2020-07-08 15:37] morevnaproject commented on #1543
Yes, this apply when user creates first bone and when currently selected layer is not Skeleton or Skeleton Deformation. User can create first bone with click or click-and-drag.

[2020-07-08 15:46] morevnaproject commented on #1542
You need to take into account transformation, which is defined by the parent group.

So, when group is transformed then Skeleton Layer residing in different coordinates, than workarea coordinates.
That means you need to apply reverse transformation to your coordinates.

I suggest to take a look at code of Circle Tool as example of how this done -
![screenshot_002](https://user-images.githubusercon

[2020-07-08 15:47] AYESDIE commented on #1402
Closed by #1519.

[2020-07-08 15:47] #1402 closed

[2020-07-09 08:56] mbasaglia commented on #1449
Doing that might be even harder because it'd require knowledge of OpenToonz internals

[2020-07-09 09:29] morevnaproject commented on #1449
I think we can find someone who can do that for us. If needed his efforts can be paid from [our balance at OpenCollective](https://opencollective.com/synfig#section-budget). And it looks like I know who is capable to do that...

[2020-07-09 09:37] morevnaproject commented on #1449
@ankit-kumar-dwivedi how are you doing? ^__^

[2020-07-09 10:06] ankit-kumar-dwivedi commented on #1449
Hi @morevnaproject I am well Thank You!!

could you explain it more to us ?
Maybe I can help with this [^_^]

[2020-07-09 10:26] morevnaproject commented on #1449
@ankit-kumar-dwivedi The idea is to modify code of OpenToonz to make it capable to write into SIF format in the same way as it writes into PLI.
The advantage of SIF format is that it is XML and can be easily parsed by other apps. And can be opened in Synfig. ^__^

I expecting that you contribute your code to OpenToonz Morevna Edition repository, because passing it into official version can hit som

[2020-07-09 10:53] Aa20475 commented on #1543
Please verify this in the latest commit if these are working as you said.  :D @morevnaproject

[2020-07-09 11:16] morevnaproject commented on #1449
The main problem in this project can be the following:

OpenToonz uses different concept for handling **fills**, than Synfig.

In Synfig fill is just a region defined by a spline.
In OpenToonz fill is attached to outlines and defined by their positions. To be honest I do not know much about structure - how fills information is stored in OpenToonz.

So, I suggest to split this work into stages:

1.

[2020-07-09 12:01] morevnaproject commented on #1543
Hi! Tested it and there is one issue:

It shouldn't create any layer when user has some skeleton layer selected (Regular or Deformation).
It should work with currently selected layer in this case.

It should create new layer (of chosen type) only when user has non-skeleton layer selected. ^__^

[2020-07-09 12:03] morevnaproject commented on #1538
It works good well now, thank you! ^__^

[2020-07-09 12:03] #1538 closed

[2020-07-09 12:04] morevnaproject commented on #1535
Tested it. I can see it creates a layer with one bone. Can we make it create a layer without a bone?

[2020-07-09 12:07] morevnaproject commented on #1541
It is working now. Thank you!

![screenshot_006](https://user-images.githubusercontent.com/332868/87038005-538ce380-c217-11ea-9b4b-b165b0ebba77.png)

[2020-07-09 12:07] #1541 closed

[2020-07-09 12:08] morevnaproject opened #1546 "[Skeleton Tool] Name in Paremeter Panels has no effect"
![screenshot_005](https://user-images.githubusercontent.com/332868/87038116-7c14dd80-c217-11ea-9832-2f693345a842.png)

Name field should define name of newly created layer. ^__^

[2020-07-09 12:19] Aa20475 commented on #1546
Alright! Will fix that! 😅

[2020-07-09 12:21] Aa20475 commented on #1543
Ohh I thought it the other way. If he chooses a skeleton layer and is working with a deform, then we'll make a skeleton layer 🤔 I guess this will more convenient?

[2020-07-09 12:25] morevnaproject commented on #1543
Yes, the approach I proposed in https://github.com/synfig/synfig/issues/1543#issuecomment-656085991 is more convenient for user.
The tool should adapt to current situation.

Otherwise user has to watch which type of layer he got selected in Tool Options Panel and compare it with currently selected layer. This is not convenient for user.

[2020-07-09 12:40] Aa20475 commented on #1543
All rightey! Will make the change!

[2020-07-09 13:55] morevnaproject commented on #1538
BTW, I like that the active bone is highlighted with yellow color now. ^__^

[2020-07-09 13:57] morevnaproject opened #1547 "[Skeleton Tool] When user clicks on workarea place bone vertically"
Currently, when user clicks on workarea the tool creates a bone and it is rotated horizontally -
![screenshot_007](https://user-images.githubusercontent.com/332868/87049041-ad48da00-c226-11ea-95c2-2e2858806042.png)

It is more common for animation software when bone is aligned vertically.
So, it will be better to align new bone like this -
![screenshot_008](https://user-images.githubusercontent.co

[2020-07-09 14:03] Aa20475 commented on #1538
I actually made that change a long time back, I forgot to push it :grimacing:  :sweat_smile:  Thanks! :D

[2020-07-09 14:34] Aa20475 commented on #1535
Hey!

If we have no bones initially, that means, there is no active bone. In that case, I was trying to use `ValueNodeStaticListInsert` to add a bone. But when there are no bones initially, I am not able to figure out how to do it. Can you guide me with this? :eyes:

[2020-07-09 14:58] Aa20475 commented on #1547
Hey!

Please verify this. Except for when a skeleton layer is created normally or when bone is drawn, all the other bones will be vertical.

[2020-07-09 14:59] Aa20475 commented on #1543
Please verify this too. :v:

[2020-07-09 18:19] Aa20475 commented on #1537
I thought `get_canvas_interface()` returns `CanvasInterface` from here. :thinking:

![image](https://user-images.githubusercontent.com/35968657/87075991-c52c5800-c23e-11ea-907b-db72ccfaee23.png)

[2020-07-10 04:08] kiddyfurby commented on #972
@morevnaproject Is there any chance you can re-upload the fixed build? the link is expired
Neither stable nor development version from https://www.synfig.org/ works.
Thank you!

[2020-07-10 05:05] rodolforg commented on #972
The fix is applied to versions > 1.3.12

[2020-07-10 05:17] kiddyfurby commented on #972
Sorry - I found that after posting my previous comments.

For whoever coming to this page, the download development versions button on synfig homepage doesn't bring you to the latest versions
try this page: https://github.com/synfig/synfig/releases

[2020-07-10 12:56] Aa20475 commented on #1542
So does this have effect on the parent bones `animated_matrix`  too?

[2020-07-10 13:57] morevnaproject commented on #972
It does. The link forwards you to page, where user can donate for download (1) or just go to download link (2) -
![screenshot_001](https://user-images.githubusercontent.com/332868/87162320-fa44b300-c2ef-11ea-817f-0d26a064196a.png)

In both cases you'll get latest development version 1.3.14.

[2020-07-10 14:08] morevnaproject commented on #1542
`animated_matrix` is calculated in coordinates _inside_ of the group.
So, you should apply reverse transformation of `curr_transfrom_stack` to `animated_matrix`.

[2020-07-10 15:23] morevnaproject commented on #1537
Oh, you right. I made a mistake. The correct is to call  `get_canvas_interface()_>get_ui_interface()`.

![screenshot_003](https://user-images.githubusercontent.com/332868/87169618-7512cb80-c2fa-11ea-93dc-5eb395dc2509.png)

After thinking about that again, I think it wasn't very good idea - to modify `CanvasViewUIInterface`.

Maybe you can try to use `signal_value_node_deleted`?
![screenshot_004](h

[2020-07-10 15:37] #1517 closed

[2020-07-10 15:37] morevnaproject commented on #1547
It works now, thank you! ^__^

[2020-07-10 15:37] #1547 closed

[2020-07-11 11:52] Aa20475 commented on #1537
Hey!

This works! But still the user can't undo setting of active bone. Do you think we need to make a separate action for it?

[2020-07-11 14:34] morevnaproject commented on #1537
Works perfectly! Congratulations!

I think it is okay that user can't undo setting of active bone. This is not necessary.

Closing this issue.

[2020-07-11 14:36] morevnaproject opened #1549 "[Skeleton Tool] Bone should become active when user clicks on any of its controls"
When user clicks on (or modifies) any bone's control point (origin/angle/length) then that bone should become active.

[2020-07-11 15:51] Aa20475 commented on #1537
OMG! I just added that :grimacing:  Also, as `valuedesccreatechildbone` is derived from `super` we can't implement `undo()` :cry:  So I had to make a new action and add it into createChildBone. There is still one issue though, undoing the create_layer action is crashing Synfig. I'll try to fix it, only if you want me to :eyes: :sweat_smile:  Else I'll revert it back.

[2020-07-11 15:55] Aa20475 commented on #1549
So.. ducks will have the same function but when the user uses a duck to change the bone.. the bone is set to active?

[2020-07-11 18:02] Aa20475 commented on #1537
I fixed the undo tooo! We can revert back if you want.. but I think this active bone undo will be useful too :thinking:

[2020-07-11 19:47] BobSynfig commented on #1520
Please check your permissions on /tmp
They should be root:root and 777

[2020-07-12 03:30] krisnaxda commented on #1520
yes it say like this

[code]

[2020-07-12 07:52] #1480 closed

[2020-07-12 07:54] morevnaproject opened #1550 "Bad quality of Advance Outline bends (comparing to 1.2.2)"
**Synfig version & platform**:
Master branch, id f4a59e9

**Issue description**:

Example file -
[linea2.sifz.zip](https://github.com/synfig/synfig/files/4908181/linea2.sifz.zip)

Here is how the line bend looks in 1.2.2 -
![screenshot_001](https://user-images.githubusercontent.com/332868/87241538-676e5a80-c44e-11ea-9b49-3dffb726b2a2.png)

...and here is in current master -
![screenshot_002](https

[2020-07-12 08:16] ice0 commented on #1520
Just checked on 19.3 - all works fine.
How much memory do you have?
Can you show backtrace from core dump?

[2020-07-12 09:17] BobSynfig commented on #1520
Try to _(backup_ first _and)_ remove your ~/.config/dconf/user
It is often recommended in case of  "Bus error (core dumped)"

Do other .appimage applications work properly on your system?

[2020-07-12 10:55] krisnaxda commented on #1520
@ice0
i am using 19.2 Mate, this is my memory usage, sorry i don't know how to show backtrace
![image](https://user-images.githubusercontent.com/30945632/87244444-9b09ae80-c467-11ea-8d30-5459c4a6f3e9.png)

@BobSynfig
already delete user file, and try other .appimage and working, i try other unofficial synfig studio 1.2.1 from linux mint software manager and work
but when i try synfig from appimage

[2020-07-12 11:52] FirasH commented on #1479
@morevnaproject can we close this report?

[2020-07-12 12:03] FirasH commented on #1329
Fixed in f4a59e9, closing.

[2020-07-12 12:03] #1329 closed

[2020-07-12 12:05] FirasH commented on #1314
Cannot reproduce with f4a59e9 on openSUSE 15.2

[2020-07-12 14:29] morevnaproject commented on #1479
Yes! Thank you! ^__^

[2020-07-12 14:29] #1479 closed

[2020-07-12 14:33] morevnaproject commented on #1549
Yes. I think this is logical - the last touched bone is marked as "active".

The second reason for that is that sometimes it is hard to click on bone to activate it (sometimes I mis-click and as result new bone is created). Clicking on duck is simpler to hit. ^__^

[2020-07-12 14:34] morevnaproject commented on #1537
Ah, well, that's great! Let me test it to see how it works... Thank you!

[2020-07-12 14:38] morevnaproject commented on #1520
@krisnaxda Can you try to create a new user, login under its name, download appimage and try to launch appimage from there?

[2020-07-12 14:55] Aa20475 commented on #1539
Hey... Can you check this too?

[2020-07-12 15:22] BobSynfig commented on #1520
I just tried from a fresh VM: 4 cores, 4 Gb Ram, 128Mb Gfx
Mint 19.2 x64 MATE (not installed, live)
SynfigStudio-1.2.2-18.09.14-linux64-286f1.appimage from Github

Runs perfectly from console or from file manager, the only error messages are the "classical ones" about Fontconfig

I will install, update and check again in case some libs have changed

[2020-07-13 04:30] krisnaxda commented on #1520
@morevnaproject
still return error like before

@BobSynfig
yes i got that looping message too when first time i run the synfig.appimage, also the synfig studio icon not showing in mintmenu

[2020-07-13 05:46] rodolforg commented on #231
The problem here is called by RendererDuck trying to render a duck of the exported valuenode, by using an invalid (outdated) ValueDesc: it refers to a valuenode name that doesn't exist anymore.

[2020-07-13 08:34] Keyikedalube commented on #928
I think
[code]
will be much simpler for devs
Because for first build we have to individually execute build_images, build_pofiles, & plugins_xml target
Otherwise, make install will fail

An alternative to running synfig | synfigstudio
[code]
With that one line command, it's easier to recursively search and execute synfig built with CMake ;)

[2020-07-13 09:50] ice0 commented on #928
Hi!

Can you check is it still needed?
[code]

[2020-07-13 10:19] Keyikedalube commented on #928
Without LD_LIBRARY_PATH
[code]

It's still needed. Contains cmake/, libsynfigapp.so, libsynfig.so, & synfig/

[2020-07-13 10:54] morevnaproject commented on #1449
@ankit-kumar-dwivedi I think you can start by declaring a new output type in `tiio.cpp`:
![screenshot_002](https://user-images.githubusercontent.com/332868/87296998-eb4d4300-c531-11ea-8a02-1a56c7bf908b.png)

[2020-07-13 14:04] Keyikedalube opened #1552 "Implement canvasproperties glade file"
**Synfig version & platform**:
Building from master branch
Debian sid

**Issue description**:
To ease UI designers, it's wise to separate the handwritten UI code from canvasproperties.cpp to its own glade (UI) file
And implement only the logic inside the .cpp file

That way it'll be much easier to focus only on the design aspects without having to refer to GTKMM API docs all the time

[2020-07-13 14:12] Keyikedalube commented on #1552
I'm experimenting/working on this issue ;)

[2020-07-13 14:37] morevnaproject commented on #1537
I have tested it and I like the way it works. This is actually useful to  have additional action for "Set Active Bone". Thanks and congrats! ^__^

[2020-07-13 14:37] #1537 closed

[2020-07-13 14:43] morevnaproject commented on #1539
tested and I can confirm that it has a weird issue with origin.

Also, you have to do additional checks to avoid circular dependencies: i.e. when A parent for B, B parent for C, and C parent for A. ^__~

[2020-07-13 15:12] morevnaproject commented on #1535
Can you use `ValueNodeStaticListInsert` in the same way as it is used  in `valuedesccreatechildbone.cpp`? -

https://github.com/synfig/synfig/blob/8c19653c0e273085acd23f6bf7b9221694808b09/synfig-studio/src/synfigapp/actions/valuedesccreatechildbone.cpp#L220-L235

[2020-07-13 15:19] morevnaproject commented on #1543
I have tested and now it works as expected, thank you!

There is also one more thing to fix:

Consider that in Skeleton Deformation layer every bone is actually a pair of two bones:
![screenshot_001](https://user-images.githubusercontent.com/332868/87321448-704a5380-c556-11ea-8a2f-e0fc51a17baa.png)

First bone is "initial position" - i.e. bone placement at undeformed status. This is same as "rest

[2020-07-13 15:40] morevnaproject opened #1553 ""Import Image Sequence" function: Detect similar images"
Thanks to contribution of @Aa20475, we now have ability to import image sequences into Synfig using "File" -> "Import Image Sequence" menu command.

Sometimes I have an image sequences where some frames are very similar (but not identical).

It would be nice to add an option, which define an acceptable difference in frames to consider them identical.

I.e. if parameter is "0.02", then every pixel

[2020-07-13 15:45] Aa20475 commented on #1539
Yep will fix that!

[2020-07-13 15:46] Aa20475 commented on #1543
Okay I didn't know that 😬 will fix it!!

[2020-07-13 15:47] Aa20475 commented on #1535
Okay will give it a shot!

[2020-07-13 15:47] morevnaproject opened #1555 "[Skeleton Tool] Inuitive linking of elements"
I suggest to brainstorm how we can make it intuitive the process of linking groups (and other elements) to bones. ^__^

Ideas welcome!

[2020-07-13 15:57] morevnaproject opened #1556 "[Skeleton Tool] Trigger visibility of Width Points depending on conditions"
Notice, when we use Width Tool, Synfig automatically enables visibility of Width control points and disables all other control points. See in this video - https://youtu.be/eOPvFRg0FbQ

When constructing Skeleton Deformation layer the visibility of Wodth Points is also very important.

So, I suggest that the Skeleton Tool will enable visibility of Width control points automatically when user works

[2020-07-13 16:00] morevnaproject commented on #1543
Yes, that's functionality details I didn't told you earlier, so you can concentrate on "one small step at once", instead of giving you a "one big task". ^__^

[2020-07-13 16:03] morevnaproject opened #1557 "[Skeleton Tool] Use single parameter to define bone width"
I have played a bit with current Skeleton Tool and I found that it will be more convenient to have one single parameter for bone width, instead of two separate parameters for origin and tip.

![screenshot_005](https://user-images.githubusercontent.com/332868/87326522-097c6880-c55d-11ea-8fca-e48b8567ea1a.png)

Can you change that, please? ^__^

[2020-07-13 16:05] morevnaproject commented on #1557
After thinking again on that, I got another idea:

It would be nice to have 2 parameters, but one will define width (tip and origin) for bones created in Regular Skeleton Layer, and second parameter will define width  (tip and origin) for Skeleton Deformation layer.

Also, it would be nice to temporary hide one parameter, depending on which layer type we are working with. ^__^

[2020-07-13 16:07] morevnaproject opened #1558 "[Skeleton Tool] Remove "Create Child Bone" action menu"
I suggest to remove this action menu after work on Skeleton Tool will be completed.

So, it is supposed that user should use Skeleton Tool to add new bones and this makes consistent workflow.

[2020-07-13 16:09] morevnaproject opened #1559 "[Skeleton Tool] Write documentation for Skeleton Tool"
Write user documentation page about functionality of Skeleton Tool here - https://synfig.readthedocs.io/en/latest/index.html

[2020-07-13 16:09] morevnaproject opened #1560 "[Skeleton Tool] Video tutorial"
Create a short demonstration video, showing Skeleton Tool in action.

[2020-07-13 16:12] morevnaproject commented on #1560
In fact, there could be two tutorials:

- [ ] Video showing creation of simple Skeleton Layer
- [ ] Video showing creation of Skeleton Deformation Layer (deforming some image)

[2020-07-13 17:38] rodolforg commented on #1552
@Keyikedalube Great :D

Synfig Custom widgets should support GtkBuilder (it should be Gtk::Buildable). I made something here 025eec22 for Widget_Time - this allow us to refer to them on Glade too (but with a placeholder - not the real appearance)

I converted a dialog to UI here 9207c07d .

Ideally, we would have a library (.so/dll/dynlib) for collecting custom widgets to be able to preview better

[2020-07-13 18:03] BobSynfig commented on #1520
3.3Gb RAM ?
Looks like upper limit reachable with 32-bit OS...
Are you sure to run a 64-bit OS?
It could explain "Bus error" due to incompatible architecture https://en.wikipedia.org/wiki/Bus_error
What give `uname -a` and `lscpu` ?

[2020-07-14 11:26] morevnaproject commented on #1549
Hi! I tested last commit in skeleton_tool branch (8a2f44b9e2725cdecc137).
The bone is highlighted when I click its control point, but it doesn't really set as active. Here is a video illustrating the problem - https://youtu.be/RH2NPuTf4Ug

[2020-07-14 11:31] morevnaproject commented on #1543
It works as expected now with commit 8a2f44b. Thank you!

[2020-07-14 11:31] #1543 closed

[2020-07-14 11:43] Aa20475 commented on #1549
Ohhh!! I thought I did that! Okay! Will check it out!

[2020-07-14 12:23] morevnaproject commented on #1549
Also, please try to avoid doing 2 or more fixes in one commit. In 8a2f44b there are fixes for two issues at once and that makes hard to understand the changes. One commit for one fix is always a good idea. ^__^

[2020-07-14 12:36] Aa20475 commented on #1549
hey! Please test this in the latest commit!

[2020-07-14 12:36] Aa20475 commented on #1557
hey! Please test this in the latest commit!

[2020-07-15 15:58] Keyikedalube commented on #1552
I'm trying to separate GammaPattern from [renddesc.cpp](https://github.com/synfig/synfig/blob/a74530f8ed068502a6940ade6efa6d57afe943fa/synfig-studio/src/gui/renddesc.cpp#L84) to its own source file but I'm stuck with this error

I believe this include is the correct one to successfully build GammaPattern class

https://github.com/synfig/synfig/blob/a74530f8ed068502a6940ade6efa6d57afe943fa/synfig-s

[2020-07-15 17:53] ice0 commented on #1552
You need to use `synfig::Gamma`, it added indirectly via `using namespace synfig;`

[2020-07-15 21:11] FadhilKwan opened #1562 "Synfig's Onion Skin Works Differently"
**Synfig version & platform**:
1.3.15 on Win10 (64bit)

**Issue description**:
Instead of showing onion skins for **Only Keyframes**, Synfig's onion skin setting shows onion skins of **Every Frame**,

I'm not sure if this is a bug (i'm pretty sure it is), but i'll post it anyway...

Here's an example on version stable 1.2.2, with onion skin turned on and showing just 1 past keyframe, and the time

[2020-07-15 21:53] Aa20475 commented on #1535
Hey!

I actually tried this. I used `Action::Group` and added `ValueNodeStaticListInsert` and `ValueDescSetActiveBone` to it. But I don't think it is undoable. What do you think?

Also, do you think it's important to have no bones? I think it's fine to have something to start with :sweat_smile:

[2020-07-15 22:13] Aa20475 commented on #1546
It's working :+1:  Please verify now

[2020-07-16 01:52] Keyikedalube commented on #1552
@ice0 Thanks! How stupid of me. I did not notice that I inserted `using namespace synfig` in the .cpp implementation file and I missed the error message indicating .h
I was too tired and a bit desperate ;P

Anyway, so much thanks for the pointer!

[2020-07-16 02:30] rodolforg commented on #1552
Why are you including `synfig/renddesc.h` instead of `synfig/gamma.h`?

[2020-07-16 03:39] krisnaxda commented on #1520
4gb ram, and running 64-bit OS

![image](https://user-images.githubusercontent.com/30945632/87623840-815eb480-c750-11ea-9e29-267159bc1d06.png)

[2020-07-16 11:48] morevnaproject commented on #1546
Hi! I have tested latest commit. It works when I click Create layer button. But it doesn't works in this case - https://youtu.be/P6sUmXi8_-Q

[2020-07-16 12:20] Keyikedalube commented on #1552
I'm duplicating Widget_RendDesc class to CanvasProperties, so including `synfig/renddesc.h` is a necessity

Because the only way I can implement the UI file is to re-implement all the same layouts from Widget_RendDesc and afterward pull in the needed widget variables from the UI file for CanvasProperties
Then safely deprecate Widget_RendDesc class for future  #721

Thought about implementing glade

[2020-07-16 12:43] Keyikedalube commented on #1552
Thanks @rodolforg :)

Had to use `synfig/color/gamma.h` though
make couldn't find `synfig/gamma.h`

[2020-07-16 12:52] Keyikedalube commented on #1552
https://github.com/synfig/synfig/blob/a74530f8ed068502a6940ade6efa6d57afe943fa/synfig-studio/src/gui/dialogs/canvasproperties.cpp#L93-L102

Is the `idLabel` & `entry_id` output for the above code like this? (But hidden)
![Screenshot from 2020-07-16 17-29-46](https://user-images.githubusercontent.com/24214509/87672822-2b5e3100-c791-11ea-8005-2f82c57fa2c0.png)

Because I haven't seen an actual dialo

[2020-07-16 13:13] Aa20475 commented on #1546
:facepalm:  I missed that case.. Will make that change!

[2020-07-16 13:43] Aa20475 commented on #1546
Please check it now.

[2020-07-16 13:45] morevnaproject commented on #1557
Hi! I have tested last commit. One correction:

Currently it switches visible  parameter depending on layer type selected in Tool Options Panel (1).
But instead it is expected to switch visibility depending on active layer (2). ^__^

![screenshot_012](https://user-images.githubusercontent.com/332868/87678534-46d33700-c7a5-11ea-9ec5-251303c6f3f6.png)

[2020-07-16 13:46] morevnaproject commented on #1549
Works perfectly now! Thank you!

[2020-07-16 13:46] #1549 closed

[2020-07-16 15:10] morevnaproject commented on #1546
Works perfectly now! Thank you!

[2020-07-16 15:10] #1546 closed

[2020-07-17 00:46] rodolforg commented on #1552
As far as I understood reading the code, this field is for rendering exported canvas.

However,  I don't know a GUI way to call this dialog for those canvases

[2020-07-17 01:10] rodolforg commented on #1552
Ok, I got it.

You must open the exported canvas via Canvas Navigator panel. :)

You can export canvas by exporting value of the "canvas" (¬¬) parameter of a Group Layer, for example.

[2020-07-17 01:53] Keyikedalube commented on #1552
Thanks! Tested it and got ID output in the top :)
![Screenshot from 2020-07-17 07-20-51](https://user-images.githubusercontent.com/24214509/87739784-487d1900-c7fe-11ea-912d-cd105c3a9a2b.png)

[2020-07-17 11:07] morevnaproject commented on #1539
I have tested latest commit and there is no "Set as Parent to Active Bone" command anymore...

[2020-07-17 11:11] morevnaproject commented on #1535
I don't think that using  `Action::Group` will make it non-undoable. Can you push your code so I can take a look?

This is really not critical, but it would be nice to have so. ^__^

In any case we should consider situation, when user removes all bones from Skeleton Layer and makes attempt to add new bones. ^__^

[2020-07-17 11:11] morevnaproject commented on #1542
Any progress on this? ^__^

[2020-07-17 13:27] Aa20475 commented on #1542
I actually focussed on the other smaller ones. I'll finish it today! :sweat:

[2020-07-17 14:00] morevnaproject commented on #231
Is it okay to close this now?

[2020-07-17 14:12] Aa20475 commented on #1535
Yess! That case is important! Will do that! Will push it!

[2020-07-17 14:32] Aa20475 commented on #1539
I fixed that. :sweat_smile:  Working on the origin fix.

and this :v:

[2020-07-17 15:42] morevnaproject commented on #1562
Yes, onionskin code was re-written and now it works differently. The rewriting wasn't completed, so someone still  need to improve this functionality (I think there should be options on how to display onionskin).

[2020-07-17 19:29] ice0 commented on #231
I think yes :)

[2020-07-17 19:29] #231 closed

[2020-07-18 03:19] strujillodv commented on #1480
The error continues
[![Log Synfig](https://drive.google.com/uc?export=view&id=1cdotV6gMbTZtnJSFICCm0kSRa9SLRV6x)](https://drive.google.com/file/d/1F_qb6dLZsyNODEusvURrDm4H3QYHyc3Q/preview)

Synfig-git built on July 17

![Version 1.2.2](https://media.giphy.com/media/S5oA9fc5UHkpdrvMAL/giphy.gif)

Synfig stable

![Version 1.2.2](https://media.giphy.com/media/f4JBte67avOQ51CHpY/giphy.gif)

[2020-07-18 03:46] rodolforg commented on #1480
@strujillodv It was fixed in master and 1.3.x branch.

What git branch did you use it?

[2020-07-18 11:26] blue-dog opened #1565 "Put text on canvas the process crashed."
**Synfig version 1.2.2 & Windows 10 **:

**Issue description**:
Put Text on the canvas, Input test, then press the OK button.
The process no response, then crashed.

It can be reproduced every time.

[test.zip](https://github.com/synfig/synfig/files/4941562/test.zip)

There is an mp4 file in the test.zip.

Thanks

[2020-07-18 13:01] Keyikedalube commented on #1552
Implementing Widget_Link as custom widget
https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/widgets/widget_link.cpp
[code]

I get this error for if block:

Also, the constructor for Widget_Link takes two std::string arguments, I don't really know how to pass those args to Glib::wrap part
[code]

[2020-07-18 13:31] strujillodv commented on #1480
@rodolforg this is the version
![Log Synfig](https://drive.google.com/uc?export=view&id=1qIj8bXxrPVRkfCU0jG6XKxhihjbqC2Vj)

[2020-07-18 13:33] Aa20475 commented on #1536
Hey! I've been thinking about how to do this.

* When a mouse button is down, we can add a childbone.
* We can then manipulate the bone with mouse motion.
* When it is released, we can check the conditions and see if we need a default bone.

This will work fine but I can't understand how to make this undoable. We can undo it but during redo, I don't think we'll have the right results. What do you

[2020-07-18 15:05] rodolforg commented on #1480
@strujillodv strange enough I can't find that Revision ID in master branch.
However, the fix was merged into master branch July 12.

So please update your master branch and build it again:
- If you downloaded the sourcecode in a zip file, redo it
- If you used git commands, call `git pull origin`

[2020-07-18 15:25] Keyikedalube commented on #1552
I think there's no way to send tooltip message string when we try to `widget_link->get_widget("widget_name", widget)` from glade file

Instead, we would have to set the tooltip message directly on the glade file using
[code]
I guess the only downside to this would be static message instead of the dynamic one synfig has right now

[2020-07-18 15:34] rodolforg commented on #1552
AFAIK, `WrapNewFunction` passed in `void Glib::wrap_register(GType type, WrapNewFunction func)` takes the allocated C object into a new C++ object, calling the `YourClass(BaseObjectType* cobject)` constructor (I'm calling it C-wrap constructor).

In this case, `BaseObjectType` is `GtkToggleButton`, that doesn't take those parameters in current single C++ constructor of `Widget_Link`.

Workaround h