[2021-12-10 02:12] ice0 commented on #2447
@yoSachinkr Can you share this saved file and show me what to do?

[2021-12-10 11:05] yoSachinkr commented on #2447
Steps:
1. Open the file.
2. Open the exported canvas.
3. Enable "animate mode" on both canvases.
4. Go to the main canvas.
5. Go to a different frame in the timeline and change the shape of the exported object.
6. Go to the exported canvas, and "add a keyframe"
7. Go back to the main canvas, change the frame in the timeline, and repeat the process.
8. After 3-4 times, synfig will crash.
[qe.zip](h

[2021-12-11 12:56] tashaxing opened #2456 "macOS, toobox disappear, have to delete synfig setting file to restore"
<img width="288" alt="截屏2021-12-11 下午8 52 58" src="https://user-images.githubusercontent.com/8281840/145677184-f8bf8eff-f2c3-4105-b152-cc6dde7ec070.png">

somehow the upper part of toobox panel disappear, restart synfig and relaunch computer does not work,
finally I delete the synfig config folder  `~/Library/Synfig`  and solve the problem

[2021-12-12 04:34] morevnaproject commented on #1626
The issue is somewhere in this place -
https://github.com/synfig/synfig/blob/c5fbb27b3e817a1fb0e846e1dd98d9bdf7a6bb17/synfig-studio/src/synfigapp/actions/valuedescset.cpp#L241-L268

The expected logic:
- We need to find the delta (offset) value - how much the origin of "first" bonw was moved
- Then we have to apply the same offset to "second" bone

[2021-12-13 07:24] THEBATEZIOPARKER opened #2460 "Unwanted Vertex Points at the end of line, when using Draw tool"
I am using Fedora 35, Synfig-Studio Flatpak version

https://user-images.githubusercontent.com/87817029/145769322-024a5487-443b-4f74-8567-0ede45476a29.mp4

How to Fix This ?

[2021-12-13 13:17] morevnaproject commented on #2452
If I understood correctly, this happens for particular file, right? ^__^

[2021-12-13 13:44] morevnaproject commented on #2397
@Gilraiser @THEBATEZIOPARKER  Thank you for testing and feedback!

Okay, so we had to ship both freetype and fontconfig.
And that means we had to solve problem with fontconfig cache.

I suggest to solve it by adding following stuff to Synfig's launcher script:
[code]
(found this here - https://stackoverflow.com/a/12407435)

Reopening #1849...

[2021-12-13 13:52] morevnaproject commented on #1849
Reopening because of https://github.com/synfig/synfig/issues/2397#issuecomment-992489461

[2021-12-13 13:57] ice0 commented on #2397
@morevnaproject
It looks like this window will blinks on every startup. I suggest adding the timestamp file and skipping this check if it has already been created. Maybe we can use Synfig config file for this?

[2021-12-13 14:02] ice0 commented on #2460
@morevnaproject @rodolforg
Any ideas here?

[2021-12-13 14:07] morevnaproject commented on #2397
But what if font configuration will change? (i.e. new font files added)
Then dialog will not be shown (because of timestamp file), but Synfig Studio will delay startup (because of font cache regenerated).

I can tweak a script to show progressbar window only after some delay. (0.5 seconds?)

[2021-12-13 14:16] morevnaproject commented on #2397
[code]

[2021-12-13 14:24] morevnaproject commented on #2397
Hmmm.. my last code doesn't work. :-/
I guess we have to deal with blinking window for now.

[2021-12-15 12:11] FirasH commented on #2413
Issue is confirmed also on my side...
It's very likely that @morevnaproject intuition is correct

[2021-12-17 14:46] FirasH commented on #2413
As a temporary workaround, before exporting, untoggle the `Link width and height` and should export with the correct size.

[2021-12-17 21:16] FirasH commented on #2413
Here are the steps to consistently trigger this issue from scratch:

1) Create a new animation and add layer (e.g. a `Star`)
2) Go to: `Canvas > Properties`
3) Untoggle width/height (`Unlink width and height`)
4) Change default `Height` from 270 to 800 and keep `Width` value as 480
5) Click on `OK`
6) Go to: `File > Render` and press on `Render`

The output size is incorrect as if the total height

[2021-12-18 01:30] #1626 closed

[2021-12-19 01:18] rodolforg commented on #2082
@rChen10 Any news? Do you need any help?

[2021-12-19 01:19] rodolforg commented on #602
Should we close this? :)

[2021-12-19 19:15] rodolforg commented on #2460
Duplicate of #2448 ?

[2021-12-19 19:15] rodolforg commented on #2448
@Gilraiser do you stay up-to-date via git?
Can you remember when this problem started?
Are you able to git-bisect?

[2021-12-19 19:19] rodolforg commented on #2448
via `git-log`, maybe until this commit, everything could be normal: c3e196e1974108a264016c61909cf12f8d802560
After it, we made some cleanups that maybe broke it: like feb62c586f9b8c5378ce724854c7180d674e8326 4bb7366bcc87133ae68bd0341c08d000faf9a887 2ce7109e2f8a2973c8c85255d74516b052004bee

[2021-12-19 19:21] rodolforg commented on #2403
fixed by #2451

[2021-12-19 19:21] #2403 closed

[2021-12-19 19:23] rodolforg commented on #2447
Maybe it is related to new timetrack and #2294 fixed it

[2021-12-19 21:02] rodolforg commented on #1336
Can this issue be closed?

[2021-12-19 21:03] rodolforg commented on #1584
Proposed doc here: https://github.com/synfig/synfig-docs-dev/pull/79

[2021-12-20 03:25] morevnaproject opened #2469 "Can't select active bone when creating Skeleton Deformation layer"
**Describe the bug**
When creating  Skeleton Deformation Layer using Bone Tool clicking on existing bone should set it as active (parent to next one).
But if Skeleton Deformation Layer is placed inside of **transformed** group, then it is not possible to select active bone anymore.

**To Reproduce**
Video - https://youtu.be/1hExD64ZkbE

**System information:**
 - Commit ID: 310aaad378224b6db22c

[2021-12-20 03:33] THEBATEZIOPARKER commented on #2460
@rodolforg Yes

[2021-12-21 01:42] rodolforg commented on #2469
It works if you click on Bone "line" o.O

[2021-12-21 03:04] Gilraiser commented on #2448
Hello, cordial greetings. I'm sure it started with committee 0ab9d69. The only thing done with git is git clone. Searching the internet, I see that git-bisect is for searching within code when you are not sure when the error started. I am very sure that it is in the commit that I just pointed out where the bug started. I reported it immediately.

[2021-12-21 03:25] rodolforg commented on #2448
Yes, `git-bisect` help us to search the culprit commit.
We say to git what commit we are sure something was good and what commit is in a bad state (normally head commit).
Then it starts checking out the commit in the midway: we build and test and tell if it is a good or a bad commit. Then git checks out other commit, narrowing the search. We keep doing it until it finds a good commit followed by a

[2021-12-21 05:27] morevnaproject commented on #2469
Oh, you right O_O

[2021-12-21 05:27] morevnaproject commented on #2469
So, the fix is needed for points only.

[2021-12-21 05:29] #2088 closed

[2021-12-21 13:18] rodolforg commented on #2390
I investigate it a bit - I did not advanced to a solution, but it also happens with Bone selection too (in bone parent selection) o.O

[2021-12-21 22:53] #2448 closed

[2021-12-21 23:45] rodolforg commented on #2391
If you couldn't do it, FirasH, here I said how to do it: https://github.com/synfig/synfig/issues/536#issuecomment-606869607

[2021-12-22 01:46] rodolforg commented on #2469
I found out what is happening: WorkArea don't pass click events to current state/tool if a duck is clicked. :/

Mouse button release, on other hand, is always passed.

[2021-12-23 14:38] harish911 commented on #2041
@rodolforg  where is the code of text can you help me

[2021-12-23 18:56] rodolforg commented on #2041
Sure!
The code of this dialog is here:
https://github.com/synfig/synfig/blob/a8278a3f82fbab3b823ec08f524552b14afdb4f3/synfig-studio/src/gui/app.cpp#L3761

[2021-12-24 00:22] rodolforg commented on #2411
Closed by #2455

[2021-12-24 00:22] #2411 closed

[2021-12-24 00:22] rodolforg commented on #2411
Thank you, @nickleus27 ! :)

[2021-12-24 07:01] nickleus27 commented on #2411
Thank you @rodolforg

[2021-12-25 01:48] Gilraiser opened #2474 "Feature Request: Symmetrical Drawing"
Best regards, Synfig Studio developers. I think it would be very useful for artists if Synfig Studio had the symmetric drawing option, like Krita and Gimp, this alternative could be activated in the drawing tool options and in turn choose if horizontal or vertical symmetry is desired.

The line will appear in the middle of the canvas, vertical or horizontal depending on what we have selected, and

[2021-12-25 17:07] rodolforg opened #2475 "Rendering video+audio can be shorter than expected video length"
**Describe the bug**
When audio track is shorter than video track, the movie file lasts only as long as audio track.

**To Reproduce**
1. Open Synfig
2. Even in the empty default animation, add a new layer sound with an audio 2 seconds (less than the default 5s/192f)
3. Render with default settings (or explicitly with ffmpeg target)
4. Check output file info or open it on a movie player and check

[2021-12-26 04:04] #2475 closed

[2021-12-26 04:50] #2460 closed

[2021-12-26 05:38] #2413 closed

[2021-12-27 01:46] morevnaproject commented on #2390
Oh, this is critical.

[2021-12-27 01:46] morevnaproject commented on #2390
Does this happens with 1.4.2?

[2021-12-27 01:52] morevnaproject commented on #2391
I guess we should fix AppVeyor script (in the same way as it is done [here](https://github.com/morevnaproject/morevna-builds/commit/9ef3a0c7d6a9de691fa8621d6291dfca708bc6f5)).

@ice0 :wave:

[2021-12-27 01:55] #2089 closed

[2021-12-27 04:24] ice0 commented on #2390
@morevnaproject That's strange, but 1.4.2 is not affected.

[2021-12-27 15:05] THEBATEZIOPARKER commented on #2460
Where Can I Get The Draw Tool Bug Fixed Version ?

[2021-12-28 05:45] ice0 commented on #2460
@THEBATEZIOPARKER
On Linux you can compile it from source.
Flatpak will be available tomorrow.

[2021-12-28 10:56] FirasH opened #2479 "Letter of a specific font is wrongly rendered"
**Describe the bug**
The letter "o" using the font Caviar Dreams is wrongly rendered.
You can get the font here: https://www.dafont.com/caviar-dreams.font

**To Reproduce**
Steps to reproduce the behavior:
1. Download the font file
2. Create a new animation and insert a `Text` layer using the letter "o"
4. Change the `Font Family` parameter of the `Text` layer and reference the font file.

**Expec

[2021-12-29 10:14] #2479 closed

[2021-12-29 16:31] ice0 commented on #2460
@THEBATEZIOPARKER

Can you check flatpak build?
[code]

[2021-12-30 02:29] THEBATEZIOPARKER commented on #2460
@ice0 This flatpak build works without any issues

[2021-12-30 10:07] FirasH opened #2481 "Importing an .svg drawing corrupts the animation file"
**Describe the bug**
Importing the attached .svg [drawing](https://github.com/synfig/synfig/files/7792403/Oculus.zip)  corrupts the animation file.

If that can help, [here](https://github.com/synfig/synfig/files/7792442/currupted-animation.zip) is my corrupted file.

**To Reproduce**
1. Create a new animation and import the attached .svg drawing
2. Save and close the animation
3. Reopen the anima

[2021-12-31 03:16] #2481 closed

[2022-01-01 16:35] rodolforg commented on #1657
I see two ways of doing it:
- Improve canvas_interface to signalling selection changes
- Bone Tools records what layers it disabled when bone tools are activated and re-enable them back on tool exit

[2022-01-02 19:28] nickleus27 commented on #2208
is anyone working on this?

[2022-01-02 19:58] rodolforg commented on #2208
Not that I know of. :)

[2022-01-02 20:19] nickleus27 commented on #2208
cool. I will work on it if that is okay.

[2022-01-03 02:53] rodolforg commented on #1983
Fixed since v1.4.1 and v1.5.0 :)

[2022-01-03 02:53] #1983 closed

[2022-01-03 02:57] rodolforg commented on #1986
Closed by  #2341

[2022-01-03 02:57] #1986 closed

[2022-01-03 06:39] nickleus27 commented on #2208
@ice0 @rodolforg Am I understanding this correctly: ```Gtk::FileChooserDialog``` should have colored action buttons? For example ```cancel``` or ```save``` buttons in the save diolog, or ```cancel``` and ```open``` in the open diolog?

[2022-01-03 07:05] ice0 commented on #2208
@nickleus27
Yes if it is possible. I haven't tested it, but maybe they just aren't customizable.

[2022-01-03 07:24] nickleus27 commented on #2208
@ice0 at the moment I am not finding any information on how to colorize the ```FileChooserDialog buttons```.  I understand how to colorize individual buttons, but not the ```FileChooserDialog buttons```

[2022-01-03 07:53] Keyikedalube commented on #2208
Hello :)

@nickleus27 if you're on Linux there's a package called `gtk3-demo`. I found out about colored action buttons in this example program `Theming > Style Classes`

For Synfig IIRC you have to get the dialog [object style context](https://stackoverflow.com/a/48643439/13138783) and call in `object.add_class("action-name")`

[2022-01-03 09:39] nickleus27 commented on #2208
@Keyikedalube Thank you, that is very helpful.  I am experimenting with that now.

[2022-01-03 10:00] morevnaproject commented on #2469
I have discovered that this issue also happens for regular Skeleton Layer, not just Skeleton Deformation.

[2022-01-03 11:54] Keyikedalube commented on #2208
@nickleus27 Forgive my incorrect answer. Instead of the entire dialog you have to get only the button's object style context.

[2022-01-03 12:03] rodolforg commented on #2208
The aim is not to make everything colorful :D I believe @Keyikedalube suggested to follow these guidelines: https://wiki.gnome.org/HowDoI/Buttons .

[2022-01-03 12:05] Keyikedalube commented on #2062
Closing this issue because other devs have mentioned above that this isn't caused by the Synfig program but the GUI library (GTK) it uses.

[2022-01-03 12:05] #2062 closed

[2022-01-03 15:39] Keyikedalube commented on #1712
Closing this issue because as of now OpenGL support on Synfig comes under either "feature request" or "infrastructure improvement".

Copy-pasted blog post from [Synfig's development news](https://www.synfig.org/2015/05/25/development-news/):

@ice0 already mentioned this too [here](https://github.com/synfig/synfig/issues/1712#issuecomment-700403348).

[2022-01-03 15:39] #1712 closed

[2022-01-03 15:48] Keyikedalube commented on #1520
Closing this issue because v1.2.2 stable release is old + due to inactivity too.

But feel free to reopen it in case you guys need this resolved.

[2022-01-03 15:48] #1520 closed

[2022-01-03 15:53] Keyikedalube commented on #1472
Could the said external library `libdv` be installed when executing `1-setup-linux-native.sh` script? That way other contributors don't bump into this issue.

[2022-01-03 15:56] Keyikedalube commented on #1362
Closing this because I feel the above comment already answered why grouping works that way.

[2022-01-03 15:56] #1362 closed

[2022-01-03 16:04] Keyikedalube commented on #774
Closing this. Explained [here](https://github.com/synfig/synfig/issues/774#issuecomment-473664299)

[2022-01-03 16:04] #774 closed

[2022-01-03 16:07] Keyikedalube commented on #746
Closing this because @morevnaproject already linked a related/duplicate issue to this.

[2022-01-03 16:07] #746 closed

[2022-01-03 16:09] Keyikedalube commented on #651
Closing this because v1.2.2 is old and also due to inactivity.

Feel free to reopen if you guys need this resolved.

[2022-01-03 16:09] #651 closed

[2022-01-03 16:15] Keyikedalube commented on #615
Closed this due to inactivity.

[2022-01-03 16:15] #615 closed

[2022-01-03 16:20] Keyikedalube commented on #638
Closing this. Explained above by @rodolforg.

[2022-01-03 16:20] #638 closed

[2022-01-03 16:25] Keyikedalube commented on #537
Closing this because dev doc is more suitable. And [@rodolforg's PR](https://github.com/synfig/synfig-docs-dev/pull/79) has been merged recently.

[2022-01-03 16:25] #537 closed

[2022-01-03 16:31] Keyikedalube commented on #501
Closing this because v1.2.1 stable release is old.

Latest stable release is now in v1.4.x
Please feel free to open a new issue if this is reproducible on current stable release.

[2022-01-03 16:31] #501 closed

[2022-01-03 16:37] Keyikedalube commented on #404
Hope my above comment rectified your issue. I'm closing this but feel free to reopen if I made a mistake.

[2022-01-03 16:37] #404 closed

[2022-01-03 16:44] Keyikedalube commented on #506
Closing this due to inactivity.

[2022-01-03 16:44] #506 closed

[2022-01-03 16:48] Keyikedalube commented on #518
Closing this due to inactivity.

[2022-01-03 16:48] #518 closed

[2022-01-03 16:57] Keyikedalube commented on #387
Closing this because the Synfig version addressed here is dated and all patches are done on the latest stable/development releases.

Feel free to open a new issue if this is reproducible on current releases.

[2022-01-03 16:57] #387 closed

[2022-01-03 17:02] Keyikedalube commented on #632
Hope my above comment explained why that weird transformation happened. I'm closing this due to inactivity but feel free to reopen it if I made a mistake.

[2022-01-03 17:02] #632 closed

[2022-01-03 17:06] Keyikedalube commented on #593
Closing this due to inactivity.

[2022-01-03 17:06] #593 closed

[2022-01-03 17:26] Keyikedalube commented on #2359
I expected rotate tool to rotate rectangle object too but alas both our expectations went wrong.

Here's how rotate tool works as explained in [Synfig's wiki](https://wiki.synfig.org/Rotate_Tool). The tool's for handle manipulation so it's kinda complex for users used to rotating objects along an angle.

I'm closing this because the wiki already answered how and what rotate tool does. Same for [sm

[2022-01-03 17:26] #2359 closed

[2022-01-03 17:42] nickleus27 commented on #2208
Thanks for all the help everyone. I have made an example app with ```"suggested-action"``` class and the ```"destructive-action"``` class. This example is coloring the action buttons correctly.
 @Keyikedalube I am having trouble finding how to get the  button object from the dialog object. With ```filechooserdialog``` you do ```dialog->add_button``` so the object is of type ```dialog```?

[2022-01-03 18:04] nickleus27 commented on #2208
@rodolforg right, the idea is to use ```"suggested-action"``` class and ```destructive-action "``` class for the ```action buttons``` in the ```filechooserdialogs```?

[2022-01-03 19:18] nickleus27 commented on #2208
I have made an example app and have successfully added the "suggested-action" and "destructive-action" to the buttons. However, I am having trouble getting the button object from the ```filechooserdialog```.  I thought ```dialog->add_button()``` returns a button, but when I compile it says that the return type is ```void```.  Last question, should I be using ```xml``` for this like the gtk+demo ex

[2022-01-03 23:16] rodolforg commented on #2208
No, you don't have to. Sometimes it could not be possible anyway

[2022-01-06 04:32] #2082 closed

[2022-01-06 18:22] rodolforg commented on #2474
Do I deserve chocolates? :)

https://user-images.githubusercontent.com/1323987/148431727-b65ea328-fb23-4e28-89c4-4fc9a43d3474.mp4

[2022-01-06 18:28] rodolforg commented on #2474
https://user-images.githubusercontent.com/1323987/148432497-9571160b-f3d3-4752-8d71-a04f8e5d7768.mp4

[2022-01-07 02:51] #2381 closed

[2022-01-08 02:56] Gilraiser commented on #2474
!! Amazing !! Thanks a lot. It will be a very useful option for drawing.

Sure you deserve chocolates  :+1:

[2022-01-09 02:10] rodolforg commented on #2390
I "found" the problem: somewhere after an "activate" signal, a gtk closure tries to set the combobox active item with an invalid iter.
If we comment out this line:
https://github.com/synfig/synfig/blob/65303bc518cef3381bb537b0e29d61d1f3849e31/synfig-studio/src/gui/widgets/widget_value.cpp#L133
[code]
The problem is not thrown. However, user selects an item and have to click out combobox in order t

[2022-01-09 02:12] rodolforg commented on #524
Is this problem still reproducible with 1.4.2?

[2022-01-09 04:37] #2212 closed

[2022-01-10 04:43] morevnaproject opened #2506 "White background in new documents by default"
Some newbie users say it would be more user-friendly if new documents in Synfig will have white background by default.

I suggest to make relevant option enabled by default -
![screenshot_001](https://user-images.githubusercontent.com/332868/148719255-67dc25a1-75e5-4053-98dc-8d3a60608326.png)

What do you think?

[2022-01-10 06:29] ice0 commented on #2506
@morevnaproject
What about rendering? Will the background be white or transparent?

[2022-01-13 13:42] elthea commented on #524
Currently I'm not able to check it. It can take me about 1 month until I'll
be ready to test it again.
Regards,
Dorota

On Sun, 9 Jan 2022 at 03:12, rodolforg ***@***.***> wrote:

[2022-01-15 11:44] morevnaproject commented on #2506
This change will result in white background. But user can always remove white background layer, if he wants transparency.
This works similarly as in other graphics software, when it opens a new document with white background layer by default.

[2022-01-15 12:13] morevnaproject opened #2508 "Text Layer prevents selecting any other layer below"
**Describe the bug**
I've got a situation when text layer is always selected, even when I click far away from it.

Sample file -
[poster-v-bug.zip](https://github.com/synfig/synfig/files/7874912/poster-v-bug.zip)

Master branch, commit d581517237410a6

**To Reproduce**
Steps to reproduce the behavior:
1. Open sample file
2. Click on workarea on a red circle
3. Text layer selected instead.

**Expec

[2022-01-16 05:07] rodolforg commented on #2506
I don't have a strong opinion on it.
Inkscape and Gimp give us a colored background by default. So...

[2022-01-16 13:14] morevnaproject opened #2516 "Can't build on Debian 9"
**Describe the bug**
I am trying to build latest master (7ae9d4a900ee8cadcf44606f) in Debian 9 environment (for building AppImage packages),
Got the following error:

[code]

P.S. I build using this docker image - https://github.com/multiarch/crossbuild

[2022-01-16 19:28] #2508 closed

[2022-01-16 19:53] rodolforg commented on #2285
Duplicated? #646

Btw, should it allow to access individual layers or  just the final/merged image?

[2022-01-17 03:37] #2516 closed

[2022-01-17 04:08] yoSachinkr commented on #2285
of course access to individual layer is needed. Just imagine importing from krita/gimp as .ora file into synfig, and all the layers are already in proper order and in proper groups. Now all we'd have to do is create a skeleton and animate. That's it.
It 'd speed up the process of cut-out animation.

[2022-01-17 05:18] ice0 commented on #2390
When I debugged this for the last time, I saw the following situation:
- GTK emits a `MOUSE_RELEASE` event
- It goes down the hierarchy until it reaches `Gtk::ComboBox` (whose parent is `Widget_Sublayer`)
- `Gtk::ComboBox` calls the `activate` signal and this is where the error occurs, because at that point the owner of the signal is already destroyed (`Widget_Sublayer`?)

So, if I change this lin

[2022-01-17 08:17] Svarov-RZM commented on #2506
I am slightly against it. Synfig is not a painting software like MyPaint or Krita. There's no real reason to "simulate" a drawing canvas. I'd say vector work is often used with transparent background or exported with such to be later combined in a video editor for example.

Personally, I still use 'Solid Color' for background, it's easier to disable it when needed rather than going into settings.

[2022-01-18 05:49] morevnaproject commented on #386
@Keyikedalube The tree collapsing if those 2 conditions apply:
1. You have Animation Mode enabled
2. You are editing parameter, which wasn't previously animated.

Can we do something about this issue?

[2022-01-18 06:09] morevnaproject commented on #386
I have edited the original post at the top.

Can we do something about this issue?

[2022-01-19 09:13] veermetri05 commented on #2139
I think the title should be copy paste waypoints, not keyframes. I made that post when I wasn't familiar with all the terms and may have lead to misunderstanding, it's about ability to copy and paste waypoints of similar data type.

[2022-01-20 00:38] rodolforg commented on #386
My guess is that's what is causing this issue #2390 (after ice0 investigation).

There is a `rebuild()` call when it  should be a `queue_refresh()`, but there is old comment 'explaining' why it was changed.
https://github.com/synfig/synfig/blob/ad03efe3b70e507a4632fe14a55acd149be60477/synfig-studio/src/gui/trees/layerparamtreestore.cpp#L591-L602

[2022-01-23 03:19] rodolforg commented on #1148
As `spacebar` is now used for `Play`, what about revert this commit 6b3c81c ?

[2022-01-30 10:13] yoSachinkr opened #2525 "Feature request: Grouping of selected layers using a hotkey"
Grouping of layers is a bit cumbersome in synfig and takes a lot of clicks to do so.
It would be way easier if we'd be able to select layers right from the canvas and group them using a hotkey.

[2022-01-30 10:32] veermetri05 commented on #2525
@rodolforg , will this be suitable for me to solve? Also, please provide me necessary information to solve this issue

The shortcuts in Inkscape are Ctrl + G and Ctrl + Shift + G for group and ungroup.

I think we should use the same, and we can use some other shortcut for Enabling/Disabling Grid.

[2022-01-30 10:37] veermetri05 commented on #2506
I also think it is not necessary, we should not assume that user wants a solid colours background. Even if there are requests for it, they can just enable it from the settings, keeping transparent background is good.

[2022-01-30 13:17] rodolforg commented on #2525
You can with `Ctrl`+click .

Now a good amount of actions has its shortcuts configurable via Preferences I don't have any problems about it.
But I'm not the best person who you should ask it XD @morevnaproject @Keyikedalube @ice0

Inkscape use `#` for grid and `|` for guides.

[2022-01-31 13:31] morevnaproject commented on #2506
Actually, my plans for the future of Synfig includes approaches to simulate intuitive drawing experience. Please see more details here - https://github.com/synfig/synfig/issues/2323

[2022-01-31 13:33] morevnaproject commented on #2525
Krita uses `Ctrl+G` too and I like it.

I like that!

So, I vote for changing Grid shortcut to `#` and using `Ctrl+G` for Grouping action.

[2022-01-31 14:33] #2469 closed

[2022-01-31 15:23] morevnaproject opened #2526 "Bone Shape in Skeleton Deformation ignores group transformation"
If you put Skeleton Deformation into transformed group, the Bone Shape areas will appear in wrong place.

Video - https://youtu.be/tE9yeF6nwDA

[2022-02-01 06:53] Svarov-RZM commented on #2506
I see. Personally I don't draw in Synfig, but rather, compose. But I do understand the need to appeal to traditional artists.

Besides, I checked how this feature is implemented and it just creates a 'Solid Color' layer which you can easily uncheck from layer's panel if you want to get transparent background in one click (no need to go to settings). So meh, I'd still prefer transparent background

[2022-02-02 04:24] gelatinbomb opened #2527 "Dashed lines glitches when they pass the points of a line"
**Describe the bug**
I was doing some stuff with animated dashed lines and I just noticed every-time the line crosses one the points of the spline it makes an ugly glitch with the form of a rhombus.

**To Reproduce**
1. Create an square with an advanced outline(square shapes make this more visible).
2. Activated the dash line properties.
3. Move the dashed line with the move dash line property
4.

[2022-02-02 04:41] gelatinbomb opened #2528 "Add the posibility of move the paramether values using the mouse"
**Is your feature request related to a problem? Please describe.**
I think is fine to click the paramether and then change the value with the keyboard but at the end it's kind of slow and I think it would be more easy to do small changes if can change the values using the mouse.

**Describe the solution you'd like**
The idea is that when I place the mouse on the parameter an then I click and slide

[2022-02-03 03:32] ice0 commented on #2528
Can you attach a short video showing how it works in enve?

[2022-02-03 05:16] yoSachinkr opened #2529 "Feature request: Eyedropper button right at the parameter's panel next to color value"
![image](https://user-images.githubusercontent.com/50204208/152285000-16c0e375-0fbe-4268-970a-1200e8185fd9.png)
Having an eye dropper button right next to color value will speed up changing of color if the palette is already set. With this feature all we'll have to do is select the path, click the eye dropper button next to the color value, select the color from the color palette and that's it!

[2022-02-03 05:18] #2529 closed

[2022-02-04 06:10] gelatinbomb commented on #2527
https://imgur.com/a/fRek4Rm

[2022-02-04 06:12] gelatinbomb commented on #2528
https://imgur.com/a/fRek4Rm

[2022-02-04 13:57] veermetri05 commented on #2527
If I am not wrong this also happens with Width Points while creating [Write On](https://wiki.synfig.org/Doc:Write_On)/Stroke reveal effect on hard edges.

[2022-02-04 17:16] rodolforg commented on #2526
I fixed the translation and rotation issue, but not scale and skew :(

[2022-02-06 03:55] rodolforg commented on #2525
The default accelerator map is defined in `synfig-studio/src/gui/app.cpp` (method `App::get_default_accel_map()`).

The layer actions are mapped to `"<Actions>/action_group_layer_action_manager/action-<LAYER_ACTION_NAME>"`.
And, well, `<LAYER_ACTION_NAME>` is the layer action name :P All synfigapp actions are separated in individual files in `synfig-studio/src/synfigapp/actions/`. Search for `ACTI

[2022-02-06 13:42] rodolforg commented on #2527
Well, I discovered it is not only on dashed lines. It's a problem with corners.

Here is the problem with a regular Outline Layer:
![Captura de tela de 2022-02-06 10-40-22](https://user-images.githubusercontent.com/1323987/152683680-bf69e487-2f07-4fec-9663-6ac45d101e48.png)
And moving the bottom-left vertex slightly to left, it is okay:
![Captura de tela de 2022-02-06 10-40-31](https://user-images

[2022-02-12 05:44] morevnaproject commented on #2526
...and not Twirl, Noise Distort, Spherize and other rendering stuff. :thinking:

Hmmm... it looks like the problem gets too complicated here.

[2022-02-12 12:55] morevnaproject commented on #2397
Related information - https://bugs.freedesktop.org/show_bug.cgi?id=101820

[2022-02-12 12:57] morevnaproject commented on #2397
Related problem in Inkscape - https://bugs.launchpad.net/inkscape/+bug/1528629

[2022-02-13 15:56] rodolforg commented on #2525
@veermetri05 do you need any help here?

[2022-02-13 15:59] rodolforg commented on #2526
Not impossible, though.
We can divide the bone outline into segments, transform them and draw them.

[2022-02-14 04:32] nickleus27 opened #2536 "Synfig crashes with a segfault when closing"
**Describe the bug**
The synfig application produces a segmentation fault when closing the application. The output in the terminal after closing synfig is:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. clone synfig master branch
2. mkdir cmake-build && cd cmake-build
3. cmake .. && make
4. ./output/Debug/bin/synfigstudio
5. Go to File, and click on quit

**Expected behavior**
I expe

[2022-02-15 02:07] ice0 opened #2538 "Add key marks for the PGO layer to the new Timetrack"
While checking this PR (#2495) I noticed that the new Timetrack does not have the key marks for the PGO layer.

Left: New Timetrack
Right: Old Timetrack

![No marks](https://user-images.githubusercontent.com/5604544/153978593-564950eb-5895-4a89-95ea-391533dc65e6.png)

[2022-02-15 06:54] Hawksbillcat opened #2539 "can not export lottie format file after using spline tools and link to spline"
**Describe the bug**

as tilte

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![273955164_4835287006565897_3178560169741642069_n](https://user-images.githubuse

[2022-02-15 10:02] morevnaproject commented on #2397
I have implemented several changes to our build system, which should fix the issue:
- https://github.com/morevnaproject/morevna-builds/pull/33
- https://github.com/morevnaproject/morevna-builds/pull/36
- https://github.com/morevnaproject/morevna-builds/pull/37

As result, now it should display a notification window when font cache is generated.

Here is a package for testing, please check how it w

[2022-02-15 10:02] morevnaproject commented on #1849
Here is a package for testing, please check how it works for you now -
[SynfigStudio-1.4.3-testing-2022.02.15-linux64-511af.appimage](https://cloud.morevnaproject.org/s/d8XPTBsDpBPKg8d)

You can simulate the "first start" behavior if you delete fontconfig cache in your user directory (`rm -rf $HOME/.cache/fontconfig/`).

[2022-02-15 15:19] THEBATEZIOPARKER commented on #2397
@morevnaproject It Works

[2022-02-15 15:46] BobSynfig commented on #1849
Not so long again, several snap applications installed on my system were not starting anymore, found out that the fontconfig cache was implied.
Now, I clean and rebuild the cache regularly, this could solve many problems ^^
[code]

[2022-02-18 01:41] ice0 commented on #2536
@nickleus27 Can you check it?

[2022-02-18 04:06] nickleus27 commented on #2536
@ice0 Yes! #2536 fixes the segfault when closing on macos.

[2022-02-21 05:11] #2536 closed

[2022-02-21 05:42] morevnaproject commented on #2526
Exciting! I believe users with slower PCs can always switch to Draft mode.

[2022-02-23 03:19] ice0 commented on #1849
Just checked on Manjaro/Ubuntu 21.04/Ubuntu 21.10
Works like a charm. Thank you!

[2022-02-23 03:19] #1849 closed

[2022-02-23 03:24] ice0 commented on #2397
Just checked on Manjaro/Ubuntu 21.04/Ubuntu 21.10
Everything works fine. So I am closing it.

@Gilraiser please reopen this issue if you still experience the problem.

[2022-02-23 03:24] #2397 closed

[2022-02-24 06:08] ice0 opened #2544 "Synfig crashes when rendering file"
**Describe the bug**
Synfig crashes when rendering file from the command-line.

**To Reproduce**
1. Run synfig from the command line with the following arguments:
`synfig synfig-studio/images/render_options_icon.sif -o render_options_icon.png -w 64 -h 64`

**System information:**
 - OS: Linux
 - Master branch

[2022-02-28 14:44] morevnaproject commented on #1849
I've just realized that there is one more solution: instead of including freetype&fontoconfig we can try to include newer version of harfbuzz library.

[2022-03-01 02:32] rodolforg commented on #2538
#2385

[2022-03-01 02:34] rodolforg commented on #2544
It doesn't crash on current master here.

Here is the printed output:
[code]

[2022-03-01 03:19] rodolforg commented on #2539
Did you try 1.5.1 just for checking if it works there?

[2022-03-02 06:47] ice0 commented on #2544
@rodolforg
Forgot to add, it crashes in Debug build

[2022-03-02 06:52] ice0 commented on #1849
Is is backward-compatible?

[2022-03-03 05:01] rodolforg commented on #2544
via gdb:

#4  0x00007ffff7ae32f4 in synfig::rendering::software::Array<float, 3u>::get_range(int, int, int) const (this=0x7fffd8b2a8c0, r=1, begin=-1, end=56)

The problem(?) is the value of `begin` parameter. But it's so tricky what is done there...

[2022-03-03 05:52] #2208 closed

[2022-03-03 15:14] #2526 closed

[2022-03-05 17:55] rodolforg commented on #1706
Developer note:
Problem is related to connecting/linking a Placeholder_ValueNode to `bline` parameter of an `AdvancedOutline` layer.
AdvancedOutline will try to call a value of this value node in `Advanced_Outline::connect_bline_to_wplist(etl::loose_handle<ValueNode> x)`

Why is it still a placeholder at that point in some cases?

Backtrace log:
[code]

[2022-03-06 03:36] morevnaproject commented on #666
Hi!

Information for aspiring students/contributors, who would like to take this task as part of GSoC:

**You should start digging this task BEFORE gsoc starts and show some results BEFORE May 10 2022.** Your results will be reason to decide if you're going to be accepted or not.

I would like to clarify next steps to proceed with this issue, so you can start digging already.

1. I have draft PR w

[2022-03-08 10:47] mohamedAdhamc commented on #2200
is this still an issue?  if it is i would be willing to work on it.

[2022-03-08 12:40] Keyikedalube commented on #2200
@mohamedAdhamc Yes this is still an issue maybe only for me and probably other materia gtk theme users.

If you'd like to crack this issue I can assign you :)

[2022-03-08 12:43] mohamedAdhamc commented on #2200
yes, sure I'd like to have a go at it.

[2022-03-08 14:44] mohamedAdhamc opened #2565 "Error while building debug verision on windows."
I had followed all the steps and had one last thing to do which is run
"$ ./2-build-debug.sh "
but then i get an error stating
"cp: cannot stat '/opt/mlt-7.2.0/*.dll': No such file or directory "
looking around at what happened during the installation i have found this stating that the path was changed
"/tmp/mlt-7.2.0 /tmp ~/synfig.git
Install path: /opt/mlt-7.2.0
Fixed MLT Path: C:/msys64/opt/mlt

[2022-03-08 14:45] mohamedAdhamc commented on #2565
oh and i'm doing all this on windows 10, 64 bits .

[2022-03-08 15:10] mohamedAdhamc commented on #2565
i checked and intltool was actually installed successfully which make all this more confusing

[2022-03-08 15:19] ice0 commented on #2565
I think there is should be a reason why MLT is not installed.
Can you show output of `ls -la /opt/mlt-7.2.0` command?

[2022-03-08 15:22] ice0 commented on #2565
I will take a look. Currently, the preferred way to build on Windows is to use cmake.
Use `2-build-msys-cmake.sh` script for that.
To change build type, just change `-DCMAKE_BUILD_TYPE=Release` to `-DCMAKE_BUILD_TYPE=Debug` for debug build.

[2022-03-08 15:28] mohamedAdhamc commented on #2565
oh ok thanks. it's in the process of building using c make now.

[2022-03-08 16:17] ice0 commented on #2565
MSYS2 moved `libtoolize` to the new `libtool` package and renamed `mingw-w64-x86_64-libtool` to `mingw-w64-x86_64-libltdl`

This issue should be fixed with this PR #2566

[2022-03-08 18:14] mohamedAdhamc commented on #2565
great, thanks will definitely try to build it again that same way when the pr is merged.

[2022-03-08 18:32] mohamedAdhamc commented on #2565
P.S  while running with cmake i encountered an error but it was relatively easy and i solved and made a proposal for the solution (simple tweak of the command in the docs). PR #87[https://github.com/synfig/synfig-docs-dev/pull/87](url)

[2022-03-10 17:36] mohamedAdhamc commented on #2565
I retried and it still gives out the same error.

[2022-03-10 17:50] mohamedAdhamc commented on #2565
Also sorry for the constant bothering but could you please elaborate on the "-DCMAKE_BUILD_TYPE=Debug" because i tried running the command and it just gives out no ssuch file or directory

[2022-03-10 18:12] rodolforg commented on #2565
That PR wasn't merged to master branch yet. In the meanwhile, you can patch the changes yourself into your cloned repo.

He meant you change https://github.com/synfig/synfig/blob/master/2-build-msys-cmake.sh: instead of `-DCMAKE_BUILD_TYPE=Release`, replace it with `-DCMAKE_BUILD_TYPE=Debug` (line 5).

[2022-03-10 18:13] mohamedAdhamc commented on #2565
Oh, my bad didn't notice that. Thanks !

[2022-03-10 19:09] mohamedAdhamc commented on #2565
Hey I have an idea of why not make another seperate script and have the "-DCMAKE_BUILD_TYPE=Debug" and then give it a diffrent name so that new contributors using c-make could just pick a script to use instead of doing this manually. just like how Autotools has two different scripts "2-build-debug.sh", and "2-build-production.sh". Also as noted by @ice0 the preferred way now is using cmake so I th

[2022-03-11 13:32] Keyikedalube commented on #1336
Closing this issue because the above-linked PR kinda resolved the conflicting hotkeys bug this issue originally pointed at.

Please open new issues if some of the discussions/suggestions made above have been unmet. Also, be specific so it's easier for contributors to target feature XYZ instead of letting them guess what "other action shortcuts" mean.

[2022-03-11 13:32] #1336 closed

[2022-03-11 23:02] mohamedAdhamc commented on #2200
Hey sorry was carried away a bit in the past 2 days with all the build and IDE configuration errors however I will be starting to try and  tackle this, but I just have a few questions to clarify things here a little.

1- What is the expected behaviour here exactly ? My understanding is that maybe you can have multiple ones active and the problem is that inactive ones are still vaguely highlighted.

[2022-03-12 14:24] Keyikedalube commented on #2200
Yes, that's correct :)

Rightly so.

[2022-03-12 22:44] BobSynfig commented on #2565
In the current version of `1-setup-windows-msys2.sh`, there is a call to [build_mlt.sh](https://github.com/synfig/synfig/blob/master/autobuild/msys2/build_mlt.sh), which requires... cmake and ninja
As per the current install documentation, these 2 tools are installed *after* the execution of `1-setup-windows-msys2.sh`, but they should be installed before.
As the 2 packages are arch dependant, ther

[2022-03-13 07:30] ice0 commented on #2565
Thanks. I didn't notice it because AppVeyor has them already installed.
Should be fixed by this PR (#2575)

Looks like MSYS2 already fixed it so I just removed it. (#2576)

[2022-03-13 09:27] BobSynfig commented on #2565
extern int sprintf (char *, const char *, ...);
will point at `#namespace std { using ::libintl_sprintf; }`
instead of `namespace std { using ::sprintf; }`
Let's hope there will be no side effects

I modified the documentation to reflect the change in PR #2575

[2022-03-14 15:51] morevnaproject commented on #519
This feature is implemented in #2563 and will be shipped in version 1.5.2.

[2022-03-14 15:51] morevnaproject commented on #2161
This feature is implemented in #2563 and will be shipped in version 1.5.2.

[2022-03-14 18:30] mohamedAdhamc commented on #2200
Hey, in Adwaita it seems to be working normally -no (On Adwaita, a border is shown instead when button state is changed from active to inactive )- was it already fixed for Adwaita?

[2022-03-14 18:41] mohamedAdhamc commented on #2200
Could this bug possibly be related to the Materia GTK theme itself and not Synfigs code?   or is there certainly a flaw somewhere in there but for some reason it isn't affecting Adwaita... I will be trying to figure out the answer to this question first. However, if this is something already known it'd be appreciated to know to possibly save some time.

[2022-03-15 02:44] Keyikedalube commented on #2200
Correct because each theme has its own color tone. Materia seems to choose a slightly higher color tone when togglable buttons are switched from active to inactive that's why their active/inactive state seems confusing as demonstrated in my screencast above.
However, this is not a theme bug because Synfig still keeps grabbing button focus even on inactive state when they should be let go instead.

[2022-03-15 02:50] Keyikedalube commented on #2200
Here's a good example of [Materia theme bug](https://github.com/synfig/synfig/issues/2186).

Nothing could be done from Synfig side to rectify that.

[2022-03-15 16:17] mohamedAdhamc commented on #2200
Hey, so some buttons like in the toolbar for example the show grid button. when active it doesn't grab focus, and it seems to be working just fine. would it cause another issue if grabbing focus was just straight out deactivated for all the layer types inside the tool (for ecample the rectangle tool's layer buttons as in rectangle layer, region layer, etc..)

[2022-03-15 17:54] mohamedAdhamc commented on #2200
update: found a possible solution to remove this focus (dotted rectangle thing)
it's pretty much disabling the focus for these layer buttons only. doing so successfully stopped these buttons from grabbing focus and it doesnt seem to be affecting other things, and synfig is building correctly should I make a pull request for just the rectangle tool as a demo first ?

[2022-03-16 04:15] ice0 commented on #2200
Hi guys!
Author of Materia theme says this is intended behavior (https://github.com/nana-4/materia-theme/issues/356#issuecomment-462192375).

For example:
https://github.com/nana-4/materia-theme/issues/356
https://github.com/nana-4/materia-theme/issues/409

All issues: https://github.com/nana-4/materia-theme/issues?q=is%3Aissue+focus+is%3Aclosed

I think it's not the best idea to disable focus bec

[2022-03-16 05:58] rock16 commented on #2525
@rodolforg I don't know if I'm right or not. But it turns out the action for grouping layers has been implemented in `synfig-studio/src/synfigapp/actions/groupaddlayers.(h,cpp)` but the ability to group layers with hotkeys (ctrl + g) hasn't right?

I would love to work on this if it has not been implemented.

[2022-03-16 06:19] mohamedAdhamc commented on #2200
how about maybe just not grabbing focus from mouse clicks as a better alternative to disabling it altogether. Also I have thought of the keyboard navigation part is it really of use there ? i.e do some user use it for layer type selection ? becuase for me it seems like it would just be an inconvenient way of selecting layers.

[2022-03-16 06:19] Keyikedalube commented on #2200
From https://github.com/synfig/synfig/pull/2577#issuecomment-1068719622 I made an alternate suggestion to use button signals:

_"If we wanted to keep the keyboard tab input intact we could use signals to detect when the button is toggled and thereby grabbing/ungrabbing focus intelligently. Code implementation would be longer though."_

[2022-03-16 06:21] Keyikedalube commented on #2200
Sometimes I occasionally hit tab key if I wanted to avoid mouse cursor changing combobox or spinbuttons data. But that is very very very rare.

[2022-03-16 06:29] mohamedAdhamc commented on #2200
yes thats why I originally thought it wouldnt be such a big hassle to disable it altogether. However which do you think might be a better approach disbling grabbing focus just for mouse clicks or using signals. I think the former would be much easier and I cant think of any drawbacks except maybe that if you do the layer selection using the keyboard then we would be back at the same issue kind of.

[2022-03-16 06:30] Keyikedalube commented on #2525
Yes, the OP requests hotkey as a new feature to maximize his productivity.

I would suggest to look at the code. Play around and replicate said action hotkey by referencing other action hotkeys. There are a lot.
If you are working on this let me know and I'll assign this issue to you :)

[2022-03-16 06:33] Keyikedalube commented on #2200
Since @ice0 wants to keep keyboard navigation I guess using signals would keep both side happy ;P

[2022-03-16 06:35] mohamedAdhamc commented on #2200
I believe disabling focus just for mouse clicks would still keep keyboard navigation. I think we have a similar style thing for the top right toobar where they can be accesed via keyboard navigation but clicking them by mouse doesnt grab focus.

[2022-03-16 06:59] mohamedAdhamc commented on #2200
@Keyikedalube  done.

[2022-03-16 07:22] rodolforg commented on #2390
OK.  I saw that `signal_value_node_replaced()` is called (almost) right after `signal_value_node_changed()` is called.
This somehow causes the crash.
The action `ValueNodeReplace` calls `ValueNode::replace()` that indirectly calls the signal `changed`. Then the first method changes the value node GUID and finally emits `signal_value_node_changed()`.
https://github.com/synfig/synfig/blob/1f702dfdcf

[2022-03-16 07:39] rodolforg commented on #2525
Hey, @rock16 ! Well, you aren't right here, but it's not your fault.
A synfig Canvas (may) have Layer Sets (https://synfig.readthedocs.io/en/latest/ui/panel_sets.html), but Set is the word used in the GUI, but not in the source code :( That difference exists due to a change made a long time ago (https://wiki.synfig.org/Terminology).

You should search for "encapsulate".

[2022-03-16 09:33] rock16 commented on #2525
@Keyikedalube

If you are working on this let me know and I'll assign this issue to you :)

This is what I intend to do right away.

I do need to get somethings right.

@rodolforg

Does it mean Layer Sets on the GUI is actually refered to as Group on the source code? speaking of `studio/src/synfigapp/actions/groupaddlayers.(h, cpp)`.

From the GUI layer panel, one can add selected layers to set an

[2022-03-16 18:15] mohamedAdhamc commented on #2183
Hey it seems like noone is wo

hey, it seems like no one is doing that could I possibly take this on?

[2022-03-16 18:22] FirasH commented on #2183
@mohamedAdhamc you can take this one 👍, assigning to you.

[2022-03-16 18:26] mohamedAdhamc commented on #2183
alright thanks, just so I'm sure I understand correctly though. What needs to be done here is to include that file in-app.h and therefore removing the need to include it in other places, so then just removing the #include from other not needed places and making sure Synfig is building correctly after doing so. correct?

[2022-03-16 18:28] mohamedAdhamc commented on #2183
if so then I'm already doing this, and I successfully removed one of them and checked that synfig was building correctly. I will just remove the others and then make a proposal.

[2022-03-16 19:21] mohamedAdhamc commented on #2183
Done

[2022-03-16 23:02] mohamedAdhamc commented on #2041
if this hasn't been done yet (I tested it and seems like it hasn't). I would like to do it.  However, @rodolforg Just to be clear here though, this "OK button press" is the same thing @Keyikedalube  meant by "to apply change". and cancel change is, therefore "cancel button press".

   Also, If what I'm getting here is correct what button combos would be best for these two ? I have noticed for the

[2022-03-16 23:06] mohamedAdhamc commented on #2041
If this hasn't been done yet (I tested it and seems like it hasn't). I would like to do it.  However, @rodolforg Just to be clear here though, this "OK button press" is the same thing @Keyikedalube  meant by "to apply change". and cancel change is, therefore "cancel button press".
Also, If what I'm getting here is correct what button combos would be best for these two ? I have noticed for the text

[2022-03-17 00:52] rodolforg commented on #2041
Yes: Pressing OK applies the changes and close the dialog. The shortcut `Ctrl`+`Enter` would do the same.

Yes, `Esc` would close the dialog without apply the changes. It's the same behavior if user clicks on Cancel button or Close button.

No. The Paragraph dialog is for allowing text with more than one line. So `Enter` should work for new lines.
It's just like this text-area here. `Enter` means

[2022-03-17 09:53] mohamedAdhamc commented on #2041
Oh alright makes sense, so (ctrl+enter) for applying change and (Esc) for canceling the change. Will be working on this in a couple hours.

[2022-03-17 11:44] Keyikedalube commented on #2183
Why "gui/docks/dockmanager.h" inclusion was done that way explained here https://github.com/synfig/synfig/pull/2579#issuecomment-1070290974

More info in the referenced PR. Closing this.

[2022-03-17 11:44] #2183 closed

[2022-03-18 04:27] ice0 commented on #2200
I think this is not the best idea, because we are breaking GTK behavior.
Moreover, if we continue along this path, we will have to change all the other components, not just this one.
As you can notice, there are a lot of issues about visual similarity of elements in this theme, but the author just closes these issues.
Therefore, it is better to check how other programs like Krita or Gimp solves th

[2022-03-18 04:56] ice0 commented on #2565
@mohamedAdhamc
Can it be closed or are there any issues left unresolved?

[2022-03-18 08:29] mohamedAdhamc commented on #2200
But isn't it also a bit weird looking even in adwaita when you make the button inactive to have some sort of dotted rectangle around it. I believe not having the focus when it's inactive looks less confusing, and better visually. Is there a point here or is that just me thinking too much xd ?

[2022-03-18 08:34] mohamedAdhamc commented on #2565
Last that I know of, it was still giving out errors however I will try running it now and see how it goes.

[2022-03-18 13:16] mohamedAdhamc commented on #2565
at the end it gives out
`C:/msys64/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/11.2.0/../../../../x86_64-w64-mingw32/bin/ld.exe: error: export ordinal too large: 73254
collect2.exe: error: ld returned 1 exit status
make[4]: *** [Makefile:1640: synfigstudio.exe] Error 1
make[4]: Leaving directory '/home/20102/synfig.git/_debug/synfig-studio/src/gui'
make[3]: *** [Makefile:4088: all-recursive] Error 1

[2022-03-18 17:14] BobSynfig commented on #2565
I had the same error last weekend, it is a common issue when having too many symbols exports in one lib (max 65535), so the debug mode is a bit broken at the moment (for Windows).
I will try the build system (https://github.com/morevnaproject/morevna-builds) to see if the recent changes were successful.
P.S.: Production build also fail on creation of some icons on AutoTools, obviously because of m

[2022-03-18 17:27] mohamedAdhamc commented on #2565
yea, I'm actually just using c-make now. way more convenient as of right now.

[2022-03-19 05:53] Keyikedalube commented on #2200
This issue is neither Synfig's nor 3rd party theme author's fault even though I stated so in my comment above https://github.com/synfig/synfig/issues/2200#issuecomment-1067504391. Materia theme designers could have their own valid reason why they made focus color that way.

Synfig's unlucky to have a series of buttons packed in a row. Confused me a lot when I thought I was drawing both outlines an

[2022-03-19 05:59] Keyikedalube commented on #2200
GTK toolbar buttons by design do not grab focus when clicked. That way the main application work area doesn't lose focus.

Imagine a text editor with toolbar buttons that can grab focus. Once a user clicks any button in the toolbar, editor's area focus is lost, he/she can no longer write or type stuff.

[2022-03-19 11:00] mohamedAdhamc commented on #2200
Yes, I meant just as focus by mouse click isn't needed there, I don't see a reason that it should be needed here. I might be missing a point here though.

[2022-03-20 08:49] Keyikedalube opened #2584 "Switching workspace crashes Synfig"
**Describe the bug**
Can no longer switch between workspaces: Animating, Compositing, Default, and/or user custom ones.
 The program just crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Window > Workspace'
2. Click on 'Compositing'
3. Crash

**Expected behavior**
Workspace switches from Default to Compositing successfully.

**Screenshots**
![Screenshot from 2022-03-20 14-12-3

[2022-03-21 05:32] ice0 commented on #2200
Agree, it makes sense.
Maybe it's just our problem, because we don't use `Gtk::Toolbar` for GTK4 compatibility, but we're still on GTK3.

[2022-03-21 14:35] morevnaproject opened #2586 "Vectorization of rectangle produces wrong result"
**Describe the bug**
1. Download a sample bitmap image:
![rectangle-small](https://user-images.githubusercontent.com/332868/159283384-75c2858b-495e-4e08-96f0-226b0e3f28d5.png)
2. Import this image into Synfig
![screenshot_001](https://user-images.githubusercontent.com/332868/159283578-cb110eb4-f05b-4b2a-afda-74500df9ab1e.png)
3. Right-click on imported layer and choose "Convert to Vector"
4. Accep

[2022-03-21 14:36] morevnaproject commented on #2586
@ankit-kumar-dwivedi Maybe you know what could be wrong here? ^__^

[2022-03-22 05:18] #2544 closed

[2022-03-22 06:31] Keyikedalube commented on #2525
Okay, inked PR #2581 resolved this issue.

[2022-03-22 06:31] #2525 closed

[2022-03-24 11:43] hesham-essam opened #2590 "Bug with adding layer to nested exported canvas"
**Describe the bug**
Can't add layers to nested exported canvas.

**To Reproduce**
Steps to reproduce the behavior:
1. Draw a rectangle.
2. Create a group containing the rectangle by pressing the 'Group Layer' button.
3. Export the canvas of the group to 'canvas1'
4. Create another group of the rectangle by pressing 'Group Layer' so that the rectangle is inside the new group which is inside 'canva

[2022-03-24 21:16] triawarman opened #2592 "Add padding to controls"
Hi, when changing a value of property, and the control view port doesn't show all the contents, the scroll bar position is right above the input value, this is quite anoying

![compact](https://user-images.githubusercontent.com/69887678/160009088-a2181845-f1e1-4bb8-bfc8-8f743558569b.png)

![wide](https://user-images.githubusercontent.com/69887678/160008380-8b631985-90b1-4cf3-92cc-2c9ffc4a1ac1.png)

[2022-03-25 02:07] triawarman commented on #2528
may i add little request, when the input control is active, another way to change its value is using "up key" or "down key"

[2022-03-26 02:56] rock16 commented on #2188
I would love to work on this issue,
below is a list of what I know and intend implementing for now.

1) in `src/gui/docks/dock_layer.cpp`, I have started out by replacing the ui definition for the toolbar

from this `Glib::ustring ui_info =
        "<ui>"
	"	<toolbar action='toolbar-layer'>"
	"	<toolitem action='popup-layer-new'
        ........................`

to something like this  `Glib::ust

[2022-03-26 04:30] yoSachinkr opened #2593 "Feature request: Allow rotation of guides in canvas"
Right now guides in synfig can either be horizontal or vertical.
If guides could be rotated in  any angle (as in inkscape), it could ease the process of creation of shapes and animation as well.
Also it would allow to create perspective lines ( which is quite helpful in creating good artwork)
PS: Please also provide a way to place guides at precise coordinates, kind of like this
![image](https://u

[2022-03-27 04:42] ice0 commented on #2188
Hi, Rock!

Assigned this to you.

I suggest adding the `App::get_builder()` method to the `App` class (same way as `App::ui_manager()`) and reimplement the toolbar using it.

[2022-03-27 12:41] rodolforg opened #2594 "Layer_CurveWarp with zoom at 1600% crashes Synfig"
**Describe the bug**
Layer_CurveWarp with zoom at 1600% crashes Synfig

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Rectangle in a new document
2. Add a CurveWarp layer above the rectangle layer
3. Disable/Inactivate this CurveWarp layer by clicking on the Layers Panel
4. Change workspace Zoom to 1600% (via `Ctrl`+`mouse scroll` or by typing the zoom level in the Zoom Dial widget

[2022-03-29 09:57] Kemosalamy commented on #2594
the problem seems to be in this function specifically in synfig/synfig-studio/src/gui/workarea.cpp

![image](https://user-images.githubusercontent.com/81593733/160584594-dc8e65a7-fcb8-4290-a0a5-da77efaafb44.png)

[2022-03-29 12:34] JoedsonGabriel opened #2596 "Python binary file not found when exporting Lottie.json"
**Describe the bug**

When trying to export a "lottie.json" file, a message is displayed stating that the python binary needs to be defined in the environment variable.

* Added SYNFIG_PYTHON_BINARY variable
* Restarted Windows
* I tried exporting again

Even so Synfig doesn't seem to recognize the new variable.

Detail: python 3.10 is already installed with their respective variables configured.

[2022-03-30 05:10] ice0 commented on #2596
@JoedsonGabriel

Confirmed.

The problem occurs when there are spaces in the path to Python.
As a workaround, copy Python folder from "Program Files" to a folder that does not contain spaces.

[2022-03-30 15:39] Kemosalamy commented on #2594
After diving a bit more into this problem here is what I discovered:
the problem does lie indeed in refresh_dimension_info(kind of)
refresh_dimension_info is a function inside workarea.cpp as well.
the problem can be kind of isolated to the first 3 lines of the function:

![image](https://user-images.githubusercontent.com/81593733/160872378-f80beaef-5f53-4a30-98f2-39e382feaf03.png)

Commenting the

[2022-03-31 14:48] #2592 closed

[2022-03-31 14:56] Keyikedalube commented on #591
I don't understand padding for the top but padding for bottom makes sense and could be done.

Easy solution :) So why no PR yet?

[2022-04-01 16:24] rock16 commented on #2188
Hi, @ice0

I am having a hard time with implementing the toolbar icons and actions using `App::get_builder`. With `App::ui_manager`, I am able to call `App::ui_manager()->insert-action-group(action_group)`

For example with this code [https://gist.github.com/rock16/047d6125692cd7397b4deebd87ce6bcf](url) this is what I get on the toolbar.
![toolbar layer](https://ibb.co/pXDwpbg)

[2022-04-01 18:11] Kemosalamy opened #2598 "Memory leak from repeatedly pressing load default palette"
**Describe the bug**
Memory of the synfig application increases as the load default palette button is pressed repeatedly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open synfig
2. Repeatedly press the load default palette button
3. View program memory usage(keeps increasing)

**Expected behavior**
Memory usage does not keep increasing as the button is repeatedly pressed.

**Screenshots*

[2022-04-02 04:43] Keyikedalube commented on #2132
Over [here](https://stackoverflow.com/questions/9036812/how-do-you-change-alternating-background-row-colors-of-a-gtk-treeview-in-pygtk) this guy did it with TreeView API member function [Gtk::TreeView::set_rules_hint()](https://developer-old.gnome.org/gtkmm/3.24/classGtk_1_1TreeView.html#afc95decfb73c43e44e2fbf1e87818dcf):
[code]

Then I noticed Synfig has that turned on already:
![Screenshot from

[2022-04-02 06:00] Keyikedalube commented on #2132
Not the solution but here's what I got playing with CSS on GTK inspector
![Screenshot from 2022-04-02 11-02-49](https://user-images.githubusercontent.com/24214509/161368138-a10d185c-058d-4dc8-a56d-b8dc9d9bf66e.png)

Instead of passing approximate decimal values, we can pass percentages to maintain color harmony with user themes. The downside to this is we might have to completely write out all sty

[2022-04-02 15:27] ice0 commented on #2188
The documentation says to use Gtk::Widget::insert_action_group() instead.

I haven't tested it, but it looks like you can attach an action group to a toolbar widget.

[code]

[2022-04-02 16:22] PhilDevProg opened #2599 "Motion Capturing"
I really like Synfig Studio and it would be really cool if it had a motion Capturing feature. Example: You create a character with a skeleton. Then you click on a button and a dialog opens where you can tell Synfig which bones of the real body the bones are
 Then you would import a video file or capture a video in Synfig and it would animate the body parts for you. If you raised your hand, Synfig

[2022-04-02 17:44] rock16 commented on #2188
@ice0

Initially I tried adding the already defined `Gtk::ActionGroup` to the toolbar and I got this error ` error: no matching function for call to ‘Gtk::Box::insert_action_group(Glib::RefPtr<Gio::SimpleActionGroup>&)`;
 my bad, I should be using `Gio::ActionGroup` rather for new code.

The code compiles successfully using `Gio::ActionGroup`.

Thanks a lot for your help.

[2022-04-03 01:31] rodolforg commented on #2594
I'm not sure the problem is renderer_canvas.cpp, as it happens also via synfig CLI, not only on Synfig Studio (GUI).

[2022-04-03 02:25] ice0 commented on #2599
Looks interesting!

[2022-04-03 15:18] BobSynfig commented on #2596
In you Environment Variable, use the short version 8.3 instead of LFN for the path (C:\Progra~1\Python310\python.exe)
Anyway you will encounter the missing helper bug with this build (https://github.com/synfig/synfig/issues/2393) ... which can be solved easily too but leads once again to another bug!

[2022-04-03 15:19] hesham-essam commented on #2594
I will take a stab at this issue if that's okay

[2022-04-03 15:27] BobSynfig commented on #2393
The binary is named as gspawn-win64-helper<b>-console</b>.exe (or gspawn-win32-helper<b>-console</b>.exe)
 It can be renamed gspawn-win64-helper.exe (in /bin under Synfig's install directory) and it will work, but there is another bug appearing then:
Plugin execution failed: Failed to execute child process (invalid argument)...

[2022-04-03 16:06] Kemosalamy commented on #2594
@hesham-essam Here is what I discovered so far, hopefully it's of some use. My last progress with the issue after checking out the gdb segmentation fault backtrace seemed to be that the crash occurs due to 2 functions. specifically:

synfig/synfig-core/src/synfig/rendering/software/function/contour.cpp line 52 render_polyspan(

https://github.com/synfig/synfig/blob/473af1c1b1a3b990812825c7e01ea46e

[2022-04-03 16:20] Keyikedalube commented on #1063
So here's a Mac guy who encountered this same issue: https://discourse.gnome.org/t/window-icon-on-macos/9302

From https://github.com/synfig/synfig/issues/1063#issuecomment-628600799:

Also the guy from GNOME discourse confirmed that this is wayland behavior by design:

Closing it again LOL

[2022-04-03 16:20] #1063 closed

[2022-04-04 17:45] jointri opened #2604 "Bug with the timeline that is causing some frames to be grey rather than green."
**Describe the bug**
I simply press the play button and each frame becomes green as it should, however, some frames for me are grey rather than green. I think this is a bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Just press play.

**Expected behavior**
I expect each frame to become green as it gets played.

**Screenshots**
![SSS](https://user-images.githubusercontent.com/81046576/16

[2022-04-05 03:08] morevnaproject commented on #2596
Hi! Python is shipped with Synfig installation package, so it should work out-of-box without any external Python installation.
The error message may occur if you are trying to run plugin on unsaved file.

@JoedsonGabriel can you please check if the error present if you try to run plugin on previously saved file? (without SYNFIG_PYTHON_BINARY env variable)

[2022-04-05 05:03] ice0 commented on #2596
@morevnaproject
As BobSynfig already noted, we also have a problem with a missing `gspawn-win64-helper.exe` executable in the 1.5.1 release. (https://github.com/synfig/synfig/issues/2393).

It is required to run Python.

[2022-04-05 14:19] #2393 closed

[2022-04-05 14:20] morevnaproject commented on #2596
Ah, sorry I missed that note. Fixed via https://github.com/morevnaproject/morevna-builds/pull/44 ^__^

P.S. Surprisingly I haven't encountered errors with running python scripts on my Windows instance, but it might be because I am on Windows 8, not Windows 10.

[2022-04-05 15:30] morevnaproject commented on #2142
Please check testing build - [SynfigStudio-1.4.3-testing-2022.04.05-win64-71775.exe](https://cloud.morevnaproject.org/s/NrH2Dx8DFL4dtNT)

[2022-04-05 15:30] morevnaproject commented on #2596
Please check testing build - [SynfigStudio-1.4.3-testing-2022.04.05-win64-71775.exe](https://cloud.morevnaproject.org/s/NrH2Dx8DFL4dtNT)

[2022-04-05 16:19] ice0 commented on #2142
@morevnaproject
The installer runs from a folder with non-Latin characters normally.
The installer now allows you to select a folder with non-Latin characters.

![Screenshot_6](https://user-images.githubusercontent.com/5604544/161799680-7ced369a-f87b-4d2a-b084-c2cdc6530ff7.png)

Synfig doesn't run from a folder with non-latin characters, but that would be the next step.

[2022-04-05 21:33] hesham-essam commented on #2594
I tracked the cause of the problem, and it seems to be this bit of code
https://github.com/synfig/synfig/blob/e54c25dc051f6ad38f8ec2ed8ca95371be4a3cd4/synfig-core/src/modules/lyr_std/curvewarp.cpp#L443-L455
Specifically
https://github.com/synfig/synfig/blob/e54c25dc051f6ad38f8ec2ed8ca95371be4a3cd4/synfig-core/src/modules/lyr_std/curvewarp.cpp#L449-L450
When zooming in, `set_wh` sets the width and

[2022-04-07 03:19] Keyikedalube commented on #2604
Workspace rendering depends heavily on your CPU speed.
Here's my screencast of the same from a decade-old Intel i3 3.3 GHz CPU

https://user-images.githubusercontent.com/24214509/162113386-4d88f063-2d88-4981-bebe-46688762c5e7.mp4

[2022-04-07 15:53] BobSynfig commented on #2596
I just tried (W10), it works as expected :)

[2022-04-08 14:57] Bala621 opened #2605 "Rendering over the playback bounds"
Version 1.4.2 render over the bounds

**System information:**
 - OS: Windows
 - OS version: windows 10
 - Synfig version: 1.4.2

**Additional comments**
This only happen in 1.4.x not 1.5.x
![Screenshot 2022-04-09 081730](https://user-images.githubusercontent.com/68197434/162466458-23fe9856-34e8-420e-adb5-6c7543fca00d.jpg)

[2022-04-09 12:31] rodolforg commented on #2594
Maybe the problem is the `pw` and `ph` values and these divisions:

https://github.com/synfig/synfig/blob/e54c25dc051f6ad38f8ec2ed8ca95371be4a3cd4/synfig-core/src/modules/lyr_std/curvewarp.cpp#L452-453

What if the calculation was computed other way? If `pw`/`ph` are too small, those calculations could be wrongly computed.

[2022-04-09 12:39] rodolforg commented on #2604
As @Keyikedalube said, when you press play, it tries to play in "real-time", so some frames may be skipped due to not being rendered at the expected time. However, they'll be exported correctly, do not worry about it.

In addition, the green color means that frame has its rendered image cached. So if you play again, the 'missing' frames have more chance to be rendered.
You can also drag the curren

[2022-04-09 13:09] hesham-essam commented on #2594
I believe these hard coded values are a bug eitherway. They represent the area that should be rendered in canvas coordinates, and as we zoom in:
1. If we kept `pw` and `ph` constants, the area should get bigger in pixel coordinates (as is done right now).
2. If we kept the width and height constants, `pw` and `ph` would change so that the rendered image would not get any clearer as we zoom in.

[2022-04-10 10:28] onlyjob opened #2606 "FTBFS on i686: "test_bline_length:98 - expected 2, but got 2""
Synfig 1.5.1 just had a hilarious FTBFS on i686 in Debian:

[code]

See full build log here: https://buildd.debian.org/status/fetch.php?pkg=synfig&arch=i386&ver=1.5.1%2Bdfsg-1&stamp=1649585184&raw=0

Apparently it wanted `2` but got ... `2` so it is unhappy, like a child.  ;)

Thanks.

[2022-04-11 03:59] #2584 closed

[2022-04-11 04:20] rock16 commented on #666
Hi! @morevnaproject
My name is Rock. I am actually interested in working on this project ideas as my gsoc 2022 project since I have the required skills for this project. I have actually made a few contributions to synfig also.

Next goal is to make synfig-core compile using conan packages.

like you mentioned, I will like to start working on this task. Though I noticed that your PR has not been me

[2022-04-11 04:24] Keyikedalube commented on #2605
New feature delayed for Synfig v1.6 I think

Fixed by @FirasH in this PR #1852

[2022-04-11 06:44] PhilDevProg opened #2607 "AppImage doesn't start"
**Describe the bug**
The AppImage isn't able to start

**To Reproduce**
Steps to reproduce the behavior:
1. Download the AppImage of version 1.5.1 from GitHub
2. Run `chmod +x SynfigStudio-1.5.1-2021.10.21-linux64-2cb6c.appimage` in the Terminal
3. Run `.SynfigStudio-1.5.1-2021.10.21-linux64-2cb6c.appimage` to start Synfig
4. See error message:

find: /tmp/.mount_mA0gRF/usr/lib/libselinux.so.1: no

[2022-04-11 06:52] Keyikedalube commented on #2607
Reproducible both in v1.4.2 and v.1.5.0

[2022-04-11 06:58] Keyikedalube commented on #2607
This isn't Synfig problem.

Here's another project reporting the same issue https://github.com/vircadia/vircadia/issues/1483
Another one https://sourceforge.net/p/flightgear/codetickets/2651/

[2022-04-11 08:04] ice0 commented on #2607
ping @morevnaproject

[2022-04-11 14:03] morevnaproject commented on #666
Hi @rock16! Yes, the PR #2286 is not merged, but I recommend you to use its branch as a starting point. You can checkout my branch (https://github.com/morevnaproject/synfig/tree/conan) and start from there.

[2022-04-11 17:02] morevnaproject commented on #2607
Related to https://github.com/synfig/synfig/issues/2397

[2022-04-11 17:20] morevnaproject opened #2608 "Can't render to avi with ffmpeg 3.1.5"
On latest master branch (368a50f9f322bf0083067af9b4aaf113816b063b):

Rendering to avi doesn't works if installed ffmpeg version is 3.1.5 (probably, any 3.x version).

It shows this error:
[code]

It works fine with ffmpeg 4.2.2.

Original report - https://forums.synfig.org/t/synfig/13137

[2022-04-11 20:34] usama-makhzoum opened #2609 "Can't find web browser to open manual urls"
**Describe the bug**
Synfig can't find web browser application to open urls, such as reference and documentation links (on Windows 10)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Help menu
2. Click on any link (Tutorials for example)
3. See error

**Expected behavior**
Opening web browser (firefox in my case)

**Screenshots**
![image](https://user-images.githubusercontent.com/63743

[2022-04-12 10:16] ice0 commented on #2606
@rodolforg

`std::cerr.precision(8)` is just not enough to show the problem here.
I changed it to `12` so now it shows more precise values:
[code]

The problem is in different float/double precision on i386 and x64. More details here:
https://stackoverflow.com/questions/10808601/different-behaviour-or-sqrt-when-compiled-with-64-or-32-bits

This can be fixed by adding the `-ffloat-store` flag to g+

[2022-04-12 10:29] ice0 commented on #2607
@PhilDevProg

What desktop environment are you using?

[2022-04-12 11:23] PhilDevProg commented on #2607
@ice0 I'm using GNOME 42 on Wayland

[2022-04-13 02:25] triawarman opened #2610 "UI improvement for [Parameters] panel"
For example i have layer A and B, when i need to "copy" the animation of layer A to layer B, i need to see the parameters of layer A, and (manually) write to layer B, when the animation is getting complex i need to scroll [TimeTrack] panel, click time frame, then see the parameters on [Parameters] panel, its quite tiring.

Propose new additional section to the UI.

![synfig-draft](https://user-ima

[2022-04-13 06:55] Keyikedalube commented on #2610
Synfig's default workspace places parameters and time track panels in alignment so it's easier for the user to visually sync between the two.
![Screenshot from 2022-04-13 10-25-23](https://user-images.githubusercontent.com/24214509/163112742-f83935fc-c7fc-4bba-92bd-d906ab117a08.png)

Since you are working on animation stuff why not use Animating workspace (Window > Workspace > Animating) instead.

[2022-04-13 07:18] mohamedAdhamc opened #2611 "[GSOC] User Interface improvements proposal-mohamedAdhamc"
As mentioned in the docs I'm starting this issue to discuss my application and get some feed-back. I'm not sure if this is still the preferred method of doing so, if not kindly inform me so and my apologies in advance. @ice0 , @morevnaproject  you're the mentors for this project I am not sure exactly who of you will be or maybe both ? 😅. I do have a few questions

1- where should I submit the prop

[2022-04-14 00:30] mohamedAdhamc commented on #1936
However, Ctr+tab is already used for switching focus in GTK so maybe just another shortcut. @Keyikedalube what do you think?

[2022-04-14 01:24] Keyikedalube commented on #1936
As long as other docks doesn't grab focus then ctrl+tab would work just fine. In case canvas view focus is lost Alt+1..2.. (or Ctrl+1...) would be another way to switch between tabs as mentioned in the blog post above. I prefer both ways; tab and number combination.

[2022-04-14 04:39] mohamedAdhamc commented on #1936
ok so just that Im sure im following on the same page here this feature would allow for switching of tabs like the ones shown in the picture correct ?

<img width="637" alt="synfigtabsthing" src="https://user-images.githubusercontent.com/100296264/163314769-b54e7ce0-c083-403f-a4f9-c81899bd5df3.PNG">
?

[2022-04-14 06:20] PhilDevProg commented on #2607
It works again after I removed the font cache with `rm -rf $HOME/.cache/fontconfig`

[2022-04-14 06:20] #2607 closed

[2022-04-14 07:09] Keyikedalube commented on #1936
@mohamedAdhamc yes

[2022-04-14 14:25] rock16 commented on #666
Hi @morevnaproject
I would like to know if we are going to have a CI system because that is were I believe the real benefits comes from since for every package I create for instance we should be able to have it on a repository such as conan. I would also like to include it in my Gsoc proposal too.

[2022-04-15 00:31] triawarman commented on #2610
hy @Keyikedalube,

yes i use the layout for animation as you gave

![main workspace](https://user-images.githubusercontent.com/69887678/163496612-e833cac5-aa4b-441f-925b-56bacee90975.png)

but sometimes there are situations where the [Parameters] panel and [TimeTrack] panel give an uneven display (and worse than the screenshot I showed), so I create a new workspace.

i know, i hope you guys move t

[2022-04-15 02:02] mohamedAdhamc commented on #1077
Hey guys, would it also be of any use to allow for hiding the vertical and horizontal rulers separately? I believe they should both be hidden together but just making sure.

[2022-04-15 03:47] mohamedAdhamc commented on #1048
@yoSachinkr
this is the properties panel which you mentioned right ?
<img width="507" alt="properties_panel" src="https://user-images.githubusercontent.com/100296264/163515114-78414ded-53fe-41f0-a513-1d774d267e0e.PNG">

[2022-04-15 09:12] ice0 commented on #1048
I think he means `Parameters` panel

![Screenshot_19](https://user-images.githubusercontent.com/5604544/163551931-b154ea48-0c0d-4a62-a018-a993a3090562.png)

[2022-04-15 10:34] mohamedAdhamc commented on #1048
Yes makes a lot more sense. Thanks

[2022-04-15 15:12] #2596 closed

[2022-04-16 06:17] morevnaproject opened #2612 "[1.4.x] Build error: call of overloaded 'abs(synfig::Real&)' is ambiguous"
I've got the following error when building packages from [v1.4.x branch](https://github.com/synfig/synfig/commits/v1.4.x) (commit id 71775e696d32388b0f04a267c02a3785732f4bdc):

[code]

[2022-04-16 06:29] morevnaproject commented on #666
Yes, when you create a list of required packages, you will find that some packages are missing in Conan. And you will need to pack those dependencies for Conan.
So, do you mean to setup CI for each new Conan package?

[2022-04-16 12:09] rock16 commented on #666
Hi @morevnaproject

If I understand properly, lets say I create a conan package for glibmm on my local machine, I will have to upload the package and the recipe to conan repository right?

My thoughts were that we would use a CI server like jenkins to build our libraries and generate the conan package so that each time we make changes to the recipe for example. we just have to git commit and the l

[2022-04-17 03:21] ice0 commented on #2612
@morevnaproject use `std::abs` here instead.

[2022-04-18 06:31] morevnaproject commented on #666
Actually, I see it like this:
For missing packages you create a recipe. You submit this recipe as PR to conan-center (so it can be reviewed by Conan team and included to global repository). They have CI already set up for their central repository. But the process of accepting PR submit might take significant time, so I suggest to submit the the recipe to synfig's repo, so users can build

[2022-04-19 03:06] mohamedAdhamc commented on #1198
Hey if this issue is still not complete I believe I may be able to help. I have been a contributor here for a bit and I'm also bilingual due to being raised in the U.S and then moving back to Egypt. Arabic is my first language (although not standard Arabic but no Arabian countries speak standard Arabic anymore, even though it's still the official way of typing and communicating).

[2022-04-19 03:20] mohamedAdhamc commented on #1267
Hey @morevnaproject @rodolforg, should these five buttons apply the selected interpolation type for the in/out interpolation together?

[2022-04-19 03:22] morevnaproject commented on #666
Yes, we will need a CI for generating packages and also testing how they build in different environments - Linux/Windows/MacOS. We also have a custom Docker image with an environment for cross-compilation of Synfig (and its dependencies) to various platforms - https://github.com/morevnaproject/morevna-builds. We use this image to generate installers for Windows and appimages for Linux. It would be

[2022-04-19 04:14] ice0 commented on #1198
@mohamedAdhamc
Awesome! You can check the translation progress here:
https://www.transifex.com/morevnaproject/synfig/

[2022-04-19 04:18] ice0 commented on #2611
Here we discussing technical things mostly, just in case to not overload contributors who subscribed to all messages here.
Answered on the forums.

[2022-04-19 04:55] mohamedAdhamc commented on #1198
Great will be starting right when I wake up tomorrow hopefully 😄.

[2022-04-19 04:57] mohamedAdhamc commented on #2611
Alright, sounds good.

[2022-04-19 15:03] #2410 closed

[2022-04-19 22:55] mohamedAdhamc commented on #1198
request to join the arabic team sent.

[2022-04-20 05:49] rock16 commented on #666
Thank you very much for your support. Right now I'm working on the recipes for dependencies missing on conan center.

[2022-04-25 05:10] davidfordaus opened #2619 "UI is not intuitive to new users"
**Describe the bug**
I'm a new user of Synfig, though I've spent many tens of hours in other tools such as Blender and the Adobe suite.  Some parts of Synfig are intuitive and follow common UI paradigms - others are not, leading to early frustration and "dropping" of learning Synfig.

Synfig is an excellent tool representing many developer hours of effort.  That effort will be wasted without adopt

[2022-04-26 02:33] #2612 closed

[2022-04-26 06:33] Keyikedalube commented on #466
Should be resolved in a separate issue.

I noticed one could transform offset/angle/scale/skew on multiple group layers using the mouse. However, the OP wants to transform them not with the mouse but on the editable transformation submenu field on parameters panel.

[2022-04-26 06:59] Keyikedalube commented on #466
Why that 150ms delay in line 480?
https://github.com/synfig/synfig/blob/08202f400bffb75031b907c7eab02f517ad99fef/synfig-studio/src/gui/trees/layerparamtreestore.cpp#L475-L480

The fix is in `LayerTree::on_layer_tree_event(GdkEvent *event)`. We only want to expand "Transformation" row so I figured that parameter property is available only when any layer object is grouped ie., group layers only. `GD

[2022-04-26 14:00] morevnaproject commented on #2608
The problem is related with this line -
https://github.com/synfig/synfig/pull/2477/files#diff-8234b245471aaa710d6163244158737421619ee337cb5e42d7b92c88cc61cc6dR271

Time passed as "0.20833333s" (with "s" at the end).

If time has no "s" symbol at the end, then it works both on ffmepg 3.1.5 and 4.2.2. Also tested on 5.0.1 - it works too. ^__^

[2022-04-30 04:57] ice0 commented on #2393
Works without any issues.

[2022-04-30 13:51] jointri commented on #2604
@rodolforg @Keyikedalube
Well I have an i7 processor on the machine I took the screenshot on. I don't understand why an i7 has issues while the i3 above works fine.

[2022-05-02 06:01] Keyikedalube commented on #2604
Hmm... strange. I'll tag this so someone with Windows expertise could help.

[2022-05-02 08:16] ice0 commented on #466
This is because changing an Object from the canvas area changes the object's properties in the `Parameters` panel.
Changing a property in the `Parameters` panel changes the Object in the canvas area, and so on.
Therefore, this approach is used to eliminate this cyclic dependency.

150 ms is the maximum time that can be spent recalculating dynamic values. So it depends on the user hardware.
If this

[2022-05-03 08:04] morevnaproject commented on #1570
Still reproducible in latest 1.4.3 build.

[2022-05-03 08:11] morevnaproject commented on #1570
Hmmm... But I have noticed the behavior is different - now it is crashing Synfig instead of giving an error message :-/

Here are links to test builds:
- [SynfigStudio-1.4.3-testing-2022.05.03-win32-b02a5.exe](https://cloud.morevnaproject.org/s/iDAgacoRL9DS9XN)
- [SynfigStudio-1.4.3-testing-2022.05.03-win64-b02a5.exe](https://cloud.morevnaproject.org/s/68KifzqxMocNHFE)

[2022-05-03 08:18] morevnaproject commented on #1569
The issue seems to be fixed in 1.4.x branch.

I have made a test builds of 1.4.3, here are the links:
- [SynfigStudio-1.4.3-testing-2022.05.03-win32-b02a5.exe](https://cloud.morevnaproject.org/s/iDAgacoRL9DS9XN)
- [SynfigStudio-1.4.3-testing-2022.05.03-win64-b02a5.exe](https://cloud.morevnaproject.org/s/68KifzqxMocNHFE)

[2022-05-03 08:35] #1569 closed

[2022-05-03 22:54] Gilraiser opened #2625 "Synfig Studio 1.4.3 AppImage no inicia en Archlinux"
**Bug description**

After giving the corresponding execute permissions and answering yes or no to the integration dialogs, Synfig does not start. When running it in terminal it throws the following error message:

`/tmp/.mount_ZZpn0Y/usr/bin/synfigstudio: error while loading shared libraries: libselinux.so.1: wrong ELF class: ELFCLASS32`

**To Reproduce**

1. Give execution permissions.
2. Double

[2022-05-04 03:49] ice0 commented on #2625
@morevnaproject

`libselinux.so.1` is a dependency for `libgio-2.0.so`

[code]
but it compiled for i386 arch:

[code]

find.sh
[code]

[code]

[2022-05-04 03:53] morevnaproject commented on #2625
@ice0 Hmmm, I see... I'll check our Docker image, thank you!

[2022-05-04 03:55] ice0 commented on #2625
@morevnaproject

Also I noticed this - GNU/SYSV difference on some libraries:

[2022-05-04 03:56] morevnaproject commented on #2608
Need to check if this issue present in 1.4.3 build

[2022-05-04 03:56] morevnaproject commented on #2608
Need to check if this issue present in 1.4.3 AppImage build...

[2022-05-04 06:21] Keyikedalube commented on #466
@ice0 I experimented with these event slots from `LayerParamTreeStore` a bit; `queue_rebuild()` and `queue_refresh()`

The latter `queue_refresh()` slot with time delay makes sense because we don't want incomplete data (recalculation not given enough time) when the object's params are being updated rapidly. For instance, color wheel dragging triggers this event slot.
However, I'm confused why we n

[2022-05-04 13:04] morevnaproject commented on #2608
Confirmed: The bug also affects testing Appimage build of 1.4.3.

[2022-05-04 16:19] morevnaproject commented on #2625
@Gilraiser
The issue should be fixed now. Please check the updated appimage packages:
- [SynfigStudio-1.4.3-testing-2022.05.04-linux64-b02a5.appimage](https://cloud.morevnaproject.org/s/igCsF8LY3TyXK3m)
- [SynfigStudio-1.4.3-testing-2022.05.04-linux32-b02a5.appimage](https://cloud.morevnaproject.org/s/APiqtS3fAbjNtYe)

Thank you for reporting on this issue!

[2022-05-05 01:08] Gilraiser commented on #2625
With pleasure friends, happy to help. I've tried the x64 version and it works fine as far as I've tested. But now, you see rectangles instead of text:
![bug](https://user-images.githubusercontent.com/45057390/166850304-389a6a73-d2d2-41ef-8765-19d16d4a0ed5.png)

These are the console messages:

[code]

[2022-05-05 01:54] ice0 commented on #2625
@Gilraiser
Can you try to clean FontConfig cache? You need to remove folder:
[code]

[2022-05-05 02:56] Gilraiser commented on #2625
Ok, now everything looks good. Many thanks friends.

[2022-05-05 03:53] Keyikedalube commented on #466
Another experiment was made this morning and alas discovered `queue_refresh()` and `queue_rebuild()` events clashes invalidating my previous statement above.

Here's how:
1. Create a rectangle layer
2. Group that layer
3. Export canvas
4. On successful export both events are triggered

I updated my PR to keep the time delay intact (150ms) and at the same time skip the delay if the other event is n

[2022-05-06 22:34] rektuiemforameme opened #2626 "Add option to duplicate and mirror selected bones"
I'm working on a project that has fairly complex skeletons, and it would be preferable if they were symmetrical. As far as I know, there isn't a way to duplicate bones.

My plan is to be able to select the bones you want duplicated, right click on one and select an option "Duplicate and Mirror" which will duplicate the bones and mirror them across the layer's center point. There might be an option

[2022-05-08 14:18] yoSachinkr opened #2627 "Feature request: Drag and drop of colors from color palette to canvas elements"
Drag and drop of colors from the color palette to the canvas elements (paths, regions, or any colorable layers) would be way more convenient. It would speed up the art work creation time in synfig.

[2022-05-10 03:44] morevnaproject commented on #2625
Hmm, should I add automatic cleanup for fontconfig folder when new Synfig version started for first time?

[2022-05-10 03:47] #1701 closed

[2022-05-10 03:53] ice0 commented on #2598
@Kemosalamy
Do you plan to fix this?

[2022-05-10 04:11] ice0 commented on #466
`queue_refresh()` updates the parameter in the `Parameters` panel without rebuilding the tree. This happens when you move the object on canvas.
`queue_rebuild()` removes all parameters in `Parameters` panel and repopulate it again. This happens when you switch between layers.

`queued` is used to decide which action we should take. If you move a layer and quickly switch to another, then there is n

[2022-05-10 04:25] ice0 commented on #2625
I'm not sure, but maybe you need to do this when the FontConfig version has changed (not the Synfig version).

[2022-05-10 09:57] Kemosalamy commented on #2598
@ice0 Yes I will start investigating this problem right away, please assign me to this issue 👍

[2022-05-10 22:15] nahCyzar0520 opened #2629 "Lock ability for all layers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Nothing major, just not being able to lock layers that aren't groups so I would accidentally select and/or move something else that is not what I wanted.
**Describe the solution you'd like**
A clear and concise description of what you want

[2022-05-11 04:25] Gilraiser commented on #2629
Hello, cordial greeting. I also think it would be very useful. To save space in the cap dialog, it could be implemented using the menu and colors to mark the cap lines that are locked. Here are some images of what it might look like:

![FeatureRequest-01](https://user-images.githubusercontent.com/45057390/167768831-e55b4c19-25e3-4015-9961-0d6d52e97716.png)

![FeatureRequest-02](https://user-images

[2022-05-11 05:18] Gilraiser opened #2630 "Function to send layer to the bottom of the stack or to the top of the stack."
**Description**

I think more functions to handle the stack of layers would speed up the work of the Synfig Studio artist a lot.

**Description of the solution**

A nice feature to add to the layer dialog would be to add a keyboard shortcut to send the selected layer to the bottom or top of the layer stack. For example, the shift key and the button to lower or raise layers in the stack.

**Alterna

[2022-05-11 22:29] nahCyzar0520 commented on #2629
I think that is a great way to indicate that they are locked. Nice job on that idea.

[2022-05-12 11:51] #2608 closed

[2022-05-15 12:39] Kemosalamy commented on #2598
One of the issues seems to have been specifically with this part of the code:
https://github.com/synfig/synfig/blob/9b5140ffb49b6ec64a4c729e8862b9c87cb791e0/synfig-studio/src/gui/modules/mod_palette/dock_paledit.cpp#L374-L385

Specifically in line 384 where new Widget_Color* s are created everytime the table is refreshed. the problem is that when the refresh function is called again, the previous

[2022-05-15 16:24] ice0 commented on #2598
Yes, because it is removed from the table, but not destroyed. This is expected behavior.
https://docs.gtk.org/gtk3/method.Container.remove.html

Why don't you use `table.foreach(...)` for this?

[2022-05-15 17:34] Kemosalamy commented on #2598
It seems the gtk_widget_destroy() function does not exactly work with the children object type of table(table has children of type Widget* whereas gtk_widget_destroy() take as an input a GtkWidget*) so i'm not sure how i would typecast in a foreach function. I'm also confused as to which documentation I should be following as most of the code seems to be using the gtkmm classes and libraries(howev

[2022-05-15 18:32] ice0 commented on #2598
This is gtkmm docs for Container:

https://developer-old.gnome.org/gtkmm/3.24/classGtk_1_1Container.html#a9f31c07118f7bdc7a4e0651acf35abbc

[2022-05-16 16:19] mohamedAdhamc commented on #2630
I think this sounds like a good idea. @Keyikedalube what do you think ?

[2022-05-17 12:06] morevnaproject opened #2635 ""Icon Theme" dropdown is empty in Preferences"
On master branch, commit [865f197](https://github.com/synfig/synfig/commit/865f1977d0a3e4129a1031cc39d7ea7514bc7158)

When I open Preferences window, there are no value in "Icon Theme" dropdown box -

![screenshot_001](https://user-images.githubusercontent.com/332868/168806703-3401458e-f66a-4baa-bbac-d1136901f312.png)

Though, I click it and it allows to select "classic".

I guess that's because I

[2022-05-17 12:26] morevnaproject opened #2636 "Interface background become white after clicking OK in Preferences dialog"
**Describe the bug**
On master branch, commit 865f197

After clicking OK in Preferences dialog (even when no changes to preferences are made) the background of workarea becomes white.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Synfig
2. Select "Edit" - "Preferences" from menu
3. Preferences window will appear.
4. Do not do any changes, just click "OK" in the Preferences window
5. T

[2022-05-17 15:11] morevnaproject opened #2637 "Can't enable Dark Mode"
**Describe the bug**
On master branch, after PR #2632 dark mode is not possible to enable anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Synfig using this command: `SYNFIG_GTK_THEME=Adwaita /path/to/synfigstudio`
2. Choose "Edit" - "Preferences"
3. Enable "Dark UI theme" option
4. Click OK
6. Theme remains white

**Expected behavior**
UI should be switched to dark mode.

**Sy

[2022-05-17 15:51] #1804 closed

[2022-05-17 16:22] morevnaproject commented on #2625
@ice0 Yes, I have added a mark-file. The absence of the file will trigger cache clearing.
Please check the change here and let me know what you think - https://github.com/morevnaproject/morevna-builds/pull/77

Here is a test build - [SynfigStudio-1.5.1-testing-2022.05.17-linux64-865f1.appimage](https://cloud.morevnaproject.org/s/GkqLtJQyN3zRY5A)

[2022-05-17 16:50] ice0 commented on #2637
@morevnaproject
Need more details. I can't reproduce.

Yes. I removed it because the theme is already applied.

https://github.com/synfig/synfig/blob/2a11e920a6a8394184aaa3085d6150718657a451/synfig-studio/src/gui/dialogs/dialog_setup.cpp#L967-L968

The dark mode setting is still here:
https://github.com/synfig/synfig/blob/2a11e920a6a8394184aaa3085d6150718657a451/synfig-studio/src/gui/app.cpp#L2271

[2022-05-17 17:38] ice0 commented on #2636
@morevnaproject

It looks like the old problem. I have the same issue on 1.4.3 and 1.5.1 AppImages.
I can reproduce it just minimizing and maximizing the window.

[2022-05-18 01:20] Gilraiser opened #2639 "Icons are not displayed in tool options."
**Describe the bug**

![no_icon_04](https://user-images.githubusercontent.com/45057390/168937309-8448d779-d20f-482c-86b8-6083d997d8fc.png)

Icons are not displayed in any of the tool options

**Screenshots**

![no_icon_01](https://user-images.githubusercontent.com/45057390/168937221-442d2a36-d3f6-4e5d-8979-a5a639eda9d1.png)
![no_icon_02](https://user-images.githubusercontent.com/45057390/168937354

[2022-05-18 12:59] mohamedAdhamc commented on #2639
same here on windows version.

[2022-05-18 15:51] ice0 commented on #2639
Ok, I will take a look.

[2022-05-20 06:56] morevnaproject opened #2643 "Crash when clicking on "Position" control point of Group Layer"
Version: Appimage package SynfigStudio-1.5.1-testing-2022.05.17-linux64-865f1.appimage
Commit id: 865f1

**Describe the bug**
Synfig crashes when user clicks on Control Point using BoneTool (happens in particular file).

**To Reproduce**
Steps to reproduce the behavior:
1. Download sample file and unpack it - [024-v4.zip](https://github.com/synfig/synfig/files/8737059/024-v4.zip)
2. Open `024-v4.s

[2022-05-21 04:52] ice0 commented on #2643
@morevnaproject

Unfortunately but I can't reproduce.
Can you try to remove the settings file (just move it somewhere as we will need it in the future) and try with clean settings?

[2022-05-21 07:40] #2639 closed

[2022-05-22 14:39] yoSachinkr opened #2644 "Feature request: Better vertices and tangents handling"
As of now, working with vertices and tangents is a bit of a chore in synfig. It drastically slows down the process of creating artwork within the application. Function like splitting the tangents radius/angle on the fly while creating paths, which are present in other vector based apps e.g. inkscape, is non existent in synfig. Rather it requires an extra step of opening the context menu and select

[2022-05-22 22:57] ice0 commented on #2637
@morevnaproject

Dark mode does not work in Mint 19 because Mint-Y did not support the `gtk-application-prefer-dark-theme` flag (https://github.com/linuxmint/mint-themes/issues/187)
For example:
[code]

Also, we can't use the `GTK_THEME` environment variable to set the theme, because it prevents dark mode from being changed.

I reverted my changes in this PR: #2645

[2022-05-23 22:30] Gilraiser opened #2646 "Autosave does not work in Synfig Studio."
**Bug description**
After the program quits unexpectedly, autosave doesn't work in Synfig Studio.

**To Reproduce**
Steps to reproduce the behavior:
1. The program quits unexpectedly.
2. When reopening it, the window asking if you want to recover the information that was saved does not appear.

**Expected behavior**
The window should appear with the text that asks us if we want the information tha

[2022-05-23 23:51] Gilraiser commented on #2646
I changed the time interval for auto save and now it works. It was initially set to 15 seconds and I changed it to 30 seconds. The bug occurs when too little time is set for the interval.

[2022-05-24 00:51] Gilraiser commented on #2644
Hello, cordial greeting. Looking in other programs I find these options:

![node-options-3](https://user-images.githubusercontent.com/45057390/169926166-9114edc8-fba9-4436-9d6f-91e1a7f233dd.png)
![node-options-2](https://user-images.githubusercontent.com/45057390/169926168-fdb9ec44-27dc-4179-aef8-c6ebd1e52409.png)
![node-options](https://user-images.githubusercontent.com/45057390/169926170-dd7d49a

[2022-05-24 04:09] ice0 commented on #2646
@Gilraiser
Thanks for reporting. Will be fixed soon.

[2022-05-24 08:10] yoSachinkr commented on #2644
In my opinion, GIMP's way of handling vertices and tangents seems quite intuitive to me.

https://user-images.githubusercontent.com/50204208/169980567-3778b3e1-916f-49dc-888b-a47a01b29119.mp4

If you observe this video carefully, you'll notice that when i create a vertex and drag the mouse, the tangent handles drag equally in opposite directions, then when i lift the mouse and grab the tangent han

[2022-05-24 08:30] #2635 closed

[2022-05-24 08:37] #2637 closed

[2022-05-24 08:45] morevnaproject opened #2648 "Lines are displayed with offset in Graphs Panel"
On master branch, commit ba0352c.

Lines in Graphs Panel are displayed with offset to the left.

See screenshot -
![screenshot_006](https://user-images.githubusercontent.com/332868/169989068-89488e68-9ea2-422c-80b5-f39e546f607e.png)

Sample file -
[graphs-offset.sifz.zip](https://github.com/synfig/synfig/files/8760995/graphs-offset.sifz.zip)

@rodolforg I believe this is because we added margins a

[2022-05-25 00:02] Gilraiser commented on #2646
Thank you very much, happy to help.

[2022-05-25 08:07] yoSachinkr opened #2649 "Feature request: Preview window redesign as discussed in the forum"
Right now, it takes an extra step of setting the preview parameters before getting to the preview windows.
I think the OP in this forum thread has a better idea to remove the extra step.
https://forums.synfig.org/t/ui-redesign-preview-window/1567/1

[2022-05-27 14:41] hesham-essam commented on #666
Hi,
I'm glad to be accepted to work on this project :)

This is the current progress porting dependencies to conan:
1. [libsigc++-2](https://github.com/conan-io/conan-center-index/pull/10517)
2. [glibmm-2.68](https://github.com/conan-io/conan-center-index/pull/10556)
3. [cairomm-1.0](https://github.com/conan-io/conan-center-index/pull/10673)
4. [libxml++-2.6](https://github.com/conan-io/conan-cent

[2022-05-27 16:21] ice0 commented on #666
@hesham-essam

As far as I know, glibmm-2.68 is not compatible with GTK3. It is for GTK4.
You must use glibmm-2.66 for GTK3.

[2022-05-27 16:23] hesham-essam commented on #666
@ice0
Yeah, sorry I miss-wrote. I added support for both glibmm-2.67 (with version 2.72.1) for gtkmm4 and glibmm-2.4 (with version 2.66.4) for gtkmm3.

[2022-05-28 03:20] #1669 closed

[2022-05-28 16:49] rodolforg commented on #1251
@FirasH Is it fixed now on master due to #2569 ?

[2022-05-28 18:43] FirasH commented on #1251
I’ll check and report as soon as possible

[2022-05-29 02:27] #2648 closed

[2022-05-29 14:06] rodolforg commented on #2644
Simpler than your options is this way:
![Peek 29-05-2022 11-04](https://user-images.githubusercontent.com/1323987/170873144-555a6411-ee16-45c5-a424-f5b5a4941bc9.gif)

:)

A while ago I was thinking about implement something like  https://bezier.method.ac/ and https://helpx.adobe.com/photoshop/using/editing-paths.html

[2022-05-29 14:08] rodolforg commented on #2643
@ice0 @morevnaproject I can't reproduce either in current master

[2022-05-29 14:13] rodolforg commented on #2636
It happens, actually, when any dialog is closed:
1. Open Synfig
2. Draw anything
3. Click to close the unsaved document
4. Answer the Confirmation dialog as you like
5. The background becomes white

1. Open Synfig
2. Click to edit Foreground Color
3. Close the Color Dialog
5. The background becomes white

[2022-05-29 14:26] rodolforg commented on #2619
I didn't understand the first issue, about drawing splines as splines:
![Peek 29-05-2022 11-24](https://user-images.githubusercontent.com/1323987/170874192-95d1723f-36b9-4703-9349-984b39d3fd52.gif)

Could you explain what would be expected in this case?

The second issue I understand you completely: the icons are misleading. These are all about **vertex** transformation, not object transforms:
![C

[2022-05-29 14:32] rodolforg commented on #2630
For who is interested on implement it:
- A new synfigapp action needs to be created
- Look at actions LayerLower (https://github.com/synfig/synfig/blob/master/synfig-studio/src/synfigapp/actions/layerlower.h and https://github.com/synfig/synfig/blob/master/synfig-studio/src/synfigapp/actions/layerlower.cpp) and LayerRaise for inspiration

[2022-05-29 15:06] yoSachinkr commented on #315
Here's something you may wanna consider. https://forums.synfig.org/t/node-editor-for-synfig/12759/5

[2022-05-29 15:13] yoSachinkr commented on #2644
@rodolforg I've used the adobe's pen tool, but to be honest, I think GIMP has nailed the pen tool implementation. I find it very intuitive and handy.

[2022-05-29 20:46] morevnaproject opened #2659 ""Disable Layer Rendering" works incorrectly for non-Cobra layers"
**Describe the bug**
"Disable Layer Rendering" function works incorrectly for layers, which are not ported to Cobra Render Engine.

In master branch you can check that on Metaball Layer.
In stable version (1.4.x branch) you can check that on Text Layer.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Metaball Layer
2. Right-click any layer and select "Disable Layer Rendering"
3. Bug

[2022-05-29 20:48] rodolforg commented on #2644
Did you see bezier game I linked? :)

Gimp vs Synfig is all about tangents?

[2022-05-30 04:53] yoSachinkr commented on #2644
Yes, I did. 😀 It's just like using pen tool in photoshop/inkscape.

Obviously not. Both have different use cases. But when it comes to path handling, both the apps have different approaches. And these differences can be felt while using pen tool in each of them.
Since, in synfig, path creation is one of the most import part of creating a composition, so I felt the need to put this issue forth. I d

[2022-05-30 10:39] rodolforg commented on #2644
Sorry, I meant when we are drawing path. :)

The difference is that you can split tangents after drawing a path segment and adjust bézier while drawing.
- Synfig doesn't allow bézier handling with Bline Tool, but Transform tool do
- Synfig doesn't allow to split tangents with Bline Tool "directly" (only with context menu it does), but Transform Tool do (by pressing `shift`)

Synfig also misses how

[2022-05-30 15:13] hesham-essam commented on #666
I made a PR for pangomm: https://github.com/conan-io/conan-center-index/pull/10992

[2022-05-31 03:49] Gilraiser commented on #2644
Hello, I think @yoSachinkr idea is good and it would be a good idea if there were also keyboard shortcuts at the moment the curve is being drawn to divide tangents. There are already keyboard shortcuts to split tangents (shift + click on tangent handle), but when the path is already finished with the transform tool.

[2022-05-31 06:40] sharewithvirus commented on #2539
I tried 1.5.1 Development Version that can not have lottti file Exporter.

[2022-05-31 09:19] FirasH commented on #1251
Tried the lastest build, but the translation files are not updated so strings are always displayed in English.
I guess everything is ok, but the final veridict will be once we update the translation files.

[2022-05-31 21:25] hesham-essam commented on #666
gtk3 does not build on windows using conan, so I will fix that, then I will start working on porting gtkmm 3

[2022-06-01 04:08] #2041 closed

[2022-06-01 04:12] ice0 commented on #2539
@sharewithvirus

In 1.5.1 Lottie exporter moved to Export menu:

![Screenshot_22](https://user-images.githubusercontent.com/5604544/171326011-d1715174-b677-47a8-8241-3790761d7304.png)

![Screenshot_21](https://user-images.githubusercontent.com/5604544/171326020-3002bf9d-4446-4482-b063-7934525494f2.png)

[2022-06-01 04:14] ice0 commented on #2539
@sharewithvirus

In 1.5.1 Lottie exporter moved to Export menu:

![Screenshot_22](https://user-images.githubusercontent.com/5604544/171326011-d1715174-b677-47a8-8241-3790761d7304.png)

![Screenshot_23](https://user-images.githubusercontent.com/5604544/171326196-a5b05c8c-c4df-4810-ad7b-9c2927258fae.png)

[2022-06-01 04:54] yoSachinkr commented on #2644
I think that's it. 🤔

[2022-06-01 05:15] ice0 opened #2660 "Wrong bone position after removing previous bones"
https://user-images.githubusercontent.com/5604544/171332623-f072c8f5-5a77-4c76-bfed-285cf25f6f6a.mp4

[2022-06-01 22:21] hesham-essam commented on #666
gtk 3 on windows: https://github.com/conan-io/conan-center-index/pull/11013

[2022-06-04 05:15] hesham-essam commented on #666
Initial draft of building synfig with conan:
https://github.com/synfig/synfig/pull/2667

[2022-06-05 02:33] #2330 closed

[2022-06-05 05:13] morevnaproject opened #2672 "No context menu shown for Transformation parameter of Group Layer"
Master branch, commit id 17b8f43ab44d8

**Describe the bug**
When user makes right-click on transformation Parameter, no context menu shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Group Layer
2. Right-click on Transformation Parameter in Parameters Panel
3. Error - No context menu shown

**Expected behavior**
It should display context menu after right-click

**Screenshots**
!

[2022-06-05 07:57] ice0 commented on #2672
Guilty commit: https://github.com/synfig/synfig/commit/78e7a2c733bc4d59a6b94323111420af1927d182

[2022-06-05 15:41] #2672 closed

[2022-06-06 09:46] #2660 closed

[2022-06-07 20:52] Gilraiser opened #2677 "[Feature Request] Selective blur filter"
**Is your feature request related to a problem? Please describe.**
Although something similar can be achieved in Synfig by increasing the thickness of the outline at different vertices
![Actualselectiveblur](https://user-images.githubusercontent.com/45057390/172477385-d279e44a-7c91-432c-b857-74a96e91a230.png)

, I think that a filter is needed that blurs the shapes only on the sides if desired and

[2022-06-08 09:20] yoSachinkr commented on #2677
The feature you're looking for is already there, but in granular form.

https://user-images.githubusercontent.com/50204208/172581001-aecaec6a-561c-406d-986e-117ba87f3039.mp4

[2022-06-09 00:29] Gilraiser commented on #2677
Hello @yoSachinkr, Thank you for your attention, but you do the same as the first image that I put in blue. What I'm proposing is a tool that makes this more versatile and also blurs the region as a soft fade of color into transparency, just like the tool Klaus from SPA Studios stylized with.

[2022-06-09 00:57] Gilraiser opened #2678 "Wrong color in the parameters"
**Describe the bug**
When a color is placed on a shape, when you open the color window in the parameters docker, it shows the wrong color different from the one the shape has in the workspace. The same thing happens in the tool docker when clicking on the fill color box the window that opens has the same error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any region or shape with a

[2022-06-10 23:58] Gilraiser opened #2680 "Feature Request: Parallax Filter"
**Description**
Hello, a cordial greeting. Synfig already has a tool that simulates depth as a 3D space which is the perspective tool in the distortions group. I think another tool that simulates depth in movement is needed and would be very useful for artists.

**Solution Description**
I propose a filter that manipulates the Depth Z parameter with various handles and locates in depth with its own

[2022-06-11 13:13] rodolforg commented on #2680
I thought once about implementing it. :) But not mixing depth (resizing according to perspective) and parallax.
1. It should be a filter or a special group?
2. How to set the top layer is near the second layer, but the third one is far away from the second one? Empty groups between them? Or z-depth?

[2022-06-11 16:05] Gilraiser commented on #2680
Hello friend @rodolforg , thanks for answering.

I see that you can place a layer with Depth Z of 1 and the next with 7 for example. The algorithm should calculate the missing spaces between the numbers and thus scale and locate the object simulating depth.

Simply having the filter above the layers within a group would suffice.

Something that I did not explain, and that thanks to you now occurs

[2022-06-11 16:16] Gilraiser commented on #2680
Another option that would be very useful in the filter parameters is to turn displacement propagation on and off. That when the Z Depth of an object is changed, all the objects behind it move as well.

[2022-06-11 16:41] Gilraiser commented on #2680
![Parallax-Filter-Parameters](https://user-images.githubusercontent.com/45057390/173196852-36e194a8-cb16-4bd6-ae3e-a7f0b2d6adf9.png)
![ Z-Depth](https://user-images.githubusercontent.com/45057390/173196853-4e1a1094-050c-4b54-bb96-666f11148db7.png)

[2022-06-12 10:54] yoSachinkr commented on #2680
Just to add, there's already a template that does this. You can check out this link.
https://wiki.synfig.org/Multiplane_Camera

[2022-06-12 12:23] rodolforg commented on #2677
Adding info material here: https://www.youtube.com/watch?v=qiN5tniJe0w

[2022-06-12 14:43] Gilraiser commented on #2680
Thanks, I already tried this template quite a while ago. The truth is that it is good for parallax but not for advancing in depth.

I think it is important to develop a tool like this that makes it easier to give depth to the scenarios and compositions that are made. I know that it is something that artists require a lot in their animations.

Opentoonz for example has a 3D View tool for this purpo

[2022-06-12 17:17] Gilraiser commented on #2680
https://user-images.githubusercontent.com/45057390/173245139-29a43383-2bcc-4176-910e-921b74b0aa82.mp4

[2022-06-14 14:24] morevnaproject opened #2688 "Synfig hangs after right-click on sub-sub-parameter"
**Describe the bug**
I have a layer, one of its parameters has converter (A) attached. The sub-parameter of that converter is also has converter (B) attached. I also have some exported value.
If I select exported value and right-click on sub-parameter of converter B -> Synfig hangs,

Video - https://youtu.be/S7lq8zNGyQE
![screenshot_002](https://user-images.githubusercontent.com/332868/173601945-c

[2022-06-14 14:30] morevnaproject commented on #2688
You can also see this bug reproduced in this stream at 43:00 - https://youtu.be/-NTCsSxfoC8?t=2580
And in this stream at 1:09:10 - https://youtu.be/Urs8xgmgl2M?t=4150

[2022-06-14 23:20] Gilraiser commented on #2677
Thanks @rodolforg ,from the following videos I extracted the images of Klaus that I placed earlier.
https://youtu.be/VnmQy0UMLtA?t=474
https://youtu.be/2XZbYNCjmqo

[2022-06-17 22:49] rodolforg opened #2692 "Remove/Replace deprecated `std::unary_function` and `std::binary_function`"
Since C++11, `std::unary_function` and `std::binary_function` are deprecated.
Since C++17, they were removed from standards.

As we use C++11, we can and should already get rid of it. However, I'm not capable of doing so, as I don't understand it XD

Some alternatives:
- https://stackoverflow.com/questions/57236763/how-to-change-binary-function-to-c17-code
- https://stackoverflow.com/questions/560

[2022-06-18 00:31] #2678 closed

[2022-06-19 03:27] #2688 closed

[2022-06-19 03:56] #2692 closed

[2022-06-21 21:15] mohamedAdhamc commented on #2611
Hey guys, @ice0 @rodolforg ,and anyone else who might sees this (^_^)

So I was looking into the first feature which is #2528 , "Add the posibility of move the paramether values using the mouse"
now this was the link provided that described how it could possibly look like https://imgur.com/a/fRek4Rm .

I see a few problems here and I hope you guys could maybe give me some insight on them
1- For so

[2022-06-22 03:19] ice0 commented on #2611
I think it's better to have the same UX for all widgets.

There is no conflict. For example in Adobe products, to change the value using mouse you should use mouse-down (not click) and move. If you click it will go into edit mode so you can copy/paste/type the value manually. In Synfig, mouse down event forces edit mode, but you can temporarily ignore this and check mouse down event on the "Name"

[2022-06-22 07:22] ice0 commented on #2611
Yes. In this case, we are extending the current UX without changing it.

[2022-06-23 05:43] harish911 commented on #1139
@rodolforg
 hello sir can i solve the problem

[2022-06-23 05:47] ice0 commented on #1139
Hi, @harish911!
Sure.

[2022-06-23 23:43] onlyjob opened #2709 "1.5.1: FTBFS with ffmpeg 5.0"
As reported in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1013460 Synfig 1.5.1 FTBFS with ffmpeg 5.0:

[code]

[2022-06-26 08:28] harish911 commented on #1139
@ice0
hello sir
 ./2-build-msys-cmake.sh Debug
this command is  working correct but
 ./cmake-build-msys/output/Debug/bin/synfigstudio.exe
this command is not working properly that command say no such file or directory
in windows
how can i solve this issue please help me

[2022-06-26 14:37] harish911 commented on #1139
@ice0
hello sir

what is meaning of this line
build stopped: subcommand failed.
can you explain this problem

[2022-06-27 04:22] ice0 commented on #1139
@harish911

Can you show more log lines showing the error?

[2022-06-27 05:31] morevnaproject commented on #2643
I have tested it again and found why it isn't reproducible.
To make it reproducible it is required to resize bottom panels to the minimum height (actually it is probably enough to resize  Parameters Panel only).
Also, I found that step 4 (Select Bone Tool from Toolbox) is not necessary to reproduce the bug.

So, here are updated instructions to reproduce the bug:

1. Download sample file and unpac

[2022-06-27 05:39] morevnaproject commented on #2643
Some statistics about versions:
- SynfigStudio-1.5.1-testing-2022.04.06-linux64-e54c2.appimage - NO CRASH
- SynfigStudio-1.5.1-testing-2022.05.17-linux64-865f1.appimage (and later) - CRASH REPRODUCIBLE

[2022-06-27 05:58] harish911 commented on #1139
@ice0

Harish@DESKTOP-B8RSGMJ MINGW64 ~
$ cd ~/synfig

Harish@DESKTOP-B8RSGMJ MINGW64 ~/synfig
$ ./2-build-msys-cmake.sh Debug
-- CMAKE_BUILD_TYPE: Release
-- Building with pkg-config...
-- MLT DIR: C:/msys64/opt/mlt-7.2.0/include/mlt-7/mlt++;C:/msys64/opt/mlt-7.2.0/include/mlt-7
-- Synfig modules:
--   lyr_freetype
--   lyr_std
--   mod_bmp
--   mod_dv
--   mod_example
--   mod_ffmpeg
--   mod_fi

[2022-06-27 10:20] rodolforg commented on #2538
Is this fixed by #2385 ?

[2022-06-27 10:47] rodolforg commented on #2643
I still can't reproduce :( Maybe a Gtk issue? My gtkmm is 3.24.6-1 (Debian)

[2022-06-27 14:25] ice0 commented on #2538
Yes, it is fixed now!

[2022-06-27 14:25] #2538 closed

[2022-06-27 14:33] ice0 commented on #2643
Same for me, still can't reproduce.
@morevnaproject Can you reproduce this on the latest master, or if you build it from source?

[2022-06-27 17:05] rodolforg commented on #2709
@ice0 maybe it's a missing header?
FFMPEG is terrible for teaching its API, but I found this example: http://www.ffmpeg.org/doxygen/trunk/api-example_8c-source.html

[2022-06-27 17:15] rodolforg commented on #2626
Hi!

Yes, it's possible to do it and, for the two upvotes you already got, it's a desired feature too :)

Great! Did you follow [the instructions here](https://synfig-docs-dev.readthedocs.io/en/latest/building/Building%20Synfig.html)? Is there something wrong or missing there? Please contribute to improve it :)

The work with Bone Tool is in `state_tool.cpp` (tools are internally called states (fr

[2022-06-27 17:19] rodolforg commented on #2626
Forgot to answer it: you can do it like you suggested or placing an extra option in (Bone) Tool Options panel to mirror the next drawn bone or the active bone. I don't know if it's better though...

Anyway, Sorry for the late reply. My work is draining my energy for the last months and I'm slowly following stuff...

Any help you need, ask us again. I'll try to help you as soon as I can (and I prom

[2022-06-27 19:25] rektuiemforameme commented on #2626
Hi, thanks for the reply. Don't worry about the lateness, I get it. I haven't been able to put much time into this yet. About the issues I had with setting up, I followed the section titled "Setting up your preferred IDE". I didn't think I would be building using the command line, so I glossed over that part. I also think most of the issues that I had were my own fault.
So far, I have an action th

[2022-06-28 00:28] rodolforg commented on #2626
Oh, I only showed it to you if it helps to understand how synfigapp works (although I don't wrote all I intended to). :)

[2022-06-28 11:38] morevnaproject commented on #2643
You right, this is probably a Gtk issue.

I cannot reproduce it when it is built from source (gtk 3.22.30, gtkmm 3.22.2, linux mint 19).

But on appimage it is reproducible. I tested it with recent commit cc59c1247fcdaa1c293bc1fc704922bd9348f7a1.
Here is a link to download appimage - [SynfigStudio-1.5.1-testing-2022.06.25-linux64-cc59c.appimage](https://cloud.morevnaproject.org/s/dLrzniH3XQKFpkw)

[2022-06-28 13:03] morevnaproject commented on #761
Implemented via #/1135.

[2022-06-28 13:20] morevnaproject opened #2716 "Indicate segments where points are disabled in Timetrack Panel"
In old TimeTrack (synfig 1.4.x and earlier) the time spans where a Dynamic List entry is kept off is indicated by hatches.
See it on the left part of screenshot -
![screenshot_001](https://user-images.githubusercontent.com/332868/176188129-4c1ed484-56ec-4fd8-9f12-691e19e85060.png)

We need to indicate those regions in new Timetrack Panel.

I suggest to indicate those regions with darker color (bla

[2022-06-30 13:02] yoSachinkr opened #2720 "Palette import bug"
**Describe the bug**
Importing GIMP(.gpl) palette into Synfig causes it to freeze.

**To Reproduce**

[Animation-#1.zip](https://github.com/synfig/synfig/files/9019957/Animation-.1.zip)
Import the given palette into synfig. It will freeze.
**Expected behavior**
It should successfully import the palette.

**System information:**
 - OS: Windows 10 64bit
 - OS version:21h2
 - Synfig version: 1.5.1

[2022-06-30 15:42] GunmetalOrb73 opened #2721 "Exporting empty/corrupt mp4"
**Describe the bug**
When exporting an animation as mp4 an empty file of 0b is produced

**To Reproduce**
Steps to reproduce the behavior:
1. Create or import animation
2. Click on file > render...
3. Set file extension to .mp4 as well as export location
5. Click render
6. check output

**Expected behavior**
A mp4 file containing video data relating to the animation

**Screenshots**
If applicable,

[2022-07-01 10:44] morevnaproject commented on #2643
I have manged to reproduce similar behavior on Windows - https://youtu.be/MGNFW0Rfxl0 (apologies for ambient noise, I kept audio to be able hear clicks).
It doesn't crashes when I click on "Position" control point, but it crashes when I click on "Resize" control point.

[2022-07-01 10:48] morevnaproject commented on #2643
What I plan to do next:

1. Check if this bug is reproducible on 1.4.x branch
2. There is a possibility that the bug is related with changes in our builder environment. I will try to rebuild version "2022.04.06-linux64-e54c2" (the one which isn't crashing) with current builder to verify it.
  * If produced binary will have NO bug, then problem is in synfig's source code.
  * If produced binary wil

[2022-07-01 14:13] harish911 commented on #1139
where is the code of toolbox panel icons

[2022-07-01 16:05] morevnaproject commented on #2643
This is Windows binary that I used to reproduce the bug - [SynfigStudio-1.5.1-testing-2022.06.13-win64-ee395-new-mingw.exe](https://cloud.morevnaproject.org/s/HCrY74P3Hzfmr7a)

[2022-07-01 16:24] morevnaproject commented on #2721
Hi!
Can you please check those builds? -
Linux - [SynfigStudio-1.5.1-testing-2022.05.17-linux64-865f1.appimage](https://cloud.morevnaproject.org/s/GkqLtJQyN3zRY5A)
Windows - [SynfigStudio-1.5.1-testing-2022.05.17-win64-865f1.exe](https://cloud.morevnaproject.org/s/dTPKAZkGWMeR53P)

[2022-07-02 04:34] ice0 commented on #1139
Please check `dock_toolbox.h/cpp`

[2022-07-02 09:06] morevnaproject commented on #2643
1. Version 1.4.3 is not affected by this issue.
2. I have made a build of commit e54c2 with our current builder environment. And it produced an appimage binary which IS affected by this bug - it crashes.
That means the problem NOT in Synfig's code, this is a problem in builder environment.
The problem is introduced somewhere between commit https://github.com/morevnaproject/morevna-builds/commit/03

[2022-07-02 10:40] morevnaproject opened #2723 "Linux version not understands "\" as directory separator"
**Describe the bug**
Linux version of Synfig does not parses "\\" as directory separator (in image filenames).

**To Reproduce**
Steps to reproduce the behavior:
1. Download and unpack sample archive - [paths.zip](https://github.com/synfig/synfig/files/9032840/paths.zip)
2. Open `paths.sif` file.
3. See image is not displayed -

![screenshot_005](https://user-images.githubusercontent.com/332868/17

[2022-07-02 10:40] morevnaproject commented on #2723
Originally reported here - https://forums.synfig.org/t/1-5-1/13295/4

[2022-07-02 10:43] #1934 closed

[2022-07-02 10:55] morevnaproject opened #2724 "Duplicating Text Layer resets Font Family parameter"
**Describe the bug**
Suppose, you have a Text Layer with "Font Family" parameter pointing to some (existing) font file.
If you duplicate that layer, then copied Text Layer will be rendered with different font family (although, value of "Font Family" parameter is preserved correctly).

To workaround the bug and bring copied layer to correct status you have to edit "Font Family" parameter - set some

[2022-07-02 11:43] rodolforg commented on #2723
Ouch.
It should be not stored with "\" :( Now it was, we should support both on loading. Argh.

[2022-07-02 14:44] morevnaproject commented on #2643
I have found guilty commit - https://github.com/morevnaproject/morevna-builds/commit/ead44ed5a5e8ac6fb20815
Related PR - https://github.com/morevnaproject/morevna-builds/pull/53

It's a surprise we've got affected by glib/glibmm version...

Two options here:
- Try to downgrade glib/glibmm
- Try to upgrade Gtk/Gtkmm

[2022-07-02 14:51] morevnaproject commented on #2643
Should we stay on Gtk 3.22.x or go for latest Gtk 3.24.x?

[2022-07-02 15:07] #562 closed

[2022-07-02 15:07] #2720 closed

[2022-07-02 23:24] rodolforg commented on #2447
@yoSachinkr is it still reproducible in current master?

[2022-07-02 23:31] rodolforg commented on #2254
Can we close this issue? @morevnaproject @FadhilKwan

[2022-07-03 00:07] GunmetalOrb73 commented on #2721
Hello, It successfully exported an mp4. The quality is poor but I am guessing that is something to do with my settings

[2022-07-03 00:45] rodolforg commented on #2721
Maybe your export resolution?

[2022-07-03 03:42] #2723 closed

[2022-07-03 04:56] #2724 closed

[2022-07-03 05:18] #2716 closed

[2022-07-03 07:04] yoSachinkr commented on #2447
@rodolforg Not sure as I'm unable to test the master.

[2022-07-03 10:24] rodolforg commented on #2447
Please try this build https://cloud.morevnaproject.org/s/dLrzniH3XQKFpkw .

[2022-07-03 11:17] rodolforg commented on #2447
@yoSachinkr please try this build: https://github.com/synfig/synfig/issues/2721#issuecomment-1172511874

[2022-07-03 12:13] yoSachinkr commented on #2447
@rodolforg I just checked, It still crashes.

[2022-07-03 15:04] FadhilKwan commented on #2254
@rodolforg Oh yeah, sure! I thought this was already closed long ago! :D

[2022-07-03 15:04] #2254 closed

[2022-07-03 15:58] rodolforg commented on #2447
Ok, this AppImage crashes here too (I realized I didn't test it before, sorry).
However, my current master build doesn't crash.
Maybe it is a package problem? @ice0 @morevnaproject
Is it caused by the same issue discovered here https://github.com/synfig/synfig/issues/2643#issuecomment-1172865519?

[2022-07-03 18:42] yoSachinkr commented on #2447
Also this build is more prone to random crashing. 😐

[2022-07-04 05:29] ice0 commented on #2721
@GunmetalOrb73

I can't reproduce.
Can you run Synfig Studio from terminal, do render to mp4 and copy output here?

[2022-07-04 09:06] rodolforg commented on #2643
We should try 3.24 for MS Windows packages.

It has lots of big fixes, as it is currently only in maintenance mode.

We could test draw, duck movements, vertex deletion, bones, png import, save, load and export.

[2022-07-05 23:54] ice0 commented on #2721
Hi! No problems here.
I think if is renderer is not working, this can happens due to some unexpected situation.. So if you experience this issue again logs from terminal will help us to better understand what is going on.

Thank you!

[2022-07-06 02:27] rodolforg commented on #1252
I confirm it is solved on master e64c7d6784fa10ab8b1753c0c03ab120269fa1c0

[2022-07-07 01:56] ice0 commented on #2709
@onlyjob

Attached a patch for 1.5.1. Can you check if this solves the build issue?

[0001-fix-mod_libavcodec-fixed-build-with-FFMPEG-5.0.patch.zip](https://github.com/synfig/synfig/files/9059710/0001-fix-mod_libavcodec-fixed-build-with-FFMPEG-5.0.patch.zip)

[2022-07-07 05:29] #2709 closed

[2022-07-07 11:20] rodolforg commented on #2721
@morevnaproject @ice0 so was it a packaging issue or some code change?

[2022-07-08 01:22] ice0 commented on #2721
I dont know. Maybe Synfig didn't find FFmpeg the first time or something like this.

[2022-07-08 01:29] #1252 closed

[2022-07-09 02:28] ice0 opened #2739 "Rename `LayerGroupTree` to `LayerSetsTree`"
AFAIK, Konstantin likes to avoid to rename files to not "lose" change history.
`--follow` allows to list the history of a file beyond renames (for a single file), though

_Originally posted by @rodolforg in https://github.com/synfig/synfig/pull/2683#issuecomment-1153799363_

[2022-07-10 04:14] mohamedAdhamc commented on #2611
#1936 is feature number 2. I just have a few question before doing it @ice0
1- This is also for animation tabs only correct ?
2- I think it also makes sense to implement this in the same way as the other feature correct ?

[2022-07-10 06:35] yoSachinkr opened #2743 "Background rendering bug"
**Describe the bug**
Background rendering stops working after zooming in and out several times on the canvas.
**To Reproduce**
r
**Expected behavior**
Background rendering should work as expected.

https://user-images.githubusercontent.com/50204208/178134092-69bd5d08-a0fa-4d88-9dca-43cda823b119.mp4

**System information:**
 - OS: Windows 10
 - OS version: 21h2 64bit
 - Synfig version: SynfigStudio

[2022-07-10 14:19] ice0 commented on #2611
Better to try it to implement for all docks windows.

Yes.

[2022-07-11 14:29] morevnaproject commented on #2643
Woops... it looks like I have managed to fix the bug by updating Gtk to 3.22.30 and Gtkmm to 3.22.2 ^__^"

I agree that it is better to update to 3.24, but this seems to be more complicated and might lead to discover more issues. I suggest to release 1.4.3 and 1.5.2 and after that update to gtk 3.24.

[2022-07-12 06:20] #2643 closed

[2022-07-12 06:22] morevnaproject commented on #2643
Here are new builds, the bug is not reproducible on them anymore:
* [SynfigStudio-1.5.1-testing-2022.07.12-win64-19589.exe](https://cloud.morevnaproject.org/s/jcTadeNfPrK2KK2)
* [SynfigStudio-1.5.1-testing-2022.07.12-linux64-19589.appimage](https://cloud.morevnaproject.org/s/BWTYjKSya8ZyJQL)

[2022-07-12 08:04] yoSachinkr commented on #2447
@morevnaproject Just checked. Synfig is not crashing anymore while working with exported canvas. 😃

[2022-07-12 12:07] yoSachinkr opened #2747 "Spline tool blocks hotkey presses"
**Describe the bug**
When I press the hotkey for spline tool, then change some properties (like brush size) and then create a shape, and then press another hotkey to switch to another tool, the hotkey press doesn't work, as expected.

**Expected behavior**
Hotkeys should work as expected.

**System information:**
 - OS: Windows 10
 - OS version: 21h2 65bit
 - Synfig version: SynfigStudio-1.5.1-tes

[2022-07-13 00:53] mohamedAdhamc commented on #2611
@ice0
as per requested here is the daily summary today:

time: started at around 5 pm Cairo time and now ended at 2 AM cairo time. However it wasnt continous meaning maybe two hours I was eating etc.. Also I think maybe bare minimum 90 mins were lost in build process. whenever I make a slight change in any header it takes about 5-25 mins to rebuild depending on the file.

description:
1- I was wor

[2022-07-13 15:10] #2747 closed

[2022-07-13 17:30] yoSachinkr commented on #2747
@ice0 Just checked. It's working fine now. 😊

[2022-07-18 05:52] mohamedAdhamc commented on #2611
ok quick general project update
- now major functionality of feature one is done

During the next two days, I will be trying to get feature 2 "ctr+tab to switch tabs" done.
Also along with responding to the reviews on feature one and the possible enhancements/optimizations.

starting on the 20th if things go to plan I will be seeing what's left over in feature 4(show/hide ruler) to do ( this one w

[2022-07-18 14:05] ice0 commented on #2611
Can you explain what you think will take the most time here?

[2022-07-18 14:58] mohamedAdhamc commented on #2611
Well I'm not quite sure how it should be implemented now that it should be done as an action. I thought maybe make the action set a flag and if this flag is set have the override of the on_key_pressed work. But this can't really work as then what ends up happening is that after the action is done pressing any key will switch tabs. Also if I just make an action for each dockbook I would have to mak

[2022-07-19 16:29] morevnaproject commented on #2743
Ah, I just remembered. There is an internal limit, which defines how much memory should be consumed by images, which are produced by background rendering. Those images are cached in memory and there is a limit for cache size.

Also, there is a separate set of images for each zoom factor.
So, we have a limit:
((size of images for zoom 1x) + (size of images for zoom 2x) + (size of images for zoom 3x

[2022-07-19 17:08] morevnaproject opened #2757 "Synfig [2022.07.12-linux64-19589] damages file after saving"
**Describe the bug**
Error with this Synfig build - [SynfigStudio-1.5.1-testing-2022.07.12-linux64-19589.appimage](https://cloud.morevnaproject.org/s/BWTYjKSya8ZyJQL)

When saving file it cannot be opened again anymore.

Video -
https://www.youtube.com/watch?v=QAnhMPDGp2c

**To Reproduce**
Steps to reproduce the behavior:
1. Download sample file - [Synfig-22-final-03.sif](https://forums.synfig.org

[2022-07-19 17:09] morevnaproject commented on #2757
Original issue on forum - https://forums.synfig.org/t/synfig/13340

[2022-07-20 01:42] rodolforg commented on #2757
Look the filename parameter of Sound Layer: it is messed up!
https://youtu.be/QAnhMPDGp2c?t=27

[2022-07-21 04:00] ice0 opened #2759 "Synfig MSVC build didn't start"
The issue is in that code:

https://github.com/synfig/synfig/blob/d1192e1d4685b0e4db9d1a0b94423fdcd0b0d90b/synfig-studio/src/gui/docks/dock_soundwave.cpp#L245-L247

guid is empty on start.

UPD:
Linux version pass "-no-audio-" guid.

@hesham-essam
Can you check which value is passed in your case?

[2022-07-21 04:25] #2757 closed

[2022-07-21 05:07] mohamedAdhamc commented on #2611
Quick General update:
feature 1 : main things left are history pollution and escape to cancel
feature 2: waiting on review
feature 3: I think this one should be done there were a couple things i resolved from reviews. so I guess we could also say
                waiting on review here too to see if its good to go.
feature 4:  I will remove the button for this one and ust leave the menu item and it

[2022-07-21 07:56] hesham-essam commented on #2759
I get `guid = -no-audio-`.

[2022-07-21 10:21] ice0 commented on #2759
I'm thinking maybe reproducing this problem depends on the order of initialization of static variables?

Just did a rebuild and the problem is gone.
Rebuild again and luckily it's back.

[code]
![Screenshot_33](https://user-images.githubusercontent.com/5604544/180189543-b8230f57-205a-4b88-aa39-98f160ce5b7c.png)

[2022-07-21 13:56] hesham-essam commented on #2759
It's very likely related to initialization order indeed.
I must've built synfig over 10 times (VS 2022) with different build parallelization options (-j for parallel jobs and --parallel for parallel compilations in the same job, using msbuild and ninja, with external cmake and vs's cmake), but still couldn't reproduce the issue locally.

I will put it on hold temporarily, and fix the other issues.

[2022-07-21 16:28] ice0 commented on #2759
I noticed that `vcpkg` also has a cache in `%LOCALAPPDATA%\vcpkg` so I will try to remove it and do a clean build tomorrow.

[2022-07-21 16:30] hesham-essam commented on #2759
Also try removing the "synfig"'s data folder in "C:/Users/<user>/Synfig"

[2022-07-22 05:58] mohamedAdhamc commented on #2611
Hey guys, @ice0 , @rodolforg  hope you're doing well !

I kindly suggest if possible you guys review #2731 and #2634  first as these will probably take the least time to do so and they have already been reviewed and resolved a couple of time so we can get them out of the way.#2755 should also not take too much time. then finally we have #2717  this one will probably take the longest to test.

Also

[2022-07-22 08:26] ice0 commented on #2759
It looks like we are somehow working with locales incorrectly.

I noticed that there is an error with my build when I try to open the saved file:

![Screenshot_34](https://user-images.githubusercontent.com/5604544/180396439-9b6b3520-c7fc-4b1a-98d9-ba2948062e44.png)

`Glib::ustring` `operator==` returns false for the same string (after switching locale), and this breaks the whole logic:

Test 1:
[c

[2022-07-22 10:43] hesham-essam commented on #2759
It's probably that `==` uses `strcmp` like semantics internally (byte wise comparison).
I would guess that at the beginning `UTF-8` is used, and when the locale is changed `UTF-16` is used, or maybe the otherway around.

[2022-07-22 11:03] ice0 commented on #2759
Maybe this will be helpful:
[code]

[2022-07-22 11:14] hesham-essam commented on #2759
I would actually suggest always saving files in utf-8 format with specific locale, so that the output format is independent of the machine it is on. This would make it less prone to bugs.

Was it the case that different encodings were the cause? I'm skeptical that `g_utf8_collate` would work with different encodings (utf-8 and utf-16 for example).

[2022-07-25 02:42] mohamedAdhamc commented on #2611
ok, quick general progress update:

as of now, following features are done but still under different stages of the review phase as follows.
feature 1: #2717 , last thing ice0 said it will take some time for him to test a certain part in a test app.
feature 2: #2731 , this one is fully reviewed
feature 3: #2755 , not yet reviewed but shouldn't take long to review.
feature 4: #2634 , ice0 said he al

[2022-07-25 03:32] IcedQuinn commented on #314
There is still an active bounty open for this. It looks like the issue has been solved or at least partly so. Should this ticket (and bounty) remain open?

[2022-07-26 15:23] morevnaproject opened #2766 "MinGW cross-compilation fails after #2744"
PR #2744 makes impossible to cross-compile for WIndows using MinGW, it gives this error:

[code]

Might be useful - https://stackoverflow.com/questions/26065359/m-pi-flagged-as-undeclared-identifier

Environment:
- Debian 11 bullseye
- gcc 10.2.1
- MingGW 10.2.1-6+24.2

[2022-07-26 15:36] ice0 commented on #2766
I think the reason is an updated headers. You need to define `_USE_MATH_DEFINES`.

[2022-07-27 15:49] morevnaproject commented on #2766
Thank you!

I have made attempt to add `_USE_MATH_DEFINES` (https://github.com/synfig/synfig/commit/d50f85d4d026c48c55360c7178ddf825ff861d84), but the error still remains.

I guess this fix not working because we include `iostream` before `cmath`, as noted [here](https://stackoverflow.com/a/58379321).

[2022-07-30 03:05] morevnaproject commented on #2766
I have found a solution - https://github.com/synfig/synfig/commit/49504702f74b484f6f049ec87af9fa0efd08d106
Although, I do not like it.

I do not like it because adding line in one file (synfig-studio/src/synfigapp/actions/layerpaint.cpp) fixes compilation error in another file (synfig-studio/src/brushlib/brush.hpp).

[2022-07-30 03:06] morevnaproject commented on #2766
I would prefer to add something like this -
[code]

What do you think?

[2022-07-30 03:18] ice0 commented on #2766
I think the problem can be deeper.
I did an example and it compiles fine (with mingw compiler):

`x86_64-w64-mingw32-g++ --std=c++11 ./test.cpp`

[code]

[2022-07-30 09:55] Svarov-RZM commented on #314
Well, Synfig handles vector graphic much better after all the work that was done in this issue, so I guess it can be closed but what about the bounty? In order to give it to someone, that someone must submit a claim on the Bountysource site and no one did.

To be honest, I am not very kin on giving the bounty to the original developer (blackwarthog). He didn't send request, didn't write any kind o

[2022-07-30 10:35] rodolforg commented on #2766
Maybe we should update brushlib (libmypaint) or change the brush.hpp to not have code in this header file

[2022-07-30 12:57] mohamedAdhamc commented on #2611
Hey everyone :)

progress update:
as of now, the following features are done but still under different stages of the review phase as follows.
feature 1: https://github.com/synfig/synfig/pull/2717 , last thing ice0 said it will take some time for him to test a certain part in a test app.
feature 2: https://github.com/synfig/synfig/pull/2731 , this one is fully reviewed
feature 3: https://github.com

[2022-08-01 01:50] #2766 closed

[2022-08-04 17:21] hesham-essam commented on #666
I'm currently working on an ImageMagick recipe (as the one in conan currently does not work on Windows), and I will make a PR for it in the conan repo once finished, hopefully today or by tomorrow, then I will focus on making the conan PR reach the same state as the vcpkg one.

[2022-08-06 01:59] rodolforg opened #2779 "Right-clicking a layer on a just opened file shows empty menu"
When user right-clicks a layer on a just opened file, the context menu pops up, but empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Synfig Studio
2. Open a file via Recent menu or the regular Open dialog. The file opening must not show a warning dialog.
3. Right click on a shape (or whatever clickable layer).
4. An empty menu pops up.

If user left-click on a layer and then right-

[2022-08-09 04:17] zozorg commented on #314
Speaking of bounties - bountysource doesn't update crypto prices, note that bounties for

https://app.bountysource.com/issues/61683574-make-onionskin-work-in-the-same-way-as-in-opentoonz
https://app.bountysource.com/issues/54370243-keyboard-shortcuts-collapse-tree-and-create-spline

... aren't ~$100 as displayed, but rather $450 and $570. In case someone is interested.

[2022-08-09 05:06] #2636 closed

[2022-08-10 13:44] ice0 opened #2787 "Segmentation fault when building icons"
**Describe the bug**
[code]

https://github.com/synfig/synfig/runs/7767408007?check_suite_focus=true

**To Reproduce**

`Synfig CI / macOS 11 Big Sur (CMake+Ninja) (pull_request) `

**System information:**
 - OS: MacOS
 - OS version: 11

[2022-08-10 20:31] rodolforg commented on #2787
Even with PR based on previous commits (i.e. not up-to-date with master), this test is failing. :/
See MohamedAdhamc PR...

[2022-08-11 04:04] #2787 closed

[2022-08-11 08:14] #2779 closed

[2022-08-13 19:27] nattymbt commented on #491
Could I take this issue?

[2022-08-14 11:52] mohamedAdhamc commented on #2611
Alright really quick update here, I feel like the effectiveness has gone really down maybe because I have taken a complete day off in very long. So today I'll try not to do anything at all. Then hopefully tomorrow I'll be back to pace.

Feature 8 just needs a bit more cleaning up and it will be ready for review then I'll be advancing onto the remaining features (4, one of which I did before the co

[2022-08-15 02:05] rodolforg opened #2800 "Unlike Autotools, CMake doesn't create synfig-player"
**Describe the bug**
Autotools builds the program in folder `synfig-studio/src/player/`, but there isn't any CMake file there to build it.

[2022-08-15 02:08] rodolforg opened #2801 "Ctrl+G doesn't always work"
**Describe the bug**
Recently, `<Primary>g` was added as a shortcut to encapsulate selected layers into a Layer Group.
However, as can be seen in the screencast below, sometimes it changes other group instead of doing what is expected.

**Expected behavior**
The behavior should be the same as pressing the tool button "Group Layer" in the bottom toolbar of Layers Panel.

**Screenshots**
[Gravação d

[2022-08-15 04:33] chriswrightanim opened #2802 "Synfig is unusable on M1 Mac"
The menus don’t work correctly, the app will hang randomly. I also built it with cmake from the GitHub repository with no changes. Really bummed, I really wanna use it. Video shows unreliable menus.

https://user-images.githubusercontent.com/110944895/184577437-94ce7d18-3fac-47e2-ad03-cca2ae9d38cc.mp4

[2022-08-15 10:57] linkpy commented on #2397
hi

[code]

system :
[code]

libraries :
[code]

have any idea for a workaround?

[2022-08-15 11:12] ice0 commented on #2802
Can you check this branch?
https://github.com/synfig/synfig/pull/2589

[2022-08-15 11:25] linkpy commented on #2397
it works by compiling synfig from sources.

[2022-08-15 12:49] rodolforg commented on #2397
Try this intermediate release: https://cloud.morevnaproject.org/s/93e4cS78Y48AZPk

[2022-08-15 14:57] #965 closed

[2022-08-15 20:30] linkpy commented on #2397
this one works.

[2022-08-15 20:57] rodolforg commented on #2397
Thank you.

[2022-08-16 17:20] BobSynfig commented on #2802
Did you try to reduce and restore the full screen, or to switch to another app and switch back to Synfig?
I had a Mac virtual machine where launching Synfig was making it look like frozen until I was doing some stuff like this.

[2022-08-19 01:15] hesham-essam commented on #666
A little late, but here here is the ImageMagick conan recipe:
https://github.com/conan-io/conan-center-index/pull/12371

[2022-08-19 08:27] mohamedAdhamc commented on #2611
Hey everyone, long time no update xD.

"rotating guides" feature was a little bigger than expected, and there were many review so I had to kind of wait a bit for this update :).

progress update:
as of now, the following features are done but still under different stages of the review phase as follows.
feature 1: https://github.com/synfig/synfig/pull/2717 : seems like the biggest thing here as of

[2022-08-19 09:26] utkb opened #2806 "[Skeleton Tool] Compatibility with Closed Kinetic Chain Movements"
**Is your feature request related to a problem? Please describe.**
I am a physiotherapist and I used Synfig for creating physcial exerise demonstrations. I realized a thing during making animations. We define some exercises as closed chain where the distal aspect of the extremity is fixed to an object that is stationary.

One example:
- Push-up.
- Shoulder bridge

![image](https://user-images.gith

[2022-08-19 19:56] yoSachinkr opened #2807 "Console pops up every time I scrub through time-track after importing a video file."
**Describe the bug**
Console pops up every time I scrub through time-track after importing a video file.

**Expected behavior**
Time-track scrubbing should be smooth and there should be not console pop ups.

**Screenshots**

https://user-images.githubusercontent.com/50204208/185697186-47fb8629-6c46-46aa-af3d-f67dd01d88d9.mp4

**System information:**
 - OS: Windows 10
 - OS version: 22h1
 - Synfig

[2022-08-25 03:31] #386 closed

[2022-08-25 03:31] #2390 closed

[2022-08-27 06:26] mohamedAdhamc commented on #1077
@ice0 can this be safely closed now ?

[2022-08-27 09:43] #1077 closed

[2022-08-29 20:52] mohamedAdhamc commented on #2611
Actually I should have written this couple days back xD but I was caught up in the history pollution issue and others. But I want to say that finally now all the features have been made, now we have till October 3rd to hopefully get them all to be reviewed fully and ready for deployment :).

 I think most of the features would probably not be too time-consuming except maybe the first and the ruler

[2022-08-30 03:45] ice0 opened #2813 "Using text tool with Adwaita theme leads to error"
**To Reproduce**
Steps to reproduce the behavior:
start synfigstudio with Adwaita theme:
`SYNFIG_GTK_THEME=Adwaita ./synfigstudio`
Add a text using text tool.

**System information:**
 - OS: Linux Mint 21
 - Commit ID: dd55c0f3f982d676696e58fafb9175e4cd388e13

[code]

https://user-images.githubusercontent.com/5604544/187344489-6359b3eb-5de5-4493-b9b7-e1cc52faae9f.mp4

[2022-08-31 13:15] yoSachinkr opened #2815 "Weird stutter in animation when Timeloop and Stroboscope Layers are used together"
**Describe the bug**
Weird stutter in animation when Timeloop and Stroboscope Layers are used together.

**To Reproduce**
1. Create a rotating rectangle.
2. Add timeloop layer and set it such that the rectangle keeps rotating smoothly.
3. Add stroboscope layer on top of timeloop layer
4. Preview the animation.

**Expected behavior**
Stutter should not happen.

**Screenshots**

https://user-images.

[2022-08-31 13:46] yoSachinkr commented on #2743
@morevnaproject Well, I think, it'd be useful if Synfig automatically clears the old cache when it reaches the cache limit so that background rendering keeps working as expected.

[2022-09-01 12:14] mohamedAdhamc commented on #2611
Feature Status:

feature 1 #2717  :  Biggest thing here as of now is the history pollution which is ready for review now after the new implementation in #2750 .

feature 2 #2731  :  fully reviewed-- by ice0 and last that was said was "Looks good."

feature 3: https://github.com/synfig/synfig/pull/2755 : ice0 suggested waiting till a decision is made on whether we should
get around gtk not allowing

[2022-09-04 15:02] rodolforg commented on #860
@morevnaproject @ice0 is it done now?

[2022-09-04 15:04] rodolforg opened #2817 "Can't build on Windows / MSYS2 : error generating icons"
When I follow the steps, from scratch, describe here https://synfig-docs-dev.readthedocs.io/en/latest/building/Preparing%20Environment.html, I got this failure message and can't build Synfig Studio.

![image](https://user-images.githubusercontent.com/1323987/188320058-5a45a425-a9a5-4551-bac2-ef58d77d0edc.png)

I downloaded and installed the up-to-date MSYS2, in a completely new folder and still ca

[2022-09-04 23:31] rodolforg commented on #2813
I have a crazy idea to bring the old TimeTrack back and get rid of this new one I wrote XD

[2022-09-05 03:52] #1877 closed

[2022-09-05 09:56] rodolforg commented on #2817
This build error happened when trying to build with CMake.

My bash_history:
[code]
[code]
[CMakeCache.txt](https://github.com/synfig/synfig/files/9488796/CMakeCache.txt)

[2022-09-05 10:11] ice0 commented on #2817
@rodolforg

Can you run it again and show the full log?

[2022-09-05 10:32] rodolforg commented on #2817
OK.
I didn't reinstalled the setup this time, I cloned synfig git repository into another folder.

Here you are:
[log_step_1_b.txt](https://github.com/synfig/synfig/files/9489032/log_step_1_b.txt)
[log_step_1_b_err.txt](https://github.com/synfig/synfig/files/9489033/log_step_1_b_err.txt)
[log_step_2_b.txt](https://github.com/synfig/synfig/files/9489039/log_step_2_b.txt)
[log_step_2_b_err.txt](http

[2022-09-05 10:48] ice0 commented on #2817
ok, got it. This happens because username contains non-Latin characters.

I thought we fixed all these issues, so I need time to check if it's a problem with synfig or cmake.

[2022-09-05 11:10] ice0 commented on #2813
Why? The new one is good and has more features.

[2022-09-05 11:31] ice0 commented on #860
Not yet. Need to check tests, and prepare documentation.

[2022-09-05 16:04] rodolforg commented on #2813
Less error prone. I thought a way to still have the new features.
And Library panel depends on it too.

[2022-09-08 04:40] ice0 commented on #2817
1. The first issue was incorrect handling of non-latin paths in the synfig CLI. Fixed by #2819

2. After that, `mod_magickpp` started to fail with the error:
[code]
I didn't debug why this is happening, so I just disabled it.
`cmake -DWITHOUT_MAGICPP=ON ...`

3. After that synfig fails to build .ico file. Fixed by #2820
4. After that CMake can't build resource file to embed icon to exe. Fixed by #

[2022-09-08 05:17] morevnaproject commented on #2813
Noooo, we have to keep new TimeTrack! I can't imagine that we will be working with old timetrack again. :cry:

[2022-09-09 01:35] rodolforg commented on #2813
It can have all those new features. And it will be more safe.

[2022-09-11 02:05] mohamedAdhamc commented on #1161
yep, just noticed this also, was going to report it but found this issue.

[2022-09-12 03:12] #2817 closed

[2022-09-12 13:31] hesham-essam opened #2827 "[GSoC 2022 Work Summary]: Building Synfig with the MSVC Toolchain & automating the build process using Conan"
This project can be neatly divided into two parts:
1. Automating the build process using vcpkg with Windows being the target platform and msvc being the target compiler.
2. Automating the build process using conan for both Windows (msvc) and Linux (gcc/clang).

The vcpkg part is done and merged with the following PR: https://github.com/synfig/synfig/pull/2725

The conan part is 70% done, with the

[2022-09-12 13:41] #2827 closed

[2022-09-13 04:48] ice0 commented on #2759
I don't know why, but this issue is not reproduced now. So I am closing it.

[2022-09-13 04:48] #2759 closed

[2022-09-13 04:52] ice0 commented on #2565
MSYS2 Autotools `Release/production` build should be fixed with https://github.com/synfig/synfig/pull/2818.
MSYS2 Autotools `Debug` build still fails due to too many exported symbols.

[2022-09-13 04:52] #2565 closed

[2022-09-14 08:23] mohamedAdhamc commented on #2611
updated in the same comment as of 9/14 :)

[2022-09-14 14:53] #1708 closed

[2022-09-15 19:58] FadhilKwan commented on #2274
Sorry, quick update on this bug. ._.v

I just found out after checking if this bug still persists on the newest dev version v1.5.1 that just got posted yesterday in Synfig Forum.
(spoiler alert: it still persists)

So as it turns out, the bug is not strictly related to line's feather size and width alone. But it's more of a rendering issue that occurs when synfig tries to render thinner objects (a

[2022-09-24 07:17] BobSynfig opened #2832 "1-setup-linux-native.sh needs to be updated"
**Describe the bug**
1-setup-linux-native.sh needs to be updated for recent Debian flavoured distros.

[code]

[2022-09-25 15:20] pete1854 opened #2833 "Make Synfig available in Microsoft Store"
It would be great if a superb piece of software as Synfig was made available through the Microsoft Store. This would make it easier for non techies to install. Also, if a user runs a restricted account on their workstation they sometime run into issues because of account restrictions. Being able to install from the store would mitigate this.

Kind regards,
Peter

[2022-09-27 14:25] morevnaproject opened #2836 "Remove redundant getenv() calls"
The #2826 PR improved performance by replacing `getenv()` calls.

Still, there are more `getenv()` calls remaining. It would be nice to replace them, especially in render engine parts.

[2022-09-28 05:26] ice0 commented on #2833
Hi, Peter!

Thanks for suggestion, added to the list.
As a temporary workaround for users with restricted account, you can use portable version of Synfig.

[2022-09-28 15:58] #2832 closed

[2022-10-01 06:30] #2392 closed

[2022-10-01 12:58] hesham-essam commented on #666
My plan is to continue making slow and steady progress from the conan side of things, until I get rid of `conan-recipes` entirely.
This weekend I made progress on the ImageMagick PR, and hopefully by next weekend, I will recreate the "gtk3 on windows" PR.

[2022-10-01 15:20] ice0 commented on #2392
@newbluemoon

Hi! Sorry for a late answer.

This was done a very long time ago because some user experienced problems building the release version.
Now no one remembers the details, so let's see if anyone has issues with it again.

Thanks for your help.

[2022-10-09 08:48] mohamedAdhamc opened #2844 "[GSoC 2022 Work Summary]: User Interface improvements project"
This project consists of 13 features (7 main features + 5 additional features). The features are all implemented but in diffrent stauses. The following are links to the PRs of each feature with their respective status (by order of completion as of now).

1. https://github.com/synfig/synfig/pull/2634 : **merged**
2.  https://github.com/synfig/synfig/pull/2809: **merged**
3.  https://github.com/synf

[2022-10-09 08:48] #2844 closed

[2022-10-11 17:53] FirasH opened #2846 "Inaccurate SVG shape import"
**Describe the bug**
Some SVG shapes are imported with a minor shape inconsistency.

**To Reproduce**
Import the attached SVG file into Synfig with `File` > `Import...`

The file is here, it's been simplified to contain only the problematic shapes:

![svg-with-problematic-shape](https://user-images.githubusercontent.com/6705690/195162849-16d3f67a-9d9c-4640-bc35-ffdada8619a9.svg)

**Expected behavi

[2022-10-12 09:42] FirasH commented on #2846
Enabling `Radius Split` setting of the Vertex is likely to fix the issue most times

[2022-10-12 16:21] FirasH opened #2847 "Radial Blur generates transparency artifacts in Rendering only, Canvas Preview is fine"
**Describe the bug**
`Radial Blur` creates transparency artifacts in rendered images, this is not visible in the Canvas preview.
Not sure if this is an expected result, for sure did not expect it when rendering my animation.

**To Reproduce**
1) Open the attached document, this has been created simplifying an animation that had this issue:
[RadialGradientArtifact.zip](https://github.com/synfig/syn

[2022-10-14 02:50] #2108 closed

[2022-10-16 14:14] Svarov-RZM opened #2853 "Parameter panel hangs when there are lots of converters"
**Description**
The `CanvasTreeStore::set_row` procedure in canvastreestore.cpp tries to always expand ALL of layer's valuenodes. If layer is in default state, than this logic works all right because there isn't mush to expand that would cause a visible slowdown.

But the more valuenodes the layer has (because of converters that implement some new functionality), the longer this procedure takes to

[2022-10-16 16:05] ice0 commented on #2853
@Svarov-RZM
Can you try this build and tell me how long it takes to open the file?

https://ci.appveyor.com/api/buildjobs/1q4qx0jb5ldah727/artifacts/SynfigStudio-1.5.2-testing-2022-10-16-win64-c23a4.zip

[2022-10-17 04:14] Svarov-RZM commented on #2853
Now the file opens very fast, only takes 1 second against 1 minute on master branch.

Just to be clear though, the initial problem described here still exists, it is in **GUI**. Sorry if I didn't express myself clearly... but I do appreciate every improvement related to file loading.

[2022-10-17 12:58] ice0 commented on #2853
This is from master branch. Try to pull last changes.

Yeah I got it, currently investigating the issue.

[2022-10-18 13:42] morevnaproject opened #2856 "Move "Default interpolation" dropdown to Preferences dialog"
I suggest to remove "Default interpolation" dropdown widget from main Synfig window and place it into Preferences ("Edit" -> "Preferences" -> "Editing").

This function is rarely used and after the change the UI become less cluttered.

![screenshot_002](https://user-images.githubusercontent.com/332868/196446630-98a4ff25-2593-4f5a-acbd-9ba92f9e6e47.png)

[2022-10-18 15:06] morevnaproject opened #2857 "Changing interpolation of Canvas parameter changes interpolation for other waypoints"
This is an issue related to recently added buttons, which allow to change interpolation - https://github.com/synfig/synfig/pull/2615

If we will select a Group layer and try to change interpolation for waypoints of Canvas parameter, then it changes interpolation for other parameters of this Group layer.

This shouldn't happen because Canvas parameter of group layer represents waypoints of all _chi

[2022-10-18 15:35] mohamedAdhamc commented on #2857
@morevnaproject oops, I just replicated. ok, I will look into it.

[2022-10-18 21:49] mohamedAdhamc commented on #2856
will hopefully start working on this tomorrow (i.e. in about 10 hrs). Just commenting so that if someone already started they would let me know.

[2022-10-20 01:25] ice0 commented on #1441
I can't reproduce it now.
It seems to be fixed in the current master.
Can anyone confirm this?

[2022-10-20 01:31] ice0 opened #2860 "refactor: rename `Layer_PasteCanvas` to `Layer_Group`"
Guys what do you think?

@rodolforg @morevnaproject

[2022-10-20 10:55] yoSachinkr commented on #2856
I don't think putting **default interpolation** dropdown to preferences dialog is a good idea.
A synfig file can have different layers and you may want different layers to have different kind of interpolation. Having the dropdown available handy helps in presetting the interpolation before animating a particular layer. Putting it in preferences dialog will just add extra steps if someone wants to

[2022-10-22 10:22] rodolforg commented on #2856
What about both? Default for new empty files in Preferences and one for current file (saved in metadata).
We already have one way for setting default interpolation for layer parameters...

Anyway, I think Konstantin proposed to reduce GUI pollution. Am I right, @morevnaproject ? Any alternative?

[2022-10-23 23:00] morevnaproject commented on #2856
Hi @yoSachinkr!

Can you please clarify: do you use this dropdown in your daily work?

From my experience, the interpolation type is generally required on per-parameter basis (not per-layer basis).
For that we have possibility to set default interpolation for each parameter -
![screenshot_001](https://user-images.githubusercontent.com/332868/197422351-fe7e3d1a-2318-499f-8315-cdf0ba777a73.png)

[2022-10-23 23:01] morevnaproject commented on #2856
Exactly. ^_^

[2022-10-23 23:05] morevnaproject commented on #2856
Additional note: In OpenToonz the default interpolation is also configured only through Prefernces dialog.
![screenshot_002](https://user-images.githubusercontent.com/332868/197422508-4b72bab4-5173-4f73-9d4e-a2166f2ab2e1.png)

[2022-10-24 02:49] morevnaproject commented on #2375
Now building test packages...

[2022-10-24 08:04] morevnaproject commented on #2375
Binaries ready, source tarballs ready.

[2022-10-25 09:02] morevnaproject opened #2862 "Rename "Target" to "Module""
In render dialog there is a dropdown to choose render module. It is called "Target".
I suggest to rename it to "Module".

![screenshot_001](https://user-images.githubusercontent.com/332868/197731489-5edb8cb2-f7a7-4f06-a37c-f02d9a23cb7e.png)

[2022-10-25 09:43] morevnaproject commented on #2375
Release notes - https://github.com/synfig/synfig-docs/pull/46

[2022-10-25 13:08] yoSachinkr commented on #2856
I do use this feature as it's a handy way to work with different interpolation methods.

https://user-images.githubusercontent.com/50204208/197781074-378fd210-545c-467b-a73a-d6d30ce7c203.mp4

That dropdown helps in presetting the interpolation of the properties of layers in a much quicker way.

[2022-10-25 15:10] morevnaproject commented on #2375
We are released! :tada:  - https://www.synfig.org/2022/10/25/synfig-studio-1-4-3-released/

[2022-10-26 02:59] rodolforg commented on #2862
What about "Renderer"?

[2022-10-29 11:59] Rhvy1 opened #2864 "3D effects"
Synfig is a 2D animation program but I think support for 3D stuff like spheres, cubes and z Axis Rotation would be great

[2022-10-29 18:28] BobSynfig commented on #2864
Why not to use a 3D software such as Blender for this?

[2022-10-30 05:57] Rhvy1 commented on #2864
I think Synfig should be able to handle some 3D. It makes it more versatile. Nothing too fancy because of the rendertime.

 We should not run to Blender for every single 3D animation. Also computers that run Blender are pricy.

Blender was a 3D software till they added 2D features.

[2022-10-30 06:05] ryandesign opened #2866 "About box Close button does not match the other buttons"
**Describe the bug**
The label of the Close button in the About box is too high, and the button itself is positioned too low.

**To Reproduce**
Steps to reproduce the behavior:
1. Choose About Synfig Studio from the Help menu

**Expected behavior**
The label of the Close button should be centered vertically like the other buttons are. The top and bottom of the Close button should match the top and

[2022-10-30 16:30] Svarov-RZM opened #2867 "Allow to import files that reference the importer file itself"
### Description
So this is a bit convoluted. Imagine we're working on an animated scene. In that scene we have a bunch of valuenodes exported (all kinds, angles, reals, etc) to make it easier to animate from one place. Then we import objects into our scene (you know, characters for example) that reference exported nodes of this exact scene.

Theoretically, this should work, because by the time lay

[2022-11-01 19:47] mohamedAdhamc commented on #2866
hmm, so really quick investigation from my part, for the about dialog we are just simply using the `Gtk:AboutDialog`, and it doesn't seem to be deprecated so I think this may classify as a bug to be reported to gtk maybe ?.

p.s. just my two cents here, but yes ofc it can still be fixed from here also.
p.s. # 2 I will check the gtk source code for the about dialog to see if I can spot anything

[2022-11-02 11:13] rodolforg commented on #2253
I made PR #2868 , but currently it uses [shift] as the angle 'snapper' key.
Could you please test it?

[2022-11-02 14:45] yoSachinkr commented on #2253
Just tested it. Works perfectly.

[2022-11-04 12:30] rodolforg commented on #2253
@ice0 `Ctrl` or `Shift` for angle restriction for a single rotating handle?
With Transformation Tool, `Ctrl` means "rotate", `Shift` means "restrict to x or y axis".
With Rotate Tool, there is currently no way to constrain.

[2022-11-05 06:47] Svarov-RZM opened #2872 "Impossible to set 'Quality' in command line application"
**Description**
By some reason, the '-Q' switch was removed from the command line application (synfig), so it's no longer possible to set quality of the animation. You can restore it easily, since all the functionality is still in place.

But I was wondering, does setting 'Quality' affects anything after engine switch? I remember it did back in the day, so I am not sure if we should restore in bac

[2022-11-05 10:14] rodolforg commented on #2872
Quality parameter only affects some of those layers that weren't ported to Cobra Renderer yet.
The less the value the better quality (0 means the best).

[2022-11-05 10:38] Svarov-RZM commented on #2872
I see. Then I think it's better to restore the '-Q' switch.
When no layers remained to be ported to Cobra, we remove it along with the GUI entry.

[2022-11-05 12:03] morevnaproject commented on #2862
I am afraid that we already have "Renderers" ^__^

![screenshot_002](https://user-images.githubusercontent.com/332868/200118952-5c3c8e93-a957-4e03-976e-2960fdf24555.png)

[2022-11-05 12:09] morevnaproject commented on #2856
@yoSachinkr
Got it, thank you for the feedback.
I am closing this then.

[2022-11-05 12:09] #2856 closed

[2022-11-08 11:18] #2862 closed

[2022-11-08 13:35] #2857 closed

[2022-11-08 13:40] morevnaproject opened #2875 "No context menu when right-clicking on waypoint"
This is reproducible in current master branch (8bf9c30).

1. Download and open sample file -
[wp-right-click-bug.sifz.zip](https://github.com/synfig/synfig/files/9961597/wp-right-click-bug.sifz.zip)
2.  Select group "1".
3. Try right-clickig on waypoints, which I indicated on screenshot below -
![screenshot_001](https://user-images.githubusercontent.com/332868/200579147-3adb7bb8-5d6e-4fca-a362-19b

[2022-11-08 14:01] mohamedAdhamc commented on #2875
@morevnaproject sure, I will hopefully start looking into it tonight :).

[2022-11-12 13:07] rodolforg commented on #656
The compiler should compute it at compile time.

instead of 4 lines of code, just changing size[0] to size[1] could be simplified in a temporary variable and passing that temporary variable in the calculation.

Hm... And two lines are equal, so a `2*` would help.

[2022-11-13 23:18] rodolforg commented on #2847
This is somehow related to a tiled rendering Synfig does in the background, but I can't fix it. :(

Synfig splits render in two tiles (one large, and the bottom smaller). Fact.

[2022-11-15 02:32] mohamedAdhamc opened #2880 "Animation play button toggle infinitely on space hold"
**Description**
when the space bar is held down/pressed for a time period, the play button keeps toggling as long as the button is held down.

**To Reproduce**
just hold down the space/"your custom play shortcut" and notice the behavior of the play button.

**Expected behavior**
each space click toggles only once. i.e. next toggle doesn't happen before the key is released.

I will try to look into

[2022-11-16 02:20] mohamedAdhamc commented on #1900
just wanted to notify in case someone is working on it. I have started tracing the issue here, but its getting late so most likely i'd continue tomorrow.

Anyway, I believe the issue most likely is from the abrupt change to the error dialog while technically the color wheel is still adjusting (which is even visible from the cursor not reverting to original state). An initial solution which comes t

[2022-11-16 08:37] pgilfernandez opened #2883 "Parameters panel text size"
**Is your feature request related to a problem? Please describe.**
The parameters text size is extremely small, at least when using a HDPI screen (please, compare the menus text with the Parameters panel ones):
<img width="1680" alt="Screenshot 2022-11-16 at 09 27 41" src="https://user-images.githubusercontent.com/5942369/202129137-315a6089-b740-4da7-b2b4-0a891ffb72af.png">

**Describe the solutio

[2022-11-16 08:53] pgilfernandez opened #2884 "Parameters panel alternate row color"
**Is your feature request related to a problem? Please describe.**
Sometimes it's hard to match a waypoint with its parameter as there is no row visual helper. It indeed depends on situations, if you have just animated a parameter then it is obvious, but when you have a layer with lot of parameters animated it is when this UX issue raises:

![lines_now](https://user-images.githubusercontent.com/59

[2022-11-16 09:11] FirasH opened #2885 "AppVeyor Windows build does not start"
**Describe the bug**
The latest builds of Synfig Studio from AppVeyor do not start on Windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Download latest AppVeyor build
2. Start `synfigstudio.exe`

A system error pops-out saying that `libpcre2-8-0.dll` is missing and it's required to reinstall the software.

**System information:**
 - OS: Windows
 - OS version: 10
 - Commit ID: 94b9861

[2022-11-16 09:23] BobSynfig commented on #2883
You can try to change the font face and/or size from GTK config file.
See https://github.com/synfig/synfig/issues/667 for more details and links.
Windows and Linux but should work for Mac too ;)

[2022-11-16 09:54] pgilfernandez commented on #2883
It looks like there is no setting.ini file under macOS...

I tried getting it from `/autobuild/gtk-3.0/` folder, edit line `gtk-font-name =Sans 8` to `gtk-font-name =Sans 16` and copy it to few places but none worked:
[code]

Any other idea?

[2022-11-16 10:19] rodolforg commented on #2883
The font size is sadly forced in `LayerTree::create_param_tree()`

[2022-11-16 12:05] mohamedAdhamc commented on #2880
p.s. I also realized this problem is present in pretty much all the accelerators which control toggle buttons/actions. Happens as well the grid button, "turn on animate edit" button, etc...

[2022-11-16 12:21] #2885 closed

[2022-11-16 12:23] ice0 commented on #2885
@FirasH

Fixed.

[2022-11-16 13:39] morevnaproject commented on #2253
I would vote for removing this behavior of Transform tool.
There is a possibility to switch to Rotate tool with a single key press (S key) and back to Transform (A key).
So, I would free Ctrl key. Especially considering that Ctrl also used in Transform tool to select more elements (add to selection) and those two "roles" of Ctrl might conflict sometimes (you can accidentally rotate when doing Crl+

[2022-11-16 13:54] yoSachinkr commented on #2253
@morevnaproject But transform tool should have rotate and scale features. Otherwise it'll be meaningless.

[2022-11-16 13:58] yoSachinkr commented on #2253
And also "shift" in synfig already is associated with constraining functionality. So I think, "shift" is appropriate for rotation constraining as well.

[2022-11-16 14:40] morevnaproject commented on #2253
Historically, the Transform Tool was called Move Tool (or something like that). At some point we have added the ability to rotate with Ctrl key and the tool was renamed. I think it is okay to rename it back to Move Tool after removing the ability to rotate with Ctrl.

[2022-11-16 15:14] pgilfernandez commented on #2883
Well, I hope it arrives soon as this feature is something I don't know how to implement (and I know CSS, hehehe).

Thanks!

[2022-11-16 15:17] yoSachinkr commented on #2253
@morevnaproject but synfig already has a move tool 👀
![image](https://user-images.githubusercontent.com/50204208/202220042-553c21ef-b4fc-4f19-ae36-2652eaa1baae.png)

[2022-11-16 21:37] BobSynfig commented on #2883
Try `export GDK_DPI_SCALE=2`
- in a console before to start Synfig from the same console
- at the startup of your system in the equivalent of .bashrc for Mac

Under Linux, it can be started from command line `GDK_DPI_SCALE=2 ./Synfig(...).AppImage`

[2022-11-16 22:11] pgilfernandez commented on #2883
Tried both and they didn't work:
1) Opening a Terminal typed `export GDK_DPI_SCALE=2`
2) Opened Synfig as `/Applications/SynfigStudio.app/Contents/MacOS/SynfigStudio`
3) No "big text"

I also added that line to `~/.bash_profile` with the same behavior.

Am I doing anything wrong or i simply doesn't work?

[2022-11-16 23:00] rodolforg commented on #2883
Gtk already supports CSS, and we do it too. There were some PR @Keyikedalube did a few years ago.

[2022-11-17 15:11] yoSachinkr opened #2891 "Hotkey for Duplicate Layer button"
`ctrl + d` hotkey for "duplicate layer" function would help speed up artwork creation in Synfig.
![image](https://user-images.githubusercontent.com/50204208/202483565-3f8d7711-1530-457d-818e-28256d4b370f.png)

[2022-11-18 16:39] pgilfernandez opened #2893 "Make "outline color" easier to identify"
**Is your feature request related to a problem? Please describe.**
When selecting colors, it's hard to remember what color is the "fill" and which one is the "outline" one.

**Describe the solution you'd like**
I would suggest to do as other softwares do:

![fore-background_colors](https://user-images.githubusercontent.com/5942369/202755926-48ad7cfb-c520-45dd-849a-aba3c574fc14.jpg)

Thanks

**Desc

[2022-11-18 16:47] pgilfernandez commented on #2883
Just as a side note:
Text sizes for "Parameters" panel and "Canvas MetaData" one do not match (at least under macOS):

<img width="731" alt="panels2" src="https://user-images.githubusercontent.com/5942369/202757689-92fa7603-9ed0-4e8e-94d3-82f41bdc75d3.png">

The "Canvas MetaData" text size is the perfect one, I mean, it has the expected size looking at the rest of Synfig UI (menus, layer panel, ri

[2022-11-18 17:10] yoSachinkr commented on #2893
There's already a distinction that the outline color is at the top left corner while the fill color is at the bottom right corner. And in my opinion, area which represent color should appear completely filled for better visibility.

[2022-11-19 12:30] Keyikedalube commented on #2884
I believe there's a similar issue to this opened by @FirasH a year/s ago.

Yes and no.
I tried experimenting app theming some months back. Figured if one manually code styled alternate rows you also had to do it for all custom themes gtk already has (Adwaita, Adwaita dark, Materia, Numix, and so on)

I believe the proper way would be to implement a Synfig specific standard theme like GIMP did. GTK

[2022-11-19 12:42] FirasH commented on #2884
@Keyikedalube , that's right, here it is: #2132

[2022-11-19 16:02] pgilfernandez commented on #2884
Thanks, it looks like it is harder than expected...
It would be nice that GTK 3.0 CSS would work but I could get any usable style by adding code to gtk-keys.css (which looks like the only available CSS file to add some code in)

Any class I try doesn't work... only:
[code]
It looks like `treeview`doesn't work any more... at least in this gtk-keys.css file

[2022-11-19 17:55] Svarov-RZM opened #2894 "Perspective layer produces artefacts on sewing"
**Description**
When two or more perspective layers meet they produce a visible line in that place. Check out this picture:
![WarpAA](https://user-images.githubusercontent.com/28569334/202864608-6972b4f2-0d11-46f5-bf27-662eb2a3ae9a.png)
You can see a line in the middle of a cube right where warp layers meet.
This bug makes it very hard to align textures.

I assume it's because anti-aliasing is ena

[2022-11-19 18:25] BobSynfig commented on #2891
For sure but it would be nice but prone to introduce new bugs:
We have to take account of how much deep we duplicate ("leaf" layer or even tree/branch?)
and GUIDs to be unique; linked values and converters...
(similar issues as bones/skeletons duplication to be expected)

[2022-11-19 22:22] mohamedAdhamc commented on #2891
hmm, i'm curious here as how the hotkey/accelerator itself would produce these bugs ? AFAIK the layer-duplicate action is already present and this would be just mapping it to the accelerator or am i wrong ?

[2022-11-20 08:16] Keyikedalube commented on #2884
Closing this since https://github.com/synfig/synfig/issues/2132 issue request the same feature.

Thanks for opening :)

[2022-11-20 08:16] #2884 closed

[2022-11-20 09:22] yoSachinkr opened #2896 "Feature request: Sorting of parameters based on "last modified""
Along with the default sorting of parameters in the parameters panel, if there were an option to set the sorting of the parameters based on **_last modified parameter_**, then it could be quite convenient while animating.
![image](https://user-images.githubusercontent.com/50204208/202894596-b7224863-376c-43c2-b381-2dfd96e0f0d8.png)

[2022-11-20 13:08] BobSynfig commented on #2891
Ah ok, just the hotkey would be fine, if the existing fonction is already safe then no reason of additional bug.
Nevermind, I read wrong!

[2022-11-20 13:31] Keyikedalube commented on #2883
I got big text on Fedora 37

![Screenshot from 2022-11-20 18-28-11](https://user-images.githubusercontent.com/24214509/202903146-b7a552f2-6f61-4f08-832c-dcaf433661c4.png)

Could the below code statement be the cause for small font sizes in the parameter dock?
https://github.com/synfig/synfig/blob/3d3f0086ade92630e2649e5e8b4c2df45ca77837/synfig-studio/src/gui/cellrenderer/cellrenderer_value.cpp#L27

[2022-11-20 14:31] yoSachinkr opened #2897 "Synfig crashes while creating shapes when Sets Penal is active"
**Describe the bug**
Synfig crashes while creating shapes when Sets Penal is active

https://user-images.githubusercontent.com/50204208/202907936-b9178e6f-747c-4f5d-b7e9-c3a26db59732.mp4

**Expected behavior**
Synfig shouldn't crash

**System information:**
 Edition	Windows 10 Pro
Version	21H2
Installed on	‎30-‎03-‎2022
OS build	19044.2251
Experience	Windows Feature Experience Pack 120.2212.4180.0

[2022-11-20 19:21] rodolforg commented on #2897
It breaks on Linux too, in all 1.5.x versions (AppImage). Versions 1.4.1 ... 1.4.3 work fine.

Reproducible steps:
1. Create a layer
2. Place it on a Layer Set
3. Go to Layer Set Panel and select that new set
4. With Circle Tool, try to create a new  layer on the Work Area.
5. Crash

[2022-11-20 22:10] rodolforg commented on #2897
After `git bisect`, it seems this is the culprit: 8f38be32dc902d79b2a9df28ff98229574e10f26

[2022-11-20 22:46] pgilfernandez commented on #2883
@Keyikedalube not exactly that line but the followings:
https://github.com/synfig/synfig/blob/3d3f0086ade92630e2649e5e8b4c2df45ca77837/synfig-studio/src/gui/docks/dock_timetrack.cpp#L90
and
https://github.com/synfig/synfig/blob/3d3f0086ade92630e2649e5e8b4c2df45ca77837/synfig-studio/src/gui/trees/layertree.cpp#L240
I changed them to:
[code]
I compiled Synfig and it worked like a charm:
<img width="

[2022-11-21 13:02] pgilfernandez commented on #2883
I can confirmed that in macOS, even with no HDPI screen the Parameters panel text is smaller and hard to read. Using that `SCALE*12` seems to unify the text size with the rest of the Synfig UI.

[2022-11-21 14:23] Keyikedalube commented on #2883
Would text size be normal if the below variable is removed instead?
https://github.com/synfig/synfig/blob/3d3f0086ade92630e2649e5e8b4c2df45ca77837/synfig-studio/src/gui/docks/dock_timetrack.cpp#L88

Since you are trying to set text size to system default size. One may not need to set and define font attributes replicating default text size.

In my opinion, the current text size is readable. It's j

[2022-11-21 14:45] morevnaproject opened #2899 "Eyedrop Tool should take fill color by default"
![screenshot_005](https://user-images.githubusercontent.com/332868/203082620-abee1094-6065-4857-9a2e-7ad9faacc6d4.png)

Currently Eyedrop Tool has the following behavior in master branch:
- click on workarea picks color and puts it into the  **OUTLINE** color
- Ctrl+click  on workarea picks color and puts it into the  **FILL** color

I suggest to swap this behavior:
- click on workarea picks color

[2022-11-21 14:47] morevnaproject opened #2900 "Rename "Eyedrop Tool" to "Eyedropper Tool""
...as "Eyedropper" seems to be a common term in graphics software. ^__^

[2022-11-21 21:35] pgilfernandez commented on #2883
It didn't work, Make finishes with error:
[code]

Readable, but not comfortable... for me the size of the rest of menus, panels, etc. is just fine, but Parameters panel is around 33% smaller and that is not fine.

[2022-11-22 01:01] Keyikedalube commented on #2883
When you delete a variable you also delete those code statement that uses it. On github a fellow programmer would say something like:
"Try getting rid of this variable instance"
Doesn't mean deleting the variable only where it gets declared/defined but everywhere where it gets called or used.

The error message pointed out the problem. That `attr_list` is no longer available since we deleted it.

[2022-11-22 01:30] Keyikedalube commented on #2883
Parameter panel treeview would be in this file so removing `attr_list` need to be tested here too

https://github.com/synfig/synfig/blob/3d3f0086ade92630e2649e5e8b4c2df45ca77837/synfig-studio/src/gui/trees/layertree.cpp#L240

[2022-11-23 02:22] mohamedAdhamc commented on #2899
Writing here just in case someone already started, I will be working on this along-side related #2900, starting tomorrow hopefully   : ).

[2022-11-25 14:38] #2900 closed

[2022-11-27 05:40] morevnaproject opened #2911 "Rendering to avi/mp4 produces video without last frame"
**Describe the bug**
The last frame is missing in output video when file rendered to avi/mp4.
This bug is reproducible in 1.4.3 and current master branch.
The bug not exists in 1.4.2.

**To Reproduce**
Try to render file to mp4 or avi - you'll get video, which is one frame shorter than expected.

Rendering through commandline with version 1.4.3:
[code]
- notice `frame=   19 fps= ... time=00:00:00.

[2022-11-27 09:38] rodolforg commented on #2911
It seems this is the culprit: 88d237f9c36c011bf498eb09a0420d54b785ca0f

[2022-11-27 12:52] #2899 closed

[2022-11-27 16:16] #2911 closed

[2022-11-28 15:30] Keyikedalube commented on #2883
After deleting `attr_list`:

![Screenshot from 2022-11-28 20-42-03](https://user-images.githubusercontent.com/24214509/204314025-44fbedbf-8b13-4365-8e3f-f3fac2c3439f.png)

Undocked layers panel and parameters panel, aligned them in rows (selected), and then compared their font sizes.
Both are the same.

![Screenshot from 2022-11-28 20-31-40](https://user-images.githubusercontent.com/24214509/20431

[2022-11-29 04:23] ice0 commented on #2883
Yes, it looks good on Linux, but it looks worse on macOS.

Just for comparison:

Linux:

![linux-before](https://user-images.githubusercontent.com/5604544/204438039-bec578d1-5bec-4664-bed1-a9373f0236ea.png)

macOS:

![macos-before](https://user-images.githubusercontent.com/5604544/204438072-4e2166b5-5708-4012-8df7-a197809bd8da.png)

After removing attr_list:

Linux:

![linux-after](https://user-im

[2022-11-29 05:23] ice0 commented on #2883
Guys please check this PR: https://github.com/synfig/synfig/pull/2921

Linux font should be the same, macOS font should be bigger.

[2022-11-29 12:24] Keyikedalube commented on #2883
Separate font sizes for Windows + Linux (original size) and Mac (SCALE*12)? Using macros of course.

Sadly I've never seen how rendered UIs + fonts look like on an hidpi monitor or retina display. Still on decade old standard lcd monitor.

Though I did come across this:
https://wiki.archlinux.org/title/HiDPI
_"Not all software behaves well in high-resolution mode yet."_

id selector right?
`#param

[2022-11-29 13:48] ice0 commented on #2883
Can you please explain this part?

[2022-11-29 14:17] Keyikedalube commented on #2883
If we want to set custom fonts using CSS then id selector is what we are gonna use, right? One for Windows and Linux, and the other for Apple.

Apologies for too short description in the last part. Typed out in a hurry.

[2022-11-30 02:28] #1422 closed