[2019-03-17 12:33] ankit-kumar-dwivedi commented on #758
@morevnaproject I have removed it from the gui of preferences now Workarea render is the only option available and changing it also changes the navigator renderer.

Just to make sure you mean to change both Navigator & Workarea render when we select any option which was implemented in https://github.com/synfig/synfig/pull/749 right?

[2019-03-17 12:56] morevnaproject commented on #773
Can you please be more specific which functions you are referencing (and in which files)? ^__^

[2019-03-17 12:59] morevnaproject commented on #774
Sorry, I didn't understood what you mean. Can you please clarify what "layer having fixed parameters" means? (maybe recording a video will help ^__^).

[2019-03-17 13:05] yshkp commented on #774
@morevnaproject I found out that when we want to drag a layer (for ex. rectangle) with all handles selected using smoothmove tool, it's size changes while dragging to a new location this is not a good thing. So, I think a fix requires which makes us able to drag the layer without changing its size.

[2019-03-17 13:05] morevnaproject commented on #735
@ankit-kumar-dwivedi It's better to ask here. It's possible @blackwarthog might want to join our discussion. ^__^

[2019-03-17 13:10] morevnaproject commented on #758
Exactly! ^__^

[2019-03-17 13:10] morevnaproject commented on #774
Ah, this is an expected behavior. ^__^
Smooth Move tool is for deforming shapes. Please check this page for details - https://wiki.synfig.org/Smooth_Move_Tool

If you want to keep shape while moving, then use Transform Tool -
![screenshot_013](https://user-images.githubusercontent.com/332868/54491341-6f68c980-48f0-11e9-9a5a-f41d1499084e.png)

[2019-03-17 13:17] yshkp commented on #774
@morevnaproject Yup I read that before, but I used this in rectangle layer which lacks the handle to drag the image using transform tool so I thought this tool can be used for this. But all other geometrical layers have the handle for moving the shape.

[2019-03-17 13:42] ankit-kumar-dwivedi commented on #773
@morevnaproject Ah my bad I though
https://github.com/synfig/synfig/blob/6b3c81c2fb73a7a96cfddb0e43de54fe7a61da2e/synfig-studio/src/gui/canvasview.cpp#L3381
this to be only for images. Which created all this confusion sorry for that!

[2019-03-17 14:15] morevnaproject commented on #773
No problem! ^__^

[2019-03-17 14:18] ankit-kumar-dwivedi commented on #735
@morevnaproject okay
I needed to ask that the function **doVectorize** (_which is calling vCore.vectorize(..some args..) where the actual thing is happening_)
is responsible for raster to vector which is defined in vectorizerpopup.h/cpp
https://github.com/ankit-kumar-dwivedi/opentoonz/blob/bcc4cf8c2922ff7de541d6eb715f6ff3dde63f86/toonz/sources/toonz/vectorizerpopup.cpp#L212-L226

and is called in

[2019-03-17 14:18] morevnaproject commented on #774
BTW, this raises up a good point: we probably should change icon for Smooth Move tool, so it will more clearly indicate its role. Users often get confused by this icon.

[2019-03-17 14:23] morevnaproject opened #775 "New icon for Smooth Move Tool"
Current icon of Smooth Move Tool confuses many users.
![screenshot_014](https://user-images.githubusercontent.com/332868/54492616-c07dbb00-48fa-11e9-89f1-b977bafe604b.png)

Users usually think that it should be used to move objects, but in fact it is used to deform.
We need some graphics that is better reflecting its nature.

More info on Smooth Move Tool - https://wiki.synfig.org/Smooth_Move_Tool

[2019-03-17 14:24] morevnaproject commented on #774
Added this as #775.

[2019-03-17 14:58] morevnaproject opened #776 "Better icon for Draw Tool"
Currently icon for Draw Tool looks like this -
![screenshot_017](https://user-images.githubusercontent.com/332868/54493179-71865480-48ff-11e9-9c6c-7b7cd3e04bc3.png)

For many users this is not intuitive. They often choose Sketch Tool (which has completely different purpose) instead of Draw Tool.

So, I am looking for some icon, which better reflects the nature of Draw Tool.

Details about Draw Too

[2019-03-17 15:06] morevnaproject opened #777 "Simplify canvas settings window"
I am proposing to create a simplified Canvas settings window, which will allow to easily set dimensions of working document.

At this moment Canvas Properties window looks like this (many options and 3 tabs!):
![screenshot_018](https://user-images.githubusercontent.com/332868/54493291-beb6f600-4900-11e9-8910-c4d7d7c512f4.png)

We need something like this (taken from Flash):

![flash_s](https://use

[2019-03-17 15:07] morevnaproject commented on #731
Created label for UI/UX - https://github.com/synfig/synfig/labels/UI%2FUX

[2019-03-17 15:08] #731 closed

[2019-03-17 20:09] An0u commented on #776
![Splice_Tool_Synfig](https://user-images.githubusercontent.com/46160598/54497259-6677f800-48f0-11e9-9adb-90a408d7d54e.png)

How does something like this look as a draft ? Is there somewhere I post and ask for feedback? I have several sketches done and also some research.

[2019-03-18 04:39] yshkp commented on #774
@morevnaproject Thanks.
I think it raises one more point for the rectangle layer to create one more such handle to move it around the canvas.

[2019-03-18 08:15] morevnaproject opened #779 "Cannot render to GIF using magick++ target"
**Synfig version & platform**:
* Latest master branch, commit 24824e9858ef429e591a316d8476c80ea2e9ae69
* Linux Mint 19, 64bit.

**Issue description**:
* Create empty document in Synfig
* "File" -> "Render"
* Choose rendering destination.
* Choose target "magick++".
* Click "Render"
* --> Crash

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2019-03-18 08:26] morevnaproject opened #780 ""Lock Selection" parameter of Group Layer should be static by default"
See https://wiki.synfig.org/Static_Parameters

When Group is created, it has "Blend Method" and "Z Range" parameters marked as static by default -
![screenshot_008](https://user-images.githubusercontent.com/332868/54516652-223d3400-4992-11e9-91ad-7522ab8711f8.png)

It is reasonable to have "Lock Selection" parameter static by default as well.

<bountysource-plugin>

---
Want to back this issue? **

[2019-03-18 08:27] morevnaproject commented on #776
Yes, please post everything here - this is a place where we can collect feedback.

[2019-03-18 11:24] #779 closed

[2019-03-18 11:25] AnishGG opened #781 "Synfig crash while color picking for a layer"
**Synfig version & platform**:
- Latest master branch, commit [24824e9](https://github.com/synfig/synfig/commit/24824e9858ef429e591a316d8476c80ea2e9ae69)
- Ubuntu 18.04.2 LTS, 64 bit

**Issue description**:
- Create a new layer in synfig
- Open color change panel for that layer
- Click on the outer ring of the color picker and drag it
- -->Crash (Aborted (core dumped))
![synfig_issue](https://user

[2019-03-18 15:02] susmita97 commented on #704
Thank you I will do that

[2019-03-18 15:11] susmita97 commented on #704
Also should I share my pre-proposal with you?Could you provide me with a few suggestions about the format and other things?

[2019-03-18 16:28] morevnaproject commented on #704
@susmita97

The best is to share pre-proposal privately by mailing me using PM on forums or via https://www.synfig.org/contact/ .

Application template can be found at the bottom of this page - https://summerofcode.withgoogle.com/organizations/6502365465673728/

[2019-03-18 16:31] morevnaproject commented on #781
Hi @AnishGG ! Are you using debug or production build type?

[2019-03-18 16:39] AnishGG commented on #781
I am using debug build type.

[2019-03-18 16:45] morevnaproject commented on #735
As you can see from https://github.com/ankit-kumar-dwivedi/opentoonz/blob/bcc4cf8c2922ff7de541d6eb715f6ff3dde63f86/toonz/sources/toonz/vectorizerpopup.h#L265 Vectorizer class is based on QThread class.

From QT documentation - https://doc.qt.io/qt-5/qthread.html#start -

^__^

[2019-03-18 16:48] #758 closed

[2019-03-18 17:11] yshkp commented on #762
@morevnaproject I will be submitting you a draft proposal tomorrow which will also mention this issue about the approach I thought. If you allow me I can also include this is in my calendar of coding period.
I have also thought some improvements regarding waypoints handling which definitely improve it.

[2019-03-19 02:24] #745 closed

[2019-03-19 03:35] morevnaproject commented on #762
@yshkp Thanks for keeping me updated! Looking forward for your draft. ^__^
P.S. Please send it to me via email.

[2019-03-19 03:37] morevnaproject commented on #781
Ah, I see. Just want to mention that in production build this doesn't happen.

[2019-03-19 04:01] rockyhandsome1 commented on #777
Do you mean that the entire properties window to be replaced by the documents settings window. If yes then the user will be left with just few options..

[2019-03-19 08:09] ani1998ket commented on #780
i want to work on this issue. could you please guide me where to start

[2019-03-19 09:11] ani1998ket commented on #780
i think its already solved when the opened the file the lock selection was already set to static

[2019-03-19 14:04] susmita97 commented on #704
Thank you :)

[2019-03-20 08:43] morevnaproject commented on #780
@ani1998ket It looks like it isn't. Steps to reproduce:

- Create empty document in Synfig
- Create Circle Layer
- Group it
- See "Lock Selection" Parameter in Parameters Panel - it is not static.

![screenshot_002](https://user-images.githubusercontent.com/332868/54670719-d96ab400-4b26-11e9-91d1-adbb1e36ebe9.png)

[2019-03-20 08:53] morevnaproject commented on #777
@rockyhandsome1 My suggestion to create a simple window and add "Advanced..." button there. Clicking it will display the current window with all complicated options.

[2019-03-20 11:23] maitreyi0505 commented on #552
@morevnaproject
In the lastest version of Synfig ( version 1.3.11) you can save gif animation by using .gif extension and target as gif (but it doesnt always work)
The application still crashes every time when saving a file using .gif extension and target as magick++(as demonstrated in udemy course)

[2019-03-20 14:22] maitreyi0505 commented on #267
I would like to work on this project as a part of GSoC 2019, it would be great of I could get some guidance on ow to proceed!!

[2019-03-20 14:44] morevnaproject opened #783 "Create a new Panel which displays sound waveform"
Many people request to have an ability to load a sound file and display its waveform in sync with animation.

Synfig already can import sounds, but can't display waveform.

I suggest to add a new panel, similar to Graphs Panel, but instead of displaying parameter graphs it will display a waveform of given file.

Example mockup:

![screenshot_003](https://user-images.githubusercontent.com/332868/54

[2019-03-20 15:33] morevnaproject commented on #552
Hi @maitreyi0505!We have fixed that recently - https://github.com/synfig/synfig/commit/d1898cfe3351e3839a75ddb06e70c5e05569a91a

The fix will be shipped in the next development build (or you can build from source if you are on Linux).

[2019-03-20 15:34] morevnaproject commented on #267
@maitreyi0505 Great! Please consider that there is already some competition among students around “Editable animation curves in Graphs Panel” project. If you do not mind that, then I suggest to start by implementing this feature as a proof of your eligibility - https://github.com/synfig/synfig/issues/783

[2019-03-20 15:35] morevnaproject commented on #267
TCB waypoints are already implemented. We will need Bezier waypoints implemented as part of this project.

[2019-03-20 16:44] ankit-kumar-dwivedi commented on #735
@morevnaproject As I got your mail so I verified that there is a crash in case of using the outlinevectorizer method.

Also, I used the same file. On converting to vector( outlinevectorizer ) using **"opentoonz" it ran successfully**, however, **"opentoonz morevna" crashed**. So I can confirm the crash is only in morevna edition and not on original opentoonz :/
I am comparing both codebase to know

[2019-03-21 08:32] morevnaproject commented on #735
@ankit-kumar-dwivedi The fix of https://github.com/opentoonz/opentoonz/pull/2057 is included into Morevna Edition 1.3.

Please consider, that OpenToonz Morevna Edition doesn't includes all features/fixes of official OpenToonz 1.3. Actually, OpenToonz Morevna Edition 1.3 has only features of official OpenToonz 1.2.1 + our additions (Assistants, Color selector, etc.). This might be the reason why th

[2019-03-21 08:39] morevnaproject commented on #666
Hi @rohitsanjay! Any progress on this? ^__^

[2019-03-21 16:20] rohitsanjay commented on #666
Hi @morevnaproject! , Sorry for the delay from my side, I was ill from the past 10 days so I was unable to do work. I am almost okay now I expect to start working at my normal pace from early this weekend. Thanks!

[2019-03-21 18:32] yshkp commented on #762
@morevnaproject Please check your mail. I sent you the link to my draft proposal. Please take a look and review. Any suggestions would be appreciated.
I hope it matches to your expectations. ^__^

[2019-03-21 23:50] eszlari opened #784 "Flatpak builder fails to compile Synfig Studio 1.2.2"
build log:
https://flathub.org/builds/#/builders/28/builds/181

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/71736686-flatpak-builder-fails-to-compile-synfig-studio-1-2-2?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_c

[2019-03-22 09:26] morevnaproject commented on #784
I can see following error in build log (https://flathub.org/builds/#/builders/28/builds/181/steps/6/logs/stdio):

[code]

Could that be related with use of gcc version 8?

[2019-03-22 09:27] morevnaproject commented on #762
Got your mail, thank you! ^__^

[2019-03-22 09:27] morevnaproject commented on #666
Great, I am happy to hear you are better now. ^__^

[2019-03-22 09:38] eszlari commented on #784
But Debian seems to have no problem compiling it with gcc8:
https://packages.debian.org/sid/synfigstudio

[2019-03-22 09:41] morevnaproject commented on #784
But which version of GCC Debian has? Does it uses 8.2.0? (numbers after dot matter)

[2019-03-22 14:03] maitreyi0505 commented on #780
I've been looking at the issue for quite some time, suggested changes according to my understanding:
In the following files,
[https://github.com/synfig/synfig/blob/master/synfig-studio/images/background_rendering_icon.sif](url)
[https://github.com/synfig/synfig/blob/master/synfig-studio/images/background_rendering_icon.sif](url)
Blend mode and Z range have been written as
`    <param name="z_range

[2019-03-23 07:13] rockyhandsome1 commented on #684
Hi @morevnaproject sorry for the delay.
Feature is implemented.
will be generating the PR soon..
I have mailed you, regarding the same :)

[2019-03-23 13:06] morevnaproject commented on #780
Hi @maitreyi0505! I am afraid you are looking at wrong place. The files you referenced are Synfig's XML files - they contain artwork for icons. What you need to look is the code of Group Layer - https://github.com/synfig/synfig/blob/master/synfig-core/src/synfig/layers/layer_pastecanvas.cpp

I highly recommend to read Code Structure documentation - https://synfig-docs-dev.readthedocs.io/en/latest/

[2019-03-23 13:10] morevnaproject commented on #684
Hi @rockyhandsome1!
Great, please make sure to rebase your commits on the latest status of our master branch. Otherwise it is hard to see changes in your code. Thank you! ^__^

[2019-03-23 17:05] yshkp commented on #780
@morevnaproject Is it assigned to @maitreyi0505 ?

[2019-03-24 02:01] morevnaproject commented on #780
Yes. (Label fixed now ^__^).

[2019-03-24 14:25] ankit-kumar-dwivedi commented on #735
@morevnaproject I have mailed you my pre proposal please suggest any changes and let me know your thoughts on it (^_^)

[2019-03-24 20:44] hansoskar opened #786 "sifz-file broken (cannot open old project) after adding sceleton"
SynfigStudio-1.2.2 & linux64: (tried to open it also with version 1.3.11 with the same result)

**Issue description**:
After the last change I cannot open my project anymore.
Instead I get the following errormessage:

Unable to load "projectpath/name.sifz":

* projectpath/name:<bone>:12652:
error:<bone> is missing link 0 (name)

The last two lines appear for a whole bunch of bones.
Beforehand I ju

[2019-03-24 23:32] maxice8 opened #787 "ETL installs headers to include/ETL/ETL when using gnu-configure"
**Synfig version & platform**: ETL-1.3.11 (Upgrading from 1.2.2 on Void Linux)

**Issue description**: gnu-configure build system installs headers to /usr/include/ETL/ETL instead of /usr/include/ETL

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/71847098-etl-installs-headers-to-include-etl-etl-when-using-gnu-configure?utm_c

[2019-03-24 23:35] maxice8 opened #788 "ETL cmake doesn't install ETL.pc or ETL-config"
**Synfig version & platform**: synfig-1.3.11 (Updating from 1.2.2 on Void Linux)

**Issue description**: when using cmake instead of gnu-configure the pkg-config files are missing and so is the ETL-config binary.

[code]

[2019-03-25 05:41] AnishGG opened #789 "Synfig forums not working"
I don't know if this is the right place for this but I don't know where else to ask this.
Till when can we expect the Synfig [forums](https://forums.synfig.org/) to be back up and running?

![synfig_forums](https://user-images.githubusercontent.com/30872212/54897463-84e08380-4eee-11e9-88cb-4b3c01865582.jpg)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.b

[2019-03-25 05:59] morevnaproject commented on #789
Fixed now. Thank you! ^__^

[2019-03-25 05:59] #789 closed

[2019-03-25 06:38] morevnaproject opened #790 "Display “static intervals” between waypoints"
If parameter value on a segment between two adjacent waypoints dosn't changes, then visualize that somehow.

Here's how that's done in Blender:
![screenshot_001](https://user-images.githubusercontent.com/332868/54899417-59679400-4f02-11e9-8203-abf3f8e6d2a4.png)

I suggest to display such intervals by connecting waypoints with a solid line:

![screenshot_002](https://user-images.githubusercontent.c

[2019-03-25 06:46] yshkp commented on #790
@morevnaproject This is a good feature for waypoints and I think I can replace my deliverable of single click state with this one.
PS- Also check comments on suggestions.

[2019-03-25 06:48] morevnaproject commented on #790
Yeah, I've just mentioned this in my review of your proposal draft. Sent it to you just now. ^__^

[2019-03-25 06:52] yshkp commented on #790
@morevnaproject Surely I will do what you have asked me by that time.

[2019-03-25 07:05] morevnaproject commented on #786
Hi! I guess you copied your skeleton layer from another file, right?

[2019-03-25 07:07] morevnaproject commented on #786
P.S. As a quick hint for rescue:
You can rename your file by replacing ".sifz" at the end to ".sif.gz". After that you can decompress it (as GZ archive) - you will get a .sif file, shich is editable XML (can be opened and edited in any text editor).

After editing it is not necessary to pack file again into .gz - SYnfig can read .sif files without a problems.

[2019-03-25 07:10] morevnaproject commented on #788
Thank you for reporting! please consider that 1.3.x represents an unstable version and it is strongly discouraged from use with production files. ^__^

[2019-03-25 17:20] ankit-kumar-dwivedi commented on #773
@morevnaproject do we really need these 2 options? when there is "import" which can import any file

[2019-03-25 17:23] ankit-kumar-dwivedi commented on #771
May I do this Sir! @morevnaproject (^_^)

[2019-03-25 22:29] hansoskar commented on #786
Hey,
thanks for the quick response. No I've build the skeleton layer directly. Thanks for the rescuing Tip, I will try it out!

Best
hansoskar

[2019-03-25 22:52] hansoskar commented on #786
Thanks the rescuing was successful.

First I didn't delete the whole layer with all interactions and the program was crushing without an error message - but now it's working again (without the broken layer).

Best
hansoskar

[2019-03-25 22:52] #786 closed

[2019-03-25 23:34] hansoskar opened #791 "Animate rope/snake/cable effectively"
Hi,

I have a project in my mind with a tightening rope.
I've tried out different ways but failed with all of them.

What makes it difficult:
 - two colored structure
 - item is flexible in one direction but restricted in the second direction
 - all parts are anyway strictly connected

Maybe there is already a good solution but I didn't figure it out (It's my first project with synfig).

Functions

[2019-03-26 00:45] Jose-Moreno commented on #791
Hi, I feel you're asking about too many things in a single issue. If you want help for creating tension dynamics you should try the forum, but would probably be told that the only way would be to have a physics system in the program.

If you want to request a certain feature it's better for the project maintainers that you submit a single feature per issue so developers can keep track of and discu

[2019-03-26 05:26] morevnaproject commented on #773
Do you mean those two options? -

[2019-03-26 05:27] morevnaproject commented on #771
@ankit-kumar-dwivedi Awesome! This issue is yours now. ^__^

[2019-03-26 05:27] morevnaproject commented on #786
Great to hear that! ^__^

[2019-03-26 06:05] ankit-kumar-dwivedi commented on #773
Yes aren't these two options redundant @morvenaproject

On Tue, Mar 26, 2019, 10:56 AM Konstantin Dmitriev <notifications@github.com>
wrote:

[2019-03-26 12:42] morevnaproject opened #793 "Incorrect behavior of Skeleton Deformation"
**Synfig version & platform**:
Latest master branch, commit id 7ef36d286be8a83e4415670835b6b62456e21b1a

**Issue description**:
Skeleton Deformation produces  incorrect output (comparing to version 1.2.x).

Here is an sample file, all bones are in neutral position (after Reset Pose) -
[bug-skeleton-deform.zip](https://github.com/synfig/synfig/files/3008144/bug-skeleton-deform.zip)

![screenshot_00

[2019-03-26 17:40] AnishGG opened #794 "Failed to build on macOS Mojave"
**Platform**:
macOS Mojave
Version: 10.14.3
Macbook Pro(15 inch, 2018)

**Synfig version**
Commit: [7ef36d2](https://github.com/synfig/synfig/commit/7ef36d286be8a83e4415670835b6b62456e21b1a) (latest)

**Issue description**:
`1-setup-osx-brew.sh` ran without error.
`2-build-production.sh` fails to build with this error:
```checking for XML::Parser... configure: error: XML::Parser perl module is req

[2019-03-27 05:19] morevnaproject commented on #773
Each option produces different type of layer - Image Layer and Sound Layer.

[2019-03-27 05:21] morevnaproject commented on #794
Hmm... that's weird. As I read on https://github.com/Homebrew/linuxbrew-core/issues/4499 -

[2019-03-27 05:26] morevnaproject commented on #791
Yes, such topics are better suited for discussion on forums - https://forums.synfig.org/

I encourage to open discussion there and submit separated feature requests here. ^__^

[2019-03-27 05:26] #791 closed

[2019-03-27 10:08] AnishGG commented on #794
One solution: Check for `XML::Parser` in `1-setup-osx-brew.sh`, if not present then install it. Is this fine @morevnaproject ?
I will make the necessary changes if the above is ok.

[2019-03-27 10:39] AnishGG commented on #794
I could follow this [link](http://ripary.com/bundle-xml.html) to install XML::Parser?

[2019-03-27 13:06] yshkp commented on #790
@morevnaproject As I have started working on the task that you gave me and on the early basis I came to an idea that: If it is allowed to select multiple rows which are rendered using cell renderer then automatically user can select multiple waypoints using CTRL key as the main issue was due to operating on a single row.
Please tell me if I am on the right track.

[2019-03-27 14:50] ankit-kumar-dwivedi commented on #773
@morevnaproject I am sorry for my confusing comment  ¯\\_(⊙︿⊙)_/¯
I wanted to explain 2 points:

1.  The two options "Import image" and "sound" are meant to import image and sound files.
![Screenshot from 2019-03-27 19-59-58](https://user-images.githubusercontent.com/37617951/55085447-b44ce700-50cc-11e9-8c5d-1a1fb6cdce55.png)
but when the same work can be done using the "File->import.."
![Screensh

[2019-03-28 02:44] Kinoblit opened #795 "Graident rendering broken in v1.3.11"
I took one of my files I made v1.2.1.  This is how it's supposed to look:
![good_render_1 13](https://user-images.githubusercontent.com/49011417/55125908-a786be00-50e1-11e9-8c57-303c0facf6b4.png)

v1.3.11 on Ubuntu (built from the source release tarball).  This is what's happening:
![bad_render_1 13](https://user-images.githubusercontent.com/49011417/55125872-8756ff00-50e1-11e9-8d50-1531bdea8f8d.p

[2019-03-28 03:00] bluelavalamp commented on #730
I'm having the same issue.  It's only rendering a single image from the .lst sequence.

[2019-03-28 03:53] ankit-kumar-dwivedi commented on #771
@morevnaproject should I do this for render settings too?

[2019-03-28 06:37] morevnaproject commented on #771
@ankit-kumar-dwivedi Yes, please! ^__^

[2019-03-28 10:25] bluelavalamp commented on #730
It would appear this is a bug only in 1.3.11.  When I run 1.2.2 and open the same project, it will render the .lst sequences correctly.

[2019-03-28 12:36] morevnaproject commented on #795
Duplicate of #720. Fixed in master branch.

[2019-03-28 12:36] #795 closed

[2019-03-28 12:47] morevnaproject opened #796 "Image renders wrong at high resolution (3840x2160)"
**Synfig version & platform**:
Latest master branch, commit 7ef36d286be8a83e4415670835b6b62456e21b1a

**Issue description**:
I have a sample file -
[poster-bug.zip](https://github.com/synfig/synfig/files/3017940/poster-bug.zip)

When I open it in Synfig Studio here is how it looks (notice Preview mode is enabled):
![screenshot_002](https://user-images.githubusercontent.com/332868/55158507-b2009080

[2019-03-28 14:42] morevnaproject commented on #794
I'm afraid this can be too intrusive and might break your system.

Can you please run ```1-setup-osx-brew.sh``` again and post its full output here?

[2019-03-28 15:06] morevnaproject commented on #773
1. "File" -> "Import" is just an overlay, which creates particular type of layer depending on chosen filetype. "Image Layer" and "Sound Layer" are two completely different types of layers, which do different functions. First draws an image on workarea. Second draws nothing, but instructs Synfig to play sound at particular moment.

2. Those layers are displayed in **layer->new layer->other** menu b

[2019-03-28 15:08] morevnaproject commented on #790
@yshkp Since this is a question about issue #762, can you please post it there? That way our discussion will be on topic in right place. ^__^

[2019-03-28 15:21] yshkp commented on #762
@morevnaproject As I have started working on the task that you gave me and on the early basis I came to an idea that: If it is allowed to select multiple rows which are rendered using cell renderer then automatically user can select multiple waypoints using CTRL key as the main issue was due to operating on a single row.
Please tell me if I am on the right track.

[2019-03-28 15:26] morevnaproject commented on #762
It's hard to tell without trying. I doubt this will work, but still you can try to enable multiple selection.

Again, the safest way is to re-write the widget completely. For reference on writing custom widgets you can check TimeSlider widget (gray area on top of TimeTrack Panel) - https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/widgets/widget_timeslider.cpp

Graps Panel is also

[2019-03-28 15:34] yshkp commented on #762
@morevnaproject Well, yes now I am going to implement it in re-writing the widget.
Just gone through some docs so I thought this could work so suggested you an idea. But it's good to have a custom widget so without wasting time now working on it. :)

[2019-03-28 20:36] AnishGG commented on #794
Here is the output after running `1-setup-osx-brew.sh` again.
`Checking adwaita-icon-theme...
Checking autoconf...
Checking automake...
Checking ccache...
Checking libtool...
Checking intltool...
 Checking imagemagick...
Checking gettext...
Checking pkg-config...
Checking glibmm...
Checking libxml++...
Checking cairo...
Checking fftw...
Checking pango...
Checking mlt...
Checking boost...
Checking

[2019-03-29 05:03] morevnaproject commented on #762
Also, I suggest to create a copy of TImeTrack panel and do all work there. You can call it "TimeTrack-2". This will allow incremental development, without breaking existing functionality. ^__^

[2019-03-29 05:08] yshkp commented on #762
@morevnaproject Do we need to continue with TreeView again in time track panel ?

[2019-03-29 05:08] morevnaproject commented on #794
I have fixed that in your comment. ^__^

Okay, now please post a full output of ```2-build-production.sh```. Since it might be long, you might want to use https://gist.github.com/ for that.

[2019-03-29 05:09] morevnaproject commented on #762
If there will be a new widget, than there will be no need for TreeView there.

[2019-03-29 16:33] yshkp commented on #762
@morevnaproject I have gone through all the containers to find best suitable for time track panel and as per the references you gave there also DrawingArea is used which gives freedom to use it in our desired way. So I think it can be used in time track too.
What's your opinion on this?

[2019-03-29 17:48] AnishGG commented on #794
Here is the output.
[logs.txt](https://gist.github.com/AnishGG/80c81a3f5ce6a3955132205f8958c466)

[2019-03-30 02:56] Kinoblit commented on #698
I'd like to confirm that this is still happening (built off of `7ef36d286be8a83e4415670835b6b62456e21b1a`).

![bad_loop](https://user-images.githubusercontent.com/49011417/55270514-de8dd880-5275-11e9-9576-32578047b643.png)

[2019-03-30 04:06] corbeeresearch opened #798 "separate views aka "personas" for different process (UX)"
Just a suggestion: Separate views for different process such as drawing, animation, frame-by-frame, bone rigging to make it less busy.

This would make the app less intimidating for beginners and may allow other creative ideas to flow out much easier in future developments...

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/72144558-

[2019-03-30 04:10] corbeeresearch opened #799 "Kickstarter Idea: Let's make animation easier"
Allow reuse of animations by allowing a save to library function

for complex animations, such as character movements and facial expressions,
do a template system, if a character is tagged under the same bone template, they could
reuse the same animations.

ideas from:
https://www.youtube.com/watch?v=g1XJ2WAw7G8
https://www.youtube.com/watch?v=PzJckyZevjQ

[2019-03-30 06:46] rohitsanjay commented on #666
Thanks, @morevnaproject I am now on this project.
The workflow of this project should is to create packages for four libraries, giomm, mlt++, pango and  gtkmm. And then make recipe for synfig with help of Conan.

[2019-03-30 09:49] morevnaproject commented on #762
@yshkp Yes, DrawingArea is a right choice for this task. ^__^

[2019-03-30 11:15] tm-nihonsuki opened #800 "Libraries missing from appimage"
**Synfig 1.2.2 & Nixos**:

Installed using appimage-run on nixos.

**Issue description**:
Failed initially with missing libraries that should have been included with the image.  Made to work by linking the following libraries: libtool xorg.libXau xorg.libXdmcp.  While these very common libraries are likely to be found in almost all linux installations, the way nixos ties together execution environ

[2019-03-30 16:09] morevnaproject commented on #666
OK, I am looking forward for pango package. ^__^

[2019-03-30 16:11] morevnaproject commented on #666
This page is your best friend - https://docs.conan.io/en/latest/creating_packages.html

Also, you can see how other similar libraries are packages. For example, cairo - https://github.com/bincrafters/conan-cairo

[2019-03-30 16:17] morevnaproject commented on #798
This is already implemented -
![screenshot_001](https://user-images.githubusercontent.com/332868/55278666-f9c61a00-5341-11e9-8ba4-c6f326e4762f.png)

[2019-03-30 16:19] rohitsanjay commented on #666
Thanks, @morevnaproject I was looking for this kind of thing.

[2019-03-30 17:10] Croydon commented on #666
@rohitsanjay Also have a look at our Bincrafters templates 😄

https://github.com/bincrafters/conan-templates/

We are maintaining ~ 450 packages so they are pretty battle tested

[2019-03-30 17:22] amanbora commented on #704
Hi, I am interested in working on this feature as my gsoc project. Could you pls assign me a layer I could work on.

[2019-03-30 19:12] rohitsanjay commented on #666
Thanks, @Croydon

[2019-03-31 13:10] yshkp commented on #762
@morevnaproject I checked `CellRenderer_TimeTrack` that it is inherited from `Gtk::CellRenderer` and also a custom renderer to render the param model in TimeTrack. So I think CellRenderer would work for DrawingArea also. I created a context in TimeTrack to get in that environment. For TreeView Columns, I think it would be done separately.

[2019-03-31 16:38] morevnaproject commented on #794
Okay. Now, please give me content of ```~/Repos/anish/synfig/_production/synfig-core/config.log```.

[2019-03-31 16:41] morevnaproject commented on #800
Can you please give an exact output error, which is given when you try to run appimage? (without linked libraries)
Thank you!

[2019-03-31 17:09] morevnaproject commented on #771
So, thanks to @ankit-kumar-dwivedi,  "Image Aspect" and "Image Span" checkboxes are checked by default now.

And that made things work correctly when you have image width and height linked.

BUT, that introduces another issue: if you have width and height NOT linked, then changing one of them distorts the image.

Let's check the sample scene 480x270:
![screenshot_002](https://user-images.githubuse

[2019-03-31 17:44] morevnaproject commented on #704
Hi @amanbora! This feature is already got first prototype and quite a competition around. I encourage you to choose a different project from our Ideas List - https://synfig-docs-dev.readthedocs.io/en/latest/gsoc/2019/ideas.html - ore come up with your own idea. Thank you! ^__^

[2019-03-31 18:57] AnishGG commented on #794
Here it is. [config.log](https://gist.github.com/AnishGG/7b0d1c1c9e2f157506cb01b57f3810a4)

[2019-04-01 00:40] Domarius commented on #771
Quote from the above article, 5 years ago... _"In all other software programs the render size and project size are in two exclusively different parts of the program. Never have I seen the final render size affect the actual document/canvas size. It’s so weird."_

*sigh* all I know is when using Synfig, just never touch that "lock ratio" button!  I'm just going to continue working around the proble

[2019-04-01 00:46] Domarius commented on #771
Quotes from the above article, 5 years ago...

_"In all other software programs the render size and project size are in two exclusively different parts of the program. Never have I seen the final render size affect the actual document/canvas size. It’s so weird."_

_"Setting up your file should be basic and easy to understand. It shouldn’t be hidden in cryptic units or wonky settings that change o

[2019-04-01 09:41] yshkp commented on #762
@morevnaproject We can replace TreeView columns with the rectangle widget which itself be in the context in this way we can achieve the desired operation.

[2019-04-01 14:04] rockyhandsome1 commented on #684
Hi @morevnaproject I have rebased my commits:)

[2019-04-01 14:56] corbeeresearch commented on #799
Here is how they implemented the reuse of bones for a character under the same category but that has different body size
https://www.youtube.com/watch?v=kN-mKg5KlmM

[2019-04-01 15:07] #798 closed

[2019-04-01 15:58] tm-nihonsuki commented on #800
It is impossible to run a binary in Nixos. A run time environment has to be
produced for it.  In the case of appimage, a utility called appimage-run
generates that environment by making available the standard libraries
assumed to exist by the appimage spec, along with the libraries packaged in
the image.  The libraries I indicated are those that SynfigStudio needs,
but which are not part of the ap

[2019-04-01 16:48] amanbora commented on #266
Hi, I would like to work on this issue as my GSOC project. It would be pf great help if you can provide me some additional information about this issue and regarding my proposal. Thanks.

[2019-04-01 17:17] BobSynfig commented on #771
Synfig's system is not so ergonomic but it works as expected once understood...
Like for the "Lock Ratio" once the options set properly before.
Beware of regressions!
![Regressions](https://i.imgflip.com/1zgdll.jpg)

[2019-04-02 06:00] Domarius commented on #771
Yes normally we find minor inconveniences managable for free software, and it's to be expected.  But actually I found Synfig to be pretty intuitive in most other ways!  Well when I found I couldn't move things as I expected, a bit of googling showed me I had to group everything first. And that pictures import as 2 nested objects.  But once I knew this it became evident there was a benefit to this,

[2019-04-02 12:32] morevnaproject commented on #762
Can you please clarify which rectangle widget you referring to? ^_^

[2019-04-02 12:45] yshkp commented on #762
@morevnaproject I am referring to `Gdk::Rectangle`, so that focus can be given and also allowed to edit.

[2019-04-02 12:50] maitreyi0505 commented on #783
I tried to compile codes from the graphs panel and the waveform source code .I made changes in studio/src/gui file. I created 4 files namely: docks_sound.h and docks_sound.cpp in docs folder, widget_sound.cpp & widget_sound.h where I added the code of the rainynite waveform generation with few changes according to synfig code but the new panel isn't still visible, are there any other files I need

[2019-04-02 13:09] morevnaproject commented on #684
Implemented by @rockyhandsome1 via #792

[2019-04-02 13:09] #684 closed

[2019-04-02 13:11] morevnaproject commented on #783
@maitreyi0505 Can you please push your current code to GitHub, so I can look at it? ^__^

[2019-04-02 13:19] morevnaproject commented on #794
Okay, here is what I see in your output:

[code]

And here are lines from ```config.log``` on my OSX system:
[code]

Notice, your perl installation is found in **/usr/local/bin**. While in my case perl found in **/usr/bin** (system one).

So, I suspect you have custom installation of perl, which doesn't provides XML::Parser.

Please execute following commands and post its output here:

[code]

[co

[2019-04-02 13:22] morevnaproject commented on #800
Thank you for clarification!

Then, can you please give an exact output which appears in console when you trying to run appimage using ```appimage-run``` tool (without libtool xorg.libXau xorg.libXdmcp provided). I just need to know exact file names of libraries to get things fixed. ^__^

[2019-04-02 13:45] morevnaproject commented on #762
Now, question TreeView Columns - are you referring to this? - https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/docks/dock_timetrack.cpp#L103

[2019-04-02 13:48] morevnaproject commented on #266
Hi @amanbora! I suggest you to start by implementing “Step 1” from this issue - https://github.com/synfig/synfig/issues/267#issuecomment-469740322
This issue is actually a starting point for different project (“Editable animation curves in Graphs Panel”), but if you will implement step 1 and step 2 from this issue, then this will be a good proof of your eligibility for Waypoints project. Also, in

[2019-04-02 13:49] yshkp commented on #762
@morevnaproject Yes

[2019-04-02 13:52] morevnaproject commented on #762
You do not to replace it with anything then. Currently TimetrackView is implemented as TreeView with a single column (there is actually a second column, but it is empty, used  height alignment). You just need to replace whole TreeView with DrawingArea.

[2019-04-02 16:01] tm-nihonsuki commented on #800
Okay.

With none of the extra libraries included explicitly I get the following:
    /home/tony/.cache/appimage-run/6c4cb9ce465aa1e1bd8fd528add089cd1bdf690847f61cceb428a8f72e5e02f9/squashfs-root/usr/bin/synfigstudio:
error while loading shared libraries: libltdl.so.7: cannot open shared object file: No such file or directory

After including libtools I get the following:
    /home/tony/.cache/appi

[2019-04-02 16:22] yshkp commented on #762
@morevnaproject Yup I am on it and in process of replacing TreeView with DrawingArea,objects of TreeView is used so for that also appropriate replacement is needed in accordance with DrawingArea.

[2019-04-02 17:29] amanbora commented on #266
Sure @morevnaproject I'll get on it.

[2019-04-02 18:35] ankit-kumar-dwivedi commented on #516
@morevnaproject I am not getting any output for :arrow_down: after changing https://github.com/synfig/synfig/blob/a6476f206374ef2ecc430f137d24c5bfdb354faf/synfig-studio/src/gui/instance.cpp#L1704-L1707

to
[code]
However it is being called on line
https://github.com/synfig/synfig/blob/71802920181c984255c4351b876502ecfcbd4cb4/synfig-studio/src/gui/canvasview.cpp#L1711

This is the function responsi

[2019-04-02 18:38] ankit-kumar-dwivedi opened #801 "Import info should be Attempting to import FILE from DIR"
**Synfig version & platform**
 latest development builds

**Issue description**:
In debug mode I get info
**synfig(23888) [11:55:32  IST] info: Attempting to import /home/allievo/Pictures/Screenshot from 2019-01-04 22-03-22.png**

Should be
 **synfig(23888) [11:55:32  IST] info: Attempting to import 2019-01-04 22-03-22.png from /home/allievo/Pictures/Screenshot**

<bountysource-plugin>

---
Want t

[2019-04-02 19:51] AnishGG commented on #794
Here are the outputs
`ls -al /usr/local/bin/perl`
 ->
`lrwxr-xr-x 1 mohsin admin 30 Jan 3 01:17 /usr/local/bin/perl -> ../Cellar/perl/5.28.1/bin/perl`
and
`ls -al /usr/bin/perl`
->
`-rwxr-xr-x 1 root wheel 66608 Nov 30 11:24 /usr/bin/perl`

[2019-04-03 08:24] eldruin commented on #752
This warning comes from the OpenEXR library, not the ETL itself. The throw specifications seem removed in the [openexr](https://github.com/openexr/openexr/blob/master/IlmBase/Imath/ImathVec.h) project so I suppose this issue should solve itself by updating your OpenEXR library. Whether this is already available or not depends also on your platform.
Warnings like this could also be ignored by tweak

[2019-04-03 08:29] eldruin commented on #751
Similarly to #752, this warning comes from the libxml++ library, not the ETL itself. Whether a newer libxml++ library version exists that does not use `auto_ptr` I do not know. This depends also on your platform.
Warnings like this could also be ignored by tweaking the build system. On GCC we could use -isystem to include the header or add some pragmas around the libxml++ include. See [here](https

[2019-04-03 16:18] morevnaproject commented on #762
What I want to say is that you do not need to replace TreeViewColumn with anything. TreeViewColumn is a part of TreeView's internal structure. ^__^

[2019-04-03 16:21] morevnaproject commented on #794
So, you have a perl package installed via homebrew. Can you try to uninstall it?

```brew uninstall perl```

[2019-04-03 16:24] yshkp commented on #762
Oh yes I got it before just saying for other objects. 😅

[2019-04-03 16:38] morevnaproject commented on #752
Thank you for clarification, Diego! ^__^

[2019-04-03 16:39] #751 closed

[2019-04-03 17:00] morevnaproject commented on #516
@ankit-kumar-dwivedi The part of code you referenced is called when you right-click a layer in workarea (CanvasView).

When you select a layer in Layer Panel it calls this -
https://github.com/synfig/synfig/blob/71802920181c984255c4351b876502ecfcbd4cb4/synfig-studio/src/gui/instance.cpp#L1732-L1756

This function is called from
https://github.com/synfig/synfig/blob/71802920181c984255c4351b876502ec

[2019-04-03 17:11] morevnaproject commented on #771
Let's keep going with the issue. ^__^

Here is an interesting thing to mention.

I have a default document with default parameters:

![screenshot_003](https://user-images.githubusercontent.com/332868/55498181-2ee9a980-566d-11e9-8f26-b0c98956ad2d.png)

My "locks and links" parameters are set as before the change made by #797:

![screenshot_004](https://user-images.githubusercontent.com/332868/55498

[2019-04-03 17:15] morevnaproject commented on #771
Quick investigation leads me to this function -
https://github.com/synfig/synfig/blob/71802920181c984255c4351b876502ecfcbd4cb4/synfig-studio/src/gui/renddesc.cpp#L373-L388

[2019-04-03 17:23] morevnaproject commented on #771
Issue is fixed now via 6eafe8e0af29.

Still I encourage to continue discussion raised by article - http://www.segtsy.com/2013/12/a-significant-synfig-setback/

Your suggestions for improvements of handling canvas size are welcome here - https://github.com/synfig/synfig/issues/777

^__^

[2019-04-03 17:23] #771 closed

[2019-04-03 17:25] morevnaproject commented on #800
Thank you for clarification!

[2019-04-03 17:27] ankit-kumar-dwivedi commented on #516
@morevnaproject  and is there a separate function that is called when I right click a yellow switch group?

[2019-04-03 17:41] morevnaproject commented on #777
So, I assume we need to cover following cases:

1. **"Canvas" -> "Resize"** - Resizing canvas together with its content.
By default width linked with height to keep aspect ratio. User can unlink those values and in this case canvas expands appropriately.
This is current default behavior of "Canvas->Properties" window with Locks and Links set as follows:
![screenshot_007](https://user-images.github

[2019-04-03 17:42] amanbora commented on #266
@morevnaproject hey I figured out a way to implement the markers, but I'm facing some problems while building it. In the build version graphs are not visible. Can you help me figure it
<img width="1009" alt="Screenshot 2019-04-03 at 11 11 09 PM" src="https://user-images.githubusercontent.com/33185170/55500379-d8c53800-5665-11e9-9199-1c6f07ddf58e.png">

[2019-04-03 17:48] morevnaproject commented on #266
To get Graphs visible, please make sure to select appropriate parameter in Params Panel -
![screenshot_010](https://user-images.githubusercontent.com/332868/55500847-580d3880-5673-11e9-8c34-d407d259540f.png)

[2019-04-03 17:49] morevnaproject commented on #266
P.S. You might also need to hold Ctrl and scroll mouse wheel in Graphs Panel to change the vertical zoom. ^__^

[2019-04-03 17:55] amanbora commented on #266
yeah everything seems right but still no graph
<img width="1106" alt="Screenshot 2019-04-03 at 11 24 38 PM" src="https://user-images.githubusercontent.com/33185170/55501317-cb10b200-5667-11e9-837d-32169e31641e.png">

[2019-04-03 19:19] maitreyi0505 commented on #783
i made a pull request according to files created and the changes made by me, but the code isn't complete though i tried doing whatever i understood  :)

[2019-04-03 20:06] AnishGG commented on #794
I tried to uninstall it, but then I realized that it is a dependency for `vim`. Is there any other way to achieve the same?
This is the output for `brew uninstall perl`:

`Error: Refusing to uninstall /usr/local/Cellar/perl/5.28.1`
`because it is required by vim, which is currently installed.`
`You can override this and force removal with:`
 ` brew uninstall --ignore-dependencies perl`

[2019-04-04 13:02] AnishGG commented on #794
From the above, I understand that I have two perl packages installed on my machine. Is there any way that it detects the system installed version, and not the custom version of perl installed from homebrew?

[2019-04-04 13:54] ice0 commented on #794
Here i see 2 variants:
- 1. switch to system version of perl;
or
- 2. install XML::LibXML for brew perl (brew install libxml2)

[2019-04-04 17:58] ankit-kumar-dwivedi commented on #516
@morevnaproject  I used the group layer and accessed the canvas using
 _layer->get_canvas()_ but when I tried using the function
`std::set<etl::handle<Layer> > get_layers_in_group(const String&group); `
In return I am getting an empty set.
so i changed the following
https://github.com/synfig/synfig/blob/a6476f206374ef2ecc430f137d24c5bfdb354faf/synfig-studio/src/gui/instance.cpp#L1630-L1659 and I a

[2019-04-04 18:26] yshkp commented on #762
@morevnaproject I am almost there to replace it with DrawingArea but few issues like in replacing TreeView with DrawingArea, some TreeView methods go out of scope like for appending TreeView column, converting the coordinates etc. so for that, are custom methods also need to build?

[2019-04-05 04:38] morevnaproject commented on #783
@maitreyi0505 Apologies for delay with response. Please check my comment on PR. ^__^

[2019-04-05 05:00] morevnaproject commented on #762
Consider that Drawing Area doesn't needs a method for appending TreeView column, since it doesn't needs column at all. For converting coordinates please check TimeSlider widget (gray area on top of TimeTrack Panel) - https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/widgets/widget_timeslider.cpp

[2019-04-05 05:14] morevnaproject commented on #794
Then I suggest to try to uninstall "perl" and "vim". ^__^
[code]

Exactly. ^__^

First, I suggest switch to system Perl by removing brew's installation of Perl. If that will fix the problem, then we can dig further and think how to handle case with two perl installations. But, if the issue **will not** go away after removing brew's Perl, then this will indicate that the problem is in some other pl

[2019-04-05 05:17] morevnaproject commented on #266
From your screenshot I can see gray gaps in time cursor and other elements -
![55501317-cb10b200-5667-11e9-837d-32169e31641e](https://user-images.githubusercontent.com/332868/55604988-981c0a80-579c-11e9-8b86-88034a0d4809.png)

Looks like those gaps are curves painted with gray color.

As I understand you made some changes to code, which result in curves drawn with background color.

[2019-04-05 05:18] yshkp commented on #762
Oh, the thing not to replace TreeView column made me to think for its append. As earlier too, I was on the process for the removal of column.

[2019-04-05 05:22] morevnaproject commented on #516
@ankit-kumar-dwivedi  I am afraid ```get_group_count()``` is not the right function to use, as it serves for different purpose ^__^ -

https://github.com/synfig/synfig/blob/6eafe8e0af292b65c2dd7d39822b7531da045bdc/synfig-core/src/synfig/canvas.h#L380-L381

You need to look for other function of Canvas class. ^__^

[2019-04-05 11:06] ice0 commented on #794
Ok then it can be installed from cpan:

[code]

Not sure if this is the right way, but it might be worth a try.

[2019-04-05 11:51] AnishGG commented on #794
As this Mac is not my personal machine, I won't be able to uninstall vim. :slightly_frowning_face:

But sure, I will give this a try and update here what happens.
Thanks

[2019-04-05 17:34] yshkp commented on #762
@morevnaproject But one thing that if TreeView column is removed then `CellRender_TimeTrack` would not work also, so another way is required to render the value nodes.

[2019-04-05 21:39] Domarius commented on #771
Oh so the chain button was actively doing something wrong, like it seemed all along?!

(I must admit I never bothered to look into the explanation for how to "properly" use it, since it just seemed better not to touch it in the first place.)

[2019-04-06 00:04] AnishGG commented on #794
So, I tried executing the given instructions, but then this installation also failed with the following output.
[logs.txt](https://gist.github.com/AnishGG/6d6d9c2755d3e91810fd1b3a60661174 ).
I have no clue how to proceed further with this. Please guide me what could be done here.
Thank you

[2019-04-06 14:04] corbeeresearch opened #804 "Is this code helpful?"
Hi! I saw an awesome open-source toolkit for after effects.
https://rainboxprod.coop/en/tools/duik/

Here is their source code
https://github.com/Rainbox-dev/DuAEF_Duik/issues

Any chances that these codes will be helpful for salvage?

[2019-04-06 14:51] corbeeresearch commented on #775
how about something similar to this icon?
http://i.imgur.com/7qR5OZJ.png

[2019-04-06 14:54] corbeeresearch commented on #776
https://cdn.iconscout.com/icon/premium/png-256-thumb/draw-edit-pen-pencil-writing-33320.png

[2019-04-06 15:09] maitreyi0505 commented on #783
No worries, I will be working on it!

[2019-04-06 17:58] BobSynfig commented on #804
For sure it looks a lot interesting!
I will try to read more about them as soon as I will have a bit of time (yeah, french team ;) )
They have experience in animations and audiovisual.
http://duduf.com/pas-a-pas-animer-un-acting-de-personnage/

[2019-04-07 04:37] morevnaproject commented on #771
Exactly. ^_^

[2019-04-07 05:19] yshkp commented on #266
@morevnaproject In what manner scaling intervals between waypoints we want?

[2019-04-07 08:15] morevnaproject commented on #762
Exactly. You have to write a code which will display waypoints in DrawingArea.

[2019-04-07 08:33] yshkp commented on #762
@morevnaproject Then, Do I need to modify `CellRenderer_TimeTrack` also?
As it is responsible for displaying waypoints.

[2019-04-07 08:40] morevnaproject commented on #762
I think your problem is that you are trying to "map" features of current implementation (TreeView) to new implementation (DrawingArea) and trying to make it work "in one shot".

Instead I suggest to go with incremental changes. By "rewriting TimeTrack" widget I mean you should take DrawingArea widget and try to implement all UI functionality "from scratch".
And this can be done in incremental step

[2019-04-07 08:48] yshkp commented on #762
@morevnaproject  Thanks a lot for this reference. ^__^
To maintain its functionality as before I was trying to make all methods similar but in a new way so that it can be handled in DrawingArea.
But now no more queries as this reference you gave a clear view of what to do.

[2019-04-07 14:00] morevnaproject commented on #775
This is more like Transform Tool, which is serving for different purpose. We can see similar tool in OpenToonz, which is used to move/rotate/scale layers:
![screenshot_007](https://user-images.githubusercontent.com/332868/55684674-24365980-5978-11e9-9b47-bfeecdc89c07.png)

Please check https://github.com/synfig/synfig/issues/774#issuecomment-473664299 for description of Smooth Move tool purpose. ^

[2019-04-07 14:06] morevnaproject commented on #776
@corbeeresearch I like the icon, but in this case Draw Tool will look exactly the same as Sketch Tool
![screenshot_008](https://user-images.githubusercontent.com/332868/55684726-ec7be180-5978-11e9-8f32-ae040b85d4e9.png)

Possibly, we can think about better icon for Sketch Tool as well?

[2019-04-07 14:10] #516 closed

[2019-04-07 14:16] morevnaproject opened #806 "Synfig freezes when "Edit image in external tool" command activated"
@ankit-kumar-dwivedi I've just found one more issue in implementation of  #516.
After I choose "Edit image in external tool" command editor application gets opened, but Synfig gets unresponsive until I close the editor app. It would be better to allow user work in Synfig while editor app open.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2019-04-07 14:20] ankit-kumar-dwivedi commented on #806
Oh my my is this happening in debug? or in production build too
the reason could be they are using the same terminal process

[2019-04-07 14:24] ankit-kumar-dwivedi commented on #806
I guess if I open a new terminal process for opening in external tool then it should work

[2019-04-07 14:24] morevnaproject commented on #794
@AnishGG I understand the situation. I also understand that the same might happen to other users, who want to have perl in their homebrew install.

As a possible solution, we can use different location for Synfig's homebrew installation - https://github.com/Homebrew/brew/blob/664d0c67d5947605c914c4c56ebcfaa80cb6eca0/docs/Installation.md#alternative-installs

[2019-04-07 14:26] morevnaproject commented on #806
This happens in production build. I think, this is because you use ```Glib::spawn_command_line_sync()```. There should be something like ```spawn_command_line_async``` (for asynchronous execution). ^__^

[2019-04-07 14:30] ankit-kumar-dwivedi commented on #806
Or i can use system as I used in case of _APPLE_
Can you please confirm is the problem there in apple too?

[2019-04-07 14:41] ankit-kumar-dwivedi commented on #806
PR sent! [^_^]

[2019-04-07 14:44] morevnaproject commented on #794
Oh, no - this wouldn't work. Two installations of HomeBrew will conflict because they install files of python3 into ```/Library```.

But I have one simple idea how to force usage of system perl...

[2019-04-07 15:25] AnishGG commented on #794
🙂  Alright, I am curious. How do we do that?

[2019-04-07 17:03] morevnaproject commented on #266
Something like this - https://youtu.be/IB3tYVIkd4k

[2019-04-07 17:15] #806 closed

[2019-04-07 17:17] morevnaproject commented on #794
@AnishGG I have made changes. Please fetch latest commit and try to build again. ^__^

[2019-04-07 17:19] AnishGG commented on #794
I will test it as soon as I get the machine and update the results here.
Thank you!

[2019-04-07 17:58] morevnaproject commented on #794
I have pushed one more commit just now (d309b150488766079). Please make sure to get it as well (without it nothing will work). ^__^

[2019-04-07 19:58] AnishGG commented on #794
@morevnaproject, This fix worked like a charm 😃.
I guess this closes the issue.
But now I am getting this error:
`checking for glibmm-2.4 >= 2.24.2... configure: error:  ** You need to install glibmm-2.4 version 2.24.2 or higher.`
This issue was also mentioned by @amanbora at #803.

[2019-04-08 04:30] ankit-kumar-dwivedi commented on #735
@morevnaproject this feature is intended to be only for gui?

[2019-04-08 15:32] morevnaproject commented on #735
Yes!

[2019-04-08 15:35] morevnaproject commented on #794
Well, let's keep investigating. ^__^
Please give me content of ```~/Repos/anish/synfig/_production/synfig-core/config.log``` again.

[2019-04-09 12:17] AnishGG commented on #794
I have updated the previous gist. [config.log](https://gist.github.com/AnishGG/7b0d1c1c9e2f157506cb01b57f3810a4)

[2019-04-09 15:30] rohitsanjay commented on #666
@morevnaproject
Hi,
I have submitted the proposal draft of Gsoc, please review it.
Thanks

[2019-04-10 00:15] amicalmant commented on #554
Any news? I have also issue with File > Save as.. Synfig:

Traceback (most recent call last):
  File "synfig_output.py", line 1344, in <module>
    e.affect(output=False)
  File "inkex.py", line 283, in affect
    self.effect()
  File "synfig_output.py", line 1053, in effect
    SynfigPrep.effect(self)
  File "synfig_prepare.py", line 483, in effect
    propagate_attribs(self.document.getroot())

[2019-04-10 05:17] mikecohen12 opened #809 "Improve Synfig Usability and UX"
Someone just gave synfig a bad review.

https://www.youtube.com/watch?v=-2iRm1PC2Jw

I think the best way to prevent users for getting discouraged is to create a separate experimental workspace that's designed for user's ease of use. If you watch the review, the artist didn't have trouble knowing what to do on pencil2d and blender grease pencil, but struggled using synfig.

I also think it may hav

[2019-04-10 10:55] BobSynfig commented on #809
In this very review video, she is trying to use Synfig as a 2D/Drawing like Pencil2D and Blender (2D anim functionnalities)...
This is not the point of Synfig which is dedicated to vector animation (with some bitmap support added lately)
The 2D "classical" animation software work only as layers of bitmap, with frames flipped one after the other.
They are a lot easier to make evoluate (and to use)

[2019-04-10 15:11] AnishGG commented on #499
[Suggestion]
Hello everyone,
The Student Application Period is over and it marks the beginning of Application Review Period. This will take approximately a month.
It would be nice if someone could share the statistics of the proposals. 😃
I am attaching a screenshot as an example of how an organization did it this time:
![statistics](https://user-images.githubusercontent.com/30872212/55890656-bd5fa

[2019-04-10 17:12] morevnaproject commented on #666
Hi! Sorry, got your message a bit late and wasn't able to review yesterday. Your final proposal is passed to our tea for review now.

[2019-04-10 17:23] morevnaproject commented on #794
@AnishGG  Please execute those two commands and paste their output here:

[code]

[code]

[2019-04-10 17:29] morevnaproject opened #810 ""Edit image in external tool" does not works correctly when called from workarea"
@ankit-kumar-dwivedi When I right-click image on workarea I see "Open file" menu entry, which is expected to behave the same as "Edit image in external tool" command. But when I click it, Synfig opens associated image viewer, not the editor app specified in preferences.

![screenshot_001](https://user-images.githubusercontent.com/332868/55900218-e2fcae80-5bf0-11e9-8c8a-2264905fdd9b.png)

<bountyso

[2019-04-10 17:35] morevnaproject commented on #809
Closing issue as this is more like a discussion topic for forums.

[2019-04-10 17:35] #809 closed

[2019-04-10 17:36] AnishGG commented on #794
Here are the outputs:

https://gist.github.com/AnishGG/20801701a9eb8cf61cadd1fdd0d032fd

`/usr/local/lib/pkgconfig/glibmm-2.4.pc`

[2019-04-10 17:37] morevnaproject commented on #554
Hello @amicalmant. Please note that original author of this issue has problems with importing SVG file. From your post it looks like you have problems with exporting SVG file from Inkscape. Am I correct?

[2019-04-10 17:39] morevnaproject commented on #794
How interesting! Please give me output of this commands then:

```brew info libffi```

```ls /usr/local/lib/pkgconfig/libffi*```

[2019-04-10 17:44] morevnaproject commented on #499
Hi @AnishGG!
Just a quick info: we've got 14 proposals in total. ^__^

[2019-04-10 17:44] AnishGG commented on #794
Corresponding outputs:

https://gist.github.com/AnishGG/7fb79337c7a0fe2936956aa85cbd7b09

`zsh: no matches found: /usr/local/lib/pkgconfig/libffi*`

[2019-04-10 17:48] morevnaproject commented on #794
We're getting closer to solution. Please give me output of this:

```PKG_CONFIG_PATH="/usr/local/opt/libffi/lib/pkgconfig" pkg-config --print-errors --cflags glibmm-2.4```

[2019-04-10 18:11] AnishGG commented on #794
Here we go:

https://gist.github.com/AnishGG/6fa629bb438258b43a0438697e21be57

[2019-04-10 19:19] rohitsanjay commented on #666
No problem @morevnaproject, looking forward to working you.

[2019-04-10 20:27] amicalmant commented on #554
Oops! Sorry for the confusion. Let's recap:

- First, I tried to import the SVG file linked above but it failed (a new layer but no object that I can see and manipulate).
- Second, I read the *** manual.
- Third, I opened this SVG file in Inkscape in order to save it as explained in Synfig format. It is upon saving that I encountered the error detailed above.
- Fourth, I cannot import a synfig fil

[2019-04-11 03:48] morevnaproject commented on #794
Cool! I have pushed fix to master branch (4738a94ea9fbebe1c225b2b61ae0dfb116afe2a7). Please check if compilation works for you now. ^__^

[2019-04-11 05:12] ankit-kumar-dwivedi commented on #810
I see.. Will fix that (^_^).

[2019-04-11 06:22] ankit-kumar-dwivedi commented on #735
@morevnaproject the configuration input dialog for opentoonz(centerline) looks like this
![Screenshot from 2019-04-10 19-41-42](https://user-images.githubusercontent.com/37617951/55933937-a1015600-5c4c-11e9-93c5-7d20f9724df8.png)
Are we going to create the same options dialog or there are some changes required?

And in the centerline algorithm, the first step in processing anti-aliased images so I

[2019-04-11 08:57] morevnaproject commented on #554
@amicalmant  Since the exporter code is a part of Inkscape, I recommend to report it here - https://gitlab.com/inkscape/inkscape/

[2019-04-11 13:10] AnishGG commented on #794
I guess this fixed the glibmm issue :smile: , but the build still fails when proceeded.
I am pasting the error here:
https://gist.github.com/AnishGG/20801701a9eb8cf61cadd1fdd0d032fd

I have updated the config.log accordingly: [config.log](https://gist.github.com/AnishGG/7b0d1c1c9e2f157506cb01b57f3810a4)

[2019-04-11 15:49] morevnaproject commented on #794
Acknowledged, I am thinking on solution. In the meantime, can you please provide more lines of error output? ^__^

[2019-04-11 15:53] AnishGG commented on #794
These are the final lines of error output. Do you mean the output lines before this?

[2019-04-11 19:25] AnishGG commented on #794
@morevnaproject
Here is the full output after running 2-build-production:
https://gist.github.com/AnishGG/20801701a9eb8cf61cadd1fdd0d032fd

[2019-04-12 06:28] morevnaproject commented on #666
BTW, are there any progress on Cairo package? ^__^

[2019-04-12 06:32] morevnaproject commented on #735
Yes, let's go with the same options. ^__^

As understand, the preview area at the bottom could take additional time to implement, so you can skip it for now. It can be added later.

[2019-04-12 06:58] morevnaproject commented on #794
For some reason I do not see last lines with errors in this gist. ^__^"

[2019-04-12 07:06] rohitsanjay commented on #666
I was working on Pango package, I have created a [reprository](https://github.com/rohitsanjay/pango) on Pango and working on it. Due to University exam, I am getting very less time. Once it ends I expect faster development on it

[2019-04-12 07:16] morevnaproject commented on #666
Ah, yes, sorry, I meant Pango.

Please consider that this "proof" task should be finished by April 20th - after that we will be taking final decision on which projects to accept. ^__^

[2019-04-12 07:18] rohitsanjay commented on #666
Okay, I will try my best.

[2019-04-12 10:13] AnishGG commented on #794
The last lines with errors are these only [(link)](https://gist.github.com/AnishGG/20801701a9eb8cf61cadd1fdd0d032fd/9b9adae4595e369449f882304c51a9ba2661d145). There was no output generated after this.

The output in this link is truncated. You might be able to see the last lines in the raw output[(link)](https://gist.githubusercontent.com/AnishGG/20801701a9eb8cf61cadd1fdd0d032fd/raw/b1da680fd4f8fb

[2019-04-12 13:14] ankit-kumar-dwivedi commented on #735
Okay @morevnaproject [^_^]

[2019-04-13 14:38] morevnaproject commented on #794
I have read this thread - https://github.com/Microsoft/LightGBM/issues/3 - and it looks like you have "clang" compiler set as default instead of "gcc".

Please give me an output of those commands:

```brew info gcc```

```ls -al /usr/local/bin/gcc*```

[2019-04-13 14:47] morevnaproject commented on #794
And also those commands:

```ls -al `which g++` ```

```ls -al /usr/local/bin/g++*```

[2019-04-13 15:07] AnishGG commented on #794
I see, I will also have a look at it.
Here are the outputs of the asked commands:

https://gist.github.com/AnishGG/792fda9857bf390177f91131d912d8d6

https://gist.github.com/AnishGG/6952b39e00935f77319003e920c583ef

`-rwxr-xr-x  1 root  wheel  18288 Feb  5 10:58 /usr/bin/g++`

`lrwxr-xr-x  1 mohsin  admin  29 Mar 26 19:24 /usr/local/bin/g++-8 -> ../Cellar/gcc/8.3.0/bin/g++-8`

[2019-04-13 15:29] morevnaproject commented on #794
@AnishGG Thank you! Please try to build Synfig by executing the following commands:

[code]

[2019-04-13 15:49] ankit-kumar-dwivedi commented on #773
I just forgot about this issue. :sweat:
@morevnaproject I remember last time when I was trying to work on this issue I was not able to find the function which is called with **layer->new layer->other->import image**
So I ended up with
[code]
from [canvasinterface.h](https://github.com/synfig/synfig/blob/master/synfig-studio/src/synfigapp/canvasinterface.h)
Can you let me know if there is a specifi

[2019-04-13 16:06] ankit-kumar-dwivedi commented on #735
@morevnaproject can I use OpenGL for anti-aliasing?

[2019-04-13 16:10] #810 closed

[2019-04-13 16:15] morevnaproject commented on #735
Can you please let me know which part of code you would like to apply it? Synfig already has some algorithms for anti-aliasing...
@blackwarthog

[2019-04-13 16:16] ankit-kumar-dwivedi commented on #735
I would like to use multisample anti-aliasing or MSAA

[2019-04-13 16:17] morevnaproject commented on #773
As far as I know, there are no special function for **layer->new layer->other->import image**. This menu is constructed dynamically from the list of all available layers.

[2019-04-13 16:21] ankit-kumar-dwivedi commented on #773
Thanks for quick reply. So I guess it simply means I need to check whenever a new image/sound layer is created it should not have an empty filename param

[2019-04-13 17:20] yshkp commented on #762
@morevnaproject To get the info of parameters of a certain layer, Can `LayerParamModel` help in this`?
Due to the institute's work, I am not able to give proper time but trying to do as fast I can.

[2019-04-13 17:33] AnishGG commented on #794
@morevnaproject, I tried building Synfig using the given commands. It fixed the previous issue of "clang" being the default compiler. But again there is some another issue.
I have updated the config.log. [(link)](https://gist.github.com/AnishGG/7b0d1c1c9e2f157506cb01b57f3810a4)
Here are the terminal logs after executing the given commands(2-build-production.sh) [(link)](https://gist.github.com/Ani

[2019-04-13 19:00] AnishGG opened #812 "Build broken due to Travis 4MB log size limit"
**Synfig version & platform**:
Synfig version: second last commit ([4738a94](https://github.com/synfig/synfig/commit/4738a94ea9fbebe1c225b2b61ae0dfb116afe2a7))
platform: Travis build

**Issue description**: Travis build fails on the OS X High Sierra, giving error :
`The job exceeded the maximum log length, and has been terminated`

**Possible Fixes**: I was reading the possible fixes here travis-c

[2019-04-13 20:28] AnishGG commented on #812
The above mentioned hack seems to have worked for osmdroid/osmdroid#288

[2019-04-13 21:04] AnishGG commented on #812
@morevnaproject, If the given fix seems appropriate, I would like to work on this. ^_^
Please let me know.

[2019-04-14 05:32] maitreyi0505 commented on #776
Hey @morevnaproject ! So I designed icons for this issue, considering the difference between the 2 tools, please have a look:

Draw tool:
![image](https://user-images.githubusercontent.com/44134797/56088732-5e39bb00-5ea4-11e9-9dbe-951531808a3f.png)

Sketch tool:
![image](https://user-images.githubusercontent.com/44134797/56088723-43ffdd00-5ea4-11e9-8e9e-b4fdb90f9b80.png)

If you wish I can create

[2019-04-14 05:44] maitreyi0505 commented on #783
For the panel to be shown, I think is it necessary to create an sound.sif and integrating it; also I couln't find any folder where icons are stored, may I get some help on it? ^_^

[2019-04-14 06:12] yshkp commented on #762
@morevnaproject Up to step 4 is completed, now to render waypoints I think I should take this from the method in `CellRenderer_TimeTrack` and then display them as red circles. Please let me know your opinion.
P.S. - I found that keyframe list block size is not proper. What could be the reason for this?

[2019-04-14 06:32] maitreyi0505 commented on #775
Hey @morevnaproject ! We could have something like this maybe:

![image](https://user-images.githubusercontent.com/44134797/56089174-c42a4080-5eac-11e9-9964-b39dae07e9ba.png)
I created the logo according to my understanding that scaling and rotation can be done; I can make something like the Opentoonz one but I couldn't understand what it represents properly, so if there is some improvement or oth

[2019-04-14 08:29] morevnaproject commented on #794
@AnishGG Can you please give me last lines of output? The gist at https://gist.github.com/AnishGG/20801701a9eb8cf61cadd1fdd0d032fd doesn't give me last lines, so I do not see error message.

[2019-04-14 09:04] AnishGG commented on #794
I will clarify this. When we open this link, it shows the following:
![truncated](https://user-images.githubusercontent.com/30872212/56090610-0a3dcf00-5ec2-11e9-8862-b612eb9f39c3.PNG)
This might be the reason you are not able to see the full output. Here we need to see the raw output which can be accessed by clicking on `Raw` or `view the full file`.
Here is the link to it: https://gist.githubuser

[2019-04-14 12:43] FadhilKwan commented on #681
ummmm..... this is awkward....
sorry to bring this up again (and yes, it's the second time already), but it seems like the forum is going down (again)....
still the same error: "Site Unreachable"

it has happened from around 12 hours ago, but i decided to wait first in case it will get resolved at one point, although it looks like the error still persists
(._.)

[2019-04-14 14:54] AnishGG commented on #681
It is working fine for me now. Could you check again?

[2019-04-14 15:33] FadhilKwan commented on #681
alright it's working fine. the problem was from my internet provider:
in short, i have to use VPN to access it,
this is very weird, because it was woking fine without the need to use VPN yesterday. (o_o)

Anyway, thanks for the suggestion! (^-^)

[2019-04-14 16:32] Nicklaus01 opened #813 "GSoC 2019 proposal - Improving workspace by enabling the hide/unhide feature of the "Window" Menu"
**Synfig version & platform**:
"SynfigStudio-1.3.11-testing-19.02.09-win64-9583a.exe” on Windows 10 (x64)([Development Version](https://www.synfig.org/download-development/))
"SynfigStudio-1.2.2-18.09.14-win64-286f1.exe” on Windows 10 (x64) ([Stable Version](https://www.synfig.org/download-stable/))
Synfig branch - Master, Platform - Ubuntu 18.04.1 LTS([Developer Version](https://github.com/synfig

[2019-04-14 16:33] Nicklaus01 commented on #813
I would love to work on resolving this issue.

[2019-04-15 07:13] BobSynfig commented on #813
There are already several request about creating/saving custom worlspaces. (https://github.com/synfig/synfig/issues/341 https://github.com/synfig/synfig/issues/430 for example)
I think it would be better to work in such a feature.
Any panel can be easily moved, removed or added, unused one are covered with activated ones.
The current behavior from the menu is to "bring to front" a displayed panel,

[2019-04-15 12:37] morevnaproject commented on #794
Oh, my bad. I hasn't paid attention to this link. ^__^"  Thank you! ^__^

[2019-04-15 12:44] morevnaproject commented on #794
@AnishGG Please give me an output of ```brew info llvm```.

[2019-04-15 12:49] morevnaproject commented on #735
@ankit-kumar-dwivedi I do not understand, why you need to apply anti-aliasing if your image is already anti-aliased. By quick reading OpenToonz code I've got an impression that it does exactly opposite - it converts anti aliased image to image with reduced color palette. Am I wrong here? ^__^

[2019-04-15 12:51] AnishGG commented on #794
Here it is:
<pre>
<code>
llvm: stable 8.0.0 (bottled), HEAD [keg-only]
Next-gen compiler infrastructure
https://llvm.org/
Not installed
From: https://github.com/Homebrew/homebrew-core/blob/master/Formula/llvm.rb
==> Dependencies
Build: cmake ✘
Required: libffi ✔
==> Requirements
Build: xcode ✘
==> Options
--HEAD
	Install HEAD version
==> Caveats
To use the bundled libc++ please add the following L

[2019-04-15 13:00] morevnaproject commented on #794
@AnishGG Thank you! I have pushed commit 36eac61006ec9a096243f1aba242028b644b8947 which should fix the issue.

[2019-04-15 13:01] morevnaproject commented on #773
That's good idea! ^__^

[2019-04-15 13:16] morevnaproject commented on #783
All icons are stored here - https://github.com/synfig/synfig/tree/master/synfig-studio/images

[2019-04-15 13:23] morevnaproject commented on #812
@AnishGG That would be awesome! The fix looks good, your help is much appreciated here. ^__^

[2019-04-15 13:24] morevnaproject commented on #775
@maitreyi0505 Is your proposal for Transform Tool or for Smooth Move Tool?

[2019-04-15 13:35] morevnaproject commented on #776
@maitreyi0505 I like the icon for Draw Tool! But the difference with Sketch Tool can be hard to recognize hen icon is small.

How about utilizing a concept of pen/pencil? Here is an icon from Tango project -
![240px-Applications-office svg](https://user-images.githubusercontent.com/332868/56136620-5ae62280-5fbd-11e9-936f-f71b570bf2b1.png)

Another idea is to play with ink pen concept - https://the

[2019-04-15 15:17] morevnaproject commented on #762
Yes, I advise to look at ```CellRenderer_TimeTrack::render_vfunc```.

Sorry, I do not understand what you mean. Can you please describe in more detail? ^__^

[2019-04-15 15:18] yshkp commented on #762
No worries, I found the solution and fixed it. ^__^

[2019-04-15 15:19] morevnaproject commented on #813
As far as I can tell, this is already works that way.

[2019-04-15 15:24] yshkp commented on #762
@morevnaproject The rows which are needed to draw corresponding to parameters, I want to implement it as by counting total parameters and then loop it in timetrack to draw horizontal lines. Is it good to have like this?

[2019-04-15 15:27] morevnaproject commented on #762
Yes, this is a good way to go! ^__^

[2019-04-15 15:36] AnishGG commented on #794
@morevnaproject, On the latest commit I ran the following command
<pre><code>cd ~/Repos/anish/synfig/
CXX=/usr/local/bin/g++-8 ./2-build-production.sh</code></pre>

But, it still errored. I think it is still giving the previous error.
Here I updated the config.log([link](https://gist.github.com/AnishGG/7b0d1c1c9e2f157506cb01b57f3810a4)) and terminal output.([link](https://gist.github.com/AnishGG/2

[2019-04-15 15:46] ankit-kumar-dwivedi commented on #735
@morevnaproject is it ??? :scream:
But the variable definition said **if it is non-antialiased**
Please see the attached screenshot
![Screenshot from 2019-04-15 21-03-08](https://user-images.githubusercontent.com/37617951/56145774-891a3100-5fc2-11e9-9a05-957585b45c5d.png)
So I thought if I will anti-alias the image that pre processing will not be needed. Also I thought Naa2TlvConverter means Non-A

[2019-04-15 16:20] morevnaproject commented on #794
Oh, I see. I haven't noticed from your previous comment that llvm is actually not installed.

Please give me an output of ```brew info libomp```.

[2019-04-15 16:23] AnishGG commented on #794
<pre><code>libomp: stable 7.0.0 (bottled)
LLVM's OpenMP runtime library
https://openmp.llvm.org/
/usr/local/Cellar/libomp/7.0.0 (12 files, 1.2MB) *
  Poured from bottle on 2019-03-26 at 19:21:20
From: https://github.com/Homebrew/homebrew-core/blob/master/Formula/libomp.rb
==> Dependencies
Build: cmake ✘
==> Requirements
Required: macOS >= 10.10 ✔
==> Analytics
install: 39,050 (30 days), 143,167 (9

[2019-04-15 16:26] morevnaproject commented on #794
Now, please give me an output of this:

```ls "$(brew --prefix libomp)/lib"```

[2019-04-15 16:29] AnishGG commented on #794
`libgomp.a      libgomp.dylib  libiomp5.a     libiomp5.dylib libomp.a       libomp.dylib`

[2019-04-15 16:31] morevnaproject commented on #794
Committed a fix. Please try to build with the latest master again. ^__^

[2019-04-15 17:04] AnishGG commented on #794
I guess you made an error in the last commit. The config.log differed here:
` ld: warning: directory not found for option '-L"/usr/local/opt/libomp/lib"'`
There seems to be an extra `"` after `L` in the commit.
The build fails with the following error:
config.log([link](https://gist.github.com/AnishGG/7b0d1c1c9e2f157506cb01b57f3810a4)) and terminal output([link](https://gist.github.com/AnishGG/208

[2019-04-15 17:18] morevnaproject commented on #794
You right! Fixed now. Please try again. ^__^

[2019-04-15 17:19] Nicklaus01 commented on #813
Thank you @BobSynfig for sharing your opinion related to the 'Workspace customization'. I also think adding create/save feature, would ease the use of the Synfig and would be very useful for the existing workspace.
I have mentioned a similar feature request and approach in my proposal.  Thank you for referencing me to a similar feature request  ([#341](https://github.com/synfig/synfig/issues/341)

[2019-04-15 17:25] Nicklaus01 commented on #813
@morevnaproject, I am sorry for not mentioning my suggested improvement. Thank you for pointing it out. I have made the necessary changes in my request itself.
Thank You.

[2019-04-15 18:12] AnishGG commented on #794
@morevnaproject, Build is still failing. I am not sure if the previous error is fixed.
Please have a look at it whenever you got time.
terminal output([link](https://gist.github.com/AnishGG/20801701a9eb8cf61cadd1fdd0d032fd))
config.log([link](https://gist.github.com/AnishGG/7b0d1c1c9e2f157506cb01b57f3810a4))

[2019-04-16 05:59] morevnaproject commented on #794
This is another problem. ^__^ Please give me an output of:

[code]

Also, according to https://github.com/Homebrew/legacy-homebrew/issues/32791#issuecomment-57528641 executing this might fix the issue:

[code]

[2019-04-16 14:46] ankit-kumar-dwivedi commented on #735
@morevnaproject Please see my previous comment.
Should I proceed with anti-aliasing thing?

While you have a look at this I am working on the input dialog box for the time being.

PS: Will be regular from today. All submissions done pheww!!

[2019-04-16 15:44] AnishGG commented on #794
Here are the asked outputs.

<pre><code>libtool: stable 2.4.6 (bottled)
Generic library support script
https://www.gnu.org/software/libtool/
/usr/local/Cellar/libtool/2.4.6_1 (71 files, 3.7MB) *
  Poured from bottle on 2019-03-25 at 01:21:16
From: https://github.com/Homebrew/homebrew-core/blob/master/Formula/libtool.rb
==> Caveats
In order to prevent conflicts with Apple's own libtool we have prep

[2019-04-16 15:47] morevnaproject commented on #794
Okay, please give me an output for one more command:

[code]

[2019-04-16 15:50] AnishGG commented on #794
Here it is:

`libltdl.7.dylib libltdl.a       libltdl.dylib`

[2019-04-16 15:56] morevnaproject commented on #794
Pushed one more fix - d8e465235e2f0dac913acafaf941e92c5b2c2aa0. Please test again. ^__^

[2019-04-16 16:03] #812 closed

[2019-04-16 16:49] AnishGG commented on #794
@morevnaproject, So I tested with the new commit. I guess this error is fixed :slightly_smiling_face:, but something related to this error has poped up.
I have updated the config.log([link](https://gist.github.com/AnishGG/7b0d1c1c9e2f157506cb01b57f3810a4)) and terminal output([link](https://gist.github.com/AnishGG/20801701a9eb8cf61cadd1fdd0d032fd)).
Please have a look whenever you have time.
Thank

[2019-04-16 16:56] AnishGG commented on #794
This error seems to be related to #ucbrise/clipper/issues/300 and I guess this([link](https://github.com/ucbrise/clipper/issues/300#issuecomment-391031197)) might be a fix to it.
Hope this helps ^_^

[2019-04-16 17:02] maitreyi0505 commented on #775
Smooth move tool

[2019-04-16 17:05] morevnaproject commented on #794
There is something totally wrong here - I still see traces of clang.

Okay, let's try something different.

Can you install brew's llvm package on this OSX system? Using this command:
[code]

After that, please try to remove **"~/Repos/anish/synfig/_production/"**:

[code]

...and then run build script (without **"CXX=/usr/local/bin/g++-8"** prefix):

[code]

[2019-04-16 17:19] maitreyi0505 commented on #776
Yes I was also skeptical about the similarity! So just confirming- Pencil for draw tool and ink-pen for sketch tool?

[2019-04-17 08:25] Domarius opened #815 "Some custom fonts use wrong glyphs"
**Synfig version & platform**:
SynfigStudio-1.3.11-testing-19.02.09-linux64-9583a.appimage

**Issue description**:

- Make a new project, place the attached font "ARCO.ttf" in the same folder.
[ARCO.ttf.tar.gz](https://github.com/synfig/synfig/files/3088549/ARCO.ttf.tar.gz)
- Create a new text object on the stage, set the test to something like "Test text".
- In the object properties, change the "

[2019-04-17 15:29] AnishGG commented on #794
Successful

Done

Build fails with `clang: error: unsupported option '-fopenmp'`.  I guess we faced this same issue before using `CXX=/usr/local/bin/g++-8` command also.
Anyways here are the updated config.log([link](https://gist.github.com/AnishGG/7b0d1c1c9e2f157506cb01b57f3810a4)) and terminal output([link](https://gist.github.com/AnishGG/20801701a9eb8cf61cadd1fdd0d032fd)).
Thanks for helping!

[2019-04-18 15:49] BobSynfig commented on #815
This ttf file is surely bugging, using other .ttf files it works.
I tried to download it from https://www.dafont.com/arco.font to see if it was your copy which was bugged but I faced the same problem.
Note that the included "ARCO for OSX.otf" works perfectly ;)

[2019-04-18 17:34] yshkp commented on #762
@morevnaproject I tried to implement as per the way suggested but an error of segmentation fault is occurring.
I created the iterator to iterate through the children of a `LayerParamTreeStore` model and thus counting its iteration.

[2019-04-19 09:22] #730 closed

[2019-04-19 09:23] morevnaproject commented on #730
Fixed now.

[2019-04-19 10:10] morevnaproject commented on #793
Fixed by @blackwarthog in 8093129d59aafab971e6592d569ccdf1900c62ad

[2019-04-19 10:10] #793 closed

[2019-04-19 10:10] morevnaproject commented on #714
The issue with skeleton deformation is fixed by @blackwarthog in 8093129d59aafab971e6592d569ccdf1900c62ad

[2019-04-19 17:12] ankit-kumar-dwivedi commented on #773
Added a PR please review when you have time [^_^]
@morevnaproject

[2019-04-20 03:40] Domarius commented on #815
Ohh, that's interesting!  Yes I did notice other TTF files are fine, I just figured this one had something particular about it that needed to be accounted for.  I'll just use the OSX version for now!

[2019-04-20 05:08] yshkp commented on #762
@morevnaproject Please check mail when you get time. ^__^

[2019-04-22 16:01] morevnaproject commented on #794
Sorry, for not being active with this issue. I am considering to fins Mojave instance and try to build Synfig there myself. ^__^"

In the meantime, I have found this article - https://iscinumpy.gitlab.io/post/omp-on-high-sierra/

So, can you please run last command in the following way:

[code]

Does this changes anything?

[2019-04-23 08:11] Domarius commented on #815
I guess we can close this, the creator of the font file did mention that a separate version had to be created for OSX, so perhaps it's a strange way they created the TTF.

[2019-04-23 08:11] #815 closed

[2019-04-23 09:39] ankit-kumar-dwivedi opened #819 "Crash when importing .wav file"
**Synfig version & platform**:
Latest development Build on Linux Mint

**Issue description**:
As I was trying to import [audio.zip](https://github.com/synfig/synfig/files/3106871/audio.zip) synfig crashed with following debug message
[code]
I tried 2-3 times but I get the same output log and crashed synfig

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bo

[2019-04-23 12:51] AnishGG commented on #794
Will post the output as soon as I get the access to the machine.

[2019-04-23 18:13] ankit-kumar-dwivedi commented on #819
Can't say why this issue appeared but after rebooting I see no such issue.
closing it now!

[2019-04-23 18:13] #819 closed

[2019-04-24 07:20] morevnaproject opened #820 "Alpha channel mixed incorrectly in Final rendering mode"
**Synfig version & platform**:
Master branch, commit 8093129d59aafab971e6592d569ccdf1900c62ad

**Issue description**:
Here I have a PNG file -
![123-1a-lips kra](https://user-images.githubusercontent.com/332868/56639633-51367c00-669b-11e9-8911-ee85e7fb3075.png)

Here is how its transparency looks in Krita:
![screenshot_003](https://user-images.githubusercontent.com/332868/56639761-9f4b7f80-669b-11

[2019-04-24 07:22] morevnaproject commented on #820
Mixing same file in Krita works as expected -
![screenshot_006](https://user-images.githubusercontent.com/332868/56640094-5942eb80-669c-11e9-9cf4-86c26406a332.png)

[2019-04-24 09:18] #820 closed

[2019-04-24 18:26] morevnaproject commented on #735
The code you referenced in https://github.com/synfig/synfig/issues/735#issuecomment-483308133 is depends on value of ```m_naaSource``` variable.

The value of ```m_naaSource``` variable is corresponding to "Enable ink recognition" option in Vectorization dialog -
![screenshot_007](https://user-images.githubusercontent.com/332868/56651806-1260f000-66b4-11e9-849d-dd4fc9b5183e.png)

By enabling this

[2019-04-24 18:53] morevnaproject commented on #820
@blackwarthog  Thank you so much!

[2019-04-25 02:00] corbeeresearch commented on #804
Wow! Didn't know they were french. I just thought that they have good implementation of bones and since synfig is planning on improving the bones it would be a nice feature to have. They actually have a commercial competitor called rubberhose if you want to look for more ideas.

[2019-04-25 17:35] morevnaproject opened #821 ""Add" blend method doesn't rendered properly"
**Synfig version & platform**:
1.2.2 and latest baster (commit 70e71983e72ebff09a26a796b93ff9db35a15513).

**Issue description**:
"Add" blend method should crop alpha of top layer according to alpha of bottom layer. See https://wiki.synfig.org/Blend_Method_Parameter#Add

This doesn't happens, see sample file -
[bug.sifz.zip](https://github.com/synfig/synfig/files/3118152/bug.sifz.zip)

![screensho

[2019-04-25 18:32] ankit-kumar-dwivedi commented on #735
@morevnaproject Thank you for explaining it so nicely (^_^)

Okay I assume this is false
for the time being, I am not displaying this option in the input dialog

Have a look at input dialog (image below)
![image](https://user-images.githubusercontent.com/37617951/56759436-93081500-67b6-11e9-8810-8516702aa60f.png)

@morevnaproject does this looks good to you?

[2019-04-26 17:53] ankit-kumar-dwivedi commented on #735
@morevnaproject I have my semester exams from Monday so I won't be available during that period.
I have made the input dialog and also created vectorize option on right click on the bitmap layer.
As this anti aliasing thing I was not sure about so I thought utilizing time and started to work on GUI in the meantime.
So when I'll be back I'll start with polygonize function which takes thickeness and

[2019-04-27 23:31] AnishGG commented on #794
@morevnaproject, It fails to build still. I have updated the corresponding files:
config.log ([link](https://gist.github.com/AnishGG/7b0d1c1c9e2f157506cb01b57f3810a4))
terminal output ([link](https://gist.github.com/AnishGG/20801701a9eb8cf61cadd1fdd0d032fd))

[2019-04-28 04:27] #773 closed

[2019-04-29 15:43] limburgher opened #822 "synfig segfault building synfigstudio"
Synfig 1.2.2
Fedora 30+
make[2]: *** [Makefile:1416: 128x128/synfig_icon.png] Aborted (core dumped)
make[2]: Entering directory '/home/gwyn/fedora/git/synfigstudio/synfigstudio-1.2.2/images'
See: https://bugzilla.redhat.com/show_bug.cgi?id=1676105

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/73489922-synfig-segfault-building-synf

[2019-04-30 05:27] corbeeresearch opened #823 "Will 2D's Flare runtime code benefit Synfig?"
I just found another open source animation app:
https://www.2dimensions.com/about-flare

They offer their runtime codes here:
https://github.com/2d-inc
https://www.2dimensions.com/runtimes

Will their code be helpful to synfig?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/73518180-will-2d-s-flare-runtime-code-benefit-synfig?utm_c

[2019-04-30 06:47] Jose-Moreno commented on #823
@corbeeresearch Unfortunately this is "free", not open-source. It reminds me of Spine, which is meant for modular animation. It does look impressive, but the runtimes (files that carry over to other apps the properties of the animated assets) are what's open-source, the software itself is not, and it's only "free" if you register an account, meaning you have to be online all the time to use it, pl

[2019-05-01 12:15] BobSynfig commented on #822
I updated my Fedora virtual machine to the newly released 30.
I will check asap.

[2019-05-02 04:51] corbeeresearch commented on #823
@Jose-Moreno Oh, that's sad... Oh well, a shame indeed.

[2019-05-03 07:29] martrs commented on #822
There is a bug in synfig::FileSystem::fix_slashes(). The for-loop limit should be fixed.size() instead of filename.size().

[2019-05-03 17:59] limburgher commented on #822
Thank worked, thank you so much!

[2019-05-03 19:52] BobSynfig commented on #822
According the [Bug 1606466](https://bugzilla.redhat.com/show_bug.cgi?id=1606466), it was an issue to create images.
I faced it in the past.
Generally Synfig is already installed on the machine and the "synfig" (cli) command is already available.
We should have set a relative path to the generated binary (what I did on my machine in the past)
Here: `SYNFIG=synfig` in `/synfig-studio/images/Makefile

[2019-05-05 12:51] mikecohen12 commented on #763
Would it also be okay to request the combining of layers with properties in the the timeline like blender's Dope Sheet Summary?
Most animation softwares display layers and properties on the timeline. This makes Synfig more familiar.

[2019-05-05 13:02] corbeeresearch commented on #272
#799

[2019-05-05 13:03] corbeeresearch commented on #272
#799

[2019-05-05 13:08] corbeeresearch commented on #272
@caryoscelus Is this issue related to this one #799?

[2019-05-06 18:26] ankit-kumar-dwivedi commented on #499
Thank you so much @morevnaproject for this opportunity. I am overwhelmed
and congratulations to @AnishGG 🎉

[2019-05-06 18:32] AnishGG commented on #499
Congratulations to you too @ankit-kumar-dwivedi!! And thank you for this opportunity @morevnaproject!

[2019-05-08 08:11] locness3 commented on #737
Please add extended info. @rockyhandsome1

[2019-05-08 08:13] locness3 opened #825 "Using native filepicker"
**Synfig version & platform**:
Synfig 1.2.2 on macOS 10.11 El Capitan
**Issue description**:
When rendering or opening a file, it uses a Gnome-like filepicker. It should use the system's default file picker for convenience.

[2019-05-08 08:19] locness3 opened #826 "Using command instead of control on macOS"
**Synfig version & platform**:
Synfig 1.2.2 on OS X El Capitan

**Issue description**:

On OS X and macOS, shortcuts like Undo and others use ctrl key instead of command. Would be great to use command for macOS.

[2019-05-09 10:43] cdr8H opened #827 "Virustotal.com detected a trojan @ Win64 1.2.2 build"
**Synfig version & platform**: 1.2.2 Win64

**Issue description**: virustotal.com -> trojan detected at Win64 1.2.2 build

Download from https://downloads.synfig.org/stable/SynfigStudio-1.2.2-18.09.14-win64-286f1.exe ->Ikarus + Trapmine = https://www.virustotal.com/gui/file/8976eecc273e3c22c299c0a7c4aced53a1e032acb67b76479cccfd2e472c8515/detection

<bountysource-plugin>

---
Want to back this issu

[2019-05-10 21:25] BobSynfig commented on #827
False positive...
2 "antiviruses" on 61...
It's open-source, the toolchain script (docker image) is available...
You can compile yourself, or... change for a real OS ;)

[2019-05-13 15:47] morevnaproject commented on #499
Congratulations to @ankit-kumar-dwivedi  and @AnishGG! Welcome to the project. ^__^

[2019-05-13 17:15] morevnaproject commented on #735
Right. ^__^

About the input dialog: I suggest to keep all options horizontally, like this:

![screenshot_003](https://user-images.githubusercontent.com/332868/57640661-4d808000-75dd-11e9-83f9-152633842d5e.png)

(Hint: I have used Glade3 for making a quick UI mockup ^__^).

[2019-05-13 17:49] morevnaproject commented on #827
Hi @cdr8H! Please check this article in our knowledge base - https://desk.zoho.com/portal/morevnaproject/kb/articles/synfig-studio-installer-reported-as-malicious-file-by-virustotal-com

We have reported this issue to Ikarus and Trapmine developers.
Waiting for their response. ^__^

Relevant links:
- Ikarus contact email for false-positives taken from https://www.opswat.com/blog/what-do-i-do-if-en

[2019-05-15 07:44] morevnaproject opened #828 "Linear interpolation for Integer parameter is not really linear"
**Synfig version & platform**:
Latest development version, master branch, commit 3234bc04e6441f843e79f832923448a7a8d09edc
(probably stable version affected too)

**Issue description**:
I have created a Star Layer.
It has parameter called "Points", which is an integer value type.
I have animated this parameter to change from 5 to 13 and set interpolation to Linear.
Then I looked at Graphs panel and

[2019-05-15 07:44] morevnaproject commented on #828
Ping @blackwarthog

[2019-05-15 07:55] morevnaproject opened #829 "Sound doesn't play when rendering is done"
**Synfig version & platform**:
Latest development build, commit 3234bc04e6441f843e79f832923448a7a8d09edc

**Issue description**:
As per #648, when rendering is done the chime sound should be playing.
This only happens when you render for the first time.

Steps to reproduce:
1. Start Synfig.
2. Render file - sound plays after completion.
3. Render file again - no sound plays after completion.

<bou

[2019-05-15 07:55] morevnaproject commented on #829
Ping @BobSynfig ^__^

[2019-05-15 08:09] morevnaproject opened #830 "Automatic assigment of extension when rendering gets messed up after saving"
**Synfig version & platform**:
Latest development build - 3234bc04e6441f843e79f832923448a7a8d09edc

**Issue description**:
As per #627: when user chooses rendering target. Synfig should automatically change extension for output filename.
But the extension gets messed after user saves Synfig document.

Steps to reproduce:

1. Open Synfig and create new empty file. Save the file somewhere.
2. Choose

[2019-05-15 08:10] morevnaproject commented on #830
Ping @ankit-kumar-dwivedi ^__^

[2019-05-15 08:43] morevnaproject opened #831 "Text layer reduces quality for layers below"
**Synfig version & platform**:
Latest master - commit 3234bc04e6441f843e79f832923448a7a8d09edc

**Issue description**:
Every new instance of Text Layer reduces quality of layers below.

When you have a stack of many Text Layers, it is visually represents quality degradation.
See sample file -
[text-layer-example.zip](https://github.com/synfig/synfig/files/3181682/text-layer-example.zip)

![screens

[2019-05-15 13:44] ankit-kumar-dwivedi commented on #830
Will be back on development after 17 ! Finally exams are going to end!
Saving the extension state at the time of saving look good at first sight. Well look into it further :-)

[2019-05-15 14:47] morevnaproject commented on #830
Got it. Good luck with the exams! ^__^

[2019-05-15 16:07] morevnaproject commented on #827
Got a reply from Ikarus team:

[code]

The email to Trapmine returned with an error saying "failed to deliver for this mailbox". I have re-sent same email to their general info address (found at https://trapmine.com/company/contact-us/).

[2019-05-15 16:24] morevnaproject commented on #794
Hi! I checked the terminal output (https://gist.github.com/AnishGG/20801701a9eb8cf61cadd1fdd0d032fd) and it looks truncated. Am I missing something again? ^__^

[2019-05-16 07:12] AnishGG commented on #794
I guess, I missed something while copying. Will update this file and ping here.

[2019-05-16 18:12] BobSynfig commented on #829
I recompiled my branch (using SDL2) to be sure, everything was fine.
It seems it is a consequence of the commit "remove SDL, use synfig::SoundProcessor instead" https://github.com/synfig/synfig/commit/32d01dd21605f024e96f6e9094597e075750935f
Probably a failing reinitialization of the position in the sample before replay in synfig-studio/src/gui/render.cpp (bottom of the commit page)

[2019-05-17 16:28] ankit-kumar-dwivedi commented on #735
Okay

Great! I'll try my hands on Glade3. This is really going make the task easy! Thanks [^_^]

[2019-05-18 11:09] morevnaproject commented on #780
Hi @maitreyi0505! Do you plan to continue working on this?

[2019-05-18 11:10] morevnaproject commented on #762
Hi @yshkp  ! Do you plan to continue working on this?

[2019-05-18 11:11] morevnaproject commented on #744
Hi @rohitsanjay ! Do you plan to continue working on this?

[2019-05-18 11:11] morevnaproject commented on #262
Hi @ashutoshjv661 ! Do you plan to continue working on this?

[2019-05-18 11:48] ashutoshjv661 commented on #262
Sorry . I can't  work on this issue.  You can assign it to someone else .

[2019-05-18 14:13] ankit-kumar-dwivedi commented on #830
@morevnaproject can you tell me what is the expected behavior after

now when we Choose "File" -> "Render" from the menu again what should actually be there?

Also according to my understanding saving the file somehow reset the target to .avi and the target was selected as png this brings us to the current situation!

I am thinking to tackle this as follow:
[code]
Your views on this? (^_^)

[2019-05-18 16:46] ankit-kumar-dwivedi commented on #735
@morevnaproject I saw there are .anjuta folders do you use anjuta IDE?

[2019-05-19 06:21] ankit-kumar-dwivedi commented on #735
@morevnaproject is there a way I could show/hide GTK elements when I change the mode from
"Centerline" -> "Outline". I tried searching but could not find anything relevant.

[2019-05-19 15:18] morevnaproject commented on #735
We tried to use it a long time a go. But I end up with NetBeans - https://forums.synfig.org/t/google-summer-of-code-2019/9487/29?u=konstantindmitriev

[2019-05-19 15:19] morevnaproject commented on #735
"Centerline" -> "Outline". I tried searching but could not find anything relevant.
I am thinking to create two grid layout and using widget_show() and widget_hide() to show and hide them. Is there any better way?

Yes, you can use `Gtk::Widget::hide()` on your container (Gtk::Grid, Gtk::VBox, or similar) - https://developer.gnome.org/gtkmm/stable/classGtk_1_1Widget.html#a285c1775842292ae4bc6d074aa

[2019-05-19 15:35] morevnaproject commented on #830
The extension should be corresponding to selected target.

This will work, as a workaround. But it's better to search for the real case why this happens. ^__^

In our situation we can see the code is inserting ".avi" at the end of filename.
So, you can start by searching ".avi" string in "synfig-studio" directory. This can give you some clues.

[code]

[2019-05-19 15:36] morevnaproject commented on #262
Okay, thanks for letting me know! ^__^

[2019-05-19 15:50] morevnaproject commented on #829
@BobSynfig Oh, thanks for looking at this!

@blackwarthog any ideas? ^__^

[2019-05-19 16:15] ankit-kumar-dwivedi commented on #735
Yes, I have gone through the links. I even tried using gtk::notebook and hiding the tab but it was not a good idea. Looking forward to completing the dialog by tomorrow (^_^)

[2019-05-20 13:38] ankit-kumar-dwivedi commented on #735
@morevnaproject I am getting the following error

I am trying to do what is done here
https://github.com/synfig/synfig/blob/3234bc04e6441f843e79f832923448a7a8d09edc/synfig-studio/src/gui/canvasview.cpp#L1447-L1448

So I wrote
[code]
in instance.cpp
I can see from error lines there is some reference error due to const but I did not use const and I did same as done https://github.com/synfig/synfig/b

[2019-05-20 15:05] rohitsanjay commented on #744
@morevnaproject
Since it was part of issue #666, I don't think I will be able to do this.

[2019-05-21 07:09] ankit-kumar-dwivedi commented on #735
@morevnaproject The dialog is complete now but I can't trigger it actually due to the error I mentioned above so I placed it in the render.cpp for testing.
PS: will left allign the switch toggle. Are there any other adjustments?
![Screenshot from 2019-05-21 12-32-03](https://user-images.githubusercontent.com/37617951/58075397-43eead80-7bc5-11e9-9354-8dc94335c35c.png)
![Screenshot from 2019-05-21 1

[2019-05-21 15:16] ankit-kumar-dwivedi commented on #830
@morevnaproject after we click "save" then save_as(), is called which contain the following line
https://github.com/synfig/synfig/blob/ecdee91a6c1795edf4b5b99a524b1b491090808e/synfig-studio/src/gui/instance.cpp#L291
this line responsible for extension mismatch.

This is calling set_entry_filename() which is appending the filename with .avi extension
So each time **we save a file the set_entry_file

[2019-05-21 16:38] morevnaproject commented on #744
Okay, thanks for letting me know!

[2019-05-21 16:44] morevnaproject commented on #830
Good catch! ^__^

This is the right way to go!

I also think, it is possible to merge `set_entry_filename()` with `on_comboboxtext_target_changed()` function - they actually do the same thing. ^__^

[2019-05-21 16:52] morevnaproject commented on #813
Hi @Nicklaus01 ! Do you plan to continue working on this?

[2019-05-21 19:36] ankit-kumar-dwivedi commented on #830
working on this

[2019-05-22 03:14] Nicklaus01 commented on #813
@morevnaproject, I am stuck at some code. Explaining the problem here would make it unnecessary lengthy. Can someone provide an email address, to discuss code-related problems, specially gtkmm and software-code related?

[2019-05-22 05:13] ankit-kumar-dwivedi commented on #813
@Nicklaus01 you can contact Konstantin via https://www.synfig.org/contact/ however I'll recommend you post it on Synfig Forum https://forums.synfig.org/c/development. You are free to tag me on forum I'll try to help you :-)

[2019-05-22 06:22] morevnaproject commented on #813
The best is to have public discussion on forums, as there are more than one person to help. And others can learn too from discussion outcome. ^__^

[2019-05-22 09:27] Nicklaus01 commented on #813
Ok, Great.  and Thanks. It might take me a while to post on forum.

[2019-05-23 12:43] ankit-kumar-dwivedi commented on #735
https://github.com/ankit-kumar-dwivedi/synfig/tree/vectorization
@morevnaproject please have a look

[2019-05-24 15:12] morevnaproject commented on #735
In your code the `vectorizerpopup` is treated as `const` because of this:

![screenshot_001](https://user-images.githubusercontent.com/332868/58337511-242ee200-7e70-11e9-92f0-ceff944e339a.png)

The `Instance::add_special_layer_actions_to_menu()` function is declared as `const`, so it forbids to change any component of `Instance` class.
The  `vectorizerpopup` is declared in `Instance` class, so it

[2019-05-24 15:24] ankit-kumar-dwivedi commented on #735
Now I know why it was saying conversion not possible!

Okay, @morevnaproject thank you @blackwarthog I am doing this currently will update you ASAP.

[2019-05-24 18:37] ankit-kumar-dwivedi commented on #735
![Screenshot from 2019-05-25 00-03-26](https://user-images.githubusercontent.com/37617951/58349419-dc648680-7e80-11e9-8e39-a163b1edab4f.png)
@morevnaproject This is the work so far :)
- left aligned toggle switch
- right aligned labels
- 'convert to vector' now open the vectorizerpopup

[2019-05-25 14:14] morevnaproject commented on #830
@ankit-kumar-dwivedi Thank you for PR!
I tested it and found that I was wrong when suggested to merge `set_entry_filename()` with `on_comboboxtext_target_changed()`.

Let me describe what's wrong with behavior after applying PR #830:

1. Open Synfig, create new file and save it as `/tmp/file.sifz`
2. Choose `File - Render`. You will see the `Filename` text is set to `/tmp/file.avi`
3. Change value

[2019-05-25 14:16] morevnaproject commented on #830
@ankit-kumar-dwivedi Thank you for PR!
I tested it and found that I was wrong when suggested to merge `set_entry_filename()` with `on_comboboxtext_target_changed()`.

Let me describe what's wrong with behavior after applying PR #832:

1. Open Synfig, create new file and save it as `/tmp/file.sifz`
2. Choose `File - Render`. You will see the `Filename` text is set to `/tmp/file.avi`
3. Change value

[2019-05-25 14:21] morevnaproject commented on #830
As a solution we can call `on_comboboxtext_target_changed()` at the end of `set_entry_filename()`.

[2019-05-25 14:30] ankit-kumar-dwivedi commented on #830
Okay @morevnaproject will fix the PR ASAP!

[2019-05-25 14:41] morevnaproject commented on #735
Looks good!

Just one thing: on the screenshot I can see labels are left-aligned, instead of right-aligned. ^__^

[2019-05-25 14:51] ankit-kumar-dwivedi commented on #735
Will fix that ^_^
I think I used  ALIGN_START should use ALIGN_END

On Sat, May 25, 2019, 8:11 PM Konstantin Dmitriev <notifications@github.com>
wrote:

[2019-05-25 15:18] morevnaproject opened #833 "[Lottie exporter] Generate a simple HTML file together with JSON"
Currently, Lottie Exporter (#756) generates a plain JSON file, which is ready to insert into any Lottie player (HTML, Android, etc.).

I suggest to generate a simple HTML file to accompany JSON file, which will allow end user to easily playback animation in a web browser.

Sample HTML file code:
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bounty

[2019-05-25 15:30] morevnaproject commented on #499
So, the coding period is starting next week!

@ankit-kumar-dwivedi @AnishGG every week I will need a short weekly summary from you.

It shouldn't be a long report, just a quick summary answering those questions:
*  How was the last week? What did you accomplish?
* What is the top thing slowing you down?
* What do you want to have done by the end of next week?

I can see @ankit-kumar-dwivedi is alr

[2019-05-25 15:42] morevnaproject commented on #822
Thanks for reporting! If I understand correctly, we can fix this by using `sudo` instead of `su` in build script.

Hmm... you right, there is one commit different:

![screenshot_002](https://user-images.githubusercontent.com/332868/58371745-32e3ca80-7f3e-11e9-9b53-22d3e4f380f0.png)

@BobSynfig Can you please elaborate about circumstances which made you discover that?

Or, better is to get done wit

[2019-05-25 16:01] #822 closed

[2019-05-25 16:05] morevnaproject commented on #822
Fixed in dd056a1b300cb0256a6df25238d5822ae00651de

[2019-05-25 16:26] #830 closed

[2019-05-25 16:28] AnishGG commented on #499
Will start working on the report on the Synfig forums it selves
Thank you!

[2019-05-25 21:17] aghili371 opened #834 "use as api in c#"
i want to know it possible to use synfig like engine to develop animation dynamically by c#.net?

i want to create a video by c#.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/74648289-use-as-api-in-c?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2019-05-25 23:16] Jose-Moreno commented on #834
You'll probably have to first implement C++ bindings for C#, then research / use the API that interfaces with Synfig.

I understand that there's already a way to interface with Synfig using Python for the so called "[plugins system](https://wiki.synfig.org/Doc:Plugins)", which allows you to create Python scripts that manipulate the SIFZ file (which is an xml / text file that organizes the multiple

[2019-05-26 03:39] morevnaproject commented on #834
We actually prefer to have Python bindings first. ^__^

What we have now for Python is actually a "quick hack" to allow quickly invoke Python scripts to parse contents of Synfig files.

In any case, I think this discussion is more suitable to take place on forums, rather than GitHub's issue tracker ^__^ - https://forums.synfig.org/

[2019-05-26 03:39] #834 closed

[2019-05-26 04:58] BobSynfig commented on #822
For root password in Fedora: https://wiki.synfig.org/index.php?title=Dev:Build_Instructions&diff=22074&oldid=21664

For the commits, they use stable branch, I compared with the tag 1.2.2

For the problem of compilation/images in 1.2.2 (and before), I "discovered" it when I was working from brand new installs of Fedora in Virtualbox.
Synfig needs to be installed first in order to build images.
If y

[2019-05-26 08:28] AnishGG commented on #833
@morevnaproject, The commit https://github.com/synfig/synfig/pull/756/commits/2d6e70a8ca55adad4a06448efd2bad5ebad7af90 closes this issue.
Please have a look. ^_^

[2019-05-27 16:06] ice0 commented on #833
Hi, guys!
@AnishGG why not just use triple-quoted string for html? It will be more readable.

[2019-05-27 16:14] AnishGG commented on #833
@ice0, Thank you for the suggestion. I will change it to triple-quoted string then!

[2019-05-27 17:00] ankit-kumar-dwivedi commented on #735
@morevnaproject is there any synfig equivalent of the following?
- toonz store the pixel as an array of tpixel which is [used in these functions](https://github.com/opentoonz/opentoonz/blob/63544433fe2a3ea144a8312ca4ad1a3406deea03/toonz/sources/toonzlib/tcenterlinepolygonizer.cpp#L126-#L160)
- should I use [mutex lock](https://github.com/opentoonz/opentoonz/blob/63544433fe2a3ea144a8312ca4ad1a3406d

[2019-05-29 22:57] BobSynfig commented on #827
I just returned "by curiosity" on the link given on the top.
The status didn't change.
But there is a "refresh" button on the right.
Pushing it rescans the file using the current signatures of antiviruses...
Guess what?
0/68 :innocent:
"Issue solved" ^__^

[2019-05-30 07:59] ice0 commented on #833
@AnishGG looks good for me.

Few comments:
1. I think you don't need to escape single-quotes here (https://github.com/AnishGG/synfig/blob/d6b19424d2278e22f3a6f378ff7b0564431974da/synfig-studio/plugins/lottie-exporter/lottie-exporter.py#L72)
2. You can also use the format function to insert arguments inside. It will be better if you want to add more parameters to the code in the future.
An example

[2019-05-30 08:07] ice0 commented on #827
Awesome!

[2019-05-30 08:07] #827 closed

[2019-05-31 03:53] AnishGG commented on #833
@ice0 I have taken care of points: 1, 2, 4 and 5. Will be implementing 3rd point soon!
Thanks

[2019-05-31 13:07] ankit-kumar-dwivedi commented on #735
@ice0 seems @morevnaproject is busy right now can you help me with this?

[2019-05-31 17:48] blackwarthog commented on #735
if you need to read pixels from Layer_Bitmap use following example:

[code]

[2019-06-01 03:44] ankit-kumar-dwivedi commented on #735
Thanks, @blackwarthog for the explanation. toonz use RGBM color model while synfig uses RGBA so instead of
[code]
[code link](https://github.com/opentoonz/opentoonz/blob/63544433fe2a3ea144a8312ca4ad1a3406deea03/toonz/sources/toonzlib/tcenterlinepolygonizer.cpp#L133-L136)

I am thinking to use [Luminance](https://docs.gimp.org/2.10/en/gimp-filter-desaturate.html) which is most accurate according to

[2019-06-01 04:40] blackwarthog commented on #735
I think you can use M instead of A, they look like synonims.

GIMP luminance is a more proper way. Synfig also has implementation of this function see methods co synfig::Color class.

[2019-06-01 07:08] morevnaproject commented on #735
Thank you @blackwarthog for helping out! ^__^

[2019-06-01 09:01] morevnaproject commented on #827
@BobSynfig Thank you for taking care on checking! ^__^

[2019-06-01 14:41] morevnaproject opened #835 "Fix typos in .po files"
As per changes in #824 we need to update .po files.

@luzpaz

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/74945450-fix-typos-in-po-files?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracke

[2019-06-01 14:47] morevnaproject commented on #835
/remind me about this in 3 days

[2019-06-02 09:12] Svarov-RZM commented on #314
@morevnaproject Can I ask what is the current state of this issue? It seems to be solved... or am I wrong?
I mean there's an outline issue but it's a general bug, not a performance issue.

So, what's holding this one from closing?

[2019-06-03 06:11] #835 closed

[2019-06-03 18:04] ankit-kumar-dwivedi commented on #735
@morevnaproject what is the "context" parameter in

https://github.com/synfig/synfig/blob/55f5996730d7aacb1d2abf8ecee5c5fa5a5ca74a/synfig-core/src/synfig/layers/layer_bitmap.h#L87

I am willing to use this if this is not more complicated.
Or another way I can use the pointer method mentioned above traverse whole layer_bitmap(**ras**) and store black/white in a 2D hashmap and get blockorwhite for t

[2019-06-04 03:43] blackwarthog commented on #735
Context points to a list of under-layers and also contains a some description of current rendering process.
It's a modified std::vector::iterator - iterator of synfig::Canvas (modified std::vector).
Imitation of a context outside the rendering process without real canvas is a hack.
And it's unstable because most layers expexted that canvas of context will be same that the canvas of layer.
To simul

[2019-06-04 04:04] ankit-kumar-dwivedi commented on #735
Okay I'll better use the pointer method

Got it ^_^

[2019-06-04 08:41] ankit-kumar-dwivedi commented on #735
@blackwarthog I am  getting  **error: ‘token’ is not a member of ‘synfig::rendering::SurfaceResource::LockRead<synfig::Surface>::Type {aka synfig::Surface}’**
[code]
I used the same code snippet as above comment
[code]

[2019-06-04 13:50] morevnaproject commented on #735
More information about this here - https://synfig-docs-dev.readthedocs.io/en/latest/common/structure.html#context-and-blend-methods

[2019-06-04 13:57] morevnaproject commented on #735
Hi! When you have compilation problems like this, please make sure to push your current code to "vectorization" branch. That way we can look at the code and better understand the problem. ^__^

[2019-06-04 14:18] ankit-kumar-dwivedi commented on #735
Okay please have a look [here](https://github.com/ankit-kumar-dwivedi/synfig/commit/71b972e2469a871a1202c1f41497d35e093aea43). I was trying to see how it works

@morevnaproject I have completed the polygonizer file you can have at that also
https://github.com/ankit-kumar-dwivedi/synfig/blob/vectorization/synfig-studio/src/gui/vectorizer/centerlinepolygonizer.cpp

PS: Only pixel related functions a

[2019-06-04 14:36] #597 closed

[2019-06-04 15:11] #498 closed

[2019-06-04 16:00] morevnaproject commented on #314
@Svarov-RZM The optimizations are applied for Region and Outline layers. But Advanced Outline layer is not optimized yet. @blackwarthog  wants to do some optimizations related with segments of advanced outline.

[2019-06-04 17:58] blackwarthog commented on #735
Oops, my bad. Try this code:

[code]

--
Ivan Mahonin <bh@icystar.com>

[2019-06-05 09:16] ankit-kumar-dwivedi commented on #735
@blackwarthog this didn't worked either
[code]

[2019-06-05 10:33] ankit-kumar-dwivedi commented on #735
The output is in the form of **float value**(%)
So for pixel[5][2] Using the above method I got R :0.965979  G :0.974433  B :0.932568  A:1 or
RGB [246 ,248 ,238 ] **after rounding off**

I thought to verify the output and openCV gives
Pixel(5,2) in RGB : [252 253 248]

 @morevnaproject  I am yet to verify the same from opentoonz but is this variation acceptable?

[2019-06-05 10:42] AnishGG commented on #735
I think I might be able to help here. Synfig uses Gamma correction for colors. You can read this link for more information: https://github.com/synfig/synfig/pull/756#issuecomment-471477448
Hence RGB values will change to:
`GAMMA = 2.2`
R**(1/GAMMA), G**(1/GAMMA), b**(1/GAMMA)
When you feed these values to openCV, you will ge RGB as: [252, 253, 248].

[2019-06-05 14:24] morevnaproject commented on #735
Exactly! @AnishGG thanks for help! ^__^

[2019-06-05 15:56] blackwarthog commented on #735
Ok.. let's try again:

[code]

Replace Lock by LockRead and add include synfig/rendering/software/surfacesw.h

[2019-06-05 16:00] blackwarthog commented on #735
you already done... okaaaay...  :)

[2019-06-05 16:01] ankit-kumar-dwivedi commented on #735
Yes I did the same thing and it worked fine and thanks to @AnishGG
But I still observe a variation of +- 1 in the RGB values. That shouldn't make much difference. Looking forward to make the polygonization work.
@morevnaproject I see in the building instructions of opentoonz there is "stuff" mentioned but I don't see any such folder!

[2019-06-05 16:11] morevnaproject commented on #735
It is here - https://github.com/opentoonz/opentoonz/tree/master/stuff

[2019-06-05 16:48] ankit-kumar-dwivedi commented on #735
Ah I saw that !
I think you should change this line https://github.com/morevnaproject/opentoonz/blob/morevna/doc/how_to_build_linux.md#cloning-the-git-tree to **morevna opentoonz** from original opentoonz it will make people like me realize that this is for morevna edition.

[2019-06-06 07:12] morevnaproject commented on #833
@AnishGG Thank you, it is much easier to test animation export now!

Just a small suggestion: in HTML file it would be better to use relative path (i.e. filename only) instead of full path. That way the HTML + JSON file can be easily moved from one location to another (or transferred to other PC).

@ice0 I suggest to make point 3 as separate issue. ^__^

[2019-06-06 07:51] AnishGG commented on #833
Fixed. :slightly_smiling_face:

[2019-06-06 09:09] ankit-kumar-dwivedi commented on #735
@morevnaproject @blackwarthog can you help me with this `undefined reference error`
[code]

The function prototype

 is defined in [polygoniozerclasses.h](https://github.com/ankit-kumar-dwivedi/synfig/blob/687207fca403613c52330539230f71e7efe14861/synfig-studio/src/gui/vectorizer/polygonizerclasses.h#L137)
And it is included in [centerlinepolygonizer.cpp](https://github.com/ankit-kumar-dwivedi/synf

[2019-06-06 12:25] blackwarthog commented on #735
I think you need to include header instead of cpp in file centerlinevectorizer.cpp at line 35:

#include "centerlinepolygonizer.cpp" // replace to h

also some note:

centerlinevectorizer.cpp:L61

you pass layer by reference to handle, may be you need 'const':
    const etl::handle<Layer_Bitmap> &image

[2019-06-06 13:34] ankit-kumar-dwivedi commented on #735
I did but the error still persist :disappointed:

[2019-06-07 12:11] ankit-kumar-dwivedi commented on #735
@blackwarthog @morevnaproject I would appreciate any pointer this thing made me stuck since yesterday.
**I am getting the following new warning after changing headers**

[code]

The function is [called here](https://github.com/ankit-kumar-dwivedi/synfig/blob/e555494599f4041768640cee5595476d235e1be1/synfig-studio/src/gui/dialogs/vectorizersettings.cpp#L311) and defined [here](https://github.com/ank

[2019-06-07 12:49] morevnaproject commented on #735
@ankit-kumar-dwivedi Hi! I have tested your latest code (commit id e555494599f4041768640cee5595476d235e1be1) and got a different error. It happens on linking stage:

[code]

[2019-06-07 12:58] morevnaproject commented on #735
@ankit-kumar-dwivedi Please try to make full rebuild of synfig-studio - remove `_debug` directories, then run build script - `./2-build-debug.sh studio`.

[2019-06-07 13:05] ankit-kumar-dwivedi commented on #735
@morevnaproject I got the same error as yours

[2019-06-07 13:32] morevnaproject commented on #735
For some reason build system doesn't "see" `synfig-studio/src/gui/vectorizer/centerlinevectorizer.cpp`.
It founds header (.h) file, but doesn't finds implementation (.cpp). That's the problem. I am investigating why...

[2019-06-07 13:47] morevnaproject commented on #735
Found it! Here -

https://github.com/ankit-kumar-dwivedi/synfig/blob/e555494599f4041768640cee5595476d235e1be1/synfig-studio/src/gui/vectorizer/Makefile_insert#L1-L13

On line 6 you define variable `vectorizer_CC` (lowercase letters). And on line 13 you use `VECTORIZER_CC` variable (uppercase).

Please change variable name at line 6 to uppercase. ^__^

[2019-06-07 15:54] ankit-kumar-dwivedi commented on #735
@morevnaproject polygonizer is completed now I added the pixel function. I need to verify the output somehow to check if the results have not deviated.

[2019-06-07 16:30] #833 closed

[2019-06-08 04:27] libreartist commented on #506
Hi, sorry to reply late. The feature is awesome (tried mini-vfx like stuff lately, and it reduced the workaround time)... Thank u :-)

Will publicly share my experiments and theories sooner...

[2019-06-08 15:22] ankit-kumar-dwivedi commented on #735
@morevnaproject this is the image I used as input : https://dummyimage.com/400/0010f0/090a0a.jpg&text=test
I got the following [output](https://pastebin.com/guN7AU0M) from opentoonz and synfig you can see the variation. I am investigating to find the function where the error is present

[2019-06-09 06:00] morevnaproject opened #839 "Documentation for building Synfig on Windows using MSYS"
We need documentation on how to use those scripts - https://github.com/synfig/synfig/tree/master/autobuild/msys2

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/75261012-documentation-for-building-synfig-on-windows-using-msys?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties v

[2019-06-09 14:13] Svarov-RZM commented on #314
Got it. Posted another $15 so it's $250 total.
God, that bountysource site is really buggy...

[2019-06-11 14:17] ankit-kumar-dwivedi commented on #735
@morevnaproject you will be glad to know besides from getting a different output as I mentioned in an above comment the Synfig Polygonizer is working as expected
**I had an intuition that the difference could be due to different RGB values in TRaster(Toonz) and Layer_bitmap(Synfig)
So I fed the RGB values of synfig and the output comes out as follow**
![image](https://user-images.githubusercontent

[2019-06-11 15:36] blackwarthog commented on #735
OpenToonz can store in memory an alpha-premulted rasters. You may try to do alpha multiply in Synfig on copy of raster before polygonize.

[2019-06-11 15:51] ankit-kumar-dwivedi commented on #735
@blackwarthog can you explain more about this please?

a correction here I fed the RGBA from Synfig as RGBM to Toonz

[2019-06-11 16:05] blackwarthog commented on #735
ok. r, g, b, a - are base color values of image.
then alpha premulted values are:
 rp = r*a,
 gp = g*a,
 bp = b*a,
 ap = a (just a)

OpenToonz stores color premulted, in some cases it need to make proper interpolation.

[2019-06-11 17:47] ankit-kumar-dwivedi commented on #735
well @blackwarthog in this case Alpha value is 255 for the test image so using the formula
premultiplied.R = (straight.R * straight.A / 255)
premultiplied.G = (straight.G * straight.A / 255)
premultiplied.B = (straight.B * straight.A / 255)
premultiplied.A = straight.A
will be of no effect and as far I have seen they use premelted alpha when rendering to PNG

[2019-06-12 07:28] morevnaproject commented on #314
Thank you!

[2019-06-12 07:39] morevnaproject commented on #735
Yes, your image doesn't include transparent areas, so there are no effect. The problem of different values is (probably) somewhere else.

In any case, I am absolutely happy to see the result of test you did here! - https://github.com/synfig/synfig/issues/735#issuecomment-500861861 ^__^

[2019-06-12 12:32] ThaFireDragonOfDeath commented on #831
I made some tests to this bug and may found some useful information:
1. This doesn't happen if you change the render mode from "Final" or "Preview" to "Draft"
2. This doesn't happen, if you put the text layer in a single group (this seams to be the best workaround at this moment)

[2019-06-12 23:35] MrTeeXD opened #841 "Quicktime MOV Support"
**Synfig version & platform**:
1.2.2 Stable

**Issue description**:
The Quicktime MOV Format supports RGBA and It would be great if Synfig had this as an option.

[2019-06-14 09:56] morevnaproject opened #843 "Timetrack incorrectly displays areas where Spline vertex is disabled"
**Synfig version & platform**:
Master branch, commit id 22cee5

**Issue description**:
In any Spline we can set enable/disable some points at specific moments of time.
I.e. we can add/remove points during animation dynamically (see tutorial - https://wiki.synfig.org/Doc:Flower_Animation).

Timetrack should display segments where points are off with a black lines pattern.
But it does so incorrectly

[2019-06-14 10:04] morevnaproject commented on #843
The problem is somewhere here - https://github.com/synfig/synfig/blob/435630b9f678e1c6b28203a516e0ee2c669ff032/synfig-studio/src/gui/cellrenderer/cellrenderer_timetrack.cpp#L629-L687

[2019-06-14 11:20] morevnaproject commented on #843
The code was broken during rework of TimeTrack - commit id d96b6a425a1966251fdab547

Here is how previous (working) code was:

https://github.com/synfig/synfig/blob/008ed28b5fffaea1956887179eacefea13f81fc8/synfig-studio/src/gui/cellrenderer/cellrenderer_timetrack.cpp#L682-L754

[2019-06-14 11:52] morevnaproject commented on #843
..and here is a more complex example file -
[insert_item_region-2.sifz.zip](https://github.com/synfig/synfig/files/3290485/insert_item_region-2.sifz.zip)

![screenshot_006](https://user-images.githubusercontent.com/332868/59507512-6a0e2180-8ed5-11e9-8b20-bb52afdc9779.png)

where:
- "0" - point is off
- "1" - point is on
- blue rectangles mark segments that should be indicated by pattern (3 segment

[2019-06-14 12:16] ankit-kumar-dwivedi commented on #735
@morevnaproject Toonz uses a function named `setOverallPartials()` to know the display partial progress as the progress bar animation. Do you want me to keep that function?

[2019-06-14 13:03] morevnaproject commented on #843
Well actually in previous behavior (commit 008ed28) it was displaying pattern only when both ends of segments has "off" values.

[2019-06-14 13:06] #843 closed

[2019-06-14 13:10] morevnaproject commented on #735
It would be nice to have progressbar so user can see how the process is going. But this is not critical at the moment. I suggest to add it after you get vectorization working.

[2019-06-14 13:13] morevnaproject commented on #831
@ThaFireDragonOfDeath Good catch! Thank you for the note. ^__^

[2019-06-15 13:42] ankit-kumar-dwivedi commented on #735
@morevnaproject You will be glad to know this is fixed :)
also, can you or @blackwarthog help me understand what is this `frame` in the following lines of code.
https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/toonzlib/vectorizerparameters.cpp#L234

[2019-06-17 14:18] ankit-kumar-dwivedi commented on #735
@morevnaproject just making sure you have read it :)

[2019-06-17 14:23] ankit-kumar-dwivedi commented on #735
@morevnaproject is there any submission format for the evaluation?

[2019-06-18 09:16] ankit-kumar-dwivedi commented on #735
@morevnaproject I found that `weight` in the line https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/toonz/vectorizerpopup.cpp#L366
is actually frame which is passed to centerlineconfiguration. Is this frame same as the frame in image below??
![FRAME](https://user-images.githubusercontent.com/37617951/59669392-bf00af00-91d7-11e9-8c95-a25f21d238a

[2019-06-19 04:24] morevnaproject commented on #735
@ankit-kumar-dwivedi Hi! Let's take a look at this formula from https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/toonzlib/vectorizerparameters.cpp#L234 -

[code]

The meaning of this formula is to take a value from `[0;1]` segment and find its relative position on another segment `[m_cThicknessRatioFirst; m_cThicknessRatioLast]`.

![FullSizeRe

[2019-06-19 04:48] corbeeresearch opened #846 "Is the godot code salvageable?"
Godot Engine has codes for animation. Would it be able to help Synfig in anyway?
https://github.com/godotengine/godot

https://docs.godotengine.org/en/3.1/getting_started/step_by_step/animations.html
https://www.youtube.com/watch?v=YxEfZQeySGQ

It also has shader and particle systems that might be worth incorporating to synfig
https://www.youtube.com/watch?v=awBfTnmgn7k&list=PLsk-HSGFjnaE4k-X3l6dZ

[2019-06-19 04:53] morevnaproject commented on #735
As I understand from https://google.github.io/gsocguides/mentor/evaluations:
The evaluation guidelines should be provided online by Google at specified times with deadlines.

[2019-06-19 05:14] morevnaproject commented on #735
Examples of the questions that **may** be asked during evaluations - https://developers.google.com/open-source/gsoc/help/evaluations

[2019-06-19 07:46] ankit-kumar-dwivedi commented on #735
Okay @morevnaproject I will be testing the skeletonizer output today and will start working on
Next step - `  organizeGraphs(skeletons, globals);`

Now need to start thinking how to represent the output that is because the steps after `  organizeGraphs(skeletons, globals);` involves **TStroke** and  **TVectorImageP**

[2019-06-19 12:57] morevnaproject commented on #735
https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/toonzlib/vectorizerparameters.cpp#L234

Okay, here is how I understood it. The `frame` variable in this function *is* a frame number from timeline. But it is represented by value from [0; 1] range, where `0` is first frame of all selected frames and `1` is last frame.

![FullSizeRender](https://

[2019-06-19 15:24] WPFilmmaker commented on #846
shader and particle system look really cool!

[2019-06-20 14:35] ThaFireDragonOfDeath commented on #821
@morevnaproject  @blackwarthog

I could take over this.
I've already rewritten some parts of the function in colorblendingfunctions.h.
This is my current state (To compare: [Here](https://github.com/synfig/synfig/blob/dbcff0d792e6ff53fe4daaf8aed5a3ba216669d2/synfig-core/src/synfig/color/colorblendingfunctions.h#L151) is the current state in master):

[code]
Description of my current state:
In my s

[2019-06-21 01:16] corbeeresearch commented on #846
yup! definitely ;)

[2019-06-21 08:42] ankit-kumar-dwivedi commented on #735
As it is inconvenient to keep track of every step and some important comments can be lost which contain steps that are currently not top priority but should be implemented later on.

Hence it is better to keep track from [milestone now](https://github.com/synfig/synfig/milestone/5).

**So let me brief you about the algorithm for centerlinevectorization from Toonz and where I am**

- step-1 If the

[2019-06-21 08:49] ankit-kumar-dwivedi opened #847 "[Vectorization] Step 4 of Centerline Vectorization"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: Step 4 of Centerline Vectorization
- organizeGraphs
The raw skeleton data obtained from StraightSkeletonizer class need to be grouped in joints and sequences before proceeding further.

Track the progress here -> https://github.com/synfig/synfig/milestone/5

<boun

[2019-06-21 08:57] AnishGG opened #848 "Test issue"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

**Issue description**:

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/75852363-test-issue?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bou

[2019-06-21 08:59] ankit-kumar-dwivedi opened #849 "[Vectorization] Step 5 of Centerline Vectorization"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: Step 5 of Centerline Vectorization

Take samples of image colors to associate each sequence to its corresponding palette color

Track the progress here -> https://github.com/synfig/synfig/milestone/5

<bountysource-plugin>

---
Want to back this issue? **[Post a b

[2019-06-21 09:04] AnishGG opened #850 "Test Issue 1"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

**Issue description**:

[2019-06-21 09:05] #850 closed

[2019-06-21 09:17] ankit-kumar-dwivedi commented on #849
Now I would Like to add @blackwarthog @ice0 in the discussion that in the image below I am at the highlighted step
![image](https://user-images.githubusercontent.com/37617951/59912088-f3bc7280-9432-11e9-89f1-186719d751e4.png)

As you can see that further steps involve stroke and color palette which are not present in synfig
So I am thinking to store the RGBA value for single sequence and then use

[2019-06-21 09:25] ankit-kumar-dwivedi opened #851 "[Vectorization] Step 6 of Centerline Vectorization"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: Step 6 of Centerline Vectorization

 Converts each forward or single Sequence of the image in its corresponding Stroke.
**Actually, there are no strokes in synfig so need to do that in an alternative way**

Track the progress here -> https://github.com/synfig/synf

[2019-06-21 09:27] ankit-kumar-dwivedi opened #852 "[Vectorization] Step 7 of Centerline Vectorization"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: Step 7 of Centerline Vectorization

Take samples of image colors to associate each stroke to its corresponding palette color.

Track the progress here -> https://github.com/synfig/synfig/milestone/5

<bountysource-plugin>

---
Want to back this issue? **[Post a bo

[2019-06-21 09:30] ankit-kumar-dwivedi opened #853 "[Vectorization] Step 8 of Centerline Vectorization"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: Step 8 of Centerline Vectorization

~~copy/apply the strokes to an empty vector image and return the vector image after further adjustments~~
In synfig, we have Outline Layer, I will use that to generate the final vector image in form of paste canvas group
 Displa

[2019-06-21 09:32] ankit-kumar-dwivedi opened #854 "[Vectorization] Add progress bar"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: Add a Progress bar so a user can see the partial progress feedback

Track the progress here -> https://github.com/synfig/synfig/milestone/5

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/75853390-v

[2019-06-21 09:34] ankit-kumar-dwivedi opened #855 "[Vectorization] Cancel button should work"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: Make the cancel button work so that each intermediate data(pointer references etc ) are deleted.

Track the progress here -> https://github.com/synfig/synfig/milestone/5

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.boun

[2019-06-21 10:12] AnishGG opened #856 "[Lottie exporter] Add support for animation of change of polygon/star parameter"
### This issue is a part of [Feature request: Add Lottie export format](https://github.com/synfig/synfig/issues/704)
**Issue description**:

In the `Star` Layer, animation of `polygon/star` is not yet supported. Lottie does not directly provide this feature. Need to devise an algorithm which will modify the waypoints in order to provide support to it.
For more info: https://forums.synfig.org/t/gso

[2019-06-21 10:14] AnishGG commented on #856
Waiting for the resolve of #828

[2019-06-21 10:19] AnishGG opened #857 "[Lottie exporter] Logger and Logging information"
### This issue is a part of [Feature request: Add Lottie export format](https://github.com/synfig/synfig/issues/704)
**Issue description**:

As [suggested](https://github.com/synfig/synfig/issues/833#issuecomment-497242403) by @ice0, add logger and logging information to know what layer we can't parse or can't render because it is inactive.

<bountysource-plugin>

---
Want to back this issue? **[P

[2019-06-21 10:27] AnishGG opened #858 "[Lottie exporter] Add animation to addition/deletion of bline points"
### This issue is a part of [Feature request: Add Lottie export format](https://github.com/synfig/synfig/issues/704)
**Issue description**:

Lottie directly does not support animation of `addtion/deletion` of bline points. This needs to be taken care of by devising an algorithm.

Code to refer: https://github.com/synfig/synfig/blob/dbcff0d792e6ff53fe4daaf8aed5a3ba216669d2/synfig-core/src/synfig/va

[2019-06-21 13:46] #848 closed

[2019-06-21 14:00] morevnaproject opened #859 "[Lottie exporter] Add support for "Invert" parameter"
We actually should consider adding support for "Invert" parameter in geometric figures, as this feature seems to be used quite often.

List of layers requiring support for `Invert` parameter:
- [x] Star Layer
- [x] Circle Layer
- [x] Polygon Layer
- [x] Rectangle Layer
- [x] Region Layer
- [x] Outline Layer

I think there is no need to implement support animation for `Invert` parameter.

I am not

[2019-06-21 14:19] AnishGG commented on #859
I tried finding any similar property in lottie during the `Student Application period` for GSoC, but could not find any such property.
I will give it a try again and search in `effects` provided by Lottie.
Any suggestions on how to implement this are most welcome. :slightly_smiling_face:

[2019-06-21 14:28] morevnaproject commented on #859
I strongly suspect this is not supported by Lottie. I think it is possible to construct a polygon that represents an area with a hole. Something like this:

![screenshot_008](https://user-images.githubusercontent.com/332868/59929602-5cbfdc80-946b-11e9-8298-6ecfcd67656b.png)

(Vertices at top should be close together, so the are no space between them. But I left them separated there to keep idea cl

[2019-06-21 14:30] morevnaproject commented on #859
Sample file -
[region with a hole.sifz.zip](https://github.com/synfig/synfig/files/3314848/region.with.a.hole.sifz.zip)

![screenshot_009](https://user-images.githubusercontent.com/332868/59929812-ccce6280-946b-11e9-9cb3-52bbc720f186.png)

[2019-06-21 14:51] AnishGG commented on #859
There is an invert mask property in lottie, but it's working is different than that of Synfig. I will explore it more and get back to you.

Yes, this seems to be a nice suggestion. I will explore this option. But this might require converting all these geometric layers to region layers.

[2019-06-21 15:40] ankit-kumar-dwivedi commented on #847
@morevnaproject The organizegraph is implemented and is working - https://github.com/ankit-kumar-dwivedi/synfig/commits/vectorization
I need to verify if the output is same as in opentoonz

[2019-06-22 14:50] morevnaproject commented on #859
Yes.

[2019-06-22 14:54] morevnaproject opened #860 "Allow to compile Synfig using MSVC/vcpkg"
It would be nice to investigate (and document) how to compile Synfig using MSVC.

The Microsoft vcpkg project  (https://github.com/microsoft/vcpkg) has a big collection of packages (including Gtk3), which can simplify this process.

[2019-06-22 14:59] morevnaproject commented on #839
Done in https://github.com/synfig/synfig-docs-dev/commit/54619e5c3dd679dfaa0e47c5d93763f3df4a0fe4

[2019-06-22 14:59] #839 closed

[2019-06-23 05:08] morevnaproject opened #861 "[MSYS2] Synfig CLI hangs when rendering about_icon.sif"
**Synfig version & platform**:
Master branch, commit id dbcff0d792e6ff53fe4daaf8aed5a3ba216669d2

**Issue description**:
When compiled using MSYS2, Synfig CLI tool fails to render `synfig-studio/images/about_icon.sif` (in synfig source).

Steps to reproduce:

1. Install MSYS2 environment and fetch Synfig sources
2. Install dependencies by running `./1-setup-windows-msys2.sh` from synfig's source d

[2019-06-23 05:56] morevnaproject commented on #703
Well, actually my idea was to setup a CI job, which will automatically re-generate icons (from source) when any icon changed (and commits them back to repository). Yes, this doesn't tracks regressions in code. But for tracking code regressions we have https://github.com/synfig/synfig-tests-regressions.

[2019-06-23 08:22] ankit-kumar-dwivedi opened #862 "[Vectorization] Incorrect Output from skeletonizer"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: Different Output from Synfig Skeletonizer -> [see this](https://forums.synfig.org/t/gsoc19-vectorization-of-bitmaps/9815/11?u=ankit)
After further investigating and after the output is passed to Toonz the output was not desirable this means there is somewhere valu

[2019-06-23 17:39] ankit-kumar-dwivedi commented on #862
https://pastebin.com/pR0drUkr @morevnaproject
The output of synfig and Toonz polygonizer are identical now.
Fixed the error Closing the issue now :)

[2019-06-23 17:39] #862 closed

[2019-06-24 08:22] morevnaproject commented on #862
Awesome! ^__^

[2019-06-24 12:52] ankit-kumar-dwivedi commented on #847
The output of organizeGraphs is correct after fixing skeleton code.
So closing this issue now.

[2019-06-24 12:52] #847 closed

[2019-06-24 13:07] ankit-kumar-dwivedi commented on #849
@morevnaproject
openToonz use PixelCM32 (a 32-bit color map 12+12+8 bits (ink,paint,tone)) to represent the pixel and the function
`  int getTone() const { return m_value & 0xFF; };
`
is used to compare with the threshold while taking color samples in function - > [samplecolor (...)](https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/toonzlib/tc

[2019-06-26 05:27] morevnaproject commented on #849
@ankit-kumar-dwivedi Sorry, I do not understand what (ink,paint,tone) model means. In particular, I do not understand what the difference of ink from paint. ^__^"

Logically "Tone" = "Hue" in HSV color model (https://en.wikipedia.org/wiki/Hue). But my intuition tells me that "Tone" means "Value" (from HSV) here. Is it so?

In any case, `Synfig::Color` object has `get_hue()` function to get Hue(htt

[2019-06-26 06:49] ankit-kumar-dwivedi commented on #849
Actually, I was not able to find where the RGB to C-map conversion is taking place so I thought you might be already knowing it (・_・ヾ
I am trying to find more about it. Currently looking at the code responsible for loading raster images in Opentoonz

[2019-06-27 14:25] morevnaproject commented on #849
@ankit-kumar-dwivedi It looks I figured out what PixelCM32 means. This seems to be pixels from "Toonz Raster Level" (it is not the same as ordinary "Raster Level").

The explanation on how Toonz Raster Level works can be found here - https://morevnaproject.org/2017/03/17/toonz-raster-level/

As you can see, in Toonz Raster Level one image actually contains two "layers" - one for "ink" (lines) and

[2019-06-27 18:02] ankit-kumar-dwivedi commented on #849
@morevnaproject  That is because they converted it to Toonzraster level see 373 and 378
https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/toonzlib/tcenterlinecolors.cpp#L373-L378

But then the imported image has no such property so how do they get converted?

I think so as the function definition says:

And this again leaves me with the questio

[2019-06-28 07:33] morevnaproject commented on #849
It worth to look how conversion from regular bitmap to TRasterCM32P is actually done. Probably this is done via assignment operator, which is possibly defined in TRasterCM32P class.

[2019-06-28 09:45] ankit-kumar-dwivedi commented on #849
@morevnaproject actually there is no assignment operator defined
Let us see what is happening here
`TRasterP &ras` is passed to the function [void calculateSequenceColors(....)](url)
and then inside the function we see `TRasterCM32P cm = ras`
_Now have a look at the image below_

![IMG_20190628_151019](https://user-images.githubusercontent.com/37617951/60333748-74d9b380-99b7-11e9-934b-833cacae8099

[2019-06-28 09:57] ankit-kumar-dwivedi commented on #849
These classes are defined in traster.h just in case if I overlooked any of them
- [TRaster
](https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/include/traster.h#L77)
- [TRasterP](https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/include/traster.h#L63)
- [TRasterT](https://github.com/morevnap

[2019-06-28 10:32] ankit-kumar-dwivedi commented on #849
Here is something interesting I found in pixelevaluator (inside polygonizer)
If the T in TRasterPT<T>
- [if T = TPixelCM32](https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/toonzlib/tcenterlinepolygonizer.cpp#L157)
`getBlackOrWhite(int x, int y) {
  return m_ras->pixels(y)[x].getTone() < m_threshold;
}`
- [if T = TPixel32](https://github.com/m

[2019-06-28 10:43] ankit-kumar-dwivedi commented on #849
Also is there a better way to access the pixels?
currently, this is how I access the pixel data row and column (x,y) from ras
[code]
I am talking about   const int Y = surface.get_h() - y -1

[2019-06-28 13:41] limburgher opened #863 "Sound layer doesn't play."
1.2.2

Steps to Reproduce:
1. Launch synfigstudio
2. Import an audio file (in my case I used ogg file)
3. Play or preview

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/76194137-sound-layer-doesn-t-play?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](http

[2019-06-29 07:59] morevnaproject commented on #849
Good catch! This should work. ^__^

[2019-06-29 16:06] ankit-kumar-dwivedi commented on #849
@morevnaproject I have a doubt in the function -> [firstInkChangePosition(...)
](https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/toonzlib/tcenterlinecolors.cpp#L83)the last line is  ` return TConsts::nap3d; `
and in [Tgeometry.h](https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/include/tg

[2019-06-30 05:32] blackwarthog commented on #849
nap - is not a point

in synfig you may use Vector3::nan() or Point3::nan() (Point3 if typedef of Vector3) for 3D
and Vector::nan() or Point::nan() for 2D

also you may check for nan by method: mypoint.is_valid()

[2019-06-30 05:38] blackwarthog commented on #849
it's a proper way to access the pixels

synfig stores image rows from top to bottom
so, by this logic you will read image from bottom to top
is it right for you?

[2019-06-30 08:26] ankit-kumar-dwivedi commented on #849
@blackwarthog

Just out of curiosity it is not defined in the class so how is getting the definition of x,y,z?

Thanks :)

Actually, this was how I fixed the image roation see -> https://github.com/synfig/synfig/issues/735#issuecomment-500861861
For a given value of (int x, int y) to get the respective RGBA values
- Earlier I was using
[code]
- and changing it to
[code]
fixed the error.

[2019-06-30 13:28] ankit-kumar-dwivedi commented on #849
Closing after https://github.com/ankit-kumar-dwivedi/synfig/commit/7734ac973c36f6cbe45903e820d9f3d3f5b4bd55

[2019-06-30 13:28] #849 closed

[2019-06-30 13:42] ankit-kumar-dwivedi commented on #851
@morevnaproject Toonz makes a vector <TStrokes> So I will be using vector <outline_layer> as a synfig alternative. Any suggestions while dealing with TStrokes?

[2019-07-01 06:03] morevnaproject commented on #849
Just some clarifications on https://github.com/synfig/synfig/issues/849#issuecomment-506674494:

Actually, there are no conversion happens in  `calculateSequenceColors(....)`. See below.

...and just a little below at [line 378](https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/toonzlib/tcenterlinecolors.cpp#L378) there is a check if `cm` is va

[2019-07-01 06:03] morevnaproject commented on #849
Congratulations! ^__^

[2019-07-01 07:15] morevnaproject commented on #821
@ThaFireDragonOfDeath Thank you very much for the fix!
I have tested the changes and found that they breaking functionality  of Motion Blur Layer (it renders nothing). See test file -
[motion-blur-test.zip](https://github.com/synfig/synfig/files/3344297/motion-blur-test.zip)

Looks like implementation of Motion Blur Layer is related with behavior of Add blend method.

@blackwarthog Should we think

[2019-07-01 08:33] ankit-kumar-dwivedi commented on #849
@morevnaproject does this implies that I don't need to recreate this at all? o:-)

[2019-07-01 09:10] BobSynfig commented on #841
I suggest to export the project as h.264 lossless and then to use any decent converter to produce the mov file.
IMHO, no need to add weight to the app with what could be done in a snap in final post-process.

[2019-07-01 10:35] IbanRothschild commented on #286
Does this project alive? I'm going crazy trying to do simple tasks...

[2019-07-01 11:03] IbanRothschild opened #869 "Basic tasks"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)
1.13.11 in Manjaro as appimage

**Issue description**:

Its so big amount of things:

- I can't compile from git so i needed to use the appimage, thing i don't like because it cannot be attached to the KDE panel properly.
- I can't import Inkscape files properly, either SVGs or SIFs. I forgot the i

[2019-07-01 13:04] BobSynfig commented on #869
Most of what you complain about is already known, in Wiki/manual/forums.
If you can't compile, it meeans there are some missing libs.
A few months ago, I tested Manjaro as virtual machine and I succeded to compile.
Without logs, we can't guess what is happening on an "exotic" distro

"Everything seems to be rasterized": Draft mode enabled?
For the import, it is known, the external file is linked.

[2019-07-01 17:30] morevnaproject commented on #851
Can you please give me a quick link to code part which defines TStroke? I strongly suspect that TStroke is an Outline Layer. ^__^

[2019-07-01 17:52] ankit-kumar-dwivedi commented on #851
https://github.com/opentoonz/opentoonz/blob/master/toonz/sources/include/tstroke.h here you go!
Sorry I was busy with some family problem so didn't did anything

[2019-07-01 18:47] IbanRothschild commented on #869
Can you, please, step out of this program and let other people with more interest in the business and industry of animation make money with it while we spread the open source ideology and not the capitalistic point of view of software? It smell to Bill Gates here... You just wrote 9 lines of unuseful code there...

[2019-07-01 21:14] ebarranco opened #870 "Zoom makes Synfig crash."
**Synfig version & platform**:
Master
Linux

**Issue description**:
Simple navigation using zoom makes Synfig crash, everywhere every time, with artwork or empty canvas, with prerender activated or without doesn't matter.

[Video Demostration.](https://youtu.be/JYSEYNWSm4Y)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/76329314-zo

[2019-07-02 05:13] BobSynfig commented on #870
Please see my remark here: https://github.com/synfig/synfig/issues/674

[2019-07-02 05:42] AnishGG opened #871 "Remove unused parameter "loopyness" from outline layer"
**Synfig version & platform**:
Master branch, commit id: https://github.com/synfig/synfig/commit/678cc3a7b1208fcca18c8b54a29a20576c499927

**Issue description**:
https://github.com/synfig/synfig/blob/678cc3a7b1208fcca18c8b54a29a20576c499927/synfig-core/src/modules/mod_geometry/outline.cpp#L149
The parameter `loopyness` is not used in the outline layer code anywhere. So it is safe to remove it(http

[2019-07-02 10:17] BobSynfig commented on #871
I think this parameter was supposed to permit to "close" an outline (to make it as a loop between the 2 ends) but never implemented.
It should have been Boolean instead of Real also, the fact it has not been converted could mean it is a lot old in the source code.
Maybe it would be more wise to keep it and develop the expected behavior?

Also it would change the format of Synfig file and could lea

[2019-07-02 10:55] AnishGG commented on #871
Oh I see.

May be it was meant to be Real only. Because we might want to give user the independence of how he chooses to "close" the outline. Meaning should it be a straight line, or should it be convex loop or concave loop depending on the values of `loopyness`.

This would be great.

If the `type` is not changed to Boolean, then we won't face this error. ^_^

[2019-07-02 11:36] AnishGG commented on #871
It just got into my mind that this can be supported using the tangents of first and last vertices. So Boolean seems to be a good idea.

[2019-07-02 16:11] AnishGG opened #872 "[Lottie exporter] Adjust positions of layers in group layer according to Pre Composition in Lottie"
### This issue is a part [Feature request: Add Lottie export format](https://github.com/synfig/synfig/issues/704)
**Issue description**:

To export `group` layer to `Lottie` format, `pre composition` layers from `Lottie` are used. Consider recursive `group` layers involved, if one of that `group` layer has child layers which are going out of the canvas, then those parts are cut off and ignored.
To

[2019-07-02 17:12] AnishGG commented on #871
@morevnaproject your views regarding this? ^__^

[2019-07-03 06:40] morevnaproject commented on #871
I think as long as no one is willing to implement this feature then it is better to remove that param.
It is just a few lines of code anyway. ^__^

In any case, implementing it will take some time on discussing/implementing/testing. So, it's best to remove and then implement feature (if such need) without a hurry.

[2019-07-03 07:11] morevnaproject commented on #851
Synfig's Outline Layer represents a single stroke. So, TStroke is represented by Outline Layer in Synfig. For each TStroke you should create a new Outline Layer.

[2019-07-03 07:14] morevnaproject commented on #869
@IbanRothschild @BobSynfig Please make sure to read Code of Conduct document and follow its guidelines in discussion - https://synfig-docs-dev.readthedocs.io/en/latest/community/code%20of%20conduct.html

@IbanRothschild Please make sure to submit each issue as a separate bugreport. Also, please make sure to read this guide on how to report bugs effectively - https://www.chiark.greenend.org.uk/~sgt

[2019-07-03 07:14] #869 closed

[2019-07-03 07:21] morevnaproject commented on #849
You need this only if you are going to detect and apply colors to strokes. ^__^

[2019-07-03 07:29] morevnaproject commented on #846
@corbeeresearch
I think this topic is more suitable for discussing on [Synfig Forums](https://forums.synfig.org/) rather than here in GitHub bugtracker. So, please re-submit this topic to forums. Thank you! ^__^

[2019-07-03 07:29] #846 closed

[2019-07-03 07:33] morevnaproject commented on #841
@BobSynfig The advantage of using MOV is that it stores RGBA (has alpha), so it is very good for compositing with other footage in video editor. ^__^

[2019-07-03 08:42] IbanRothschild commented on #554
It seems that inkscape have a full SVG 2.0 implementation. Thing that is not normal or neither done by the librsvg so... If you use gradients ¿or fonts? without convert them to Path (and sometimes either) it does not understand the file...

I propose to show a border when an object-layer is selected to see where it is... Play an error sound. And discover if inkscape have its own conversion library

[2019-07-03 12:50] ankit-kumar-dwivedi opened #873 "[Vectorization] Restore stroke color"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: Make the stroke color the same as that in the raster image

see here -> https://forums.synfig.org/t/gsoc19-vectorization-of-bitmaps/9815/14?u=ankit

[2019-07-03 13:26] ThaFireDragonOfDeath commented on #821
@morevnaproject
I maybe have an idea (I still need to test it, if I have time):
The easiest method to fix motion blur, while keeping ADD blend working as it is in my pull request is adding another blend method (BLEND_ADD_NOCROP), which contains the implementation of the BLEND_ADD before my pull request.
And then use this new blend method [here](https://github.com/synfig/synfig/blob/678cc3a7b1208fc

[2019-07-03 14:17] ankit-kumar-dwivedi commented on #851
@morevnaproject
I am getting an error when I define   `std:: vector<Outline *> sortibleResult;`

There are two cases when calculating stroke
- with 3 thick points i.e a segment, in a thickpoint where x,y are coordinates and z is the thickness of stroke it then builds quadratic chunk using the three control points
- with more than 3 thick points, in this case, Toonz convert the sequence to quadrati

[2019-07-03 18:01] ankit-kumar-dwivedi commented on #851
@blackwarthog any help on the same?

[2019-07-03 18:04] IbanRothschild commented on #554
Been able to work around doing this :
https://forums.synfig.org/t/inkscape-text-saved-as-synfig-file/4427/9

The steps are:
- path>object to path
- ungroup
- union
- save as sif

I been able to import text, linear gradients and circular gradients.

I been unable to import mesh gradients or patterns.

But there is a problem with cache... When you import a file, its loaded directly from the file but

[2019-07-03 18:51] AnishGG commented on #871
@BobSynfig I guess this feature already exists. Outline layer can be "closed" by right clicking on the spline and checking the `loop` tool. Here I am attaching both unlooped and looped outline layer example.
[outline_layers.zip](https://github.com/synfig/synfig/files/3356419/outline_layers.zip)

Hence, in my views this will be the best choice.

[2019-07-04 04:08] ebarranco opened #874 "Exported canvases don't preserve its resolution"
**Synfig version & platform**:
Master and Stable
linux and windows

**Issue description**:

Exported canvases change its resolution in any canvas size different to the default one. (480x270).

If you have a canvas of 1920x1080 the subcanvas is 480x270
If you have a canvas of 1280x720 the subcanvas is 480x270
...and so on.

This cause a lot and painful problems to all artist that don't used the def

[2019-07-04 04:50] ebarranco commented on #874
Directly related with **Exporting canvas should set proper length for created sub-canvas** #715 issue.

[2019-07-04 09:20] ankit-kumar-dwivedi opened #875 "[Vec]"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: We do not need `frame` as an input to centerline configuration and `conf.m_thicknessRatio = 1.0`
As mentioned by @morevnaproject here https://github.com/synfig/synfig/issues/735#issuecomment-503549116

So as to make `conf.m_thicknessRatio = 1.0` after that adjustm

[2019-07-04 09:46] ThaFireDragonOfDeath commented on #821
@morevnaproject
Ok, I just tested my method to fix the motion blur. Works for me. I will clean the code an add it to my pull request today.

[2019-07-04 13:36] ankit-kumar-dwivedi commented on #875
I have removed the code and also the GUI part @morevnaproject
![image](https://user-images.githubusercontent.com/37617951/60670223-c5f11800-9e8d-11e9-985a-63b2d1a580cc.png)

[2019-07-04 13:39] #875 closed

[2019-07-04 14:17] AnishGG commented on #872
In some cases the `offset` can be animated. Also the `position` transformation of that group layer might also be animated.
This case becomes tricky then. Is there any algorithm inside Synfig which helps combine two animations?
This can be achieved by frame-by-frame `offset` addtion, but again this can consume more space of the final `JSoN` file.
@morevnaproject any help regarding this? ^__^

[2019-07-04 15:05] morevnaproject commented on #851
@ankit-kumar-dwivedi Can you please share a piece of code you trying to get work. And error message, please. ^__^

[2019-07-04 16:13] ankit-kumar-dwivedi commented on #851
@morevnaproject The error was due to me including the wrong header location.
But I have the following doubt
- what should I pass to `virtual bool set_shape_param(const synfig::String & param, const synfig::ValueBase &value);` ?
I have control points (x,y,z) here (x,y) are coordinates and z is the thickness
Toonz create a bezier curve from the control points while synfig uses Hermite curve

[2019-07-04 17:29] morevnaproject commented on #875
Great!

[2019-07-04 19:49] AnishGG commented on #851
Conversion between bezier and Hermite curve is possible relatively easily. Consider total 4 control points of a Hermite curve are `H0, H1, H2, H3`.
Then bezier curves control points will be:
[code]
I am not sure how to deal with only 2 control points. Is there some more information about tangents available?

[2019-07-05 12:19] ankit-kumar-dwivedi commented on #851
In any case, we have at least 3 thick points.

I am reading more about it thanks :)

[2019-07-05 12:38] AnishGG commented on #872
Worked out without the need of combining two animations. :smile:

I am still curious about this.

[2019-07-05 12:38] #872 closed

[2019-07-05 12:39] morevnaproject commented on #851
You should pass `ValueNode_Bline` filled with `BlinePoints`.

See `ValueNode_Bline` - https://github.com/synfig/synfig/blob/master/synfig-core/src/synfig/valuenodes/valuenode_bline.h
It inherits from `ValueNode_DynamicList` class, so you  can use `add()` method - https://github.com/synfig/synfig/blob/master/synfig-core/src/synfig/valuenodes/valuenode_dynamiclist.h#L178

For example of creating `Bl

[2019-07-05 14:38] morevnaproject commented on #821
@ThaFireDragonOfDeath I have added your tests from https://github.com/synfig/synfig/issues/821#issuecomment-504050958 to https://github.com/synfig/synfig-tests-regressions

[2019-07-05 14:38] #821 closed

[2019-07-06 10:18] ankit-kumar-dwivedi commented on #851
@morevnaproject we need the derivative at first and endpoint of the bezier curve to convert that to a Hermite curve. The below image shows the derivative in terms of the position vector, however, in the coordinate system the derivative will be the same as the sope of line P0P1 and Pn-1Pn
![derivativeodBcurve](https://user-images.githubusercontent.com/37617951/60754667-1b4e3600-a002-11e9-956b-245bc

[2019-07-06 10:27] ankit-kumar-dwivedi commented on #851
This seems to be an [operator()](https://github.com/opentoonz/opentoonz/blob/e4aac6f4338a4f40d9526d32cc32c0b184f6c141/toonz/sources/toonzlib/tcenterlinetostrokes.cpp#L290) and not constructor! Sorry for that :(

[2019-07-06 19:57] AnishGG commented on #859
Invert parameter is not working with `rotate`, `scale` and `translate` layer due to a bug in `Lottie` rendering of pre-composition. I have filed this bug on the Lottie-web github repo.
https://github.com/airbnb/lottie-web/issues/1705

[2019-07-06 21:27] LaPingvino commented on #704
Telegram's new TGS format (https://telegram.org/blog/animated-stickers/) seems to be a variant of Lottie JSON compressed with GZ... because they have very specific restrictions, it might be relatively easy to get this implemented on top of your work?

[2019-07-06 23:13] Gilraiser commented on #714
Well, thank you very much.

[2019-07-07 05:13] morevnaproject commented on #859
Okay, thanks for informing about this! ^__^

[2019-07-07 05:57] #715 closed

[2019-07-07 06:07] #874 closed

[2019-07-07 06:08] morevnaproject commented on #874
Done! Thank you for reporting. ^__^

[2019-07-07 06:19] AnishGG commented on #704
Yes, this seems to be a viable option. I will explore this furthur when I get more time(won't be able to focus on two things together). Or it will be much appreciated if someone can explore this option in the mean time.

[2019-07-07 09:26] mbasaglia commented on #704
I'm interested in telegram sticker export as well, I'll be testing out adding support for that myself

[2019-07-07 10:45] mbasaglia commented on #704
It was easy enough, I've made very minor changes to the lottie exporter to export tgs, my fork of the plugin is in here: https://gitlab.com/mattia.basaglia/tgs/tree/master/synfig

[2019-07-07 10:57] AnishGG commented on #704
This is great! I myself have never dealt with telegram before, so I might not be able to test it.
But I guess this feature would be awesome!
@morevnaproject your views regarding this please. ^__^

[2019-07-07 11:52] ankit-kumar-dwivedi commented on #851
This is Hermite to bezier the same is explained here https://math.stackexchange.com/a/3046666

[2019-07-07 12:11] ankit-kumar-dwivedi commented on #851
and this formula
[code]
This gives tangent to n degree bezier curve that is what I mentioned here
![image](https://user-images.githubusercontent.com/37617951/60767942-8e2bdf80-a0dc-11e9-8fa0-a0fb0953e96d.png)

This formula will give cubic bezier - > 2 tangents, 2 points(start and end)
and will work the same way for quadratic curve - > 2 tangents, 2 points(start and end)

Let's see what the output

[2019-07-07 13:16] blackwarthog commented on #851
Hermite to Besier formula:

[code]

[2019-07-07 13:18] blackwarthog commented on #851
*fix: Bezier to Hermite

[2019-07-07 16:03] morevnaproject commented on #872
Yes, it is possible to use Converters to mix animation of two parameters. Here is an example video which demonstrates use of Add Converter to mix two animations - https://www.youtube.com/watch?v=ECXpa1UgX74

More about converters in Synfig:
- https://www.youtube.com/watch?v=odlPI6hfnDM
- https://wiki.synfig.org/Convert

It looks like Lottie also supports something like that via AE expressions - ht

[2019-07-07 16:09] morevnaproject commented on #704
This is **absolutely** exciting! ^__^

[2019-07-07 18:16] ankit-kumar-dwivedi commented on #851
@morevnaproject @blackwarthog is there an equivalent in Synfig for [TAffine](https://github.com/opentoonz/opentoonz/blob/e4aac6f4338a4f40d9526d32cc32c0b184f6c141/toonz/sources/include/tgeometry.h#L864) for affine transformations

[2019-07-07 19:35] blackwarthog commented on #851
Matrix3 in matrix.h

as i remember Matrix3 is a transposed TAffine (Matrix3::m01 is TAffine::a21, etc)

[2019-07-07 19:37] blackwarthog commented on #851
You may use synfig::Matrix - it is a typedef to synfig::Matrix3

[2019-07-08 00:23] LaPingvino commented on #704
@mbasaglia can you give an example output file so I can test if my Telegram picks it up independently?

[2019-07-08 06:21] mbasaglia commented on #704
@LaPingvino
Here's a test file (Note: I had to add the gz suffix to upload it to github, for telegram remove ".gz" from the file name, without extracting it)
[test.sifz.D35E47A0.tgs.gz](https://github.com/synfig/synfig/files/3366875/test.sifz.D35E47A0.tgs.gz)

Also keep in mind currently the Lottie exporter is very basic so it can't yet be used to export anything but the most trivial shapes and an

[2019-07-08 09:15] mbasaglia commented on #704
Quick question: What kind of reference/documentation has been used to describe the lottie format for exporting from synfig? I see some discrepancies between the json schema in the lottie repo and the output from the synfig plugin.
The schema itself seems a bit low quality so I was wondering if there was a better source of info on the format.

[2019-07-08 13:14] AnishGG commented on #704
Basically the above mentioned JSoN schema has been used. The keys which are serving no purpose have been removed intentionally. Even the schema has some mistakes in it.
So to be fully sure, you can create the shape/layer in After Effects and use bodymovin plugin to export it to lottie format. This will give you the correct results.

[2019-07-08 13:24] AnishGG commented on #704
@mbasaglia
I had a look at the tgs code on gitlab. I noticed that you cloned the lottie-exporter's part which is merged in the master. It does not support splines yet.
But the lattest version #756 supports splines. You might want to clone this instead of the previous version

[2019-07-08 13:42] mbasaglia commented on #704
thanks, I've subscribed to that PR, I'll keep my version up to date base on that

[2019-07-08 16:44] mbasaglia commented on #674
I'm getting the same issue really often (current master branch, on Ubuntu).
It usually happens when I add a layer or change some property

To repro on my box is enough to start synfig, add a circle or something and change its color.

[2019-07-08 18:44] AnishGG commented on #859
@morevnaproject all the layers mentioned above now support invert parameter. I guess this closes the issue. ^__^

[2019-07-08 18:45] AnishGG commented on #856
As the star layer is now rendered using `shape` layer, this feature is also supported now.

[2019-07-08 19:08] AnishGG commented on #856
Closing now. ^_^

[2019-07-08 19:08] #856 closed

[2019-07-08 19:08] AnishGG commented on #859
Closing now. ^_^

[2019-07-08 19:08] #859 closed

[2019-07-08 19:08] AnishGG commented on #857
Done. Closing now. ^_^

[2019-07-08 19:08] #857 closed

[2019-07-09 13:05] morevnaproject commented on #859
Awesome!

[2019-07-09 18:02] ankit-kumar-dwivedi commented on #851
@morevnaproject I completed the BezierToOutline function but I am getting an error while using `add()` [I have pushed the current state to https://github.com/ankit-kumar-dwivedi/synfig/tree/vectorization]
[code]
also, I want you to have a look at the **[function](https://github.com/ankit-kumar-dwivedi/synfig/blob/d6531ee096202debd7620c8c1ecaca38b13750a9/synfig-studio/src/gui/vectorizer/centerlinet

[2019-07-10 09:12] morevnaproject commented on #851
Okay, then please try add BLinePoints as shown here -
https://github.com/synfig/synfig/blob/8beaa9b11411f216a11e642c420aa2455a5ba108/synfig-core/src/modules/mod_geometry/outline.cpp#L154-L167

In this case you might want to define `param_bline` (in your code it is `param2`) like this -
https://github.com/synfig/synfig/blob/master/synfig-core/src/modules/mod_geometry/outline.h#L49

[2019-07-10 18:27] ankit-kumar-dwivedi commented on #851
@morevnaproject Thanks that resolved the issue.
I pushed the changes to https://github.com/ankit-kumar-dwivedi/synfig/commit/46c5ff8cbf00fb4d956ac0067fdf03ad73a87270
I get new error on [line 47 of centerlinetostrokes.cpp](https://github.com/ankit-kumar-dwivedi/synfig/blob/46c5ff8cbf00fb4d956ac0067fdf03ad73a87270/synfig-studio/src/gui/vectorizer/centerlinetostrokes.cpp#L47)
[code]

I have included

[2019-07-10 21:32] mbasaglia commented on #704
btw, I did a lot of work on making sense of the lottie format so I developed a python framework that can be used to read and write these files. If there's ever the need to import lottie files into synfig my framework is capable of doing so.

[2019-07-11 05:53] morevnaproject commented on #851
Please try to create new outline layer like this:
[code]

(example here - https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/canvasview.cpp#L3055)

Actually, you might notice that Synfig uses a [system of actions ](https://github.com/synfig/synfig/tree/master/synfig-studio/src/synfigapp/actions) to perform operations. This allows to have a history to perform undo/redo.

![screensho

[2019-07-11 08:43] ankit-kumar-dwivedi commented on #852
This issue no more relevant, closing now.
[see this](https://forums.synfig.org/t/gsoc19-vectorization-of-bitmaps/9815/15?u=ankit)

[2019-07-11 08:43] #852 closed

[2019-07-11 08:48] ankit-kumar-dwivedi commented on #851
@morevnaproject thanks, this worked like a charm [^_ ^].
So this what I have now as an output
[code]
Now I need to display these layers I have created by associating them to the canvas

We can create an issue for that on milestone :)

Closing this issue now !

[2019-07-11 08:48] #851 closed

[2019-07-12 07:57] ankit-kumar-dwivedi commented on #853
@blackwarthog
`  std::vector< etl::handle<synfig::Layer> > sortibleResult;` is the output I have to display. I need to create a switch group of Outline layers present in vector sortibleResult. So I was refering to layeradd.cpp to see how to add layer to the canvas.

this is what I tried so far
[code]
I refered the codebase to see how other layers are added and I found this example
https://github.c

[2019-07-12 13:09] ankit-kumar-dwivedi commented on #853
Now I tried this
[code]
The code compiled and I saw few layers were added but they were blank :(
![image](https://user-images.githubusercontent.com/37617951/61130342-168ef380-a4d4-11e9-99e5-7496726b6294.png)
![image](https://user-images.githubusercontent.com/37617951/61130383-2c041d80-a4d4-11e9-9f55-91eac9094c5b.png)
@morevnaproject are the layers not created properly?

[2019-07-12 15:04] morevnaproject commented on #853
Yes, the Outline Layer is not created properly. I can see that by `[MIME]Outline` mark and only one parameter in Params window:
![screenshot_003](https://user-images.githubusercontent.com/332868/61138004-d68a3980-a4f0-11e9-9068-8ac6b8ffc181.png)

Here's how outline layer should look like:
![screenshot_005](https://user-images.githubusercontent.com/332868/61138115-05a0ab00-a4f1-11e9-8e71-4d90a78bca

[2019-07-12 15:18] morevnaproject commented on #853
@ankit-kumar-dwivedi Does it helps if you change
[code]

to

[code]
?

[2019-07-12 15:24] morevnaproject commented on #851
Good idea! ^__^

[2019-07-12 15:26] ankit-kumar-dwivedi commented on #853
Trying just a minute

[2019-07-12 15:29] ankit-kumar-dwivedi commented on #853
@morevnaproject yes this created **Outline layers**
![image](https://user-images.githubusercontent.com/37617951/61139862-dd607e80-a4e7-11e9-8878-d1b72163c5b2.png)
 However the layers are still blank :thinking:

[2019-07-12 15:36] ankit-kumar-dwivedi commented on #853
On the vertices list it shows unknown data. I suspect the vertices are tangents are not assigned properly Will look into that [^_^]
![image](https://user-images.githubusercontent.com/37617951/61140352-f1f14680-a4e8-11e9-8a52-7ffe0db07f89.png)

[2019-07-12 15:37] morevnaproject commented on #853
From our chat talk I know you wrapped everything into Switch Group. Please use regular Group (Paste Canvas) instead. ^__^

[2019-07-12 15:40] morevnaproject commented on #853
See this code on how to add a Group layer -
https://github.com/synfig/synfig/blob/3f2f45710e2980c040cd5f80c3aa3a16a4c9ced5/synfig-studio/src/synfigapp/actions/layerencapsulate.cpp#L161-L182

Note: in early versions "Group" action was called "Encapsulate", this is why the action resides in `layerencapsulate.cpp`. And Group layer is called Inline (Paste) Canvas.

[2019-07-12 15:41] ankit-kumar-dwivedi opened #881 "[Vectorization] Wrap Vectorization to an action"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: Wrap Vectorization process into an action

Track the progress here -> https://github.com/synfig/synfig/milestone/5

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/76862105-vectorization-wrap-vectori

[2019-07-12 15:53] morevnaproject commented on #853
Yes, it looks so. Possibly, [the way I suggested](https://github.com/synfig/synfig/issues/851#issuecomment-509980525) for adding vertices to bline was not correct. ^__^"

[2019-07-12 15:54] morevnaproject commented on #853
...Or, incorrect data passed to BlinePoint.

I suggest to write exactly the same code as shown in this comment to fill each bline with some data (which we know to work) - https://github.com/synfig/synfig/issues/851#issuecomment-509980525

[2019-07-12 17:30] blackwarthog commented on #853
i think you have not set a 'canvas' and 'canvas_interface' params for the action

a good example is in synfigapp::CanvasInterface::add_layer_to
this method create one or two actions wrapped into ActionGroup (LayerAdd and LayedMove)
LayedMove sets the 'depth' of layer in canvas, and used only if depth is not zero
i think you can use only LayerAdd and add layers one by one to a top of canvas

`add_l

[2019-07-13 15:44] morevnaproject commented on #853
@blackwarthog Thanks for notes!
I think @ankit-kumar-dwivedi shouldn't use actions to create every outline layer. ^__^

My reasons for that:
Every action will create a separate entry in undo history. After vectorization it is a very common situation to get hundreds of outlines. It would be not very nice to put all them in history.
Of course, they can be grouped into super-action, but anyway - in m

[2019-07-13 17:03] blackwarthog commented on #853
in this case we may look code for opening SVG

[2019-07-14 15:27] AnishGG opened #883 "[Lottie exporter] Lottie animations not getting rendered locally"
### This issue is a part of [Feature request: Add Lottie export format](https://github.com/synfig/synfig/issues/704)
**Issue description**:

Lottie animations are not getting rendered on local browser(without a local server). This is due to recent changes in lottie.js file that we were [referencing](https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.3/lottie.js). They seem to have changed the wa

[2019-07-14 15:29] AnishGG commented on #883
Suggestion: Instead of fetching the file(lottie.js) from the server, we can keep a local copy of it and run lottie animations via that.
@morevnaproject what do you think about this?

[2019-07-14 16:15] morevnaproject commented on #853
@blackwarthog That's great idea!

[2019-07-15 07:14] morevnaproject commented on #883
@AnishGG I tried that and it doesn't works. I suggest to submit an issue to https://github.com/airbnb/lottie-web/

As a temporary workaround we can rollback to an older version of lottie player - https://cdnjs.com/libraries/bodymovin (needs to investigate which version will work with local files)

[2019-07-15 09:13] AnishGG commented on #883
I tried many of them, even `5.5.3` version(it was last updated 2 months ago) and it still did not work. Here is the link for it: https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/bodymovin/5.5.3/lottie.js
Maybe the problem is not the changes in the file, but some function calls inside the file might have changed there methods.

[2019-07-15 10:22] AnishGG commented on #883
https://github.com/airbnb/lottie-web/issues/1719

[2019-07-15 16:19] AnishGG commented on #883
Resolved ^__^

[2019-07-15 16:19] #883 closed

[2019-07-15 18:15] ankit-kumar-dwivedi commented on #853
@morevnaproject I wrote the exact same code but the outline created was still showing `unknown datatype` in list
![image](https://user-images.githubusercontent.com/37617951/61238561-82828d80-a75a-11e9-8992-c648712c745c.png)

[2019-07-15 18:19] ankit-kumar-dwivedi commented on #853
@morevnaproject you can have a look at the code I compiled. https://github.com/ankit-kumar-dwivedi/synfig/commit/218c356a13960112082bf74823b3b55e1601c90c
@blackwarthog any idea what could be the possible reason for this behavior?

also, I noticed today when I close synfig I get the following error
`synfig(17492) [11:46:25  IST] error: 1 layers not yet deleted!
` is this normal?

[2019-07-16 12:37] blackwarthog commented on #674
fixed in 717751edcb711848bfcb1e181a3a399b3063e953

https://github.com/synfig/synfig/commit/717751edcb711848bfcb1e181a3a399b3063e953

[2019-07-16 14:50] blackwarthog commented on #853
your code is right, but you does not need to include 'outline.h'
i think your code is not calling or bline param changes outside of this function
try to comment line 140 in centerlinetostrokes.cpp https://github.com/ankit-kumar-dwivedi/synfig/blob/218c356a13960112082bf74823b3b55e1601c90c/synfig-studio/src/gui/vectorizer/centerlinetostrokes.cpp#L140

outline should be created with default bline (si

[2019-07-16 14:56] blackwarthog commented on #853
message can rise if you have a static synfig::Layer variables, or create layers via c++ `new` keyword and do not delete it (nor wrap it into handle)

[2019-07-16 15:54] morevnaproject commented on #853
The [code for opening SVG](https://github.com/synfig/synfig/blob/master/synfig-core/src/modules/mod_svg/svg_parser.cpp) wouldn't help here, as it is translates SVG to Synfig's XML (sif).

I suggest to look at `loadcanvas.cpp`:
https://github.com/synfig/synfig/blob/1a5652b60538c50cf76db0c26563cac7de0226b1/synfig-core/src/synfig/loadcanvas.cpp#L2314-L2347

It constructs BLine in the same way as I [i

[2019-07-16 15:55] morevnaproject commented on #853
I often see that error, I believe it's okay to ignore. ^__^

[2019-07-16 15:59] morevnaproject commented on #883
Awesome!

[2019-07-16 17:54] ankit-kumar-dwivedi commented on #853
@morevnaproject
I think you are refering to this line
[code]

[2019-07-16 19:31] ankit-kumar-dwivedi commented on #853
This time I tried
[code]

[2019-07-17 05:11] blackwarthog commented on #871
Then all sif/sifz files will show a lot of warnings: "Layer outline rejected value for parameter loopyness".
Until re-save.

Is it ok?

[2019-07-17 05:16] blackwarthog commented on #870
fixed in 717751e

[2019-07-17 06:46] morevnaproject commented on #871
Yes, this is fine. We've had worse things earlier. ^__^

[2019-07-17 07:00] morevnaproject commented on #853
@ankit-kumar-dwivedi No, I meant different approach. The one I [mentioned here](https://github.com/synfig/synfig/issues/851#issuecomment-508745522) and you had problems with it [here](https://github.com/synfig/synfig/issues/851#issuecomment-509745062). ^__^

In short:

You declare a bline value node:
https://github.com/synfig/synfig/blob/1a5652b60538c50cf76db0c26563cac7de0226b1/synfig-core/src/syn

[2019-07-17 07:52] ankit-kumar-dwivedi commented on #853
@morevnaproject Okay now I got it! [^_^]

[2019-07-17 10:21] blackwarthog commented on #871
done

[2019-07-17 10:21] #871 closed

[2019-07-17 19:06] ankit-kumar-dwivedi commented on #853
few doubts:

Construct both? `bline_value_node` and `value_node`

setting it false by default but this is the only line where `bline_value_node` is used

this won't work !

`value_node` is `etl::rhandle<synfig::ValueNode>` and also `handle<ValueNode>
CanvasParser::parse_value_node(xmlpp::Element *element,Canvas::Handle canvas)`

well you might find this amusing but I've never used `debugger` optio

[2019-07-17 19:12] ebarranco opened #885 "Vertices disapear closing polygons"
**Synfig version & platform**:
Master
Linux

**Issue description**:
Vertices disappear using the polygon tool, when you're editing the position of vertices or closing polygons.

1.Open Synfig
2.Select the polygon tool
3. Try to close a polygon with a tablet. (With a mouse this doesn't happen, so don't close de polygon and try to edit a vertex)
4. The vertices are not visible.
[
Video demostration.

[2019-07-18 14:33] morevnaproject commented on #853
Here is one more code example which creates outline layer:

https://github.com/synfig/synfig/blob/d7b92546e30249c3f8d3da381dedb4c1640f2178/synfig-studio/src/gui/states/state_circle.cpp#L890-L913

https://github.com/synfig/synfig/blob/d7b92546e30249c3f8d3da381dedb4c1640f2178/synfig-studio/src/gui/states/state_circle.cpp#L1017-L1033

[2019-07-18 14:37] ankit-kumar-dwivedi commented on #853
@morevnaproject
[code]
is this the right way to create ?

[2019-07-18 14:37] morevnaproject commented on #853
For second part of the code you might wish to look at the code of "LayerParamConnect" action:

https://github.com/synfig/synfig/blob/d7b92546e30249c3f8d3da381dedb4c1640f2178/synfig-studio/src/synfigapp/actions/layerparamconnect.cpp#L137-L157

[2019-07-18 15:16] morevnaproject commented on #853
Try this:
[code]

[2019-07-19 09:09] ankit-kumar-dwivedi commented on #853
@morevnaproject thanks to your PR the layers are being created but when I open the yellow group it keeps crashing due to these reasons
`munmap_chunk(): invalid pointer` | `realloc(): invalid next size`
I think yellow group is reason for such errors, I will create green group and fill that with outlines.

Before that, I decided to compare if the control points in Toonz and control points in synfig(

[2019-07-19 13:51] morevnaproject commented on #853
Does this happens when you construct Outlines with default (test) data as well? (I mean commit 78a499c15debefb52bfd9108410959b72c860ad5, where all outlines use sample data)

[2019-07-19 17:04] blackwarthog commented on #853
synfig::Matrix has no aXX fields, you need to use mXX instead.
your code (in current state) declares and use local variables a13 and a23 - it will not work - you really need to use fields of matrix M as in opentoonz code.

toonz old fields (a)
 a11, a21
 a12, a22
 a13, a23

alternative synfig fields and toonz new fields (m)
 m00, m01
 m10, m11
 m20, m21

so, just replace:
 M.a13 to M.m20
 M.a23 to

[2019-07-19 18:58] ankit-kumar-dwivedi commented on #853
@blackwarthog I mixed the old and new matrix thanks for pointing that out. Now, after this correction, and removing `calculateSequenceColors` which was modifying the sequence but is not useful for us.

**I am happy to say the control points for toonz and synfig are matching now
[controlpoints.txt](https://github.com/synfig/synfig/files/3412306/controlpoints.txt)** So this means till calculation of

[2019-07-19 19:16] ankit-kumar-dwivedi commented on #853
![testoutlines](https://user-images.githubusercontent.com/37617951/61559641-c8f02900-aa87-11e9-8953-76d7cebf176c.png)
I see sum weird behaviour the vertex of bline are being assigned in thousands :confused: but

In the text file and in output too no point is in thousands.
This is how I am setting the vectex (segment points are in text file)` bline_point_list[0].set_vertex(segment[0].to_2d());` I a

[2019-07-19 20:44] ebarranco opened #886 "Linear interpolation doesn't work with groups"
**Synfig version & platform**:
Master
Stable

Linux
Windows
**Issue description**:
Animating the scale parameter with linear keyframes in groups, does not give a linear result.

[Project File](https://we.tl/t-4CFeVbFmgz)
[Forum thread](https://forums.synfig.org/t/constant-animation-speed/9985/14)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource

[2019-07-19 22:21] b3u commented on #776
@morevnaproject trying to revive this issue: What is the difference between the pen and draw tools?

[2019-07-19 22:24] b3u commented on #721
@morevnaproject I quite like the current setup actually. It's nice and orderly. Is there a particular thing you think is confusing?

[2019-07-19 22:32] rodolforg commented on #861
When I try it (yes, I finally can build on Windows), I get this warning message:
[code]
It is just a warning but the count value is really strange.

[2019-07-20 00:30] #886 closed

[2019-07-20 00:33] GraithTiger commented on #704
I've picked up Synfig and have been trying out the lottie exporter, and I've found that it fails on this file:
[noises_graithtiger.zip](https://github.com/synfig/synfig/files/3413076/noises_graithtiger.zip), giving the error:

[code]
Looking into it a little it appears that the script is operating on a scalar when it's expecting a vector and erroring out. Adding
[code]

before the offending line s

[2019-07-20 08:34] AnishGG commented on #704
Convert methods like `add` are not supported yet. These are yet to be implemented.

[2019-07-20 12:35] ankit-kumar-dwivedi commented on #776
Hi, @b3u

I think by pen tool you are referring to [sketch tool](https://wiki.synfig.org/Sketch_Tool)
The sketch tool is used to freehand draw anything on the canvas, it is similar to the pencil tool or freehand draw in similar software while [draw tool](https://wiki.synfig.org/Draw_Tool) is more advanced it can be used to draw complex shapes using splines.

[2019-07-20 13:01] ankit-kumar-dwivedi commented on #853
@morevnaproject what this https://github.com/synfig/synfig/blob/3f2f45710e2980c040cd5f80c3aa3a16a4c9ced5/synfig-studio/src/synfigapp/actions/layerencapsulate.cpp#L169 does?

I tried the code below:
[code]
the layers are created but not niether the green group is visible or the outlines on the layer panel

[2019-07-20 15:16] olobin opened #887 "Wrong top menubar position on multimonitor system"
**Synfig version & platform**:
Ubuntu 18.04.2 LTS x64

Affected:
SynfigStudio-1.2.2-18.09.14-linux64-286f1.appimage
SynfigStudio-1.3.11-testing-19.02.09-linux64-9583a.appimage

Not affected:
Version 1.2.1 from Ubuntu repositories

**Issue description**:
On Ubuntu system with 2 monitors, if the main monitor's top side is lower than second monitor's top side, on second monitor Synfig show top menuba

[2019-07-20 15:40] ankit-kumar-dwivedi commented on #781
I don't see any crash on Linux Mint 19
@morevnaproject I think this should be closed. [^_^]

[2019-07-20 15:52] morevnaproject commented on #828
@blackwarthog I wonder, how long we had this issue with linear interpolation? If it was existing for older versions, then we probably need to bump canvas version and make sure the interpolation will work old way with old files. Otherwise the animation might get broken in some cases.

[2019-07-20 15:56] morevnaproject commented on #781
@ankit-kumar-dwivedi Did you tested on Debug build type? This error happens on Debug build only. ^__^

[2019-07-20 15:59] ankit-kumar-dwivedi commented on #781
yes I tried on debug build 2-3 times

[2019-07-20 16:02] ankit-kumar-dwivedi commented on #781
this time it crashed with the following error
[code]

[2019-07-20 16:04] morevnaproject commented on #887
This looks like a GTK bug. And it seems to be because top edge of left monitor (3) is set higher than top edge of main monitor (1).

![61580422-d3a7ce00-ab1a-11e9-850f-0d4ee8ea274a](https://user-images.githubusercontent.com/332868/61580983-8b9ca180-ab42-11e9-9fd3-064f2d3d1089.jpg)

Can you please report a version of gtk3 installed in your system?

[2019-07-20 16:05] morevnaproject commented on #781
Looks like you tried on different branches.

It is possible the issue is fixed by this commit - 717751edcb711848bfcb1e181a3a399b3063e953

[2019-07-20 16:06] morevnaproject commented on #885
@blackwarthog Can you take a look, please? ^__^

[2019-07-20 16:18] olobin commented on #887
ii  libgtk-3-0:amd64         3.22.30-1ubuntu4  amd64             GTK+ graphical user interface library
ii  libgtk2.0-0:amd64        2.24.32-1ubuntu1  amd64             GTK+ graphical user interface library

[2019-07-20 18:38] ankit-kumar-dwivedi commented on #853
@morevnaproject @blackwarthog I just saw (0,1) is converted to (0,59.99999) this multiplier is making my outline layers too large to fit.

[2019-07-21 04:12] blackwarthog commented on #853
can you find points in code where yet (0,1) and where already (0,59.99999)?

[2019-07-21 06:07] ankit-kumar-dwivedi commented on #853
@blackwarthog here https://github.com/ankit-kumar-dwivedi/synfig/blob/070ffc8e7a669ad225593576885d5f4f08815854/synfig-studio/src/gui/vectorizer/centerlinetostrokes.cpp#L139-L141
from the code above I used `set_vertex(synfig::Point(0,1));` `set_vertex(synfig::Point(0,-1));` `set_vertex(synfig::Point(1,0));` but is showing (0,59.9999),(0, -59.9999) and (59.9999,0) in param see screenshot below
![ima

[2019-07-21 07:28] morevnaproject commented on #853
This is because Synfig internally stores values in Units, while GUI displays it in Pixels.
https://wiki.synfig.org/Unit_System

Your values are in pixels, but you assign them to variable which treats them in units. So, you have to convert them to units first. ^__^

[2019-07-21 07:32] morevnaproject commented on #853
I assume `children_lock` in `ValueBase(children_lock)` is a `bool` variable.
So it sets "children_lock" param of `new_layer` to value of `children_lock` variable.

[2019-07-21 08:30] ankit-kumar-dwivedi commented on #853
I saw

and why is not exactly 60 and 59.999998 in the param list?

[2019-07-21 08:31] morevnaproject commented on #853
That's some rounding error. You can ignore that.

[2019-07-21 08:32] morevnaproject commented on #853
Consider, that 1 unit is not always equal to 60 px. It depends on canvas settings.

[2019-07-21 08:34] morevnaproject commented on #853
Right now I am not sure where the problem is. Need to  look later. As for now I can see you reverted the group creation. That's OK. I suggest to try
[code]

instead of

[code]

(this way outline layers should be added outside of switch group.

[2019-07-21 08:47] ankit-kumar-dwivedi commented on #853
So finaly :smiley:
@morevnaproject this is how it looks like
![image](https://user-images.githubusercontent.com/37617951/61589029-31432580-abc2-11e9-88cb-ecaeae6853f5.png)

[2019-07-21 09:04] morevnaproject commented on #853
EXCITING!!!

[2019-07-21 13:26] ankit-kumar-dwivedi commented on #853
Things worth noting and to be resolved:
- every outline have an origin point(0,0) which is distorting the image
- points are always +ve so the placement will start from the middle of draw area
- I thought set_width() with each BlinePoint will set the outline width as the control points  are in the form of (x, y, thickness) but the outline width has not controlled this way
- In this particular exam

[2019-07-21 13:28] ankit-kumar-dwivedi commented on #853
@morevnaproject
[code]
This create a group (description) as seen in above screenshot
But how do I add my add my outline layers to the group?
I tried
[code]
But then neither the group nor layers were visible in the layer panel. I know canvas is simply a group of layers but why the first one worked and 2nd didn't?

[2019-07-22 12:44] morevnaproject commented on #853
@ankit-kumar-dwivedi
You need to replace
[code]
to
[code]

You will see no visible change in Layers Panel, but this is because there should be a signal called to refresh it.

For now, to see changes just create any new layer on top of yellow group.

[2019-07-22 12:46] morevnaproject commented on #853
Some explanation: `new_layer->get_canvas()` gives a canvas, which new layer (group) is **belongs to**. This is not a canvas inside of  group.

[2019-07-22 12:54] morevnaproject commented on #853
To update canvas you need to call a signal - https://github.com/synfig/synfig/blob/8ca676eab47c0b2b60edfa510cc63b37a9a9e25e/synfig-studio/src/synfigapp/actions/layeradd.cpp#L139-L142

But for that you will need to access `canvas_interface` (via `get_canvas_interface()`). This function is available through action. So, I think, it is time to wrap your vectorizer code into Synfig Action.

[2019-07-22 12:59] ankit-kumar-dwivedi commented on #853
Okay [^_^]

[2019-07-22 15:09] morevnaproject commented on #828
After a quick discussion with @blackwarthog we've come to conclusion that compatibility here is not easy to handle and it actually not affects cases that I initially thought about.

[2019-07-22 15:09] #828 closed

[2019-07-23 17:53] ankit-kumar-dwivedi commented on #853
@blackwarthog I think you can surely help in this [^_^]
The code https://github.com/ankit-kumar-dwivedi/synfig/blob/fda0d8447c8627a3d965a4e1821958cc8cddbe5a/synfig-studio/src/gui/vectorizer/centerlinevectorizer.cpp#L129-L139
creates a group containing all the outlines inside the switch group which contains the image. What changes should I do so that the group containing the outlines is created out

[2019-07-23 18:10] ankit-kumar-dwivedi commented on #853
This can be solved by origin shifting for the outlines

This is resolved now

For now I have set `outline width = 5.0`

@morevnaproject any suggestions about this?

[2019-07-24 06:39] morevnaproject commented on #853
creates a group containing all the outlines inside the switch group which contains the image. What changes should I do so that the group containing the outlines is created outside the switch group.

You need to change
[code]
to
[code]

As, I have said in [my previous comment](https://github.com/synfig/synfig/issues/853#issuecomment-513775830):

Also, to get your changes reflected in Layers Panel y