[2019-07-24 06:41] morevnaproject commented on #853
Sorry, I do not know. You should look at your code and check why points at (0;0) are inserted in outline.

[2019-07-24 06:45] ankit-kumar-dwivedi commented on #853
@morevnaproject that is the default origin point for outlines I am not explicitly inserting it

[2019-07-24 06:47] morevnaproject commented on #853
In my opinion, separate issues should be created for tasks that are postponed for later (you cannot do them soon) and you do not want to forget about them. ^__^

If some problems are parts of existing issues (and they are relatively small), then it is okay to create a list of "TODO" tasks as checklist:

- [ ] item 1
- [ ] item 2
- [ ] ...

[2019-07-24 06:58] morevnaproject commented on #853
Sorry, I didn't understood your problem then.

On your screenshot I can see Outline Points at (0;0). How did they get inserted?
![screenshot_001](https://user-images.githubusercontent.com/332868/61771760-d6f0d180-ae1a-11e9-83f0-237a7b94c7b0.png)

(they are under green point, but I can see them because of dashed lines).

Origin point of Outline Layer is different concept. Origin defines location of

[2019-07-24 06:59] morevnaproject commented on #853
@ankit-kumar-dwivedi In any case, your main priority right now is to convert your code into Synfig Action. ^__^

[2019-07-24 07:02] ankit-kumar-dwivedi commented on #853
Okay, Sir! Working on that now [^_^]

Actually, the segment point list does not contain (0,0) I will see if there is somewhere (0,0) being added
Anyways closing this issue now as we have achieved the output.
creating a new issue for various outline issues. As of now will start will actions ASAP!

[2019-07-24 07:03] #853 closed

[2019-07-24 07:09] ankit-kumar-dwivedi opened #891 "[Vectorization] Fix outline issues after centerline vectorization"
### This issue is a part of [Vectorization of bitmaps [GSoC 2019]](https://github.com/synfig/synfig/issues/735)

**Issue description**: The outline layers are being created, however [some things need to be fixed.](https://github.com/synfig/synfig/issues/853#issuecomment-513554516)

- [x] Origin shifting of the outline to fit into draw area, Currently outlines contain only +ve points

- [x] Set out

[2019-07-24 07:14] morevnaproject commented on #853
Good luck! ^__^

[2019-07-24 17:09] #403 closed

[2019-07-24 17:09] #629 closed

[2019-07-25 16:51] ankit-kumar-dwivedi opened #895 "Support to know progress of action using GUI"
**Issue description**: While working on vectorization I am creating an action that will wrap the vectorization code. The problem is to display the progress I need to know the progress of action and if cancel is pressed in between vectorization then action should stop and delete temporary data.
In general, how do we communicate GUI and action system?

ping @blackwarthog @ice0

<bountysource-plugin>

[2019-07-26 16:03] blackwarthog commented on #895
1. Make your vectorizer dialog modal (see Gtk::Window::set_modal()). To lock all other synfig GUI while vectorizer dialog visible.

2. Add any progressbar widget

3. Add code into work cycle to update progressbar value and repaint it. Some pseudocode:
        x += 1;
	progressbar.set_progress(x);
	studio::App::process_all_events();
	// ^ by this method you can process all pending gtk events
	// wi

[2019-07-26 16:30] morevnaproject commented on #895
@blackwarthog The problem is that all vectorization process will be done inside of Synfig Action (which is a part of synfigapp). And `synfigapp` doesn't know anything about gui.

[2019-07-26 16:33] morevnaproject commented on #895
...so, in fact, the solution would be to add ProgressCallback to Action class.

[2019-07-26 16:36] blackwarthog commented on #895
I thing we do not need in a vectorizer action.
We need a dialog, with several settings, and, may be preview (in future). This seems unusable as an action.
Just use one action "add layer", layer will be prepared by vectorization module.

[2019-07-26 16:37] ankit-kumar-dwivedi commented on #895
Throwing in more info:
Actually, the action will act as a wrapper it will take layer and all other necessary params as input.
Then in perform() method I will pass the image and configuration just like this and in return will get the outline layer list
[code]
so vCore is actually performing the task and not the action. Can't we just write some code in vCore to open a progress bar and control it's p

[2019-07-26 16:39] morevnaproject commented on #895
And what if we will write a scripting system (in the future)? I am sure the scripting system will be based on actions. And vectorization will be useful for scripting. ^__^

This can be done, but looks hacky in my opinion. ^__^

[2019-07-26 16:39] morevnaproject commented on #721
Hi @b3u !
I have outlined my vision about rendering dialog(s) in the first comment  - https://github.com/synfig/synfig/issues/721#issue-406833090 ^__^

[2019-07-26 16:43] blackwarthog commented on #895
hm.. yes, `canvas_interface()->get_ui_interface()` is also the implementation of ProgressCallback

but...

[2019-07-26 16:54] ankit-kumar-dwivedi commented on #895
@morevnaproject
This seems feasible at present... and if user press `cancel` in between the process then no layer will be created. But in this case, vectorization will not actually be an action.

[2019-07-26 17:09] blackwarthog commented on #895
We never used long time actions (UI can show 'One moment' window, but it looks like a hack). But actually we have abilities to change messages in a statusbar, and we can add the progress bar. Also we need to check is our UI locking while action is performing, and we need to add 'cancel' button in UI.

Hm... we need to reset cancel-status sometimes, but ProgressCallback does not provide this functi

[2019-07-26 21:00] rodolforg commented on #418
I try it and can reproduce also.
However, changing "Horizon" parameter can make it appear again.

[2019-07-27 02:03] morevnaproject commented on #895
Grouping/duplicating layers also not looks like a tool. ^__^ There are also a bunch of other actions, like exporting canvas, exporting valuenodes - they all do not look like a tool.

No. The action will have all parameters relevant to GUI dialog.

Here is a GUI dialog for vectorization:

![66486396_459704011475855_2251478008965627904_n](https://user-images.githubusercontent.com/332868/61988479-0a6

[2019-07-27 03:21] ebarranco opened #896 "Dragging on canvas makes Synfig crash"
**Synfig version & platform**:
Master
Linux
**Issue description**:
Click dragging on canvas while the timeline is buffering makes Synfig crash every time even with an empty canvas. [I show you how here.](https://youtu.be/R4UtUTzmnB8)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/77820427-dragging-on-canvas-makes-synfig-crash?utm_c

[2019-07-27 05:15] blackwarthog commented on #895
Yes we have one hack - action can require one string.
And provide a default value to this string is a second hack - we should to break an action internal structure and bring input parameters checks to get_param function and keep duplicate in is_ready().

Here this code:
https://github.com/ankit-kumar-dwivedi/synfig/blob/vectorization/synfig-studio/src/gui/dialogs/vectorizersettings.cpp
And we alwa

[2019-07-27 16:48] morevnaproject commented on #257
@rodolforg This possibly could be solved in the same way as #629?

[2019-07-27 16:55] ankit-kumar-dwivedi commented on #881
@morevnaproject can I use layerencapsulate action in my vectorization action to create the group? I am asking this as the https://wiki.synfig.org/Dev:Action_System says I can call action inside action if I inherit super

[2019-07-28 06:26] ankit-kumar-dwivedi commented on #780
@morevnaproject it's been 2 months and no response So I guess it is safe to un-assign this one [^_^]

[2019-07-28 06:29] ankit-kumar-dwivedi commented on #725
@morevnaproject is this still unresolved?

[2019-07-28 06:33] ankit-kumar-dwivedi commented on #667
@morevnaproject Closing this one!

[2019-07-28 15:30] rodolforg commented on #257
@morevnaproject  I can do a hack'ish way :/

[2019-07-28 17:28] ankit-kumar-dwivedi commented on #881
@blackwarthog a little help neede. How do I get the interface or instance here?
https://github.com/ankit-kumar-dwivedi/synfig/blob/51cf3ee1afc592212adb47b936424e76ea229fc9/synfig-studio/src/gui/dialogs/vectorizersettings.cpp#L317

[2019-07-28 17:48] ebarranco commented on #725
@rohitsanjay It's working for me since a while.

[2019-07-28 19:11] blackwarthog commented on #881
i think the best way is to pass it to constructor of VectorizerSettings

[2019-07-28 19:32] BobSynfig commented on #725
I will try with a fresh virtual machine.
All the scripts need to be tested on a "virgin" system to ensure all required dependencies will be installed properly and not already existing in the system.

[2019-07-28 23:57] rodolforg commented on #257
DONE :O

[2019-07-29 07:26] morevnaproject commented on #303
Fixed via #898

[2019-07-29 07:26] #303 closed

[2019-07-29 07:31] morevnaproject commented on #257
@rodolforg I suspect your fix (PR #898) also covers your previous fixes with Delete/Home/End keys. I mean, now it is possible to make those keys global (at the moment they are only active when CanvasView/LayerPanel focused). That would simplify things a bit. ^__^

[2019-07-29 07:34] morevnaproject commented on #257
@rodolforg Also, please make sure to identify that you solved the issue at bounty page - https://www.bountysource.com/issues/38567642-copy-pasting-using-keyboard-shortcuts-should-respect-input-focus ^__^

[2019-07-29 07:41] morevnaproject commented on #257
Reopening, so I will not forget about this

[2019-07-29 07:43] #674 closed

[2019-07-29 07:45] morevnaproject commented on #725
@BobSynfig  Thanks for taking on this!

[2019-07-29 12:42] morevnaproject commented on #667
@ankit-kumar-dwivedi Thank you! ^__^

[2019-07-29 13:29] rodolforg commented on #257
Yep, that could be done. However, we'll lose:
1. the Home/End key press behavior for list widgets like Layer dock
2. possible Delete usage for waypoints in Timetrack dock

It's a matter of choice. If so, just git revert that commits and change Ctrl+delete to Delete.

[2019-07-29 13:35] rodolforg commented on #546
@morevnaproject what about this here?

[2019-07-29 14:04] morevnaproject commented on #257
Got it. That's okay, in my opinion.

This is important for the future. Is it possible to change condition in `MainWindow::on_key_press_event()`  to check if focus is on TimeTrack?

[2019-07-29 15:07] rodolforg commented on #257
Yes, it's possible. Maybe any GtkDrawingArea should have priority?

[2019-07-29 17:21] ankit-kumar-dwivedi commented on #881
I passed the `selected_instance` from app.cpp. The code compiled however crashed with following error
[code]

[2019-07-29 19:17] blackwarthog commented on #881
what assertion at vectorizersettings.cpp:299 ?

[2019-07-29 19:46] ankit-kumar-dwivedi commented on #881
@blackwarthog that is assert(action)
The action I created (i.e Vectorization)
Do we have to add the action name somewhere other than make files?

[2019-07-30 01:16] Keyikedalube opened #899 "AppImage version takes a long time to open"
**Synfig version & platform**:
1.3.11
1.2.2

on Fedora 30 workstation

**Issue description**:
I tried both AppImages and had the same trouble; they both took a long time (maybe around 2 mins) before Synfig program successfully launched its window.
Tried launching the program on Terminal and noticed the program hangs from this line:

Fontconfig error: Cannot load default config file

<bountysource-

[2019-07-30 02:54] morevnaproject commented on #881
@ankit-kumar-dwivedi You have to add Vectorizer action here - https://github.com/synfig/synfig/blob/master/synfig-studio/src/synfigapp/action.cpp#L190

[2019-07-30 03:01] morevnaproject commented on #881
@ankit-kumar-dwivedi Also, I found that Vectorizer action is referencing `.h` file from `gui` directory - https://github.com/ankit-kumar-dwivedi/synfig/blob/21cafcc2ba70cafbc879741a5442a0ffcc8cd305/synfig-studio/src/synfigapp/actions/vectorization.h#L32

This is not good if code at `synfig-studio/src/synfigapp` is referencing code from `synfig-studio/src/gui`, because there is a dependency "gui" m

[2019-07-30 03:09] ankit-kumar-dwivedi commented on #881
Okay thanks!

Working on that now 👍

[2019-07-30 10:01] BobSynfig commented on #725
Build successful following the official instructions found at https://synfig-docs-dev.readthedocs.io/en/latest/common/building.html#linux on a fresh Manjaro KDE install.
Synfig is executing correctly.

The only thing I did after install was a `sudo pacman -Syu` to update the system.

During `./1-setup-linux-native.sh` phase, I just had a few minor, non-blocking errors:
![MinorErrors](https://user-

[2019-07-30 14:51] ankit-kumar-dwivedi commented on #881
@morevnaproject done moving vectorizer files [^_^]
The code https://github.com/ankit-kumar-dwivedi/synfig/commit/8ca93aac197fbd58ee74468ef1bd0dd4ea26a419 compiled succesfully
 I get the following output while running the program.
[code]
as all the debug lines are getting printed so I am confused what is causing the error :confused:
https://github.com/ankit-kumar-dwivedi/synfig/blob/8ca93aac197fbd5

[2019-07-30 15:59] morevnaproject commented on #881
Hmmm... @blackwarthog any ideas?

[2019-07-30 16:01] morevnaproject commented on #725
@BobSynfig Thank you for testing! Closing now. ^__^

[2019-07-30 16:01] #725 closed

[2019-07-30 16:12] blackwarthog commented on #881
may be add:

new_layer->set_canvas( layer->get_canvas()->parent() );

[2019-07-30 16:18] morevnaproject commented on #881
@ankit-kumar-dwivedi

1. We need to check what is really causing the troubles - the vectorizer action itself, or code outside of it. So, try the following: instead of calling Vectorizer action, try to call some other Synfig action - LayerAdd or Encapsulate. If you will make it work without crash, then the problem is inside of Vectorizer action. Otherwise the problem is outside.

2. If the problem

[2019-07-31 13:21] morevnaproject commented on #881
@ankit-kumar-dwivedi Did anything of above worked for you? ^__^

[2019-07-31 15:28] ankit-kumar-dwivedi commented on #881
@morevnaproject I tried this with LayerAdd and the action worked fine. So now finding what is causing an error in the vectorizer.

[2019-07-31 15:33] ankit-kumar-dwivedi commented on #881
[code]

[2019-07-31 16:06] ankit-kumar-dwivedi commented on #881
Well... even after I comment all the lines in `Action::Vectorization::perform()`  it still crashed.
@blackwarthog any ideas?

[2019-08-01 00:47] blackwarthog commented on #881
you (still) need to add following line into perform():

new_layer->set_canvas( layer->get_canvas()->parent() );

[2019-08-01 02:52] morevnaproject commented on #881
I tested and it doesn't crash when `instance->perform_action(action)` is commented out in `vectorizersettings.cpp`.

[2019-08-01 02:59] morevnaproject commented on #881
In such situation I suggest to  use a debugger and see what exactly riggers the crash.

[2019-08-01 15:36] ankit-kumar-dwivedi commented on #881
Thanks to @morevnaproject I used the debugger and found this:
![67403241_871615289884328_7696820233268363264_n](https://user-images.githubusercontent.com/37617951/62306540-b4585b80-b49f-11e9-95d1-8f545aafcf61.png)

So i needed to do two things:

- set `canvas` param
- set `canvas_interface` param

after this the error was fixed and the vectorizer works great!

**Have a look at the output**

![imag

[2019-08-01 15:38] ankit-kumar-dwivedi commented on #881
Closing the issue as I have wrapped the vectorizer to action now

[2019-08-01 15:53] morevnaproject commented on #881
This is absolutely exciting! Congratulations! :1st_place_medal:

[2019-08-01 15:56] blackwarthog commented on #881
in function Action::Vectorization::is_ready() do following:

[code]

in VectorizerSettings::on_convert_pressed() add lines:

[code]

[2019-08-01 16:07] blackwarthog commented on #881
we need to check what happens when Layer_Import will outside any group at root level - seems will be a crash.

i think we need to get parent canvas only if parent layer exists and it is Layer_Switch.
also in action we should not to decide where put the result - just add it to canvas that passed as parameter
target canvas will find by VectorizerSettings dialog.

but better we should not to get the

[2019-08-01 16:29] blackwarthog commented on #881
vectorizer as an action is a bad idea

in synfig api actions does not decide where put the result, target comes from GUI,
but in this case we should to create action which do no changes with any opened canvases, and we have no place where we can store this action in history, and we cannot to bring any sence to 'undo action' command

actions is the records in the changelog (history)
it's is not the

[2019-08-01 16:43] morevnaproject commented on #881
Agree.

That makes sense.

but in this case we should to create action which do no changes with any opened canvases, and we have no place where we can store this action in history, and we cannot to bring any sense to 'undo action' command

I'll answer one-by-one below ^__^ -

It does changes - it does vectorization and places result (outlines) in canvas.

Undo action will remove a group, which con

[2019-08-01 16:46] ankit-kumar-dwivedi commented on #881
please note I have not written undo() yet and writing it currently using this logic

[2019-08-01 16:55] morevnaproject commented on #881
I am re-opening this issue to address following:

- [ ] Write undo
- [ ] `vectorizersettings.cpp` should check if LayerBitmap is inside of LayerSwitch or not and set "canvas" param accordingly ("canvas" param is set to `bitmap_layer->get_canvas()->parent()` if LayerBitmap is inside of LayerSwitch; "canvas" param is set to `bitmap_layer->get_canvas()` otherwise ).
- [ ] In `vectorization.cpp` chang

[2019-08-01 17:00] ankit-kumar-dwivedi commented on #881
Doing them now

[2019-08-01 17:15] ankit-kumar-dwivedi commented on #881
this will create the group inside switch do we really want that? @blackwarthog

[2019-08-01 17:19] ankit-kumar-dwivedi commented on #881
My bad this will not let that happen

[2019-08-01 17:31] blackwarthog commented on #881
action should not decide where to place the result layer
in common we use two actions - LayerAdd and LayerMove to do this
but here we have three actions in one - vectorize+layeradd+layermove

(part of layermove actually not implemented yet in vectorize action, and it will be a next hack)

so pure vectorization action should not to change canvas - just returns new not liked to any canvas Layer_Grou

[2019-08-01 17:45] ankit-kumar-dwivedi commented on #881
but @blackwarthog calling vectorization on same will actually give same result until and unless the layer is a different image because it directly use RGBA values which will not change when the user rerun vectorizer.
The possibilty is that he/she wants to run the process with some new configuration paramters. in this undo() is not what should be use you have to revectorize the image.

That's what

[2019-08-01 17:53] ankit-kumar-dwivedi commented on #881
I have a little hack in mind for this.
we have two different right click options for inside switch and on switch right click. So why not utilize it? I can pass a variable from there that can simply tell if layer is inside of switch or not
@blackwarthog @morevnaproject thoughts?

[2019-08-02 09:47] morevnaproject commented on #881
I like this idea!

[2019-08-02 14:50] ankit-kumar-dwivedi commented on #881
@morevnaproject I have implemented all the given recommendations.
please review

[2019-08-03 05:18] ankit-kumar-dwivedi commented on #891
![image](https://user-images.githubusercontent.com/37617951/62407804-1e761b00-b5dc-11e9-9989-1e5fbce7930d.png)

Fixed (0,0) addition in https://github.com/ankit-kumar-dwivedi/synfig/commit/c6a6aca162bdda2554efa5d20f03e01c4c48245c

[2019-08-03 05:21] ankit-kumar-dwivedi commented on #891
@morevnaproject even the bottom-left point being origin is incorrect as from the image above shifting will shift the origin to this point itself so I guess this won't work.

Also how to set a variable width of the outline? I mean different width at different points?

[2019-08-03 06:18] morevnaproject commented on #891
Please check transformation of yellow group (the one which contains an image). It is possible you shifted/scaled it after importing image.

You can set width for each BlinePoint - https://github.com/ankit-kumar-dwivedi/synfig/blob/vectorization/synfig-studio/src/synfigapp/vectorizer/centerlinetostrokes.cpp#L69

[2019-08-03 06:33] ankit-kumar-dwivedi commented on #891
@morevnaproject no perform no transformation. However I just realized I need to align outline with image and not the canvas. This could be the reason of origin mismatch.

[2019-08-03 06:54] morevnaproject commented on #891
BTW, it would be nice to copy transformation parameters from Yellow Switch group (vectorization source) to Green Group (vectorization result). Of course only in case if Bitmap Layer is wrapped into Yellow Group. ^__^

[2019-08-03 10:19] ThaFireDragonOfDeath opened #905 "CMAKE BUILD: Synfig Studio crashes at start (.ui files not found)"
**Synfig version & platform**:
Plattform: Manjaro Linux
Synfig version: Master (9bf1b3778b34790904d9c241b8da62e31ef103e4)

**Issue description**:
When Synfig Studio is build with 2-build-cmake.sh and the build result is started with the run-portable.sh Synfig Studio crashes with the following error output on the command line:
"synfig(18626) [12:08:25] error: FileError: Failed to open file “/home/v

[2019-08-03 10:44] blackwarthog commented on #796
In latest master synfig always render a second picture (a lot of glowing)

and also GIMP has the same bug:

![poster-v0-layer-3-bg](https://user-images.githubusercontent.com/5143743/62410814-cd195c00-b5da-11e9-9649-99f061f21130.png)

[poster-v0-layer-3-xcf.zip](https://github.com/synfig/synfig/files/3463717/poster-v0-layer-3-xcf.zip)

seems this glowing was painted in picture

[2019-08-03 17:39] ankit-kumar-dwivedi commented on #891
@morevnaproject Now the outline is closed compared to above so we can use the fill colour option too.
![image](https://user-images.githubusercontent.com/37617951/62415170-1dc49f80-b643-11e9-913e-44cff2611e8c.png)

See the gaps in the result outline

This was the vertex which was being initialized to (0,0) instead so now we get better results [^__^]

[2019-08-03 18:48] ankit-kumar-dwivedi commented on #891
Origin shiting to overlap the original curve is also done now. https://github.com/ankit-kumar-dwivedi/synfig/commit/9bb79ce6a64ffdc8fa8347b2642738159f47817e

[2019-08-04 06:15] morevnaproject commented on #829
@blackwarthog can you take a look, please? ^__^

[2019-08-04 07:29] #829 closed

[2019-08-04 07:54] ankit-kumar-dwivedi commented on #891
Yes I can add some code to pass param here https://github.com/ankit-kumar-dwivedi/synfig/blob/9bb79ce6a64ffdc8fa8347b2642738159f47817e/synfig-studio/src/gui/dialogs/vectorizersettings.cpp#L319-L321

[2019-08-04 08:38] blackwarthog commented on #424
It was possibly fixed in latest master (4a5bf0f375545163a306465f37df1f169d40910b). Need to recheck.

[2019-08-04 09:04] BobSynfig commented on #899
Same on Fedora 30 with 1.3.11 (1.2.2 not tested), for the first execution.
Later it is faster, maybe doing some caching operation.

`Fontconfig error: Cannot load default config file` is known and due to differences of version of Fontconfig between Synfig (embedded lib) and Fedora (local font files).
But this doesn't prevent the app to work.
See https://github.com/synfig/synfig/issues/682 for full

[2019-08-04 15:03] BobSynfig commented on #905
I added the missing informations in the corresponding CMakeLists.txt files.
Commited directly as it is minor modifications but of course compiled, verified and executed on my machine first ;)
Please try again

[2019-08-05 05:23] #885 closed

[2019-08-05 05:30] blackwarthog commented on #885
Vertices was disappeared any time when you moving it. This behavior is fixed now.

When you touch first vertex by tablet stylus have a jittering and the gesture determines as a drag instead of click.

[2019-08-05 05:38] blackwarthog commented on #716
Works fine in latest master. Please recheck.

[2019-08-05 11:19] morevnaproject opened #908 "[Vectorization] Crash on vectorizing image "test-3-2017-08-04-yaga-tea-orig.png""
Image -
![test-3-2017-08-04-yaga-tea-orig](https://user-images.githubusercontent.com/332868/62460854-4f597a00-b7ad-11e9-80d6-8151ee0daebc.png)

Call stack -

![screenshot_001](https://user-images.githubusercontent.com/332868/62460899-7b74fb00-b7ad-11e9-902d-f7178c14b88b.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/78250581-v

[2019-08-05 12:01] morevnaproject commented on #891
I am not sure how to properly achieve that...

The only way I see is to pass the layer (the one that user clicked on) to VectorizerSettings dialog. Let's say it will be stored in variable called `reference_layer`.
Then in `on_convert_pressed()` function, pass `reference_layer` as param to action (let's assume the param will be called the same - "reference_layer").

Then add code to action's `perfo

[2019-08-05 12:10] morevnaproject commented on #796
Yes, I can confirm that. This is incorrect result.

Here's how it looks when PNG file is mixed wiht black background in Krita:

![screenshot_002](https://user-images.githubusercontent.com/332868/62463472-50da7080-b7b4-11e9-9bdd-f64577fd257f.png)

Same image, 1:1 scale -

![screenshot_003](https://user-images.githubusercontent.com/332868/62463487-5932ab80-b7b4-11e9-9e75-b75effeeb194.png)

This is w

[2019-08-05 12:15] morevnaproject commented on #424
@blackwarthog Confirmed, the issue is fixed. ^__^

Unfortunately, I have noticed another issue appeared - the playback is much slower now (more dropped frames) if any sound layer exists (and enabled) in document. That happens even if document has no graphic layers.

In any case, it's better to have slower playback than "twice-played"/"async" playback that we had before that. ^__^

[2019-08-05 12:19] morevnaproject opened #909 "[Vectorization] Distorted result after vectorizing image "test-3-2017-08-04-yaga-tea.png""
This is the same image as #908, but smaller size.
![test-3-2017-08-04-yaga-tea](https://user-images.githubusercontent.com/332868/62464007-b1b67880-b7b5-11e9-9567-e98f8b843e6f.png)

On running the vectorization process the result is not always correct. There is a bad result as well for example in the below image.

Vectorization completes successfully, but the result is the following (lots of extra

[2019-08-05 12:32] ankit-kumar-dwivedi commented on #909
@morevnaproject I suspect this to be related with "2 result error" which I mentioned on the forum. I am building synfig now. Will update about what is causing this. AFAIK this is front the first step, i.e polygonize it create 2 output which further creates two output. I need some time to find the exact point of error

[2019-08-05 12:32] #238 closed

[2019-08-05 15:16] ankit-kumar-dwivedi commented on #909
@morevnaproject seems like I was correct.
When I run the vectorizer I got this initially
![image](https://user-images.githubusercontent.com/37617951/62475116-019b3c80-b7c2-11e9-86d4-10b795dc6de6.png)

and on 2nd run, I got the same result as your
![image](https://user-images.githubusercontent.com/37617951/62475008-c00a9180-b7c1-11e9-9f4b-c6d322ab7c25.png)

So, changing the issue description now fo

[2019-08-05 15:34] ankit-kumar-dwivedi commented on #908
@morevnaproject no crash for me **however, took a very long time to render (155 outlines)**
![image](https://user-images.githubusercontent.com/37617951/62476249-3c9e6f80-b7c4-11e9-87a7-12c6386a43d8.png)
PS: sorry my canvas settings made it look like this

[2019-08-05 15:39] ankit-kumar-dwivedi commented on #908
@morevnaproject what is your system configuration in which crash happened?

[2019-08-05 15:39] blackwarthog commented on #896
seems to be fixed in ee269a82d
need to recheck

[2019-08-05 18:44] ebarranco commented on #896
Yes @blackwarthog this is working now and #617 seems fixed too! But we have this #870  back again...

[2019-08-05 21:40] ebarranco opened #910 "Sketch tool options lost"
**Synfig version & platform**:
Master
Linux

**Issue description**:

All Sketch tool options buttons disappear when you change to another tool and back to sketch tool.

[Demonstration video.](https://youtu.be/P67FlSUaa8E)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/78278506-sketch-tool-options-lost?utm_campaign=plugin&utm_conten

[2019-08-06 16:53] morevnaproject commented on #908
@ankit-kumar-dwivedi I have tested it with latest version of "vectorization" branch (the one which is after rebasing on top of master, commit 5f206ecf077) and it worked for me. ^__^

![screenshot_001](https://user-images.githubusercontent.com/332868/62559530-5ebbee80-b8a5-11e9-972d-e870ff105a94.png)

[2019-08-06 16:54] morevnaproject commented on #908
Woops, just tried second time and it is crashed. ^__^"

[2019-08-06 17:02] morevnaproject commented on #908
The crash is not always reproducible, but after several attempts it can be triggered. Here is a video showing crash (at 1:14 ) - https://www.youtube.com/watch?v=XvIkrIhXHjM

[2019-08-07 15:17] morevnaproject commented on #908
@blackwarthog any ideas?

[2019-08-07 17:24] ankit-kumar-dwivedi commented on #909
@blackwarthog I found the line causing error
https://github.com/ankit-kumar-dwivedi/synfig/blob/8c16a17053a5f477b0880ae6313ca0e640f2fae8/synfig-studio/src/synfigapp/vectorizer/centerlineskeletonizer.cpp#L446

maxThickness is getting garbage value. Any Ideas what could be wrong?

[2019-08-07 17:35] ankit-kumar-dwivedi commented on #891
@morevnaproject after that we know there is a variable bool insideswitch that tells if the image is inside switch or not.
So if (insideswitch) then pass the param refernce_layer else do not pass i,e make it an optional param. then in perform if refernce_layer is passed simply copy the transformation

[2019-08-08 13:33] morevnaproject commented on #891
I think `insideswitch` variable is redundant. Checking type of `reference_layer` (is it switch group or not) can tell if user clicked on Switch Layer or Bitmap Layer.

[2019-08-08 13:39] ankit-kumar-dwivedi commented on #891
@morevnaproject Yes that was I was thinking so i replaced it with
`	if (etl::handle<Layer_PasteCanvas> paste = etl::handle<Layer_PasteCanvas>::cast_dynamic(reference_layer))
`

[2019-08-08 13:43] morevnaproject commented on #891
Great! ^__^

[2019-08-08 14:23] ankit-kumar-dwivedi commented on #891
@morevnaproject
![image](https://user-images.githubusercontent.com/37617951/62711154-2b4ca180-ba16-11e9-8da3-046686103175.png)
Transformation copy working now [^_^]

[2019-08-08 16:46] ankit-kumar-dwivedi commented on #908
seems to be fixed after https://github.com/ankit-kumar-dwivedi/synfig/commit/c2e1e98308fe1302b84d439b6c4a9f59d2923654
, please check

[2019-08-08 16:46] ankit-kumar-dwivedi commented on #909
seems to be fixed https://github.com/ankit-kumar-dwivedi/synfig/commit/c2e1e98308fe1302b84d439b6c4a9f59d2923654

[2019-08-08 16:47] ankit-kumar-dwivedi commented on #881
Closing now!

[2019-08-08 16:47] #881 closed

[2019-08-09 12:57] morevnaproject commented on #908
I cannot trigger the crash now. It is interesting to see for case where `maxThickness` has non-zero value. ^__^

[2019-08-09 13:09] ankit-kumar-dwivedi commented on #908
@morevnaproject in toonz code it is written that if we replace `maxThickness=0.0` then the result is not centerline but outline. Things are getting and now I am building morevna toonz to do a thorough comparison.

[2019-08-09 13:32] morevnaproject commented on #891
Hi! After reviewing code I found a declaration of `insideSwitch` remaining - https://github.com/ankit-kumar-dwivedi/synfig/blob/vectorization/synfig-studio/src/gui/instance.cpp#L93

Also, something makes me feel that declaring `my_layer_bitmap` and `reference_layer` as globals in `instance.cpp` is not a good practice. Can you try to implement it some other way? ^__^

[2019-08-09 13:40] morevnaproject opened #912 "[Vectorization] Fix placement of vectorization result"
At the moment vectorization result is placed at the very top of layer's stack.

Here's a sample file -
[test-5.zip](https://github.com/synfig/synfig/files/3486575/test-5.zip)
(notice the Translate layer on top of image layer).

![screenshot_002](https://user-images.githubusercontent.com/332868/62782839-433f2680-bae5-11e9-9954-036cb0359389.png)

After vectorization it looks like this:
(notice the r

[2019-08-09 13:43] morevnaproject opened #913 "[Vectorization] Do not use globals for "my_layer_bitmap" and "reference_layer" in "instance.cpp""
See here:

https://github.com/ankit-kumar-dwivedi/synfig/blob/c2e1e98308fe1302b84d439b6c4a9f59d2923654/synfig-studio/src/gui/instance.cpp#L92-L94

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/78494262-vectorization-do-not-use-globals-for-my_layer_bitmap-and-reference_layer-in-instance-cpp?utm_campaign=plugin&utm_content=tracker%2F

[2019-08-09 13:47] morevnaproject commented on #908
Hmmm.... So, I have another question: does it returns widthpoints for outline if `maxThickness=0.0`? Or outline width is constant in this case?

The question is related to this point of #891:
![screenshot_006](https://user-images.githubusercontent.com/332868/62783565-e5134300-bae6-11e9-87fd-24847dccd67c.png)

[2019-08-09 13:51] morevnaproject commented on #870
Reopening because of ee269a82d9200 and https://github.com/synfig/synfig/issues/896#issuecomment-518352110

[2019-08-09 13:57] morevnaproject commented on #891
I have added a separate issue about that - #908
This is not a top priority at the moment, but will need a fix. ^__^

[2019-08-09 14:10] ankit-kumar-dwivedi commented on #908
@morevnaproject the outline width is set 0 if we set maxThickness=0.0 because the output of skeletonizer is fed to next step.

So far we know following things:
- No crash happens and output(which is actually outline as width =0) is correct.
- **The logic inside the if(maxThickness>0.0)** is the only difference between zero and non zero width so this is the place where logical error is happening

I

[2019-08-09 14:28] ankit-kumar-dwivedi commented on #909
@morevnaproject is this class skippable?
https://github.com/morevnaproject/opentoonz/blob/ac3067fb0cdbdcbc4f7fca959cf0d6c212586fb4/toonz/sources/toonzlib/tcenterlineskeletonizer.cpp#L46

[2019-08-09 18:27] ankit-kumar-dwivedi commented on #909
Finally Fixed [^_^]

[2019-08-10 05:09] ankit-kumar-dwivedi commented on #891
@morevnaproject outline width is working but is there a multiplier I need to take care of?
![image](https://user-images.githubusercontent.com/37617951/62817846-eaaa7080-bb5a-11e9-9744-b7b48399eb4e.png)
The previous width(default) was set to 1.0 and it was looking fine now the average width is 5.0 but it looks like this is greater than the original image.

[2019-08-10 05:12] morevnaproject commented on #909
Confirmed! Great work! ^__^

[2019-08-10 05:12] #909 closed

[2019-08-10 05:13] morevnaproject commented on #908
Confirmed: this is fixed in https://github.com/ankit-kumar-dwivedi/synfig/commit/999212779a5eda163abfa8fa4e6bdb8071e7e35d

[2019-08-10 05:14] #908 closed

[2019-08-10 05:15] morevnaproject commented on #891
Awesome!
Yes, I think you should try to find multiplier. ^__^

[2019-08-10 05:15] ankit-kumar-dwivedi commented on #891
This is how another image look
![image](https://user-images.githubusercontent.com/37617951/62817899-fb0f1b00-bb5b-11e9-8315-d0e15642e2fb.png)

[2019-08-10 06:24] ankit-kumar-dwivedi commented on #891
pushed a possible fix https://github.com/ankit-kumar-dwivedi/synfig/commit/a6490014eb26ce8daa9c04f34fcc50e1a6e6755c

[2019-08-10 06:57] ankit-kumar-dwivedi commented on #912
@morevnaproject this is fixed in https://github.com/ankit-kumar-dwivedi/synfig/commit/cd0f9b9c04f10f0df420d9bd22322bf962067a1c
![image](https://user-images.githubusercontent.com/37617951/62818773-a377ac00-bb69-11e9-9b46-dc2af80134dc.png)
The panel shows correct z depth but not order.
However, the result is always created outside of the switch can you please have a look when you are free. [^_^]

[2019-08-10 17:33] morevnaproject commented on #912
I suggest to take a look at code of `layermove" action - https://github.com/ankit-kumar-dwivedi/synfig/blob/master/synfig-studio/src/synfigapp/actions/layermove.cpp#L149 ^__^

[2019-08-10 19:49] ThaFireDragonOfDeath commented on #905
Thanks, the problem is solved. Synfig Studio is now building and starting without problems.

[2019-08-10 19:49] #905 closed

[2019-08-11 05:31] #910 closed

[2019-08-11 05:42] morevnaproject commented on #891
This looks much better now!

[2019-08-11 17:24] ankit-kumar-dwivedi commented on #891
Should I consider this solved?

[2019-08-11 17:37] ankit-kumar-dwivedi commented on #912
@morevnaproject this is fixed now

[2019-08-12 10:23] morevnaproject commented on #891
Yes, good work! ^__^

[2019-08-12 10:23] #891 closed

[2019-08-12 15:29] morevnaproject opened #917 "[Lottie exporter] 004-image-group-cutout.sif fails to export"
**Synfig version & platform**:
Commit id: 394aeeafd73c646c

**Issue description**:
Test file - https://github.com/synfig/synfig-tests-regressions/blob/master/export/lottie/004-image-group-cutout.sif

Error:
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/78624253-lottie-exporter-004-image-group-cutout-sif-fails-to-export?utm_

[2019-08-12 15:45] morevnaproject opened #918 "[Lottie exporter] 005-vectors.sif exports, but playback fails"
**Synfig version & platform**:
Commit id: 394aeea

**Issue description**:
Test file - https://github.com/synfig/synfig-tests-regressions/blob/master/export/lottie/005-vectors.sif

The export completes successfully, but  when I opening html file in browser it plays till the middle of animation and then stops.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.

[2019-08-12 16:02] morevnaproject opened #919 "[Lottie exporter] 007-vectors-group-animated.sif - incorrect group animation after exporting"
**Synfig version & platform**:
Commit id: 394aeea

**Issue description**:
Test file - https://github.com/synfig/synfig-tests-regressions/blob/master/export/lottie/007-vectors-group-animated.sif

Here is a file in Synfig:
![007-vectors-group-animated](https://user-images.githubusercontent.com/332868/62879405-3e80a980-bd55-11e9-8d7d-911f1eea3974.gif)

The group is animated - it is stretched and move

[2019-08-12 18:21] rodolforg commented on #246
Should it still be done @morevnaproject  ?

[2019-08-12 20:00] rodolforg commented on #248
I don't have this problem with master branch in Linux.
[code]

[2019-08-14 14:46] limburgher commented on #863
From reporter:
Pulled the updates from master, built it, but the sound is not playing.

[2019-08-15 06:52] morevnaproject commented on #863
@limburgher Can you please provide a sound file you are trying to play?

[2019-08-15 06:58] morevnaproject commented on #912
@ankit-kumar-dwivedi For some reason this is not working correctly for me.

When I have the following setup:

![screenshot_001](https://user-images.githubusercontent.com/332868/63078116-ac4ef000-bf64-11e9-9f54-a2e4345b7908.png)

..the result is:

![screenshot_002](https://user-images.githubusercontent.com/332868/63078126-b375fe00-bf64-11e9-946c-71bf0333f76c.png)

(layer is displayed incorrectly in

[2019-08-15 10:55] ankit-kumar-dwivedi commented on #912
@morevnaproject fixed in https://github.com/ankit-kumar-dwivedi/synfig/commit/20a3ae6f1ccf3adf670b6a9bda972652db6f7656

![image](https://user-images.githubusercontent.com/37617951/63090498-17a2bd00-bf79-11e9-894e-d0df0034abee.png)

This is also fixed

[2019-08-15 14:21] morevnaproject commented on #912
Works perfectly now! ^__^

[2019-08-15 14:21] #912 closed

[2019-08-15 14:31] morevnaproject commented on #246
@rodolforg I am afraid it is best to implement this after rewrite of TimeTrack Panel - https://github.com/synfig/synfig/issues/762

In particular, [many issues related with waypoints](https://github.com/synfig/synfig/labels/Waypoints) will require re-writing TimeTrack, as described [here](https://github.com/synfig/synfig/issues/762#issuecomment-480570931).

[2019-08-15 14:35] morevnaproject opened #920 "[Vectorization] Remove references to non-implemented features in GUI"
Coding period of GSOC is coming to an end, so let's start preparing Vectorization feature for merging into master branch.

For that I propose to temporary hide all GUI parameters that are not implemented yet:
![screenshot_001](https://user-images.githubusercontent.com/332868/63102042-88130380-bfa4-11e9-9032-c5057a9af9c7.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on

[2019-08-15 17:13] ankit-kumar-dwivedi commented on #920
@morevnaproject I think tooltip text should also be implemented so I am adding that now [^_^]

[2019-08-15 18:30] ankit-kumar-dwivedi commented on #920
fixed in https://github.com/ankit-kumar-dwivedi/synfig/commit/fb91cf5760fd2ce061a21407025341894e0d0e8d
added tootltip text in https://github.com/ankit-kumar-dwivedi/synfig/commit/ffae6d06281ad02afb907c748c5fba1014dd142b
ping @morevnaproject

[2019-08-15 23:09] rodolforg commented on #246
@morevnaproject interesting. I saw this too https://forums.synfig.org/t/waypoints-what-could-be-the-future-of/2944 (but it has some broken links).

Besides, there is this pinned issue https://github.com/synfig/synfig/issues/267 too – somewhat related, but simpler to solve – a while ago. I started to work on it but let it aside. I think I'll resume this work first, because TimeTrack depends on Para

[2019-08-16 01:42] Keyikedalube commented on #863
@limburgher notified me to upload the sound file here:
https://drive.google.com/open?id=1IgnOK4WRb3tQtC4kRJjU7AlWl5AkeGmz

[2019-08-16 06:52] morevnaproject commented on #246
Yes,  earlier I tried to fix all broken links, but probably missed a few ^__^"

Yes, this is also a good starting point! ^__^

Awesome! ^__^

[2019-08-16 12:06] blackwarthog commented on #863
this file works fine in synfig master at debian 9

[2019-08-16 14:02] morevnaproject opened #921 ""Exclude from rendering" hides layer on workarea"
**Synfig version & platform**:
Synfig master branch, commit id 16f6a5cbc40e857

**Issue description**:
There is an incorrect behaviour of "Exclude from rendering" command:

When user choosing "Exclude from rendering" command for layer, then layer gets hidden not only in rendering, but also on workarea.

Expected behaviour: layer should be invisible on rendering, but **stay visible on workarea**.

[2019-08-16 14:19] limburgher commented on #863
Would mod_libavcodec not being present cause this? libavcodec isn't in Fedora for licensing reasons.

[2019-08-17 05:24] ankit-kumar-dwivedi commented on #920
Closing as changes done

[2019-08-17 05:24] #920 closed

[2019-08-17 05:30] ankit-kumar-dwivedi commented on #854
@morevnaproject I have made the progress bar and function to control progress.
As you mentioned I have to use `canvas_interface()->get_ui_interface()`. I saw examples in synfig where task and error are called using ui_interface. Do I also need to call some specific task?

PS: I tried adding the onemoment class but it shows nothing at all.

[2019-08-17 06:55] morevnaproject commented on #257
Maybe, but I am not sure. IIRC, we do not have much GtkDrawingArea widgets yet...

I have made modifications for "Delete" key - https://github.com/synfig/synfig/commit/03d322afb843a1abfc659000ab3bca80828f7536

For Home/End keys I left things as they are. ^__^

[2019-08-17 06:55] #257 closed

[2019-08-17 07:00] morevnaproject commented on #854
Maybe try `amount_complete()`? - https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/render.cpp#L437 ^__^

[2019-08-17 07:13] ankit-kumar-dwivedi commented on #854
it returns a bool I don't understand how `amount_complete(int, int)` will call `void
VectorizerSettings::set_progress(float value)`

[2019-08-17 09:13] blackwarthog commented on #863
try `melt` commandline utility to check how MLT library works:

    melt Hello.ogg

[2019-08-17 15:41] FadhilKwan commented on #716
First of all, i'm really sorry for the very late response, i was busy and somehow couldn't find the notification email for this reply. And also thanks a lot for helping out on fixing this problem (^-^;)

Long story short, i decided to build the master version (and wow, it took a really, really long time), and tried it out immediately.

Now for the results

Short answer :
yes, it finally loads. And

[2019-08-17 15:41] #716 closed

[2019-08-18 06:09] morevnaproject commented on #920
Looks good, thank you! ^__^

[2019-08-18 06:38] morevnaproject opened #923 "[Vectorization] Incorrect size/location of vectorization result"
Sample file -
[sticker-ivan-hq.zip](https://github.com/synfig/synfig/files/3512737/sticker-ivan-hq.zip)

Before vectorization:
![screenshot_003](https://user-images.githubusercontent.com/332868/63221061-5b860400-c1bd-11e9-9e70-606d1aca2885.png)

After vectorization:
![screenshot_004](https://user-images.githubusercontent.com/332868/63221062-60e34e80-c1bd-11e9-9b2f-608581228ca4.png)

Possibly this

[2019-08-18 06:53] ankit-kumar-dwivedi commented on #923
@morevnaproject By size/location you mean it should be in center? I guess location here does not mean location in layer panel. Looking into it (^_^)

[2019-08-18 07:11] morevnaproject commented on #923
Yes, this time it's location/size on workarea. ^__^

[2019-08-18 11:05] ankit-kumar-dwivedi commented on #923
@morevnaproject so do I have to align it to image size? and not the image area? or both?

[2019-08-18 11:13] ankit-kumar-dwivedi commented on #923
@morevnaproject the same settings produce correct output but the file you sent does now so i am confused why this is happening. Do let me know if I am missing anything

[2019-08-18 16:23] morevnaproject commented on #923
Please make sure to set canvas settings *before* you import image. ^__^

[2019-08-18 16:26] morevnaproject opened #925 "[Vectorization] Remember settings in vectorizer dialog"
When user  enters custom values in Vectorizer Settings Dialog, those values should be remembered. Currently, every time when Vectorizer Settings Dialog is opened all values are reset to defaults.

I think it's okay to remember settings until program closes. When programs closed it's okay to forget them (use default values when program started next time).

<bountysource-plugin>

---
Want to back th

[2019-08-18 16:28] morevnaproject commented on #923
Please see this video showing two cases - https://youtu.be/hy2boWxfVbE

In first case canvas settings set **after** image imported  (no bug).
In second case canvas settings set **before** image imported (bug exists).

[2019-08-18 16:31] ankit-kumar-dwivedi commented on #923
@morevnaproject this is what I used
[code]
here topleft and bottomright is for shifting origin.

[2019-08-18 16:36] morevnaproject commented on #923
I think the problem happens because you do not take into account coordinates of ppints in Bitmap Layer.

Here is a video showing an example - https://youtu.be/7jwaOGa5_KM

In the video I use default canvas settings. But I changing points of Bitmap Layer and that makes vectorization result misaligned. If you will take into account points of Bitmap Layer then issue will be solved. ^__^

[2019-08-18 16:51] morevnaproject commented on #854
I suggest to take a look how ProgressCallback class is used during rendering process (in CLI and GUI).

[2019-08-19 01:40] Keyikedalube commented on #863
melt Hello.ogg
Hello.ogg.F: No such file or directory

[2019-08-19 09:42] morevnaproject opened #926 "[Lottie exporter] 072-skeleton-animated-pos.sif - animation inverted for Y axis"
**Synfig version & platform**:
Commit id: 7cadfbf1f

**Issue description**:
Test file - https://github.com/synfig/synfig-tests-regressions/blob/master/export/lottie/072-skeleton-animated-pos.sif

In original file bone is moving up.

When exported to Lottie and opened in browser you can see the bone is moving down.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https:

[2019-08-19 13:33] limburgher commented on #863
On Fedora, that's been renamed mlt-melt to avoid a conflict with a binary from the freeze package.

mlt-melt music.ogg
Failed to load "music.ogg"
Failed to load "music.ogg"

[2019-08-19 15:31] morevnaproject opened #927 "[Lottie exporter] 075-skeleton-group.sif fails to export"
**Synfig version & platform**:
Commit id: 7cadfbf

**Issue description**:
Test file - https://github.com/synfig/synfig-tests-regressions/blob/master/export/lottie/075-skeleton-group.sif

Fails to export with the following errors:
[code]

[2019-08-19 15:51] morevnaproject commented on #923
I suggest apply that transformation (the one you've got from Bitmap Layer's TL and BR) by adding a Scale and Translate layers inside of green group:
![screenshot_001](https://user-images.githubusercontent.com/332868/63279833-ed803080-c2d3-11e9-88d3-86be01cf409e.png)

[2019-08-19 16:02] AnishGG commented on #926
This is happening because the `y-axis` in Synfig and Lottie are opposite to each other and 2 convert methods(bone link, composite) are stacked on each other.
I will push a patch soon.

[2019-08-19 16:34] AnishGG commented on #926
This is fixed now. ^__^
@morevnaproject please have a look.

[2019-08-19 17:07] AnishGG commented on #927
@morevnaproject,
Unfortunately bones are not yet ready to handle the group transformations. This might take some more time to resolve.
Before resolving this issue, I will have to dig deeper and develop some new classes like `composite` class.

[2019-08-19 17:24] AnishGG commented on #918
I am looking into this now.
Will come up with a fix, once I find the mistake

[2019-08-19 17:47] ankit-kumar-dwivedi commented on #923
@morevnaproject
few observations: (I removed scaling to see the size variation clearly.)

In this screenshot, the canvas size is changed to custom
![image](https://user-images.githubusercontent.com/37617951/63286758-65e7f100-c2d6-11e9-9557-90a93b8450fa.png)

Now in this one with default canvas properties, the size of the vectorized result is same as the custom one
![image](https://user-images.gith

[2019-08-19 18:08] ankit-kumar-dwivedi commented on #923
Issue related to file fixed in https://github.com/ankit-kumar-dwivedi/synfig/commit/708397e054fca212804c2c1409e3b7cfd463edfa

![image](https://user-images.githubusercontent.com/37617951/63288349-17d4ec80-c2da-11e9-9b73-c652cdd198ef.png)

This was related to scaling and is solved. [^_^]
Now working to deal if image is manupulated using point

[2019-08-19 18:28] ankit-kumar-dwivedi commented on #923
![diff](https://user-images.githubusercontent.com/37617951/63289613-296bc380-c2dd-11e9-8f0c-493fa158ded9.png)
@morevnaproject Which values should I consider to find resize param?

[2019-08-20 01:15] Keyikedalube commented on #863
Same output confirmed.

[2019-08-20 07:23] ankit-kumar-dwivedi commented on #854
@morevnaproject I saw but I am still not sure if we can interrupt an ongoing process using this method? Like if the user press cancel then vectorization should stop at current step(deleting all the intermediate data) without producing results and further.

What I saw and understand is we can do something like this.
[code]
and according to @blackwarthog comment I need something like this to set_fra

[2019-08-20 12:20] morevnaproject commented on #854
That's great news! Let me check that... ^__^

[2019-08-20 14:17] ice0 opened #928 "Check Synfig builded by CMake"
Latest version.

Please check if everything works.

[2019-08-20 15:29] AnishGG commented on #918
It seems like I missed a `if` condition while calculating the tangents in a `radial_composite`.
Here it is: https://github.com/synfig/synfig/blob/6c97aa58ab0e4abbc916d2ca8bbf0c305c002c01/synfig-core/src/synfig/blinepoint.cpp#L85

It is fixed now. ^__^
@morevnaproject have a look please.

[2019-08-20 15:34] ankit-kumar-dwivedi commented on #925
@morevnaproject Fixed in https://github.com/ankit-kumar-dwivedi/synfig/commit/a5a16442af5bc11f5823c814126e3a5a0e104d86
Closing now :)

[2019-08-20 15:34] #925 closed

[2019-08-20 15:34] AnishGG commented on #917
For this, I am getting an error when I open the file in Synfig.
Here it is:
[code]
I am getting this for all the `import` layers. The path seems to be correct, but I am not able to find the mistake.
@morevnaproject any help here... ^_^
Thank you!

[2019-08-20 17:27] ankit-kumar-dwivedi opened #929 "[Vectorization] no output if max thickness is zero"
**Issue description**:
When we select max thickness = 0
![vlcsnap-2019-08-20-22h50m14s994](https://user-images.githubusercontent.com/37617951/63369226-1e786800-c39d-11e9-9b92-f5d730933719.png)

The output actually have a max thickness zero XD
![vlcsnap-2019-08-20-22h50m42s254](https://user-images.githubusercontent.com/37617951/63369227-1e786800-c39d-11e9-84f5-9656a62c46fd.png)

This should be reso

[2019-08-20 17:43] ankit-kumar-dwivedi commented on #929
Fixed in https://github.com/ankit-kumar-dwivedi/synfig/commit/fbc28ed6f81908399a5a4ceb9bc75ff65fddbfec
![image](https://user-images.githubusercontent.com/37617951/63370211-584a6e00-c39f-11e9-9bc8-344db398e0de.png)

[2019-08-20 17:43] #929 closed

[2019-08-21 08:18] ice0 commented on #928
Current build commands:

[code]

[2019-08-21 16:28] morevnaproject commented on #854
I did a full rebuild (commit 07815e24ec) and "One Moment" window still doesn't work for me. ^__^"

[2019-08-21 16:49] morevnaproject commented on #923
Just check the code, which calculates initial placement of TL and BR points (when image is imported). Get those values. Then, compare them with current TL/BR values of BitmapLayer and you'll get the transformation. ^__^

[2019-08-21 17:27] BobSynfig commented on #928
Attempt under Fedora 30 (VirtualBox)
The 2 last command fail for me

[code]

[code]

[2019-08-22 08:47] ice0 commented on #928
@BobSynfig comment updated, please check.

[2019-08-22 09:15] morevnaproject commented on #926
Works perfectly now, thank you! ^__^

[2019-08-22 09:15] #926 closed

[2019-08-22 09:17] morevnaproject commented on #918
@AnishGG Works like a charm! Thank you!

[2019-08-22 09:17] #918 closed

[2019-08-22 09:22] morevnaproject commented on #917
That's weird... I cannot reproduce that error. Can you please record a video of your screenso I can see what's happening? ^__^

[2019-08-22 09:43] morevnaproject opened #931 "[Lottie exporter] 077-groups-cutout.sif appears cropped"
**Synfig version & platform**:
Commit id: d298820567dfc8e

**Issue description**:
Test file - https://github.com/synfig/synfig-tests-regressions/blob/master/export/lottie/077-groups-cutout.sif

Here is the file opened in Synfig -
![screenshot_001](https://user-images.githubusercontent.com/332868/63504482-dcb20380-c4fb-11e9-8ccb-350f7d7a375c.png)

After exporting to Lottie the character's head appe

[2019-08-22 09:55] morevnaproject opened #932 "[Lottie exporter] 078-groups-cutout-animated.sif TCB interpolation not working"
**Synfig version & platform**:
Commit id: d298820

**Issue description**:
Test file - https://github.com/synfig/synfig-tests-regressions/blob/master/export/lottie/078-groups-cutout-animated.sif

Poses at frames 18 and 27 are identical. but the waypoints there has TCB interpolation, so there is an "overshoot" affect happening at frame 22: character's left arm reaches yellow line -
![screenshot_003]

[2019-08-22 13:19] AnishGG commented on #917
There might be a problem with the version of Synfig I am using. I will reinstall it with the latest master branch and try again.
If the problem still exists, I will report here.

[2019-08-22 14:46] AnishGG commented on #917
@morevnaproject, I tried as mentioned above also, but the import still fails.
I have uploaded a video demonstrating the same: https://youtu.be/MQpTwVGDfgg
Please guide furthur.

[2019-08-22 18:00] BobSynfig commented on #928
This time the images are produced and moved (with complain against falloff and loopyness unknow parameters by the way).
But launching synfigstudio, any icon/image is missing in the application.

[2019-08-22 18:04] #281 closed

[2019-08-23 00:05] BarbzYHOOL opened #933 "Imported images are uglified in Synfig (compared to Gimp)"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)
ubuntu
1.2.1

**Issue description**:
When I import any image (like png) into Synfig, it looks really UGLY, while in Gimp it looks perfect.
For example, I added some wind effect to a text and in gimp it's clean, but in Synfig it is a bit blurry and the wind effect is much longer/stronger.

It is ver

[2019-08-23 00:48] Jose-Moreno commented on #933
@BarbzYHOOL Hi. I'm not a developer but It is always best to post a screenshot to serve as visual aid for the developers to understand what your issue is.

Of course It's one thing that it looks "ugly" in editor, and a very different problem that it looks the same when exporting a final movie or image, so let's start by that.

First, please try to export the single PNG file from Synfig. If the res

[2019-08-23 07:17] ice0 commented on #928
@BobSynfig oh, forgot one thing. Please execute
`export SYNFIG_ROOT=~/synfig-cmake/`
and try again. Btw, comment also updated.

[2019-08-23 11:14] morevnaproject commented on #928
Hi! I did some testing. Here is what I found:

- When Synfig starts it shows Splash Screen from stable version. There should be some flag telling that the version is development (and thus show different splash screen). In AutoTools the flag is here - https://github.com/synfig/synfig/blob/master/synfig-studio/configure.ac#L9
- Splash Screen should show version number at the bottom. Currently there

[2019-08-23 11:43] morevnaproject commented on #917
I suspect your build of Synfig is missing PNG support. Can you please create empty document and try to import any PNG file?

[2019-08-23 18:46] libreartist commented on #933
Hi, all! Also I would like to quote from several learning resources that any vector graphics would support only 8 bits for each channel. In RGB, it gives 256 values of Red, 256 of blue and 256 of green. 256 x 256 x256 = 16777216 = 16.7 million colour values. But, problem arises when we edit raster images (with probably effects applied) in more than 8-bits (8bpc) per channel (like 10bpc or 1 billio

[2019-08-23 18:55] libreartist commented on #823
Hi, if, in this case, would openFX (api) be a relevant possibility in Synfig's roadmap?

[2019-08-23 21:07] BarbzYHOOL commented on #933
Ok, thank you for trying to help me but I tried all of this before.

This is not about the low res preview (I just tried, it was never enabled and if I enable it it becomes blurry as expected). It wasn't well worded but : `If I render the image from Synfig, it is still ugly when I import it back into Gimp.`, I already "rendered" the png from synfig to png and the png looks bad when opened in an im

[2019-08-23 22:09] BobSynfig commented on #928
Same results here :)

[2019-08-23 22:58] Jose-Moreno commented on #933
@BarbzYHOOL I tested this with the latest version available (**1.3.1.1**) And the good thing is that I can reproduce the problem you have. That is an important step so these issues get acknowledged :smile:

Here's the thing, since PNG's only have one transparency channel meant to be saved as a **straight** single-channel transparent color, It seems that either GIMP (I also tested Photoshop, same t

[2019-08-23 23:00] Jose-Moreno commented on #933
@libreartist I suggest you open a separate request for the issue / question you have related to the bpc so it won't be lost and developers can appropriately track the issue. I agree Synfig should eventually support up to 32bpc for High Definition Imaging similar to After Effects :+1:

[2019-08-23 23:11] BarbzYHOOL commented on #933
damnit I can't use newer version for now so I won't even get the fix

so I can duplicate lets say twice the text and put it inside a group? I can also fuse the background already but then I can't animate the text alone

[2019-08-23 23:13] Jose-Moreno commented on #933
@BarbzYHOOL It should theoretically work the same. I just used the latest so devs know it's not a problem of the older version.

[2019-08-23 23:25] Jose-Moreno commented on #823
@libreartist That's something I hope it happens in the long run! :smile: although this issue was related to a game engine runtime exporter so Synfig could behave similar to DragonBones or Spine in that field.

There's still no official request for OpenFX integration, however currently you could theoretically use the python shell to integrate Natron's PyPlugs, but for OpenFX integration C++ binding

[2019-08-23 23:45] BarbzYHOOL commented on #933
I can't use latest version, so if they fix it, I can just rejoice :P

I will check the files then (dunno what is a vector region, i suppose it's the rectangle tool).

I don't get it

 Thank you for the tests and the alternative solution.

[2019-08-24 06:55] morevnaproject commented on #928
@ice0 I suggest to resolve issue with rendering icons by implementing #703 ^__^

[2019-08-24 07:02] morevnaproject commented on #823
That's possible, I remember we have investigated possibility to integrate OpenFX with OpenToons  some time ago. This is best to discuss in separate issue. ^__^

I suggest to open separate discussion for that to keep discussion clear. ^__^

Also, it's best to open issue for support a specific thing, not everything in general (as it never will be closed). General discussion for supporting runtimes i

[2019-08-24 07:02] #823 closed

[2019-08-24 23:04] Gilraiser commented on #714
Hello, I hope you are very well. I want to send you a better example of the error that causes some bones to double, since the example in .sif that I sent you before was apparently not the best. I hope this information helps the project. Beforehand thank you very much.

This is the initial file.
[example-01.sif.zip](https://github.com/synfig/synfig/files/3537588/example-01.sif.zip)

This is after c

[2019-08-25 08:46] morevnaproject opened #934 "[Lottie exporter] Add support for Gradients"
Make possible to export Gradient Layers.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/79333020-lottie-exporter-add-support-for-gradients?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracke

[2019-08-25 08:47] morevnaproject opened #935 "[Lottie exporter] Add support for Advanced Outline Layer"
Make possible to export Advanced Outline Layer.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/79333019-lottie-exporter-add-support-for-advanced-outline-layer?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugi

[2019-08-25 10:45] morevnaproject opened #936 "[Lottie exporter] Do not copy images to other location while exporting"
Currently, during export all images are copied into "images" subdirectory.

I suggest to keep all images in their respective locations instead. That will help to keep files in order if they are already organized in directories properly.

[2019-08-25 17:39] BarbzYHOOL commented on #933
In fact, my problem is the opposite on another image, it is too strong so if I add a new pass manually, it just makes it stronger and stronger, so it doesn't solve my issue at all and so I can't use synfig at all with transparent images o_0

[2019-08-25 21:41] Jose-Moreno commented on #823
@morevnaproject Well I meant that this thread should become the specific request to "add support for game engines runtime export" So just like Moho or Toonboom Harmony can export to Unity, I feel Synfig could get to a point where it can export to FOSS engines :thinking:

[2019-08-25 23:49] BarbzYHOOL opened #938 "How to import image without scaling to canvas (manually)"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)
1.21

**Issue description**:
How do I import an image with or without scaling to canvas WITHOUT changing it in preferences?? seriously this is so unpractical

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/79349303-how-to-import-imag

[2019-08-26 10:54] rodolforg commented on #933
why can't you use a newer version?

[2019-08-26 14:18] morevnaproject commented on #913
I think "insideSwitch" variable can be removed, because you can check type of `reference_layer` (LayerBitmap or not).

[2019-08-26 14:57] morevnaproject commented on #913
Also, I think it is not good to use `gather_uri()` functions to add "Convert to vector" command.

I think it would be better to add separate code at the end of `add_special_layer_actions_to_menu()` and `add_special_layer_actions_to_group()` functions. The code should do the following:

1. Check if selection list and if only one layer is selected, then...
2. Check type of selected layer.
* 3a. If t

[2019-08-26 14:58] morevnaproject commented on #913
In this case you will not need to declare `reference_layer` and `my_bitmap_layer` as global variables.

[2019-08-26 15:25] ice0 commented on #784
synfig(9764) [01:01:17 PM] warning: Time(): No unit provided in time code and frame rate is unknown! Assuming SECONDS
synfig(9764) [01:01:17 PM] info: target name not specified - using png
echo " Delete \"\$INSTDIR\\share\\pixmaps\\animate_loop_icon.png\"" >>./unimages.nsh
echo " File \"images\\animate_seek_next_frame_icon.png\"" >>./images.nsh
synfig(9770) [01:01:17 PM] warning: Time(): No unit p

[2019-08-27 14:18] morevnaproject commented on #854
Here is an advice from @blackwarthog on that matter:

---

Do not mess up with "One moment" window. Go ahead and implement progressbar.

How to do that:

Check GlobalUIInterface class in `app.cpp`. This UI interface is passed to instance, when instance is created -

https://github.com/synfig/synfig/blob/b2ca23c7eecba35485b98f76ce01ac0489545210/synfig-studio/src/gui/instance.cpp#L148

https://githu

[2019-08-29 17:41] AnishGG commented on #917
Yes, I tried importing a png file. It fails and the warning is: `unable to import path/to/file`.
Any suggestions on how to get rid of this error?

[2019-08-29 22:59] Gilraiser commented on #759
Hello, I hope you are very well. I want to send you a better example of the error that causes some bones to double,  I hope this information helps the project. Thank you.

This is the initial file.
[example-01.sif.zip](https://github.com/synfig/synfig/files/3537588/example-01.sif.zip)

This is after copying it to another file.
[example-02.sifz.zip](https://github.com/synfig/synfig/files/3537589/ex

[2019-08-29 23:11] 9inpachi commented on #759
Hi Gillraiser,

Thanks for the suggestions. This project was not initiated in GSoC.
I think the errors you mention relate to the bones already implemented.
@morevnaproject will have a better understanding of this.

Cheers. :)

[2019-08-30 04:06] Gilraiser commented on #759
Ok, thank you very much.

[2019-08-30 14:23] ankit-kumar-dwivedi commented on #913
working on it!

[2019-08-30 18:13] ankit-kumar-dwivedi commented on #913
@morevnaproject please have a look at https://github.com/ankit-kumar-dwivedi/synfig/commit/97f25f6e88ffde3fae297eec57e7052787c2c48a
[^_^]

[2019-08-31 06:04] morevnaproject commented on #917
That means you do not have "libpng" dev package installed. On Ubuntu/Debian/Mint the package is called `libpng-dev`. On Fedora it is called `libpng-devel`.

[2019-08-31 06:05] morevnaproject opened #939 "[Lottie exporter] Add support for exporting Stretch Layer"
Add support for exporting Stretch Layer.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/79667242-lottie-exporter-add-support-for-exporting-stretch-layer?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2019-08-31 06:48] morevnaproject commented on #913
@ankit-kumar-dwivedi It works for me now! ^__^

Just one thing: the `Instance::layer_inside_switch()` function gets **first** layer from Switch Group. In common case, Switch Group can contain more than one layer. And active layer is not neccessary the first one. So, I suggest, instead of doing a `break;` on first layer - do a check for layer name and compare it with value of "Active Layer" paramet

[2019-08-31 07:07] ankit-kumar-dwivedi commented on #913
@morevnaproject Just to confirm!
So this means even if there are multiple layers inside switch "convert to Vector" Option should show up.
And it should convert the active layer?

[2019-08-31 08:26] morevnaproject commented on #913
Yes. ^__^

[2019-08-31 18:33] #735 closed

[2019-09-01 05:51] AnishGG commented on #917
@morevnaproject It is already installed on my system. Still I am getting that error. :confused:

[2019-09-01 05:58] AnishGG commented on #917
I have two versions of Synfig installed on my system. Can that be causing this error?

[2019-09-01 20:10] tebicap opened #941 "Tgs color animation compatibility in lottie exporter"
I'm working designing telegram stickers with synfig and the way colors animation is exported is not compatible because it's exported as a layer effect.

[2019-09-02 06:26] ankit-kumar-dwivedi opened #942 "2-build-debug.sh don't work if any path directory contain space"
**Synfig version & platform**:
version: latest master
platform: Debian 10

**Issue description**:
I had my synfig local repo inside `ankit/synfig master/synfig` and following output I get
[code]
after changing `ankit/synfig master/synfig` -> `ankit/synfig_master/synfig` it worked.
I think it should work even if directory name contain space

[2019-09-02 16:57] ankit-kumar-dwivedi opened #943 "Active param should change after layer rename"
**Synfig version & platform**:
Version: Current Master
Platform: Debian
**Issue description**:
When I rename a layer in switch then active param does not change automatically.

**Here the active layer is moon.png**
![before_rename](https://user-images.githubusercontent.com/37617951/64127722-8b91f180-cdd0-11e9-82c9-f0b140eb18d9.png)

**Here I renamed the layer but active layer param is yet not chna

[2019-09-03 17:15] AnishGG commented on #917
@morevnaproject, I just realized that the png format images uploaded on synfig-tests-regressions looks like:

https://github.com/synfig/synfig-tests-regressions/blob/d1390e500d37ac79a4041ce5423f387c90724b78/export/lottie/004-image-group-cutout.files/head.png#L1-L3

I am not even able to open those png images from a regular image opener. Could you please check from your side if these are the correc

[2019-09-04 05:07] AnishGG commented on #939
Could you provide this clarification: the main difference between [scale](https://wiki.synfig.org/Scale_Layer) layer and [stretch](https://wiki.synfig.org/Stretch_Layer) layer is that we can provide different scaling in both the axis in stretch layer. There is a unit difference also.
Am I correct here?

[2019-09-04 05:14] AnishGG commented on #936
Initially I was doing as suggested by you in this issue. But due to that, some png image's were not rendering in the export([link](https://github.com/synfig/synfig/pull/756#issuecomment-517976971)), and hence I had to change it as it is now.
By default lottie uses `images` subdirectory as is done in the export now. I will see if it is possible without creating a new subdirectory.

[2019-09-07 09:35] morevnaproject commented on #936
That's weird... I tried to move files outside "images" subdir and edited JSON/HTML file manually - that worked for me.

[2019-09-07 11:11] morevnaproject opened #945 "Synfig CLI fails (when building Synfig Studio)"
**Synfig version & platform**:
Synfig master branch, commit 7bdcd485f14f9421081940561771cdb66c20d53b

**Issue description**:
Attempt to build Synfig Studio fails when it tries to render icons:

[code]

@blackwarthog Any ideas?

[2019-09-07 13:21] #913 closed

[2019-09-07 13:47] ankit-kumar-dwivedi commented on #854
Working on this now!

[2019-09-08 02:22] morevnaproject commented on #945
Fixed in 573f832f5c0c2c9eecc74b811ae9e2943dbae3a2

[2019-09-08 02:22] #945 closed

[2019-09-08 10:10] AnishGG commented on #936
Did you try with png or jpg format files? Because jpg format files have no problem if they are given the original address of the image. The problem comes in png format files. Still I will revert this commit: https://github.com/synfig/synfig/pull/756/commits/cae7d39b003078dc7d7ef0524cee67aa7a6352d2 and see what happens.

[2019-09-08 23:20] ebarranco commented on #617
This is fixed with the last changes. Thank you.

[2019-09-08 23:26] ebarranco commented on #698
This seems fixed now, thanks!

[2019-09-08 23:31] ebarranco commented on #896
This is fixed, thanks.

[2019-09-08 23:33] ebarranco commented on #870
This is back, it is less often but still happening.

[2019-09-09 06:58] morevnaproject commented on #796
@blackwarthog Can you please take a look at this?

[2019-09-09 06:58] morevnaproject commented on #921
@blackwarthog Can you please take a look at this?

[2019-09-09 12:59] AnishGG commented on #919
In this animation, there is a single group. Group's `offset` and `scale` both are animated at the same time. If I remove the animation from either of the above 2 parameters, then the animation is working fine.
There seems to be a problem with the combination of both the animations. I will investigate furthur and inform here.

[2019-09-11 10:58] #921 closed

[2019-09-11 14:03] blackwarthog commented on #796
Okaaay....

By historical reason Synfig applies gamma 2.2 to result image.
This have no matter in common case - we just see colors at the screen and don't think about internal digital color values.

But then we import image we already can see the difference. We can compare the look of image in siynfig and in any other  editor. And more - we can import image rendered by Synfig and see that it becom

[2019-09-11 15:59] blackwarthog commented on #796
to avoid this problem i've implemented gamma for alpha channel

but i'm afraid that this may affect a looking of previous synfig movies
need some testing

[2019-09-12 12:33] morevnaproject opened #949 "File not saved properly after executing a plugin"
**Synfig version & platform**:
Master branch, commit 2b54ed842195016f44c246658f092729dea037bd

**Issue description**:
After executing any plugin (via "Plug-Ins" menu) file is not saved to its location anymore.

Steps to reproduce:
1. Start Synfig and create new document
2. Create a circle.
3. Save document to `/tmp/test.sifz`
4. Choose "Plug-Ins" -> "Add Skeleton (Simple)"
5. After executing a plu

[2019-09-12 12:42] morevnaproject opened #950 "[Lottie exporter] "Invert" parameter doesn't works properly for circle"
**Synfig version & platform**:
Master branch, commit 2b54ed842195016f44c246658f092729dea037bd

**Issue description**:
Test file - https://github.com/synfig/synfig-tests-regressions/blob/master/export/lottie/086-circle-inverted.sif

Here is how it looks in Synfig:
![screenshot_001](https://user-images.githubusercontent.com/332868/64784847-40789b00-d595-11e9-9322-f75de64a7f31.png)

Here's how it loo

[2019-09-14 10:44] morevnaproject opened #951 "Outline tip artifact"
**Synfig version & platform**:
Master branch, commit - 2b54ed842195016f44c246658f092729dea037bd

**Issue description**:
Test file -
[outline.zip](https://github.com/synfig/synfig/files/3612623/outline.zip)

In version 1.0.2:
![screenshot_002](https://user-images.githubusercontent.com/332868/64906974-1ea72180-d717-11e9-9bc6-53ecbc4b13f8.png)

In current master:
![screenshot_003](https://user-images

[2019-09-14 11:17] #698 closed

[2019-09-14 11:19] morevnaproject commented on #723
Fixed with 07d06bafa1884505557e268de1898a11613cc7eb

[2019-09-14 11:19] #723 closed

[2019-09-14 11:38] morevnaproject commented on #796
Confirmed - it is fixed now.  Thank you!

Before fix:
![155-2](https://user-images.githubusercontent.com/332868/64907579-a6dcf500-d71e-11e9-9459-93f40820d10e.png)

After fix (correct result):
![155-1](https://user-images.githubusercontent.com/332868/64907601-e277bf00-d71e-11e9-8d1a-059588362bf0.png)

Thanks again!

[2019-09-14 11:38] #796 closed

[2019-09-14 11:50] morevnaproject opened #952 "White image imported as black"
**Synfig version & platform**:
Master branch, commit 23b4d4c7ad7719970e9bdde1d9386ef865a6c9f3.

**Issue description**:
Sample image - [white.png](https://user-images.githubusercontent.com/332868/64907711-4bac0200-d720-11e9-87c7-c628cd3973c4.png)

Here's how it looks when imported into Synfig:
![screenshot_009](https://user-images.githubusercontent.com/332868/64907725-7302cf00-d720-11e9-9845-d8f7d9

[2019-09-14 11:51] morevnaproject commented on #933
I can confirm the issue on current master, even after fix applied for #796 (commit 23b4d4c7ad7719970e9bdde1d9386ef865a6c9f3).

Interesting thing: it looks correctly when displayed on transparent background (1) and incorrect when mixed with white background (2):
![screenshot_008](https://user-images.githubusercontent.com/332868/64907682-e6f0a780-d71f-11e9-8f70-3be5ddc0e818.png)

I have packed all t

[2019-09-18 09:15] morevnaproject commented on #854
So, how the things are going?
I suggest to start with first step for now ^__^ -

[2019-09-18 10:13] morevnaproject commented on #854
Ah, my mistake! You have to use CanvasViewUIInterface class (in canvasview.cpp) instead of GlobalUIInterface class (in app.cpp). ^__^"

[2019-09-18 10:16] morevnaproject commented on #854
...and you can call `instance->find_canvas_view(canvas)->get_ui_interface()` to get CanvasViewUIInterface inside of action.

[2019-09-18 10:46] morevnaproject commented on #499
So, GSoC 2019 is over. Congratulations and much thanks to everyone who participated to make this happen! ^__^

[2019-09-18 10:46] #499 closed

[2019-09-18 10:51] morevnaproject commented on #257
@rodolforg Since this issue is solved by you, can you please click "Claim bounty" button here? ^__^ - https://www.bountysource.com/issues/38567642-copy-pasting-using-keyboard-shortcuts-should-respect-input-focus
![screenshot_001](https://user-images.githubusercontent.com/332868/65142417-dbadbc80-da3c-11e9-91f3-032ac034d362.png)

[2019-09-19 16:42] #759 closed

[2019-09-21 10:56] #254 closed

[2019-09-21 11:05] morevnaproject opened #958 "[Lottie exporter] Code quality alerts at LGTM.com"
It would be nice to fix alerts detected via LGTM.com. See here - https://lgtm.com/projects/g/synfig/synfig/alerts/?mode=list&lang=python

[2019-09-21 11:20] morevnaproject opened #959 "[CMake build] Import Image Layer has no icon"
**Synfig version & platform**:
Commit id - 00f49777639818311f0aa63302714b7ff8773b40

**Issue description**:

Import Image Layer has no icon:
![Без имени](https://user-images.githubusercontent.com/332868/65372573-51639380-dc9c-11e9-8b36-afbf6fa5f779.png)

Warnings in console:
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/807

[2019-09-21 11:20] morevnaproject commented on #928
One more issue with CMake build - #959

[2019-09-21 11:23] morevnaproject opened #960 "[CMake build] Importing video/gif files via FFMpeg doesn't works"
**Synfig version & platform**:
Commit 00f49777639818311f0aa63302714b7ff8773b40

**Issue description**:

Importing video/gif files doesn't work - imported layers display nothing on workarea.

Result with Autotools build:
![screenshot_008](https://user-images.githubusercontent.com/332868/65372631-dc448e00-dc9c-11e9-82b5-26634763069c.png)

Result from CMake build:
![screenshot_007](https://user-image

[2019-09-21 11:24] morevnaproject commented on #928
One more - #960

[2019-09-21 11:25] morevnaproject commented on #960
Tested also on commit 996ba45b0acfc7741755aa8713d2d1df127bca3a (it is before 3e84054cb0277d243fe91f461df74917f6f69e63). Same result.

[2019-09-21 11:26] morevnaproject commented on #960
Sample gif file
![giphy](https://user-images.githubusercontent.com/332868/65372677-5412b880-dc9d-11e9-98f7-e180fa337c8b.gif)

[2019-09-21 11:43] morevnaproject opened #961 "[CMake build] Update documentation in README-CMake.md"
We need to update documentation in https://github.com/synfig/synfig/blob/master/README-CMake.md

See build instructions given here - https://github.com/synfig/synfig/issues/928#issuecomment-523350608

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/80712778-cmake-build-update-documentation-in-readme-cmake-md?utm_campaign=plugin&utm_c

[2019-09-21 17:31] ice0 commented on #960
Nice image, lol )

[2019-09-21 19:37] ebarranco opened #962 "Tool options hard to activate."
**Synfig version & platform**:
Master
Stable
linux

**Issue description**:
It is hard to activate some options in the tool panel because the scroll bar appears over the check marks.
[I show you here](https://youtu.be/CoYTJwEoRR8)

[2019-09-21 19:45] ebarranco opened #963 "Bad closing transitions with Draw Tool"
**Synfig version & platform**:
Master
Linux

**Issue description**:
Bad line transitions and change of width closing shapes using advanced outline with the draw tool.
[I show you here.](https://youtu.be/ackNN1zYOM4)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/80725793-bad-closing-transitions-with-draw-tool?utm_campaign=plugin&ut

[2019-09-21 19:50] ebarranco opened #964 "Wrong Amount values in outlines and regions"
**Synfig version & platform**:
Master
Linux

**Issue description**:

Wrong Amount values in outlines and regions, using the Spline Tool.
[I show you here.](https://youtu.be/sVK4uTPaaCY)

[2019-09-23 18:09] Gilraiser opened #965 "Feature resquest: Support sequence of svg images with lst files."
**Version 1.3.11 or higher,  Gnu/Linux 64**:

**Issue description**:

Hi. Thank you very much for improving this software day by day. I think it is very useful for artists that you can create an lst file that supports sequences of svg images, to have the alternative of importing them without the option of editing the vectors that make up the image. Only for the purpose of importing the sequence an

[2019-09-25 10:32] Nicklaus01 commented on #813
I won't be able to work on this anymore. But It would be great if someone updates the hide and unhide feature.  Regrets for the late response.

[2019-09-25 19:44] BarbzYHOOL commented on #933
I thought I had found a workaround by merging the layers beforehand but there is always a time when you need to animate a layer that has transparency, and then it screws up :(

was it present in much older versions?

[2019-09-26 09:17] #952 closed

[2019-09-28 04:51] ankit-kumar-dwivedi commented on #923
Is this issue still unresolved?@morevnaproject

[2019-09-28 04:54] ankit-kumar-dwivedi commented on #855
I don't think cancel button will be of any use as the dialog will be hidden to show progress
see -> https://github.com/synfig/synfig/issues/854#issuecomment-525322451
Closing this now.

[2019-09-28 04:54] #855 closed

[2019-10-04 12:08] #243 closed

[2019-10-08 08:18] morevnaproject commented on #854
@ankit-kumar-dwivedi Ok, your last commit (https://github.com/ankit-kumar-dwivedi/synfig/commit/57c4fb9766da16abd9cc95496b2b412c67f9053f) is failing because the `instance` we get in action is belong to `synfigapp`. And it doesn't has `find_canvas_view()` method.
There is an `instance` class in `gui`, but since our code is located in action (`synfigapp`), we cannot reach it.

So, as advised by @bla

[2019-10-08 21:51] gnovos opened #972 "Synfig can't read directories on latest OSX (10.15 Catalina)"
**Synfig version & platform**:

synfig 1.2.2
OSX 10.15

**Issue description**:

OSX now has some ACL thing that forces every application to go through some new API that pops up a dialog to prompt the user for permission before it can access any directory.  Synfig doesn't do whatever this process is and subsequently gets an error when trying to get any directory list (like when you try and open a f

[2019-10-09 12:42] igordsm commented on #942
I can reproduce this and the same occurs with `2-build-cmake.sh`. Regarding `2-build-debug.sh`, I have escaped the source directory in many places and have got this far:

    Going to configure...
    running autoreconf...
    Done! Please run ./configure now.
    ~/Documents/synfig with spaces/_debug/ETL
    /home/igor/Documents/synfig with spaces/_debug/build
    checking build system type... x8

[2019-10-10 07:22] morevnaproject commented on #942
@igordsm You right, it doesn't works even after fixing build scripts. Autotools just do not like directories with spaces.

[2019-10-10 07:25] #942 closed

[2019-10-10 07:32] ice0 commented on #972
Hi! Can you check if this method works for you?
http://osxdaily.com/2018/10/09/fix-operation-not-permitted-terminal-error-macos/

[2019-10-10 09:27] #245 closed

[2019-10-11 09:16] #317 closed

[2019-10-12 08:04] blackwarthog commented on #870
i've fixed some bugs by the commit 82ffbee5a24576138a7d3bfb7abd84dd4988182a
please recheck

[2019-10-12 18:46] ebarranco commented on #870
Hi @blackwarthog  I checked this issue again and it is totally back and I can reproduce the crashing every time.
[Video.](https://youtu.be/1vnWFtLLxMY)

[2019-10-13 02:02] morevnaproject opened #975 "Crash when trying to change "Gamma correction" for canvas"
**Synfig version & platform**:
Commit id: 82ffbee5a24576138a7d3bfb7abd84dd4988182a

**Issue description**:
Synfig crashes when I try to switch to "Gamma correction" tab in canvas properties.

![screenshot_001](https://user-images.githubusercontent.com/332868/66709928-39ad9580-ed98-11e9-9799-482c7d083452.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.

[2019-10-13 02:10] morevnaproject commented on #933
Yes, the issue is present in every version of Synfig since the very beginning.

The problem comes from the fact that Synfig applies hardcoded gamma 2.2 to all colors. This problem exists since the beginning of Synfig development, if you are interested you can check [this thread](https://sourceforge.net/p/synfig/mailman/message/30827786/) dated by 2013 (!). We took decision, that it is good moment

[2019-10-13 02:10] #933 closed

[2019-10-13 02:13] morevnaproject commented on #933
Attached archive with test files for convenience -  [test.zip](https://github.com/synfig/synfig/files/3721368/test.zip)

`test-v1.2.sifz` - file created in Synfig before the gamma fix (a4bbdd7)
`test-v1.4.sifz` - file created in Synfig after the gamma fix (a4bbdd7)

[2019-10-13 06:54] blackwarthog commented on #933
Actually you have an option to set gamma to 1.0 for old (for any) canvas via Canvas->Properties...
Imported images and alpha-blending of it will become correct. But in this case brightness of colours of each other synfig primitives will be changed and project will looks differ. So in most cases this option is unusable.

[2019-10-13 07:13] blackwarthog commented on #870
Thanks for your help, for me it reproduces after a several munutes of zoomming and scrolling. I've catch and fixed one more bug in this commit: 5fc8322664e53a2a139384d42f3444c8f0806883. May you check?

[2019-10-13 07:15] blackwarthog commented on #975
i cannot reproduce

[2019-10-13 07:36] blackwarthog commented on #975
bug does not apperas on debug build, but exists in release.

[2019-10-13 07:44] #975 closed

[2019-10-13 07:44] blackwarthog commented on #975
fixed

[2019-10-13 11:43] #896 closed

[2019-10-13 11:44] #781 closed

[2019-10-13 19:41] ebarranco commented on #870
Hey @blackwarthog !  I've been trying to crash Synfig and I can't do it now.  :smiley:

[2019-10-13 20:36] BarbzYHOOL commented on #933
ok awesome, so now we should be able to import images with transparency and animate them?

I can't test until I reinstall all my OS (and won't happen tomorrow), so that's why i'm asking

[2019-10-13 22:01] Jose-Moreno commented on #933
@BarbzYHOOL To test this we probably have to wait for a new release version. Hopefully we can get one before new year's eve.

That or if you're comfortable with software compiling, try out their guide to do just that https://synfig-docs-dev.readthedocs.io/en/latest/common/building.html

[2019-10-13 22:04] ebarranco opened #976 "Synfig is crashing in animation mode"
**Synfig version & platform**:
Master
Linux

**Issue description**:
Synfig crash when you try to animate anything:

1. Draw something (circle)
2. Enter to animation mode
3. Add a key frame
4. Make a change
5. Synfig Crash.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/81942502-synfig-is-crashing-in-animation-mode?utm_campaign=plug

[2019-10-14 09:01] #976 closed

[2019-10-14 09:33] ice0 commented on #964
Hi, Enrique!
Please check on the video [0:13](https://youtu.be/sVK4uTPaaCY?t=13) you have an opacity value of 0.87 in the Tool options (middle window on the right side)

[2019-10-14 09:40] ice0 commented on #887
Hi, @olobin!
Which DE you are using? XFCE, Gnome, KDE?

[2019-10-14 09:41] #870 closed

[2019-10-14 12:25] #640 closed

[2019-10-14 15:44] ebarranco commented on #964
You're absolutely right @ice0  I was unaware that I made this change, maybe drag my pen just enough and moved the value. Maybe the point is, should this value need to be preserve even tough I don't save any file, close the program and the value is still there when you start a completely new project.

[2019-10-14 15:46] ebarranco commented on #870
Thank's!

[2019-10-15 13:44] #962 closed

[2019-10-15 13:59] #963 closed

[2019-10-15 14:39] ice0 commented on #787
Hi, @maxice8!
This is normal behaviour. There were some problems with the old folder structure, so we changed it.

[2019-10-15 14:39] #787 closed

[2019-10-15 14:43] ice0 commented on #625
Hi! Do you use windows theme patchers or something?

[2019-10-15 14:44] #618 closed

[2019-10-15 14:46] ice0 commented on #964
@morevnaproject what do you think?

[2019-10-15 14:48] #617 closed

[2019-10-15 15:11] morevnaproject commented on #540
Cannot reproduce it with the latest master branch.

[2019-10-15 18:19] ebarranco commented on #963
Graat! thank you.

[2019-10-15 18:25] ebarranco commented on #341
¡Thanks @rodolforg ! This is working very well for me. :+1:

[2019-10-15 20:33] Jose-Moreno commented on #964
Hi, I think new synfig files should always be created with predetermined values that the user can expect, unless of course there are plans for a template system in which case saving specific values to be used in future new files would make sense instead, but even then such changes should always be clearly communicated to the user.

@ebarranco If you change the opacity Amount to 1.0 and save the fi

[2019-10-15 20:35] Jose-Moreno commented on #540
@morevnaproject I've been able to reproduce this in the past, but I'd like to attempt to reproduce this with the master branch. Would I need to compile Synfig for Windows then? or do you have any automated build for Windows that can be used for testing?

[2019-10-16 05:32] ebarranco commented on #964
@Jose-Moreno  Yes, if you save your file your values are save too. I understand now how it works. I'm closing this issue.

[2019-10-17 06:17] morevnaproject opened #977 "Transfromation widget: Connect green control points with dotted lines"
@blackwarthog Please connect two green control points with dotted line (so it will be clear they belong to one widget). ^__^

![screenshot_001](https://user-images.githubusercontent.com/332868/66982486-66d3ae00-f0e0-11e9-8be1-fc502397c9b1.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/82154253-transfromation-widget-connect-gre

[2019-10-17 06:24] morevnaproject opened #978 "Import image sequence: Set frame rate properly"
When sequence is imported the images are switched at the speed of 1 frame per second.

![screenshot_004](https://user-images.githubusercontent.com/332868/66982822-3b9d8e80-f0e1-11e9-91f2-a3465f62c720.png)

It is required to set "Rate" value of converter to the same value as FPS parameter of current document.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.

[2019-10-17 06:24] morevnaproject commented on #461
@blackwarthog is working on this now - 3ca1e721189e8e3b21ac649462ed9e33adb9fea7

Waiting for solution for issue #978.

[2019-10-17 06:27] morevnaproject opened #979 "Allow to bake converters"
It would be nice to have possibility to bake results of any converter to waypoints.

As part of implementation of Import Image Sequence feature (#461, 3ca1e721189e8e3b21ac649462ed9e33adb9fea7), this will allow to bake animation of image sequence into waypoints and tweak timing of animation for image sequence.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www

[2019-10-17 06:44] morevnaproject commented on #964
I think that many tool settings should NOT be remembered.

For example, here is a very frequent mistake of users from my experience:
User sets a tool blending mode from "Composite" (default) to "Onto" (accidentally or without knowledge of its meaning).
As result, tool draws nothing.
User restarts application, but Blend Method is remembered, so nothing changes.
Then angry user records a video about

[2019-10-17 06:45] morevnaproject opened #980 "Do not remember some tool options"
I think that many tool settings should NOT be remembered.

For example, here is a very frequent mistake of users from my experience:
User sets a tool blending mode from "Composite" (default) to "Onto" (accidentally or without knowledge of its meaning).
As result, tool draws nothing.
User restarts application, but Blend Method is remembered, so nothing changes.
Then angry user records a video about

[2019-10-17 06:46] morevnaproject commented on #964
Okay, I realized that it's better to submit new issue instead of re-opening this one.
Discussions are welcome here - #980. ^__^

[2019-10-17 06:46] #964 closed

[2019-10-17 18:16] ebarranco commented on #980
HI, I think with an option in the settings to check if we want preserve our values or not is enough and by default Synfig shouldn't do it.

[2019-10-17 21:35] Jose-Moreno commented on #980
I agree with Enrique that having a toggle in the preferences that remembers or not the modified values, as well as being turned off by default seems like a proper solution. That way we would always have the Synfig default values on every new file, and if someone wants to keep the same values between scenes in a larger project, for example, they can enable that option instead.

To complement the la

[2019-10-17 23:39] #977 closed

[2019-10-18 00:00] #978 closed

[2019-10-18 07:26] #979 closed

[2019-10-18 15:24] hellocatfood opened #981 "Ctrl + A in Parameters editor"
In the parameters editor I want to be able to press Ctrl + A to easily select the value and then delete it. Currently this is not possible and I have to manual delete each character or highlight it manually with my mouse. Can the use of Ctrl + A in the parameter editor be made possible?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issue

[2019-10-18 15:25] hellocatfood commented on #981
Possibly related to #628

[2019-10-19 12:11] morevnaproject commented on #980
How about a button to save tool settings?
By default Synfig will not save settings. But if user wants to save his current configuration of a tool, then he clicks this button and his current settings remembered.

[2019-10-21 06:06] ebarranco commented on #980
I'm not sure if I understand how a button will work. How about when I don't want to that happen anymore, You have to press it again? Where this button will be? I don't know, it makes better sense for me have a check-mark on the Preferences->System, saying something like "Preserve my tool options values" or something like that. Do it once and  your ready to go.

[2019-10-22 10:11] gunmetal313 commented on #666
https://github.com/conan-io/conan-center-index

Conan has switched to a new package adding system. When a new package is added, it runs on ci

Try try add  openexr 2.4.0 in conan-center-index now.
https://github.com/conan-io/conan-center-index/pull/204

[2019-10-22 11:28] Croydon commented on #666
Before working on a new recipe please have a look first into:

https://bintray.com/conan/conan-center
https://github.com/conan-community/
https://github.com/bincrafters

to avoid working on something which already exists.

All recipes which are either in conan-community or Bincrafters but not the Conan Center Index will be transferred eventually.

Thanks for contributing to Conan!

[2019-10-23 01:35] igordsm commented on #801
It seems this was fixed since the report. Clicking `Layer -> New Layer -> Other -> Import Image` now prints

`synfig(2604) [22:36:51] info: Attempting to import /home/igor/Documents/curso_gimp/pikachu.png
`

[2019-10-23 04:53] morevnaproject commented on #949
Here's my plan how to solve this -
![wA2-kZjxYI8](https://user-images.githubusercontent.com/332868/67358776-a3ddeb80-f58b-11e9-91a2-d11b4ede9fcd.jpg)

[2019-10-23 05:02] morevnaproject commented on #854
@ankit-kumar-dwivedi I've looked at your latest code. To fix errors
just use `etl::handle<synfigapp::UIInterface>` instead of `etl::handle<UIInterface>` (in `centerlinevectorizer.cpp/centerlinevectorizer.h`)

[2019-10-23 17:03] ankit-kumar-dwivedi commented on #923
@morevnaproject, please let me know if anything is left here

[2019-10-24 15:07] ankit-kumar-dwivedi commented on #801
@igordsm thanks.
Closing as I cannot reproduce it now

[2019-10-24 15:07] #801 closed

[2019-10-26 07:46] Gilraiser opened #985 "The outlines are distorted like extensive stripes"
**Synfig version & platform**:
Github version compiled on October 21, 2019 on Archlinux 64

**Issue description**:
the contours are distorted like extensive stripes in parts where there are nodes very close together. The problem is removed from the image when the sharp corner parameter is deactivated but I report this anomaly because I think it could cause unexpected results in more complex compos

[2019-10-28 14:58] morevnaproject commented on #854
@ankit-kumar-dwivedi I have tested last commit from https://github.com/ankit-kumar-dwivedi/synfig/commits/master - ff03c78337d48528dd2bf5117e659ec0bab36aad
Progressbar is working, but UI is not updating, because application is freezes while doing vectorization. I suppose this happens because the vectorization process is happening in main thread.

@blackwarthog Am I right?

[2019-10-28 15:08] morevnaproject commented on #267
@rodolforg is working on this via #982.

![screenshot_001](https://user-images.githubusercontent.com/332868/67690463-8667b200-f9cf-11e9-93f9-ca6391916700.png)

[2019-10-28 15:10] morevnaproject commented on #923
Here is an illustration of a problem - https://www.youtube.com/watch?v=1qRBZHV-O5M

The problem happens if user manipulates points of Image Layer (inside of yellow Switch group).

[2019-10-28 15:17] morevnaproject commented on #461
Illustration of current implementation - https://www.youtube.com/watch?v=VYRbJ_Bp9YU

[2019-10-28 15:25] morevnaproject opened #987 ""Import Sequence" should switch frames by name"
The "Import Sequence" command creates a Switch Group and switches images **by z-order**.

If layers are switched by z-order, that means order of frames on timeline depends on order of layers in group. That creates some problems for user. For example, removing layer from group (i.e. unused frame) will mess the frame order on timeline.

This could be a very common issue if we continue to improve fra

[2019-10-28 15:30] ankit-kumar-dwivedi commented on #923
@morevnaproject got it!
So here is my plan:
- Take the image transformation
- Take the group transformation
- Merge them and apply to outline group

[2019-10-28 15:31] morevnaproject commented on #917
Now our tests  repository is moved to https://gitlab.com/synfig/synfig-tests

Here is an updated link to sample file - https://gitlab.com/synfig/synfig-tests/blob/master/export/lottie/004-image-group-cutout.sif (you will need to fetch whole repository to get all images in place).

[2019-10-29 10:36] morevnaproject commented on #985
I have added this test to https://gitlab.com/synfig/synfig-tests

[2019-10-29 12:18] morevnaproject opened #989 "[Lottie exporter] Add automatic testing of code"
It would be nice to have a Travis CI job, which will automatically test new commits/PRs against a set of test files.

Test files are located here - https://gitlab.com/synfig/synfig-tests/tree/master/export/lottie

This could be just a simple call of lottie exporter python script. And it should detect export fails, like this one - #917. This way we can easily detect problems with exporter at early

[2019-10-29 14:40] KyleMaas opened #990 "libgomp.so.1"
**Synfig version & platform**:
SynfigStudio-1.3.11-testing-19.02.09-linux64-9583a.appimage
Gentoo Linux (amd64) current and up-to-date.
GCC version 8.3.0-r1
glibc version 2.29-r2

**Issue description**:
When attempting to launch SynfigStudio 1.3.11 from AppImage, I get the following errors:

/tmp/.mount_EM3kBo/usr/bin/synfigstudio: /usr/lib64/libgomp.so.1: version `GOMP_4.0' not found (required by

[2019-10-29 20:05] KyleMaas commented on #990
I will note that recompiling gcc with openmp support enabled allows me to run the AppImage, but going that route might not be the most obvious fix for other Linux users.

[2019-10-30 10:57] MysticWhite opened #992 "Follow spline function is unstable."
**Synfig version & platform**: 1.2.2 & Windows 10

**Issue description**:

I tried object group to follow spline. It works perfectly.
But, when I moved timeline with using follow spline, Synfig is automatically quitted too often.
The latest stable version is unstable.

My Computer System
CPU : Intel Core i5 760 2.80GHz
RAM : 4GB
Graphics : Nvidia GeForce GT220

[2019-10-31 02:44] ebarranco opened #993 "Export to lottie format error"
**Synfig version & platform**:
Master
Linux
**Issue description**:
It is my first time trying to use this feature.
1. I do a simple animation or use the sample file from the video demonstration
2. I go to the menu Plug-Ins -> Export to Lottie format
3. Synfig shows me this error:

[code]
[You can see the video here](https://youtu.be/TNMLcocnKUM)

[2019-10-31 03:34] AnishGG commented on #993
This is unexpected behaviour as we are installing the `lxml` library for linux here:
https://github.com/synfig/synfig/blob/bf19ac40b379e620048ae9bd5295795acee8b52a/1-setup-linux-native.sh#L85

I am not sure what the problem is, @morevnaproject could you have a look please.
@ebarranco in the mean time you can install lxml manually.
You can refer to this documentation: https://lxml.de/installation.h

[2019-10-31 04:12] ebarranco commented on #993
@AnishGG @morevnaproject  I deleted my git folder and the Setup Script doesn't install lxml, I did it manually and my test animation still doesn't work, it has advance outline, but the example files works now as expected. Thanks

[2019-10-31 04:47] AnishGG commented on #993
Advance outline is not supported yet. But the setup script should have installed lxml. I will have a look into it.

[2019-10-31 08:40] ice0 commented on #993
@ebarranco Which Linux you are using? Arch, Manjaro? As i see install script doesn't install python3-lxml for Linux with pacman package manager.

[2019-10-31 22:31] ebarranco commented on #993
It's correct @ice0 I'm using pacman package manager and I use Manjaro Linux.

[2019-10-31 23:49] rodolforg commented on #375
@morevnaproject , is it still an issue?

[2019-11-01 08:03] ice0 commented on #993
Ok, i fixed the installation script (#994), wait until @morevnaproject will review it.

[2019-11-01 09:20] morevnaproject commented on #375
Hmmm... yes, I cannot reproduce it anymore by following instructions given in issue description.

But I found a way to make it crash by adding one more step:

1. Add Skeleton Layer (normal or deformation)
2. Add Child bone (right click on handle or from context menu in parameters panel  "add item 'smart'")
3. Click on green control point of child bone - it will become highlighted
![screenshot_002]

[2019-11-01 09:21] morevnaproject commented on #992
Hi! Can you please check if this happens with the latest development version (1.3.11)?

[2019-11-01 18:55] Gilraiser opened #995 "Two errors found in skeleton deformation"
**Synfig version & platform**:
Debug build compiled on November 01, 2019 Synfig studio 1.3.11. Archlinux 64x.

**Issue description**:

Distortion occurs at the bottom of the rendering and, like the skeleton layer, skeleton deformation also duplicates the bones when copied to another file or within the same file.

I attach the sifz file and some screenshots. THANKS FOR THE EXCELLENT EFFORT.

[E01-P

[2019-11-02 07:53] #262 closed

[2019-11-02 08:12] morevnaproject commented on #980
Let me explain how I see this:

1.  The application **never** saves tool options on quit.

2. The button is expected to be in tool options dialog
![screenshot_001](https://user-images.githubusercontent.com/332868/68068017-7ad70b00-fd82-11e9-876f-93225e7107a2.png)

3. When user clicks the button it saves current options for current tool. The save happens immediately when user clicked button. So, wh

[2019-11-02 10:22] morevnaproject opened #996 "Fix all regressions in render engine (detected by our test suite)"
We have set of tests for testing render engine - https://gitlab.com/synfig/synfig-tests/

This set of tests is used to automatically check all new commits and PRs via Travis job.

Currently it shows 154 failed tests (see end of log here - https://travis-ci.com/synfig/synfig/jobs/252055488)

[2019-11-02 11:46] rodolforg commented on #341
Shouldn't this issue be closed?

[2019-11-02 18:14] ebarranco commented on #341
Yes I think so @rodolforg I did think it was missing some details or something like that but it works fo me. We can close it now. Should I do it?

[2019-11-03 12:00] ankit-kumar-dwivedi commented on #972
Well @ice0 I tried it

and this doesn't work. However, this is not related to synfig. Mac OS Catalina has a bunch of security features that change how permissions are managed.
Gimp (https://gitlab.gnome.org/GNOME/gimp/issues/3710) and InkScape(https://gitlab.com/inkscape/inkscape/issues/459) is also affected. GIMP has fixed this issue in latest release.

[2019-11-04 14:42] rodolforg commented on #635
Actually, 1e2 means 1 x 10²

[2019-11-05 09:08] blackwarthog commented on #980
Actually I did not suggest to "also" add button. I've suggested to add button *instead* of removing existing functintality. I'm for keep feature of saving of tool state and think it is a bad idea to remove this. That you just forgot about this makes me sad.

I suggest to add the "reset tool settings" button at the conspicuous place, near current color for example, and keep the feature with saving

[2019-11-05 11:13] ice0 commented on #980
I am also agree with Enrique that the current implementation is wrong and needs to be changed.
Intuitive behavior - forget all changes after exit. And switch to the old behavior only if the user wants it.

[2019-11-06 03:15] Keyikedalube opened #997 "Render window unresizable"
**Synfig version & platform**:
1.3.11
*Development version:
Revision: 20191027
Branch: master
Revision ID: d0285b*

**Issue description**:
Can't resize render dialog window on my Debian (XFCE) system. The window is too large, buttons like Cancel and Render are not accessible

![Screenshot_2019-11-06_08-43-00](https://user-images.githubusercontent.com/24214509/68265319-b408c700-0071-11ea-9efc-6e67f

[2019-11-06 03:20] rodolforg commented on #997
What's your screen resolution?

[2019-11-06 03:31] Keyikedalube opened #998 "Set preview video zoom to "Fit" by default"
**Synfig version & platform**:
1.3.11
*Development version:
Revision: 20191027
Branch: master
Revision ID: d0285b*

**Issue description**:
When previewing video the actual preview window is always floating. I have to manually change zoom from *100%* to *Fit* every time I preview my animation.
Won't it be better to set the default zoom to *Fit* for better UX?

<bountysource-plugin>

---
Want to bac

[2019-11-06 03:32] Keyikedalube commented on #997
1366x768

[2019-11-06 22:40] BobSynfig commented on #990
See also here: https://forums.synfig.org/t/solved-gomp-4-0-not-found-ubuntu-14-04-derivated-distros-related/9137/3

[2019-11-08 12:28] morevnaproject commented on #863
@limburgher @Keyikedalube  Do you use Appimage version or compiled from source?

I have tested the file you provided with the latest commit of master branch (compile d from source) - it works fine on Linux Mint 19.

[2019-11-08 12:30] morevnaproject commented on #998
Closed via #999

[2019-11-08 12:30] #998 closed

[2019-11-08 12:32] morevnaproject commented on #424
I have tested again.

The slow playback happens for this file (its rate is 44100) -
[sound.wav.zip](https://github.com/synfig/synfig/files/3824550/sound.wav.zip)

The same file converted to 48000 plays smoothly -
[sound-48000.wav.zip](https://github.com/synfig/synfig/files/3824553/sound-48000.wav.zip)

...but playback gets laggy after timecursor reaches end of file. Does this happens because it tr

[2019-11-08 13:09] morevnaproject commented on #997
I think this is because Gamma widgets on "Gamma correction" tab.
![screenshot_005](https://user-images.githubusercontent.com/332868/68478916-969b4f00-0263-11ea-9dc7-aedd91a99bec.png)

They were moved here recently.

Time to tweak layout?

[2019-11-08 13:12] morevnaproject commented on #341
Sure! ^__^

[2019-11-08 14:50] limburgher commented on #863
I see this on the Fedora version and compiled from source.

[2019-11-08 23:29] #341 closed

[2019-11-09 00:28] Keyikedalube commented on #863
Switched to Debian recently...
noticed mod_libavcodec isn't present on this distro too but the sounds are playing alright
*BTW compiled from source*

[2019-11-09 04:36] Gilraiser opened #1000 "Error in the star, polygon and rectangle layers."
**Synfig version & platform**:
1.3.11 Debug build November 3, 2019. Archlinux 64x

**Issue description**:

Hello friends. Best wishes to you.

I think I found an error that consists of a deformation in the region layer and the contour layer when these are generated with the star, polygon and rectangle tool. The rendering in the work area does not correspond to the shape of the layer. The nodes are

[2019-11-09 12:44] morevnaproject commented on #863
Thanks for responding!

@limburgher  I think this is related with MLT package shipped with Fedora.

@Keyikedalube `mod_libavcodec` is not used for sound playback, so it's ok if it is not compiled.

[2019-11-09 12:45] morevnaproject commented on #863
@limburgher Please try AppImage version, which uses its own version of MLT - https://downloads.synfig.org/stable/SynfigStudio-1.2.2-18.09.14-linux64-286f1.appimage

[2019-11-10 03:10] morevnaproject commented on #451
@rodolforg Can we solve that in the same way as you did in #982? (https://github.com/synfig/synfig/pull/982/commits/75a93af2e663ee29b92b54c05bf5fcecf5b3e4d0)

[2019-11-11 10:10] Keyikedalube commented on #997
Don't you think those slider (scale) widgets are redundant? Anyway, I love the UI concept since it suits different users.

But if those scale widgets are removed I assume the render and canvas properties (noticed gamma widgets tab is there too) window would fit on a lower resolution monitor screen... at least on my 1366x768 screen.

[2019-11-11 10:49] morevnaproject commented on #972
We have a shell script wrapper for OSX binary and it looks like OSX doesn't allow to app start from shell script anymore.

See related links for GIMP:
- https://gitlab.gnome.org/Infrastructure/gimp-macos-build/issues/14 (second item in the list)
- https://gist.github.com/samm-git/d9a2b1843f308c5b9de39d22ad27dfec

[2019-11-11 15:06] limburgher commented on #863
Yeah, that worked. Do you know what mlt it uses?

[2019-11-11 15:25] morevnaproject commented on #997
@Keyikedalube It would be nice to kee sliders, as they give idea about value range.

How about this layout? -
![1234](https://user-images.githubusercontent.com/332868/68598831-1890af80-04d2-11ea-8121-b7e8c234eb43.png)

[2019-11-11 23:57] Keyikedalube commented on #997
Yes that layout looks much better.
Knowing value range visually is easier than trying to change numeric value randomly.

[2019-11-12 01:25] Keyikedalube opened #1005 "Ctrl+Shift+Z is redo command on Linux but on Synfig it's Zoom to Fit"
**Synfig version & platform**:
1.3.11

**Issue description**:
On Linux the keyboard combination Ctrl+Shift+Z is for redo action.

Got used to redo-ing previous undo actions using that keyboard shortcut after using a GNOME Linux distro *(Some GNOME apps register only Ctrl+Shift+Z as the redo command and not Ctrl+Y)*
This shortcut works on XFCE desktop too.

Don't you think Synfig Zoom to Fit keyboa

[2019-11-12 04:53] morevnaproject commented on #854
I think we should look how it is done for Synfig's splash screen.
I.e. Synfig does something (loads settings) and displays a splash screen window with a progressbar. And that works.

So, maybe we should do something similar. I.e.:
When user clicks "Convert" button, we hide Vectorization Options WIndows, then display another window with progressbar (that window possibly should use separate thread?)

[2019-11-12 06:13] morevnaproject commented on #854
@blackwarthog says that you need to add
[code]
after changing progress value.

See `splash.cpp` as example:
https://github.com/synfig/synfig/blob/1a6615962fe34cf2386c58290630d07fd99f3429/synfig-studio/src/gui/splash.cpp#L126-L135

[2019-11-12 14:38] Keyikedalube commented on #997
I tried implementing the same one above. And here's a sample screenshot of mine aligning slider buttons and GammaPattern on 2nd column (*Intended to center align second column*):

![Screenshot_2019-11-12_19-48-03](https://user-images.githubusercontent.com/24214509/68679360-bb563600-0585-11ea-81a5-a535d55dc927.png)

The window is still big but render and cancel buttons are visible at least.

Why is

[2019-11-12 17:06] rodolforg commented on #997
This may help you:
https://developer.gnome.org/gtk3/stable/ch30s02.html

Try to make use of vexpand property

[2019-11-13 14:56] Keyikedalube commented on #997
Tried setting vexpand to false. No noticeable changes to the layout.

However I found this [gkmm scale class reference](https://developer.gnome.org/gtkmm/stable/classGtk_1_1Scale.html#a28473a3dead4c2a29bfe1399234266e2)
What if the draw value (the number above the slider) is removed since the spin buttons already indicates the number.
That way I feel the layout would be much more simpler and beauti

[2019-11-13 15:14] Keyikedalube commented on #997
Here's the updated layout with set_draw_value set to false

![Screenshot_2019-11-13_20-27-34](https://user-images.githubusercontent.com/24214509/68775336-50bffb80-0654-11ea-9551-c09ee74ed273.png)

This fixes the render window too large issue.

But there is a slight change in the slider behavior too. The slider handle doesn't snap by .1 anymore ie., previously dragging the handle up snaps to 1.1, 1

[2019-11-14 07:23] ice0 commented on #997
We are doing some steps in this direction, thanks to @rodolforg (https://github.com/synfig/synfig/commit/9207c07d523e93766aef84b210dc66319087be68), but still more work in progress.

If you do PR, i can look why the snapping doesn't work.

[2019-11-14 08:04] ice0 commented on #863
If I remember correctly, we use MLT 6.6 for AppImage. But, in my opinion, the reason it doesn't work on Fedora is because of the supported codecs and compilation options used to build MLT. What version of Fedora are you using? I want to reproduce this problem locally.

[2019-11-14 11:29] morevnaproject commented on #863
Exactly. Fedora is always picky about multimedia-related stuff and codecs.

[2019-11-14 14:48] limburgher commented on #863
Fedora 31. Yes, Fedora is US-based and must comply with US patent law.

[2019-11-14 15:13] rodolforg commented on #863
But what would be the trouble with ogg files?

[2019-11-14 15:16] limburgher commented on #863
That's an excellent question. I can't imagine it's patent-related. :)

[2019-11-15 00:58] Keyikedalube commented on #928
--   No package 'libmng' found
CMake Error at /usr/share/cmake-3.13/Modules/FindPkgConfig.cmake:452 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/share/cmake-3.13/Modules/FindPkgConfig.cmake:622 (_pkg_check_modules_internal)
  src/CMakeLists.txt:36 (pkg_check_modules)

See also "/home/keyikedalube/Source/synfig/_debug/synfig-core/CMakeFiles/CMakeOutput.l

[2019-11-15 08:49] ice0 commented on #928
@Keyikedalube Which OS you are using?

[2019-11-15 10:43] morevnaproject commented on #863
@limburgher Can you please check if this sound file will work in your version which compiled from source? -
[sound-48000.wav.zip](https://github.com/synfig/synfig/files/3851090/sound-48000.wav.zip)

[2019-11-15 13:30] Keyikedalube commented on #928
@ice0 Debian testing

[2019-11-15 14:26] morevnaproject commented on #972
More info from Krita - https://krita.org/en/item/first-notarized-macos-build-of-krita/

[2019-11-15 15:02] limburgher commented on #863
Not on 1.2.2.

[2019-11-15 15:35] morevnaproject commented on #863
That's really weird. The file I provided is a raw WAV file, without any codecs. So, the problem is in Fedora's MLT package itself...

[2019-11-15 15:38] morevnaproject commented on #1005
Good idea.  ^__^
What shortcut should we bind to "Zoom to Fit" then?
`Ctrl+0`? (Ctrl+zero)

[2019-11-15 15:47] rodolforg commented on #1005
Hmm... I think `ctrl 0` should mean Zoom to 100%

[2019-11-15 15:51] limburgher commented on #863
Fedora has now updated to 6.18.0, which doesn't help. mlt-melt still won't play the file. I've filed a Fedora bug against mlt. https://bugzilla.redhat.com/show_bug.cgi?id=1772924

[2019-11-16 02:11] rodolforg commented on #451
It is not that easy in this case: there's is no signal for "user is 'dragging' in color widget".
And to make it worse, the widget is deprecated in Gtk :/

[2019-11-16 02:15] rodolforg commented on #375
Actually, the problem happens if you click on parameter list item before step 4. :/
I tried to un-select the item before action performance, but I couldn't do it.

[2019-11-16 10:15] ice0 commented on #928
@Keyikedalube also confirmed on Debian 9.  I will take a look.

[2019-11-16 12:10] rodolforg commented on #411
What about `intensity` for every case?

[2019-11-16 15:51] morevnaproject commented on #997
Closed via #1006.

[2019-11-16 15:51] #997 closed

[2019-11-16 16:41] morevnaproject commented on #1005
I actually expected `Ctrl+1` for Zoom to 100% ^__^

[2019-11-16 17:24] Jose-Moreno commented on #1005
`Ctrl + 0` is common for `Fit To Screen` (_usually the **width** of the canvas is fit to the view boundaries against panels_) and I agree that `Ctrl + 1` is common for setting the Zoom to  `100%`

[2019-11-16 19:49] rodolforg commented on #1005
Firefox and Opera browsers use `ctrl + 0` for Zoom to `100%` :)

[2019-11-16 22:49] Jose-Moreno commented on #411
@rodolforg the problem I see is that `intensity` is also commonly associated with `Lightness` (when a color is bright), color saturation (when a color is intense or vibrant) or audio volume.

I guess `Amount` was originally meant to be used as a blanket term to be read along with the layer name (e.g Rotate amount, Scale amount, Noise distort amount, etc), but for the transparency related ones it d

[2019-11-16 22:57] Jose-Moreno commented on #1005
@rodolforg That's correct. I was thinking of animation software, not browsers though, however I made a mistake in my previous comment.

I meant to say `Reset to default zoom` instead of `Fit to Screen`, so apologies for the confusion. In that sense you are correct to say that `Ctrl + 0` resets to 100% as this is often the **default** Zoom factor.

On Flash / Animate CC however `Ctrl + 1` is used t

[2019-11-17 01:05] rodolforg commented on #342
Could you please post the output of this command line: `locale` ?

[2019-11-17 01:42] ebarranco commented on #993
I tested this in a new system and it woks now. Thanks.

[2019-11-17 01:57] rodolforg commented on #411
Got it :)

Something to remember: layers in layer list panel have a context menu with two related menu items: "Increase Amount" and "Decrease Amount".

[2019-11-17 11:49] egladil commented on #342
[code]

[2019-11-17 13:59] #492 closed

[2019-11-17 14:17] morevnaproject commented on #411
@Jose-Moreno I agree with most of your points. Just would like to suggest to use `Opacity` instead of `Alpha`. For my taste `Alpha` is more technical term, while `Opacity` is better understood even by non-professional audience. ^__^

[2019-11-17 16:10] rodolforg commented on #342
And does it still not work?
What about version 1.3.11?
Try this commandline:
`LANG=en synfigstudio` or whatever path you need to call `synfigstudio` binary.

[2019-11-17 19:53] egladil commented on #342
Still does not work. Same problem both on  1.2 and on 1.3.11.

Starting with `LANG=en /Applications/SynfigStudio.app/Contents/MacOS/SynfigStudio` makes it use english in the interface

This might also be of interest:
[code]

It feels like the program is incorrectly looking at the second half of the locale string (`-SE`) instead of the first half (`en-`)

[2019-11-17 22:28] rodolforg commented on #491
I think this issue was closed by mistake…

[2019-11-18 00:00] rodolforg commented on #430
Should this issue be closed due to #916 ?

[2019-11-18 11:47] morevnaproject commented on #491
Yeah, accidentally closed this by pushing commit. Thank you!

[2019-11-18 11:48] morevnaproject opened #1009 "Finish spline with double-click"
Continuing the topic brought up in #1008, when using Spline Tool (or Polygon Tool) it would be nice to finish spline (and polygon) creation by double-click. ^__^

@rodolforg what do you think about this?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/83953204-finish-spline-with-double-click?utm_campaign=plugin&utm_content=tracker%2

[2019-11-18 11:59] #430 closed

[2019-11-18 19:20] ice0 commented on #863
Here is a short conversation with MLT developers (https://github.com/mltframework/mlt/issues/504)

[2019-11-18 23:20] rodolforg commented on #1009
Where user should double-click on to finish spline/polygon creation?

[2019-11-19 06:54] morevnaproject commented on #1009
On empty space.

Double clicking on empty space of workarea should set a point at this place and finish spline/polygon creation.

This is a common approach for vector editors (for example in Inkscape).

[2019-11-19 06:57] morevnaproject commented on #451
Oh, so replacing a color widget would be a higher priority.
I wonder, what Gtk offer intead of deprecated widget?

[2019-11-19 16:47] ankit-kumar-dwivedi commented on #854
Thanks @morevnaproject looks good now :)

[2019-11-20 10:28] #1009 closed

[2019-11-20 18:20] rodolforg commented on #491
It seems GTK uses plus `+` and minus `-` keys for tree item collapse and expansion.
Pressing theses keys with `shift` reveal/hide all its children.

[2019-11-20 23:47] BoldHonor commented on #943
can i take on this task?

[2019-11-21 03:46] ankit-kumar-dwivedi commented on #943
Hey, @BoldHonor sure you can start with this issue.
For building instructions please refer to the docs -> https://synfig-docs-dev.readthedocs.io/en/latest/

[2019-11-21 14:14] limburgher commented on #863
So essentially because mlt relies so strongly on ffmpeg, it's effectively useless in Fedora, where we cannot ship ffmpeg?

[2019-11-21 22:49] ebarranco opened #1014 "Wrong Width Points result"
**Synfig version & platform**:
Master
Linux

**Issue description**:
The influence of the width points from advanced outlines have an offset in closed shapes.

[I show you the problem here.](https://youtu.be/mdiBtnrqQxc)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/84185186-wrong-width-points-result?utm_campaign=plugin&utm_content

[2019-11-22 14:19] Keyikedalube opened #1015 "background rendering doesn't render the whole (larger duration) animation"
**Synfig version & platform**:
1.3.11
Debian testing

**Issue description**:
I changed the duration of an animation to 59s. Background rendering stops at somewhere around 12s. Doesn't render further even if I place the time cursor manually on the gray areas.

![Screenshot_2019-11-22_19-43-22](https://user-images.githubusercontent.com/24214509/69432807-61f9be00-0d60-11ea-9ead-6dd4cff0d3ae.png)

<bo

[2019-11-23 05:25] morevnaproject commented on #1015
Please check memory usage on your system - background rendering stops when it getting close to memory limit.

[2019-11-23 09:33] ice0 commented on #863
We decided to see if we could update libvorbis support in MLT. If yes, then problem will be solved.

[2019-11-23 10:07] AnishGG commented on #917
@morevnaproject, Apologies for late reply.
So we are facing this issue because the animation uses "exp" convert type, which I did not support yet.
Will provide support for it soon.

[2019-11-23 12:48] morevnaproject commented on #1014
@blackwarthog Can you take a look at this, please?

[2019-11-24 01:24] Keyikedalube commented on #1015
If you mean RAM I have firefox and synfig running right now. The task manager indicates 1.4/3.8 GB is used. Looks there's still plenty enough room.

But if you mean video memory *(since I don't have a dedicated GPU equipped on my notebook computer)* then I think my computer is... only good enough for programming ;D

Maybe, I can work in small (10s) sections for my animation and clip them together

[2019-11-24 02:56] rodolforg commented on #861
SynfigStudio hangs too! (It can be noticed if you start app by command line)

[2019-11-24 05:12] upendra-web opened #1017 "Can't find lottie export option in developer snapshot windows"
**Synfig version & platform**:
Version - Synfig Studio 1.3.11 Development Snapshot
Platform - Windows 10

**Issue description**:
Recently I downloaded the synfig studio development snapshot from fosshub. After installation, I can't find the lottie export option. Can you tell me where I can find this option? Thanks in advance.

![Screenshot (2)](https://user-images.githubusercontent.com/43108965/69

[2019-11-24 06:42] ankit-kumar-dwivedi commented on #1017
Hi @upendra-web yes, it's not there in 1.3.11.
You need to build the latest master branch on synfig for trying the lottie export option. We will be soon releasing a new version with all the new features. :)
Closing this now!

[2019-11-24 06:42] #1017 closed

[2019-11-24 06:47] ankit-kumar-dwivedi commented on #938
@morevnaproject @ice0 Is it really an issue?

[2019-11-24 06:48] #895 closed

[2019-11-24 07:02] ankit-kumar-dwivedi commented on #800
@morevnaproject is anyone working on it? I would like to work on this one but I need more context if you can help out [^_^] correct me if I'm wrong.
- When the app image runs the required libraries must be downloaded beforehand using the default package manager
- So here a fix would be creating a script?

[2019-11-24 08:46] upendra-web commented on #1017
Cool, thanks for the info

[2019-11-24 08:48] upendra-web commented on #1017
Just one more question is there any roadmap for synfig releases? Because I really liked the lottie feature and can't wait to get it in an official release.

[2019-11-24 13:41] AnishGG commented on #917
Support for "exponent" is almost done. The only remaining part is the expression of "exp" in Lottie. I am not able to figure out what lottie uses, because the trial period of Adobe after effects has ended for me.
Can someone help me here?

[2019-11-25 13:51] morevnaproject commented on #1017
@upendra-web Lottie will be shipped with 1.3.12 (development version)  and 1.4.0 (stable version).

[2019-11-25 13:55] morevnaproject commented on #1015
@Keyikedalube Hmm... it uses RAM only, no GPU memory involved. So, there is some problem here/

@blackwarthog Any ideas?

[2019-11-25 14:00] morevnaproject commented on #938
It would be nice to add a "Fit to canvas" checkbox into Image Import Dialog. ^__^

[2019-11-25 15:24] AnishGG commented on #931
I have pushed a commit fixing this.
@morevnaproject please have a look.

[2019-11-25 15:31] AnishGG commented on #989
I will have a look at this.

[2019-11-25 15:59] morevnaproject commented on #546
@rodolforg I think it worth to try now!

[2019-11-25 16:09] ice0 opened #1019 "Screenshot image not found in Appdata.xml"
https://github.com/synfig/synfig/blob/master/synfig-studio/org.synfig.SynfigStudio.appdata.xml.in

File doesn't validates for now.
https://flathub.org/builds/#/builders/39/builds/1423

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/84371276-screenshot-image-not-found-in-appdata-xml?utm_campaign=plugin&utm_content=tracker%2F321991&ut

[2019-11-25 21:07] blackwarthog commented on #1015
background renderer has an internal fixed hardcoded memory limit for background frames - 512Mb

in file synfig-studio/src/gui/workarearenderers/renderer_canvas.cpp at line 92

i thunk that eating of all avialable memory just for cache is not a good solution because an operating system has another applications to run at the same time with synfig. I think exists a solution to communicate with OS mar

[2019-11-26 02:20] Keyikedalube commented on #1015
Now I see the reason for not rendering larger duration animation (memory limit) is by design.

Or limit the animation length (in my case 10s max) and not suffer quality loss.

[2019-11-26 04:47] blackwarthog commented on #1015
you doen no need to split the file
You cannot prerender the whole animation, but you have ability to select which part of your animation will be prerendered. Just set time cursor into middle of your animation and press 'refresh' button to free already prerendered data. After that prerenderer will render some frames forward and a little frames backward from the time cursor.

[2019-11-26 06:55] AnishGG commented on #939
@morevnaproject could you please look at the above clarification. ^__^
I will be able to start with stretch layer after this.

[2019-11-26 08:34] ice0 commented on #1019
@morevnaproject can you take a look?

[2019-11-26 13:50] #985 closed

[2019-11-26 14:15] upendra-web commented on #1017
Thank you so much, can't wait for the update

[2019-11-26 14:38] #1000 closed

[2019-11-26 17:41] AnishGG commented on #917
This is now resolved by the above commit.

[2019-11-27 06:50] morevnaproject commented on #939
Exactly!

Yes, the units are different. ^__^

[2019-11-27 06:57] #1019 closed

[2019-11-27 07:05] morevnaproject commented on #424
Removed "Windows" label, as it is affecting Linux too.

[2019-11-27 07:26] morevnaproject commented on #917
Confirmed it is working now! So awesome to see cutout animation in browser! :tada:

[2019-11-27 07:29] #931 closed

[2019-11-27 07:29] #917 closed

[2019-11-27 07:30] morevnaproject commented on #939
Closed via 79febec2722b8bb6600e3ef6c4f1d5291d3bf12a

[2019-11-27 07:30] #939 closed

[2019-11-27 07:32] morevnaproject commented on #931
Works perfectly now! Thank you! ^__^

[2019-11-27 10:53] BoldHonor commented on #943
Sir, I tried but i didn't under stand much there are files named " layerparamset" and "layeractive"
sir I think we have to add a function to change active layer name when the values are changed but i don't know where. pleas can you help . thanks

[2019-11-27 10:57] BoldHonor commented on #943
and Sir i am resding the developer documentation right now

[2019-11-27 16:11] ice0 commented on #972
Well, I did some research and this is what I found out.

To bypass it we must enable "Full Disk Access" for SynfigStudio.app ([instruction](http://osxdaily.com/2018/10/09/fix-operation-not-permitted-terminal-error-macos/)).

This doesn't works because SynfigStudio.app/MacOS/SynfigStudio is just a bash script.
But if we replace it with our simple starter stub, then everithing begin to work!

Here a

[2019-11-28 05:48] morevnaproject commented on #972
Awesome! Thank you so much! I will take care on incorporating those changes into our OSX build script.

[2019-11-28 06:11] BoldHonor commented on #943
sir till now I reached the switch and i got that it displays the name of visible layer and it updated name but it does not happen at same instant ,i think there is no function listening  for the event

[2019-11-28 16:20] morevnaproject opened #1020 "Bug in "filesystemtemporary.cpp"?"
Hi! I was looking at code of `filesystemtemporary.cpp` and found a weird thing  at line 378 -

https://github.com/synfig/synfig/blob/79febec2722b8bb6600e3ef6c4f1d5291d3bf12a/synfig-core/src/synfig/filesystemtemporary.cpp#L370-L384

Should it be `if (remove_files)` instead of `if (!remove_files)`?

@blackwarthog, please check. ^__^

<bountysource-plugin>

---
Want to back this issue? **[Post a boun

[2019-11-28 16:27] morevnaproject commented on #411
@ice0 I think this issue is ready for applying changes (Amount -> Opacity). ^__^

[2019-11-28 16:42] morevnaproject commented on #1020
This is probably the reason why some temporary files not deleted after "Save As" operation.

[2019-11-28 23:59] bajajvinamr commented on #780
@ankit-kumar-dwivedi  I would like to work upon this

[2019-11-29 00:00] bajajvinamr commented on #777
Is this issue open at the moment and if yes, i would like to work upon it

[2019-11-29 00:00] bajajvinamr commented on #733
@morevnaproject  I would like to fix this issue

[2019-11-29 00:02] bajajvinamr commented on #637
Is this issue open?

[2019-11-29 07:32] ice0 commented on #733
@bajajvinamr it's yours now :)

[2019-11-29 15:51] morevnaproject commented on #777
Hi @bajajvinamr and welcome to Synfig! Your help is much appreciated here. ^__^

BTW< I received your message about course request, which you sent via contact form. But I wasn't able to reply - message returns with a "No Such User Here" error.
Possibly mistake in your contact email address? Please send one more message with correct email via contact form again. ^__^

[2019-11-29 16:48] BoldHonor commented on #943
Done !!!!!!!!!!  the was an extra bracket in a file

[2019-11-29 17:45] ankit-kumar-dwivedi commented on #943
@BoldHonor you can send a pull request for the fix [^_^]

Can you point the line in current codebase?

[2019-11-29 17:48] ankit-kumar-dwivedi commented on #780
@bajajvinamr sure you can start working.

[2019-11-29 17:50] ankit-kumar-dwivedi commented on #777
@bajajvinamr assigning you this one :)

[2019-11-30 05:27] BoldHonor commented on #943
@ankit-kumar-dwivedi  sir , it was in synfig-studio/src/gui/widget/widget_filename.cpp

this was the code block:

void
Widget_Filename::on_value_changed()
{
	signal_value_changed()();
}

[2019-11-30 08:43] ankit-kumar-dwivedi commented on #943
Great! and no need to call me sir :)

[2019-11-30 10:30] Keyikedalube commented on #863
At the mean time, this same issue was reported for Synfig flatpak version.

https://github.com/flathub/org.synfig.SynfigStudio/issues/5

That issue was closed with a fix two days ago. Collaborators confirmed the sound layer works.
Fedora users can switch to the flatpak version.

[2019-11-30 10:59] ankit-kumar-dwivedi commented on #943
@BoldHonor I am afraid this code was correct and is not required to edit.
I suggest you check after calling which function the name updates
@morevnaproject I guess `signal_layer_new_description()` from canvasinterface should be called after renaming. Right?

[2019-11-30 12:07] ankit-kumar-dwivedi commented on #923
Please confirm if this would be a good way or not.
I am thinking to make tranformation for image layer using
**offset - change of origin
scale - (scaling x, scaling y)
angle(Angle::rad(0.0)),
skew_angle(Angle::rad(0.0)**
[code]
After that get the transformation from image group and add the attributes to get resultant which will be applied on output.

[2019-11-30 13:42] morevnaproject commented on #923
Yes, you can create a new Transformation object (T1) with the code above. Then, you can get transformation from Group Layer (T2) and use `transform` method to apply transformation of T1 to it.
https://github.com/synfig/synfig/blob/107230cdb451d698b7de4cf99bfcbb6337f31f54/synfig-core/src/synfig/transformation.h#L177

[2019-11-30 13:46] #854 closed

[2019-11-30 13:48] morevnaproject commented on #923
There is alternative solution, that you suggested in chat - it looks cool I think. Quoting:

In fact I found that this approach is better! I mean it is better than changing transformation parameter of Group. In this case both groups (Yellow one with image and Green one with vectors) will have same transformation and this looks logical. And transformation of image layer is applied directly to vecto

[2019-11-30 13:59] morevnaproject commented on #923
@ankit-kumar-dwivedi  For scaling beziers, I think it is enough to multiply each vertex, each tangent and width point to the same value.

[2019-11-30 14:01] ankit-kumar-dwivedi commented on #923
@morevnaproject Okay then, for now I am proceeding with this one will let you know what results I am getting :)

[2019-11-30 17:32] ice0 commented on #943
Hi, Prakhar!
For working with signals we are using  libsig++.
You can read funny tutorial about signals [here](https://developer.gnome.org/libsigc++-tutorial/stable/)

I think that the name of the function leads to misunderstanding.
`signal_value_changed` is the method which returns the signal, so you must read it like:
`get_signal_value_changed().emit()`
second braces is alias for emit function.

[2019-12-01 01:12] Gilraiser opened #1022 "The colors change when I copy a group of layers to another file."
**Synfig version & platform**:
1.3.11. Debug build December 11, 2019. Archlinux 64.

**Issue description**:

When I copy and paste a layer or group of layers into another synfig file, whether it is empty or with other layers, the colors change and darken.

The color also changes when I import the file and export the canvas parameter.

I congratulate you, version 1.4 is going very well, keep it up.

[2019-12-02 09:01] blackwarthog commented on #1020
yes, it's a bug

[2019-12-02 15:01] morevnaproject commented on #1020
Thanks! ^__^

[2019-12-02 15:02] #1020 closed

[2019-12-02 15:38] limburgher commented on #863
So you're saying I can't fix the Fedora version, and should retire synfigstudio from Fedora?

[2019-12-02 19:17] ice0 commented on #863
We can resolve this issue by using MLT compiled with libvorbis support. I think Dan can reanimate it in the next MLT release. If not, i will try to do it myself.

[2019-12-02 19:55] limburgher commented on #863
I attempted this locally using the --enable-vorbis flag and removing src/modules/vorbis/deprecated. That built the module but it didn't seem to work. I may be missing something.

[2019-12-03 04:49] blackwarthog commented on #863
Can you try to call `melt tone` or `melt noise` to check the own MLT functionality?

[2019-12-03 14:38] limburgher commented on #863
Picture appears, and sound plays.

[2019-12-06 10:27] morevnaproject commented on #863
The commit 1f4abf1812809da6b2a61d7702b4f41a81d6920e adds support for libvorbis backend when playing sound in Synfig via MLT.

@limburgher @Keyikedalube  Can you please check if ogg file plays on Fedora in the latest version compiled from source?

[2019-12-06 10:29] morevnaproject commented on #388
Should be fixed by 1f4abf1812809da6b2a61d7702b4f41a81d6920e

[2019-12-06 10:46] Keyikedalube commented on #863
@morevnaproject I don't use Fedora now. Needed synfig sound support so badly (because of project deadline schedule) I had to switch to Debian.
@limburgher can help. He's the synfig maintainer on Fedora.

[2019-12-06 12:42] #1014 closed

[2019-12-06 14:03] limburgher commented on #863
@Keyikedalube She, actually. :)
No, oggs to not play.

[2019-12-06 17:01] eszlari commented on #784
This was fixed by @ice0 (https://github.com/flathub/org.synfig.SynfigStudio/commit/889bde68f0c877635f9e90ad54687c27913060a9), so I'm closing the issue.

[2019-12-06 17:01] #784 closed

[2019-12-06 23:22] ebarranco opened #1027 "Animated width points handles don't change position."
**Synfig version & platform**:
Linux
Master

**Issue description**:

When I animate outlines, width handles don't change position.

![Screenshot_20191206_165549](https://user-images.githubusercontent.com/11136544/70363074-9e431900-184c-11ea-933e-7c3d869bfebc.png)

Maybe related with  #1014

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/is

[2019-12-06 23:31] ebarranco commented on #1014
Thanks @blackwarthog this works well now. I did find a new problem with these handlers, I'll make a new report. ( #1027 )

[2019-12-06 23:59] ebarranco opened #1028 "Advanced outlines without width value"
**Synfig version & platform**:
Master
Linux
**Issue description**:

Drawing closed Advanced outlines, gives me outlines without width value.

[I show you here.](https://youtu.be/Tjb1I7RsCn0)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/85042848-advanced-outlines-without-width-value?utm_campaign=plugin&utm_content=tracker%2F321991

[2019-12-07 15:48] morevnaproject commented on #424
Commit 1f4abf1812809da6b2a61d7702b4f41a81d6920e fixed the issue.

In fact, after building this commit `sound-48000.wav` played perfectly, but `sound.wav` was glitching.

Then I discovered that my system (Linux Mint 19) is missing `libmlt-data` package (problem with Ubuntu dependencies - installing `libmlt` doesn't install `libmlt-data` which is required for libmlt to work properly, as it contains

[2019-12-07 15:52] #424 closed

[2019-12-07 21:20] RezaSh13 opened #1030 "error while loading shared libraries"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

**Issue description**:
Hi, I have a manjaro :)
 plasma  ~  synfigstudio
synfigstudio: error while loading shared libraries: libIlmImf-2_3.so.24: cannot open shared object file: No such file or directory

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bount

[2019-12-07 21:38] RezaSh13 commented on #1030
aur/synfigstudio 1.2.2-1

[2019-12-08 13:21] #1027 closed

[2019-12-08 13:21] #1028 closed

[2019-12-08 17:38] FirasH opened #1031 "Cannot Render animation as Synfig freezes without any output"
**Synfig version & platform**:
Synfig 1.3.11 on both Linux and Windows

**Issue description**:
[Render_Issue_Frozen.zip](https://github.com/synfig/synfig/files/3936634/Render_Issue_Frozen.zip)

0) Open one of the attached animations e.g. Schermo_marchio_V6.sifz

1) Try to render the animation: File > Render...
At this point Synfig is frozen completely.

I tried to create a new file and the Renderi

[2019-12-08 19:47] FirasH commented on #1031
I have compiled the latest code from github and it works...
Probably fixed somewhere in the commits after 1.3.11 release.

If the issue have no relevance just close it, thanks!

[2019-12-09 07:39] ice0 commented on #1030
Hi!
Can you check if you have openexr installed?

[2019-12-09 22:14] RezaSh13 commented on #1030
openexr 2.4.0-4

[2019-12-10 07:25] morevnaproject opened #1041 "Dark theme by default?"
People love dark theme. People find it looking cool. Dark theme is used by default in many graphic apps. It is better for eyes.

So, how about to make dark theme enabled by default in 1.4.0? ^__^

[2019-12-10 11:03] rodolforg commented on #1041
Some icons don't have enough contrast in dark mode, I think.

Like that one for swap background - outline colors.

[2019-12-10 13:31] Nampoina-Eddy opened #1043 "These are suggestion for feature improvement in Synfig"
Hello Everyone! So I use since v1.0, i like it but I miss some features from other software.
First, selection. in incscape there are two selections mode:
- object. This mode can move, rotate, scale the entire object
- spline. this mode controle point, spline
![Object_selection](https://user-images.githubusercontent.com/58734923/70532921-48c28100-1b58-11ea-93e5-1d1435868267.png)

![Spline-selection

[2019-12-10 14:38] morevnaproject opened #1044 "Cannot build Linux AppImage via morevna-builds (Debian 7)"
Commit id: 333dbe6770ad0d083ebd636d06e1b7e694e34702

Linux 64bit build gives the following error:

[code]

Any help is appreciated. ^__^

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/85217941-cannot-build-linux-appimage-via-morevna-builds-debian-7?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github

[2019-12-10 15:50] ice0 commented on #1030
Looks like Synfig Studio has been compiled with OpenEXR 2.3 and Manjaro has been updated to 2.4 now.
Also i noticed what synfig-1.2.2 doesn't compile on latest Manjaro. Build is failed with an error:
[code]
same error with php53 (https://aur.archlinux.org/packages/php53/).

Some package seems to be broken.

AppImage from AUR works fine, just need to run it from

because the startup script is also

[2019-12-10 18:11] ice0 commented on #1043
Thank you!

[2019-12-10 22:49] ebarranco commented on #1041
Yeah, Dark theme no questions ask, but definitely for some icons its readability could be better.
![Screenshot_20191210_163835](https://user-images.githubusercontent.com/11136544/70575660-98ab4300-1b6c-11ea-930e-34bab7be98fc.png)

[2019-12-11 01:19] RezaSh13 commented on #1030
I used flatpack version :)

[2019-12-11 07:41] ice0 commented on #1030
Nice. We are currently preparing the next stable release, so I plan to fix Manjaro after it is done.

[2019-12-12 18:58] BobSynfig commented on #1041
Why not to let the choice to the user during first startup?
Lots of apps and IDE do it ;)

[2019-12-13 04:54] ankit-kumar-dwivedi commented on #1041
Also we can provide better contrast for icons not visible in the dark mode.
This has to be done someday anyway.

On Fri, Dec 13, 2019, 12:28 AM BobSynfig <notifications@github.com> wrote:

[2019-12-13 14:25] matthiasxie commented on #300
Thank you very much, it works.(+ 'const')
Also,  version & platform:

Thanks a lot, it works. ( + 'const')
macOS Sierra Version 10.12.6
Xcode Version 8.3.3  (8E3004b)
Apple LLVM version 8.1.0 (clang-802.0.42)

[2019-12-13 21:12] TROY9109 opened #1045 "Synfig volume parameter not working?"
**Synfig version & platform**:
1.3.11

**Issue description**:

When I change the volume parameter for my audio file it makes no difference to the volume of the audio. The audio volume level stays the same no matter what? Am I doing something wrong? Even when i change it from 1 to 0.015, the volume is still the same.
I appreciate any help thanks.

<bountysource-plugin>

---
Want to back this issue?

[2019-12-14 04:03] Jose-Moreno commented on #1045
@TROY9109 Not sure if it's the same bug but it should have been fixed this week actually. https://github.com/synfig/synfig/commit/1f4abf1812809da6b2a61d7702b4f41a81d6920e

Maybe @morevnaproject can confirm if it's the same issue?

The only problem is that unless you can compile Synfig there's no way to test this for regular users until a new dev build binary is released for all major platforms.

[2019-12-14 07:31] morevnaproject commented on #1045
Yes, this is fixed last week. Issue is duplicate of #388.

[2019-12-14 07:31] #1045 closed

[2019-12-14 10:34] #949 closed

[2019-12-15 18:35] #1044 closed

[2019-12-15 20:06] blackwarthog commented on #1044
fixed

https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.11-testing-19.12.15-linux32-6b411.appimage
https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.11-testing-19.12.15-linux64-6b411.appimage
https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.11-testing-19.12.15-win32-6b411.exe
https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.11-testing-19.12.15-win

[2019-12-17 10:03] onlyjob commented on #311
I've spent hours troubleshooting this problem and finally found that _.glsl_ files are missing in the [source tarball from Sourceforge](https://sourceforge.net/projects/synfig/files/releases/1.2.2/source/) but present [in this very GitHub repository](https://github.com/synfig/synfig/tree/v1.2.2/synfig-core/src/synfig/rendering/opengl/internal/glsl) as well as in the [source tarball Release](https:

[2019-12-17 12:18] ice0 opened #1047 "Synfig Studio hangs on exit"
Latest windows build. Tested on Windows 7.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/85596293-synfig-studio-hangs-on-exit?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F321991&u

[2019-12-17 14:51] rodolforg commented on #1047
Probably it's something related to threads :/
It happened sometimes even before those changes.

[2019-12-18 07:34] ice0 commented on #1047
It hangs because ReadFile https://github.com/synfig/synfig/blob/0001b32dbdf4b4f6745ffbe3b4966e677bab2e45/synfig-studio/src/gui/ipc.cpp#L134 is waiting for input, and we are wating until thread is finished https://github.com/synfig/synfig/blob/0001b32dbdf4b4f6745ffbe3b4966e677bab2e45/synfig-studio/src/gui/ipc.cpp#L222

I currently have a workaround, but I'm looking for a better solution.

[2019-12-18 11:44] rodolforg commented on #1047
Maybe uncomment the parameter PIPE_NOWAIT of CreateNamePipe`A`:
https://github.com/synfig/synfig/blob/0001b32dbdf4b4f6745ffbe3b4966e677bab2e45/synfig-studio/src/gui/ipc.cpp#L108
https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-createnamedpipea

Or try to peek pipe buffer before blocking to read its contents:
https://docs.microsoft.com/en-us/windows/win32/api/namedpipeapi/nf-na

[2019-12-19 05:55] yoSachinkr opened #1048 "Please add search functionality in properties panel"
Please add search functionality in properties panel. It'll be helpful in finding properties faster instead of scrolling through a long list of properties.

[2019-12-19 12:00] morevnaproject opened #1049 "Synfig fails to build on OSX 10.9 (commit 0001b32db)"
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/85730751-synfig-fails-to-build-on-osx-10-9-commit-0001b32db?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=iss

[2019-12-19 12:13] morevnaproject commented on #972
I have applied changes, we need to test this after build will be ready.

[2019-12-19 14:02] #1049 closed

[2019-12-19 17:22] morevnaproject opened #1050 "Add python3-lxml to Windows installer"
Required by Lottie exporter.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/85749136-add-python3-lxml-to-windows-installer?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F321991&utm_m

[2019-12-19 17:24] morevnaproject commented on #972
Here is a build with the fix - https://cloud.morevnaproject.org/s/caAd9G6Atjx8E9S'

Can someone verify it's working n OSX 10.15?

[2019-12-19 17:27] morevnaproject commented on #1044
Thank you so much! ^__^

[2019-12-19 17:30] morevnaproject commented on #311
@onlyjob Thanks for investigating! I think we need to modify scripts to include `.glsl` files into tarballs.

Ping @blackwarthog @ice0

[2019-12-20 08:28] ice0 commented on #972
@morevnaproject I don’t know how you did this, but now I don’t even need to give Full disk access to Synfig. It requests permissions for Synfig to access the desktop and documents, and it all just works.
![osx1](https://user-images.githubusercontent.com/5604544/71241114-a5900b00-22bf-11ea-9d99-963c03309b40.png)
![osx2](https://user-images.githubusercontent.com/5604544/71241113-a5900b00-22bf-11ea-8

[2019-12-21 06:46] morevnaproject commented on #972
@ice0 I just followed instructions you provided. Possibly you already had rules enabled for Synfig app on your system? ^__^

[2019-12-21 15:40] morevnaproject commented on #1041
I think this will be too much. ^__^ I remember Krita, AfterEffects, Photoshop, DarkTable doing that by default without asking.

True. Let's identify which ones and fix. We can add bright outline for example.

[2019-12-21 15:41] morevnaproject commented on #987
@blackwarthog Can you take a look at this, please? ^__^

[2019-12-23 16:54] sergiomb2 commented on #863
@Keyikedalube , you just need enable rpmfusion repos and install mlt-freeworld, and today I enabled also vorbis plugin in MLT of Fedora which may play sound without mlt-freeworld

https://bodhi.fedoraproject.org/updates/FEDORA-2019-a0fab69cfd
https://bodhi.fedoraproject.org/updates/FEDORA-2019-dea9e2907e

[2019-12-24 04:55] #987 closed

[2019-12-24 14:53] rodolforg opened #1052 "Can't save files in version 1.3.11 - Windows without admin privileges"
**Synfig version & platform**:
1.3.11 - windows 10 64bit

**Issue description**:
A regular user account in a enterprise environment can't save any Synfig animation file.
Temporary and 'dangerous' workaround: administrators give permission to write on Synfig install folder.
Something related to temp dir/files maybe?

[2019-12-24 22:18] Jose-Moreno commented on #1052
To be honest this is a problem with Windows crazy permissions. Krita was having issues with this as reported in the [release notes for v4.2.8](https://krita.org/en/item/krita-4-2-8-released/), although this was a problem with the Qt framework fileaccess on windows. Pencil2D is also having issues with this. It's just a pain in the arse :unamused:

The first way to workaround this is to be the syste

[2019-12-25 07:09] morevnaproject commented on #987
Thank you so much! ^__^

[2019-12-25 07:12] morevnaproject commented on #1047
Should we merge a solution from "debug" branch? - https://github.com/synfig/synfig/commits/debug

[2019-12-25 12:56] ice0 commented on #1047
@morevnaproject no, it doesn't work. I am working on solution.

[2019-12-27 16:27] morevnaproject opened #1056 "Synfig workarea render fails on single-core processor"
When running Synfig in VM with only one processor the workarea rendering hangs.

Details - https://forums.synfig.org/t/built-synfig-not-rendering-in-work-area/10461

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/86097618-synfig-workarea-render-fails-on-single-core-processor?utm_campaign=plugin&utm_content=tracker%2F321991&utm_mediu

[2019-12-27 21:03] ebarranco opened #1057 "Checkboxes are not visible in the parameters panel"
**Synfig version & platform**:
Master
Linux KDE

**Issue description**:
Checkboxes are not visible on the parameters panel, like they're visible in the tool options panel.

![checkboxes](https://user-images.githubusercontent.com/11136544/71532625-d96bc180-28b9-11ea-9159-0731004f753d.png)

[2019-12-28 01:56] ebarranco commented on #451
A workaround, is calling the color wheel from the outline/fill color,  for some reason here does not generate steps in the history stack. [I show you here,](https://youtu.be/T-hXPxQ2fl0) but we definitely need a working HSV color selection solution.

[2019-12-28 16:07] morevnaproject commented on #411
"Amount" changed to "Opacity" for transparency-related parameters (via #1054). Please submit your suggestions for renaming other parameters as separate issues.

[2019-12-28 16:07] #411 closed

[2019-12-29 00:32] rodolforg commented on #783
@morevnaproject , should this panel be canvas-specific? I mean, for a given open file.
If I change to another SynfigStudio tab, it would have another parameters (ie., another loaded sound).

[2019-12-29 05:34] morevnaproject commented on #783
Yes, we need it canvas-specific. ^__^

[2019-12-29 10:16] FirasH opened #1058 ""unsafe srcdir value" error trying to build ETL"
**Synfig version & platform**:
Synfig master (47d5d4c)
Windows 10 Pro 64-bit, MINGW64_NT-10.0-18363

**Issue description**:
On my machine the directory path to my home contains a space.
(in my case the home directory is called "Postazione 2")

This issue does not happen on my Linux machine where there isn't any space in the path.

Following the steps for building this is what happens:
1) Execute 1

[2019-12-29 16:08] morevnaproject opened #1059 "Fixed-resolution rendering for workarea"
We need workarea rendering done with fixed resolution.
So, Synfig shouldn't re-calculate rendering data each time when we zoom in or zoom out.

The rendering resolution should be defined by dimensions of canvas.
![screenshot_002](https://user-images.githubusercontent.com/332868/71559000-92352a80-2a8b-11ea-91c9-10bef7ae2d16.png)

[2019-12-30 12:05] rodolforg commented on #783
So, if @maitreyi0505 doesn't care, I'd like to solve this issue.

[2019-12-30 15:16] morevnaproject commented on #783
@rodolforg Awesome! It is yours now! ^__^

[2019-12-30 20:32] omgitsraven commented on #1050
Is there any known workaround for this in the meantime? I installed lxml manually, but it seems like Synfig still can't see it, I guess because it has its own installation of Python?

[2019-12-31 06:28] ankit-kumar-dwivedi commented on #923
@ice0 @blackwarthog I am stuck with this thing... It does not seem logical to me can you please help.

when I drag the image layer using TL and BR points then Height and Width of image is changed but then why do I get the original image h and w with the following code?
[code]
@morevnaproject I think the change in dimension should be reflected in image layer itself don't you think? I might be wrong

[2019-12-31 07:32] blackwarthog commented on #923
here is the size of image raster in pixels, it significant when you access to pixels.

[code]

and here the position of this raster at canvas in synfig geometry abstract units of canvas:

[code]

they both is reqired.

As i understand you have a vectorization code which operates with pixels only and gives result in pixels. And after vectorization you need to recalculate coordinates, but there is n

[2019-12-31 16:49] Keyikedalube commented on #1059
With fixed-resolution the cache rendering will be done only once right? Instead of rendering new animation cache every time the canvas is zoomed in/out.

[2019-12-31 17:21] Keyikedalube opened #1061 "Inconsistent Synfig UI on GNOME desktop"
**Synfig version & platform**:
Building from master branch
Debian sid

**Issue description**:
On GNOME desktop Synfig UI and native UI looks quite inconsistent. Below is an example screenshot taken for *About program's window*:
![Screenshot from 2019-12-31 22-22-12](https://user-images.githubusercontent.com/24214509/71628269-2edb0200-2c1d-11ea-9a45-c35e7f4306a1.png)
![Screenshot from 2019-12-31 22

[2019-12-31 17:23] morevnaproject commented on #1059
Exactly!

[2019-12-31 17:27] Keyikedalube commented on #1059
That sounds efficient!
Why not keep this issue at v1.4 release? I feel once the issue is fixed there's lot of productivity gained on the animator side ;)

[2019-12-31 17:28] morevnaproject commented on #1059
This will take some time to implement this feature and we are so close for 1.4.0 release.

[2019-12-31 17:29] morevnaproject commented on #1050
On Windows and OSX Synfig has its own installation of Python.

[2019-12-31 17:30] omgitsraven commented on #1050
Is there any way to access it, in order to manually install lxml into it?

[2019-12-31 17:32] morevnaproject commented on #1050
Please let me know your OS.

[2019-12-31 17:32] omgitsraven commented on #1050
Ah, sorry! Windows 10.

[2020-01-01 07:09] morevnaproject commented on #1050
Please check a "python" directory in Synfig's installation path.

[2020-01-01 17:21] omgitsraven commented on #1050
so in order to easily install lxml, I'm trying to install pip, but this is giving me errors in some of the files that come with Synfig's python installation:

[code]

This seems to mean there's a problem in the setuptools installation, but I can't find any way to replace that without using pip……

[2020-01-01 22:35] hellocatfood commented on #1043
Shouldn't these be separate bug reports/feature requests?

[2020-01-03 02:56] Keyikedalube opened #1063 "Missing synfig app icon on Wayland session"
**Synfig version & platform**:
Building from master branch
Fedora 32 (GNOME Wayland)

**Issue description**:
Synfig app icon is not displayed on top bar as well as on dock panel

*Top bar*
![Screenshot from 2020-01-03 08-23-31](https://user-images.githubusercontent.com/24214509/71704799-766eb300-2e02-11ea-8b0e-6b20492dfed3.png)

*Dock panel*
![Screenshot from 2020-01-02 20-51-02](https://user-imag

[2020-01-04 11:47] morevnaproject commented on #1043
Absolutely agree. @Nampoina-Eddy can you please submit your feature requests as separate issues?

[2020-01-04 11:47] #1043 closed

[2020-01-04 11:55] morevnaproject commented on #1050
@omgitsraven Yes, the version of Python bundled with Synfig is very outdated. You can replace content of "python" directory with any other python installation (i.e. you can copy contents of your system python installation with lxml).

[2020-01-04 13:31] morevnaproject commented on #1050
@omgitsraven You can try to replace "python" dir with contents of this archive - https://www.synfig.org/files/python-3.6.4.zip (it already has pip installed).

[2020-01-04 14:13] morevnaproject commented on #1050
Implemented via https://github.com/morevnaproject/morevna-builds/commit/72e1c53f48338486413dcf5d5ba4618cb7a7fc8c

[2020-01-04 14:13] #1050 closed

[2020-01-04 14:15] morevnaproject opened #1064 "Windows version crashes when calling any plugin"
Try to run any plugin on Windows -> It closes file, and then crashes when trying to re-open.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/86412740-windows-version-crashes-when-calling-any-plugin?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://ww

[2020-01-04 14:15] morevnaproject commented on #1064
It looks like that python script executes properly - when I try to run Lottie Exporter plugin the resulting file appears. So, crash seems to happen when Synfig tries to re-open file.

[2020-01-05 04:10] rodolforg opened #1069 "After grouping layers, the selected layer in Layer Dock is wrong"
**Synfig version & platform**:
master branch, linux

**Steps to reproduce**:

1. Open Synfig

2. Create 3 layers of any kind (eg, circle)

3. Select the first two layers on Layer Dock (or the first and the last ones)

4. Click on button to group them together (via toolbar or the context menu)

5. The previously not-selected layer becomes selected not the new Group layer…

[2020-01-05 04:38] zozorg opened #1070 "Crash when undoing deletion of a group layer with some of its content selected."
**Synfig version & platform**:
1.3.11

**Issue description**:
When selecting a group layer and at least one of its contained layers, and deleting, ctrl+z usually crashes. Sometimes (I couldn't reproduce it, sorry), instead of crashing it doesn't properly revert deletion ; the group layer is re-created empty, the contained layers are "next" to it rather than inside.

<bountysource-plugin>

---
Want

[2020-01-05 07:35] zozorg opened #1071 "Freeze when converting to 'dynamic'"
**Synfig version & platform**:
1.3.11

**Issue description**:
Converting a vector to "dynamic" freezes synfig. Did not happen in version 1.3.10.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/86439001-freeze-when-converting-to-dynamic?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept

[2020-01-05 17:43] rodolforg commented on #491
@zozorg  could you confirm these (GTK) shortcuts mentioned in previous comment?

[2020-01-05 18:22] rodolforg commented on #1071
It's a deadlock issue:

#4  0x0000555555ed35a4 in std::lock_guard<std::mutex>::lock_guard(std::mutex&) (this=0x7fffffff9808, __m=...) at /usr/include/c++/9/bits/std_mutex.h:159
#5  0x0000555555fcf285 in studio::Renderer_Canvas::clear_render() (this=0x555557c87630) at /home/rodolfo/projetos/synfig/synfig-studio/src/gui/workarearenderer/renderer_canvas.cpp:642
#6  0x000055555614e7d1 in studio::WorkA

[2020-01-06 02:06] zozorg commented on #491
They do work, but "minus" doesn't behave like I described ; it only collapses the currently selected group layer. What I was looking for was to collapse the group layer in which the currently selected layer is located (and move selection to the now collapsed group layer).
If the currently selected layer is a group layer, I think the intuitive behaviour would be : if it is expanded, collapse it ; i

[2020-01-06 02:55] zozorg commented on #491
I'm not sure I should have put a bounty on this one, since I'm not the one deciding how the UI should behave ^^'
@rodolforg (or anyone else involved in Synfig development, actually) Do you have interest in ethereum bounties? I used to set USD bounties, but somehow Bountysource removed the "pay bitcoin, create USD bounty" option, which was what I was using...

[2020-01-06 20:21] omgitsraven commented on #1050
That worked, thank you so much!!

[2020-01-07 06:04] morevnaproject commented on #1022
This is result of recent change related with handling gamma in Synfig. In old versions Gamma for all documents was hardcoded value of 2.2. That resulted in non-uniform gradients and blending artifacts like described here - https://github.com/synfig/synfig/issues/933

Since commit a4bbdd72e57be5 the gamma is set to 1.0 by default. You can also set other values for specific files via "Canvas" -> "Pr

[2020-01-07 06:05] #1022 closed

[2020-01-07 06:16] #923 closed

[2020-01-07 19:43] hellocatfood opened #1077 "Feature Request: Show/Hide rulers"
**Synfig version & platform**:
Synfig version 1.3.11 on Ubuntu 19.10

**Issue description**:
Can an option be added to show or hide the rulers? It would save a bit of vertical and horizontal space.

I would suggest that it go in the View menu under the options for Guides and Ctrl + Shift + R as a keyboard shortcut.

(this was discussed in for the forum in [2010](https://forums.synfig.org/t/52-note

[2020-01-08 02:26] zozorg opened #1078 "Dead waypoint on spline when moving keyframes."
**Synfig version & platform**:
1.3.11

**Issue description**:
I have a spline with a waypoint for just 1 vertex on a keyframe :

![Selection_004](https://user-images.githubusercontent.com/31491797/71944921-dd6fdb80-31f7-11ea-8325-b5d13d198262.png)

When I move the keyframe, an "undefined" waypoint is added for the vertex that wasn't animated :

![Selection_005](https://user-images.githubuserconten

[2020-01-09 14:36] morevnaproject opened #1082 "[Vectorization] Line thickness should depend on TL/BR"
See this commit - https://github.com/synfig/synfig/commit/a8055a1d1af0c144ae2288b930aedd2da3305e84

Width division factor should depend from TL/BR points of image.

See video demonstrating the problem:
https://www.youtube.com/watch?v=h8R2qBGKQLY

So, the difference in  of TL/BR points from their initial positions should affect the width division factor.

<bountysource-plugin>

---
Want to back thi

[2020-01-09 16:23] rodolforg commented on #266
And how do you select to scale or to translate selected waypoints?

[2020-01-09 19:47] src-r-r commented on #453
I'm taking a look at this issue now.

[2020-01-10 07:48] ice0 opened #1086 "Add check for Appdata.xml as Travis-CI job"
Required for Flatpak builder.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/86742304-add-check-for-appdata-xml-as-travis-ci-job?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F321991

[2020-01-12 10:42] blackwarthog commented on #863
@limburgher you need to build MLT with vorbis producer, Dan said that this functionality may be broken, but you can try.

I've changed Synfig code, and now Synfig tries to create producer named "vorbis" when producer "avformat" does not present.
List of of MLT producers can be shown by command:
  mtl-melt -query "producers"

[2020-01-12 12:50] Keyikedalube commented on #863
@sergiomb2 I just installed Fedora 31 fresh on my notebook computer and
- enabled rpmfusion
- installed mlt-freeworld
- then pulled mlt from updates-testing
- and tried playing the same Hello.ogg sound file again. It works!

Thanks for the fix!!

At first, I tried running the sample Hello.ogg file after installing mlt-6.18.0-2.fc31 *without installing mlt-freeword*
The sound fails to play.

[2020-01-12 13:05] blackwarthog commented on #863
i've checked latest master of MLT, vorbis functiontality is already reanimated and enabled by default

https://github.com/mltframework/mlt
https://github.com/mltframework/mlt/issues/505

@limburgher can you add changes into MLT fedora package to build it with vorbis support?

[2020-01-12 22:09] sergiomb2 commented on #863
Hi,

in mlt-6.18.0-2.fc31 I added vorbis support , so it should work without mlt-freeworld , I will investigate more , thanks for the report .

[2020-01-13 16:56] morevnaproject commented on #266
@rodolforg I suggest to allow selecting by dragging a  box around. Just like you implemented multiple selection in Graphs Panel.

Also, I think we can add a toolbar on the left for various tool buttons -

![screenshot_002](https://user-images.githubusercontent.com/332868/54120983-d6d3d480-442b-11e9-8481-47e1db9e97d0.png)

There we can have following tool buttons:
- Arrow. Default instrument, used

[2020-01-13 20:42] rodolforg commented on #266
Got it.

What about the third item of OP, about copy'n paste? How could I place the pasted waypoints?

[2020-01-13 23:15] rodolforg commented on #1077
@morevnaproject  in order to implement this, should the "arrow" menu-button be moved to the main workarea toolbar?
I was already thinking about implement a "[feature-discovery](https://materializecss.com/feature-discovery.html)"-like effect when user hides the main-menu to show from where you can access main-menu back.
Something could be done in this case also.

[2020-01-14 03:46] Keyikedalube opened #1088 "ETL_VERSION not declared build error"
**Synfig version & platform**:
Building from source
Commit e30f368

**Issue description**:
Building synfigstudio from source exits with ETL_VERSION not declared error
![Screenshot from 2020-01-14 09-16-27](https://user-images.githubusercontent.com/24214509/72312591-9168df00-36ae-11ea-974c-84879dfe8204.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bo

[2020-01-14 03:57] Keyikedalube commented on #1059
Imagine someone who's working on a 1080p animation project. Don't you think that animator will suffer a bit because of cache memory limit? #1015

[2020-01-14 09:32] ice0 commented on #1088
Which OS you are using?

[2020-01-14 09:51] Keyikedalube commented on #1088
Debian testing

[2020-01-14 12:15] ice0 commented on #1088
Looks like it can't find ETL, but in that case it must stop at configure step.
I am trying to reproduce in my test container, but everything builds fine.
Can you try a clean build in a new folder?

[2020-01-14 13:16] Keyikedalube commented on #1088
`./2-build-production.sh all clean`

Hope that cleans out all previous build files and configurations

Then executed `./2-build-production.sh` and encountered the same error :(

Will try building in a new folder (delete synfig folder and clone it fresh) this time...

[2020-01-15 02:54] Keyikedalube commented on #1088
Removed synfig folder and cloned the project fresh this morning.

Build is successful!
*Next time build fails, might keep this trick handy :)*

Thanks @ice0 for looking into this issue.
Have a great day ahead!

[2020-01-15 02:54] #1088 closed

[2020-01-15 08:32] Keyikedalube commented on #928
@ice0 Reported the [issue](lhttps://bugs.debian.org/cgi-bin/bugreport.cgi?bug=944988) to Debian maintainer and it's been a while with no reply from the maintainer.

Do you use libmng2 on your Debian system? Because I noticed the same package exists on Debian experimental repo.

[2020-01-15 15:05] morevnaproject commented on #1059
@Keyikedalube We have "Low res" mode for that -
![screenshot_004](https://user-images.githubusercontent.com/332868/72444715-22d96d80-37e3-11ea-9839-7bbb833d1158.png)

[2020-01-15 15:09] morevnaproject commented on #1077
I think it is okay to hide "arrow" menu-button, because user can access the same menu by right-clicking on empty space of workarea.

"feature-discovery" effect is cool.

[2020-01-15 16:16] hellocatfood commented on #1077
By feature discovery do you mean something like this?

![hide_rulers](https://user-images.githubusercontent.com/151947/72450160-cad64300-37b1-11ea-9bc8-17d6c6b2c088.gif)

Looks cool but I think having the rulers (or main menu) animate when they're hidden doesn't give any clues how to unhide it.

In the example link you gave the animation shows where a menu originated from and where a user has to c

[2020-01-15 16:59] Gilraiser commented on #1022
Ok, thank you very much

[2020-01-15 18:43] hellocatfood commented on #1005
In Inkscape when no object is selected the number keys (1 - 0) control zoom levels https://wiki.synfig.org/Keyboard_Shortcuts:

1 | zoom 1:1
2 | zoom 1:2
3 | zoom to selection
4 | zoom to drawing
5 | zoom to page
6 | zoom to page width

If this was used it wouldn't overwrite any existing shortcuts, meaning ctrl+shift+z can be used for redo.

[2020-01-16 02:33] Keyikedalube commented on #1005
@hellocatfood I tried those keys on Inkscape. It works even with the object selected also (if you mean transform tool or path tool)

Uh... create a new feature request for this?

[2020-01-16 02:42] Keyikedalube commented on #1005
Anyway, @morevnaproject @rodolforg @Jose-Moreno Don't you guys think Inkscape style is easier than holding key combinations?

[2020-01-16 21:47] rodolforg commented on #1077
@hellocatfood the link shows a demonstration :) The pop-up (labeled) circle could appear on any event

[2020-01-17 08:31] ice0 commented on #928
Today i tried it, and here same problem:

dpkg-query -L libmng2
[code]

[2020-01-17 11:27] Keyikedalube commented on #928
I think we have to upgrade libmng-dev too with libmng2:
`apt install -t experimental libmng-dev`

*Anyway I was hesitant to try out these packages from experimental repo because just in case my system breaks I'd hate to spend time reinstalling Debian from scratch and setting up all my applications.*

But again I did install 'em anyway and ran your command
`dpkg-query -L libmng-dev`

[code]

Same f

[2020-01-17 13:27] Keyikedalube commented on #1015
I'm closing this issue because I feel the current solution of hardcoding memory limit is better both for
- **User**: synfig just works out of the box and do not require user intervention to configure memory
- **Developer**: same code for all platforms, thus, easier to maintain

[2020-01-17 13:27] #1015 closed

[2020-01-17 16:40] RezaSh13 opened #1090 "Can't install synfigstudio 1.2.2-1 from aur"
aur/synfigstudio 1.2.2-1

![image](https://user-images.githubusercontent.com/22277992/72628974-a9698880-3964-11ea-90a1-d5c3b27968d7.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87144804-can-t-install-synfigstudio-1-2-2-1-from-aur?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accep

[2020-01-18 12:18] morevnaproject commented on #1064
Looks like this doesn't happen when plugin is called on newly created file. If you try to open existing file and then run a plugin - it crashes. Can someone confirm that? @rodolforg @ice0

[2020-01-18 20:54] rodolforg commented on #1064
I don't know if it is related to this issue, but I found a problem https://github.com/synfig/synfig/pull/1091

[2020-01-18 22:57] hellocatfood commented on #1077
Ah, I see. This is starting to go off track so I'll make a new feature request, but instead of the feature-discovery idea you shard perhaps a Status Bar would be better. There's lots of examples of implementation in GIMP, Inkscape, and Blender

[2020-01-18 23:04] hellocatfood opened #1092 "Feature request: Status Bar"
Building on from the discussion on #1077 can Synfig have a Status Bar? This will display information about currently selected tools, layers and/or menu items such as what it does or how pressing different keys (Ctrl, Alt, Shift) will modify a tool. Especially useful for warnings

![synfig](https://user-images.githubusercontent.com/151947/72671750-caa2a580-3a46-11ea-85cd-41eba40a0ce2.jpg)

There ar

[2020-01-19 03:24] Jose-Moreno commented on #1092
Hi. This sounds like a nice thing, currently however you can clearly see what you mocked in the status bar in dockers such as:

- The Tool Options, which holds descriptions for various tools. In fact in your screenshot / mockup you can clearly see this info on the right side of the screen.
- The Info panel, where the cursor coordinates are located (as well as RGBA values and a render progress bar)

[2020-01-20 05:15] #673 closed

[2020-01-20 11:58] rodolforg commented on #1061
Reason is here:

App::apply_gtk_settings()  (in synfig-studio/src/gui/app.cpp)

[2020-01-20 13:34] morevnaproject commented on #1064
@rodolforg Thank you for this! ^__^ Unfortunately, the problem persists after this.

[2020-01-20 14:34] Keyikedalube commented on #1061
You mean the custom CSS that fixed the below issue?
https://github.com/synfig/synfig/blob/87e7ffa55e48d43323df3751576a685cc19010fb/synfig-studio/src/gui/app.cpp#L2337

[2020-01-20 14:41] rodolforg commented on #1061
yes.
but I commented out this part of code and... voilà.
I didn't see those toolbars and rulers that thick.
Anyway, maybe those toolbars should have specific CSS styles, and Synfig should not change the general ones

[2020-01-20 22:05] Gilraiser opened #1099 "Feature request: cancel button for the render progress bar."
**Synfig Studio 3.1.1**:

**Issue description**:

Hello friends of synfig studio. A happy 2020 for everyone.. I think it would be very useful if there was a button to cancel the rendering in the render progress bar.

Thank you very much for the excellent work and effort.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87290874-featu

[2020-01-21 08:16] ice0 commented on #1090
It doesn't build because of this code:

[code]

It has already been fixed in 1.3, so we need to patch it (i don't know where to send patch), or just wait for 1.4 and update it.

[2020-01-21 09:23] morevnaproject commented on #1064
I have started Synfig via debugger and got this call stack after crash:
[code]

[2020-01-21 09:26] morevnaproject commented on #1064
What I did before it crashed with this call stack:
1. Opened file C:\temp\Synfig Animation 1.sifz
2. From menu selected "Plugins" -> "Export to Lottie"
3. Got a crash.

@blackwarthog Any ideas?

[2020-01-21 11:12] AnishGG opened #1101 "[Lottie exporter] Convert methods not working with radius of simple circle layer"
**Synfig version & platform**:
Master branch, commit https://github.com/synfig/synfig/commit/0f2e3ebf5869c0aeb036172801012cec650f6aa3

**Issue description**:
Test File: https://gitlab.com/synfig/synfig-tests/blob/master/export/lottie/087-add-convert-simplecircle.sif

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87453598-lottie-exp

[2020-01-21 17:42] RezaSh13 commented on #1090
This is my Email address: RezaSh13@gmail.com, Can you send it? THANK YOU :)

[2020-01-21 23:14] FirasH opened #1102 ""Remove Item (Smart)" crashes Synfig consistently"
**Synfig version & platform**:
Development version, revision e30f36

**Issue description**:
Steps:
0) Create a new synfig file
1) Add a new Skeleton: Layer > New Layer > Other > Skeleton
2) Create a Child Bone: right-click > Create Child Bone
3) Go to the Parameters panel and delete the child bone: right-click > Remove Item (Smart)

Synfig crashes consistently

<bountysource-plugin>

---
Want to b

[2020-01-22 08:33] ice0 commented on #1090
You need to download and unpack this patch.
[savecanvas.patch.zip](https://github.com/synfig/synfig/files/4095963/savecanvas.patch.zip)

After that you need to edit PKGBUILD
[code]

[2020-01-22 09:45] morevnaproject commented on #1064
Forgot to mention commit id. It is a3eb06b5c7516bc

[2020-01-22 12:59] rodolforg commented on #1064
How can I put python and its libxml in _debug build?

[2020-01-22 13:08] RezaSh13 opened #1106 "Please add a progress bar"
![image](https://user-images.githubusercontent.com/22277992/72896711-99bbbc80-3d35-11ea-96d0-55e2efcd5e53.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87381951-please-add-a-progress-bar?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bo

[2020-01-22 15:11] rodolforg commented on #1106
As for version 1.3.11, there's a Render Progress Bar in Info dock. `Menu Window > Info`

[2020-01-22 15:12] rodolforg commented on #1099
I think that red-circle button in the top-right corner of workarea does the job.

[2020-01-22 15:27] rodolforg commented on #343
So only the canvas/workarea would be visible?
What do you think about a(nother) special Workspace layout that shows only the workarea panel/dock?
Switching between that special layout and previous one would be done by F11 key press.

[2020-01-22 18:09] Gilraiser commented on #1099
OK sorry. I had not seen it. Many thanks.

[2020-01-22 18:09] #1099 closed

[2020-01-22 19:55] ice0 commented on #1064
@rodolforg you can copy python folder and libxml to _debug/build from this archive:

https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.12-testing-2020.01.22-win64-b3d8b.zip

[2020-01-22 20:58] ebarranco commented on #343
Hi @rodolforg, that totally will work for me. It should  always toggle  to current workspace of course.

[2020-01-22 21:18] rodolforg commented on #343
What do you think, @morevnaproject ?

[2020-01-22 21:50] rodolforg commented on #1064
Interesting enough, I don't get a crash in my debug build with none of the 3 plugins. But I got a traceback report for Lottie.
If I use the snapshot you posted, it crashes.

[2020-01-22 22:30] ebarranco opened #1109 "Feature Request: Lasso tool"
**Issue description**:

Hello, I've whished for this since forever but we had more serious and important issues to solve. Now, I think it's a good time to ask for a free form selection, or Lasso Tool. Use the current Box selection in complex shapes is too much work for editing vertices and I know I don't have to explain much, If you have used Synfig you've experienced this.

[2020-01-22 22:47] ebarranco opened #1110 "Allow Fill Tool make a Region."
**Issue description**:

Allow to the Fill Tool make a Region when is applied to an Outline layer or  Advance Outline layer.  I've seen too many new users try to do this when they open Synfig that I can't avoid more the duty to ask for this.

[2020-01-23 07:05] morevnaproject commented on #1064
From debugger's call stack I can see that it is calling `studio::App::open_from_temporary_filesystem()` with the following argument:
[code]
Note the wrong slashes. Could that be the problem?

[2020-01-23 08:20] ice0 commented on #1064
Same for me.

I can't reproduce it on latest master (https://github.com/synfig/synfig/commit/102e8f1fc6f2c838b43e11b68e4366b0f59cccd5), so @morevnaproject can you please check if this crush happens on my file?

[Synfig Animation 1.zip](https://github.com/synfig/synfig/files/4101952/Synfig.Animation.1.zip)

[2020-01-23 08:23] ice0 commented on #1064
Ok, got it. Crash happens if you try to export a file without animations. Btw, @morevnaproject please check my file to be sure.

[2020-01-23 08:57] morevnaproject commented on #1064
Hmm, no. The problem is not related to that. I just had a few successful plugin runs with those slashes and it didn't crashed.

[2020-01-23 09:00] morevnaproject commented on #1064
@ice0 I will check the file.

I have a debug build at one commit earlier than 102e8f1 - b3d8bd046468526d1540e5908337f007cd2302f1. It still crashing. :(

[2020-01-23 09:27] morevnaproject commented on #1064
It crashes at this point. It looks like after closing canvas it is still present in `open_canvas_map`...
![screenshot_001](https://user-images.githubusercontent.com/332868/72971988-34cb9980-3dfd-11ea-95a8-638f7d835b9e.png)

[2020-01-23 09:30] morevnaproject commented on #1064
@ice0 I have tested your file. It is still crashing. Here is a video showing the process - https://www.youtube.com/watch?v=BbZBmhlNy9c

[2020-01-23 14:58] RezaSh13 commented on #1106
When is the new version coming?

[2020-01-23 15:37] ice0 commented on #1064
Ok. In your video i noticed what you open file from another drive. I don't know why you not mention this :)

To reproduce, i attached local directory as drive:
[code]

and voila, the error is reproduced.

[2020-01-23 20:23] ice0 commented on #1086
Closed in https://github.com/synfig/synfig/commit/102e8f1fc6f2c838b43e11b68e4366b0f59cccd5

[2020-01-23 20:23] #1086 closed

[2020-01-24 00:01] src-r-r commented on #453
I've been looking through the source. I think part of the problem is that the design of the bone/skeleton relationship is not very structured. Bones are just there: they don't belong to anything. Is this by intention?

Taking a cue from Blender, I propose skeletons take on a more active role, so that a user can select a skeleton, double click, and enter the skeleton group to modify the bones.

Doe

[2020-01-24 01:16] rodolforg commented on #453
@src-r-r The possible cause of this problem is a wrong duplication of the ValueNode that build the relationships among bones themselves.
Maybe LayerSkeleton should override Layer::clone() method to fix the bones' parenting after duplication.

[2020-01-24 01:27] rodolforg commented on #1110
Instead of colorize the outline itself?

[2020-01-24 02:18] ebarranco commented on #1110
Hi! @rodolforg No, that's the expected behavior. I mean, when they try this tool inside de shape to "fill with color" like any other raster application but here doesn't do nothing unless you add a region from the beginning or via the context menu. [I tried to explain better here.](https://youtu.be/uVul2kbMXzk)

[2020-01-24 06:46] morevnaproject commented on #1064
@ice0 No, I can reproduce the same crash when file is opened from `C:\` ^__^
https://www.youtube.com/watch?v=Npg6r7GdrkU

[2020-01-24 08:50] ice0 opened #1111 "Add License file"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87484929-add-license-file?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github).
</bountysource-plu

[2020-01-24 09:43] morevnaproject commented on #1064
Okay, I have some progress.

1. I have edited function `CanvasParser::parse_from_file_as()` in `loadcanvas.cpp`, commented the following line:
[code]
and added this line instead:
[code]

![screenshot_003](https://user-images.githubusercontent.com/332868/73057889-1b8e2000-3ec5-11ea-8640-303f8b3d9921.png)

Re-compiled the source and after that the crash is not happens anymore.

Of course, this is no

[2020-01-24 09:53] morevnaproject commented on #1064
So, I suggest the following:

1. Modify `_remove_from_open_canvas_map()` function to verify if removed entry really exists in `open_canvas_map`. Throw error if it isn't exists.

2. Add `FileSystem::fix_slashes()` when file opened.

[2020-01-24 10:30] ice0 commented on #1064
Easy way to reproduce the bug: open file, close and open it again :)
Btw, i am already fixed it just need to do some checks before commit.

[2020-01-24 12:32] rodolforg commented on #1106
1.3.11 is already released. In the default workspace layout, it's in the top right corner dock.
Next version (1.3.12) seems to available soon.

[2020-01-24 12:37] morevnaproject commented on #1064
About #1112:

I think it is better to apply `FileSystem::fix_slashes()` function on file open instead of doing modification `cleanup_path()` function.

OR

Do modification of `cleanup_path()` function and remove all traces of `FileSystem::fix_slashes()`, as it does basically the same thing -

https://github.com/synfig/synfig/blob/102e8f1fc6f2c838b43e11b68e4366b0f59cccd5/synfig-core/src/synfig/file

[2020-01-24 14:19] rodolforg opened #1115 "TravisCI : XCode 6.4 deprecated"
OSX build log:
"Running builds with Xcode 6.4 in Travis CI is deprecated and will be removed in January 2019."

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87509925-travisci-xcode-6-4-deprecated?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://ww

[2020-01-24 18:38] ice0 commented on #1115
Yes I know. We use the oldest and newest OS to test builds. When they delete this image, I will update it to the next possible.

[2020-01-24 18:50] rodolforg commented on #1115
Ok then =)

[2020-01-24 18:50] #1115 closed

[2020-01-24 21:35] rodolforg commented on #1047
It is fixed by #1098

[2020-01-25 07:47] Keyikedalube opened #1118 "PACKAGE_NAME not declared error building on netbeans"
**Synfig version & platform**:
master branch
commit e33a998

Debian unstable

**Issue description**:
I followed setting [NetBeans environment for synfig](https://synfig-docs-dev.readthedocs.io/en/latest/common/Setting%20up%20netbeans%20IDE.html) and did my first build.
Below was the error.

I tried building from a clean folder on second try. Got the same error.

<bountysource-plugin>

---
Want to

[2020-01-25 09:26] #1064 closed

[2020-01-25 09:52] #1047 closed

[2020-01-25 14:47] RezaSh13 opened #1120 "Render problem"
**Synfig version & platform**: **synfigstudio-appimage Installed: 1.3.11-testing-1**

**Issue description**: Synfig does not render

![image](https://user-images.githubusercontent.com/22277992/73122831-6f206c80-3f9e-11ea-9ca0-14db1068425e.png)

![image](https://user-images.githubusercontent.com/22277992/73122845-97a86680-3f9e-11ea-8a18-25ec8b3254f9.png)

[2020-01-25 15:58] rodolforg commented on #1102
Obs: Step 3 should be actually "Go to the Parameters panel and delete the child bone: left-click to select child bone -> right-click > Remove Item (Smart)"
If you don't select it, it works fine.
(But the app still crashes on exit)

[2020-01-25 16:11] #783 closed

[2020-01-25 16:21] morevnaproject opened #1121 "Refactoring: Fix handling of slashes - "/" vs "\""
Currently cross-platform handling of paths with Windows-like and Unis-like slashes deserves to be better.

There are a lot of calls to `FileSystem::fix_slashes()` function scattered around to handle correct handling of file paths. Currently this converts all (almost all) "\" slashes to "/".  This needs to be refactored.

Here how I think things should be:

Internally Synfig should use unis-like sl

[2020-01-25 16:25] rodolforg commented on #1121
Btw, Windows supports natively forward slashes (/) since ever :)

[2020-01-25 17:20] blackwarthog commented on #1121
why almost? how this code can skip one?

for(size_t i = 0; i < fixed.size(); ++i)
	if (fixed[i] == '\\') fixed[i] = '/';

Windows supports '/' from XP, and XP already is not supported by us and is not supported my Microsoft (Vista, 7 also in the past, 8 almost)
I suggest to always use '/'

FileSystem::fix_slashes required for zip files (only '/' is correct for zip), but to make zip-fs layer full i

[2020-01-27 11:41] ice0 commented on #540
@Jose-Moreno i can't reproduce it on latest master.
Can you check it also?

https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.12-testing-2020.01.25-win64-f6e20.zip

[2020-01-27 13:26] morevnaproject commented on #1102
Is this a duplicate of #375?

[2020-01-27 13:30] morevnaproject commented on #1120
Hi! Can you please try to render some other file? Is it works?

[2020-01-27 13:36] morevnaproject commented on #1111
That's true. The license is mentioned in README file ([ETL](https://github.com/synfig/synfig/blob/master/ETL/README), [core](https://github.com/synfig/synfig/blob/master/synfig-core/README), [studio](https://github.com/synfig/synfig/blob/master/synfig-studio/README)), but thre are no separate file exists. I think it would be nice to add one. ^__^

Interesting: when you build Synfig using Autotools

[2020-01-27 13:42] morevnaproject commented on #1111
It looks like COPYING file is created by `autoreconf --install`:

https://sourceware.org/autobook/autobook/autobook_25.html
http://manpages.org/autoreconf

https://github.com/synfig/synfig/blob/429c586b5bb399b5f10bf6b51b3b34a6841a560e/ETL/bootstrap.sh#L14-L15

[2020-01-27 14:18] hellocatfood opened #1122 "Suggestion: New shortcuts for zooming"
Following on from discussions in #1005 can Synfig adopt some of Inkscape's keyboard controls for setting different types of zoom levels? https://wiki.synfig.org/Keyboard_Shortcuts Specifically:

1 | zoom 1:1
2 | zoom 1:2
3 | zoom to selection
4 | zoom to drawing
5 | zoom to page
6 | zoom to page width

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountys

[2020-01-27 15:17] hellocatfood commented on #1092
You're right that my mockup doesn't make the best case for having a status bar. I basically took it from GIMP ;-) I didn't want to make a full proposal in teh first instance.

This might rely on being able to change the coordinates/ruler system and making it consistent #404

Of the pixel underneath the cursor? Would this not be better to displayed if the eyedropper tool is selected?

 For example,

[2020-01-27 15:43] morevnaproject opened #1124 "Opening file via IPC on Windows makes synfig freeze"
**Synfig version & platform**:
1.3.11 and latest build from master (7fbaaab8c27a3c8290a11a7925292e8de502a159)

**Issue description**:
Steps to reproduce:
* Launch Synfig-studio
* Double-click any Synfig file in Explorer (make sure it contains only latin characters, otherwise you will hit another bug - #680)
-> Synfig hangs.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on i

[2020-01-27 16:00] ice0 commented on #1124
Duplicates https://github.com/synfig/synfig/issues/291

[2020-01-27 16:15] rodolforg commented on #1102
I don't know, but this specific issue is fixed by #1104 .

[2020-01-27 16:26] #1082 closed

[2020-01-27 16:31] morevnaproject opened #1126 "Add "Scale to fit canvas" checkbox to image import dialog."
Currently, "Scale to fit canvas" is an option in preferences -
![screenshot_002](https://user-images.githubusercontent.com/332868/73193280-e4d23700-415c-11ea-960b-aa9cfd90e9fa.png)

I think it is logical to place in Import Image dialog (appears after "File" - "Import"), so user can decide if he wants to fit canvas or not right during import -
![screenshot_003](https://user-images.githubusercontent

[2020-01-27 23:05] FirasH opened #1127 "PNG image linked to Skeleton layer does not respect specified rotation pivot"
**Synfig version & platform**:
Synfig 1.3.12, git revision: 922097

**Issue description**:
Bone rotation results in linked png image wrong rotation displacement.
To reproduce the issue I have prepared [bone_rotation_problem.zip](https://github.com/synfig/synfig/files/4119727/bone_rotation_problem.zip)

1) Open the attached file at: bone_rotation_problem > Animation > actor_V4_linked.sifz
As you ca

[2020-01-28 04:11] Jose-Moreno commented on #540
@ice0 Hi, sorry I've been migrating to a new computer recently. I'll test this as soon as I'm able. Thanks!

[2020-01-28 04:39] Jose-Moreno commented on #719
@Bill-Jobss I just tested https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.12-testing-2020.01.25-win64-f6e20.zip

And this problem seems to have been solved for Windows 7 OS. I'll report back when I test on Win 10 once I switch to that environment before the week's end, can you test it with this build?

[2020-01-28 04:57] Jose-Moreno commented on #540
@ice0 Alright I tested this, here's a video you can watch with the problem. Before recording I experienced two previous crashes. Right now it's much more difficult to make the program crash (it now crashes silently) but it can still happen.

I noticed there's a lock icon when trying to drag a layer that is being edited, however you can still drag layers that have their "rename" state enabled, and

[2020-01-28 08:21] morevnaproject commented on #1127
I didn't looked at the file yet, but I strongly suspect that skeleton and linked object are in different groups with different transformations. So, they are in different coordinates.

[2020-01-28 08:22] #680 closed

[2020-01-28 08:24] morevnaproject commented on #1124
Oh, right ^__^

[2020-01-28 08:24] #1124 closed

[2020-01-28 09:10] Keyikedalube commented on #1118
PACKAGE_NAME macro is missing in the MACROS header.

https://github.com/synfig/synfig/blob/024eac72aece88e4fd5b1a4c7809662854490c04/synfig-studio/src/gui/dialogs/about.cpp#L60-L74

Do I name PACKAGE_NAME as **"SynfigStudio"**?
Implemented the macro and tried building on my computer. Netbeans builds synfig successfully.

[2020-01-28 12:16] rodolforg commented on #1118
The current autotools build system files use "Synfig Studio" and "Synfig Core".

[2020-01-28 12:47] FirasH commented on #1127
@morevnaproject in the forum I was told that I had to link the object to the bone only selecting the green handle. Doing that the rotation is correctly applied around the pivot point.

If you want close the issue, I'll probably add a note in the bone tutorial because I have seen a few users in the forum that happened to encounter this problem.

[2020-01-28 13:22] rodolforg commented on #540
I could reproduce it once only. Here's the backlog:
[code]

[2020-01-28 13:49] Keyikedalube commented on #1118
I made a very drastic mistake of building synfig with the build tool icon on NetBeans toolbar. Still, PACKAGE_NAME macro is needed (I think) because of GTK about dialog API ie., set_program_name and set_version are mandatory.

Anyway, back to building issue the final synfigstudio was generated on my synfig-studio/src/gui directory and not on the usual _debug/... directory.

But in my defense I rea