[2021-05-11 02:44] Keyikedalube commented on #1887
From https://github.com/synfig/synfig/issues/1803#issuecomment-830621940

Or we could pack this color toolbox and color palette together in their own dock as one. Haven't tried it but I'm guessing it's a good solution to let color widgets stay in one dock and tool items in another dock.

Opinions?

[2021-05-11 03:23] ice0 commented on #1887
Color is a parameter related to the currently selected tool. So, it seems counterintuitive to separate the color widget from the tools.

I will take a look.

[2021-05-11 05:28] rodolforg commented on #1887
The problem is the Panel separator handler position, that doesn't behave as expected sometimes.

[2021-05-11 11:45] yoSachinkr opened #2143 "Export selected layer as sif/sifz file"
My feature request is about exporting a layer or a group layer in an artwork as a standalone sif/sifz file.
This feature can help to reuse a particular portion of an artwork in another artwork which require the same element by importing it in the workspace when needed. This can help reduce time in creation of artwork with similar features.

[2021-05-11 15:42] rodolforg commented on #993
This specific problem can be the id for Head, LegLeft, etc.
It is defined like this:
[code]

But referred like this:
[code]
Note the `:` in the `use` attribute value, not present in `id`.
Do you know why this difference, @ice0  @morevnaproject ?

[2021-05-11 15:53] rodolforg commented on #993
By the way, we have four different bugs reported here, all related to Lottie plugin:
1. FlatPak without lxml embedded. (https://github.com/synfig/synfig/issues/993#issuecomment-769141618) (https://github.com/synfig/synfig/issues/993#issuecomment-769779344)
2. Ubuntu focal does not recognize the lxml too (https://github.com/synfig/synfig/issues/993#issuecomment-774783030)
3. AppImage/Windows 10 thr

[2021-05-11 20:15] FirasH commented on #1849
I confirm that works on openSUSE 15.2

[2021-05-11 22:45] rodolforg commented on #1562
The widget that displays time ticks is Widget_Canvastimeslider, a Gtk::DrawingArea.
It's height is indirectly set by the height of the treeview header of Parameter Panel.

You'll have to first (learn how / code) to draw the onion skin boundaries. Later you implement how to change it via, e.g., `on_button_press_event()`, or by making use of SelectDragHelper (but maybe it's too much for this impleme

[2021-05-13 00:10] ice0 commented on #1562
I think it's better to split this task into smaller ones:
1) Add ability for onion skin to switch between frame/keyframe modes
2) Timeline stuff

[2021-05-13 00:31] ice0 commented on #1849
Elementary 5, Mint 20, Ubuntu 20.01 all works fine.

[2021-05-13 00:43] ice0 commented on #993
1. Flatpak lxml issue - already fixed
2. Ubuntu snap lxml issue - fixed too

So there are only plugin issues left.

[2021-05-13 14:55] Keyikedalube commented on #2140
Found out why https://blog.desdelinux.net/en/fedora-34-plans-to-use-pipewire-for-sound-instead-of-pulseaudio/

I had to manually install the conflicting packages `pipewire-jack-audio-connection-kit` + `-devel` and proceed with building Synfig.
That worked. I'll send a PR for this :)

[2021-05-14 03:29] morevnaproject commented on #1849
Awesome! I am committing changes then and starting serverside rebuild. ^__^

[2021-05-14 03:46] morevnaproject opened #2148 "Release version 1.4.2"
Okay, starting preparations for 1.4.2!

Instructions here - https://synfig-docs-dev.readthedocs.io/en/latest/common/release.html

- [x] Bump version number: `./version-bump.sh 1.4.2` (see https://synfig-docs-dev.readthedocs.io/en/latest/common/release.html#update-version-number) - #2149
- [x] Add commits from [the branch](https://github.com/rodolforg/synfig/tree/ice0-v1.4.1) made by @rodolforg - h

[2021-05-14 16:27] morevnaproject commented on #1562
Yes, it would be nice to start with adding an option to make onion skin work with keyframes only.

I agree with @ice0 that it's better to split the task into smaller ones.

[2021-05-14 18:25] JDFischbach commented on #935
Is there a workaround, to export advanced outline layers currently?

[2021-05-15 00:54] rodolforg commented on #2148
I'd suggest a few more lol I've made another branch, actually

[2021-05-15 01:25] #2140 closed

[2021-05-15 16:35] abumusa247 opened #2152 "Add action Key/Shape key for animation work and some audio control like a audio layer Cut, Mark"
In this feature(action), we will be able to record our animation in a key and whenever we need the same animation we can use the key easily and animate the same work in a short time or please add a shape key option which will help us to recored any shape changes in a key like in a slider or bone movement, then we can make the same shape change with the key or the bone...
what will make our animati

[2021-05-15 17:09] rodolforg commented on #2152
Please split your feature request in different issues: one per issue.

(And I didn't understand the first one)

[2021-05-15 22:46] rodolforg commented on #2148
For example: can we update all the keyboard shortcut changes made 'recently'?

[2021-05-16 03:56] morevnaproject commented on #2025
I like the idea!

Also, I think we do not need "Duration" entry, as it duplicates "End Time" option -
![screenshot_001](https://user-images.githubusercontent.com/332868/118385000-51fd2a80-b635-11eb-9241-06eea84cef0c.png)

[2021-05-16 04:03] morevnaproject commented on #2124
As one possible workaround - I can try to revert all commits to (temporary) exclude this feature from master branch. Considering the amount of changes, I am not sure this will be possible, but if I will manage to achieve that, then we can put those changes into separate PR and keep it unmerged until the issue will be resolved.

[2021-05-16 04:15] rodolforg commented on #2148
I started a draft based on this branch https://github.com/rodolforg/synfig/tree/proposed-v1.4.2
Draft file: https://github.com/synfig/synfig-docs/blob/1.4.2-release-notes/source/releases/stable/1.4.2.rst
Draft Pull Request https://github.com/synfig/synfig-docs/pull/29

[2021-05-16 05:09] rodolforg commented on #2124
After a `git bisect start -- synfig-core/src/modules/lyr_std/warp.cpp synfig-core/src/modules/lyr_std/perspective.cpp`
I found out the problem is this commit 6af075f1fe0ef00a7dbfbbb77bf8c724b2702866

[2021-05-16 07:20] ice0 commented on #2025
I am not sure about this. When I want to change some canvas options, better to do that from one place, rather than open and close different  windows.

[2021-05-16 09:41] FirasH commented on #2025
Maybe replacing it with a non editable label which reports the resulting duration just as a quick way to auto-check total frames?

I agree with this observation, maybe the number of Time settings (Frames Per Second, Start Time, End Time) is too small to have a single specific dialog… If there aren’t any other options to add to `Time`, those could be placed next to width, height and size stuff just

[2021-05-16 14:06] Keyikedalube commented on #2025
Makes sense 🤔

[2021-05-16 14:16] abumusa247 commented on #2152
add "action" for animation...
like record all shape changes or animation in a key or skeleton,then with the key or skeleton we can animate or change the shapes easily...
it will help us to repeat a same animation with a key whenever we need that we can use that easily....
like shape key in "blender",action work in "Moho"

[2021-05-17 03:32] ice0 commented on #2025
I think it would be more correct to make End Time as a label, because I always know the desired duration and do not want to calculate the End Time.

For example, this is layout in After Effects:
![Screenshot_140](https://user-images.githubusercontent.com/5604544/118429124-25abe180-b6fb-11eb-8ad6-3878833d75a4.png)

[2021-05-17 04:37] Keyikedalube commented on #2025
I've been using end time because it's close to start time widget and also easily accessible with the press of the tab key.

Both widgets serve the purpose well. I'm OK with changing either one as label widget :)

[2021-05-17 05:00] Keyikedalube commented on #2025
On second thought, I've realized that in my experience I open Canvas properties mostly to edit:
- time duration (very frequent)
- or width/height (very rare because I mostly stick to the fixed resolution set in Preferences)
    _However it's necessary, explained in this issue #777 linked [blog post](http://www.segtsy.com/2013/12/a-significant-synfig-setback/)_

So it makes sense to isolate this di

[2021-05-17 06:43] ice0 commented on #2025
No need to open Canvas properties. You can edit time duration in place:
![Screenshot_148](https://user-images.githubusercontent.com/5604544/118443213-d6bf7580-b715-11eb-997c-f25015d9c178.png)

[2021-05-17 09:58] Keyikedalube commented on #2025
Doesn't work as expected for render settings. End time will be set for canvas but not the render settings. I remember setting both twice on my animation project some time ago.
This can be rectified in another issue.

https://user-images.githubusercontent.com/24214509/118469742-a1ba1f80-b723-11eb-9453-13019e84d746.mp4

We could instead add a start time widget in that toolbar and discard implementin

[2021-05-18 13:07] DhairyaBahl commented on #2063
@ankit-kumar-dwivedi @ice0

There are files in the ETL/ETL that are having no extensions and .h extension ! but the files in  synfig-core/src/synfig are either having .h extension or .cpp extension ! Where does that .cpp file come from ? Do I have to right one on my own or there is something that I am missing ! Kindly help me with this .

secondly , synfig-core/test is not having cmakelist ! So, I

[2021-05-18 16:22] rodolforg commented on #2063
ETL would be a (template) library like STL.

As it was focused on providing template classes to support development, it is essentially headers, as C++ templates should be fully declared on headers.

Standard headers doesn't use the .h extension (actually C++ should use hpp or hh), and ETL followed it.

For some reason, it hides the .h that contains thr actual implementations via the headers withou

[2021-05-18 16:22] Animyos opened #2161 "Transparency issue"
**Synfig Studi 1.4.0, Windows 10 Pro, version 10.0.19042, build 19042**:

**Issue description**: Issue with transparent animations, more description in my video (please enable subtitles): [https://youtu.be/ZU2tlRhIJ2w](https://youtu.be/ZU2tlRhIJ2w)

[2021-05-18 16:56] DhairyaBahl commented on #2063
@rodolforg so I should just move that code as it is ! without creating new Cpp file ! Kindly confirm it once ! Then I will speed up the process so that I can spend more time on classes !

[2021-05-18 18:07] FirasH opened #2162 "AppVeyor build crashes opening a new animation"
**Describe the bug**
Starting Synfig Studio AppVeyor build an error message pops out:
![error-start](https://user-images.githubusercontent.com/6705690/118701719-559ad800-b814-11eb-873f-d748bf838469.PNG)

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Synfig Studio
2. Go to: `File > New`

Synfig crashes consistently.

**System information:**
 - OS: Windows
 - OS version: 10
 - Commit I

[2021-05-18 21:11] DhairyaBahl commented on #2063
@AYESDIE I am facing some issue with cmake ! Either I am not setting it up correctly or there is something else ! Can you please help me out ?

Thanks and regards [^_^]

[2021-05-19 01:38] ice0 commented on #2063
Yes.

Just post your problem here.
Which OS you are using?

[2021-05-19 01:39] ice0 commented on #2162
Related PR: https://github.com/synfig/synfig/pull/2157

[2021-05-19 02:14] ice0 commented on #2161
Hi, @Animyos!

Thank you for reporting.
A fix is planned for version 1.4.3

[2021-05-19 02:51] ice0 commented on #2025
@morevnaproject
This is very strange. Looks like a bug in my opinion.

[2021-05-19 03:23] ice0 commented on #2063
Just want to notice that there is a problem in the current Windows build that will be fixed soon: https://github.com/synfig/synfig/issues/2162

[2021-05-19 07:20] DhairyaBahl commented on #2063
@ice0

I managed to deal with CMakeLists.txt and migrated the smart_ptr.cpp and smart_ptr.h and will now be moving the ref_count.cpp ! Then will gradually look into other files as well ! Do tell me when should we discuss about which classes should be used as replacement for the current ones in smart_ptr and ref_count.h

I am currently using windows ! and thanks for letting me know about the issue

[2021-05-19 08:30] FirasH commented on #2162
@ice0 I confirm the related PR fixes the issue.

[2021-05-19 09:59] DhairyaBahl commented on #2063
@AYESDIE @ice0

![Screenshot (6)](https://user-images.githubusercontent.com/71627983/118793717-7ddb1300-b8b6-11eb-878a-1582853bfd8e.png)

I am including <synfig/smart_ptr.h> in this state but this is showing error ! But it builds perfectly fine with the <ETL/smart_ptr> ! I have also replaced etl:: to synfig:: wherever required !

I am stuck at this point ! It would be great if you guys can tell me

[2021-05-19 10:21] ice0 commented on #2063
I think better to start from moving `boxblur` or `surface` to `core`. They only contain helper functions/classes, so this should be relatively easy.

`smart_ptr` is most difficult, so I recommend to move it in the end.

Also my suggestion is to move every pair of files in it's own PR. Then it will be easy to analyze them.

We will move on to this part after the files have been moved to the "core"

[2021-05-19 10:26] ice0 commented on #2063
Did you move smart_ptr.h from `ETL/ETL` to `synfig` folder?

It is better to do this in a separate step so that you do not confuse with different errors.

[2021-05-19 10:34] DhairyaBahl commented on #2063
Ok Got it ! Understood ! Now I will start with `boxblur` or `surface` ! And hopefully create a PR for the same by today itself !

Understood !  Thank you for clarifying.

Sounds perfect ^_^

Yes ! I did that ! I was referring to the PR you made for rect.h for better understanding of what exactly I have to do.

Yes ! right ! even I was feeling that I've created bit of a mess !

Thanks for clarifyin

[2021-05-22 01:42] rodolforg commented on #993
So, I tried to run other embed plugin and I got same error listed as item 3 [here](https://github.com/synfig/synfig/issues/993#issuecomment-838728657):
![Captura de tela de 2021-05-21 22-41-52](https://user-images.githubusercontent.com/1323987/119210970-dad8f380-ba85-11eb-8cf4-c6f155fc78f2.png)

[2021-05-22 02:49] rodolforg commented on #993
Regarding issue 3,

When load_canvas searches for an exported valuenode, this code below is indirectly called, so anything before "`:`" character is a `canvas id`. And there couldn't be anything before `:` (empty canvas id) too:
https://github.com/synfig/synfig/blob/2b7587d24bbcf797bcbb3397fc3a132394c3e8d5/synfig-core/src/synfig/canvas.cpp#L586-L592

And here we know what an empty canvas id means:

[2021-05-22 06:41] rodolforg commented on #993
I detailed the canvas id format in this doc PR: https://github.com/synfig/synfig-docs-dev/pull/79

There is an issue with it: I don't know where to place a link to it in the page structure ;)

[2021-05-22 12:44] DhairyaBahl commented on #2123
Status Update ! I've been spending some time with the codebase ! Taking help from the GTK documentation ! It is pretty awesome ! Apart from that , I am also playing with the code for the time being for better understanding of the project !

Will start looking specifically into deprecated classes from day after tomorrow ! Till then , spending some time with the codebase ! 🙂

[2021-05-22 20:32] rodolforg commented on #2123
Glad to see your energy, but I think you should focus on your own GSoC project (ETL 'extinction'), at least while in GSOC 2021 on the way :)

[2021-05-23 00:16] FirasH commented on #2025
I think the `Render Settings > Time` options remember the last inserted value because it’s not always necessary to render the whole animation.

As an example using png sequences it could be useful to render only changed frame intervals.

If you check Canvas Properties the Time of the animation should be changed, but is not related to Render Settings which are a different thing.

[2021-05-23 04:52] ice0 commented on #2152
@abumusa247 if you can copy/paste keyframes from one shape to another does this helps?

[2021-05-23 05:17] #2162 closed

[2021-05-23 14:38] #422 closed

[2021-05-24 10:30] Keyikedalube commented on #2025
Both Canvas Properties and Render Settings invoke the same `Widget_RendDesc` class. Therefore I'm expecting the same behavior between these two dialogs.

I remember making a simple loop animation, finished it, and realized I only need to extend the end time a bit further. Changed it from the toolbar and then rendered my file assuming changes are already reflected in Render Settings. The annoying p

[2021-05-24 13:01] morevnaproject commented on #2025
My opinion:

- I agree that "Duration" is better than "End Time", as it is not requires to do calculations in mind
- The widget in workarea should be replaced to "Duration" -
![Screenshot_148](https://user-images.githubusercontent.com/5604544/118443213-d6bf7580-b715-11eb-997c-f25015d9c178.png)
- I think we still need a separate dialog with "Start Time" and "Duration" widgets. I do not think it is

[2021-05-24 23:27] Keyikedalube commented on #2025
This goes to #721

[2021-05-24 23:37] Keyikedalube commented on #721
From https://github.com/synfig/synfig/issues/2025#issuecomment-847026468

[2021-05-25 07:49] rodolforg commented on #993
@AnishGG @saurabh-ramola  do you know how to fix it?

This line 50 doesn't handle all exported value node ID cases:

https://github.com/synfig/synfig/blob/46ed36c9a100857b2f2b0a87de40c6ee734e5744/synfig-studio/plugins/lottie-exporter/common/Param.py#L47-L52

`key` string may refer to a canvas from other file or inside a child canvas.

Full ID string format would be something like
`[[file-path]#][c

[2021-05-26 03:18] ice0 commented on #993
Just tried AppImage, there seems to be a problem with running any plugin.

[2021-05-26 03:51] #2124 closed

[2021-05-26 04:08] morevnaproject commented on #2148
Hi @rodolforg!

That's awesome! Thank you so much!

Actually I have nothing against that (and adding latest implementation of shortcut editor), if this would apply correctly and wouldn't delay us with release. ^__^

Can you please rebase it again and make a PR to v1.4.x branch of this repository? ^__^

[2021-05-26 08:18] rodolforg commented on #2148
Done

Ok. Although I won't cherry-pick every commit (due to some of them do other stuff), it's pretty quick actually. Tomorrow I'll do it.

[2021-05-27 01:51] ice0 commented on #993
Yes.

[2021-05-27 02:04] #1951 closed

[2021-05-27 08:42] FirasH opened #2167 "[Synfig Studio] Spacings in Window headers is not consistent"
**Synfig version & platform**:
master 7ba303a3

**Issue description**:
Looking at this screenshot of the `Library` window, the header labels (ID, Type, ValueBase, Time Track) are evenly spaced from the borders:
![window-library](https://user-images.githubusercontent.com/6705690/119793930-521fe480-bed7-11eb-8420-751d19808043.PNG)

While in other windows like `Keyframes` the spacing is not consisten

[2021-05-27 13:49] FirasH commented on #2167
It seems the issue is related to styles.

For example with `Sets` window, as this line:
https://github.com/synfig/synfig/blob/7ba303a3afab3edd5816b6a39d4af41a7f45d158/synfig-studio/src/gui/docks/dock_layergroups.cpp#L65
is commented out, header spacings in the `Gtk::TreeView` are displayed correctly:

![style-not-applied](https://user-images.githubusercontent.com/6705690/119836840-58778600-bf02-11

[2021-05-27 23:35] Keyikedalube commented on #2167
@FirasH Can you make a simple screencast to reproduce that layout? I can't figure how you did it LOL. Because over here the only dock that has inconsistent column header space is the properties toolbox. All the other dialog column headers are consistent and styled correctly.
![Screenshot_2021-05-28_04-54-05](https://user-images.githubusercontent.com/24214509/119908909-47b22900-bf71-11eb-816b-7495c

[2021-05-27 23:50] DhairyaBahl commented on #2123
Status Update : Currently I am trying to understand synfig codebase in a deeper manner ! Apart from that I was making making some gtk applications to understand gtk in a better manner ! I've also been going through GTK's latest documentation ! 🙂

Will start working on the project soon !

[2021-05-28 03:29] rodolforg commented on #2123
I suggest you to start with replacing the simplest deprecated widgets first. Examples: VScrollBar, HScrollbar -> Scrollbar, VScale, HScale -> Scale, Table -> Grid. Some of them are listed here: https://developer.gnome.org/gtkmm-tutorial/stable/changes-gtkmm3.html and here https://developer.gnome.org/gtk3/stable/DeprecatedObjects.html.

Then, after reading and some practicing of gtkmm tutorial,  st

[2021-05-28 07:12] FirasH commented on #2167
Maybe my system has different Gtk styles, as it happens with buttons… Maybe the best solution is to theme Synfig Studio all around with our .css. That sounds like a huge task but will make the layout consistent regardless of the system in use.
I couldn’t pick this inconsistency on Windows for example.

I’ll prepare a screen cast ASAP.

[2021-05-28 08:03] FirasH commented on #2167
Here are some screenshots from Windows where you can see the issue although it's less noticeable than on my openSUSE.

- The `Library` dock header is perfectly spaced and we'll take it is as reference:

![dock-library](https://user-images.githubusercontent.com/6705690/119949948-acce4480-bf9a-11eb-8f6c-2afdfaf4557b.PNG)

- The `Canvas MetaData` dock (no left spacing):

![dock-metadata](https://user

[2021-05-28 08:42] Keyikedalube commented on #2167
That'll take years and years of feedback and refining UI design from all users on various systems.
Personally, I prefer the system theme or third-party themes created by awesome creators out there.

Because Windows doesn't theme GTK apps, it uses the default GTK Adwaita theme. Whereas, KDE tends to standardize all apps to look consistent with their desktop style though GTK can be customized to loo

[2021-05-28 08:58] rodolforg commented on #2148
#2168

[2021-05-28 08:59] Keyikedalube commented on #2167
CSS is the cause because we set all buttons padding to 0 first and slightly increased to 5px to make them smaller than standard GTK toolbar icon sizes.

You could experiment label with
[code]

I got what you meant after reading this quoted comment. Forgive my misunderstanding. I thought you were talking about vertical header spaces but it was about label spacings in columns all along.

[2021-05-28 10:54] rodolforg commented on #2148
After some research (https://www.howtogeek.com/183636/how-the-command-and-option-keys-work-on-a-mac/), it seems we should change all shortcuts to Command key for MacOS…

@Keyikedalube found out it's just a matter of replacing "<Control"> with "<Primary>" (on GTK+3; [on GTK4 "\<Control>" is the preference](https://docs.gtk.org/gtk4/migrating-3to4.html#adapt-to-changes-in-keyboard-modifier-handling)

[2021-05-28 16:03] morevnaproject commented on #2148
Yes, that would be very cool for MacOS users! I suggest to submit this change with master branch first, while I will proceed further with releasing 1.4.2... If everything will be alright with "<Primary>", then we can apply fix for 1.4.3 or later. ^__^

[2021-05-28 16:10] morevnaproject commented on #1393
We have path in "Source file" column, maybe this is enough to indicate that the value node is from an external canvas?

![screenshot_015](https://user-images.githubusercontent.com/332868/120012616-ee4a0880-c009-11eb-8e43-0ac8aa7b6796.png)

[2021-05-28 16:17] AnishGG commented on #993
Sure. Let me try to fix this. There is actually an issue open regarding this(https://github.com/synfig/synfig/issues/1243). Your comment answers my queries asked in this issue. Will try to fix this. ^__^

[2021-05-28 20:10] DhairyaBahl commented on #2123
@rodolforg Thanks for detailed explanation ! I will explore the simple widgets first ! and will then move to GtkMain to GtkApplication as per your instructions ! 🙂

[2021-05-29 03:11] ice0 commented on #2148
I think we need to add "snap/flatpak" packages to the pipeline description.

[2021-05-29 03:28] rodolforg commented on #1393
The link icon there says that value node will be copied and linked to existent valuenode in target file.

It is somehow confusing :P

[2021-05-29 03:28] rodolforg commented on #1393
@morevnaproject  The link icon there says that value node will be copied and linked to existent valuenode in target file.

It is somehow confusing :P

[2021-05-29 09:18] rodolforg commented on #2005
You could use the Rotate tool for that. Activate the tool, use it to select the vertices, click on one of them and drag.

https://user-images.githubusercontent.com/1323987/120064995-7c8fb000-c045-11eb-8062-6390fcb14008.mp4

[2021-05-29 11:00] b-aaz opened #2169 "Rhubarb suport 🙃"
Hi
Two days ago I made a topic in synfig forms for Margeing papagayo and synfig

● So in my opinion papagayo is not a stable program and it has lots of bugs and problems I it has been a week that iam searching for a way to make papagayo work correctly but there was no result 🥲
But then today I found a program called rhubarb it has alot of features and my only problem with it was the lack of gui bu

[2021-05-29 13:36] rodolforg commented on #2169
If anyone wants to pick this issue, a way to is to improve ValueNode_AnimatedFile to support more than .pgo files.

And add the correspondent extension here:
https://github.com/synfig/synfig/blob/7ba303a3afab3edd5816b6a39d4af41a7f45d158/synfig-studio/src/synfigapp/canvasinterface.cpp#L729-L735

Link to Rhubarb LipSync for more info about file format (on ReadMe and exporters folder)
https://github.

[2021-05-30 08:14] rodolforg commented on #1916
I just checked v1.4.0 and it crashes too.
So the cause is not a recent change on Layer_Freetype: the last one was on 2019: https://github.com/synfig/synfig/commits/v1.4.0/synfig-core/src/modules/lyr_freetype/lyr_freetype.cpp

[2021-06-02 08:55] rodolforg commented on #1393
Hm… I think I know how to differentiate it:
- When it will be linked to external file, use the Link icon
- When it will be copied, but 'linked' to an existent exported valuenode, we use (deprecated) Connect/Plug icon: this is the way we represent the action to link to an exported value anyway

What do you think?

---

Regarding the copying about external nested value nodes, I think I'll change you

[2021-06-03 11:26] rodolforg commented on #2169
Here is where things should be added: https://www.github.com/synfig/synfig/tree/master/synfig-core%2Fsrc%2Fsynfig%2Fvaluenodes%2Fvaluenode_animatedfile.cpp .

The link is my previous post was just for adding the file extension ;)

[2021-06-03 23:23] DhairyaBahl commented on #2123
Hii 👋 @rodolforg ! Status Update !

I am currently exploring Gtk and Gtkmm ! and trying to play with synfig as much as I can ! I've researched about the VScrollbar and HScrollbar and I think that these are already fixed ! Although Table is still being used at some places in the code ! and I am also learning about that as well from the docs !

Currently I am referring to the documentation of Gtk, G

[2021-06-03 23:35] rodolforg commented on #2123
Nice. Did you read and follow the gtkmm tutorial?
https://developer.gnome.org/gtkmm-tutorial/3.18/

[2021-06-03 23:37] DhairyaBahl commented on #2123
Yess ! I am referring to that and also to the latest gtkmm 4 ! Also going through the Gtk documentation a little bit.

[2021-06-04 05:17] ice0 commented on #2169
@b-aaz

Opacity in synfig terms is the `amount` property.

Group - is `Layer_Paste`.
To add a group, you need to call Action. This must be done so that the operation can be cancelled (undo).

[2021-06-04 07:45] rodolforg opened #2175 "[SVG] Synfig doesn't create stroke for rectangle elements"
**Describe the bug**
Synfig doesn't create outlines for rectangle elements. It just create the fill part.

**To Reproduce**
SVG code:
[code]

**Expected behavior**
Synfig creates both fill and stroke concepts. And they must be linked.

For such cases stroke is defined, Synfig should create a region (not rectangle) and an outline layer.

**System information:**
 - OS: all
 - OS version: all
 - Synf

[2021-06-04 07:48] rodolforg opened #2176 "[SVG] Synfig doesn't import neither circle nor ellipse elements"
**Describe the bug**
Synfig doesn't import neither circle nor ellipse elements. It just ignores them.

**To Reproduce**
SVG code:
[code]

**Expected behavior**
Synfig should import them as either circle or region layers.

For such cases stroke is defined, Synfig should create a region (not rectangle) and an outline layer, linked together.

**System information:**
 - OS: all
 - OS version: all
 - S

[2021-06-04 08:03] rodolforg opened #2177 "[SVG] Synfig doesn't accept percentage value for any attribute"
**Describe the bug**
SVG allows to set some attributes with percentage values. For example: https://www.w3.org/TR/SVG2/geometry.html#XProperty

Synfig, however, just replace them with 1024px no matter where.

**To Reproduce**
SVG code:
[code]

**Expected behavior**
Synfig should parse them as in SVG standards. What percentage is related to depends on the attribute, but most of them is related to v

[2021-06-04 08:17] rodolforg opened #2178 "[SVG] Synfig ignores user unit and place shapes in wrong positions"
**Describe the bug**
SVG has the concept of 'user units'. When an length-type attribute (such as x, y, width…) has no measurement unit (px, pt, pc, in, cm, mm, em, etc.), it should be assumed as user unit. It is indeed a pixel, by default (IIRC). However, the `viewBox` attribute of `<svg>` element may set user-unit as a different value. If ignored, all coordinates with be misinterpreted.

Example:

[2021-06-04 08:22] rodolforg opened #2179 "[SVG] Synfig doesn't import neither line nor polyline elements."
**Describe the bug**
Synfig doesn't import neither line nor polyline elements. It just ignores them.

They are described here:
https://www.w3.org/TR/SVG2/shapes.html#LineElement
https://www.w3.org/TR/SVG2/shapes.html#PolylineElement

**To Reproduce**
SVG code:
[code]

**Expected behavior**
Synfig should import them as outline layers. Must polyline fill be created with region layer?

**System infor

[2021-06-04 10:09] rodolforg commented on #2123
It should be enough for now :)

- Make a list of deprecated widgets and classes as well as their replacements. It is important to get rid of all deprecated widgets for gtkmm 3.18.
- Learn how to use Gtk::Application and its ApplicationWindow
- Update Studio by making use of Application. \o/
- search for all Gtk::Action.
- You can focus on those listed on main menu first for changing them to GActio

[2021-06-05 17:56] b-aaz commented on #2169
Thanks that was exactly what I wanted 😄 iam little busy now (exams 🤐📃) but I am trying to finish it and also thank you for adding the tag / label 🏷 😄

[2021-06-06 09:23] DhairyaBahl commented on #2123
@rodolforg Sorry for the delayed reply ! I was trying to get hang of Gtkmm as much as possible ! Will send the list of all the deprecated widgets after building it once on my local machine !

Talking about Gtk::Application ! It is just used in all gtkmm applications just to create an application ! Is there something specific that I have to learn about Gtk::Application ! If yes then kindly tell me

[2021-06-06 10:24] rodolforg commented on #2123
@DhairyaBahl One step at a time :)

What will you build? Synfig?

By the way, whay OS do you use?

Yes, since gtkmm3 . However, Synfig doesn't use it yet. We have to port it to be able to use 'modern' features.

You have to learn for now just enough to port Synfig Studio to Gtk::Application and Gtk::ApplicationWindow.

Besides the docs I already told you, there is this one: https://wiki.gnome.org/

[2021-06-06 11:55] DhairyaBahl commented on #2123
I was talking about building synfig with the required cflags to get the list of deprecated widgets

I recently switched to linux for synfig development.

Understood ! I was reading the documentation / tutorial of the same !

Okay ! Will look into these as well !

Got it ! Thanks for sharing .

Okay okay no issues ! I will search for all the all the Gtk::Action s that are created by synfig ! And wi

[2021-06-06 19:25] rodolforg commented on #993
So it's probably something related to AppImage itself. I don't know how it works, but maybe this is related: https://github.com/AppImage/AppImageKit/pull/191  ?

[2021-06-06 21:31] rodolforg commented on #391
Maybe we could use (Google) BreakPad library: https://chromium.googlesource.com/breakpad/breakpad/+/master/docs/getting_started_with_breakpad.md

[2021-06-06 23:04] DhairyaBahl commented on #2123
@rodolforg I will start looking into synfig widgets from today ! And after updating all of them to the Gtkmm 3.18 or to the latest 4.0 one , I will then move towards the Gtk::Application as well ! 🙂

[2021-06-07 12:21] yoSachinkr opened #2180 "Make new frame feature is broken in synfig"
windows 10 21h1, synfig 1.4.1

Make new frame feature shown in the video is broken in current version of synfig.
https://www.youtube.com/watch?v=tzGx6f4rBnM

[2021-06-07 14:11] #2180 closed

[2021-06-07 18:15] DhairyaBahl commented on #2123
@rodolforg Currently I am exploring all the widgets ! I wanted to ask if I Can write my weekly progress over here ! or I should make a new thread on the forums ! Kindly tell me ! I am asking this so that all the conversation can me maintained at one place !

Thanks ^_^

[2021-06-08 03:46] ice0 commented on #2123
It is better to write about your progress on the forums. But you can post it here too.

[2021-06-08 08:35] DhairyaBahl commented on #2123
Okayy Then I will write it over here 🙂

[2021-06-08 16:26] AnishGG commented on #993
@rodolforg would you happen to have any simple example for this:

I tried using the examples from [Link](https://github.com/synfig/synfig/tree/master/synfig-core/examples), but most of them use pasteCanvas and other layers which are not yet supported by the Lottie exporter. And I am not sure how to make such an example.

[2021-06-08 17:26] rodolforg commented on #993
Aren't group layers supported? Ok

Are link to external files supported?

Anyway, I think it could already support that defs may contain canvas and nodes.

Examples:
path/to/file#my_value
path/to/file#:my_value

my_value
:my_value

:an_exported_canvas:a_value
an_exported_canvas:a_value

[2021-06-08 19:43] AnishGG commented on #993
Group layers are supported, yes. By examples, I meant any `.sif` file, which I can use for testing purposes.
But thank you anyways for this ^__^

[2021-06-08 20:24] rodolforg commented on #993
Oh. I asked because you wrote about Layer_PasteCanvas (and there are only three Layers that are Layer_PasteCanvas: Group, Switch and FilterGroup). ;)

[2021-06-08 20:29] rodolforg commented on #993
XD

(Very) Few examples:
https://github.com/synfig/synfig/blob/master/synfig-core/examples/walk/walk.sif
https://github.com/synfig/synfig/blob/master/synfig-core/examples/prologue_kid.sif

[2021-06-09 01:04] DhairyaBahl commented on #2123
@rodolforg @ice0

According to me , colorselection.h and alignment.h are the only classes left that have to be changed ! and box.h should also be changed to grid.h wherever possible ! So, I can start working on these !

Am I missing some classes ? If yes, then I can do a deeper search again ! If no , then I can start working on replacing these classes right away ! 🙂

Thanks

[2021-06-09 04:26] b-aaz opened #2181 "Blender like text boxes"
Hi
 so in synfig text boxes need you to click on them type a value and hit the enter to see the effect on the shape 😶
I think that's little bit time consuming😪 because you need to do this cycle multiple time to make the shape as you want 😴
I found the blender text boxes very easy to use🤗 because
1 you can change the value with mouse
2 it updates the shape live
3 it has little arrows to change the

[2021-06-09 05:56] AnishGG commented on #993
@rodolforg Thank you for the examples!
But both these examples use only `canvas-id` in the `use`. Do you have any example which uses `child-canvas-id` too? That is the part I didn't understand.

[2021-06-09 08:40] rodolforg commented on #2123
If so, only get rid of Alignment widgets.
ColorSelection would change a lot the UX – and I'll rework on a new Color Dialog anyway.

The Box, in the end, wasn't deprecated as they foretold. ;)

[2021-06-09 08:52] rodolforg commented on #993
A child canvas with an exported value node.
[teste-value-node-names.zip](https://github.com/synfig/synfig/files/6622383/teste-value-node-names.zip)

And from external file (= the previous one)
[test-external-value-node.zip](https://github.com/synfig/synfig/files/6622403/test-external-value-node.zip)

[2021-06-09 08:56] rodolforg commented on #2181
Duplicate #1470

Thank you anyway :)

[2021-06-09 08:56] #2181 closed

[2021-06-09 18:12] DhairyaBahl commented on #2123
Got it working on it .

[2021-06-09 18:53] b-aaz commented on #2181
Oh iam very sorry I😬😬😬

[2021-06-10 11:25] Keyikedalube opened #2183 "Unused header "gui/docks/dockmanager.h" included on multiple synfigstudio project files"
**Synfig version & platform**:
Building from source
Fedora Linux

**Issue description**:
Use the advanced project-wise search feature from your preferred IDE and track down the keyword `DockManager` with case sensitivity turned off.
There are multiple files that included that class's header file but are not using it.

Here's how it looks like on Qt Creator:
![Screenshot_2021-06-10_16-43-33](https:

[2021-06-10 22:02] rodolforg commented on #2123
Normally, you can drop the widget itself, and set the (v/h)align and margin properties to children/parent widget directly.

[2021-06-11 02:32] DhairyaBahl commented on #2123
![Screenshot (11)](https://user-images.githubusercontent.com/71627983/121622047-e74fdb00-ca8a-11eb-9fd1-9444ef8dbd50.png)

@rodolforg I am directly changing the valign and halign properties of the widget-outline-color  without even adding new child ! Is this an appropriate way to do this ?? Kindly confirm it . If not, then pls rectify my mistake !

Although I've built it again with the changes and

[2021-06-11 09:10] rodolforg commented on #2123
It is if it behaves the same way as the dialog worked before the changes (or better than before) ;)
So, after building, run Studio and compare the dialog appearance with the current stable version, for example. Try to resize dialog (shrinking/expanding) and check if they behave the same.

This replacement you did is proposed in docs: https://developer.gnome.org/gtkmm/3.18/classGtk_1_1Alignment.htm

[2021-06-11 11:37] Keyikedalube opened #2186 "Hard to read editable input text fields for layer object parameters"
**Describe the bug**
It's hard to read values being edited when one of the parameters' property is activated. User input is obscured by existing values even when it's being edited.

**To Reproduce**
Steps to reproduce the behavior:
1. Draw a rectangle layer
2. Go to **Parameters** dock
3. Activate any one of the editable properties
4. Overlaid value is making it hard to read while being edited

**

[2021-06-12 01:54] #1803 closed

[2021-06-12 02:03] ice0 commented on #2186
This is how it looks on my system (Mint 20):

![Screenshot_167](https://user-images.githubusercontent.com/5604544/121761900-ec7d5a80-cb5c-11eb-8bf2-0e57050eea76.png)

[2021-06-12 02:37] Keyikedalube commented on #2186
Oops! That was my GTK theme issue: Materia.

Not a bug LOL. Should've tried to verify with the default GTK Adwaita theme first. Closing it 😅

[2021-06-12 02:37] ice0 opened #2188 "Implement toolbars using GTK Box"
https://developer.gnome.org/gtk4/stable/ch41s02.html#id-1.7.4.4.75

![Screenshot_2021-06-04_10-31-32](https://user-images.githubusercontent.com/24214509/120748267-1fea3480-c520-11eb-92f9-f455b70fc461.png)

However, `GtkToolbar` has been removed in Gtk 4 so we might end up reimplementing this PR solution again in the future when migrating to a series of buttons packed in Box/Grid.

_Originally post

[2021-06-12 02:42] ice0 commented on #2186
@Keyikedalube I think maybe we need to use a different approach here. I added screenshot just to show how it planned to be, so it looks like we need to dig further.

[2021-06-12 02:47] Keyikedalube commented on #2186
I confirm that this issue is not related to Synfig, it's a third-party GTK theme issue so I'm thinking the bug should be reported to Materia theme developers.

[2021-06-12 02:54] ice0 commented on #2186
![Screenshot_115](https://user-images.githubusercontent.com/5604544/121763153-ef2f7e00-cb63-11eb-9da2-b74db1f08894.png)

This is the same widget with 50% opacity.
When we add the overlay widget, I think we need to change its opacity to 100% to make sure it doesn't clash with the theme settings.

[2021-06-12 05:36] #1874 closed

[2021-06-12 08:07] flurick opened #2190 "Discoverable "Add Layer" menu"
There are many different types of layers

I wonder if it would help with both discoverability for newer users
and in general to streamline the menu navigation a bit.

![Frame 1](https://user-images.githubusercontent.com/3645797/121769708-74fff900-cb65-11eb-92b2-d3b9c5297d26.png)

So the idea is to show the first 4 icons or so of each group in the "first level" of the popup,
and for the rest of the

[2021-06-12 11:41] Keyikedalube commented on #721
Experimented with `Gtk::FileChooserDialog`, added the bottom frame using `set_extra_widget()`, and this is how my final prototype for **Export Animation...** looks like:

https://user-images.githubusercontent.com/24214509/121774411-fa080400-cb9f-11eb-801e-09fe868edd38.mp4

Here's the glade file for reference/tinkering: [render_options.glade.zip](https://github.com/synfig/synfig/files/6642099/rende

[2021-06-12 12:18] flurick commented on #1936
Related to #1422
And I found [this blog post](https://blogs.gnome.org/alexm/2021/03/13/reinventing-tabs/) about Epiphany moving away from static tabs (GtkNotebook).

[2021-06-13 08:55] AnishGG commented on #935
@JDFischbach Not yet

[2021-06-13 09:02] AnishGG commented on #935
So I am trying to implement this feature. Before implementing, I need to understand how this layer is implemented in Synfig.
I will be using this [Link](https://github.com/synfig/synfig/blob/15607089680af560ad031465d31878425af927eb/synfig-core/src/modules/mod_geometry/advanced_outline.cpp#L1043) for the implementation purposes [See [this](https://forums.synfig.org/t/gsoc-2019-export-animation-for-

[2021-06-13 09:22] rodolforg commented on #935
Maybe this helps you?
https://lottiefiles.com/3618-not-found

[2021-06-13 10:02] AnishGG commented on #935
Thank you for pointing this out. We can create dashes in outline directly in lottie, but the outline will be restricted to a constant width. Same thing happened while implementing the export of `Outline` layer, and hence we had to use the basic shape_layer to export and implement the Synfig outlines.

[2021-06-13 10:03] AnishGG commented on #935
Hence, we won't be able to use this.

[2021-06-13 12:38] Kashyapdevesh commented on #2188
If no one is working on this issue,can i try it? I'm new to GTK & opensource in general,so it may take a little time

[2021-06-13 13:52] rodolforg commented on #2188
You can try it :)

[2021-06-13 18:22] rodolforg commented on #2186
Since some Gtk version, it just overlays the edit-widget of a TreeView cell.
It can be seen with a vector parameter, for example. Between the two TextEntry you can see the regular CellRenderer :/

[2021-06-13 19:22] AnishGG commented on #935
If we have an advanced outline with multiple dashes(say 4 dashes visible to us), then we will need to render 4 polygons, right? But [here](https://github.com/synfig/synfig/blob/15607089680af560ad031465d31878425af927eb/synfig-core/src/modules/mod_geometry/advanced_outline.cpp#L1040-L1052) in advanced outline, we are always rendering at maximum of 3 polygons.
Can someone clarify/correct me on this.

[2021-06-13 19:52] rodolforg commented on #935
AFAIK, current implementation of AdvancedOutline first computes the shape as it was a straight line (but with variable width and possibly dashed). Then it 'bends' this 'line' finally shaping the contour (and this is incredibly crazy *.* I really congratulate who did it!)

[2021-06-13 19:54] rodolforg commented on #1941
@ice0  should we backport the entire lottie plugin?

[2021-06-13 19:59] rodolforg commented on #1978
ping @AnishGG :D

[2021-06-14 01:21] rodolforg commented on #2190
Also, it would be good to filter by letting user type layer name…

[2021-06-14 05:50] yoSachinkr opened #2191 "Feature request: Faster entry of values in the value field"
Synfig studio v1.4.1 Windows 10 21H1
While clicking on the value field in the properties/ parameters panel. if the whole value is selected upon clicking, then it would provide easier entry of new values, like just clicking the value field and entering the parameter values through the keyboard directly, instead of manually selecting/ deleting the value first and then entering the new value. This fe

[2021-06-15 06:25] flurick commented on #2190
Looking at [dock_layers.cpp](https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/docks/dock_layers.cpp) which builds the three menus where layers can be added from. It does this by weaving together strings of XML and then parsing that with GTK builder.

(I have a feeling there is a minimal approach to this using MenuModel linked to a .ui layout file, but I'm not sure if that is too

[2021-06-15 12:07] Keyikedalube commented on #2190
I just had that similar thought too... Maybe [`Gtk::PopOver`](https://developer.gnome.org/gtkmm/3.24/classGtk_1_1Popover.html)?

[2021-06-15 12:57] Keyikedalube commented on #2025
Figured this is actually a bug.
1. Change the end time from the toolbar
2. Save the document
3. Close Synfig Studio
4. Open Synfig Studio
5. Re-open the save file
6. Open Render dialog
7. End time is updated

Should close this issue? Because the above comments want to update the time widget only for Render settings dialog.

[2021-06-15 14:53] rodolforg commented on #2190
@flurick Oh, well. The Synfig Studio uses some deprecated ways of doing some stuff, like `Gtk::UIManager`. We have a GSoC project this year that will get rid of some of these deprecated widgets and classes.

The @Keyikedalube 's suggestion is very good for your proposal (and it is great btw!).
Look at this screenshot from Glade app:
![Captura de tela de 2021-06-15 11-46-53](https://user-images.git

[2021-06-16 03:24] #1242 closed

[2021-06-16 03:24] #1243 closed

[2021-06-16 03:45] ice0 commented on #2025
Done :)

[2021-06-16 03:45] #2025 closed

[2021-06-16 03:51] ice0 commented on #1941
@rodolforg Updated lottie plugin depends on changes made to plugin system by @mbasaglia. So for me it is better not to backport all commits, but just copy and paste the plugin files and make changes to the plugin description file. (you can take it from [lottie-exporter.zip](https://github.com/synfig/synfig/files/5730246/lottie-exporter.zip))

[2021-06-16 04:33] ice0 commented on #2186
I thought this is Synfig widget.

@Keyikedalube can you check how CellRendererSpin looks on your system?
https://python-gtk-3-tutorial.readthedocs.io/en/latest/cellrenderers.html#cellrendererspin

Last example. Just save it as `cellrendererspin.py` and run with `python3 ./cellrendererspin.py`

[2021-06-16 10:02] Keyikedalube commented on #2186
![Screenshot_2021-06-16_15-28-52](https://user-images.githubusercontent.com/24214509/122199469-b1aa5800-ceb7-11eb-8436-90a391bd86b5.png)
![Screenshot_2021-06-16_15-29-08](https://user-images.githubusercontent.com/24214509/122199531-be2eb080-ceb7-11eb-84c7-4dfc89045076.png)

_3rd row same as 2nd screenshot_

[2021-06-17 06:33] AnishGG commented on #935
So, I tried to use the advanced outline from the same `.sif` file both in the master branch and [this](https://github.com/synfig/synfig/tree/15607089680af560ad031465d31878425af927eb) branch(which I will be using as the reference to export the advanced outline), but both have a slightly different result which can be seen below:
`Master branch results`:
![new_synfig](https://user-images.githubuserco

[2021-06-18 23:17] rodolforg commented on #2188
@Kashyapdevesh  Do you need any help?

[2021-06-19 10:20] Kashyapdevesh commented on #2188
Sorry for the late reply, i was studying about gtk4 & analyzing the codebase, i have started working on designing the toolbar, i will post a pr ASAP

[2021-06-19 21:43] #538 closed

[2021-06-19 22:01] FirasH commented on #587
I agree with your suggestions.

For example in current master in the `Library` dock we have:
- The exported values are listed under `ValueBase Nodes`
- The value of those values is described in the header as `ValueBase`
- The left-click menu action for renaiming is defined as `Rename ValueNode`

This is kind of messy...  A possible solution could be in the same order:
- `Exported Values`
- `Value`

[2021-06-20 11:15] yoSachinkr opened #2196 "Feature request: A new wave warp layer for synfig"
This feature will ease creation of wave effect in synfig an easy affair.
![image](https://user-images.githubusercontent.com/50204208/122671992-eb949a80-d1e6-11eb-91c4-25631e6b590f.png)

[2021-06-20 14:19] Keyikedalube commented on #587
I'm OK with the term `ValueBase` currently used in the front end ie., GUI. This informs the user a bit about Synfig internals which is useful.

For instance, without digging through the code I already anticipated `ValueBase` is a data type and `ValueBase Nodes` like our classic linked list data structure stores or presents all our ValueBases together in a treeview and the rename `ValueNode` is an

[2021-06-20 14:25] Keyikedalube commented on #2196
Should this be a plug-in feature?

[2021-06-20 14:28] yoSachinkr commented on #2196
I think, it should be one among the in-build wrap layers with all parameters available to manipulate through parameters panel. So that its parameters can be animated as well.

[2021-06-20 23:27] #286 closed

[2021-06-21 01:08] yoSachinkr commented on #2196
``<iframe height="265" style="width: 100%;" scrolling="no" title="warp.js – Animated Wave" src="https://codepen.io/benjamminf/embed/oZKBEw?height=265&theme-id=light&default-tab=js,result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
  See the Pen <a href='https://codepen.io/benjamminf/pen/oZKBEw'>warp.js – Animated Wave</a> by Benjamin Fleming
  (<a href='https:

[2021-06-21 02:26] Keyikedalube commented on #549
Wouldn't this be problematic for costly layers like gradients and blurs? Because if we're seeing objects outside of canvas that means Synfig is rendering more on [limited hardcoded memory](https://github.com/synfig/synfig/issues/1015#issuecomment-558340110).

[2021-06-21 02:49] ice0 commented on #549
I think for animation purposes we don't need them. If I understand correctly, we can even just draw silhouettes of objects outside the canvas.

[2021-06-21 09:41] Jehan commented on #549
Even though just drawing silhouettes is also a nice idea, which could work in many cases, I think the ability of drawing the real render is nice too. In the end, this would just be choices by the artists. First because you don't have to active out-of-canvas visibility all the time (it should be an on/off switch). Then because yeah having alternative view choices is a good idea (a normal mode where

[2021-06-21 17:14] yoSachinkr commented on #2196
Just to add some context, this project, which is in javascript, kinda work in a similar manner https://github.com/benjamminf/warpjs

[2021-06-22 11:14] Keyikedalube opened #2197 "Can't undo end time set from toolbar"
**Describe the bug**
Canvas workspace doesn't indicate one of its properties (end time) has changed when set from toolbar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the toolbar
2. Change the end time
3. Press enter
4. Document is updated but changes cannot be undone

**Expected behavior**
Undo operation should recover our previous canvas document state.

**Screenshots**
![Screens

[2021-06-22 11:17] Keyikedalube opened #2198 "End time not updated in render settings"
Figured this is actually a bug.
1. Change the end time from the toolbar
2. Save the document
3. Close Synfig Studio
4. Open Synfig Studio
5. Re-open the save file
6. Open Render dialog
7. End time is updated

_Originally posted by @Keyikedalube in https://github.com/synfig/synfig/issues/2025#issuecomment-861475064_

[2021-06-23 11:55] flurick commented on #2190
Is it maybe best to leave this until after the gosoc gtk3 project?

(I got stuck trying to figure out how to connect a new Gtk::Builder with the current App::ui_manager())

[2021-06-23 12:08] Keyikedalube commented on #2190
@flurick The decision's up to you. Don't forget to give yourself a break :)

@rodolforg ?

[2021-06-23 14:31] FirasH commented on #587
I've never thought about this specific case like that, I was simply wondering why on earth should labels be so cumbersome to understand (and also translate). This could make sense for a developer (that knows that portion of the code), but not for a regular or even advanced user IMHO.

@Keyikedalube the reason you correctly reported could be itself a good enough reason to avoid naming portions of u

[2021-06-24 06:42] AnishGG commented on #935
Making note of some doubts:
https://github.com/synfig/synfig/blob/15607089680af560ad031465d31878425af927eb/synfig-core/src/modules/mod_geometry/advanced_outline.cpp#L640
Should this be: `scwiter = --scwplist.end();`

[2021-06-24 08:14] FirasH commented on #2197
I think this is related to #2198.
When end time is changed from the toolbar (`framedial.cpp`) the value in `renddesc.cpp` is not updated.

Connecting those two values should very likely fix both issues.

[2021-06-24 11:35] Keyikedalube commented on #2190
@flurick I just skimmed `Dock_Layers` class and I have a hunch that
- your glade/builder file can be loaded to a `Glib::RefPtr<Gtk::Builder>` type variable in `Dock_Layers`'s contructor
- get the popover widget or root container (depends on how you're implementing)
- use `Gtk::MenuButton` instead of `Gtk::button` for your newly suggested **Add layer** button feature
- and finally set the popover u

[2021-06-28 12:21] AnishGG commented on #1978
What kind of minification tool can we use? There is one called [`jsmin`](https://pypi.org/project/jsmin/). I tested it and it minified the [original](https://github.com/airbnb/lottie-web/blob/5fb1fb1436206ecbbe113581f642ca08c440b78b/build/player/lottie.js) `js` file from  14176 lines to 1398 lines. But the original [minified](https://github.com/airbnb/lottie-web/blob/5fb1fb1436206ecbbe113581f642ca

[2021-06-28 12:34] AnishGG commented on #993
Issue 3 is fixed by: https://github.com/synfig/synfig/pull/2182

So the only issue left is Number `4`. I am not sure how to fix that.

[2021-06-28 12:46] AnishGG commented on #950
Linking the new file location: https://gitlab.com/synfig/synfig-tests/-/blob/master/export/lottie/086-circle-inverted.sif

[2021-06-28 19:35] AnishGG commented on #950
I tried debugging and found out that the issue is because of mismatch of the Precomp size and the outer composition size(width and height).
I am attaching both working and non_working files, where the only major difference is the difference in the size as mentioned above.
[not_working.zip](https://github.com/synfig/synfig/files/6728845/not_working.zip)
[working.zip](https://github.com/synfig/synfi

[2021-06-29 04:31] onlyjob commented on #1978
If I _had_ to minify I'd try Debian's `uglifyjs` package and maybe `minify` package. But we don't even have to minify - it is not like we are saving a lot of CDN traffic. Why bother? Merely to save 10 KiB or so? For single user where software will use cached version after first load? To save a millisecond of I/O once per application start? Is it worth the effort by any means?

[2021-06-29 08:43] AnishGG commented on #950
Related to this: https://github.com/airbnb/lottie-web/issues/1705

[2021-06-30 03:58] Keyikedalube opened #2200 "Can't determine if state tools button is inactive or active for Materia GTK theme"
**Describe the bug**
State tools button's focusability is making it hard to determine if a button is active or inactive for Materia GTK theme

**To Reproduce**
Steps to reproduce the behavior:
1. Activate rectangle tool
2. Click on any active button
3. Inactive button is still vaguely highlighted because focus is set to this button

**Expected behavior**
When button is inactive/untoggled it should

[2021-06-30 04:06] Keyikedalube opened #2201 "Remove ShortcutsWindow"
**Synfig version & platform**:
Building from source
Fedora 34

**Issue description**:
@rodolforg implemented keyboard shortcuts editor recently

![Screenshot_2021-06-30_08-55-36](https://user-images.githubusercontent.com/24214509/123899902-b7a73b00-d985-11eb-9ecf-dd84b3a247e0.png)

And we have `Gtk::ShortcutsWindow` too

![Screenshot_2021-06-30_08-55-22](https://user-images.githubusercontent.com/2

[2021-07-01 07:41] AnishGG commented on #1978
So, If I understand this right, we just need to use the non-minified version of the bodymovin script?

[2021-07-01 10:47] onlyjob commented on #1978
I think it's the best. Since you have to ship original/unminified version anyway, for Open Source compliance and best practice, why not just use this very version?
There are times and places where minification might be more useful but frankly I think we have a weak case here.
Thanks!

[2021-07-02 02:27] Keyikedalube opened #2203 "Middle mouse click on exported subcanvas closes the root canvas"
**Describe the bug**
Closing any exported sub-canvases using the middle mouse click closes the root canvas and all its opened sub-canvases

**To Reproduce**
Steps to reproduce the behavior:
1. Create a rectangle layer and group it
2. Export the group to a new sub-canvas
3. Create an ellipse layer and group it
4. Export the group again
5. Open both sub-canvases
5. Close any sub-canvas using middle

[2021-07-02 07:33] ice0 commented on #2201
@Keyikedalube I think we need to look at the reaction of the community. As for me, the keyboard shortcuts window looks more clear (if I just need some help about shortcuts), so I think better to leave it as it is.

[2021-07-02 07:33] #1978 closed

[2021-07-02 23:32] Keyikedalube commented on #2201
Then we'd have to worry about updating the contents of `Gtk::ShortcutsShortcut` when the user edits and saves a new shortcut from the preferences editor... if the community wants to keep the `Gtk::ShortcutsWindow` feature.

[2021-07-03 02:50] yoSachinkr commented on #2201
I'm in the favour of removing the shortcuts window, as the purpose it's supposed to server (like displaying the list of shortcuts used in synfig) can be fairly achieved with the shortcuts section in the Synfig studio preferences.

[2021-07-03 06:04] Keyikedalube opened #2204 "Synfig crashes rendering to png sequences"
**Describe the bug**
Potential memory leak when rendering an animation file to png sequences.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a 10s animation (or use this file [test.sif.zip](https://github.com/synfig/synfig/files/6757899/test.sif.zip))
2. Open task manager program
3. Render file to png sequences
4. Synfig will crash or if it doesn't will consume lots of computer memor

[2021-07-03 12:21] Keyikedalube opened #2205 "Exported png files not synced with file timestamp"
**Describe the bug**
Synfig overwrites old exported png files with new files when rendering png sequences in parts.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch this file [scene-test.sifz.zip](https://github.com/synfig/synfig/files/6758382/scene-test.sifz.zip)
2. Set **End Time** to `29f`
3. Render to png (that's scene 1)
4. Set **Start Time** to `1s` and **End Time** to `2s`
5. Re

[2021-07-03 12:32] Keyikedalube commented on #2204
I just noticed Autotools writes to disk one-by-one while CMake writes to disk only after the whole specified file duration is rendered.

_Didn't look at the code, only observed it from the file manager program so the above statement of mine might be technically incorrect or limiting._

[2021-07-03 15:48] rodolforg commented on #2203
According to this code that creates the Close button, we should change the callback function when user click with middle-button.

https://github.com/synfig/synfig/blob/2c2062c5d11551394126a995b7107d0c85c3cc1b/synfig-studio/src/gui/canvasview.cpp#L1987-L1998

[2021-07-03 16:43] rodolforg commented on #2201
I like the shortcut window XD

[2021-07-03 16:44] rodolforg commented on #2198
Those changes should be done via synfigapp actions not directly.

[2021-07-05 17:47] rodolforg commented on #1978
Only for clarification, more important than the line number is the number of bytes. :)
Anyway, issue solved :D

[2021-07-06 11:31] rodolforg commented on #2169
@b-aaz Could you tell me what Rhubarb file extensions are?

[2021-07-06 14:59] Keyikedalube commented on #2186
So this is actually a third-party theme issue... not Synfig.

https://matrix.to/#/!aUhETchlgthwWVQzhi:matrix.org/$16255827622499Ythga:matrix.org?via=gnome.org&via=matrix.org&via=haecker.io
![Screenshot_2021-07-06_20-18-08](https://user-images.githubusercontent.com/24214509/124620784-5e646d80-de97-11eb-8fa3-b23e1b1f598d.png)

Close this issue?

[2021-07-06 19:02] b-aaz commented on #2169
Sorry if I am late but xml tsv json and dat
They have examples at their github page https://github.com/DanielSWolf/rhubarb-lip-sync

[2021-07-07 00:43] ice0 commented on #2186
I thought it was our custom widget, but this is standard cell renderer. So yes, I think we can close this issue now.

[2021-07-07 01:06] #2186 closed

[2021-07-07 03:33] Keyikedalube opened #2208 "Colored action buttons for `Gtk::FileChooserDialog`"
**Is your feature request related to a problem? Please describe.**
Synfig file chooser dialog utilizes header bar while some dialogs utilize standard `Gtk::Dialog` with the title bar. It'll be more useful if action buttons placed in the header bar are colored like normal GTK/GNOME apps to visually guide/assist the user.

**Describe the solution you'd like**
GTK provides CSS classes `suggested-acti

[2021-07-07 15:56] rodolforg commented on #2198
Sorry I was too lazy to edit video or record it again.
But here I show how to fix it (I use QtCreator as IDE, although I don't like Qt :P )

The Gtk::Inspector was useless in this case…

https://youtu.be/H8rR6_qzRH4

[2021-07-07 15:57] rodolforg commented on #2197
Sorry I was too lazy to edit video or record it again.
But here I show how to fix it (I use QtCreator as IDE, although I don't like Qt :P )

The Gtk::Inspector was useless in this case…

https://youtu.be/H8rR6_qzRH4

[2021-07-07 16:02] rodolforg commented on #2198
synfigapp is a middleware between GUI and synfig library.

It is responsible for undo-redo actions, generate/propagate signal for several synfig changes (layer adding, deleting, metadata renaming/changes, etc.).
So every action GUI performs should actually use synfigapp::Action or synfig::CanvasInterface ;)

[2021-07-08 01:00] Keyikedalube commented on #2197
I thought `synfig::RendDesc` should emit signal changed when one of their properties have been modified or set so we don't have to explicitly call `refresh_rend_desc()` or `canvas_properties.refresh()` inside `on_set_end_time_widget_changed()` but I wasn't giving much thought to solving this.

@rodolforg Why didn't you submit the PR instead LOL
You could've tagged us to this comment https://github

[2021-07-08 01:37] rodolforg commented on #2197
Synfig library is not for interactivity, for performance reasons on rendering.
For that, there is synfigapp layer.

I don't know if these command calls are needed. They should be connected to synfigapp signals. I guess it is currently needed because the choice of a single global instance for those dialogs.

I was at my lunch time lol
Besides, I wanted to record a way to investigate synfigstudio co

[2021-07-08 01:57] Keyikedalube commented on #2197
I'll tag this and the linked issue for newcomers then :)

Interested contributors solution explained in https://github.com/synfig/synfig/issues/2198#issuecomment-875728683 and demonstrated here https://github.com/synfig/synfig/issues/2197#issuecomment-875724454

[2021-07-08 02:02] Keyikedalube commented on #2197
Interested contributors solution explained in https://github.com/synfig/synfig/issues/2198#issuecomment-875728683 and demonstrated here https://github.com/synfig/synfig/issues/2197#issuecomment-875724454

[2021-07-08 02:05] Keyikedalube commented on #2198
Interested contributors solution explained in https://github.com/synfig/synfig/issues/2198#issuecomment-875728683 and demonstrated here https://github.com/synfig/synfig/issues/2197#issuecomment-875724454

[2021-07-08 05:22] Keyikedalube commented on #2203
I'll work on this.

[2021-07-08 14:32] rodolforg commented on #2197
Tested. They are not necessary.

[2021-07-09 03:50] #2169 closed

[2021-07-09 03:52] ice0 opened #2211 "Add the ability to import layer values from a TSV file"
I recall somebody asking for "Animation File" converter to any parameter.
https://forums.synfig.org/t/conversion-to-animation-from-file/11364

The idea is not related to "Import" action, but for the already available converter that Import indirectly uses.
User could write a TSV like:
[code]
Then he could convert the Radius parameter of a Circle layer, for example, to "Animation from File", and the

[2021-07-09 04:20] #935 closed

[2021-07-09 05:24] Keyikedalube commented on #1775
Script needs to be updated for CMake because it's no longer `output/bin/synfig` but `output/CMAKE_BUILD_TYPE/bin/synfig`

[2021-07-09 06:15] #2203 closed

[2021-07-09 13:07] rodolforg opened #2212 "[Windows] Synfig doesn't open file in a file server via double-click"
**Describe the bug**
Originally reported by sam.forsey here: https://forums.synfig.org/t/synfig-crashing-randomly-windows-10/12348/16

When a synfig document is in a network shared filesystem, user can't open a synfig file directly from Windows Explorer, but he can do it from open dialog of Synfig.

**To Reproduce**
Steps to reproduce the behavior:
1. Double-click on file on 'user area'
2. Synfig

[2021-07-10 10:29] FirasH commented on #2197
Sure, the code in the video is correct right?

[2021-07-10 15:51] rodolforg commented on #1570
@ice0 does the issue exist on master branch?

[2021-07-11 19:07] rodolforg commented on #993
It is an AppImage packaging problem. I don't know if it affects Snap and FlatPack too.

[2021-07-12 05:12] goodstuffhappyshare opened #2219 "Incorrect framerate when importing image sequence"
**Synfig version & platform**:
- Synfig 1.4.1
- Windows 10 (64 Bit)

**Issue description**:
When I import an image sequence (marked "FPS 30" in the .lst file), it becomes 15 FPS as viewed inside Synfig as well as in the output video. Here is an example:
[image sequence test.zip](https://github.com/synfig/synfig/files/6798705/image.sequence.test.zip)

**Note**:
This does not happen in Synfig 1.4.0.

[2021-07-12 11:34] rodolforg commented on #1978
Hey @onlyjob -– sorry for contact you here… but did you see this error? https://tracker.debian.org/pkg/synfig
[code]

[2021-07-12 13:47] rodolforg commented on #2219
Developer note:
For some reason, `FileSystemNative::ReadStream` doesn't perform `seekg`.
Any clue, @ice0 ?

[2021-07-12 15:35] morevnaproject commented on #2148
"Add commits from the branch made by @rodolforg" - DONE

[2021-07-12 15:43] rodolforg commented on #2219
@morevnaproject I know how to make a quick fix here. But we should fix the `seekg` behavior later.
Should we fix this regression for 1.4.2?

[2021-07-12 15:58] morevnaproject opened #2221 "Remove "Hindi (India)" translation [hi_IN]"
In Transifex we have "Hindi" [hi] language, but not "Hindi (India)" [hi_IN].

The "Hindi (India)" [hi_IN] translation files in source code are empty.

So I suggest to remove this language to avoid confusions.

[2021-07-12 19:23] rodolforg commented on #2204
It seems to be two different Synfig Studio versions: look at current progress value position: in the top image is overlaying the progress bar; in the bottom one, it's above.

Could you check it?

[2021-07-12 19:34] rodolforg commented on #375
It doesn't crash on 1.4.0

[2021-07-13 02:37] Keyikedalube commented on #2204
_**Autotools (build commit id: f88027b)**_
![Screenshot_2021-07-13_08-03-19](https://user-images.githubusercontent.com/24214509/125381121-fb9c3600-e3b0-11eb-8dbb-ecde8f6c5a12.png)

[2021-07-13 03:21] Keyikedalube opened #2222 "Missing skeleton tool"
**Describe the bug**
Latest stable version doesn't have skeleton tool in toolbox dock and toolbox menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Open SynfigStudio
4. No skeleton tool in toolbox dock and menu

**Expected behavior**
Should have skeleton tool accessible both in dock and menu.

**Screenshots**
![Screenshot_2021-07-13_08-27-52](https://user-images.githubusercontent.com/242

[2021-07-13 03:46] ice0 commented on #2222
I'm not sure if it should be available in the 1.4 branch.
ping @morevnaproject

[2021-07-13 03:55] ice0 commented on #2204
@Keyikedalube can you show your render settings?

[2021-07-13 03:56] ice0 commented on #375
@rodolforg what about master branch?

[2021-07-13 04:39] onlyjob commented on #1978
You can always just email to me, @rodolforg... I think some time ago GitHub changed download URLs and that wrecked new release monitoring/checking in many packages. We will have to update "debian/watch" file unless _uscan_ introduce a generic workaround for GitHub...

[2021-07-13 05:09] morevnaproject commented on #2148
"Add latest translations from Transifex" - DONE

[2021-07-13 05:25] Keyikedalube commented on #345
From https://wiki.synfig.org/Skeleton_Deformation_Layer

_Skeleton Deformation acts like a normal "raster" layer (i.e. Blur, Warp), it is a raster deformation._

Hence the blur effect on your vector star object. Hope that answers your question.

Latest stable release Synfig Studio 1.4.1 doesn't crash opening your saved file - not reproducible anymore

I'm closing this because the crash issue addre

[2021-07-13 05:25] #345 closed

[2021-07-13 06:25] morevnaproject commented on #2148
I have tested current version of 1.4.2 and found following issue - Lottie exporter doesn't produces JSON anymore. It generates HTML file only. Expected behavior: it should generate both files.

[2021-07-13 06:32] morevnaproject commented on #2148
Here are testing packages of 1.4.2 -
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.2-testing-2021.07.13-linux32-1141b.appimage
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.2-testing-2021.07.13-linux64-1141b.appimage
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.2-testing-2021.07.13-win32-1141b.exe
- https://coolbug.org/downloads/morevna/builds

[2021-07-13 06:47] Keyikedalube commented on #2204
@ice0

![Screenshot_2021-07-13_12-15-11](https://user-images.githubusercontent.com/24214509/125404277-146a1300-e3d4-11eb-81b3-06330fe552bc.png)
![Screenshot_2021-07-13_12-15-22](https://user-images.githubusercontent.com/24214509/125404303-1af88a80-e3d4-11eb-9e56-6b077de52093.png)
![Screenshot_2021-07-13_12-15-28](https://user-images.githubusercontent.com/24214509/125404326-20ee6b80-e3d4-11eb-984b-

[2021-07-13 07:03] Keyikedalube commented on #352
This is still a thing with 1.4.1

![Screenshot_2021-07-13_12-11-01](https://user-images.githubusercontent.com/24214509/125405955-ebe31880-e3d5-11eb-91ea-d583c11c2c59.png)

Below is notepad++ with a similar license review statement

![Screenshot_2021-07-13_12-20-34](https://user-images.githubusercontent.com/24214509/125406333-58f6ae00-e3d6-11eb-86e0-aef2f2630eab.png)

[2021-07-13 07:12] Keyikedalube commented on #2148
From #352 cosmetic issue for Windows installer
_Missing license review header statement_

![Screenshot_2021-07-13_12-36-35](https://user-images.githubusercontent.com/24214509/125407279-5779b580-e3d7-11eb-9b18-4211879a1b9b.png)

[2021-07-13 07:26] ice0 commented on #2219
@rodolforg
This is because `ReadStream` should implement `seekpos` method. Without implementation it just returns -1.

http://www.cplusplus.com/reference/streambuf/streambuf/seekpos/

Related PR: https://github.com/synfig/synfig/pull/2224

[2021-07-13 07:29] Keyikedalube commented on #354
Yes, by design Synfig runs only one instance of the program.

[2021-07-13 07:33] ice0 commented on #2204
@Keyikedalube
The `auto` target picks the first suitable renderer. So this can lead to different modules being used (maybe CMake build doesn't create one of them). Can you check it?
For `png` target, you can use `png`, `magick++` or `imagemagick` targets.
I think one of them has this behavior.

[2021-07-13 07:42] Keyikedalube commented on #2204
Used `png` as target, you're right

![Screenshot_2021-07-13_13-08-56](https://user-images.githubusercontent.com/24214509/125411798-e2f54580-e3db-11eb-9cb3-5ff85dcf11be.png)

[2021-07-13 08:18] Keyikedalube commented on #404
The coordinate ruler works as intended

Below is a simple circle layer demonstration

https://user-images.githubusercontent.com/24214509/125414638-c069ad3f-d5bc-418a-b2c6-11a5e12a0b12.mp4

The reason why you have to work around with negative values in the upper right quadrant is because of complex grouping.
For instance, below is an example where I draw a rectangle layer and group it then I move t

[2021-07-13 08:23] Keyikedalube commented on #467
Closing this in favor of #391

[2021-07-13 08:23] #467 closed

[2021-07-13 09:31] rodolforg commented on #2222
This is not Skeleton Tool, but the Skeleton layer. It's available since some few stable versions ago.

Skeleton Tool implementation has a few consistent crashes. Maybe on next stable release 1.4.3…

[2021-07-13 09:36] rodolforg commented on #1978
I did send you an email on April 16 (about other question related to Synfig + Debian), but as you never answered me, I thought you don't use that @debian.org email address.  ;)

👍

[2021-07-13 09:52] #1122 closed

[2021-07-13 10:12] rodolforg commented on #2148
@morevnaproject
I'm so sorry. When I updated lottie-exporter folder, I adapted the changes of lottie-exporter.py to be able to backport it to previous plugin system. I didn't realize json must be generated too. I'll restore this file to previous version, as I now see the .log is missing too (new plugin system just send log contents via stdout).

[2021-07-13 10:22] rodolforg commented on #993
It is still an issue in 1.4.2 testing

[2021-07-13 13:59] Keyikedalube commented on #2222
Yikes! My mistake 😅
Closing this issue because right now this is not relevant for stable releases.

[2021-07-13 13:59] #2222 closed

[2021-07-14 02:13] rodolforg commented on #2196
It's a nice concept.
I don't understand the suggested 'pining' parameter, though.

[2021-07-14 02:49] yoSachinkr commented on #2196
It's basically a way to provide a point where amplitude of the wave is zero.

[2021-07-14 03:48] #2085 closed

[2021-07-14 23:31] rodolforg commented on #2085
Should we backport it to 1.4.2 as stated in milestone or to future 1.4.3?

[2021-07-15 01:17] ice0 commented on #2085
@rodolforg I suggest to move it to 1.4.3.

[2021-07-15 04:21] morevnaproject commented on #2148
@rodolforg Thank you very much for the quick fix! :+1: :tada: ^__^

[2021-07-16 10:09] Keyikedalube commented on #2089
Yeah, that was the culprit.

After the bone is highlighted `ctrl` key didn't need to be held down, if the OP had done that the origin handle would be deselected and bone link would behave normally.

Below is a sample video reproduced on Fedora Linux

https://user-images.githubusercontent.com/24214509/125930404-2c2ac520-ee3e-4d78-9ea3-babbd61a51be.mp4

[2021-07-16 10:53] DhairyaBahl commented on #2123
@ice0 @rodolforg This is just a gentle reminder from my side for my first gsoc evaluation . I already submitted evaluation for my mentors 2 days ago. Kindly tell me if it is done from your side. I am just asking/reminding because today is the last date of first evaluation and I haven't received any mail regarding my evaluation, so I am a bit afraid !

Sorry for inconvenience ! Thanks :)

[2021-07-16 12:19] ice0 commented on #2123
@DhairyaBahl
Hi! I submitted evaluation today. So I think you just need to wait a bit.

[2021-07-16 12:26] Keyikedalube commented on #1896
Is this a Windows only issue?

[2021-07-16 12:47] Keyikedalube commented on #1869
Snapping to guides feature is already there in master branch.

![Screenshot_2021-07-16_18-10-40](https://user-images.githubusercontent.com/24214509/125949544-c4e18188-8486-41c4-945a-6af83f824ea1.png)

Also, noticed this feature isn't there in v1.4.2 too

[2021-07-16 12:52] yoSachinkr commented on #1869
I know it's there. The thing is when you move the origin of the "transform widget", the origin snaps to the guide, not the "offset"(green dot).

[2021-07-16 12:57] yoSachinkr commented on #1869
The "offset -green dot" snaps when you grab it and move it to the guide. But while readjusting the center with the "origin"(purple dot), if the offset snaps to the guide, it could provide precise placement of the offset center(green dot) about which, other parameters transform.

[2021-07-16 13:44] Keyikedalube commented on #1869
Ok, so you want this behavior:
1. Drag origin handle and snap to guide
2. Instead of origin snapping, transform handle snaps in origin place.

[2021-07-16 13:48] yoSachinkr commented on #1869
Yeah, exactly.

[2021-07-16 13:55] ice0 commented on #1896
I think yes: https://gitlab.gnome.org/GNOME/gtk/-/issues/1477

[2021-07-16 13:59] Keyikedalube commented on #1896
Thanks, labeled "Windows" for better discoverability.

[2021-07-16 14:03] Keyikedalube commented on #1736
Closed this in favor of the linked issue above

[2021-07-16 14:03] #1736 closed

[2021-07-16 14:03] Keyikedalube commented on #1736
Closed this in favor of the linked issue above

[2021-07-16 14:34] Keyikedalube commented on #1509
https://github.com/synfig/synfig/pull/2128

Time to close this?

[2021-07-16 15:25] yoSachinkr commented on #1869
![Screenshot 2021-07-16 205200](https://user-images.githubusercontent.com/50204208/125971241-bac28c56-ac3c-43f1-bb6b-50eaeaed95ce.png)
To put it more clearly, only the transform handles should snap when the origin handle is active or while moving the origin handle.

[2021-07-16 15:32] yoSachinkr commented on #1869
![Animation](https://user-images.githubusercontent.com/50204208/125972353-e4114fe2-37f3-485a-a953-ef4094bbd8ab.gif)
this is the current behavior as of now.

[2021-07-16 15:47] Keyikedalube commented on #2221
Can "Hindi" be moved to "Hindi (India)"? Because on my system app and system language settings displays "Hindi (India)" instead of just "Hindi".

[2021-07-17 01:20] Keyikedalube commented on #1472
Crashed on Fedora 34

On Fedora Linux it's `libdv-tools`

[2021-07-17 01:54] Keyikedalube commented on #1364
Can't reproduce on Fedora Linux over here

https://user-images.githubusercontent.com/24214509/126021855-43f49e0c-0d48-46bc-91b3-52f7103772c1.mp4

[2021-07-17 02:10] Keyikedalube commented on #1302
Closed in favor of the linked issue above.

[2021-07-17 02:10] #1302 closed

[2021-07-17 05:04] Keyikedalube commented on #1362
Grouping layers isolate them from the rest so changing z-depth only affects those layers inside the group.

Your second screenshot is the correct way even though character parts are no longer organized in groups.

[2021-07-17 05:14] AnishGG commented on #1217
Linking the PR here: https://github.com/synfig/synfig/pull/1647

[2021-07-17 05:15] #1217 closed

[2021-07-17 05:22] Keyikedalube commented on #1261
From @ice0

and @morevnaproject

[2021-07-17 07:27] Keyikedalube commented on #391
https://stackoverflow.com/questions/52725299/what-is-the-difference-between-googles-breakpad-and-crashpad-libraries

**in-process** vs **out-of-process** crash reporting system. Which would be much better?

[2021-07-17 14:32] yoSachinkr opened #2231 "Panel doesn't go further down."
synfig v1.4.2 windows 10 21h1

There are few panels I want to move a bit to the bottom, but it seems like they're locked to a particular minimum size which was not the case in older version of synfig.
Please lower the minimum size of the those panels.

https://user-images.githubusercontent.com/50204208/126040293-93e7fa2e-2894-4e49-8fd9-bc93747a805e.mp4

[2021-07-17 16:33] rodolforg commented on #2231
Hm… I guess it was my fault with Sound Panel. Could you check by closing it please?

[2021-07-17 16:40] yoSachinkr commented on #2231
Yeah, it was because of the sound panel. I just checked it.

[2021-07-17 19:46] rodolforg commented on #391
@Keyikedalube  anyone that works and will keep doing its job! lol

[2021-07-19 01:45] Keyikedalube commented on #391
I started experimenting with breakpad recently... found out most platforms are migrating/have migrated to crashpad and since I'm not an expert in OS process scheduling stuff I wanted to know which would be better.

Anyway, I think breakpad would work just fine for Synfig. BTW, we're only interested in catching crashes from the front-end (Studio not the core Synfig), right?

[2021-07-19 02:00] rodolforg commented on #391
Some (most) crashes are due to currently implementation GUI that doesn't handle well multi thread stuff or exceptions thrown by the libsynfig. Is there any difference anyway?

Cool!

Hm… I wonder if there are others that support MacOS, Windows and Linux and Open Source.

[2021-07-19 02:02] Keyikedalube commented on #391
No idea, that's why I'm asking.

[2021-07-19 02:17] Keyikedalube commented on #813
The purpose of menu items is to activate/enable an action/a widget.
For panels, we already have right-click > close button.
For an undocked panel the user can easily access its title bar to close it, however, I find it strange why there are no maximize and close buttons on your undocked panel screenshot.

[2021-07-19 03:02] ice0 commented on #391
You can read a detailed description of In-process/Out-of-process handlers here:
https://github.com/ivanarh/ndcrash

[2021-07-19 03:10] rodolforg commented on #391
If you referred to synfig CLI, we don't need a crash report there.

[2021-07-19 03:21] Keyikedalube commented on #391
Initially, that's what I was referring to...

Reading that I realized Synfig core has two parts: the library itself and the command-line tool. Right now google-breakpad is too new to me. I need to experiment more with examples preferably faulty data structures/algorithms with basic layered architecture design (that's what Synfig is based on, right?) to study how the crash reporting library works.

[2021-07-19 03:31] rodolforg commented on #813
It is an old issue, so at that time maybe Synfig used another window type for floating windows.
I remember GTK and other toolkit used to provide auxiliar window that didn't even show in task bar etc

[2021-07-19 03:47] Keyikedalube commented on #391
The details mentioned are too complicated for my noobish brain to comprehend XD

The major points highlighted for breakpad limitations:
- no signal safety
- broken debug information
- and in serious case breakpad may fail to generate crash report

Since, this is a learning opportunity for me I can experiment with both crashpad and breakpad libraries then see how it turns out.
Though we should try

[2021-07-19 05:58] ice0 commented on #1261
I think this problem can have it roots in current rendering algorithm.
Some layers (all of them?) are resampled to get antialiased edges. I've tested this behavior with the `Solid color` layer, which definitely shouldn't do this, because it doesn't have edges (it fills the whole area).
Also this unnecessary resampling leads to problems with performance and blurred text layer rendering.

[2021-07-19 09:35] morevnaproject commented on #2148
I have made rebuild of binary packages:

* https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.2-testing-2021.07.16-linux32-4f71e.appimage
* https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.2-testing-2021.07.16-linux64-4f71e.appimage
* https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.2-testing-2021.07.16-win32-4f71e.exe
* https://coolbug.org/downloads/morevna/bu

[2021-07-19 11:38] #352 closed

[2021-07-19 11:41] morevnaproject commented on #2148
Fixed via https://github.com/morevnaproject/morevna-builds/pull/29 ^__^

Done via https://github.com/synfig/synfig/pull/2235

[2021-07-19 14:48] rodolforg commented on #1261
I already changed Text layer to have a vector rendering here in my PC, but I'm fixing other stuff on this layer first.
Besides performance gain and visual 'precision', I hope this new way we can even have a proper bounding box to be able to click on it to select it :P

[2021-07-20 00:23] ice0 commented on #1509
Sure.

[2021-07-20 00:23] #1509 closed

[2021-07-26 02:32] rodolforg commented on #1692
@ice0  as for 0.19.7 version (2015-12-28), it already has native support for ITS rules: https://lists.gnu.org/archive/html/info-gnu/2015-12/msg00013.html

The [Gnome Wiki page](https://wiki.gnome.org/MigratingFromIntltoolToGettext) we both mentioned says:

And its last edition was:

So I believe we could move forward soon.
Debian Jessie wouldn't support it though https://packages.debian.org/pt-br/

[2021-07-26 02:50] #858 closed

[2021-07-26 03:24] morevnaproject commented on #2148
I think it would be nice to notify [LottieFiles](https://lottiefiles.com/) about Synfig's capabilities to export Lottie. They can feature our project as alternative to AE -
![screenshot_002](https://user-images.githubusercontent.com/332868/126928887-ae7da133-e3c8-46a0-a9e3-8441ce42b07f.png)

Added this as TODO item after release (see first message of the PR).

[2021-07-26 04:12] #2197 closed

[2021-07-26 04:12] #2198 closed

[2021-07-26 05:46] #2211 closed

[2021-07-26 06:00] rodolforg commented on #2161
Codec VP9 + webm container is able to do it.
https://trac.ffmpeg.org/wiki/Encode/VP9

[2021-07-28 15:06] morevnaproject commented on #2148
"Write release notes" - DONE

[2021-07-28 15:09] morevnaproject commented on #2148
"Add release commit and tag: `./version-release.sh` - https://github.com/synfig/synfig/pull/2245" - DONE

[2021-07-29 04:01] morevnaproject commented on #2148
"Build source tarballs" - DONE
"Build binary packages" - DONE

[2021-07-29 06:11] morevnaproject commented on #2148
"Publish announcement on website" - DONE

https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

Yay! :tada: ^___^

[2021-07-29 14:42] morevnaproject commented on #2219
Lets' do this for 1.4.3 ^__^

[2021-07-29 15:07] morevnaproject opened #2247 "Release version 1.6.0"
Okay, starting preparations for ~~1.4.3~~ 1.6.0!

Instructions here - https://synfig-docs-dev.readthedocs.io/en/latest/common/release.html
- [x] Set "stable-divorced" branch to the point where we separated new stable branch from master - https://github.com/synfig/synfig/pull/2279
- [x] Create new branch - "v1.6.x" in https://github.com/synfig/synfig/ repo at the point where "stable-divorced" is se

[2021-07-30 06:38] morevnaproject commented on #352
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:40] morevnaproject commented on #1340
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:40] morevnaproject commented on #1849
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:43] yoSachinkr opened #2248 "Feature request: Multi select drag and drop in layers panel"
synfig v1.4.2 windows 64 bit 21h1
It would be nice to have support of drag and drop feature for multiple selected layers in the layers panel.

Current behaviour is as shown below.
![Animation](https://user-images.githubusercontent.com/50204208/127612009-d38aca59-2e18-4e8f-9bf7-7c58187890cf.gif)

[2021-07-30 06:45] morevnaproject commented on #1349
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:46] morevnaproject commented on #311
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:48] morevnaproject commented on #2087
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:50] morevnaproject commented on #2035
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:51] morevnaproject commented on #2110
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:52] morevnaproject commented on #1731
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:52] morevnaproject commented on #1768
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:52] morevnaproject commented on #1005
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:53] morevnaproject commented on #1794
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:53] morevnaproject commented on #2026
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:53] morevnaproject commented on #422
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:54] morevnaproject commented on #1174
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:54] morevnaproject commented on #935
The fix is shipped in Synfig Studio version 1.4.2 - https://www.synfig.org/2021/07/29/synfig-studio-1-4-2-released/

[2021-07-30 06:58] morevnaproject commented on #2148
"Notify guys at LottieFiles about Synfig's capabilities to export Lottie (as alternative to AE" - DONE - I have posted a quick email for LottieFiles.

Also, they have a [Discord community](https://discord.com/invite/6K3fm7yE9v) - maybe someone who uses Discord regularly will want to introduce Synfig there too? ^__^

[2021-07-30 06:58] morevnaproject commented on #2148
All tasks are done now! Now proceeding to release of 1.4.3! ^__^ - https://github.com/synfig/synfig/issues/2247

[2021-07-30 06:58] #2148 closed

[2021-07-31 05:20] rodolforg opened #2250 "Crash when editing nested valuenode_switch'es"
**Describe the bug**
"Try adding a waypoint in the Circle Layer on this file [joystick-demo-crash.zip](https://github.com/synfig/synfig/files/6910716/joystick-demo-crash.zip) and Synfig will crash, even though we are just adding a waypoint for the controller’s exported value, it just crashes."
Reported-by @veermetri05 in https://forums.synfig.org/t/joysticks-in-synfig-controller-plugin/12317/19?u=

[2021-07-31 11:37] dominik301 opened #2251 "File saving in macOS 11.5 not working correctly"
**Describe the bug**
If I try to save my work in Synfig 1.4.1 or 1.4.2 on macOS 11.5, in the file browser the item that is selected if I click on something is below the cursor. Cursor / selection is shifted. Same holds for buttons. In addition the save and cancel buttons are not shown at all. Similarly other windows that are opened in a new tab such as render settings show the same error.

**To Re

[2021-07-31 12:28] rodolforg commented on #2251
I'm not a MacOS user, so sorry for my question: Is it normal to open a new tab to save a file instead of a new windows/dialog?

[2021-07-31 12:34] dominik301 commented on #2251
It is not normal in general, but this is the behaviour in Synfig. I wanted to change that but couldn't find a related setting.

[2021-07-31 12:39] rodolforg commented on #2251
Where did you download Synfig from?

[2021-07-31 12:41] dominik301 commented on #2251
I downloaded it on fosshub: https://www.fosshub.com/Synfig.html

[2021-07-31 13:24] yoSachinkr opened #2253 "Feature request: Snapping of rotation handles in synfig (including tangent handles) should be about fixed angles"
Right now when you hold "shift" in the keyboard and try to rotate any rotation handle or a tangent handle about a vertex, it tires to snap along the x or y axis. But the expected behaviour for snapping of any rotation handle should be along fixed angles with some fixed stepping.

The current behaviour is as follows:
![Animation](https://user-images.githubusercontent.com/50204208/127741259-59af114a

[2021-07-31 15:59] define-private-public commented on #1717
If I wanted to implement this myself, where in the code should I go looking?

[2021-07-31 15:59] define-private-public commented on #1708
If I wanted to implement this myself, where in the code should I go looking?

[2021-07-31 20:27] rodolforg commented on #1708
I'll make a long answer here…

For Parameter Panel, we use:
- the `ParamTree` class, a derived class of `Gtk::TreeView` widget : `synfig-studio/src/gui/trees/paramtree.h` (.cpp);
- the `LayerParamTreeStore` class, a derived class of `Gtk::TreeModel` data model : `synfig-studio/src/gui/trees/layerparamtreestore.h` (.cpp);

But what really show the cell data in a `TreeView` are `Gtk::CellRenderer` c

[2021-08-01 05:41] yoSachinkr commented on #2253
This is how it works in inkscape.
Without angle snapping:
![Animation1](https://user-images.githubusercontent.com/50204208/127760472-3fe161bf-7d40-481f-997f-89bcf347103b.gif)
With angle snapping (by holding ctrl in inkscape)
![Animation2](https://user-images.githubusercontent.com/50204208/127760495-4038870f-b17d-4150-9fa5-e64393ea2924.gif)

[2021-08-01 06:16] ice0 commented on #2251
This is MacOS setting (not Synfig) and it can be changed:
[code]
https://support.apple.com/guide/mac-help/use-tabs-in-windows-mchla4695cce/mac

[2021-08-01 06:37] ice0 commented on #2251
Perhaps we should use the `GtkFileChooserNative` for that. (https://developer.gnome.org/gtk3/stable/gtk3-GtkFileChooserNative.html)

[2021-08-01 15:26] yoSachinkr commented on #2205
windows version works fine.

[2021-08-01 16:55] rodolforg commented on #2253
@yoSachinkr What should be the behavior if user select multiple tangents and then drag them?
I don't know why one would do it, but it's possible ;)

[2021-08-01 16:57] rodolforg commented on #1494
In Synfig Studio layout, where would be the filter button for Parameter Panel?

[2021-08-01 17:14] yoSachinkr commented on #2253
@rodolforg Now that's a good question, you know.

[2021-08-01 18:45] FadhilKwan opened #2254 "Issues With Naming/Renaming Layers if The 'Layers' Panel is Separated from Main Window"
**Describe the bug**
When naming a layer from separated 'Layers' panel, instead of typing the letters in, Synfig will respond to shortcut keys if certain letter keys are pressed. I can select the names, but typing any of those letters just selects tools, or any other actions depend on which ones that they're assigned to.

**To Reproduce**
1. Drag the Layers panel out of the main window. The easies

[2021-08-01 20:16] rodolforg commented on #2254
The issue happens on AppImage too. It doesn't happen on master branch.

[2021-08-01 20:17] rodolforg commented on #2254
You can now right-click and select "Undock" too ;) But I prefer drag it out :D

[2021-08-01 20:33] define-private-public commented on #1708
Started working on a PR.  Right now I changed the precision to just 1 decimal.  It's only showing in that one panel, there are still a few other areas in the software that should have adjusting.  Here's how it looks at the moment:

![Screenshot_2021-08-01_16-30-00](https://user-images.githubusercontent.com/4551425/127784523-9e97d7e3-a0e7-41b0-af40-3d893bf6ae0a.png)

If you click to edit a value yo

[2021-08-01 20:46] define-private-public commented on #1708
Question: in the "Layers" can "z-Depth" ever be a floating point?  I don't see how I can edit that z-depth, and I think I've only see integer values there.  But they are currently displayed as floats.

[2021-08-02 05:27] ice0 commented on #1708
Why should "Opacity" be more precise?

The problem with floats, in they "floating" precision. For example, a 5 in a floating point number might be "4.999998", so I don't know how truncating trailing zeros might help here. Anyway, you can try it - it will probably help in most cases.

The problem here is that "z-Depth" is stored as a real (float) number. So we can't just make it `int` without break

[2021-08-02 05:47] ice0 commented on #2253
2 possible solutions:
1. Do transformation only on last selected handle.
2. Add the same angle to all tangents as for the last selected handle.

[2021-08-02 05:50] ice0 commented on #1494
@rodolforg

Here's how it's done in the After Effects:

![Screenshot_2](https://user-images.githubusercontent.com/5604544/127810507-ed151465-9e75-4eaa-8ab6-61f645cf7826.png)

[2021-08-02 05:56] rodolforg commented on #1494
Hm... that would affect our timetrack vertical sync. :/

[2021-08-02 08:08] rodolforg commented on #2254
This is the fix, I suppose: #1827

[2021-08-03 04:09] define-private-public commented on #1708
I figured that people might do opacity values of around two decimals (e.g. 75%).

I'm wondering, is there already a function in the code base that can check if a float/real-number is actually an integer?  It might be nice to instead have any values such as "1.0" be shown as "1", but that should only be the case if there is no decimal component.

[2021-08-03 04:42] ice0 commented on #1708
Ok, got it.

I thought that `remove_trailing_zeroes("1.0", force_decimal_point = false)` does the job. Have you checked it?

[2021-08-03 05:05] ice0 commented on #1494
This issue can be solved if we find a way to add text widget to tab panel.
Proposed layout:

![proposed](https://user-images.githubusercontent.com/5604544/127960619-bbffd5f0-5d17-478d-bdd0-fb161a77b1e7.png)

[2021-08-03 05:15] ice0 commented on #1717
I think you need to check `Action::LayerEncapsulate`

[2021-08-03 06:25] Keyikedalube commented on #1175
After musing a bit about this I feel the current UI is already good enough.
Also, found out single window mode was one of the big UI improvement made in [v1.0](https://www.synfig.org/1.0/overview/).

I understand there would definitely be backlash from users not familiar with GTK header bar feature. And most importantly some user wants native UI features over GTK ones. This issue's suggestion is c

[2021-08-03 06:25] #1175 closed

[2021-08-03 16:36] veermetri05 commented on #2250
Using Switch on integer or real values in Synfig doesn't crash
It crashes when using a list, string

[demoFix.zip](https://github.com/synfig/synfig/files/6925696/demoFix.zip)
Here is the same example for previous, but rather than using the String-based Active Layer Name it uses the Active Layer Depth parameter which is an integer.

When using String the crash occurs with some level of nesting of s

[2021-08-03 23:36] define-private-public commented on #1708
No, it wasn't doing that.

Inside of the `CellRenderer_ValueBase::render_vfunc()`, how can I check for the property's name.  E.g.  I'd like to have use two decimals of precision if the property the value is representing is `Opacity`.

[2021-08-04 04:58] rodolforg commented on #2253
Hm… What about if we do it only one is currently selected? I support with `Ctrl`/`Command` key

[2021-08-04 05:06] yoSachinkr commented on #2253
Will it work with every rotation handle? Like - rotation layer, group rotation handle, bone rotation handle, etc

[2021-08-04 12:43] yoSachinkr opened #2257 "Bone deformation causes weird artifacts"
synfig v1.4.2 windows 10 64bit 21h1
Bone deformation causes weird artifacts while dragging the bones around. At times the image which is attached to the bones beneath the other image, even thought the bone attached image is above the other image in the layers panel.
This is how it looks.
![Animation](https://user-images.githubusercontent.com/50204208/128182676-854bf8c8-2a71-42cf-8181-bd1f517348b9.

[2021-08-04 15:08] morevnaproject commented on #2257
Can you attach sample file, please? ^__^

[2021-08-04 15:16] morevnaproject commented on #1708
Please check “z-depth” parameter in Params Panel - it allows to define “shift of Z-depth” for current layer.
https://wiki.synfig.org/Z_Depth_Parameter

[2021-08-04 15:17] morevnaproject commented on #1708
It is made a floating point number type to allow smooth animation ^__^

[2021-08-04 15:20] yoSachinkr commented on #2257
Of course! 🙂
[ani.zip](https://github.com/synfig/synfig/files/6932334/ani.zip)

[2021-08-04 15:34] morevnaproject commented on #2254
Will use it for 1.4.3, thank you! ^__^

[2021-08-05 02:32] Keyikedalube commented on #2257
As a workaround tweaking bone handle Z-Depth values could help.
I tried setting your main face bone Z-Depth to 1 and I get this output

![Screenshot_2021-08-05_07-56-48](https://user-images.githubusercontent.com/24214509/128281225-cb65c827-5fa6-4c94-be07-177240241412.png)

[2021-08-05 11:23] dominik301 commented on #2251
Thank you, that workaround works for me

[2021-08-05 11:37] pojienie opened #2258 "compilation error on fresh installed Arch Linux"
when running 2-build-debug.sh, I encountered an error:
[code]

After resolving the above issue, I also encountered the following error:
[code]
**To Reproduce**
right after setting up Arch Linux
git clone https://github.com/synfig/synfig
cd synfig
./1-setup-linux-native.sh
./2-build-debug.sh

**Expected behavior**
build to completion without error.

**System information:**
 - OS: Arch Linux
 - Comm

[2021-08-05 14:20] rodolforg commented on #2258
Currently we use C++11 for synfig cuilding. This is already a (deprecation) warning on C++11.
We should  fix it…

For now, try to remove ` throw (SynfigToolException&)`...

[2021-08-05 17:25] define-private-public commented on #1708
So is the `Z-Depth` parameter in the layer panel, I can understand it being a floating point for animation purposes (under the hood).  But if it's always going to be shown to the user as an integer, can we just make it as such?

---

AFAICT, it doesn't seem like there is function `is_float_an_integer(float x)` in the code base yet.  I'd like to add one.  Into which file should I put this, and wher

[2021-08-06 01:28] pojienie commented on #2258
Yes, removing them works for me! Thank you :)

I studied further and found out that the `throw (SynfigToolException)` in the function declaration basically tells the programmer that this function might throw the specified exception so removing them doesn't seem to matter at all. It was deprecated in favor of `noexcept(true)` judging from what I read [here](http://www.open-std.org/jtc1/sc22/wg21/do

[2021-08-07 08:28] newbluemoon opened #2259 "[Void Linux] synfig-studio 1.4.2: test suite failure"
Hi,

I’m trying to update synfig-studio to 1.4.2 for Void Linux and ran into the follwing test suite failure:

**Describe the bug**
Test suite fails on x86_64 with musl libc.
It succeeds, however, on i686 with both musl and glibc and on x86_64 glibc.

**To Reproduce**
Steps to reproduce the behavior:
Run `make check` after compiling synfig-studio

**Expected behavior**
The tests should pass as the

[2021-08-07 14:55] yoSachinkr commented on #2103
It can be achieved by creating a "dissolve" blend mode in synfig.

[2021-08-07 14:59] yoSachinkr commented on #2103
May be this is the formula to create the dissolve blend mode. I've found this on a site:
![image](https://user-images.githubusercontent.com/50204208/128604420-43bab798-0298-42e7-bf1f-daf41bcf89a9.png)

[2021-08-07 15:31] yoSachinkr commented on #2103
![image](https://user-images.githubusercontent.com/50204208/128605400-f4185450-fb7f-4af5-a5ca-2a980a06599b.png)

[2021-08-07 15:55] yoSachinkr commented on #2103
http://www.yaldex.com/open-gl/ch19lev1sec6.html#:~:text=base%20%2B%20blend)%20*%200.5%3B-,19.6.3.%20Dissolve,-In%20the%20DISSOLVE

[2021-08-07 16:05] yoSachinkr commented on #2103
https://github.com/opentoonz/opentoonz/blob/cfbc8be0c70c45d5ad88eb6cf0646bd9ec450fb1/toonz/sources/stdfx/dissolvefx.cpp

[2021-08-08 09:33] ice0 commented on #2251
I found that GIMP directly disables this feature on MacOS (so we have to do the same):
[code]

[2021-08-08 09:50] ice0 commented on #2259
@newbluemoon

I will take a look.

[2021-08-08 19:52] newbluemoon commented on #2259
Thank you @ice0 ! :)

I didn’t notice Synfig Studio filters out gcc’s `-g` option. So here’s another backtrace which is hopefully a bit better readable.

[code]

[2021-08-09 02:47] Keyikedalube commented on #769
Still reproducible in master branch

[2021-08-09 02:52] #752 closed

[2021-08-09 06:42] Keyikedalube commented on #685
One can find the source file for this plugin in `synfig-studio/plugins/` directory.

[2021-08-09 06:56] Keyikedalube commented on #668
Synfig champions in layers concept. This is annoying for Inkscape users (me included) but the layer way to achieve your requested behavior is:
[code]

Another alternative is to draw on Inkscape, convert all shapes to path, and save your file to *.sif format.
I do it that way; draw on Inkscape animate on Synfig :)

[2021-08-09 07:00] #667 closed

[2021-08-09 07:04] Keyikedalube commented on #654
@rodolforg Is this fixed?

[2021-08-09 07:11] #659 closed

[2021-08-09 07:15] Keyikedalube commented on #644
`Ctrl + Shift + A`?

[2021-08-09 07:30] Keyikedalube commented on #638
That'll break UI consistency. I like the current dialog.

Using colon is not really necessary but GNOME HIG provides a very good practical guideline on how UI can look better to end-users
https://developer-old.gnome.org/hig/stable/visual-layout.html.en

[2021-08-09 07:42] Keyikedalube commented on #981
@hellocatfood This is fixed in v1.4.0 :)

[2021-08-09 07:42] #981 closed

[2021-08-09 07:44] Keyikedalube commented on #628
@RichardJECooke This is fixed in v1.4.0 :)

Interesting...

[2021-08-09 11:55] rodolforg commented on #654
This issue is older than my implementation.
However, my work is not available in any official release yet.

[2021-08-09 11:59] rodolforg commented on #638
Anyway, "quality" parameter is for old renderer.
When we have all layers ported to Cobra, we can remove it.

[2021-08-09 12:08] Keyikedalube commented on #632
Since you didn't provide the file I can't exactly make out what caused that behavior.

However, this is easily reproducible (because I've encountered this too) if the user tweaks the group layer transformation to -ve values.
Maybe you duplicated the right arm to produce the left arm, applied -ve value to x scale property to mirror the right arm, and then linked the left arm to the bone.

Below is

[2021-08-09 12:17] Keyikedalube commented on #246
Is this feature wanted/needed for the old timetrack?

[2021-08-10 03:24] Keyikedalube commented on #1847
Posting that on StackOverflow might help too. GTKMM users are scattered all over the web. We should try to reach out to them.

[2021-08-10 03:43] ice0 commented on #1847
@Keyikedalube
I have already found a solution, the problem is lack of time to prepare a minimal test for the GTK team.

The problem is in the toolbar on the bottom right panel.
When the delete button is hidden on toolbar (you can hide it resizing the panel), pressing the "Del" key causes a different action, not the same when this button is visible.

[2021-08-10 14:09] Khemardi opened #2260 "Radial Composite Converter Sub parameter naming issue"
**Describe the bug**
When the 'color' property is converted to a 'Radial Composite', there is two 'Saturation' options. The last one is supposed to be 'Alpha'

**To Reproduce**
Steps to reproduce the behavior:
1. Add an object to the scene, example a circle
2. In it's properties right click the 'Color' and convert it to a 'Radial Composite'
3. Open up the sub-properties to see naming issue.

**Exp

[2021-08-10 14:22] Keyikedalube commented on #2260
Couldn't reproduce on master branch. Must have been fixed by someone else...
![Screenshot_2021-08-10_19-50-52](https://user-images.githubusercontent.com/24214509/128884035-3d258780-aedd-443c-9e0c-44c307613c13.png)

[2021-08-10 14:30] Keyikedalube commented on #594
This is new to my eyes. So was this the reason rectangle layer not having its own origin handle now?

[2021-08-10 14:39] Khemardi commented on #2260
Yea it seems some did. I just redownloaded and reinstalled and it's ok now

[2021-08-10 15:08] morevnaproject commented on #2247
I have started managing commits for new release and realized that we have a significant changes in this version (like rewritten TimeTrack Panel, Improved system of plugins). So it is logical to identify next version number as 1.6.0. :tada:

Current commits are here - https://github.com/morevnaproject/synfig/tree/v1.6.x

I have started branch from particular point of master branch (commit id 27c7b9

[2021-08-10 15:13] Keyikedalube commented on #2260
@Khemardi You reported against v1.4.2. I only checked if this issue was reproducible for Synfig built from source ie., latest development changes made in this repository. Issue wasn't reproducible. This gives more reliable info to contributors and maintainers.

I just tested it on Linux AppImage and yikes your reported issue exists in the latest stable release.

Thanks for reporting :)
We need to

[2021-08-10 17:27] b-aaz opened #2262 "error buliding master on arch linux"
**Synfig version & platform**:
synfig github master
os : arch linux

**Issue description**:
hey so iam very happy that you added the rhubarb support and wanted to try it but it wasn't in appimage dev version so i tried makeing it from source but there is this error

[code]
thanks!

[2021-08-10 22:08] rodolforg commented on #2260
#1381

[2021-08-11 00:07] morevnaproject commented on #2247
@rodolforg I think so too! Working on that now. ^__^

[2021-08-11 00:09] morevnaproject commented on #2247
Just a note: 1.6.0 will not include all commits form current master branch. It will include only part of them - the ones up to commit 27c7b95. My plan is to gradually roll changes from master into stable branch, that will be a sequence of stable releases. This will allow users to gradually test new features and they can rollback to earlier versions in worst cases. ^__^

[2021-08-11 00:17] morevnaproject commented on #2260
I have tested this on [proposed version 1.6.0](https://github.com/synfig/synfig/pull/2263) and this issue is already fixed there.

In any case, thank you for reporting! ^__^

[2021-08-11 00:17] #2260 closed

[2021-08-11 01:01] Keyikedalube commented on #2262
Same bug reported by another Arch user over here 👉🏽  #2258

Closing this. Please continue the discussion there and thanks for reporting :)

[2021-08-11 01:01] #2262 closed

[2021-08-11 01:03] morevnaproject commented on #2247
- "Add commits from master branch" - DONE (https://github.com/synfig/synfig/pull/2263)
- "Push Translations to Transifex" - DONE

[2021-08-11 04:00] ice0 commented on #1975
Unfortunately, I can only test this on Windows for now.

[2021-08-11 09:35] Keyikedalube commented on #575
Closing this in favor of #246

[2021-08-11 09:35] #575 closed

[2021-08-11 09:43] Keyikedalube commented on #593
Can't reproduce in latest stable release v1.4.2

[2021-08-11 09:59] Keyikedalube commented on #586
#391

[2021-08-11 10:01] Keyikedalube commented on #585
Closing this in favor of #391

[2021-08-11 10:01] #585 closed

[2021-08-11 10:23] Keyikedalube commented on #574
@ice0 This issue title needs to be updated to reflect the OP's new UI suggestion.

[2021-08-12 09:14] Keyikedalube commented on #566
Same here (freed memory) on Fedora 34.

![Screenshot_2021-08-12_14-41-35](https://user-images.githubusercontent.com/24214509/129170970-0b357c0f-1a5f-4dbc-af9c-929e74875705.png)

Maybe some operation has to be performed to reproduce this issue? Like editing some of the layers, playing around with animate mode on and off, etc

[2021-08-12 09:24] Keyikedalube commented on #563
#1895 will alleviate the complicated width/height resize issue.

[2021-08-12 09:46] #644 closed

[2021-08-12 10:03] Keyikedalube commented on #561
WIP underway #1508

[2021-08-12 10:22] Keyikedalube commented on #537
For someone who wants to work on Synfig file format (SIF), a new doc page has been proposed by @rodolforg here https://github.com/synfig/synfig-docs-dev/pull/79

[2021-08-12 10:42] Keyikedalube commented on #497
@libreartist linked the answer to this above. I'm closing this since I feel the question has been answered.

[2021-08-12 10:42] #497 closed

[2021-08-12 11:02] morevnaproject commented on #1393
@rodolforg
I've just re-read your comment and realized that I possibly misinterpreted your question.
Do you mean indication in Parameters Panel, right? -
![screenshot_004](https://user-images.githubusercontent.com/332868/129186179-a53df109-99e8-4222-a760-179b0757d20e.png)

[2021-08-12 11:18] morevnaproject commented on #1393
I have tested how your proposal works in current implementation and it looks like good solution to me!

[2021-08-12 11:29] morevnaproject commented on #2247
* Ask to update translations - DONE

[2021-08-12 12:53] Keyikedalube commented on #529
Can't reproduce on current master branch

https://user-images.githubusercontent.com/24214509/129199848-a8b6af4a-32bf-49ee-a18a-2031dab373d9.mp4

Is this issue resolved?

[2021-08-12 15:45] Keyikedalube commented on #466
That's because `GtkTreeView` data is refreshed when you clicked on another object.

[2021-08-12 23:07] morevnaproject commented on #466
Can we make Transformation item always un-collapsed in TreeView? ^__^

[2021-08-13 01:20] Keyikedalube commented on #466
@morevnaproject [`expand_row(...)`](https://developer-old.gnome.org/gtkmm/stable/classGtk_1_1TreeView.html#a2e606e1a46b925cb2326878fde8cc7fb)

[2021-08-13 03:29] ice0 commented on #466
vote for this too )

[2021-08-13 17:02] FirasH opened #2267 "Some strings are not available in translation files"
**Synfig version & platform**:
Current translation files on Transifex platform

**Issue description**:
I've noticed that some strings are not available for translation, opening this issue to keep track of this.
Not sure if that's because the translation files currently loaded on Transifex are out of date or some fixes are required.

For example I cannot find the strings for the `Skeleton Tool` lik

[2021-08-14 05:07] morevnaproject commented on #2267
Hi! Those strings are not yet part of stable release, so they are not uploaded to Transifex.
We upload strings only for stable branch (the current candidate is 1.6.0 here - https://github.com/synfig/synfig/pull/2263).

[2021-08-14 18:08] FirasH commented on #2267
@morevnaproject I’m always using master, somehow was thinking that 1.6.0 would be a snapshot of master branch 👍

Closing as resolved!

[2021-08-14 18:56] rodolforg commented on #2267
I thought it too. I still don't get it why it is not like that :)
That' how I imagined it was:

![synfig-repository-branch-design](https://user-images.githubusercontent.com/1323987/129457499-62f68bfc-a1f2-409b-983a-98ddd35cf52f.png)

[2021-08-16 01:06] rodolforg commented on #769
Code is in `BLineConverter` (synfigapp/blineconvert.h/cpp).
It requires at least 7 points.

[2021-08-16 01:07] rodolforg commented on #2253
Hm… It could be applied to any "rotation" handle and tangent handle, I suppose.

[2021-08-16 05:20] Keyikedalube commented on #458
The [wiki](https://wiki.synfig.org/Sketch_Tool) says:

_The "Sketch Tool" allows you to draw freehand over the top of a Canvas._

Sketches are not meant to be rendered in the final product but act as drawing guides for editing. Hence, group layers and effects layers have no influence on this tool.

Sketch tool has its own properties dock. There you would find undo button. Unfortunately, there's no

[2021-08-16 05:20] #458 closed

[2021-08-16 05:46] Keyikedalube commented on #444
Behavior's changed in v1.4.2 and master branch

1. Select group and all its child layers
2. `Ctrl+c` and `Ctrl+v`
3. Undo
4. Repeat step 1
5. Repeat step 2
6. Crash with info `free(): invalid pointer`

NOTE: master branch build might crash after hitting `Ctrl+c`

[2021-08-16 05:47] Keyikedalube commented on #444
This works as intended on the latest stable release v1.4.2

[2021-08-16 10:49] Keyikedalube commented on #417
Is this still reproducible on v1.4.2 AppImage?

[2021-08-16 13:38] Keyikedalube commented on #392
I answered this same issue over here #458:

_Sketch tool has its own properties dock. There you would find undo button. Unfortunately, there's no redo action for this tool.
Since the sketch tool does not create its own layer, it makes sense to isolate its undo action from the rest._

Having two specific undo action is confusing users. This needs to be addressed in another new issue...

[2021-08-16 13:38] #392 closed

[2021-08-16 13:52] Keyikedalube commented on #387
I can't reproduce this on the latest stable release 1.4.2

I think this issue must have been fixed by someone else

[2021-08-16 15:14] morevnaproject opened #2271 ""Split Tangents" menu item displayed twice"
**Describe the bug**
"Split Tangents" menu item displayed twice when multiple vertices selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any spline
2. Select multiple vertices
3. Right-click on selected vertices
4. See multiple "Split Tangents" in  menu (only top one works correctly)

**Expected behavior**
Only one "Split Tangents" item in menu.

**Screenshots**

![screenshot_

[2021-08-16 18:08] rodolforg commented on #1458
https://forums.synfig.org

[2021-08-17 00:50] Keyikedalube commented on #386
Is this reproducible on latest stable release v1.4.2?

I tried to replicate your video demonstration by changing the Vertex value, and Tangent value too. The Vertices tree didn't collapse.

[2021-08-17 01:03] Keyikedalube commented on #376
#391

[2021-08-17 02:21] yoSachinkr commented on #2271
This bug is also there in Windows 10 as well.

[2021-08-17 02:47] Keyikedalube commented on #376
Same here... can't reproduce the crash on latest stable release v1.4.2

[2021-08-17 03:01] Keyikedalube commented on #566
There's another large complex file one could test along with this: #376

[2021-08-17 03:10] yoSachinkr opened #2272 "Feature request: Animated .webp support"
Support for .webp image format as well as import and export of animated webp support would be nice.

[2021-08-17 03:15] Keyikedalube commented on #354
I think I remember watching one of @morevnaproject videos on this where he mentioned brush tool feature in Synfig is still "experimental".

https://youtu.be/Z5Bj2BzG36U

[2021-08-17 03:31] Keyikedalube commented on #331
`idleworm_walk.sifz` file is missing

[2021-08-17 11:22] Keyikedalube commented on #2271
I cannot reproduce this on master branch bd50192 on Fedora Linux 34:

![Screenshot_2021-08-17_14-10-03](https://user-images.githubusercontent.com/24214509/129717244-4d45538b-0259-4d66-aa23-c4be30daaa2a.png)

[2021-08-17 12:45] Keyikedalube opened #2273 "Top toolbar and tab button CSS styling has been lost"
**Describe the bug**
Toolbar buttons are no longer small.

**To Reproduce**
Steps to reproduce the behavior:
1. Open SynfigStudio
2. Notice the top toolbar and tab button

**Expected behavior**
Small toolbar buttons like in earlier versions.

**Screenshots**
![toolbar-regression](https://user-images.githubusercontent.com/24214509/129725029-87cdf0fc-f609-4437-aa4d-0b18725f5374.png)

**System inform

[2021-08-17 17:13] FadhilKwan opened #2274 "Feathered Outlines (and Adv. Outlines) Look Jagged (1.5.0)"
**Describe the bug**
The outlines and adv. outlines that have 'Feather' properties within them become pretty jagged-looking and a little weird.

**To Reproduce**
1. Create any outline (or adv. outline) layer
2. Set its width to a relatively small amount, which is somewhere around 1 to 1,5cm
3. Find line's 'Feather' property in 'Parameters' panel, then set it to a positive value, like 0,5
4. Try zo

[2021-08-19 07:17] Keyikedalube opened #2275 "Preferences dialog segmentation fault after quitting synfigstudio"
**Describe the bug**
Preferences dialog causes segmentation fault when quitting synfigstudio.

**To Reproduce**
Steps to reproduce the behavior:
1. Open synfigstudio from terminal/command prompt
2. Open Edit>Preferences... dialog
3. Close dialog
4. Quit synfigstudio
5. Segmentation fault

**Expected behavior**
Clean exit without segmentation fault.

**Screenshots**
-nil-

**System information:**

[2021-08-19 11:37] ice0 commented on #2275
Duplicate: https://github.com/synfig/synfig/issues/1661

[2021-08-19 11:41] #2275 closed

[2021-08-20 16:39] HoboPrimate opened #2276 "Synfig Studio crashes when trying to use it with my drawing tablet under wayland"
**Describe the bug**
When using my drawing tablet (Intuos5 touch (S)) with Synfig on Wayland, it imediately crashes when clicking inside the application with the pen. It does not on Xorg.

**To Reproduce**
Steps to reproduce the behavior:
1. Be inside Gnome under Wayland
2. Plug in your wacom tablet
3. Open synfig studio
4. Pick up your pen and move it inside the program
5. Synfig studio crashes

[2021-08-21 02:11] ice0 commented on #2276
@HoboPrimate Can you check 1.5.0 AppImage version?

[Synfig 1.5.0 AppImage x32](https://github.com/synfig/synfig/releases/download/v1.5.0/SynfigStudio-1.5.0-2021.08.13-linux32-32dd4.appimage)
[Synfig 1.5.0 AppImage x64](https://github.com/synfig/synfig/releases/download/v1.5.0/SynfigStudio-1.5.0-2021.08.13-linux64-32dd4.appimage)

[2021-08-21 16:09] HoboPrimate commented on #2276
It doesn't crash with that AppImage, and seems to be working great!

[2021-08-21 16:18] HoboPrimate commented on #2276
I also just tried the latest stable version's AppImage (1.4.2) and it also doesn't crash (flatpak version 1.4.2 crashes)

[2021-08-22 01:41] yoSachinkr opened #2277 "Feature request: Convert to region layer"
All special layers like rectangle layer, circle layer and text layer should have convert to region layer available.

This feature request is basically like the "object to path" feature of inkscape.

It could have a huge utility in synfig as well, according to me.

[2021-08-22 03:02] morevnaproject commented on #2274
The bug appears to be introduced somewhere between commits 27c7b956ea343ee71b1927e4082abd2df647eecb (2020-05-14) and 8b3a3a0341e8540c474d21efc3ce1d8b0da6a013 (2020-01-29) in master branch.

[2021-08-22 03:22] ice0 commented on #2274
@morevnaproject
https://github.com/synfig/synfig/compare/8b3a3a0...27c7b95

There are too many commits in there :)

[2021-08-22 03:35] morevnaproject commented on #2274
@ice0 That's just my accidental finding. I put it here to simplify research for someone who decide to continue with `git bisect` operation. ^__^

[2021-08-22 04:39] morevnaproject commented on #2267
Yes, this is exactly how it works. ^__^
At the point of 1.3.12 we decided that it is time to make a stable release, so we separated branch (1.4.x) at this point and marked all future commits as belonging to next dev cycle (1.5.0).

But after release of 1.3.12 there were some bugs found. The bugs were fixed and backported to 1.4.x. After that we made one more dev release to allow users test the fix

[2021-08-22 04:43] morevnaproject commented on #2247
Woops... After release of 1.5.0 I have reconsidering the strategy of releasing 1.6.0. Please see https://github.com/synfig/synfig/issues/2267#issuecomment-903212360

So, I am rolling back some tasks, which are already marked as "DONE" and proceeding with release procedures from the start. Please don't get confused and thanks to everyone for useful input to discussion! ^__^

[2021-08-22 22:57] rodolforg commented on #2274
I did `git bisect` and the first bad commit is: 3ae388d8789484ffdb0c14dd6785d4fbece682cf
Those are good commits: f44ff0a64636419ff9d9e223ca355319fd0388e7 7cea64284d1326d05039b76648cf113040889b10 4df4085e997213b6072364e9f36da6ab14746571 30ce7c4209a618643b26f40144ae9e0bd99c0830 fe240231c01c2bd3102ef901b2001a923cc86095 8b3a3a0341e8540c474d21efc3ce1d8b0da6a013

[2021-08-23 04:24] morevnaproject commented on #2267
Okay, I have loaded all recent strings from master branch to Transifex. Happy translating! ^___^

[2021-08-23 04:24] #2267 closed

[2021-08-25 06:05] morevnaproject opened #2283 "Timetrack Panel not updated after dragging keyframe"
**Describe the bug**
When user dragging keyframe the brown line on TimeTrack panel is not updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Open sample file - [bug-kf-drag.sifz.tar.gz](https://github.com/synfig/synfig/files/7044014/bug-kf-drag.sifz.tar.gz)
2. Drag keyframe at 24f to some other time
![screenshot_001](https://user-images.githubusercontent.com/332868/130734464-46394ca9-b

[2021-08-25 19:23] FadhilKwan opened #2284 "Weird Line Bending (That Doesn't Match its Region) On a Specific Curve"
**Describe the bug**
I found an unusual line curving that happens on a very specfic line setup. It looks like this:
![BCB02](https://user-images.githubusercontent.com/25135159/130847367-10970b49-675c-460e-9510-a8db080d1254.JPG)

The issue can be seen very clear with Adv. Outline. With normal Outline the curving doesn't occur and it looks a little more fine, even though it still looks a little bit

[2021-08-26 09:51] yoSachinkr opened #2285 "Feature request: Support for OpenRaster file format in Synfig"
I think support of import of this file format can help working with raster images in synfig much easier.

[2021-08-26 14:31] BadarSaghir opened #2287 "Improper svg gradients import and sif created in old version error"
**Describe the bug**
1. svg import issues With and without gradients
2. sif imports give old version created by inkscape
**To Reproduce**
Steps to reproduce the behavior:
1. open svg with gradient '
2. Click on import and import svg
3. import Svg has color issues that are not imported properly

**Expected behavior**
Svg with proper paths and color

**Screenshots**
![image](https://user-images.gith

[2021-08-27 09:30] FirasH opened #2288 "Typos/Reviews for translation strings"
**Synfig version & platform**:
Current translations on Transifex

**Issue description**:
Collecting here a wip list of strings which contain errors or need some revision:

- [ ] "File name witch path to store exported file"
- [ ] "Number of threads change"
- [ ] "Loop detected while tokens preparing"
- [ ] "how much this tool behaves like an eraser" (small case)
- [ ] "AsynRenderer: "
- [ ] "Can't

[2021-08-30 16:07] morevnaproject commented on #2271
I compiled using Autotools. Maybe this is the reason of different behavior? ^__^

[2021-09-03 02:48] ice0 commented on #2271
Tested autotools build, still can't reproduce.
Can you make a clean build and test it again?
Can you try to reset Synfig settings (make a backup first) and test it again?

[2021-09-03 20:23] yaakovshlomo opened #2293 "Text tool not working on Mac Big Sur 11.5.2"
I am running Big Sur 11.5.2 on my Mac and Synfig 1.4.2.

 The text tool does not work properly on the screen. It is invisible. I see that this issue has come up before, but I don’t see any resolution, anywhere, for this problem.

Only handles will show up….text is invisible.

 What can you do to fix it? Does anyone have a solution?

Thank you, kindly..

[2021-09-04 15:30] morevnaproject commented on #2293
Can you please provide a screenshot? Or even better - video recording of your screen. Thank you!

[2021-09-04 22:24] yaakovshlomo commented on #2293
﻿
﻿
﻿
﻿I tried sending a video, but my video came back, so I have taken screenshots:

After I type in some text and hit OK, there isn’t any text, however there is a layer and parameters

Then, when I go to the transform tool, you can only see a dot for moving and a handle.

Here is my path for fonts

Thank you!
Yaakov Shlomo
***@***.***
303-669-1424
ב״ה

[2021-09-04 22:35] rodolforg commented on #2293
There is no screenshot in your previous post :(

[2021-09-05 02:29] ice0 commented on #2293
@rodolforg @morevnaproject

I can reproduce the problem.
The interesting thing is that it works fine (I tested 1.5.0) when build locally, but downloaded `.app` doesn't work.
I will take a look.

[2021-09-05 02:31] yaakovshlomo commented on #2293
Awesome!

Thank you!
Yaakov
ב״ה

[2021-09-05 13:13] rodolforg commented on #1459
Currently, Click+`Shift` splits tangents (but not connect them together) - by using any tool. It seems to be there since version 0.64.

Note for developers: implemented on `WorkArea::on_drawing_area_event(GdkEvent *event)`

[2021-09-06 02:05] #1562 closed

[2021-09-06 02:05] #1817 closed

[2021-09-06 04:18] yoSachinkr opened #2297 "Feature request: Change in onion skin behaviour."
In current implementation, the onion skin is drawn basically by changing the opacity and showing the overlapping images of the past, present and future frames, which, in my opinion, is not the right way to implement the onion skin, as it causes confusion as well as distraction.
I propose,
1. Opacity of only past and future keyframes should be changed. Present keyframe should remain fully opaque.
2

[2021-09-07 06:46] #1649 closed

[2021-09-07 15:57] rodolforg opened #2302 "Crash when render gif with gif target"
**Describe the bug**
Just after start rendering to gif target with quality 6 Synfig Studio crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the file sifz file in Synfig [MyUI.zip](https://github.com/synfig/synfig/files/7122847/MyUI.zip)
2. Open Render dialog
3. Select "gif" target
4. Change "quality" to 6
5. Press Render button
6. It crashes

**Expected behavior**
A clear and co

[2021-09-11 14:51] morevnaproject commented on #2247
* Write ChangeLog - DONE

[2021-09-12 13:05] #1454 closed

[2021-09-12 13:05] #2283 closed

[2021-09-12 15:52] morevnaproject commented on #2103
This feature already available with Halftone 2 layer.
![screenshot_002](https://user-images.githubusercontent.com/332868/132994246-5795fa18-3e0b-44ca-a3b2-23c7f809fbed.png)

Sample file -
[halftone.sifz.zip](https://github.com/synfig/synfig/files/7149867/halftone.sifz.zip)

[2021-09-12 15:52] #2103 closed

[2021-09-12 16:24] morevnaproject opened #2307 "Synfig hangs on attempt to use Halftone 2 Layer"
**Describe the bug**
Any attempt to use Halftone 2 Layer results in Synfig hanging.

Synfig is built from source, master branch. The issue not happens on version 1.4.2.

**To Reproduce**
Steps to reproduce the behavior:
1. From menu select "Layer" -> "New Layer" -> "Filters" -> "Halftone 2"
2. New  "Halftone 2" layer created -> Synfig hangs.

**Expected behavior**
 "Halftone 2" layer should be cor

[2021-09-12 21:47] rodolforg opened #2310 "Crash when manipulating Duplicate Layer/ValueNode (changing visibility)"
**Describe the bug**
Synfig crashes when manipulating Duplicate Layer/ValueNode in Parameters panel and Layer Panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Open SIFZ in [teste-erro-duplicar.zip](https://github.com/synfig/synfig/files/7150331/teste-erro-duplicar.zip)
2. Select `Duplicate` layer "Duplicar"
3. On Parameters Panel, expand `Index` parameter ("Índice 1")
4. Click on `Step

[2021-09-12 22:08] rodolforg commented on #2307
`git bisect` point to 4273435309266fa4181269fdb3e9cc454cf14337

Wow o.O

[2021-09-12 22:37] rodolforg commented on #2307
The problem is the `abs` method. It is now from C library: int parameter and return value type...
https://github.com/synfig/synfig/blob/96f9856dda598a3d6a5baeac557613ffe4708d04/synfig-core/src/modules/mod_filter/halftone.cpp#L109-L136

[2021-09-14 15:05] limburgher opened #2313 "1.5.0 - Individual tarballs?"
Hi! I'm the Fedora package maintainer or synfigstudio, and we build from the individual tarballs for ETL, synfig, and synfigstudio. Will those be released soon?  Thank you!

[2021-09-15 02:20] ice0 commented on #2313
Hi!
We did not prepare separate archives for 1.5.0 because it is an unstable version.

[2021-09-15 02:52] #2307 closed

[2021-09-15 04:00] #643 closed

[2021-09-15 13:10] limburgher commented on #2313
Ah, ok. How long do you think it will be before the next stable release?

[2021-09-16 03:43] ice0 commented on #2313
@morevnaproject found several bugs in 1.6, so it will be released when we fix them.
The planned release date is until the end of next month.

[2021-09-16 09:34] Mark11110 opened #2316 "Few tweaks that may improve user adoption"
**Is your feature request related to a problem? Please describe.**
I believe most new users who had trouble using synfig became confuse because of the outline and the shape being separate objects.
When animating for the first time, they'd likely to grab the outline and freak out because the line and the shape suddenly separate.
Changing the default behavior may improve adoption.

**Describe the so

[2021-09-16 13:33] limburgher commented on #2313
Understood, thanks!

[2021-09-16 13:33] #2313 closed

[2021-09-18 20:31] rodolforg commented on #1141
I guess this is fixed for 1.4.2 and 1.5.0

[2021-09-18 20:42] rodolforg commented on #529
I tried it here too and it is working. I believe it was solved here https://github.com/rodolforg/synfig/commit/c600005b95ee16d8feaefd182e73f5b20d460094

[2021-09-19 16:18] FirasH commented on #2183
I can take a look at this one

[2021-09-19 17:07] FirasH commented on #2183
I didn't find places in the code where `gui/docks/dockmanager.h` is included but unused.

In the cases where there's the `#include`, but there isn't an explicit reference to the `DockManager` class, it is anyway necessary as some of its methods are called "indirectly" from other parts of the code. Removing them doesn't allow code compilation to succeed.

[2021-09-19 20:42] FirasH opened #2318 "[Synfig Studio] Add system fonts list to Text Tool toolbox"
**Synfig version & platform**:
master 039ec6f

**Issue description**:
1) Create a new animation
2) Select the `Text Tool`
Now in the `Toolbox` it is possible to edit the settings for new Text Layers as shown here:
![text-toolbox](https://user-images.githubusercontent.com/6705690/133942105-6cff1224-2858-48e8-8f36-5cc359c29655.png)

`Family` value is just a text entry and a scrollable list of availa

[2021-09-19 20:55] FirasH opened #2319 "[Synfig Studio] Multiline Text increases the used vertical space in the UI"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

**Issue description**:
1) Create a new animation
2) Select the `Text Tool` and create a Text Layer with some text
The name of the Layer in `Layers` window should match the inserted text.

3) Select the same Text Layer and in the `Parameters` window edit the `Text` parameter to:
Line 1
Line 2
Line

[2021-09-20 02:28] Keyikedalube commented on #2183
Including headers that are not used in the current h/cpp file is redundant. Also, bottlenecks compilation time in case that included header file is modified.

For this, we can ignore the said include directive in files that serve as core or parent classes to other classes.

But there are definitely some files that really don't need the header `"gui/docks/dockmanager.h"`.

[2021-09-20 14:49] morevnaproject opened #2320 "AppImage: The "magick++" output target is not available in Linux build"
The "magick++" output target is not available in AppImage Linux builds for version 1.4.1, 1.4.2, 1.5.0.

[2021-09-20 14:56] morevnaproject opened #2321 "Render dialog: "Link width and height" option should be enabled by default"
**Describe the bug**

"Link width and height" option in render dialog should be enabled by default.

1. Create new file or open existing Synfig document
2. Choose "File" -> "Render" from menu
3. Notice the "Link width and height" option is disabled.

![screenshot_002](https://user-images.githubusercontent.com/332868/134024194-a5741773-63fc-4d65-8a1f-95a4afd420d9.png)

[2021-09-20 15:12] morevnaproject commented on #2320
When launching Synfig Appimage from console it gives warning:
[code]

There is a `libmod_magickpp.so` exists in Appimage at `usr/lib/synfig/modules/`.
Somehow Synfig doesn't finds it...

[2021-09-20 15:18] ice0 commented on #2320
It cannot be loaded due to some dependencies (maybe it can't find `magick++.so` itself).
Unfortunately `lt_dlerror` is not showing the correct error :(

[2021-09-20 15:33] morevnaproject commented on #2320
The version compiled from source have magick++, so I have executed it with "strace" and got the following:

For compiled from source version:
[code]

For AppImage (I have extracted appimage and injected "strace" command to launcher script):
[code]

Notice the lines in first case (file found and working):
[code]

In second case (file exists, but not loaded):
[code]

[2021-09-20 15:50] morevnaproject commented on #2320
Appimage version 1.4.0 loads magick++ successfully. Here is strace log:

[code]

[2021-09-20 16:30] morevnaproject commented on #2320
Okay, I took two appimages - 1.4.0 (with working magick++) and 1.4.1 (with non-working magick++).
I unpacked both appimages.

Then I copied "libmod_magickpp.so" module from 1.4.0 appimage dir to 1.4.1 appimage dir.
Then I launched 1.4.1 version - the magick++ module loaded.

I guess this tells that it's not the problem of AppImage environment, and not problem of Synfig code.

So, I have examined d

[2021-09-20 16:34] morevnaproject commented on #2320
I have made a test commit and will try to rebuild AppImage to see if it makes any difference.

[2021-09-21 03:57] ice0 commented on #2320
@morevnaproject

Just go to folder where `libmod_magickpp.so` is located and use `ldd` with correct `LD_LIBRARY_PATH`:

[code]

as you can notice:
[code]

1) Is it linked with two different `libffi` versions?
2) `libffi.so.6` is located under `lib64` folder, not in `lib` folder. So you need to fix that output path.

[2021-09-21 04:04] ice0 commented on #2320
It looks like you have two different `libffi` libraries on your build system. Before we added `@MAGICKPP_CFLAGS@`, it just took one of them. So you need to check `PKG_CONFIG_PATH` and link flags in your build environment.

[2021-09-21 04:23] morevnaproject commented on #2320
You right, in  AppImage for version 1.4.0 it doesn't references `libffi.so.5`, but in AppImage for 1.4.1 it references both `libffi.so.5` and `libffi.so.6`.
On my system `libffi.so.6` is found at
[code]
Still, Synfig's launcher script sets LD_LIBRARY_PATH to look into `lib64/` dir too (inside of AppImage). SO I think this shouldn't be the problem.

I still think the library linked differently beca

[2021-09-21 04:47] morevnaproject opened #2323 "Intuitive drawing project"
Hi everyone!

I have developed a proposal, which is intended to simplify the process of creating vector artwork in Synfig - https://docs.google.com/document/d/1e2EuE8OxH1DWbm-KM54ypdAjGJpLuLOTPKzD0QYy7V8/edit?usp=sharing
This project assumes automatic placement outlines and regions into groups and drawing becomes more intuitive, as user is working with the concept of _drawing an object_, not with

[2021-09-21 04:49] morevnaproject commented on #2316
Hi, Mark! Thank you for your suggestions, please see my comments below.

I have developed a proposal, which should cover the issue you highlighted and deliver better artwork construction experience, please check it out here - https://github.com/synfig/synfig/issues/2323

Agree and we also need a better icon for draw tool - https://github.com/synfig/synfig/issues/776
Please create a separate issue,

[2021-09-21 04:55] morevnaproject commented on #2320
It works now! - https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.7.0-testing-2021.09.21-linux64-27b35.appimage

[2021-09-21 07:14] #2320 closed

[2021-09-22 13:06] Keyikedalube commented on #1869
Dug around and found out the main two areas for this origin handle (coded as "duck"):
- Code executed when user selects a layer (for building origin handle)
    https://github.com/synfig/synfig/blob/391f8a1540b4c9339bb1141f4067221f6cc87b8b/synfig-studio/src/gui/duckmatic.cpp#L2080-L2094
- Code executed when dragged
    https://github.com/synfig/synfig/blob/391f8a1540b4c9339bb1141f4067221f6cc87b8b/

[2021-09-22 15:43] morevnaproject commented on #1626
We still need this issue resolved, it is blocking 1.6.0 release.

In current source code moving bones of Skeleton Deformation layer using Skeleton Tool is not working correctly. Here's the video showing the problem - https://youtu.be/KcO3Q6ejfac

[2021-09-23 19:40] FirasH commented on #2183
@Keyikedalube
I've removed `#include <gui/docks/dockmanager.h>` for each file and tried to compile.
In none of the case the inclusion was useless or at least the compilation wasn't successful.

Not sure if I'm missing something.

[2021-09-23 21:00] rodolforg opened #2328 "Importing image shows it upside-down"
**Describe the bug**
On master branch, when importing a PNG, the TL-BR coordinates of Bitmap layer has the vertical component values swapped and image is vertically flipped.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Import dialog
2. Unselect "Fit to Canvas"
3. Import any PNG image
4. See visual error in Canvas/WorkArea

**Expected behavior**
Work as before, not flipped.

**System

[2021-09-24 04:03] Keyikedalube commented on #2183
@FirasH I took the time to look into this myself and you're right!

This issue could be reworded to "Improve include DockManager contract for app.h"
If you've noticed the said included file was done in implementation file app.cpp and that's the reason why all those remaining files I reported above are seen as redundant. Because they don't know what `DockManager` is yet that's why weird indirect de

[2021-09-24 04:04] Keyikedalube commented on #2183
And thank you @FirasH for looking into this yourself. Appreciate your time :)

[2021-09-25 03:09] morevnaproject commented on #1626
The issue happens only when changing position of bone origin. when changing bone angle or length everything works correctly.

@ice0 @rodolforg I see this issue as blocker for 1.6.0 release.

[2021-09-25 03:43] rodolforg commented on #1626
I can take a look later. But are you planning to release 1.6.0 soon, without more 1.5.x dev releases?
I'd like to work on the copy'n paste skeleton issues and better SVG native import first.
Hopefully the new Color Dialog.

We could have too the new Render Resize dialog that @Keyikedalube did.

Also more checks / fixes for  Bone Tools.

[2021-09-25 04:12] morevnaproject opened #2330 "[Skeleton Tool] Crash on attempt to set parent for a bone"
Here is a video showing the bug - https://youtu.be/ZeNmlfSGvnI

[2021-09-25 21:22] FirasH commented on #2321
Looked a bit into this issue and here is how things work right now.

The flags that determine the initial status of this dialog are located here:
https://github.com/synfig/synfig/blob/88c9e976c1a150ef86452c6fed81746af57322bc/synfig-core/src/synfig/renddesc.h#L58-L78
and are defined as bits with different shifts. In this case the flag that sets "Link width and height" as active is `LINK_IM_ASPECT`.

[2021-09-26 14:40] morevnaproject commented on #2328
Yes, we also hit that problem yesterday XD

[2021-09-26 14:44] morevnaproject commented on #2328
I wonder, is it somehow related to this condition? 🤔
![BD1A68C2-A03F-4BD2-B92C-D98775480CCF](https://user-images.githubusercontent.com/332868/134812602-d0e37290-ff61-4101-b9ec-471b913cb4e6.jpeg)

[2021-09-29 07:06] #2328 closed

[2021-09-30 06:19] Mark11110 commented on #2316
I tried left-mouse click on spline tool, didn't close loop 😭 . Using version 1.4.2

[2021-09-30 06:31] Mark11110 commented on #2323
Basic shapes often confuse newbies, they'd usually try to shape it during animation and wonder why it won't work. Or worst, if they had an outline, the outline changes, but the circle remains circle.

I think most regular users use spline tool for everything. Maybe remove the basic shapes or make them behave like spline tool?

[2021-09-30 06:34] Mark11110 commented on #2316
Oh, it's a bug in Windows that when you paused a bit before closing the loop, left-mouse click doesn't work.

[2021-09-30 06:36] Mark11110 opened #2336 "Oh, it's a bug in Windows that when you paused a bit before closing the loop, left-mouse click doesn't work."
There's a bug in Windows for spline tool. left-mouse click doesn't trigger when you paused before closing the loop.

_Originally posted by @Mark11110 in https://github.com/synfig/synfig/issues/2316#issuecomment-930849180_

[2021-10-02 14:33] morevnaproject commented on #2323
Thanks, I am watching for Enve for quite a while already. THis is really impressive piece of software. ^__^

Thanks for the note, I agree with that. Added a note to document that we will use "Outline and Region" primitives to create basic shapes -
![screenshot_001](https://user-images.githubusercontent.com/332868/135721036-c1387d45-a356-43c9-b1f7-688be9f235a0.png)

[2021-10-02 14:43] morevnaproject commented on #1626
I plan to have more 1.5.x releases until we get all current critical issues resolved (by "critical" I mean "something that was working in previous stable version, but doesn't works in current" or "an issue in new functionality, which prevents its correct usage"). ^__^

That two would be awesome.

Other new features can be added after 1.6.0. Though, if they will be ready earlier - that's great.

St

[2021-10-02 15:01] morevnaproject commented on #776
@Mark11110 And which should be in "storyboarding" section? ^__^

[2021-10-02 15:04] morevnaproject commented on #2321
Let's try this! ^__^

[2021-10-02 15:08] morevnaproject commented on #1869
Yes, that's definitely makes sense. ^__^

[2021-10-02 15:10] #1141 closed

[2021-10-02 15:19] morevnaproject opened #2337 "Select parent group after image import"
Since #2308, when the user imports the file, the imported layer becomes selected.
![screenshot_002](https://user-images.githubusercontent.com/332868/135722606-f9234af4-6d23-48d2-b7d0-3e68e455e968.png)

can we select the parent (yellow) group instead, not the image layer inside? ^__^

@rodolforg

[2021-10-02 15:33] morevnaproject commented on #529
Hi! I have tested the bug with latest master branch.
The bug at step 5 is gone away (wohooo!).
But the issue on step 6 still remains.

Also, I have realized the files (in zip archive) were not correct - they have already had red circle with origin animated (which should not be like that). So I am attaching correct sample files here -
[bug-parent-child-timetrack.zip](https://github.com/synfig/synfi

[2021-10-02 15:37] Gilraiser commented on #1817
Great, thank you so much

[2021-10-02 15:41] morevnaproject opened #2338 "[Feature request] Allow to set shortcut for workarea pan action"
As requested here - https://www.synfig.org/2021/08/16/synfig-studio-1-5-0-released/#comment-58726

[2021-10-02 17:16] FirasH commented on #2321
At the moment I cannot try this unfortunately 😢 as I'm hitting a build error with studio (building vanilla master).
If I have some free time I'll dig into it.

There are some other very minor refinements to do beside this change, but nothing difficult.
If someone wants to take on this issue feel free to pick it.

[2021-10-03 04:30] #507 closed

[2021-10-03 05:39] ice0 commented on #2321
@FirasH Can you show build error?

[2021-10-03 05:41] #2337 closed

[2021-10-03 07:00] FirasH commented on #2321
@ice0 I’ve posted the error in the forum [here](https://forums.synfig.org/t/synfig-build-error-of-synfig-studio/12591/5?u=firash)

[2021-10-03 08:08] #2259 closed

[2021-10-03 18:16] bubutec opened #2344 "Does not show link to spline when trying to connect vertex to spline"
**Describe the bug**
In Synfig version 1.0.2 this function works perfectly and makes it much easier when animating clothing designs with details that require this type of functionality.
Already in version 1.4.2 is not showing this function.

**To Reproduce**
1 - Create two drawings using the spline tool.
2 - select the two shapes you want to link.
3 - select the vertex you want to link the spline

[2021-10-04 11:18] morevnaproject commented on #2271
I have removed all Synfig configuration files from my user. Then removed all Synfig build files and sources too. Made "git --reset".
Then I have made a build using `./2-build-production.sh` command. Same behavior - the issue is still here for me.

I am on Linux Mint 19.

[2021-10-05 09:20] yoSachinkr commented on #2344
Even in v1.3.16 this feature used to work perfectly.

[2021-10-08 06:28] yoSachinkr opened #2346 "Feature request: Grouping of multiple paths/regions in synfig by selecting them from the canvas"
Ctrl+ clicking on multiple objects in the canvas and using the context menu/hotkey shortcut to group them.
(Current implementation looks incomplete.)
![Animation](https://user-images.githubusercontent.com/50204208/136508704-22afd3a0-e5cc-4445-8999-8f58e1cbdfa1.gif)

[2021-10-08 06:34] ice0 commented on #2271
Just tested on Mint 19 and I can reproduce the problem with both Autotools and CMake builds.
It looks like this is a GTK/GTK+ issue:
- GTK + 3.22.30 - has an issue
- GTK + 3.24.20 - no issue

I will check how this happens. Maybe we add this menu twice or something like that.

[2021-10-09 13:17] morevnaproject commented on #2344
It works in 1.4.0, but not in 1.4.1.

[2021-10-09 13:58] #2344 closed

[2021-10-09 14:19] morevnaproject commented on #2344
The fix will be shipped in versions 1.4.3 and 1.5.1.

[2021-10-09 15:52] yoSachinkr commented on #2346
It is the same with "group into sets", "group into filter layer".  "group into switch layer" and other context menu options.

[2021-10-09 16:00] rodolforg commented on #2254
@morevnaproject  please add this for 1.4.3

[2021-10-09 16:59] morevnaproject commented on #2254
Done! Thank you! ^__^

[2021-10-11 05:23] ice0 commented on #2321
@FirasH Did you fix the build error?

[2021-10-11 12:37] yoSachinkr opened #2356 "Bug with exported canvas"
**Describe the bug**
When I create an object and export it to a new canvas, and then add a new item in the exported canvas after opening it into the next tab, the new item doesn't show up in the main canvas's layers panel. Even the newly created item is not selectable in the main canvas.

**Expected behavior**
The newly created item in the exported canvas should appear in the main canvas's layers

[2021-10-12 01:34] morevnaproject opened #2357 "No context menu for waypoints at Canvas Parameter"
**Describe the bug**
Right-clicking on waypoint shown for Canvas Parameter doesn't show any context menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a document with a simple animated circle.
2. Put the animated circle into group.
3. Select the Group and right-click on any waypoint in Canvas Parameter.
4. No menu appears.

**Expected behavior**
It should display a context menu for

[2021-10-12 08:33] FerretMonger opened #2359 "Cannot rotate or move objects at all."
When choosing the rotate tool and trying to rotate (when the mouse changes to a rotate symbol) it either just does a rect selection or scales the shape.

Steps to reproduce the behavior:
1. Click on any object
2. Select the rotate tool
3. Try to rotate it

(This is true for the move tool as well)

I would excpet the object to rotate.

![image](https://user-images.githubusercontent.com/45817036/136

[2021-10-12 09:18] yoSachinkr commented on #2359
It's not a bug. It's basically how few shapes work in synfig.

[2021-10-17 03:44] rodolforg commented on #2258
Fixed on master PR #2335

[2021-10-17 09:42] #2258 closed

[2021-10-17 10:00] FirasH commented on #2297
I can take a look at this one, not sure how long this will take.
Maybe we can work on the first 2 points first and then proceed with the others.

[2021-10-17 15:04] yoSachinkr commented on #2297
Onion skin is one of the most helpful and important tool in animation. Any improvement will be a welcome change. 😀

[2021-10-17 15:06] FirasH commented on #2297
I don't usually use `Onion Skin`, but I feel this is a key feature for advanced users.
For this reason I have some observations about the suggested points that we can discuss about and gather ideas for next improvements.

Point 1 and 2 are straightforward and in the mentioned pull request you can find a modified version that includes those changes.

Point 3 and 4 are more detailed and require more

[2021-10-17 15:21] yoSachinkr commented on #2297
For point 3, I'll suggest a little bit of change. Instead of adding (as using add blend method in synfig) red/ blue color, if the blend method would be "color" with 0.7 or 0.5 opacity. it would give a perfect red/blue colored past and future keyframe look.
For point 4, slider would be perfect for opacity change for the onion skins.
 And about having variable opacity as per distance, i don't think

[2021-10-17 15:26] yoSachinkr commented on #2297
It's a good idea to provide an option to use either colored onion skins or the normal onion skins, as many would want to switch between them time to time.

[2021-10-17 16:15] yoSachinkr commented on #2297
https://user-images.githubusercontent.com/50204208/137635720-8008d953-7653-49f6-8e7c-de68c6df50c0.mp4

Just showing the color effect that I think would be better.

[2021-10-18 03:54] #2288 closed

[2021-10-18 14:10] morevnaproject opened #2373 "Parent Bone parameter is not static"
As per #2349 the "Parent Bone" parameter should be set to static, but it isn't.

Here is a video demonstration -
https://youtu.be/_kT05r-Zge0

Note that static parameters are indicated with green man icon -
![screenshot_010](https://user-images.githubusercontent.com/332868/137747584-24e58a41-47da-4239-9206-8756994996ba.png)

[2021-10-18 15:58] morevnaproject commented on #2297
I think it's better to leave all onionskin layers behind ^__^

[2021-10-18 16:02] FirasH commented on #2297
You mean all onion skins or only the previous ones?

[2021-10-18 16:33] yoSachinkr commented on #2297
Even this idea doesn't seem good either. It mistakenly popped up in my head. I'm testing the current implementation by the way. And I'm already seeing a lot of perks of having onion skin on top of the present frame.
First is, it gives idea to place the object/ layer to a different place with reference to the past keyframe.
(if the onion skin is supposed to be behind the present frame, it could hin

[2021-10-19 18:59] morevnaproject opened #2374 "Release version 1.5.1"
It's time to release next development version - 1.5.1!

Instructions here - https://synfig-docs-dev.readthedocs.io/en/latest/common/release.html

- [x] Bump version number: `./version-bump.sh 1.5.1` (see https://synfig-docs-dev.readthedocs.io/en/latest/common/release.html#update-version-number)
- [x] Add latest translations from Transifex
- [x] Write ChangeLog - https://github.com/synfig/synfig/pu

[2021-10-19 19:09] morevnaproject opened #2375 "Release version 1.4.3"
This is a plan for releasing next stable release from 1.4.x branch - 1.4.3.

Instructions here - https://synfig-docs-dev.readthedocs.io/en/latest/common/release.html

See ongoing work is at this PR - #2347 and #2462

- [x] Bump version number: `./version-bump.sh 1.4.3` (see https://synfig-docs-dev.readthedocs.io/en/latest/common/release.html#update-version-number)
- [x] Write ChangeLog
- [x] Test

[2021-10-19 19:11] #2357 closed, assigned to nobody

[2021-10-19 19:19] morevnaproject commented on #2221
If we will remove "hi_IN" locale, then it should automatically fallback to "hi" locale when system uses  "Hindi (India)". ^__^

[2021-10-20 09:25] FirasH opened #2379 "Add ability to search for fonts in Widget_FontFamily"
**Is your feature request related to a problem? Please describe.**
![widget-fontfamily](https://user-images.githubusercontent.com/6705690/138066541-dd7de98b-bb9e-4cf9-9f39-a2f6e72c65d7.PNG)

Currently the `Widget_FontFamily` lists the installed fonts and allows for custom inputs, but not for searching.
This means that selecting a specific font requires to scroll the list which could be very long.

[2021-10-21 02:50] ice0 commented on #2293
@morevnaproject
The problem is that there is no FontConfig configuration in `SynfigStudio.app/Contents/Resources/etc/` and the FontConfig path is set to that directory.

[code]

This results in an error because it doesn't know where the fonts are located.

[code]

Can you share your FontConfig package directory so I can check if this helps? Unfortunately, I have a different version of FontConfig,

[2021-10-21 03:41] morevnaproject commented on #2297
@yoSachinkr I am sorry, but in my opinion (and practical experience) having future onionskin behind of current frame doesn't prevents precise artwork changes.

Please check how this implemented in other animation programs (i.e. Krita, OpenToonz) - they have previous and future onionskin shown behind of current. ^__^

In any case, I believe tweaking this behavior is a matter of changes 2 lines of c

[2021-10-21 03:48] morevnaproject commented on #2293
Sure! here is a fonts dir (it was located in `/usr/local/etc/fonts/`) -
[fonts.tar.gz](https://github.com/synfig/synfig/files/7385821/fonts.tar.gz)

[2021-10-21 06:38] ice0 commented on #2374
@morevnaproject Can you wait until I fix problem with FontConfig on MacOS?

[2021-10-21 12:12] morevnaproject commented on #2374
@ice0 Let's leave the fix for 1.5.2 (or 1.6.0 if everything will be alright with 1.5.1) ^__^

[2021-10-21 13:28] morevnaproject commented on #2297
Ah, I see what you mean now. Yes, in Synfig we are different because we deal with filled shapes... Hmm... Makes sense, thank you!

That made me think about one more idea: it might be useful to have outline view in Synfig. ^__^

[2021-10-21 14:11] yoSachinkr commented on #2297
It'll be amazing. And regarding that I'd love add, highlighting of path with mouse hover. It'd help to select the desired thin outlines quickly.
![Animation](https://user-images.githubusercontent.com/50204208/138295229-df90ee00-410b-4a28-be31-4d0ebaecc26e.gif)

[2021-10-23 23:17] rodolforg opened #2381 "Crash when using Width Tool on Skeleton Layer"
**Describe the bug**
When user the Width tool on a Skeleton layer, Synfig crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. With Bone Tool, create a skeleton layer with two bones at least
2. Assure the Skeleton Layer is selected
3. Swap to Width Tool
3. Click on a bone on workarea
4. It crashes

**Expected behavior**
If nothing is supposed to happen, at least don't crash.

**System in

[2021-10-24 10:25] yoSachinkr opened #2383 "Feature request: Snap to path"
Like snap to grid, snap to guides, there should be an option for snapping to paths.

[2021-10-28 18:09] FirasH opened #2390 "Animating Active Layer Name of Switch Layer crashes Synfig Studio"
**Describe the bug**
Animating `Active Layer Name` of the attached file crashes Synfig Studio.

**Step to Reproduce**
1. Open the attached animation file:
[SwitchCrash.zip](https://github.com/synfig/synfig/files/7436429/SwitchCrash.zip)

2. Turn on animate editing mode
3. In the `Layers` window select `Occhiale` > `Occhio SX`
4. In the `Parameters` window change `Active Layer Name`

Synfig Studio

[2021-10-29 07:57] FirasH opened #2391 "Eyedropper cursor is not visible"
**Describe the bug**
Using the eyedropper tool, the cursor is not visible. This makes picking colors from Canvas very difficult.

**Steps to Reproduce**
1. Create a new animation
2. Click on the `Outline` or `Fill` color in the `Toolbox`
3. Now `Colors` dialog is opened, click on the eyedropper tool
The cursor is not visible, everything else is working as expected.

**Expected behavior**
The eyedr

[2021-10-29 12:46] newbluemoon opened #2392 "Don’t let `configure` filter out the compiler’s `-g` option to produce debug information"
**Is your feature request related to a problem? Please describe.**
On Void Linux packages are built with gcc’s `-g` option to produce debug information which is then stripped into a separate package.

However, around line 85 in
https://github.com/synfig/synfig/blob/master/ETL/m4/subs.m4
https://github.com/synfig/synfig/blob/master/synfig-core/m4/subs.m4
https://github.com/synfig/synfig/blob/master

[2021-10-29 22:57] rodolforg commented on #2390
I tested on Linux here and looked at console output: master branch, AppImage 1.5.0/1.4.2/1.4.1, Debian 1.4.0, AppImage 1.2.1-testing-17.09.09 ... All of them output this when I follow the steps mention by FirasH.

[code]

[2021-10-30 07:33] yoSachinkr commented on #2391
This happens only in only appveyor builds in my case.

[2021-10-30 07:44] ice0 commented on #2390
It reproduces for me on Linux when `G_DEBUG=fatal-criticals` is set.

[2021-10-30 10:13] morevnaproject commented on #2374
@ice0 The tarballs are ready for Snap/Flatpack updates! - https://github.com/synfig/synfig/releases/tag/v1.5.1 ^__^

[2021-10-30 10:30] morevnaproject commented on #631
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:30] morevnaproject commented on #389
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:30] morevnaproject commented on #831
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:31] morevnaproject commented on #1566
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:31] morevnaproject commented on #2065
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:31] morevnaproject commented on #1562
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:31] morevnaproject commented on #1817
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:43] morevnaproject commented on #2321
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:44] morevnaproject commented on #643
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:44] morevnaproject commented on #2357
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:44] morevnaproject commented on #2283
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:45] morevnaproject commented on #1454
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:45] morevnaproject commented on #1649
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:45] morevnaproject commented on #2219
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:45] morevnaproject commented on #2344
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:45] morevnaproject commented on #2346
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:46] morevnaproject commented on #2320
Resolved in Synfig version 1.5.1 - https://www.synfig.org/2021/10/30/synfig-studio-1-5-1-released/

[2021-10-30 10:57] morevnaproject commented on #2374
The version 1.5.1 is released now! :tada:

@ice0 Leaving this issue open for remaining Flatpack/Snap updates. ^__^

[2021-10-30 11:57] yoSachinkr opened #2393 "Unable to execute plugins"
**Describe the bug**
Unable to execute plugin. Synfig throws the following error.
![image](https://user-images.githubusercontent.com/50204208/139531896-45a5e2a3-4d67-425f-8cc6-f7a3bbdce6ae.png)

**Expected behavior**
Plugins should execute.

**System information:**
 - OS: windows 10 21h2
 - OS version: 64bit
 - Commit ID: SynfigStudio-1.5.1-2021.10.21-win64-2cb6c

ps: I.m using zip package and usi

[2021-10-30 20:34] FirasH commented on #2391
For completeness the issue has been reproduced with an AppVeyor build in my case, I never build on Windows.

[2021-10-30 20:40] rodolforg commented on #2393
Working normally in Synfig AppImage 1.5.1

@morevnaproject Is it a bundling issue?

[2021-10-30 20:42] rodolforg commented on #2391
It is missing some icon then.
Get it from an official release zip :)

[2021-10-31 13:33] Gilraiser opened #2397 "Synfig Studio appImage 1.5.1 does not work with ArchLinux"
**Describe the bug**
The development version 1.5.1 AppImage does not run on the ArchLinux operating system. After having given the corresponding execution permissions, the information that the console returns is the following:

/tmp/.mount_pOKyZn/usr/bin/synfigstudio: symbol lookup error: /usr/lib/libfreetype.so.6: undefined symbol: hb_ot_tags_from_script_and_language

**To Reproduce**
Steps to re

[2021-10-31 14:19] rodolforg commented on #2397
`hb_ot_tags_from_script_and_language` is a harfbuzz command.
Maybe the shipped version is too old?

[2021-10-31 16:01] Gilraiser commented on #2397
Hi
rodolforg. Please excuse me, because I do not understand what you wrote, but I have updated the operating system to date and the Synfig appimage I downloaded from the GitHub link.

On the other hand, with the name harfbuzz I have the following installed:

local/harfbuzz 3.0.0-1
    OpenType text shaping engine
local/harfbuzz-icu 3.0.0-1
    OpenType text shaping engine (ICU integration)
local/l

[2021-10-31 17:43] ice0 commented on #2393
Yes. I don't know why, but `${MINGW_BIN}/gspawn-win??-helper.exe` is missing. You need to add it to the archive.

[2021-11-01 16:11] Gilraiser commented on #2397
I tested on a virtual machine, with an ArchLinux without updating for several weeks. This OS had harfbuzz version 2.8.2-1 and Synfig 1.5.1 appimage ran successfully. After I upgraded this system the same problem occurred.

A week ago I compiled from the master branch this same version and I have not had any problems.

[2021-11-01 16:20] rodolforg commented on #2397
Are you able to compile by yourself instead of using the AppImage?
I don't know anything about AppImage bundling, but this way we'll know if it is an AppImage package issue or library version mismatch.

Btw, since #2232 we depend on harfbuzz library.

[2021-11-01 16:37] ice0 commented on #2397
The problem is that we are bundling an old version of the harfbazz library, which requires old `lybreetype.so.6` library.
An easy solution - is not bundle it, and just use the system one.
Another solution is to add `libfreetype.so.6` to AppImage and check if it doesn't break anything.

[2021-11-01 17:11] rodolforg commented on #2397
So you can't run Synfifg Studio you compiled yourself?

[2021-11-01 17:14] Gilraiser commented on #2397
The one I compiled from the master branch works fine when I run it. It is the appimage that you download from github version 1.5.1 that does not run and throws the error.

[2021-11-01 17:16] Gilraiser commented on #2397
A thousand apologies if I did not make myself understood. I mean, I don't know how to create appimage packages.

[2021-11-02 07:28] #1145 closed

[2021-11-04 06:46] #2302 closed

[2021-11-06 05:57] Bala621 opened #2403 "Add ability to multiple selection when importing files"
i can't import more than one image or file. it is very hard to import multiple files.

if add ability to ctrl+ and shift+ selection. it will be very easy
![importb select](https://user-images.githubusercontent.com/68197434/140599634-a9bc59a2-48b7-4454-8bea-76993a3f430e.jpg)

[2021-11-06 06:02] b-aaz commented on #2403
There is a workaround (atleast in linux)
Just select your files and drag and drop!

[2021-11-09 03:15] rodolforg opened #2410 "[Windows] Can't import file into a saved SIF animation (if both are on the same disk)"
**Describe the bug**

(Reported by velizet on forums: https://forums.synfig.org/t/cannot-import-file-onto-itself/12721)

**To Reproduce**
1. Open Synfig
2. Save as a file
3. Menu File > Import
4. Select a PNG file
5. It doesn't accept the import with the error message "You cannot import a file to itself"

**Expected behavior**
A clear and concise description of what you expected to happen.

**Scre

[2021-11-09 03:35] #2175 closed

[2021-11-09 03:35] #2179 closed

[2021-11-09 03:35] #2176 closed

[2021-11-09 04:21] #1208 closed

[2021-11-09 05:06] veermetri05 commented on #2005
I would like to work on this issue, what files should I look into ?

[2021-11-09 05:26] rodolforg commented on #2005
Whoa! Such a jump in the dark :)

A while ago I started to write a dev-doc page about creating synfigapp::Action, but never finished.
https://github.com/synfig/synfig-docs-dev/pull/80/files

[2021-11-09 06:06] rodolforg opened #2411 "`Esc` should cancel the in-going edition of a layer parameter value"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm typing a new value for a parameter and I gave up on this edition, but I can't cancel it by keyboard.

**Describe the solution you'd like**
By pressing `Esc` I should be able to cancel my in-going edition on the Value column of the Parameters Panel as I'm able to when editing a layer name in the Layers

[2021-11-09 12:23] b-aaz opened #2412 "build.sh auto thread count detection?"
**Is your feature request related to a problem? Please describe.**
It takes aloooooot of time to compile
**Describe the solution you'd like**
So in the build.sh in autobuild directory line 54 we have
`MAKE_THREADS=2				#count of threads for make
`
And I actually didn't know this variable existed for along time and I think meny other people don't know it too So can the script get the value from /pr

[2021-11-12 13:11] veermetri05 commented on #2005
I don't think I am able to understand everything properly and work on this issue, maybe I should try something easier first 😅.

[2021-11-13 23:55] DhairyaBahl commented on #2106
@ice0 I would like to work on this issue ! Kindly assign it to me.

[2021-11-14 03:25] ice0 commented on #2106
@DhairyaBahl

I'm not sure so I want you to check this. Better to start with Windows if possible.

The most common reason of crash is an unhandled exception in a signal handler. So you need to check if there is a `try/catch` section in the autosave handler.

https://developer-old.gnome.org/gtkmm-tutorial/stable/sec-exceptions-in-signal-handlers.html.en

[2021-11-14 03:29] ice0 commented on #2005
@veermetri05 No problem.

You can check for issues with ["good first issue"](https://github.com/synfig/synfig/issues?q=is%3Aissue+is%3Aopen+label%3A"good+first+issue") label.

[2021-11-14 03:39] ice0 commented on #2412
Hi!

Thank you for a response. To increase the number of build threads, you can use the `build.conf` file.
It is already described here: https://synfig-docs-dev.readthedocs.io/en/latest/building/Building%20using%20Autotools.html

Have you seen this instruction?
Maybe move this section to the beginning? Or add it to the readme file?

[2021-11-14 07:57] yoSachinkr opened #2413 "Portrait videos (9:16) videos are not rendering properly"
When I render portrait video in synfig, the video comes out squeezed. Like this:

https://user-images.githubusercontent.com/50204208/141672708-e897ac69-8782-45af-a773-1db3b48667ff.mp4

**Expected behavior**
It should come out like this:

https://user-images.githubusercontent.com/50204208/141672588-9e827818-a937-44fb-b2b5-8a58c3de0ad0.mp4

**System information:**
 - OS: Windows 10 64bit 21h2

 - Co

[2021-11-14 14:17] rodolforg commented on #2413
It works as expected on 1.5.0

[2021-11-14 21:32] clawsoon opened #2415 "Can't reopen saved file if bone linked to bone, fixed by moving <defs> before <bones>"
If I:

 - create two unconnected bones,
 - export Local Length Scale from one bone as BoneLength,
 - use the exported value in the other bone, then
 - save the file,

Synfig is not able to re-open the saved file, failing with:

"Unable to load [path to file]: &lt;bone&gt;:55:error: Unable to resolve BoneLength"

The file can be rescued by opening it in a text editor and moving the &lt;defs&gt; sec

[2021-11-14 21:34] clawsoon commented on #2415
[bug.zip](https://github.com/synfig/synfig/files/7534720/bug.zip)

[2021-11-15 12:35] rodolforg commented on #2415
Related to #362

[2021-11-15 13:14] clawsoon commented on #2415
Ah, yes, that appears to be exactly the same problem.  I see from that bug that simply swapping the order of defs and bones isn't enough, since that creates a different problem.

[2021-11-15 15:02] morevnaproject commented on #2412
Woah! That's the feeling when you are the person who wrote that thing with  “build.conf.sample” and forgot that.
I was building with 2 threads last months! XD

[2021-11-15 15:13] morevnaproject commented on #2413
Just a blind shot: can this be because of changes in #2351? ^__^

[2021-11-15 15:24] morevnaproject commented on #2397
@Gilraiser Can you please check if 1.5.0 appimage works for you?

@ice0  :rofl:
We have removed freetype from appimage after version 1.4.1 - https://github.com/morevnaproject/morevna-builds/commit/86e24a42a32241d3a8fb0b818cd7d0b6898bafcd
So, 1.4.2, 1.5.0 and 1.5.1 appimages do not include fontconfig/freetype.
This is done to fix fontconfig slow start problem - https://github.com/synfig/synfig/issu

[2021-11-15 15:26] morevnaproject commented on #2397
Found relevant issue - https://bugs.archlinux.org/task/71680

[2021-11-15 15:33] morevnaproject opened #2417 "Wider time track space at start and end"
This issue continues #1145 and PR #2400. ^__^

It would be nice to have wider margins at the start at at the end of timetrack.

The PR #2400 sets extra margin = 3px.
And it is easy to make it wider, just by changing one line of code.
I have set it to 8px and it looks nice.

But after changing margin to 8px there is a problem appears: now it allows to drag waypoint from frame 0 to frame -1 or -2.
T

[2021-11-16 01:12] ice0 commented on #2397
@morevnaproject

We have removed `fontconfig`. I'm not sure if `freetype` was removed as an unnecessary dependency of `fontconfig` or if it breaks something. That's why I suggested  to check this.

[2021-11-16 01:37] ice0 commented on #2374
1.5.1 is available in beta channels on Snap Store and Flathub.

[2021-11-16 01:37] #2374 closed

[2021-11-16 02:10] rodolforg commented on #2417
Only 0 or any time lower than current minimum time (set in Canvas properties)?

[2021-11-16 04:27] #2412 closed

[2021-11-17 05:55] nickleus27 commented on #2403
I am interested in this issue.  Is there any contributing documentation I should read? Or can anyone point me in the right direction as far as files I should be looking at?

[2021-11-17 06:09] ice0 commented on #2403
@nickleus27 Hi!

You can start from here: https://synfig-docs-dev.readthedocs.io/en/latest/

GUI files located in `synfig/synfig-studio` folder.

[2021-11-17 06:13] nickleus27 commented on #2403
@ice0 cool thanks.

[2021-11-17 06:48] #2379 closed

[2021-11-17 19:20] nickleus27 commented on #2403
@ice0 Hi how are you today? I think I have found the gtk method for selecting multiple files.  I am new to C++ GUI's and I would need to add it.  After looking through the codebase I am thinking somewhere in synfig/synfig-studio/src/gui/docks/, synfig/synfig-studio/src/gui/trees/, or in the synfig-studio/src/gui/app.cpp file itself?  Would appreciate any advice.

[2021-11-17 22:12] rodolforg commented on #2403
You can `git grep` to search for `import` :) I think it is on app.cpp. A lot of open dialogs are there.

[2021-11-17 22:32] nickleus27 commented on #2403
@ice0 thank you that is really helpful. right now I am having trouble building from source.  When I run ./2-build-debug.sh after installing all the dependencies I run into problem.  When the build is configuring it exits with error:  You need to install Boost >= 1.53.0.  However, I thought that was installed when I ran the previous ./1-setup-osx-brew.sh?  I am on macos, is there any path that I ne

[2021-11-17 23:27] nickleus27 commented on #2403
@ice0 I fixed my last problem with installing boost from the tar file.  But now the build is exiting with error:

  CXXLD    libmod_openexr.la
ld: warning: ignoring file /usr/local/opt/gettext/lib/libintl.dylib, building for macOS-arm64 but attempting to link with file built for macOS-x86_64
Undefined symbols for architecture arm64:
  "half::_eLut", referenced from:
      half::half(float) in libm

[2021-11-18 00:17] ice0 commented on #2403
@nickleus27
Looks like you are building on M1?
Try CMake build: https://synfig-docs-dev.readthedocs.io/en/latest/building/Building%20using%20CMake.html

[2021-11-18 00:19] ice0 commented on #2403
I'll make a fix soon.

[2021-11-18 00:25] nickleus27 commented on #2403
@ice0 awesome, cmake seems to be working.  Any advice when I want to recompile just the synfig-studio files after I make changes to gui?

[2021-11-18 00:55] ice0 commented on #2403
Just type `make -j8` in you build directory - CMake detects changes automatically.
Final binary will be in `<build_directory>/output/Debug/bin/` folder.

[2021-11-18 05:38] Gilraiser opened #2423 "@Gilraiser Can you please check if 1.5.0 appimage works for you?"
@Gilraiser Can you please check if 1.5.0 appimage works for you?

@ice0  :rofl:
We have removed freetype from appimage after version 1.4.1 - https://github.com/morevnaproject/morevna-builds/commit/86e24a42a32241d3a8fb0b818cd7d0b6898bafcd
So, 1.4.2, 1.5.0 and 1.5.1 appimages do not include fontconfig/freetype.
This is done to fix fontconfig slow start problem - https://github.com/synfig/synfig/issu

[2021-11-18 05:38] #2423 closed

[2021-11-18 05:42] Gilraiser commented on #2397
Hello, sorry for answering late. My version of freetype is freetype2 2.11.0-4. I hope it is still helpful.

[2021-11-18 19:23] Gilraiser opened #2426 "Titles next to dockers' icons take up a lot of space."
**Describe the bug**
Titles next to docker icons take up a lot of space unnecessarily that takes away the size of the workspace.

**Expected behavior**
Dockers should display the title and icon only when given considerable width by resizing the docker

**Screenshots**
![synfigdockerstitle](https://user-images.githubusercontent.com/45057390/142481913-546c2ac1-07ab-46b8-97b3-c4cbb5b0fc03.png)

**Sys

[2021-11-18 19:50] Bala621 opened #2427 "Add Snap ability to waypoints like snap to guide"
In the latest version, we can easily handle waypoints (duplicate,move,scale) except one think ( snap with timeline cursor option )

 Because sometimes we have to work with long animation project and also many waypoints that time we have to resize the timeline panel to minimum with ctrl+shift+(-). If we want to change a location of waypoint position to exact frame or sec, we must zoom it again ctrl

[2021-11-19 07:22] nickleus27 commented on #2403
@ice0 for some reason why i tried to recompile with cmake today i got error messages that I am missing packages.  I have been adding PKG_CONFIG_PATH to my .zshrc file for a long time now.  Every time I add the missing package there is a new one.  Any idea how to fix this?

[2021-11-19 11:43] ice0 commented on #2403
@nickleus27 Can you post last 10-20 lines of your error message?

[2021-11-19 11:44] ice0 commented on #2403
Also can you show output of `pkg-config --list-all` command?

[2021-11-20 02:56] ice0 commented on #2410
@rodolforg
This is a packaging problem.
First I checked and the problem doesn't reproduced on latest master.
Then I downloaded the archive from the latest build  https://ci.appveyor.com/api/buildjobs/60kig9u0ohdes0s5/artifacts/SynfigStudio-1.5.0-testing-2021-11-17-win64-27ea6.zip. Problem is not reproduced here too.

After that I replaced all third-party libs (GTK/GIO, etc) in the official release

[2021-11-20 03:00] #246 closed

[2021-11-20 04:28] nickleus27 commented on #2403
@ice0 Whenever I run make I get an error message about a missing package.  Then I add the package path to .zshrc and then I get a new missing package error.  This is the current missing package error:

-- Checking for module 'gtkmm-3.0'
--   Package 'gdk-pixbuf-2.0', required by 'gdk-3.0', not found
CMake Error at /opt/homebrew/Cellar/cmake/3.19.4/share/cmake/Modules/FindPkgConfig.cmake:553 (messa

[2021-11-20 05:02] nickleus27 commented on #2403
I may have both installed. I cant remember. How can I check. brew -v outputs this:

(base) nanderson@Nicholass-MacBook-Air cmake-build % brew -v
Homebrew 3.3.4-72-g27a7629
Homebrew/homebrew-core (git revision 1b2746fd0b7; last commit 2021-11-20)
Homebrew/homebrew-cask (git revision fbb42995b4; last commit 2021-11-20)

When I first got the M1 Mac no one had M1 native software.  After a while of hav

[2021-11-20 05:23] nickleus27 commented on #2403
if have brew at /opt/homebrew and i also found it here /usr/local/Homebrew
Could this be a problem?

[2021-11-20 05:54] ice0 commented on #2403
Yes. I haven't tried using both at the same time, but in theory it could lead to some problems.
`/opt/homebrew` - is arm version
`/usr/local/Homebrew` - is x86_64 version

You can check you current chosen architecture by typing `arch` in console.
For example this is my output:
[code]

This also can lead to problem. Better to remove it (as it can pick the wrong folder). Currently you have 2 version

[2021-11-20 06:14] nickleus27 commented on #2403
I deleted build folder and deleted the paths in the .zshrc, and this did the trick. Thank you @ice0 .

[2021-11-21 00:24] nickleus27 commented on #2403
@ice0 I was able to get the gui to select multiple files.  However, I have not figured out how to get them all to import when you press "import" button.  I made my change in App::dialog_open_file() and it seems to get called in CanvasView::import_file().  Can I do a for loop somewhere for file row selected?

[2021-11-21 02:14] ice0 commented on #2403
@nickleus27
As you may have noticed, `App::dialog_open_file` returns the selected filename using a reference variable.
Therefore, I propose to divide this task into smaller ones.
1. Allow the `dialog_open_file` method to return multiple files:
a) Change `std::string &filename` parameter to `std::vector<std::string>& filenames` parameter.
b) Add a new `bool allow_multiple_selection` parameter to ma

[2021-11-21 02:22] nickleus27 commented on #2403
@ice0 Thanks, you're awesome.  I really appreciate you helping me along.  Well I was on the right track because I have already done 1a.  But your advice for 1b i didn't think of and that is a great idea.  Thank you so much, I will work on these steps.

[2021-11-21 02:24] #362 closed

[2021-11-21 02:24] #2415 closed

[2021-11-21 17:12] richardhenwood commented on #2276
I'm wondering if this is related: Synfig crashes for me when touching the screen of my Dell XPS 13 9370, compiled from source with commit 6e3a4502338b8c32b554d8b42b61a199c70ad113

[code]

[2021-11-22 02:52] ice0 commented on #2276
@richardhenwood
Hi! Can you show full backtrace? You can get it from core dump.

[2021-11-22 05:52] nickleus27 commented on #2403
@ice0 Alright, I have almost finished step 1 from your comment earlier.  I will review changes before opening a pull request tomorrow.  The only thing is I overloaded the dialog_open_file function instead of creating the bool allow_multiple_selection parameter.  So now there is App::dialog_open_file(const std::string &title, std::vector<std::string> &filenames, std::string preference) and the orig

[2021-11-22 06:23] ice0 commented on #2403
I suggested using an additional parameter because this avoids copying the code, making it easier to maintain.
For example, if we copy the code of this function into a new one, then when adding a new file type, we will need to remember to add it to both functions.
I mean this part:
[code]

Another approach is also possible. You can extract the function code into a function with a parameter, and set

[2021-11-22 09:06] THEBATEZIOPARKER opened #2434 "AppImage Not Working On Fedora"
I am Using Fedora 35, Synfig Studio 1.4.2 AppImage is Not Working
Even The Development Version Is Not Working!!!!!!!!
I Am Getting This Error :-
https://user-images.githubusercontent.com/87817029/142832957-ed43b6c1-15a7-41f2-b8e7-08fcc99bdcb7.png

PLEASE HELP !!!!!!!!!!!!

[2021-11-22 10:34] rodolforg commented on #2434
Related to #2397

[2021-11-22 11:07] ice0 commented on #2434
@THEBATEZIOPARKER
Can you try flatpak version?
1.4.1 - on main channel and 1.5.1 is on beta channel.

[2021-11-22 15:05] morevnaproject opened #2435 "Can't drag Panels anymore"
In latest master it is not possible to grab Panel Tab and drag it.

Also, I have noticed the Panel's tab now include Panel's name, which might be not desirable if we want to save screen space. ^__^

![screenshot_001](https://user-images.githubusercontent.com/332868/142884825-05e9296b-4df0-495d-b89d-643077194c94.png)

The issue probably introduced in #2189.

[2021-11-22 15:14] THEBATEZIOPARKER commented on #2434
@ice0
I have been using Flatpak until Yesterday,
In the Flatpak Version Using The Draw-Tool, Synfig-Studio Crashes (From The Main Channel)
Need To try from the Beta Channel

[2021-11-22 15:29] FirasH opened #2437 "[Synfig Studio] Preferences > Restore Defaults doesn't restore default Keyboard Shortcuts"
**Synfig version & platform**:
master d312076

**Issue description**:
1) Go to: `Edit` > `Preferences` > `Shortcuts`
2) Edit a shortcut e.g. `redo` to `Ctrl+Shift+G`
3) Restore the default preferences with `Restore Defaults`

The shortcut set in step 2 is not restored.

[2021-11-22 15:33] FirasH commented on #2437
Yes!

[2021-11-22 16:43] #2435 closed

[2021-11-22 16:44] ice0 commented on #2426
Fixed in https://github.com/synfig/synfig/pull/2436

[2021-11-22 17:53] Gilraiser commented on #2426
Muchas gracias,

[2021-11-22 17:54] #2426 closed

[2021-11-22 21:58] nickleus27 commented on #2403
@ice0 fyi: I pulled from the recent master today and I can no long build from cmake.  i get this error:

[ 45%] Linking CXX shared module ../../../../output/Debug/lib/synfig/modules/libmod_mng.so
ld: library not found for -lmng
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[2]: *** [output/Debug/lib/synfig/modules/libmod_mng.so] Error 1
make[1]: *** [synfig-co

[2021-11-22 23:23] ice0 commented on #2403
@nickleus27
Fixed in https://github.com/synfig/synfig/pull/2441
(Currently not merged yet, so you need to copy the changes to yourself)

[2021-11-22 23:25] nickleus27 commented on #2403
@ice0 thanks.

[2021-11-23 04:42] #2417 closed

[2021-11-23 05:22] richardhenwood commented on #2276
Hi @ice0 ,

Poking around and I've found the core.dump - and this backtrace:

[code]

[2021-11-23 23:30] DhairyaBahl commented on #2106
@ice0 I just tried to build synfig on windows and I am facing a lot of difficulties. Now, I can just test on linux or I can post here all the issues that I am facing right now in building synfig.

MINGW64 shell is not working as it should in my PC ! I tried re-installing everything and still facing many errors ! Not even able to build it completely. Kindly tell me what I should do ?

Thanks :)

[2021-11-24 02:18] ice0 commented on #2106
@DhairyaBahl

Sure, just post your issues here.

[2021-11-24 06:29] nickleus27 commented on #2403
@ice0 fyi i tried re cloning synfig just now and i get this error when I use cmake ..

[code]

[2021-11-24 11:57] ice0 commented on #2403
We use `pkg-config` to get the package paths. So you can just type:
[code]
to check if sigc++-2.0 is installed.

[2021-11-24 19:43] nickleus27 commented on #2403
@ice0 thank you.  I should have done that.  I just assumed it was there because I already installed it.  For some reason I had to source ~/.zshrc and then it found it.  It is weird because I did not make any changes to ~/.zshrc.

[2021-11-24 23:00] ice0 commented on #2276
@richardhenwood
Which tool was selected when you touch the screen?
What OS are you using?

[2021-11-25 02:28] THEBATEZIOPARKER opened #2446 "Flatpak Version Of Synfig-Studio Is Crashing When Using The Draw Tool !!!!!!"
Flatpak Version of Synfig-Studio is crashing when using the draw tool !!!!!!!
I have Tried in Fedora,Manjaro,Ubuntu And Arch, Flatpak Version is Crashing in All These Distros, Every Time It Crashes When Using The Tool.

While Running From Terminal Is Shows :-

❯ flatpak run org.synfig.SynfigStudio

   synfig studio -- starting up application...

Gtk-Message: 07:53:56.995: Failed to load module "ca

[2021-11-25 03:51] ice0 commented on #2446
@THEBATEZIOPARKER
Can you check this build:

`flatpak install --user https://dl.flathub.org/build-repo/66106/org.synfig.SynfigStudio.flatpakref`

[2021-11-25 04:05] THEBATEZIOPARKER commented on #2446
This Works!!!!!!!!!!!!!!!!!!!!!!!
THANKS A LOT

[2021-11-25 04:05] #2446 closed

[2021-11-25 04:10] #2434 closed

[2021-11-25 05:30] richardhenwood commented on #2276
To reproduce: I used `2-build-debug.sh` to build, then executed `_debug/build/bin/synfigstudio`.

Once the GUI loads, I tap the screen of my Dell XPS in the red region (in attached pic), and it crashed immediately. It seems that outside that region, it doesn't crash and eventually the touch-screen isn't recognized?
![Screenshot from 2021-11-24 23-22-23](https://user-images.githubusercontent.com/13

[2021-11-25 07:16] DhairyaBahl commented on #2106
@ice0 This is the issue I am facing while installing the dependencies.

<img width="660" alt="image" src="https://user-images.githubusercontent.com/71627983/143396273-a21dd34d-6b53-4a09-9bcd-4434825505db.png">

These are few of the errors that are popping up when I am trying to install the dependencies using ./1-setup-windows-msys2.sh and I am using Mingw64 which I just installed few mins ago !

[2021-11-25 07:17] #2427 closed

[2021-11-25 07:18] ice0 commented on #2446
@THEBATEZIOPARKER
Thanks for testing it.

[2021-11-25 07:22] ice0 commented on #2106
ok, I will take a look

[2021-11-25 07:25] ice0 commented on #2427
@Bala621
Hi!
Why did you close this issue? Have you found a solution for this?

[2021-11-28 16:08] yoSachinkr opened #2447 "Synfig crashes/doesn't work as expected while animating with exported canvas"
**Describe the bug**
Synfig crashes/ doesn't work as expected while animating with exported canvas.

**To Reproduce**
In dev version,
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/50204208/143776059-7112f05e-3b6a-4323-9a65-f8d6943e7863.mp4

**Expected behavior**
In stable version,

https://user-images.githubusercontent.com/50204208/143776147-4772931a-0c01-4df3-91e5-73

[2021-11-29 14:52] morevnaproject commented on #2276
@richardhenwood Does it crash if you build non-debug (production) version?

[2021-11-29 15:02] morevnaproject commented on #2397
Ah, I see now! "freetype" was required by "fontconfig". We ahve removed "fontconfig" and thus "freetype" was removed too.
You right, we can try to explicitly add freetype as dependency to synfig-core and see if that would work...

[2021-11-29 15:10] morevnaproject commented on #2397
I have made a test changes on build server. Now rebuilding packages...

[2021-11-29 18:43] Gilraiser opened #2448 "Distortions at the end of lines made with the drawing tool"
**Describe the bug**
The drawing tool generates a distortion at the end of the drawing that is made. The error occurs when the contour, region and advanced contour options are activated, whether they are used alone or at the same time.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the drawing tool.
2. Draw any shape with long click.
3. Finish the form by releasing the click.
4. Th

[2021-11-30 06:27] morevnaproject commented on #2397
@Gilraiser @THEBATEZIOPARKER
Here is the new testing package - https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.5.1-testing-2021.11.30-linux64-bef48.appimage
Can you please check if it solves the problem for you? ^__^

[2021-11-30 06:37] THEBATEZIOPARKER commented on #2397
It Fixed The Old Error But Created New Error :-
https://user-images.githubusercontent.com/87817029/143997681-275b35df-ad36-4f43-b83e-6d480b51a705.png

[2021-11-30 08:50] ice0 commented on #2447
@yoSachinkr Thanks for reporting, I will take a look.

[2021-11-30 21:19] DhairyaBahl commented on #2106
@ice0 Ping.

[2021-12-01 11:49] ice0 commented on #2106
@DhairyaBahl
Hi! This problem should be fixed by this PR: https://github.com/synfig/synfig/pull/2449

[2021-12-03 07:58] nickleus27 commented on #2411
Hi @rodolforg ! Is anyone working on this issue? If not I am interested.

[2021-12-04 04:33] ice0 commented on #2411
Hi @nickleus27!
Assigned it to you.

[2021-12-04 05:10] yoSachinkr opened #2450 "Feature request: Object mode and edit mode for synfig"
Imagine having object mode and edit mode in synfig just as in blender.
In object mode, all grouped elements will have selection lock "on" by default.
While in edit mode, all grouped elements will have selection lock "off".
Also, these two modes could be toggleable with a shortcut key, may be "Tab" key as suggestion.

[2021-12-04 05:18] nickleus27 commented on #2411
@ice0 I am looking in ```layertree.cpp``` with no luck.  Also, the only ```GDK_KEY_Escape``` case is in ```state_bline.cpp``` in the ```event_key_release_handler``` method, and in ```selectdraghelper.h``` in the ```process_key_release_event``` method.  I cannot see how these methods connect with the layer_tree?

[2021-12-04 06:03] ice0 commented on #2403
@nickleus27

Yes. If you need current changes, you can create a new branch from the current branch and continue here. If not - just create a new branch from master.

[2021-12-04 07:30] ice0 commented on #2411
I think Rodolfo wrote about this panel:

![Screenshot_2](https://user-images.githubusercontent.com/5604544/144701312-f056f046-73b3-46b5-bd93-9382508f903a.png)

it should be located in the `dock_params.cpp` file.

I think the `Esc` key is currently not connected to this panel and that is the reason why you cannot find it.
As for me it's best to start with a simple `gtkmm` app here, just to test how

[2021-12-04 07:32] nickleus27 commented on #2411
@ice0 awesome, will do.  This will help get me going 👍

[2021-12-04 13:54] Gilraiser commented on #2397
Hi everyone. I get the same error reported by friend @THEBATEZIOPARKER in console:

/tmp/.mount_qbvlWE/usr/bin/synfigstudio: symbol lookup error: /usr/lib/libfontconfig.so.1: undefined symbol: FT_Done_MM_Var

[2021-12-05 04:29] nickleus27 commented on #2411
Hi @rodolforg !  ice0 recommended i look in ```dock_params.cpp``` in regards to this issue.  After looking there for a while I ended up in ```cellrenderer_value.cpp``` .  Any advice if I am looking in the right area on this issue?  I see that ```on_editing_done()``` in ```cellrenderer_value.cpp```  is called when the you press enter in the "value" cell of the param table.  But, it does not respond

[2021-12-05 05:50] nickleus27 commented on #2411
@ice0 I have been looking over the gtk3-demo.  I have been looking at the editable cells demo, and the GtkCellRenderer::editing-started signal.  I am having a hard time figuring out why the cell responds to say the "return" key but not the "escape" key in the param "value" column in synfig.

[2021-12-06 16:14] MildlyBemusedBobcat opened #2452 "synfigstudio: pthread_mutex_lock.c:90: ___pthread_mutex_lock: Assertion `mutex->__data.__owner == 0' failed. on render with audio"
**Describe the bug**
On master from Nov 26, rendering fails partway through with an assertion, after a lot of internal recursion

[code]

Looking at the backtrace for the asserting thread, it is heaving recursed inside mlt

[code]

**To Reproduce**
We can reproduce it every time on our project, not sure how to reproduce generally.

Our steps are reproduce via render ffmpeg to avi, there is a pause

[2021-12-06 17:36] ice0 commented on #2411
@nickleus27

Please check `bool on_event(GdkEvent *event)` method (`cellrenderer_value.cpp`). It looks like it stopping propagation of the event.

P.S. Rodolfo wrote that he will be busy at work for a while, this is the reason why he doesn't respond.

[2021-12-06 17:41] ice0 commented on #2452
Hi @MildlyBemusedBobcat!

1. Are you using `CMake` or `autotools` for compile?
2. Is this issue reproducible in the Release build?
3. Are you using `synfig` or `synfigstudio` for rendering?

[2021-12-06 19:21] MildlyBemusedBobcat commented on #2452
@ice0 thanks for the reply.

It's cmake.

We rebuilt the debug version with `-DCMAKE_BUILD_TYPE=RELEASE`, well, for a small render of 48 frames, the assert does not fire and it can continue to complete the avi.

However for a larger render, of a few thousand frames, it segfaults instead of asserting after generating 21 - 22MB of avi content.  Trying the same render again, but under gdb, it was abl

[2021-12-06 19:52] nickleus27 commented on #2411
@ice0 Thank you for your response. The GDK_KEY_RELEASE gets triggered when you press `esc` in the ```bool on_event(GdkEvent *event)``` method but it does not trigger ```void on_editing_done()``` method in the same class.  This issue might be out of the scope of my understanding.  It is not clear to me how ```on_editing_done()``` is called from ```on_event(*event)```

[2021-12-06 19:59] nickleus27 commented on #2411
I guess it gets called from ```signal_edited()``` ?

[2021-12-06 22:31] rodolforg commented on #2411
Hi @nickleus27 sorry my absence, I'm really 'suffocated' with my job due to end of year.
But take a look here https://github.com/synfig/synfig/issues/1208, maybe it helps you.

[2021-12-06 22:49] nickleus27 commented on #2411
@rodolforg Thank you for your response, this definitely helps.

[2021-12-07 04:13] nickleus27 commented on #2411
I am still having a hard time understanding how program branches to ```on_editing_done()``` or ```on_value_editing_done()``` from what I think it ```on_event(Gdk::Event *event)``` after reading issue #1208 .

[2021-12-07 16:25] rodolforg commented on #2411
Several (all?) gtk signal callbacks/slots that are supposed to return a bool value that, if true, means the event shouldn't handled anywhere else - you did what it should be done.

The `on_event` is a general signal slot (for 'any' event signal), `on_key_press_event` is specific for key-press signal. So, `on_event`, yes,, can be used to handle the key-press signal.

The Esc key pressing should cal

[2021-12-07 16:26] ice0 commented on #2411
This is the expected behavior ([docs](https://developer-old.gnome.org/gtkmm/3.24/classGtk_1_1CellEditable.html#a1d284887ce7c17b68e6e996e5a17db1d)).

Unfortunately, they didn't describe how to intercept the Esc key, so it just should work out of the box.
I think the reason it doesn't work is because it is not a standard widget in Synfig.
As you may notice in `CellRenderer_ValueBase::start_editing_v

[2021-12-07 18:03] nickleus27 commented on #2411
@ice0 @rodolforg thanks guys. This is really helpful information.

[2021-12-07 19:05] nickleus27 commented on #2411
@ice0 Lol, I have most of the value EventBox's escaping now except when the the EventBox has the Value type of real. Trying to figure that out at the moment.

[2021-12-09 03:52] ice0 commented on #2447
Hi, @yoSachinkr!

Unfortunately, I was unable to reproduce the issue.

Can you try to reproduce it again? Can it be reproduced if you save the file before the crash?
I think maybe I am missing some step here.

[2021-12-09 13:01] yoSachinkr commented on #2447
@ice0 Yes it is reproducible even after saving the file. but this time it took a while and I was able to make 3-4 keyframes in the exported canvas before the crash.