[2020-10-31 22:23] rodolforg commented on #1713
Thank you, @Keyikedalube !!
I was pretty sure that was a 'external' dialog problem (color, gradient, ...), that main app catch keypress events before those dialogs for accels!

So I checked the differences between Dialog_Color and CanvasProperties, and here it is:
`	add_accel_group(App::ui_manager()->get_accel_group());  `
This line makes in those problematic dialogs is the responsible to ensure t

[2020-11-01 03:12] ice0 commented on #1808
I want to back to this question later, but for me the standard way to get focus out of the edit window is to press the ʻEnter` key or click somewhere outside of it.

[2020-11-01 03:31] ice0 commented on #1175
I suggest to leave it open. I want back to this issue, when we done with CSS and other stuff.

Another drawback for me can be common UI style for Windows/MacOS.
Also header bars looks good for simple applications like video players or book readers/calendars but I am not sure about complex apps.

[2020-11-01 03:33] ice0 commented on #1794
Done :)

[2020-11-01 07:20] Keyikedalube commented on #1175
The screencast linked in the description above is GNOME Builder app. That's... complex app

[2020-11-02 01:48] Keyikedalube commented on #1552
Closed in favor of #777

*Reason discussed [here](https://github.com/synfig/synfig/pull/1577#issuecomment-719881157) and [here](https://github.com/synfig/synfig/pull/1577#issuecomment-720063687)*

[2020-11-02 01:48] #1552 closed

[2020-11-02 01:52] Keyikedalube opened #1818 "Migrate ui to resources folder"
This is to standardize synfigstudio resources folder like gedit and other gtk apps.

Changes required:
- Move glade files to new proposed folder
- Update CMake and Autotools script

_Originally posted by @rodolforg in https://github.com/synfig/synfig/pull/1577#issuecomment-663950623_

[2020-11-02 03:14] ice0 commented on #1175
Yeah, and the previous version looks better to me :)

[2020-11-02 11:07] DhairyaBahl commented on #1599
@rodolforg I would like to work on this issue if its available !

Thanks :)

[2020-11-02 11:28] ice0 commented on #1599
Rodolfo already fixed autotools, need only fix CMake build.
Please also check this:
[code]

`MAGICKCORE_QUANTUM_DEPTH` and `MAGICKCORE_HDRI_ENABLE` should be set with CFLAGS by `pkg-config` (if I remember correctly)

[2020-11-02 11:41] DhairyaBahl commented on #1599
@ice0 Thanks for the help. I am on it. :)

[2020-11-02 15:17] morevnaproject commented on #1796
Exactly! The .sfg format handles file history. ^__^

[2020-11-04 17:14] MiLoCasellas commented on #591
Hi, I am using version 1.3.16 and the same problem still occurs.

![synfig_scroll_problem](https://user-images.githubusercontent.com/41242605/98143539-83987a80-1ec9-11eb-9851-a33a62ef128e.jpg)

[2020-11-05 03:12] Keyikedalube opened #1820 "Dock keyframes doesn't capture space input in entry text field"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
[Keyframes dock screencast.zip](https://github.com/synfig/synfig/files/5491701/Keyframes.dock.screencast.zip)

New canvas navigation shortcuts capture the following inputs
- `space` play/pause and
- `-` canvas zoom out

to canvas workspace making it difficult to enter those characters in keyframes dock descripti

[2020-11-05 03:15] Keyikedalube commented on #1820
I think this could be resolved with this suggestion https://github.com/synfig/synfig/issues/1713#issuecomment-719995751

[2020-11-05 03:15] Keyikedalube commented on #1713
I prefer option 2 :)

[2020-11-05 03:47] #1787 closed

[2020-11-05 16:03] morevnaproject commented on #1804
@yoSachinkr Can you please provide PGO file?

[2020-11-05 17:10] yoSachinkr commented on #1804
[Track-27-1.zip](https://github.com/synfig/synfig/files/5495860/Track-27-1.zip)
Here's the zip file containing .pgo and .wav files. @morevnaproject

[2020-11-06 04:07] #1713 closed

[2020-11-06 16:42] DhairyaBahl commented on #1794
@ice0 I would like to work on this issue but should I ?? its good first issue so i ideally i should leave it for the new contributors. I dunno, plz tell me.

Thanks:)

[2020-11-07 02:19] ice0 commented on #1794
@DhairyaBahl Sure, just take it. There is a lot of interesting issues for a new contributors and we can add more later :)

[2020-11-07 12:29] Keyikedalube commented on #1734
Cut/Copy/Paste behavior fixed in #1821 😃

Anyone who fixes #1814 also fixes this issue

[2020-11-07 13:45] DhairyaBahl commented on #1794
@ice0 @keyikedalube

I referred to [draft document](https://synfig-docs-dev.readthedocs.io/en/latest/projects/shortcuts.html) and there is no mention of use of the alt key. So, Do I have to use the alt key or just key ???

Kindly tell me Thanks :)

[2020-11-07 15:32] Keyikedalube commented on #1794
The goal is to implement single key behavior for synfig tool items just like Inkscape and GIMP.

Yes, you are going to use just the key.

Alt key is reserved for menu and button mnemonics.

[2020-11-07 15:48] DhairyaBahl commented on #1794
@Keyikedalube
Hello Interacting with you after a long time :)

Got it Thanks for help :)

[2020-11-07 16:05] DhairyaBahl commented on #1692
@ice0 @rodolforg

Work Update: I somehow managed to create the alternative for the function STUDIO_INTLTOOL_MERGE which is STUDIO_GETTEXT_MSGFMT but it is giving error that cannot locate ITS rules for xml.in files rest is working i guess. I would love to have some tips although i am referring to [this](https://www.gnu.org/software/gettext/manual/html_node/Preparing-ITS-Rules.html)

[2020-11-08 11:18] Svarov-RZM opened #1825 "Improper interpolation of bool type"
**Issue description**

The issue is that 'bool' values take three waypoints to change their state. Let's describe the following animation: the circle layer has its color wrapped into a 'switch' converter. We want the color to be blue at 0s and then change it to green at 1s. Should be easily accomplished with 2 waypoints: 'switch-off' at 0s and 'switch-on' at 1s. But that's not going to work becaus

[2020-11-08 14:53] Keyikedalube commented on #826
Anyone who fixes #1814 also fixes this issue

[2020-11-08 15:56] ice0 commented on #1692
@DhairyaBahl I used this link (https://wiki.gnome.org/MigratingFromIntltoolToGettext) to understand how it work.

Yes, because you need to use `itstool` instead of `msgfmt` to translate` plugin.xml` files.

Also I suggest to pause work on this issue. Just checked how it works, and in my opinion they did a step back with translating the xml with `itstool`. Using `itstool` requires some changes to o

[2020-11-08 16:02] DhairyaBahl commented on #1692
@ice0 Okay, No Problem, i am pushing the changes i made in my local machine to this PR for later reference, kindly let me know when we will work on this issue again. :)

[2020-11-08 20:10] rodolforg commented on #1599
Sorry I can't help you on this. I'm pretty dumb on CMake

[2020-11-08 23:50] rodolforg commented on #1766
@DhairyaBahl thank you for your help!

I was able to track e squash the other bug of OP.
Can you check it now, @Firash?

[2020-11-09 05:45] DhairyaBahl commented on #1599
@rodolforg No issues :)

[2020-11-09 05:55] ice0 commented on #1820
Can't reproduce on Windows.

[2020-11-09 05:58] rodolforg commented on #1820
@ice0 the Keyframe dock must be undocked, as a floating window.

[2020-11-09 06:36] ice0 commented on #1820
@rodolforg Confirmed. Thank you!

[2020-11-09 06:39] #1820 closed

[2020-11-09 16:35] Keyikedalube commented on #1818
"Easy" and "good first issue" ;)

[2020-11-09 16:42] rodolforg commented on #1590
@Svarov-RZM , if you want to/can test it… here it is :)

[2020-11-09 22:26] rodolforg commented on #972
@ice0 Any news about this issue? I think this issue and #1052 are the last critical issues for a 1.4.0 release…

[2020-11-10 04:45] ice0 commented on #972
@rodolforg I am working on it.

[2020-11-10 09:26] FirasH commented on #1766
Now font files are opened, but only when the full absolute path is specified.
It won't get relative paths like `./my-font.otf` in the project's folder.

I use this function with realtive paths, which is very useful in case of editing on different machine and operating systems.

[2020-11-10 13:15] rodolforg commented on #1766
@FirasH even with the file saved?

[2020-11-10 15:24] rodolforg commented on #1766
Ok, I can reproduce it now :P

[2020-11-10 15:50] FirasH commented on #1766
Yes.
Just loaded a project made with an older revision of 1.5 where text objects had a realtive path to font files w.r.t. the project file.

[2020-11-10 17:19] Svarov-RZM commented on #1590
@rodolforg
I've tested your branch, duplicate layer now works as expected. Additionally, it fixes particle template which I am a huge fan of. Many thanks for solving this issue, you rock man!

[2020-11-10 17:47] rodolforg commented on #1590
I don't have any idea what it is, but I'm glad it works now. lol

[2020-11-11 00:05] rodolforg commented on #384
@morevnaproject  :)

[2020-11-11 00:07] rodolforg commented on #414
@Keyikedalube  is this done?

[2020-11-11 00:07] rodolforg commented on #413
@ice0  is this fixed?

[2020-11-11 01:16] Keyikedalube commented on #414
I didn't notice this issue existed.

Yes, this requested feature is already implemented in #1776 :)

[2020-11-11 01:27] morevnaproject commented on #1590
https://wiki.synfig.org/Particles_V2.0 ^__^

[2020-11-11 04:34] ice0 commented on #413
Yes, now it works as planned.

[2020-11-11 04:34] #413 closed

[2020-11-11 10:03] #414 closed

[2020-11-11 10:05] #1590 closed

[2020-11-11 17:35] Svarov-RZM commented on #1825
Alright, I've tested it and all seems to be good. Boolean values now change their state on waypoints and not affected by any interpolation type. Would be nice to see this merged into the upcoming stable version. Thanks @rodolforg.

[2020-11-11 18:16] rodolforg commented on #1766
@FirasH  I believe now it's really solved :)

[2020-11-12 01:57] #658 closed

[2020-11-12 01:57] #1825 closed

[2020-11-12 04:09] ice0 commented on #1766
@rodolforg PR?

[2020-11-12 04:16] ice0 opened #1832 "[MacOS] SynfigStudio.app won't start if renamed"
As shown in this video: https://vimeo.com/448999497

If we rename `SynfigStudio.app` to `SynfigStudio 2.app` it won't start.

Linked issue: https://github.com/synfig/synfig/issues/972

[2020-11-12 04:29] rodolforg commented on #1766
@ice0 lol

[2020-11-12 04:39] ice0 opened #1835 "[MacOS] SynfigStudio.app won't start if filename contains spaces"
As shown in this video: https://vimeo.com/448999497

If we rename `SynfigStudio.app` to `SynfigStudio 2.app` it won't start.

Linked issue: #972

[2020-11-12 05:58] ice0 commented on #384
Added a fix for MPEG-1 output (https://github.com/synfig/synfig/pull/1830). Now should works fine.

[2020-11-12 06:20] DhairyaBahl commented on #1692
@ice0 I was having an idea, why don't we add gettext to synfig. and when it will become fully functional, then we can remove the intltool. till then let it run on intltool and by this we will keep moving forward on this issue. IDK your call.

Thanks :)

[2020-11-12 06:44] ice0 commented on #1692
@DhairyaBahl we already using gettext :) The last place where intltool is used - merge translation for the `plugin.xml` files. Gnome suggest to use `ITSTool` instead of `intltool` to translate this files. So I see only CONS here:
1) We are breaking our current translation pipeline;
2) We don not remove extra dependency - just switch it to another;
3) We need extra files (with rules) to do the same

[2020-11-12 06:46] DhairyaBahl commented on #1692
@ice0 Okay got it Sorry. Thanks for information :)

[2020-11-12 08:25] #1832 closed

[2020-11-12 08:25] #1835 closed

[2020-11-12 17:28] samuelsarao commented on #1458
Thank you so much for those modern icons. Now, Synfig looks more like it's from the year 2020. It looks gorgeous. Thank you. I love it <3

[2020-11-12 17:29] samuelsarao commented on #1458
I completely agree!

[2020-11-13 07:03] ebarranco opened #1837 "Laggy canvas"
**Synfig version & platform**:
Master Production build, Manjaro linux.

**Issue description**:

I've been experiencing a lag on canvas, even empty. It's more clear when you try to edit a shape, it updates like half a second later.

[Video](https://youtu.be/kiqqGtp1Jjk)

My terminal show this, maybe it's relevant.
![Screenshot_20201113_005703](https://user-images.githubusercontent.com/11136544/9903

[2020-11-13 07:13] morevnaproject commented on #1837
Hi! Can you please check if this happens with autotools build?

[2020-11-13 07:18] ebarranco opened #1838 "Input devices dialog don't keep changes"
**Synfig version & platform**:
Master Production build, Manjaro linux.

**Issue description**:

When I configure my tablet and then restart Synfig, the input dialog changes back to "disabled" device.

[2020-11-13 07:28] ebarranco commented on #1837
Yes @morevnaproject I did build it using the script today.

[2020-11-13 11:25] Accountant69 opened #1840 "eyedrop"
Synfig version 1.2.2
Windows version 10

it's possible to set fill color clicking on right click on the mouse?

[2020-11-13 14:18] ice0 commented on #1837
@ebarranco Is this `Debug` or `Production` build?

[2020-11-13 16:52] ebarranco commented on #1837
@ice0 Hi, Production build.

[2020-11-13 17:35] ice0 commented on #1837
@ebarranco ok, I will take a look. Can you check if problem is exists when tablet is disconnected?
I assume you have a tablet connected (https://github.com/synfig/synfig/issues/1838)

[2020-11-13 18:01] ebarranco commented on #1837
Yes @ice0 I had a wacom connected. The delay is still there, same without a tablet.

[2020-11-14 10:36] marillat opened #1842 "Cmake ignore all CMAKE_INSTALL variables"
synfig 1.4.0 Debian unstable amd64

Except CMAKE_INSTALL_PREFIX:PATH all others are ignored, so I can't install synfig where I want.
[code]

[2020-11-14 11:18] Keyikedalube commented on #1803
Late reply :P

Anyway, I did a quick investigation with your suggested "workspace.layout" file. The class that does the core work of set/get layout key values is `DockManager`
Tried printing the string `res` content when `DockManager::save_layout_to_string()` is called:

1. Default layout before closing canvas dock

2. After closing the dock

3. Re-launch synfigstudio

I haven't much time to keep

[2020-11-14 11:18] ice0 commented on #1842
Hi! @marillat can you check on latest master branch? Not all cmake changes where backported to 1.4.0 yet.

[2020-11-14 11:24] ice0 commented on #1842
Also where is still open issue in CMake build (https://github.com/synfig/synfig/issues/1196), so we planned to use autotools for production builds.

[2020-11-14 11:31] #1794 closed

[2020-11-14 12:39] marillat commented on #1842
synfing doesn't build with autotools.

I'll file a bugreport.

[2020-11-14 12:40] ice0 commented on #1840
Hi! Currently only left mouse button is used. The right mouse button is used to display the menu and I don't know if we change this behavior, is it breaks user experience or not.

[2020-11-14 12:49] marillat commented on #1599
I did this change, and imagemagick include patch are found.
I don't know why this doesn't work with 'COMPONENTS Magick++'
[code]

[2020-11-14 12:56] marillat opened #1843 "1.4.0 fail to build with autotools"
synfig 1.4.0 Debian unstable amd64

[code]

[2020-11-14 13:00] ice0 commented on #1599
@marillat ok, got it. Can you revert this change and change this line here:
https://github.com/synfig/synfig/blob/2d4d8b01dd59912587b2b1f0a59c4908553f7306/synfig-core/src/modules/mod_magickpp/CMakeLists.txt#L3

from
[code]

to
[code]

[2020-11-14 13:02] marillat commented on #1842
Still doesn't build

[code]

[2020-11-14 13:09] marillat commented on #1599
Still the same. The problem is that cmake don't "see" the includearchdir variable as defined in
/usr/lib/x86_64-linux-gnu/pkgconfig/Magick++.pc

[code]

[2020-11-14 14:46] DhairyaBahl commented on #1798
@Keyikedalube @ice0 I would like to work on this issue. It is much more like the previous issue that I solved of keyboard shortcuts.
Kindly Assign it to me. :)

[2020-11-14 14:48] DhairyaBahl commented on #1817
@ice0 I would like to work on this issue. Kindly assign it to me. Thanks :)

[2020-11-14 15:23] Keyikedalube commented on #1798
:) Thanks for wanting to tackle this issue!

Go make that PR

[2020-11-14 15:35] Keyikedalube commented on #1843
Thanks for your contribution to Debian system.

Debian sid user here 😄 Excited for new stable release to roll out soon-ish 🏁

[2020-11-14 16:06] DhairyaBahl commented on #1798
@Keyikedalube I wanted to know,
* Do I have to add legacy key controls as normal method?? Will They Work ??
*Or do i have to use hidden menubar you created ??

Kindly tell me. Thanks :)

[2020-11-14 16:41] morevnaproject commented on #1817
@DhairyaBahl Assigned to you. ^__^

[2020-11-14 17:12] rodolforg commented on #1843
@marillat OpenGL rendering itself is broken, not only building with OpenGL support.

[2020-11-14 17:16] rodolforg commented on #1840
Maybe 'shift' or 'ctrl' ?

[2020-11-14 17:20] rodolforg commented on #1803
As I tried to mean, the workspace layout is saved fine. My guess is DockManager or Studio initialization force the Canvas dock reopening on launch :)

[2020-11-14 18:14] ebarranco commented on #1141
Same problem witn Synfig 1.4 @rodolforg @ice0 :

[code]

[2020-11-14 18:16] rodolforg commented on #1141
But does it eventually open like with 1.3.x?

[2020-11-14 18:48] ebarranco commented on #1141
Yes @rodolforg,  2.56 minutes later synfig opens.

[2020-11-14 19:07] rodolforg commented on #1052
This should be fixed soon, otherwise Windows users won't be able to save their work (if not using portable version)!

[2020-11-14 19:08] rodolforg commented on #972
This should be fixed soon: it seems MacOS Catalina users won't be able to launch Synfig!

[2020-11-14 19:39] rodolforg commented on #1843
And the new dev-release XD

[2020-11-14 21:06] BobSynfig commented on #682
Same problem as before, the symlinks in (appimage)/etc/fontconfig/... which are wrong

[2020-11-15 00:24] MiLoCasellas opened #1846 "Configurable Canvas Window Toolbar"
A suggestion, an idea: The toolbar of Canvas Window could be configurable, like the usual toolbars. To be able to locate groups, to be able to add and delete groups. Also more than one row (this would solve the problem to be able to show the two parameters of the onion).

![Synfig-ToolBar-Idea](https://user-images.githubusercontent.com/41242605/99159887-4b6f1400-26e1-11eb-943d-7903103b8803.jpg)

[2020-11-15 02:10] Keyikedalube commented on #1798
hidden menubar

[2020-11-15 04:15] ice0 commented on #1843
@marillat by default OpenGL part should be disabled, did you enable it?

[2020-11-15 04:23] yoSachinkr opened #1847 "Buggy layers deletion using Keyboard Delete button"
**Synfig v1.4.0**, **Windows 10 20H2**;
Following is the way to reproduce the bug;
1. First create a new rectangle layer
![Screenshot 2020-11-15 094734](https://user-images.githubusercontent.com/50204208/99162813-04f0d800-2728-11eb-97e4-af23666f3772.png)
2. Delete that rectangle layer using the **Delete button** from the keyboard.
3. Then create a new circle layer.
4. Then try to delete that layer

[2020-11-15 04:32] ice0 commented on #1847
@yoSachinkr Sorry, I can't reproduce. Can you make a short video showing the problem? I think I'm missing something.

[2020-11-15 04:46] yoSachinkr commented on #1847
https://imgur.com/wzg668y

[2020-11-15 04:46] yoSachinkr commented on #1847
That's the video link

[2020-11-15 04:50] yoSachinkr commented on #1847
`<blockquote class="imgur-embed-pub" lang="en" data-id="wzg668y" data-context="false" ><a href="//imgur.com/wzg668y"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>`

[2020-11-15 05:12] yoSachinkr commented on #1847
This bug is not present in **Synfig dev v1.3.16**. It's only in **stable build v1.4.0**

[2020-11-15 05:40] yoSachinkr commented on #1847
The thing that I noticed is , after I start synfig and create a new layer and delete using the keyboard key delete, and then create any other layer or layers afterwards and try to delete them, then the synfig thinks that I'm trying to delete the first layer, which I've already deleted before creating the new layers, and throws an error.

[2020-11-15 08:09] marillat commented on #1843
Yes, as this option was working in 1.2.2
Now synfig build fine without --with-opengl
Why an option who doesn't work is still here ?

[2020-11-15 08:10] ice0 commented on #1599
@marillat Do you have 2 versions of ImageMagick (6/7) installed or just one?
If not then I think the problem is different. We use include directories which is set by `FindImageMagick.cmake` module, not by `Magick++.pc` file. Can you check if that path is correctly set by `FindImageMagick.cmake`?

[2020-11-15 08:31] ice0 commented on #1843
Agree. I think we should disable it, until OpenGL is fixed.

[2020-11-15 08:59] marillat commented on #1599
Of course paths are correct as ```Magick++.h``` is found but not ```MagickCore/magick-baseconfig.h``` who doesn't come from magick++

[2020-11-15 10:15] ice0 commented on #1599
@marillat please show output of `pkg-config --cflags MagickCore`

Please add here:
https://github.com/synfig/synfig/blob/ebf2eeac25a9f2b73920569e646bd959bf82002b/synfig-core/src/modules/mod_magickpp/CMakeLists.txt#L11

[code]

and show output when it fails.

[2020-11-15 10:58] DhairyaBahl commented on #1599
@ice0 I see that I haven't exactly Solved the issue. Although I am trying to understand the conversation going on. Kindly explain it to me why the error persists ?? Thanks :)

[2020-11-15 11:10] marillat commented on #1599
[code]

[2020-11-15 11:23] pixelr0 opened #1849 "[AppImage] SynfigStudio-1.4.0-stable appimage on Ubuntu 20.04 doesn't work"
**Synfig version & platform**:
SynfigStudio-1.4.0-stable appimage on Ubuntu 20.04 doesn't work

using SynfigStudio-1.4.0-stable-2020.11.14-linux64-b9862.appimage

**Issue description**:

process starts but hangs and nothing is shown on screen, no sysnfig window

console output

`
./SynfigStudio-1.4.0-stable-2020.11.14-linux64-b9862.appimage

   synfig studio -- starting up application...

(synfigs

[2020-11-15 11:30] MiLoCasellas opened #1850 "About SETs. Dialog window to choose existing set or create it."
TIP, IDEA: When you have created some SETs, it would be good if when you want to add layers to an existing set, a dialog window will be shown with the list of existing sets instead of having to write the name of an existing set. Then, to be able to choose an existing set or create a new one, from that dialog window.

[2020-11-15 11:39] MiLoCasellas opened #1851 "TIP-IDEA: Keyboard shortcuts to switch between workspaces (Configurable)"
It would be very productive to be able to change workspace with keyboard shortcuts. In the style of Blender. In Blender it is done with Ctrl + Arrows to go to the previous or next. But it would be great to be able to configure the shortcuts. For example being able to configure the four arrows with four workspaces. Previous, Next and Concrete. For example, I would do this: Ctrl + Right Arrow = Next

[2020-11-15 12:05] BobSynfig commented on #1849
You need to install missing libs:
`sudo apt install libcanberra-gtk-module libcanberra-gtk3-module`
_For the FontConfig errors, I have a patch under last testings for AppImage 32 and 64 bits :)_

P.S.: For the first execution, it takes time, it is normal,

[2020-11-15 12:16] Keyikedalube commented on #1803
Same behavior confirmed for Toolbox dock too. Tried to keep only the **Tool Options** dock and use new tool items keyboard shortcuts to keep my docks tab minimal. Toolbox dialog was presented after closing and opening synfig.

[2020-11-15 13:14] BobSynfig commented on #682
Patch here :)
https://github.com/BobSynfig/PatchSynfig140

[2020-11-15 13:19] BobSynfig commented on #1141
https://github.com/BobSynfig/PatchSynfig140 :)

[2020-11-15 16:15] FirasH commented on #1719
Looked a bit into this feature... Great place to start with:
https://github.com/synfig/synfig/blob/7f1d91b10d20e877aa8ea7e4389b27a2f81e36b5/synfig-studio/src/gui/workarearenderer/renderer_canvas.cpp#L515-L606

[2020-11-15 16:39] #1763 closed

[2020-11-15 16:48] yoSachinkr commented on #1847
Something crazy has happen. I don't know it's relatable or not, after installing msvc++ 2015-19 redistributable, this problem seems to have gone. I'll close this issue now.

[2020-11-15 16:48] yoSachinkr commented on #1847
Something crazy has happen. I don't know it's relatable or not, after installing msvc++ 2015-19 redistributable, this problem seems to have gone. I'll close this issue now.

[2020-11-15 16:50] yoSachinkr commented on #1847
Something crazy has happen. I don't know it's relatable or not, after installing msvc++ 2015-19 redistributable, this problem seems to have gone. I'll close this issue now.

[2020-11-15 16:50] yoSachinkr commented on #1847
Something crazy has happen. I don't know it's relatable or not, after installing msvc++ 2015-19 redistributable, this problem seems to have gone. I'll close this issue now

[2020-11-15 20:14] FirasH commented on #1719
I was able to get it rendering only inside the playback bounds and the single active frame outside the bounds.

Only one minor current drawback (or advantage?) is that background rendering works only when the playback is somewhere between the upper and lower bounds.
This is because the current logic used renders in the sequence either before or after current time and its contiguous frames.

[2020-11-16 00:34] Keyikedalube commented on #1719
Thanks, @FirasH 👍🏽

Pulling your changes and building now :)

[2020-11-16 03:25] ice0 commented on #1599
@DhairyaBahl still trying to investigate.

@marillat Did I understand correctly and the problem is resolved in latest master?

[2020-11-16 03:32] ice0 commented on #1847
@yoSachinkr did you use installed or portable version?

[2020-11-16 05:38] yoSachinkr commented on #1847
@ice0 I was using the portable version of synfig v1.4.0

[2020-11-16 06:11] Keyikedalube opened #1854 "Missing key accel for Cutout Tool in menubar"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
Cutout tool is missing key accel

Proposed key is documented [here](https://synfig-docs-dev.readthedocs.io/en/latest/projects/shortcuts.html)

![Screenshot](https://user-images.githubusercontent.com/24214509/99218361-49e83d80-2800-11eb-899b-1a774a85b224.png)

[2020-11-16 06:14] Keyikedalube commented on #1854
BTW, that draft page should also be removed/deleted when this issue is fixed. It has served its purpose.

[2020-11-16 07:49] marillat commented on #1599
Fixed with the change in https://github.com/synfig/synfig/issues/1599#issuecomment-727546031

[2020-11-16 08:09] ice0 commented on #1599
@marillat this changes is already in master branch. Can you check it?

[2020-11-16 08:29] marillat commented on #1599
Master has been modified since yesterday and doesn't find imagemagick

[code]

[2020-11-16 09:14] marillat commented on #1599
This commit need to bre reverted https://github.com/synfig/synfig/commit/ebc4b316373368b3254d9736c32703b155b764cb

[2020-11-16 10:44] yoSachinkr commented on #1847
Sorry to inform you, but the problem still persists. It started again just like in the video.

[2020-11-16 10:48] yoSachinkr commented on #1847
If you look at the screenshots I've provided, you'll find that I was trying to delete the circle but the error says "Delete layer ' rectangle003', this layer doesn't exist anymore".

[2020-11-16 12:05] DhairyaBahl commented on #1599
@marillat @ice0 If any changes have to made in my commit, I would love to work on them. And kindly tell me what I did wrong.

Thank You

[2020-11-16 14:25] morevnaproject commented on #1052
@rodolforg This issue is specific to portable build, installer do not use .bat file.
Please see my https://github.com/synfig/synfig/issues/1052#issuecomment-622871495.

[2020-11-16 14:27] morevnaproject commented on #972
@ice0 The problem is about space in app dir name, right?

[2020-11-16 15:36] morevnaproject commented on #591
Solution provided by @rodolforg here - https://www.synfig.org/2020/11/14/synfig-studio-1-4-0-released/#comment-45577

Should we add this to our binary packages? ^__^

[2020-11-16 17:10] ice0 commented on #1599
Looks like write permission problem. Please put here the whole log.

[2020-11-16 17:13] ice0 commented on #972
@morevnaproject 2 problems here, both linked to this issue.

[MacOS] SynfigStudio.app won't start if renamed #1832
[MacOS] SynfigStudio.app won't start if filename contains spaces #1835

[2020-11-16 17:14] ice0 commented on #972
@rodolforg They can. If they didn't rename SynfigStudio.app.

[2020-11-16 17:22] ice0 commented on #591
@morevnaproject I think this is a good idea.

[2020-11-16 17:55] #1719 closed

[2020-11-16 17:57] ice0 commented on #1766
@FirasH can you check if problem with relative paths is fixed?

[2020-11-16 18:08] ice0 commented on #1847
@yoSachinkr
1) Please make a screenshots of History window, after first delete, and after second delete;
2) Do you use 32/64 bit of Synfig?
3) Do you run it using `synfigstudio.bat` or `bin\synfigstudio.exe`?
4) Which program you use for video capture?
5) Do you have any keyboard helper apps?

[2020-11-16 20:38] FirasH commented on #1850
#1452

[2020-11-16 22:24] rodolforg commented on #1452
Oh, sorry I didn't see it before, @FirasH .

Internally, Layer Group is actually Layer Encapsulation, and Layer Set is… Layer Group =P

You can get the layer set from `canvas_interface()->get_canvas()->get_groups()`

[2020-11-16 23:30] MiLoCasellas commented on #1850
Oh I'm sorry. I always search before writing, but did not find this. Thank you.

[2020-11-17 07:39] ice0 opened #1857 "[Studio] Add ability to user to switch between keymaps"
**Issue description**:

As we discussing about Synfig hotkeys, where is already implemented possibility to load and save accelerators using GtkAccelMap object:

https://github.com/synfig/synfig/blob/bac00ea77cc0c318e22a85da266ea5e6e097e952/synfig-studio/src/gui/app.cpp#L2039-L2053

Thus, we can improve this capability and allow the user to switch between predefined layouts.

I think we need:
1) Ad

[2020-11-17 08:28] ice0 commented on #1837
does this error persist after disconnecting the tablet?
[code]

[2020-11-17 08:33] marillat commented on #1599
https://gist.github.com/marillat/b210a6f04b2fdabc2f073fc9108429e9

[2020-11-17 08:50] FirasH commented on #1766
With the last pull request by @rodolforg (#1833) relative fonts work, either with `./font.otf` or `font.otf`

[2020-11-17 09:20] Keyikedalube commented on #1857
I don't think separating `synfig-old.rc` and `synfig.rc` would be a good idea. Even if that idea is agreed eventually old would have to be discarded away in next-next-stable release. Upto now, we've fixed buggy toolbox shortcuts to Inkscape model because earlier those shortcuts were coupled together with *Alt* key which is actually intended for button and menu mnemonics. Then new single key zoom s

[2020-11-17 11:19] ice0 commented on #1599
@marillat Thank you! Now I can reproduce the problem, fix will be ready soon.

[2020-11-17 13:54] ice0 commented on #1196
@Keyikedalube can you check if problem is resolved?

[2020-11-17 13:57] Keyikedalube commented on #1196
@ice0 I did yesterday. Problem is resolved :)

[2020-11-17 14:01] Keyikedalube commented on #1798
Linked PR merged. Issue fixed.

[2020-11-17 14:01] #1798 closed

[2020-11-17 14:21] ice0 commented on #1196
@Keyikedalube Awesome! Thank you!

[2020-11-17 14:27] Keyikedalube commented on #1800
Q: How to start hacking Synfig GUI for complete beginners?
A: If you can code C++ Synfig developer documentation has a tutorials section (https://synfig-docs-dev.readthedocs.io/en/latest/tutorials.html).

Though it's quite lacking if you really want to fully explore the GUI library it uses; GTK but for Synfig we're using C++ wrapper called GTKMM.

The best place is **Programming with GTKMM** onlin

[2020-11-17 18:22] ebarranco commented on #1837
Yes, the same error persist.

[2020-11-18 04:39] #1854 closed

[2020-11-18 07:13] #1766 closed

[2020-11-18 09:55] DhairyaBahl commented on #1817
@morevnaproject @Gilraiser I understand that, I have to create and add the feature which is present in the 3rd gif. but to do that can you guys guide me a bit that what that new feature is doing ?? how can we do the same thing now without that feature so that I will understand that what actions are going on when we click that key icon ??

Thanks :)

PS: @Keyikedalube Can you help me a bit in this

[2020-11-18 14:26] ice0 commented on #1837
Ok. So, to understand where the problem is coming from, can you do these steps from the terminal?

1. Set an environment variable to allow the application to crash on the first fatal error:
[code]

and then run Synfig Studio from gdb debugger:
[code]

After the error occurred and Synfig Studio exit, you need to copy and paste gdb backtrace here.

[2020-11-18 19:59] ebarranco commented on #1837
This is what you need?
[code]

[2020-11-18 20:23] Accountant69 commented on #1840
i think ctrl is better because it is easily reachable also using the graph tablet

[2020-11-19 02:19] Keyikedalube commented on #1817
@DhairyaBahl If I had to start working with this issue assuming not knowing where to start.
I'd do the following... first, see:
1. where the onion toggle button source code is
2. check its toggle button clicked signal
3. and voila! You have the internal logic already in reach

Same behavior as [onion skin](https://en.wikipedia.org/wiki/Onion_skinning). In Synfig, we have **future** and **past** fr

[2020-11-19 03:15] #1415 closed

[2020-11-19 04:52] ice0 commented on #1840
Also need to switch Eyedropper cursor when mode is switched

[2020-11-19 04:55] ice0 commented on #1840
Code is here:
https://github.com/synfig/synfig/blob/1b9ec56dd3234ae403cacc908a5692e45f4b1497/synfig-studio/src/gui/states/state_eyedrop.cpp#L140-L153

[2020-11-19 05:00] ice0 opened #1859 "[Discussion] Standard key for alternative Tool mode"
This issue is intended to link all other issues with the same theme.

Suggested to use `Ctrl` key for alternative mode. (https://github.com/synfig/synfig/issues/1840)

**Eyedropper Tool**
Left click - Set Outline color (Foreground)
Left click + Ctrl - Set Fill color (Background)

[2020-11-19 05:03] ice0 commented on #1837
Unfortunately no.
It looks like it cannot find the libMagickWand-7.Q16HDRI.so.7 library.
Can you run `synfigstudo` without `gdb`?

[2020-11-19 05:18] DhairyaBahl commented on #1817
@keyikedalube Thanks you for giving the guidance and to explain every term in brief :) . Now I will be able to move forward in solving the issue.

[2020-11-19 05:30] ebarranco commented on #1837
No I couldn't, but I updated my code and build again:
[code]

[2020-11-19 06:13] ice0 commented on #1837
Sorry forgot about `bt` command. It prints callstack backtrace. Must be run inside `gdb` after an error occurs.

[code]

[2020-11-19 06:24] ebarranco commented on #1837
ok:
[code]

[2020-11-19 07:54] ice0 commented on #1837
Ok. It looks like some problem with settings file. Please show it contents:
[code]

after that rename it (so you can restore it after check):
[code]
and try to run Synfig Studio again (new settings file will be generated).

After that you can restore your setting (if needed):
[code]

[2020-11-19 08:13] ebarranco commented on #1837
After the new file was generated, the "gdk_device_key..." error is gone.

 This is the content of the original settings file:

[code]

[2020-11-19 08:17] ice0 commented on #1837
What about canvas lags? Does this problem still persist?

[2020-11-19 08:23] ebarranco commented on #1837
Yes, the lag it's still there.

[2020-11-19 15:57] DhairyaBahl commented on #1817
@Keyikedalube

* what I understood
I am able to understand the use of onion skin. It shows the "just previous" frame along with the current frame in a lighter version and I am able to locate its source code inn the canvasview.cpp and its action is being defined in the app.cpp. Now I am trying to figure out how the whole feature is actually working.

* what i wanted to ask
1. Do we just need to cre

[2020-11-19 16:26] rodolforg commented on #1817
A possible tip:
As far as I recall to read somewhere (here or forums): the onion skin was by frame and 'recently' changed to by keyframe.
If you are able to find that in a git log of a (related) modified file, it should be easy to know how to change between those onion-skin styles.

[2020-11-19 16:32] DhairyaBahl commented on #1817
@rodolforg I will definitely look into previous commits by git log . Thanks for the information !! :)

[2020-11-19 17:10] yoSachinkr commented on #1847
Since I was having that issue consistently, I had deleted synfig 1.4.0 from my pc. I've downloaded that once again and I'm using the same right now without any issue as of now.
Regarding your questions:
2. I'm using 64 bit synfig
3. I open synfig using synfigstudio.bat
4. I use Debut video capture software for video capture.
5. No, I don't have any keyboard helper app.

[2020-11-20 00:50] Keyikedalube commented on #1817
Yes :)
But you have to implement the signal clicked logic to keyframes just like onion skin does for frames
Code could be different from what I'm suggesting above. Might take a look at it later when I've free time

The answer to your *then we created a new figure by somehow joining them* is No
Here's what the OP did for each keyframe
1. Circle
2. Distorted circle
3. Oval

He's animating a circle c

[2020-11-20 10:45] FadhilKwan commented on #1847
Just to confirm, this also happened to me. So i looked to it a bit further....

It seems that the 'Delete' shortcut key ('Del') is locked in to the first layer that you created. And after that you can't delete other layers, it's just stuck to that first layer, which is why the error message showed up like that.
This also occurs even when you create more than one layer at once as your first layers

[2020-11-20 10:48] Keyikedalube commented on #1817
@DhairyaBahl take note of spinbuttons too. I checked out spinbuttons `->signal_value_changed()` code

- The signal. **Get the no of keyframes**
https://github.com/synfig/synfig/blob/1b9ec56dd3234ae403cacc908a5692e45f4b1497/synfig-studio/src/gui/canvasview.cpp#L2636-L2645
- Further down. **Send the data to synfigapp api**
https://github.com/synfig/synfig/blob/1b9ec56dd3234ae403cacc908a5692e45f4b149

[2020-11-20 10:51] DhairyaBahl commented on #1817
@Keyikedalube Thank You so much for helping. I will look deeper in these files !! Thanks for direction :)

[2020-11-20 12:13] ice0 commented on #1847
@FadhilKwan can you rename `config` folder to `config.old` and try it again?
It looks like some problem with saved setting, but I need to check this. If problem will be solved, than I need contents of `config` folder, to check why it happens, so please don't delete it.

[2020-11-20 12:35] FadhilKwan commented on #1847
ummm... i couldn't find the folder with the name 'config', where can i find it...? ._.

the folder that i deleted is this one (along with its contents), found in my user data folder, it's named 'Synfig', and that's all there is to it...

![userdata](https://user-images.githubusercontent.com/25135159/99800068-5c4ada00-2b66-11eb-810b-2e521ac31c96.JPG)

yes, i still have the folder btw, i can send it

[2020-11-20 13:02] FadhilKwan commented on #1847
Okay, i did a bit more test based on my previous finds. And it turns out, 'settings-1.4' from my old synfig userdata folder was the culprit.
I genuinely don't have any idea why, but maybe it has something to do with how would you install the v1.4.0.

Here's the thing. I installed this version by simply opening the installer file, then a notice popped up, asking me to uninstall my previous version

[2020-11-20 14:48] ice0 commented on #1847
@FadhilKwan if you use portable version, it right inside folder from where you run Synfig.

Tried to repeat install -> uninstall -> fresh install - still no luck.
But I replaced my settings with yours and the problem reproduced! Awesome!

[2020-11-20 14:52] yoSachinkr opened #1860 "Feature request: Layers modifiers"
Like in inkscape, if it could be possible to marge two or more layers into one using one of the following modifiers, it would be awesome.
![image](https://user-images.githubusercontent.com/50204208/99813796-23166800-2b6e-11eb-83b3-05f221a2fadb.png)

[2020-11-20 15:24] FadhilKwan commented on #1847
Ah, i see. So it's different for me since i'm using the installed ver., got it!

Yeah i tried that too, and it didn't work. So that one is pretty much debunked.
Still have no idea what caused the settings to get twisted like that (glad the issue was reproduceable with the folder, though)

[2020-11-20 18:51] MiLoCasellas commented on #1851
Well, I just found out that I can create keyboard shortcuts by editing the "accelrc" file found inside the "\ config" folder. Great! I can now switch from one workspace to another quickly.

Anyway, it would be great to be able to edit them from the graphical interface.

[2020-11-21 06:54] luboshnikov commented on #1840
Hi, guys!
Please, assign me.

[2020-11-21 10:48] DhairyaBahl commented on #1840
@luboshnikov Go Ahead Work On this PR. No, you can be on any platform :)

[2020-11-21 22:26] petersteier commented on #1562
This is a game breaker for me; I will go back to version 1.2.0, until it  is fixed.

[2020-11-21 22:49] ebarranco commented on #1562
Yeah @petersteier ! working "differently" is not the right word for me, neither. Onion skin doesn't work correctly it's more appropriate.

[2020-11-22 05:38] ice0 commented on #1851
Linked issue: https://github.com/synfig/synfig/issues/1857

[2020-11-22 08:54] DhairyaBahl commented on #1818
@Keyikedalube @ice0 I would like to work on this issue !!

[2020-11-22 13:11] DhairyaBahl commented on #1817
@ice0 @Keyikedalube @rodolforg
I am getting doubts at every step. What should I do when I stuck ??

Like in this
[code]
where should I look for the ```get_value function ``` and the condition in the specified line should be that if toggling_onion_skin is false then it should then return otherwise it should continue with the function but it is the opposite !! I know i am wrong but I am unable to un

[2020-11-22 15:32] rodolforg commented on #1817
I guess this line is about interlocking due to some odd/ugly setup or to avoid some recursive or excessive calls while user sets some onion skin values.
With git grep (or with a search for this word or symbol references in a IDE) you can see when this variable is set to true and false.

Normally this could be unnecessary if the `set_xxxx()` method first checks if the values really changed before d

[2020-11-22 16:12] ice0 commented on #1818
Assigned it to you.

[2020-11-22 16:58] petersteier commented on #1562
Interrestingly, a lot of things work almost perfect with 1.2.0 (e.g. dual screens, workspace widget), but no longer with 1.2.2). For me, 1.2.0 is an acceptable solution, I do not know the new 1.4.0 features. Generally, Synfig is a impressive piece of good work.

[2020-11-23 09:49] Keyikedalube commented on #777
Just **Image Width** and **Image Height** turned on and the rest off? Or along with **Pixel Aspect** and **Image Span**?

Does that mean **Locks and Links** will have to be there in each dialog ie., **Resize** and **Set Dimensions**?

Also, is **Locks and Links** safe to be removed from **Canvas Properties** dialog?

I might want to take on this issue after #1818 is resolved.

[2020-11-23 10:42] FadhilKwan commented on #1847
Hi, @ice0 . I just found out more about this bug. And good news, I can now reproduce it consistently!
Apparently it has something to do with layout resizing.

So to reproduce it was simple:
Drag this line here to the very right side of Synfig to rearrange the layout. Try to go as far to the right as you can.
![140bug](https://user-images.githubusercontent.com/25135159/99950327-f3a26e00-2dae-11eb-8

[2020-11-23 15:12] morevnaproject commented on #777
**Image Width** and **Image Height** should be turned off.
The linking of width with height is achieved through different button on "Image" tab -
![screenshot_002](https://user-images.githubusercontent.com/332868/99978757-ef8b4600-2dd8-11eb-81dc-422ccad7c1d7.png)
AFAIK it doesn't uses **Image Width** and **Image Height** flags...

**Pixel Aspect** and **Image Span** should be on, and the rest opti

[2020-11-23 15:21] morevnaproject commented on #777
I assume **Locks and Links** shouldn't be visible. Those are internal parameters, not needed by average user.

I expect this feature to be implemented as follows:

1. Add **"Canvas" -> "Resize..."** menu entry.
2. This menu entry will show a simple dialog with those simple elements -
![screenshot_004](https://user-images.githubusercontent.com/332868/99979271-7cce9a80-2dd9-11eb-8a1f-f2536e74ab20.pn

[2020-11-23 15:41] morevnaproject commented on #1860
I suggest to rename this to "Boolean Operations" ^__^

[2020-11-23 15:48] morevnaproject commented on #1562
Linked issue: #600

[2020-11-23 17:26] rodolforg commented on #1860
Maybe this can help? http://what-when-how.com/computer-graphics-and-geometric-modeling/clipping-basic-computer-graphics-part-5/

Or inkscape source code (I tried once, but…)

[2020-11-24 02:11] Keyikedalube commented on #777
Does that mean...
1. Width, Height, and link toggle-button (your screenshots above) have to be removed from the **Canvas Properties** dialog?
2. Remove Canvas Properties menu item from the menubar? And let **Resize** and **Set Dimensions** "Advanced..." button open the said dialog?

[2020-11-24 09:07] morevnaproject commented on #777
No, I think it is okay to keep it.

Yes, "Canvas" - "Properties" can be removed, but as the last step (when **Resize** and **Set Dimensions** will be fully implemented).

[2020-11-24 11:50] Keyikedalube commented on #777
@morevnaproject Got it and thanks :)

[2020-11-25 06:24] ice0 opened #1868 "[Snap] Succesfully rendered file is missing"
**Synfig version & platform**:
1.5.0 Snap

**Issue description**:
https://forums.synfig.org/t/snap-1-5-0-succesfully-rendered-file-is-missing/11507/11

[2020-11-25 06:26] yoSachinkr opened #1869 "Improvement in snapping of transform widget"
Synfig v1.4.0, Windows 10 20H2

Right now the handle that is used to move the transform widget snaps to the grid or guides
![image](https://user-images.githubusercontent.com/50204208/100190735-e56e6200-2f14-11eb-882e-e40cecd30922.png)
But it would have been better if the origin snapped to the grid or guides.
![image](https://user-images.githubusercontent.com/50204208/100190928-4138eb00-2f15-11eb-8

[2020-11-25 07:36] luboshnikov commented on #1840
I managed to add switching of fill color with "left mouse button" + "Ctrl". But I can't add the ability to set the fill color with "Ctrl" + "right mouse button", because the right mouse button is used to display the menu, and I can't change it.
'
if(event.button==BUTTON_LEFT && (event.modifier&GDK_CONTROL_MASK)!=0)
{
        Color color(canvas_view->get_canvas()->get_context(canvas_view->get_conte

[2020-11-25 08:26] ice0 commented on #1840
Yes, this is desired behavior.

[2020-11-25 08:35] luboshnikov commented on #1840
Ok, I am going to make PR

[2020-11-25 12:35] Keyikedalube commented on #777
BTW, Canvas Properties dialog should also be redesigned. I made a PR a while ago where I implemented Canvas Properties dialog glade file and adjusted the main notebook content alignment for UI consistency. Then I closed it and mentioned the reason https://github.com/synfig/synfig/pull/1577#issuecomment-719881157 for the new dialog window being too large. In the screenshot, the widgets from Image t

[2020-11-25 13:26] VaibhavDS19 opened #1871 "Minimization bug"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)
Latest normal build
**Issue description**:
Minimizing the window and then closing it causes the app to never get maximized. This includes when it takes time to build and if we minimize it, it seems to crash sometimes and then never gets maximized. Opening the app causes it to be minimized. Uninstal

[2020-11-25 13:32] rodolforg commented on #1871
Thank you for reporting!
A possible workaround is to erase (or manually edit) the synfig preferences file (`settings-1.4`).
I'm not sure the exact path on windows, but if you're using portable version, the folder is named "config".

[2020-11-25 13:56] VaibhavDS19 commented on #1871
Thank you for replying so fast. Yes, the workaround seems to work perfectly.

[2020-11-25 14:01] VaibhavDS19 commented on #1871
Idea of how it might happen?

[2020-11-25 14:15] rodolforg commented on #1871
Synfig saves the window position and size on closing. But it seems that it doesn't check if it was minimized or something like that.

[2020-11-25 14:20] FadhilKwan commented on #1847
I've found several more stuff regarding this bug, and i've never been this confused before.....

It appears that the bug occurs on certain version of windows. I've tried this version of Synfig (and all other versions that has 'Del' key's function implemented in it) on other laptop that still uses older version of Windows 10. And i couldn't replicate this bug at all, everything worked properly.

Al

[2020-11-25 14:24] VaibhavDS19 commented on #1871
ok, thank you very much for replying.

[2020-11-25 14:54] Keyikedalube commented on #777
Read that post. I don't heavily work on imported raster files so I'm oblivious to this nasty pothole. I mostly prefer drawing from Inkscape and saving it to synfig file format afterward.

The blogger clearly explained the weirdness between
- what's seen (thought canvas was resized too) and
- what's happening (was resized only for output rendering)

and I agree with the post. We're not supposed to

[2020-11-25 14:56] rodolforg commented on #1871
It must be fixed :)

[2020-11-25 14:58] ice0 commented on #1847
I did some digging this weekend. And I found that for some reason GTK stops rewriting callbacks for actions.

I described problem here: https://discourse.gnome.org/t/strange-problem-with-redefining-action-callback/4854

Unfortunately I can't reproduce this from scratch, but with all this information, now I have ideas on how to check why this is happening. So I will continue with this issue over th

[2020-11-26 05:42] #1196 closed

[2020-11-26 14:09] #1818 closed

[2020-11-26 17:06] rodolforg commented on #1871
@ice0 @morevnaproject do we really need to save main window position and size? :P
Gtk has some explanations against it: https://developer.gnome.org/gtk3/stable/GtkWindow.html#gtk-window-get-position (last paragraph of this method)

[2020-11-27 03:21] Keyikedalube commented on #777
Or put the above new layout Image Size section in a new tab called **Render** and rename **Image** tab to **Canvas**

[2020-11-27 06:42] ice0 commented on #1871
@rodolforg I think yes. At least we need window size to correctly restore workspace.
Also it just convenient. No need to move the window to your preferred location every time.

As I see this is Windows-related problem. When you minimize window it just moves it to -30000, -30000 position.

[2020-11-27 11:34] FirasH opened #1873 "Installed fonts are missing in Font Family list"
**Synfig version & platform**:
master bbb2dd7
Windows 10

**Issue description**:

1) Install a new font (.otf or .ttf)
2) Launch Synfig Studio
3) Insert a `Text Layer` on `Canvas`
4) Go to the `Parameters` panel and change `Font Family` value to select the font installed in step 1

The font is not available in the `Font Family` list.

[2020-11-27 14:16] Keyikedalube opened #1874 "Incorrect button icon display issue building from CMake"
- Autotools
![Screenshot from 2020-11-01 16-15-57](https://user-images.githubusercontent.com/24214509/97800787-29e04800-1c5e-11eb-8a38-3d67acee6df4.png)
- CMake
![Screenshot from 2020-11-01 16-16-08](https://user-images.githubusercontent.com/24214509/97800788-2cdb3880-1c5e-11eb-8fcb-b8d38b2bfed5.png)

Also, found out Canvas Properties toggle link button
![Screenshot from 2020-11-01 16-24-21](https

[2020-11-27 14:27] Keyikedalube commented on #1874
Synfig CMake script is almost complete for production use. I encountered two major issues
- https://github.com/synfig/synfig/issues/1196 👈🏽  _resolved_
- and this issue

With this issue resolved, I can rely on CMake build output and use Synfig internally for production purpose :)

[2020-11-28 03:10] Keyikedalube commented on #777
I'm working on this issue :)

[2020-11-28 03:56] rodolforg commented on #777
Well, Synfig actually

In normal cases, yes. But some advanced users don't like removing this feature.

Konstantin also proposed in other issue to provide simple/direct canvas (re)sizes IARC

[2020-11-28 04:06] rodolforg commented on #1871
Is size kept "correctly" (same value before being minimized)?

If I'm not crazy I saw other reports about 'invisible' Synfig when user has two screens then open it later with only one.

[2020-11-28 04:08] rodolforg commented on #1871
Anyway, here is the code point to work on: https://github.com/synfig/synfig/blob/bbb2dd7c274785398d7f46475175053a9a7d9bf0/synfig-studio/src/gui/docks/dockmanager.cpp#L584

[2020-11-28 04:38] Keyikedalube commented on #777
Anyway, I'm not touching Canvas Properties dialog. My suggestions/proposals would only end up making the dialog more complicated with too many tabs and isolated widgets that depend on each other.

I find the names **Image Size** and **Image Area** in the Image tab quite confusing. Should be named something like **Render Size** and **Canvas Size**. Size and Area quite denote the same thing but with

[2020-11-28 10:27] Accountant69 opened #1875 "PERSPECTIC LINES"
SYNFIG 1.4.0
WINDOWS 10

it is possible to insert a new button between the instruments that creates a bundle of lines starting from a fulcrum.
this function may come back to use for perspective drawing as it generates reference lines for this type of drawing
like perspective grid tool in illustrator cc

it may also be useful for creating kinetic lines if the convergent lines were not designed star

[2020-11-28 11:17] ice0 commented on #1871
For Windows 10 - yes, Windows 7 - not tested.

[2020-11-28 15:14] EdisonMuniz opened #1876 "When I try to save a palette the program crashes."
**Synfig version 1.4 Window 10**:

Every time I try to record a new color palette Synfig closes.
I tried to save to the desktop and it worked.
My Windows is in English, but I use Portuguese for the folder names.
I believe the problem is related to the accentuation.

I created two folders on drive C:
A "TEST" and another "AÇÃO".
In the Test folder it worked correctly, but in the Ação folder the pro

[2020-11-29 01:26] ice0 commented on #1876
Hi! Thanks for reporting. I will take a look.

[2020-11-29 08:40] mhao1999 opened #1877 "no package 'sigc++-2.0' found with cmake, vcpkg and pkg-config on windows 10"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

**Issue description**:
I git cloned source code at 2020/11/8, and want to setup visual studio 2017 project file, but failed.
I am trying to build synfig project with cmake, vcpkg and pkg-config on windows 10 with below commands:
[code]
and with errors:
[code]
My vcpkg is placed in c:\src\vcpkg
CMk

[2020-11-29 12:10] ice0 commented on #1877
Hi! Unfortunately Visual Studio support is still in development. For Windows development you can use MSYS2 environment.
https://synfig-docs-dev.readthedocs.io/en/latest/building/Preparing%20Environment.html#windows

[2020-11-29 12:15] ice0 commented on #1877
Also, since I am currently targeting VS 2019 and higher, is there a reason not to upgrade to VS 2019?

[2020-11-29 16:14] FirasH commented on #1873
Works fine on openSUSE

[2020-11-29 17:02] FirasH commented on #1452
@rodolforg found this [tutorial](https://developer.gnome.org/gtkmm-tutorial/stable/sec-comboboxentry.html.en).
Do you think it fits our purpose?

[2020-11-29 20:28] FirasH commented on #1452
Still a work in progress... the entry looks like this:
![sets_dialog](https://user-images.githubusercontent.com/6705690/100552807-b5fb8480-3289-11eb-94ee-19e8814630ee.png)

[2020-11-29 21:30] FirasH commented on #1452
Cleaned up a bit the code, I'll link a merge request.

This is the dialog right now with visible menu:
![sets_dialog_menu_open](https://user-images.githubusercontent.com/6705690/100553904-3e315800-3291-11eb-8f80-390fbf176c2d.png)

and closed menu:
![sets_dialog_menu_closed](https://user-images.githubusercontent.com/6705690/100553906-48535680-3291-11eb-9ebf-1607ea156d75.png)

To show the `Sets` nam

[2020-11-29 21:45] rodolforg commented on #1452
Yes.
You can use these links  as entry completion reference:
https://developer.gnome.org/gtk3/stable/GtkEntryCompletion.html
https://www.kksou.com/php-gtk2/sample-codes/setup-GtkEntry-with-auto-completion.php (in PHP, but adaptable to C++)

[2020-11-29 21:48] rodolforg commented on #1452
Maybe the button label should change depending on current entry text?
"Add" and "Add to new set"

@morevnaproject @ice0 @Keyikedalube

[2020-11-29 22:13] FirasH commented on #1452
I used `Gtk::ComboBoxText` which has an `Entry`, but not a `Gtk::EntryCompletion`.

That's because I didn't find how to use `Gtk::EntryCompletion` in case where any text is typed.
Now, with `Gtk::ComboBoxText` even without typing anything you can just choose from the dropdown menu.

[2020-11-30 03:25] Keyikedalube commented on #1452
"Add" and "Add to new set"

I haven't used sets to organize my layers so my best suggestion would be to replicate other popular vector drawing programs like Inkscape or CorelDraw.

However, "Add" alone sounds fine to me. But if presenting new and existing set information (button label) to the user is important then:
1. _rodolforg's suggestion_
2. "Add" and "Create"

I prefer 2 :) fast readability.

[2020-11-30 06:03] mhao1999 commented on #1877
@ice0 thank you for your comment. I installed vs2019 yesterday, but error is still there, I search in vcpkg dir and could not find sigc++-2.0. Is there a step-by-step guide to setup vs2019+cmake+vcpkg+pkg-config, thanks!

[2020-11-30 08:03] morevnaproject commented on #682
/remind me about this tomorrow

[2020-11-30 08:03] morevnaproject commented on #682
/remind me about this in 2 days

[2020-11-30 13:05] ice0 commented on #1877
@mhao1999 Visual Studio support is still under development, so it is not currently supported.

Only MSYS2 is available for Windows.
https://synfig-docs-dev.readthedocs.io/en/latest/building/Preparing%20Environment.html#windows

[2020-11-30 13:10] mhao1999 commented on #1877
thank you, I will follow the post to build it on windows, by the way, what is a good IDE if not VS to review source code, debug, set breakpoint IDE on windows platform? Qt creator?

[2020-12-01 03:57] ice0 commented on #1877
Yes, Qt creator. Also you can try CLion (https://www.jetbrains.com/clion/) as a temporary solution (they have 30-days trial)

[2020-12-01 05:28] mhao1999 commented on #1877
Hi ice0, how to setup qt creator, should I download and install qt creator from msys2 shell, or just download it from qt official website? is there document for setup qt creator in detail, thanks.

[2020-12-01 07:13] ice0 commented on #1877
Yes, there is an instruction for Qt Creator: https://synfig-docs-dev.readthedocs.io/en/latest/ide/QtCreator.html

[2020-12-01 13:58] mhao1999 commented on #1877
I install msys2 on windows, then open synfig with qt creator but an error with "No package 'mlt++' found":
Running C:\Program Files (x86)\CMake\bin\cmake.exe -S C:/msys64/home/EDZ/synfig.git -B C:/Users/EDZ/AppData/Local/Temp/QtCreator-uxiQOL/qtc-cmake-IbQKlQDM -GNinja "-DCMAKE_BUILD_TYPE:String=Debug" "-DQT_QMAKE_EXECUTABLE:STRING=C:/Qt/5.15.2/mingw81_64/bin/qmake.exe" "-DCMAKE_PREFIX_PATH:STRING

[2020-12-01 16:34] ice0 commented on #1877
Please try to install mlt using `MSYS2 MinGW 64-bit` console:
`pacman -S mingw-w64-x86_64-mlt`

[2020-12-01 21:55] Blu12345 opened #1881 "in the "view" menu "Toolbar" option isn't active"
version 1.4.0 on OSX in the "view" menu "Toolbar" option isn't active

view->toolbar cannot be enabled

this[ issue](https://github.com/synfig/synfig/issues/733#issue-416215598) was apparently solved however it's still happening

maybe it was only solved for windows?

<img width="605" alt="Screen Shot 2020-12-01 at 10 52 58 PM" src="https://user-images.githubusercontent.com/60356184/100801227-fc86

[2020-12-02 02:45] ice0 commented on #1881
This was fixed in master branch, and was not backported to 1.4.0
Added backport label for 1.4.1 (https://github.com/synfig/synfig/pull/1386)

[2020-12-02 13:38] mhao1999 commented on #1877
it works! thank you, @ice0.

[2020-12-02 14:00] mhao1999 commented on #1877
Thank you, now configuring the project works, but the build process failed with five errors like below (partial messages, and I use MSYS2 MinGW 32-bit):
core\src\synfig\CMakeFiles\synfig.dir\base_types.cpp.obj.d -o synfig-core/src/synfig/CMakeFiles/synfig.dir/base_types.cpp.obj -c C:/msys64/home/EDZ/synfig.git/synfig-core/src/synfig/base_types.cpp
C:/Qt/Tools/mingw810_64/bin/../lib/gcc/x86_64-w64-

[2020-12-03 02:58] ice0 commented on #1877
In this case you need to use i686 packages. For example `mingw-w64-i686-mlt`.

To fix build errors - first better to build synfig manually using `MSYS2 MinGW 32-bit` console.
For example:
[code]

Output:
[code]

[2020-12-03 03:01] ice0 commented on #1877
Ans as I can see you use different MinGW installation (C:/Qt/Tools/mingw810_64/bin/../lib/gcc/x86_64-w64-mingw32/8.1.0/../../../../x86_64-w64-mingw32/bin/as.exe)
It's better to use the mingw tools from MSYS - they are located in `c:\msys64\mingw32\bin`

[2020-12-03 03:31] ice0 commented on #1877
Current state with Visual Studio build:

**VS + vcpkg**
- Not working, code changes required (compiler incompatibility)

**VS + vcpkg + clang tools**
- Not working - libsigc++ not building (it has some compiler specific parts, vcpkg configures it for the MSVC compiler). There are no official vcpkg triplets for Clang tools.

**VS + MSYS2 + clang tools**
Requirements
- Should be run from MSYS2 conso

[2020-12-03 03:31] ice0 commented on #1800
Current state with Visual Studio build:

**VS + vcpkg**
- Not working, code changes required (compiler incompatibility)

**VS + vcpkg + clang tools**
- Not working - libsigc++ not building (it has some compiler specific parts, vcpkg configures it for the MSVC compiler). There are no official vcpkg triplets for Clang tools.

**VS + MSYS2 + clang tools**
Requirements
- Should be run from MSYS2 conso

[2020-12-03 11:07] morevnaproject commented on #777
I think the purpose of those widgets is to set the placement of (0,0) point? ^__^
With default values it is in the middle of canvas.
![screenshot_003](https://user-images.githubusercontent.com/332868/101001596-e5fc9d80-3591-11eb-8436-1cb400873cca.png)

Maybe some users might want to have (0,0) point in top-left corner.
But in this case (in my opinion) we have to provide a different GUI approach to

[2020-12-03 12:58] Keyikedalube commented on #777
Thanks for the info. A while ago I read this [Canvas Properties wiki](https://wiki.synfig.org/Canvas_Properties_Dialog#Image_tab) page. Those widgets (and core synfig code) are too complicated for me. I don't really know their specific use cases other than guessing those are for advanced users who wishes to have absolute or just more control of their canvas ;P

Sorry, not my area :(

My focus is f

[2020-12-03 15:40] morevnaproject commented on #682
Please check updated builds:
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux64-a2ca6.appimage
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux32-a2ca6.appimage

[2020-12-03 15:40] morevnaproject commented on #1141
Please check updated builds:
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux64-a2ca6.appimage
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux32-a2ca6.appimage

[2020-12-03 15:40] morevnaproject commented on #1340
Please check updated builds:
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux64-a2ca6.appimage
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux32-a2ca6.appimage

[2020-12-03 15:41] morevnaproject commented on #1849
Please check updated builds:
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux64-a2ca6.appimage
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux32-a2ca6.appimage

[2020-12-03 18:32] pixelr0 commented on #1849
still nope

./SynfigStudio-1.4.1-testing-2020.12.01-linux64-a2ca6.appimage

   synfig studio -- starting up application...

(synfigstudio:36362): Gtk-WARNING **: Theme parsing error: gtk.css:1521:23: 'font-feature-settings' is not a valid property name

(synfigstudio:36362): Gtk-WARNING **: Theme parsing error: gtk.css:3460:25: 'font-feature-settings' is not a valid property name

(synfigstudio:36

[2020-12-03 21:09] BobSynfig commented on #1849
I just did the test with Xubuntu 20.04, I don't have any Gtk-WARNING.
Are you sure you don't have any snap/flatpack taking precedence on your GTK?

If you use a custom Gnome theme, try to use the default one

At the first start, some cache is built, it looks frozen and the canberra-gtk-module error is not blocking

[2020-12-04 07:13] ice0 commented on #1849
First start is slow because FontConfig creates a cache (`~/.cache/fontconfig`).
Just checked - if you clean this folder, next run will be slow too.

[2020-12-04 14:59] OrangNeedl4 opened #1885 "1.4.0 Cant render saved files: No such file or directory"
![Screenshot](https://user-images.githubusercontent.com/75488669/101176802-c1520580-3625-11eb-88a1-61e3100de8fa.jpg)

![Error](https://user-images.githubusercontent.com/75488669/101178676-0d9e4500-3628-11eb-8bad-26dff0c9e2dc.png)

On the new stable version of Synfig, every time i try to render a secuence of a saved file (doesnt matter if its from an older version or new) it just appears an error t

[2020-12-04 17:47] pixelr0 commented on #1849
phew. finally started after 3 minutes (kept a core in 100% load). i have an i7 kaby lake, 16 Gb RAM, SSD. it shouldn't take this long to start. most people (like me) will believe the app hangs and kill it

[2020-12-04 20:55] BobSynfig commented on #1885
Try to render it in a folder without a "non-latin" character in the path.
The tilde is surely the (well-known) problem.

[2020-12-04 23:02] ebarranco commented on #1141
First time took a while. But after that the appimages run fine.

[2020-12-05 04:52] ice0 opened #1887 "Toolbox buttons hidden after closing Toolbox and opening it again"
https://forums.synfig.org/t/colour-picker-has-disappeared/11609

[2020-12-05 05:02] ice0 opened #1888 "Unusual flattening on thick outlines with tight bends"
https://forums.synfig.org/t/unusual-flattening-on-thick-outlines-with-tight-bends/11602

[2020-12-05 06:09] ice0 commented on #1849
Agree. I think we should show some message to user while FontConfig generates it cache. Chromium snap have the same problem (https://snapcraft.io/blog/the-hunt-for-rogue-time-how-we-investigated-and-solved-the-chromium-snap-slow-startup-problem) they fixed it by creating font cache during install, which we can't do because AppImage is not installed.

It depends on the fonts installed on your syste

[2020-12-05 06:12] ice0 commented on #682
Let's continue here: https://github.com/synfig/synfig/issues/1849

[2020-12-05 06:12] #682 closed

[2020-12-05 06:13] ice0 commented on #1340
Let's continue here: https://github.com/synfig/synfig/issues/1849

[2020-12-05 06:13] #1340 closed

[2020-12-05 13:41] mhao1999 commented on #1877
works! thanks!

[2020-12-05 14:00] mhao1999 commented on #1877
Thanks! Now I installed Mingw32 bit qt creator and use c:\msys64\mingw32 toolchain, building is ok. and I can run synfig-studio.exe.
But when I try to debug (press "start debugging of startup project"), a window pops up says(breakpoint cannot be hit):
The selected debugger may be inappropriate for the inferior.
Examining symbols and setting breakpoints by file name and line number may fail.
The in

[2020-12-05 14:05] mhao1999 commented on #1877
I follow your suggestion as "build synfig manually using MSYS2 MinGW 32-bit console". then open project with qt creator, building is ok. But cannot debug the project with break points.

[2020-12-05 14:31] ice0 commented on #1520
@krisnaxda can you check new AppImages?
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux64-a2ca6.appimage
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux32-a2ca6.appimage

[2020-12-05 16:05] mhao1999 commented on #1877
Hi ice0, sovled, I cloned a kit and change its debugger, now everything is ok, thank you for your all kind help!

[2020-12-05 16:56] ice0 commented on #1877
Awesome!

[2020-12-05 23:02] OrangNeedl4 commented on #1885
Wow, thanks Bob, it looks that i just had to take off the ñ of my file, (also, in the older version this doesnt happen)thank u again

[2020-12-06 06:19] ice0 commented on #1876
Could you please check if this problem is resolved?

Portable version (x64) - download, unpack and run `synfigstudio.exe` from `bin` folder:
https://ci.appveyor.com/api/buildjobs/muhuv6ahwyct88f2/artifacts/SynfigStudio-1.3.16-testing-2020-12-06-win64-73aa7.zip

[2020-12-07 08:56] ice0 opened #1896 "Tooltips do not show up on second screen in Windows"
**Synfig version & platform**:
Windows: latest master

**Issue description**:
Tooltips do not show up on second screen in Windows

https://forums.synfig.org/t/tooltips-do-not-show-up-on-second-screen-in-windows/11557

[2020-12-07 09:05] Keyikedalube commented on #1887
**Temporary solution**: Loading `Window > Workspace > Default` will bring back the color toolbox.

[2020-12-07 15:43] ice0 opened #1898 "[Synfig Studio] `lst` files incorrectly imported when path contains non-Latin characters"
**Synfig version & platform**:
Latest master
Windows

**Issue description**:
https://forums.synfig.org/t/synfig-cant-read-files-from-list-in-some-machines/11553/7

[2020-12-07 15:45] ice0 opened #1899 "Skeleton distortion crash"
https://forums.synfig.org/t/skeleton-distortion-crash/11561

[2020-12-07 15:53] ice0 opened #1900 "Synfig hangs if changing animated"
**Synfig version & platform**:
Latest master
Windows/Linux

**Issue description**:
https://forums.synfig.org/t/colors-dialog-can-hang-synfigstudio/11438/2

[2020-12-07 15:58] ice0 opened #1901 "[Synfig Studio] Animate button is missing when open sif file exported from Inkscape"
**Issue description**:
https://forums.synfig.org/t/short-cut-for-animate-button/11420

[2020-12-08 02:19] #1452 closed

[2020-12-08 03:05] ice0 opened #1902 "Fix importers API"
https://github.com/synfig/synfig/blob/cadeed3e2812fbb63158515db7d84f261ed8be7e/synfig-core/src/synfig/listimporter.cpp#L76-L80

There is no way to report about error to GUI from importer. We can't throw error from constructor (bad practice), and can't return error code.

[2020-12-08 04:07] ice0 opened #1903 "Embedded runtime example"
**Issue description**:

https://forums.synfig.org/t/embeddable-runtime/11368

[2020-12-08 04:18] ice0 opened #1904 "Background layers become blurry when using more than one plant layer"
**Synfig version & platform**:
latest master

**Issue description**:
https://forums.synfig.org/t/plant-layer-problem/11216

Linked issues: (https://github.com/synfig/synfig/issues/831. https://github.com/synfig/synfig/issues/1736)

[2020-12-08 04:47] ice0 opened #1905 "Improve Draw tool"
https://forums.synfig.org/t/improve-draw-tool/11365

[2020-12-08 06:51] ice0 commented on #540
Hi guys!
@Jose-Moreno I need your help again. As I have problems with reproducing this bug, I have found solution which can help with that. I need someone who can save mouse-clicks using macro-recording software (just found https://sourceforge.net/projects/minimousemacro/) and post it here.

Also I need  `%USERPROFILE%/Synfig/settings-1.4` file because this software writes mouse coordinates and I

[2020-12-08 09:18] FirasH commented on #1850
With #1878 the feature you asked for has been added to master.

[2020-12-08 12:44] rodolforg commented on #540
Does it still crash on 1.4.0 under those circumstances?

[2020-12-08 15:01] ice0 commented on #540
@rodolforg I think yes. I have a crush on latest master, but only once (

[2020-12-09 03:21] #1731 closed

[2020-12-09 09:40] FirasH opened #1908 "Add Eyedrop Tool keyboard accelerators legend in Toolbox"
**Synfig version & platform**:
master 9b580c6

**Issue description**:
Now with `Eyedrop Tool` it's possible to:

- `Clic` to assign `Outline Color`
- `Ctrl + Clic` to assign `Fill Color`

and this option is not displayed in the `Tool Options` window.

I suggest to add a legend much like `Transform Tool`:

- Clic to assign Outline Color
- Ctrl + Clic to assign Fill Color

[2020-12-09 13:36] Khemardi opened #1909 "Edit image in external tool NOT WORKING windows 10"
**Synfig version & platform**:
Using Synfig Studio 1.4 on Windows 10 Home
Processor: Intel(R) Core(TM) i7-8700K
CPU: 3.700GHz
RAM: 16 GB
Graphics Card: GeForce GTX 1080 Ti

**Issue description**:
Nothing happens when I right click an image layer and select "Edit image in external tool". I have it set up to edit in Krita, but it doesn't work. I even tried changing it to open in Photoshop and other

[2020-12-09 14:15] ice0 commented on #1909
Confirmed. I will take a look.

[2020-12-09 14:22] Keyikedalube opened #1910 "Stretched "Scale to fit canvas" switch icon on import image dialog"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
<strike>I think `vexpand` property is turned on for this toggle widget. If so, it should be off.
Stretching it makes it look ugly.</strike>

Checked the source code in app.cpp. It's not `vexpand` property as I suspected.

- Source code
https://github.com/synfig/synfig/blob/4aac1b85c241b3b5b000e7cd82a5139864efbcc

[2020-12-09 15:38] Keyikedalube commented on #1910
Either that switch widget is stretched or... squeezed.

[2020-12-09 17:04] rodolforg commented on #1910
It can be. You can check it at runtime by using gtkinspector. If you have it installed, called from any gtk program by pressing ctrl+shift+d or ctrl+shift+i . In synfig, only last shortcut works because former is already mapped.

[2020-12-10 07:13] #240 closed

[2020-12-10 07:16] ice0 commented on #244
Works as expected on 1.4.0, so I close it now.

[2020-12-10 07:16] #244 closed

[2020-12-11 01:55] #1876 closed

[2020-12-11 02:32] Gilraiser opened #1914 "[ Feature Request] Dynamic time Drawing"
**Synfig version & platform**:
Development version

**Feature description**:

Hello, cordial greetings. I know that dreaming costs nothing and programming costs a lot. However, I put this idea to your consideration. The algorithm could remove or create nodes depending on what is drawn on the next frame in the timeline.

I attach a gif where I recreate how it could work.

Thank you very much for yo

[2020-12-11 05:25] rodolforg commented on #1910
It's its valign value :)

[2020-12-11 06:50] Keyikedalube commented on #1910
Thanks, @rodolforg I forgot to get back to this issue.

Anyway, I'm not solving this issue. So, if you aren't too... then I think this issue is deserving of "good first issue" + "easy" tag :P for GTK newbies

[2020-12-11 17:02] FirasH opened #1915 "[Synfig Studio] Interpolation list under Canvas is very wide"
**Synfig version & platform**:
master

**Issue description**:
Interpolation list under Canvas is wider than its entries:
![Interpolation](https://user-images.githubusercontent.com/6705690/101931828-3e5b1d00-3bda-11eb-9aca-ebf047f8107f.PNG)

I suggest to reduce its width for a cleaner interface

[2020-12-12 08:34] ice0 commented on #625
I am closing it because there is no answer here.

[2020-12-12 08:34] #625 closed

[2020-12-12 09:11] FirasH opened #1916 "[Synfig Studio] Canvas workarea rendering crashes frequently"
**Synfig version & platform**:
master e84f6cb
Linux and Windows

**Issue description**:

1) Open an animation that contains `Text Layers`
2) Change the animation `Current time` (for example when fine tuning animation details) or enable `Background rendering`

Synfig Studio crashes frequently.

I assume this is somehow related to the very last commits (1 week or so) and is linked to text stuff (fre

[2020-12-12 09:32] FirasH opened #1917 "[Synfig Studio] Right-clicking on Groups in Sets causes crash"
**Synfig version & platform**:
master e84f6cb
Windows

**Issue description**:
1) Open the [attached file](https://github.com/synfig/synfig/files/5682789/2020_11_27_V6.zip) and close the `Warning` dialog (did not attach linked fonts and stuff but result is unchanged)
2) Go to `Sets` Windows
Here you can a `Set `called `Testo` which contains some `Text Layers` and `Groups`

3) Right-click on one of

[2020-12-12 15:20] rodolforg commented on #1917
Reproducible on Linux too.

[2020-12-12 18:07] FirasH opened #1921 "[Synfig Studio] Duplicating Layers where Duplicate is used, creates a new index but doesn't update Connected value"
**Synfig version & platform**:
master e84f6cb

**Issue description**:

1) Create a new animation
2) Add a Layer on `Canvas`, for example a `Star` (no need for outlines etc.)
3) Add a `Duplicate` Layer
Now in the `Library` window a new value called `duplicate` is added.

4) `Group` the `Star` and the `Duplicate` Layers
5) Select the `Star` and in the `Parameters` window right-clic on `Origin` and `

[2020-12-12 21:51] quentincaffeino opened #1922 "Lottie export"
**Synfig version & platform**:
v1.4.0 & 1.4.0 flathub
elementary OS 5.1.7 Hera, Built on Ubuntu 18.04.4 LTS, Linux 5.9.10-050910-generic, GTK 3.22.30

**Issue description**:
- With app image downloaded from releases page I'm getting this exception:
[code]
It could be because that I haven't created any animations yet, just imported svg. But still, it shouldn't crash like that I guess.

- With Flatp

[2020-12-13 05:04] #1909 closed

[2020-12-13 05:05] morevnaproject commented on #1922
Hi! Thank you for report. Can you please attach file you have problems with?

[2020-12-13 05:53] ice0 commented on #1868
Fixed in the latest version 1.4.0 (snap)

https://snapcraft.io/synfigstudio

[2020-12-13 05:53] #1868 closed

[2020-12-13 11:53] quentincaffeino commented on #1922
Yeah sure, thought it wouldn't help you because it's basically empty.

[apple.sifz.zip](https://github.com/synfig/synfig/files/5684530/apple.sifz.zip)

[2020-12-13 16:17] ice0 commented on #1916
@FirasH Is that autotools/CMake build?

[2020-12-13 16:25] #1917 closed

[2020-12-13 16:27] FirasH commented on #1916
#ice0 I'm using appveyor builds on Windows and the scripts on Linux (I assume autotools but not sure...)

[2020-12-13 16:46] ice0 commented on #1916
AppVeyour uses CMake, scripts use autotools, so it looks like both are affected.
Can you make a short video showing the problem? I am trying to reproduce but with no success.
The only strange thing is this messages after I add *first* text layer.
[code]

[2020-12-13 16:56] FirasH commented on #1916
@ice0, I saved a copy of the project where the issue is always reproducible for me:
[issue-1916.zip](https://github.com/synfig/synfig/files/5684989/issue-1916.zip)

Just open the project and apply actions that require canvas rendering (Background rendering, change zoom, change canvas current time) and it will crash easily in a few seconds.

[2020-12-13 17:35] rodolforg commented on #1916
Those errors are related to the Widget_Timetrack I implemented.

[2020-12-14 03:49] #1898 closed

[2020-12-14 16:16] mhao1999 opened #1930 "where those png files come from?"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

**Issue description**:

I git cloned the source code of synfig to local directory, and search *.png in the directory, cannot find those toolbutton png files.
However, when I build the cmakefiles.txt, in the output directory "c:\...\build\output\share\synfig\icons\classic" found many png files.

Pl

[2020-12-14 17:41] ice0 commented on #1930
They are generated by `synfig` console tool from the `.sif` files located in the `synfig-studio/images` folder.

[2020-12-15 03:52] #1910 closed

[2020-12-15 10:40] FirasH opened #1931 "[Synfig Studio] File Format Version dropdown is too wide"
**Synfig version & platform**:
master 9f51f5e

**Issue description**:
1) Create a new animation
2) Open `File > Save` dialog

File Format Version dropdown is too wide:
![save-dialog-dropdown](https://user-images.githubusercontent.com/6705690/102204380-13b6e000-3eca-11eb-86f6-83562c21f5e1.PNG)

[2020-12-15 12:55] VaibhavDS19 opened #1932 "Textbox crash"
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)
Latest version
Windows and Ubuntu
**Issue description**:
Trying to add textbox causes app to crash Mostly happens when there is already a layer below textbox.

[2020-12-15 14:37] mhao1999 commented on #1930
Thank you @ice0, I saw the cmake command install(....) to add those image file to binary finally. One more question, how to build a exe file on windows 10, it should be a "make install" command or something like? could you give me a practical instruction, I had a little "make" related knowlege and was keen to get a executable installer, thanks!

[2020-12-15 15:19] ice0 commented on #1930
Just `make` or `make synfigstudio`. Built binaries located inside `<build_folder>/output/bin` folder.
`make install` command use mostly when preparing portable installation. It copies required system libraries and files to one place. This will not required during development.

[2020-12-15 20:29] FirasH commented on #1916
This is the error on Linux:
`synfig(4871) [09:27:51 PM] error: Layer_Freetype: Unable to open font face. (err=1)`

[2020-12-16 02:38] #1915 closed

[2020-12-17 00:01] ice0 commented on #1916
I can also reproduce it on Linux.
And as I can see there is memory corruption and data races :(
As a temporary solution you can reduce rendering thread count to 1 by setting `SYNFIG_RENDERING_THREADS=1` environment variable.

[2020-12-17 03:45] Gilraiser commented on #1914
It could also work in the following way:

1. selecting some vertices

2. Drawing the shape you want the vertices to have in the next frame.

![FR](https://user-images.githubusercontent.com/45057390/102441398-304d3800-3ff0-11eb-95f6-a71ce251f389.gif)

[2020-12-18 16:30] BobSynfig commented on #1930
I think this should be discussed in the Development section of the forums instead of opening an issue (which is not!)
https://forums.synfig.org/c/development/
The more "issues" we open, the less potential contributors will be prone to check if the same issue has been already reported (and then will create another duplicate!)

[2020-12-18 16:56] BobSynfig commented on #1900
Not a solution to the problem, but a workaround in case it happens and you don’t want to lose your modifications:

When you receive the error message

- place your mouse cursor on the closing button of the color dialog and don’t move it
- press 2 time Escape to close the error messages
- click on the closing button of the color box to reactivate it
- click a second time to close it
![Peek](https:/

[2020-12-18 22:52] MrTeeXD opened #1934 "Font does not change in the Textbox"
**Synfig version & platform**:
1.4.0
Windows 10 64bit 20H2

**Issue description**:
When adding a Textbox and changing the font type in the Parameters, the text does not change the font family. Even after installing the prefered font, it will not change the font family.

[2020-12-19 21:51] rodolforg commented on #1871
Ok. What about this:

- if width or height < 50, write as something like 640 x 480.
- if left or top < -1000, write as 0,0.
- on read, if left+width < 0, set at (0,y)
- 0n read, if top+height > screen height, set at (x,0)

[2020-12-20 06:29] #1931 closed

[2020-12-20 06:59] ice0 commented on #1871
Looks like -100 will be enough.

I'm not sure if this is required. As for me, if you can see the upper left corner of the window - this gives you the ability to resize the window and this will be enough.

[2020-12-20 08:27] yoSachinkr opened #1936 "Ctrl + tab to switch tabs"
synfig v1.4.0 windows 10 64bit 20h2

I've a feature request to make. This is ctrl+ tab to switch tabs open in synfig studio. It'll help speed up switching between canvases and hence increase productivity.

[2020-12-20 10:50] mhao1999 commented on #1930
thank you @ice0 , I meant to portable installation (installer on windows) , any command to generate the installer? I saw the CPackConfig.cmake which was said to invoke nsis to generate installer, but don't know detailed steps. @BobSynfig I know this is not a issue, will check the forum later, thanks!

[2020-12-20 12:22] rodolforg commented on #1871
But maybe user moved it that way?

My logic was to check if windows is hidden on startup (moved away so it can't be seen in screen).
In second thought, :
- I didn't propose a check if left > screen width (and in a similar way, the vertical direction)
- I don't know how it behaves when user more than one screen :P

[2020-12-21 02:33] #1908 closed

[2020-12-21 16:59] PBird opened #1941 "Lottie exported color is different"
1.4.0  & manjaro (arch linux)

I did simple animation to test lottie animation on web. I realised exported colors different.

in synfig
![source1](https://user-images.githubusercontent.com/9611415/102801756-b2f63e80-43c6-11eb-9d97-1a913115f6ee.png)

output :
![source2](https://user-images.githubusercontent.com/9611415/102801789-bf7a9700-43c6-11eb-9780-3753fa8b4ee9.png)

sip file :

[Synfig Animati

[2020-12-22 01:12] ice0 commented on #1941
@PBird Hi! Just checked in Opera/Windows and all works fine. Can you check this in another browser? It could be a browser issue, for example: https://www.faqforge.com/windows/fixed-google-chrome-wrong-color-after-update/

[2020-12-22 11:18] PBird commented on #1941
@ice0 thank for test it. I tried on opera/firefox/ie/microsoftedge all same. I tried on windows but still same problem. I dont  understand why works fine for you.
this is my output files
[outputs.zip](https://github.com/synfig/synfig/files/5729508/outputs.zip)
![last](https://user-images.githubusercontent.com/9611415/102883087-770fb780-4460-11eb-8fb2-efe23810ae1b.png)

[2020-12-22 14:12] ice0 commented on #1941
Sorry, my mistake. I run wrong version (1.5.0) for testing.

This is backported lottie-exporter from 1.5.0 (you need to replace your version located in `<synfig folder>\share\synfig\plugins`)
[lottie-exporter.zip](https://github.com/synfig/synfig/files/5730246/lottie-exporter.zip)

[2020-12-22 14:32] ice0 commented on #1932
Can you check if this problem is reproduced on this build? (Windows)
[Synfig Portable x64](https://ci.appveyor.com/api/buildjobs/57lm1rtg0xgjlaly/artifacts/SynfigStudio-1.5.0-testing-2020-12-19-win64-0aa66.zip)
[Synfig Portable x32](https://ci.appveyor.com/api/buildjobs/df216b2w050m9jgs/artifacts/SynfigStudio-1.5.0-testing-2020-12-19-win32-0aa66.zip)

[2020-12-22 15:34] PBird commented on #1941
it worked!

[2020-12-22 22:03] FirasH opened #1946 "[Synfig Studio] Preview Window is always above Preview Options"
**Synfig version & platform**:
master e320613

**Issue description**:
1) Create a new animation
2) Go to: `File > Preview` and launch a Preview
3) Click on the button with the small pencil to reopen Preview Options

![preview-options](https://user-images.githubusercontent.com/6705690/102937217-f1b0f500-44a9-11eb-89d8-03452fb0ab67.png)

Preview Window is always on top of Preview Options.

[2020-12-22 22:10] FirasH commented on #1946
https://github.com/synfig/synfig/blob/e3206139323757abdc878acc9cd5651ae0e24ce1/synfig-studio/src/gui/dialogs/dialog_preview.cpp#L69-L82

Is it enough to remove `set_keep_above()` or there's a reason for that?

[2020-12-25 02:50] #1451 closed

[2020-12-25 12:11] BobSynfig commented on #1941
Just noticed on the previous screenshot that the branding name "Synfig Studio" has been altered and should be changed in Transifex
@morevnaproject @ice0

[2020-12-25 20:39] FirasH opened #1948 "[Synfig Studio] Show/Snap Guides buttons in Toolbar could be unresponsive on first use"
**Synfig version & platform**:
master 3f6e3c9

**Issue description**:
1) Launch Synfig
2) `File > Close Document` on new current animation
3) `File > New` to create a new document

Toggle Show/Snap Guides.

Guides metadata is not updated and is not responsive.
Once toggled from menu the toolbar buttons are re-activated.

[2020-12-26 02:15] #1948 closed

[2020-12-26 02:23] ice0 commented on #1946
ping @morevnaproject

[2020-12-26 11:02] FirasH commented on #1058
With CMake it should build regardless of spaces in paths.
Closing.

[2020-12-26 11:02] #1058 closed

[2020-12-26 12:39] FirasH opened #1951 "[Synfig Studio] Reorganize buttons around canvas area"
**Synfig version & platform**:
master

**Issue description**:
Successor to discussion started in #1451.

The key idea is to reduce used screen estate by reorganizing the buttons/tools most used.
There are some mockups in the linked issue.

Here you can see an actually working test I made right now by splitting the top bar in two.
On top there are file/export/preview options, while on the right dra

[2020-12-26 16:32] rodolforg commented on #1569
My guess is the boolean expression `stderr_str.empty()` shown below:
https://github.com/synfig/synfig/blob/4b7f89beab97bd565df50d7dd559124ebb163b52/synfig-studio/src/gui/pluginmanager.cpp#L354-L360
I don't know why an empty stderr output is a problem. (I don't know what would be normally expected though).

[2020-12-27 04:34] Keyikedalube commented on #1451
Call Synfig CSS class `synfigstudio-efficient-workspace` like this
https://github.com/synfig/synfig/blob/86cb9ce0e412a2e58750516e63370ed1f0cfb86b/synfig-studio/src/gui/canvasview.cpp#L544-L546
and icons will be adjusted like the rest :)

[2020-12-28 04:48] rodolforg commented on #1934
Try to use the font filename.
Font family support isn't publicly available yet.

[2020-12-28 04:50] MrTeeXD commented on #1934
Alright, will try next time

[2020-12-28 14:28] morevnaproject commented on #1951
I like this!

[2020-12-30 03:50] Fahad-Alsaidi commented on #1621
Is there any update on this?

[2020-12-30 12:40] rodolforg commented on #1621
I'm sorry I stopped to work on this due to my difficult to make the pango implementation compatible to current implementation (coordinates, size, and features).
I may (try to) work more on it later, but not now.

[2021-01-01 16:02] KyleMaas commented on #990
Just wondering why this was closed?  I have not had a chance to retest this.  Was the AppImage fixed?  Or were too few people having problems with it to merit fixing it?

[2021-01-01 16:09] rodolforg commented on #990
I don't know exactly why it was closed, but:
1. You can always reopen
2. You didn't commented the Bob answer for more than a year
3. 1.3.11 version is not the last version, but 1.4.0 : it's the new stable version (based on 1.3.x releases)

[2021-01-01 17:53] jozsefk9 commented on #667
How do you do this in Linux?

[2021-01-01 18:38] rodolforg commented on #667
@jozsefk9  Are you using new stable version 1.4.0?
No fix was done for 1.2.x

[2021-01-01 21:10] jozsefk9 commented on #667
@rodolforg Now I got the stable version 1.4.0 and the fonts in the menu and everywhere is weird. System is Kubuntu 20.04 64bit. Can't find a way to change the interface font.
![synfig](https://user-images.githubusercontent.com/1645288/103446271-06497600-4c7e-11eb-9b77-4e16579fd0a3.png)

[2021-01-01 22:14] rodolforg commented on #667
Actually, I don't know how to deal with appimage. =/
@morevnaproject @BobSynfig @ice0

[2021-01-02 00:20] ice0 commented on #667
@jozsefk9 can you check if problem exist in updated builds?

- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux64-a2ca6.appimage
- https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2020.12.01-linux32-a2ca6.appimage

[2021-01-02 00:23] ebarranco commented on #1837
Hi! today  I updated my code, and the lag is gone. Well I mean something like Synfig 1.2 performance, but that it's better. I don't know what was it, but thanks.

[2021-01-02 00:24] #1837 closed

[2021-01-02 05:12] ice0 commented on #990
Hi, guys!
Looks like I closed it by accident, sorry.

By the way, can you test flatpak build too?

[2021-01-02 08:09] ice0 commented on #1837
@ebarranco Hi! Glad it works now!

[2021-01-02 08:27] jozsefk9 commented on #667
@ice0 That worked! Thank you!

[2021-01-03 15:56] FirasH opened #1965 "[Synfig Studio] Waypoint Editor "Value" could set not feasible Parameter values"
**Synfig version & platform**:
master 4b7f89b

**Issue description**:
1. Create a new animation
2. Draw a `Star` on Canvas (works with any Layer)
3. Enable Animate mode and create a waypoint for `Blend Method` parameter
4. Double-click on the waypoint created in step 3 to open `Waypoint Editor` dialog
![waypoint-editor-value](https://user-images.githubusercontent.com/6705690/103482777-19298b00-4de

[2021-01-03 16:11] FirasH opened #1966 "[Synfig Studio] Waypoint Editor "Time" widget doesn't allow step accuracy with mouse scroll"
**Synfig version & platform**:
master 4b7f89b

**Issue description**:
1. Create a new animation
2. Draw a `Circle` on Canvas (works with any Layer)
3. Enable Animate mode and create a waypoint (worls with any parameter)
4. Double-click on the waypoint created in step 3 to open `Waypoint Editor` dialog
5. Scroll on `Time` widget box to change its value.
The value will change by 0.25*fps steps.
http

[2021-01-03 19:15] VaibhavDS19 commented on #1932
I am not using it on Windows now but it doesn't seem to have issues on Ubuntu 20.04

[2021-01-03 20:04] KyleMaas commented on #990
Thank you for revisiting this - happy to retest.  Just needed to recompile my system without OpenMP.

The problem still exists with the "SynfigStudio-1.4.0-stable-2020.11.14-linux64-b9862" AppImage.

The Flatpak works fine without system-wide OpenMP support.

[2021-01-03 20:07] KyleMaas commented on #990
I should note that the message is now slightly different:

`/tmp/.mount_94GaOf/usr/bin/synfigstudio: error while loading shared libraries: libgomp.so.1: cannot open shared object file: No such file or directory`

[2021-01-04 10:45] ice0 commented on #990
@KyleMaas Please check updated AppImage:

x64 (https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2021.01.04-linux64-9089e.appimage)
x32 (https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.4.1-testing-2021.01.04-linux32-9089e.appimage)

[2021-01-04 10:48] ice0 commented on #1932
Ok, so it Windows-only related problem?

[2021-01-04 11:43] FirasH commented on #1326
This is current `Timebar` scroll zoom code:
https://github.com/synfig/synfig/blob/4d7689b40a7a846400195672e9dfc3f2db653c1c/synfig-studio/src/gui/selectdraghelper.h#L759-L793

And this should be how current vertical zoom is implemented in `Graphs`:
https://github.com/synfig/synfig/blob/4d7689b40a7a846400195672e9dfc3f2db653c1c/synfig-studio/src/gui/widgets/widget_timegraphbase.cpp#L96-L108

[2021-01-04 12:20] FirasH opened #1969 "[Synfig Studio] Waypoints could be placed outside Time Start/End animation interval"
**Synfig version & platform**:
master 4d7689b

**Issue description**:
1. Create a new animation
2. Enable Animate Mode and create a waypoint
3. Drag the waypoint to the left/right outside `Graphs` widget area
The waypoint will be placed outside the visible widget area and will correctly compute the values.

I think this behavior could make sense when start/end frame value of the animation is chang

[2021-01-04 13:02] KyleMaas commented on #990
Only tested the x86_64 version, but that seems to work.  Thanks!

[2021-01-04 15:16] ice0 commented on #990
Awesome! Thank you!

[2021-01-04 15:27] #990 closed

[2021-01-04 16:31] rodolforg commented on #1326
You can also zoom time via `Ctrl`+`+` and `Ctrl`+`_`

In code view, you should change the `TimeModel`.

[2021-01-04 17:53] FirasH commented on #1326
@rodolforg I've linked a pull request that works in `Graphs` panel.
It's easily applied also on other panels based on `widget_timegraphpanel.`

What do you think about it?

The only minor thing different with respect to timebar is that zooming is applied keeping current time fixed instead of cursor position.

[2021-01-05 05:30] rodolforg commented on #1326
By cursor you mean time cursor or mouse cursor?

[2021-01-05 06:59] FirasH commented on #1326
Mouse cursor.
Current time is the position reference for zooming in and out.

To do it like the timebar we need to use some Gdk event to pick mouse cursor position.

[2021-01-05 07:51] morevnaproject commented on #1969
Hi! in my experience there are situations when animator needs to place waypoints outside of start/end interval. So I would like to keep this functionality. ^__^

[2021-01-05 12:22] rodolforg commented on #1326
You can use `get_pointer()` to get current mouse position :)

[2021-01-05 16:25] #1966 closed

[2021-01-05 20:11] FirasH commented on #1326
Thanks!

[2021-01-05 22:56] FirasH commented on #1969
Yes, that’s true.

But how would you place a waypoint outside of start/end time precisely without any reference to timebar?
What if a waypoint in placed outside by mistake?

In my opinion it’s counter intuitive to place a waypoint outside start/end time (except for start/end time values changed).
It could be useful in some cases but in general I feel this as a “hacky” solution (that you could alwa

[2021-01-06 01:26] rodolforg commented on #719
@Bill-Jobss  @Jose-Moreno is it ok with 1.4.0 and 1.3.16?

[2021-01-06 03:10] ice0 opened #1972 "Use "Constant" interpolation by default for all "enum" parameters"
Problem description:

For example if you interpolate from `Blend Method` `Composite` to `Alpha` Synfig will get through each one of them like from 0 to 20.

_Originally posted by @FirasH in https://github.com/synfig/synfig/issues/1968#issuecomment-753650346_

[2021-01-06 03:11] ice0 commented on #1972
ping @morevnaproject

[2021-01-06 03:13] #1965 closed

[2021-01-09 14:51] morevnaproject commented on #1969
I can select multiple waypoints and drag them to start/end. In this case some waypoints are easily placed outside of range. ^__^

[2021-01-09 15:05] morevnaproject commented on #1972
I agree, it would be nice to set default interpolation for Blend Method parameter.
I think it should be a "default interpolation" flag set for new created layers, as follows - https://youtu.be/Bxn0eRY1Kv0

[2021-01-09 15:36] FirasH commented on #1972
Didn't know about that feature...
I'll check how to apply that by default.

[2021-01-09 15:38] morevnaproject commented on #1972
Some parameters have "Static" flag applied by default. I think the interpolation flag can be applied in similar way.
![screenshot_001](https://user-images.githubusercontent.com/332868/104095802-7170f900-52cb-11eb-86d2-50318effbbaa.png)

[2021-01-09 15:40] morevnaproject commented on #1972
BTW, I have noticed that "Blend Method" parameter is set to "Static" for Group Layer. O_O
Maybe this is what we want for other layers?
![screenshot_002](https://user-images.githubusercontent.com/332868/104095828-92d1e500-52cb-11eb-9709-8e665ca3c717.png)

[2021-01-09 15:45] FirasH commented on #1972
Yes, you're right. I'm also for setting it as `Static`.
Then if some animation is required the user will deal with interpolations.

[2021-01-09 16:30] FirasH commented on #1972
Enum parameters not set to `Static`:
* Blurs > Motion Blur > Subsampling Type
* Blurs > Blur > Type
* Distortions > Noise Distort > Interpolation
* Distortions > Spherize > Distort Type
* Filters > Halftone 2 > Type
* Filters > Halftone 3 > Type
* Geometry > Advanced Outline > Type of Feather
* Geometry > Advanced Outline > Winding Style
* Geometry > Advanced Outline > Tip Type at Start
* Geometry

[2021-01-09 20:09] FirasH commented on #1972
When Layers are created using Tools Static parameters are set differently.

[2021-01-10 18:50] Jose-Moreno commented on #719
@rodolforg 👋 Hi, happy new year! I think this has been fixed ever since 1.3.16 or later. Currently in 1.4.0-stable this does not happen anymore (i double checked just now. good job on fixing the memory leak everyone! 👏

I think this can be closed.

[2021-01-10 18:51] Jose-Moreno commented on #540
@ice0 @rodolforg Ah sorry! I didn't see this message before. I'll test ASAP.

[2021-01-10 21:13] Jose-Moreno commented on #540
@rodolforg @ice0 Alright, as you instructed I used MMM and I think I managed to capture the crash properly at last.
[synfig_crash_reports.zip](https://github.com/synfig/synfig/files/5793280/synfig_crash_reports.zip)

Here's also a video showcasing how I managed to crash Synfig (by showing the steps and other video I recorded). I also mention some other issues I found related to this that could be

[2021-01-11 03:08] ice0 opened #1975 "[Synfig Studio] Main window incorrectly positioned at startup"
**Synfig version & platform**:
PR https://github.com/synfig/synfig/pull/1973

**Issue description**:
When window position is set to 0,0 it moves out of screen.

Bug is reproducible when you try to `move()` after present(). If you call `move()` before showing window - then position is correct.

If you call move() again after window is already visible it positions incorrectly.
Reproduced only on mul

[2021-01-11 11:26] VaibhavDS19 commented on #1932
looks like it

[2021-01-11 12:23] onlyjob opened #1978 "1.4.0: [synfig-studio] non-free/minified "plugins/lottie-exporter/bodymovin.js" (Open Source compliance)"
https://github.com/synfig/synfig/blob/master/synfig-studio/plugins/lottie-exporter/bodymovin.js is a source-less pre-minified file - therefore it is non-compliant with Open Source and DFSG. Please always provide complete sources.

Effectively minified code is equivalent of pre-compiled binary -- un-readable, non-modifiable and non-distributable in [Debian](https://debian.org).
It is a bad practice

[2021-01-12 05:16] ice0 commented on #1978
@onlyjob Hi! Thanks for pointing to this.
ping @saurabh-ramola @AnishGG

[2021-01-12 11:44] #1871 closed

[2021-01-13 16:16] zelferry opened #1980 "don't have the android version?"
hi, hey i was wondering if the program has an android version 4.4.4.

[2021-01-13 16:51] rodolforg commented on #1980
Synfig Studio is only available for Windows, Linux and MacOS

[2021-01-14 23:08] rodolforg opened #1983 "Crash when duplicating a Group layer AND its "layer Duplicate" child"
**Synfig version & platform**:
1.4.0 and master

**Issue description**:
Consider this canvas tree:
![Captura de tela de 2021-01-14 20-00-34](https://user-images.githubusercontent.com/1323987/104659477-75be5d00-56a3-11eb-809e-88ca2ee602af.png)
If user selects the Group layer and the Duplicate layer child (it must be Duplicate to trigger this issue, other types work fine),
![Captura de tela de 2021-

[2021-01-15 03:00] #311 closed

[2021-01-15 05:05] rodolforg commented on #1922
The problem is in `lottie-exporter/helpers/mask.py`.
[code]

When exporting, at third time code reaches ` if not posi["c"]:` line evaluated as `False`, `posi` contents are:
[code]
And that's the reason exception is thrown ("IndexError: list index out of range").

But I don't know the code to mess with it.

[2021-01-15 14:02] rodolforg opened #1986 "Tool Bones: crash when undoing child bone placing and placing a new child bone"
**Synfig version & platform**:
master

**Issue description**:
It's a crash:
Steps to reproduce:

1. Create a new document (`Ctrl+n`)
2. Select Bone tool (`n`)
3. Click anywhere on workarea for creating the skeleton layer (and first bone )
4. Click anywhere on workarea for creating a child bone
5. Undo last action (`Ctrl+z`)
6. Click anywhere on workarea for creating a child bone
7. Crash

As far a

[2021-01-15 15:29] rodolforg commented on #1902
We can:
- set a variable to store import status (and retrieve with an accessor method: eg. get_status()); or
- the import isn't done on constructor, but on a separate method, that would be called after constructor and could return import status or throw an exception.

[2021-01-15 15:31] rodolforg commented on #1873
Maybe fontconfig is not updated automatically…

[2021-01-15 20:04] sprino opened #1987 "Application is closing when it is selected "Link to Spline"."
**Synfig version & platform**:
(we're more likely to help if you're using latest development builds)

Version on Ubuntu 18.04:
SynfigStudio-1.4.0-stable-2020.11.14-linux64-b9862.appimage
SynfigStudio-1.2.1-stable

**Issue description**:
When i clik "Link to spline" the application is colosing.

`(synfigstudio:8611): Gtk-WARNING **: Allocating size to gtkmm__GtkNotebook 0x218b180 without calling gt

[2021-01-15 20:52] rodolforg commented on #1987
I just tested on 1.4.0 appimage version and it worked.
Could you please detail the step you did so I can reproduce it?

[2021-01-15 21:53] sprino commented on #1987
Ok,
on windows 7 (virtualized in virtual box) it does the same problem.

https://user-images.githubusercontent.com/32312522/104782290-42073400-5784-11eb-959c-53c08b7721a8.mp4

![Schermata del 2021-01-15 22-47-28](https://user-images.githubusercontent.com/32312522/104782311-49c6d880-5784-11eb-932e-85a7a960324b.png)

[2021-01-15 23:15] rodolforg commented on #1987
Strange. I try to reproduce it but I couldn't.

https://youtu.be/zx_46AiQzFE

[2021-01-15 23:20] rodolforg commented on #1987
Ok. I saw a minor difference: you select one of the spline vertices too before link to spline.
Try without selecting it: you don't need to select any spline vertex.

[2021-01-16 09:50] sprino commented on #1987
I confirm, if I do not select the vertex of the line the problem does not occur.
Anyway, do we leave the issiu open or should it be closed?
I would leave it open with the title change and description to specify the particular case.

[2021-01-16 15:33] rodolforg commented on #1987
Let it open.
The problem exists, and on current stable release :)

[2021-01-16 21:49] MrTeeXD opened #1989 "Rotating Tool Does Not Work"
**Synfig version & platform**:
Version 1.4.0

**Issue description**:
When I select the rotating tool, I dont get a rotating handle for a drawn square and thus I cannot rotate the square at will

Screenshot:
![synfigstudio_EauHRRFT4g](https://user-images.githubusercontent.com/37266538/104823785-60893000-5855-11eb-9f2b-3deb48116b62.png)

[2021-01-16 22:03] rodolforg commented on #1989
You created a Rectangle as a "shape" layer: it's defined only by those two vertices and can't be rotated by itself.
- You can use a [Rotate](https://synfig.readthedocs.io/en/latest/layers/rotate.html) layer over it to rotate anything below it; or
- You can create a [rectangle region](https://wiki.synfig.org/Tool_Options_Panel#Rectangle_Tool) instead; or
- [Group](https://synfig.readthedocs.io/en/l

[2021-01-16 22:06] MrTeeXD commented on #1989
I found by grouping the Shape Layer, I can easily Rotate it. Closing this.

[2021-01-16 22:06] #1989 closed

[2021-01-18 09:33] AnshitaVishwa commented on #1208
@rodolforg my approach to solve this issue is using the "key-press-event", which uses callback that will check if the pressed key is a TAB key then the focus is changed. Is this a right approach to this problem ?

[2021-01-18 09:48] #1946 closed

[2021-01-18 12:25] AnishGG commented on #1922
Hi, will try to have a look at this issue as soon as possible.

[2021-01-18 17:19] rodolforg commented on #1208
@AnshitaVishwa Yes. Look at synfig-studio/widgets/widget_vector.h/cpp to check exactly where and how you would use it

[2021-01-18 18:54] AnishGG commented on #1922
The issue is:
There is one outline which has only one vertex in your `apple.sifz`. And this is handled in Synfig here: https://github.com/synfig/synfig/blob/678cc3a7b1208fcca18c8b54a29a20576c499927/synfig-core/src/modules/mod_geometry/outline.cpp#L367

We are handling the same thing in Lottie exporter here: https://github.com/synfig/synfig/blob/12b29c735a62f1896e557361f5dfcc3de41a0a11/synfig-studi

[2021-01-18 19:02] rodolforg commented on #1922
Hmm... visually, it could a single dot or am I wrong?

Anyway, as Synfig Studio can open and render the file, I think Lottie exporter should be able to render. It could warn about the ignored spline.

What do you think?

[2021-01-18 19:03] hellocatfood commented on #552
This works (albiet gifs can be slow to play) so should this be closed now?

[2021-01-18 19:19] AnishGG commented on #1922
Oh yes, I see. It is a single dot.

And yes, Lottie exporter should also behave in a similar way. Will look into this.

[2021-01-18 19:24] rodolforg commented on #1922
Synfig doesn't render this single dot, but…
1. I think it should
2. This doesn't prevents the document to be opened and rendered

[2021-01-18 19:29] AnishGG commented on #1922
Well for me, when I increase the outline width of an Outline layer, I am able to see some figure(probably single dot). Or this could be happening because I am using an older version of Synfig.
I have made some changes in the exporter, and now your 2nd point is followed in the exporter too.

[2021-01-18 19:34] rodolforg commented on #1922
I can't see anything on master branch nor on 1.4.0 (Debian).

:+1:

[2021-01-18 19:38] AnishGG commented on #1922
Well, that is good in a way. I won't have to make any more changes in the exporter :smile:
I will submit a PR to close this issue soon.

[2021-01-18 22:35] hellocatfood opened #1990 "Start time line from frame 1"
Following on from discussion here: https://forums.synfig.org/t/how-is-scale-calculated/11348/12 can the start frame be changed from 0 to 1?

It would bring it in line with other animation software such as Pencil, Opentoonz, Blender, Natron etc

[2021-01-19 03:24] ice0 commented on #552
@hellocatfood I think yes )

[2021-01-19 03:24] #552 closed

[2021-01-19 11:11] AnishGG commented on #1922
@rodolforg I just built Synfig from master branch, and I am able to see a dot like structure for a single vertex.
I am attaching the file here:
[check.zip](https://github.com/synfig/synfig/files/5835487/check.zip)

[2021-01-20 19:17] SushantAA commented on #1410
I want to work on this issue
pls assign me
is there any chat Chanel

[2021-01-21 09:01] ice0 commented on #1410
Hi and welcome here!
Assigned to you.

P.S.
Unfortunately there is no chat here.
Btw, you can ask here or at https://forums.synfig.org

[2021-01-21 14:49] SushantAA commented on #1410
thanks :smile:

[2021-01-21 16:58] FirasH commented on #1873
It has something to do with the last commits (a couple of months).

I have some animations made with previous versions of 1.5.0 on Windows where fonts were correctly listed.
Now the same fonts on the same machine are not listed anymore.

[2021-01-21 17:17] rodolforg commented on #1873
As the related code didn't change since I created the Widget_FontFamily, I don't know how to inspect it.
Maybe something about building? Autotools x CMake? I don't know :(

[2021-01-23 23:55] FirasH opened #1996 "[Synfig Studio] Exported Canvas doesn't sync correctly contained Layers with main Canvas"
**Synfig version & platform**:
master 99fe201

**Issue description**:

1. Create a new animation
2. Add a couple of Layers on Canvas (e.g. `Circle` and `Star`)
3. `Group` Layers created in step 2
4. Select the Group and in Parameters Panel right-click on Canvas and `Export Value`
Now in `Canvas Browser` the Canvas exported in step 4 is listed
5. Double-click on the exported Canvas in `Canvas Brows

[2021-01-24 02:46] rodolforg commented on #1996
Versions 1.2.1, 1.2.2 and 1.4.0 share the same problem.
Both workareas display the canvas correctly though: the problem is the layer tree shown on both canvas, right?

[2021-01-24 05:26] ice0 commented on #1873
Just checked. This is FontConfig problem (https://gitlab.freedesktop.org/fontconfig/fontconfig/-/issues/144).

As a temporary solution - right-click on your font file and choose "Install for all users".

[2021-01-24 08:23] FirasH commented on #1996
Exactly

[2021-01-25 17:01] rodolforg commented on #1922
Yes I can see it too. But, somehow, not that problematic path on apple.sifz

[2021-01-27 21:07] hellocatfood commented on #1694
Yes, that works. Thank you!

[2021-01-27 21:07] #1694 closed

[2021-01-28 14:57] hexemeister commented on #993
Having same issue here. Pop OS 20.10
![image](https://user-images.githubusercontent.com/4623759/106156230-0a26c600-6160-11eb-8c36-430a085043d7.png)

[2021-01-28 15:15] AnishGG commented on #1922
So, for now, I will just ignore the rendering of the outlines with a single vertex?

To make Lottie exporter behave in an exact way(make a dot-like structure), I need to understand where is it rendering the dot in Synfig code. Can someone help with this?
I am using somewhat old code of Synfig(non-optimized, but does not affect Lottie export): https://github.com/synfig/synfig/blob/678cc3a7b1208fcca

[2021-01-28 20:45] SushantAA commented on #1208
I want to work on this issue
pls assign me

[2021-01-28 21:25] rodolforg commented on #1208
@AnshitaVishwa  Any progress?

[2021-01-29 03:53] ice0 commented on #993
@hexemeister Hi! Are you using Flatpak version?

[2021-01-29 12:34] hexemeister commented on #993
Actually, I tried both versions, deb and flatpak. Screenshot above is from deb version. Flatpak version show other errors. I am sharing its screenshot shortly.

[2021-01-29 16:10] hellocatfood opened #2005 "Align origin to centre of layer/group"
It would be very useful if there was a way to automatically align the origin of a layer/group to its centre.

For objects drawn with the spline tool or objects that are imported from external svgs the origin is automatically set to the centre of the screen. In situations where, for example, a user wants to rotate the object about its centre, setting the origin to the centre of the object cannot be

[2021-01-30 03:58] ice0 opened #2006 "Synfig shows incorrect FPS for document"
**Synfig version & platform**:
master branch (https://github.com/synfig/synfig/commit/53aebba8412d1c28a3218365bf18d4105e955cd2)

**Issue description**:

https://forums.synfig.org/t/modify-frames-per-second-while-leaving-the-animation-untouched-otherwise/11761/

[2021-01-30 08:14] morevnaproject commented on #794
From [this link](https://superuser.com/questions/324980/how-do-you-re-install-a-package-with-homebrew-mac/575255) I found that it is possible to re-install ImageMagick without OpenMP:

[code]

@ice0 Should we reopen this issue and modify our build scripts? ^__^

[2021-01-30 23:51] Gilraiser opened #2007 "The color picker tool does not pick up the correct colors in png and jpg images."
**Synfig version & platform**:
Development build and 1.4.0 version

**Issue description**:

When I try to pick a color with the tool, the color is not the same as captured in the outline and region boxes displayed in the tools docker.

I am attaching a video that explains what happens.

Thank you very much for your attention.

[2021-01-31 05:38] ice0 commented on #794
@morevnaproject Sure.

[2021-01-31 05:56] ice0 commented on #2007
@Gilraiser just checked on Linux Mint.
`Gpick` shows the same colors. Can you share your image? Short video will be very helpful.

[2021-01-31 21:47] Gilraiser commented on #2007
I was unable to upload a video. But I upload a gif (to see it move you have to click) and a sifz file. I tried with png and jpg images, obtaining the same results. Most of the time the colors don't match.

Thanks for answering
 ice0

![Colorpickerbug2021](https://user-images.githubusercontent.com/45057390/106398625-f094b100-63e1-11eb-8c02-07937bdac817.gif)

[Animacion1.zip](https://github.com/synf

[2021-02-01 03:02] Gilraiser opened #2008 "The loop layer does not work on imported gifs"
**Synfig version & platform**:
Stable versión 1.4.0

Development build 1.5.0
Revision ID: 53aebba
Built on Jan 31 2021

On archlinux 64x

**Issue description**:

When I want the animation of the gif to start over, using the loop tool, this tool does not work on the gif. However it works on the other layers.

I attach a short video and the gif image.

I hope it is helpful, thank you very much for y

[2021-02-02 18:42] SushantAA commented on #342
I want to work on this issue
pls assign me

[2021-02-02 23:24] bbrizzy89 opened #2010 "Merge tangents for all vertices of object"
**Synfig version & platform**: 1.4.0
MacOS10.15.7

**Issue description**: When importing from inkscape and other situations, an object may be made where all the vertices have unmerged tangents, and so to animate and preserve smooth appearing curves I currently have to go in and manually right click each vertex individually and merge tangents. Can a function be added to be able to right click somew

[2021-02-03 03:42] ice0 commented on #342
@SushantAA no problem, but can you reproduce the issue?

[2021-02-03 06:49] #1885 closed

[2021-02-03 07:46] ice0 commented on #2010
Hi!
@bbrizzy89 can you attach some sample file? And maybe make a short video showing a problem?
Just for better understanding. This will help a lot.

[2021-02-03 14:04] Accountant69 commented on #2007
The eyedrop which is activated in the color window returns the right color

[2021-02-03 16:51] SushantAA commented on #342
Actually, I am not able to change the language in Synfig :cry:

[2021-02-03 17:41] SushantAA commented on #342
I basically take up random bungs, because the more I read about the bug I create some intuitions in my mind that it's hard :fearful:. So, after assigning I read the discussion.:wink:

[2021-02-04 05:15] bbrizzy89 commented on #2010
Hey ice0 thanks so much - I'm attaching a file. Had to get it down to 480p and chop up a bit to make the file fit but I think it communicates the issue okay. Thanks so much for considering!

https://user-images.githubusercontent.com/78452200/106848015-25a83a00-6654-11eb-8fc6-ebc007e1cf2e.mov

[2021-02-05 04:46] #402 closed

[2021-02-06 02:37] #1972 closed

[2021-02-06 09:01] #1921 closed

[2021-02-06 16:21] SushantAA commented on #342
pls confirm on this

[2021-02-07 03:41] #1326 closed

[2021-02-07 22:53] jonaspereirar commented on #993
Hello! I made a donation of order # 22846152, and I want to do much more! I can only thank you for this wonderful software. i'm getting problems with lxml, synfig can't find it, but i already have the modules with python. I have linux focal 20.04 and the synfig is 1.4.0
Thank you so much

![Issue synginf](https://user-images.githubusercontent.com/48494302/107161848-514e5b80-6997-11eb-9976-3fb913af

[2021-02-07 23:36] rodolforg commented on #993
Are you using from Ubuntu official repositories or from AppImage or Flatpak images?

[2021-02-08 01:42] rodolforg commented on #1901
I can't reproduce it.

[2021-02-09 04:33] ice0 commented on #1901
@rodolforg I can't reproduce too :(

[2021-02-10 14:42] jonaspereirar commented on #993
@rodolforg I'm using official ubuntu image

[2021-02-10 18:43] jonaspereirar commented on #993
@rodolforg Through the Image the error looks like this!
![Issue synginfWithImage](https://user-images.githubusercontent.com/48494302/107556052-d754e700-6bcf-11eb-94b9-19c8248a4461.png)

[2021-02-11 08:53] #1873 closed

[2021-02-13 04:26] #2010 closed

[2021-02-13 04:31] ice0 commented on #993
I will take a look.

[2021-02-13 06:46] Keyikedalube opened #2014 "[Synfig Studio] Delete event doesn't reset CanvasProperties rend_desc values"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
1. Open Canvas Properties dialog
2. Change width value
3. Close dialog using the close button from the title bar
4. Open Canvas Properties dialog again
5. Width value is not reset

[2021-02-13 07:07] Keyikedalube opened #2015 "[Synfig Studio] Improve synfig CSS stylecontext code to one line"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
Synfig stylecontext is currently implemented in two lines:
[code]
We could make it a one liner for those variables only used once and not anywhere else
like this:
[code]

[2021-02-13 07:23] Keyikedalube commented on #2015
Here are some lists of files to update:
- https://github.com/synfig/synfig/blob/10b7715872763b7b488e43fb2284f6535336a895/synfig-studio/src/gui/canvasview.cpp#L545-L546
- https://github.com/synfig/synfig/blob/10b7715872763b7b488e43fb2284f6535336a895/synfig-studio/src/gui/docks/dock_history.cpp#L69-L70
- https://github.com/synfig/synfig/blob/10b7715872763b7b488e43fb2284f6535336a895/synfig-studio/src

[2021-02-13 09:43] Keyikedalube opened #2016 "Cannot add child bones if skeleton is created from Layers dock panel"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
1. Add skeleton from layers dock panel
2. Left click anywhere on the canvas to add child bones

Child bones are not added. However, if the user adds skeleton from either
- menu bar **Toolboox > Skeleton Tool** or
- through accelerator key **N**

Child bones are added.

[2021-02-13 14:18] Keyikedalube opened #2017 "[Synfig Studio] Small progress bar on status bar"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
Import any raster image and convert it to vector. The progress bar height is very small to be noticed.

![Screenshot from 2021-02-13 19-43-29](https://user-images.githubusercontent.com/24214509/107852050-4d598800-6e34-11eb-9af8-5f56629a8f4b.png)

[2021-02-13 14:18] Keyikedalube commented on #2017
I'm working on this :)

[2021-02-13 14:29] Keyikedalube opened #2018 "[Synfig Studio] Does vectorization dialog need to be resizable?"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
![Screenshot from 2021-02-13 20-01-49](https://user-images.githubusercontent.com/24214509/107852287-e89f2d00-6e35-11eb-9b8f-9167e4226b77.png)

That's vectorizer dialog maximized. I'm thinking this dialog width/height should be fixed ie., turn off resizability

[2021-02-13 18:19] jonaspereirar commented on #993
thank you so much @ice0 🙏🙏🙏

[2021-02-14 07:24] rodolforg commented on #1932
@VaibhavDS19 any news about testing on Windows?

[2021-02-14 22:02] fire commented on #704
https://synfig.readthedocs.io/en/latest/releases/stable/1.4.0.html has lottie export.

[2021-02-15 09:12] morevnaproject opened #2020 "Number of rendering threads is not remembered"
The PR #1999 introduced option to set number of rendering threads.
But preferences dialog is not remembers the value set for this option.

Steps to reproduce:
- Launch Synfig Studio.
- Go to Edit -> Preferences -> Render and change number of threads
- Click OK.
- Close Synfig Studio
- Launch Synfig Studio again
- Go to Edit -> Preferences -> Render - it will display 2 threads only

My configuratio

[2021-02-15 09:55] VaibhavDS19 commented on #1932
Now seems to work properly, I reinstalled it and seems to work.

[2021-02-15 17:20] rodolforg commented on #1932
@VaibhavDS19 on those special portable versions?

In your original post, you said the problem happens on ' Latest version': you mean 1.4.0, right? Does this version work fine now after reinstalation?

[2021-02-15 19:00] VaibhavDS19 commented on #1932
Yes, the above version seems to work without any issues after reinstallation.

[2021-02-15 23:34] jcome commented on #1458
it reminds me my never finished synfig icon font :)  https://github.com/jcome/sif.font
and there was a forum topic but I don't know if it was deleted since I don't know where is synfig official forum now.

Good luck for yours 👍

[2021-02-16 13:55] Keyikedalube opened #2025 "Isolate Time properties to its own dialog"
At this point the dialog `Canvas > Properties...` is going to be disassembled (right?) in smaller dialogs, something like:

* **Time...** dialog which contains Time tabs from `Canvas > Properties...` and `Canvas > Options...` not as a tab, but as a specific whole dialog

_Originally posted by @FirasH in https://github.com/synfig/synfig/issues/1895#issuecomment-750148155_

[2021-02-17 05:26] Keyikedalube opened #2026 "[Feature request] Hotkey to toggle animate on/off"
**Issue description**:
The animate button doesn't have a hotkey to toggle it on and off. I believe implementing one would improve the workflow.

Original post 👉🏽  https://forums.synfig.org/t/anyone-know-how-to-toggle-animate-mode-as-a-hotkey/11787

[2021-02-17 06:37] Keyikedalube commented on #2026
[Initial hotkey suggestion](https://forums.synfig.org/t/anyone-know-how-to-toggle-animate-mode-as-a-hotkey/11787/7?u=keyikedalube):
- `Ctrl + Space`
- `Ctrl + M`

@FirasH @morevnaproject @rodolforg @ice0 @BobSynfig

[2021-02-17 12:40] Keyikedalube opened #2027 "Exported canvas group doesn't re-open after closing its tab"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
Was following this [YouTube tutorial](https://www.youtube.com/watch?v=I5HDVC97IMs&list=PLjuma0nCUc49ouTXvF9DtqBAOvMKjQLhF&index=18) when I closed my exported group tab and then tried to re-open it again. Synfig didn't properly open or failed to. I don't really know the internals so I'm guessing this is a bug?

He

[2021-02-17 13:55] kezb765 commented on #993
Hi all,
I also am not able to export animations from synfig studio 1.4.0 into Lottie format. This is what happened:
- first I tested Synfig 1.4.0 on Linux Ubuntu. I got errors when trying to export an animation. The box looked like the screenshot from "hexemeister", the last words in the list of errors were "...assert(anim in not None) AssertionError".
- today I installed a fresh Synfig Studio 1.4

[2021-02-17 14:22] Keyikedalube commented on #279
@ice0 I think Synfig's CMake build script is fairly complete. Worst case scenario is suited for this project ie., keep both Autotools and CMake because there are some contributors who excel at Autotools. Should close this issue?

[2021-02-17 14:40] Keyikedalube commented on #357
This post is better suited for Q&A type on synfig forums. Time to close this issue?

[2021-02-17 14:42] Keyikedalube commented on #358
Synfig stable release is now in v1.4

I think this issue is safe to be Closed.

[2021-02-17 19:17] #357 closed

[2021-02-18 02:28] Keyikedalube commented on #393
Do you still encounter this same issue with the new stable version 1.4?
If not then this issue is safe to be closed.

And to answer your question this could have been a bug in the installer program or maybe there were old synfig configuration files (though you say otherwise) conflicting with the installer program.

[2021-02-18 02:48] Keyikedalube commented on #463
This issue still exists on Synfig built from the master branch

[2021-02-18 02:56] Keyikedalube commented on #533
Synfig GUI code is written in GTKMM so you get that GNOME flavor for dialogs where maximize and minimize buttons are not displayed on the title bar.

You can unmaximize it by clicking and dragging the dialog's title bar. That's what we GNOME users do.

Or... dialog resizability could be turned off through code @rodolforg?

[2021-02-18 03:28] rodolforg commented on #533
IMO the solo benefit to be able to resize Color dialog would be about slider precision.
But user can fine-adjust by typing or clicking on 'plus'/'minus' buttons on each component value field.

I intend to create a new HSV plane to replace this (deprecated :( ) Gtk widget. Actually I did start to work months ago, but I stopped my work to focus on some bugs (like those from advanced outline width st

[2021-02-18 03:39] Keyikedalube commented on #574
![Screenshot from 2021-02-18 08-55-47](https://user-images.githubusercontent.com/24214509/108301016-2352ed80-71c7-11eb-8d38-6a90df4a236a.png)

Adding two more buttons will make the status bar too constricted for other widgets like text notifications (center).

For animators, keyboard shortcuts are superior to UI elements. We already have jump 1s forward and backward hotkeys so it's still accessibl

[2021-02-18 03:40] rodolforg commented on #463
Importing or opening the .sif on Synfig Studio?

[2021-02-18 03:54] Keyikedalube commented on #546
This issue is already solved in this PR #1823

[2021-02-18 04:40] rodolforg commented on #1922
Sorry for the delay @AnishGG
I don't understand exactly what you asked.

The `Layer_Outline` is based on `Layer_Shape`.
`Layer_Shape` define its shape by its member variable `contour`, that is built by methods like `void Layer_Shape::move_to(Real x, Real y)` and `void Layer_Shape::line_to(Real x, Real y)` for example.
https://github.com/synfig/synfig/blob/678cc3a7b1208fcca18c8b54a29a20576c499927/s

[2021-02-18 05:13] Keyikedalube commented on #887
It's a GNOME desktop. Settings in the 1st screenshot gave it away :)

Also, post here to verify https://fossbytes.com/ubuntu-18-04-lts-gnome-default/

[2021-02-18 05:28] Keyikedalube commented on #825
I don't have an OS X system with me but maybe migrating from `Gtk::FileChooserDialog` to [`Gtk::FileChooserNative`](https://developer.gnome.org/gtkmm/stable/classGtk_1_1FileChooserNative.html) could help resolve this.

[2021-02-18 06:00] Keyikedalube commented on #463
Importing

[2021-02-18 06:05] Keyikedalube commented on #533
That's OK :)
Take your time with your old PRs and come back to this again. I'm not fixing this.
Didn't know this current color widget was already deprecated. Thanks for the heads up!

[2021-02-18 06:07] rodolforg commented on #533
You can fix the resize in the meanwhile :)
But please don't try to make fancy changes ;)

[2021-02-18 07:15] Keyikedalube commented on #2015
I'll fix this :)

[2021-02-18 17:17] rodolforg commented on #825
It's only available on gtkmm 3.24 :(

[2021-02-19 03:06] Keyikedalube commented on #825
Oldest stable support 👉🏽 Ubuntu 16.04
and gtkmm-3.24 is available in Ubuntu 20.04 so if you progress support from 16.04, 18.04, and finally to 20.04 with nearly 3-4 years apart for each release
that's a long way to go...

So native file chooser will be implemented for end-users in Synfig v2.0, right?

[2021-02-19 05:01] Keyikedalube opened #2034 "Improve jump to begin/end behavior if play bound is enabled"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
![Screenshot from 2021-02-19 10-24-06](https://user-images.githubusercontent.com/24214509/108459511-d2adc400-729c-11eb-9237-ccbec6ce2c91.png)

I want jump to begin/end change dynamically to "jump to left bound or right bound" if playback bounds is enabled. Currently, that keyboard shortcut jumps all the way to 0f

[2021-02-19 07:16] #2015 closed

[2021-02-19 09:00] Keyikedalube opened #2035 "[Feature request] Close a workspace tab using middle mouse click"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
Synfig offers multiple tab feature so I'd love if tabs can also be closed using the middle mouse click action just like on Firefox :)

![Screenshot from 2021-02-19 14-27-01](https://user-images.githubusercontent.com/24214509/108481836-ac991b80-72be-11eb-86bd-aaaac6095989.png)

[2021-02-19 09:14] Keyikedalube opened #2036 "[Feature request] Change mouse cursor while repositioning canvas"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:

https://user-images.githubusercontent.com/24214509/108483373-aad05780-72c0-11eb-8f08-c02b9b830832.mov

Just like on Inkscape, I'd love Synfig to change its mouse cursor while dragging the canvas around the screen using the middle mouse button.

![Untitled](https://user-images.githubusercontent.com/24214509/10848

[2021-02-19 09:21] Keyikedalube commented on #1980
Safe to be closed?

[2021-02-19 10:38] Keyikedalube opened #2037 "Improve render progress info widgets"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
![Screenshot from 2021-02-19 16-04-37](https://user-images.githubusercontent.com/24214509/108493517-6cd93080-72cc-11eb-97a6-0aa518c55e9c.png)

Show that button only when an animation project is being exported and then hide it again after it's done.

UPDATE: The intention of this issue changed based on discussions

[2021-02-19 12:00] #533 closed

[2021-02-19 14:22] Keyikedalube opened #2038 "Inconsistent dialog action button order"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
![Screenshot from 2021-02-19 19-44-40](https://user-images.githubusercontent.com/24214509/108516216-f5b39480-72eb-11eb-9a70-9baac82079a1.png)

Should be **Cancel** -> **OK** instead of the reverse

[2021-02-20 03:11] Keyikedalube opened #2039 "[Feature request] Local history for exported canvases"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
An animator just learned how to use this https://wiki.synfig.org/Doc:Reuse_Animations for faster workspace rendering.

Suppose we are animating a world and there are several scenes (let's assume three scenes) going on in that. To have faster rendering an animator would isolate those three scenes into their own ca

[2021-02-20 06:25] rodolforg commented on #2006
I actually don't see as incorrect FPS.
Synfig is not based on 'frames'. Setting different FPS reflects on more or less 'png' files per second (let's say this way :P) , but everything happens at same time point set as before.
But the timetrack labels may misled the synfig time concept.

[2021-02-20 06:29] rodolforg commented on #1899
Related to #455 #1393.

The first I intend to solve together with duplicate-layer action fixes.

[2021-02-20 06:31] rodolforg commented on #1932
@ice0 , it seems he used the official Synfig 1.4.0 version (not the ones you kindly provided for testing) and everything works fine now (somehow).

So is it safe to close, as it seems to be a bad installation issue?

[2021-02-20 17:30] FirasH commented on #2037
Makes sense to me, plus current button is not pretty to look at...

[2021-02-20 17:33] FirasH commented on #2026
I vote for `Ctrl + Space`

[2021-02-20 18:00] rodolforg commented on #2026
As `space` means "play" animation", I suppose `ctrl+space` good for toggle animation/'view' mode.

Is 'M' currently mapped to something by default?

[2021-02-21 01:57] Keyikedalube commented on #2026
Yes, SmoothMove Tool
![Screenshot from 2021-02-21 07-26-12](https://user-images.githubusercontent.com/24214509/108613249-1b3cbd00-7416-11eb-941c-45dad90a688d.png)

[2021-02-21 02:44] rodolforg commented on #2026
So I'd vote for  `ctrl+space` by default for toggle animation mode.

[2021-02-21 02:45] rodolforg commented on #1849
Isn't time to bump the appimage embedded package versions?
I saw they're still based on Debian 7: released in 2013.

[2021-02-21 11:49] morevnaproject commented on #2037
Agree. ^__^

[2021-02-22 04:14] Keyikedalube opened #2041 "Menu mnemonics for text layer input dialog"
**Is your feature request related to a problem? Please describe.**
Can't use keyboard mnemonics `Alt + O` or `Alt + C` to apply or cancel changes

**Describe the solution you'd like**
Implement the mnemonics

**Describe alternatives you've considered**
Use mouse click to apply or cancel changes

**Additional context**
![Screenshot from 2021-02-21 13-29-19](https://user-images.githubusercontent.com

[2021-02-22 06:04] #546 closed

[2021-02-22 07:01] Keyikedalube commented on #2038
Same issue with this text input dialog 👉  #2041

[2021-02-22 16:00] rodolforg commented on #2041
Maybe support `ctrl + Enter/Return` too as an OK button press.

[2021-02-23 23:23] rodolforg commented on #1901
I looked the code and I couldn't see how it would be hidden.
Even resizing the WorkArea won't make it be hidden (differently of the 'top bar' of workarea).

Asking the post author, [he said he believes it he was using a previous version](https://forums.synfig.org/t/short-cut-for-animate-button/11420/8) .
I think it's safe to close this issue.

[2021-02-24 03:59] #1901 closed

[2021-02-24 09:18] Keyikedalube opened #2047 "Dynamic dock or undock notebook menu pop up"
**Is your feature request related to a problem? Please describe.**
1. Undock a notebook tab
2. Right click the undocked tab

The pop up menu still list "Undock panel"

**Describe the solution you'd like**
The pop up menu should list/change to "Dock panel"

**Describe alternatives you've considered**
Mouse click and drag the undocked tab to the main program window

**Additional context**

https://u

[2021-02-24 16:50] rodolforg commented on #2047
Ouch. Sorry about that.

I don't if it's 'possible', as panels don't have a 'home' place.

[2021-02-26 03:53] ice0 commented on #540
@Jose-Moreno Hi! Can you check if problem is reproduced on this build?

[Synfig x64 Portable](https://ci.appveyor.com/api/buildjobs/ga4a2m12yt64yo98/artifacts/SynfigStudio-1.5.0-testing-2021-02-23-win64-555b8.zip)
[Synfig x32 Portable](
https://ci.appveyor.com/api/buildjobs/9vky08g0t720a60b/artifacts/SynfigStudio-1.5.0-testing-2021-02-23-win32-555b8.zip)

No need to install it, just unpack and run

[2021-02-26 04:27] #2026 closed

[2021-02-26 05:00] #2020 closed

[2021-02-26 05:35] #2017 closed

[2021-02-26 18:16] Jose-Moreno commented on #540
@ice0 Hi. I'll test it and report back. Thank you!

[2021-02-27 00:28] pixelr0 commented on #1975
,

[2021-02-27 05:59] rodolforg opened #2051 "CLI and GUI FFMPEG target interfaces don't list/accept all available encoders"
**Describe the bug**
When choosing FFMPEG target and some video codec, synfig CLI doesn't render with a message "Video codec "<codec-name>" is not supported." even though the codec is installed, or, via GUI, Studio doesn't list it all available encoders.

**To Reproduce**
Via CLI:
1. Simply type something like:
`synfig <sif-file> -t ffmpeg -o output.mp4 --fps 25 --start-time 0f --end-time 902f --v

[2021-03-02 02:26] Jose-Moreno commented on #540
@ice0 Alright I've tested the issue with a similar setup as the previous video and honestly I've not been able to reproduce it. While it's good that I can no longer crash the program, I can't help but fear that there might still be an issue, however at that point we might need other users to report it again.

@rodolforg Regarding the comment on the layer dragging, the behavior seems a bit more res

[2021-03-02 03:45] rodolforg commented on #540
Thank you, @Jose-Moreno . I found and fix a problem that really could make studio crash. ice0 packaged this fix for you. If it was that cause of problem you reported, we don't know, but it could one of them.

About the that slow down, I don't know if @ice0 make my (other) fix together in the packages above.

[2021-03-02 11:42] ice0 commented on #540
This is great news!

No, this fix was not included, just to avoid mixing different fixes.

I just rebased this PR with this change (https://github.com/synfig/synfig/pull/1979). This should fix the speed issue.

[Synfig x64 Portable](https://ci.appveyor.com/api/buildjobs/sc42yj6iss4fvbti/artifacts/SynfigStudio-1.5.0-testing-2021-01-12-win64-7ba96.zip)
[Synfig x32 Portable](https://ci.appveyor.com/a

[2021-03-03 00:28] jussikiova opened #2058 "Non-ascii characters in filename produce no such file while trying to render"
Synfig generates a "no such file or directory" -error if there are non-ascii chactacters in the file name while trying to render. Example of such a path is C:\Users\jussi\OneDrive\Työpöytä\test.avi.

Ascii filenames do work normally.

 - OS version: Windows 10 Home v. 19042.804
 - Synfig version: 1.4.0

[2021-03-03 06:13] rodolforg commented on #540
@Jose-Moreno  :D

[2021-03-06 17:03] FirasH commented on #2038
Same for Gradient/Color dialogs

[2021-03-07 23:46] rodolforg commented on #714
I believe this was partially fixed by #1438

[2021-03-08 22:30] Gilraiser commented on #714
Many thanks

[2021-03-09 15:06] BobSynfig commented on #2058
Well-known and already solved issue.
Fixed version should be available in 1.4.1
See https://github.com/synfig/synfig/issues/1885

[2021-03-13 02:28] jussikiova commented on #2058
Good, I'm glad =) I just didn't find the #1885 by search, so I reported it just in case. After all, the bug stops the show during basic tutorial for some of us.

[2021-03-13 06:27] morevnaproject commented on #1669
In latest version menu item is called "Set as Parent To Active Bone" ^__^

[2021-03-13 15:06] Khemardi opened #2062 "Cursor Highlight display and Selecting Folders during screen recording URGENT"
**Describe the bug**
Firstly: Whenever I'm recording a tutorial using the screen recorder and the cursor highlight is on, I can't open up layer groups or options that have a dropdown. I use a screen recorder called 'flashback" link here: https://www.flashbackrecorder.com/

Secondly: Whenever I change the default cursor image on windows, to one with a highlighted cursor; the highlight isn't display

[2021-03-13 15:36] rodolforg commented on #2062
Could you please try with a more recent Gtk?

[2021-03-13 16:08] Khemardi commented on #2062
I'm using the latest.

[2021-03-13 20:33] rodolforg commented on #2062
You mean gtkmm >= 3.24.3 and gtk >= 3.24.25?

Can you test with Inkscape? it uses gtkmm too.

[2021-03-13 22:28] Khemardi commented on #2062
Similar issue with inscape.

[2021-03-14 02:16] rodolforg commented on #2062
So it's probably a gtk issue :/
I'll try with gimp later.

[2021-03-14 15:17] DhairyaBahl opened #2063 "Move ETL library code to synfig-core"
**Issue description**:

I couldn't find the issue for this project (GSoC 2021) ! So, I am creating one for the same. If in case the issue already exists then I am really sorry for inconvenience. Please Don't mind.

Thanks & Regards 🙌

[2021-03-14 18:17] rodolforg commented on #2062
Ok I didn't test it because flashback isn't free and it would pollute the machine I don't own. :(

Anyway, I think you can workaround it, for now, by selecting the group layer and pressing `+` (or `shift`+`right arrow`) to open the group or pressing `-` (or `shift`+`left arrow`) to close it.

[2021-03-14 22:50] Khemardi commented on #2062
o.0 Wait.....how come I didn't know about those shortcuts? I tried it and it seems to work. You are a lifesaver!!!! This is indeed a good workaround. Thank you! :D

[2021-03-15 01:06] BobSynfig commented on #2062
GTK support under Windows is not marvelous :/
Maybe you could try to
- deactivate hardware acceleration for the video
- modifiy the CSD parameter for Synfig

See https://gitlab.gnome.org/GNOME/gtk/-/issues/105
and https://bugs.launchpad.net/inkscape/+bug/1723247

[2021-03-15 01:26] Khemardi commented on #2062
So I see. I'll check out the links and thank you very much for the assistance.

[2021-03-15 06:59] ice0 commented on #2062
@Khemardi just checked with `flashbackrecorder`.
It works fine if you are using full screen recording and I have the same problem when using region recording. As a workaround, you can use full screen recording and crop the video afterwards.

[2021-03-15 11:28] Khemardi commented on #2062
This makes sense and it works. I've never entertained the thought that recording via region would be the problem as it works well with other apps. But it does make sense based on the framework. Anyway, I can record with the cursor highlight on again, so thank you both very much. So I would say this issue has been FIXED

[2021-03-16 07:03] FadhilKwan opened #2065 "Re-enabling Text Layer Rendering on Draft Rendering Mode"
I was a little unsure in which category should I put this issue. But since it's not a bug, I think it would be sort of fine to put it in here.

So, all the text layers won't show up at all when rendering mode is changed to 'Draft'.
And upon a little digging, I found that based on this issue: #409, it has been disabled in Draft Rendering Mode for the time being, and will be re-enabled once the laye

[2021-03-18 02:17] menonkartikeya commented on #2047
I don't find any option of "Dock Panel" at all, when right-clicking a tab. You could just drag and drop the tab out, and also drag and drop it back in.

https://user-images.githubusercontent.com/55075539/111563516-1cb39800-87be-11eb-8555-c59a14a0a43e.mp4

[2021-03-18 07:59] DhairyaBahl commented on #2038
@ankit-kumar-dwivedi I would like to work on this issue ! Kindly assign this to me. Thank You

[2021-03-18 08:01] DhairyaBahl commented on #1410
@ice0 PR related to the issue is merged ! Is it resolved ? If yes then kindly close it :) If not, then kindly assign it to me.

Thanks and Regards :)

[2021-03-18 08:50] DhairyaBahl commented on #1208
@rodolforg If no one is working on this issue currently , then I would love to work on this issue for better understanding of the project.

Regards

[2021-03-18 09:08] riya1606 commented on #1208
@rodolforg If no one is working on this issue currently, I would love to work on it! I am confident that I can solve it. Thank you! :)

[2021-03-18 10:11] FirasH commented on #2038
@DhairyaBahl great! You can start to work on it 👍
If you want a reference this is how some other buttons have been fixed https://github.com/synfig/synfig/commit/d8388cabf95fefa21d6d950798a58b841dc3b652

[2021-03-18 10:12] DhairyaBahl commented on #2038
@FirasH Thank You ! I am on it.

[2021-03-18 13:49] ankit-kumar-dwivedi commented on #2038
Done

[2021-03-18 14:45] ankit-kumar-dwivedi opened #2067 "Inconsistent tool name in tool options panel and toolbox window"
**Describe the bug**
Tool names are inconsistent in the Tool Options Panel and The Toolbox window tool (description/tooltip)

**Expected behavior**
These names must be consistent at both places.

**Screenshots**
![Screenshot 2021-03-18 at 8 02 39 PM](https://user-images.githubusercontent.com/37617951/111645328-98e1c600-8826-11eb-81c7-5aac5b0927c5.png)
![Screenshot 2021-03-18 at 8 00 21 PM](https:/

[2021-03-18 14:47] ankit-kumar-dwivedi commented on #2067
@ice0 @rodolforg @morevnaproject your take on this?

[2021-03-18 15:12] ankit-kumar-dwivedi commented on #1661
@warlockz are you still working on this one?

[2021-03-18 16:54] DhairyaBahl commented on #2038
@ankit-kumar-dwivedi @FirasH I have created PR for this issue ! Kindly check it out. Thanks :)

[2021-03-18 22:13] FirasH commented on #2067
I think this has been fixed in 1.5 and a backport is needed

[2021-03-19 15:26] ankit-kumar-dwivedi commented on #2038
It would be great if you can fix these as well in the same PR [^_^]

[2021-03-19 15:43] DhairyaBahl commented on #2038
@ankit-kumar-dwivedi Working on it . Will push my changes soon ^_^

[2021-03-20 08:16] DhairyaBahl commented on #2038
![image](https://user-images.githubusercontent.com/71627983/111863565-6a78fd80-8982-11eb-80b4-ecc065f5a0b5.png)

@ankit-kumar-dwivedi  @FirasH  Kindly tell me if this is layout is good to go ? I have moved the "close" button before the other two buttons. Kindly confirm if I did this correctly . Then I will push the changes in the PR.

Thanks and Regards ^__^

[2021-03-20 12:17] DhairyaBahl commented on #2038
![image](https://user-images.githubusercontent.com/71627983/111869198-2c8cd100-89a4-11eb-9054-cf09c93a8250.png)

I've also fixed button layout for #2041

@ankit-kumar-dwivedi @FirasH @Keyikedalube Kindly check both of my added screenshots ^_^

Regards

[2021-03-20 12:31] Keyikedalube commented on #2038
@DhairyaBahl
No, that's the first dialog that pops up when the user creates a text layer.
We need to fix the other dialog that pops up when you try to modify text content again.

https://user-images.githubusercontent.com/24214509/111869582-45968180-89a6-11eb-8f35-56ac501f4da2.mov

[2021-03-20 14:23] DhairyaBahl commented on #2038
![image](https://user-images.githubusercontent.com/71627983/111873307-b1341b00-89b5-11eb-8157-62ddec930d1e.png)

@Keyikedalube I fixed this ! but I am still not sure about the gradient one ! Kindly check it out and tell me if that one is correct ?

Thanks & Regards [^__^]

[2021-03-20 14:25] Keyikedalube commented on #2038
@DhairyaBahl Fetching and building...

[2021-03-20 14:26] DhairyaBahl commented on #2038
I have also included the screenshot for the same in the previous comment :) and I haven't pushed these changes in the PR :(

[2021-03-20 14:27] Keyikedalube commented on #2038
@DhairyaBahl Please push. There's no way I can test if you haven't pushed LOL

[2021-03-20 14:28] DhairyaBahl commented on #2038
@Keyikedalube Just A minute . Sorry for inconvenience.

[2021-03-20 14:29] Keyikedalube commented on #2038
It's correct to me. Cancel/Close should always come first. Part of GNOME HIG. GIMP and Inkscape follow that.

[2021-03-20 14:31] DhairyaBahl commented on #2038
@Keyikedalube Got it . And I have pushed the changes. Kindly check those out. Sorry for inconvenience again [._.]

[2021-03-22 03:35] Keyikedalube opened #2073 "Shortcut for Save all menu action"
**Is your feature request related to a problem? Please describe.**
OP wants a shortcut key to instantly save all his animations files
https://forums.synfig.org/t/problem-assigning-shortcut-to-save-all-action/11955

**Describe the solution you'd like**
Implement the accel key for Save all
OP tried `Ctrl+E`

**Describe alternatives you've considered**
Access Save all animation files through the menu

[2021-03-22 07:42] rodolforg commented on #1208
Any progress? Need any help?

[2021-03-22 12:49] FirasH commented on #2034
I looked at this issue and the behavior of the first button is defined here:
https://github.com/synfig/synfig/blob/2fd42d255e6dd59f2024b17fef51d723e92e8d22/synfig-studio/src/gui/canvasview.cpp#L939-L940

although if I change it to:
[code]

it always goes back to 0f even after changing the bounds... It's like bound values are not getting updated or I'm missing something...

[2021-03-22 21:49] rChen10 commented on #2014
I'd like a go at this issue. Can someone assign it to me?

[2021-03-23 01:27] Keyikedalube commented on #2034
`&CanvasInterface::set_time`? Could that be the issue? The 1st code was `&CanvasInterface::seek_time`

[2021-03-23 03:09] rChen10 commented on #2018
@Keyikedalube I would like to work on this issue.

[2021-03-23 08:30] Keyikedalube commented on #2018
@rChen10 Yours :)

[2021-03-23 08:44] FirasH commented on #2034
I've changed `&CanvasInterface::seek_time` to `&CanvasInterface::set_time` because the first is used to move forward and backward using a relative value (like -6 frames) while the second places the time cursor at the specified time.

[2021-03-23 14:05] #1980 closed

[2021-03-23 14:18] rChen10 commented on #2041
@Keyikedalube @rodolforg I would like to work on this.

[2021-03-23 14:58] Keyikedalube commented on #2041
@rChen10 What about #2018? Too much workload is not a good idea.

[2021-03-23 15:19] rChen10 commented on #2041
Yeah, you're right. I'll finish #2018 first. Probably jumping the gun here too much.

[2021-03-23 21:46] rChen10 commented on #2018
@Keyikedalube I think that resizability can be kept for this dialog if we allow the options to stretch much like in CanvasOptions (see below).

![2021-03-23 17_44_33-_Synfig Animation 1 - Synfig Studio](https://user-images.githubusercontent.com/23636881/112222925-92c16000-8bff-11eb-927e-fe6526d2cc4b.png)

[2021-03-24 03:20] Keyikedalube commented on #2018
Depends on what widgets the creator of the vectorizer feature plans to implement in the near future. I did not make this dialog nor do I know if there is any plan to add more complex widgets (that needs dialog's resizability) shown on your screenshot above.

So far there are only two specific columns for this dialog. And their max spinbutton values are in the range of 10-500
![Screenshot from 2021

[2021-03-24 03:30] Keyikedalube commented on #2018
@rChen10 I updated my issue description. Please don't forget to fix this dialog's button order too :)

_I edited that out because I thought someone else fixed it. Turns out it's not yet._

[2021-03-24 03:57] rChen10 commented on #2018
@Keyikedalube From what I can see, it appears that there is an Outline_setting_grid with experimental features that are mostly commented out.

[2021-03-24 04:35] Keyikedalube commented on #2018
@rChen10 I think it's OK to go ahead with Builder. Since no one seems to be working on those experimental features right now. I couldn't even build them uncommented.

Up to you though.

[2021-03-24 04:49] Keyikedalube commented on #451
What if **Apply** and **Cancel** buttons are added to the color dialog instead. That way when a user accepts changes from the dialog only one history is recorded, thus, fixing the inconvenient undo behavior.

[2021-03-24 06:00] rChen10 commented on #2018
@Keyikedalube I would like your opinion on this design:
![2021-03-24 01_59_20-_vectorizer_settings glade](https://user-images.githubusercontent.com/23636881/112262821-a5aa5380-8c44-11eb-8a03-d332702a66cd.png)

[2021-03-24 08:06] FirasH commented on #2067
Found the commit: 67b1ab7fc451c2d201da6bfc6b31083125481537

[2021-03-24 08:09] FirasH commented on #2067
Also this commit could be backported: 5156403d193864c9afb76c24326f56c509ea9e15

[2021-03-24 08:37] Keyikedalube commented on #2018
Multiple adjustments can be added to the glade design file itself :)

Experimental code is already broken in its current state. Looks like some types are not even implemented yet.

Sorry, translation stuff is still new to me. Maybe @rodolforg can help here.

[2021-03-24 09:22] ankit-kumar-dwivedi commented on #2067
thanks, @FirasH closing this one.

[2021-03-24 09:22] #2067 closed

[2021-03-24 09:31] ankit-kumar-dwivedi commented on #2018
I agree with your opinion here.

The only new thing that needed to be added in the dropdown to select mode see https://github.com/synfig/synfig/issues/1185

Since the layout does not appear to be finished, should I hold on implementing Builder?

@rChen10 yes the feature for the outline algorithm is not yet completed hence that option is not visible in GUI. I commented it so whenever we finish impl

[2021-03-24 09:46] rChen10 commented on #2018
@ankit-kumar-dwivedi Sorry if this is a redundant question, but should I implement Builder despite the commented code?

[2021-03-24 14:06] rodolforg commented on #2018
About the commented-out GUI stuff:
Maybe design it, but let it invisible/hidden.

All strings are marked as translatable by default on Glade files. But you to add the glade file to POTFILES.in as that commit log explains

[2021-03-24 14:07] rodolforg commented on #451
It's a solution, but you miss the visual feedback in image itself that helps you to properly choose a new color

[2021-03-24 14:13] Keyikedalube commented on #451
Hmm... I thought that preview bar on the color dialog could be sufficient but I didn't realize the feedback with the surrounding color on the canvas would be missed.

Anyway, mine's a bad idea. Thanks for the feedback.

[2021-03-24 14:22] rodolforg commented on #451
It isn't a bad idea.
Somebody needs to decide what is priority :) Ctrl+Z convenience or better visual choice

[2021-03-25 01:51] #2014 closed

[2021-03-25 07:35] ice0 commented on #451
I haven't checked the code, but it seems to me that we can set a special flag before opening the Color dialog and not save history if this flag is set.

[2021-03-25 10:22] FirasH commented on #2037
What do you think about moving the stop button to the right of the render bar like in this quick draft:

![proposal-render](https://user-images.githubusercontent.com/6705690/112456784-5efb4d00-8d5b-11eb-8729-5e51de90c34b.png)

maybe this way we can keep it visible and enable/disable it as needed?

[2021-03-25 11:24] Keyikedalube commented on #2037
Nice idea. What icon are we using then? Also, we might need to add a tool tip to briefly describe the button purpose.

However, I feel that layout works best on status bar. For now, these widgets are placed on info dock panel with spacious content area so the current vertical layout looks OK to me.

[2021-03-25 11:39] FirasH commented on #2037
I would use this red one:
![stop-button](https://user-images.githubusercontent.com/6705690/112466132-cae2b300-8d65-11eb-8503-df473dad0c3a.PNG)

About the vertical layout I don't like it as of now because the button gets unecessarily very wide.
I have to check though how to align it vertically next to render bar because the text percentage is part of the bar IIRC.

[2021-03-25 12:44] VaibhavDS19 commented on #2073
Is this ok for GSoC? I have literally 0 code experience with this but it seems interesting, so I thought I could learn this. Please let me know.

[2021-03-25 13:18] Keyikedalube commented on #2073
Yes, if it's related to your project proposal. So if an aspiring GSoC student is targeting Synfig GUI hacking then this issue is perfectly suited for beginners like you :)

[2021-03-25 14:13] Keyikedalube commented on #2037
Hope this sample statement works
`widget.set_valign(Gtk::ALIGN_END)`

[2021-03-25 21:27] FirasH commented on #2037
What do you think about something like this?
![stop-button-right](https://user-images.githubusercontent.com/6705690/112545828-f3e06380-8db8-11eb-9591-b9b7bfd61a4d.png)

The progress bar is centered so that the percentage value is not biased to left/right making it look weird.

[2021-03-26 02:02] Keyikedalube commented on #2037
Also, progress bar and button are not center aligned properly. Could be KDE? I'll test your PR on GNOME desktop...

[2021-03-26 03:42] ankit-kumar-dwivedi commented on #1208
@riya1606

[2021-03-26 07:08] VaibhavDS19 commented on #2073
Ok thank you. Where do I find the code documentation? Is it on the website or on the Github repo inside the code?
Please let me know

[2021-03-26 07:33] FirasH commented on #2037
As of now the progress bar is centered and the button is placed next to it.

Do you have a screenshot of it?

[2021-03-26 07:33] DhairyaBahl commented on #2073
@VaibhavDS19  You can refer to [this](https://synfig-docs-dev.readthedocs.io/) and try building synfig in your local system. ^_^

[2021-03-26 08:36] rChen10 commented on #2018
@Keyikedalube @ankit-kumar-dwivedi

If anyone is available, I would like to have my draft pull request reviewed. It currently resolves all the issues mentioned in the original post, but I have yet to work on porting the experimental features.

Any criticisms of my coding style or understanding of the classes would be greatly appreciated.

https://github.com/synfig/synfig/pull/2080

[2021-03-26 10:09] Keyikedalube commented on #2037
![Screenshot from 2021-03-26 15-37-26](https://user-images.githubusercontent.com/24214509/112615921-1d48d000-8e49-11eb-926c-bfb4f3efe13c.png)

I think it'd look nice to have that stop button padded at least 3px from the progress bar.

[2021-03-26 15:14] Keyikedalube commented on #2073
- Best way to learn GTKMM comprehensively in your free time:
https://developer.gnome.org/gtkmm-tutorial/3.24/gtkmm-tutorial.html
- Quick API reference:
https://developer.gnome.org/gtkmm/3.24/

Unfortunately, Synfig still uses deprecated API from older versions of gtkmm so you have to be flexible learning directly from reading the source code (not necessarily understanding the "how" but the ability

[2021-03-27 03:56] ice0 commented on #2037
Another version:

![render-progress1](https://user-images.githubusercontent.com/5604544/112709305-ddd2c000-8eea-11eb-9303-d231e727068c.png)
![render-progress2](https://user-images.githubusercontent.com/5604544/112709306-df9c8380-8eea-11eb-9a5c-b5cb93bb73dd.png)

[2021-03-27 06:06] Keyikedalube commented on #2037
**Render Progress:** center-aligned looks better. Gets the user's attention easily :)

[2021-03-27 07:57] FirasH commented on #2037
I wasn’t able to place the percentage inside the progress bar, how do you do that? I tried but without success.

[2021-03-27 08:02] rodolforg commented on #2037
I don't know if it possible with Progress Bar itself, or via CSS.

But you can do the trick with a GtkOverlay and signals :P Not difficult, but annoying lol

[2021-03-27 08:33] Keyikedalube commented on #2037
Found a related StackOverflow post for this: https://stackoverflow.com/questions/61298451/c-gtk-progressbar-not-acting-as-expected
One of the comment seems to provide a solution to the said issue: https://www.youtube.com/playlist?list=PLN_MPJUQgPVotiGnpwXQXNMHcGKr144z6

[2021-03-28 04:29] ice0 commented on #2037
This is Photoshop magic :)

Anyway, this is an example of how to that using the `Overlay` class:

![Screenshot_103](https://user-images.githubusercontent.com/5604544/112742414-9286e300-8fb8-11eb-8815-2c20d0c0f324.png)

[code]

[2021-03-28 05:04] rodolforg commented on #1393
I started to work on this issue today, and then it raised me a doubt:
What if an exported value node has links for other  exported valuenodes.
  I just list the 'top' valuenode?

[2021-03-28 09:40] FirasH commented on #2037
With `Gtk::Overlay` I managed to make it quite quickly.

Here you can see the current result:
![progress-text-overlay](https://user-images.githubusercontent.com/6705690/112748100-f1009100-8fb9-11eb-9624-e8ada029ec89.png)

[2021-03-28 10:43] FirasH opened #2081 "[Synfig Studio] Render progress bar is not reset if Preview rendering is stopped"
**Synfig version**:
master 1ffe5c3

**Issue description**:
1) Open an animation
2) Go to: `File > Preview...` and `Preview` the animation
As the `Preview` is rendered, the progress bar in the `Info` window will display the actual progress of the process.
3) Stop `Preview` rendering by either closing the dialog or using any of those three options:
![preview-options](https://user-images.githubuserco

[2021-03-28 10:51] FirasH opened #2082 "[Synfig Studio] Skeleton "Name" value is not updated as new Layers are created"
**Synfig version**:
master 1ffe5c3

**Issue description**:
1) Create a new animation
2) Select the `Skeleton Tool`
Now in the `Toolbox` window a `Name:` value is assigned automatically like "NewSkeleton014".
3) Create more Layers using the `Create Layer` button

Only the first Layer created uses the value assigned then it reuses the same value for all the next ones.
The tool should update the name

[2021-03-28 21:38] FirasH commented on #2034
Made some tests but there's something I'm missing for sure...

If the code is changed to this:
[code]
when the button is clicked, the time cursor will be placed at 2 seconds which is the frame with value 2*fps.

For some reason `time_model()->get_actual_play_bounds_lower()` and `time_model()->get_actual_play_bounds_upper()` are not returning the `Time` variable I want or I'm binding the returned v

[2021-03-28 21:54] #1850 closed

[2021-03-29 09:38] rodolforg commented on #1393
The conflict is when there are two different types of valuenode, right? Like "Add" vs. "Scale"

[2021-03-30 02:20] ice0 commented on #1393
@rodolforg Hi!
@morevnaproject got sick, he will answer as soon as he gets better.

[2021-03-30 03:01] #2037 closed

[2021-03-30 05:50] #2081 closed

[2021-03-30 06:04] rodolforg commented on #1393
Oh, I wish he gets better soon.

[2021-03-30 07:56] Svarov-RZM opened #2085 "Make Sets select layer with a single click instead of double-clicking"
I propose to make behavior of selecting layers in 'Sets' panel similar to 'Layers' panel where active layer changes as soon as user clicks on it. In 'Sets' you need to double-click on a layer in order to make it active, if you just click on it'll simply become highlighted which is basically useless.
![SetsHL](https://user-images.githubusercontent.com/28569334/112953486-30f47f00-9146-11eb-9a44-e9c0

[2021-03-30 14:52] morevnaproject opened #2087 "Cannot open exported canvas"
**Describe the bug**
It is not possible to open exported canvas after it is closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any file with exported canvas (i.e. this one - [aaa.sifz.zip](https://github.com/synfig/synfig/files/6229850/aaa.sifz.zip) ).
2. In Canvas Browser Panel double-click exported canvas -> new tab will open with contents of that exported canvas
3. Close that ta

[2021-03-30 15:03] morevnaproject opened #2088 "[Skeleton Tool] Width control points are not displayed when creating Skeleton Deformation"
**Describe the bug**
Try to use Bone Tool to create Skeleton deformation layer. You will see that there are no Width Control points displayed when you create first (and sometimes second) bone. But on third bone control points suddenly become visible.

This behavior shown in this video - https://youtu.be/2ru_D7Hx2Dg

**Desktop (please complete the following information):**
 - OS: Linux Mint 19
 - O

[2021-03-30 15:11] morevnaproject opened #2089 "Problems when linking Group to Bone - Origin Parameter is linked instead of Transformation Parameter"
In this video at 33:00 - https://youtu.be/PdNn6-Itvqw?t=1975 - user tests latest build from master on windows.

He has problems when he tries to link Group to bone - after linking the Group moved incorrectly when Bone is moved.

I have watched it carefully and it looks like the problem in following:
-  notice that he modifies origin of transformation (purple point) before linking object to bone
-

[2021-03-31 03:30] rChen10 commented on #2082
@FirasH I'd like to work on this issue.

[2021-03-31 04:25] Keyikedalube commented on #2087
Closing #2027 in favor of this issue.

[2021-03-31 04:26] #2027 closed

[2021-03-31 06:50] FirasH commented on #2082
Awesome! I’ll assign it to you 👍

[2021-03-31 15:27] vinurd commented on #2089
https://youtu.be/gs6ap7bpHBQ
at this stage, there are two problems. Layers walk when bound to the bones. And the canvas.In the video, I voiced it.

[2021-04-01 13:16] ChirathPansilu opened #2091 "Software Not Opening"
**Describe the bug**
Software is not opening. It is shown in windows toolbar but when I try to access in nothing happens.

This is the windows debug console output ->

was not found either, perhaps you need to install it.
You can get a copy from:
        http://icon-theme.freedesktop.org/releases
(synfigstudio.exe:15096): Gtk-←[1;33mWARNING←[0m **: Allocating size to gtkmm__GtkWindow 0529B288 with

[2021-04-02 06:55] ice0 commented on #2091
@ChirathPansilu Hi!

Looks like [minimization bug](https://github.com/synfig/synfig/issues/1871). This happens when you minimize the main window and close it with the right mouse button. To fix this, just remove or rename `%USERPROFILE%\Synfig\settings-1.4` file.

[2021-04-02 07:12] ice0 commented on #1393
I agree. A visual difference is required.

[2021-04-02 11:48] ChirathPansilu commented on #2091
@ice0 Hi!

Thank You very much, It worked.
Happy to hear that it will be fixed.

[2021-04-02 11:48] #2091 closed

[2021-04-02 20:14] jointri opened #2094 "Add raster brushes and raster editing to the project"
It would be really cool if one could do both raster and vector editing/animation in synfig similar to what pencil2D does. Could raster brushes be added to synfig in a future version?

[2021-04-02 22:37] MiLoCasellas commented on #1850
Great! :-) Thanks! ^_^

[2021-04-03 04:24] CoryAlbrecht commented on #1704
There's a whole bunch of posts on the forum about a feature like this, going back almost a decade. I'm surprised it hasn't been added in that time.

[2021-04-04 01:50] ice0 commented on #1704
The problem here is animation. For example, suppose you want the circle to be in the center of the rectangle. But at frame 10, you want to animate it position and move it somewhere. What should we do? Break the rules of the alignment? Do not allow animating these objects?

[2021-04-04 01:56] Jose-Moreno commented on #1704
@ice0

Then it is moved. Nothing more is expected.

The proposal here are for visual distribution tools meant for design time, not meant as animation tools directly, so you would normally align the elements on the keyframes to create the final design on the specific frame.

I personally don't expect them to be aligned during the interpolation unless I made a linear animation from start to finish w

[2021-04-04 10:04] FirasH commented on #2034
Got the issue...
The problem what that as it's defined now the binded value is picked only on interface initialization and when bounds are changed the same binded value isn't updated.

I've just connected the button to a function that does the same but picks the updated values and works perfectly!

[2021-04-04 11:36] FirasH opened #2099 "[Synfig Studio] Opacity Parameter can be set arbitrarily outside of 0-1 bounds"
**Synfig version & platform**:
master 41b7682

**Issue description**:
1) Create a new animation
2) Select the `Circle Tool` (works with other tools as well)
In the toolbox window you can set the Opacity value in the range [0,1]

3) Draw the Circle on canvas
4) Edit the `Opacity` Value in the `Parameters` window
The value can be set outside of the range [0,1]

The value should be bounded to the pre

[2021-04-04 13:49] Svarov-RZM commented on #2099
It is an expected behavior. Sometimes you need to change opacity to higher/lower values in order to make the shape more noticeable in case of feathering or just to create a cool effect with blur/bevel layers. For example, create a circle, change 'Feather' to 1.0 and 'Opacity' to 10.0.

If you ask me, the parameter's name should have been kept as 'Amount'.

[2021-04-04 19:29] FirasH commented on #2099
Felt more like a useful bug to me, but I've never used it that way and could be useful in some cases for sure.

With this I mean that it's very counter intuitive the way it works even if it was called "Amount".
You add more of this "Amount" but is quite vague and in fact I've noticed by mistake that you could set any value.
Let's say you want `Opacity = -65` or `Opacity = 120` what does it mean fo

[2021-04-05 17:44] ankit-kumar-dwivedi commented on #1208
@riya1606 are you working not his one? let us know if you need any help/hint

[2021-04-05 17:45] ankit-kumar-dwivedi commented on #1139
@michiboo are you still working on this one? need any help/hint?

[2021-04-05 17:53] Svarov-RZM commented on #2099
Why would anyone want to set it to -65 or 120 out of the blue?
You, as a generic user, just experiment with it. The meaning is simple whether it's called 'Amount' or 'Opacity'. How much of a shape is present on screen. 1.0 - Solid (full opacity), 0 - Transparent, >1.0 - Will reduce feathering effect (because feathering is just transparency around corners), <0.0 - Will have similar effect but the c

[2021-04-07 15:25] morevnaproject commented on #2099
Yes, this is expected behavior. Synfig uses HDRI colorspace, which allows to achieve interesting effects.

[2021-04-08 08:12] FirasH commented on #2099
@morevnaproject if that's the expected behavior of `Opacity` value I'm closing the issue 👍

[2021-04-08 08:12] #2099 closed

[2021-04-09 15:20] vinurd opened #2103 "texture gradient"
Dots, lines, and crosses. Like a gradient on a surface. Allows you to create graininess as in the illustrator.
![2021-04-09_23-17-56](https://user-images.githubusercontent.com/32761694/114202554-dfd85c80-9989-11eb-86d7-37e60db3d9a2.png)
![2021-04-09_23-17-33](https://user-images.githubusercontent.com/32761694/114202562-e1a22000-9989-11eb-90ef-56e2ba3c98c8.png)
![2021-04-09_23-20-11](https://user-i

[2021-04-10 12:39] #2034 closed

[2021-04-13 13:01] yoSachinkr commented on #2103
You can already do that in synfig.

[2021-04-14 01:52] ice0 opened #2106 "Synfig crashes when autosave is enabled"
**Describe the bug**
https://forums.synfig.org/t/synfig-quits-by-itself-several-times/12031

**Desktop (please complete the following information):**
 - OS: Windows
 - OS version: 10 home edition 64-bit
 - Synfig version: 1.4.0

[2021-04-14 15:37] #2087 closed

[2021-04-15 01:31] ice0 commented on #2106
The problem may be a lack of write permissions when saving a temporary copy of the file

[2021-04-15 01:43] ice0 opened #2108 "Move non-portable `popen` code to one place (discussion)"
We have a non-portable pipe code that starts a process and reads its output using `popen`, `pclose`.
It is used in plugins (to run Python binaries), `mod_ffmpeg` (to run ffmpeg),` mod_dv` (encodedv), and `mod_imagemagick` (convert).

I suggest moving this code to one place. Maybe to `synfig::FileSystem` as it work with files?

[2021-04-16 02:07] #2058 closed

[2021-04-16 13:44] CoryAlbrecht commented on #1704
@ice0 yeah, this isn't property to be retained animated, but rather an editing tool to help you automatically move around and place an object relative to other objects rather than dragging it manually with the mouse. It can be frustrating, for example, trying to align text used for labels manually. They're all different lengths, and all you have is that central point of the object oh, so you need

[2021-04-16 19:03] rodolforg opened #2110 "Crashes when user (wrongly) try to move a group layer into a child group"
**Describe the bug**
Synfig Studio doesn't check if a group layer is being moved into a child group layer.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Group layer (Group A in the screenshot below)
2. Create a Group layer named Group B
3. By dragging and dropping, move the Group B into Group A (as shown in screenshot below)
4. Now drag Group A to inside Group B.
5. It crashes.

!

[2021-04-16 23:04] rodolforg commented on #2110
Solution should be done here:
https://github.com/synfig/synfig/blob/c76ede2b0f8625886ae5c7a2b4f243d56b4b8ca1/synfig-studio/src/gui/trees/layertreestore.cpp#L512

[2021-04-17 00:26] #2035 closed

[2021-04-17 03:06] rodolforg commented on #1978
I just found out it came from: https://github.com/airbnb/lottie-web/blob/master/build/player/lottie_html.js
There's a lottie_html.min.js there too.

[2021-04-17 03:08] rodolforg commented on #1978
I had to change the https://github.com/synfig/synfig/blob/master/synfig-studio/plugins/lottie-exporter/lottie-exporter.py
here:
https://github.com/synfig/synfig/blob/81b13a488b9d958d53a2bd910a47ac896d0071eb/synfig-studio/plugins/lottie-exporter/lottie-exporter.py#L100
To be surrounded by `<script>` and `</script>` tags.

[2021-04-17 03:09] rodolforg commented on #1978
And here
https://github.com/synfig/synfig/blob/81b13a488b9d958d53a2bd910a47ac896d0071eb/synfig-studio/plugins/lottie-exporter/lottie-exporter.py#L69
to point to right file.

HOWEVER, I don't know what is the difference to the above line:
https://github.com/synfig/synfig/blob/81b13a488b9d958d53a2bd910a47ac896d0071eb/synfig-studio/plugins/lottie-exporter/lottie-exporter.py#L67

[2021-04-17 03:37] morevnaproject opened #2111 ""make distcheck" fails for ETL"
In current master branch (81b13a488b9d958d53a2bd910a47ac896d0071eb) running "make distcheck" fails for ETL.

**Steps to reproduce:**
run following command from synfig dir:
`./autobuild/synfigstudio-release.sh`

**Result:**
[code]

[2021-04-18 00:30] ice0 commented on #2111
Yes. This is expected behavior.
There is a function that will later be moved to the `synfig` module. This is the reason I am not fixing this.
If you want to test release build just comment it.

[2021-04-18 01:46] rodolforg commented on #2088
Does it work correctly before?

[2021-04-18 06:23] morevnaproject commented on #2111
Okay! ^__^

[2021-04-18 06:23] #2111 closed

[2021-04-18 19:32] rodolforg commented on #2108
What about an OS class/namespace for handling things we know are specific to OS?
pipe, access / status, another binary running, etc.

[2021-04-18 21:10] rodolforg commented on #2089
I think  he kept the `ctrl` key pressed: moved the origin (light pink/purple), ctrl+click to select skeleton too, plus ctrl+click to select bone.

[2021-04-19 04:16] ice0 commented on #1978
I think we need to include original files, and do minification job at build-time as suggested. In this case, no plugin changes are required.

[2021-04-19 04:21] ice0 commented on #2108
Sounds good.

[2021-04-19 05:10] Keyikedalube opened #2115 "Set minimum CMake version to old old stable"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
Synfig has an inconsistent `cmake_minimum_required` version for ETL and SynfigStudio projects.
One is too old (v2.x) and the other set to v3.x.

With Fedora 34 releasing soon this month and CMake 20 already out, my current system is already complaining about synfig's outdated CMake version compatibility
![Screens

[2021-04-19 11:09] ice0 commented on #2115
Ok, I will take it.

[2021-04-19 12:44] rodolforg commented on #1978
The bodymovin.js has in its contents the <script> tags. :/

[2021-04-19 13:00] Keyikedalube commented on #2047
Merged PR fixes this issue.
The expected behavior described above is not necessarily final. Removing the menu while undocked is also a solution :)

@ice0 @rodolforg?

[2021-04-19 13:35] rodolforg commented on #2047
Even without the docking ability?

[2021-04-19 14:11] rodolforg commented on #2047
by the way, did see my message here? https://github.com/synfig/synfig/pull/2107

[2021-04-19 15:31] Keyikedalube commented on #2047
You mean backport-ing?

The dock menu feature's up to you.
To me removing that menu is also a fitting solution when a tab is un-docked.
Because while it was un-docked, it didn't make sense to still see the menu item "Undock panel" so I thought that menu should actually be the opposite.

Anyway, I guess you plan to use the else clause in your recent linked commit above to implement the said dock me

[2021-04-19 16:49] rodolforg commented on #2047
No, my (late) review about an error.

I don't have any intention now to work on this, because I don't know where could the 'undocked' panel be 'docked', if user can be using any workspace layout and have many floating panels (in fact, some panels could be together in a single floating window).

[2021-04-20 02:56] Keyikedalube commented on #2047
I'm confused... I can only see ice0's review. Yours are linked PRs and issues only 😕 😕 ❓

https://user-images.githubusercontent.com/24214509/115330385-8d7d1400-a1b1-11eb-8230-6fff31604dd4.mov

[2021-04-20 08:17] Keyikedalube opened #2119 "Revert to old style canvas_view nullptr check"
![Captura de tela de 2021-04-20 00-10-30](https://user-images.githubusercontent.com/1323987/115331768-ed9d9700-a16c-11eb-8d44-c949e4a56a25.png)
@Keyikedalube  Ouch I didn't submit it (I didn't even know it could be 'saved')

_Originally posted by @rodolforg in https://github.com/synfig/synfig/issues/2107#issuecomment-822940475_

[2021-04-20 12:53] Keyikedalube commented on #393
Maybe someone installed it on your computer without your knowledge.

Going back to the setup wizard is intentional after deleting old synfig program files. Because the purpose of the setup wizard is to install the software which you haven't yet since it conflicts with the old installed synfig program even though you say you haven't, the installer program detected it.

What does this mean?!

The me

[2021-04-20 12:53] #393 closed

[2021-04-20 14:12] Keyikedalube commented on #358
If you mean creating a rectangle/circle/polygon/etc layer on an empty canvas, I tried Synfig 1.2.2 on Windows 8, the action response is not slow but instant.

However, you'll start noticing performance degradation when there are more layers to render. Every synfig user faces this. There are ways to speed up your workflow (can also be applied to Synfig 1.4.0):
- Import and use raster images instead

[2021-04-20 14:12] #358 closed

[2021-04-20 14:30] Keyikedalube commented on #343
What if we reserve `F11` for usual [GTK window fullscreen](https://developer.gnome.org/gtkmm/stable/classGtk_1_1Window.html#a2343d2ece18fc8cf4db9e9de4764f386) and implement your suggested

Switching between that special layout and previous one would be done by F11 key press.

with `Shift + F11`?

[2021-04-20 14:41] Keyikedalube commented on #390
Is this still reproducible in v1.4.0? If so can you guys update the title, please?

I use Synfig built from the master branch and haven't encountered random start-up crashes at all. I suppose/hope this is already fixed in the latest stable version.

[2021-04-20 15:32] rodolforg commented on #343
I guess this is focused on hide the title bars, etc. I don't know if anybody is interested on it.

[2021-04-20 16:12] Keyikedalube commented on #391
I think this is complicated (but possible) because Synfig crashes regularly (even today) while an animator is working on their animation mainly because the file is getting too complex. Imagine every time Synfig crashes and an error file is generated, then the user submits that report, there is more duplication work on the maintainer's side reading and discarding repeating issues.

Potential critic

[2021-04-21 02:35] rodolforg commented on #2115
Not related comment, but I think it's pretty cool that I use Debian (testing), you use Fedora, Konstantin Linux Mint, ice0 and Fadhil Windows :)

[2021-04-21 03:51] rodolforg commented on #2110
@ice0 this issue should be for 1.4.2, right?

[2021-04-21 07:38] #2119 closed

[2021-04-21 11:59] ice0 commented on #2110
Yes, you are right. Moved it to 1.4.2

[2021-04-21 12:24] #2110 closed

[2021-04-21 13:27] ice0 commented on #343
After Effects uses the `~` key for this, which is quite handy.

[2021-04-21 23:37] #2073 closed

[2021-04-22 02:43] morevnaproject opened #2122 "Release version 1.4.1"
Instructions here - https://synfig-docs-dev.readthedocs.io/en/latest/common/release.html

- [x] Add latest translations from Transifex - https://github.com/synfig/synfig/pull/2125
- [x] Write ChangeLog - https://github.com/synfig/synfig/pull/2118
- [x] Test building of binary packages
- [x] Test building of source tarballs: `./autobuild/synfigstudio-release.sh`
- [x] Add release commit and tag: `.

[2021-04-22 03:12] rodolforg commented on #1975
Is it specifically to Windows?

[2021-04-22 09:09] Agnyy commented on #1449
Hello. Is there a way to continue working on this?

[2021-04-22 09:52] mbasaglia commented on #1449
I'm still interested in working on this but I do still need the specs of their file format

[2021-04-22 10:08] DhairyaBahl opened #2123 "Replacement of deprecated Gtk classes"
**Is your feature request related to a problem? Please describe.**

This issue is meant for the project idea Replacement of deprecated Gtk classes and all the PRs will be created under this issue and this will act as a perfect issue for the discussion as well.

**Describe the solution you'd like**

I will start with Gtk : : StockId , Gtk : : Action , Gtk : : UIManager and many more .

[2021-04-22 10:21] Agnyy commented on #1449
@shun-iwasawa
Hi, I'm sorry to bother you. But we need your help. We would like to make it possible to import projects from OT to sinfig. But now there is some information on how storage in OT works. It will be good if you can tell us about it.

[2021-04-23 14:22] morevnaproject commented on #1449
I've got a response that Digital Video (original developers of OpenToonz) had provided no information other than the source code (like pli_io.h/.cpp and tiio_pli.h/.cpp).

[2021-04-23 14:34] morevnaproject commented on #2122
"Test building of binary packages" - DONE
"Write ChangeLog " - DONE

[2021-04-23 14:52] morevnaproject opened #2124 "Warp Layer crops incorrectly when used with Noise Gradient"
Warp Layer gives incorrect result with Noise Gradient Layer when "Clip" Parameter is set to "true".

Sample file - https://gitlab.com/synfig/synfig-tests/-/raw/130851ed95424abeee9b6fe7cf58c6f81dbc8ce3/rendering/sources/layers/warp/warp-noise-gradient-1point-clip.sif?inline=false

Current master branch (d66774460d52b3a5b237cae04b81585c45970476) (notice the area is not clipped correctly) -
![screens

[2021-04-24 09:20] FirasH commented on #1687
Cannot reproduce this anymore, tested now building from scratch b277312

[2021-04-24 09:20] #1687 closed

[2021-04-26 12:56] morevnaproject commented on #2122
"Add latest translations from Transifex - #2125" - DONE

[2021-04-27 02:12] Keyikedalube opened #2127 "Wide spaces between close button and tab's edge when multiple tabs are opened"
**Synfig version & platform**:
Building from source
Fedora 33

**Issue description**:
Is this an expected behavior?
https://user-images.githubusercontent.com/24214509/116174354-dbeb5f00-a72b-11eb-821f-a4c74fec81c2.mov

[2021-04-27 03:29] rodolforg commented on #2127
No, it's not ;)

[2021-04-27 10:16] FirasH commented on #2127
Confirmed on Windows 10

[2021-04-29 08:17] #2115 closed

[2021-04-29 08:45] FirasH opened #2131 "[Synfig Studio] Interpolation should be static by default for Random converted values"
**Synfig version & platform**:
master e6bbcab

**Issue description**:
1) Create a new animation
2) Add a `Layer` (e.g. a `Star`)
3) Select the `Layer` and go to the `Parameters` window
4) Right-click on one of the Values and `Convert > Random`

The `Interpolation` Value should be set as Static by default.

[2021-04-29 10:19] FirasH commented on #2131
Same for:
- `Derivative > Accuracy`
- `Derivative > Order`

[2021-04-30 08:36] FirasH opened #2132 "[Synfig Studio] Alternate row style in Parameters and Timeline windows for easier editing"
**Synfig version & platform**:
master 7d4d8b7

**Issue description**:
When there are many close waypoints in the `Timeline` it becomes hard to recognize to which paramater the waypoint belongs to, like in the following case:
![waypoints-timeline](https://user-images.githubusercontent.com/6705690/116667629-b31dd080-a99c-11eb-9dbd-cc9f3a8aa208.PNG)

and that becomes harder with wider screens as the

[2021-04-30 09:18] #1930 closed

[2021-04-30 14:09] rodolforg commented on #2132
It looked like this way in older versions. I guess it was the current Gtk Theme (Adwaita) that doesn't implement it.
We have to change the requested behavior in our custom CSS.

[2021-05-01 01:27] Keyikedalube commented on #1803
Taking a look at this in my free time...

[2021-05-01 04:13] rodolforg commented on #1803
Only this ome?

[2021-05-01 11:19] Keyikedalube commented on #1803
@rodolforg Time's all lost and gone by the time I'm done contemplating what the appropriate solution to this would be LOL.

The thing is I want to solve at least one synfig issue this month :)

[2021-05-01 12:07] Keyikedalube commented on #1803
Yup

For toolbox, this is the line
https://github.com/synfig/synfig/blob/7d4d8b79ba5e00e1e28d66fb3b2ebb30f875387e/synfig-studio/src/gui/app.cpp#L1710
and Canvas Browser _but these lines are not the cause_
https://github.com/synfig/synfig/blob/7d4d8b79ba5e00e1e28d66fb3b2ebb30f875387e/synfig-studio/src/gui/app.cpp#L1504-L1506

Now the "contemplating" part...

Since toolbox not only contains tools bu

[2021-05-01 12:14] Keyikedalube commented on #2025
Interested contributors, please wait for the linked PR to be merged.

[2021-05-01 13:23] veermetri05 commented on #554
Exporting .sif from Inkscape (Save as -> Synfig file) Doesn't support export for gradients you have to recreate them in Synfig, moreover if the issue is with exporter of Inkscape Synfig cannot help.

[2021-05-01 15:57] morevnaproject commented on #2122
"Build binaries" - DONE

[2021-05-01 23:50] FirasH commented on #2127
It happens when there are enough opened tabs to fill the available horizontal space. `Gtk::Notebook` will automatically expand the tabs to fill the available space without leaving "partially" hidden tabs.

The aestethic problem is that the close button doesn't keep a consistent distance from the tab right border.

[2021-05-02 00:46] FirasH commented on #2127
Looked a bit into the issue and starting from this:
![before-long-name](https://user-images.githubusercontent.com/6705690/116798510-7105a380-aaf0-11eb-80d3-4f9be4527598.png)

if we center the label it becomes like the following:
![after-long-name](https://user-images.githubusercontent.com/6705690/116798517-7d89fc00-aaf0-11eb-8ac2-6bc947b17813.png)

[2021-05-02 01:09] FirasH commented on #2132
The style should be applied to `tree_view` somewhere here:
https://github.com/synfig/synfig/blob/7d4d8b79ba5e00e1e28d66fb3b2ebb30f875387e/synfig-studio/src/gui/docks/dock_params.cpp#L93-L113

[2021-05-02 17:25] FirasH commented on #2038
Closing as PR was merged :+1:

[2021-05-02 17:25] #2038 closed

[2021-05-02 18:46] rodolforg commented on #2132
I think it should be somewhere else, where the Params treeview is created.

I think it is in layertree.

[2021-05-02 20:31] FirasH commented on #1562
I've never used Onion skin but it seems like a fundamental tool for complex animations, so I spent a bit of time studying how this works in Synfig Studio.

@morevnaproject I've made some tests with current master and I was able to make onion skin work with keyframes only.
It shouldn't be very hard to add the option you mentioned that allows the user to choose how to display it (a button in the too

[2021-05-03 00:30] morevnaproject commented on #2122
"Build source tarballs" - DONE

[2021-05-03 01:14] ice0 commented on #2127
I think better to move close button to the right.

[2021-05-03 02:10] rodolforg commented on #2127
It doesn't happen in 1.4.x branch

[2021-05-03 02:12] Keyikedalube commented on #2127
I agree with ice0 too. All modern desktop apps with tabs have close button set close to the right.

[2021-05-03 11:16] Keyikedalube commented on #2127
@FirasH This issue was caused by PR #1774. Now we're seeing why `Gtk::Grid` is a bad replacement for single row container LOL. I tested the code with `Gtk::Box`:
- `pack_start()` for label and
- `pack_end()` for close button

Also, you need to set close button halign to `Gtk::ALIGN_END` otherwise the button is stretched. I guess @rodolforg might have noticed stretched button in 1.4.x branch :)

[2021-05-03 11:22] Keyikedalube commented on #2127
BTW, in GTK 4 `pack_start` and `pack_end` have been replaced with prepend and append. But the decision to use which API (Gtk 3)  is up to you.

[2021-05-03 11:54] FirasH commented on #2127
Made some changes and now it looks like this:
![close-button-right](https://user-images.githubusercontent.com/6705690/116872741-b6bc8c00-ac16-11eb-83b4-734b7dc748b6.png)

With this last version I'm only changing the tab associated with the document tabs without affecting others like docks or windows.

[2021-05-03 12:05] FirasH commented on #2127
@Keyikedalube I've left the current `Gtk::Grid`, but that could be changed quickly if needed :+1:

[2021-05-03 14:17] Keyikedalube commented on #2127
@FirasH never mind. You found a better solution than me.

[2021-05-03 15:42] morevnaproject commented on #1393
I think we should list both valuenodes. Can we achieve that?

Let's think about the following situation:
1. We have a skeleton layer and one of its bones is exported (valueA)
2. The origin of this exported bone is exported too (valueB)
3. User copies skeleton layer to other document
4. The dialog displays both values "valueA" and "valueB".
5. User chooses NOT to copy "ValueA" (bone). So, it will b

[2021-05-05 13:41] morevnaproject commented on #1361
Okay, I think we do not need GiHub Bot in our case.
The issue is completed, closing. ^__^

[2021-05-05 13:41] #1361 closed

[2021-05-05 15:25] morevnaproject commented on #1393
Okay, I figured what we should do.

In the situation described in my previous comment user chooses NOT to copy "ValueA" (bone).
So, ValueA is linked from source file AND it depend on ValueB from source file too (because ValueA in source file is depends on ValueB).

So, in this exact situation it is really doesn't matter if user chooses to copy ValueB or not (because if ValueA is not copiedthen Val

[2021-05-06 00:55] ice0 opened #2139 "Add ability to copy/paste keyframes"
Original feature request located here:
https://forums.synfig.org/t/stroke-animation-in-synfig-animated-in-synfig-art-created-in-inkscape/12089

[2021-05-06 00:59] #2127 closed

[2021-05-06 01:36] #256 closed

[2021-05-07 03:09] Keyikedalube opened #2140 "Linux setup script broken in Fedora 34"
**Synfig version & platform**:
Building from source
Fedora 34

**Issue description**:
Upgraded Fedora 33 to 34 today and encountered this problem while trying to set up `1-setup-linux-native.sh` Synfig development files on my system
[code]

[2021-05-08 04:37] rodolforg commented on #1393
So, in this case, the original link between Bone1 Opacity and Bone1 Origin will be lost on destination file.
Is it okay?

[2021-05-08 04:37] rodolforg commented on #1393
Yes, it.

[2021-05-08 21:19] FirasH commented on #2085
https://github.com/synfig/synfig/blob/2ef1e6f6553b2c6dd844a6b94014350b1b64ea83/synfig-studio/src/gui/trees/layergrouptree.cpp#L201-L269

[2021-05-09 04:56] morevnaproject commented on #2122
"Write release notes" - DONE
"Upload packages to GitHub, FossHub, Sf.net, Paddle" -DONE
"Publish announcement on website" - DONE - https://www.synfig.org/2021/05/09/synfig-studio-1-4-1-released/

[2021-05-09 05:11] morevnaproject commented on #2122
Can someone help me with this task? ^__^ - "Notify affected people in issues" - https://github.com/synfig/synfig/projects/7

It's enough just to drop a comment like this on relevant issues - https://github.com/synfig/synfig/issues/1707#issuecomment-694686272

[2021-05-09 15:37] yoSachinkr opened #2141 "To show continuous bounding box as we transform objects in synfig"
synfig v1.4.1 windows 10 20h2

As of now, when we use the transform widget of a group object to do transformation job, we see a bounding box at the end of the transformation states of the object.
My feature request is to show the bounding box continuously as we transform the object using the transform widget. By this feature, we will be able to anticipate the final transformation state of the obje

[2021-05-09 18:15] rodolforg commented on #384
This issue is already fixed in v1.4.1.

[2021-05-09 18:15] #384 closed

[2021-05-09 18:22] rodolforg commented on #1731
This issue is already fixed in v1.4.1.

[2021-05-09 18:26] rodolforg commented on #1843
This issue is already fixed in v1.4.1. It won't show OpenGL as a viable option for building

[2021-05-09 18:26] rodolforg commented on #2122
Should we close #1843 ?

[2021-05-09 18:27] rodolforg commented on #733
This issue is already fixed in v1.4.1.

[2021-05-09 18:28] rodolforg commented on #1572
This issue is already fixed in v1.4.1.

[2021-05-09 18:31] rodolforg commented on #1713
This issue is already fixed in v1.4.1.

[2021-05-09 18:32] rodolforg commented on #1590
This issue is already fixed in v1.4.1.

[2021-05-09 18:32] rodolforg commented on #658
This issue is already fixed in v1.4.1.

[2021-05-09 18:33] rodolforg commented on #1825
This issue is already fixed in v1.4.1.

[2021-05-09 18:36] rodolforg commented on #972
This issue is supposed to be fixed in v1.4.1. Can you confirm it please? @gnovos @ice0

[2021-05-09 18:37] rodolforg commented on #1832
This issue is already fixed in v1.4.1.

[2021-05-09 18:37] rodolforg commented on #1835
This issue is already fixed in v1.4.1.

[2021-05-09 18:39] rodolforg commented on #1734
This issue is already fixed in v1.4.1.

[2021-05-09 18:42] rodolforg commented on #1909
This issue is already fixed in v1.4.1.

[2021-05-09 18:44] rodolforg commented on #1898
This issue is already fixed in v1.4.1.

[2021-05-09 18:44] rodolforg commented on #1885
This issue is already fixed in v1.4.1.

[2021-05-09 18:44] rodolforg commented on #1570
This issue is already fixed in v1.4.1.

[2021-05-09 18:49] rodolforg commented on #402
This issue is fixed in v1.4.1.

[2021-05-09 18:53] rodolforg commented on #540
The crash should be fixed in 1.4.1.
The minor speed up too.

Thank you so much for your help on this @Jose-Moreno

[2021-05-09 18:55] #1987 closed

[2021-05-09 18:57] rodolforg commented on #1921
This issue is fixed in v1.4.1.

[2021-05-09 18:58] Jose-Moreno commented on #540
@rodolforg I'm glad I could help a bit and thank you and ice0 for all the assistance and hard work as well! Let's wait for @Jengall to test 1.4.1 so this issue can be closed soon then 🙂

[2021-05-09 19:00] rodolforg commented on #1178
This issue is fixed in v1.4.1.

[2021-05-09 19:01] rodolforg commented on #1189
This issue is fixed in v1.4.1.

[2021-05-09 19:03] rodolforg commented on #1965
This issue is fixed in v1.4.1.

[2021-05-09 19:04] rodolforg commented on #1871
This issue is fixed in v1.4.1.

[2021-05-09 21:11] rodolforg commented on #2122
Done

[2021-05-09 21:16] rodolforg commented on #1881
This issue is fixed in v1.4.1.

[2021-05-09 21:16] #1881 closed

[2021-05-09 21:19] rodolforg commented on #525
Hello, @elthea . Could you check if this issue is fixed in v1.4.1?

[2021-05-10 02:54] ice0 commented on #972
Works fine on latest 11.2.3

[2021-05-10 02:54] #972 closed

[2021-05-10 03:03] ice0 commented on #1341
Just checked. All works fine now.

[2021-05-10 03:03] #1341 closed

[2021-05-10 03:10] ice0 opened #2142 "Synfig installer fails to start from folder with arabic symbols"
**Describe the bug**

It fails to start when I try to run it from `D:\مجلد الاختبار` folder.

**To Reproduce**
1. Create folder `مجلد الاختبار`
2. Save Synfig installer to that folder
3. Run installer

**Expected behavior**
Installer should run and install Synfig

**Screenshots**
![Screenshot_129](https://user-images.githubusercontent.com/5604544/117601015-5928c200-b177-11eb-9ae3-dbea1d55fb00.png)

[2021-05-10 03:16] ice0 commented on #1871
Just checked, all works fine now.

[2021-05-10 03:28] ice0 commented on #1734
Just checked. Works like expected.

[2021-05-10 03:28] #1734 closed

[2021-05-10 03:38] ice0 commented on #1570
Just checked. Problem is still exists.

[2021-05-10 12:53] morevnaproject commented on #1849
Right now I am trying to configure our build environment to make AppImage use system's `fontconfig` and `freetype`. Let's see if that will work (rebuilding takes a while).

[2021-05-10 13:55] morevnaproject commented on #2122
Awesome, thank you! ^__^

[2021-05-10 14:10] rodolforg commented on #2142
AFAIK not opensource and without any updates since 2019. :(

About NSIS, maybe this helps?
https://stackoverflow.com/questions/54733263/how-to-use-only-unicode-in-nsis

Maybe Inno Setup?
https://jrsoftware.org/isinfo.php

[2021-05-10 14:14] morevnaproject commented on #1849
Yes, this is because "fontconfig" depends on "freetype". If we will ship "freetype" with AppImage, then system's fontconfig might have problems with it because of version incompatibility. I am still not sure if that will work correctly - I remember we had some problems with such configuration (this is why fontconfig/freetype were included into AppImage). Need to check - maybe problems are gone...

[2021-05-10 14:37] ice0 commented on #2142
I think we need just to update NSIS itself. It is already support Unicode.

https://nsis.sourceforge.io/Docs/AppendixF.html

[2021-05-10 14:41] #1843 closed

[2021-05-10 14:43] morevnaproject commented on #2122
I have closed them. I believe users can reopen if they still experience issues. ^__^

[2021-05-10 14:50] morevnaproject commented on #2122
"Send announcement to subscribers in email list" - DONE
"Publish announcement at OpenCollective" - DONE

[2021-05-10 14:58] morevnaproject commented on #2142
Oh, man, I've just found we still use 2.50 XD

[2021-05-10 15:09] #2122 closed

[2021-05-10 15:12] morevnaproject commented on #2142
https://github.com/morevnaproject/morevna-builds/blob/d8a4b3f550ec6e86e08342fcd54977d230980430/env-builder-data/build/script/packet/synfigstudio-nsis.sh#L2

...and we have 3.02.1 version available for build - https://github.com/morevnaproject/morevna-builds/blob/master/env-builder-data/build/script/packet/nsis-3.02.1.sh

[2021-05-10 15:14] morevnaproject commented on #2124
I am afraid this issue is blocking 1.4.3 release (we plan to ship reworked Warp Layer in 1.4.3).

@rodolforg @ice0 any ideas how we can deal with this?

[2021-05-10 15:27] morevnaproject commented on #1849
I have made test 64bit build, can someone test please? ^__^ - https://cloud.morevnaproject.org/s/Q9HRKM765DwfMxH

[2021-05-10 16:08] rodolforg commented on #1849
Magical! :D It works fine here Debian testing (pre-11.0)
@FirasH ? @Keyikedalube ?

[2021-05-10 17:26] rodolforg commented on #1887
This is really annoying and it's blocking me to finish my PR to fix https://github.com/synfig/synfig/issues/343