[2020-01-28 18:36] RezaSh13 commented on #1120
All is same for me.

[2020-01-29 13:32] UltimateGamer07 commented on #1126
I'll take this up.

[2020-01-29 14:31] morevnaproject commented on #1126
Great, it is yours now! ^__^

[2020-01-29 14:31] morevnaproject commented on #1126
/remind me about this in 5 days

[2020-01-29 14:33] morevnaproject opened #1129 ""distcheck" fails for ETL"
Executing `make distcheck` in ETL dir gives following error:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87788921-distcheck-fails-for-etl?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_cont

[2020-01-29 14:34] libreartist commented on #1041
Hi! I just experimented with the existing Synfig icons, and attempted to create uniformity among them (sorry, lots of Synfig icons belong to different styles). I'm presenting, what I did so far.

![Sample svg](https://user-images.githubusercontent.com/37787543/73364618-e1f85300-42d0-11ea-8f1c-92c89948bc56.png)

Icons are matched against different UI colours. I didn't think any different. I tried t

[2020-01-29 14:39] morevnaproject opened #1130 "CMake: Allow toexecute tests in "ETL/tests" and "synfig-core/tests""
We have tests in "ETL/tests" and "synfig-core/tests".

They are executed through `make distcheck` command in Autotools.
See this script for details  - https://github.com/synfig/synfig/blob/master/autobuild/synfigstudio-release.sh

Adding this issue to not forget about this in CMake. ^__^

[2020-01-29 14:43] libreartist commented on #1041
Adding to the above,
Regarding the icons I did, these are random pick, to see how to bring style uniformity to differently-styled icons. I removed gradients and some of the details, and tweaked them a bit, for the sake of uniformity. If time permits, even the gradients and some details can be added to make them even richer. Also, I tried to follow the **tango icons colour palette**. If any differe

[2020-01-29 14:46] rodolforg commented on #1041
@libreartist Fantastic!
I intend to (propose to) change the checkbox for layer visibility in Layer tree dock to an more intuitive icon - and maybe provide another icon for render-enable/disable too instead of itallic. Pretty much like Blender 2.80.
If @morevnaproject aproves this changes, could you please provide those icons?

[2020-01-29 14:48] libreartist commented on #1041
Sure.

[2020-01-29 17:23] #1127 closed

[2020-01-30 07:59] UltimateGamer07 commented on #1126
@morevnaproject This is my first time on a big project so im struggling a little bit. I was trying to understand the code structure by going through the code as well as read the docs, i was wondering if you could point out to me where the setting page's code is exactly

[2020-01-30 10:14] ice0 commented on #1129
`etl::loose_smart_ptr` removed in this commit (https://github.com/synfig/synfig/commit/82ffbee5a24576138a7d3bfb7abd84dd4988182a)

[2020-01-30 10:15] ice0 commented on #1118
Sure, will be nice if you do PR.

[2020-01-30 10:24] ice0 opened #1131 "[CMake] Change the layout of the builded files inside the cmake-build directory"
Check the directory structure which is created by 2-build-debug.sh or 2-build-release.sh
Modify the CMake scripts to make the same structure.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87789473-cmake-change-the-layout-of-the-builded-files-inside-the-cmake-build-directory?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medi

[2020-01-30 10:26] ice0 opened #1132 "[CMake] Fix the build_images cmake target."
Generate images same as autotools script does.
Depends on https://github.com/synfig/synfig/issues/1131, https://github.com/synfig/synfig/issues/1225

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87800670-cmake-fix-the-build_images-cmake-target?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)**

[2020-01-30 10:30] ankit-kumar-dwivedi commented on #1126
Hi @UltimateGamer07 the GUI related code lives in synfig-studio/src/gui/ and as you're looking for a dialog it's inside /dialogs subdirectory.

This file lives here -> https://github.com/synfig/synfig/blob/a4bbdd72e57be5b449874eab8a6b47425af8d4fb/synfig-studio/src/gui/dialogs/dialog_setup.cpp

You can always use **grep "whatever you want to search"** to find something like I used ;)

[2020-01-30 11:27] Keyikedalube commented on #1118
@ice0 Made the PR #1133

[2020-01-30 12:30] rodolforg commented on #1126
or... `git grep` ;)

[2020-01-30 13:23] morevnaproject commented on #1129
Anyone can fix the test?

[2020-01-30 20:27] rodolforg commented on #1111
It is created if `automake` is run with `--add-missing` flag. Probably `autoreconf`calls `automake` this way. [See manual](https://www.gnu.org/software/automake/manual/html_node/Gnits.html#Gnits)

You can provide your own `COPYING` (the license), though. You can even provide it with another filename, but you must change configure.ac to include `foreign` option to automake:
`AM_INIT_AUTOMAKE([-Wall

[2020-01-31 08:38] #1129 closed

[2020-01-31 13:41] saurabh-ramola opened #1137 "Can't install Synfig-studio from latest master branch"
**Synfig version & platform**:
Synfig Version - https://github.com/synfig/synfig/commit/0da59994cb17c895771e237a2c1f3897d1223ff2
Platform - Ubuntu 16.04 LTS
**Issue description**:
Hi! My name is Saurabh Chand Ramola. I am a CSE undergrad at IIIT Hyderabad. I am hoping to participate in GSOC 2020 and contribute to Synfig.
While installing Synfig, I am facing this error. `1-setup-linux-native.sh` ru

[2020-01-31 15:04] saurabh-ramola commented on #1137
[Resolved #1137]
` error: creating 'libltdl/Makefile.am' from '/home/saurabh/anaconda3/share/libtool/Makefile.am' failed`
In order to remove this error, I had to use the default python installation instead of the Anaconda installation. Just removing the path to anaconda from .bashrc file solved the error for me.

[2020-01-31 15:04] #1137 closed

[2020-02-01 10:49] morevnaproject opened #1138 "Detect duplicated frames when importing image sequence"
Currently when doing "File" -> "Import sequence", Synfig imports every frame and creates a waypoint for each of them.

It would be nice to add an option to detect duplicated frames. So, instead of this -
![untitled-1](https://user-images.githubusercontent.com/332868/73590911-d4cea480-451a-11ea-9f77-2860c0ef60c5.png)
.. we get this (duplicated frames are not imported and no waypoints for them) -
![

[2020-02-01 13:11] morevnaproject opened #1139 ""Add Layer" button to toolbar?"
Thanks to @rodolforg, we now have "Add Layer" button in "Layers Panel" -
![new_layer](https://user-images.githubusercontent.com/332868/73592601-ba9ec180-452e-11ea-9b5d-ad0fd0e1434f.png)

But I found that users are generally didn't notice it there. How about to add one more "Add Layer" button to Toolbox? ^__^

![screenshot_005](https://user-images.githubusercontent.com/332868/73592624-e326bb80-452e

[2020-02-01 14:03] morevnaproject opened #1140 "Autobackup restore: clicking "Ignore" button doesn't removes backup"
Synfig version: Master branch, commit e8e7b8

When Synfig crashes it suggests to restore file saved via autobackup.

It offers two options - "Ignore" and "Recover". When clicking "Ignore" it should remove (discard) autobackup file. But this doesn't happens - choose "Ignore", then close Synfig, reopen again, and it will show you suggestion to restore autobackup again.

![screenshot_010](https://use

[2020-02-01 15:02] Keyikedalube commented on #1063
Previously I uninstalled the distribution maintained version of synfigstudio on Debian due to this [bug](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=941633)
That's when the app icon missing issue was reported

Then I installed it again (a few days ago) since the bug was fixed. And the icon is back... Looks like the development version loads the icon from the installed version.

Irrelevant is

[2020-02-01 15:18] rodolforg commented on #1063
did you install the custom build or just built and ran it?

[2020-02-01 18:37] ebarranco opened #1141 "Appimage 64 bit hangs on startup"
**Synfig version & platform**:
SynfigStudio-1.3.12-testing-2020.01.30-linux64-8b3a3.appimage
Manjaro Linux Kde

**Issue description**:
Trying execute the Appimage 64bits gives me these errors:
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87961375-appimage-64-bit-hangs-on-startup?utm_campaign=plugin&utm_content=tracker%2F32

[2020-02-01 20:21] rodolforg commented on #1141
It works fine here in my Debian testing, but it also outputs these error messages.

[2020-02-02 01:42] Keyikedalube commented on #1063
Just built and ran it.

[2020-02-02 10:31] michiboo commented on #1139
Hi Could I have a go at this issue?

[2020-02-02 10:39] ankit-kumar-dwivedi commented on #1139
Sure @michiboo ! I'm assigning you this one.

[2020-02-02 16:24] rodolforg commented on #338
@manuelsongokuh  I'm trying to find json specs, but I'm stuck.
THe best I got was:
https://github.com/ndee85/coa_tools/blob/694d06b09dc12bad514d53b2f6da6d6b59dc7b54/Godot/coa_importer/importer.gd#L389

But I can't understand the BONE parameters. SPRITE is fine and easily to make an import plugin.

[2020-02-02 18:35] Gilraiser opened #1143 "Ghost dockers"
**Synfig version & platform**:
Synfig studio 1.3.12 production build. archlinux 64x with openbox

**Issue description**:

Hello everyone, the problem occurs when I change my work area. Empty dockers seem to close them. however, when I change the work area, they reappear.

Sometimes, when I open the file again, the following warning appears.
![BUG-dockers](https://user-images.githubusercontent.com/

[2020-02-03 01:42] UltimateGamer07 commented on #1126
I know I should have already finished it but got caught up in some other stuff over the weekend. Will finish it in a day.

[2020-02-03 02:11] Keyikedalube commented on #928
Hello @ice0

The above error is encountered when 2-build-cmake.sh is used

Synfig builds successfully with [those commands you provided above ie., 2nd comment](https://github.com/synfig/synfig/issues/928#issuecomment-523350608)
*I didn't use them before. Thought 2-build-cmake.sh automates those build commands*

![Screenshot from 2020-02-03 07-09-39](https://user-images.githubusercontent.com/242145

[2020-02-03 07:52] ice0 commented on #1141
Ok I checked it on my test Manjaro setup. Synfig starts up, but it hangs for about 1 minute on this message:
[code]

After that i mount AppImage, and check contents of ./usr/etc/fonts/conf.d:
[code]

And I see that there are broken links to fontconfig files. Perhaps if this is fixed, it will help with a hang at startup.

ping @blackwarthog @morevnaproject

[2020-02-03 08:09] ice0 commented on #1141
Detailed explanation from @BobSynfig here (https://github.com/synfig/synfig/issues/682)

[2020-02-03 08:35] michiboo commented on #1139
@ankit-kumar-dwivedi  is there any past commit that are useful for this task?

[2020-02-03 10:52] rodolforg commented on #1139
Check https://github.com/synfig/synfig/pull/947 .
And look for dock toolbox too.

[2020-02-03 10:54] michiboo commented on #1139
@rodolforg  Ok thanks!

[2020-02-03 14:41] Keyikedalube opened #1144 "Disable thumbnail preview on wayland session"
**Synfig version & platform**:
Building from source
Debian sid (Wayland GNOME)

**Issue description**:
![Screenshot from 2020-02-03 19-34-22](https://user-images.githubusercontent.com/24214509/73662040-244ed500-46c1-11ea-86c0-13494c3ef962.png)

When preview thumbnail is displayed synfig window goes out of focus. I cannot use **Ctrl+.** or **Ctrl+,** to move the time cursor. I'd love if synfig prov

[2020-02-04 01:33] Keyikedalube opened #1145 "Add extra time track space at start and end"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
It's tedious to position my mouse at the starting keyframe (and ending keyframe too) to bring up the right-click context menu or drag it while animating.
![Screenshot from 2020-02-03 20-15-16](https://user-images.githubusercontent.com/24214509/73705337-a9ff6e80-471b-11ea-820c-74fa83062dfa.png)
It would be nice i

[2020-02-04 13:22] UltimateGamer07 commented on #1126
The toggle is implemented in the settings dialog using a gtk switch that's defined in dialog_setup.h.
This header file is included in app.cpp as well but when trying to use that variable in app.cpp it says the variable isn't defined in the scope despite being the same declaration in the same header file.

[2020-02-04 15:23] morevnaproject commented on #1145
Great idea

[2020-02-04 15:37] rodolforg commented on #1126
@UltimateGamer07 did you check if you use proper namespace?

[2020-02-04 20:06] UltimateGamer07 commented on #1126
yeah i even tried copy pasting the same exact lines

[2020-02-04 20:16] rodolforg commented on #1126
Well, I'll need to see the code to help you then

[2020-02-05 02:12] zozorg opened #1146 "Renaming a set can break other sets' name"
**Synfig version & platform**:
1.3.11

**Issue description**:
When renaming a set, if there are other sets that start with the renamed set's former name, text-replacement occurs ; example :
- create set A
- create set AB, AC...
- rename A to D
- AB, AC... are now renamed DB, DC...

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8806

[2020-02-05 11:13] UltimateGamer07 commented on #1126
Its fine im trying something different right now.

On Wed, Feb 5, 2020 at 1:46 AM rodolforg <notifications@github.com> wrote:

[2020-02-06 14:35] morevnaproject commented on #461
The feature is shipped in Synfig 1.3.12.

How it works - https://www.youtube.com/watch?v=XoAvm4VmUG4

[2020-02-06 14:35] #461 closed

[2020-02-06 14:54] #388 closed

[2020-02-06 15:15] jackburridge opened #1147 "[Lottie exporter] Exported animation does not work with react native"
**Synfig version & platform**:
Version: 1.3.12
Platform: OS X
**Issue description**:
Lottie export does not display when used with react native.
This is my animation
https://gist.github.com/jackburridge/1b1c219cadc2dc13566b717960f53202

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/88154686-lottie-exporter-exported-animation-does-n

[2020-02-07 05:20] AnishGG commented on #1147
Hello @jackburridge
Currently I am out of station and travelling. Will be able to review this after 10th.

[2020-02-07 05:24] AnishGG commented on #1126
@UltimateGamer07
It is better to upload the work done/code on your fork and paste links here for reference and better understanding of what you are trying to do. ^__^

[2020-02-07 13:30] morevnaproject commented on #720
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:31] morevnaproject commented on #771
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:31] morevnaproject commented on #730
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:31] morevnaproject commented on #403
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:32] morevnaproject commented on #257
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:32] morevnaproject commented on #303
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:32] morevnaproject commented on #238
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:32] morevnaproject commented on #243
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:33] morevnaproject commented on #933
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:33] morevnaproject commented on #388
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:34] morevnaproject commented on #430
The feature now shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:34] morevnaproject commented on #461
The feature is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:34] morevnaproject commented on #635
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:34] morevnaproject commented on #464
The fix is shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-07 13:35] morevnaproject commented on #704
The Lottie exporter now shipped in version 1.3.12 - https://www.synfig.org/2020/02/07/synfig-studio-1-3-12-released/

[2020-02-08 04:56] Domarius commented on #771
This is great to see!  Thanks Konstantin :)

[2020-02-08 07:57] Svarov-RZM opened #1148 "Esc key does not cancel dragging anymore"
### Description
In Synfig 1.0.2 if you started dragging any handle in work area (vertex, tangent, etc.) you could cancel the operation by hitting 'Esc' key. I use it quite a lot because often you can accidentally hit another handle if there are bunch near.

### To reproduce
* Create an outline
* Start dragging any handle
* Try to cancel the operation (dragging) by hitting 'Esc' key

### Expected b

[2020-02-08 15:36] morevnaproject opened #1150 "CI: Run "autobuild/transifex-push-template.sh" every time when "translations" branch updated"
We need to run "autobuild/transifex-push-template.sh" every time when "translations" branch updated.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/89618454-ci-run-autobuild-transifex-push-template-sh-every-time-when-translations-branch-updated?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)**

[2020-02-09 13:31] gkan30 commented on #1148
Hello there!
The feature appears to work correctly for me, can you make a gif out of a demo and share with us?

[2020-02-09 13:33] gkan30 commented on #1069
I noticed it too!
I am working on it

[2020-02-09 18:05] FirasH opened #1151 "There is no need to repeat "Tool" for each tool in the Toolbox menu"
Currently the Toolbox menu contains all the tools where the entries are labeled as follows:

"Name1 Tool"
"Name2 Tool"
...
"NameN Tool"

I think it would be cleaner to have something like:
"Name1"
"Name2"
...
"NameN"

[2020-02-09 18:28] FirasH commented on #1151
I can easily create a pull request for this. Does it make sense to you developers?

[2020-02-09 22:51] TheThirdOne commented on #532
I hit this issue trying to learn how to use synfig as a beginner. Marking an activepoint off and then undoing makes it so that vertex can't be moved in animation mode anymore.

I would expect that trying things with undo would be a safe way to try things out, but this makes it so that isn't really possible.

[2020-02-09 23:51] Jose-Moreno opened #1153 "Draw Tool - Auto Loop toggle not working"
**Synfig version & platform**:
SynfigStudio-1.3.12-testing-2020.01.30-win64-8b3a3

Windows 10 Pro Version 1809 OS Build 17763.973

**Issue description**:
Creating shapes using the "Draw Tool" with the "auto loop" toggle enabled does not close the shape automatically, you still have to right click on the shape and select the "looping" option manually to close it.

This was tested with All layer typ

[2020-02-10 07:56] ice0 commented on #1151
Just checked GIMP and Photoshop - both use the %s Tool for a tooltip, so I suggest to leave them as is.

[2020-02-10 11:07] morevnaproject opened #1154 "App::restore_default_settings() doesn't resets all settings"
Some settings are not restored to default values when user clicks "Restore Defaults" button in "Preferences dialog.

![screenshot_001](https://user-images.githubusercontent.com/332868/74144514-75b21380-4c2f-11ea-9dc1-e963633a0c3a.png)

For example, "Dark UI theme" option is not restored.

So, we need to review contents of `App::restore_default_settings()` function and compare it with keys listed i

[2020-02-10 11:40] morevnaproject commented on #1140
It looks like this issue introduced in 28db040026cf14293dd55b20e5bea5e80c558dfb (changes in `filesustemtemporary.cpp`).

[2020-02-10 13:36] morevnaproject opened #1156 "Unable to run Synfig 1.3.12 on Os X 10.11"
User reported that he cannot run Synfig on Mac Os X El Capitan 10.11.6

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/88338497-unable-to-run-synfig-1-3-12-on-os-x-10-11?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_camp

[2020-02-10 13:36] morevnaproject commented on #1156
Screenshot of error -
![70A0Dfm-OW8](https://user-images.githubusercontent.com/332868/74154324-0b0bd280-4c45-11ea-94da-e7d9201fdb4f.jpg)

(source - https://vk.com/synfig?w=wall-34459196_1269_r1270)

[2020-02-10 13:37] morevnaproject commented on #1156
Can anyone check version 1.3.12 on OSX 10.11? @ankit-kumar-dwivedi ?

[2020-02-10 14:18] ankit-kumar-dwivedi commented on #1156
Sure on my home will let you know soon

On Mon, Feb 10, 2020, 7:07 PM Konstantin Dmitriev <notifications@github.com>
wrote:

[2020-02-10 14:27] ankit-kumar-dwivedi commented on #1156
PS- just saw this again and realized I have updated my mac to Catalina 10.15

[2020-02-10 16:24] ice0 commented on #1156
Checked it now.
The same error occurred on 10.11 only once, when I clicked the Synfig icon again and again, like crazy at the first start. After that I can’t reproduce it. Synfig is working fine.

[2020-02-10 16:27] ankit-kumar-dwivedi commented on #1156
I was not able to make it work on my mac.
![Screenshot 2020-02-10 at 9 56 14 PM](https://user-images.githubusercontent.com/37617951/74168818-4eb80980-4c50-11ea-9f18-46bab0389879.png)

[2020-02-10 16:30] ankit-kumar-dwivedi commented on #1156
Okay it works after allowing from system preferences :)

[2020-02-10 17:59] AnishGG commented on #1147
I tested this file on a simple web browser and it works fine.
I have no experience with react native and hence might not be able to help you here :( .
Perhaps [lottie's react native](https://github.com/react-native-community/lottie-react-native) developers might be able to help you here?

Or does anyone else here has experience with react native? @morevnaproject

[2020-02-10 18:41] jackburridge commented on #1147
Hi @AnishGG
I don't really understand the Lottie file format, but it appears to be something to do with the colour, I should be able to attach a quick demo some time tomorrow.

[2020-02-11 07:20] ice0 commented on #1156
You can just Ctrl+click on a file and choose "Open" from dropdown menu :)

[2020-02-11 09:08] sourabhdharpure commented on #1154
I would like to work on this isssue

[2020-02-11 09:31] ice0 commented on #1154
No problem, now it's yours :)

[2020-02-11 13:57] FirasH opened #1158 "Some strings are not translatable in the .po files"
There are some strings that cannot be translated because they are missing in the .po translation files.

In this Issue I will report the strings that need to be reviewed in the code:
- The dialog at: File > Preview...
- The dialog at: Canvas > Options...
- The dialog at: Layer > Convert to Vector (when a raster image is selected)
- The dialog at: Window > Workspace > Edit workspaces...
- From File

[2020-02-12 06:52] sourabhdharpure commented on #1154
@morevnaproject How to find the default values for
1) time_format
2) file_history.size
3) use_dark_theme
4) show_file_toolbar
5) brushes_path
I am not able to find them, please help me regarding the same

[2020-02-12 07:33] ice0 commented on #1158
Exactly!

[2020-02-12 11:23] rodolforg commented on #1158
Those dialogs use .ui files, so they need to be include in .pot file
generation

[2020-02-12 13:30] morevnaproject commented on #532
It could be reasonable to automatically convert to Composite when user invokes "Disconnect" action on Spline Point. We already have such behavior with Transformation parameter of Group Layer - try to disconnect it and you will see it remains to be Composite -

![screenshot_001](https://user-images.githubusercontent.com/332868/74339093-f4e14c00-4dd5-11ea-80f0-8266f2482278.png)

This behavior for Tr

[2020-02-12 13:47] morevnaproject commented on #532
@TheThirdOne I wasn't able to reproduce your specific issue. Can you please provide a video showing your problem? ^__^

[2020-02-12 15:34] morevnaproject commented on #1156
Thanks to everyone for checking! ^__^

[2020-02-12 15:34] #1156 closed

[2020-02-12 15:38] morevnaproject commented on #1154
@sourabhdharpure All those values are defined in `synfig-studio/src/gui/app.cpp`

[2020-02-12 20:26] TheThirdOne commented on #532
@morevnaproject, I am having trouble reproducing too. I must have done something to set up the bug before doing the steps I listed. It isn't happening now with a fresh launch. If it happens again I will try to gather more information.

[2020-02-13 02:52] 1noober opened #1160 "Some PNG files not displaying correctly"
**Synfig version & platform**:  Synfig 1.3.12 Windows 7 x64
(we're more likely to help if you're using latest development builds)

**Issue description**:
Some PNG files not displaying correctly. Some parts of this file display correctly (yellow section) and some parts do not (dark section).
![SRTest](https://user-images.githubusercontent.com/60995306/74396861-1affef80-4dc8-11ea-8bc9-9a42b98952d6.p

[2020-02-13 11:51] ice0 commented on #1160
Same problem on Ubuntu and Manjaro.

[2020-02-13 15:48] #1140 closed

[2020-02-14 13:33] FirasH opened #1161 "Using Brush Tool crashes Synfig consistently"
**Synfig version & platform**:
Latest from master: 474fc9
Using openSUSE Leap 15.1

**Issue description**:
1. Start Synfig Studio
2. Select the "Brush Tool"
3. Click anywhere on canvas: a dialog will pop-up with title "Please choose an image file"
4. Click on "Cancel" or "Load"

Synfig crashes

[2020-02-14 17:17] morevnaproject commented on #1160
Is this an indexed PNG?

[2020-02-14 18:43] ice0 commented on #1160
This is PNG info:
[code]

[2020-02-14 18:45] ice0 commented on #1160
By the way, this image is opened without any problems using the sample program from libpng, so I think that Synfig somehow corrupts the image data.

[2020-02-15 02:23] Keyikedalube commented on #1118
Closing this issue since the PR's already merged.

[2020-02-15 02:23] #1118 closed

[2020-02-15 12:25] FirasH commented on #1158
Created another merge request #1162 which includes other ones.

[2020-02-16 14:21] FirasH opened #1163 "Applying "Rotate Order" to the vertices different from the first crashes Synfig"
**Synfig version & platform**:
Master: 09220e

**Issue description**:

1. Launch Synfig
2. Select the "Spline Tool"
3. Draw a Spline on canvas with 2 vertices (it is enough to cause the crash)
4. Go to the Parameters window and expand the list of "Vertices"
5. Select "Vertex 002" and right-click > Rotate Order

Synfig crashes consistently.

The issue can be reproduced even with more vertices. If y

[2020-02-17 01:47] Keyikedalube commented on #1131
Last time I tried 2-build-cmake.sh on Fedora the built files were stored in a folder named something *portable(?)*
After switching to Debian 2-build-cmake.sh is not usable [#928](https://github.com/synfig/synfig/issues/928#issuecomment-575589239) So don't correctly remember how builded files are stored for cmake.

But here's how I understand this issue. You want to replace _debug/ and _production/

[2020-02-17 08:31] ice0 commented on #1131
Here current CMake status. (https://github.com/synfig/synfig/issues/928)

And commands you need to execute:
[code]

As you can see, you need to do `make install` before `make build_images`.
If you try to run `synfig` (console binary needed for build_images target), it doesn't start, because it cannot find `libsynfig.so` in it's build directory. And to do that, we run `make install` command and it

[2020-02-17 08:38] ice0 commented on #1131
Directory structure, in CMake terminology:

[code]

[2020-02-17 09:44] Keyikedalube commented on #1131
Now I understand that cmake-build will build into its own custom build directory and not replace _debug/ or _production/ directory
*That's what I thought this issue was addressing: use the same debug and production build directory with CMake by using the same folder layout. I understood it wrong*

The issue is correcting the build script to make `synfig` ready for building images without invoking

[2020-02-17 12:25] michaelclapham commented on #774
Being able to move objects with one click is a feature that Inkscape and other graphics packages have. Why not make the tool that currently looks like a drag tool, do exactly that? Having additional steps for such a common action currently means I can't use Synfig for teaching.

Is there a way to drag an object with a single click without resizing that I'm not aware of? Increasing the radius on sm

[2020-02-17 15:49] FirasH commented on #1151
I agree with you about the tooltip to keep "%s Tool" in toolbox on the left.

I was refering to the menu list "Toolbox" from the toolbar as having a long list of "%s Tool" one on top of each other "heavy" to look at.

![1151](https://user-images.githubusercontent.com/6705690/74668351-56723380-51a5-11ea-9b22-6938d96f7f45.png)

[2020-02-18 00:45] rodolforg commented on #1163
Duplication for #280 ?

[2020-02-18 00:53] rodolforg commented on #1163
Anyway, what does "rotate order" mean?
I can't figure it out.

[2020-02-18 02:57] ebarranco commented on #1163
I remember trying to find out what it does some time ago and only found this on the wiki:

_**Rotate Order: Doesn't do anything.**_

[Here](https://wiki.synfig.org/Advanced_Outline_Layer) in the "Specific actions for Width Points" section.

I always suspected that it was something to do with tangents back a the day when they had different colors and direction of [Sewing Splines](https://wiki.synfi

[2020-02-18 11:40] michiboo commented on #1139
Hi I have added a tool button for add layer to the tool bar, but it doesn't do anything. I added without create state_**.cpp file, it is possible to work withpout state_**.cpp file?

[2020-02-18 18:06] Svarov-RZM commented on #1148
@gkan30
You can watch the video here: https://1drv.ms/v/s!Aqn9-DWzZKfcgVGGxf0t4bEhtOe1?e=y9WdSu
Does someone else with Windows 10 experience this bug? Maybe something wrong with my system...

[2020-02-19 05:36] Keyikedalube opened #1164 "2-build-cmake.sh Mlt.h include error"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
*Currently on Debian, build-cmake fails with old libmng not having pkg-config tool https://github.com/synfig/synfig/issues/928#issuecomment-554159232*
*So what I did was comment out the **pkg_check_modules** for libmng and proceeded with building*

Here's the build error I get about not finding Mlt.h
![Screensho

[2020-02-19 12:40] FirasH opened #1165 "Cancel/Confirm buttons position is not consistent across all dialogs"
**Synfig version & platform**:
Master 09220e

**Issue description**:
In most cases the dialogs have the button to confirm on the right and the button to cancel on the left. For example:
![example_left-right](https://user-images.githubusercontent.com/6705690/74834926-ab848580-531c-11ea-9c8f-5baedc18e9a2.png)

There are some dialogs which have the opposite design. For example:
![other-example](https

[2020-02-20 07:10] ice0 commented on #1165
Awesome idea! I like it!

[2020-02-20 08:03] morevnaproject commented on #1139
@michiboo Can you please push your code to your repo, so we can take a look? ^__^

[2020-02-20 08:11] morevnaproject commented on #1151
Agree.

Actually, I have some thoughts about Synfig's menu structure: we ahve a lot of entries that aren't used by people. For example, why have "Navigation" menu, while users prefer to click on buttons right below the workarea? Why have Toolbox menu, while we have Toolbox Panel? Why have "Layer" - "Cut", while it is available via right-click and also in "Edit" - "Cut"?  I think Synfig menu can be

[2020-02-20 08:16] morevnaproject commented on #1163
Rotate Order changes order of vertices.
The effect of this operation is visible on Un-looped splines.

For example, right-clicking (1) on this vertex and choosing "Rotate Order" ...
![screenshot_001](https://user-images.githubusercontent.com/332868/74913788-edccc600-53f3-11ea-98c7-677f9df2516f.png)

...results in this:
![screenshot_002](https://user-images.githubusercontent.com/332868/74913806-f45

[2020-02-20 08:16] morevnaproject commented on #1165
Agree

[2020-02-20 08:20] morevnaproject commented on #1160
Does converting to 8-bit color solves the issue?

[2020-02-20 10:48] michiboo commented on #1139
@morevnaproject Hi I have push the code to my repo in branch add_layer_tooltip thanks!

[2020-02-20 11:14] haideratGitHub commented on #1165
@ice0  Thanks for guiding me on synfig forum. As you have guided me enough so I would like to work on this issue and get it done as soon as possible :)

[2020-02-20 11:33] Keyikedalube commented on #1063
### A possible solution

On the synfig's main window implementation  *synfig-studio/src/gui/mainwindow.cpp* file add this statement:

`Gtk::Window::set_default_icon(<icon-file-identifier>)`

The identifier could be either synfig icon file or a resource file.

Right now I'm working on my personal gtkmm project. I prefer using resource file since it allows me to link the image file as binary during

[2020-02-20 11:38] FirasH commented on #1165
Which order would you give to the buttons?
For example: cancel | other option () | confirm?

[2020-02-20 11:59] jackburridge commented on #1147
Sorry for the delay @AnishGG
I've managed to do a few minimal examples, a simple circle animation:
[circle.zip](https://github.com/synfig/synfig/files/4230549/circle.zip)
The color is wrong.
![circle](https://user-images.githubusercontent.com/7405892/74931635-f1525400-53d7-11ea-969b-6b01a3f4c4c6.gif)
I have another where the color is animated:
[circle_color.zip](https://github.com/synfig/synfig/fi

[2020-02-20 12:17] ice0 commented on #1165
I suggest to use Gnome Guidelines (https://developer.gnome.org/hig/stable/) and GIMP for reference.

[2020-02-20 14:24] haideratGitHub commented on #1165
I would give confirm | cancel | other option ()
Because that seems much more appropriate to me

But I have a question! Should I consider Apply  as Confirm or OK as other option or vice versa ?
because in Edit/Preferences order is Restore | cancel | OK
and in Canvas/Properties order is OK | Apply | cancel
As far my understanding
OK | cancel | Apply = Confirm | cancel | other option()
OK | cancel |

[2020-02-20 14:30] haideratGitHub commented on #1165
@FirasH
I would give confirm | cancel | other option ()
Because that seems much more appropriate to me

But I have a question! Should I consider Apply as Confirm or OK as other option or vice versa ?
because in Edit/Preferences order is Restore | cancel | OK
and in Canvas/Properties order is OK | Apply | cancel
As far my understanding
OK | cancel | Apply = Confirm | cancel | other option()
OK | ca

[2020-02-20 14:37] haideratGitHub commented on #1165
@ice0  The reference you provided says the order should be  Cancel | Confirm | Other option()

https://developer.gnome.org/hig/stable/dialogs.html.en
Order
When a dialog includes an affirmative and a cancel button, always ensure that the cancel button appears first, before the affirmative button. In left-to-right locales, this is on the left.
This button order ensures that users become aware of, a

[2020-02-20 16:57] FirasH commented on #1165
@haideratGitHub I think the confirm button is OK, cancel button is Cancel and the other option is Apply/Restore or whatever is different from OK/Cancel.

If we take as reference the layout of GIMP:
![gimp-dialog-layout](https://user-images.githubusercontent.com/6705690/74957412-c7b12100-5407-11ea-9404-60e8534db03c.png)

The layout used is: other option | confirm | cancel

Using this rule, in the s

[2020-02-20 17:01] FirasH commented on #1165
In the case of the examples provided:

- File > Preview... should have the order: Preview | Cancel
- Canvas > Options... should have the order: Apply | OK | Cancel

Let's see what the developers think about it.

[2020-02-20 17:44] haideratGitHub commented on #1165
@FirasH  Yeah That's good , Agreed. Should I start resolving this issue right now or wait for other's developer's opinion ?

[2020-02-20 18:05] FirasH commented on #1165
I would wait for the opinion of @ice0 and @morevnaproject as they are two of the main developers.

[2020-02-20 18:08] haideratGitHub commented on #1165
Okay! we'll see what they will say

[2020-02-20 23:51] 1noober commented on #1160
No.

[2020-02-21 01:03] rodolforg commented on #1165
As a Gnome user, I'm used to "Cancel" button first. I saw Qt Creator follows the same order.
![Captura de tela de 2020-02-20 22-03-05](https://user-images.githubusercontent.com/1323987/74994403-d0681e00-542c-11ea-8880-a4b3ef2ca826.png)

[2020-02-21 02:04] haideratGitHub commented on #1165
That's another opinion. Let's see what @ice0  and @morevnaproject  think about that!

[2020-02-21 02:05] haideratGitHub commented on #1165
@rodolforg Hey, you are mentoring scripting project. I would like to discuss some details. can we please ? I have also texted you on synfig forum.

[2020-02-21 07:00] morevnaproject commented on #1165
I am too.

Just want to note that GSoC _recommends_ to have all project discussions in public. This doesn't forbids IM by any means, but highly increases the chances for acceptance. ^__^

[2020-02-21 07:02] morevnaproject opened #1168 "Work on compliance to Linux Foundation's Best Practices"
I suggest to start working on compliance to Linux Foundation's Best Practices - https://bestpractices.coreinfrastructure.org/en

The criteria list is here - https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/criteria.md

[2020-02-21 07:04] morevnaproject opened #1169 "Merge NEWS files?"
Currently we have separate NEWS files for ETL, synfig-core and synfig-studio:
- https://github.com/synfig/synfig/blob/master/ETL/NEWS
- https://github.com/synfig/synfig/blob/master/synfig-core/NEWS
- https://github.com/synfig/synfig/blob/master/synfig-studio/NEWS

This complicates the task of updating those files, because it requires to look which module every feature influences.

I suggest to mer

[2020-02-21 07:05] morevnaproject commented on #1111
Related to #1168

[2020-02-21 07:06] haideratGitHub commented on #1165
@morevnaproject  so are you suggesting this order : Cancel | Confirm | Other options() ?

yeah sure! I want to discuss some details, I'll text on synfig forum now. Thanks for telling. ^__^

[2020-02-21 08:06] ice0 commented on #1164
Must be fixed in #1167
Can you check it please?

[2020-02-21 11:00] ice0 commented on #1165
Here is the interesting thing. Linux GIMP shows [Reset] [Cancel] [OK] buttons.
So i think they have some logic for different buttons order on different OSes.

@haideratGitHub can you check GIMP source code to get better understanding of GIMP behavior?

I suggest [OK][Cancel] for Windows and [Cancel][OK] for other OS (Linux/MacOS) as our primary option.

[2020-02-21 11:08] haideratGitHub commented on #1165
We have a lot of different opinions now!!

@ice0 Yeah sure, I can check that out. Please give me pointer to where should I start looking ?

secondly, If we keep different orders for different OS then how would it be done. Just give me a little push start then I'll find the way to do that! ^__-

[2020-02-21 12:40] Keyikedalube commented on #1164
Yup, it's fixed :)
Build success

[2020-02-21 13:33] ice0 commented on #1164
Thank you!

[2020-02-21 13:46] ice0 commented on #1165
We can just add `#ifdef ` into the code. Something like:
[code]

Also you can download GIMP sources (https://gitlab.gnome.org/GNOME/gimp/tree/master) and look how they did that.

[2020-02-21 14:20] morevnaproject commented on #1169
@ice0 opinion?

[2020-02-21 15:24] ice0 commented on #1169
I agree!

[2020-02-21 15:49] morevnaproject commented on #1165
In fact, I prefer button placement to be the same on all operating systems. ^__^

[2020-02-21 16:03] FadhilKwan commented on #591
Just to bump this one, this is still an occuring issue in 1.3.12 (i tested the portable version). And it's kinda worse...
Yes, my mouse was there, but the print screen won't keep it in for me, so i'll just draw the exact point with an arrow instead.

![1312BUG1-BlockedByScrollbar](https://user-images.githubusercontent.com/25135159/75048422-112e6880-54fb-11ea-940a-82398e7c041e.JPG)

Note: oddly eno

[2020-02-21 17:32] AnishGG commented on #1147
Have my semester exams going on. Will look at this in some time 🙂

[2020-02-21 17:34] ice0 commented on #1165
@morevnaproject This is because you are not Linux only user. But for Windows users, standard [Cancel] button location is on the right side.

[2020-02-21 17:44] ice0 opened #1170 "Disable rendering in background by default"
We have negative feedback from our users, so i suggest to disable it by default until it will be polished and production ready.

@morevnaproject your opinion?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/88959524-disable-rendering-in-background-by-default?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_sour

[2020-02-21 23:26] MrBlockCat opened #1171 "Low Icon DPI"
**Synfig version & platform**:
Synfig 1.3.12 on macOS Catalina 10.15.3, 2019 MacBook Pro

**Issue description**:
On a high resolution display, almost all of Synfig's icons have a low DPI. (As shown in attached image) In the workspace, I notice the exceptions of the Refresh workarea, New Layer, Raise Layer, Lower Layer, Delete Layer, Cut, Copy, and Paste icons, which all look great. There are some

[2020-02-21 23:58] MrBlockCat commented on #1171
Here's a more close up example with the Navigation menu. I thought maybe something to do with this commit https://github.com/synfig/synfig/commit/4528a04e3515f6831710848439377eb32344250a would be able to fix this issue, but if I'm interpreting the file names right some of these seem to appear blurry, and some not on here appear sharp.

<img width="231" alt="Screen Shot 2020-02-21 at 6 57 46 PM" sr

[2020-02-22 01:53] MrBlockCat commented on #826
In a similar vein, in macOS's Synfig to delete something you need to use fn + delete, which simulates backspace, rather than just delete.

[2020-02-22 02:01] MrBlockCat opened #1172 "Transform Tool"
**Synfig version & platform**:
Synfig 1.3.12 on macOS Catalina 10.15.3

**Issue description**:
On Macs, the description of the Transform Tool should have the accurate buttons, like this:
Ctrl to rotate
Option to scale
Shift to constrain

Rather than what it currently has:
Ctrl to rotate
Alt to scale
Shift to constrain

<img width="359" alt="Screen Shot 2020-02-21 at 8 56 56 PM" src="https://user-i

[2020-02-22 05:37] Svarov-RZM commented on #1170
I personally fully support this. The problem is, the more complex the artwork, the more lags the "Background rendering" introduces to the point where the animation couldn't even load. The reason for this is that rendering for each frame takes too much time and GUI thread 'swallows' any input so you can't even disable the background rendering.

Try loading and work with this animation in 1.3.12: ht

[2020-02-22 06:52] #1164 closed

[2020-02-22 10:36] locness3 commented on #826
?

[2020-02-22 20:04] haideratGitHub commented on #1165
@ice0 and @morevnaproject  I just wanted to ask what order will you suggest finally so I can work on that issue ? Because there had been many ideas about ordering of buttons so can you please give me a final pointer and also where should I start looking to correct their ordering in code ?

[2020-02-22 21:38] rodolforg commented on #1165
IMHO It is interesting that an app have a look-and-feel natural for the host OS. Otherwise an user can think it's an alien app lol

But there might be a problem: we start to use glade files for UI... How could them could be handled to be adapted to the host OS?

In the meantime, @haideratGitHub, you can make a list of the dialogs with this "button-box" (with more than one "Ok" button) until the bu

[2020-02-23 02:26] Jose-Moreno commented on #1153
@rodolforg @morevnaproject I'd like to know if this is a problem that you have experienced or if it's a user mistake on my behalf. Thanks in advance.

[2020-02-23 04:00] rodolforg commented on #1153
Reading the source code, the shape is closed if first and last vertex are close enough:
https://github.com/synfig/synfig/blob/7cea64284d1326d05039b76648cf113040889b10/synfig-studio/src/gui/states/state_draw.cpp#L1177-L1181

(what is close enough: )
https://github.com/synfig/synfig/blob/7cea64284d1326d05039b76648cf113040889b10/synfig-studio/src/gui/states/state_draw.cpp#L1106-L1109

[2020-02-23 04:05] rodolforg commented on #1170
The background rendering should be a bit smarter:
* don't struggle with GUI (maybe less threads?)
* don't render frame twice (one for workarea and other for thumbnail; maybe the thumbnail could be a simple downscale of the rendered workarea cache - it seems faster than process whole layer tree again)

But, indeed, it gives a bad impression how slow and laggy the interface suffers when user does a

[2020-02-23 05:19] haideratGitHub commented on #1165
@rodolforg  I had made list first day when I commented in this issue. Let me share that

- Open > Cancel | Open | Open History
- Save > Cancel | save
- Save as > Cancel | save
- Save all > Cancel | save
- Preview > Cancel | preview
- Render > Render | cancel

- Input devices  > OK | cancel
- preferences > Restore | cancel | OK

- Properties > OK | Apply | cancel
- Options > OK | Apply | cancel

-

[2020-02-23 13:27] FirasH commented on #1165
There are other dialogs as well:
- Parameters > right-click > Export Value
- Keyframes > right-click > Keyframe Properties
- Keyframes > right-click > Set Keyframe Description
- Timetrack > double-click on waypoint > Waypoint Editor
- Sound > open file
- Layers > right-clik > Set Layer Description

Plus all the dialogs for replace/recover/etc.

[2020-02-23 15:13] AnishGG opened #1174 "[Lottie exporter] Add support for variable gamma correction"
**Synfig version & platform**:
https://github.com/synfig/synfig/commit/cf1df92b252699989e3c36ce4406259a1e40ddd3

**Issue description**:
Old version of Lottie export is using a default value of `2.2` for gamma correction. This needs to made variable depening upon gamma correction value used in the canvas.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.boun

[2020-02-23 15:13] AnishGG commented on #1147
@jackburridge, This is happening because of introduction of a new feature in Synfig that is variable `gamma correction`. I have created an issue regarding this: https://github.com/synfig/synfig/issues/1174
There should be a fix soon.

[2020-02-23 15:25] Keyikedalube opened #1175 "Suggestion for new synfig UI"
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">I love Synfig, i find it amazing and very useful, with many abilities and potentials . <br>But i think Synfig needs a new and modern UI.<br>Thanks for your efforts.</p>&mdash; Maisam Hosaini (@maisam_hosaini) <a href="https://twitter.com/maisam_hosaini/status/1210892500682117121?ref_src=twsrc%5Etfw">December 28, 2019</a></blockquote>

Below

[2020-02-24 02:56] rodolforg commented on #362
@Svarov-RZM I know it has been a long time, but can you please test it (if you are able to build synfig)?

[2020-02-24 04:12] Svarov-RZM commented on #362
@rodolforg I don't have a development setup to build Synfig, I am just a user.
But if someone provides a test build for Windows - I'll test it right away.

[2020-02-24 07:01] ankit-kumar-dwivedi commented on #873
Unassigning this one as I am hoping someone willing to work on vectorization improvements can take this.

[2020-02-24 15:12] morevnaproject commented on #1165
@ice0 @rodolforg Okay, I trust you here to make a final decision here. ^__^

That's a good question! Maybe there is a predefined container for widgets, that switch automatically?

[2020-02-24 16:34] morevnaproject commented on #1170
There is one more idea: we can make "Background rendering" button (the one at the top of workarea) behave globally - i.e. it can enable/disable background rendering for all opened (and created) documents. And make Synfig remember its status when application closed. So, user can choose to work with it or not.

I've had impression this already works like that. Do we have all frames rendered twice? O

[2020-02-24 21:28] Jose-Moreno commented on #1153
@rodolforg I see now, indeed if I draw really close towards the beginning of the stroke it will close automatically, however when leaving the stroke last point "farther" (more than 2 pixels away from the starting point) it will not close itself.

I understand how it works now, but it is something that should be explained in the manual at least, because you REALLY have to leave the last point near

[2020-02-25 04:50] rodolforg commented on #1148
It still works in 1.3.11.

[2020-02-25 19:15] rodolforg opened #1178 "Waypoint Editor should show TCB options only if it is a TCB point"
Currently when you open a Waypoint editor dialog*, it always shows the TCB parameter values/controls even when it uses an interpolation method other than TCB.

This dialog should only show Tension, Continuity, Bias and Temporal Tension only if its input or output interpolation is TCB.

* You can view this dialog by double clicking a waypoint in timetrack or via its context menu.

<bountysource-plu

[2020-02-25 19:15] rodolforg commented on #1178
@Keyikedalube would you give it a try?

[2020-02-25 20:00] Jose-Moreno commented on #1148
@rodolforg I have the same behavior described by @Svarov-RZM using **Windows 10 v1809** while using `SynfigStudio-1.3.12-testing-2020.01.30-win64-8b3a3` from https://www.fosshub.com/Synfig-Development.html

Pressing `ESC` key does NOT "cancel" the spline control point drag operation.

[2020-02-25 20:10] rodolforg commented on #1153
@ice0 @morevnaproject ?

[2020-02-25 20:12] rodolforg commented on #1148
@Jose-Moreno I'll bibisect it to find out when it was broken.

[2020-02-25 21:44] rodolforg commented on #1148
This is the culprit : 6b3c81c2fb73a7a96cfddb0e43de54fe7a61da2e

[2020-02-26 00:03] FirasH commented on #1151
@morevnaproject I agree with you about the menus, I have never used the Navigation menu for example...

Is there a place where we can keep a note about those ideas so we have everything sorted for the menu update/redesign?

[2020-02-26 02:20] Keyikedalube commented on #1178
Here's how I understand, remove/disable TCB parameters in waypoint dialog for all other types of waypoints except for waypoints that look like below (2nd waypoint and 3rd keyframe)
![Screenshot from 2020-02-26 07-34-43](https://user-images.githubusercontent.com/24214509/75305005-d7e35900-586a-11ea-8f5e-ed33847ae733.png)
I don't animate professionally, only simple cut-out animation where I know wha

[2020-02-26 02:30] rodolforg commented on #1178
I'm talking about this dialog:
![Captura de tela de 2020-02-25 23-26-36](https://user-images.githubusercontent.com/1323987/75306025-97fa8280-5826-11ea-9f26-cf68dd35bbd9.png)
In this case, both interpolations (in and out) are set to `Clamped`. None is `TCB`. Therefore, why does the dialog show the section inside the green rect outline?

You can open this dialog double-clicking on one of the waypoin

[2020-02-26 03:43] Keyikedalube commented on #1178
Got you. I think I can fix this. I'm taking on this issue.

[2020-02-26 06:40] saurabh-ramola commented on #1174
@AnishGG can I take this up?

[2020-02-26 06:43] AnishGG commented on #1174
Sure, assigning this to you!

[2020-02-26 22:23] rodolforg commented on #231
Here is how to reproduce it:
1. Create a new document
2. Create a `circle` layer anywhere
3. Select and right-click its `feather` parameter
4. In the context menu, select `Export value` and type any name
5. Show `Library` panel, expand `ValueBase Nodes`
6. Select the exported value
7. Select `Opacity` parameter and right-click on it
8. In the context menu, select `Connect`
9. Select back `feather`

[2020-02-26 23:19] rodolforg commented on #280
This problem was introduce by commit 790e124bea30a2e4b23166559c9a7582760eddda.

https://github.com/synfig/synfig/blob/790e124bea30a2e4b23166559c9a7582760eddda/synfig-studio/src/synfigapp/actions/valuenodedynamiclistinsert.cpp#L204

As I don't understand `rcount` ("number of reversible instances" [??] of `rhandle` "Replaceable Object Handle" [???]), I don't know if it should be always equal to 1 as

[2020-02-26 23:28] #1031 closed

[2020-02-27 01:02] rodolforg commented on #280
@blackwarthog could you please review this assert?

[2020-02-27 04:44] blackwarthog commented on #280
etl::handle - is a pointer with ref-count, like Glib::RefPtr. Contained object must be subclass of etl::shared_object and has methods ref(), unref() and count()

Where count is the count of etl::handles that holds this object, when count becomes zero by calling unref() object will deleted. We must remember that initially count() is zero and we must be careful is cases when object already created b

[2020-02-27 05:01] blackwarthog commented on #280
seems assertions only have a sence when 'item' field is not set.
in other case we must to remember state of item->rcount() before assignment:

	#ifndef NDEBUG
	int prev_rcount = item ? item->rcount() : 0;
	#endif
	list_entry=value_node->create_list_entry(index,time,origin);
	if(item)
	{
		list_entry.value_node=item;
	}
	else
	if (force_link_radius)
	{
		ValueNode_Composite::Handle composite = Valu

[2020-02-27 05:15] blackwarthog commented on #280
hm... i've looked previous code by darco and seems actions expects that item with zero rcount. i doesn know why.
may be it have a logic, may be item param was intoduced a bit later than assert and it's just bug.

seems these assertions is the traces of some anchient dubug process

[2020-02-27 11:04] ice0 commented on #1151
Maybe add new Issue and set Roadmap for 1.6 for it? At least we do not release until it will be resolved.

[2020-02-27 11:07] ice0 commented on #1153
@Jose-Moreno @rodolforg Sure!

[2020-02-27 11:10] #1111 closed

[2020-02-27 11:14] ice0 commented on #1165
Here's how GIMP handle this:
https://gitlab.gnome.org/GNOME/gimp/blob/master/app/dialogs/image-new-dialog.c#L111

And GTKDialog method:
https://developer.gnome.org/gtk3/stable/GtkDialog.html#gtk-dialog-set-alternative-button-order

[2020-02-27 15:19] ice0 commented on #362
Portable version with this changes:
https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.5.0-testing-2020.02.27-win64-ca377.zip

[2020-02-28 09:33] morevnaproject commented on #1168
Registered in Best Practices Badges program.

Now everyone who has commit access to repository can edit project info using this link - https://bestpractices.coreinfrastructure.org/en/projects/3742/edit

[2020-02-28 09:37] morevnaproject commented on #1168
To everyone contributing to this issue: **please consider to add criterias we need to work on at the top post of this thread**.

[2020-02-28 09:40] morevnaproject commented on #418
Can anyone check if this still a problem with the latest commit? - 6b433d2503ed81bd6577c17748d2ae59ce0573c6

[2020-02-28 09:40] morevnaproject commented on #318
Can anyone check if this still a problem with the latest commit? - 6b433d2503ed81bd6577c17748d2ae59ce0573c6

[2020-02-28 09:47] morevnaproject commented on #314
Advanced Outline is rewritten as per commit 573f832f5c0c2c9eecc74b811ae9e2943dbae3a2,

Warp Layer now also  optimized (commits cf1df92b252699989e3c36ce4406259a1e40ddd3, fc7a046ad041978bf4071d1e15e6dc2e64176d4c).

Much thanks to @blackwarthog!

Can anyone check performance with Warp Layer?
It would be nice to do some tests comparing 1.2.0, 1.3.12 and latest master.

[2020-02-28 10:53] blackwarthog commented on #555
I've tried to solve this issue.

Some history in beginning.

So i tried to find software that meets one requirement: to be open source (obviosly  all it dependencies must be open source too).

I think that sources is actually open when one human has ability to look all the source code in a resonable time.
So i tried to find software where i can install deps from official repo of my OS, and build s

[2020-02-28 15:29] ankit-kumar-dwivedi commented on #943
Hi I assume @BoldHonor is no more working on this one due to inactivity for a long time unassigning now.

[2020-02-28 15:58] ankit-kumar-dwivedi opened #1183 "[Vectorization] Use less global variables"
**Issue description**:
Global variables are not reliable and we need to use them as less as possible. this issue requires reducing use of global variables in synfig vectorization

[2020-02-28 16:05] ankit-kumar-dwivedi opened #1184 "[Vectorization] Enhance BezierToOutline function"
**Issue description**:
Lot of redundant work is done inside the function BezierToOutline
https://github.com/synfig/synfig/blob/6b433d2503ed81bd6577c17748d2ae59ce0573c6/synfig-studio/src/synfigapp/vectorizer/centerlinetostrokes.cpp#L87-L154

this can be rewritten in a better way that can reduce LOC.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysour

[2020-02-28 16:10] ankit-kumar-dwivedi opened #1185 "[Vectorization] we need a dialog for outline method"
**Issue description**:
Centerline dialog is already there we need to show a new set of options if user select outline method.
The same set of options are needed as in OpenToonz one can refer this image to get an idea:
 ![](https://user-images.githubusercontent.com/37617951/58075398-43eead80-7bc5-11e9-8598-31729d0b9060.png)

[2020-02-29 05:45] Svarov-RZM commented on #362
@ice0 @rodolforg @blackwarthog
Well, yeah, it's working now, partly.
Fixing this problem introduces another one - you can't link exported vertexes to the bone. This was fixed before this issue by placing \<bones\> before \<defs\> structure (see this recent thread https://github.com/synfig/synfig/pull/1176).

Some more in-depth thinking is needed to correctly solve this issue. I actually was wonder

[2020-02-29 07:12] Keyikedalube commented on #1145
Does the second timeline code on_draw() mean **Update (re-draw) the time line**?
https://github.com/synfig/synfig/blob/478b0db1fb5dac27a64b36eaff120b60cc92f49c/synfig-studio/src/gui/widgets/widget_timeslider.cpp#L232-L240
https://github.com/synfig/synfig/blob/478b0db1fb5dac27a64b36eaff120b60cc92f49c/synfig-studio/src/gui/widgets/widget_timeslider.cpp#L299-L305
Both saying *//Draw the timeline* is

[2020-02-29 11:44] morevnaproject commented on #318
Confirmed to be fixed in master
![screenshot_001](https://user-images.githubusercontent.com/332868/75606849-831e3780-5b23-11ea-81e4-fae4ba5b951f.png)

[2020-02-29 11:44] #318 closed

[2020-02-29 11:53] morevnaproject opened #1186 "Warp layer: Optimize in Draft mode"
Hi @blackwarthog!

I have tested Warp Layer and noticed it works differently when workarea in Preview mode:
it is faster in Preview and slower (but with higher quality) when mode is set to Final.
And that's great!

Still, when I switch to Draft mode the Warp Layer behaves the same way as in Preview mode.
Is it possible to do some optimizations to make it work even faster in Draft mode (by sacrific

[2020-02-29 11:53] morevnaproject commented on #1186
![screenshot_002](https://user-images.githubusercontent.com/332868/75606945-d5138d00-5b24-11ea-9be5-1b148f015512.png)

[2020-02-29 11:57] morevnaproject commented on #418
Fixed in latest master
![screenshot_003](https://user-images.githubusercontent.com/332868/75607006-50753e80-5b25-11ea-91fb-d416582bf00c.png)

[2020-02-29 11:57] #418 closed

[2020-02-29 12:23] blackwarthog commented on #1186
i did nothing with it, it was work from the box
as i understand preview mode forces a nearest filter to all transformations

[2020-02-29 12:35] morevnaproject opened #1187 "Allow to choose render engine from console"
Allow to choose render engine from console, in the same way as we choose render engine in GUI -
![screenshot_006](https://user-images.githubusercontent.com/332868/75607531-a8fb0a80-5b2a-11ea-87d9-c68d58767803.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/89399800-allow-to-choose-render-engine-from-console?utm_campaign=plugin&

[2020-02-29 15:14] morevnaproject commented on #314
I have tested new Warp Layer - https://forums.synfig.org/t/please-help-with-testing-of-new-warp-layer/10687

[2020-02-29 15:27] morevnaproject commented on #1041
Hi! Apologies for delay, I have missed this conversation somehow...

@libreartist I absolutely love what you did and appreciate your contributions here.

The only thing that made me feel weird are icons of humans, that remind me icons on traphic light, but with opposite coloring ^__^"

![screenshot_008](https://user-images.githubusercontent.com/332868/75610284-870d8200-5b42-11ea-88e6-70d2a312ba03.

[2020-02-29 16:11] morevnaproject commented on #1186
Yes.

So, what are the ways to optimize it more?

[2020-02-29 16:12] morevnaproject commented on #1170
Okay, I agree to make Background Rendering disabled by default.

[2020-02-29 16:14] morevnaproject commented on #1056
Fixed in 1.3.12.

[2020-02-29 16:14] #1056 closed

[2020-02-29 17:12] blackwarthog commented on #1186
hmmm... make test with trasformation of several vector regions and text

[2020-02-29 22:23] rodolforg commented on #1041
@libreartist , as Konstantin approved, could you please provide us icons for these flags:
* layer visibility (visible / hidden)
* layer rendering (enabled / disabled)
* layer selection locking (locked / unlocked)

I'd appreciate it a lot :)

[2020-03-01 01:34] Keyikedalube opened #1189 "Conflicting mnemonic initials on Waypoint Editor"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
I don't use mnemonic keys a lot but I noticed this dialog has the same mnemonic initials when I press Alt key
![Screenshot from 2020-03-01 06-36-08](https://user-images.githubusercontent.com/24214509/75617820-48031f00-5b8a-11ea-9f9a-9af21b753e2f.png)

The only time I'd use mnemonic is for buttons such as OK and

[2020-03-01 05:55] harshagrwl commented on #1126
I will be taking up this issue

[2020-03-01 07:11] ice0 commented on #1143
@Gilraiser Can you check if this PR fixes your problem?

[2020-03-01 07:46] blackwarthog commented on #1186
CheckerBoard and Warp became more beautifull, so i've added two parameters to allow you to downgrade it to previous state:

Warp::interpolation
- here you can manually downgrade the quality of Warp transformation
by default quality is cubic (best), as like as in usual transformations for group

CheckerBoard::antialias
- by default is set to true, now you can disable it

Also i've added additional

[2020-03-01 14:00] Keyikedalube commented on #1189
Here's my suggestion:
- Modify Continuity mnemonic from **C** to **y**
That way Close button gets the default focus
- Modify Out interpolation from **O** to **u**
and OK button gets the default focus

Thus making it easier and accessible for keyboard lovers to easily confirm or cancel any changes made on the Waypoint Editor.

[2020-03-01 14:28] harshagrwl commented on #1126
@ankit-kumar-dwivedi I am getting these errors when trying to build the project locally. Please have a look.
![Screenshot from 2020-03-01 19-56-47](https://user-images.githubusercontent.com/43218240/75627528-f47aea80-5bf6-11ea-8c52-78d715f45c0c.png)

[2020-03-01 14:37] morevnaproject opened #1191 "Rename "Warp Layer" to "Perspective Layer""
We need to rename Warp Layer to Perspective Layer.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/89399837-rename-warp-layer-to-perspective-layer?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content

[2020-03-01 14:41] ankit-kumar-dwivedi commented on #1126
This seems to be related to https://github.com/synfig/synfig/issues/744 and https://github.com/synfig/synfig/issues/945
@blackwarthog @morevnaproject any workaround for now??

[2020-03-01 14:51] ankit-kumar-dwivedi commented on #1126
@harshagrwl which distro/version are you using?

[2020-03-01 15:00] harshagrwl commented on #1126
I am using Ubuntu 18.04 LTS

[2020-03-01 15:05] morevnaproject commented on #1183
@ankit-kumar-dwivedi Can yo please reference files where vectorization code located? (I believe this would help to ones who interested in solving this ^__^),

[2020-03-01 15:16] ankit-kumar-dwivedi commented on #1126
And you are using using 2-build-debug.sh ? This seems to be a linking issue with libpng you linked against an older version but have a newer version in the runtime path of loadable libraries.

[2020-03-01 15:27] morevnaproject commented on #1185
I suggest to add settings of Outline method in the same dialog - just make particular options shown/hidden when user chooses method (via dropdown box).

[2020-03-01 15:29] morevnaproject commented on #1187
@ankit-kumar-dwivedi I remember you have successfully added Preview rendering mode to workarea. Can you please take a look at this issue too? ^__^

[2020-03-01 15:43] ankit-kumar-dwivedi commented on #1185
**Adding some more info**
My bad, the mode dropdown should be responsible to show/hide the proper set of options.
And actually most of the code is already present there(currently commented )

see https://github.com/synfig/synfig/blob/7d5f2d3f7f6ed72e84c5c4607dc5a20446be9e49/synfig-studio/src/gui/dialogs/vectorizersettings.cpp

[2020-03-01 15:51] morevnaproject commented on #1126
Yes, it looks like you have two versions of libpng installed?

[2020-03-01 16:03] ankit-kumar-dwivedi commented on #1183
updated description

[2020-03-01 16:07] ankit-kumar-dwivedi commented on #1187
will surely look into it.
PS: I guess this is not urgent as I have exams this week. Will update on this by next week
/remind me about this in 5 days

[2020-03-01 16:08] rodolforg commented on #1191
It would be good to update wiki too

[2020-03-01 18:18] rodolforg commented on #1189
I agree.

[2020-03-01 21:13] rodolforg commented on #1146
Here is what is causing this problem:
https://github.com/synfig/synfig/blob/6c234ce5d078f6cd44be71da6c68f0a5e7ffd5cd/synfig-core/src/synfig/canvas.cpp#L1606-L1631

Specifically here:
`		for(++iter;iter!=group_db_.end() && iter->first.find(old_name)==0;iter=group_db_.find(old_name),++iter)
`
I don't know why it searches for more groups beyond the first one found, as `group_db` is a `std::map`, so i

[2020-03-01 22:57] rodolforg commented on #1146
Ok. It's due to nested sets.
https://wiki.synfig.org/Sets_Panel#Sets_can_be_nested
I'll fix it.

[2020-03-02 07:53] #744 closed

[2020-03-02 07:54] ice0 commented on #744
Fixed in https://github.com/synfig/synfig/commit/8f89ca29ee724e59cce0271ef892272c9c68c7a0

[2020-03-02 09:19] harshagrwl commented on #1126
@morevnaproject @ankit-kumar-dwivedi I tried uninstalling libpng and then ran 2-build-debug.sh again but it is giving the same error.

[2020-03-02 09:52] ice0 commented on #1126
The `build_images` stage is not required, so you can continue by run `_debug/build/bin/synfigstudio`.
But to resolve this issue please show output of:
`apt search libpng`

[2020-03-02 10:53] harshagrwl commented on #1126
The `_debug/build/bin` directory does not include the `synfigstudio` file.
![Screenshot from 2020-03-02 16-21-02](https://user-images.githubusercontent.com/43218240/75670026-06659780-5ca2-11ea-8d17-034e4c2c722a.png)

The output of `apt search libpng` is:
![Screenshot from 2020-03-02 16-16-01](https://user-images.githubusercontent.com/43218240/75670080-21380c00-5ca2-11ea-81fb-fc506796b47d.png)

[2020-03-02 11:22] ice0 commented on #1126
Ok, please show output of:
`pkg-config --cflags --libs libpng`

[2020-03-02 11:25] harshagrwl commented on #1126
Here's the output:
![Screenshot from 2020-03-02 16-54-30](https://user-images.githubusercontent.com/43218240/75672332-91e12780-5ca6-11ea-9f22-91532bcadfaf.png)

[2020-03-02 11:29] ice0 commented on #1126
ok, now show output of:
`dpkg -S /usr/local/include/libpng12`

[2020-03-02 11:33] harshagrwl commented on #1126
![Screenshot from 2020-03-02 17-03-19](https://user-images.githubusercontent.com/43218240/75672896-bdb0dd00-5ca7-11ea-9bf9-ddef46679ca4.png)

[2020-03-02 11:38] ice0 commented on #1126
Ok, looks like this is manually built library.
Show output of:
`pkg-config --list-all | grep png`

[2020-03-02 11:39] harshagrwl commented on #1126
![Screenshot from 2020-03-02 17-09-05](https://user-images.githubusercontent.com/43218240/75673262-8e4ea000-5ca8-11ea-801d-cc04daa5753b.png)

[2020-03-02 12:02] ice0 commented on #1126
Please show output of this commands:
[code]

[2020-03-02 12:23] harshagrwl commented on #1126
![Screenshot from 2020-03-02 17-52-43](https://user-images.githubusercontent.com/43218240/75676140-aaedd680-5cae-11ea-94d9-72f112529543.png)

[2020-03-02 12:54] ice0 commented on #1126
Ok. Let's try to run synfig manually:
`synfig /home/harsh/Desktop/GSoC/synfig/synfig-studio/images/synfig_icon.sif -o test.png -t png`

It must fail as before.
Now change the libraries search path:
`export LD_LIBRARY_PATH=/usr/local/lib/:$LD_LIBRARY_PATH`
and try to run synfig again:
`synfig /home/harsh/Desktop/GSoC/synfig/synfig-studio/images/synfig_icon.sif -o test.png -t png`

[2020-03-02 13:27] harshagrwl commented on #1126
It worked fine. But I am still not able to execute synfig from the `_debug/build/bin/synfigstudio`
![Screenshot from 2020-03-02 18-55-08](https://user-images.githubusercontent.com/43218240/75680435-9e21b080-5cb7-11ea-9f7f-c85625486a55.png)

[2020-03-02 14:16] ice0 commented on #1126
This is because you need to run `2-build-debug.sh` again and wait until it completed.

[2020-03-02 16:55] harshagrwl commented on #1126
@ice0 `2-build-debug.sh` still fails with the same error.

[2020-03-02 18:28] ice0 commented on #1126
Edit `2-build-debug.sh`, and add:

`export LD_LIBRARY_PATH=/usr/local/lib/:$LD_LIBRARY_PATH` right after

[code]

so you must get:
[code]

and try to run it again.

[2020-03-02 19:54] harshagrwl commented on #1126
Getting similar error at a later point in running `2-build-debug.sh`
![Screenshot from 2020-03-03 01-22-33](https://user-images.githubusercontent.com/43218240/75712250-a98fce80-5ced-11ea-8b5c-b4f3d8d189e0.png)

[2020-03-03 11:16] #1178 closed

[2020-03-03 11:16] #1189 closed

[2020-03-03 11:28] Baytars opened #1193 "Feature Request: Animata Integration"
The fine vertex and triangle manipulations seem more impressive to me as shown in [Animata tutorial](http://animata.kibu.hu/tutorial/animata-arm-tutorial-081014.mov) because we have more precise control over which vertices to be controlled by a bone, especially in a case where ranges of effect of two bones overlap too much. We got only rough control with radius handle and the joint movement don't

[2020-03-03 12:57] harshagrwl commented on #1126
@ankit-kumar-dwivedi @ice0

[2020-03-03 13:43] ice0 commented on #1126
As a temporary solution can you uninstall libpng16?

[2020-03-03 13:58] rodolforg commented on #1165
I think they can be made first consistent (one single order pattern) and we later adapt them to OS?

Perhaps by making a call to a stub method that would fix button ordering according to host OS, we could easily change ordering later.

[2020-03-03 13:59] haideratGitHub commented on #1165
What should I do now ??

[2020-03-03 14:07] ice0 commented on #1126
Well, I reproduced your problem, I will write when I fix it.

[2020-03-03 14:13] rodolforg commented on #1126
Maybe I screw up something here? https://github.com/synfig/synfig/pull/1081/commits/1cd17f88803798ff9fef1aecffb23875a35b3c01

[2020-03-03 14:21] rodolforg commented on #1165
If your list is finished*, I'd make all dialogs use Cancel-extra buttons-OK order, as it seems most of them follow this ordering (https://github.com/synfig/synfig/issues/1165#issuecomment-590028502).

* maybe you can check/search for more by using `git grep --ignore-case "ok"` as well as for `"cancel"` as well as for their mnemonic versions (https://developer.gnome.org/gtk3/stable/GtkLabel.html#gt

[2020-03-03 14:24] haideratGitHub commented on #1165
Okay! I will check that. Meanwhile, may you please suggest/assign me with another issue from which I can start contributing to synfig ?

[2020-03-03 14:42] ohlr commented on #704
Two things I noticed:
1. framerate has an impact on filesize but no impact on the framerate when viewed in the browser(chrome).
2. In firefox only the animated frames are shown independent of framerate.

[2020-03-03 14:44] harshagrwl commented on #1126
@ice0 I tried uninstalling libpng16. In the process, some of its associated packages like libcairo2 were also removed.
Now the complete GUI of Ubuntu is gone. I am seeing this on startup:
![IMG_20200303_201058_1](https://user-images.githubusercontent.com/43218240/75786516-71d76400-5d8b-11ea-9723-6eb1a1e708ba.jpg)
Please Help

[2020-03-03 14:54] rodolforg commented on #1126
You still can login in "terminal mode".

Login and read the log of apt/aptitude (something like `tail /var/log/apt/????`)

But check this out too: https://unix.stackexchange.com/questions/79050/can-i-rollback-an-apt-get-upgrade-if-something-goes-wrong

[2020-03-03 14:55] ice0 commented on #1126
@harshagrwl Do you remember you deleted libpng-dev or libpng? How many packages have been removed?

[2020-03-03 15:02] harshagrwl commented on #1126
When I was trying to remove libpng16 and libpng16-dev I was getting an error saying that the package doesn't exist. I deleted libpng16-16. And the package libcairo2-dev was removed

[2020-03-03 15:08] harshagrwl commented on #1126
I even did apt-get --fix broken install and it completed without any errors but still this problem persists

[2020-03-03 15:21] ice0 commented on #1126
ok. login to terminal shell and do this commands:
1.
[code]
you must get logged information about your packages.
[code]
must show only removed packages
[code]
must show packages removed today (03-03). If you have another date format - use it.

if all is ok, then type next command:
[code]
this command must cut only package names.
After that save it to file:
[code]
and edit them. You need to remove

[2020-03-03 15:38] harshagrwl commented on #1126
It worked. Thanks a lot @ice0 !

[2020-03-03 16:10] ice0 commented on #1126
@rodolforg No, as i can see ImageMagick includes both libpng1.2 and libpng1.6 headers if they installed. So i am looking how to fix that.

[2020-03-03 16:23] AnishGG commented on #704
1. Yes, this is expected, as the shapes and outlines are exported frame by frame using the most basic layer of Lottie, hence increasing the size of the file. This might also lead to a lag in animation on larger displays/screens.
2. I have been using firefox and chrome both for testing but did not face this issue yet. Could you raise an issue mentioning the firefox version as well as the `.sif` fil

[2020-03-03 17:02] ice0 commented on #1126
Temporary solution:

 `autobuild/build.sh` (line 275)

Add `--without-images` to the end of line, to get
[code]
so it doesn't build images.

[2020-03-03 18:01] ohlr commented on #704
Thanks for the quick response. I realized point 2 is mainly an issue with large/complex files. I think Firefox is just not as good/fast in rendering.

[2020-03-03 19:38] harshagrwl commented on #1126
I was able to finally build it using the temporary solution.
As I was going through the GUI code, I found that adding a checkbox for the "Scale to fit canvas" option in the import image dialog would be better than adding the widget.
What are your views on this @ice0 @ankit-kumar-dwivedi ?

[2020-03-03 20:43] ice0 commented on #1126
I think @morevnaproject was thinking of a checkbox or something like it when he wrote "widget". So in my opinion it will be good enough.

[2020-03-04 15:55] ARYA-BHARDWAJ commented on #1191
may I work on this issue

[2020-03-04 16:30] morevnaproject commented on #529
Tested with PR #1135.

Got a bit different behavior.

I will try to explain here what is expected and what is not working with this PR.

Sample file -
[bug-parent-child-timetrack.zip](https://github.com/synfig/synfig/files/4288363/bug-parent-child-timetrack.zip)
The archive includes 2 files - "parent.sifz" and "child.sifz".

1. Open both files in Synfig.
2. Switch to "child.sifz" and enable animat

[2020-03-04 16:41] ice0 commented on #1191
@ARYA-BHARDWAJ sure! It's your now! :)

[2020-03-04 16:47] morevnaproject commented on #1187
Yeah, it's not urgent. Thank you! ^__^

[2020-03-04 16:55] morevnaproject commented on #1041
Just a note:

Layer Selection Locking is actually a Layer Parameter (which means it can be animated).
Other flags you mentioned are not Layer Parameters (they cannot be animated and thus have influence on whole timeline).

Actually, we **_can_** make Layer Selection Locking behave as Layer visibility flags - i.e. not a Layer Parameter and non-animatable.

What people think about this idea? Does an

[2020-03-04 17:03] morevnaproject commented on #1126
Yes, I was talking about checkbox widget. ^__^

[2020-03-04 17:19] AnishGG commented on #989
For this issue, should the changes be made in this file? : https://github.com/synfig/synfig/blob/master/travis.sh
OR
should I make a different file whose execution will be called inside `travis.sh`

[2020-03-04 17:24] morevnaproject commented on #1165
@haideratGitHub Please feel free to choose from any of those - https://github.com/synfig/synfig/labels/good%20first%20issue (I mean unassigned ones ^__^)

[2020-03-04 17:45] morevnaproject commented on #1143
.Ghost dockers are not appear for me with PR #1190

[2020-03-04 17:49] #1143 closed

[2020-03-05 04:52] ice0 commented on #989
@AnishGG if i understand correctly lottie-plugin doesn't need builded Synfig for work.

So i suggest to do some sort of testing script on Python (with PyTest or something like it) which can be executed locally, and add it to .travis.yml as a new job later.

[2020-03-05 04:59] #1101 closed

[2020-03-05 05:28] ice0 commented on #777
@bajajvinamr do you want to continue working on this?

[2020-03-05 05:31] ice0 commented on #1165
@haideratGitHub you can also ask for assigned one, if the last comment in issue is older than one month :)

[2020-03-05 08:10] Keyikedalube opened #1196 "[CMake] Animation playback is not smooth anymore"
**Synfig version & platform**:
Building from source
Debian sid

**Issue description**:
Pulled and merged updates from master branch today and encountered the problem.
Playback lags gradually from start time and gets slower as timeline cursor progresses toward the end.
[Screencast from 05-03-20 01:31:30 PM IST.zip](https://github.com/synfig/synfig/files/4291673/Screencast.from.05-03-20.01.31.30.PM.

[2020-03-05 08:15] Keyikedalube commented on #1196
This issue is noticeable even on an empty canvas workspace.

[2020-03-05 12:21] Keyikedalube commented on #1145
### Start time 00:00:00.00
Figured how to push the first keyframe using canvas manipulation and successfully did it!

![Screenshot from 2020-03-05 17-25-09](https://user-images.githubusercontent.com/24214509/75979352-4d53c700-5f06-11ea-90b5-920c551acb3c.png)

### End time 00:00:05.00
Since the actual drawing has been set to 16px from x (by default 0) the last keyframe gets drawn behind the vertica

[2020-03-05 12:38] rodolforg commented on #1196
Do you know last version it doesn't lag like that?

If so, could you try to git bisect to investigate which commit did it?

[2020-03-05 13:28] Keyikedalube commented on #1196
On my old but recent synfig folder where I haven't rebased from upstream, the working commit id is
6b433d2503ed81bd6577c17748d2ae59ce0573c6

[2020-03-05 13:44] rodolforg commented on #1196
Is it the last working commit or First not working one?

Em qui, 5 de mar de 2020 10:28, Keyikedalube Ndang <notifications@github.com>
escreveu:

[2020-03-05 14:08] Keyikedalube commented on #1196
Last working commit. I'm checking out other commits with git bisect.
*Sorry for the delay... was away during the build*

[2020-03-05 15:34] Baytars commented on #1187
How many render engines that Synfig supports are there?

[2020-03-05 15:50] Keyikedalube commented on #1196
Did git bisect and no luck catching the commit that's causing the issue.
Same laggy playback
*BTW, at the time I reported this issue I used CMake build script to build synfig*

This is a bug from synfig's CMake build script

Just to make sure, I tried building using build-production script and animation playback is smooth

[2020-03-05 18:09] harshagrwl commented on #1126
I am following the GNOME documentation for gtkmm (https://developer.gnome.org/gtkmm-tutorial/stable/sec-checkboxes.html.en). I was trying to apply a similar logic as described in the documentation to the app.cpp file (https://github.com/synfig/synfig/blob/a4bbdd72e57be5b449874eab8a6b47425af8d4fb/synfig-studio/src/gui/app.cpp) where the code for Import Dialog resides.
I was able to replicate the pr

[2020-03-05 19:00] ankit-kumar-dwivedi commented on #1126
@harshagrwl I suggest you push your code on your branch. So we can help you better.

And the find out the code for ![](https://user-images.githubusercontent.com/332868/73193280-e4d23700-415c-11ea-960b-aa9cfd90e9fa.png)

look here -> https://github.com/synfig/synfig/blob/b4b6a752214c5f56f51788b78f3b71fcfdec2492/synfig-studio/src/gui/dialogs/dialog_setup.cpp

you need to pass a checkbox to gtkfilech

[2020-03-06 07:22] ice0 commented on #1187
@Baytars

[code]

[2020-03-06 07:47] ice0 commented on #1196
@Keyikedalube confirmed. I can take a look on the next week. Thanks for pointing this out.

[2020-03-06 07:59] ice0 commented on #1145
@rodolforg can you comment here?

[2020-03-06 09:20] harshagrwl commented on #1126
@ankit-kumar-dwivedi @ice0 I have pushed my code to the new branch (https://github.com/synfig/synfig/compare/master...harshagrwl:harsh_vectorization?expand=1). You can go through. This is the very first primitive version of changes that I made. I am still in the process of learning about gtkmm. Please help me out with this and point out what all changes should be done here.

[2020-03-06 09:49] morevnaproject opened #1198 "Looking for Arabic translation of Synfig UI"
Hi everyone!
I am looking for someone who can translate Synfig UI into Arabic. Anyone interested? Any ideas where to look for contributors?

[2020-03-06 16:03] ankit-kumar-dwivedi commented on #1126
@harshagrwl I could not understand your changes. Why have you added https://github.com/harshagrwl/synfig/blob/d8332c83d85c20e0934ae1c5ae9440a7e1d22980/synfig-studio/src/gui/app.cpp#L1413?

[2020-03-06 16:09] harshagrwl commented on #1126
Because the `toggle_resize_imported_images` function is being declared in the class inherited from the Dialog_Setup class

[2020-03-06 16:24] ankit-kumar-dwivedi commented on #1126
You can do that in the following way
[code]
no need to do

also, see my last comment regarding gtkfilechooser there is a method **add_action_widget()** which you can use to add checkbox to filechooserdialog.

[2020-03-06 23:10] OBKF commented on #1198
I will do it, I am a bit busy so it may take some time.
Please link me the files.

[2020-03-07 02:00] Keyikedalube commented on #1145
New update!

Minimizing the delta time pixel count per second gives enough extra space for end time
So now we have consistent 16px start space and 16px end space
Here's a screenshot of how the time track looks now

![Screenshot from 2020-03-06 20-23-23](https://user-images.githubusercontent.com/24214509/76134526-f56faa00-6044-11ea-975e-38352117af79.png)

Visual work is done!

The only task left to

[2020-03-07 07:06] morevnaproject commented on #1198
Hi @OBKF! Great, thank you!
We are using using Transifex service, so you can translate online using web browser. So just sign up here - https://www.transifex.com/morevnaproject/synfig/
Please let me know if that's okay fro you. __^

[2020-03-07 07:55] kamal-kaur04 commented on #733
Hii @morevnaproject,
I would like to take this issue if it's not assigned already.
Thank you

[2020-03-07 08:00] ankit-kumar-dwivedi commented on #1172
@morevnaproject I guess we should update such descriptions everywhere in the application.

[2020-03-07 08:01] ankit-kumar-dwivedi commented on #733
Great @kamal-kaur04 assigning you this one.

[2020-03-07 08:20] morevnaproject commented on #1186
Thank you for fix and detailed explanations! ^__^

[2020-03-07 08:20] #1186 closed

[2020-03-07 11:42] kamal-kaur04 commented on #733
Hii @morevnaproject
Can you please tell the expected behavior(purpose) of **Toolbar**?

[2020-03-07 12:03] rodolforg commented on #1196
I can't reproduce it on Linux + autotools.

[2020-03-07 12:14] ice0 commented on #1196
@rodolforg this is CMake only related problem. The interesting part of this is that there some code which works very slow without defines which CMake did not set.

[2020-03-07 14:55] morevnaproject commented on #1154
@sourabhdharpure Hi! Are there any progress with this issue?

[2020-03-07 14:56] morevnaproject commented on #1154
/remind me about this in 2 days

[2020-03-07 14:58] morevnaproject commented on #733
This command should show/hide this toolbar -

![screenshot_001](https://user-images.githubusercontent.com/332868/76145735-cbf36480-60be-11ea-9c0d-5f1a73602b90.png)

[2020-03-07 15:58] morevnaproject commented on #1139
Apologies for delay. Please see my comment here - https://github.com/michiboo/synfig/commit/13f2714602edadd9504b06fb8eb65289ca340440#r37690018

[2020-03-07 16:04] ice0 commented on #1196
I also noticed that autotools version skips frames, but CMake is not (need to check this again). So problem maybe deeper, and we have rendering slowdown on longer animations.

[2020-03-07 18:05] rodolforg commented on #529
Fixed the keyframe line drawing regression in that PR with https://github.com/synfig/synfig/pull/1135/commits/5e6877b04b5c19661ac058927a42f14f224ab118

Regarding the missed drawing update, I don't have this issue here, so I'll try it later.
https://youtu.be/ypsAn-XSn-k

[2020-03-07 18:37] AnishGG opened #1204 "Wrong file name on the alert dialog box when using plugins"
**Synfig version & platform**:
https://github.com/synfig/synfig/commit/a98351568cfe8bd1403b4dfcf6d817f680b05ae9
Platform: Ubuntu 18.04.4 LTS

**Issue description**:
When I open a new file in Synfig and try to use any plugin on it(say `export to Lottie`), the name of the file on the alert dialog box is different than the selected file.
I am attaching a `.gif` describing this issue. The file I opene

[2020-03-07 19:30] ARYA-BHARDWAJ commented on #1184
Hi I want to work on this issue

[2020-03-07 19:45] ice0 commented on #1184
@ARYA-BHARDWAJ it's yours now :)

[2020-03-07 20:56] rodolforg commented on #1158
Fixed by https://github.com/synfig/synfig/commit/a98351568cfe8bd1403b4dfcf6d817f680b05ae9 .
Now it's time to push POT file to transifex @morevnaproject  :)

[2020-03-08 08:31] #989 closed

[2020-03-08 09:08] #1174 closed

[2020-03-08 09:14] ice0 opened #1205 "Fix year in About dialog"
About dialog still shows 2019 now :)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/89758536-fix-year-in-about-dialog?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium

[2020-03-08 11:09] AnishGG commented on #1147
@jackburridge This issue should be closed by #1179
Can you confirm this.

[2020-03-08 11:28] ARYA-BHARDWAJ commented on #1205
May I have look on this issue

[2020-03-08 11:37] ARYA-BHARDWAJ commented on #1205
May I solve this issue ??

[2020-03-08 11:47] mhamadharmush commented on #1198
I will do it insha'allah

[2020-03-08 12:21] ice0 commented on #1205
Sure!

[2020-03-08 18:00] rodolforg opened #1208 "Widget_Vector should reacts to TAB key press"
When editing value of vector parameters, eg layer `Origin`, user types `x` value first, press `Enter` (to activate/confirm edition) and then focus moves to `Y` value text field.

On the other hand, `TAB` (and `shift`+`TAB`)  is a common navigation key among form fields and this editor widget ignores it.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bount

[2020-03-09 01:58] saurabh-ramola commented on #1204
I am attaching a .gif describing the result of the changes made.

![circle](https://user-images.githubusercontent.com/31828811/76176584-55965580-61d7-11ea-9842-1c74e95fb758.gif)

[2020-03-09 04:20] #1204 closed

[2020-03-09 06:34] ice0 commented on #1171
Thanks for pointing this out!

[2020-03-09 07:01] kamal-kaur04 commented on #733
@morevnaproject I have tried to do this but I am not able to find the key that binds this whole toolbar. Can you please help me out with this?

![Screenshot from 2020-03-09 12-29-09](https://user-images.githubusercontent.com/38219887/76189836-a28f2180-6201-11ea-8931-9f22364f4d59.png)
![image](https://user-images.githubusercontent.com/38219887/76189924-cce0df00-6201-11ea-8c48-c9a5db5331ff.png)

[2020-03-09 08:09] ankit-kumar-dwivedi commented on #733
AFAIK this uistring is defined in app.cpp and only for starting elements of toolbar viz save, save all, render etc.

The only possible way I see is to define a getter for the widget(toolbar) and change it's property i.e hide/unhide accordingly.

@ice0 However this doesn't sound like how other things are being handled. So is there a better way to do this?

[2020-03-09 09:34] ice0 commented on #733
@kamal-kaur04 you can start to dig from Edit->Preferences->Show file toolbar.

When you switch it off, and restart Synfig - you will see that part of the toolbar is hidden.
Try to search thru the code by the `App::show_file_toolbar` and this must lead you here:

https://github.com/synfig/synfig/blob/9e189c35d3167a71048f9b7fe4a16d86f58871b4/synfig-studio/src/gui/canvasview.cpp#L1135-L1141

The prob

[2020-03-09 09:47] FirasH commented on #721
I just want to add that currently some settings are not clear for the users.

For example, when I want to render a frame or a sequence, I always have to check the wiki page:
https://wiki.synfig.org/Render_dialog
because there are no explanatory tooltips (Quality/Anti-Aliasing or the "Other" tab that I have no idea what can those options do)

[2020-03-09 10:58] kamal-kaur04 commented on #733
@ice0 @ankit-kumar-dwivedi when I tried the approach like menubar, was able to hide/show the icons referenced by the key(toolbar-main). But it doesn't show the required behavior for sure. Thank you for your take on the issue.
No issues in the compilation. But it takes long time(5-10 mins).

![synfig_demo](https://user-images.githubusercontent.com/38219887/76206590-50aac380-6222-11ea-9f79-7da1d5d06

[2020-03-09 11:06] rodolforg commented on #733
@kamal-kaur04 if your PC has more than 1 core, you can increase the number of jobs (threads) the build system uses. This should speed up your compilation. By default, autotools are set to 2 threads only. See `build.conf` file.

And if you're building via `2-build-debug.sh` script, and as your PR is just GUI stuff and without any file adding/removal, you could call `2-build-debug.sh studio make`.

[2020-03-09 11:12] kamal-kaur04 commented on #733
Okay. Thank you @rodolforg

[2020-03-09 14:15] morevnaproject opened #1214 "Copyright for Vectorization code"
The vectorization code uses algorithms from OpenToonz.

We need to add proper copyright lines to each `.cpp` file here - https://github.com/synfig/synfig/tree/master/synfig-studio/src/synfigapp/vectorizer

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90292176-copyright-for-vectorization-code?utm_campaign=plugin&utm_content=tracker

[2020-03-09 14:16] #1170 closed

[2020-03-09 16:23] morevnaproject commented on #529
Confirmed! Thank you so much! ^__^

https://youtu.be/ypsAn-XSn-k

Sorry, the sample file I provided is a bit incorrect - the circle already has waypoints for Origin Parameter. In this case, yes - the update happens immediately. Try to do the same for Radius parameter (it doesn't has waypoints, so the update will not happen).

[2020-03-09 16:27] morevnaproject opened #1215 "[SynfigPlayer] Add option to playback animation in realtime"
Add option to playback animation in realtime for `synfigplayer` - https://github.com/synfig/synfig/tree/master/synfig-studio/src/player

Currently `synfigplayer` just renders every frame one-by-one, without syncing. And this is good for testing rendering speed. It would be nice to have an option to play animation in realtime, though. ^__^

<bountysource-plugin>

---
Want to back this issue? **[Pos

[2020-03-10 08:39] AnishGG commented on #1150
Does this require to add a new job to the "translations" branch which will be just a simple call to `autobuild/transfex-push-template.sh`?

[2020-03-10 08:51] ice0 commented on #1150
@AnishGG Yes, I think that additional job will be better because it gives a clearer understanding of what will happen when it is launched.

[2020-03-10 08:59] AnishGG commented on #1150
Then I can take this issue!

[2020-03-10 09:08] ice0 commented on #733
Also you can run `make install -j <number_of_threads>` inside `_debug` directory.
For example if you are changed `synfig/synfig-studio/src/gui/canvasview.cpp` file, then go to
`_debug/synfig/synfig-studio/src/gui/` and run `make install -j4`. If there is no Makefile in this directory, then go up to the parent directory.

[2020-03-10 11:41] FirasH opened #1216 "Waypoint types list is not consistent across Synfig Studio"
**Synfig version & platform**:
Master: 4f6e09

**Issue description**:
In Synfig Studio there are various places where the user can choose the type of waypoint to use.

I have noticed that those lists are not always consistent.

For example in the timeline we have:
![order_timeline](https://user-images.githubusercontent.com/6705690/76308984-2ad9f900-62cc-11ea-8b7e-6c893fe4df58.png)

While editing a

[2020-03-10 15:19] morevnaproject opened #1217 "[Lottie exporter] Export outlines without variable widths"
Add an option to export outlines without variable widths.

That way we get native Lottie outlines and will make animation playback much faster.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/89879979-lottie-exporter-export-outlines-without-variable-widths?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source

[2020-03-10 15:28] morevnaproject opened #1218 "[Lottie exporter] Use "File" -> "Export for web" menu comand to call "Lottie Exporter""
Currently Lottie Exporter is implemented as a Synfig Plugin.
This puts some limitation at its functionality.

For example:
- It is not possible to set output filename
- It is not possible to set additional parameters (for example #1217)
- After calling plugin Synfig file is closed and re-opened every time. That takes time and also clears undo history.

Considering all above, I suggest to re-organi

[2020-03-10 15:28] morevnaproject commented on #1218
@AnishGG Please take a look. ^__^

[2020-03-10 15:31] morevnaproject opened #1219 "[Lottie exporter] Add support for Text Layer"

[2020-03-10 15:38] morevnaproject commented on #733
Yes, that's a different toolbar. ^__^
The code needs to look for active document and find it's UI (canvasview). Then it should call a function (you probably need to write this function), which hides a toolbar in canvasview.

[2020-03-10 16:13] kamal-kaur04 commented on #733
Thank you @ice0 @morevnaproject , I am trying to fix this. Will be able to do for sure. :)

[2020-03-10 16:16] OBKF commented on #1198
@morevnaproject Yeah, Nice. I will start as soon as I can finish some urgent work I am doing.

@mhamadharmush Great, we will help each other making this translation perfect.

[2020-03-10 16:49] morevnaproject opened #1220 "[Lottie Exporter] Create a list of layers to be supported in Lottie Exporter"
Create a list of layers not implemented in Lottie Exporter and investigate which ones are supported by Lottie and which ones are not.

[2020-03-10 16:50] morevnaproject opened #1221 "[Lottie exporter] Add support for Bones"

[2020-03-10 16:52] morevnaproject commented on #1198
Thanks everyone! ^__^

[2020-03-10 21:43] boubouh commented on #1198
Good work gays ✌️💪

[2020-03-10 23:20] saurabh-ramola commented on #958
I have fixed some of the LGTM alerts originating from the Lottie Exporter plugin source code in the PR #1199 . I will try and remove more LGTM alerts in the coming days.

[2020-03-11 03:15] AnishGG commented on #958
Sure. It is yours now!

[2020-03-11 05:12] AnishGG commented on #1218
Sure!

[2020-03-11 16:40] AYESDIE commented on #1131
As pointed on the forums, I made changes to some of the `CMakeLists.txt` files to match the structure of the directory created by `2-build-debug.sh`.

[2020-03-11 19:49] ice0 opened #1225 "[CMake] modules.cfg and *.glade files"
We need to add /etc/modules.cfg and /share/synfig/*.glade files to do synfigstudio runnable.

[2020-03-12 07:56] ice0 commented on #1225
If you try to run `./synfig` from `output/bin/ ` directory - all works fine.
But if you try to run `./synfigstudio` - it exits with error
[code]
We need to copy *.glade files from `synfig-studio/ui` directory to `$SYNFIG_BUILD_ROOT/share/synfig/ui/`

[2020-03-12 08:13] ice0 commented on #1225
After what it still cannot find the files (we need to change a path searching logic), but as a temporary solution we can set environment variable:
[code]
and `./synfigstudio`  should start with broken images.

[2020-03-12 08:17] ice0 commented on #1225
Also we need to write `modules.cfg` file generated by `synfig-core/src/modules/CMakeLists.txt` to `$SYNFIG_BUILD_ROOT/etc`

[2020-03-12 08:27] ice0 opened #1227 "[CMake] Generate localization files from *.po files"
.po files located inside `synfig-core/po` and `synfig-studio/po` folders.
We need to generate .mo files and put it to `$SYNFIG_BUILD_ROOT/share/locale/` folder.

Good explanation of localization process can be found [here](https://www.labri.fr/perso/fleury/posts/programming/a-quick-gettext-tutorial.html)

P.S. CMake has built-in functions to work with [localizations](https://cmake.org/cmake/help/v

[2020-03-12 09:29] AYESDIE commented on #1225
I worked out on it. Should I open a PR for it?

[2020-03-12 09:37] ice0 commented on #1225
Assigned to you. Just do PR when you will be ready.

[2020-03-12 09:51] #1131 closed

[2020-03-12 09:52] ice0 commented on #1131
Fixed by #1224

[2020-03-12 10:24] ice0 commented on #1132
When you try to run:
`make build_images` you will face 3 problems:
1. `synfig` binary not found.
CMake command depends on the assumption what binary can be found in your path environment. So if it is not already installed the target will fail. But we do not need it to be installed, because CMake allows to use another targets in `add_custom_command` function. Need to fix `synfig-studio/images/CMake

[2020-03-12 10:27] ice0 opened #1229 "[CMake] build_images target always rebuild images"
This behavior needs to be changed.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90821024-cmake-build_images-target-always-rebuild-images?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracke

[2020-03-12 12:40] ice0 opened #1230 "SynfigStudio can't find *.glade files inside build root"
Need to fix search logic in synfigstudio.

If no SYNFIG_ROOT is defined, assume it is parent of folder from where binary is located.

For example:
current build output is located in 'output/bin/synfigstudio', so we assume what `SYNFIG_ROOT=output/`

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/89994949-synfigstudio-can-t-find-glad

[2020-03-12 13:43] AYESDIE commented on #1230
I was brainstorming it a little bit and was checking the code as well. I think we can update `synfig-studio/src/gui/resourcehelper.cpp` to implement a new logic in case `SYNFIG_ROOT` is undefined.

[2020-03-12 14:30] ice0 commented on #1230
I agree. I think this will be good enough.

[2020-03-12 15:04] #1225 closed

[2020-03-12 16:32] FirasH opened #1231 "Setting environment dependencies on openSUSE leads to conflicting commands"
**Synfig version & platform**:
Master: c3054c4
openSUSE Leap 15.1

**Issue description**:
If you want to setup a freshly installed openSUSE machine using the provided script:
"1-setup-linux-native.sh"

The command:
"if command -v apt-get >/dev/null; then"

which includes apt-get is detected by the OS and thus the part needed to set openSUSE using zypper is not chosen:
"elif which zypper >/dev/null

[2020-03-12 17:58] FirasH commented on #1216
I can work on this.

I think we could order them using alphabetical ordering i.e.
Clamped / Constant / Ease In/Out / Linear / TCB
but this will be true for sure only for English.

Alternatively the order could follow the likelihood of using a type of interpolation, but still that depends on the animation project.

What would you suggest?

[2020-03-13 01:07] Baytars commented on #1187
@ice0 Thank you! The 2D render engine seems a bit different from 3D render engine. lol

[2020-03-13 07:20] Keyikedalube opened #1235 "Symbolic icons needed for high contrast"
![Screenshot from 2020-03-13 10-04-12](https://user-images.githubusercontent.com/24214509/76594372-f447ec80-651e-11ea-9f26-eaa392a181c8.png)
Screenshot of synfig on:
1. Adwaita
2. Adwaita dark
3. High contrast

1 and 2 looks okay but 3 ie., high contrast UI now looks ugly because synfig doesn't have [symbolic](https://wiki.gnome.org/Design/OS/SymbolicIcons) icons

[2020-03-13 11:42] Baytars commented on #1193
I have been appointed maintainer of this orphan package and updated the PKGBUILD. Anyone more capable of taking it higher taking over this package? lol

[2020-03-13 13:57] ice0 commented on #1205
Fixed in https://github.com/synfig/synfig/commit/053841be1bb8b6c75a1dd098c40948d74c22bd46

[2020-03-13 13:57] #1205 closed

[2020-03-13 14:33] AnishGG commented on #1218
@morevnaproject
For this, I will have to create a new dialog(just like https://github.com/synfig/synfig/blob/master/synfig-studio/src/gui/dialogs/canvasoptions.cpp), right?
P.S. I am new to gtkmm, will need a little bit help here.

[2020-03-13 20:16] ARYA-BHARDWAJ commented on #1183
can I work on it

[2020-03-13 21:24] saurabh-ramola commented on #934
@morevnaproject Can I take this up?

[2020-03-13 22:37] RandomGHUser opened #1242 "[Lottie Exporter] Lottie Export Fails after importing sifz file into project"
Synfig 1.3.12 (Portable) / Windows 10

Problem Recreation:
1) Create and save an sifz file with a circle in it.
2) Import sifz file into a new project.
3) Export to Lottie format

I receive these errors:

![error](https://user-images.githubusercontent.com/40616218/76664112-75fc4200-6540-11ea-8d6e-5b7978df059b.PNG)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https:

[2020-03-14 03:37] ankit-kumar-dwivedi commented on #1183
@ARYA-BHARDWAJ Sure Assigning you this one :)

[2020-03-14 04:39] AnishGG commented on #1147
Closing this now. ^__^

[2020-03-14 04:39] #1147 closed

[2020-03-14 04:41] AnishGG opened #1243 "[Lottie Exporter] Implement use-def's"
use-def is needed when you import Synfig files to another file.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90095883-lottie-exporter-implement-use-def-s?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&u

[2020-03-14 04:41] AnishGG commented on #1242
Yes, This is expected behavior. `use-def`s are yet to be implemented.
I have created an issue regarding the same.
#1243

[2020-03-14 04:42] AnishGG commented on #934
Sure!
Assigning this to you.

[2020-03-14 06:47] AnishGG commented on #1243
Where can I find all the possibilities of how `use-def` is used?
For instance, I saw all these:
[code]
@ice0

[2020-03-14 10:02] ARYA-BHARDWAJ commented on #1183
Is it a good idea to make class which have all global variables @ankit-kumar-dwivedi

[2020-03-14 11:10] ice0 commented on #1183
@ARYA-BHARDWAJ @ankit-kumar-dwivedi I propose to use singleton for this.

[2020-03-14 15:09] morevnaproject commented on #1150
Hi everyone! I am afraid that the job at its current implementation will fail. Did anyone checked if it works? ^__^

[2020-03-14 21:26] AnishGG commented on #1150
When I opened a PR to `synfig:translations` branch, the job was failing. But @ice0 suggested that it will fail because of an error in .po file.
Here is the job from that PR: https://travis-ci.com/github/synfig/synfig/jobs/296861674

[2020-03-14 21:28] ice0 commented on #1150
@morevnaproject sure, i tested it. Job works fine.

[2020-03-15 05:50] AYESDIE commented on #1132
So we plan to use `${SYNFIG_BUILD_ROOT}/bin/synfig` for the purpose of `build_images`? But we can only run that command on the assumption we have built `synfig`.

[2020-03-15 08:28] ice0 commented on #1132
Yes and no.
Yes - because this binary will be running to do the job.
No - becase you do not need to write "/path/to/bin/synfig", CMake have a better solution. Please look here: https://cmake.org/cmake/help/v3.0/command/add_custom_command.html

Yes. This is required dependency.

[2020-03-15 08:42] ice0 commented on #1243
I hink we need @morevnaproject here :)

[2020-03-15 11:30] AnishGG commented on #1243
@morevnaproject any insights here. ^__^

[2020-03-15 12:28] AYESDIE commented on #1132
@ice0

You can see the correct location after running `./2-build-debug.sh` in the `_debug` folder.

`sif_icon.png` and `synfig_icon.png` are build in `_debug/build/share/pixmaps`, so those 2 needs to be placed in `output/share/pixmaps` for CMake one too, right?

I'm almost ready with a PR for this one, except for the doubt I had.

[2020-03-15 13:43] AYESDIE commented on #1132
I don't think it needs to be there. It shows no error on logs when I run it by placing everything inside `output/share/pixmaps/synfigstudio` considering the changes made in #1230. Except for #1229, I think it's ready. I'll be making a PR.

[2020-03-15 16:04] FirasH commented on #1154
I can work on this one

[2020-03-15 17:52] ankit-kumar-dwivedi commented on #1183
Well singleton seems good but I guess we use them for making classes that act like a client(like loggers) which never change. Why not use static class instead? @ice0

[2020-03-15 18:19] ankit-kumar-dwivedi commented on #1154
Well it's been a month and due to no response, I am removing @sourabhdharpure from this one.

@FirasH please go ahead this is yours now :)

[2020-03-15 18:21] ankit-kumar-dwivedi commented on #1126
@harshagrwl any progress on this?

[2020-03-15 20:03] UltimateGamer07 commented on #1216
if its not already done, i'll work on this

[2020-03-15 20:09] FirasH commented on #1154
I have looked at the code and noticed that the function:
App::restore_default_settings()
is used basically to set the values to assign, but that does not always mean that the setting is getting applied.

In fact the Preferences dialog once "Restore Defaults" is clicked, the values are changed but it is like "Apply" is not clicked (Dialog_Setup::on_apply_pressed()) while the dialog is hidden.

I th

[2020-03-15 20:14] ARYA-BHARDWAJ commented on #1183
@ankit-kumar-dwivedi
@ice0
I guess static class is great idea and public enum is other option.  Suggest me which will be better ??

[2020-03-16 00:15] FirasH commented on #1154
I have added the missing parts required to reset all the settings.

With the commit over reported now the preferences dialog is not closed as "Restore Defaults" is clicked.

For this reason I had to apply minor changes to:
Dialog_Setup::refresh()
in order to refresh all the values.

The only problem (which was also present before) is that the Gdk::RGBA "colored" buttons, used to select the backgro

[2020-03-16 08:16] ice0 commented on #1216
@UltimateGamer07 @FirasH already done it #1245 (just waiting for review)

[2020-03-16 08:24] ice0 commented on #1154
I agree.

App::restore_default_settings()
is invoked, but only after restarting Synfig Studio.

I think they re-read the values only after a restart. So you can find the code that does this and call it when you click Apply.

[2020-03-16 08:35] ice0 commented on #1183
@ARYA-BHARDWAJ @ankit-kumar-dwivedi  can you please provide a simple example of static class?  (just to understand what do you mean).

Also, why not just put it in a namespace to reduce their visibility?

[2020-03-16 08:55] ice0 opened #1249 "[CMake] Set definitions and compile flags based on CMAKE_BUILD_TYPE"
Currently if you set CMAKE_BUILD_TYPE you must get different binaries with different splash screens, different About dialog, etc.

So we need to set some defines based on build type.
For example:
[code]

Here is a good article explaining some moments.
https://blog.kitware.com/cmake-and-the-default-build-type/

* Also need to set default build type to Debug.
* Need to add CMake message with Build t

[2020-03-16 11:49] FirasH commented on #1154
I pushed a new commit which updates correctly the buttons.
Now everything is supposed to be restored on click.

[2020-03-16 11:53] harshagrwl commented on #1126
I am reading the documentation of GTK, but no substantial progress on the issue till now.

[2020-03-16 12:08] FirasH commented on #1158
@morevnaproject if you are going to push an updated POT file to transifex I can update #1162 and remove the problematic strings so that we have some other issues solved in the meantime that the strings included in REGISTER_VALUENODE are fixed.

[2020-03-16 12:25] ice0 commented on #1150
Ok. We need to add one more step and install transifex binary. The whole process is described here:
https://docs.transifex.com/transifex-github-integrations/github-tx-client

@morevnaproject can you do a test project or something where we can push translations for testing purposes?

Also I suggest to add one more job to do translations validation.

[2020-03-16 12:30] ice0 opened #1250 "[Travis-CI] Add job to do translations validation"
I think we can run these commands to do validation:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90821022-travis-ci-add-job-to-do-translations-validation?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=

[2020-03-16 16:21] FirasH commented on #780
There isn't any recent activity... Can I work on this one?

[2020-03-16 17:48] ARYA-BHARDWAJ commented on #1183
I thought static class means class having all members static. e.g.
//Globals.h
class Globals
{
public:
   static float scalingFactor;
}

//Globals.cpp
#include "Globals.h"
float Globals::scalingFactor = 42.0;

for accessing we can use scope resolution operator
float x = Globals::scalingFactor;

[2020-03-16 17:52] ARYA-BHARDWAJ commented on #1183
@ankit-kumar-dwivedi   @ice0  I think namespace seems better to me so I will use namespace. If you have any suggestions please tell me.

[2020-03-16 18:21] #1158 closed

[2020-03-16 19:06] FirasH opened #1251 "Strings in REGISTER_VALUENODE cannot be translated"
**Synfig version & platform**:
Master 15ad054

**Issue description**:
The strings used in `REGISTER_VALUENODE` cannot be translated.
Adding `_()` does not work, see #1162

Those strings are the used in the Parameters window: right-click menu > Convert > `Node_type`

[2020-03-16 19:17] FirasH commented on #780
In the code there is already `set_static(true)` which should forbid animation by default, but still there is something missing...

https://github.com/synfig/synfig/blob/15ad054f18c37c0e36caca3c15b69d25ac51b04d/synfig-core/src/synfig/layers/layer_pastecanvas.cpp#L157-L161

[2020-03-17 03:21] saurabh-ramola commented on #934
As gradient_ramp from adobe AE is not directly supported, @AnishGG  and me discussed this offline that we will use a rectangle layer of the same size of the composition and fill it with 'gradient fill' .

[2020-03-17 11:43] morevnaproject commented on #314
@flesciamento @boubouh @ricolandia @Svarov-RZM
The updated version is available for released now - https://www.synfig.org/2020/03/17/synfig-studio-1-3-13-released/

It doesn't includes Warp Layer optimizations, but it has all other optimzations for vector artwork.

Can you please test it and let me know if issue is resolved? ^__^

[2020-03-17 11:49] morevnaproject commented on #1198
Much thanks to everyone who contributing to Arabic translations! First results of your work are already available in latest development release, Synfig Studio 1.3.13! - https://www.synfig.org/2020/03/17/synfig-studio-1-3-13-released/ ^__^

![screenshot_004](https://user-images.githubusercontent.com/332868/76853496-f6dc7600-687f-11ea-930d-9de1888ec129.png)

:tada:

[2020-03-17 12:27] morevnaproject opened #1252 "Items in Plugins menu ignore language set in preference"
**Synfig version & platform**:
1.3.13, Linux

**Issue description**:
When I set application language to English (via "Edit" -> "Preferences"), the language of items in "Plugins" menu remains in system locale (Russian in my case).

![screenshot_005](https://user-images.githubusercontent.com/332868/76856067-14f8a500-6885-11ea-9410-4cdce20a9de5.png)

How to reproduce:
1. Ensure that your system local

[2020-03-17 14:50] flesciamento commented on #314
Definitely better! I tested it with the same file and other files. Zoom in and zoom out are instantaneous like the 1.0.2 version and everything go still slow, but much smoother and faster than before. Good work!

[2020-03-17 15:13] AnishGG commented on #934
We are facing a difficulty in the gradient fill mapping of Lottie and hence I have created an issue(https://github.com/airbnb/lottie-web/issues/2055) at the lottie-web repository.
Waiting for a reply from their side. ^__^
@saurabh-ramola you can continue with some other issue till then.

[2020-03-17 16:20] #1230 closed

[2020-03-18 06:57] morevnaproject commented on #1216
I like the order done by @FirasH: Clamped, TCB, Constant, Ease, Linear

[2020-03-18 07:11] morevnaproject commented on #1231
We can improve script in the following way: it can read contents of `/etc/os-release` and use values from there. ^__^

Can you please post output of this command - `cat /etc/os-release`?

[2020-03-18 07:17] #1231 closed

[2020-03-18 07:52] ice0 commented on #780
Sure.

Maybe this changed somewhere later.

[2020-03-18 07:58] #1216 closed

[2020-03-18 07:59] morevnaproject commented on #1214
Hi @ankit-kumar-dwivedi! Can you please take care about this? We need that done before 1.4.0 release. ^_^

[2020-03-18 08:03] morevnaproject opened #1255 ""1-setup-linux-native.sh" script: Use values from "/etc/os-release" to detect OS"
As improvement to #1231:
We can use `/etc/os-release` file to detect OS properly.

Here is the contents of this file on my Linux Mint sysem:
[code]

We can import those values into `1-setup-linux-native.sh` script with this:
[code]

...and then check `ID_LIKE` variable:

[code]

@FirasH what do you think about this? ^__^

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!]

[2020-03-18 08:04] saurabh-ramola opened #1256 "Dot product convert method not working"
**Synfig version & platform**:
Synfig version : 786f25f7f3985f14005d48cb7b0956f4435092d3
Platform - Ubuntu 16.04 LTS

**Issue description**:
While trying to apply dot convert method on radius of a circle, I received the following errors : `Convert 'Layer Parameter (Circle):Radius' to ValueNode type 'Dot Product': real ` and on closing this dialog box I received the error `Action Failed.` . I have

[2020-03-18 08:34] man-of-code commented on #1252
Hey, @morevnaproject Can I work on this??

[2020-03-18 09:24] FirasH commented on #1231
This is the output of my openSUSE 15.1:
~> `cat /etc/os-release`
NAME="openSUSE Leap"
VERSION="15.1"
ID="opensuse-leap"
ID_LIKE="suse opensuse"
VERSION_ID="15.1"
PRETTY_NAME="openSUSE Leap 15.1"
ANSI_COLOR="0;32"
CPE_NAME="cpe:/o:opensuse:leap:15.1"
BUG_REPORT_URL="https://bugs.opensuse.org"
HOME_URL="https://www.opensuse.org/"

[2020-03-18 09:40] ice0 commented on #1252
@man-of-code Sure, assigning you to this.

[2020-03-18 09:41] man-of-code commented on #1252
@morevnaproject @ice0 Thank you!!
Any idea where to start ??

[2020-03-18 15:10] ankit-kumar-dwivedi commented on #1214
@morevnaproject on it!

[2020-03-18 15:58] spikestheraccon commented on #536
ver 1.3.13, windows 10. I have same issue. My cursor dissapear then i try to choose color with this button
![изображение](https://user-images.githubusercontent.com/56189267/76980162-af76e800-695a-11ea-8a68-4bfca8276416.png)

[2020-03-18 17:13] ankit-kumar-dwivedi opened #1257 "assertion 'GDK_IS_WINDOW (window)' failed"
**Synfig version & platform**:
Latest Debug build

**Issue description**:
(synfigstudio:10113): Gdk-CRITICAL **: 22:23:34.330: gdk_window_get_device_position_double: assertion 'GDK_IS_WINDOW (window)' failed

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90317819-assertion-gdk_is_window-window-failed?utm_campaign=plugin&utm_content

[2020-03-18 17:13] ankit-kumar-dwivedi commented on #1257
@ice0 any idea why this happen?

[2020-03-18 17:15] ankit-kumar-dwivedi commented on #1126
Okay. let us know if you are stuck

[2020-03-18 17:29] rodolforg commented on #1126
Maybe you can use `gtk_dialog_add_action_widget()`.

[2020-03-18 17:35] rodolforg commented on #780
Following ice0's tip, @FirasH  Try to search in code
`git grep children_lock -- ':(exclude)*.sif'`

[2020-03-18 17:56] FirasH commented on #780
@rodolforg, I already tried that and probably the issue is deep somewhere (or I have it in front of me but I cannot see it)....

For this reason I made a test build where I added `.set_static(true)` to other parameters `ParamDesc` always in `layer_pastecanvas.cpp`, more specifically:
- `"origin"`
- `"time_dilation"`
- `"time_offset"`
- `"outline_grow"`

and to all of them the setting is applied co

[2020-03-18 17:59] FirasH commented on #1255
@morevnaproject I like it!

[2020-03-18 18:03] FirasH commented on #1255
This is the output of my openSUSE 15.1:
~> `cat /etc/os-release`
NAME="openSUSE Leap"
VERSION="15.1"
ID="opensuse-leap"
ID_LIKE="suse opensuse"
VERSION_ID="15.1"
PRETTY_NAME="openSUSE Leap 15.1"
ANSI_COLOR="0;32"
CPE_NAME="cpe:/o:opensuse:leap:15.1"
BUG_REPORT_URL="https://bugs.opensuse.org"
HOME_URL="https://www.opensuse.org/"

[2020-03-18 18:40] rodolforg commented on #780
Maybe `LayerParamTreeStore` or its parent class `CanvasTreeStore` handles it, as they're the data for parameter list tree view.

[2020-03-18 20:07] FirasH commented on #780
@rodolforg, I think the issue is found into `LayerEncapsulate`.

In fact if you create a group without any object (so that we avoid encapsulation/creation of a group) selecting `Layer > New Layer > Other > Group` it does correctly set `children_lock` to static.

[2020-03-18 20:15] rodolforg commented on #780
In this case, you could check layer dock and its toolbar actions in order
to figure it out if the "group " button callback is the guilty one

[2020-03-19 00:09] FirasH commented on #780
Basically what happens is that `LayerEncapsulate` (which is different from `Layer_PasteCanvas`) does not set the parameter `"children_lock"` to be static.

In the following code there is our issue:
https://github.com/synfig/synfig/blob/77164e8371269afb0490287f200f6c35fe067e88/synfig-studio/src/synfigapp/actions/layerencapsulate.cpp#L169

the newly created layer get its parameter for `"children_loc

[2020-03-19 00:32] rodolforg commented on #780
Take a look in layer_encapsule in synfig core then. :)

[2020-03-19 07:29] ice0 commented on #1255
@morevnaproject I agree, but not all OS support `os-release` file. Just checked CentOS 6 (yep, it still supported) and they have no `os-release` file.

So I suggest to leave the script as is, especially since it works well.

[2020-03-19 07:34] ice0 commented on #1257
@ankit-kumar-dwivedi Can you describe steps to reproduce it?

A call stack will also be useful.

[2020-03-19 10:56] FirasH commented on #780
@rodolforg created a merge request which contains the fix. What do you think about it?

[2020-03-19 13:46] #1132 closed

[2020-03-19 14:14] spikestheraccon commented on #1090
Manjaro 19, can't build  synfigstudio-git (ver r8165.bd7d8b2cc-4) with any choice
![Screenshot_19_03_2020_191215](https://user-images.githubusercontent.com/56189267/77076448-abf46700-6a15-11ea-8c2f-089d1bd57531.png)

[2020-03-19 14:38] morevnaproject commented on #1255
@ice0 I suggest to modify script to use `/etc/os-release` files and add fallback to old method in case if this file is missing. We can do something like this:

[code]

[2020-03-19 15:11] ice0 commented on #1255
@morevnaproject I like this approach

[2020-03-19 15:14] morevnaproject commented on #1145
I have made experiment - edited canvas properties and added 5 frames at the start and 5 frames at the end. This makes timetrack to be drawn like this:
![screenshot_004](https://user-images.githubusercontent.com/332868/77082583-dbfc3400-6a2e-11ea-9b5c-72b84fc72b57.png)

So, here is an idea to alternative solution: maybe just pass different frame range to Timetrack (and other Panels)? I.e. add 5 fra

[2020-03-19 16:13] FirasH commented on #319
Cannot reproduce with my build of 1.5.0 4f6e09 on openSUSE 15.1

[2020-03-19 16:27] FirasH commented on #376
Cannot reproduce with 1.5.0 4f6e09 on openSUSE 15.1

[2020-03-19 16:31] ice0 commented on #1090
@spikestheraccon if I understand correctly, you can't install from AUR if you have unresolved dependencies which is also in AUR. So you need to install it step-by-step: `etl-git`, `synfig-git`, `synfigstudio-git`.

Also I checked build files and made necessary fixes. So here my files which builds fine:
etl-git:
[code]

synfig-git:
[code]

synfigstudio-git:
[code]

[2020-03-19 18:15] Svarov-RZM commented on #314
@morevnaproject
OK, it took me a while to understand why half of my projects appeared messed up in some weird way and I finally got it - there's a pretty big bug in the latest builds:

* Spline vertex converter calculated inverted. Value 0.25 would appear like 0.75 in Synfig 1.0.2
* Same stuff with width points on Advanced outlines
* Tangents on Advanced outline are also inverted

This causes comp

[2020-03-19 18:49] ankit-kumar-dwivedi commented on #1214
[code]
@morevnaproject looks good?

[2020-03-19 18:59] ankit-kumar-dwivedi commented on #1257
@ice0 this shows up after right-clicking to any layer see gif
![test](https://user-images.githubusercontent.com/37617951/77104244-b9274b00-6a41-11ea-934a-55683ff7cd20.gif)

[code]

[2020-03-20 02:20] Keyikedalube commented on #1145
I don't understand...

and I see -5 but your time slider screenshot shows timeline cursor still at 0

While on mine start time -5f gives this output
![Screenshot from 2020-03-20 07-38-05](https://user-images.githubusercontent.com/24214509/77130474-1f31c380-6a7e-11ea-8e4f-df58fb9692c3.png)

And adding 5f at the start actually pushes the timeline cursor to 5f
![Screenshot from 2020-03-20 07-48-04](h

[2020-03-20 02:36] rodolforg commented on #1256
It was actually never working! :o

[2020-03-20 03:24] Keyikedalube commented on #1145
Yes that works too

but...

Initially, when I first figured how to push the starting keyframe 16px forward, I had no idea how to add extra space at the end keyframe.
At one time I did try using time manipulation without actually changing the end time recorded on the canvas properties dialog.
Then I realized adding extra 1s is too much

That's when I used frames... :)
Here are the problems with fra

[2020-03-20 03:38] rodolforg commented on #1145
I think all padding should be exclusively done in TimePlotData class.
Maybe only current TimeTrack will need to be adapted, because it is a
TreeView.

My PR for the new TimeTrack, however, uses TimePlotData too and it would
work fine.

[2020-03-20 05:05] #1256 closed

[2020-03-20 05:09] ice0 commented on #1256
@saurabh-ramola Fix #1260 merged into master. Please check.

[2020-03-20 09:17] FirasH commented on #1063
The same happens on Windows 10 when I add to the lower toolbar as favourite:
![added_to_toolbar](https://user-images.githubusercontent.com/6705690/77150153-87d76b00-6a93-11ea-8cb1-5a0afe845f1d.png)

when it's not added as favourite, the icon is visible:
![not_added_to_toolbar](https://user-images.githubusercontent.com/6705690/77150316-ec92c580-6a93-11ea-871f-fd12a77f56a4.png)

[2020-03-20 10:44] morevnaproject commented on #1145
@Keyikedalube Thank you for clarification. Yes, the solution with adding frames looks hackish. Besides the issues you explained, there will be different padding depending on zoom of timeline.

As @rodolforg says, the situation can be completely different after new TimeTrack panel will be merged. I suggest to wait for the merge and make a second attempt.

Yes, linked PR is ok to close, but please k

[2020-03-20 10:47] morevnaproject commented on #1214
@ankit-kumar-dwivedi Can you please create a list of all files from OpenToonz repo that responsible for vectorization?

I have noticed some files in OT repo has mention of authors, like this one - https://github.com/opentoonz/opentoonz/blob/master/toonz/sources/toonz/ObjectTracker.cpp
We need to reference them too.

[2020-03-20 11:17] morevnaproject commented on #314
@Svarov-RZM Owww, that's serious! I can reproduce the issue. Thanks for taking your time on digging into issue and providing an example!

I also tested versions 1.2.2 and 1.3.11 - they both give same result as 1.0.2.

@ice0 I consider this as blocker to 1.4.0 stable release.

@blackwarthog any ideas how to fix this?

[2020-03-20 11:49] morevnaproject commented on #314
Interesting: same light-blue curve (advanced outline) is rendered correctly if it is not connected to shape. I have created an example by copy-pasting it to separate file (in Synfig 1.0.2) - https://gitlab.com/synfig/synfig-tests/-/raw/master/rendering/sources/layers/advanced-outline/advanced-outline-002.sif?inline=false

[2020-03-20 11:53] Keyikedalube commented on #1145
True

I'll keep the branch so someone who wants to attempt this issue can reference how the first solution was approached

**First PR:** #1200

Sad news though I might not be able to continue with this issue
I have other priorities on my shoulder

I wish the best of luck to whoever picks this issue && thanks in advance for the fix too! :1st_place_medal:

[2020-03-20 13:26] rodolforg opened #1261 "Vector animation wobbles during zoom animation"
As reported in https://forums.synfig.org/t/vector-animation-wobbles-during-zoom-animation/10755 , zooming in make horizontal lines wobble:

![wobble](https://user-images.githubusercontent.com/1323987/77167515-f537cb80-6a94-11ea-9339-15f7d4bd675a.gif)
(test image provided by forum user Estard).

I sketched a [sifz file](https://forums.synfig.org/uploads/short-url/vUj7N7gnsrf3371iytuHQgg92yE.sifz) a

[2020-03-20 13:31] rodolforg commented on #536
Not reproducible in Debian Testing with gtkmm 3.24.2 .

[2020-03-20 14:39] ice0 commented on #1257
@ankit-kumar-dwivedi Can you please check https://github.com/synfig/synfig/pull/1262?

[2020-03-20 16:05] FirasH commented on #1255
Can I try to implement it?

[2020-03-20 17:06] FirasH commented on #1255
I had a bit of time so I made a first draft of it.

[2020-03-20 19:31] ice0 opened #1264 "Synfig not quitting on MacOS"
**Synfig version & platform**:
1.3.13
MacOS Catalina

**Issue description**:
https://forums.synfig.org/t/synfig-not-quitting/10746/2

[2020-03-21 08:17] AnishGG commented on #1218
I was trying to go through the code and implement this. I will need some clarifications. :P
Here is the branch I am committing the code to https://github.com/AnishGG/synfig/tree/export_for_web_ui
For now, I have just copied the `canvas_options` for most of the parts.
I am trying to call the `lottie exporter` plugin from within the `dialog_exportforweb.cpp`, but I am failing to do so here: https://

[2020-03-21 08:38] saurabh-ramola commented on #1256
@ice0 , It's working now.
@rodolforg , Thank you for the fix ^_^

[2020-03-21 09:31] FirasH commented on #1154
The theme was not updated, now it does with the last commit.
At this point I think the merge request is ready.

[2020-03-21 10:22] FirasH opened #1265 "DashItem Offset and Length variables are not consistent when editing them"
**Issue description**:

0. Create a new document
1. Create an Advanced Outline: `Toolbox > Spline Tool > enable "Advanced Layer"`
2. Select it and in the `Parameters` Window open the sub-menu `Dash Item List > Dash Item 001`

Here you can see the list of parameters. If you select either `Offset` or `Length` the value is displayed without unit (by default 0.100000):
![view](https://user-images.gith

[2020-03-21 11:16] FirasH commented on #1265
0,100000 should be a relative size to length of the spline.

[2020-03-21 11:28] #790 closed

[2020-03-21 11:36] morevnaproject opened #1266 "[Timetrack] Different look for semi-transparent waypoints"
From https://github.com/synfig/synfig/pull/1135#issuecomment-594702477:

Semi-transparent representation of waypoints makes users think that they are "inactive" (cannot be moved).

![screenshot_005](https://user-images.githubusercontent.com/332868/75907814-91e65080-5e7b-11ea-9a14-2add02ee29fb.png)

Can we think about some different representation? Maybe remove transparency and have a double outlin

[2020-03-21 11:42] morevnaproject opened #1267 "[Timetrack] Buttons to change interpolation for selected waypoints"
It would be nice to add buttons, which allow to change interpolation for selected waypoints:
![zzzz](https://user-images.githubusercontent.com/332868/77225647-6796d180-6ba3-11ea-8d7e-c2ced6724a68.png)

5 buttons, each button has icon of corresponding interpolation type.

Clicking on button changes interpolation on selected waypoints.

Note: Those buttons act differently than move/duplicate/scale b

[2020-03-21 13:25] spikestheraccon commented on #1090
It doesn't work. I tried build synfig-git after etl-git with your build files. It gives same errors.

[2020-03-21 14:47] morevnaproject commented on #1150
Oh, I found that Transifex now capable to work with GitHub directly, without CI -
https://docs.transifex.com/transifex-github-integrations/github-tx-ui

This seems to be easier than configuring tx-client. ^__^"

That's great idea! @AnishGG can you do that? ^__^

[2020-03-21 17:11] rodolforg commented on #1266
Code points:
1. It should change `waypointrenderer.cpp` to accept another argument, besides `selected` and `hover`.
2. It must add drawing code for each interpolation type (TCB, linear, clamped, etc) and half (before/after) if this new argument is set.
3. Fix the calling code that pushes and pops cairo state for painting with some transparency: e.g.
https://github.com/synfig/synfig/blob/6591875e83

[2020-03-21 17:12] rodolforg commented on #1267
If those buttons needs more space, should we use a popup/popover menu/bar?

[2020-03-22 03:57] AnishGG commented on #1150
Yup, I will make a P.R. regarding this soon.

[2020-03-22 07:18] TseChapman commented on #943
@ankit-kumar-dwivedi Hi, this is my first time wanting to contribute to Synfig. I look over the signal_layer_new_description() in canvasinterface.h. I think is it possible to include canvasinterface.h in wiget_filename.cpp file and called signal_layer_new_description() after  signal_value_changed()() in function void Widget_Filename::on_value_changed() ?

[2020-03-22 17:27] #1154 closed

[2020-03-22 17:37] ice0 commented on #536
@rodolforg I think this is Windows only problem.

[2020-03-22 17:39] rodolforg commented on #536
Maybe a missing cursor image?

[2020-03-23 01:52] rodolforg commented on #314
I did a git bisect and found out the problem is this commit:
a90d014c56f0cbee21c2ab0ef68936b9e84c49b1

[2020-03-23 07:59] ice0 commented on #1090
@spikestheraccon just reset my build files and did check with attached changes. All builds fine.

Did you remove `etl-git`, `synfig-git`, `synfigstudio-git` before installing?
Can you make a video with the whole process?

[2020-03-23 08:07] ice0 commented on #1264
Just checked and File-> Quit works just fine. But right-clicking on the Synfig icon and selecting "Quit" from the menu does not exit it. I suggest you used the second approach?

[2020-03-23 08:12] ice0 opened #1269 "Synfig AppImage 1.3.13 doesn't render from command-line"
**Synfig version & platform**:
1.3.13 AppImage

**Issue description**:
[code]
https://forums.synfig.org/t/error-commandline-render/10767

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90529773-synfig-appimage-1-3-13-doesn-t-render-from-command-line?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=github

[2020-03-23 08:23] ice0 commented on #536
@rodolforg I also thought about it. Can you check which one this can be? Maybe some Windows-related logic involved?

[2020-03-23 08:27] ice0 commented on #319
Ok.Then I close this issue.

[2020-03-23 08:27] #319 closed

[2020-03-23 08:53] ice0 commented on #1218
@AnishGG this is because you need to get an instance of the active `CanvasView`, and not just run the method from the `Instance` class. So in your example, it will be something like:
[code]

[2020-03-23 09:44] #1255 closed

[2020-03-23 11:34] #780 closed

[2020-03-23 12:25] morevnaproject commented on #314
Thank you @rodolforg, this helps a lot!

In relation to that... can you please find which commit is triggering #1014? (I suspect this could be 573f832f5c0c2c9 or later)

[2020-03-23 12:27] FirasH commented on #1265
I also found this code:
https://github.com/synfig/synfig/blob/b57b2809af3e52f16bc5d67b351e79fd04d9b222/synfig-core/src/modules/lyr_std/sphere_distort.cpp#L158-L162

where `.set_is_distance(false)` is used.

But if I'm not wrong the variable `bool is_distance_` is set to `false` by default:
https://github.com/synfig/synfig/blob/b57b2809af3e52f16bc5d67b351e79fd04d9b222/synfig-core/src/synfig/paramde

[2020-03-23 12:32] FirasH opened #1271 "Creating a "Shade" Layer in an empty animation crashes Synfig Studio"
**Synfig version & platform**:
Master b57b280

**Issue description**:
1) Start Synfig Studio, a new empty animation will be created
2) Go to: `Layer > New Layer > Stylize > Shade`

Synfig crashes consistently.

[2020-03-23 14:22] ice0 commented on #1271
@morevnaproject Should it be available if there are no layers?

[2020-03-23 14:28] spikestheraccon commented on #1090
@ice0 OK,
https://drive.google.com/open?id=1B6C8cPsE5yMGAqAD8_xIHaCYHyj90HM6

I am Russian. Video in Russian too

[2020-03-23 14:40] rodolforg commented on #314
Do you know the last working version and a synfig testing file? It helps a lot. :)

[2020-03-23 15:01] rodolforg commented on #1271
@ice0 even if there is some layers, Synfig crashes if you disable those later.

[2020-03-23 15:03] ice0 commented on #1271
@rodolforg Thanks for pointing this out.

[2020-03-23 16:16] FirasH commented on #1265
The same issue is also happening for `Dash Items Offset`. It should be a relative value to the length of the advanced outline.

[2020-03-23 16:16] ice0 commented on #1090
@spikestheraccon ok, no problem.
I am checked `yay` and I don't know why, but it always replaces `PKGBUILD` even if I edit it myself.

I used standard Package Manager GUI from Manjaro, and all works fine. Can you use it?

[2020-03-23 17:09] morevnaproject commented on #1267
Good idea!

[2020-03-23 17:13] ankit-kumar-dwivedi commented on #1257
@ice0 yes it's fixed now!

[2020-03-23 18:10] AnishGG opened #1274 "Not able to add color stops in linear gradient layer"
**Synfig version & platform**:
Synfig version: master branch - https://github.com/synfig/synfig/commit/3f3c7979181ee74282deb5d6deaa60e7959e254a
Platform: Ubuntu 18.04.4 LTS

**Issue description**:

In the gradient editor(for gradient layer), I am not able to add a `color stop` using two finger touch on the touchpad(right click on the mouse works). In general two finger touch is bind to right click

[2020-03-23 18:52] rodolforg commented on #1274
AFAIK, it shows up a popup menu that pops down as soon as you release right mouse-button :/

[2020-03-23 19:11] AnishGG commented on #1274
Alright, So will this count as non Synfig issue. I mean, all that Synfig registers is release of right mouse-button and then shows up a popup menu?

Here I am attaching an image showing the area where the 2 finger touch works:

![90752374_2949474555121838_273271275642683392_n](https://user-images.githubusercontent.com/30872212/77353968-f6544b80-6d67-11ea-9290-be97814cf743.jpg)

[2020-03-23 20:08] #1271 closed

[2020-03-24 08:00] ankit-kumar-dwivedi commented on #943
@TseChapman sorry for the delayed response. Yes, this sounds good please go ahead. Let us know if you are stuck again with your code pushed on your branch

[2020-03-24 08:01] ankit-kumar-dwivedi commented on #733
@kamal-kaur04 any progress on this? Let us know if you are stuck.

[2020-03-24 08:02] ankit-kumar-dwivedi commented on #1126
@harshagrwl any progress?

[2020-03-24 08:03] ankit-kumar-dwivedi commented on #1184
@morevnaproject can you approve linked PR? thanks

[2020-03-24 08:05] ankit-kumar-dwivedi commented on #1191
@morevnaproject please approve the related PR as well

[2020-03-24 09:07] Aa20475 opened #1278 "Error when building Synfig for windows"
**Platform**:
Windows 10

**Issue description**:
This is my output when I'm trying to build Synfig.

[https://gist.github.com/Aa20475/0562bfed92870d82eac29c2bc4fa950c](url)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90613587-error-when-building-synfig-for-windows?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issue

[2020-03-24 09:36] ice0 commented on #1090
@spikestheraccon Maybe I am wrong, but as you can see at 2:23 `yay` installs `r8212` from AUR, but it must be `r9839` as described in PKGBUILD.
[code]

[2020-03-24 11:36] #1274 closed

[2020-03-24 11:51] ice0 commented on #1278
[code]

Please show the code from `/d/synfig/synfig-core/configure` at this lines.

[2020-03-24 13:46] #1257 closed

[2020-03-24 13:57] Aa20475 commented on #1278
Here is a snap of the code.
![Capture](https://user-images.githubusercontent.com/35968657/77433552-84324400-6e05-11ea-8c01-1fe7a8108d47.PNG)

[2020-03-24 14:27] spikestheraccon commented on #1090
@ice0 If you mean Octopi, it does same thing.
![Screenshot_24_03_2020_192204](https://user-images.githubusercontent.com/56189267/77436226-0c641980-6e05-11ea-9d72-301b4e502824.png)

And aur version is r8165.bd7d8b2cc-4
![Screenshot_24_03_2020_192616](https://user-images.githubusercontent.com/56189267/77436505-649b1b80-6e05-11ea-8e86-44918626b900.png)

[2020-03-24 15:03] rodolforg commented on #343
@morevnaproject  ping :)

[2020-03-24 15:25] ice0 commented on #1090
I mean `pamac-manager`

`r8212` is for [synfig-git](https://aur.archlinux.org/packages/synfig-git/). They all have different versions in AUR, but `synfig-git` must be installed before `synfigstudio-git`.

Also I found workaround using `yay`:

[code]

[2020-03-24 15:36] ice0 commented on #1278
@Aa20475 This is very strange. In my `configure` where is no `else` branch and all works fine.
Can you describe your system? Which MSYS2 version you are using?

[2020-03-24 17:00] Aa20475 commented on #1278
My Pacman version is 5.1.3 on Windows 10 version 1903 build 18362.720

[2020-03-24 17:18] rodolforg commented on #1278
Are using MSYS2 MinGW64 ? or MSYS2 MSYS?

[2020-03-24 17:52] rodolforg commented on #536
https://github.com/GNOME/gtk/blob/aabdff2f3ef228344b983521ec68d2d0b2b89b02/gtk/deprecated/gtkcolorsel.c#L1707-L1708

So, it searches for color-picker cursor, but Adwaita icon theme doesn't have it.
Maybe we should update the deprecated GtkColorSelection to current GtkColorChooser editor widget.
In other words, we change this:
![Captura de tela de 2020-03-24 14-50-52](https://user-images.githubuser

[2020-03-24 23:08] ebarranco commented on #344
Thank you @rodolforg !

[2020-03-24 23:47] ebarranco opened #1281 "Spline Tool doesn't close outlines correctly"
**Synfig version & platform**:
Master
Linux
**Issue description**:

Spline Tool doesn't close outlines correctly:

1. Select the Spline Tool.
2. Create a shape without dragging .
3. Try to close the shape.
4. The shape doesn't close.

[Video of this behavior](https://youtu.be/3xgiixT5XrI)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/iss

[2020-03-25 00:05] rodolforg commented on #1281
I noticed it: it happens due to `tangent` (yellow) handle overlaps [first-vertex](url) (green) handle…
If you hide `tangents`, it works fine.

Any suggestions?

[2020-03-25 00:25] ebarranco commented on #1281
Drawing tangents first vertices last. I think that is already the case tought or deactivate tangents when we select the tool But I don't think that is the best way neither..

[2020-03-25 00:37] ebarranco opened #1282 "Delete vertices makes Synfig crash"
**Synfig version & platform**:
Master
Linux

**Issue description**:

Deleting vertices make Synfig crash:
1. Use Spline Tool.
2. Close a shape.
3. Delete vertices one at the time.
4. Crash.

[Video of this behavior](https://youtu.be/mKKb0zNWhnw)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90674512-delete-vertices-makes-synfig-cr

[2020-03-25 02:11] rodolforg commented on #1282
I believe it would be fixed by https://github.com/synfig/synfig/pull/1188 .

[2020-03-25 02:14] rodolforg commented on #315
@morevnaproject @libreartist @ebarranco @zozorg Do you have any idea of how it would be?
I can try to work on it if somebody explains how it's supposed to be (use cases, etc).

[2020-03-25 03:38] ebarranco commented on #1282
thanks, I'll be pending to test it.

[2020-03-25 08:19] morevnaproject commented on #314
@rodolforg I will try to make some! ^__^

I have talked with @blackwarthog and he pointed out that the problem comes because of differences how point positions calculated in old and new implementation of outline.

The difference takes place in looped case only.

First, let's look how it works for unlooped outline.
Here everything is simple - 1st vertex is corresponding to position "0". And last ve

[2020-03-25 08:23] morevnaproject commented on #314
@blackwarthog said that he will not be able to work on this issue in nearest time.

And since this issue is blocking next stable release, I have two options:

1. Wait for someone to solve it (and that means delay stable release for undefined time).
2. Rollback ALL modifications related to refactoring of outline in 1.3.x branch and release without new code for outline. The code will remain in maser

[2020-03-25 08:25] #344 closed

[2020-03-25 08:30] morevnaproject commented on #340
@rodolforg I have examined PR and it looks like you just removing the blur. On the other hand, the intention of this request was also to "extend" the area of layer below. Looking at the code I do not see this.

P.S. I haven't tested the PR, just briefly looked at the code. ^__^"

[2020-03-25 09:32] morevnaproject commented on #314
@rodolforg I accidentally found guilty commit. ^__^ It is confirmed to be 573f832

Test file -
[outline-test.sif.zip](https://github.com/synfig/synfig/files/4380017/outline-test.sif.zip)

In previous commit it looks like this -
![screenshot_007](https://user-images.githubusercontent.com/332868/77521950-0c702200-6eb6-11ea-95be-93871759485c.png)

If you compile with 573f832, then (besides other arti

[2020-03-25 09:37] morevnaproject commented on #314
I found even simpler test to demonstrate the problem reported by @Svarov-RZM:

[outline-test-2.sif.zip](https://github.com/synfig/synfig/files/4380047/outline-test-2.sif.zip)

In Synfig 1.0.2:
![screenshot_008](https://user-images.githubusercontent.com/332868/77522396-c798bb00-6eb6-11ea-98b2-af15d601015a.png)

In Synfig master:
![screenshot_009](https://user-images.githubusercontent.com/332868/775

[2020-03-25 09:55] morevnaproject commented on #314
Wait... it seems I found solution... What if we change order of vertices
for all looped outlines when file is loaded?

пн, 23 марта 2020 г. в 21:40, rodolforg <notifications@github.com>:

http://morevnaproject.org/

[2020-03-25 10:20] Aa20475 commented on #1278
MinGW64 @rodolforg

[2020-03-25 12:32] rodolforg commented on #340
Oh. So I misunderstood the request. Sorry

[2020-03-25 12:43] morevnaproject opened #1284 "Incorrect position of width points on outline when opened old files in 1.3.13"
**Synfig version & platform**:
Synfig 1.3.12, 1.3.13

**Issue description**:

[outline-test-2.sif.zip](https://github.com/synfig/synfig/files/4380047/outline-test-2.sif.zip)

In Synfig 1.0.2 / 1.2.2 / 1.3.11:
![screenshot_008](https://user-images.githubusercontent.com/332868/77522396-c798bb00-6eb6-11ea-98b2-af15d601015a.png)

In Synfig 1.3.12, 1.3.13:
![screenshot_009](https://user-images.githubus

[2020-03-25 13:44] morevnaproject commented on #1284
Good news:
- Synfig 1.3.11 uses canvas version 1.0
- Synfig 1.3.12 uses canvas version 1.1

https://github.com/synfig/synfig/blob/1db7f4d4952355dd844a6e0fb4924ecda2f3df3c/synfig-core/src/synfig/canvas.h#L117-L131

[2020-03-25 15:03] rodolforg commented on #1282
@morevnaproject @ice0 this issue is really easy to trigger and can be workaround'ed by that PR.
It's not the best solution, but it avoids this problem.

[2020-03-25 17:15] ice0 commented on #1282
@rodolforg ok, I will merge it tomorrow.

[2020-03-25 18:43] spikestheraccon commented on #1090
@ice0

It works! Thanks!

[2020-03-26 08:41] ice0 opened #1287 "Fix extra calls of signal_selection_changed and a lot of repaints of GUI."
The problem and description is here: https://github.com/synfig/synfig/pull/1188

I currently merge the following PR (just to avoid errors), but the problem need to be fixed.

[2020-03-26 08:49] ice0 commented on #1278
I am using 5.2.1. Can you upgrade and try a clean build again?

[2020-03-26 08:54] ice0 commented on #1282
Ok, I merged it. @ebarranco can you check it please?

[2020-03-26 09:15] morevnaproject opened #1288 "Regression in outline rendering (overlapped vertices)"
**Synfig version & platform**:
1.3.13

**Issue description**:
Test file -
[outline-looped-double-vertex.sif.zip](https://github.com/synfig/synfig/files/4386166/outline-looped-double-vertex.sif.zip)

Result in Synfig 1.0.2:
![screenshot_005](https://user-images.githubusercontent.com/332868/77629911-d5b10f00-6f7c-11ea-817c-821732a8f944.png)

Result in Synfig 1.3.11 (notice small gap):
![screenshot_0

[2020-03-26 12:42] FirasH commented on #1102
Fixed in `master` f806eb

[2020-03-26 12:46] #1102 closed

[2020-03-26 15:28] morevnaproject commented on #1288
P.S. Notice that there are 2 overlapping vertices in that problematic place. This is why artifact happens.

[2020-03-26 19:45] ebarranco commented on #1281
@rodolforg Maybe a shortcut for the `Loop Spline` function that closes outlines and shapes. Something like C, alt+C, only press Ctrl, something fast that way you won't have to go to your first vertex every time. Or an `Automatic Loop Spline` when you move your last vertex over the first one. Maybe both.

[2020-03-26 19:55] ebarranco commented on #1282
@rodolforg @ice0 It seems is working fine now, thank you.

[2020-03-27 17:02] FirasH opened #1291 "Dragging wayponts while animation is reproduced leads to not updated waypoints"
**Synfig version & platform**:
Master: f806eb

**Issue description**:
The following procedure is just an example, the issue is reproduced regardless of the object to which the waypoint is related.

1) Launch Synfig Studio and start a new animation
2) Draw a `Circle` on Canvas
3) `Turn on animate editing mode` and keep locks on keyframes enabled
4) Place the current time cursor at 50f
5) Drag the `

[2020-03-28 08:26] morevnaproject commented on #1284
@rodolforg Thank you for the fix! ^__^

[2020-03-28 08:31] morevnaproject commented on #1284
I have noticed this condition in code:
[code]
which makes the fix applied to Advanced outlines only.

I think we should apply this fix to ALL blines - including Regular Outlines, Regions, even if they are not belong to layer (exported).
This will fix issue demonstrated in https://github.com/synfig/synfig/issues/314#issuecomment-601336943

We need to apply fix to all blines, because any bline can r

[2020-03-28 08:36] morevnaproject commented on #1284
P.S. Of course, I was talking about all _looped_ blines. For unlooped we
shouldn’t change anything. ^__^
--
http://morevnaproject.org/

[2020-03-28 15:32] morevnaproject commented on #861
This is solved in b04c5d978605093.

[2020-03-28 15:32] #861 closed

[2020-03-28 15:42] morevnaproject commented on #1284
Fixed with a714f50d64b97f58eed8b01.

P.S. Apologies, I accidentally committed directly to master branch, instead of creating PR. Will be more careful next time. ^__^"

[2020-03-28 15:42] #1284 closed

[2020-03-28 15:57] rodolforg commented on #1284
@morevnaproject  So, I should use canvas version 1.0 to detect the conversion need.
Is Version >= 1.1 fine?
Is there any version previous to 1.0?

[2020-03-28 16:03] rodolforg opened #1297 "Update contributors list in About dialog"
**Issue description**:

Current development version doesn't show all code contributors to project :)

The list can be get from `git shortlog --summary --numbered --email`, but attention please: some of us appears twice (or more) due to user name/email changes…

Maybe run a shell script before release version to update an Authors file to be embed in About dialog? Otherwise it would be outdated just

[2020-03-28 16:05] #1282 closed

[2020-03-28 16:16] rodolforg commented on #1284
@morevnaproject  this solution of yours doesn't check for any version. Am I right?

I propose this fix:
[code]

[2020-03-28 16:25] morevnaproject commented on #314
@Svarov-RZM The issue you described in https://github.com/synfig/synfig/issues/314#issuecomment-601336943 is fixed now. The fix will be shipped in version 1.3.14. Thank you for reporting the issue!

[2020-03-28 17:53] rodolforg opened #1298 "Job "Test render engine for regressions" is crashing"
As can be seen in different runnings ( like https://travis-ci.com/github/synfig/synfig/jobs/302509653 and https://travis-ci.com/github/synfig/synfig/jobs/305845255 ), it keeps crashing while rendering a specific file: macwolfen.sif

[code]

[2020-03-28 18:04] ankit-kumar-dwivedi commented on #1214
@morevnaproject the following files are used for vectorization feature

- [ opentoonz/toonz/sources/include/toonz/tcenterlinevectorizer.h ](https://github.com/opentoonz/opentoonz/blob/master/toonz/sources/include/toonz/tcenterlinevectorizer.h)
- [ opentoonz/toonz/sources/toonzlib/tcenterlinevectorizer.cpp ](https://github.com/opentoonz/opentoonz/blob/master/toonz/sources/toonzlib/tcenterlinevector

[2020-03-28 20:11] FirasH commented on #1265
Even for exported values something similar happens:

0. Create a new document
1. Select the Spline Tool and create an Outline Layer
2. Go to the `Parameter Panel` and right-click on `Outline Width > Export Value` (default value 1.000000pt)

In the `Library Panel` the value is now stored and not consistent (0.016667).
In this case I'm not sure if this behavior can be considered an issue...

[2020-03-29 04:46] rodolforg commented on #385
It is fixed now…

[2020-03-29 04:49] rodolforg commented on #416
@zozorg  can you provide any sample file?

[2020-03-29 09:51] Svarov-RZM commented on #314
@morevnaproject @rodolforg  Thanks guys! I'll be sure to check it when Windows build is available and report back.

[2020-03-29 16:08] ice0 commented on #385
Ok, then i will close it :)

[2020-03-29 16:08] #385 closed

[2020-03-29 16:11] ice0 commented on #248
I close it, since it has already been fixed.

[2020-03-29 16:11] #248 closed

[2020-03-29 17:17] morevnaproject commented on #1214
You right. But I noticed GitHub shows contributors for each file -
![screenshot_002](https://user-images.githubusercontent.com/332868/77855350-124d6680-721a-11ea-89f9-132380782967.png)

We have to reference them.

Also, there is a note at the bottom of [Readme.md](https://github.com/opentoonz/opentoonz/blob/master/README.md#special-thanks):

..and in [LICENSE.txt](https://github.com/opentoonz/open

[2020-03-29 17:22] morevnaproject commented on #1214
There are also interesting note - https://opensource.stackexchange.com/a/305

Quoting here:

[2020-03-29 17:28] rodolforg commented on #1265
Yes, it is.

[2020-03-29 17:34] rodolforg commented on #1265
Default value is 1.0*px*. It is equals to (strange internal unit) 0.016667.
It is not a bug, but yes, it is annoying :P

[2020-03-29 17:50] morevnaproject commented on #1214
@ankit-kumar-dwivedi  So, in my opinion what we should do to comply with BSD license:

1. Create a list of all people who contributed to files you listed above. List in the following form:

i.e.:

Note, that you can find a year of contribution by clicking "Blame" button on GitHub and then hovering the commit name - it shows date of commit.

![screenshot_004](https://user-images.githubusercontent.c

[2020-03-29 18:37] FirasH opened #1302 "History Panel records useless entries while editing Colors"
**Synfig version & platform**:
Master: c1b848

**Issue description**:

0. Create a new animation
1. Insert a Circle on Canvas (to have an object that has a color)
2. Select it and in the Parameters Panel edit the `Color`
3. In the Colors Dialog, drag around the white circle defining the color

Now in the History Panel there are many records that are useless and practically tedious to undo.

I thin

[2020-03-29 20:54] ice0 commented on #1302
Linked issue: https://github.com/synfig/synfig/issues/451

Old ColorChooser vs New ColorChooser: https://github.com/synfig/synfig/issues/536#issuecomment-603406715

ping @morevnaproject @rodolforg

[2020-03-30 07:59] ankit-kumar-dwivedi commented on #1214
Okay @ankit-kumar-dwivedi

[2020-03-30 09:39] Aa20475 commented on #1278
Okay.. Will let you know..

[2020-03-30 14:03] FirasH opened #1304 ""Render Progress" percentage is wrong if exporting a subset of frames"
**Synfig version & platform**:
Master: c1b848

**Issue description**:
1. Open an animation project
2. Go to: `File > Render...` and iselect `Time` tab
3. Change `Start Time` and/or `End Time` (e.g. `Start Time: 30f` and `End Time: 60f`)

In the `Info Panel` the `Render Progress` percentage bar will display a negative value.

The percentage of progress should be relative to the selected interval of

[2020-03-30 15:38] morevnaproject commented on #291
Should be fixed by c1b8488d24ef0737be63ed0e8a.
Needs testing.

[2020-03-30 16:52] morevnaproject commented on #1284
Ah, good catch! At first I didn't understood what's the difference in "checking version of outline layer" vs "check version of canvas". I actually got the impression that you found a better way than I suggested in https://github.com/synfig/synfig/issues/1284#issuecomment-603847532 ^__^

But then I found that  Region Layer doesn't has same version as Outline Layer. So we have to check canvas versio

[2020-03-30 18:18] ankit-kumar-dwivedi commented on #1214
I guess there is already much information, also as we use built-in about dialog from gtk we can't do much with it.

[2020-03-30 18:38] ankit-kumar-dwivedi commented on #1214
@morevnaproject have added the PR without about dialog edit.

[2020-03-31 06:10] AnishGG commented on #936
Support for using original images as assests: https://github.com/airbnb/lottie-web/blob/e6ea3f1f40c0c6995dfd4642bd60733600b1af2f/CHANGELOG.md#v-564

[2020-03-31 08:27] FirasH commented on #1304
I'll take a look at this issue and see if I can figure out where the problem is.

[2020-03-31 10:16] morevnaproject commented on #291
Tested on Windows and Linux. Works perfectly!

Fix will be shipped in version 1.3.14.

[2020-03-31 10:24] #291 closed

[2020-03-31 10:42] morevnaproject opened #1307 "Warning when opening file of older version"
This issue is a followup to those two issues -
https://github.com/synfig/synfig/issues/1284
https://github.com/synfig/synfig/issues/314#issuecomment-603703084

We now got outline layer, which is breaks "forward compatibility".

I.e. if user opens old file in new version and saves it, then the resulting file cannot be correctly opened in old version again (he will get different placement of widthpo

[2020-03-31 10:49] morevnaproject commented on #1307
Even better it would be nice if warning dialog displayed only in case if opened file has advanced outlines or Spline Vertex convert.

[2020-03-31 12:13] morevnaproject commented on #1214
This is requirement of license - to make this text visible when distributing in binary form.
Please see in my previous https://github.com/synfig/synfig/issues/1214#issuecomment-605669958:

So we are obligated to do that. ^__^

We can edit this information in `synfig-studio/src/gui/dialogs/about.cpp`. ^__^

Awesome, thank you!
The PR for About dialog can be a separate one. ^__^

[2020-03-31 12:16] morevnaproject commented on #340
So, should we close PR #1279?

[2020-03-31 13:19] FirasH commented on #1304
The problem happens when the value of `Start Time` is different from `0`.
The percentage value of the progress gets "shifted" when `Start Time > 0`.

For example:
`Start Time: 10f`
`End Time: 59f`
Total of 50 frames (2% each one)

The resulting progress is:
Initial: -20% (10 frames)
Final: 80% (40 frames, before final frame sets it to 100%)

[2020-03-31 13:50] morevnaproject commented on #936
I just tested it and if I change path to image, then everything works for me with png files -
![screenshot_004](https://user-images.githubusercontent.com/332868/78033885-34b5c000-7391-11ea-9d58-5c7c50cba3a4.png)

I have moved image and changed "u" parameter. Tested with absolute and relative paths.
For current dir just set "u" parameter to "./", ^__^

[2020-03-31 14:18] #1218 closed

[2020-03-31 15:07] FirasH commented on #1304
The cause is located here:
https://github.com/synfig/synfig/blob/48729c71839993fd71c9ddeed1aad92dc9773f93/synfig-studio/src/gui/asyncrenderer.cpp#L583-L584

The variable `curr_frame_` is set to `0` when rendering starts. There is no need to remove the initial starting frame.

[2020-03-31 15:13] morevnaproject opened #1309 "[Lottie] Allow to choose export format"
As of #1289 export to Lottie is called via "File" -> "Export" format.

Currently the Export dialog allows to select file type (just one option at the moment - "Lottie JSON"). But when export is done it creates two files - "json" and "html". It would be nice to have two filetype options - "Lottie JSON" and "Lottie HTML".

![screenshot_003](https://user-images.githubusercontent.com/332868/78042869-d

[2020-03-31 15:16] mbasaglia commented on #1309
Link to my previous comment: https://github.com/synfig/synfig/pull/1289#issuecomment-606635662

[2020-03-31 15:17] morevnaproject commented on #1309
In response to https://github.com/synfig/synfig/pull/1289#issuecomment-606635662:

I think import/export plugins should be separated from other plugins, listed in "Plugins" menu. I feel they are completely different "beast". ^__^

[2020-03-31 15:23] mbasaglia commented on #1309
Yeah after my export implementation they are stored in a separate list in the plugin manager.

I was thinking about reworking the way plugins are handled, having a proper Plugin class instead of a struct with direct member access.
Having accessor functions to plugin data could also allow translated strings to work better as they'd return the value based on the current locale (currently the plugin

[2020-03-31 15:27] AnishGG commented on #1309
Actually there is one more file `.log`, that is also created. It stores the logs, if some kind of failure occurs.

This would be amazing!

[2020-03-31 15:29] mbasaglia commented on #1309
The need for logs could also be removed, maybe synfig can handle stdout/stderr from plugins a bit differently than what it currently does

[2020-03-31 15:32] AnishGG commented on #936
I will look into it again!
Thanks for checking this

[2020-03-31 15:35] rodolforg commented on #340
Yes. Sorry I didn't do it.

Em ter., 31 de mar. de 2020 às 09:16, Konstantin Dmitriev <
notifications@github.com> escreveu:

[2020-03-31 17:54] morevnaproject commented on #1269
Solved - https://forums.synfig.org/t/error-commandline-render-close/10767/16?u=konstantindmitriev

[2020-03-31 17:54] #1269 closed

[2020-03-31 18:08] ankit-kumar-dwivedi commented on #1106
Closing as this is not an issue.

[2020-03-31 18:08] #1106 closed

[2020-03-31 18:14] ankit-kumar-dwivedi commented on #938
Go to issue https://github.com/synfig/synfig/issues/1126 for more info

Closing this one now.

[2020-03-31 18:14] #938 closed

[2020-03-31 18:17] ankit-kumar-dwivedi commented on #733
@kamal-kaur04 are you working on this any more?

[2020-03-31 19:32] mbasaglia commented on #1309
Here's my proposal for improvements to the Plugin system:

## Import/Export plugin description

[code]

The extra attributes for `<exec>` (all optional) and the idea of `<options>` to build
a dialog with plugin options can also be used by non import/export plugins.

## Code changes

* Support for importer plugins
* Separate types for importers/exporters and other plugins
* Generalize the code used

[2020-03-31 20:54] rodolforg commented on #536
Regarding OP:
I tested and the problem is really the missing cursor file.
I copied and pasted the `cross-diamond.cur` and renamed to `color-picker.cur`.
It worked fine after I restarted the portable synfig 1.3.13 for Windows!

It's a Gtk issue (and Adwaita theme also), but it can be workaround'ed by release packaging :)
@ice0 @morevnaproject

[2020-03-31 21:01] rodolforg commented on #451
Well, I tested the new ColorChooser, but it has the same problem: I can't detect when user press mouse button (and drag it) over the specific color widget (the deprecated wheel or current plane).

So my proposal it to do our own widget - or wait for Gtk team to accept our possible patch.

Other possible solution: somehow we kidnap events from child widget of (deprecated) GtkColorSelection or (curr

[2020-03-31 21:28] rodolforg commented on #1309
I like your proposal!
My suggestions:

1. I think it should accept multiple exporter and importer tags.
2. The name and description tags should be accept translations in a similar way FreeDesktop Desktop rule for .desktop file:
[code]

[2020-03-31 21:30] mbasaglia commented on #1309
yeah those things are mentioned in the proposal.

[2020-03-31 21:33] rodolforg commented on #1309
Oh sorry! I didn't the comment about supporting multiple exporters lol.
Regarding translations, I just proposed how it could be done.

[2020-04-01 00:45] Fatih20 opened #1311 "Why isn't the icon used in svg?"
**Synfig version & platform**:
Current master branch
**Issue description**:
I'm looking into making a pull request for redesigning all action icons in the software but I was surprised to see it uses Synfig's own file format instead of the conventional svg. Is it restricted to .sif due to technical reasons within the app's code or is the other reasons?

[2020-04-01 07:24] #1250 closed

[2020-04-01 08:30] FirasH commented on #1265
Yes, but how can we make it consistent from a logical point of view?

I think there are 2 main points to deal with:
1. If I export a value, and I want to use it for both a unit value (e.g. 1.000000px) and for a relative value (e.g. 0.016667).
2. Making consistent the "preview" and the "edited" value should be the quite simple (`set_is_distance()` does that).

[2020-04-01 11:31] mbasaglia commented on #1309
I created a branch that implements most of the things listed in my proposal above.

It doesn't yet contain import plugins and options.

[2020-04-01 15:02] FirasH opened #1314 ""Plant Layer" freezes Synfig Studio"
**Synfig version & platform**:
Master: 97acd21
openSUSE 15.1
This happened also with previous revisions (also 1.3.x), but not on Windows

**Issue description**:

0. Create a new animation
1. Go to: `Layer > New Layer > Other > Plant`
2. Draw something on Canvas

Synfig Studio freezes.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/

[2020-04-01 15:16] FirasH opened #1315 ""REVISION_ID" is missing a character in About Synfig Studio"
**Issue description**:
I noticed that copying the `REVISION ID` to report the git commit of my build, github did not correctly detect it.

Synfig Studio reports only 6 characters instead of the full 7.

In the following screenshot its reported 97acd2 instead of 97acd21
![About Synfig Studio](https://user-images.githubusercontent.com/6705690/78154322-6afc4980-743c-11ea-814f-58f3154c6177.png)

<boun

[2020-04-01 15:25] FirasH commented on #1315
https://github.com/synfig/synfig/blob/e32f5b50b6aae90bf044531d2d954437a535111b/synfig-studio/build_tools/autorevision.sh#L18

[2020-04-01 15:55] morevnaproject commented on #1309
I mean to store them in completely different location and assume they might have different XML structure. ^__^
This way the format of regular plugins won't hold you from making changes to format of importer/exporter plugins.

Being said that, I am not against of implementation in  #1313. This is just my thoughts. ^__^

[code]
Looks cool!
I suggest to use `<description>Example exporter</description

[2020-04-01 16:16] mbasaglia commented on #1309
I see the different `<extension>` more as alternatives for the same format than separate formats (eg: .jpg .jpeg).

I agree that the (*.foo, *.bar) stuff can be automated but I'm not sure how it's supposed to work with internationalization (specifically right-to left languages).

I think it's worth having `<description>` in case a plugin exports different formats (eg: it might be a bit confusing t

[2020-04-02 06:32] morevnaproject commented on #1309
Ah, okay, you right.

You right, in this case you can have multiple `<exporter>` sections with different descriptions.

I think having separate entries "Lottie (.json)" and "Lottie (.html)" is perfectly fine. This actually was my intention to get it like that when I started this issue. ^__^

Well, then we can  just have 2  separate `<exporter>` entries for Lottie.

Okay, everything is resolved the

[2020-04-02 11:39] morevnaproject commented on #1307
Um... actually there could be following situation:

- user opens old file received from other user who has older version of Synfig (the file doesn't contains  advanced outlines or Spline Vertex convert).
- user adds advanced outline (looped), saves file and sends it back to original user.
- recipient gets file, tries to open and gets distorted content.

So, maybe we should display warning in any c

[2020-04-02 12:28] #456 closed

[2020-04-03 06:24] ice0 commented on #1311
Hi! We use Synfig to generate all the necessary files (png / ico) from .sif files.

But you are not limited in the use of .sif, as this files can be converted later. So SVG is good too.

[2020-04-03 06:29] Fatih20 commented on #1311
Cool, I'll make a pull request redesigning all of the icons in svg.

[2020-04-04 16:11] #959 closed

[2020-04-04 16:41] mbasaglia opened #1324 "Crash on Undo after deleting grouped layers"
**Synfig version & platform**:
built from git on linux

**Issue description**:

There's some issues with canvas parenting, this is how to reproduce:
* create a layer (like a circle or whatever)
* create a group containing that layer
* select both layers in the layer list (so both the group and its child)
* delete them
* undo

This results in a segmentation fault in `Canvas::get_root` because `pare

[2020-04-04 17:13] rodolforg commented on #1324
Could you test this PR?
https://github.com/synfig/synfig/pull/1072

[2020-04-04 18:56] mbasaglia commented on #1324
yup that fixes it

[2020-04-04 18:56] #1324 closed

[2020-04-06 05:51] #1070 closed

[2020-04-06 07:04] ankit-kumar-dwivedi commented on #1187
@ice0 where can I get list of all commands for synfig commandline?

[2020-04-06 09:12] ice0 commented on #1187
@ankit-kumar-dwivedi they are here: https://github.com/synfig/synfig/blob/6d8904e6c38161574c5c77e40745edc09be9a400/synfig-core/src/tool/optionsprocessor.cpp#L154-L160

[2020-04-06 12:51] FirasH opened #1326 "Add ability to Zoom Timeline directly in the Timetrack"
**Synfig version**:
Master: 81dc3b6

**Issue description**:
Currently to `Zoom In on Timeline` and `Zoom Out on Timeline` it is necessary to go through the top `View` menu.

Sometimes it is useful to zoom in/out rapidly to edit the waypoints (e.g. when having many closely placed waypoints)

It would be convenient to have the ability to do that directly in the Timetrack regardless of the keyboard s

[2020-04-06 13:13] doc-halo commented on #1326
Good idea. I prefer using the hot-key method.

[2020-04-07 11:04] morevnaproject commented on #479
Updated link to forum thread - https://forums.synfig.org/t/time-loop-can-it-do-this/1906#p14986

[2020-04-07 13:55] #479 closed

[2020-04-07 14:01] morevnaproject opened #1327 "Update configuration for TimeLoop layer in synfig-tests"
We need to update configuration for TimeLoop layer in synfig-tests after 1.3.14 release.

See https://gitlab.com/synfig/synfig-tests/-/blob/master/rendering/sources/layers/time-loop/todo-1.3.14.txt

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/90865865-update-configuration-for-timeloop-layer-in-synfig-tests?utm_campaign=plugin&utm

[2020-04-07 16:12] morevnaproject commented on #1307
So, any ideas about this? @ice0 @rodolforg ^__^

[2020-04-08 11:07] FirasH opened #1329 "Advanced Outline "WidthPoint 002" Side Type different from Interpolate shows a visible line"
**Synfig version**:
Master 81dc3b6

**Issue description**:
1. Create a new animation
2. Draw an `Advanced Outline` on canvas (2 vertices)

Now in the `Parameters Panel` open the sub-menu `Width Point List > WidthPoint 002`

3. Select a `Side Type After` different from `Interpolate`.

At this point the result is something like:
![Side_Type_Issue](https://user-images.githubusercontent.com/6705690/78

[2020-04-08 12:24] Aa20475 commented on #1138
Hey! I'd like to work on this! 😃  Can I proceed? @morevnaproject

[2020-04-08 13:58] Aa20475 commented on #1278
Same error even after upgrading Pacman. :(

[2020-04-08 15:17] FirasH commented on #1329
Some thoughts.
I don't even know if this is really a bug, but intuitively (at least for me) an unlooped Spline should not have that behavior.

It behaves like it's interpolating something at the end of the Spline to the second Width Point:
![WidthPoint](https://user-images.githubusercontent.com/6705690/78801218-b07cc180-79bc-11ea-8007-026392561e4f.png)

In fact, if you set (starting from the steps

[2020-04-09 00:07] rodolforg commented on #1307
I'm out of ideas :(

[2020-04-09 06:59] ice0 commented on #1278
Can you show output of `git status` inside synfig folder?

[2020-04-09 17:48] Aa20475 commented on #1278
Here it is. I removed the download rate limit for pacman.. that's the change in  `1-setup-windows-msys2.sh`

![Capture](https://user-images.githubusercontent.com/35968657/78924915-33cf0d80-7ab8-11ea-902e-581764483610.PNG)

[2020-04-10 10:48] #1304 closed

[2020-04-10 16:48] ice0 commented on #1278
Can you check if `2-build-cmake.sh` is work for you?

[2020-04-11 08:30] morevnaproject commented on #1214
@ankit-kumar-dwivedi Can you please add copyright information to About dialog? ^__^

[2020-04-11 16:46] yoSachinkr opened #1336 "Better shortcuts for tools and other actions"
**Synfig version & platform**:
Synfig Studio 1.3.13 , Windows 10 build 1909

**Issue description**:
Many hotkey shortcuts in windows do not work as they are expected. For example when I press Alt + w, instead of selecting the width tool, it opens the windows option from the menu bar. It's the same with various other options.
And as a suggestion, I feel many synfig actions should have a hotkey shor

[2020-04-11 21:46] rodolforg commented on #1214
@ankit-kumar-dwivedi  , maybe you can create a new section:
[code]

[2020-04-11 22:11] rodolforg commented on #1264
I don't know anything about OSX, but maybe this helps you, @ice0  ?

https://stackoverflow.com/questions/1768497/application-exit-event

[2020-04-12 05:59] rodolforg commented on #713
It's fixed in master now, I suppose.
Could you test it?

[2020-04-12 06:01] rodolforg commented on #231
Fixed in master @ice0  @morevnaproject

[2020-04-12 11:15] FirasH commented on #1314
Terminal output:

[code]

[2020-04-12 13:06] RezaSh13 opened #1340 "It takes a long time for the Synfig studio to run"
version synfigstudio-appimage  1.3.13-2

manjaro kde

`[lxclxd@Plasma ~]$ synfigstudio

   synfig studio -- starting up application...

Gtk-Message: Failed to load module "canberra-gtk-module"
Gtk-Message: Failed to load module "appmenu-gtk-module"

(synfigstudio:32665): Gtk-WARNING **: Theme parsing error: gtk.css:68:35: The style property GtkButton:child-displacement-x is deprecated and shouldn'

[2020-04-12 14:55] Aa20475 commented on #1215
Hey @morevnaproject ! I'd like to work on this issue.

[2020-04-12 15:44] morevnaproject opened #1341 "Windows: unable to start FFmpeg when installed into path with non-latin symbols"
Synfig fails to find FFmpeg when Synfig is installed into path with non-latin symbols.

I.e. "D:\Программы\Synfig".

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/91175556-windows-unable-to-start-ffmpeg-when-installed-into-path-with-non-latin-symbols?utm_campaign=plugin&utm_content=tracker%2F321991&utm_medium=issues&utm_source=gith

[2020-04-12 15:46] morevnaproject commented on #1341
Should be easy to fix in the same way as here - https://github.com/synfig/synfig/commit/024eac72aece88e4fd5b1a4c7809662854490c04

[2020-04-12 16:05] morevnaproject opened #1342 "TimeTrack not updated in 1.3.13"
**Synfig version & platform**:
1.3.13 (old TimeTrack)

**Issue description**:

I discovered one more critical bug in version 1.3.13 - TimeTrack not updated properly when user animates bones.

Video demonstration - https://youtu.be/IDRbC2RrD0w

I would like to note, that 1.3.13 still uses old timetrack (while we have new TimeTrack in master).

This issue is blocking 1.4.0 release, again.

So, there

[2020-04-12 19:22] rodolforg commented on #1342
Ok, I checked it's a regression: it works on 1.2.2 .

However, I don't know if new timetrack is mature/tested enough.

Regarding the transparency issue, we could simply remove this visual effect if it is the only problem to merge it in 1.4.0 . Not the best solution, but it would behave like 1.2 branch does.

[2020-04-12 19:29] rodolforg commented on #1342
Does this problem appear only in 1.3.13 ? 1.3.12 it was fine?

[2020-04-13 02:21] rodolforg commented on #1314
I can't reproduce it. :/

[2020-04-13 06:02] rodolforg opened #1345 "Different context menu when multiple waypoints are selected"
The new timetrack panel allows user to select multiple waypoints to move/copy/delete/scale them.
However, if user right-click on a waypoint of a selected collection, it shows the same waypoint context menu as if it was a single one. And its available actions only works on the hovered one (the one the user right-clicked on).

Widget_curves suffers the same problem.

[2020-04-13 06:08] rodolforg opened #1346 "Sound panel should list available audio layers"
The Sound panel lets user choose an audio from filesystem by browsing instead of show a combobox with the audio layers the scene has.

Once user selects a sound layer, it should automatically obey the delay parameter value of this layer and set it in sound panel.

A possible problem is if user uses multiple sound layers with same name. The combobox contents would have "identical" items (delay para

[2020-04-13 06:10] rodolforg commented on #1342
Solved by PR #1344  ugh it took me 2 hours of work o.O

[2020-04-13 10:35] FirasH commented on #1314
That has something to do with the libraries I have installed then... It happens on 2 of my openSUSE 15.1 machines (built from master) but not on Windows 10 (1.3.13).

I don't use the `Plant Layer` but it's worth to know this issue.

[2020-04-13 19:20] rodolforg commented on #382
I tested version 1.2.1 (appimage) and it doesn't work since then :(

[2020-04-13 21:03] rodolforg commented on #1342
This is the culprit commit in 1.3 version: aeb01c14cafdb409f5a67a865a5ad8b5fa06b0b7

[2020-04-13 21:14] rodolforg commented on #1342
But, as a user, I'd love to user new timetrack :P

[2020-04-14 02:07] rodolforg commented on #382
It seems to be related to dd97a8fff652014a42dc6e750a1d6caec15f0ae7

[2020-04-14 05:56] rodolforg commented on #1145
GIMP solved this by using wide handles of Gtk::Paned…

[2020-04-14 06:25] jmb commented on #631
I'm not sure if it's related or a separate issue, but on both 1.2.2 and 1.3.13 on the Mac, text layers don't seem to show at all and don't render.
https://forums.synfig.org/t/text-not-showing-at-all-mac/10865

[2020-04-14 06:28] jmb opened #1348 "Text tool is not working on MacOS"
**Synfig version & platform**:
Synfig 1.3.13 (and also stable version 1.2.2)
MacOS Catalina 10.15.4

**Issue description**:
When a text layer is created, nothing appears in any preview/editing mode (Draft/Preview/Final) except for the handles and nothing is rendered.
https://forums.synfig.org/t/text-not-showing-at-all-mac/10865
Possibly related to #631 but not sure.

[2020-04-14 06:30] ice0 commented on #1314
I don't have this message about particles.  Can you make a short video with whole process?

Looks like not enough memory problem. How much memory you have on openSUSE?

[2020-04-14 06:35] ice0 commented on #382
@blackwarthog Can you take a look?

[2020-04-14 08:49] FirasH commented on #1314
Screencast: https://drive.google.com/open?id=11d0zXLU5o8QvhVRkgAHnJE0eQz1NN3dk

On the system where I made the screencast I have 8gb of ram, on the other one where I wrote the report 12gb.

[2020-04-14 13:17] #1266 closed

[2020-04-14 13:38] morevnaproject commented on #1342
This is also what I worried about.
It worked well for me, but most of the time I use version 1.3.13, so it wasn't tested that much on my side.

We can ship new TimeTrack with 1.3.14, but if we will find issues in new TimeTrack functionality, then this can delay release of 1.4.0 even more (which is already delayed too much). And this might put additional stress to you, this is what I afraid.

I wou

[2020-04-14 14:52] morevnaproject commented on #1346
Great addition! I would love to have that functionality in Synfig! ^__^

[2020-04-14 14:55] morevnaproject opened #1349 "Dropdowns for some parameters are still activated with double-click"
After merge of #1325 and #1337 we have all parameters available for editing after a single click.

Still I found in two places it is still required to do 2 clicks to go into editing mode.

1. Canvas parameter of Group Layer:
![screenshot_006](https://user-images.githubusercontent.com/332868/79239236-86cf0900-7e9a-11ea-8c32-a4f1ed0ea705.png)

2. Parent parameter of any Bone:
![screenshot_008](https

[2020-04-14 15:41] rodolforg commented on #1349
Oh... they aren't enum parameters :) that's why they're missing

I'll take a look later

[2020-04-14 15:45] rodolforg commented on #1346
Any suggestion for the repeated layer names?

[2020-04-14 17:28] rodolforg opened #1350 "new timetrack panel doesn't autorefresh with time offset or dilation changes"
Group layer has two special parameters:

- time dilation ("Speed", in GUI)
- time offset

In new timetrack panel, user needs to move mouse over it to refresh drawing after changing any of those parameters.

[2020-04-14 19:51] rodolforg commented on #1342
Indeed.

So, what is really missing in order to release it? :)
Shouldn't we prioritize issues and PR related to 1.4 milestone and GSOC?

[2020-04-14 19:55] rodolforg commented on #280
It doesn't crash anymore due to recent commits in production version.
In debug version, however, it crashes due to the mentioned assert.

[2020-04-15 06:34] morevnaproject commented on #1342
They are on my priority last weeks, and thanks to you and @ice0  they are solved very quickly! ^__^

The issues blocking the release are ones **[in v1.4.0 milestone](https://github.com/synfig/synfig/milestone/3)** which are **marked with "Critical" label**. All other issues in v1.4.0 milestone can be postponed for latter releases. ^__^

Right now, for this solution I am testing your solution given

[2020-04-15 06:37] morevnaproject commented on #1342
My logic in defining issue as "critical" or "not critical":
- if issue was existing in previous stable release, then it is "not critical".
- if issue was **not** existing in previous stable release, then it is "critical".

In other words, my logic is that v1.4.0 should be not worse than 1.2.2. It shouldn't introduce regressions. ^__^

[2020-04-15 06:52] morevnaproject commented on #1342
It worked! Thank you so much for solution! ^__^

[2020-04-15 06:53] #1342 closed

[2020-04-15 08:35] #1349 closed

[2020-04-15 14:45] morevnaproject commented on #1215
Great! Assigned to you ^__^

[2020-04-15 14:50] rodolforg commented on #1342
Did you add this commit to master too?
I think you should do it, because that timetrack cellrenderer is used on Params and Library panels too

[2020-04-15 19:09] rodolforg commented on #1281
Done :)

[2020-04-16 00:24] rodolforg commented on #1170
@morevnaproject That's what I suppose when I read this , for example:
https://github.com/synfig/synfig/blob/2df33799b30f777b6ff3818578ed376111094b49/synfig-studio/src/gui/workarearenderer/renderer_canvas.cpp#L583-L597

[2020-04-16 00:44] rodolforg opened #1358 "Graphs panel should allow to copy and scale waypoints as new Timetrack Panel"
They should provide the same waypoint actions as the new Timetrack panel:
Copy and scale are currently missing.
Add the feature requested in #1267 would be nice too.

[2020-04-16 05:15] Keyikedalube commented on #1336
Not only on Windows
This issue is noticeable on Linux too

For instance, try hitting **Alt+C** and Canvas properties menu pops up
While the expected outcome is activating Circle tool

Conflicting hotkeys because one mnemonic is assigned to two things

[2020-04-16 05:22] yoSachinkr commented on #1336
And because of this bug, we all have to depend on mouse clicks for every single tasks, which could have been done easily by hotkeys.

[2020-04-16 06:43] ice0 opened #1359 "Render thumbnail only when needed"
Commented here: https://github.com/synfig/synfig/issues/1170#issuecomment-614344818

[2020-04-16 07:23] Keyikedalube commented on #1336
# Solution idea
It'd be nice if synfig uses GIMP and Inkscape model
- _r_ for drawing rectangle
- _e_ for ellipse (or circle in synfig)
- ...

Single letter for tools
And **Alt+_key_** combinations for menu items and buttons

# Technical
I'm guessing Gtk::Window `signal_key_press_event()` can do the trick

[2020-04-16 08:31] yoSachinkr commented on #1336
Inkscape model will be the best. It'll make creating the artwork within the synfig a joy.

[2020-04-16 14:41] FirasH opened #1360 "Ask for confirmation before overwriting exported target"
**Synfig version & platform**:
Master: ccf39ec

**Issue description**:
When exporting an animation to any arbitrary target, Synfig Studio never informs the user if the action is going to overwrite an existing file.

I suggest to add one check (for example with a popup dialog), before proceeding with the rendering of the target.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty

[2020-04-16 15:04] morevnaproject opened #1361 "Use OpenCollective (transparent ledger) for donations/payments"
- [x] Register collective - https://opencollective.com/synfig
- [x] Redirect incoming funds from Paddle
- [x] Invite core contributors to collective
- [x] Add link to https://github.com/synfig/synfig/blob/master/.github/FUNDING.yml
- [x] Add webhooks to display incoming donations in top bar of Synfig website
- [x] Update Donations page - https://www.synfig.org/donate/
- [ ] Add [GitHub Bot](https:

[2020-04-16 15:07] morevnaproject commented on #1361
FYI @ice0 @rodolforg @blackwarthog

[2020-04-16 19:12] Michael82548 opened #1362 "Z depth in grouped layers does nothing when layers are above and below main layers."
v1.3.13 Dev build

EXTREMELY annoying issue
![image](https://user-images.githubusercontent.com/53535277/79496496-379ceb80-7ff4-11ea-8ccc-56f462e1af70.png)
When I tell this to go down in layers it will not go down correctly. I want to group 2 layers above and below the main layers like this:
![image](https://user-images.githubusercontent.com/53535277/79496674-76cb3c80-7ff4-11ea-8283-e9dadfd0a02b.pn

[2020-04-17 03:18] Keyikedalube commented on #1336
@yoSachinkr I like inkscape model too ;)

@rodolforg Both Synfig & Inkscape are vector drawing software (at least at the core)
Imagine an Inkscape user seamlessly drawing on either of these two using the same hotkeys
Ain't that cool?

BTW, here are two more related issues if Inkscape model is approached:
- #1122
- #1005

[2020-04-17 03:44] rodolforg commented on #1005
Whoa! I just checked the Inkscape shortcuts for tools... they aren't number keys anymore!!!

So they are simple one-key shortcut, just like Gimp. Nice.

[2020-04-17 04:54] rodolforg commented on #1336
Whoa! I just checked the Inkscape shortcuts for tools... they aren't number keys anymore!!!

So they are simple one-key shortcut, just like Gimp. Nice.

[2020-04-17 06:17] ice0 commented on #1336
I am also vote for one-key shortcuts. @morevnaproject?

[2020-04-17 06:51] #356 closed

[2020-04-17 15:29] yoSachinkr commented on #1336
Using shortcut keys is very much important because it speeds up art creation. While using just mouse, our other hand remains idle which obviously is less productive. This issue should be on a priority list to fix.

[2020-04-17 15:52] rodolforg commented on #1336
@yoSachinkr @ebarranco @Keyikedalube @Jose-Moreno @morevnaproject

Could you please propose a new shortcut key/hotkey list for Synfig tools and actions?
These are the current documented ones https://wiki.synfig.org/Keyboard_Shortcuts

[2020-04-17 17:13] Keyikedalube commented on #1336
# Tool items from toolbox
## Compatible (with Inkscape)
- *s* -> Transform tool
- *m* -> Smooth move
- Mirror
*h* -> Horizontal
*v* -> Vertical
- *e* -> Circle
- *r* -> Rectangle
- _*_ -> Star
- *g* -> Gradient
- *b* -> Spline
- *u* -> Bucket tool
- *d* -> Eyedrop
- *t* -> Text
- Zoom
*+* -> In
*-* -> Out
## Unknown
- *?* -> Draw tool
- *?* -> Cutout
- *?* -> Width
- *?* -> Sketch
- *?* -> Scale
O

[2020-04-17 17:51] Aa20475 commented on #1278
[code]

Not working. Is this because I was unable to build it successfully even once?

[2020-04-17 20:03] yoSachinkr commented on #1336
Single key binding would be awesome, but if it's not possible then I'd suggest following key bindings

- while spline tool is on
( holding **shift** key while clicking on the canvas should create vertex with split tangent handles and its forward tangent handle should be adjustable till the right mouse click is held)

- while transform tool is selected
( clicking a vertex and pressing **alt + X** s

[2020-04-18 09:56] otula71 opened #1364 "Problem with animation linked to a spline"
git development version (r9968.90e4e3b88) of Synfig on Linux

Animation of moving the object linked to spline is corrupted: [https://vimeo.com/409169837](https://vimeo.com/409169837)

[2020-04-18 10:31] ARYA-BHARDWAJ commented on #733
@ice0  can I work on this issue ??

[2020-04-18 11:45] ice0 commented on #733
@ARYA-BHARDWAJ Sure, it's yours now )

[2020-04-18 13:23] morevnaproject commented on #1214
I plan to release 1.3.14 next week and this issue is blocking. Can anyone take care on it? ^__^

[2020-04-18 13:28] ankit-kumar-dwivedi commented on #1214
@morevnaproject my apologies for the delay. Will take care of this before
Monday.

On Sat, Apr 18, 2020, 6:54 PM Konstantin Dmitriev <notifications@github.com>
wrote:

[2020-04-18 14:17] morevnaproject commented on #536
Fixed in https://github.com/morevnaproject/morevna-builds/commit/9ef3a0c7d6a9de691fa8621d6291dfca708bc6f5. Waiting for rebuild. ^__^

[2020-04-18 14:22] morevnaproject commented on #487
If we can find which cursor is missing, then we will be able to fix this issue in the same way as done here - https://github.com/synfig/synfig/issues/536#issuecomment-615878955

@rodolforg @ice0 Any ideas how to find the name of missing cursor? ^__^

[2020-04-18 14:24] morevnaproject commented on #570
It seems we have fixed issue when we disabled GTK custom decorations. Should work fine now.
Can anyone confirm?

[2020-04-18 14:25] morevnaproject commented on #1214
@ankit-kumar-dwivedi Thank you! ^__^

[2020-04-18 14:42] morevnaproject commented on #1361
"Invite core contributors to collective" - done.

@rodolforg please check invitation to join sent to your email. ^__^

[2020-04-18 15:20] FirasH opened #1366 "Allow user to stop the Rendering process in Synfig Studio"
**Synfig version & platform**:
Master: ccf39ec

**Issue description**:
1. Open any animation project
2. Go to: `File > Render...` and start to render your animation to the output target

Once the rendering process is started, it is not possible to stop it from Synfig Studio.

It would be very useful to have a button somewhere in the `Info` Panel near to the progress percentage bar to stop it:
![St

[2020-04-18 15:32] morevnaproject commented on #1336
I am also think we need one-key shortcuts for Tools. ^__^

Also I recommend to check shortcuts from Animate CC, as they extremely effective and many animation artists use it - https://helpx.adobe.com/animate/kb/animate-keyboard-shortcuts.html

Also, it would be nice to put a plan for Shortcuts rework at a dedicated page in [Synfig Developer Documentation](https://synfig-docs-dev.readthedocs.io/en/

[2020-04-18 16:21] rodolforg commented on #487
I think it's fixed - at least for 1.3.13 : the "dnd-" cursors are there in the Windows package.

[2020-04-18 16:38] rodolforg commented on #1336
It is :)

[2020-04-18 16:43] rodolforg commented on #1366
Could you check if t's possible to stop rendering from the last button of workarea toolbar (ie at right side)?
![Captura de tela de 2020-04-18 13-39-49](https://user-images.githubusercontent.com/1323987/79643656-6c3aaf80-817a-11ea-9ee9-c793bd89f075.png)

If so, we could make another instance of this button next to render progressbar

[2020-04-18 17:00] FirasH commented on #1366
AFAIK it does not.

[2020-04-18 17:05] morevnaproject commented on #536
Can anyone check if it is solved now? ^__^ - https://coolbug.org/downloads/morevna/builds/SynfigStudio-1.3.14-testing-2020.04.18-win64-596cd.zip

[2020-04-18 19:17] rodolforg commented on #1326
Currently (since 1.2 at least) You can ctrl+scroll on time slider (on "almost-top" of timetracker) to zoom in and zoom out :)

[2020-04-18 19:42] yoSachinkr commented on #1336
Apart from tools, we need hotkey shortcuts for repetitive actions as well, like grouping, splitting and merging tangents, panning across the canvas, setting layers into switch group, setting layers aside, color picker, linking, looping and unlinking also.  @morevnaproject

[2020-04-18 20:00] yoSachinkr commented on #1336
https://github.com/synfig/synfig/issues/546#issuecomment-472710076
Considering the answer provided by the @morevnaproject  in the above link, I thought, shortcut keys with single key binding could cause problems, and hence I provided a comprehensive and easy to memorize set of key bindings which uses ctrl, shift and alt to reduce the possibility of further bugs. @rodolforg  . Though if single key

[2020-04-18 20:16] rodolforg commented on #1336
I think this was fixed by https://github.com/synfig/synfig/pull/898

[2020-04-19 03:11] rodolforg commented on #536
Tested. It's fixed.
As well as #374

[2020-04-19 03:21] yoSachinkr commented on #1336
It'd be amazing to see new hotkey bindings then 😀

[2020-04-19 08:14] #536 closed

[2020-04-19 08:15] morevnaproject commented on #374
Fixed. See https://github.com/synfig/synfig/issues/536#issuecomment-615878955 for details.

[2020-04-19 08:15] #374 closed

[2020-04-19 11:03] FirasH commented on #1326
I didn't know that, indeed you can `Ctrl + Scroll` on the `Timebar` even with current master.

Personally, I suggest to extend this feature outside of the `Timebar` to all the `Timetrack` Panel, it would be much more intuitive especially for new and regular users.

[2020-04-19 11:13] FirasH commented on #1364
I confirm this issue with current master 7d0ef7e.

I noticed that when dragging the linked Layer along the `Spline`, the green handle position is physically stopped at the second to last Vertex, but as the mouse button is released, the linked Layer is placed at the end to the `Spline`.

[2020-04-19 11:26] ARYA-BHARDWAJ commented on #733
@ice0  what do you think about the use of Gtk::CheckMenuItem instead of Gtk::Action for view toolbar

[2020-04-19 11:45] ARYA-BHARDWAJ commented on #733
@ice0 what is your opinion about using new classes instead of deprecated ones e.g. Gtk::CheckMenuItem instead of Gtk::ToggleAction.
 
 

[2020-04-19 12:34] FirasH opened #1368 "Checkboxes are not consistent across Tool Options"
**Synfig version**:
master 7d0ef7e

**Issue description**:
1. Create a new animation
2. Select the `Scale Tool` /  `Rotate Tool` / `Width Tool` / `Sketch Tool` in the `Toolbox Panel`
3. Look at the `Tool Options` Panel, e.g. `Sketch Tool`:
![Sketch_Tool](https://user-images.githubusercontent.com/6705690/79687810-1fbea500-824a-11ea-89c1-b0ce23b50696.png)

The checkbox is positioned on the left, whi

[2020-04-19 12:49] FirasH commented on #1368
The same argument can be applied for the "title" of the tools, for example some times is in bold characters while others not or have different alignments:

Rectangle tool:
![Rectangle](https://user-images.githubusercontent.com/6705690/79688173-c6a44080-824c-11ea-8520-17e176a6b6a5.png)

Width tool:
![Width_Tool](https://user-images.githubusercontent.com/6705690/79688190-da4fa700-824c-11ea-9a31-066c

[2020-04-19 15:04] rodolforg commented on #1326
Yes, it's not intuitive at all. I don't even know how I've discovered it (wiki or read something in forums).

`Ctrl+Scroll` is used in Graph and Sound panels for zooming it (vertically).
So, how can we do horizontal(=time) zooming?

[2020-04-19 15:09] rodolforg commented on #487
@FadhilKwan could you check if this issue is solved in latest development version (1.3.13)?

[2020-04-19 16:40] FirasH commented on #1326
Ok, so we have to deal with horizontal and vertical zooming both with hot-keys.

One possible solution could be:
- `Ctrl + Scroll` for horizontal zooming (to keep it consistent with the `Timebar`)
- `Ctrl + Shift + Scroll` for vertical zooming

[2020-04-19 19:12] FirasH commented on #1368
Titles and spacing are now consistent, e.g.:
![Sketch_fixed](https://user-images.githubusercontent.com/6705690/79697326-63cd9c00-8282-11ea-93f9-759f8a4b6127.png)

Next, I'm fixing the position of checkboxes.

[2020-04-19 23:00] rodolforg commented on #951
Version 1.2.2 produces the first image too.

[2020-04-19 23:02] rodolforg commented on #951
I don't know what should be the correct rendering, though.

[2020-04-20 00:09] FirasH commented on #1368
I'm not sure if it is a great idea to have a title (e.g. Rectangle Creation) different from the name of the tool (e.g. Rectangle Tool).

Do you think it's clear as it is or it would be better to keep the same title and tool name?

[2020-04-20 01:02] rodolforg commented on #675
Tested on 1.3.11 (linux) : crash
Tested on 1.3.12 (linux): it works
Tested on 1.3.13 (windows) : it works
Tested on master 2ed703e6 (linux) : it works :)

I think it can be closed. @ice0 @morevnaproject

Test file : [675-bug.zip](https://github.com/synfig/synfig/files/4500682/675-bug.zip)

[2020-04-20 02:03] rodolforg commented on #1336
Well, the challenge is: how to decide the new shortcuts lol

For example, I prefer redo to be "`ctrl+shift+z`", but [some software use "`ctrl+y`"](https://en.wikipedia.org/wiki/Control-Y) (like [GIMP](https://docs.gimp.org/2.10/en/gimp-edit-redo.html)), some use "`ctrl+r`"  (I'd say er... MS Word, [but they say they use `ctrl+y`](https://support.office.com/en-us/article/undo-redo-or-repeat-an-acti

[2020-04-20 03:24] rodolforg commented on #777
@morevnaproject  do you mean simple menu entries?

[2020-04-20 03:52] yoSachinkr commented on #1336
The lazy me says **ctrl + shift + z** is a best suited for redo because in that case I'd not have to stretch my finger too far to reach to either R or Y while holding a ctrl key to do a very trivial task as redo.

[2020-04-20 04:08] rodolforg commented on #1336
It was just an example of a matter of taste. (I prefer that way too).
But what about other actions?

@Keyikedalube proposed some, you may prefer other set, @morevnaproject another… lol

Anyway, something must be done, as currently hotkeys for "all" tools are broken (it depends on the locale as they are now with `alt`…)

[2020-04-20 04:13] yoSachinkr commented on #1336
A default hotkey bindings need to be set first,
I've seen many softwares provide customization for hotkeys. If that will be implemented too, it'll just solve the problem of preference of hotkeys.

[2020-04-20 04:17] yoSachinkr commented on #1336
Be it GIMP, Krita, Inkscape, or any other image manipulation software, they all provide keyboard shortcut customizations.

[2020-04-20 04:31] rodolforg commented on #1336
Collecting some related issues you both mentioned here : #546 #1005 #1122
About shortcut customization: https://github.com/synfig/synfig/issues/422
Other shortcut/hotkey related: #491 #412 #414 #568 #1148 #1208

[2020-04-20 12:11] Keyikedalube commented on #1336
If I remember correctly, IntelliJ IDEA has a keyboard shortcut layout preset for existing Eclipse & Netbeans users to ease switching between JetBrains and existing development software.
Users working on multiple animation software like @morevnaproject preference fits here.

@yoSachinkr idea sounds good too. Customization.

I'd love both on synfig <3 <3 <3